[2019-02-28 05:26] HairyRabbit commented on #1853
Yeah, I understand the enum members will inlined. because I try to run my old code with deno. If deno not supports this, I will change to normal enum.

[2019-02-28 09:59] bartlomieju opened #1854 "Update ts_library_builder to properly handle global types"
Creating separate issue so it's not forgotten.

_Originally posted by @kitsonk in https://github.com/denoland/deno/pull/1835#issuecomment-466831536_

I'll tackle that

[2019-02-28 10:40] NMathar commented on #1572
Another try https://github.com/NMathar/deno-express feel free to give some feedback

[2019-02-28 12:49] isLishude commented on #1739
I think Dartlang is better than TypeScript.

[2019-02-28 14:10] matthewp commented on #986
Want to reiterate what @hayd says here. I like to create small single-use CLI tools that are essentially "done" and not having to worry about Deno version compatibility would be very enticing. Aside from security patches, it would be nice to have a binary that never needs upgrading.

[2019-02-28 15:44] zekth opened #1856 "FS glob pattern"
In NodeJs I used to often import glob modules to use glob patterns for parsing filesystem. Is it in the philosophy of deno to have it in the fs module?

Is it worth it that i work on an implementation of it?

[2019-02-28 15:48] nkc777 opened #1857 "哈喽"
我可以评论吗？

[2019-02-28 15:49] #1857 closed

[2019-02-28 16:02] kevinkassimo commented on #1856
Pretty sure it will be very useful, and I don't think there is an implementation yet for Deno. Would be a nice addition to https://github.com/denoland/deno_std/tree/master/fs if you want to work on this

[2019-02-28 17:03] zekth commented on #1856
The `WalkOptions.match` uses regexp so i think we can extend it in some way. Like detect if the provided pattern is a glob or a regex

[2019-02-28 17:30] hayd commented on #1856
See also https://github.com/hayd/deno-globrex

[2019-02-28 17:37] zekth commented on #1856
@hayd nice implementation there is some work to do to implement in the walk funcs of deno but could be nice.

PS: i laughted so hard at your unit tests

[2019-02-28 17:45] hayd commented on #1856
The unit tests are copied from the original :) hence the weirdness.

Perhaps the API should be cleaned up for std, IMO it's a little goofy.

It would also be nice to have inclusion of this for https://github.com/denoland/deno_std/issues/193 (though using a regex for test|.*_test is okay initially) and for --fmt.

[2019-02-28 17:51] zekth commented on #1856
Agree. I think something like this could be nice:
[code]

In this case the only parsing is on the regex. So no change on the actual code base. But problem is on each walk we add another condition; which is not really good.

[2019-02-28 17:58] hayd commented on #1856
For fs walk it already takes a regex, so I was imagining first glob to regex, then pass that regex to walk. Hence I think std should export:

    glob(glob: string, options?:Glob options): RegExp

[2019-02-28 18:09] zekth commented on #1856
Fair point. In this case we can describe GlobOptions to be used and revelant for the walker like:
[code]

This way we can do something like:

[code]

Not sure about the cwd btw. We might need to detect it in the glob2regex.

[2019-02-28 18:27] hayd commented on #1856
I don't think we should merge glob (get RegExp) + walk (get Iterator). Although I agree passing the RegExp to walk as match is often  what you'll be doing, it's better to be explicit.

So GlobOptions instead of
{extended = false, globstar = false, strict = false, filepath = false, flags = ''}

I wonder if cwd is related to the filepath arg...?

[2019-02-28 18:41] zekth commented on #1856
As in the doc we can see:
[code]
So i think it's not related to cwd. But if we take your point of view we don't face the problem of the cwd because the call would be:
[code]

Is that correct for you?

[2019-02-28 18:59] hayd commented on #1856
`walk('./mydir', { match: glob('**/*.ts') })` (no need for walk api change)

So perhaps a way forward is:

copy over to fs:
globrex.ts
globrex_test.ts
add a friendly `glob` wrapper as discussed above:
glob.ts
glob_test.ts

?

[2019-02-28 19:00] zekth commented on #1856
Totally agree with this. Working on it.

[2019-02-28 19:08] hayd commented on #1856
(maybe remove the swear words from the tests, cough!)

[2019-02-28 19:49] afinch7 opened #1858 "Permissions bypass exploit"
I found a direct bypass of the file system permissions checks.

The compiler code is currently designed around a privileged operation `op_fetch_module_meta_data` that can be used to read any file on the host file system or make almost any GET http/https request you want with the hosts connection. The `libdeno.send` function required to send the request to run said operation is available in the glo

[2019-02-28 19:54] ry commented on #1858
Thanks for reporting - makes sense. Only the "compiler" isolate should have access `fetch_module_meta_data`.

We don't have a great way to decide which Isolate an op request is coming from at the moment. But I'm refactoring this now, and I will add something so we can branch on it.

[2019-02-28 20:34] zekth commented on #1856
I've pushed on my fork but it appears we have 2 problems in the globrex:
https://github.com/zekth/deno_std/tree/glob
1. https://github.com/zekth/deno_std/blob/glob/fs/glob_test.ts#L83 => regex generated: /^x\..*$/
in this case it does not work.  But the regex match: https://regex101.com/r/nTtDvB/1
2. https://github.com/zekth/deno_std/blob/glob/fs/glob_test.ts#L97 = regex generated: /^\/a\/.*\/x\..

[2019-02-28 21:06] zekth commented on #1856
found something.
So the f.path outputs : `./a/foo/` and also it has the separator from the current OS. So atm i'm on a windows machine and the path is .\a\foo\.

So may glob take in charge the `/` character and change it depending on the current os?

[2019-02-28 23:05] hayd commented on #1856
Do you need to pass globstar = true?

[2019-02-28 23:42] zekth commented on #1856
So globstar did an improvement but the problem now is the test of the path:
`.\a\ttt\fff\t.ts`
does not match with the regex `^a\\([^\/]*)\\([^\/]*)\.ts$` but match with `a\ttt\fff\t.ts`

So for the test of the path we have 2 choices:
1. change the way globrex generates the glob and add the './' expression at the start of the regex
2. change the way we test the path in the walker to strip the './'

[2019-03-01 00:11] zekth commented on #1856
So globstar definitely helps and also the flag:'g' too to avoid the problems with the root './'

But i'm experiencing a strange problem now. on : match: `glob(join( "a", "**", "*.ts"), { flags:'g', extended:true, globstar: true })`

the output from walk and walksync are not the same. Walksync output is empty.
On this test: https://github.com/zekth/deno_std/blob/glob/fs/glob_test.ts#L106

Maybe you

[2019-03-01 00:33] natevw opened #1860 "Per-import permissions?"
I was originally excited about the security-consciousness of deno, but I am now struggling to see the benefit.

It strikes me that the security is too broad-grained in two ways:

1. It tries to make do with [± five flags](https://deno.land/manual.html#flags) something that other approaches need a much more elaborate vocabulary to pull off (e.g. [Apple's sandboxing](https://developer.apple.com/libr

[2019-03-01 01:29] hayd commented on #1860
Duplicate of https://github.com/denoland/deno/issues/1639

[2019-03-01 02:07] natevw commented on #1860
Ah, yes indeed…sorry, I had not seen that thread.

[2019-03-01 02:07] #1860 closed

[2019-03-01 02:19] kitsonk commented on #1739
@isLishude then you are probably looking at the wrong project.

[2019-03-01 02:20] kitsonk commented on #1853
@HairyRabbit can you please provide a more complete reproduction, because it _should_ support it, but if you have some sort of functional code.  The case you suggested, just a `const enum` by itself would never work, because it would emit nothing.

[2019-03-01 02:21] kitsonk commented on #1854
Let me know if you need any help.  I don't have all the best availability at the moment though.

[2019-03-01 02:23] kitsonk commented on #1856
Isn't this a better conversation to have on `deno_std`?

[2019-03-01 02:32] hayd commented on #1856
yep, moved there. please close here @zekth

[2019-03-01 03:14] HairyRabbit commented on #1853
oh, my bad, I think I found the problem. the `const enums` works but the file must have the `.ts` extension.

I write a entry script with shebang header, so it's throw.

[code]

throws:

[code]

![image](https://user-images.githubusercontent.com/5752902/53613882-95b11880-3c12-11e9-9beb-da7d1e1559c9.png)

thanks for answer.

[2019-03-01 03:14] #1853 closed

[2019-03-01 03:34] ry commented on #1860
But it's not default.

Why does the browser bother with security? Shouldn't people just configure their OS properly?

The point is that it's restricted by default. Yes, our security is very coarse. Maybe that will get better over time, but the main feature is the ability to run code fearlessly, just as you can in browsers.

[2019-03-01 07:30] #1856 closed

[2019-03-01 08:59] zekth commented on #588
Does anyone have a workaround for this? Tried using this on windows but does not work:
[code]

[2019-03-01 09:24] zekth opened #1862 "Capabilities of process"
Just an idea with an issue i faced not adding `--allow-read` parameter in the deno command. It might be an extension of https://github.com/denoland/deno/issues/1225

I wanted to know if it's possible to get the capabilities of the running process, like using bit flags. For example:
[code]

This can be usefull in some cases for mandatory permissions for code execution. Like when the service starts

[2019-03-01 17:17] afinch7 commented on #1858
After a little thought I decided that It would be a good idea to assign permissions on a per-isolate basis. I already have some working code for this refactor, and it should be beneficial for more than just solving this problem.

[2019-03-01 18:29] natevw commented on #1860
@ry I can see value in that, but seems that ship has already sailed? Browsers started by giving code access to ± naught but the DOM, and gradually adding careful APIs that were largely sandboxed. Any APIs that went beyond a separate "page origin" container and granted access to the users system as a whole seem to have been fraught with peril though IMO largely salvageable so far. (See the Yubikey

[2019-03-01 19:07] afinch7 commented on #1639
Just submitted #1864 should make option 2 pretty easy to implement.
I like that approach alot it would satisfy many of my needs, and do it in a way that is inline with most of the deno design.

[2019-03-01 19:47] hayd commented on #1860
You can "walk back" --allow-write by having an optional value that restricts access to dirs. This is discussed quite a bit in the other issue.

Some things you can't protect against however, for example if you have --allow-run you're pretty much going to be able to run anything...
(Perhaps you could similarly restrict, say only run "git", but still you're still by definition breaking out of the de

[2019-03-01 19:51] hayd commented on #1862
process.permissions = { allow_write: true, allow_env: false, ... }

[2019-03-01 19:55] zekth commented on #1862
So i assume there is something missing in the doc?
I was looking at: https://deno.land/typedoc/classes/_deno_.process.html

[2019-03-01 19:57] hayd commented on #1862
Sorry, I was just arguing that it should be the above. Not sure if it's already exposed.

[2019-03-01 19:59] zekth commented on #1862
If not i think it would be very nice to expose it.

[2019-03-01 20:56] zekth commented on #1862
[code]
Here `deno` does not expose permissions or anything related.

[2019-03-01 21:25] bartlomieju commented on #1862
AFAICT what @zekth is proposing can't be done. Creating subprocess is done via [`Command`](https://doc.rust-lang.org/std/process/struct.Command.html) which does not have any API to control such permissions.

tld;: It's not possible to use Deno permissions in subprocess.

[2019-03-01 21:31] zekth commented on #1862
I may have misexplained but it was not about subprocess. It was about the main deno process. If i try for example : `deno foo.ts --allow-read`
In foo.ts, i wanted to know if i can check for example if i can read or not.

[2019-03-01 21:41] afinch7 commented on #1862
I'm not sure how necessary this is since even if a permission is not enabled it will still give the user a prompt to allow it during execution.

[2019-03-01 21:51] zekth commented on #1862
Yes i found that but on the event of trying to access to this permission. In another case we can have for example a webserver which for sure requires `--allow-net`. So when you launch the process you have the prompt telling you this if you don't provide the permission. But admit there is an endpoint on the webserver which writes on the disk. You don't necessarily have the prompt accessible at this

[2019-03-01 21:59] afinch7 commented on #1862
I guess what we really need is a flag that disables said prompts, and to give a soft failure mode for the code making the request.

[2019-03-01 22:01] zekth commented on #1862
Totally agree with this with revelant error like:
[code]

[2019-03-01 22:02] bartlomieju commented on #1862
ref: #1591

[2019-03-01 22:05] afinch7 commented on #1862
In an ideal world we could catch this before execution starts by directly importing the resources required(run function, read function, etc), and having the compiler error us if the permissions are not available. This would get pretty messy to implement though.

[2019-03-01 22:11] zekth commented on #1862
Closing this issue because `--deny` is somehow a solution of my use case. But like @afinch7 it would be nice to have at the start of execution.

[2019-03-01 22:16] hayd commented on #1862
I still think `permissions = { allow_write: true, allow_env: false, ... }` would be nice to have.

[2019-03-01 22:25] afinch7 commented on #1739
What you really want is a extensible module loading system(not resolution as already discussed this is prone to problems). I have quite a few ideas on this one, and even some existing code. I've been working on similar idea for while now, and I think the only good way to design this is with a two stage loading process:

1. First "load"(what this means is really dependent on the media type) modules

[2019-03-02 00:26] ry commented on #1858
Fixed in 8c310d3

[2019-03-02 00:26] #1858 closed

[2019-03-02 00:33] #1328 closed

[2019-03-02 00:36] ry opened #1865 "Combine Deno.versions and Deno.platform into Deno.build"
[code]
Something like this. Alternative suggestions welcome. Maybe`Deno.buildInfo` ?

[2019-03-02 01:43] kitsonk commented on #1739
The public compiler API would need to:

1. Allow a user to register a compiler.  That registration would include extensions and media types that it should compile.  For security and consistency reasons, TypeScript media types and extensions should be disallowed, but JSON and JavaScript could potentially be registered.  This would be a special type of web worker.  I am not certain if this should be

[2019-03-02 02:09] kitsonk opened #1866 "Different libs for worker and runtime?"
Web worker support is on the roadmap (#1222).  One consideration though is that instead of just including the worker lib for every transpiled TypeScript module, potentially leading to code that would cause runtime errors, we would only include the web worker lib when transpiling modules for a worker.  It may not be suitable for an MVP, but in the longer term, it would provide a better experience.

[2019-03-02 09:05] hayd commented on #1865
I don't think version should hide in build, the current top level version API is really nice.

It also seems like os isn't really a property of the build.

[2019-03-02 09:54] bartlomieju opened #1869 "References to package.ts in manual"
I've stumbled across manual fragment that tells:

a subtly different version of a library? Isn't it error prone to maintain URLs
everywhere in a large project?** The solution is to import and re-export your
external libraries in a central `package.ts` file (which serves the same purpose
as Node's `package.json` file). For example, let's say you were using the above
testing library across a large p

[2019-03-02 10:09] bartlomieju commented on #1865
@hayd actually `os` (or `platform` as it's called now) is injected during build via `rollup`.

`Deno.meta`?

[2019-03-02 11:17] kitsonk commented on #1869
I thought we ran away from the term _package_.  I distinctly remember talking about that before!  It would seem some people have short term memory loss. 😛 The public [conversation is here](https://gitter.im/denolife/Lobby?at=5c330f834ed182787770607b).

[2019-03-02 16:31] ry commented on #1865
The reason for this is that all of these are injected during the build - and are essentially build parameters.

Deno.meta is kind of cute. Although perhaps confusing.

[2019-03-02 17:19] bartlomieju commented on #1865
`import.meta` was my initial thought, but since all of params are build parameters it makes most sense to use `Deno.build` IMHO.

[2019-03-02 17:51] hayd commented on #1865
Implementation-wise I get it and os is clearly used in the build, but semantically os is not a build property. Other statement stands too.

[2019-03-02 20:01] ry commented on #1869
Yeah, I think this was written before that. I would be happy to change this to `deps.ts`.

[2019-03-02 20:56] zekth opened #1871 "Performance.ts hrtime"
It would be very nice to add hrtime function like in nodejs: https://nodejs.org/api/process.html#process_process_hrtime_time

It's really usefull in optimizations measurements and debugging.

Using rust std functions:
[code]

Used as_nanos per default and then add formatters on the Ts side. Your thoughts?

[2019-03-02 21:17] cup opened #1872 "deno size"
the Node executable is pretty sizable, currently at 21.3 MB

however i noticed that the current Deno is 38.4 MB, nearly double the size

what is the reason for this discrepancy?

[2019-03-02 22:12] hayd commented on #1871
👍 See https://github.com/denoland/deno/issues/1777

[2019-03-02 22:33] zekth commented on #1777
As i mentionned in #1871 we could use nanoseconds in hrtime but in the case you describe we can polyfill it in the browser side, still returning nanoseconds but not precise and prompting a warning in the console?

Also adding an argument to disable the polyfill could be nice.

[2019-03-02 23:32] kitsonk commented on #1872
It includes the TypeScript compiler and it includes snapshots which increase startup speed.  Neither of these are true of Node.js.

[2019-03-03 01:57] hayd commented on #1777
I think you want to return (rounded unless --allow-high-precision) int64 nanos in the op. Then performance.now() and hrtime etc. both use this. As you suggest, `Instant` seems good approach.

[2019-03-03 16:43] crlf0710 commented on #1387
I think both the package size problem and symlink problem can be resolved with splitting the code into two crates...

[2019-03-03 19:01] afinch7 commented on #1739
You specified separating compilers by media type, but I don't think that extension(media type) is really a reliable way to do this(how would you handle no extension). I guess you could decide to on a list of supported media types, but I feel that would be very limiting. You could load modules by manifest and have the manifest tell the loader system what sort of loader to use, but that already soun

[2019-03-03 20:14] afinch7 commented on #1739
This might require a preflight check of sorts to check for redirects #1742.

[2019-03-03 22:50] afinch7 commented on #1862
While we are talking about the permissions I think that a allowing a permission shouldn't allow it for the rest of execution. To sum everything up so far we need:

[ ]: No prompts command line flag for no interactive terminals
[ ]: Allow once, allow always(same as the --allow-x flag), don't allow once, and don't allow don't ask again options for the prompt.
[ ]: (Optional)A way to read current alw

[2019-03-04 03:15] kevinkassimo commented on #1865
How about
[code]
?

[2019-03-04 03:21] aymonYU commented on #1789
I also need this feature！！！

[2019-03-04 03:24] kevinkassimo opened #1877 "Discussion: export and load custom snapshot"
Background: [v8 snapshots](https://v8.dev/blog/custom-startup-snapshots). Deno currently already uses snapshots for the TS compiler and main API for faster startup. We might be able to extend the behavior so that the users could create and load their own snapshots.

Something like
[code]
Like AOT compilation in a way. Might be useful for developers who don't want to work with the Rust crate (and l

[2019-03-04 03:37] kevinkassimo commented on #1325
An experimental branch of Node has started with the `import "./foo.wasm";` implementation: https://github.com/nodejs/ecmascript-modules/pull/46

Also see https://github.com/WebAssembly/esm-integration/tree/master/proposals/esm-integration about the current standardization process

[2019-03-04 04:13] ry commented on #1865
@kevinkassimo that’s what I was going to suggest too. I think meta is cute but probably your suggestion is more obvious.

[2019-03-04 04:43] ry commented on #1877
I think the major issue it to get multiple snapshot working (ie we have the internal Deno snapshot to load and then need to load the external one)... there’s a v8 gn flag called v8_multi_snapshots which can be turned on - maybe that’s all that needs to be done.
I think the first step would be to get a demo working in libdeno_test first.

I’m generally in favor of this plan

[2019-03-04 04:45] piscisaureus commented on #1795
The windows console doesn't support emoji at the moment, although supposedly msft people are working on that.

(Note that whether you're using cmd.exe or powershell is irrelevant, much like you wouldn't say that bash/zsh does or doesn't support emoji. Displaying characters is a feature of the terminal application, not the shell.)

[2019-03-04 07:24] zekth commented on #588
We can achieve it by using `hyper_proxy` library. At the moment Deno only uses `hyper` base library which does not offer the possibility to use a proxy.

Are you ok to add `hyper_proxy` ? I can handle this.

[2019-03-04 16:10] zekth commented on #1862
Closing because #1875 was merged

[2019-03-04 16:10] #1862 closed

[2019-03-04 16:14] zekth commented on #1865
Agree with @kevinkassimo proposal

[2019-03-04 16:18] zekth commented on #1657
What's the policy for the cache? Is it persistent if the runtime turns off or not?

[2019-03-04 16:29] ry commented on #1657
@zekth it's persistent

[2019-03-04 16:37] zekth commented on #1657
So if we use something like indexDB it will be shared by all scripts using the Deno runtime? If so, have to ensure there is no overlapping. Also do we add any maximum cache size or a permission for the max size?

[2019-03-04 21:38] afinch7 commented on #1877
I can't see why multiple snapshots would be needed unless you want to apply your snapshot over the existing deno one. You would likely need to regenerate your snapshots for new versions, and as I found out working on getting deno running on arm, snapshots generated with one v8 binary don't always work with others.

[2019-03-04 21:49] kitsonk commented on #1657
I believe they are part of the spec or defacto standards in browser implementations.

[2019-03-05 00:20] zekth commented on #1657
Reference: https://chromiumcodereview.appspot.com/21680002

[2019-03-05 00:30] ry opened #1880 "Add "deno lint" subcommand"
For linting files.

Probably should be implemented similar to how we've done `--fmt` ... that is get eslint into deno_std, and then load from URL in core.

[2019-03-05 01:33] kitsonk commented on #1739
This is exactly how we do it today.  _media type_ != _extension_.

Without a media type, that is insecure.  We wouldn't want to allow a file like that to be processed...  Files without extensions require a media type.

We don't trust our own compiler.  It does not do module resolution.  That is up to privileged/Rust, as is appropriate.

There is nothing preventing someone from implementing a loade

[2019-03-05 02:19] ry opened #1882 "Move I/O interfaces into deno_std"
Like Reader, Writer  - everything in https://github.com/denoland/deno/blob/master/js/io.ts

[2019-03-05 13:57] zekth commented on #1871
Closing following into #1777

[2019-03-05 13:57] #1871 closed

[2019-03-05 17:42] afinch7 commented on #1739
Those are valid concerns. You want something that doesn't require any user setup or config, and my approach would require user configuration to work thus it fall outside of the deno philosophy.

I think that pretty much settles what direction deno should go, but I still have my concerns with the idea of a untrusted compiler. I think my main concern here is how can you in any way trust the code a c

[2019-03-05 19:06] szhu commented on #1486
I wonder if https://github.com/Homebrew/homebrew-cask will accept a binary version of a command-line program.

Also, even if they don't accept these formulae, you could always just create a tap. Installing it from a tap is still a one-liner: `brew install denoland/deno/deno` or `brew cask install denoland/deno/deno` depending on whether you want to ship the binary.

[2019-03-05 19:21] hayd commented on #1486
Please give it a try! Below is a binary brew formula, though you may want to replace the test from the homebrew-core PR. That said, I think this needs a little tweaking to be a valid cask...

https://gist.github.com/hayd/e6ea4568883d339b1787509cb74d0726

[2019-03-05 22:27] zekth commented on #1777
Does something like this is ok for you guys?
https://github.com/zekth/deno/blob/high_precision/src/ops.rs#L201

[2019-03-05 22:56] hayd commented on #1777
@zekth I think Instant is going to be higher precision that system time? I _think_ that means the start Instant is going to be needed on IsolateState.

[2019-03-05 23:08] zekth commented on #1777
Right, forgot to change from `SystemTime::now()` to `Instant::now()` (and i'm the one who purposed it haha)

You mean adding start property to the `IsolateState` struct and instanciate it with `instant::now()`? To avoid using `UNIX_EPOCH`? Seems legit.

About the round and the permissions is it ok?

[2019-03-05 23:13] hayd commented on #1777
I think it should link to https://developer.mozilla.org/en-US/docs/Web/API/DOMHighResTimeStamp#Reduced_time_precision

otherwise all that you say sounds good.

[2019-03-06 10:22] fd commented on #588
I'm also interested in this functionality.

[2019-03-06 17:38] btholt commented on #1340
Hey @ry, just saw this issue. If you need help with anything, let me know.

[2019-03-06 21:29] afinch7 opened #1891 "Implement webcrypto APIs."
Some applications like handling password will require hashing and encryption. These operations could be implemented in js/ts, but It really needs to be handled from a trusted environment to be secure. It looks like there have been some attempts to get this one rolling before recently with #1461.

[2019-03-06 21:43] zekth commented on #1777
doing polishing, ensuring everything is fine and will PR.

[2019-03-06 21:54] #1865 closed

[2019-03-06 23:00] zekth commented on #1880
eslint and those plugins:
- @typescript-eslint/eslint-plugin
- @typescript-eslint/parser
- eslint-config-prettier

So in term of updates, Deno will update on major releases of Typescript / eslint? To stay as tied as the LTS version of those dependencies.

[2019-03-06 23:03] zekth commented on #1882
I'll do it.

Into `/std/io/??.ts` ? There is no mod.ts, do i create one which just expose interfaces? Or do interface.ts ? Or maybe ioutil.ts?

[2019-03-06 23:38] kitsonk commented on #1880
Also, eslint needs access to TypeScript to perform its duties, currently the Deno runtime does not give access to TypeScript, it only exists in the compiler.

[2019-03-07 14:03] zekth opened #1896 "[Windows] Wrong path on deno.platform"
While running on windows env the property `rustc_wrapper` in `deno.plaform` shows a wrong path:
`rustc_wrapper = "C:denoprebuilt/win/sccache.exe"`

Runing on Deno 0.3.2

[2019-03-07 14:09] ry commented on #1896
@piscisaureus Can you check the value of your `Deno.build.gnArgs` ? Is rustc_wrapper correct?

[2019-03-07 14:11] zekth commented on #1896
Note: It's maybe only the printing of the value. I don't encounter any issue ATM.

[2019-03-07 19:41] zekth opened #1898 "[Windows] Compiling from sources issue"
I've followed the manual : https://deno.land/manual.html#buildfromsource

And i've the error:
[code]
After checking in https://github.com/denoland/deno/blob/master/.appveyor.yml i have updated my PYTHONPATH to `C:\temp\deno\third_party\python_packages`
then i got:
`Exception: Visual Studio version 2015 (from GYP_MSVS_VERSION) not supported. Supported versions are: 2017, 2019`
Problem is i have alr

[2019-03-07 20:00] ry commented on #1898
Sounds like our python scripts should be updating `sys.path` ... that would take care of the first problem.

Not sure about the other problems - @piscisaureus thoughts?

[2019-03-07 22:45] kitsonk opened #1900 "Build creating unnecessary path"
I noticed the `./tools/build.py` is creating `js/deps/https/deno.land/x/` which is no longer the location of the appropriate submodule and then shows up as untracked in git.  I haven't been able to narrow it down where it is coming from though.

[2019-03-07 23:01] hayd commented on #1900
It seems like you have to delete that directory explicitly, it doesn't reappear when running `test.py` subsequently. I'm not sure whether or not I did something wrong to cause this in https://github.com/denoland/deno/pull/1890/files ...

[2019-03-07 23:31] ry commented on #1900
Yeah as @hayd said - the behavior of git is to leave the directory when submodules move. Just delete it.

[2019-03-07 23:31] #1900 closed

[2019-03-07 23:59] kitsonk commented on #1900
Yeah, ok, I thought I had removed it and it kept popping up, but I can't reproduce now.

[2019-03-08 15:04] kt3k commented on #1105
Seems fixed at #1116

[2019-03-08 15:12] kt3k commented on #913
This seems done in #1369

[2019-03-08 15:24] ry commented on #913
Thx

[2019-03-08 15:24] #913 closed

[2019-03-08 15:24] #1105 closed

[2019-03-08 18:10] #1869 closed

[2019-03-10 20:57] zekth commented on #1898
So i found something. Maybe @piscisaureus could confirm:
instead of doing this:
[code]
I've done this (with Admin permissions with CMD)
[code]
Because doing the prompt of the config in the repo it appears that symlinks are disabled in the .git/config
[code]
So a solution would be to update the git config of the repo i guess? I think the Windows CI is still working due to the cache no?

[2019-03-11 00:31] zaynv opened #1907 "Req/Sec benchmark is missing `node_http`"
The [req/sec benchmark](https://deno.land/benchmarks.html#req-per-sec) mentions that:

deno_net_http is a web server written in TypeScript. It is comparable to node_http .
hyper is a Rust HTTP server and represents an upper bound.

I was confused by this line:

There doesn't seem to be a `node_http` in the graph, so what are we supposed to be comparing `deno_net_http` with?

[2019-03-11 00:53] kevinkassimo commented on #1907
`node`: node HTTP
`node_tcp`: node TCP
`deno`: deno TCP
`deno_net_http`: deno using `std/http/server.ts`

The benchmark is not very satisfactory at this moment, but a major internal design update and performance boost is coming pretty soon (`deno_core_single` and `deno_core_multi` are experimental benchmarks for the pending new design)

[2019-03-11 03:17] zaynv commented on #1907
Oh I see looking forward to seeing with new design. If I understand correctly `node_http` is referring to `node` in the graph? Thanks, and feel free to close this.

[2019-03-11 17:56] zekth commented on #1898
Another issue now is build.py which gives me :
[code]

I've tried to tweak my env variables but can't make it work. Any idea?

[2019-03-11 20:16] bartlomieju opened #1910 "Add FAQ section to deno.land"
It came up in Gitter discussion that there's no FAQ section on the website and IMHO it's a good idea to have one.

Please provide questions you're curious about below so we can compile some list.

[2019-03-11 20:28] bartlomieju commented on #1910
- What is Deno?
- How is Deno different that node.js?
- Should I switch from node to Deno?

[2019-03-11 20:29] ry commented on #1910
Sure, but rather than FAQ, let's carefully work it into the manual. I don't like there to be multiple sources of documentation. This seems like good information for the introduction section.

[2019-03-11 20:29] kevinkassimo commented on #1910
Or an alternative is linking to Stackoverflow. We can create self-answered questions I believe

[2019-03-11 21:11] zekth opened #1911 "Colors capability detection"
I've started an issue / PR in deno_std. Moving in to Deno itself.
ref: https://github.com/denoland/deno_std/pull/244

**TLDR**
We can detect color capabilities in some cases based on env var / platform.
For example on W7 only TTY with `TERM` env variable = `xterm` are capable of parsing colors.
On W10, TERM is not defined but colors are available.

In the deno,platform there is no information abou

[2019-03-12 00:07] kitsonk commented on #1911
Based on experiences with browser "sniffing" (e.g. "if IE then...") is folly and ideally we should find some way to detect support by other means.  Colour support is not determined by a version of an operating system.

For example, I assume Bash running under Windows 7 in Cygwin would support ANSI colours, even if it was the Deno binary.

For [reference](https://nodejs.org/api/os.html#os_os_releas

[2019-03-12 01:23] afinch7 commented on #1911
Not really a fan of "sniffing" either. One of the primary benefits of javascript is it can be abstracted from the host. This should really be abstracted out in rust or the deno js libs.

[2019-03-12 02:19] ry commented on #1911
It is abstracted out into Rust. We provide the boolean `Deno.noColor` which looks at the NO_COLOR env var. This prevents every color user to allow access to environment vars. I think it's not unreasonable to make `Deno.noColor` a bit smarter.

[2019-03-12 07:40] zekth commented on #1911
ref for the chalk color detection: https://github.com/chalk/supports-color/blob/master/index.js

As i said it's a combination of variables. But only for w7. Others seems ok.

Wrong. On W7 with cygwin it won't work. But on W7 with git bash it works. Gitbash using XTERM
And as we discussed on the referenced issue, everything happens on the Rust side like @ry suggested.

[2019-03-12 08:23] zekth commented on #1911
For example on W7:
![2019-03-12 09_22_31-MINGW64__c_projects_deno_std](https://user-images.githubusercontent.com/6959636/54185070-7040cc00-44a8-11e9-9a57-78a5f8ded417.png)
![2019-03-12 09_22_42-foo ts - deno_std - Visual Studio Code  Administrator](https://user-images.githubusercontent.com/6959636/54185074-720a8f80-44a8-11e9-83cb-af96e5f3ff85.png)

[2019-03-12 08:25] zekth commented on #1910
I agree with @ry on this point. Multiple sources is a pain IMO.

[2019-03-12 08:29] zekth commented on #1777
@hayd could you implement it (based on what we discussed) if it's needed for other tasks? I have issues with my env ATM.

[2019-03-12 13:15] bartlomieju commented on #1854
@kitsonk I started to work on that, got it almost figured out, one thing that bothers me:
If I put `ImportMeta` declaration in `globals.ts` then I can easily extract it from there with `TypeGuards.isInterfaceDeclaration`, but that would mean I still need to leave inlining of `lib.web_assembly.d.ts` as is.

Do you have a better idea how to handle that without putting all the contents of `lib.web_as

[2019-03-12 15:20] hayd commented on #1777
Do up have a wip branch/commit?
I can do but likely not this week.

[2019-03-12 15:39] zekth commented on #1777
I have started something here: https://github.com/zekth/deno/tree/high_precision But have to clean a bit. You get the whole idea there in fact. Will clean it tonight.

[2019-03-12 23:28] kitsonk opened #1921 "Implement import-maps"
We should consider finding a way to implement [import-maps](https://github.com/WICG/import-maps).  The WICG proposal has started to be implemented.  While it is still an early stage, it would solve several problems we have had with remote modules.

It is implemented in [Chromium 74](https://www.chromestatus.com/feature/5315286962012160).

In browsers, it is a `<script type="importmap">...</script>

[2019-03-12 23:29] kitsonk commented on #1829
I think we could close this in lieu of #1921

[2019-03-12 23:33] kitsonk commented on #203
I forgot this... I will take a look at it.  We have `window.location` but we need the absolute module resolution logic.

[2019-03-12 23:42] kitsonk opened #1922 "Support resolution of standard library modules"
There is a [Stage 1 TC39](https://github.com/tc39/proposal-javascript-standard-library/) proposal for "built in" browser modules to make a standard library for JavaScript.  It is proposing a [protected namespace](https://github.com/tc39/proposal-javascript-standard-library/#protected-namespace) of `"std:"` for the module specifiers.  We should consider adopting this for potential standard built in

[2019-03-12 23:46] kitsonk opened #1923 "Add KV Storage Built In Module"
In Chromium 74, [KV Storage](https://www.chromestatus.com/feature/6428344899862528) has been implemented as a built-in module.  The module is a far more rational API than IndexDB (and local storage).

The WICG draft is located here: https://wicg.github.io/kv-storage/

This would require #1922

This could negate the need for #1699

[2019-03-13 00:06] kitsonk commented on #1923
Actually reading the spec further, it is actually a standard modern API layer on top of IndexDB and uses IndexDB to persist the storage.  So #1699 is a requirement before we could implement this.

[2019-03-13 00:54] kitsonk commented on #1699
This is really complicated when you dig into it.

There is no Rust implementation of IndexDB (there is a crate that appears to be squatting, but it really isn't an implementation).  Servo does not support IndexedDB, they have a long standing issue to implement.  So on the Rust front it is sort of a dead end.

In Node.js, there are no realistic implementations either.  Again there is a package squa

[2019-03-13 01:43] afinch7 commented on #1923
Doesn't mean that we have to implement it like that.

[2019-03-13 02:29] kitsonk commented on #1923
Well, if you look at the spec, there is a expected back off to IndexedDB where you can gain access to the db instance for advanced usage.

[2019-03-13 12:19] zekth commented on #1911
After few reflections, it may be easier to just check if is TTY like @ry purposed:

Checking TERM env var is really specific, like shown in chalk source code. At first we can add check for "xterm" and we implement case after we encounter problems? Or we simply admit the terminal have to handle colors like `atty::is(atty::Stream::Stdout) && !Some(env()["NO_COLORS"])`

[2019-03-13 16:43] #1580 closed

[2019-03-13 19:56] zekth opened #1927 "TypeScript Build issue"
Trying to build Deno had an issue on my env. Tried on the ci and looks the same: https://github.com/denoland/deno/pull/1925

`error TS2304: Cannot find name 'TextDecoder'.`

But if i try to run my code with deno released version it works.
[code]

Maybe there is a problem on the Typescript version used in rollup?
yarn.lock mentions
[code]

Any idea?

[2019-03-13 20:05] zekth commented on #1927
because of the `nolib` the import was missing:
[code]
My bad
Closing.

[2019-03-13 20:05] #1927 closed

[2019-03-13 21:00] andykais opened #1928 "FR: Syntax highlighting in REPL"
It would be awesome if the deno repl could include syntax highlighting of expressions _as you type_.
This is not something we have in either the node repl or ts-node repl, but nonetheless would make for a much more enjoyable repl experience.

Coming from scala-land, [dotty](https://dotty.epfl.ch/) (the next gen compiler for scala) for example, includes a colored repl by default
<img width="295" al

[2019-03-13 22:27] afinch7 commented on #1923
They way you put it the first time it sounded like it was just a implementation choice, but no it actually exists in the spec https://wicg.github.io/kv-storage/#storagearea-backingstore.
That seems like a really questionable design choice if you ask me. We might have been at a point where IndexDB could be deprecated in favor of a promise based standard, but now one of the most questionable web API

[2019-03-13 22:38] kitsonk commented on #1923
Well that is part of the IndexDB spec.

[2019-03-13 22:43] afinch7 commented on #1923
I meant the KV Storage implementations not the browser itself.

[2019-03-13 22:58] kitsonk opened #1930 "Move web assembly lib to assets.ts"
From #1854

[2019-03-13 22:58] kitsonk commented on #1854
`lib.web_assembly.d.ts` is a different beast, though they are closely related...  `lib.web_assembly.d.ts` are declarations that _should_ be in TypeScript (see: Microsoft/TypeScript#29747) and hopefully will one day, so all we are doing is replicating that.

In this case we are taking an already existing global interface and extending it.

Actually thinking about `lib.web_assembly.d.ts`, we should

[2019-03-13 23:03] bartlomieju commented on #1854
All clear now :+1: thanks for explanation. I'll get to it after finishing this one.

[2019-03-13 23:08] kitsonk commented on #1923
That is also in the draft spec...  Like the ordering of keys, etc.  There are a couple concerns regarding this layering though which are also addressed in the draft spec: https://wicg.github.io/kv-storage/#perfect-polyfill

[2019-03-14 04:24] kitsonk commented on #1789
Just to be clear, this was implemented but during the re-write to use ESM natively, it had to be dropped to be re-implemented later.  It is currently sitting in @ry's backlog.

[2019-03-14 14:20] ry commented on #1789
This should happen in core/ ... https://github.com/denoland/deno/pull/1919 needs to land first.

[2019-03-14 22:49] #1787 closed

[2019-03-14 23:50] andyfleming commented on #986
A couple of use cases for me:

• **CLI** — Having a single executable makes distribution easy. Especially if cross-compiling is easy!

• **Services built into simple build artifacts** — This can be great for small container images, and generally nice for CI/CD workflows.

Support for this would push me over the fence of wanting to use Deno for real projects (once stable). Right now, it's not compe

[2019-03-15 15:36] ry opened #1937 "re-enable arm64 test"
disabled here 1e3509df42e996ea092ae7e8b5a61aef51c92c2b due to this failure in CI:
[code]

cc @afinch7

[2019-03-15 17:54] ry opened #1939 "Show tokio-minihttp in the req/sec benchmark"
Something like this https://github.com/tokio-rs/tokio-minihttp/blob/master/examples/hello-world.rs

It should be faster than https://github.com/denoland/deno/blob/master/tools/hyper_hello.rs and it's a fairer comparison. If it's faster, I think it would make sense to eventually remove the hyper_hello bench.

(suggestion from @SergioBenitez)

[2019-03-17 17:21] axetroy opened #1947 "Deno.remove() can not remove symlink file"
I found `Deno.remove()` cannot remove symlink file

This should be abnormal

Or we should need a `Deno.unlink()`?

[2019-03-17 17:31] axetroy opened #1948 "Feature Request: Deno.utimes() api"
`Deno.utimes()` change the file system timestamps of the object referenced by path.

[2019-03-18 09:33] zekth opened #1952 "String.normalize()"
Was working on a `removeDiacritics()` helper for `deno_std` and it appears that Deno is not properly handling `string.normalize()`.
**env**:
[code]
**Example**:
strTest.ts
[code]
[code]
ref: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String/normalize

[2019-03-18 15:00] afinch7 commented on #1937
Looking at the core integration it looks like you dropped script init. The important information about this error is below:
[code]
I can start working on a patch for #1938 to refactor init data to better fit with core.

[2019-03-18 16:33] ry commented on #1937
@afinch7 I expect #1938 to land today. Not sure where the init script could have been dropped? But in any case, yes patch on top of that branch are welcome.

[2019-03-18 17:21] afinch7 opened #1953 "discussion: state and platform info shouldn't be required by js code"
This one comes directly from `Philosophy` section of the manual.

Many recent changes involve giving deno programs/scripts/libs access to platform(I.E. `build`) and state(I.E. permissions) info. While not a bad thing in itself, these sort of features often lead bad practices. From my experience with browser code it's simply better to build code that doesn't need this info to function correctly. In

[2019-03-18 17:50] afinch7 commented on #1937
I have a working fix. It's dependent on #1938. I will create a PR as soon as you land it.

[2019-03-18 21:20] ry opened #1955 "re-enable REPL tests"
"core" is a major API refactor that significantly simplified and sped up the code base. However not all issues have been worked out - it was landed with some tests disabled.
See https://github.com/denoland/deno/pull/1938/commits/b672c12ba684477ac62896e02fe3b57ca4ae904d

These are tests that need to be turned back on:
- [x] tests/error_004_missing_module.test
- [x] tests/error_005_missing_dynamic_i

[2019-03-18 21:31] ry opened #1956 "JS API: Rename DenoCore namespace to Deno.core"
Summary: rename some internal JS functions.

There are several (new) integral JS APIs that are being exposed from a "DenoCore" namespace object
- `DenoCore.dispatch()`
- `DenoCore.setAsyncHandler()`

[Both are defined in //core/shared_queue.js](https://github.com/denoland/deno/blob/44773c9b0fe4ae90089c87aa46d049a0a58cccce/core/shared_queue.js#L132-L144)

Additionally there's a "libdeno" namespace

[2019-03-18 22:18] natevw commented on #1639
Not directly applicable, but a team within Google recently open sourced a sandboxing framework that wraps C libraries:

— <https://security.googleblog.com/2019/03/open-sourcing-sandboxed-api.html>

So IIUC basically what deno does at the process level between the JS code and the OS, this makes happen around a given set of `extern "C"` function calls. It looks like the calling code is significantly

[2019-03-18 22:39] kitsonk commented on #1952
Sounds like it might be the same category as #1636.

[2019-03-18 22:41] kitsonk commented on #1956
FYI, I am working on this one.

[2019-03-19 00:03] #1937 closed

[2019-03-19 00:04] ry commented on #1846
basic arm support added in 8c7a12d1b258f0ef5ab27f49c424331d43e8d97f

[2019-03-19 00:15] ry opened #1963 "Benchmark wanted: tail latency in http requests"
During [the http_benchmarks](https://github.com/denoland/deno/blob/master/tools/http_benchmark.py) we run [wrk](https://github.com/wg/wrk). It outputs a small table that looks like this:
[code]

Currently we only extract the requests per second (second to last line). [It is plotted here](https://deno.land/benchmarks.html#req-per-sec).

I also want to keep track of the "max latency" number (425.93m

[2019-03-19 02:05] Maxim-Mazurok commented on #1729
The problem is that by default, PowerShell uses TLS 1.0, but the site security requires TLS 1.2.
I think that we should consider allowing TLS 1.0 on the deno.land server as an alternative solution. It might bring some security vulnerabilities, though.

[2019-03-19 02:15] Maxim-Mazurok opened #1965 "Windows installation error IE"
I'm getting the following error on the Windows 10 PC:
[code]

**Solution**
Just run IE for the first time and finish initial setup (click OK on [this](https://i2.wp.com/wahlnetwork.com/wp-content/uploads/2015/11/ie-first-launch.jpg) screen).

**Proposal**
For whatever reasons, I've never even started IE on my PC. I've used only Edge (which is the new default browser on Windows now).
So, I think th

[2019-03-19 05:33] dburles commented on #1742
I ran into an issue that seems to match up here when attempting to import the [neverland](https://github.com/WebReflection/neverland) library.

[code]

[code]

[2019-03-19 14:10] zekth opened #1968 "Add ICU in embedded v8"
As seen in https://github.com/denoland/deno/issues/1952 / https://github.com/denoland/deno/issues/1636 ICU needs to be added in Deno build.

Switching this flag to true maybe: https://github.com/denoland/deno/blob/master/.gn#L50 ?

ref: https://v8.dev/docs/i18n

[2019-03-20 05:28] bernard-lin commented on #1963
I'll take a crack at this

[2019-03-20 22:39] otabekgb opened #1980 "Typescript to webassembly compilation"
With some flags, support compiling typescript sources to webassembly, by using compilers  like assemblyscript. This should give additional performance benefit.

[2019-03-20 22:57] kitsonk commented on #1980
@otabekgb I highly doubt it.  V8 is very highly optimised, much better than I would assume assemblyscript would be, especially when it comes to things like GC and fast pathing code.

I think to even consider it, a performance proof of concept would be needed, even then I highly suspect there would be lots of issues in accessing and supporting non-TC39 APIs, like the browser ones and the Deno ones.

[2019-03-20 23:07] zekth commented on #1965
Experienced that too. Could you submit a PR to update the Manual for this?

[2019-03-20 23:09] zekth commented on #1947
Is there any error? i've experienced it with another program while running with non administrator permissions.

[2019-03-20 23:14] zekth commented on #1769
@ry this can be closed.

[2019-03-20 23:16] Maxim-Mazurok commented on #1965
Well... I would like to solve it in the way that will resolve this issue without the Manual update.
But I'm not good at Windows scripting, so I don't think that I'm the right person to make a PR with the fix.
So, probably you're right about adding a note to the Manual. I would also add a note about TLS issue, which should be very popular on Windows.
But I feel like we should ask @ry first, should

[2019-03-20 23:23] zekth commented on #1965
Atm the installation on windows is just a script to download deno binary and add deno path to PATH env var: https://github.com/denoland/deno_install/blob/master/install.ps1
Not really complicated, i think adding this to the ps1 might be an idea too. I can take a look. Adding the support for chocolatey would be cool too.

[2019-03-20 23:30] Maxim-Mazurok commented on #1965
Actually, I think that the issue is more complicated. We're using `iwr` for downloading. And that's the source of all problems. It's defaulting to TLS 1.0 and also uses parsing method which uses IE engine.
So, if I understand that correctly, then we'll need to dive deeper and replace `iwr` with some more low-level calls, where we can customize their exact behavior. Or, if `iwr` is customizable eno

[2019-03-20 23:32] Maxim-Mazurok commented on #1965
Hm, or maybe you're right, because I see `Invoke-WebRequest` in the script, so it might be a weak point, actually..

[2019-03-20 23:36] MaxGraey commented on #1980
If we conditionally divide the code into two parts:

1. initialization code that is executed very rarely, and sometimes only once;
2. hot code that runs quite often and usually optimize pretty well by JS JIT compiler.

WebAssembly/AssemblyScript could definitely speed up first part (1). You could see [this bench](https://github.com/alangpierce/sucrase/issues/216#issuecomment-441396771) for confirm

[2019-03-20 23:39] zekth commented on #1965
ATM for the `ps1` solution, updating the manual is the only way to solve the problem. Once you got all the commands; just copy paste and VOILA.

[2019-03-20 23:45] Maxim-Mazurok commented on #1965
So, your idea is to avoid downloading `.ps1` script with `iwr` by just letting the user copy paste contents of it with all commands manually to the PowerShell? That's what you are saying?

[2019-03-20 23:48] zekth commented on #1965
No. Just add the fixes with :
`[Net.ServicePointManager]::SecurityProtocol = [Net.SecurityProtocolType]::Tls12` in the manual, and check the `UseBasicParsing ` flag in the deno_install

[2019-03-20 23:51] zekth opened #1981 "Add chocolatey support"
As MacOs has Homebrew, it would be a good idea to add support for the window package manager [Chocolatey](https://chocolatey.org/)

We can just ship the compiled `.exe` file from the CI directly to chocolatey.

Ref: [Create Package](https://chocolatey.org/docs/create-packages)

[2019-03-21 13:41] thgh commented on #1742
Any idea how Deno would cache a redirect on disk?

[2019-03-21 14:19] fd commented on #1742
I've been looking at this issue as well (and took two stabs at a PR).

Symlinks seem like a natural choice but it is not clear how a cross-origin redirect would be represented as a symlink. A second problem exists with the TypeScript language server which doesn't play well with symlinks.

I think the problem with the current cache is that it's loosing information about the original http responses.

[2019-03-21 16:40] MaxGraey commented on #1980
Also probably make sense rewrite some algorithms from Rust to wasm like [cryptography](https://twitter.com/_cubbit/status/1108766621697564677)

[2019-03-21 20:06] kitsonk commented on #1953
While you can abstract away most things within Deno, you cannot do that externally. For example Deno allows you to invoke external processes. Depending on the workload, a programme author would need to vary that by platform. There is no way you can abstract that, nor should Deno be in that business.

Permissions is similar in that authors of libraries used by others need to write code that behaves

[2019-03-21 21:37] afinch7 commented on #1980
Having played around with assemblyscript in the past it's important to note that typescript code designed to be compiled to javascript is not inherently compatible with assemblyscript. You couldn't just take any library from std for instance and just compile it to wasm using assemblyscript, and expect it to work. Assemblyscript is designed for writing low level wasm logic using the typescript tool

[2019-03-22 09:40] irustm commented on #51
@kitsonk what is the status this issue?

[2019-03-23 04:01] kitsonk commented on #51
It is being worked on.

[2019-03-23 16:28] zugende opened #1986 "[Discussion] Website Platform"
As Deno is getting more mature I would like to throw in the question if Ryan and the team is ready to improve the website structure. My vision is creating a modern looking PWA which helps interested people to quickly get the concept of Deno, learn more about Deno and its api as well as get more information about third party modules.

Would love to do this in VueJS but open to your sugesstions.
If

[2019-03-23 17:05] ry opened #1987 "Refactor CLI flag parsing"
I have been putting this off long enough - and heard enough feedback from people that I’m ready to relent on some particular ideas I had around CLI parsing.

In particular, let’s move to the model the flags after the script are passed to Deno.args. Let’s allow for parameters to arguments so we can support evaluating oneliners (-e) and import maps. And we should consider making “deno —fmt” into “de

[2019-03-23 17:10] ry opened #1988 "Upgrading deno_std to v0.3.4 fails"
https://github.com/denoland/deno_std/pull/297

It hangs after 19 minutes and prints "WARNING the sharedQueue overflowed"
(The warning isn't necessarily a bad thing but is perhaps a hint)

[2019-03-23 17:13] ry opened #1989 "Rewrite Deno.readFile and Deno.writeFile to use more primitive ops"
Should be a simple fix - perhaps using Buffer for readFile.

Sync versions should be done too.

At the end the readFile and writeFile ops should be removed completely from cli/msg.fbs

[2019-03-23 17:55] bartlomieju commented on #1988
I've just encountered the same error when running `deno --fmt`, it hangs during compilation of `prettier/main.ts`.

[2019-03-23 17:56] afinch7 opened #1990 "[Discussion] [WebWorkers] Passing state/environment information."
Should we provide all of the main `IsolateState` information(flags, args, etc.) to guest isolates(web workers and maybe realms when that is a thing)?

My vote is let the host isolates code handle this by passing it directly if needed, since it provides better scope separation for workers.

[2019-03-23 18:16] afinch7 opened #1991 "[Discussion] [WebWorkers] Handling web worker main code resolution"
How do we want to resolve scripts/modules for web workers, and do we want to support ESM web workers?

We currently don't have any efficient way to inform ops of caller info(module origin url, name, source, etc.) from outside of v8 execution, so we could just trust js to send us reliable referrer information.

ESM web workers while not a part of the spec would be nice, and this would just involve

[2019-03-23 18:18] afinch7 commented on #1222
Working on this one right now. Maybe we can close this out in the next week.

[2019-03-23 19:24] bartlomieju commented on #1988
@ry after some debugging I found that:
https://github.com/denoland/deno/blob/efe9c18b459dbec71b213e8dc87e2e1b02477139/core/isolate.rs#L393
`poll` is not called again after we hit `overflow_response`.

So we're left in situation where there is 1 pending op but it's not resolved because `poll` is not called again.

Could you point me where should I dig further?

[2019-03-23 20:11] bartlomieju commented on #1988
It seems that adding `self.polled_recently = false;` to `unsuccessful_push` branch resolves this issue.

[code]

[2019-03-23 20:14] ry commented on #1988
Sounds like you figured it out! Try resetting polled_recently for that op.
Would be great to get a small test case that demoed this bug in core/isolate.rs test section.

[2019-03-24 12:36] Maxim-Mazurok commented on #1986
While this design looks nice and fancy, I'd prefer keeping deno website simple.
There's a beauty in current minimalistic design. Also, less fancy design means less potential bugs and more accessibility.
There's no need to make a complex SPA or PWA out of website with documentation, there's no complex logic that should be handled on the client side.
Still, some features of PWA could be used as long

[2019-03-24 12:44] zekth commented on #1986
Personnaly design has to be kept simple, with accessibility to binaries and documentations. Colors and so on are tied to the Deno graphic chart (atm there is none i think).

But why making it with VueJs for just a static website? A bit overkill for me. Also PWA app i overkill, as a side project why not.

[2019-03-24 13:01] zekth commented on #1987
What about  [Clap](https://github.com/clap-rs/clap) ? Seems to fit our need. It has some cool features like:
- Auto-generated Help, Version, and Usage information
- Auto-generated completion scripts at compile time (Bash, Zsh, Fish, and PowerShell)
- Typed Values

And as far as the example shows, looks not really intrusive. Maybe check the weight of the Deno binary importing it?

[2019-03-24 13:23] Maxim-Mazurok opened #1995 "Git thinks files are changed, while they are not"
I'm getting following `git status` output in the clean repository:
[code]
`diff` shows:
[code]
I've tried resetting, cloning again and again in new directories with no luck.

---

Finally, I've found the root of the problem:
https://github.com/denoland/deno/blob/efe9c18b459dbec71b213e8dc87e2e1b02477139/.gitattributes#L2
Here, we have `text=auto`, which means that git will try to figure out by itse

[2019-03-24 15:07] #1988 closed

[2019-03-24 15:20] ry opened #1996 "Flaky windows tests"
experienced on windows (mostly?)

* tests/010_set_interval.test ([example log](https://ci.appveyor.com/project/deno/deno/builds/23312397))
* intervalCancelSuccess ([example](https://ci.appveyor.com/project/deno/deno/builds/23891891))
* intervalOrdering ([example](https://ci.appveyor.com/project/deno/deno/builds/23894120))

[2019-03-24 15:32] ry commented on #1986
@zugende Looks nice, but I prefer to have small incremental improvements. Also I'm going to for a minimalist design where we can manage most of our text in markdown. The Deno software itself is still an "alpha version", so a pretty and graphical site might suggest otherwise.

If you wanted to help out with the site, some incremental improvements to the syntax highlighting colors would be a welcome

[2019-03-24 15:32] #1986 closed

[2019-03-24 15:39] ry commented on #1987
@zekth seems very feature complete and would definitely work. I wonder if there are other more minimal options.

@piscisaureus thoughts?

[2019-03-24 15:46] ry commented on #1995
I haven't experienced this, so if the first solution fixes your problem please open a PR for it.

[2019-03-25 04:23] #1854 closed

[2019-03-25 08:03] HairyRabbit commented on #807
Any update here? looks like still not work.

[code]

use with different partition and set `DENO_DIR` also not work.

[2019-03-25 10:52] otabekgb commented on #1980
@kitsonk I highly doubt, V8 can compete with statically typed language. Runtime type checking overhead will always be performed in V8, even after hot path optimization

[2019-03-25 10:56] bartlomieju commented on #1989
I'm working on that

[2019-03-25 10:59] otabekgb commented on #1980
Another benefit of webassembly is the parsing speed and the consizeness

[2019-03-25 11:16] otabekgb commented on #1980
@afinch7 Assemblyscript is compatible with typescript as far as it can. It is natural to require not to use ANY  type, because compiler should know the types exactly. It is also recommended to use ANY only for backward compatibility with legacy JS. Also specific number types are introduced to make bare-metal optimization, otherwise they could have used DOUBLE internally like JS.
My idea is to use

[2019-03-25 13:20] j-blank commented on #588
@zekth could you a tutorial how to use the hyper_proxy ? now im using deno on windows and got this problem because coorperate proxy

[2019-03-25 13:22] zekth commented on #588
Working on it ATM. There is a draft PR. Have to make it work.

[2019-03-25 15:35] otabekgb commented on #1980
@MaxGraey You are expert on this. Mozilla achieved even faster WASM->JS call than JS->JS.
If mozilla did this, V8 will do it either. WASM optimizations are only at babysteps.

[2019-03-25 15:41] MaxGraey commented on #1980
@otabekgb Yes, calling function which contain only plain parameter types like `number` is quite fast for now especially in Mozilla browser but passing objects, strings and array still require additional allocations, copy/clone and serialization/de-serialization until [anyref](https://github.com/WebAssembly/reference-types/blob/master/proposals/reference-types/Overview.md) and [host-binding proposa

[2019-03-25 15:48] ry commented on #1980
We already have an optimal way to executing TS - the V8 JIT compiler.

[2019-03-25 15:48] #1980 closed

[2019-03-25 15:49] ry commented on #807
See https://github.com/denoland/deno/issues/1383

[2019-03-25 15:49] #807 closed

[2019-03-25 16:11] ry commented on #1826
Here's a potential API, but I leave the exact spelling of these methods to the implementor
[code]
Here's a brief sketch of how I would do this

1. Add new ops to [cli/msg.fbs ](https://github.com/denoland/deno/blob/5ae78eb1de378f04d0b9d54842bcb898053467d6/cli/msg.fbs)
1A. One to create a new watcher, maybe FSEventsOpen. This would return a new resource id (rid).
1B. One to poll for a new event, FS

[2019-03-26 12:22] #1956 closed

[2019-03-26 12:29] bartlomieju commented on #1989
@ry just so we're on the same page, we want to rework `readFile` and `writeFile` to use shared queue rather than old way with flatbuffers?

[2019-03-26 12:31] ry commented on #1989
@bartlomieju No - implement them as a series of read and write ops. This should be a pure TS patch.

[2019-03-26 13:21] zekth commented on #1996
As i work on win env i can take a look.

[2019-03-26 23:55] kevinkassimo commented on #1947
Hmm I cannot reproduce this issue on my machine... is it on windows?

[2019-03-27 00:17] kevinkassimo commented on #1939
tokio-minihttp is [not published on crates.io](https://github.com/tokio-rs/tokio-minihttp/issues/35) and claimed to be just a demo project. If we really want to add this benchmark we need to copy all the source code from there (not a lot though).

(Sidenote: I'm not so sure if we should leave http still implemented on the TS side in the future, especially considering HTTP/2. Hyper seems to already

[2019-03-27 02:29] ry commented on #1939
You can just link to it [here](https://github.com/denoland/deno_third_party/blob/master/rust_crates/registry/src/github.com-1ecc6299db9ec823/tokio-0.1.15/examples/tinyhttp.rs) with a bit of GN:

[code]

[2019-03-28 03:29] #1989 closed

[2019-03-28 15:16] #1990 closed

[2019-03-28 18:11] bartlomieju opened #2013 "Redirect process stdio to arbitrary file"
This came up during #1828

Currently when you want to use subprocess stdio your options are limited to `inherit`, `piped` and `null`. One should be able to redirect process' stdio to arbitrary file descriptor.

[2019-03-28 20:05] #1044 closed

[2019-03-28 21:06] guybedford opened #2014 "process.env.NODE_ENV pattern"
Has any thought been put to the replacement for the pattern `process.env.NODE_ENV === 'production'` etc in Deno?

I'm trying to work out what the right alignment here will be across tools going forward in ES modules.

I guess the direct analog would be `Deno.env().NODE_ENV` but that is immediately permission extending for all code that does that.

`import.meta` could make sense for this pattern, a

[2019-03-29 14:31] ry commented on #1921
I have been waffling on this issue for a while but (after some technical debates with people) am convinced. Let's do it. The way you proposed, via command-line argument, is how I think it should work too. Unfortunately our flag parsing is quite bespoke at the moment and doesn't support argument, so before anything can be done we need to fix https://github.com/denoland/deno/issues/1987

[2019-03-29 14:35] ry commented on #1987
@piscisaureus and I have reviewed clap and approve of it. Are there any volunteers for taking a first pass at using clap in [//cli/flags.rs](https://github.com/denoland/deno/blob/master/cli/flags.rs) ?

[2019-03-29 14:43] bartlomieju commented on #1987
I can tackle it over the weekend

[2019-03-29 14:53] ry commented on #1987
@bartlomieju Cool - thanks - you're well positioned to tackle this. I'll get third_party setup for you today.

[2019-03-29 15:21] zekth commented on #1987
If backup needed, feel free to hit me.

[2019-03-29 18:05] kitsonk commented on #1921
That is needed for `tscconfig.json` too...

[2019-03-30 21:47] mathiasbynens opened #2021 "Bug in dependency inspector"
@cdata [reported](https://twitter.com/0xcda7a/status/1112108089568722944) the following resolution error for a module graph that fully resolves in Chrome:

[code]

[2019-03-31 00:22] cdata commented on #2021
This was tested on a Mac, if it helps.

[2019-03-31 07:48] kt3k commented on #2021
This seems like the same bug as [this one](https://github.com/denoland/deno/issues/1742).

`https://unpkg.com/lit-html@^1.0.0?module` redirects to `https://unpkg.com/lit-html@1.0.0/lit-html.js?module`, but deno tries to resolve `./lib/default-template-processor.js?module` from `https://unpkg.com/`, not `https://unpkg.com/lit-html@1.0.0/`.

[2019-03-31 19:36] acconrad commented on #1047
Just to update - everything here is done except for `EventTarget` which is an incomplete spec. I'm working on finalizing it today.

[2019-03-31 21:04] ry commented on #1209
A crate has been published now https://crates.io/crates/deno

[2019-03-31 21:22] #1387 closed

[2019-03-31 21:22] #1209 closed

[2019-03-31 23:39] TanvirAhmed20190 opened #2026 "Performance benefit."
Does **Deno** get any **performance**  benefit by having typescript   compiler built-in?

[2019-04-01 03:49] acconrad commented on #1047
Broken but an initial look at EventTarget: https://github.com/denoland/deno/pull/2028

[2019-04-01 06:19] kyranet commented on #1047
Updated! Let me know if I'm missing any other, I'm happy to update the list 😄

[2019-04-01 13:09] keroxp opened #2033 "Uncaught Error: Expecting promise in table. 0"
## env
- OS: macOS 10.14.3
- deno: v0.3.5

## description

[code]

[code]

got

[code]
`cmdId` on [here](https://github.com/denoland/deno/blob/master/js/dispatch.ts#L14) get 0. I tried to set `let nextCmdId = 1` and got the same error. Maybe `handleAsyncMsgFromRust` had been called with invalid argument.

[2019-04-01 19:14] #1991 closed

[2019-04-01 19:22] ry commented on #1222
Closed by #1993

[2019-04-01 19:22] #1222 closed

[2019-04-01 21:05] ry commented on #1981
We are already in Scoop - is that sufficient or do people want chocolatey too?

https://github.com/denoland/deno_install/tree/9a086b54a56553b98d15748750d6794e1f079477#install-via-package-manager

[2019-04-01 21:10] zekth commented on #1981
As Deno is already supported in Scoop and at the current latest version, i think the support of Chocolatey is not revelant anymore. Closing it.

Ref:
![2019-04-01 23_01_06-Windows PowerShell](https://user-images.githubusercontent.com/6959636/55359908-4a20b180-54d3-11e9-9819-6f4d40ba10fa.png)

[2019-04-01 21:10] #1981 closed

[2019-04-01 22:21] #2026 closed

[2019-04-02 01:46] #1742 closed

[2019-04-02 06:37] kevinkassimo commented on #2033
When printing out `innerType` of this msg received, I got `0` (aka `msg.Any.NONE`) which should never have happened if fired by any well-defined defined op... Something might have gone terribly wrong

[2019-04-02 08:07] ry commented on #2021
Unfortunately still broken
[code]
But it's no longer the redirect error - we just don't have HTMLElement in there...

[2019-04-02 09:22] zekth commented on #2014
This may be achieved by Allow Once no?
See https://github.com/denoland/deno/pull/1926

[2019-04-02 09:58] Janpot commented on #2014
Personally I've always found `NODE_ENV` (or equivalents in other languages) to be a bit of an anti-pattern. It encourages to put configuration management inside of the app, while I believe it belongs outside of it.
e.g. instead of doing:
[code]
I always encourage our devs to prefer the pattern
[code]
And use other tools to supply the correct values (we use docker-compose locally and kubernetes in

[2019-04-02 10:15] zekth commented on #2014
Totally agree with @Janpot .
So you can get your context of app using `Deno.env()` and store it in a variable. After that you only have one reading of the `env`.
@afinch7 what happened to `allow once` feature?

[2019-04-02 12:27] terasum opened #2037 "when building deno, raise error "Unrecognized option: 'edition'""
OS: macOS Majave 10.14
rustc: rustc 1.26.2 (594fb253c 2018-06-01)
python 2.7.15
ninja: 1.8.2

commit revision: 534b8d30219a605c82bac706bc5429d44ae53c32

error message:
[code]

[2019-04-02 12:28] jorsi commented on #2033
I've been poking into the typescript api with flatbuffers. Not sure if I understand enough of it yet to give any feedback, but it seems like some of the flatbuffers created in the api are missing some fields.

E.g. https://github.com/denoland/deno/blob/master/js/fetch.ts#L327
The generated msg.HttpHeader in "gen/cli/msg_generated" has a createHttpHeader() function which seems to add a status field

[2019-04-02 12:28] terasum commented on #2037
clang version 4.0.0 (tags/checker/checker-279)
Target: x86_64-apple-darwin18.2.0
Thread model: posix
InstalledDir: /usr/local/bin

[2019-04-02 12:59] ry commented on #2037
What version of rustc do you have? We use 1.33

[2019-04-02 13:01] terasum commented on #2037
rustc version: rustc 1.26.2 (594fb253c 2018-06-01)

I'll try a newer version, thx!

[2019-04-02 15:25] kt3k commented on #2021
I think this issue can be closed because `--info` option now works for the given url `https://unpkg.com/@google/model-viewer@0.1.2/lib/model-viewer.js?module` and the entire dependency tree is visible. ( [log](https://gist.github.com/kt3k/0491bc4b52ad100a02e58aeee06906ac) )

[2019-04-02 15:29] terasum commented on #2037
after upgrade rustc to 1.33, fixed.

[2019-04-02 15:29] #2037 closed

[2019-04-02 15:36] ry commented on #2021
Ok closing. Not sure why I was hitting that.

[2019-04-02 15:36] #2021 closed

[2019-04-02 20:57] harthur commented on #1745
I came across this when searching for other projects having issues with `GetIdentityHash`. Circling back around just to say that I found out it's only 21 bits now, so we in another project were having issues with collisions in just hundreds of instances.

[2019-04-02 21:16] galkowskit commented on #1820
The issue I have with the above solution is that, while it works great, it adds `node_modules`, `package.json`, `tsconfig`, etc. Things I'd like to avoid while using Deno. If I have to have those - I'm a step away from just using Node.js. I think it would be perfect to be able to setup a development environment without having Node.js installed at all.

Is there currently any way of achieving that

[2019-04-02 21:45] guybedford commented on #2014
Agreed this comes down to the lack of better primitives.

For example a major use case in Node.js as well here is the following:

[code]

Handling these kinds of conditionals at the resolver level sounds preferable to me. Ideally through import maps in Deno.

[2019-04-02 21:45] #2014 closed

[2019-04-03 05:22] ry commented on #1745
Ok thanks - good to know.

[2019-04-03 12:51] ExE-Boss commented on #1432
Also, it might be a good idea to only search sibling directories on a local file system.

[2019-04-04 00:25] jorsi opened #2045 "deno\buildtools\win\clang-format.exe: invalid argument"
![clang_format_error](https://user-images.githubusercontent.com/7156655/55521311-51b89580-564e-11e9-8a58-7f739acebf93.PNG)

This is on Windows 10, in both Powershell and command prompt shell. I have no problem running build.py, test.py, or lint.py.

[2019-04-04 14:00] piscisaureus commented on #2045
This is too little information to say something meaningful about it.
Maybe you have another version of clang-format installed that's being invoked due to a bug?

[2019-04-04 16:20] jorsi commented on #2045
Would this have been installed with the Visual Studio C/C++ tools when setting up rust? I’ll try reinstalling those and see what happens.

[2019-04-04 19:52] ry commented on #2045
@jorsi no, it's downloaded when you run tools/setup.py ... Look at `third_party/depot_tools/clang_format` in the Deno source code.

[2019-04-04 21:24] jorsi commented on #2045
Hmm, still stuck. I pulled all the sub-modules agin, ran setup.py, and then set quiet=False. Gives a bit more information but still invalid arguments:

![image](https://user-images.githubusercontent.com/7156655/55589494-59377780-56fe-11e9-84e6-4872f6803470.png)

I'll keep poking around and see what I can do.

[2019-04-05 03:56] Fenzland opened #2054 "Dynamic import require"
ESModules without dynamic import is incomplete.
We cannot do this:
[code]
nor this:
[code]
Only dynamic import can make ESM as strong as CommonJS or AMD.

Maybe there are some security reasons. But local dynamic import should be retain.

[2019-04-05 04:02] ry commented on #2054
Dynamic import is indeed not yet supported. I was surprised to see that we don't have an issue for this yet. Thanks for creating this - it's on my roadmap.

[2019-04-05 04:19] ry commented on #2045
Very odd. You'll have to poke at it. But I would copy and paste that last command back into the terminal - and try modifying the arguments. What if you remove the "-i". What if you remove the "-style Google"... See if you can get it to work somehow.

[2019-04-05 04:54] ry opened #2056 "Deno.listen(":8000") gives an indecipherable error message"
`Deno.listen(":8000")` is missing the first argument - it should be `Deno.listen("tcp", ":8000")`. The error message for this common mistake looks scary and doesn't give a good idea of what's happening:
[code]

[2019-04-05 05:40] ry opened #2057 "Rewrite deno_dir.rs"
deno_dir is starting to show its age, it's time for it to be redesigned from scratch. Here are some of the issues I want to address

* Potentially multiple deno processes may be downloading the same file at the same time. Therefore they should write to "filename.ts.$RANDOM_NUMBER.download" and when they complete rename it to "filename.ts"
* Module resolution should be done using exactly this API:

[2019-04-05 05:49] kevinkassimo commented on #2056
This only happens in JS files and it is due to no runtime validation of arguments (types & argument list length). I brought up this once before but Kitson was strongly against adding these checks due to performance concerns.

[2019-04-05 13:56] amiteshore opened #2058 "How can I use Deno now?"
How can I use the Deno API now?

Like importing `fs`, `path` or `os` modules and then using in node,
how can I explore the Deno API now?

I looked at the official Deno API documentation in [here](https://deno.land/typedoc/).

I did installed Deno on my computer and It perfectly running all .ts files.

[2019-04-05 13:57] ry commented on #783
Example of how this could be done
[code]

[2019-04-05 14:17] bartlomieju commented on #2058
Check out [deno's standard library](https://github.com/denoland/deno_std) and [module registry](https://deno.land/x/).

You can import modules referencing them by url:
[code]
[code]

If you have any questions feel free to join [gitter chat](https://gitter.im/denolife/Lobby)

[2019-04-05 14:21] zekth commented on #2056
But it's only on the initialization of the `ListenerImpl` so doing null check is not affecting performances of the http server or am i wrong?

[2019-04-05 17:24] amiteshore commented on #2058
Yeah, thanks. I got it.
Closing...

[2019-04-05 17:24] #2058 closed

[2019-04-06 07:12] hayd commented on #2057
cli/compiler's ModuleMetaData is also closely related, should that be pulled out too?

I propose this be called core/cache.rs. Happy to have a stab at this.

[2019-04-06 13:23] zzz6519003 opened #2063 "Do no/de have to be coupled with V8?"

[2019-04-06 13:23] zzz6519003 commented on #2063
:beer:

[2019-04-06 22:13] #1987 closed

[2019-04-07 01:25] balupton commented on #1824
Perhaps https://discuss.bevry.me/t/how-bevry-automates-maintenance-of-its-prolific-open-source-portfolio/693?u=balupton and https://github.com/bevry/bevry-eslint-config would be useful as it detects the needs of the project and adapts the linting accordingly

[2019-04-07 01:28] balupton commented on #1826
Having written github.com/bevry/watchr I would encourage no built in watching apis, as watching is such a difficult problem. I think in nearly all cases people would be best served by facebook's watchman instead. Which does not use the node apis at all.

[2019-04-07 01:29] balupton commented on #1612
Shouldn't this be in user land?

[2019-04-07 01:31] balupton commented on #1456
And guides for zeit's now.sh service?

[2019-04-07 01:38] ry commented on #1826
watching != fs notifications

[2019-04-07 01:42] ry commented on #2057
@hayd I think core/cache.rs is a good name. `ModuleMetaData` is used in several situations where it shouldn't be ([example](https://github.com/denoland/deno/blob/780e72ab6a092a6a7174c30bf4163857770d2ad0/cli/deno_dir.rs#L349-L367)) and `ModuleMetaData` has some bits to support TypeScript whereas `//core` is only JS - so I don't think it should be brought over.
Glad you want to take this on, I'd lik

[2019-04-07 01:50] ry commented on #1824
This was completed in #1905

[2019-04-07 01:50] #1824 closed

[2019-04-07 02:00] hayd commented on #1456
@balupton is zeit just a wrapper around AWS Lambda?

In order to get a binary for Lambda you need to build deno on musl without glibc dep, I had made some progress following [this gist](https://gist.github.com/tylerchr/15a74b05944cfb90729db6a51265b6c9) but wasn't able to quite get there... though I'm confident it is feasible.

[2019-04-07 04:35] trusktr opened #2067 "Possible to build Chrome with this engine in place of regular V8?"
Is it possible (and then to write web apps with it)?

[2019-04-07 05:45] ry commented on #2067
No

[2019-04-07 05:45] #2067 closed

[2019-04-07 07:27] hayd commented on #2063
Theoretically no, practically/for the moment yes. Libdeno could be written for spidermonkey etc but there's no reason to do this atm. One day, perhaps, there could be alternative backends.

[2019-04-07 10:29] bartlomieju commented on #2057
IMHO `gen/` is fine as is, I'd hate to see my project dir explode with generated files after running `deno`, it'd be nightmare to add entries to `.gitignore` for each simple project.

I want to suggest a way to purge `gen/` dir, it's been mentioned a few times already, especially when upgrading between versions that change compilation process. Although I'm not sure if `--reload` handles that alrea

[2019-04-07 13:19] Alexsey opened #2069 "Rename Deno into deno"
In TypeScript/JavaScript in almost all conventions camelCase is used for variable names except of classes/constructors and only classes/constructors are named in PascalCase. So having `Deno`, the core object of the infrastructure in PascalCase is breaking the common convention for no reason. How about renaming it to `deno` before it's not too late?

[2019-04-07 14:43] kevinkassimo commented on #2069
We used to (at least conventionally) have it as `deno` in the past when we import the APIs as if it was a module (`import * as deno from "deno"`). However, PascalCases are also used in JS e.g. for `Math`/`Reflect` to represent namespaces, so it is actually following convention

[2019-04-07 15:16] Alexsey commented on #2069
yes, sometimes namespace objects of code JS/TS are named in PascalCase. But `Deno` is an env variable, like `window` in browsers or `process` in NodeJS

[2019-04-07 19:31] ry commented on #2057
I wasn’t suggesting that the generated files would be in the project directory. They’d still live in the cache directory. For example if you had /home/ry/main.ts that would map to $DENO_DIR/file/home/ry/main.js

[2019-04-07 19:49] bartlomieju commented on #2057
I didn't catch that... This approach is super clean :+1:

[2019-04-07 19:58] hayd commented on #2057
For consistency would you also cp main.ts to $DENO_DIR/file/home/ry/main.ts ? That way "generated javascript and source maps should live along side their typescript counterparts" in the same way as they do for http/https.

[2019-04-07 20:16] jorsi commented on #2045
So I eventually got format.py to work by installing LLVM 3.7.0 onto my machine and changing the default clang-format from ./buildtools/win/clang-format.exe to my local machine installed version.

Not exactly sure what is wrong with the ./buildtools/win/clang-format.exe -- it gives invalid argument no matter what arguments are if there are none (e.g. --help, removing -i, removing -style Google, etc

[2019-04-07 20:42] hayd commented on #2054
#1789 is related (also on ry's roadmap!)

[2019-04-08 00:16] ry commented on #2057
@hayd hmm seems superfluous...

[2019-04-08 00:31] hayd commented on #2057
That's true, I agree it's a little weird, but otherwise among http/https/etc. file is going to be a special case in not having a .ts file alongside .js and .js.map...

[2019-04-08 07:35] nimahkh opened #2072 "Command 'deno' not found in ubuntu 18.04 ( a guide to solve this )"
Thanks for your great job @ry  .
i do installation like this :<br/>

[code]
when i run <br/>

[code]
i get command 'deno' not found error <br/>
im using ubuntu 18.04 .

<br/>

as you say in shell script , we have to add

[code]

after this , in new instance of terminal , again we have to add it again .

<br/>

to solve this , please add this guide in installation ,

<br/>

[code]
after that comman

[2019-04-08 07:55] zekth commented on #2072
From manual:
[code]

[2019-04-08 07:58] nimahkh commented on #2072
it will not do anything , cause i have zsh , so i need to set it inside of bashrc or zshrc , if you read my issue , you will see i give an opinion to others , and solved it . <br/>
thanks bro  :heart:

[2019-04-08 08:06] zekth commented on #2072
The mandatory thing is to have it in your `$PATH` the way you do it is related to your usage, so describing all usages is not really revelant to add it in the documentation.

[2019-04-08 08:10] nimahkh commented on #2072
your right , i think somebody maybe need this to

[2019-04-08 13:05] ry commented on #2072
Once we're integrated with package managers this will be less confusing for people.

[2019-04-08 13:05] #2072 closed

[2019-04-08 13:26] ry commented on #2054
Oh thanks @hayd. Somehow that didn't come up when I was searching.

Closing. Duplicate of #1789.

[2019-04-08 13:26] #2054 closed

[2019-04-08 13:28] ry commented on #1789
I want to complete async module loading before attempting this (which is essentially this issue: https://github.com/denoland/deno/issues/1320)

[2019-04-08 13:33] ry opened #2075 "Add style guide for commit messages"
Our commit message formatting is all over the place. Now that Deno is a bit more mature we should try to nail this down. Ideally we'd have some sort of lint for commit messages as well (for example, the first line of commit end in a period, CI should reject such messages)

https://golang.org/doc/contribute.html#commit_messages
https://github.com/golang/go/wiki/CommitMessage

[2019-04-08 15:30] ry opened #2076 "core should not export "deno_buf""
deno_buf has poorly defined (complex) lifetime semantics. It should be something that is internal to //core but not exposed to users.

[2019-04-08 16:10] zekth commented on #2075
Agreed. Also it would be nice to work on the style guide of Issues and PR using the github templates.

[2019-04-08 16:19] ry opened #2077 "cli::Worker and cli::Isolate should be merged"
And they should both run on the same tokio executor.

Although in the limit we might want to have differences between worker and main thread APIs, we need to unify and simplify first. I am worried about the problem of deep class hierarchies - at the moment cli::Worker wraps cli::Isolate which wraps deno::Isolate. This is too deep and is confusing. We should have only one level of wrapping.

Let's

[2019-04-08 19:10] kevinkassimo opened #2079 "Discussion: using BigInt for certain fs related values"
Seeking to polish file system calls to comply better with POSIX spec recently. One thing I noticed is that many values could theoretically exceed `Number.MAX_SAFE_INTEGER`.

However, we have mostly treated them still as if they are all with values smaller than `2**31-1` (similarly in formats of flatbuffers). There are actually cases where we might get/use value larger than this (e.g. seeking on a

[2019-04-08 19:21] ry commented on #2079
I'm slightly worried that using BigInt will kick us out of V8 optimizations. That said, we don't measure it, so I don't particularly care.

I think the proper thing to do here would be to get a benchmark that ran Deno.stat a bunch of times, so we could ensure it doesn't regress.

[2019-04-08 20:25] ry commented on #2069
It seems modern web namespaces use lower-case names. Example https://developer.mozilla.org/en-US/docs/Web/API/Performance

Also "deno" is one less button to type vs "Deno".

[2019-04-08 20:50] ry opened #2081 "deno eval"
Add new subcommand for evaluating on the command line
[code]
Would be cool to have some examples of using Deno.stdin along with this feature in the manual.md to do unix-style line processing. Here's an imaginary command which prints all of the users on the system (note that Deno.lines is not implemented)
[code]

[2019-04-08 21:10] #2077 closed

[2019-04-08 21:26] MarkTiedemann commented on #1729
This is documented in the Known Issues section of `deno_install`: https://github.com/denoland/deno_install#could-not-create-ssltls-secure-channel

Also, this is fixed in PowerShell v6.

@ry Is it possible to allow TLS 1.0 specifically for `https://deno.land/x/install/install.ps1`? Otherwise, I think this is a "won't fix".

[2019-04-08 21:36] MarkTiedemann commented on #1965
On Windows, you can install `deno` via `scoop` already: https://github.com/denoland/deno_install#install-via-package-manager

In regards to `-UseBasicParsing`, I believe we should add a note to the Known Issues section (https://github.com/denoland/deno_install#known-issues) as well as use the flag in the script internally.

[2019-04-08 21:40] bartlomieju commented on #2081
I'll take a stab at it 🚀

[2019-04-08 21:44] ry commented on #1729
@MarkTiedemann It's a redirect to github anyway, so probably not.
won't fix is fine.

[2019-04-08 21:44] #1729 closed

[2019-04-08 23:29] kevinkassimo opened #2083 "formatError would emit confusing error message if source of error holds global builder in REPL"
e.g.
[code]
This failing `assert` is due to `gb.inUse`, which means that an error occurred while on the TS side with the global builder still held, that `formatError` for error formatting in REPL would not be able to use this builder (not yet released. This builder is only released upon actually completing a `sendInternal`.)

[2019-04-09 01:42] hayd commented on #2079
If we use i64/u64 and Number, but assert < Number.MAX_SAFE_INTEGER would that suffice?
This could be coerced prior to sending via the new core dispatcher (e.g. a SafeInteger type in rust).

[2019-04-09 02:16] ry commented on #2079
Yes @hayd, I think that's a better solution.

[2019-04-09 02:18] axetroy commented on #1947
reproduce step.

[code]

I test again. it works in ``Deno@0.3.6``

[2019-04-09 02:18] #1947 closed

[2019-04-09 07:34] johnsonjo4531 opened #2086 "Missing variable declaration for encoder in deno manual entry"
Hello, this is my first deno issue. I feel like tons of progress has been made on this project over the last couple of months, so great job so far to all the people making this project happen! Anyways, in the deno manual in the ["Inspecting and revoking permissions" section](https://deno.land/manual.html#inspectingandrevokingpermissions) the code block is missing the `encoder` variable declaration

[2019-04-09 15:05] bartlomieju commented on #1963
Resolved in #1975

[2019-04-09 15:57] #1963 closed

[2019-04-09 18:17] ATheCoder commented on #1948
Rust standard library does not implement utimes, However there is a crate that does: https://docs.rs/utime/0.2.2/utime/
Go does implement it: https://golang.org/pkg/os/ (search for `func Chtimes`)
Ruby does: https://ruby-doc.org/core-2.2.0/File.html#method-c-utime
Python has it on it's `os` module: https://docs.python.org/2/library/os.html (search for `utime`)

[2019-04-09 19:50] ry commented on #1948
Cool, so it looks like we had done the reasonable thing in Node back then. I'd say the interface should be:
[code]
Any objections?

[2019-04-09 20:36] kevinkassimo commented on #1948
Probably also allow changing just one of the 2 timestamps? (similar to what [utimensat](http://man7.org/linux/man-pages/man2/utimensat.2.html) does)

[2019-04-10 09:59] Fenzland commented on #2054
so did I

[2019-04-10 10:18] axetroy opened #2090 "make deno xx.ts --fmt print output to stdout"
### Why print output to stdout?

For better integration by third parties.

Such as the IDE's formatting tool.

ref: https://github.com/denoland/deno_std/pull/332

This is my proposal, I hope it helps.

**Proposal 1:**

[code]

**~Proposal 2:~**

~add a new flags `--fmt-stdout` for `deno`~

[2019-04-10 15:16] evenstensberg opened #2091 "Polyfilling `require`"
When importing a js file, of which, has top-level require in it, is there a way to polyfill those to use imports or something similar in order to get the script loaded?

Might be related to #2054 but it's not dynamic

[2019-04-10 16:41] incadenza commented on #2056
Yeah, seems like the checking could be done prior to initializing the `ListenerImpl ` class. I'm interested in the project and happy to take this on if there are no additional concerns.

After just looking for a moment, worth noting that the same issue likely applies to to `dial` as well.

[2019-04-10 18:02] hayd commented on #2056
The issue is that it applies to *every* op. I think that was @kitsonk 's perf concern, also this is going to potentially be a lot of boilerplate code wrapping every op.

[2019-04-10 18:31] incadenza commented on #2056
It certainly would be. Correct me if I'm wrong, but it's not clear what choice there is. Either allow .js files and throw un-friendly errors, or provide some friendlier run time validation errors, no?

[2019-04-10 23:58] kevinkassimo opened #2092 "--v8-options not working"
`--v8-options` on latest master currently does not do anything.

[code]

cc @bartlomieju

[2019-04-11 02:41] justjavac commented on #2090
**gofmt**: by default, prints the reformatted sources to stdout, output to files using `-w`

**rustfmt**: by default, prints the reformatted sources to file, output to stdout using `--emit stdout`.

[2019-04-11 07:53] bartlomieju commented on #2092
Thanks @kevinkassimo you're right. I'm adding a PR to fix that

[2019-04-11 09:09] galkowskit commented on #2063
https://github.com/nodejs/node-chakracore
No, it doesn't have to be on V8. Here is an example of Node.js based on Chakra (Edge). But I think it's out of the scope for Deno project ATM.

[2019-04-11 09:54] Fenzland opened #2094 "async console.log does not print anything"
[code]

test.js
[code]

execute:
[code]

expected:
[code]

actual:
[code]

async console.log does not print anything.

[2019-04-11 10:00] Fenzland commented on #2094
I just call Deno.exit() somewhere. Sorry

[2019-04-11 10:00] #2094 closed

[2019-04-11 14:20] #2092 closed

[2019-04-11 15:02] ry commented on #2091
For common JS this should be possible - you just readFileSync the file and eval it (in some manor). However for loading ES modules, we need the #2054.

[2019-04-11 15:49] ATheCoder commented on #1968
I've been working on this for the past week and here is what I got so far.

### **Compiling Deno with chromium's ICU:**

1. Change the flag of `v8_enable_i18n_support` to `true` in the `.gn` file
2. clone chromium's ICU from `git clone https://chromium.googlesource.com/chromium/deps/icu` to `deno/third_party/
3. checkout ICU to the version specified in [Deno's v8's DEPS file](https://github.com/de

[2019-04-11 18:29] evenstensberg commented on #2091
I traced this back to https://github.com/denoland/deno/pull/1938 but it's another issue. What's the current status?

[2019-04-11 19:12] markstos commented on #1397
@reggi Resolving to the oldest dependency version is still prone to inconsistencies as well, as the oldest version of a module might disappear over time, so that someone asking for the oldest version in the future might get a result. Modules might be removed for serious security issues, legal issues, or major bugs.

The whole goal of minor version bumps is to add *compatible features* and *bug fix

[2019-04-11 19:30] ry opened #2096 "Provide JS API to dependency information (`Deno.info()`)"
Currently "deno info https://deno.land/std/http/file_server.ts" will display a dependency graph of the specified module. It would be nice to be able to access this information in a programmatic way.
[code]
Where depTree would be some JSON encodable object similar to the current output.

The first step to exposing this would be pure rust functionality of turning a `Deps` structure into a JSON strin

[2019-04-11 19:59] ry opened #2097 "panic in compiler thread does not make deno crash"
Apparently we are swallowing errors when the compile thread crashes.

Likely this is caused by [Tokio's panic swallowing "feature"](https://github.com/denoland/deno/issues/1311)

[code]

Likely the fix is to reintroduce this:
[code]

[2019-04-11 20:15] #1777 closed

[2019-04-12 05:18] hayd commented on #2079
AtomicU64 is stabilized in rust 1.34, so should be able to define AtomicSafeInteger too.
(So is try_from.)

[2019-04-12 11:06] zekth opened #2103 "Refactor stringified Perm from unit test"
as mentionned in: https://github.com/denoland/deno/pull/1977

cc @ry @hayd

I'll give it a purpose for this.

[2019-04-12 11:26] kitsonk commented on #2056
My concern has always been consistency in guarding against parameters at runtime and maintaining it considering the fact that we have TypeScript which does all of that essentially at runtime in Deno. My opinion is people choosing to abuse APIs in JavaScript who can get meaningful, self maintaining type errors get what they deserve. Restoring CheckJs would also allow this without the use of TS to g

[2019-04-12 13:26] Swivelgames commented on #2056
@kitsonk So, in other words, if you write a piece of code in JavaScript and get a runtime error, you deserve it because you weren't using TypeScript? Sounds more like Deno supports it because it has to. Why support it? Just amputate the infected limb and make it TypeScript-only. Doesn't sound like its worth the extra effort and degradation in performance.

[2019-04-12 18:56] ry commented on #2103
I think those strings are less readable than the current scheme. Ideally a unit_test refactoring would do this:
1. load the unit tests without running them, get a list of all the permissions
2. automatically start deno subprocesses which filter on all permission combinations present in the list from 1)

[2019-04-12 19:19] kitsonk commented on #2056
@swivelgames I think you are misunderstanding my opinion. Runtime argument checking is always chasing your tail in JavaScript. There are infinite numbers of ways of abusing APIs in JavaScript. Check JS feature would immediately give a meaningful error in this case, but we don't enable it at the moment.

Runtime argument type checking in JavaScript is a rabbit hole. I am just challenging the receiv

[2019-04-12 20:47] Chococrok opened #2105 "deno cannot import file from url without context"
### Description

As a test, I tried to serve a .ts file with a simple node application serving at http://localhost:8080. Then I tried to import it from an other ts file executed with deno. The result was an error hard to understand (See below)

### Steps to reproduce

  * Serve a simple ts file at http://localhost:8080
  * Execute an other ts file with deno containing :
[code]

### Logs

[code]

[2019-04-12 21:07] phil294 commented on #986
deno could solve an issue that [Python](https://stackoverflow.com/q/5458048/3779853) and [Node](https://stackoverflow.com/q/8173232/3779853) have: Ease of running foreign scripts for casual users.

The use case is simple: When my aunt asks me for a programm to organize her holiday pictures on her Windows machine, she does not want to download and install a 30 MB programming environment - she wants

[2019-04-12 21:42] ry commented on #986
Bert and I are actively working on this. Hopefully we’ll have a demo in a two weeks or so.

[2019-04-13 09:40] rsp commented on #2081
@ry I've just watched [your latest talk](https://youtu.be/z6JRlx5NC9E) where you say that you'd like Deno to be your new Perl and I realized that it was basically the reason why I wrote my comments to #1038 and #929, and since one of my use cases for Perl is unix-style line processing, I recently put some thought into how the set of command-line switches of my dreams would look like, especially af

[2019-04-13 10:34] bartlomieju commented on #2081
To extend @rsp's example of CLI args: we talked about "permission maps" which essentially could be a JSON file similar in structure to import-map. It would allow to granularly specify what is allowed for package and its imports.
Example:
[code]
[code]
This solution requires that permissions are "contextful" - during `op` we'd need to know which module issue this call and resolve it against the map

[2019-04-13 12:21] cllty opened #2107 "Deno advantages and potential"
Hi everyone this is a question not an issue.

I have a seen similar issue like https://github.com/denoland/deno/issues/245 already but haven't fully grasped what advantages deno bring compared to nodejs (or any other language if that matters) in terms of robustness, scale, or performance. Also is deno just a runtime to prototype with, thus with no regards to performance? I have seen issues like ht

[2019-04-13 13:26] JamesKyburz commented on #712
adding dynamic import would make creating a custom aws lambda runtime easier. As Amazon defines the function location and handleer in a bunch of env variables meaning you have to import(dir + handler etc)

[2019-04-13 13:27] JamesKyburz opened #2108 "expose Request, Response globally"
If fetch is available as a global should we not also expose Request, Response and friends like the browser environment does?

[2019-04-13 14:17] bartlomieju commented on #1872
Can we close this one now?

[2019-04-13 14:19] bartlomieju commented on #1882
@ry do you still want to do it?

[2019-04-13 14:19] bartlomieju commented on #1896
@zekth is this still the issue with `Deno.build`?

[2019-04-13 14:20] bartlomieju commented on #1907
Can be closed CC @ry

[2019-04-13 14:33] zekth commented on #1898
In addition have to comment this line to make it work:
https://github.com/denoland/chromium_build/blob/89b12c46424e9d18499ebecda24cfc5fad0c2c4f/toolchain/win/tool_wrapper.py#L29

maybe it's due to my env

[2019-04-13 14:37] cup commented on #1872
@bartlomieju I just tested again. Current Node executable is 21.0 MB vs
Deno 41.8 MB.

There seems to be no desire to improve the situation, and in fact the issue
seems to be getting worse.

So maybe the best thing to do is close as "wont fix".

[2019-04-13 15:41] kitsonk commented on #1872
You are comparing apples to oranges.  We track the size the binary in the stats and do care about it, but the two things I mentioned above are significant differences to Node.js.

[2019-04-13 15:43] kitsonk commented on #2108
`Request` and `Response` are there, just not exposed globally.

Is there a use case for exposing them globally?

[2019-04-13 15:46] kitsonk commented on #2107
The issue tracker really isn't a good place for something like this.  The home page (https://deno.land/) provides a collection of information of the purpose and intent of Deno.  General discussion occurs on Gitter (https://gitter.im/denolife/Lobby).

[2019-04-13 15:48] kitsonk commented on #2105
Deno does not support "magic" index URLs.  The web server would need to redirect to something with an extension.

[2019-04-13 15:50] cup commented on #1872
@kitsonk i think its more like apples versus larger apples.

[2019-04-13 16:31] JamesKyburz commented on #2108
`Request` can be used by [fetch](https://developer.mozilla.org/en-US/docs/Web/API/WindowOrWorkerGlobalScope/fetch#Syntax) instead of string and options.

However both `Request` and `Response` are global the browser environment.

`Response` would be nice to be able to mimic a Cloudflare worker locally (which has already been done in node)

[2019-04-13 17:24] #2081 closed

[2019-04-13 17:27] #203 closed

[2019-04-13 18:10] ry commented on #2081
@rsp You bring up a couple of different ideas - I will try to address them individually

1. "deno eval" means you cannot execute a javascript file named "eval". That's a good point and I hadn't considered. Maybe it's not such a big deal since there's only a finite number of subcommands. As long as you avoid "fmt" "eval" "types" and a few others it should still be possible to use extensionless scri

[2019-04-13 18:15] ry commented on #1882
@bartlomieju We need to solve the problem of importing stuff from deno_std first. When I created this issue I had forgotten it wasn't passible yet.

[2019-04-13 18:18] ry commented on #1907
Thanks

[2019-04-13 18:18] #1907 closed

[2019-04-13 18:31] piscisaureus commented on #1898
What version of git are you running?

[2019-04-13 18:45] zekth commented on #1898
I was up to date when i wrote it, so 2.21

[2019-04-13 18:49] cybor0 commented on #1898
Same behavior on 2.17

[2019-04-13 19:29] ry commented on #2108
True, it is global in the browser. We ought to make it global in deno too.

[2019-04-13 19:38] ry commented on #2107
@cllty This is an experimental project exploring how the JS runtime/ecosystem could be improved/simplified and what kind of tooling is enabled by modern infrastructure. [I discuss this in some detail in a recent talk.](https://www.youtube.com/watch?v=z6JRlx5NC9E)

[2019-04-13 19:38] #2107 closed

[2019-04-13 19:40] ry commented on #2105
What are the headers the web server responses with? It needs to be application/javascript or application/typescript

[2019-04-13 19:47] ry commented on #1872
[We track binary size](https://deno.land/benchmarks.html#size) and want to keep it as small as possible - but Deno includes the typescript compiler which is going to inflate the binary size. It will probably never be smaller than Node.

If you want a very minimal environment check out the Deno crate: https://crates.io/crates/deno
A minimal example clocks in at 16 megabytes:
[code]

[2019-04-13 19:47] #1872 closed

[2019-04-13 19:49] hayd commented on #2081
The other issue with the json is does write access (to that file) imply permissions could be increased on subsequent executions. So would you need to write protect it somehow (I guess you could have a blacklist of write access as well as a whitelist).

Is there a standard within CSP?

Kevin had a good solution for 1. having run as (the default) subcommand, that way you can use `deno run eval` if y

[2019-04-13 20:17] kevinkassimo opened #2112 "--v8-flags not passing flags to v8"
e.g. previously by specifying `--expose-gc`, a `gc` function would be exposed. However, under the new flag parser, seems none of the v8 flags are working...
[code]

cc @bartlomieju

[2019-04-13 20:41] bartlomieju commented on #2112
I've spotted the problem, fixing it now

[2019-04-13 22:22] rsp commented on #2081
@ry

1. as for the filename not being able to be named`eval`, maybe if we have an (optional) command `run` then we could use it in such cases:

[code]

2. The more I think about the idea of dash-less commands, the more I like it. Seeing how well it works with git, it could give us context to know which flags can be used together plus a lot of space for new features in the future. If we have `run`

[2019-04-14 06:58] hayd commented on #2108
Is there a way to generate a list of globals in chrome/Firefox/deno? That way could enumerate what is intentionally omitted vs what is awaiting implementation.

This would also be nice as documentation...

[2019-04-14 07:39] kitsonk commented on #2108
That would be a long long list.  I think use case driven is still the best way.  We are not going to implement `name` for example. 😄

[2019-04-14 07:47] benjamingr commented on #2108
I think there is merit in collaborating with the JS standard library spec proposal to see if Deno can have a say on what's exposed.

There are things the browser exposes it makes no sense for Deno to expose and vice versa.

[2019-04-14 07:49] benjamingr commented on #2091
You can run rollup or another bundler on that file first and get an output without top level require - it's what I've done with Deno before when trying to "share code" between projects.

[2019-04-14 08:24] kitsonk opened #2114 "Ability to support CheckJS"
After #2089 lands, we will be able to add back support for "CheckJS".  This feature can solve a couple problems:

- It can statically analyse JavaScript code, leveraging JSDoc annotations, for any type violations without the code having to be authored in TypeScript.
- It can in many cases transpile other module formats (e.g. CommonJS) to ESM for use in Deno without needing other pre-processing.

[2019-04-14 08:38] kitsonk commented on #2091
I think properly polyfilling `require()` would be challenging, and top level requires are essentially dynamic imports and would be a whole challenge because of the lack of top level await and the whole flow of the loading.  Essentially you would be building a whole loader within a loader.

Both @benjamingr's solution and #2114 is a potential solution.  #2114 would be the way that I think we should

[2019-04-14 14:34] ry commented on #2108
I didn't mean to suggest that Deno should have feature parity with browsers - that would be very difficult and outside of the scope of Deno. But where we provide a certain API (in this case `fetch()` and its associated `Request`) I think we shouldn't change how it's presented (in this case by having `Request` not be a global)

[2019-04-14 15:39] benjamingr commented on #2108
@ry true, though that might be confusing since the type `Request` will also be exported globally (right?) which might be confusing since request can be:

 - An HTTP Request I'm making through `fetch`.
 - An http request I received on the server.

If projects like deno_std/http used `Request` (rather than ServerRequest) that would be cool since it's align them with service workers and `fetch`.

[2019-04-14 15:59] hayd commented on #2108
It would be a long list but I imagine the vast majority will be labelled "intentionally omitted"!

[2019-04-14 16:03] Chococrok commented on #2105
Extension doesn't seems to matter. It works if I serve my file at ```localhost:8080/too/test.blorg```.
Deno doesn't care about Content-type header neither.

The reason is that deno cache the scripts into ```~/.cache/deno/http/localhost_PORT8080/*.whatever```.
If the file is served at the root URL then the file name is empty and deno try to execute the parent folder.
Same happen if you serve the fi

[2019-04-14 16:50] ry commented on #2105
Ah, yes I can imagine our code doesn't cover code at the root...

Just off the top of my head, I think a fix would involve doing a test similar to this:
https://github.com/denoland/deno/blob/b413cd5afd6b74b3e50bf6dbb5972ea7df9f34fd/cli/deno_dir.rs#L1001-L1078
But do have a look around at some of the other tests in `cli/deno_dir.rs`, some other might be more appropriate to copy. Hope that helps - i

[2019-04-14 17:06] JamesKyburz commented on #2108
Looking at the code it looks like `ReadableStream` could also be exposed?

[2019-04-14 20:07] #2097 closed

[2019-04-14 21:41] akircher commented on #2108
I don't think `ReadableStream` is [WhatWg compatible](https://streams.spec.whatwg.org/) so think making it global right now might be more confusing than helpful.  I haven't seen a reason why Deno doesn't use a WhatWg compatible API.  If the Deno implementation doesn't plan on browser compatability here, I think it would be good to rename the Deno implementation or namespace it, so we don't paint o

[2019-04-15 02:27] njbraun commented on #1082
Any update on this would be appreciated. I'm running into the exact same issue.

[2019-04-15 08:26] benjamingr commented on #2108
@akircher see old discussion in https://github.com/denoland/deno/pull/387

[2019-04-15 08:46] #2063 closed

[2019-04-15 09:37] zaynv commented on #2090
For most users, the use case will be to just run it on files? Wouldn't it make more sense to make the default user-friendly by making `--write` default and then make a flag to print it to stdout like `--stdout` so editors and such can use it.

[2019-04-15 15:50] ry commented on #1082
Can you try printing the arguments of `source_code_hash` ?

Maybe this has something to do with a redirect happening during resolution.

If you could provide the source code you're trying to run that would help.

[2019-04-15 16:15] ry opened #2120 "during tools/lint.py the following warning happens"
[code]

[2019-04-15 17:20] ry opened #2121 "Replace flatbuffers"
Our benchmarks are finally at the point where we're able to measure the overhead of serialization,
<img width="585" alt="Screen Shot 2019-04-15 at 1 13 19 PM" src="https://user-images.githubusercontent.com/80/56151880-459ed300-5f80-11e9-882f-26ceb76219ea.png">
and flatbuffers appears to now be our bottleneck (see benchmarks in https://github.com/denoland/deno/pull/1966)

Here are our requirements

[2019-04-15 20:12] Chococrok commented on #2105
Yes it helps, thank you for pointing me in the right direction. I will do my best although it's my first time reading some rust !

[2019-04-15 21:10] rsp commented on #2081
@hayd when I was talking with @bartlomieju about the permissions map, what I had in mind (maybe I didn't express it explicitly) was not something that **grants** privileges, but rather something that **restricts** them, and the fact of it being in a JSON file or not would be something irrelevant.

Maybe I'll use an example:

A file `./script.ts` starts with something like:
[code]
(the `perms` obje

[2019-04-15 22:09] rsp opened #2122 "Deno shouldn't use OpenSSL"
(Update: Looking at more issues and source code I see that probably only the build process requires OpenSSL, not Deno itself, but still there is some discussion of using other libs that themselves use at least two different TLS libraries so I leave the info below for consideration.)

Looking at #1787 it seems that the consensus is to use OpenSSL in Deno. I think it should be reconsidered for a pro

[2019-04-15 22:34] rsp commented on #2121
[Cap'n Proto](https://capnproto.org/) seems like the way to go for maximum performance. There were good points provided in issue #269 and having @kentonv himself on board we couldn't go wrong with serialization.

[2019-04-15 23:00] kentonv commented on #2121
I'm not sure if Cap'n Proto will perform much better than FlatBuffers. In theory, they should be similar, as they are both zero-copy protocols. I don't know very much about the details of FlatBuffers, so it's entirely possible there's some reason I'm not aware of why it would be significantly slower (or faster?) than Cap'n Proto. You could certainly try it and see what happens.

If they do in fact

[2019-04-15 23:08] ry commented on #2121
Some of our messages are very small - two int32 integers. We need a framework which can take a struct like
[code]
and compile into JavaScript code which only does the bare minimum:
[code]

We know this is fast...

[2019-04-15 23:21] kentonv commented on #2121
Hmm. You could short-circuit Cap'n Proto to provide something like that. Fundamentally when you have a struct reader in Cap'n Proto, it's just a pointer to a buffer, and each accessor method simply reads from / writes to an offset in that buffer. So if you directly construct a struct reader from a buffer that contains only that one struct, then that's basically what you get.

However, I'm not sure

[2019-04-15 23:29] fewf commented on #2096
I'm looking into implementing this

[2019-04-15 23:45] rsp opened #2123 "Arguments array - should the program name be included?"
Is there a reason that the program name is included in `Deno.args`?

In comparison to Node (that includes the `node` binary path in `process.argv`) Deno removes the `deno` binary path from the `Deno.args` and puts it in`Deno.execPath`. The TS/JS program name is available in `location.pathname` but unlike the `Deno.execPath` it is still left in the `Deno.args`. Is there a reason for that or is it j

[2019-04-15 23:54] kentonv commented on #2121
Oh, also: Is forwards/backwards-compatibility important to you? Or can you always assume the TypeScript and Rust sides are updated in lockstep?

If compatibility is not an issue I suppose there's a lot you can simplify, but serialization frameworks usually prioritize compatibility.

[2019-04-16 00:05] rsp commented on #2108
For a list of JS global objects (i.e. those from the language spec, not the DOM) see:
- https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects

(but some of them are not exposed as real globals - see my [unexposed](https://www.npmjs.com/package/unexposed) module on npm for more info)

The host objects available in browser contexts are available on MDN here:
- https://deve

[2019-04-16 02:39] kt3k commented on #2090
gofmt outputs the formatted contents to stdout, but `go fmt` subcommand formats the contents and writes into files.

I think `deno fmt` is modeled after `go fmt`, so I prefer writing by default, stdout with options.

@ry
How do you think?

[2019-04-16 03:28] ry commented on #2090
I agree @kt3k

[2019-04-16 04:57] pietvanzoen opened #2124 "Deno hangs in Ubuntu"
I've been trying to run Deno on an Ubuntu server but I'm finding that it hangs on reading the file it's running. I initially was trying to run this on the `maxmcd/deno` docker image. I then tried installing/running Deno on the machine itself and ran into the same issue.

I'm a little out of my depth to debug this so any guidance would be appreciated.

Ubuntu version 18.04.2 LTS (Bionic Beaver)

[c

[2019-04-16 06:47] kevinkassimo commented on #2124
@pietvanzoen Saw something similar to this in the [Gitter chatroom](https://gitter.im/denolife/Lobby) days ago. Try search `Trying to run deno in a microvm (using alpine with glibc)` in the Gitter history, the follow-up comments might be helpful.

[2019-04-16 08:15] bartlomieju commented on #2123
@rsp just for clarification with recent changes to CLI Deno behaves like example no. 2
[code]

[2019-04-16 09:51] rsp commented on #2122
More context to consider:

- [BoringSSL](https://github.com/google/boringssl) is used by [quiche](https://github.com/cloudflare/quiche)
- [RusTLS](https://github.com/ctz/rustls) is used by [quinn](https://github.com/djc/quinn) and [hyper-rustls](https://github.com/ctz/hyper-rustls)

(quiche and quinn are QUIC implementations considered in #1558)

(hyper-rustls was used in PR #1147 referenced in de

[2019-04-16 09:53] zekth opened #2125 "__dirname / __filename Polyfill"
Just an idea to facilitate migrations is to polyfill `__dirname` and `__filename`
`__dirname` can already be polyfilled by using `import.meta.url`

Edited like @rsp corrected

[2019-04-16 10:07] rsp commented on #2123
@bartlomieju so it will be more like Node which would mean skipping two elements to get the actual program arguments. I'm wondering if that is a good use of `Deno.args` if `Deno.args[0]` and `Deno.args[1]` are elements that are not arguments to the program, and that are already available in `Deno.execPath` and `location.pathname`. I can understand the rationale to put the program name in `argv[]`

[2019-04-16 10:51] yorkie commented on #2122
More TLS alternative: mbed TLS (formerly known as PolarSSL) makes it trivially easy for developers to include cryptographic and SSL/TLS capabilities in their (embedded) products, facilitating this functionality with a minimal coding footprint.

[2019-04-16 11:11] bartlomieju commented on #2123
@rsp agreed. `Deno.args[0]` is hard coded on Rust side so it's always `"deno"`. `Deno.args[1]` is script name that is optional (if you start REPL with `deno`). Maybe it's worth considering moving it to `Deno.scriptName/Deno.entryPoint`?

[2019-04-16 12:43] deepchudasama commented on #2124
Same here stuck when tried to example: `deno https://deno.land/std/examples/echo_server.ts --allow-net
`

[2019-04-16 12:56] rsp commented on #2125
`Deno.cwd()` is like `process.cwd()` in Node, not like `__dirname`.
It prints the current working directory, not the directory where the script is in.

[2019-04-16 13:00] rsp commented on #2123
@bartlomieju I agree that scripts shouldn't care about the interpreter flags, it was just an example for completeness sake. I think that ideally `Deno.args` should contain only args to the script, so e.g. for `deno run -RWX script.ts a b c` we would have:

- `Deno.args` is `["a", "b", "c"]`
- `Deno.name`/`Deno.denoName`/`runtimeName`/`binName`/`execName`/etc. - what was **actually** used to run th

[2019-04-16 13:08] rsp commented on #2091
@kitsonk I think it's even more complicated than that. With dynamic imports and top level await you wouldn't be able to implement require because it is synchronous and returns what was actually in `module.exports` immediately after the module wrapper was executed, so probably readFileSync+eval (plus caching) would be the only way to preserve the require() semantics.

[2019-04-16 13:11] ilpoo opened #2126 "Regex Unicode category matching throws"
Regular expressions that include a Unicode category matcher throw an error, while they work fine in Node and in Chrome.

Example:
[code]
Expected output:
[code]
Actual output:
[code]

I brought this up on Gitter and it was suspected to be due to the lack of ICU.

[2019-04-16 13:39] benjamingr commented on #2091
@rsp it is significantly simpler to use a module bundler (like webpack, browserify or parcel) to transpile all the requires for you (and deal with the `readFile` and order) and then do a single dynamic import.

[2019-04-16 13:56] ry commented on #2122
We are already using rustls and ring (outgoing fetch requests can do TLS - this is not yet exposed elsewhere). AFAIK we don't depend on OpenSSL (besides the bits that are forked from OpenSSL inside Ring).

[2019-04-16 13:56] #2122 closed

[2019-04-16 14:19] rsp opened #2128 "New permission to run Deno programs to avoid `--allow-run` privilege escalation"
Currently the `--allow-run` is a **carte blanche privilege**.

Running a script with `--allow-run` we might run it with `--allow-all` just as well, because a script having `--allow-run` can **run itself** with `--allow-all` and **escalate its Deno privileges** (not the OS privileges).

We need a new permission type and a command similar to `Deno.run()` to **run other Deno programs only** (e.g. `De

[2019-04-16 14:22] zekth commented on #2125
Right my test case was wrong but anyway the addition would be nice.

[2019-04-16 14:37] rsp commented on #2125
Using something like this will make the same output as Node:
[code]
but with Deno the modules doesn't have to have local filenames so it would work only if:
`new URL(import.meta.url).protocol === 'file:'`
In other cases you might want to leave the full URL.

[2019-04-16 14:37] zekth commented on #2128
This case has also been discussed about `allow-net` privelege too which would be great to add.

[2019-04-16 15:29] rsp commented on #2125
@zekth inspired by this issue I wrote a simple polyfill and put it on GitHub:
- https://github.com/rsp/deno-dirname

You can use it as:
[code]

[2019-04-16 16:19] afinch7 commented on #2121
I think the zero-copy parameter solves the problem of variable length. The read operation currently looks like this:
[code]
We don't perform any serialization on the zero copy parameter, so It can be any length it needs.

[2019-04-16 16:19] ry commented on #2126
Yeah - we don't use ICU.

[2019-04-16 16:38] zekth commented on #2126
Ref: https://github.com/denoland/deno/issues/1968

[2019-04-16 16:59] afinch7 commented on #2124
@jeromegn do you remember how you resolved this?
Also hang is somewhere in this async https://github.com/denoland/deno/blob/97f0fe7437ad4277afbdabf6cac214a40b637cd1/cli/worker.rs#L215

[2019-04-16 17:45] jeromegn commented on #2124
@afinch7 thanks for the ping, happy to help!

There are 2 scenarios where this can happen (in my experience):
- Only 1 cpu core available on the system (like in a VM with 1 vCPU.) Deno needs more than 1 thread to compile code.
- Not enough entropy generated on the system (this was harder to figure out.) Check `cat /proc/sys/kernel/random/entropy_avail` (also our `dmesg` should show something like

[2019-04-16 19:08] bartlomieju commented on #2124
This sounds like a bug, but still single CPU machine should be able to run more than 1 thread?

[2019-04-16 19:09] ry opened #2130 "Make "cargo test" work without having to run extra programs (e.g. tools/http_server.py)"
related to #1453

[2019-04-16 19:09] pietvanzoen commented on #2124
Thanks for the insight @jeromegn! I’m running it on the cheapest DO droplet VM with 1 vcpu so I’m guessing that’s it.

Bummer but makes sense. Thanks for the responses everyone.

[2019-04-16 19:13] #1769 closed

[2019-04-16 19:16] ry commented on #1968
I'm not super keen to add ICU due to its size. But I suppose people need it.  :|

@ATheCoder sounds like you're off to a good start. Maybe put up your branch?

[2019-04-16 19:17] ry commented on #2126
duplicate of #1968

[2019-04-16 19:17] #2126 closed

[2019-04-16 19:20] ry commented on #1320
[Async module loading has now landed](https://github.com/denoland/deno/pull/2084). It should be quite approachable now to do proper progress bars.

[2019-04-16 19:21] zekth commented on #1968
@ry i totally understand but if we don't add it, maybe a creation of deno_internationalization with polyfills would be a good compromise?

[2019-04-16 19:26] ry commented on #2124
I don't understand either. Deno does use a separate thread to compile typescript but surely having 1 CPU wouldn't prevent that from happening...

[2019-04-16 19:34] afinch7 commented on #2124
I would say it's an issue in my changes to the compile process, but I doesn't look like we even get to compile. Hence the lack of `">>>>> compile_sync START"`. We do get `found local source`, so we must get stuck right after `get_source_code_aync` completes. Anything here that looks problematic:
https://github.com/denoland/deno/blob/97f0fe7437ad4277afbdabf6cac214a40b637cd1/cli/deno_dir.rs#L166-L22

[2019-04-16 20:34] cybor0 opened #2132 "Different behavior deno vs deno eval"
run deno then
[code]
==================================================================

./target/debug/deno

12
undefined

./target/debug/deno eval "var a =12; console.log(window.a)"
undefined

[2019-04-16 21:51] methodbox commented on #2124
I can confirm this resolved my issue was well. Was trying this at work on a Hyper-V CentOS VM, ran into an issue that it doesn't support the old version of glibc on CentOS and tried on an Ubuntu VM only to have it hang.

I used the default install method via bash ```curl -fsSL https://deno.land/x/install/install.sh | sh```.

I tried something as simple as `console.log('hello world')` in a `test.js

[2019-04-17 01:55] cdaringe commented on #1478
cleaned up tags & fixed the issue where the pagination bar at the bottom went missing :)

[2019-04-17 12:58] somombo commented on #1789
update: async module loading has landed https://github.com/denoland/deno/pull/2084

[2019-04-17 13:36] jeromegn commented on #2124
There's a chance tokio's threadpool spawns a single worker since it only detects 1 logical core. Then you run `blocking` operations on it (like `fs`-related stuff, which is allowed since it's not considered a single-threaded tokio runtime) and that just blocks everything in the event loop.

[2019-04-17 14:07] ry commented on #2132
Weird. Thanks.

[2019-04-17 14:13] ry commented on #2124
@jeromegn Ah! That makes sense - thank you. I will look into it.

[2019-04-17 15:24] sh7dm commented on #2120
@ry I've got same in my TS & rollup project. I don't do anything with it :smiley:

[2019-04-17 16:03] zekth commented on #2120
Same here.

[2019-04-17 16:05] sh7dm commented on #1891
Classical method: new Rust ops, TS frontend for them and testing. Will take a look at, maybe work on.

[2019-04-17 16:50] sholladay commented on #1826
Personally, I've frequently been annoyed at how file watching was a mess in Node, a situation that is still unresolved today. Yes, it's hard to implement correctly, but that just means we need more eyes on it. Also, a lot of projects need it as a very low-level building block. For context, [chokidar](https://github.com/paulmillr/chokidar) has almost 11 million weekly downloads on npm, about as muc

[2019-04-17 17:02] #1996 closed

[2019-04-17 17:27] ry commented on #2125
Seems like @rsp has the solution. Closing.

[2019-04-17 17:27] #2125 closed

[2019-04-17 17:31] piscisaureus commented on #2069
It's still available though: `const deno = Deno;` and you're all set.

[2019-04-17 17:39] piscisaureus commented on #2069
Casing has nothing to do with modern vs legacy.
The EcmaScript standard typically uses UpperCamelCase for namespaces, even those that are not classes (e.g. Reflect, Symbol, Math).
DOM standards which are defined by W3C use lowercase names (e.g. `document`, `window`, `location`); `performance` falls in the latter category.

[2019-04-17 18:15] zekth commented on #2103
Just to be clear, the python script will load a array of declarations of `.ts` files to execute with the permissions associated. After it runs each `.ts` file with its the associated permission. Is that how you want to implement it?

[2019-04-18 02:35] Fenzland opened #2142 "wrong behavior with extends URLSearchParams"
# The code
[code]

Run in browsers:
[code]

Run in deno:
[code]

Step further, if we call `super.set` in Foo.prototype.append, nothing wrong in browsers, but a infinite loop caused in deno.

[2019-04-18 06:39] zekth commented on #2142
This seem really weird. How have you transpiled the ts code for the browser test? Using esnext?

[2019-04-18 07:20] kitsonk commented on #2069
Since both seem to be current and valid semantics, I would say there is no value in the code churn then.

[2019-04-18 08:06] Fenzland commented on #2142
@zekth Just run the raw code at F12 console.

I've tried with Chrome 73 and FireFox 66. Both don't call append, but deno does.

[2019-04-18 10:45] Janpot commented on #2142
Looks like `.append` [is called in `.set`](https://github.com/denoland/deno/blob/034e2cc02829c9244b32232074c7a48af827a2fb/js/url_search_params.ts#L151) when the property doesn't exist yet (`found === false`).
Should be solved by adding some sort of "internal" `._append` that is used by both `.set` and `.append`.

[2019-04-18 14:41] kt3k commented on #1790
fixed at https://github.com/denoland/deno/pull/1894

[2019-04-18 14:41] #1790 closed

[2019-04-18 18:39] j-f1 commented on #2120
`@typescript-eslint/parser` [has a `warnOnUnsupportedTypeScriptVersion` option](https://github.com/typescript-eslint/typescript-eslint/tree/master/packages/parser#configuration) which, if set to `false`, will disable this warning.

[2019-04-19 01:54] #2120 closed

[2019-04-19 13:03] jeffabailey commented on #1383
Is there any workaround?

[2019-04-19 17:21] phil294 opened #2150 "fetch() a local file"
Coming from https://stackoverflow.com/q/51941064/3779853

Any plans to support `await fetch("file:///./input.txt")`? Like Jeremy, this is the first thing I'd intiuitively try to read a local file, given deno's philosophy of browser-like methods.

[2019-04-19 17:30] ry commented on #2150
Seems reasonable to me.

[2019-04-19 17:31] #1965 closed

[2019-04-19 17:50] zekth commented on #2150
I will push a PR to fix this.

[2019-04-19 19:16] ATheCoder commented on #1968
@ry But I didn't manage to get it to work.
I think we need to somehow use the library linking, I tried finding out how NodeJS does it, What they do is that they use a smaller version of ICU, but I don't know how they do it.
More Info:
https://nodejs.org/api/intl.html
https://github.com/nodejs/node/tree/master/tools/icu

[2019-04-19 20:37] kevinkassimo commented on #2132
This is due to we have an async function wrapper around the code when doing `deno eval` (to allow `await`s):

https://github.com/denoland/deno/blob/0796a8f2f75005df95ef6115a4bdf6dd66e58dc3/cli/main.rs#L163-L183

I don't think we should fix this. Using non-strict mode in such ways should be discouraged.

The `window.Deno` assignment problem could be addressed though.

[2019-04-20 00:40] ry commented on #2132
Fixed in https://github.com/denoland/deno/pull/2153

[2019-04-20 00:40] #2132 closed

[2019-04-20 00:48] methodbox commented on #1995
Your CRLF warning makes me think either you're working from Windows or moved those files from a Windows machine.

Did you download them in Windows first?

Try a wget or curl 'https://url/filename' -o filename.zip on the remote machine if so. This will stop Windows from writing the CRLF line endings.

Alernatively, you can configure your local shell to prevent it and download it with that if you're

[2019-04-20 01:21] cllty opened #2154 "Deno hangs in repl osx"
Deno hangs in repl when the `Deno.env()` function is called.
[code]

One has to `kill` the process to exit deno.
[code]

[2019-04-20 01:24] ry commented on #2154
I tried with v0.3.8 and wasn't able to repeat.

[2019-04-20 01:26] cllty commented on #2154
I'm on v0.3.8. Could that be the reason?

[2019-04-20 01:28] cllty commented on #2154
Just installed v0.3.8 and getting same issue.

[2019-04-20 01:34] ry commented on #2154
@cllty very odd. I wonder if it's related to https://github.com/denoland/deno/issues/2124

What does  `sysctl -n hw.ncpu` return on your system?

[2019-04-20 01:43] cllty commented on #2154
I have 12 cpus. I'm not 100% sure but they kinda seem to be related.

[2019-04-20 05:31] kevinkassimo commented on #2154
@cllty I happened to also have a macOS machine that has 12 cpus but still cannot reproduce...
Could you provide the debug message generated under `deno -D`?

[2019-04-20 08:45] sh7dm opened #2155 "Ability to modify TS config"
Just add an option like `--config [tsconfig.json]` for passing TS config overrides to compiler. I can work on this.

[2019-04-20 09:35] bartlomieju commented on #2155
This is already WIP by @kistonk in denoland/deno#2089

[2019-04-20 10:09] sh7dm commented on #2075
IMHO good for that are commitizen + commitlint.

[2019-04-20 10:46] cllty commented on #2154
@kevinkassimo this is my output from `deno -D`

[code]

[2019-04-20 14:26] methodbox commented on #2069
Just my two cents: I think you should buck the trend and be radical like Deno vs. Node (or is it node?). ;)

[2019-04-20 14:43] Maxim-Mazurok commented on #1995
No, @methodbox, I'm not on Windows machine and I haven't moved those files from Windows machine.
It's a bug in an old git version and it was fixed by using the latest git version.
The problem was with `.png` files, which are binary files and shouldn't be treated by git as files that have LF/CRLF line endings. It just makes no sense. So, it was clearly a git issue.
Let me know if you think otherwis

[2019-04-20 14:45] methodbox commented on #1995
Sorry, I missed the `png` part somehow. Yes, that's odd. Sorry, just trying to help!

[2019-04-20 14:56] ry commented on #1995
Cool. So the solution is to upgrade git. Closing this issue.

[2019-04-20 14:56] #1995 closed

[2019-04-20 14:59] bartlomieju commented on #2155
@sh7dm can you close this issue to minimize noise?

[2019-04-20 15:03] #2155 closed

[2019-04-20 16:41] orsi opened #2159 "Writing to non-existent directories does not throw error"
![image](https://user-images.githubusercontent.com/7156655/56459725-e406ac00-6365-11e9-8bb5-a53917bbb7b5.png)

Failing:
- makeTempDirSyncSuccess_permR0W1N0E0U0H0
- makeTempDirSuccess_permR0W1N0E0U0H0
- writeFileSyncFail_permR0W1N0E0U0H0

Tests expect an error to be thrown because of writing to a bad directory, but no error is thrown. This is on Windows 10, latest master - c8db224.

[2019-04-20 16:51] hayd commented on #2154
Is that an example which hangs?

[2019-04-20 16:56] ry commented on #2154
This is potentially related to https://github.com/denoland/deno/pull/2158 (which effects basically everything)

@cllty maybe this is much to ask - but if you build the branch in #2158 does the problem still happen?

[2019-04-20 17:17] j-f1 commented on #2075
If you’re mainly committing via PRs, I’d suggest instead linting PR titles using a GitHub App instead, since those are much easier to edit and the “squash and merge” feature pretty much obliterates the commit messages anyway. This could work hand-in-hand with requiring CI to pass before merging, effectively blocking commits from being pushed to `master` directly.

[2019-04-20 17:56] Maxim-Mazurok commented on #1995
Yes, @ry, it's one of the solutions.
The other solution (for those with the old git version, but latest available in official CentOS repo) is here: #2161

[2019-04-20 18:47] ry opened #2163 "timeoutCancelSuccess and intervalSuccess are flaky on windows"
[code]

Also:

[code]

[2019-04-20 19:02] hayd commented on #2103
what about (instead of unix file permissions style) you use `no-perms` vs `perms-rw` `perms-ne` etc. I find the current scheme very hard to read; most of the time you can about what permission is present not what permission is not present, hence `perms-rw` over `perms_R1W1N0E0H0`.
`perms-RWneh` is also an alternative but probably too cute.

This is minor to the main refactoring issue.

[2019-04-21 01:28] cllty commented on #2154
@hayd I get the same output with deno running or not.

[2019-04-21 02:46] cllty commented on #2154
@ry after building the branch https://github.com/denoland/deno/pull/2158 it works fine. The error messages seem descriptive too.

[2019-04-21 08:11] mtharrison opened #2166 "Link to http_bench.rs is broken in core README"

[2019-04-21 10:37] bartlomieju commented on #2112
This issue will be resolved by #2157

[2019-04-21 10:40] bartlomieju commented on #2105
@Chococrok have you made progress with this issue? Feel free to ping me if you need any help

[2019-04-21 10:43] bartlomieju commented on #1955
FYI `tests/error_*` are enabled and passing, only `repl_test` are disabled.

[2019-04-21 10:46] bartlomieju commented on #1930
@kitsonk I took a stab at it, here's what I found:
1. `lib: [ "esnext", "web_assembly" ]` - this is illegal now, TS compiler accepts `lib` values listed [here](https://www.typescriptlang.org/docs/handbook/compiler-options.html)
2. We can safely move `lib.web_assembly.d.ts` to `assets.ts`, the only difference I found is that `deno --types` will no longer show WebAssembly declarations (which is expe

[2019-04-21 11:14] bartlomieju commented on #1725
For reference, tokio has [tokio-signal](https://github.com/tokio-rs/tokio/blob/master/tokio-signal/README.md) which can be used to intercept signals

[2019-04-21 11:16] bartlomieju commented on #1709
Tried in v0.3.8 and REPL does not die with uncaught exception:
[code]

I guess we can close this now @sh7dm

[2019-04-21 11:18] #1709 closed

[2019-04-21 11:18] bartlomieju commented on #1704
@kevinkassimo FYI, with new CLI parsing flags passed after script name, are forwarded to `Deno.args`, so `./gotcha --no-all` would not work. This issue still holds, but we need a different solution.

[2019-04-21 11:20] bartlomieju commented on #1690
This issue is stale. There had been some tweaks to site's CSS and it looks like there are no immediate plans for rewrite.

Can this issue be closed? CC @ry

[2019-04-21 11:22] bartlomieju commented on #1665
FYI @akircher Web Workers were released with Deno v0.3.6

[2019-04-21 11:24] bartlomieju commented on #1666
FYI @hephex Deno is available as a [crate](https://crates.io/crates/deno) since late March

[2019-04-21 11:26] bartlomieju commented on #1702
This introduces another "rule" which is somewhat magical. Right now the same effect can be achieved using simple bash aliases:
[code]

[2019-04-21 11:28] bartlomieju commented on #1638
Just check with v0.3.8 and I believe this is no longer the case

[2019-04-21 11:35] bartlomieju commented on #1582
CC @ry, no longer valid with combined `--reload` and `--prefetch` flags?

[2019-04-21 11:36] bartlomieju commented on #1577
CC @ry this is stale, can we close it?

[2019-04-21 11:36] bartlomieju commented on #1572
CC @ry this is stale

[2019-04-21 11:37] bartlomieju commented on #1564
CC @ry this is stale

[2019-04-21 11:39] #1690 closed

[2019-04-21 11:49] bartlomieju commented on #1494
@hayd any update on this?

[2019-04-21 14:40] #2166 closed

[2019-04-21 14:47] #1666 closed

[2019-04-21 14:56] yech1990 opened #2168 "Is it possible to run deno in jupyter notebook?"
I found Itypescript kernel, https://github.com/nearbydelta/itypescript.
But it is based on node.

[2019-04-21 15:17] axetroy opened #2169 "Symlink's third parameter 'type' does not match the description of the document"
Here is the document.

https://github.com/denoland/deno/blob/c08075053f16e8c799c2132373a2deb6e896a9e9/js/symlink.ts#L23-L29

**The type argument can be set to `dir` or `file` and is only available on Windows (ignored on other platforms).**

Here is the code

https://github.com/denoland/deno/blob/c08075053f16e8c799c2132373a2deb6e896a9e9/js/symlink.ts#L7-L16

### Expect

The type argument should be

[2019-04-21 15:34] ry commented on #2112
closed in https://github.com/denoland/deno/pull/2157

[2019-04-21 15:34] #2112 closed

[2019-04-21 15:35] bonzzy opened #2170 "Consistency when checking argument length"
In [headers.ts|line 60](https://github.com/denoland/deno/blob/master/js/headers.ts#L60) and [url_search_params.ts|line 30](https://github.com/denoland/deno/blob/master/js/url_search_params.ts#L30) I think there should be consistency when checking argument length.

My opinion is that it should be checked using [requiredArguments method](https://github.com/denoland/deno/blob/master/js/util.ts#L121)

[2019-04-21 15:50] bonzzy opened #2172 "If/else complexity could resolve in having weird bugs"
Nested if/else statement could do some harm in the future if the code grows. They make the code look less readable and harder to refactor. Using `early returns` and `method separation` can decrease this complexity.

Some examplesin this repository:
- [UrlSearchParams|constructor](https://github.com/denoland/deno/blob/master/js/url_search_params.ts#L26)
- [toUint8Arrays](https://github.com/denoland

[2019-04-21 16:17] #2033 closed

[2019-04-21 16:29] akircher commented on #1665
Thanks @bartlomieju I will update the thread in couchdb!

[2019-04-21 18:06] #2163 closed

[2019-04-21 18:35] rdeforest commented on #1739
_[snip]_

_[snip]_

Just a lurker here, but I think what @kitsonk means by trusted/untrusted isn't what you think. You're right that one can't delegate code generation without the risk that the output will do something unwanted. Ken Thompson addressed this famously in his "Reflections on Trusting Trust" presentation in 1984.

The objective of treating the compiler as untrusted is to limit the dama

[2019-04-21 18:39] Chococrok commented on #2105
@bartlomieju Thanks for asking, well I think I am making some progress, I have a test failling. But could you show me where the function ```get_source_code``` is used ?

[2019-04-21 19:12] #1582 closed

[2019-04-21 19:13] #1577 closed

[2019-04-21 19:13] #1572 closed

[2019-04-21 19:14] #1564 closed

[2019-04-21 19:20] ry commented on #2168
No it's not. Would be nice but it's probably not going to happen any time soon.

[2019-04-21 19:20] #2168 closed

[2019-04-21 19:45] kevinkassimo commented on #1494
Sorry... Working on this (seems easy enough to fix)

[2019-04-21 19:57] kevinkassimo commented on #1494
Hmm I have just tested, it seems that the example @hayd provides is working now with latest release...

[2019-04-21 20:13] ry opened #2176 "Flaky windows test intervalCancelSuccess"
And intervalSuccess

[2019-04-21 21:17] ry commented on #1554
This should be possible now with the clap-based flag parsing.

[2019-04-21 21:17] #1554 closed

[2019-04-21 22:32] johnsonjo4531 commented on #1805
I made an [async implementation of `readLine` named `input`](https://github.com/johnsonjo4531/read_lines/blob/v2.1.0/input.ts) that uses a method [`lines`](https://github.com/johnsonjo4531/read_lines/blob/v2.1.0/lines.ts) which is an iterator that yields lines from an input source. Here's [an example of it being used](https://github.com/johnsonjo4531/read_lines/blob/v2.1.0/examples/input.ts). I th

[2019-04-22 01:26] #1494 closed

[2019-04-22 13:35] ry opened #2180 "All of an op's code should live together"
After we've replaced flatbuffers (https://github.com/denoland/deno/issues/2121), I want to refactor how we define ops. Ideally the javascript and rust code would live next to each other. Example dir structure:
[code]
[Currently adding an op means touching a lot of files spread around the tree.](https://github.com/denoland/deno/pull/2177)

An extreme case of this design would make each op into a st

[2019-04-22 14:09] Fenzland commented on #2069
DOM, BOM or environment api typically using camelCase:
e.g. `document`, `location`, `history`, `navigator`, `performance`, `localStorage`...
and the UpperCamelCase names are reserved for their constructors (often with the same name):
`HTMLDocument`, `Location`, `History`, `Navigator`, `Performance`, `Storage`.

EcmaScript modules use UpperCamelCase:
`Math`, `Reflect`, `JSON`...

EcmaScript functio

[2019-04-22 14:38] #2172 closed

[2019-04-22 14:50] Alexsey commented on #2069
Yes, but you should not do that. I think it's obvious why

Are you sure that is not because in Java everything is a class? Because we have words of Brendan Eich [The diktat from upper engineering management was that the language must "look like Java"](https://brendaneich.com/2008/04/popularity/)

That's, right. And since Deno is not an ECMAScript module and not a constructor, it should not be in U

[2019-04-22 16:07] ry opened #2182 "core: Clean up return type of Dispatch function"
Rather than returning a `(bool, Box<dyn Future<Item = Buf, Error = ()> + Send>)` from the dispatch function, I think we should make the async/sync split into an enum

[code]
That is, you either get the response immediately, or you get a future. Currently we return a future that evaluates synchronously - which a little odd.

[2019-04-22 16:14] #2170 closed

[2019-04-22 18:17] Janpot commented on #2150
is the behavior for fetch with file: urls standardized?

[2019-04-22 19:17] phil294 commented on #2150
Browsers cannot fetch local files in general, that would be a big security issue. Thats why the spec also only ever speaks about network or data/blob/about URLs. https://fetch.spec.whatwg.org/#url

node does not implement fetch at all.

[2019-04-23 03:08] WillAvudim opened #2184 "feature-request: Expose the same API in node.js"
Would it be possible to get access to exactly the same API in Node.js?

I found the API surface overall to be exquisitely neatly designed, and I like it a lot. I'd like to be able to seamlessly switch between Deno and Node.js without memorizing strikingly different OS/file APIs.

[2019-04-23 07:27] zekth commented on #2180
Is a sub folder for each op is revelant? Due to the number of ops it could become a mess. Just an idea.
[code]

Also making each op in a crate would be a bit overkill and time consuming for any update no?

[2019-04-23 10:53] GrosSacASac commented on #2184
That is a non goal

from https://deno.land/manual.html#introduction

[2019-04-23 12:05] zekth commented on #2184
Some polyfills are available as third-party modules but it will not be implementend in `deno` or `deno_std`.

[2019-04-23 13:47] #2169 closed

[2019-04-23 13:50] ry commented on #2184
As @zekth suggests, we could have an API in deno_std that acts as a polyfill. Something like this:
[code]

[2019-04-23 14:23] zekth commented on #2184
Having it in `deno_std` is not good for me. I'd better create an official polyfill repo, like `deno_polyfills`

[2019-04-23 14:25] WillAvudim commented on #2184
Thank you for not killing this proposal outright on spot :-)

Node.js API surface is enormous with lots of legacy pre-async-await artifacts. Bringing it into Deno is indeed undesirable. If we could bring Deno API to Node.js, one way or another, it would make way to write libraries that support both Deno and Node.js.

[2019-04-23 14:29] zekth commented on #2184
The only thing we need to focus on is the CI checking the polyfills on different versions of node. That's my concern about adding it to `deno_std`

[2019-04-23 15:47] mhart commented on #1456
You could alternatively add glibc 2.18 to your Lambda zip too – `/var/task` (where your Lambda package unzips to) is included in `LD_LIBRARY_PATH`. Or package it up as a layer (will need to put in a `lib` directory so it unpacks at `/opt/lib`)

[2019-04-23 17:17] jed opened #2187 "Expose Request and Response on global object"
The global object currently surfaces the following:

[code]

Since `fetch` uses the `Request` and `Response` interfaces, and those interfaces are often used along with fetch, those too should be surfaced (they are in Chrome, for example). The absence of these interfaces causes [aws4fetch](https://github.com/mhart/aws4fetch) to fail with an `Uncaught ReferenceError: Request is not defined` error.

[2019-04-23 17:34] ry commented on #2187
👋

Yes we should expose it. This is a duplicate of #2184. Closing this one.

[2019-04-23 17:34] #2187 closed

[2019-04-23 17:42] jed commented on #2187
Ah, thanks! And for changing the issue name to make it easier to find...

[2019-04-23 17:43] jed commented on #2187
(Interacting with @ry on GitHub about an exciting new project feels very 2009 and I like it.)

[2019-04-23 20:27] #1311 closed

[2019-04-23 20:33] ry opened #2189 "Add run subcommand: "deno run script.ts" instead of "deno script.ts""
It's becoming clear that Deno is going to have several distinct tools as subcommands, like "info" and "prefetch" each with (potentially) their own options. I suggest we not have a default command, as it introduces complexity at the flag parsing layer and makes it unclear what flags belong to "run" vs other subcommands.

What do people think? It's slightly less ergonomic, but I think we can address

[2019-04-23 20:41] bartlomieju commented on #2189
I'm all in for that :+1: sooner or later `deno <script_name>` is gonna bite us on some edge case in clap and using `deno run <script_name>` eliminates some of issue pointed out by @kevinkassimo in #2102:

+ `deno run main.ts`: Runs script of name `main.ts`
+ `deno main.ts`: Equivalent to `deno run main.ts`
+ `deno eval "console.log('Hi');"`: evaluate code `console.log('Hi');`
+ `deno run eval`: Ru

[2019-04-23 21:27] hayd commented on #2189
Should repl also be a subcommand?

[2019-04-23 22:54] zekth commented on #2103
I vote for `perms-xxx`

[2019-04-23 22:59] zekth commented on #2159
Could you provide your code please? I'll take a look at it.

[2019-04-23 23:02] kevinkassimo commented on #2184
I agree that we might want to dedicate another repo instead of deno_std for the node-compat modules, since we are likely to need two different kind of issue trackers

[2019-04-23 23:04] ry commented on #2103
@zekth @hayd I mean - the scheme of using command-line arguments to filter the tests isn't necessarily necessary. What if we start `js/unit_tests.ts` with full permissions and use `revokePermission()`? I'm not sure that works - but I'm suggesting that we think outside the box, and refactor this entire system, rather than bike shedding on how to represent the test filter in a string.

A helpful fir

[2019-04-23 23:16] kevinkassimo commented on #2150
@Janpot I don't think so.

Also see the comments below [from `node-fetch` maintainer](https://github.com/bitinn/node-fetch/issues/75#issuecomment-299755555) (also a former Node.js TSC member) with respect to a similar issue:

---

Much thought have gone into this issue, for sure. I'd like to condense the most important reasons I believe URLs of file scheme should not be implemented in node-fetch.

[2019-04-24 06:30] kevinkassimo opened #2190 "Implement sendFile()"
Essentially http://man7.org/linux/man-pages/man2/sendfile.2.html. Windows seems to also have [`TransmitFile()`](https://docs.microsoft.com/en-us/windows/desktop/api/mswsock/nf-mswsock-transmitfile). Probably could have an interface
[code]

I'm not so sure why Node.js removed this feature in the early days. Is there any special reason that this is not included?

(It seems that `fs.copyFile()` in No

[2019-04-24 08:03] runnerSnail opened #2191 "hope: XMLHttpRequest in deno"

[2019-04-24 08:57] jimmywarting commented on #2150
fetch just create an unnecessary layer of complexity. if you intent to read some local file use the fs directly.
it's more clear if the fetch only have network permission. i think it would be confusing as to why i had to give filesystem access when all it should do is making request.

[2019-04-24 09:48] zekth opened #2192 "benchmarks: Update nodeJs"
As NodeJs 12 has been released it would be nice to have it in the benchmarks.

ref: https://nodejs.org/en/blog/release/v12.0.0/

[2019-04-24 09:56] zekth commented on #1896
@bartlomieju on this build:
[code]
it ouputs:
[code]

[2019-04-24 10:30] ry commented on #2184
@kevinkassimo I'm not opposed to doing it in a separate repo - but why do they need to different kind of issue trackers?

[2019-04-24 13:05] leodutra commented on #2107
Hey guys, I am in the process of growing some love to Deno and I have something which is bothering me.

I know Ryan likes TypeScript. But will Deno have any real benefit from using it at the core?
I mean, will the runtime use raw TypeScript to squeeze performance, maybe passing types somehow to V8 or another underlying component, providing better performance than just JS?

I think this should be t

[2019-04-24 14:10] motss commented on #1968
AFAIK, even Node.js does not include full ICU sometimes on certain platform. It'd would be better off adding new flag that allows users to use whichever ICU they want on instead of embedding it because of it's size. An awesome package like [full-icu](https://www.npmjs.com/package/full-icu) is used in such case.

[2019-04-24 14:16] davidbarratt opened #2194 "Implement Cache​Storage"
I noticed that [CacheStorage](https://developer.mozilla.org/en-US/docs/Web/API/CacheStorage) hasn't been implemented yet, so here's a task to implement it. Thank you for all your hard work! :)

[2019-04-24 15:21] zekth commented on #2194
There is already an issue about the implementation of different kind of `Storage` : https://github.com/denoland/deno/issues/1657

[2019-04-24 15:27] fewf commented on #2096
took me a sec to get started on this--sorry!

@ry when we spoke, i think we considered that the JSON structure could be a nested array like:
[code]
but I'm think it might be better as a nested object, like:
[code]
what do you think?

[2019-04-24 15:28] davidbarratt commented on #2194
That's a different API / Interface. :)

[2019-04-24 15:29] zekth commented on #2194
If you read the whole issue there is same concern about Cache Session and so on

[2019-04-24 15:35] davidbarratt commented on #2194
Ah!

[2019-04-24 15:40] motss opened #2195 "Use globalThis instead"
Is this a good time to refactor this to use `globalThis` which has been supported since v8 v7.1?

https://github.com/denoland/deno/blob/d68b44b6b2fad6c321aa01a039030bb98c5be88d/js/window.ts#L7

[2019-04-24 15:57] ry commented on #2096
Yeah that works.. My only concern is that the ordering of the imports would be lost - but that might be recoverable from the object anyway(?) also the ordering of the imports is not very important info...

[2019-04-24 16:02] zekth commented on #2096
Depends on how you parse the deps but the order may not be lost.

[2019-04-24 16:28] ejsmith opened #2196 "allow-read allow-write permissions constrained to specific directories"
It seems like allow-read and allow-write are very wide open permissions when all you want to do is maybe read a configuration file from the same directory as the script is located in. Would be nice to have the ability to specific which directory you want to grant the read and/or write permissions to. Also, would be nice to be able to easily allow them for the directory that the script is located i

[2019-04-24 16:33] bartlomieju commented on #2196
Discussion for reference: #2081
Related PR: #2129

[2019-04-24 16:45] ejsmith commented on #2196
Awesome! I was trying to find an existing issue, but I couldn't find it.

[2019-04-24 16:45] #2196 closed

[2019-04-24 19:32] kevinkassimo commented on #2184
@ry Since I believe most of the issues will be about incompatibilities with Node API instead of proposing new functionalities

[2019-04-25 08:13] kt3k commented on #2096
I like the array version because it's easier for typing and probably easier for interacting with programs.

[2019-04-25 09:18] kitsonk commented on #2069
Why is it obvious?

But it isn't a DOM namespace either, so it shouldn't use camelCase.  Same logic.

[2019-04-25 10:05] Alexsey commented on #2069
Because there are expectations that other people have about your code. And such things would bring confusion. And there is consistency. And you always should have a good reason to break consistency. Or it would bring even more confusion

Let me give you some real-world examples: you are not overriding ES3 array methods like `sort`, `reverse` or `splice` for them not to modify the array they have b

[2019-04-25 13:24] jorsi commented on #2159
This was on master - c8db224 - with no code changes after running setup.py/build.py. These are standard tests from unit_tests.ts.

[2019-04-25 13:55] zekth commented on #2159
I used to have some flaky tests like this on my windows env, only on Unit Tests but the CI does not seem to be impacted. i'll do a couple runs to monitor this.

[2019-04-25 13:57] fewf commented on #2096
looks like Array is winning the race. i agree with the logic that says the array version can be converted to the object version, but not vice versa. i'll go ahead with that.

[2019-04-25 13:59] zekth commented on #2096
a little util to parse it from array to object may be added to `deno_std` or `deno_lib`

[2019-04-25 14:04] jorsi commented on #2159
I'll run them again later this evening with a more recent build and see if there's any change. I do know the tests were running perfectly a week or so ago though.

[2019-04-25 14:29] davidjamesstone opened #2203 "Benchmark links do not work"
The "recent" and "all" anchor links at the top of the Benchmark page don't work.

[2019-04-25 16:00] ry opened #2206 "Rename "deno prefetch" to "deno fetch""
cc @bartlomieju

[2019-04-25 16:06] bartlomieju commented on #2206
Sure, I'll push PR a bit later

[2019-04-25 16:23] ffMathy opened #2207 "Is deno going to support node?"
Will node programs be able to run via deno? Will there be an adapter? I think that's pretty important if deno adaption is to increase.

[2019-04-25 16:31] ry commented on #2207
duplicate of https://github.com/denoland/deno/issues/2184

[2019-04-25 16:31] #2207 closed

[2019-04-25 16:36] ry commented on #2184
@kevinkassimo Ok sure. Does anyone want to start a repo outside of denoland for this? We can point people to it in the manual as the semi-official binding layer. I feel like things might move faster if I'm not in the loop. If it works out and is useful we can consider moving it into deno_std later.

[2019-04-25 16:39] zekth commented on #2184
@kevinkassimo Creating https://github.com/denolib/node so ?

[2019-04-25 16:43] ry commented on #2203
If you reload the page once (and wait a minute) it will work. Terrible UX.

[2019-04-25 16:48] ry opened #2208 ""deno types" broken in v0.3.9"
despite this integration test:
https://github.com/denoland/deno/blob/master/tests/types.test
[code]
passes

[2019-04-25 17:18] kevinkassimo commented on #2184
@zekth Yeah I think this works

[2019-04-25 17:25] hayd commented on #2206
What about "compile" instead? (Since this is both a fetch and compile...)

[2019-04-25 17:41] ry commented on #2206
' i'd like to reserve 'deno compile' for bundling into an executable

[2019-04-25 17:47] #2206 closed

[2019-04-25 18:25] j-f1 commented on #2192
Was this done in https://github.com/denoland/deno/pull/2193?

[2019-04-25 18:26] bartlomieju commented on #2105
Hey @Chococrok, sorry for late response. You actually shouldn't use `get_source_code` it's docstring says:
[code]

So try to focus on `get_source_code_async`

[2019-04-25 18:27] #2208 closed

[2019-04-25 18:31] ry commented on #2192
Yes. And note that node_tcp with v12 has overtaken deno_core_single ... we have more work to do.

[2019-04-25 18:31] #2192 closed

[2019-04-25 18:46] kevinkassimo commented on #2184
@zekth @ry Inited project in https://github.com/denolib/node

[2019-04-25 21:25] Mouvedia commented on #2091
@kitsonk https://github.com/tc39/proposal-top-level-await

[2019-04-26 06:41] Fenzland commented on #2091
Too far away from the standard is not a good idea. ES Modules is good enough.
What we need is not to run node modules in deno but to convert node modules into ES modules.
Something like this will help:
https://github.com/pikapkg/builders/tree/master/packages/plugin-build-deno/

[2019-04-26 06:46] dysc opened #2216 "File Server malformed request"
@ry I noticed today at js.la you had to use `-A` to make the file server demo work. Something with some malformed header and unicode data. Just wanted to keep this posted as it wasn't already afaik :)

Great presentation Ryan, I love the work you're doing at Deno and I'm excited to use it for javascript sandboxing! Thanks!

[2019-04-26 10:19] kitsonk commented on #2195
There were some issues in earlier versions of v8 when snapshotting where `globalThis` wasn't available... I never was able to isolate it, but that is what prevented the refactor before (I tried it).  That may have been addressed now.  Worth trying again.

[2019-04-26 10:27] kitsonk commented on #2069
Modules are self contained and should not lead and of the `Deno` APIs outside of the module using that namespace.

It isn't a host variable.  It is a global namespace.  We have examples where these are CamelCase (e.g. `Reflect`).

A pointed out above, it is not the de-facto in modern JavaScript.  TC39 continue to use CamelCas.  It is the W3C in the browser which have used camelCase.

[2019-04-26 11:01] Alexsey commented on #2069
I'm not talking about technical aspect, but about mental. The problem you are talking about would be solved with [Realms](https://github.com/tc39/proposal-realms). But even when we would have Realms you still should not change interfaces of array methods and other stuff like that. Unless you are the only person who is working with the codebase - in this case, you can do whatever you want, of cours

[2019-04-26 15:13] ry commented on #2216
Thanks for reporting! I still have the log, it looks like this:
[code]
I'm playing around with it now, but can't seem to repeat the exception...

[2019-04-26 15:20] zekth commented on #2216
@ry seems like the `deno_examples_jsla2` file has a problem. Could you provide it?

[2019-04-26 15:21] ry opened #2219 "killSuccess is flaky on linux"
[example log](https://travis-ci.com/denoland/deno/jobs/195813103)
[code]
cc @kevinkassimo

[2019-04-26 15:32] ry commented on #2216
@zekth that's just the working directory. I guess it was caused by using chromium to visit the file_server and somehow it sent some unicode in a header?

[2019-04-26 15:56] motss commented on #2195
@kitsonk I'll take it and see what happens.

[2019-04-26 16:11] zekth commented on #2216
Can't reproduce on any browser on Windows / MacOs. Maybe you had an IO issue during the demo?

[2019-04-26 16:18] methodbox commented on #2069
Just so we are all on the same page, `deno` (lowercase intentional) as a CLI binary is an `environment variable` (you can prove this by just outputting your env with `printenv`) and a `path variable` (as you add it to your `$PATH`) - path variables are also env variables, but not all env variables are path variables.

`Deno` (capitol D intentional) is a namespace that doesn’t exist in the `path` o

[2019-04-26 16:18] mrkurt opened #2222 "Possible to define globals?"
I'm using some external libraries that expect certain globals (related to #2108). Can I define new globals in my `main` somehow?

[2019-04-26 16:25] methodbox commented on #2069
It's actually not a `host variable`, which is why I was confused. It's a `host object`; the name is assigned to the host object, the object is global, making the name part of the `global namespace`.

object supplied by the host environment to complete the execution environment of ECMAScript

NOTE Any object that is not native is a host object.

[2019-04-26 17:18] Alexsey commented on #2069
I'm sorry for confusing anyone. Everywhere instead of "host variable" should be "host object". I'll change my previous comments but leave this one so @methodbox comment would not lose sense

[2019-04-26 18:51] kevinkassimo commented on #2219
It fails due to the following lines:
[code]
I think this might instead imply flakiness of some other `process` related APIs. Needs investigation

[2019-04-26 19:00] kevinkassimo commented on #2219
Also could not reproduce the failure in my Ubuntu virtual machine.

[2019-04-26 21:21] fewf commented on #2096
PR to start out: https://github.com/denoland/deno/pull/2223

again, been hard to find time to focus on this, and I have some stashed work toward getting it to pretty format the json that I spent a bit too much on.

[2019-04-26 22:07] kitsonk commented on #2222
Either reference `globalThis` or `window`, or indirect `eval` to access the global scope.  To define additional globals in TypeScript you have to utilise the global namespace to add the types, for example:

[code]

[2019-04-27 02:52] mrkurt commented on #2222
Ah `globalThis` did it! Thanks.

[2019-04-27 02:52] #2222 closed

[2019-04-27 04:41] motss commented on #2195
Closing this for now as the same issues happen.

[2019-04-27 04:41] #2195 closed

[2019-04-27 08:53] #1638 closed

[2019-04-27 15:42] MarkTiedemann commented on #2184
There's also https://www.npmjs.com/package/deno which tries to bring the Deno API to Node (see: https://github.com/denoland/deno_install/issues/6).

[2019-04-27 15:48] MarkTiedemann opened #2225 "Remove --version flag from deno version subcommand"
[code]

I think this is confusing.

[2019-04-27 16:02] zekth commented on #2225
cc @bartlomieju

[2019-04-27 16:11] bartlomieju commented on #1320
Waiting for denoland/deno_third_party#32 to resolve this

[2019-04-27 16:16] bartlomieju commented on #2057
I've started working on progress bars for downloads and import, since downloads and compilation is async it would be helpful to store number of downloaded and compiled files on `DenoDir` so progress bars can be updated as new files are discovered.

[2019-04-27 16:29] ry commented on #2222
@mrkurt do you have a patch for exposing Request/Response? I spent a moment trying to to expose these but got hung up...

[2019-04-27 16:32] bartlomieju opened #2227 "Rewrite flags.rs::parse_flags"
With recent numerous changes to CLI and more to come (#2213, #2215) I found myself in situation when it's harder and harder to properly test CLI parsing logic and not break anything.

That's why I'd like to propose yet another rewrite to:
https://github.com/denoland/deno/blob/40d8ef1ec9f5e50017c41af8bf3b9f8454f97544/cli/flags.rs#L134

Currently it only returns `DenoFlags` and choosing the actual s

[2019-04-27 16:43] bartlomieju opened #2228 "Discussion: Make CLI flags global"
With current implementation CLI flags are required after `deno` and before any subcommand:
[code]

Current solution is not super ergonomic and became apparent during work on #2215 which would require a lot of changes to integration tests in `tests/` - they often go like this:
[code]
With current approach each test has to be visited and `run` subcommand should be added in proper place. Making flags

[2019-04-27 18:19] #2225 closed

[2019-04-27 18:20] ry commented on #1320
Ref https://github.com/denoland/deno/pull/2229

[2019-04-27 18:22] ry commented on #2057
@bartlomieju I'd rather there be a "ProgressBar" object (which should wrap whichever progress bar crate we're using) which can be added to ThreadSafeState. Then you'd have something like `ProgressBar::start(action: String)` and `ProgressBar::end(action: String)` ? Not sure about that exact API, but some functionality like that.

[2019-04-27 18:23] ry commented on #2227
SGTM

[2019-04-27 18:25] ry commented on #2228
`--allow-read` and `--reload` etc should be flags of the run subcoommand, not to deno itself. So you'd only see them when you do `deno help run`.

[2019-04-27 18:40] ry commented on #2096
I left a comment in #2223 outlining how to get started the second part of this: `op_deps` for @fewf.

Ref: https://github.com/denoland/deno/pull/2223#issuecomment-487309747

[2019-04-27 22:49] jcao219 commented on #1826
I can try to see if I can make a prototype of @sholladay 's API into reality.

[2019-04-27 23:29] jcao219 commented on #2121
Only for strings and buffers, but Servo's [Tendril project](https://github.com/servo/tendril) solves similar problems.

[2019-04-28 00:02] mrkurt commented on #2222
@ry I don't! I also looked for a bit, and realized there's more missing than I thought. I'm working on running the ones we use for fly.io to see how they are, it's possible they'd be good options to include in deno — although your `FormData` is better:

https://github.com/superfly/fly/blob/master/packages/v8env/src/body_mixin.ts
https://github.com/superfly/fly/blob/master/packages/v8env/src/reques

[2019-04-28 02:44] est31 commented on #2150
That's news to me. Yes, Chrome disallows `fetch`-ing any `file://` scheme based url, but Firefox definitely allows `fetch('file://')` as long as their same origin policy is followed.

[2019-04-28 10:00] bartlomieju commented on #1910
I'm revisiting this because lately there's been again a lot of repeating question on gitter about Deno. @ry would you reconsider to have FAQ section on website?

[2019-04-28 10:13] zekth opened #2233 "Discussion : Warnings on imports"
My concern is about imports from URL and especially when you import from CDN / package management. If you don't use a tagged version you'll import the latest one, which is not recommended in production environment for example.

Example of my experience:
Several teams are using `Docker` and multiple images in their workflow. Sometimes the reviewer don't check this part of the PR or commits due to w

[2019-04-28 10:20] bartlomieju commented on #2228
@ry valid point, then `--log-debug` and `--reload` should probably be global anyway. I'd imagine doing `deno fmt --reload script.ts` to update prettier and for `-D`... well, sometimes you just need to check what's going on in any of the commands.

[2019-04-28 13:12] hayd commented on #2233
Perhaps this could be in a linter be rather than compiler warning?

When there is dependencies as json you could recursively loop through every dep url and assert it's a tagged url.

[2019-04-28 13:30] zekth commented on #2233
I like this idea. Also it could check multiple versions of the same package in deps.

[2019-04-28 14:14] ry commented on #1910
Happy to have the questions added to the manual - I want to avoid bifurcating the docs.

[2019-04-28 14:38] ry commented on #2233
Deno only sees URLs, which don't have a concept of a tag. So there's no way to make this warning. As suggested, maybe a linter could inspect URLs from certain domains.

[2019-04-28 14:38] #2233 closed

[2019-04-28 17:34] bartlomieju commented on #1320
@ry moving discussion here to keep it in one place

---
@bartlomieju I'd rather there be a "ProgressBar" object (which should wrap whichever progress bar crate we're using) which can be added to ThreadSafeState. Then you'd have something like `ProgressBar::start(action: String)` and `ProgressBar::end(action: String)` ? Not sure about that exact API, but some functionality like that.

_Originally p

[2019-04-28 21:04] ry opened #2240 "025_high_precision.test is flaky on linux"
[code]
example: https://travis-ci.com/denoland/deno/jobs/196184298

[2019-04-28 21:16] #2219 closed

[2019-04-29 09:19] flying-sheep commented on #1968
Another thing: It’s pretty crazy that node doesn’t have an API to set the locale at runtime.

It’s pretty important to be able to do that, e.g. when offering a language switcher in your application or running the tests in a predictable environment.

[2019-04-29 14:58] #51 closed

[2019-04-29 23:03] kevinkassimo opened #2243 "Panicking on opening too many files"
Deno panics and hard crash on opening too many files, aka fildes count exceeding `ulimit -n`. Ideally it should throw a user space error instead.
[code]

(Might have been a Tokio problem though)

[2019-04-29 23:43] #2227 closed

[2019-04-30 00:59] ry opened #2245 "max latency benchmark plot is messed up"
<img width="740" alt="Screen Shot 2019-04-29 at 5 59 04 PM" src="https://user-images.githubusercontent.com/80/56935827-8a5e5a00-6aa8-11e9-9c13-464ae97825aa.png">

This is caused by a zero value in the data:
[code]

[2019-04-30 07:22] kevinkassimo opened #2249 "Replace `panic!`s with graceful errors for userland processing"
Currently, we have many code simply panicking and hard crashing on invalid operations or input, e.g.
https://github.com/denoland/deno/blob/200bed9277182e40e4ee4bb08b237f1c2d1ae244/cli/resources.rs#L182-L195

Ideally we should instead wrap these conditions as errors and forward to TS side, such that users could provide code for handling.

However, there are challenges mainly from Tokio fs related p

[2019-04-30 15:46] LaurenceM10 opened #2251 "Restart server automatically when making changes"
I created a basic server with Deno based on an example of: https://deno.land/

I added some changes and my feeling was that the server would restart with the new changes, but it was not like that.

Is there something integrated in Deno that allows it to be done, like nodemon in NodeJS?

[2019-04-30 17:42] #2245 closed

[2019-04-30 19:08] ry opened #2254 "test target renames"
Rename test_cc to libdeno_test

Rename test_rs to cli_test

[2019-05-01 04:31] ry opened #2256 "tcp server accept loop should use for-await"
currently it looks like this:
[code]
it seems more idiomatic if it looked like this:
[code]

[2019-05-01 04:43] ry opened #2257 "deno xargs"
For quick processing on the command line, `deno xargs [code]` reads from stdin, line-by-line and execute the specified code for each line. The line is found in `$` (other suggestions welcome for this variable name)
Example:
[code]
maybe "deno xeval" ?

[2019-05-01 05:46] ry opened #2258 ""deno help fetch" should have better documentation"
[code]
This is not at all clear what it does. It would be great if it had an example like
[code]
An "file" should probably be "url" instead

[2019-05-01 06:08] kevinkassimo commented on #2257
We can also allow user to potentially choose their own variable name (in some way similar to replstr for `xargs`):

`deno xeval -I="myvar" "console.log(myvar)"`

This also seems to be implementable mostly on the TS side.

[2019-05-01 08:06] sh7dm opened #2261 "Better website with Vuepress"
Vuepress is an awesome static site generator we can use for Deno. We don't need to worry about design. I'd like to reefactor docs if you like Vuepress.
Ref: https://github.com/vuejs/vuepress

[2019-05-01 09:08] #1948 closed

[2019-05-01 13:48] #2254 closed

[2019-05-01 16:24] Chococrok commented on #2105
Ok so I made a fix thanks to this piece of code:

[code]

I am not sure if it is the expected behavior ? What do you think ? @bartlomieju @ry

I also added this test :

[code]

Do you think that an integration test like the fetch_test.py could be necessary ?

And do I need rights to push a new branch to be able to open a pull request ?

One last thing, It was hard for me to understand what the par

[2019-05-01 20:58] #2256 closed

[2019-05-01 21:11] ry opened #2265 "appveyor is flaky (reason unknown but error messages similar)"
[code]
example https://ci.appveyor.com/project/deno/deno/builds/24240804

[2019-05-01 23:15] #2258 closed

[2019-05-02 04:34] mrkurt opened #2267 "networking tests not running?"
I don't think `fetch_test.ts` is running properly, it seems like all the tests defined with `testPerm` are getting ignored. None of them even show up in the appveyor logs.

![image](https://user-images.githubusercontent.com/7724/57056645-65651500-6c69-11e9-98fd-15b5302ee22b.png)

[2019-05-02 04:54] ry commented on #2267
That's embarrassing. Yes, you're right. Somehow those got turned off - it's a massive oversight.

I'm started turning it on in this PR https://github.com/denoland/deno/pull/2268 but the unit tests hang. Needs more work still.

[2019-05-02 15:23] axetroy opened #2270 "Feature Request: import xxx.mjs file"
Some Javascript modules support exporting to .mjs

If Deno can support it, then we can reuse the existing modules in the community.

[code]

[2019-05-02 16:41] ry commented on #2103
Just want to note that the poor design of `tools/unit_tests.py` has already caused the networking tests to be silently disabled: https://github.com/denoland/deno/issues/2267

We need to refactor it soon.

[2019-05-02 16:59] bartlomieju commented on #2103
I'll do it

[2019-05-02 17:19] ry commented on #2270
I think this should work already? I don't think we examine the file extensions?

[2019-05-02 17:53] axetroy commented on #2270
@ry Currently not supported

[code]

[2019-05-02 21:08] #2267 closed

[2019-05-02 21:34] ry commented on #2270
@axetroy Ah - it should be quite easy to fix - first add it here
https://github.com/denoland/deno/blob/e4354ce73984668d7a057e1b6f591dd566209369/cli/deno_dir.rs#L29-L37
maybe adjust a few asserts (only as necessary)
https://github.com/denoland/deno/blob/e4354ce73984668d7a057e1b6f591dd566209369/js/compiler.ts#L455-L458
And add a new test file: `tests/030_mjs.test`

You can run the test doing this:
[

[2019-05-02 23:29] piscisaureus commented on #2265
https://github.com/denoland/deno/commit/48bcfce09e11901244447617be2eb7789427eab0

[2019-05-02 23:29] #2265 closed

[2019-05-02 23:40] piscisaureus opened #2272 "deno --v8-options does not print v8 options"
Instead it just drops into the repl.

[2019-05-03 02:09] kevinkassimo commented on #2272
`--v8-flags` is also not working

cc @bartlomieju

[2019-05-03 07:08] axetroy opened #2276 "Print weird behavior with negative zeros"
I am writing a test case and found the weird behavior of printing `-0`.

It caused my test case to fail

### Test code

[code]

### Print in the chrome

![屏幕快照 2019-05-03 15 06 11](https://user-images.githubusercontent.com/9758711/57123619-057b8500-6db5-11e9-9fab-ff77d8b69a4a.png)

### Print in Node.js

![屏幕快照 2019-05-03 15 07 01](https://user-images.githubusercontent.com/9758711/57123653-2217bd00

[2019-05-03 12:52] bartlomieju commented on #2105
Answering your questions @Chococrok:

You need to fork the repo, push branch to your fork and open a PR

Yes, a test case will be needed

Specifier is an unique URL to a file, while referrer is an URL in which `specifier` was found.

[2019-05-03 12:59] #2272 closed

[2019-05-03 13:09] sh7dm commented on #2261
@ry do you approve that?

[2019-05-03 13:23] ry commented on #2261
@sh7dm Sorry for the delayed reply. Thanks for the offer but I don't want to introduce a complex website system right now.

[2019-05-03 13:23] #2261 closed

[2019-05-03 14:01] ry commented on #2121
First part of this transition has landed in https://github.com/denoland/deno/commit/00ac871607a7aeff1f6ac90f10090f07be9ccf73
and resulted in this perf improvement
<img width="532" alt="Screen Shot 2019-05-03 at 9 54 06 AM" src="https://user-images.githubusercontent.com/80/57142322-3a261700-6d8a-11e9-8b41-71908f8364f7.png">

The new serialization method doesn't generalize - it's just the simplest t

[2019-05-03 14:25] base698 opened #2279 "Disable eval() as an option --disallow-code-generation-from-strings"
Node has a command line option to disable `eval`.  It was a v8-option implemented in 2011: https://bugs.chromium.org/p/v8/issues/detail?id=1258

Is this currently supported, or could it be enabled?

[2019-05-03 16:34] kevinkassimo commented on #2279
Yes. You can enable with `deno --v8-flags=--disallow-code-generation-from-strings`.

There was a bug with `--v8-flags` not correctly forwarding v8 specific flags to v8. This has since been resolved on the master branch in #2277 and will be available in the next release.

[2019-05-03 16:40] kevinkassimo commented on #2276
Node.js has a special handling of this in `lib/internal/util/inspect`:

[code]

We could do exactly the same.

[2019-05-03 16:40] #2279 closed

[2019-05-03 16:41] base698 commented on #2279
Thanks!  Just built from source and it worked.

[2019-05-03 17:17] ry opened #2282 "eval, stdin, and curl don't work well together"
[code]

Not sure what's happening there.

[2019-05-03 17:46] kevinkassimo commented on #2282
This works fine for me though:
[code]

[2019-05-03 18:00] ry commented on #2282
Sorry for the noise. Yes, I was using the wrong exe

[2019-05-03 18:00] #2282 closed

[2019-05-03 18:01] #2276 closed

[2019-05-03 19:03] #2270 closed

[2019-05-03 21:15] #2189 closed

[2019-05-03 21:18] bartlomieju commented on #2228
Resolved in #2215

[2019-05-03 21:18] #2228 closed

[2019-05-03 21:18] bartlomieju commented on #2257
Done in #2260 :) ?

[2019-05-03 22:33] kevinkassimo opened #2285 "`deno version` panicks"
[code]

[2019-05-03 22:50] ry commented on #2285
Fixed in https://github.com/denoland/deno/pull/2286

[2019-05-03 22:50] #2285 closed

[2019-05-03 22:52] #2257 closed

[2019-05-03 23:03] ry opened #2288 "Announce: change in versioning scheme"
We've been incrementing the patch number in the releases each week, while introducing large changes. (This is actually allowed inside of semver, as it's v0.y.z still.) However, moving forward I would like to start incrementing the minor version each week, starting this week.

So very soon we will release "v0.4.0", and next week "v0.5.0". If there are small fixes made to a release, we'll increment

[2019-05-04 08:39] hayd commented on #2251
After #1826 this can be added to the webserver / can write a nodemon-like deno application.

[2019-05-04 13:49] zekth commented on #2288
Is `deno_std` concerned with this change?

[2019-05-04 16:55] ry commented on #2288
@zekth Not really. It will continued to be tagged and versioned along with Deno. Which btw, I've just pushed the tag for v0.4.0
https://github.com/denoland/deno_std/tree/v0.4.0

[2019-05-04 16:55] #2288 closed

[2019-05-05 06:56] kt3k commented on #1658
Amazon Linux 1 (not 2) also seems having this problem. I tried the above 2 binaries, but these don't seem working

[code]

(note: AWS Lambda uses Amazon Linux 1 as its [runtime environment](https://docs.aws.amazon.com/lambda/latest/dg/lambda-runtimes.html). So this also seems blocking running deno in AWS Lambda).

I found a similar issue in rust repository https://github.com/rust-lang/rust/issues/

[2019-05-05 08:28] hayd commented on #1658
Do you have to install glibc-static package? https://forums.aws.amazon.com/thread.jspa?threadID=271828

For AWS Lambda I wonder if it's possible to include this binary in the bundle?

[2019-05-05 09:26] kt3k commented on #1658
@hayd Yes, I installed that package. It seems that in amazon linux 1, glibc packages are explicitly v2.17
[code]
---

I'm not sure how to do that... But Lambda allows the package size of 50MB (zipped) / 250MB (unzipped). Linux binary of deno is about 10MB(zipped) / 50MB(unzipped). If the extra binary is less than 40MB(zipped)/200MB(unzipped), I think that should be possible.

[2019-05-05 10:02] kt3k commented on #1658
BTW I tried to build deno on amazon linux 1. The above `use_sysroot = false` flag worked and I successful got deno binary working in it.

[code]

I put the binary here. https://github.com/kt3k/lambda-deno-runtime-wip/blob/master/deno_built_in_amznlinux

[2019-05-05 12:43] hayd commented on #1658
Having a binary without glic requirement should allow deploying an aws lambda function. Awesome! I'll have a play with this later in the week.

[2019-05-05 14:08] GaryPWhite commented on #2240
Trying to poke around here -- seems like that's not the job producing that output. Hard to repro on my linux box, is there an example travis build floating around?

[2019-05-05 15:10] jkdmyrs opened #2295 "Add support for 32-bit ARM processors"
When attempting to install deno on my Raspberry Pi, I get the following:

$ curl -fsSL https://deno.land/x/install/install.sh | sh -s v0.4.0
Unsuported architecture armv7l. Only x64 binaries are available.

Is support for 32-bit ARM processors something we can eventually expect?

[2019-05-05 20:02] Maxim-Mazurok commented on #1658
It didn't work for me https://github.com/denoland/deno/issues/1658#issuecomment-460746941

I'll try again

[2019-05-06 06:59] kitsonk commented on #2295
arm64 was introduced in #1846, which was really done by someone wanting to contribute it, an arm32 build likely would need to be done the same way.

[2019-05-06 07:40] potham commented on #2295
@jkdmyrs me also faced the same issue.

[2019-05-06 17:08] afinch7 commented on #2295
I would like to get builds for arm32+arm64 into the wild, but we had quite a few issues with testing last time.

[2019-05-06 19:27] JLarky commented on #968
It doesn't seem to support `.prettierrc` though...

[2019-05-06 19:34] dsherret commented on #968
@JLarky from the original post:

[2019-05-06 19:37] saadq commented on #968
I think that's on purpose. It's probably going to be more like `gofmt` where all Deno code will have the same formatting rather than letting people customize their Prettier config. Might be wrong though.

[2019-05-06 20:41] kevinkassimo opened #2297 "Discussion: CLI cache clean commands"
(Migrated from gitter)
We could potentially introduce some basic cache cleaning commands for Deno.
Currently 2 super-duper simple and crude ideas:
1. Clean by domain, something like `deno clean https://github.com` deletes all cached files under that domain (this one is somewhat easy to implement)
    + This could be slightly more granular:` deno clean -d https://unpkg.com/lodash-es@4.17.11/`
    +

[2019-05-06 21:12] ry commented on #2297
I'm for this. I think the most common use case would be to delete the dependencies of a script, so maybe that shouldn't need a flag:

removing all cached dependencies. Example: deno clean https://deno.land/std/http/file_server.ts

I think the dep exclusion sounds good, maybe with the --exclude flag?

[2019-05-06 21:18] kevinkassimo commented on #2297
@ry I'm actually slightly worried about the "delete the dependencies of a script" use case. Since we do not really have the concept of a "project" in fixed locations and thus cannot do reference count of usage of certain dep for all present Deno scripts, if a script happened to import from common modules like `deno_std`, this would impact many other scripts spreading across the file system when we

[2019-05-06 21:31] hayd commented on #2297
clear > clean.

[2019-05-07 00:22] kitsonk commented on #2297
I think people would prefer an aggressive clear/clean.  With the ability to exclude stuff, I think it would be overkill to automatically exclude dependencies for one script that are used by another script.  While there are chances that it might invalidate the cache of something else and then replace it with something that makes the other script not work, just as much of the reverse is true as well

[2019-05-07 01:23] kevinkassimo opened #2299 "Reorganize `use` statements in Rust files"
`use` statements in e.g. files like `cli/ops.rs` have grown a bit unnecessarily long. We should try to reduce these statements and reorganize them.

For example in `ops.rs`,
[code]
could be combined to simply
[code]
Also for some other files, when we already do `use crate::errors::DenoError;`, we no longer need to write `errors::DenoError` and instead `DenoError` is good enough.

We also need to s

[2019-05-07 02:09] jorsi opened #2300 "Use of undeclared identifier 'IsWindows10OrGreater'"
Just started getting this error when trying to build the newest master branch:

![image](https://user-images.githubusercontent.com/7156655/57266819-92d80700-704b-11e9-95ad-773098e1203f.png)

[2019-05-07 02:18] kevinkassimo commented on #2297
@kitsonk I think there is a potentially better use scenario for the exclusion feature: assume that user defines their own `DENO_DIR` location and carries all the dependencies files along with the project, dep exclusion could help removing unnecessary files while keeping only the cached files that are actually used. (I think this might be a valid scenario: imagine a user initially tried to use e.g.

[2019-05-07 02:37] kitsonk commented on #2297
yes, I can see "clean everything but what _X_ needs" is a more common use case to reduce size...

One side thought in general about generating a dependency graph, how do we deal with dynamic `import()`?

[2019-05-07 03:00] kevinkassimo commented on #2297
I believe I have raised [a similar question](https://github.com/denoland/deno/issues/1386) for `deno fetch` in the past... Our resolution at that time was to "just ignore them"... I believe v8 would inform us with dynamic imports requests only during runtime, so unless we uses some tools to generate AST (TS compiler maybe?) we won't be able to know whether and where these dynamic imports occur

[2019-05-07 04:30] potham opened #2301 "an error occurred trying to connect: invalid certificate: UnknownIssuer"
Hi,

Just installed deno and try to run welcome.ts file which is mentioned in docs, i am facing this issue. Details are below.

[code]
[code]

Anybody faced this issue.

[2019-05-07 07:46] JLarky commented on #968
As if he can't be OP and be wrong at the same time

[2019-05-07 07:51] JLarky commented on #968
I see. Still kind of awkward to setup separate prettier infrastructure just if you want to use prettierrc or prettierignore. But given the history that prettier didn't have that options in first version I guess it makes sense that people are so stubborn on zero config solutions

[2019-05-07 08:23] slikts commented on #11
In case anyone comes across this, running TS in node should be done with `babel-node` instead of `ts-node` since the Babel 7 TS transform is faster.

[2019-05-07 08:33] shirshak55 commented on #11
@slikts but that requires webpack etc right? And ts node gives u error, warnings etc which is ignored by babel right?

[2019-05-07 08:36] bartlomieju commented on #2301
Just tried and works fine, do you use any proxy server?

[2019-05-07 08:50] bartlomieju commented on #2203
Can be closed with #2205 landed?

[2019-05-07 08:53] runnerSnail commented on #1564
微信群请拉一下我 谢啦

[2019-05-07 08:54] runnerSnail commented on #1564
微信群拉一下我，谢啦哈

[2019-05-07 08:54] davidjamesstone commented on #2203
Yes, this is fixed. Thank you.

[2019-05-07 08:54] #2203 closed

[2019-05-07 09:29] potham commented on #2301
yes @bartlomieju. Thanks for reminding. By disabling proxy now i have successfully executed . But now while importing http module i am facing other error.

[code]
**first-server.ts**
[code]

[2019-05-07 09:32] slikts commented on #11
It just requires Babel, not webpack, and yes, typechecking would be done separately (by the editor and CI pipeline in a typical workflow).

[2019-05-07 09:49] bartlomieju commented on #2301
Related issue: #1383

[2019-05-07 09:55] jimmywarting opened #2302 "blob slice should not throw"
Haven't read the spec lately but this did look strange to me...

https://github.com/denoland/deno/blob/1f7ad17152c03b140c997590c897b89fbfea7cea/js/blob.ts#L98-L101

Tested this in the browser

[code]

it just sets the type to empty string `""`

[2019-05-07 09:58] jimmywarting opened #2303 "and new blob reading methods"
- [ ] `blob.text()` - `promise<String>`
- [ ] `blob.arrayBuffer()` - `promise<ArrayBuffer>`
- [ ] `blob.stream()` - `Dom.ReadableStream`

[2019-05-07 10:20] kitsonk commented on #968
The intent of the feature was to have a consistent formatter built into Deno, not to support prettier in Deno.  It just happened that the default configuration for prettier was sufficient for our needs.

[2019-05-07 10:21] kitsonk commented on #2303
Unlikely, largely sugar like that is done in `deno_std`, not in the Deno core.

[2019-05-07 11:38] potham opened #2304 "Build environment issue"
Hi,

took latest branch from master and try to setup build environment, facing following issue.

[code]
did anyone face this kind of issue?

[2019-05-07 11:53] Janpot commented on #2299
Could this be done automatically by a code formatter?

[2019-05-07 12:58] arcatdmz commented on #2124
This issue seems to persist in v0.4.0, replicated on a simple EC2 t2.micro instance.

[code]

Then the program hangs indefinitely. With `-D` option, I see a similar output as @pietvanzoen. No more output after the `found local source` line.

[2019-05-07 13:01] bartlomieju commented on #2124
AFAICT `deno_dir` wraps async methods in `blocking()` call, there is even TODO to change this behavior not to block. I can take a look at it in the evening.

[2019-05-07 13:28] arcatdmz commented on #2124
As a side note, when I changed the AWS EC2 instance type from t2.micro (1vCPU) to t3.nano (2 vCPU), `deno run` worked correctly and didn't hang up.

[2019-05-07 14:20] hayd commented on #968
@JLarky This could be supported in deno_std, even if not with `deno fmt`.

[2019-05-07 18:15] kevinkassimo commented on #2299
@Janpot seems that our current settings with rustfmt does not format these. If people can find a way to tweak the formatter settings it also works.

[2019-05-07 18:44] ry commented on #2299
I’d love if we could configure rustfmt to not allow multiple symbols to be imported per line. (The curly brace syntax.)

Rebasing and merging is much easier if each import is on its own line.

[2019-05-07 19:35] kevinkassimo opened #2305 "Proposal: smarter TS compiled file management"
Currently whenever we compile a file that has been modified, we simply create a new file using the hash of source file name + source code + version + config. This leaves the old compiled file of previous version still in the cache.

Instead I believe it might be better to introduce a similar design of storing a meta file for each compiled file. For example, we could create a file using hash from p

[2019-05-07 20:00] bartlomieju commented on #2124
So I've looked into this issue by manually tweaking tokio's runtime with `core_threads(1)` to think I have only 1 CPU available. Then indeed Deno hangs.
[code]
I followed code path and it seems problem is not with blocking calls. Additionally tokio has default limit of 100 concurrent blocking calls.

Strangely it looks like file is downloaded twice... @ry is this intended behavior?

[2019-05-07 23:38] kitsonk commented on #2305
I think in general I agree with this idea.  Clearly we will want/need some sort of GC of cached module meta data.

I don't think we expect this often, but if it does change, it would cause significant issues.  For example, someone decides to not use a config file initially, realises that strict mode would be a good idea, enables it, and now there is no recompilation of any of the files even though

[2019-05-08 10:33] bartlomieju commented on #2154
@cllty #2158 was merged, can we close this issue now?

[2019-05-08 10:34] bartlomieju commented on #2159
@jorsi are you still experiencing this problem?

[2019-05-08 10:51] bartlomieju commented on #1772
@kitsonk it this issue still happening with latest release that uses TypeScript 3.4.1?

[2019-05-08 14:47] arcatdmz opened #2308 "Deno.stat and Deno.lstat return FileInfo with null name and path properties"
Is this an intended behavior? I expected these properties to be filled with the actual file name and path.

[code]

stat_test.ts looks like this:

[code]

test code is also available at: https://danoweb.site/stat_test.ts?mode=edit

[2019-05-08 14:55] bartlomieju commented on #2308
Duplicate of https://github.com/denoland/deno/issues/1770

[2019-05-08 16:04] arcatdmz commented on #2308
ohhhhh thank you for pointing me to the issue... now I'm closing this one.

[2019-05-08 16:04] #2308 closed

[2019-05-08 16:12] arcatdmz commented on #1770
I personally prefer retaining the `path` property since functions like [this](https://github.com/arcatdmz/danoweb/blob/master/server/io.ts#L21) can be simpler without the first `filePath` argument.

Meanwhile, given that #1774 was closed without getting merged, it seems like the conclusion is (unfortunately) already made that we're removing these properties from `FileInfo`. If so, this issue could

[2019-05-08 16:32] hayd commented on #1770
Unfortunately I think this logic needs to be moved to something in std. I don't really understand @ry's decision as I think it's useful, trivial and without perf impact, but looks like this convenience needs to be wrapped around every fs function in std (with a FileInfo type defined there which includes both path/name fields). 🙄

[2019-05-08 16:39] ry commented on #1770
FileInfo doesn't need both the base name and the path. It's redundant.

If you want to have Stat copy the base name into the FileInfo, I'd be fine with that. But first, FileInfo.path needs to be removed.

[2019-05-08 18:42] kitsonk commented on #1772
This is all resolved now.

[2019-05-08 18:42] #1772 closed

[2019-05-08 20:08] ry opened #2312 "Rename xeval?"
"deno xeval" is a new command that evaluates a script for each line of stdin (it also supports other delimiters other than \n)

It is named after xargs, the unix command. But I suspect many users will not know xargs, or even if they do not make the connection. So maybe "xeval" is confusing.

1. Is xeval a good name?
2. If not what is? Alternative suggestions include "deno each" and "deno foreach"

[2019-05-08 21:24] hayd commented on #2312
I propose `eval-lines`, I know this doen't relay alternative delimiters but seems a lot clearer. Otherwise `eval-each` would also be good: more explicit than `each`.

[2019-05-08 23:04] zekth opened #2315 "[bug] windows : deno.run.status"
As seen in : https://github.com/denoland/deno/pull/2294

There is a moment when the promise of `deno.run.status()` is never resolved. On a bare script works like a charm with 0 or 1 output. Seems like the problem might be in the test runner of `deno` or the one of `deno_std`

ref: https://github.com/denoland/deno/pull/2294#pullrequestreview-235035105

cc @bartlomieju

[2019-05-08 23:22] ry opened #2316 "Add documentation for permissions whitelist"
Since #2129 was landed, --allow-read and --allow-write now can take optional values which restrict FS access to a directory. --allow-net similarly can take a host name.

website/manual.md and "deno help run" still need some examples and explanation.

[2019-05-08 23:23] jorsi commented on #2159
Still failing on the same tests with most recent master @ ec9080

[2019-05-08 23:25] ry commented on #2315
Is there a standalone example of this?

[2019-05-08 23:28] zekth commented on #2315
I've tried to find a way to reproduce but not at the moment. If i find a way to reproduce i'll post it for sure.

[2019-05-08 23:29] zekth commented on #2159
@jorsi could you try runing it in c:/temp for example and not in the USERS path? Also could you try using prompt with admin perm? i think it might be related.

[2019-05-08 23:40] jorsi commented on #2159
Just pulled and built up to 2edee33.

- running in Users dir - failed
- running in C:\temp - failed

Powershell is running in Administrator perms.

Output seems jumbled in some of these images:

--allow-read --allow-write
utimeSyncNotFound
utimeNotFound
writeFileNotFound
linkSyncExists
linkSyncNotFound

![image](https://user-images.githubusercontent.com/7156655/57415110-e4f26700-71c8-11e9-8d88-c5c

[2019-05-09 01:39] Fenzland commented on #2243
I have the same problem with Deno.run.

[code]

[2019-05-09 04:23] kevinkassimo commented on #2243
@Fenzland I think this is a different problem (since in my case the process crashed under `panic`). How many times do you run before this error occurs? (Usually `ulimit -n` should return a value 4000+)

[2019-05-09 05:36] kitsonk commented on #2057
One consideration, with CheckJS enabled (see #2114) the TypeScript compiler will transform JS->JS.  While we could discard the output, it makes more sense to cache both the input and output.  This would allow support of transforming many CommonJS modules and AMD modules into ES modules that can be run by Deno transparently.  In that case we would have an input and output JS to cache.

[2019-05-09 05:43] kevinkassimo opened #2318 "Escape perm whitelist using symlink"
e.g. Currently creating a symlink under write-allowed directory to other directories would allow escaping the perm rules and access any file.

[2019-05-09 08:32] fabm22 opened #2320 "Website : benchmarks page : broken links to some tests implementations files"
Hi,
in the benchmarks page here https://deno.land/benchmarks.html
the first links (links in 1st paragraph of text mainly) to the files .ts that implement the perf tests are broken.
(ex link: https://github.com/denoland/deno/blob/master/tests/worker_startup_bench.ts )