[2021-07-06 11:06] lucacasonato commented on #11018
Next problem: `FileSystemFileHandle.getFile` makes a on disk copy of the entire file to get an immutable view on it. This is unacceptable, even for a high level FS API. I am not in favour of this API as is anymore.

[2021-07-06 11:12] ebebbington commented on #11286
Also maybe this might help, i managed to 'fix' it (really its just a hack) by doing this:

![image](https://user-images.githubusercontent.com/47337480/124590668-51be2600-de53-11eb-8dac-9bf29d7f276c.png)

[2021-07-06 11:30] jimmywarting commented on #11018
Nah, it dose not do a disk copy, it only stat's the for file size and last modified date.
but yea, it's immutable.

My idea was that `FileSystemFileHandle.getFile` would return a `BlobReferences` backed up by a file on the disk

[2021-07-06 11:33] lucacasonato commented on #11018
@jimmywarting That is not safe though.

1. The on disk file can vanish. The `FIle` would then point to a non existent file.
2. The file might shrink or grow. In this case the `File.size` getter is wrong and would not match the output of `File.arrayBuffer().length`.

[2021-07-06 11:35] sramam commented on #11277
@caspervonb, could I ask for the reasoning behind the 👎 ?

It seems that all "framework" tools that generate and manage code for their end-user (the snapshot library here, but more generally - angular, nextjs, create-react-app and their ilk) have similar requirements.

Neither the frameworks nor the user (in most cases) know filenames they will choose a priori.

Currently, the realistic permission

[2021-07-06 11:38] jimmywarting commented on #11018
That can happen in the browser also from `<input type=file>`.
you will still have a `File` instances assigned to some variable. The modified date and size will always be the same when u got the file the first time.

if the name, size or modifiedDate change when u call `FileReader.readAs___` or `file.stream(), file.arrayBuffer()` then it throws a error.

https://github.com/WICG/file-system-access/i

[2021-07-06 12:33] lucacasonato commented on #11018
This is a huge issue though, as it is racy:

1. User calls `FileSystemFileHandle.getFile`. This will cause a `stat` syscall to be preformed to get the current size of the file. It will also do an `open` call to get a handle to the file. The user gets a `File` with the specified size, linked to the handle.
2. The user calls `File.stream()`. This will do another `stat` call to get the current size (

[2021-07-06 14:07] piscisaureus opened #11301 "WPT crypto tests are too slow in debug mode"
Running the WPT tests in debug mode now takes 12 minutes on ubuntu-latest-xl; this is too much.
These tests need to be either parallelized or disabled.

[2021-07-06 15:57] jimmywarting commented on #11018
I'm not *that* technical... i do not have any knowledge how the browser dose it. All i know is that it dose not copy a file

Either way i think it's important that we can receive a `File` instances somehow for use with FormData and handling (large) files in a standard way
Whether it be with the "File system access" or with a Deno namespace `const file = Deno.getFile('./readme.md')`

I really hope

[2021-07-06 15:57] rracariu commented on #8224
I confirm that on canary build the issue doesn't manifest itself, and the bundler produces a JavaScript file.
Can't test that file because the canary builds removed plugin support, but other issues I could find are not related to the bundler itself. BTW, the bundler is very fast even though it logs: `Using slow, fallback logic for topological sorting`.
Great job!

[2021-07-06 17:42] #6433 closed

[2021-07-06 17:59] lucacasonato opened #11303 "Support transferring ArrayBuffers via message ports"
Specified in https://html.spec.whatwg.org/multipage/structured-data.html#structureddeserializewithtransfer

[2021-07-06 18:04] lucacasonato opened #11304 "Support serializing blobs via structured clone"
Spec: https://www.w3.org/TR/FileAPI/#snapshot-state

Blocked on https://bugs.chromium.org/p/v8/issues/detail?id=11927

[2021-07-06 18:12] andreubotella opened #11305 "WPT test names with lone surrogates should be escaped in wpt.fyi"
https://wpt.fyi/results/encoding/encodeInto.any.html?label=master&label=experimental&product=chrome&product=firefox&product=safari&product=deno&aligned

`encoding/encodeInto.any.js` has a number of tests whose names contain lone surrogates, ~and Deno seems to be reporting them with the lone surrogate escaped as, say, `U+df06`. In wpt.fyi those tests show up twice: once with the surrogate, which ru

[2021-07-06 19:35] dsherret opened #11307 "Change language server to use concurrent cancellable reads and exclusive writes"
I think the change in #9271 to an async mutex at a high level was very good to do in that it quickly made the code less error prone and accessible for other developers working on it (harder for devs to make mistakes, removed race conditions, and eliminated deadlocks), however it does have some performance drawbacks since only one task can run through the language server code at one a time.

To exp

[2021-07-06 20:09] dsherret commented on #11268
@kitsonk I'm not sure if it's worth it to support this. I think it might be better for people to create their own wrapper around `Deno.env` for use by their application. Then they can properly type that object/class and do runtime assertions on the values received from `Deno.env` in it (ex. in the example above they could do a runtime assertion that `DENO_ENV` is actually either `"development"` or

[2021-07-06 20:23] dsherret commented on #11293
It seems to only be specific prototypes. In this case, they are throwing for the same reason as #9880.

[2021-07-06 21:20] kitsonk commented on #11307
@ry was quite opposed to this when I was adding them previously, as he felt it complicated things.

At the end of the day though, we have [Language Server Benchmarks](https://deno.land/benchmarks) so it should be possible to prove that discreet read/write locks would improve performance.  I am somewhat skeptical it would, because the biggest bottleneck in performance is tsc, which operates in sync

[2021-07-06 21:33] #11257 closed

[2021-07-07 00:33] jsejcksn commented on #11294
@bartlomieju Do you have further feedback regarding my suggestions for enhanced alignment based on column content type? The numeric index column seems like an easy win.

[2021-07-07 01:16] bartlomieju commented on #11294
@jsejcksn could you maybe add a screenshot for what you're asking? Is it right aligning only integer columns? I think #11295 is good first step and we could address that issue in a follow up maybe?

[2021-07-07 01:31] dsherret commented on #11307
@kitsonk it would be a single RwLock at the top level similar to the current Mutex and then refactoring the code a bit. I don't think it would complicate things too much in this scenario, but I'd like to hear more about that. I'll ask Ryan later.

Yeah, I agree that we would expect the biggest performance boost to come from supporting cancellation. That said, we might find it beneficial (but I'm u

[2021-07-07 02:44] jsejcksn commented on #11294
@bartlomieju There are many layers of UX considerations for tabular data alignment. I provided some links above to points of departure for anyone who wants to learn more — but, ultimately, I think that how many layers are implemented should be a function of the performance budget allotted to `console.table`.

I'll elaborate a bit more. Here are some "rules" that get repeated in discussion around t

[2021-07-07 03:21] bartlomieju commented on #11294
@jsejcksn thanks for clarification. Let's address center alignment in #11295 to move everything to being left-aligned, and work on right-alignment for number-only column in a follow up. Thanks for bringing this issue up, centered items always bothered me in `console.table()` but I never got around to opening an issue about it. This is a very nice quality-of-life improvement.

[2021-07-07 03:25] jsejcksn commented on #11294
Re:

@bartlomieju I interpreted your response to mean "No, let's leave this open as the basis for the follow up". Is that right?

[2021-07-07 03:28] bartlomieju commented on #11294
Yes, let's leave this issue open after landing #11295 for a follow up PR.

[2021-07-07 04:28] andreubotella commented on #11305
Looks like I filed the issue quickly, and I completely missed the fact that in the tests in wpt.fyi, Deno is "accurately" reporting the test names with lone surrogates, while the rest of browsers are escaping them. This escape happens in `wptrunner` [and is done on purpose](https://github.com/web-platform-tests/wpt/blob/master/tools/wptrunner/wptrunner/formatters/wptreport.py#L8-L16), though I'm n

[2021-07-07 05:36] kitsonk commented on #11307
Maybe, but I think we are talking milliseconds of blocking at worst in that scenario.

To get a clearer picture of where the time is spent, and where performance could be improved, work on a fairly large project for a while and then do the `Deno: Language Server Status`.  You will get stats for the last 1000 requests.  Just looking now, I am seeing the long pole in the tent being `update_diagnosti

[2021-07-07 09:48] littledivy opened #11313 "Error input must be hashed with sign on RSASSA-PKCS1-v1_5"
Only impacts `RSASSA-PKCS1-v1_5` and not `RSA-PSS`

Reproduction (Deno canary):

[code]

[code]

Expected results: Should work

[2021-07-07 13:04] ebebbington commented on #11073
I wouldn't totally be against the idea - as kt3k is the author, i have a strong confidence in packup, i mean if it does the same thing, i can't imagine why people wouldn't want to adopt it as opposed to using `deno bundle`

[2021-07-07 14:20] dsherret commented on #3173
I opened #11317 with this proposed approach.

[2021-07-07 14:33] #11313 closed

[2021-07-07 15:59] bartlomieju commented on #11294
Reopening so we can still address right-align for number only columns.

[2021-07-07 16:18] dsherret commented on #10938
No longer occurs. Fixed by https://github.com/denoland/deno/pull/11249

[2021-07-07 16:18] #10938 closed

[2021-07-07 17:56] #11305 closed

[2021-07-07 18:20] lucacasonato commented on #11301
Had to revert the parallelization because it introduced flakes.

[2021-07-07 18:59] #11237 closed

[2021-07-07 20:23] dsherret opened #11322 "REPL autocomplete should work for assigned primitives"
For example:

[code]

https://discord.com/channels/684898665143206084/689420767620104201/862418713708593152

[2021-07-07 23:19] TheAifam5 commented on #1371
@bartlomieju that was it :D thank you for giving me a hint. I do not have tests written yet.
So basically, the MVP is finished, needs some tweaking and adjustments and cleanups.

I've created a draft PR as you requested, also a PR contains an important notice:
https://github.com/denoland/deno/pull/11324

[2021-07-08 03:52] jaydenseric opened #11327 "A final blankline in a file prevents 100% code coverage"
A final newline in a file incorrectly prevents 100% code coverage when using the `deno test` and `deno coverage` CLIs.

This is especially a problem because many projects enforce a final newline in files, via [EditorConfig](https://editorconfig.org) (`insert_final_newline` config), linters, or other means.

To reproduce, in `example.js` (note the newline at the end):

[code]

Then, in `example_tes

[2021-07-08 04:20] caspervonb commented on #11327
Thanks for the report, in the middle of a major overhaul of the entire thing so these serve as excellent new test fixtures!

Just tagging myself for filtering purposes @caspervonb.

[2021-07-08 05:53] kitsonk commented on #11287
Fixed in swc upstream.  Should just need to update.

[2021-07-08 06:03] jaydenseric commented on #8233
It would be awesome if there was a Deno equivalent of [`jsdoc-md`](https://github.com/jaydenseric/jsdoc-md), ideally out of the box.

The whole point of readme files is to document what the software is and how it's used. IMO separate doc sites are inferior to a generated "API" section of the markdown readme, derived from source JSDoc.

- As a user I love it when all the documentation is contained

[2021-07-08 06:14] rikilele opened #11330 "`decodeURI()` does not exist in documentation"
It seems like `decodeURI()` is non-existent on both the stable and unstable runtime API docs.
It is, however, usable in deno (1.11.5) . Is there somewhere else I should refer to when looking for the documentation?

- [Runtime API docs](https://doc.deno.land/builtin/stable)
- [Unstable Runtime API docs](https://doc.deno.land/builtin/unstable)

Apologies in advance if this wasn't the right place to

[2021-07-08 06:59] caspervonb commented on #11277
Permissions shouldn't take blobs imo, too easy to mess up.

[2021-07-08 08:22] lucacasonato commented on #11330
`decodeURI` (and `encodeURI` and `decodeURIComponent` and `encodeURIComponent`) are JS builtins (like `Array`, `String`, `Math`, or `Uint8Array`). JS builtins are not listed in the runtime API docs. For functions like these you should refer to MDN: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/decodeURI

[2021-07-08 08:22] #11330 closed

[2021-07-08 08:36] kitsonk commented on #8440
I have kept kicking this down the road, but I have started this now.  A couple notes so far...

- tsc "blindly" take whatever is in `--jsxImportSource` and appends onto it `/react-runtime` or `/react-dev-runtime`. Same behaviour with swc.  This causes a bit of a problem, because we always expect specifiers to end in an extension.  We can insert some "magic" based on the settings/configuration, but

[2021-07-08 08:39] kdy1 commented on #8440
If required, I'm open to accepting a trait to override logic for determining import sources.

[2021-07-08 08:45] ebebbington commented on #11287
great news :)

[2021-07-08 09:41] rikilele commented on #11330
Thanks for clarifying!

[2021-07-08 10:15] kitsonk commented on #11186
One suggestion on this has been to "turn off" JSX by default and to encourage people to use the pragmas of `@jsx`, `@jsxFrag` and `@jsxImportSource` on a per file basis (or maybe even just `@jsxImportSource`).  Some considerations on this would be:

- Does turning it off and "locking" people out increase or decrease portability of code?
- Does encouraging people to use the pragmas on a per file ba

[2021-07-08 10:21] kitsonk commented on #8440
Thank you. At the moment, swc is "behaving" like I expect. Considering the behaviour is consistent between swc and tsc, it feels like it would be better to have the Deno module graph do the "magical" resolution.

[2021-07-08 11:33] #10211 closed

[2021-07-08 11:59] matthewp opened #11333 "ReadableStream responses are not flushed in chunks"
When curling a request to this server I would expect to see each yielded value in chunks. There's a related PR: #8349 but maybe it's not applying to `Response`?

Note that this works if I add a `\n` on the end of the chunk but I don't *think* that's normally required in service workers.

[code]

[2021-07-08 12:42] piscisaureus opened #11334 "Cambrian explosion of comment pragmas"
[code]

[2021-07-08 13:20] matthewp commented on #11333
I shouldn't say that adding `\n` fixes the issue. It does cause the response to be streamed, however adding a newline changes the contents, so something like HTML where whitespace is significant would produce unwanted results.

[2021-07-08 13:43] #11293 closed

[2021-07-08 15:59] bartlomieju commented on #11224
Gonna close this issue as we migrated all the files listed. Huge thanks to @littledivy, @SimonRask, @crowlKats and @CrimsonCodes0 who helped it push forward in just a week.

@CrimsonCodes0 let's address your comments regarding getters in a follow up issue.

[2021-07-08 15:59] #11224 closed

[2021-07-08 16:17] sramam commented on #11277
I see.
A bit ironically, the current implementation leads to widespread use of `-A` which renders _any_ permissions moot.
Even if `-A` was modified to apply to `cwd` by default, it'd be a huge improvement over current state of affairs.

[2021-07-08 16:56] #11105 closed

[2021-07-08 16:58] #11322 closed

[2021-07-08 19:47] fer22f commented on #10721
Since the related bug #7674 has been closed, I tried running the tests again. I compiled using `cargo build --release` at various commits.

At commit https://github.com/denoland/deno/commit/5648b22fe102c212a653580d2e190283c057cc20 (parent of the one that fixes the issue):

* `Intl.NumberFormat`: Peak resident memory of ~244M
* `Intl.DateTimeFormat`: Peak resident memory of ~5619M

At commit https:

[2021-07-08 23:24] benatkin commented on #2318
If only existing symlinks allow it to escape the directory, I think it works for most situations.

I tried creating a symlink dynamically inside of Deno from the directory I could write to, to a file in another directory, and Deno wouldn't do that. So I think it might not be an issue most of the time.

[2021-07-09 00:13] kitsonk commented on #10721
@bartlomieju any thoughts on this now that we _should_ have resolved the weak ref problem?

[2021-07-09 00:46] kitsonk commented on #11334
To give this a bit more context, it was brought up in a core team discussion that there are several different pragmas in code that impact how Deno handles the code, and they very greatly in style and is a bit of a 🗑️ 🔥 .

That being said, Deno only directly controls a handful of them and several of them are quite long standing standards or _de facto_ standards.  So personal opinion is that it is l

[2021-07-09 01:15] kitsonk opened #11340 "Skip type checking by default"
### Discussed in https://github.com/denoland/deno/discussions/8549

<div type='discussions-op-text'>

<sup>Originally posted by **kitsonk** November 30, 2020</sup>
Instead of `--no-check` consider type checking TypeScript as an opt-in with a `--check` option.

</div>

The core team has discussed this and reviewed the feedback from the community. Based on that, we are going to move forward with the

[2021-07-09 01:34] backkem commented on #9748
This statement is [not entirely true](https://bytecodealliance.org/articles/making-javascript-run-fast-on-webassembly). I think it's worth exploring this. It would enable you to write deno style Javascript/Typescript and run it in WASM environments like Fastly's Compute@Edge.

[2021-07-09 02:46] fer22f commented on #10721
At https://github.com/justingrant/proposal-temporal/commit/0a582fff2dd0b70316a04f23320b8677d39cde75, a V8 issue is linked:
https://bugs.chromium.org/p/v8/issues/detail?id=6528. Since it does seem like this is the relevant issue, and it has been marked as  wontfix by the V8 devs, I will close this issue too since deno has fixed what can be fixed AFAIK.

[2021-07-09 02:46] #10721 closed

[2021-07-09 06:25] andreubotella opened #11342 "Exceptions thrown after a worker's initial execution panic"
[code]

### test.js
[code]

### worker.js
[code]

-----

This seems to have been introduced in #11076, and it seems to be related to some of the WPT test failures in #11338.

[2021-07-09 06:38] caspervonb commented on #11340
This seems overly optimistic, this is such a big change in how the CLI works that it really should be major release (2.0) imo.

[2021-07-09 07:10] kitsonk commented on #11340
It has been discussed since Nov 2020.  That does not fit my definition of _rushed_.

While it is a significant change, it is one in the favour of the user. If it was a change the stuff that used to work broke, then I would be more concerned.  The worst case is that what might not have run because of diagnostics will run and throw a runtime error.  It does not impact what code is runnable under Den

[2021-07-09 07:26] grian32 commented on #11340
I don't see why we are changing Deno's defaults to target new users that may not use the runtime for more than a few minutes, Deno's defaults should be targeted at the people who use it daily and on a regular basis, not people just trying it out.

This can easily be solved by running with `--no-check` or using `@ts-ignore` comments, which we're made for this purpose.

Frankly I don't see this bein

[2021-07-09 07:28] caspervonb commented on #11340
Yes and I thought we had moved on from it back in November.

Shouldn't be treated any different than a programmatic APIl.
Changing the default is a breaking change.

We've kept the behaviour of all the stable flags for backwards compatibility in all the subcommands, **even when it doesn't make sense**.

[2021-07-09 07:58] somebody1234 commented on #11340
tl;dr: defaults should be the *most common* usecase, not a tailored specifically to increase user adoption (and only to increase user adoption)
tl;dr 2: i don't believe a user that regularly "hacks" on code means they're so insanely impatient that a 10 second startup time that occurs once is the end ofd the world

ok so... you could just suggest using `--no-check` when something fails to run.

rea

[2021-07-09 08:11] borekb commented on #11340
This is a good decision, IMO. 👍

In Node.js world, I also don't want a full typecheck when running TypeScript code – that is reserved for an IDE or an explicit `yarn tsc` command or CI, as you said. When I run a `.ts` / `.tsx` file, I just want the types stripped via Babel or esbuild or `ts-node --transpile-only` or similar, which is a trivial operation that takes milliseconds. It's also what fram

[2021-07-09 08:26] capaj commented on #11340
Yes, this is the sanest default. Typesafe code is a nice aspiration, not a must-have.
If someone wants their code 100% typesafe they can use typescript to check it. Deno is a JS runtime. It can never be a TS runtime as TS does not exist at runtime.

[2021-07-09 08:32] grian32 commented on #11340
What? This issue disables typechecking for **typescript** by default, **javascript** does not have that ability.

[2021-07-09 08:33] littledivy commented on #11340
I'm in favor of this decision :+1:

Deno subcommands have been very explicit with what they do. Eg: `deno fmt` won't ignore `node_modules/` by default unless you want it too (via `--ignore`)

Similarly with this, `deno run` will simply run my code and when I want to type check it (in the CI or locally or whatever) - I can just pass `--check`! That's how I _(personally)_ want it to work.

[2021-07-09 08:37] somebody1234 commented on #11340
@littledivy okay, sure, but what if i don't want the code to work if it *isn't supposed to work* in the first place?

[2021-07-09 08:39] somebody1234 commented on #11340
@borekb

you're over-exaggerating.
emit may be around, say, 10 times faster than typecheck, but it's still nowhere near that fast for anything larger than, say, a thousand lines.

[2021-07-09 08:41] grian32 commented on #11340
I disagree. I would expect `deno run` to type check my **type**script code. It not typechecking it by default would just confuse me if i was a new user, and this change seems to be targeted at new users. Why would I use typescript if I didn't want my code to be typechecked? Makes no sense, if I didn't want type checking i'd just use javascript

[2021-07-09 08:51] somebody1234 commented on #11340
ok so my viewpoint is, typechecking is slow, but that's about the only negative. typechecking is *desirable behavior*. there is almost no situation in which you'd want a program that ***semantically does not work*** to be running, and very few situations in which the 10 second, or one minute compile time is the difference between success and failure.

basically:
- the only advantage here is faster

[2021-07-09 08:54] borekb commented on #11340
@somebody1234 I don't know how Deno does it but even large Next.js projects transpile "immediately" because they do it per file – if I change `some-file.ts` in a folder where I have hundreds of other `.ts` files, it really is a couple of milliseconds to transpile that single file. Doing full tsc emit would indeed be slow, which is why they just don't do it.

(Per-file transpilation takes a few TS

[2021-07-09 09:01] grian32 commented on #11340
Next.js and Deno are massively different workloads, you're practically comparing frontend to backend, doesn't make much sense as a comparison and you have to keep in mind that Next.js also has the React build step to optimize for which would make skipping type checking much more reasonable, this build step more often than not does not exist in Deno.

[2021-07-09 09:13] kitsonk commented on #11340
When you start importing modules not written for Deno but run perfectly fine on Deno and the compliet start complaining about `NodeJS.Process` not being defined or being duplicatly defined, you realise that there are limits that aren't easily overcome. "Isn't supposed to work" is a very relatively concept.

Again to be clear, if someone wants the existing behaviour, all the need to do is type `--c

[2021-07-09 09:16] kitsonk commented on #11340
We currently use the tsc emit when we type check, except when we bundle. We only use swc for individual modules when `--no-check` is used.

[2021-07-09 09:23] somebody1234 commented on #11340
@kitsonk i don't know about you, but imo if the type definitions are *definitely* conflicting with something, i'd trust the compiler that has read the entire source of the library over someone just going "nah, trust me, it'l all be fiiiiiine"

basically, if it "works perfectly fine", it ***shouldn't give type errors in the first place***

[2021-07-09 09:31] littledivy opened #11344 "integration::workers:workers is flaky"
Noticed this happen a few times earlier. Example CI runs -
* https://github.com/denoland/deno/runs/3021774831#step:34:2942
* https://github.com/denoland/deno/pull/11349/checks?check_run_id=3035033822#step:34:2073
* https://github.com/denoland/deno/pull/11341/checks?check_run_id=3025922808#step:34:2942
* https://github.com/denoland/deno/runs/3036683371#step:34:2946
* https://github.com/denoland/den

[2021-07-09 11:09] sebastienfilion commented on #11340
The only opinion I have is that we need this change to extremely obvious to every users. Maybe a warning each time you run a TS file without the —check flag or something like that.
I don’t think all users either read the manual properly or knows what they’re doing enough to realize what’s going on.
All in all, I would prefer that type errors are shown as warning and only fail if we pass a flag. So

[2021-07-09 11:13] lucacasonato commented on #11333
What you are experiencing is browser behaviour. Browsers buffer up to new lines. If you try the same example with `curl --no-buffer` you will see the correct streaming behaviour:

https://user-images.githubusercontent.com/7829205/125069658-49febb80-e0b7-11eb-94ff-3bdb55a60b7d.mov

[2021-07-09 11:15] grian32 commented on #11340
Type errors as warnings seems like a good compromise if core team isn't willing to not go forwards with this.

[2021-07-09 11:24] nayeemrmn commented on #11340
I think this is the worst thing we can do. Seeing a wall of errors and then the output of your code is jarring for _everyone_, both the person who "just wants their code executed" and the person (more typical of those using a typed language in the first place) who wants their expectations to be met before anything is ever run. You either care about type errors at the moment or not.

[2021-07-09 11:28] sebastienfilion commented on #11340
Fair, but we could address my concerns instead of dismissing a fleeting thought.
This change has to be absurdly obvious.

[2021-07-09 11:28] kitsonk commented on #11340
I don't want to sound condescending, but if you haven't encountered type errors that have nothing to do with the type safety of your code, you haven't done enough Typescript, or enough Typescript with Deno. Many codebases are littered with `// @ts-ignore` or `// @ts-expect-error` or the not-null assertion operator. And if you have run into a good 'ole `@types` conflict that is astounding. Try doin

[2021-07-09 11:31] grian32 commented on #11340
Yes and that's fine, thats the purpose of `// @ts-ignore` and others, that's why they exist, don't change Deno's defaults to solve an issue that has already been solved.

[2021-07-09 12:05] sebastienfilion commented on #11340
I really don't understand why the solution for that problem isn't just to use JavaScript. If you're not gonna care about types, change the t for a j and voila.

[2021-07-09 12:07] borekb commented on #11340
This is not true, there are many cases where the code runs perfectly fine yet TypeScript reports errors, as @kitsonk said.

Furthermore, in a larger app, it's often beneficial if you can test parts of the app even though other parts are broken. For example, it's great if I can run `/api/endpoint-I'm-currently-working-on` or `/blog/post-I'm-currently-writing` regardless of whether the unrelated par

[2021-07-09 12:42] grian32 commented on #11340
I agree, its JS/TS Code. But Next.js also has to factor in react transpilation time, which IMO makes disabling type checking a pretty reasonable choice. Not many people do front end work with React on Deno, the option is there but its very new and unstable. This brings the discussion back to the point that we should cater defaults to the most common use case.

[2021-07-09 13:25] matthewp commented on #11333
Oh interesting! So not a bug at all, my apologies. I'll close but would love to ask a couple of more questions if you don't mind.

I can see that if I manually add newlines that it does indeed stream even without the `--no-buffer` call in curl. However it is always buffering until the full response in the browser. What do I need to do to make it work there?

[2021-07-09 13:25] #11333 closed

[2021-07-09 13:26] sebastienfilion commented on #11340
Just want to bring a discussion from Discord in. This change doesn't make sense for a minor. It's a huge breaking change.

One option is to mute TS errors from remote dependencies; the most obvious way this should be signalled is if the entry point is `.js`.

This is the most clear way to opt-out of TypeScript all together and should be respected.

https://github.com/denoland/deno_std/issues/1004

[2021-07-09 16:01] dsherret commented on #11344
Maybe it's the same cause as what's going on in #11128?

[2021-07-09 17:28] jeremyBanks commented on #11340
I think the option of treating type errors as warnings really is the most user-friendly option here. I agree with the idea behind this change that type system should not block them, but the information it provides can be very useful if the user encounters a problem.

Consider instead implementing a type warning message like this:

[code]

I feel it is a better new-user experience to provide this i

[2021-07-09 18:56] dsherret opened #11345 "lsp: cache swc ASTs"
I'm breaking this out of #11032

Steps:

- [x] Remove use of `SourceMap` and `SourceFile` in the code because they don't implement `Send` without turning on `swc_common`'s `concurrent` feature, which is not something I want to do because then all the code will use locks internally (which we don't need... slower), open us up to a new class of possible bugs, and it's a global change.
   - [x] https:

[2021-07-09 21:26] somebody1234 commented on #11340
@kitsonk what?

i use `@ts-ignore` myself.
that is ***not*** the problem.

my point is, if there's an error with types?
just use `@ts-ignore`...

this is exactly like the common issue with people complaining about how java should have automatic semicolon insertion since it knows it's missing a semicolon.

the issue isn't that it *can* run perfectly fine.

the issue is that if it runs, it may do so

[2021-07-09 21:30] somebody1234 commented on #11340
re: "shouldn't give type errors" - okay, so maybe that's not strictly correct.

however it's also worth noting that virtually the only time you *will* need ts-ignore is:
- if you're doing something very cursed, or
- if you're handling user input (again, in a very cursed way).

in all other situations you can just use one of the many (wonderful) features that TS provides.

it's also worth noting th

[2021-07-09 22:52] #10840 closed

[2021-07-09 23:15] #10599 closed

[2021-07-10 08:12] grian32 commented on #11340
Why was this moved to the 1.13.0 milestone? This is very clearly a breaking change that should be in 2.0, it more or less breaks all CI and will likely cause issues if it doesnt check imported modules either(i.e entry file is x.ts, ran by default with `--no-check` and it breaks, example someone encountered earlier just now: https://discord.com/channels/684898665143206084/684911491035430919/8631672

[2021-07-10 10:04] andreubotella opened #11350 "Errors in a worker's message event handler aren't reported"
[code]

(In Deno 1.11.5 the panic message doesn't show up  – see #11342.)

### test.js
[code]

### worker.js
[code]

-----------

Running `null.run()` in the global scope, in a timer task, or in a promise reaction all seem to report the error in stderr, but not in a handler for the `message` event.

This was found while investigating the WPT failures in #11338.

[2021-07-10 10:24] andreubotella opened #11351 "A worker global's `onmessage` handler is called with a null event target"
### test.js
[code]

### worker.js
[code]

### Result

[code]

However, running this code in all browsers gives:
![image](https://user-images.githubusercontent.com/8225977/125159700-3f0c5f80-e179-11eb-8c4c-07bb9e54f680.png)

-----------------

This bug, together with #11350, is causing some of the WPT test failures in #11338, since some of those WPT tests call `evt.target.postMessage()`.

[2021-07-10 15:16] sramam opened #11457 "lsp: rename file adjusting only capitalisation results in "Already included" error"
When a file is renamed, but the rename is only in capitalization, for example `tasks.ts` -> `Tasks.ts`, the vs-code plugin complains.
[code]

[2021-07-10 15:26] dsherret commented on #9162
This need seems to have been met by lcov reports. For details, see https://deno.land/manual/testing#test-coverage

[2021-07-10 15:26] #9162 closed

[2021-07-10 16:42] vovacodes opened #11354 "`Deno.emit()` produces bundle with duplicated `const` identifier"
Deno version: `1.11.5`

The repro: https://github.com/vovacodes/try-deno-bundler

<img width="850" alt="Screenshot 2021-07-10 at 18 39 41" src="https://user-images.githubusercontent.com/1524432/125170250-57e33800-e1ae-11eb-9e1b-b614034c7be1.png">

[2021-07-10 17:22] erfanium opened #11456 "lsp: types can get "lost" with import maps"
It's kinda strange. When I open vscode, some variable types recognized as  `unknown` which is incorrect. look at this screenshot:

![Screenshot from 2021-07-10 21-20-47](https://user-images.githubusercontent.com/47688578/125171166-fb8d1200-e1c7-11eb-8bac-8c9b8a778824.png)

After I go to `userIdKey` definition (via F12) and do a change (for example add a space). It will fix the problem (not always)

[2021-07-10 20:53] DefinitelyMaybe commented on #11340
I agree that given a more sensitive project, error and type checking are more important upfront. if someone can't afford it to be wrong then do the checks.

all of my projects are not that. my suspicions are similar to the teams in that most users will be blocked from doing something that would've worked. I've run into conflicting types more times than I care to count and the pages of type errors

[2021-07-10 21:15] grian32 commented on #11340
So if your projects are not sensitive and dont need typechecking then why are you using typescript?

This seems to be a recurring point in this thread about nott needing typechecks but i'm yet to see someone actually respond as to why they're using typescript, seems pretty non-sensical.

[2021-07-10 21:32] #11351 closed

[2021-07-10 21:35] CrimsonCodes0 opened #11355 "Use Primordials for accessing ".buffer" properties in objects"
_Originally posted by @CrimsonCodes0 in https://github.com/denoland/deno/issues/11224#issuecomment-874469585_

I could easily implement a small utility/helper function for accessing the buffer of an object that has been verified to be a WebIDL BufferSource via primordials.

Somewhat related, because I'd have naturally used something like this in the function's implementation, some of the internal

[2021-07-10 23:09] al6x commented on #2506
Just wondering if there any news? As currently it's impossible to share files between Deno and React/Svelte. As Front-End Packages using Node.JS convention and don't allow `*.ts`.

[2021-07-11 01:23] codehz opened #11356 "Bad wasm module cause runtime crash"
aka, infinite recursive in wasm

[code]

if load it in deno(and execute the boom function), I got
[code]

expected result: exception insteads of crash the whole runtime

attached
[boom.zip](https://github.com/denoland/deno/files/6798021/boom.zip)

[2021-07-11 05:12] DefinitelyMaybe commented on #11340
oh that's simple. Most of the time I'm putting together various third-party code. Were my code JavaScript, my IDE wouldn't give type information because JavaScript assumes there isn't any. Were that third-party code JavaScript there'd be no type information to get.

By further analogy:
Suppose your writing a book and want to referenced multiple other, very dense books, all written assuming domain

[2021-07-11 08:33] somebody1234 commented on #11340
@DefinitelyMaybe ... except that DefinitelyTyped is a thing, and it contains typings for most node modules (and I believe browser ones too?). that is, of course, ignoring the fact that i'm pretty sure most modern node modules *already come with* `.d.ts` definitions.

for Deno modules specifically, I believe the overwhelming majority of them would be using TypeScript already so that shouldn't be a

[2021-07-11 08:41] grian32 commented on #11340
VSCode, and I assume other IDEs give type information if the third party libs have typings available, either in regular `.ts` files, `.d.ts` files or regular jsdoc. The overwhelming majority of Deno libraries are written in Typescript and most Node.js libs also have typings and if they dont, there's probably another option available(DefinetlyTyped, etc) so using javascript would let you get rid of

[2021-07-11 10:22] DefinitelyMaybe commented on #11340
@grian32 ah yes, assuming deno is enabled in VScode you're correct. JavaScript at it's origins, no.

Ok so always stay in Javascript? And the day some project I create needs to be type checked, spend however much time it takes to convert the project. No chance of "it was just as easy to simply use typescript from the beginning"?

Furthermore, because I couldn't just as easily have used typescript,

[2021-07-11 10:23] grian32 commented on #11340
then `--no-check` exists, although it's not a very great option as it affects runtime behaviour.

[2021-07-11 11:41] ebebbington opened #11424 "'Listening on' log for running script is wrong for windows"
Running a script using deployctl on windows displays: `Listening on http://0.0.0.0:8080`, but 0.0.0.0 is now a windows thing

Suggsts using 127.0.0.1 which works with all environments

[2021-07-11 13:11] somebody1234 commented on #11340
yes. keep in mind that ***typescript is a javascript superset***. what this means is that ***all*** valid javascript code is valid typescript code. if it errors and you don't want it to error, as multiple people have said, `// @ts-ignore` exists. basically, if you don't want type checking? you can just javascript perfectly fine.

@DefinitelyMaybe re: waiting for DefinitelyTyped typings, obviously

[2021-07-11 13:47] caspervonb commented on #11340
https://twitter.com/KevKassimo/status/1365613534172700674

[2021-07-11 18:13] lukeshiru commented on #11340
My 2-cents: If Deno will not longer do type check by default, why would I chose it over node with TS? It feels like you're basically accommodating to new folks, when obviously a "typed JavaScript" will have a higher learning curve than vanilla JS. They still have options like `--no-check`, `// @ts-expect-error`, but making everything basically "type `any`" doesn't feel like the right solution. As

[2021-07-11 18:19] mxdvl commented on #11340
Is this idea that type checking a hinderance for beginners actually anchored in any real research? Whilst mentoring newcomers to JavaScript and programming in general, we usually get much faster and further with some kind of type checking. In many instances, using the type annotations inside their IDE is actually one of the best ways of understanding how functions operate and what they return.

It

[2021-07-11 18:36] justinmchase opened #11359 ""Text differed by line endings" error in the Deno github action while checking formatting on Windows"
Locally I ran:

[code]

And I can confirm that the files are encoded with `LF` formatting. But when running the deno Github Action on `windows-latest` it produces an error when checking formatting.

[code]

![image](https://user-images.githubusercontent.com/10974/125206446-f32aea80-e24c-11eb-92bb-6298ebb7a709.png)

* [link to output](https://github.com/justinmchase/deno-dag/runs/3041224548?check_s

[2021-07-11 18:52] peerreynders commented on #11340
@mxdvl
Not research as such, more of an experience report:

[The Structure and Interpretation of the Computer Science Curriculum](https://cs.brown.edu/~sk/Publications/Papers/Published/fffk-htdp-vs-sicp-journal/), 2004:

In other words for beginners focusing on types (and specifically type errors) is distracting/confusing. That doesn't imply types aren't important; it's just something that's layer

[2021-07-11 19:47] DefinitelyMaybe commented on #11340
...who's default behavior doesn't align with the original set.

linters and formatters both are invoked by the user. Extra feature ontop -> user invoked.  Somehow that changed when it comes to type checking and I'm at a loss as to why? it seems to be that the community's from which this feature came, ingrained those expectations.

[2021-07-11 19:52] lukeshiru commented on #11340
@DefinitelyMaybe I mean, Deno is a TS runtime, and type checking is to be expected with TS. Using TS without type checking is just JS with extra steps 😆 ... I mean if I don't want to have type checking, then I just use JS.

[2021-07-11 21:26] grian32 commented on #11340
Because type checking is a different type of feature from making your code pretty or making it follow certain rules, and it is much more important than those.

I doubt there's much of any data on this, but new users to Deno, in my experience, aren't new to programming, or js/ts in general.

[2021-07-11 21:38] CrimsonCodes0 commented on #11356
Can you attach or link the module (and possibly the setup JavaScript) so others can run it to reproduce the issue?

[2021-07-11 21:54] vwkd commented on #11340
For me, the question boils down to: When running the code, do I actually want to run it? Should "run" mean "run" or "type check, and if successful then run"? I'd argue the former.

- Type checking only helps _while_ writing code.

The JavaScript engine that runs the code doesn't use type annotations. Therefore ideally type checking happens _while_ writing code, as done by many IDEs. By the time I

[2021-07-11 22:00] grian32 commented on #11340
technically right, but if the code doesnt compile then it doesnt get ran so it doesn't really matter.

why does it not cut it? changing the default behaviour to solve a problem that's already been solved (`--no-check`, `@ts-ignore`) makes no sense, and changing the default behaviour here also breaks all CI, makes `deno test --no-run` do nothing, and affects default runtime behaviour.

Despite what

[2021-07-11 22:21] grian32 commented on #11340
My final thoughts on the subject(after a lot of arguing lol):
 -   At the very least, the community seems entirely split on this subject, and there should be some kinda compromise:
     Perhaps output type errors as warnings or something along those lines?

 - This has major issues that need to be fixed before either what i proposed above as a compromise, or this lands:
     - `--no-check` affects

[2021-07-11 22:43] peerreynders commented on #11340
@grian32

From [A Large-Scale Study of Programming Languages and Code Quality in Github](https://cacm.acm.org/magazines/2017/10/221326-a-large-scale-study-of-programming-languages-and-code-quality-in-github/fulltext) (2017):

1. So either way evidence and data tends to be tenuous at best when it comes to the quality differences between dynamically and statically typed code (I personally prefer sta

[2021-07-11 22:51] ebebbington commented on #11340
Please take note that if a discussion being had can be on discord, such as the discussion not be useful to the issue, then please do it in discord to avoid bloat in this issue, it's mighty long already

At the very least, you could summarise here, a discussion (or whatever it may be) had on discord

[2021-07-11 23:51] somebody1234 commented on #11340
@ebebbington please also note that not everyone here is on the discord, and not everyone is awake at the same time, making discord the *opposite* of the ideal place to discuss. note *also* that there's a feature on github *literally called discusssions*, which would probably be a better place for this.

[2021-07-11 23:53] somebody1234 commented on #11340
@peerreynders again, the issue is ***not*** about dynamic vs static typing. if you want dynamic typing, as said countless times above, *just use javascript*.

re: not wanting to type check on every single pass, fun fact, you can pass `--no-check` to deno to skip that. the point is that that should be the *exception*, not the *default*.

[2021-07-12 00:05] somebody1234 commented on #11340
@caspervonb my point still stands, all valid js code is valid ts code. this does *not* mean that there will be no ambiguities (like that case) - generic syntax in particular is infamous for being ambiguous

[2021-07-12 00:09] somebody1234 commented on #11340
@vwkd note that vim *does* have support for LSP, so deno LSP should work with relatively minimal changes (if any).

note also that deno has its own language server which is considerably different from typescript's default, so "just using an IDE with typechecking" and "using the deno language server" will be considerably different in terms of development

for example, one key point to note is that

[2021-07-12 00:30] somebody1234 commented on #11340
@DefinitelyMaybe this one is just objectively false because vscode typechecks (and shows errors) for javascript by default, since its typescript extension is built in

[2021-07-12 00:40] somebody1234 commented on #11340
crosspost from the discussion. i'm fine with deleting this if activity at the discussion picks up again.

since some people don't want to discuss in the issue, here's a summary of my viewpoint:

- typescript is *designed* to be type checked. intentionally skipping typechecking just completely defeats the purpose of using typescript in the first place
- if you have type errors and think your code w

[2021-07-12 00:49] kitsonk commented on #11340
I am locking the conversation for now.  We all appreciate the input, but I think people have stated their feelings, but we are repeating ourselves and not adding any new information.

[2021-07-12 00:55] jaydenseric opened #11362 "lsp: unable to import types in JSDoc"
In regular TypeScript projects, within a `.js` file with type checking enabled via `// @ts-check` you can import types from other files within JSDoc comments. For example…

In `a.js`:

[code]

In `b.js`:

[code]

Note that the parameter type is able to be imported and checked:

<img width="453" alt="Screen Shot 2021-07-12 at 10 43 26 am" src="https://user-images.githubusercontent.com/1754873/12521

[2021-07-12 01:09] kitsonk commented on #11354
`deno version` please

[2021-07-12 01:10] codehz commented on #11356
@CrimsonCodes0
[boom.zip](https://github.com/denoland/deno/files/6798021/boom.zip)

[code]

[2021-07-12 08:24] codehz opened #11366 "@deno-types should be ignored in js file and --no-check mode"
it make no sense to check them in this modes
* the **ignore** mean completely ignore its value, do not even parse it

current:
a.js
[code]

b.js
[code]

commandline:
[code]

error:
[code]

[2021-07-12 09:12] vovacodes commented on #11354
updated, sorry

[2021-07-12 10:20] kitsonk commented on #11366
I disagree... Deno is capable of type checking JavaScript files.  Especially in an editor, having the `@deno-types` can provide auto-completion and intellisense even if diagnostic issue are raised.

As far as `--no-check` it is maybe arguable, but `@deno-types` is an explicit directive that says that the types are part of the dependency graph, even if they aren't enforced and a resolution issue th

[2021-07-12 10:37] #11366 closed

[2021-07-12 13:45] bitoku commented on #11291
If anyone isn't woking on this, I want to tackle this issue!

[2021-07-12 13:51] bartlomieju commented on #11291
@bitoku please do

[2021-07-12 16:13] ry opened #11370 "Implement window.navigator.hardwareConcurrency"
https://developer.mozilla.org/en-US/docs/Web/API/Navigator/hardwareConcurrency

[2021-07-12 16:13] lucacasonato commented on #11370
Duplicate of #9584

[2021-07-12 16:13] #11370 closed

[2021-07-12 18:30] Nemo64 opened #11373 "Deno.watchFs looses events"
I wrote this little test script:

[code]

It creates a `test` directory and watches it for changes. Then, it creates 100 files in it.

What I would expect is 100 or 200 events (100 create and 100 modify).
What I instead get is this:

[code]

Just 19 events.

To verify that this is not an os issue, I ran the test with `inotifywatch test` which outputs this result:

[code]

So basically the expected

[2021-07-12 19:07] martin-braun commented on #6373
Thanks for the explanation. Is using `close()` mandatory, though? Shouldn't Deno release memory associated with the process on the end of the scope, automatically?

[2021-07-12 21:27] JerryGreen opened #11376 "error: Uncaught InvalidData: No keys found in key file"
I have troubles with `serveTLS` function from std.

I used this code from this [answer from stackoverflow](https://stackoverflow.com/a/58784172/3720305) (`mod.ts`):

[code]

And I used this command to create a self-signed cert:

[code]

Which created me those files:

![image](https://user-images.githubusercontent.com/13215662/125357199-bb24c400-e380-11eb-9e0e-cf34c8741056.png)

But as mentioned in

[2021-07-12 22:23] martin-braun opened #11377 "process.stdin.write cannot handle large arrays"
Passing large amounts of data to stdin will fail. If you run this script under unix, you will get only a portion of the output of the website in the terminal:

[code]

The sample feed ends with `</feed>`, but the pipe will swallow in the middle:

![Screen Shot 2021-07-13 at 00 22 38](https://user-images.githubusercontent.com/24259245/125363175-72fda580-e370-11eb-9c71-59aac96451bc.png)

[2021-07-12 22:46] ry commented on #11377
stdin.write is just one syscall, it returns the number of bytes written. If you use [writeAll](https://deno.land/std@0.100.0/io/util.ts#L136-L161), I think it would work.

That said, ideally you'd stream large data, rather than buffer it up.
[code]

[2021-07-12 22:46] #11377 closed

[2021-07-12 23:55] martin-braun commented on #11377
@ry Thank you a lot Ryan. In fact my first post was a presentation of my core issue, but I'm just dealing with a local file that happens to have a few MB, so streaming is not necessary. However, your example is very useful. Thanks for sharing, I will keep that in mind when I'm dealing with even potential larger files.

[2021-07-13 00:21] nougator opened #11380 "Adding Web HID API."

[2021-07-13 01:46] rivy commented on #9871
I'm not sure what you're trying to say here... But if you're implying that `rust` only supports blindly quoting arguments for process execution, that's no longer the case (see https://github.com/rust-lang/rust/blob/955b9c0d4cd9176b53f518e01cbe175545c69947/library/std/src/os/windows/process.rs#L130-L136). The discussion about the problem and need for change is at <https://github.com/rust-lang/rust/

[2021-07-13 02:01] hermy991 commented on #11376
I think you need `--unstable`, let me check

[2021-07-13 02:11] JerryGreen commented on #11376
I tried the `--unstable` just now, but this doesn't seem to change a thing here.

[2021-07-13 10:35] codehz opened #11382 "Proposal: Make import map works in X-Typescript-Types"
Currently, X-Typescript-Types can only work with http/https url (including internal reference)

Those response are invalid:
(note: assuming that all referenced names are defined in import maps)
`X-Typescript-Types: <a working url but it import some library that need import map to work, aka peer dependencies>`
`X-Typescript-Types: ~/my-local-override.d.ts`

[2021-07-13 11:45] getspooky opened #11385 "Proposal(cli): Set Timeout per test using --timeout flag default 500ms"
### Syntax:  `--timeout=<number>`
Default timeout of a test in milliseconds. Default value: `500ms`.

### Example

[code]

### Use Cases

Let's say we want to store some data into some database provider. So in some case it could take a lot time, probably due to some network issue. So it would be helpful if we can exit the test after `X` time.
### Motivation

- Applications aren’t responding with l

[2021-07-13 11:59] caspervonb commented on #11133
Landed in std https://github.com/denoland/deno_std/pull/1022

[code]

[2021-07-13 12:00] kitsonk commented on #11382
I am not sure what you are suggesting. Can you provide a specific example and what sort of use case you are trying to solve?

[2021-07-13 14:33] Ciantic commented on #4538
I'm doing an ES module library which should be usable from browser as well as from deno, e.g.:

math.ts -> math.js
thing.ts -> thing.js

So browsers can import from js files and deno from ts files. With TSC this is somewhat straightforward but not so much with deno.

Turns out that is not possible with deno because of this. It leaves the import statements like this after emit:

```import { v3, vDo

[2021-07-13 15:11] Ciantic opened #11386 "Emit 1:1 ES module library for <script type="module"> usage"
I'd like to be able to emit 1:1 ES module library. If you are making a library, it is not a good thing that Deno gives you only ability to bundle to a single file. The `Deno.emit` is not working for this purpose as of yet at least.

In general it would be cool if deno could provide a way to emit straightforward ES module library:

`matrix.ts` -> `matrix.js`
`vector.ts` -> `vector.js`
...

This way

[2021-07-13 15:20] SteveGremory commented on #428
aaand it's 2021.
still?

[2021-07-13 17:47] wperron commented on #11385
As discussed on Discord, this is better done through an option in the `TestDefinition` interface as tracked in #11133

[2021-07-13 17:47] #11385 closed

[2021-07-13 17:54] ebebbington commented on #4538
@Ciantic (and anyone else really), you can add a temp fix:

[code]
Though that could probably be made simpler

[2021-07-13 18:26] jsejcksn opened #11388 "Deno.emit tree shaking issues"
I'll provide an example repo, attached as a zip file and inline files here for examination:

[bundle-example.zip](https://github.com/denoland/deno/files/6811130/bundle-example.zip)

<details>
<summary>Files</summary>

`example-1.ts`:
[code]

`example-2-asserts.ts`:
[code]

`example-2.ts`:
[code]

`main.ts`:
[code]

`run`:
[code]
</details>

I created two modules which import `assert` and invoke it

[2021-07-13 18:29] darkred opened #11389 "After upgrading to 1.12.0, now `deno upgrade` always re-downloads the same version"
Using Deno with Windows Terminal 1.8.1521.0 on Windows 10 x64 21H1.

[code]

Today I upgraded Deno to 1.12.0 via `deno upgrade` in Terminal.
Now, if I re-run `deno upgrade` it always re-downloads the same version. This it the output:

[code]

This never occurred in previous versions so I thought to report it.

[2021-07-13 19:29] dsherret commented on #11359
That windows runner likely has `git config --global core.autocrlf` set to `true` so it is checking out the files with crlf.

I would recommend only verifying formatting on your `ubuntu-latest` job. You will save some CI time too.

[2021-07-13 19:31] #11359 closed

[2021-07-13 20:29] rracariu commented on #8224
In `Deno 1.12.0` issue is not present.

[2021-07-13 20:29] #8224 closed

[2021-07-13 21:44] AngelNext opened #11390 "Implement Deno for WinGet package manager"
I am trying to implement Deno in WinGet package manager. I converted the ps1 file into an exe file and i have tested the installer, but I have a 2 big problems.

- I dont have a website to host the installer.
- Since I cannot create a manifest (for the reason i just said) i cannot test the behaviour of the installer.

I sugest that you hosted the exe installer in your website once you have tried i

[2021-07-13 22:09] bartlomieju commented on #7623
I will try to get import assertions into 1.13

[2021-07-13 22:15] bartlomieju commented on #8556
I'm not sure if this is still the case, especially after all the recent fixes by @andreubotella. Andreu have you seen this error?

[2021-07-13 22:15] bartlomieju commented on #10210
Done in #11335

[2021-07-13 22:15] #10210 closed

[2021-07-13 22:16] bartlomieju commented on #7844
@caspervonb could you take a look at this one?

[2021-07-13 22:22] dsherret commented on #11205
Duplicate of #6365. Closing.

[2021-07-13 22:22] #11205 closed

[2021-07-13 22:28] bartlomieju opened #11391 "Consider moving manual/docs to a separate repo"
https://deno.land/manual is the "source for truth" and main documentation for Deno.

These docs are generated from files in [`docs/`](https://github.com/denoland/deno/tree/main/docs) directory.

I don't have a data to back it up, but it is my impression that going through full Deno CI is discouraging contributions to manual; after all there are several pages on how to contribute to the repo and se

[2021-07-13 22:29] kitsonk commented on #11386
The command line option is and will always be intended for reconsumption by Deno. `Deno.emit()` would be the way to do this and as mentioned #4538 would need to be addressed to avoid further post processing.

[2021-07-13 22:29] #11386 closed

[2021-07-13 22:30] bartlomieju commented on #8824
Q1 is long gone and relevant issues have been rolled to Q3 roadmap.

[2021-07-13 22:30] #8824 closed

[2021-07-13 22:31] oscarotero opened #11392 "lsp: importMap doesn't suppport data urls"
### test

**Describe the bug**
In deno, the `--import-map` argument allows data urls like `--import-map="data:application/json;utf8,{ \"imports\": {...}}"`. But looks like the vscode plugin only allows local files.

**To Reproduce**

1. Open .vscode/settings.json
2. Create `deno.importMap` key with a data url

**Expected behavior**

The import map should be applied.

**Screenshots**

<img width="5

[2021-07-13 22:53] kitsonk commented on #7623
@bartlomieju TypeScript is still working on it. The PR seems to be finally edging closer to reality to be merged.

[2021-07-13 23:10] andreubotella commented on #8556
I don't think I've seen "Error: execution terminated" while I've been working on workers. And since the logs for the CI run have expired, I don't have much else to go on.

[2021-07-13 23:10] bartlomieju commented on #7623
Thanks for the heads, I'll look into `deno_core` implementation anyway and we can wait on TS support before merging

[2021-07-13 23:14] bartlomieju commented on #8556
Let's close it then, I'll reopen if it happens again.

[2021-07-13 23:14] #8556 closed

[2021-07-14 01:28] jsejcksn commented on #11391
This was my experience when first contributing to Deno. When I first found the project, I wanted to pick issues that were solely focused on the `std` library because it had nothing to do with Rust — however, much of the contribution steps/tasks had nothing to do with isolated TypeScript modules, and it was very confusing coming in fresh.

[2021-07-14 02:33] jsejcksn opened #11393 "Utilize a playground sandbox for issue reproduction"
Presently, it's challenging to provide reproduction data that's accessible to issue viewers and useful to people wanting to reproduce the issue. Here's [an example](https://github.com/denoland/deno/issues/11388) where I posted the file contents for viewers and uploaded an archive for anyone wanting to reproduce the issue.

I think that providing issue creators with the ability to create and link t

[2021-07-14 03:05] codehz commented on #11382
@kitsonk
Library **A** and **B** depend on **C**, but they may not be served on same server (hostname), for example, **A** and **C** are on _esm.sh_, **B** is on _skypack.dev_ (**C** can also be found in _skypack.dev_), so deno will try to download **C** library from two different origin, that's can be problematic.
And it is what import-map want to solve, since it already working for normal import

[2021-07-14 03:31] jsejcksn commented on #11373
I can reproduce this.

<details>
<summary>I also get more events if I don't use <code>queueMicrotask</code>:</summary>

[code]
</details>

[2021-07-14 03:48] jsejcksn commented on #11389
I can reproduce this.

I'm also seeing this bug now in Windows: https://github.com/denoland/deno/issues/11179 (but it's not a regression in Linux)

[2021-07-14 04:36] caspervonb commented on #7844
On it

[2021-07-14 04:48] justjavac commented on #11389
`dl.deno.land` is canary:

`$ wget https://dl.deno.land/release/v1.12.0/deno-x86_64-apple-darwin.zip`

[code]

[2021-07-14 04:58] kitsonk commented on #11382
That is still not very clear.  Are their examples of packages published in npm that are hard-coded to refer to other CDNs?

When I suggested a specific example, I mean what URLs would be requested, what would the import map actually look like, what the value of the `X-TypeScript-Types` header would be and what you would expected to be different from today.  It is really hard to follow an abstract

[2021-07-14 05:00] kitsonk commented on #11389
We are aware of the issue and the root cause.  As the tags indicate, it only impacts windows. It had to deal with a failed CI pipeline build for the release.

[2021-07-14 05:00] #11393 closed

[2021-07-14 06:32] MarkTiedemann commented on #11390
Duplicate of #5640.

[2021-07-14 07:51] Nemo64 commented on #11373
I assume it's an internal queue that is overflowing if you don't consume the events quickly enough.
If you write files sequentially, it _mostly_ gets all events.

[code]

If you let the watcher run and use a shell script in the `test` folder `find . -name "file*"-print0 |xargs -0 -I {} mv {} {}_` then deno also gets about 80% of events (it looks like 2 modify and 1 create, no remove though). If yo

[2021-07-14 09:57] andreubotella opened #11398 "Spurious assertion error when the callback to setInterval lasts longer than the interval"
Attacler/Bart reported on Discord that an `AssertionError` was being thrown while they were stress-testing their code. It seems to happen spuriously, but their stress test seemed to hit it every time.

[code]

[code]

Since the failed assertion makes sure that the timeout is not lesser than zero, and changing the interval to 4000ms solved the problem, it seems to be caused by the callback taking l

[2021-07-14 10:15] lucacasonato commented on #11398
For reference the entire setTimeout code is so complicated because back when we implemented `setTimeout` for the first time, `tokio`s timers were not ordered so we couldn't do a direct `setTimeout` -> `tokio::time::sleep` . The timers are now ordered, so we should now be able to get rid of the entire complexity for timers and do a direct `setTimeout` -> async `op_timers_sleep` (using tokio::time::

[2021-07-14 11:29] cref commented on #8864
I'm still getting this error.
See the output below.
The error can be triggered by typing `import.` in VS Code.
Can the issue be reopened?
[code]

[2021-07-14 11:41] cref commented on #8864
Looks like this is the same problem as #10641

[2021-07-14 11:51] WilcoKruijer commented on #11078
I really enjoy the type checking functionality in the Haskell REPL.

[code]

I imagine implementing this would have a lot of implications, but doing something like:
[code]
could be very useful for creating/testing advanced types.

Adding something like `:type` could also be useful for checking how function return types are inferred.
[code]

Maybe this issue can be reopened for further discussion?

[2021-07-14 11:54] kitsonk commented on #8864
Correct, this issue is closed, #10641 remains open.  The error posted is a duplicate of #10641.

[2021-07-14 11:54] #8864 closed

[2021-07-14 12:55] WhiteF326 opened #11399 "After upgrading to 1.12.0, deno still access to old version of deno/std and errors occur."
It happens while using Deno with PowerShell 7.1.3 inside VSCode on Windows 11 Home x64 21H2 build 22000.65 .
[code]

Today, I executed "deno upgrade" in PowerShell inside VSCode. The version I used before was deno 1.7.5, with TypeScript 4.1.4, that worked well with deno/std.
But at the time I run my script with Deno, which uses deno/std, it accesses to deno/std@0.85.0, and errors written below occ

[2021-07-14 13:34] aricart commented on #9754
@caspervonb any progress on this?

[2021-07-14 13:37] caspervonb commented on #9754
I'll try to get this done for 1.13 :)

[2021-07-14 14:14] nayeemrmn opened #11400 "Rename `Deno.WebSocketUpgrade::websocket` to `socket`"
This violates camel case. The other interface names we have preclude this from being an intentional adoption of "websocket" being commonly used as one word. Rather than `webSocket`, it would be nicer to use `socket` as the local variables do in https://html.spec.whatwg.org/multipage/web-sockets.html code examples.
![image](https://user-images.githubusercontent.com/29990554/125637022-1d84ef13-ae1b-

[2021-07-14 15:09] lucacasonato commented on #11400
SGTM. Let's ship it for 1.13

[2021-07-14 16:28] WhiteF326 commented on #11399
This problem was solved by destroying all files in "c:\users\(username)\AppData\Local\deno".
Sorry for making a meaningless issue.

[2021-07-14 16:28] #11399 closed

[2021-07-14 17:43] caspervonb opened #11403 "Invert `deno test --doc`"
We went with `deno test --doc` for backwards compatibility, a more desirable design would be opting out with `--no-doc`.

This would have to be a 2.0 issue.

[2021-07-14 17:46] bartlomieju commented on #7844
Fixed in v1.10.0

[2021-07-14 17:46] #7844 closed

[2021-07-14 18:27] roseMix opened #11404 "Opening a file 'with' a `deno compile`d .exe opens `Deno.exe` not the custom compiled executable"
Opening any file with a `deno compile`d script (for instance on Windows by dropping the file on a given exe) will pass that file's name as the first of `Deno.args` for that compiled exe.

Expected behavior is that the same should be when setting a custom file association to a given custom compiled exe.

But setting a custom file association (e.g. `.deno`) to open in any particular custom compiled

[2021-07-14 19:25] bartlomieju commented on #11391
Thanks for the feedback Jesse, this is very useful opinion.

[2021-07-14 19:50] bartlomieju opened #11406 "Flaky "STATUS_ACCESS_VIOLATION" on Windows"
Example on release build:
https://github.com/denoland/deno/runs/3054938626#step:34:3042

[2021-07-14 19:54] andreubotella commented on #11406
This seems to be the same bug as denoland/rusty_v8#714.

[2021-07-14 20:51] dsherret commented on #10641
This is https://github.com/microsoft/TypeScript/issues/33313 and now https://github.com/microsoft/TypeScript/issues/44580

The error message has now changed to the second example Kitson gave because they added a debug assertion for `symbol.valueDeclaration` not being undefined.

[2021-07-14 22:24] dsherret commented on #10641
Opened an upstream PR in TypeScript that I believe should resolve this issue: https://github.com/microsoft/TypeScript/pull/45031

[2021-07-15 01:18] ejose19 opened #11407 "Provide a mechanism to make fetch calls to sites that are using "weak" ciphers"
I've stumbled over many sites that are using "weak" ciphers, and deno doesn't provide a mechanism to make fetch calls to those sites, it instead errors out with:

[code]

I've checked #10447 and while it's related, this is more of a broad issue rather than a single site, because contacting every affected website operator and get them to upgrade their suite is not feasible. Instead, having an optio

[2021-07-15 02:04] aricart opened #11408 "deno compile -A --target x86_64-unknown-linux-gnu doesn't yield docker runnable executables?"
I have a main.ts file:
[code]
A simple docker file:
[code]

I build the app:
[code]

Now when I try running it - the executable is there but it seems that it is not runnable:
[code]

If I don't provide the `--target` flag, and build for my local environment, the executable runs as expected.

[2021-07-15 02:05] aricart commented on #11408
I suspect there's some noobing on my side with docker and deno, but if you can spot it I would be grateful.

[2021-07-15 02:12] voltrevo opened #11409 "Feature request: Run async tests in parallel within the same file"
Previous related issues:
- https://github.com/denoland/deno/issues/6559
- https://github.com/denoland/deno/issues/7615 (marked as duplicate of 6559)

These seem to be considered resolved via the `-j` flag implemented by https://github.com/denoland/deno/pull/9815.

`-j` is definitely a welcome improvement. However, it's only enabling separate test files to run parallel. I believe instead the expect

[2021-07-15 02:45] luke-john commented on #9733
This affects me on Mac OS with deno 1.12.0 (release, x86_64-apple-darwin).

For some extra context, until I run deno eval with `--ext=ts` multiple runs of deno eval will work correctly, however after running deno eval with `--ext=ts`, subsequent runs without the `--ext` flag will return the result of the last run with `--ext=ts`.

ie.

[code]

[2021-07-15 03:49] kitsonk commented on #11407
It is effectively a duplicate of #10477. We don't want to support weak ciphers. No matter how alluring that is, weakening security for usability is not something we would consider lightly and in this case it is more than just a flag to allow it, the underlying libraries we use do not support weak and ciphers because they too don't want to open security vulnerabilities.

[2021-07-15 03:49] #11407 closed

[2021-07-15 03:51] kitsonk commented on #11407
We also closed #6427 for the same reasons.

[2021-07-15 11:23] jimmywarting commented on #3444
I have been thinking of other methods to add non standard fetch options to node-fetch that don't involve passing them as a option

A idea i had was to dispatch a FetchEvent before every request is being executed so you could listen/know when a request is happening. Then you have the request object at hand.
Then you could use something like this to attach non standard option to its underlying reque

[2021-07-15 11:47] caspervonb commented on #11409
The design I've had in mind for a while now is adding a `parallel` boolean to TestDefinition which is a hint to the runner that the test can be ran in parallel.

That way async tests marked as safe for parallel execution can simply be partitioned off into a group and awaited on.

It would also backwards compatible.

Indeed this is not supported tests with within a module are run in serial by desig

[2021-07-15 12:48] bartlomieju commented on #7623
Unfortunately bumping to Q4 because of missing TypeScript support.

[2021-07-15 13:04] aricart commented on #11408
I found the issue, the docker image needs to have glibc installed. The error message spewed by the executable should hint at this - perhaps this is a different issue - which is when a file is not found, the name of the file is not part of the error (it should be)

[2021-07-15 13:46] wperron commented on #11408
yeah this is a known limitation on Alpine, I suggest you look at the official github.com/denoland/deno_docker image's Alpine version, that will probably give you an idea of how to get rid of the issue. Alternatively, I suggest using Ubuntu or Debian buster-slim as a base image -- they're small enough, yet are a lot easier to work with than Alpine in my experience. Google's distroless is also a goo

[2021-07-15 13:46] #11408 closed

[2021-07-15 15:37] yuri91 opened #11412 "Panic when listening to unix socket abstract address"
if you try this simple example:

[code]

deno crashes:
[code]

The issue I believe is that the address "\0aaa", while being a valid unix socket address (it is an abstract address, not bound to the filesystem), is not a valid Rust path name, so the unwrap fails:

https://github.com/denoland/deno/blob/79ac050d2917ddc1be97e458c8ac7c6a3d728269/extensions/net/ops.rs#L526

This use case used to work unt

[2021-07-15 18:02] AngelNext commented on #11390
Ok I just uploaded deno installer to WinGet and it works fine!

[2021-07-15 18:02] #11390 closed

[2021-07-15 18:54] justinmchase commented on #11359
I did end up doing that :)

But of course at some point someone will want to test on windows so I thought you'd want to know since this will break them.

This action that this bug is referring to is from the standard Deno Action that github auto created for me. I am assuming its published somewhere here in `denoland` and thus I think this bug should probably be reopened and addressed by altering t

[2021-07-15 19:38] dsherret commented on #11359
@justinmchase I personally was not aware of this. Thanks for letting us know!

I opened https://github.com/actions/starter-workflows/pull/1006 which will resolve this in the future.

[2021-07-15 19:54] dsherret opened #11414 "Add help text description for the `deno test --jobs` flag"
The `--jobs` flag for `deno test` does not say what it does in the help text.

[code]

[2021-07-15 19:56] caspervonb commented on #11414
Ooops... on it.

[2021-07-15 20:01] dsherret commented on #11409
I think this is covered by the proposals in https://github.com/denoland/deno/discussions/10771 and https://github.com/denoland/deno/discussions/11235 -- See those to leave any feedback.

[2021-07-15 21:59] Ciantic opened #11416 "Worker panics if terminated incorrectly 'No worker handle found', runtime\ops\worker_host.rs:522:6"
I guess my termination code is incorrect, but Deno still should not panic:

[code]

Try runnin the `Deno.test` case, it gives me `thread '<unnamed>' panicked at 'No worker handle found', runtime\ops\worker_host.rs:522:6`

## Workaround

[code]

[2021-07-16 01:56] andreubotella commented on #11416
This panic seems to happen when the message and the close event are both received in the same run of `poll_pending_ops`, since the close event will be processed in Rust, and the worker removed from the workers table, before the message's JS promise reactions get to run.

[2021-07-16 02:23] martin-braun opened #11418 "Plugin for the IntelliJ Platform"
It's very nice that we already have an [official extension for VSCode](https://github.com/denoland/vscode_deno). To my surprise there is not even a third-party plugin for Deno on the IntelliJ Platform (Android Studio, AppCode, PhpStorm, WebStorm, etc.).

It would be nice to have one, this has probably lower priority, though.

[2021-07-16 02:25] martin-braun commented on #11418
Nevermind, [it exists](https://plugins.jetbrains.com/plugin/14382-deno), I couldn't find it in the internal IDE search explorer for plugins, but that's a different topic.

[2021-07-16 02:25] #11418 closed

[2021-07-16 02:36] kitsonk commented on #11418
Correct, and it is our understanding that JetBrains is looking at integrating to the language server.  And for the record, the [JetBrains plugin is already documented in the manual](https://deno.land/manual@v1.12.0/getting_started/setup_your_environment#jetbrains-ides) though I plan to overhaul the whole "setting up your environment" part of the manual in the near future.

[2021-07-16 02:46] martin-braun commented on #11418
@kitsonk No worries and sorry, I was typing faster than searching. And yes, I can see how it just won't complain about unknown symbols, but the language server is not working right now, but I know they won't take forever to get this done.

[2021-07-16 05:10] danopia commented on #10516
Actually no? Curl's `--cert` is for _client certificates_ and Deno's `--cert` is for _certificate authorities_ so the naming is pretty confusing. But afaik Deno does not offer what this issue asks for: TLS client certificates in `fetch()`.

deno:
[code]

curl:
[code]

[2021-07-16 08:04] jsejcksn commented on #11388
@kdy1 Any ideas?

[2021-07-16 08:08] kdy1 commented on #11388
No. I don't have any idea as I don't know what `Deno.emit` does.

[2021-07-16 08:47] lucacasonato commented on #10516
You're right. Reopened.

[2021-07-16 11:03] ebebbington opened #11423 "Deno doesn't close firefox subprocess on windows"
After closing, the firefox processes are still present on windows (present since about 1.0.0)

Deno version:

deno 1.12.0+1ad6575 (canary, x86_64-pc-windows-msvc)
v8 9.2.230.14
typescript 4.3.2

I'm simply running headless firefox, yet even if i close the piped stderr and close the process, the processes still exist on my computer. This might apply to other processes on windows?

[2021-07-16 11:18] jsejcksn commented on #11388
@kdy1 I forgot to say that the result is the same for `deno bundle` when I mentioned you.

[2021-07-16 11:32] ebebbington commented on #11423
Thinking about it, maybe it's to do with the firefox process and not deno?

[2021-07-16 11:54] ebebbington commented on #7087
Happens when i run firefox as a subprocess on windows

[2021-07-16 11:54] ebebbington commented on #11423
closing as it relates to https://github.com/denoland/deno/issues/7087

[2021-07-16 11:54] #11423 closed

[2021-07-16 12:09] caspervonb commented on #11170
I've implemented this but... we do make use of a special marker `STD_VERSION` which means these fenced code blocks aren't currently valid so we need to either remove that or work around it *somehow* without making the test runner even more complicated.

[2021-07-16 15:00] justinmchase commented on #10516
Proposal:
[code]

These names are mimicking the nodejs api for tls options:
https://nodejs.org/docs/latest-v15.x/api/tls.html#tls_tls_createsecurecontext_options

You can see there are a ton of other options but most of the time if you're using client certificates you just need the `cert` and `key` fields. This will help a lot of usecases without having to go nuts implementing every option under t

[2021-07-16 15:03] justinmchase commented on #6170
Related To https://github.com/denoland/deno/issues/10516

[2021-07-16 22:51] #11416 closed

[2021-07-17 01:10] jaydenseric opened #11427 "Add a way to get `Deno.emit` to emit formatted code"
At the moment, [`Deno.emit`](https://doc.deno.land/builtin/unstable#Deno.emit) outputs messy code, that is not in the same format that Deno `fmt` produces.

Either by default, or as a new option, it would be great if there was a way to get `Deno.emit` to emit formatted code that is accounted for in the source maps that are also emitted.

Until this enhancement is implemented a workaround is a bit

[2021-07-17 01:14] nhrones commented on #11424
What I've found  ...
deno-main /extensions/net/01_net.js (function listen) on line 206
[code]
Also
deno-main /extensions/net/resolve_addr.rs (fn make_addr_port_pair())
[code]

[2021-07-17 01:41] nhrones commented on #11424
@wperron  Also found vec of hosts if <BarePort>
in deno-main/cli/flags_allow_net.rs (pub fn parse())
[code]

[2021-07-17 02:15] nhrones commented on #11424
Why can't I get to this issue from  https://github.com/denoland/deno/
When I open the issues drop-down, it is never there.

[2021-07-17 04:41] CrimsonCodes0 commented on #7728
It's been some time since structured cloning has been working for message passing, and we have functioning MessageChannels! 🎉

Is there anything else that might be blocking a possible implementation?

[2021-07-17 06:42] sant123 opened #11428 "Deno.serveHttp hangs after future request with different hosts"
Having this file:

[code]

Start it with `deno run --unstable -A server.ts`

Do a request with a browser (e.g: Chrome) to http://127.0.0.1:8693. It will work fine :)
Do a request with the same browser to http://localhost:8693. Will hang :/

Now stop the server and run it again.

Do a request with a browser (e.g: Chrome) to http://localhost:8693. It will work fine :)
Do a request with the same brow

[2021-07-17 08:54] crowlKats commented on #11428
You have to do
[code]
From the [docs](https://deno.land/manual@v1.11.3/runtime/http_server_apis#serving-http):

[2021-07-17 10:13] #11428 closed

[2021-07-17 15:51] sant123 commented on #11428
My bad, little detail 😅 thank you so much !!!

[2021-07-17 17:33] arnimlost opened #11429 "multiple nested optional parameters cause issues"
If there are multiple optional parameters, such as
[code]
and you try to get `interaction.data?.options?[0].options`, deno-fmt and the deno runtime recognize the second `?` as a `condition ? true : false` syntax and exspect a `:`.

deno-fmt:
![image](https://user-images.githubusercontent.com/74423013/126045188-0be411b3-3fe8-4466-8701-c22017ad4738.png)

deno run:
`error: Expected :, got const` (con

[2021-07-17 17:35] crowlKats commented on #11429
Your syntax is wrong, see https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/Optional_chaining#optional_chaining_with_expressions
it should be `?.[0]`.

[2021-07-17 17:47] #11429 closed

[2021-07-17 20:44] l2ig opened #11431 "Simultaneous requests to a `Deno.listen` listener cause request errors"
Hi! I'm not sure if I'm doing something completely wrong or if there's a bug in Deno, but if I start a listener and send simultaneous requests to it, they sometimes fail, and I can't figure out why.

Listener code:
[code]

Test case:
[code]

After running, one (or both) of the following errors occurs:
* `TypeError: error sending request for url (http://localhost:3000/): operation was canceled: rec

[2021-07-17 21:00] bartlomieju commented on #11431
Using `conn.write` doesn't guarantee that all bytes will be written in a single call (that function returns number of bytes written). Try using [`writeAll(conn, ...)`](https://deno.land/std@0.101.0/io/util.ts#L156) instead.

[2021-07-17 21:09] l2ig commented on #11431
The same error still occurs to me, but shouldn't `write` also throw an error if it didn't wrote the full data?
[code]

[2021-07-17 22:27] #11414 closed

[2021-07-18 07:47] caspervonb opened #11432 "The test subcommand does not enter watch mode"
Looks like the test subcommand does not enter watch mode at all.

[code]

[2021-07-18 08:16] caspervonb commented on #11432
According to git blame I've yanked the parse line.

[2021-07-18 08:55] #11432 closed

[2021-07-18 09:12] danopia commented on #8821
Hi, I'm also looking for HTTP over Unix.

I find the above usage of 'proxy' interesting because the term is already defined for http interactions; case in point, `Deno.createHttpClient({ proxy: { url: "..." }})` apparently now exists with a different structure/usecase. Would it still make sense to add unix sockets to that key as an overload?

[2021-07-18 09:44] michailVestnik opened #11435 "Listen TCP"
Hi!

I apologize in advance if my question seems silly. I didn't find the answer in the Runtime API documentation.
I wrote a test TCP echo server in Golang:

(Simplified code without error handling)
[code]

Then i wrote a client in Deno:

[code]

Everything is working fine, the server receives and processes messages.
But how to get a response on the TCP client side?

Заранее спасибо!

[2021-07-18 09:55] #11435 closed

[2021-07-18 13:05] wojpawlik opened #11437 "`--no-check` affects runtime behavior"
[code]

Without `--no-check`, correctly outputs `/.+?/`.
With `--no-check`, incorrectly outputs `/\n(?:).+?\n/`.

`deno 1.12.0+1ad6575 (canary, x86_64-pc-windows-msvc)`

Based on actual code: https://github.com/wojpawlik/deno2node/blob/d224750108fcdc70d666b3cc3f9e95e6310a4a47/src/_transformations/specifiers.ts#L5-L8.

Blocks #11340.

[2021-07-18 14:05] Ciantic commented on #2552
Can we re-open this? Or add some tag at least to indicate it's waiting for ECMAScript Stage 3.

I had to manually go through the thread to see why this was closed, only to find out the support was  once added and then removed.

[2021-07-18 21:36] lucacasonato opened #11441 "`Array.at` and friends not available for typechecking"
[code]

Runs fine with `--no-check`, but during type checking:

[code]

The typings update has not landed in TSC upstream yet: https://github.com/microsoft/TypeScript/pull/40697.

We should try get this fixed for 1.12.1.

[2021-07-19 00:03] kitsonk commented on #11437
Upstream issue is: https://github.com/swc-project/swc/issues/1791

[2021-07-19 00:46] kitsonk opened #11442 "Re-enable fetch test now issue is resolved"
Noticed this when doing something else:

https://github.com/denoland/deno/blob/a23c0af5bd1bf56a5fdb051278138258c09ea076/cli/tests/unit/response_test.ts#L46

And #10002 is resolved.

[2021-07-19 01:33] voltrevo commented on #11409
@dsherret

Hmm, I don't think they are the same feature though. They're nice proposals for other reasons, but if the goal is just to add more parallelism, it's much simpler for the user to just enable this via a flag.

I understand every feature has a cost ofc. If it's not considered worth it then I support closing this issue, I don't think there is anything here to add to https://github.com/denol

[2021-07-19 01:56] #11441 closed

[2021-07-19 03:51] kitsonk commented on #8440
Need https://github.com/swc-project/swc/issues/1933 resolved, but there are other challenges beyond that (mostly how to deal with the types when using the transforms).

[2021-07-19 09:16] caspervonb commented on #11409
Not really, you'd have to create a group just to run in them concurrently.
Would be better to just mark something as being concurrency safe imo.

Thinking ahead to when ES decorators are a thing, I'd prefer simply doing this:

[code]

I tried spinning up isolates per tests, was neat but it breaks user expectations of modules only being instantiated once.

[2021-07-19 11:10] lucacasonato opened #11445 "Support BigInt/Uint64Array in crypto.getRandomValues"
Relevant spec change: https://github.com/w3c/webcrypto/issues/255
Tenative WPTs are available in `WebCryptoAPI/getRandomValues-bigint.tentative.any.html`

[2021-07-19 11:21] caspervonb commented on #11445
Somewhat related https://github.com/denoland/deno/issues/6169.
This would be our first `bigint`op.

[2021-07-19 11:23] lucacasonato commented on #11445
`BigInt64Array` is just another view on an array buffer. There is nothing "special" on the ops layer. I think the main issue here is just that the WebIDL types need a minor modification.

[2021-07-19 11:24] lucacasonato commented on #6169
This would require support for mapping between u64 and BigInt in serde_v8. This might have to happen via a special type.

[2021-07-19 12:38] #11291 closed

[2021-07-19 13:16] FalseDev opened #11449 "Deno panics when sent a non websocket request to debugger url"
Reproducing:
- Run `deno repl --inspect`
- Open browser (or send any non websocket request) to printed url

Message:
[code]

Additional info:
Deno version: `1.10.1`

[2021-07-19 13:20] bartlomieju commented on #11449
We had a major rework of inspector infrastructure since `1.10`. Does this issue persist in newer versions?

[2021-07-19 13:35] #11445 closed

[2021-07-19 13:53] aricart commented on #11408
This may be a really good note somewhere...

[2021-07-19 13:55] aricart commented on #11408
(also 25mb > 5mb...) so yes they may be easier but they get fat quick!

[2021-07-19 14:04] nayeemrmn commented on #10684
This is an swc bug. The reason it doesn't trigger an `--isolatedModules` error is because transpilers are supposed to handle these cases just fine. And a type-only module is valid TypeScript that should emit an empty JavaScript module, it doesn't or shouldn't need a `d.ts` extension.

Smaller repro:
[code]
[code]
Actual transpilation of `temp.ts`:
[code]
Expected:
[code]
@kdy1 This is the same iss

[2021-07-19 14:07] getspooky opened #11450 "Deno test --watch does not rerun tests related to changed file"
For example :
[code]
when i run `deno test --unstable --watch ./test/sample_test.ts, it exit immediately.

Result:
[code]
The expected behavior is to start watch process

[2021-07-19 14:19] caspervonb commented on #11450
Duplicate https://github.com/denoland/deno/issues/11432

[2021-07-19 14:20] #11450 closed

[2021-07-19 14:42] lucacasonato commented on #11449
Still happens.

![image](https://user-images.githubusercontent.com/7829205/126178451-311bc01d-4ff0-4491-9e0e-e015ede0fc95.png)

[2021-07-19 14:44] crowlKats opened #11451 "Throwing DOMException in `deno run` will error without information"
This doesn't happen in REPL, only in run

<img width="366" alt="Screenshot 2021-07-19 at 16 43 31" src="https://user-images.githubusercontent.com/13135287/126178719-481df994-32a4-40d8-b1b1-3225d463834a.png">

[2021-07-19 15:00] caspervonb commented on #11449
We never intended for repl to work with --inspect as far as I can recall.
I guess we can support it but what's the use case for this?

[2021-07-19 16:36] ejose19 commented on #11078
@WilcoKruijer FWIW [ts-node](https://github.com/TypeStrong/ts-node) already has that syntax, using `.type`:

[code]

Along with type checking:

[code]

so even if it's enabled through an option, I also see that this can be a good addition to the REPL. //cc @cspotcode

[2021-07-19 16:44] cspotcode commented on #11078
`ts-node`'s `.type` implementation predates me, so unfortunately I can only talk about its behavior, not the motivation behind its design.

[2021-07-19 20:18] darkred commented on #11389
The issue no longer occurs after upgrading to 1.12.1, and it's back to `release` instead of `canary` :

[code]

[2021-07-19 20:18] #11389 closed

[2021-07-19 22:11] #11442 closed

[2021-07-19 22:15] kitsonk commented on #11456
A more concise reproduction: https://github.com/erfanium/deno-lsp-bug-repro/tree/master

[2021-07-19 22:26] kitsonk commented on #11457
I don't think we are handling renames properly.  This is related to #10897.

[2021-07-19 23:51] kitsonk opened #11458 "lsp: import type and X-TypeScript-Types don't work well together"
If you try to `import type` a type from a module which has a `X-TypeScript-Types` header, the language server does not properly handle this and reports that the import does not have the named export.

[2021-07-20 06:15] kitsonk commented on #11458
The problem is that when we see `export type`/`import type` we fill the resolved dependency with the resolved import specifier in the type slot in the dependencies, even if there is something more suitable.

Working on a fix.

[2021-07-20 09:22] bitoku commented on #11412
Can I address this problem?

[2021-07-20 09:47] lucacasonato opened #11461 "LSP completion and hover breaks when using both `export type` and `export`"
Open a TS file and paste this code:

[code]

You will see that type completions and hover are not working. Now remove the `export type` statement. Type completions and hover work again.

[2021-07-20 09:51] k0warite opened #11881 "lsp: Ignore files that starts with other shebang"
The extension should ignore files with other shebang (for example, `!#/usr/bin/env node`) as it's set for other interpreters.
By "ignore" I mean disable the extension for that file (switch back to TS language server)

[2021-07-20 10:19] kitsonk commented on #11461
Effectively duplicate of #11458 which I am currently working on. There is a logic error in how `import type` and `export type` are handled.

[2021-07-20 10:26] kitsonk commented on #11461
Yeah, the fix for #11458 works for this:

https://user-images.githubusercontent.com/1282577/126308733-138e0585-6175-4334-81b3-476ae8d080e1.mp4

Closing in favour of #11458

[2021-07-20 10:26] #11461 closed

[2021-07-20 10:27] lucacasonato commented on #11461
Ah! Sorry I missed that issue. Thanks for looking into it :-)

[2021-07-20 10:28] kitsonk commented on #11461
Well, it was only after I went back through some old vscode_deno issues and put 2 + 2 together with some of my own experiences that I was able to figure out what was going on to look into it.

[2021-07-20 12:42] lucacasonato commented on #11412
@bitoku Sure! If you need help, please ask on Discord: https://discord.gg/deno

[2021-07-20 12:55] bartlomieju commented on #11449
Not sure if it's any useful, but we certainly shouldn't panic. Working on a fix now.

[2021-07-20 13:04] lucacasonato commented on #5299
This was resolved a few releases ago.

[2021-07-20 13:04] #5299 closed

[2021-07-20 13:04] lucacasonato commented on #5326
Duplicate of #3310

[2021-07-20 13:04] #5326 closed

[2021-07-20 13:05] #3310 closed

[2021-07-20 13:07] lucacasonato commented on #5665
This is working in the latest release.

[code]

[code]

[2021-07-20 13:07] #5665 closed

[2021-07-20 13:11] lucacasonato commented on #5969
@Spoonbender Were you ever able to get this working? Otherwise I'd be happy to take a look.

[2021-07-20 13:11] lucacasonato commented on #5975
Plugins are in the process of being removed in favor of FFI, so I'll close this issue.

[2021-07-20 13:11] #5975 closed

[2021-07-20 13:15] lucacasonato commented on #6013
This should be resolved now.

[2021-07-20 13:15] #6013 closed

[2021-07-20 13:17] lucacasonato commented on #6432
This is working in 1.12.1.

[2021-07-20 13:17] #6432 closed

[2021-07-20 13:19] lucacasonato commented on #6440
Do you remember what caused this error to be thrown? All our errors should be a `Deno.errors` error. If they are not that is a bug with the specific API. This issue is too generic to be actionable, because I don't know what call threw the error.

If you can provide more details, please re-open the issue :-)

[2021-07-20 13:19] #6440 closed

[2021-07-20 13:19] Spoonbender commented on #5969
@lucacasonato i have a solution that works BUT!
1. I was unable to write an integration test that safely tests this
2. I was unable to prove that deno is now installable chrooted; i only managed to prove that it doesn't crash due to lack of /proc access - i don't have enough knowledge in chrooting to setup a working chroot environmet (got stuck on DNS issues).

I can look for my code later on toni

[2021-07-20 13:28] lucacasonato commented on #6637
@DjDeveloperr Can not reproduce on 1.12.1 anymore, so I assume this was an upstream Tokio bug that has been fixed.

![image](https://user-images.githubusercontent.com/7829205/126332303-204ce905-6733-4208-8568-a0c760bb41d1.png)

If you encounter this issue again, please open another issue.

[2021-07-20 13:28] #6637 closed

[2021-07-20 13:30] lucacasonato commented on #6995
No objections to it being resolved. If you do still encounter this, please re-open.

[2021-07-20 13:30] #6995 closed

[2021-07-20 13:31] lucacasonato commented on #7081
This should be resolved now. Also consider using streaming decoders for large files (either `TextDecoderStream`, or the `stream` option on `TextDecoder.decode`).

[2021-07-20 13:31] #7081 closed

[2021-07-20 13:33] lucacasonato commented on #7208
Confirmed @11070 fixes this. The original reproduction does not panic anymore.

[2021-07-20 13:33] #7208 closed

[2021-07-20 13:41] #11449 closed

[2021-07-20 13:42] lucacasonato commented on #7416
Can not reproduce with `Deno.emit` anymore (both with and without typechecking).

[2021-07-20 13:42] #7416 closed

[2021-07-20 13:48] lucacasonato commented on #7994
@prcdpr Can you still reproduce this with the latest Deno release? We have done some major changes in the areas that might have previously caused this over the last few months.

[2021-07-20 14:03] lucacasonato commented on #9871
Duplicate of #8852?

[2021-07-20 14:12] lucacasonato commented on #8333
@breezy-badger We'll need more details. Do you have a test case I can execute that fails?

[2021-07-20 14:13] lucacasonato commented on #8371
I haven't had this test fail in the last couple months. Anyone still run into it?

[2021-07-20 14:14] MierenManz commented on #8371
I can test it on kubuntu if you want me to

[2021-07-20 14:22] breezy-badger commented on #8333
@lucacasonato

$ cat test.js
fetch("https://book.hotelvejlefjord.dk/umbraco/api/hotel/available?lang=da-DK&arrival=2021-08-13&departure=2021-08-14&participants=2").catch(console.log)

$deno run --allow-all ./test.js
TypeError: error sending request for url (https://book.hotelvejlefjord.dk/umbraco/api/hotel/available?lang=da-DK&arrival=2021-08-13&departure=2021-08-14&participants=2): http2 error: p

[2021-07-20 14:23] breezy-badger commented on #8333
The above code works fine in both Chrome console as well as Node.

[2021-07-20 14:25] #11391 closed

[2021-07-20 14:36] ejsmith commented on #6141
I just ran into this issue as well. I want to use setInterval to have code executed periodically in my program, but I do not want it to block the exit of the application when the main code has completed. Has there been any progress on this?

[2021-07-20 15:34] katywings commented on #5665
@lucacasonato Whoaaa awesome! Ty for the update 🙂

[2021-07-20 16:32] osddeitf opened #11469 "Bug: cannot capture runtime error when function of external module called with wrong signature"
I have a short snippet for getting DTD of XML:
[code]
When I use `sax` with type definition (`https://cdn.skypack.dev/sax@^1.2.4?dts`) for dev only, there'll be an error at `parser.end()` function which not accept any argument (the correct code is commented above that line).

There's no point of running the errored code above (even if type checking is disabled), but that's what I accidentally did

[2021-07-20 16:44] David-Else opened #11470 "`deno test` is not reading DOM types using `test --config ./tsconfig.json`"
`deno test --config ./tsconfig.json --watch --allow-all --no-check test/ ` (or without `--no-check`) returns:

[code]
`tsconfig.json`
[code]

`main.ts`
[code]
The LSP picks up my `tsconfig.json` fine and accepts `document` when use `config = "./tsconfig.json"`, and `test` is reading the file as it says:
[code]

I have a test repo here to show the problem: https://github.com/David-Else/dependency-h

[2021-07-20 17:43] nayeemrmn commented on #11470
That's a runtime error, which is why it's happening with `--no-check`.

[2021-07-20 17:51] Sean-Der commented on #1612
@mko-io usrsctp is being replaced with dcnet in Chrome.

[2021-07-20 18:04] David-Else commented on #11470
@nayeemrmn It happens without `--no-check`:
[code]

[2021-07-20 18:40] nayeemrmn commented on #11470
Yes, because it's a runtime error. There is no `document` global in Deno. The `"dom"` lib to bypass the type-checking error isn't going to change that.

[2021-07-20 19:06] #4735 closed

[2021-07-20 19:25] lowlighter commented on #10395
Here's a minimal reproduction if needed:
[code]
[code]
[code]

[2021-07-20 19:26] caspervonb commented on #10395
Thanks @lowlighter, appreciate it.

[2021-07-20 19:44] David-Else commented on #11470
Sorry, I am struggling a bit. I would like to test my browser code using Deno, is there any information available on how this is done?

I have found `import jsdom from "https://cdn.skypack.dev/jsdom";`, and https://github.com/b-fuze/deno-dom ... is there any guide I could follow or best practice? Not sure where to start. Thanks!

[2021-07-20 19:51] caspervonb commented on #11470
[I'm releasing a complementary toolchain _soon_](https://twitter.com/caspervonb/status/1415690606983090184) which shims the Deno test harness and runs the tests in browsers.

[2021-07-20 22:35] justinmchase commented on #7662
I'm getting this same error but curl from the terminal succeeds. I am behind a corporate firewall and so is the destination server. I have the same CA cert the server is using installed locally.

I am also on macOS Catalina 10.15.7

I'm using `fetch(url)` and its giving me this error:
[code]

Querying the same url using curl from the terminal gives me a success result (domains and cert details alt

[2021-07-20 22:44] #11470 closed

[2021-07-21 00:19] kitsonk commented on #11469
It is because you are using top level await, and so the root module never finishes evaluating because of the error.

I am not sure if it is a bug or not (@bartlomieju).

What happens if you do the following:

[code]

Are you using top-level await in Node.js, and are you using ES modules, or are you transpiling to CommonJS?  The way modules get loaded (and the use of top-level-await) can impact how

[2021-07-21 00:21] kitsonk commented on #11469
Ah, also, you aren't rejecting the promise when you catch the error, again, meaning the promise never resolves, meaning the module never finishes evaluating.  The error is correct.

[2021-07-21 00:27] kitsonk opened #11476 "`deno info` does not display type dependencies correctly"
If you have a dependency in a module graph that contains a triple-slash reference to the types or was served up with an `X-TypeScript-Types` headers, the information about the type dependency is currently missing from the graph.

I'm working on a fix for this, it is just a tracking issue.

[2021-07-21 00:41] osddeitf commented on #11469
Is your decision too rush?
Even if i add `reject(e)` to `catch` block, it's the same.
Also if i modify like this (without using top-level await):
[code]
Deno exit with status 0. It's print nothing, not even the error message.

[2021-07-21 02:18] kitsonk commented on #11469
@osddeitf

Because the code does not throw:

[code]

[code]

There is nothing wrong with Deno in this case.

[2021-07-21 02:18] #11469 closed

[2021-07-21 02:22] osddeitf commented on #11469
Oh, you're right, sorry for not testing it thoroughly. Thanks.

[2021-07-21 07:47] jsejcksn commented on #11016
I am against this suggested pattern of throwing on property access because it cannot be communicated in the type system (`never` gets absorbed by any other type in a union), which leaves the full burden of communicating this on JSDoc comments or other documentation, which is generally less accessible.

`undefined` is the correct type for a property without a value.

[2021-07-21 11:44] timreichen commented on #1891
@panva would you be interested in creating a draft with me for std that includes jws and jwt for a start now that webcrypto is partially supported? if yes you can also dm me on discord `timreichen#1717`

[2021-07-21 12:15] panva commented on #1891
Sure, you can reach out to me on the [OpenJS Foundation slack](https://communityinviter.com/apps/js-foundation/join-openjs-foundation-on-slack).

[2021-07-21 12:20] jaclarke opened #11479 "Feature request: Support ALPN in `Deno.connectTls`"
There was a previous issue to add ALPN support to the TLS api's (https://github.com/denoland/deno/issues/6334), which was closed by this PR: https://github.com/denoland/deno/pull/10065. However it appears that only support for ALPN in `Deno.listenTls` was added, is it on the roadmap to also add support for ALPN in the `Deno.connectTls` api as well?

Use case: We have a Deno driver for EdgeDB (http

[2021-07-21 13:24] justinmchase commented on #7662
I'm adding `--watch --cert /etc/ssl/cert.pem` and still getting the same error

Curl takes it though...

[2021-07-21 13:40] lucacasonato opened #11481 "Enable non-extractable keys for Web Crypto"
Before some we can do this we need confirmation from spec authors for the following statements:

1. Non extractable keys are not meant to be a security primitive. They are purely meant for obfuscation.
2. It is expected that a compromise of the render process, or in process timing side channel attacks (Spectre) can extract "non extractable" keys.

If either of these statements are not correct we d

[2021-07-21 13:59] kdy1 commented on #10684
I tried this, but https://github.com/swc-project/swc/blob/15e7da2ea8cc942369c7a9c059bfbf2ff37662a0/tests/fixture/deno-10684/case1/output/entry.ts does not contain `import { Foo } from "./temp2.ts";`
I'll try something smaller.

[2021-07-21 14:01] kdy1 commented on #10684
Oh, I was able to reproduce it using `typescript::strip`. I'll fix this asap.

[2021-07-21 15:03] littledivy commented on #11481
The spec recommends use of IndexedDB for storing key material. https://www.w3.org/TR/WebCryptoAPI/#concepts-key-storage

---
Also:

I'll assume storing key material in memory is fine with extractable=false

[2021-07-21 15:05] panva commented on #11481
The key language from that section I believe is **in bold**

[2021-07-21 15:08] panva commented on #11481
https://www.w3.org/TR/WebCryptoAPI/#scope-out-of-scope

[2021-07-21 15:20] kt3k commented on #10420
https://github.com/denoland/deno_std/pull/1050/checks?check_run_id=3125140402
Happened again on std ubuntu runner. (no problem with windows and mac runners).

This happens while processing `io/util.ts` in std.

[2021-07-21 15:57] lucacasonato commented on #11481
These sections are all non normative. We can't make a decision on this until we have more clarity about other vendor implementations. Also see https://github.com/w3c/webcrypto/issues/269

[2021-07-21 16:02] justinmchase commented on #7662
I believe this is related to https://github.com/denoland/deno/issues/10312#issuecomment-846536294

[2021-07-21 16:07] justinmchase opened #11482 "Sending fatal alert BadCertificate: invalid certificate: UnknownIssuer"
The issuer is my company. I am behind a corporate firewall and so is the destination server. I have the same CA cert the server is using installed locally.

I am also on macOS Catalina 10.15.7

I'm using `fetch(url)` and its giving me this error:
[code]

My code is basically:

[code]
[code]
Querying the same url using curl with the same cert from the terminal gives me a success result (domains and

[2021-07-21 16:09] justinmchase commented on #7662
I opened a new ticket so I don't have to keep spamming this closed / invalid issue https://github.com/denoland/deno/issues/11482

[2021-07-21 16:20] JerryGreen commented on #1846
Doesn't aarch64 run official deno executable? I mean, they both x64, shouldn't they be compatible? (Unlike x32)

Anyways, I tried your most recent executable (https://deno.toaxl.com/v1.9.2/) on my Raspberry Pi 4 (8 gb), just in case... But of course it doesn't work, the same way doesn't work the official build:

`cannot execute binary file: Exec format error`

I'd like someone to build for `armv7l

[2021-07-21 16:43] crowlKats commented on #1846
@JerryGreen There are currently no 32bit deno executables. see https://github.com/denoland/deno/issues/2295

no. arm and x86 are inherently different systems. you cant run executables for one on the other.

[2021-07-21 19:14] JerryGreen commented on #2295
I tried building from source using this guide: https://deno.land/manual@v1.12.1/contributing/building_from_source

I use Raspberry Pi 4, 8gb, but I'm stuck into:

[code]

[2021-07-21 20:20] lucacasonato opened #11483 "`Deno.startTls` does not respect `--cert`"

[2021-07-21 20:21] lucacasonato commented on #11482
You can enabled `-Ldebug` which might give some more detailed logs.

[2021-07-21 20:48] justinmchase commented on #11482
Thanks, here is the extra log info from adding that flag:
[code]

[2021-07-21 21:02] lucacasonato commented on #11483
It seems `Deno.connectTls` doesn't either.

[2021-07-21 21:33] justinmchase commented on #11482
I am able to reproduce it purely using the `rustls` example client, so it seems to not be a Deno issue per-se.

I've narrowed it down to this line:
https://github.com/ctz/rustls/blob/92a60a54e084834cf66ea26a8daeb3b360f9ecbd/rustls/src/client/tls12.rs#L734

[2021-07-21 21:42] lucacasonato commented on #11482
@justinmchase Could you share the exact certificate that is causing issues with me so we can debug this? If you don't want to share it in public, feel free to email me at luca@deno.com.

[2021-07-21 22:35] grempe opened #11485 "Deno `1.12.1` compile with `--target=aarch64-apple-darwin` fails to download needed binary"
The downloadable artifact for the Darwin ARM builds of deno `1.12.1` is missing (all other arch targets are found). The file is present though for version `1.12.0`.

This prevents me from building with the latest release.

It seems there was an issue generating the artifacts for this architecture.

FAILS `1.12.1`

[code]

OK `1.12.0`

[code]

[2021-07-21 22:48] justinmchase commented on #11482
I think its becuase the server cert has a root ca of my company. I have the cert installed and trusted locally of course in order to access various internal services and Chrome and Curl both seem to respect it and thus accessing this particular server succeeds via chrome and curl.

![Screen Shot 2021-07-21 at 5 21 39 PM](https://user-images.githubusercontent.com/10974/126567710-8ab71a37-6744-4759-

[2021-07-21 23:19] mfulton26 opened #11486 "Deno.inspect: does not inspect extra array properties"
`Deno.inspect` does not list extra properties on arrays (e.g. negative numbers, etc.)

Refs https://github.com/denoland/deno_std/issues/1020

[2021-07-22 02:42] kdy1 commented on #10684
Fixed on upstream (`swc_ecma_transforms_typescript`)

[2021-07-22 04:02] justinmchase commented on #11482
I found a link to this project from within the rustls project:
https://github.com/rustls/rustls-native-certs

I think this is basically what is needed to make it work.

Without being an expert in this area it definitely seems like it should be using just the keystore of the OS by default. Those are the certs the user or the users network admin has deemed trustworthy, it seems like pulling in the m

[2021-07-22 05:00] #11458 closed

[2021-07-22 05:34] #11476 closed

[2021-07-22 08:20] lucacasonato commented on #11485
Should now be working again.

[2021-07-22 08:20] #11485 closed

[2021-07-22 10:19] Peanets opened #11487 "Websocket connection headers"
Hi,

Connection header is case insensitive and it looks like deno is expecting an "Upgrade" value to upgrade the connection.

Here is the code that causes the issue :
![image](https://user-images.githubusercontent.com/3455883/126624432-b4698714-1a7d-479b-8ce6-a5438885b276.png)

https://datatracker.ietf.org/doc/html/rfc7230#section-6.1

[2021-07-22 10:24] lucacasonato opened #11488 "Force GC before testing resource sanitizer scope close"
To prevent this negatively impacting performance for tests which don't do any IO, I propose the following:

Get resources after the run like we do now. If `resources before` !== `resources after`, we force a GC, wait for 1 spin of the event loop, then get the resources again. If the resources still don't match we fail like we do now.

This is mostly inlight of #11467

[2021-07-22 10:28] #11483 closed

[2021-07-22 10:32] bartlomieju commented on #11488
@lucacasonato that probably implies that tests must run with `--expose-gc` flag. Which is a bit unfortunate as `gc()` global function will be available in scope at all times.

[2021-07-22 10:33] lucacasonato commented on #11488
We could also add a core binding, or just `delete globalThis.gc` on startup of the tests.

[2021-07-22 10:34] caspervonb commented on #11488
Is it triggable via the isolate? another op doesn't hurt.

[2021-07-22 10:40] bartlomieju commented on #11488
There is a method on `Isolate` to request garbage collection, but it still requires `--expose-gc` flag.

I guess we can just save the reference to `gc()` global function into internal variable in testing code.

[2021-07-22 10:43] lucacasonato commented on #11482
@justinmchase We use the same approach as Firefox, which is to disregard the OS keystore because it might be very out of date (e.g. Windows XP not having ISRG Root X1). To add a cert to the root store that Deno uses you have to specify the certificate with the `--cert` flag.

If this still results in verification errors there are two possible issues:
1. the CA certificate isn't valid for the domai

[2021-07-22 11:05] caspervonb commented on #11488
Going to go off on a slight tangental, big picture et cetera.
This seems like a bandaid for a much larger symptom, a leaky implementation detail.

When we started out resources where pretty much tied to the concept of resource descriptors, which were pretty synonymous with file descriptors.

As we've implemented more web APIs we've started shoving everything that allocates anything into the resour

[2021-07-22 12:13] JerryGreen commented on #1846
Just made `deno` work on my Raspberry Pi 4 (8 gb) 🙂 Here's how:

I installed [Ubuntu Server (64-bit) for Raspberry Pi](https://ubuntu.com/download/raspberry-pi) (using [Raspberry Imager](https://www.raspberrypi.org/software/)), which is `aarch64`:

[code]

Then installed deno for aarch64, built by @LukeChannings (thx btw), under default `ubuntu` user:

[code]

Then you can finally run `deno` and s

[2021-07-22 12:28] #11487 closed

[2021-07-22 14:11] grempe commented on #11485
Awesome! Thanks for the quick fix @lucacasonato.

Quick question? Was something done as part of this fix to help prevent this situation in the future? This seems like a weak spot with Deno, forcing a download from a CDN when running `deno compile` with other target architectures.

[2021-07-22 14:44] mokeyish opened #11490 "Deno reports an error on OpenWrt"
[code]

[2021-07-22 15:04] justinmchase commented on #11482
The file I was passing to `--cert` does not contain the companies CA it turns out, the right root CA only exists in the system certificate store for me, I don't have the CA file anywhere else it seems. I could theoretically obtain it or extract it from the keystore though but it was installed by IT when the machine was provisioned, theoretically they maintain the certs in the store by policy and i

[2021-07-22 15:16] lucacasonato commented on #11482
Reqwest with `use_native_tls` pulls in native-tls which links to openssl. Pulling in openssl is a non-negotiable no. Instead, the same approach as with the low level TLS APIs can be used (specifying `rustls_native_certs::load_native_certs()` as default certs) should be used.

I would be open to having a `DENO_TLS_CA_STORE=system` and `DENO_TLS_CA_STORE=mozilla` env var to switch between `rustls_na

[2021-07-22 15:43] bartlomieju commented on #11482
Ah, I already commented on the #11491, but I see Luca already said it here, that using `native-tls` from `reqwest` is a no-go.

As for `DENO_TLS_CA_STORE` env variable - I'm not against it, if it solves real world problem I'll be fine with it, I'm a bit wary about discoverability but I'm sure we can explain it properly in docs.

[2021-07-22 15:45] bartlomieju commented on #11485
Unfortunately there are no Apple M1 runners available in GitHub actions, so we need to upload those binaries manually for each release. Looks like we forgot to do that after cutting `1.12.1`.

I'm not sure how we could remedy this problem?

[2021-07-22 15:47] vovacodes commented on #6794
I'd love to be able to use Deno for testing my native ESM frontend code. It just makes so much sense, I already write my components using the Deno "flavor" of TypeScript which is browser esm-friendly. Currently, lack of DOM support appears to be the only thing that prevents that use-case.

[2021-07-22 16:37] lukebrowell commented on #11078
![image](https://user-images.githubusercontent.com/1446740/126675728-4f23c6dd-7928-4a64-b773-0b9ecdcd57c9.png)
Pretty sure this should give a syntax error as it does in the Chrome console:
![image](https://user-images.githubusercontent.com/1446740/126675773-2c1bba04-9b0e-4861-b9f7-05edc3df7c1f.png)

[2021-07-22 16:38] justinmchase commented on #11482
Ok I'll remove `native-tls` and figure out how to update the ClientBuilder without needing that feature.

How would you feel about adding both the webpki certs _and_ the native certs by default? Will they stomp on each other, or is a valid cert a valid cert?

So in that scenario we would have Deno do what its doing now _plus_ we add all of the certs from the users native store. That way by default

[2021-07-22 18:39] lowlighter opened #11492 "Deno coverage option cli inconsistency (requires `=` after option)"
It feels weird that an `=` is required after `--coverage` option while other options supports a space separator:

[code]

Granted it's a nitpick, but it would be more consistant with remaining options

[2021-07-22 19:19] caspervonb commented on #11078
That's a regression, probably from introducing type-stripping.

[2021-07-22 20:52] bartlomieju commented on #2415
@MarkTiedemann this suggestion did not gained much traction; in an effort to reduce unwieldy number of open issues in the repo I'm going to close this one. I'd still be happy to merge a PR with implementation and tests, but this is not something core team will be working on.

[2021-07-22 20:52] #2415 closed

[2021-07-22 20:54] bartlomieju commented on #4071
Engineering effort to expose `zlib` bindings from the V8/`rusty_v8` would be enormous and I don't think it is worth it; especially given that WASM bindings (https://github.com/emscripten-ports/zlib) are available.

[2021-07-22 20:54] #4071 closed

[2021-07-22 20:56] bartlomieju commented on #3598
Native plugins are getting removed (https://github.com/denoland/deno/issues/8490) in 1.13 and replaced with FFI (https://github.com/denoland/deno/pull/11152).

It will be possible to call C code from Deno code.

[2021-07-22 20:56] #3598 closed

[2021-07-22 20:57] bartlomieju commented on #3448
Plugins are getting removed in 1.13 (https://github.com/denoland/deno/issues/8490) so this issue is no longer relevant.

[2021-07-22 20:57] #3448 closed

[2021-07-22 21:47] crowlKats commented on #2128
This is somewhat covered by workers. not a perfect solution, but it does the job majority of the time

[2021-07-22 21:53] #11490 closed

[2021-07-22 23:03] silen-z opened #11494 "`Deno.upgradeWebSocket` fails on `connection: "keep-alive, Upgrade"` header"
Hi, I'm trying out the unstable `Deno.upgradeWebSocket` and encountered an issue accepting a WebSocket from Firefox.

Firefox is sending this `connection: "keep-alive, Upgrade"` header when connecting to a websocket. That causes throw [here](https://github.com/denoland/deno/blob/8b34f07bb000a16b60b119ee24f5c0b4a5f7f937/extensions/http/01_http.js#L324)

[code]

 while the [current std logic for acc

[2021-07-22 23:39] kitsonk commented on #11494
Duplicate of #11487

[2021-07-22 23:40] crowlKats commented on #11494
@kitsonk not duplicate, this is about inclusion, not equality

[2021-07-23 00:33] NfNitLoop opened #11495 "Deno's `fetch()` does not set `Connection: keep-alive` while browsers do"
I ran into an issue that was difficult to debug (see: [my comments in the Discord][1]) because of this difference between Deno and Chrome & Firefox.

I've got [a server][2] which responds to an HTTP PUT with a 202 if the file already exists. And I had a preexisting [client that works][3] in Chrome and Firefox.

So I was surprised when I tried to port this to Deno, and Deno appeared to start throwi

[2021-07-23 00:38] NfNitLoop commented on #11495
I thought I might be able to work around this issue by adding `keepalive: true` to `fetch()`'s `RequestInit` but that doesn't seem to get passed through.

[2021-07-23 00:53] kitsonk commented on #11495
@NfNitLoop setting that header is "banned" in a `fetch()` request, you should use the option `keepalive` like:

[code]

According to the spec it defaults to [false](https://fetch.spec.whatwg.org/#request-keepalive-flag).  So it isn't a Deno issue, as much as you don't normally retrieve items via a browsers `fetch()` API, but instead basic browsing has different defaults than `fetch()` does.

[2021-07-23 00:56] NfNitLoop commented on #11495
I [did] try updating my `client.ts` to this:

[code]

But that's not getting set in the request.

[did]: https://github.com/denoland/deno/issues/11495#issuecomment-885327444

[2021-07-23 01:30] kitsonk commented on #11495
Yes, looking at the spec, it doesn't set a header.  For example, doing the following in Chrome:

[code]

Results in the following headers in the request:

[code]

No connection header.  So again Deno is "the problem" it is the behaviour of `fetch()`.

Can I ask why you feel the need to close the connection explicitly?

[2021-07-23 01:44] NfNitLoop commented on #11495
aaaah, the `keepalive` in fetch isn't `Connection: keep-alive`, it's got a different [meaning]:

[meaning]: https://developer.mozilla.org/en-US/docs/Web/API/WindowOrWorkerGlobalScope/fetch

OK.

-----

server.ts is just a demonstration of behavior I observed in an actix-web HTTP server.  I'm emulating that behavior. (i.e.: If you return a response without reading the whole body, and the HTTP conne

[2021-07-23 01:44] #11495 closed

[2021-07-23 01:45] silen-z commented on #11494
Oh I did look first and haven't found that issue. That gives me some direction on how to make PR to fix this one. I'll get to it tomorrow.

[2021-07-23 03:54] kitsonk commented on #10298
@mierenmanz here is the issue mentioned in GitHub.

Re-opening, as suggested it is a [community project](https://deno.land/x/eventsource) and we have increased our desire for inclusion of other web platform APIs, even if they don't require specialised support from the Deno runtime to work.

[2021-07-23 05:09] timreichen commented on #10349
I like the idea of having `Deno.env.has()` next to `Deno.env.set()` and `Deno.env.get()`. Also for a more map-like syntax we should also consider being able to do `Object.fromEntries(Deno.env)` instead of `Deno.env.toObject()`. `toObject` is never defined in any web API as far as I know.

[2021-07-23 05:11] timreichen commented on #10267
https://github.com/denoland/deno/issues/10349#issuecomment-885403016

[2021-07-23 05:49] #9344 closed

[2021-07-23 07:05] CrimsonCodes0 commented on #10349
(One could argue that, because it isn't a web API, it can't directly be compared to web APIs.)

`Object.fromEntries` accepts an iterable object, so if an iterator were added to the object (`[Symbol.iterator](): Iterator<[ string, string | undefined ]>`), then one could pass it direct into `Object.fromEntries`, and the `.toObject()` method could effectively be deprecated. Adding the iterator would

[2021-07-23 07:38] pleshevskiy commented on #10475
Same here. I added `// @ts-nocheck` at the top of the file that disable tsc, but we cannot disable `// deno-lint-ignore-file` in `.mjs` files.

[2021-07-23 07:50] timreichen commented on #10349
Correct, but I also would add that deno should borrow existing design choises from web apis if appropriate of course. That seems to be the case here.
+1 for iterator

[2021-07-23 07:52] lucacasonato commented on #11495
Deno will actually add the keep alive header if it deems the connection is worth reusing.

More generally though, the keepalive header being there or not should have no client facing impact on a request. If it does this is a bug (either in the server or the client). It also failing in Chrome and FF suggests to me it is a bug in the server implementation.

[2021-07-23 07:57] kitsonk opened #11498 "lsp: triple-slash no-lib reference can cause other libs to disappear"
If a file is in scope of the editor that contains a:

[code]

And isn't a built in lib file, it appears to wipe out all the libs, even if they are supplied in a `tsconfig.json` file resulting in diagnostics like:

[code]

[2021-07-23 08:14] jsejcksn commented on #10349
I think the iterator is a good idea also, but I'm confused about this suggestion:

Shouldn't the value simply be `string`? As in:
[code]

`string | undefined` makes sense for the getter since it's not statically known whether the variable is defined or not, but when would a defined environment variable have `undefined` as a value?

[2021-07-23 08:17] CrimsonCodes0 commented on #10349
Yup! Thanks for catching that, I'll update my comment appropriately.

[2021-07-23 09:20] getspooky commented on #11492
I think --coverage option must not have a required option by default
[code]

[2021-07-23 09:28] lucacasonato commented on #11492
This is because of backwards compat. `--coverage` didn't use to take an argument, so we now require a `=` to not accidentally swallow arguments that users previously provided.

[2021-07-23 09:28] #11492 closed

[2021-07-23 12:09] bartlomieju commented on #6794
At this point in time adding a virtual DOM is out of scope for Deno. However tools like JSDoc and linkedom work well in Deno and I would encourage you to explore this route.

Expect update to the manual on this subject soon.

[2021-07-23 12:09] #6794 closed

[2021-07-23 12:25] lukebrowell commented on #11078
Confirmed regression - tested on 1.11.5 and used to work correctly. Type stripping for Type-script compat in REPL seems most likely culprit change, more analysis required by more experienced contributors.

@Moderator: Should I re-raise this as a separate issue?

[2021-07-23 12:26] bartlomieju commented on #11078
@lukebrowell please do, we'll look into fixing it for 1.13

[2021-07-23 12:29] andreubotella commented on #6794
For the record, the [deno-dom](https://github.com/b-fuze/deno-dom/) library implements an HTML parser and support for DOM APIs. It's probably not yet useful for testing browser code in Deno (for example, it doesn't implement subclasses of `HTMLElement` for the different HTML elements), but your best best would be building on top of it.

[2021-07-23 13:01] lukebrowell opened #11501 "Suspected regression in REPL - repeatedly initialising the same constant should fail with a message."
![image](https://user-images.githubusercontent.com/1446740/126784818-ff6e7613-1466-41b8-98aa-3aa02da343f1.png)

Have tested on 1.11 and found to be working - so somewhere between there and latest version a regression has occurred.

![image](https://user-images.githubusercontent.com/1446740/126785437-17994827-d854-4b87-998f-26d25ff1f052.png)

Suspected, but unconfirmed as a result of stripping type

[2021-07-23 13:05] ayame113 commented on #11501
Isn't this a new feature introduced in V8 9.2?
https://chromium.googlesource.com/v8/v8.git/+/0acdf36510e72d5dac5777d893e77716235b7c39

It seems that it will be introduced to Chrome 92 as well.
https://developer.chrome.com/blog/new-in-devtools-92/#const-redeclaration

[2021-07-23 13:08] lukebrowell commented on #11501
Don't know - not running Chrome 92 - can you confirm it as an upstream issue ?

[2021-07-23 13:43] augustocdias opened #11502 "Error parsing javascript object to serde_json::Value"
I'm using deno embedded in a rust application and we're facing an issue with the `serde_v8` with some objects.

At some point in our script we call `await Deno.core.opAsync('success', message);`

This `message` on the script side is an object, such as:

[code]
On the rust side, my `success` function expects a `serde_json::Value` object. This is failing to be serialised back to rust because it cann

[2021-07-23 13:45] lucacasonato commented on #11501
I can confirm this is a V8 9.2 feature. It is only available in the REPL and is intentional.

For discussions on the feature I would defer to the V8 mailing list.

[2021-07-23 13:45] #11501 closed

[2021-07-23 14:38] lucacasonato commented on #11380
Please provide a concrete usecase and proposal. This is unactionable as is.

[2021-07-23 14:38] #11380 closed

[2021-07-23 14:40] bartlomieju commented on #6844
I added issues in https://github.com/denoland/manual repository with chapters that are still missing

[2021-07-23 21:05] caspervonb opened #11504 "Side load test modules"
Test modules are loaded as the main module as of 1.9 or so, this undocumented and has been mentioned as non stable behaviour in a few issues.

The problem is that this can have unintended side effects for modules that put program behaviour behind `import.meta.main`.

We should side-load test modules again.

[2021-07-23 21:46] lucacasonato commented on #10756
This was done as part of #11224

[2021-07-23 21:46] #10756 closed

[2021-07-24 02:14] #11494 closed

[2021-07-24 09:58] CGQAQ opened #11507 "Deno `fetch web api` causes serious memory leak until system force killed Deno"
[code]
the output is
![image](https://user-images.githubusercontent.com/15936231/126864850-f872ec7b-efe6-403b-affd-42635367a407.png)

and memory usage is
![image](https://user-images.githubusercontent.com/15936231/126864920-55d1ef0f-ac94-4bab-b688-bab8e8aa320c.png)

[code]
the output is
![image](https://user-images.githubusercontent.com/15936231/126864983-5a3bb980-2df1-4a6c-a5b4-3ac0c7697141.png)

[2021-07-24 13:10] MierenManz commented on #10995
this is just as simple as doing `class Performance extends EventTarget` right?
Cuz then I can easily make a pr for it

[2021-07-24 16:18] dyedgreen opened #11511 "Feature Request: Add APIs for locking files"
Add sync and async APIs to the `Deno` namespace which allow to acquire (advisory) file-system locks. The API could look something like this:

[code]

One possible good candidate for implementing those on the Rust side would be the [fs3 crate](https://crates.io/crates/fs3).

The motivation for having these APIs is that they would enable synchronization between different processes which access the s

[2021-07-24 17:01] MierenManz commented on #11511
I like the idea alot. and it seems really handy to have.

How would the "shared" and "exclusive" mode work?
Does shared mean that only that deno process + it's workers can lock and unlock the file.
Or does it mean it can share with other pid's like an allow list?

[2021-07-24 17:23] dyedgreen commented on #11511
Shared mode is like a read only lock, while exclusive mode is like a read-write lock (i.e. multiple shared locks can be held at once, but only one exclusive lock can be held at once).

(Note however, that the locks don't actually prevent you from reading and writing to the file, depending on your OS afaik)

[2021-07-24 19:40] MierenManz opened #11512 "Worker panic's if you assign data to a variable that doesn't exist"
REPRO:
[code]

[2021-07-24 19:42] MierenManz commented on #11512
This happens on both canary and latest stable
[code]
[code]

[2021-07-24 19:45] andreubotella commented on #11512
This is a duplicate of #11342

[2021-07-24 19:47] MierenManz commented on #11512
I don't think that is true.
this panic's on a different line
[code]

[2021-07-24 19:48] MierenManz commented on #11512
#11342 panic's on a few lines before this.

[2021-07-24 19:52] andreubotella commented on #11512
The output in #11342 was from one of the 1.11.3 canaries, running that test on 1.12.1 the line and column number are also 501:9

[2021-07-24 19:55] andreubotella commented on #11512
This also seems to run into #11350, since the `ReferenceError` you'd expect also isn't reported.

[2021-07-24 19:56] MierenManz commented on #11512
oh okay, I'll close this issue then

[2021-07-24 19:56] #11512 closed

[2021-07-24 20:49] pavel-kolesnikov commented on #3403
`net` is required by rethinkdb (via https://cdn.skypack.dev/rethinkdb)

[2021-07-24 21:50] NfNitLoop opened #11513 "`fetch()` fails when reusing persistent connection that has closed."
I've done some more investigation since #11495 and believe I've found the issue.

If a server unexpectedly closes a connection during a call to `fetch()`, the *next* call to `fetch()` will fail.

This seems like a bug for 2 reasons:

1. Deno should probably check that the existing persistent connection is still valid (connected) before attempting to re-use it.
2. This behavior makes it really diff

[2021-07-24 22:16] nayeemrmn commented on #9294
Closed in #10035 (went with `Symbol.for("Deno.customInspect")` instead of `"denoCustomInspect"`).

[2021-07-24 22:16] #9294 closed

[2021-07-25 05:33] #10439 closed

[2021-07-25 05:33] #11146 closed

[2021-07-25 05:33] #11456 closed

[2021-07-25 16:21] ruifortes opened #11514 "Http: connection error: An existing connection was forcibly closed by the remote host. (os error 10054)... bug??"
This is a little beyond not only debugging capabilities but probably my coding of getting started examples as well
Nevertheless...should this code work?
By the way... it works if I omit the header and downloaded file plays fine but I would like to be able to play it in the browser.

[code]

Error message:

[code]

[2021-07-25 21:12] nougator commented on #11380
Same as web, using sensors in some HID devices, linking it with electronic/arduino projects.

[2021-07-25 21:51] AnInternetTroll opened #11516 "`deno bundle` panics when importing and making an `App` instance from `tinyhttp`"
This shouldn't panic I hope.
`app.ts`:
[code]

[code]

[2021-07-25 23:38] kitsonk commented on #11516
<details>
<summary><code>deno info app.ts</code></summary>

[code]

</details>

<details>
<summary><code>deno bundle -L debug app.ts</code></summary>

[code]

</details>

[2021-07-26 00:29] kitsonk commented on #11457
I looked into this. The error is correct. When working on a case-insensitive file-system, the language server client should provide the original casing of the file.  If the casing is subsequently re-named with a different case, the client does not update the casing. When that situation occurs, the TypeScript compiler does indicate that this is currently ambiguous.  A way to clear the error is to r

[2021-07-26 00:29] #11457 closed

[2021-07-26 00:58] kitsonk commented on #10897
This was partially fixed with some of the improvements to diagnostics invalidation, but it could still be handled better/cleaner.

[2021-07-26 02:06] caspervonb opened #11517 "Allow repl to connect to any remote debugging protocol target"
The repl uses the inspector anyway these days and having it support remote targets shouldn't be too much work.

Something like:
[code]

[2021-07-26 05:16] NfNitLoop commented on #11514
What may be happening is that when you provide the video header, your browser tries to download different chunks of the files with HTTP partial downloads.  So it might be aborting the connection to make a new one to a different portion of the file.  (Some video files have indexes to help with seeking. Though I don't know if that's the case for .mp4.)

Though, hmm, it looks like that shouldn't be t

[2021-07-26 11:37] bartlomieju commented on #11511
We should add those APIs, but `fs3` crate is unmaintained (last release over a year ago). We need to find some solution that is up to date (I thought such functionality was built into Rust's stdlib, but I might be wrong)

[2021-07-26 11:47] MierenManz commented on #11511
I couldn't find anything about a file lock system in rust std but I did find this crate https://crates.io/crates/fd-lock
Last update was about a week ago?

[2021-07-26 11:49] bartlomieju commented on #11511
Yes, this looks good

[2021-07-26 12:05] #11504 closed

[2021-07-26 16:30] dsherret commented on #11501
This is a great change! Just reviewed the code and there isn't any comments we need to update or anything.

[2021-07-26 17:04] justinmchase commented on #11376
Based on that message, the error is coming from here:
https://github.com/denoland/deno/blob/main/extensions/net/ops_tls.rs#L899

Which means that first its calling `rsa_private_keys` in the `rustls` library:
https://github.com/denoland/deno/blob/main/extensions/net/ops_tls.rs#L878

and then `pkcs8_private_keys`:
https://github.com/denoland/deno/blob/main/extensions/net/ops_tls.rs#L886

And both ar

[2021-07-26 17:11] justinmchase commented on #10516
Related to https://github.com/denoland/deno/issues/9121

[2021-07-26 18:01] JerryGreen commented on #11376
@justinmchase I explicitly mentioned that I used `openssl`, with all the arguments how it is generated. `openssl` is a popular&reliable cli tool to generate such certificates, for debugging and non-production use (for production use there is letsencrypt). Maybe `deno` isn't compatible with it, but whatever the case: the key is present, and it is valid.

I had a look at `rustls`, but it's hard to t

[2021-07-26 18:35] ayame113 opened #11521 "feature requests(lsp): Fallback on invalid languageId"
Currently, the only valid `languageId` for "textDocument/didOpen" requests are "javascript", "javascriptreact", "typescript", "typescriptreact", "json", "jsonc", and "markdown".
LSP's TypeScript diagnostics are also displayed when an invalid `languageId` (eg "github markdown") is passed.

How about hiding TypeScript diagnostics or throwing an error if the `languageId` is invalid?

[2021-07-26 18:40] #10640 closed

[2021-07-26 20:19] MierenManz commented on #11511
idk if it is any relevant. But I also found this experimental web api for locking resources https://developer.mozilla.org/en-US/docs/Web/API/Web_Locks_API
It might be interesting to use as js interface?

[2021-07-26 20:22] justinmchase commented on #11376
You can see a little further down it has a server also:
https://github.com/ctz/rustls#server-example-program

So what i did just the other day is clone that repo, make sure you have cargo installed then just run `cargo build` in the root.

After that you can just run those binaries tlsclient and tlsserver, use the flags to load your cert into the server and the client and if they can communicate t

[2021-07-26 21:36] kitsonk commented on #11521
A client shouldn't send a language ID that is supported by the Deno language server.  Sadly the protocol does not provide for indicating what languages are supported.

I will make it clearer in the documentation what language IDs are supported. Also need to check that our determination of if we should return diagnostics for a file is correct when dealing with an unknown language id.

[2021-07-26 22:50] MierenManz commented on #3756
CacheStorage and Cache API's are used for this.
It might be worth implementing those API's for deno to allow fetch to cache responses

Cache: https://developer.mozilla.org/en-US/docs/Web/API/Cache
Specification: https://w3c.github.io/ServiceWorker/#cache-interface

Cache Storage: https://developer.mozilla.org/en-US/docs/Web/API/CacheStorage
Specification: https://w3c.github.io/ServiceWorker/#cache

[2021-07-26 23:37] kitsonk commented on #3756
Implementing `Cache` and `CacheStorage` is a good idea, but it is a slightly different concern from the "DENO_DIR" cache. We should make our cache more browser like, but the browsing cache in browsers is seperate (and not accessible via an API) from `Cache` and `CacheStorage`.

There is #9931 about how the internal cache needs to respect headers and behave more browser-like.

[2021-07-26 23:39] MierenManz commented on #3756
As far as I can tell, `Cache` and `CacheStorage` are non-persistent
I only glanced at the spec real quick to see how their interfaces look. But I can check for you if you want me to.

[2021-07-26 23:50] kitsonk opened #11525 "Implement quota management and StorageManager API"
With local storage, blob storage, but also with the likes of IndexedDB and CacheStorage, and potentially the DENO_DIR, we need a more mature centralised location to do quota management for objects we persist to disk.  All browsers implement some form of quota management.

How Mozilla/Firefox deals with it is discussed here: https://developer.mozilla.org/en-US/docs/Web/API/IndexedDB_API/Browser_sto

[2021-07-27 00:10] andreubotella opened #11526 "Messages from workers that are about to close are spuriously not received"
asanchez reported on Discord that the following code was spuriously getting fewer responses than expected:

### `main.ts`
[code]

### `worker.ts`
[code]

### Sample output
[code]

----

Adding a call to `Deno.sleepSync(1000)` between `self.postMessage()` and `self.close()` seems to fix it, so it looks like it's a race condition.

Might be related to #11416.

[2021-07-27 02:58] ntedgi commented on #10553
Is this PR still available?
I would be happy to give it a try

[2021-07-27 07:22] satyarohith opened #11529 "cli: `deno doc` panics on invalid url"
[code]

[2021-07-27 07:22] abakfja commented on #10553
Sure.

[2021-07-27 07:47] caspervonb opened #11530 "Can't remap windows file specifiers"
The following import-map:

[code]
Causes windows to blow up:
[code]

But appears to work just fine on Unix.

[2021-07-27 07:47] bnoordhuis commented on #11502
@AaronO pointed out it's caused by rusty_v8's `Object::get_own_property_names()` using `KeyConversionMode::kKeepNumbers` (default inherited from V8's C++ API), whereas for this particular case you'd want `kConvertToString` or `kNoNumbers`.

To summarize: needs a change in rusty_v8 before it can be fixed in deno.

[2021-07-27 08:56] dyedgreen commented on #11511
I think sticking closer to the existing fXXX APIs in the Deno namespace makes more sense. The web locks api is a lot more high level, and would eg not work very well for implementing file locking with SQLite (where a lock needs to be acquired and then passed off to WASM).

I think the web locks api could be built on the more primitive “acquire the lock” and “release the lock” functions and the int

[2021-07-27 09:12] ruifortes commented on #11514
Nothing, just "GET http://localhost:8080/ net::ERR_CONNECTION_REFUSED" on the console.
The connetion just shows "failed to load response data" and headers are:

[code]

here's a pic:

![chrome_62KSQ2YL58](https://user-images.githubusercontent.com/4864714/127128470-68a791ee-b203-4e3a-bcee-a1c82a00a080.png)

[2021-07-27 09:25] JerryGreen commented on #11376
@justinmchase I have noticed in code comments that, indeed, it expects slightly different format, one of those:

https://github.com/denoland/deno/blob/main/extensions/net/ops_tls.rs#L874
https://github.com/denoland/deno/blob/main/extensions/net/ops_tls.rs#L882

I added the "no des" option (`-nodes`), to skip PEM pass phrase setup:

[code]

So they key starts now with:

[code]

Instead of:

[code]

[2021-07-27 09:25] #11376 closed

[2021-07-27 09:28] MierenManz opened #11531 "LSP Error's when using workers"
Both me and another discord user both get
`Failed to request to tsserver Error: Debug Failure. False expression: Containing file should be a module.`
when trying to use workers.
This seems to happen when running [the manual example](https://deno.land/manual/runtime/workers)
but also in other cases. (see the code after the error stacktrace)

This is my stacktrace of the error. I assume it is the sa

[2021-07-27 09:35] MierenManz commented on #11531
extra note: This error happens from 1.10.3 and higher.
Other versions of deno are not supported by the vscode extention but they also give this error

[2021-07-27 09:40] JerryGreen commented on #11376
@justinmchase I have noticed in code comments that, indeed, it expects slightly different format, one of those:

https://github.com/denoland/deno/blob/main/extensions/net/ops_tls.rs#L874
https://github.com/denoland/deno/blob/main/extensions/net/ops_tls.rs#L882

I added the "no des" option (`-nodes`), to skip PEM pass phrase setup:

[code]

So they key starts now with:

[code]

Instead of:

[code]

[2021-07-27 09:50] kitsonk commented on #11531
Duplicate of #9694

Workaround is to add `export {}`.

[2021-07-27 09:50] #11531 closed

[2021-07-27 10:20] getspooky commented on #10183
Like browser permission experience, it would be more useful to include permission prompt by default instead of throwing error.

[2021-07-27 15:41] rivy commented on #9871
No, not really. #8852 is about generating command lines for execution which is really the inverse of this problem (accessing the original command line).

[2021-07-27 15:53] F3n67u commented on #11529
Opened a pr to fix this panic, Could you help to review? @satyarohith

[2021-07-27 15:54] F3n67u commented on #10992
@zlumyo is there any progress about this issue?

[2021-07-27 16:32] justinmchase commented on #11376
Nice! I suppose it could probably have support for a passphrase field also to support both kinds of keys.

[2021-07-27 18:48] bartlomieju opened #11538 "Deno.upgradeWebSocket unstable API is in the wrong place"
Currently `Deno.upgradeWebSocket` is defined in https://github.com/denoland/deno/blob/main/extensions/http/lib.deno_http.unstable.d.ts while `Deno.serveHttp` is defined in https://github.com/denoland/deno/blob/main/cli/dts/lib.deno.unstable.d.ts#L1119

Consequently the API doesn't show up in the https://doc.deno.land/builtin/unstable

[2021-07-27 19:27] lucacasonato opened #11539 "Add self.structuredClone()"
Spec: https://github.com/whatwg/html/commit/1b5099fcf55cc6332fb9af5d36ac4db47749438b

[2021-07-27 22:14] kinghat opened #11541 "should Deno.rename handle moving across mounts/devices?"
**Is your feature request related to a problem? Please describe.**

currently you cannot use `Deno.rename` to `move` a file or directory across mounts/devices:

  await Deno.rename(src, dest);
  ^
    at deno:core/01_core.js:106:46
    at unwrapOpResult (deno:core/01_core.js:126:13)
    at async Object.rename (deno:runtime/js/30_fs.js:172:5)
    at async move (https://deno.land/std@0.102.0/fs/move

[2021-07-27 22:20] ry commented on #11541
`Deno.rename` maps onto a posix system call. We want to maintain the ability to make this low-level call.

I think we should have the functionality you describe but it belongs in `std/fs/move.ts`

I will transfer this issue back to deno_std and retitle it.

[2021-07-28 06:02] zlumyo commented on #10992
@F3n67u sorry, I've recently got trouble with COVID. If you can pick it up, that will be great.

[2021-07-28 11:12] bnoordhuis commented on #11502
I've opened https://github.com/denoland/rusty_v8/issues/740 to track the necessary changes to rusty_v8.

[2021-07-28 11:13] #11400 closed

[2021-07-28 13:04] BartCRMstrategen commented on #11398
This is true, however its not that breaking for my application so for me it does not have a big prio

[2021-07-28 15:37] dsherret commented on #11530
@caspervonb could you provide the code in ignore.ts just so it's clear? I get the behaviour you describe on both windows and unix with code like `import "file:///D:/a/test.ts";`.

[2021-07-28 17:00] kecrily opened #11545 "lsp: relative import map values don't parse properly on windows"
**Describe the bug**

When using import_map.json and the module imports only one file. An `import-prefix-missing` error will be thrown.

**To Reproduce**

[code]

import_map

[code]

**Expected behavior**

Everything is fine

**Screenshots**

![图片](https://user-images.githubusercontent.com/45708948/127364908-f8576656-ac40-443a-85f7-8646ac409b29.png)

**Versions**

[code]

[code]

extension: v3.7.0

[2021-07-28 18:30] olson-dan commented on #10378
I am happy that this issue is fixed, but I just want to note that it's currently making it impossible to `cargo install -f deno` on Windows until a new version is pushed.   Oddly I haven't even been able to `cargo install -f deno --git https://github.com/denoland/deno/` to build from head successfully.

[2021-07-28 23:57] caspervonb commented on #11530
Nothing magical about the import, just plain relative file imports which are resolved to file specifiers.

Can trigger it like so with the above import map:
[code]

Or run with side loading a module triggering the import map:
[code]

Indeed, you can map with drive letters however, but that means you need to map each drive letter rather than just the protocol ala https://github.com/caspervonb/spons

[2021-07-29 03:51] runlevel5 commented on #1846
Since we have officially support darwin-arm64, wondering if we could publish the binary for linux-arm64 too? It's just natural that many devs use macOS for dev then deploy to ARM-based prod running Linux.

[2021-07-29 04:17] crowlKats commented on #1846
darwin-arm64 builds are made manually. technically the same could be done for linux-arm64, but most linux-arm64 devices arent exactly the most powerful, as building deno on a rpi can take up to 80 minutes, which isnt exactly a viable solution

[2021-07-29 04:33] runlevel5 commented on #1846
@crowlKats the MacMini or MBP M1 are the best Linux arm64 box on the market atm. Devs could run UTM (QEMU frontend) to run Linux ARM64 VM

[2021-07-29 05:45] kitsonk commented on #1846
There are lots of things the devs can do. We have priorities though that may not align to each individuals priorities.

[2021-07-29 06:18] F3n67u commented on #11140
@magurotuna bug have already fixed in swc. can we upgrade our swc version to fix this issue now?

[2021-07-29 09:36] LukeChannings commented on #1846
Nobody is owed Linux ARM64 binaries, it's not straightforward to provide them, and like @kitsonk said, there are more important things that the Deno team are working on.

If you really need Linux ARM64 builds or multi-arch Docker images you can find them at [lukechannings/deno-arm64](https://github.com/LukeChannings/deno-arm64/releases). I have been compiling these binaries since v1.6.3 and the co

[2021-07-29 10:58] F3n67u commented on #10992
yep，I can pick it up.

[2021-07-29 11:07] #11529 closed

[2021-07-29 11:42] bartlomieju commented on #11140
Yes, it will be updated prior to 1.13 release

[2021-07-29 14:40] Dialga opened #11547 "Feature request: Stop parsing args after --"
For example I want to pass args to the deno repl for testing so it would be helpful to stop parsing args after -- is detected.
`deno repl -- --help --xyz`

[2021-07-29 15:09] DjDeveloperr opened #11548 "bug: panic when caching typescript module with trailing slash"
**Description**

When I try to cache this module at `https://bug-repro.deno.dev/hello/` , Deno panics with the following error:

![image](https://user-images.githubusercontent.com/43033058/127515917-684f5c8e-d57e-4ae5-8e0d-ba6f4ddafa57.png)

This only happens when using a trailing slash at end of URL and serving the code with content-type set to application/typescript, so might be related to type

[2021-07-29 15:59] lucacasonato opened #11550 "Private method overloads are not stripped with --no-check"
[code]

Compiles fine with tsc, but emits invalid code when using swc: https://raw.githubusercontent.com/denodrivers/postgres/5464b016275eab54368e21714147bb6b1c0e40f9/client.ts.

[2021-07-29 16:12] nayeemrmn commented on #11550
I bypassed the source mapping, issue is the two overload declarations at https://github.com/denodrivers/postgres/blob/5464b016275eab54368e21714147bb6b1c0e40f9/client.ts#L67-L77 are left in the emit as:
[code]
cc @kdy1

[2021-07-29 16:12] backkem commented on #9748
As expected Fastly now [supports JavaScript](https://www.fastly.com/blog/compute-edge-now-supports-javascript) in their WASM edge compute service.

[2021-07-29 17:43] dsherret commented on #11550
I'll fix this one in swc.

[2021-07-29 17:46] bartlomieju commented on #9748
@backkem I'm not sure what you're suggesting here. The issue was about suggesting to output WASM file from `deno compile` subcommand, that subcommand bundles your source code alongside the `deno` executable. It's not feasible to compile `deno` to WASM.

Maybe a separate issue would be better for you request?

[2021-07-29 19:03] #11170 closed

[2021-07-29 19:17] bartlomieju commented on #11344
I believe this was fixed in #11540

[2021-07-29 19:17] #11344 closed

[2021-07-29 19:20] #11530 closed

[2021-07-29 19:20] bartlomieju commented on #11192
There are currently no APIs that implement that functionality; let's continue in https://github.com/denoland/deno/issues/11511

[2021-07-29 19:20] #11192 closed

[2021-07-29 19:24] bartlomieju commented on #3975
@kitsonk is this something we would consider to implement or is it out of scope?

[2021-07-29 19:27] bartlomieju commented on #5225
There are several other APIs that would be useful to have (eg. WebUSB #9550, #10912), however it's very challenging to test those APIs. I'm not sure how we could test Audio APIs on CI.

I'm going to close this issue for now as it's very technically challenging and there are numerous other APIs that have higher priority for us. That said, I'll be more than happy to reconsider if there's a working p

[2021-07-29 19:27] #5225 closed

[2021-07-29 19:28] bartlomieju commented on #5307
Thanks for opening the issue, however I'm going to close it as it hadn't gained much traction and it's not something core team is willing to tackle implementing.

I'll be more than happy to reopen if there's a working proof of concept.

[2021-07-29 19:28] #5307 closed

[2021-07-29 19:45] #9584 closed

[2021-07-29 20:24] bartlomieju commented on #8371
I hadn't had this problem in last months as well, closing for now. Please report if issue persists.

[2021-07-29 20:24] #8371 closed

[2021-07-29 22:17] kitsonk commented on #3975
In light of the long term direction is potentially eliminate the ability to "adjust" compilation settings, I think this would only cause more code in Deno to not work outside of Deno.  So I think it is something we would consider out of scope.  Respectfully declined.

[2021-07-29 22:17] #3975 closed

[2021-07-29 22:26] kitsonk commented on #11548
This is a rather complex bug where it appears that the internal TypeScript is doing something funky when emitting such a file (a URL that ends in `/`) and is emitting something we aren't expecting, and so we have an unreachable path.

[2021-07-29 22:27] dstaley commented on #3975
@kitsonk thank you for the explanation! Based on [these docs](https://deno.land/manual@main/typescript/configuration), am I correct in interpreting that `experimentalDecorators` is actually supported by Deno now? Meaning that third-party TypeScript libraries that use them should work in Deno.

[2021-07-29 23:05] kitsonk commented on #3975
Yes, it is on by default now. The logic is if you don't use them there is no impact on your code. If you do use them, they will work. We don't emit the decorator meta data by default.

We'll deal with the car crash that will occur when the TC39 Decorators arrives at Stage-3 when that occurs.

[2021-07-30 00:41] grian32 opened #11553 "[Suggestion] Allow configuring spaces in `deno fmt`"
I understand that this has been brought up(as formatter options, but i think it would include this) before, but please read what I have to say as I believe I have newer and more solid reasoning for this change.

Since a meta/config file(#3179) is on the Q3 2021 Roadmap and Q3 is coming soon, I'd like to bring up adding space amount customizations:

I've decided to bring this up as an issue instead

[2021-07-30 01:47] DjDeveloperr commented on #10244
Would a PR be welcome to add new transport for named pipes? I'm going to give this a try

[2021-07-30 07:54] #10187 closed

[2021-07-30 14:58] F3n67u commented on #10990
@lucacasonato It seems this issue already fixed. Can we close this issue now?

[2021-07-30 15:18] #10990 closed

[2021-07-30 22:17] AnInternetTroll opened #11558 "`deno run` should take stdin without the need of the `-` flag"
Node and Python both take stdin without the `-` flag, and python even has it in it's help message. As such I would think that `deno run` should do the same.

[2021-07-30 22:21] AnInternetTroll opened #11559 "`deno run -` should take a language argument."
`react.tsx`:

[code]

`deno run react,tsx`:

[code]

`deno run - < react.tsx`:

[code]

[2021-07-30 23:08] pseudosavant commented on #5931
I want to second overriding on a case-by-case basis **in code** whether to accept untrusted connections. Deno's `fetch` implementation is unusable for fetching untrustable endpoints (e.g. scrapers, user defined URLs, etc) without this ability. Implementing accepting untrusted connections using a runtime flag (`--no-check-certificate`) is not a substitute for the **in code** capabiltiy.

[2021-07-30 23:59] bartlomieju commented on #5931
We first need a capability to disable SSL verification via CLI flag before we can tackle this request.

[2021-07-31 01:59] kitsonk commented on #11559
Adding a flag is an unnecessary complexity. Only recognised extensions are a viable way to do this. Respectfully declined.

[2021-07-31 01:59] #11559 closed

[2021-07-31 02:02] kitsonk commented on #11558
`deno eval` and `deno xeval` read from `stdin`

[2021-07-31 02:02] #11558 closed

[2021-07-31 02:49] nayeemrmn commented on #11559
We added `--ext` to `deno eval` with the consideration of eventually using it for this as well, I think it's reasonable. Node has `--input-type` which is used to select between `.js` and `.mjs` for `-e` input as well as stdin. But duplicate of #5088.

[2021-07-31 03:05] caspervonb commented on #11558
Deno eval executes in a script context, which is a very different.
Why did you immediately close this?

[2021-07-31 04:42] caspervonb opened #11560 "Make DENO_COVERAGE_DIR public"
This is the environment variable that actually controls if coverage collection takes place or not.
Using an environment variable is the most common way to determine if coverage should be collected and where it should be collected too.

This implies that we remove `deno test --coverage` which was kept for backwards compatibility in 1.x.
The removal of the coverage flag would probably have to be a 2

[2021-07-31 05:44] nayeemrmn commented on #11558
Despite the prior art, I think that changing behaviour based on whether stdin is piped content or a tty (which is what those programs do to determine if a script has been passed to stdin) is unsound and not how I want tools to behave when automating something. We'd end up doing that if we still want `deno run` to throw an arg parsing error when stdin isn't piped. A `-` to substitute the script nam

[2021-07-31 11:33] mpizenberg opened #11561 "Slow message passing between main and worker (4x slower than Node)"
For a basic ping-pong like sending and receiving in succession 100_000 messages, Node is taking 1s and Deno is taking 4s for me. I was not expecting that much difference. Here is basically the content of `worker.mjs`:
[code]
And here is the content of `main.mjs`:
[code]

You can find [in that gist](https://gist.github.com/mpizenberg/f95c7c84288973b8055388a95bc7ed56) the exact files I'm using. I'm

[2021-07-31 11:54] MarkTiedemann commented on #11507
Doesn't seem to leak on my machine.

Minimal repro:

[code]

[code]

[2021-07-31 11:59] MarkTiedemann commented on #11507
I did notice, though, that when running this code with a `file_size` of `3_000_000_000` (3GB), the program uses roughly 12GB of memory.

[2021-07-31 14:54] F3n67u commented on #11000
@caspervonb  Can you confirm this is still an issue? As far as i know, `ctrl + d` can interrupt `setInterval` and exit REPL.

[2021-07-31 15:10] F3n67u commented on #9762
@ayshiff  It would be great if you wanna help. Go ahead and do it.

[2021-07-31 15:23] F3n67u commented on #8239
Cannot reproduce on my computer.

[code]

System Info:
MacOs 11.2.3
deno 1.12.2

@pedropaulosuzuki  Can you confirm this is still an issue?

[2021-07-31 15:32] F3n67u commented on #11561
Can reproduce on my computer.

[code]

System Info:
macOs 11.2.3
deno 1.12.2
node v15.5.1

[2021-07-31 15:34] F3n67u commented on #11561
BTW, there is a redundant `run`: `time deno run run --allow-read deno_main.mjs` -> `time deno run --allow-read deno_main.mjs`

[2021-07-31 15:43] F3n67u commented on #9966
There is no activity here for the last 2 months, let's close this issue for now and re-open if needed.

[2021-07-31 15:46] F3n67u commented on #3515
@anjmao Can you confirm this is still an issue?

[2021-07-31 15:48] F3n67u commented on #5998
@chrisands  Can you confirm this is still an issue?

[2021-07-31 15:57] mpizenberg commented on #11561
woops thanks @F3n67u , I fixed the comment.

[2021-07-31 18:42] l2ig commented on #11431
Oh, I see. This happens when you don't read the connection.

[2021-07-31 18:42] #11431 closed

[2021-08-01 03:02] hayd commented on #4459
This is still a massive pain e.g. in a project that happens to include several node projects (or examples) where the node_modules are nested in deeper subdirectories (so not clear how you even pass that to --ignore).
deno fmt gets completely overwhelmed (can takes tens of minutes parsing junk).

I don't understand the use case where you _would_ want to format a node_modules directory.
Yes it's a (

[2021-08-01 04:03] pedropaulosuzuki commented on #8239
I'd like to, but I dropped Windows on december 31 2020, so now I'm running on Pop!_OS 21.04, on which I cannot test the Windows behaviour with Deno input, unfortunately. Maybe someone with a Windows build could test it and see it the issue persists.

[2021-08-01 04:06] pedropaulosuzuki commented on #9966
I think keeping it open until it is solved is a better practice, so that we get a better view on the state of the art in Deno. But it would be nice to confirm if the issue still persists, as it might have been solved already in some random commit.

[2021-08-01 07:04] ayame113 commented on #8239
I can confirm that the problem still occurs on windows.
[code]

[code]
Maybe `prompt()` will not accept input of multibyte characters.
[code]

[2021-08-01 07:17] crowlKats commented on #5998
@F3n67u This is still an issue as it is an upstream issue as per microsoft/TypeScript#28357.

[2021-08-01 07:18] caspervonb commented on #8239
You're trying to reproduce a Windows bug on a Mac.

[2021-08-01 07:21] ayame113 commented on #9966
I have confirmed that the issue has been fixed in windows.

test.ts:
[code]

output:
[code]

[2021-08-01 07:24] caspervonb commented on #9966
That's for a different reason, reportering no longer happens in JavaScript.

Unfortunately, that's just because the test reporter is no longer written in JS. The minimal repro above should still be failing.

[2021-08-01 07:27] ayame113 commented on #9966
Sure, the Deno.stdout issue in the comments still seems to be occurring.👀
[code]

[code]

[2021-08-01 08:08] super-yolin opened #11564 "use valueOf can't pass TS compile"
## question
code:
[code]

## result
![image](https://user-images.githubusercontent.com/25048954/127764075-a0fa8aea-68b0-4c4c-8b78-f950df35805a.png)

[2021-08-01 08:24] #11564 closed

[2021-08-01 10:41] F3n67u commented on #8239
My bad. I am still learning issue triage.

[2021-08-02 09:19] #10992 closed

[2021-08-02 11:42] benjamingr commented on #10181
Ok, got 30m today going to tackle the next one now that readFile is in

[2021-08-02 15:55] adxzhang1 opened #11566 "Module Static Assets"
Is there a way to include static assets alongside a module that can be installed using deno install?

[2021-08-02 16:36] nayeemrmn commented on #11566
Duplicate of #5987.

[2021-08-02 16:55] dsherret opened #11567 "Consider using panic hook to exit deno process on panic"
In Deploy, we use a panic hook to exit the process whenever a panic occurs.

[code]

It might be useful for us to implement a similar panic hook in Deno in order to change the default behaviour of tokio.

Right now we do `.await.unwrap()` on the returned `JoinHandle` from created tasks in most places though, which would cause the process to exit. I have not investigated how this would affect those

[2021-08-02 16:55] #11566 closed

[2021-08-02 23:09] pseudosavant commented on #5931
What changes are needed to do a CLI flag? Is it mostly in Rust or TS/JS? I don't know Rust but I can contribute TS/JS code.

[2021-08-03 00:08] roseMix commented on #5931
@pseudosavant looks like this is being worked on (see: #11324), also look at the end of issue #1371 where @bartlomieju added it to the [roadmap](https://github.com/denoland/deno/milestone/23) for v13 set to be released Aug 10

[2021-08-03 10:53] evanwashere opened #11570 "Bug in inspector when using deno repl --inspect"
- script execution doesn't pause when debugger is invoked
- console responses require 2 event loop ticks after 1st problem

deno:

https://user-images.githubusercontent.com/70155278/128002904-83dca980-a000-4ea8-8cad-c8440ef82a96.mov

expected behavior (node):

https://user-images.githubusercontent.com/70155278/128002966-0a685f97-8956-498b-9a5b-042cda757823.mov

[2021-08-03 10:55] caspervonb commented on #11570
Does this happen with run as-well or is it repl only?

[2021-08-03 11:10] evanwashere commented on #11570
only happens in deno repl and devtools console

[2021-08-03 13:11] bartlomieju commented on #5609
Closing as duplicate of https://github.com/denoland/deno/issues/2552

[2021-08-03 13:11] #5609 closed

[2021-08-03 13:13] bartlomieju commented on #4964
With native plugins removal in #11152 this is no longer relevant

[2021-08-03 13:13] #4964 closed

[2021-08-03 13:13] bartlomieju commented on #5525
With native plugins removal in #11152 this is no longer relevant

[2021-08-03 13:13] #5525 closed

[2021-08-03 15:02] bartlomieju commented on #11561
@andreubotella any ideas what might be causing such slow downs?

[2021-08-03 15:27] axetroy opened #11574 "[Feature request]: support AbortSignal for subprocess"
[code]

[2021-08-03 15:52] ratson opened #11575 "`deno compile` produce `ReferenceError` for wildcard export"
**Test Case**

[code]

Source: https://github.com/ratson/bug-report/tree/deno/compile-import-export

**Expect**
[code]

**Got**
[code]

**Version**
[code]

[2021-08-03 22:10] kitsonk commented on #2552
**Update**

This is the status page on the platform status: https://www.chromestatus.com/feature/5987156463976448#details

There is no active development in Chromium and there doesn't look like there is a lot of interest or activity there.  Seems everyone has accepted the "fetch" instantiate streaming method.  The big challenges with that for Deno are:

- Requires explicit permissions to be able t

[2021-08-03 22:14] guybedford commented on #2552
Has there been any progress on discussion on https://github.com/denoland/deno/issues/2150?

[2021-08-03 22:20] kitsonk commented on #2552
Yes. Within the core team. It is something we are going to discuss in depth soon. We just have to get over how we deal with `window.location` and related APIs when a `--location` is not provided.

[2021-08-03 23:25] camow7 opened #11576 "fetch doesn't seem to support certificates?"
Deno doesn't seem to have a way to do a POST fetch that includes an openssl cert file and key? This is how it would be done in Python
[code]

I imagined it working something like this:
[code]
However there is no cert or key for `RequestInit()`

[code]

[2021-08-04 00:31] kitsonk commented on #11576
Duplicate of #10516.

[2021-08-04 00:31] #11576 closed

[2021-08-04 01:37] camow7 commented on #11576
So that link handles .pem (which I can deal with). The issue is the `fetch()` call only allows two arguments? How do I get the client and the `payload` object into the `fetch()` call?

This example shows the client going into the second argument
[code]

However I can't get my payload into the client?

[2021-08-04 01:43] caspervonb commented on #6169
Oops this shouldn't be closed just yet.

- Need to pull in new serde_v8
- Type definitions still only allow number
- Needs a test.

[2021-08-04 01:55] crowlKats commented on #10394
This would require dom parsing, which has already been denied

[2021-08-04 03:25] austincummings commented on #10470
Another option would be to mimic the node.js API with a `setBroadcast` method.

https://nodejs.org/dist/latest-v16.x/docs/api/dgram.html#dgram_socket_setbroadcast_flag

[2021-08-04 07:07] kitsonk commented on #8440
swc-project/swc#1933 has been fixed now... will get back to this soon-ish

[2021-08-04 09:51] benjamingr commented on #11574
Sure I'll open a PR

[2021-08-04 10:00] benjamingr commented on #11574
Pr open

[2021-08-04 10:52] bartlomieju commented on #10394
You can use https://github.com/lucacasonato/ammonia-wasm instead. Adding DOM is out of scope.

[2021-08-04 10:52] #10394 closed

[2021-08-04 10:53] bartlomieju commented on #11576
You can, `client` is an "extension" provided by Deno to the option bag in fetch.

[2021-08-04 10:53] #9241 closed

[2021-08-04 13:18] bartlomieju commented on #10617
This is no implemented, both `transfer` and `options` are supported in `postMessage()`

[2021-08-04 13:18] #10617 closed

[2021-08-04 13:19] bartlomieju commented on #5666
Closing in favor of https://github.com/denoland/deno/issues/9957

[2021-08-04 13:19] #5666 closed

[2021-08-04 13:19] bartlomieju commented on #9786
Closing for now, as it is not actionable for Deno.

[2021-08-04 13:19] #9786 closed

[2021-08-04 13:19] #9266 closed

[2021-08-04 13:20] bartlomieju commented on #10671
In light of plugin API removal in https://github.com/denoland/deno/pull/11152 this issue is no longer relevant

[2021-08-04 13:20] #10671 closed

[2021-08-04 13:20] bartlomieju commented on #10546
In light of plugin API removal in https://github.com/denoland/deno/pull/11152 this issue is no longer relevant

[2021-08-04 15:50] ry opened #11580 "httpCookieConcatenation test flaky"
[code]
https://github.com/denoland/deno/runs/3234457836

[2021-08-04 19:47] #3981 closed

[2021-08-04 21:01] johnspurlock opened #11583 "Implement transferable ArrayBuffer for use in postMessage"
In browsers, sending large array buffers over postMessage, for example to a [Worker](https://developer.mozilla.org/en-US/docs/Web/API/Web_Workers_API), can be optimized by indicating that an ArrayBuffer (which is [Transferable](https://developer.mozilla.org/en-US/docs/Web/API/Transferable)) should transfer ownership, instead of being cloned. See the [transfer parameter](https://developer.mozilla.o

[2021-08-04 22:01] treethought opened #11584 "[Feature request]: ability to wipe worker memory"
I have a use case where I am trying to offload computation across a large queue of workers.

These workers should be a clean slate when they receive a message, and the queue should be re-filled as each message is consumed by worker.

Currently I am simply terminating and then creating a new worker, but for performance reasons I would like to simply clear a workers memory instead of recreating.

Is

[2021-08-04 22:08] bartlomieju commented on #11584
Is there an existing Web standard for this functionality? Why not just reinitialize variables to empty values after responding to allow existing object to be garbage collected?

[2021-08-04 22:09] kitsonk commented on #11584
I don't think there is any desire to introduce anything that would make Deno workers incompatible with [Web Workers](https://developer.mozilla.org/en-US/docs/Web/API/Worker).

A `SharedArrayBuffer` which gets reset might be a better solution, or implementing a message handler that internally wipes the memory.

[2021-08-04 22:10] kitsonk commented on #11583
Duplicate of #8341

[2021-08-04 22:10] #11583 closed

[2021-08-04 22:12] treethought commented on #11584
I see, that makes sense.

Thank you for the suggestions, and the quick response. a `SharedArrayBuffer` might be what I need.

[2021-08-04 22:15] #11584 closed

[2021-08-04 22:24] dsherret commented on #11580
This is actually the `netHangsOnClose` test `file:///Users/runner/work/***/***/cli/tests/unit/net_test.ts:571:9`

There is a promise that is not awaited in there too. I'm looking into it.

[2021-08-05 00:25] lucacasonato commented on #11583
I don't think it is a duplicate of #8341. This issue is specific to ArrayBuffer, while the #8341 talks about general resources (Deno.Conn for example). I am going to work on this once I am back from vacation. It is definitely a duplicate of https://github.com/denoland/deno/issues/11303 though :-)

[2021-08-05 10:18] kecrily opened #11587 "`Deno.readTextFile` doesn't work properly in subdirectories"
Here is my code

[code]

When I execute the command in the root directory everything works fine

[code]

But when I move `test.ts` and `test.txt` into subdirectory, errors occur.

[code]

When I executed `cd` to enter the subdirectory, it worked again.

Finally, my deno version information, `deno upgrade` told me that this is the latest version

[code]

[2021-08-05 10:25] caspervonb commented on #11587
Relative file paths are relative to the working directory, not where the module is (you can resolve that relative to `import.meta.url`).

[2021-08-05 10:25] trgwii commented on #11149
This will probably change reasonably soon.
TypeScript 4.3 uses [`@types/web (aka lib.dom.d.ts) 0.0.1`](https://github.com/microsoft/TypeScript-DOM-lib-generator#typeslib-to-typescript-versions)
And TypeScript 4.4 Beta uses `0.0.2` for the time being (it may upgrade before 4.4 releases)

But in the latest release of `@types/web` (`0.0.15`) the URL type changed to this:
[code]
( https://cdn.jsdelivr

[2021-08-05 10:28] #11587 closed

[2021-08-05 12:50] kitsonk commented on #5957
This is complicated, as there are a lot of unanswered questions.  Currently there isn't a compelling need for the core team to work on it.  We would not be opposed to someone working on it, but we see it is a non-trivial piece of work and reaching out to a core team member before embarking on it would be strongly recommended.

[2021-08-05 17:58] dsherret opened #11591 "Ensure parse error on property assignment with string property name and no initializer"
For exmaple, doing the following in the REPL:

[code]

This doesn't seem to make sense, but swc parses this fine by default and transforms it to:

[code]

We should inspect `parser.take_errors()` to see if there is a diagnostic here that we could surface as a parse error. I will do this after #11581 lands (don't want to bother with conflicts).

[2021-08-05 21:00] dsherret opened #11593 "`integration::test::doc` and `integration::test::doc_markdown` tests are flaky"
[code]

https://github.com/denoland/deno/pull/11590/checks?check_run_id=3255508350

[2021-08-05 21:21] RickStanley opened #11594 "repl: parse error: Unexpected token `<eof>` (unfinished math expression)"
## Reproduce
1. In Deno REPL, issue: `> 1 %`
2. See parse error.

<details>
<summary>Error description</summary>

[code]
</details>

![grafik](https://user-images.githubusercontent.com/23178554/128422313-6b76729b-7bb0-4b21-9511-984c967f7bb8.png)

I would expect a new line, just like node does:
![grafik](https://user-images.githubusercontent.com/23178554/128422649-fe1baeed-a1fa-4617-a894-2b4f163797

[2021-08-05 21:41] johnspurlock opened #11595 "Process exits even when catching: Uncaught (in promise) Http: connection closed before message completed"
deno 1.12.2 (release, x86_64-apple-darwin)
v8 9.2.230.14
typescript 4.3.5

Refreshing the browser quickly multiple times against a simple local http server can produce a situation where a promise is rejected that cannot be caught, and causes process exits.  This is not good when trying to write a stable http server.

[code]
yields:
[code]

Tried a `.catch()`, now none of my code appears in this st

[2021-08-05 22:40] dsherret commented on #11594
Chrome's REPL also seems to work this way. It also doesn't work in old versions of Deno before type stripping:

[code]

We might be able to solve this by looking for the line ending with a trailing operator and if the line ends with one we can continue reading input (before sending it to type stripping and evaluation). I don't think it would be hard to do.

[2021-08-06 04:40] caspervonb commented on #11593
Ugh, these tests aren't racy in any way so this is likely a real failure.

[2021-08-06 06:31] trgwii opened #11596 "`deno types` command broken by "deno_net" extension refactor"
`deno types` no longer sufficiently outputs all Deno types, but instead outputs some text with the following line near the top:
`/// <reference lib="deno.net" />`

This means that it's not possible for TypeScript or other tools to resolve the full Deno API based on output from `deno types` anymore (since 1.12 at least).

I think it would be more useful to concat the various dts files when a user r

[2021-08-06 06:32] trgwii commented on #11596
@bartlomieju you might be interested in this, I see you separated the deno_net code out from core.

[2021-08-06 06:38] TkTech opened #11597 "[Core] No functionality to de-register an Op."
As discussed on discord, we can `register_op` on a `JsRuntime`, but there's no ability to `deregister_op`. It's occasionally desired to de-register or overwrite the Op registered by another extension, such as the core `op_print` which is enabled by default.

This is really necessary as there is no way that I can see to disable adding the builtins. https://github.com/denoland/deno/blob/c909faf9e6cd

[2021-08-06 06:46] trgwii commented on #11596
I suspect the Deno plugin for JetBrains IDEs are broken in 1.12 because of this:
![chrome_2021-08-06_08-45-31](https://user-images.githubusercontent.com/11262022/128468022-ed18fc96-f3b0-4994-9514-b77144b83c37.png)

( https://deno.land/manual/getting_started/setup_your_environment#jetbrains-ides )

[2021-08-06 07:08] kitsonk commented on #11596
@bartlomieju the types are concatenated in the file, but we need to strip out the lib reference somehow as it does _break_ `deno types` output.

[2021-08-06 11:48] #10790 closed

[2021-08-06 12:57] bartlomieju commented on #11596
Do we even need to add `/// <reference lib="deno.net" />` to `lib.deno.ns.d.ts`? No other lib is linked that way.

[2021-08-06 13:04] #11036 closed

[2021-08-06 13:06] lucacasonato commented on #11596
@bartlomieju Because deno.net is the only lib that exposes ns APIs. The other libs are all linked into deno.shared_globals because they implement web APIs.

[2021-08-06 13:10] bartlomieju commented on #11596
Okay, then why would we need to strip that single reference and not all other references? I'm a bit lost on what's the problem here.

The `deno.net` lib is already concatenated in the `deno types` output: https://github.com/denoland/deno/blob/15b0e61de523c1a0157e754379f0ec7decf0c23e/cli/main.rs#L333-L357

[2021-08-06 16:49] btrauma8 opened #11599 "transport endpoint not connected, must restart"
about once a week my deno server has to restart itself. i've tried re-listening, without restarting...but then it tells me the address is already in use. i've got a try catch on the inside of the "do stuff", but i get nothing from it in the logs. just the outer try catch logs the error. deno version 1.11 (it just happened, i'll upgrade later today and let it run a few weeks and see)

try{
  for aw

[2021-08-06 17:01] F3n67u commented on #11575
Can also reproduce when use `deno bundle` and `deno run`, It's likely bug from upstream `swc`;
[code]

Version
[code]

[2021-08-06 17:42] bartlomieju commented on #11599
What OS are you on?

Also it looks like your using HTTP server from `deno_std`, which will be soon deprecated in favor of using `Deno.serveHttp` API, so I expect this issue might "fix itself" after switching the API.

[2021-08-06 18:10] btrauma8 commented on #11599
Ubuntu 18.
yes, that's serve from std@0.100's http
i didn't know about Deno.serveHttp! cool, i'll try it out.
...wish i could force the error. Just seems random.

[2021-08-06 18:11] bartlomieju commented on #11599
Unfortunately it's very hard to reproduce such errors that occur after many hours of server running.

Please do try out `Deno.serveHttp` and let me know if the problem persists.

[2021-08-06 18:18] bartlomieju commented on #11560
What are use cases for making this env var public?

[2021-08-06 18:57] bartlomieju commented on #11596
I just checked against latest commit on `main` and I can see proper output for types, even `deno doc --builtin` shows all symbols from `deno_net` crate (both stable and unstable).

[2021-08-06 20:58] bartlomieju commented on #10419
Due to lack of information I'm going to close it. Feel free to reopen if the problem persists.

[2021-08-06 21:14] bartlomieju commented on #7994
Closing as fixed.

[2021-08-06 21:14] #7994 closed

[2021-08-06 21:15] bartlomieju commented on #7957
Superseded by https://github.com/denoland/deno/issues/11539

[2021-08-06 21:15] #7957 closed

[2021-08-06 21:18] bartlomieju commented on #7237
@nayeemrmn what do you mean by "delete old deps"? I'm working on a proposal for new lock file format and functionality, eg. lock file should be discovered by default similar to `Cargo.lock`.

`--lock-write` is already quite cumbersome and adding `--update` and `--append` as values would be even less user friendly to use.

[2021-08-06 21:30] #3173 closed

[2021-08-06 22:19] nayeemrmn commented on #7237
I included a lot of convoluted things in the issue description, it's now reduced to just the (niche) security issue mentioned in the title.

I'm strongly in favour of this and have proposed it in the past. Yes this issue would most likely be fixed as a side-effect.

I think users should be able to do `touch deno.lock` to opt into locking for their project. Deno upon any invocation will scan upward

[2021-08-06 22:31] tamusjroyce opened #11605 "Deno.run(...) in test"
I have a deno test which executes version. Pretty simple. And deno even detects that this is leaking resources!!!

deno.test.ts
[code]
**Output:**
deno runs
AssertionError: Test case is leaking resources.
  "2": "stderr"
}
After: {
  "0": "stdin",
  "1": "stdout",
  "2": "stderr",
  "4": "childStderr"
}

vs
[code]
Before: {
  "0": "stdin",
  "1": "stdout",
  "2": "stderr"
}
After: {
  "0": "stdin"

[2021-08-06 23:03] lucacasonato commented on #11605
await p.stderrOutput()

[2021-08-07 00:04] #11605 closed

[2021-08-07 00:08] kitsonk commented on #11553
In a way this is a duplicate of #3695

[2021-08-07 02:01] jeremyBanks commented on #11539
Should we consider giving this a somewhat-precise type signature, instead of returning `any`?

I'm not sure whether this would be appropriate or not, but here's a first take at a function signature that preserves most type information for supported types, while stripping out methods for custom types.

It might not be perfect, but we should be able to get something close enough that the type inform

[2021-08-07 03:41] ry commented on #7237
That's an interesting and reasonable suggestion.

The idea I've been toying with is that we're likely going to introduce a configuration file for Deno. I was thinking that the lock files could be written automatically if the config file was present in the cwd.

[2021-08-07 08:29] wojpawlik commented on #6891
Reading from deps cache is useful for Deno build tools. It allows https://deno.land/x/deno2node to work without `--allow-net`.

Cache access can be exposed without leaking implementation details. This is what https://deno.land/x/fromdeno_cache does:

[code]

I think these two belong in core, where they can reuse Deno's caching logic.

After fetch cache is implemented (#3756) and used for remote ca

[2021-08-07 12:03] bartlomieju commented on #7237
One aspect I still haven't figured out is how do we handle dynamic imports - currently if you have `--lock-write` flag then dynamic imports will end up in the lock file. This gets slightly harder if lock file is to be written automatically - either we just always update lockfile with dynamic imports or require a separate flag.

This actually relates to the issue at hand - checking already locked d

[2021-08-07 12:45] nayeemrmn commented on #7237
The thing is that the other tools this logic is taken from have separate package managers and executors, with Deno this means a file is created in the current dir if ever you `deno run` something with a remote module in the graph. This would make me always think twice before calling `deno run` in a random dir, and check that I didn't leave any rubbish afterwards. It's also not clear what would hap

[2021-08-07 12:49] #11482 closed

[2021-08-07 13:44] bartlomieju commented on #7237
That's a good point - ideally in that case we'd use the lock file for that entry point (potentially remote lockfile). Still I believe if you have to opt-in into lockfile then it will make a lot of people skip it. Maybe it should only be automatically created for local entry points?

You're right, it should be searching from entry point not CWD.

Not sure what you mean here - I think a single lockf

[2021-08-07 15:31] nayeemrmn commented on #7237
If the lock file must be a sibling of the entrypoint without any upwards scanning, it wouldn't be shared with secondary entrypoints in subdirs. And for `deno test`, "entrypoint" can mean any module with tests in it.

[2021-08-07 16:41] johnspurlock opened #15487 "lsp: does not honor "typescript.preferences.quoteStyle" when adding imports"
If the user sets their preferred quote style (say to single quoting), the deno extension does not honor it when adding new imports.

**To Reproduce**

1. Set TypeScript › Preferences: Quote Style to 'single'  (ie `"typescript.preferences.quoteStyle": "single"` )
2. Use the deno extension to add a new import

Notice the new import is added with the default double quotes
i.e. `import { Foo } from ".

[2021-08-07 18:51] lucacasonato opened #11608 "Proposal: replace `certFile` in Deno.ConnectTlsOptions with `caCerts`"
The naming of the `certFile` argument in `Deno.ConnectTlsOptions` is horrendous because `certFile` is ambiguous if it is a CA certificate, or a client mTLS cert. It should be `caFile`. Really it should be `caData` though, with it being the users responsibility to read the file from disk. Even more really it should be `caCerts`, taking an array of certificates (as string, encoded as PEM) to add to

[2021-08-07 21:19] btrauma8 commented on #11599
Alright, I've got the server up and running with the native http bindings, deno 1.12.2.
Now...we wait.

[2021-08-07 21:52] kitsonk commented on #10198
Something we should bring up at the CLI Design Meting @ry @lucacasonato?

[2021-08-07 22:10] bartlomieju commented on #7237
Good point, thanks.

[2021-08-07 22:17] #5700 closed

[2021-08-07 22:20] bartlomieju commented on #6312
We're actually trying to limit number of options for configuring TypeScript so respectfully declining.

[2021-08-07 22:20] #6312 closed

[2021-08-07 22:22] bartlomieju commented on #6210
Some of those requested had already PRs opened, however they pose a significant challenge from the testing standpoint so I'm respectfully declining at this time.

`IndexDB` will make its way into Deno soonish. The rest of suggestions are not really actionable for us. Please open an issue with specific request.

[2021-08-07 22:22] #6210 closed

[2021-08-07 22:27] #6868 closed

[2021-08-07 22:28] bartlomieju commented on #7938
This is partially implemented by https://github.com/denoland/deno/pull/11590

[2021-08-07 22:29] bartlomieju commented on #7728
Not really, however implementation wise it's gonna be quite challenging task.

[2021-08-07 22:31] bartlomieju commented on #7701
@kitsonk I believe there's definitely no way we could implement that now and as mentioned #7732 proposes to remove `--config` flag together so I'm going to respectfully decline and close the issue.

[2021-08-07 22:31] #7701 closed

[2021-08-07 22:39] bartlomieju commented on #7296
I don't think there are any more blockers to this feature.

Our internal infrastructure has synchronous APIs for resolving module specifiers so I'm not sure if we need to to be async. @kitsonk what's the use case for remote modules you mentioned in https://github.com/denoland/deno/issues/7296#issuecomment-686431357 ?

[2021-08-07 22:45] bartlomieju commented on #8007
Not really, in theory there's no problem with that, but it might involve significant effort to achieve, eg. `Deno.test` could be aliased in user code to `test` - we'd need to involve scope analysis to make this work which would be a huge task.

[2021-08-07 22:53] bartlomieju commented on #9312
Inspector instance is now created for all isolate, so technically there's nothing preventing us from implementing this feature (which would mean spawning a WS inspector server when signal is received).

[2021-08-07 22:56] bartlomieju commented on #9689
I don't see how it would be useful in server context as explained by @kitsonk and @caspervonb. Respectfully declined.

[2021-08-07 22:56] #9689 closed

[2021-08-08 08:27] lucacasonato commented on #11561
@bartlomieju We do at minimum 4 v8-js hops for a transfer:

- `Deno.core.serialize` (structured serialize)
- `op_postmessage` (which does a byte array copy internally, we need a `serde_v8::OwnedBuf` to optimize)
- `op_message_port_recv_message` (instantiates a 0-copy from an existing Vec, essentially optimal)
- `Deno.core.deserialize` (structured deserialize)

I think the slowdown is a combo of th

[2021-08-08 11:41] DanteMarshal opened #11609 "Deno doesn't seem to use Socks5 proxy in HTTP_PROXY and HTTPS_PROXY environment variables"
I'm not sure if this is a duplicate of #6061, But here's the problem.
I'm on windows 10 using `deno 1.12.2 (release, x86_64-pc-windows-msvc)`, `v8 9.2.230.14`, `typescript 4.3.5`, and I have this file `DenoStd.ts` :
[code]
I'm behind a Socks5 proxy running on my localhost `127.0.0.1:1080` and I've tried setting related environment variables to these values :
1. `http://127.0.0.1:1080/`
2. `https:/

[2021-08-08 12:52] bnoordhuis commented on #11609
#6061 is a different issue. Proxy support is provided by the `reqwest` crate and we don't have the `socks` feature enabled:
https://github.com/denoland/deno/blob/02c74fb70970fcadb7d1e6dab857eeb2cea20e09/extensions/fetch/Cargo.toml#L24
I can't think of a reason not to enable it so... want to send a PR? Please include tests.

[2021-08-08 13:43] David-Else opened #11610 "Some LSP clients don't support disabled code actions"
[code]
In Neovim 0.5 using the built in LSP and the standard Deno config from https://github.com/neovim/nvim-lspconfig/ , every line of TypeScript code triggers a code action alert, including spaces and comments. When you trigger the code action you get:
[code]
and whatever you press it crashes.

Deno LSP worked perfectly until this update. Is this a bug in the Deno LSP, or do the settings in the

[2021-08-08 18:51] johnspurlock opened #11611 "Native websockets: allow WebSocket.close to be called with codes from 1000 through 3000"
Sending a code of e.g. 1101 to [WebSocket](https://doc.deno.land/builtin/stable#WebSocket).close() on a websocket created from `Deno.upgradeWebSocket` yields:

`DOMException: The close code must be either 1000 or in the range of 3000 to 4999.`

I am writing a deno host for existing server code that cannot be modified, and expects sending these codes through to the client.

deno 1.12.2

[2021-08-08 21:45] kitsonk commented on #11610
We are following the language server protocol: https://microsoft.github.io/language-server-protocol/specifications/specification-current/#textDocument_codeAction

In particular, we are sending the refactorings disabled, as per the protocol:

[code]

Though maybe the client doesn't support the 3.16 protocol.  Which really limits a few things.  I think we might want to check that clients have the su

[2021-08-08 22:00] David-Else commented on #11610
@mjlbach Please could you comment on the above post and Neovim's support for the 3.16 protocol and in particular disabled support on code actions?

[2021-08-08 22:07] mjlbach commented on #11610
We support some (most?) of 3.16. I don't use code actions myself, and probably will not implement any features related to them but will review/accept PRs. We do not have support for disabled code actions or `codeAction/resolve` currently.

[2021-08-08 23:45] kitsonk commented on #11610
For context, a lack of support `codeAction/resolve` means that some code actions from tsc are likely broken, as it gives the opportunity for the server to identify specific locations where a code fix applies without having to calculate all the changes until the code action resolves.  To work around a lack of client support for `codeAction/resolve` is non-trivial and not something that I would like

[2021-08-09 03:26] DanteMarshal commented on #11609
I need to look into reqwest as I have not used it before. But sure I'll take a look into it in my free time.

[2021-08-09 05:04] bnoordhuis commented on #11609
Adding `"socks"` to the features list should be all it takes to make socks5:// and socks5h:// work. The hard part is testing it.

[2021-08-09 06:40] kitsonk opened #11613 "[swc]: Using spread operator in JSX causes panic"
The following code will cause a panic when using `--no-check` (or trying to bundle), though it is valid JSX:

[code]

Ref: https://github.com/swc-project/swc/issues/2037

[2021-08-09 07:45] camow7 commented on #11576
Ah right. So it's as simple as tacking it on like so?
[code]

[2021-08-09 07:51] lucacasonato commented on #11576
Yup, exactly.

[2021-08-09 08:39] #11539 closed

[2021-08-09 08:46] #11611 closed

[2021-08-09 09:14] bartlomieju opened #11616 "Add #[flaky] attribute"
We should add an attribute called `flaky` that would take two required arguments: `#[flaky(retries=3, reason="dns resolution sometimes fails on CI"]` that could be added to known flaky tests.

It's better to have this attribute that to just comment out flaky test cases as they might rot quickly.

This should also work with `itest!` macro.

Example of tests that turned out to be completely commente

[2021-08-09 09:18] lucacasonato opened #11617 "Implement Performance.measureUserAgentSpecificMemory"
Spec: https://wicg.github.io/performance-measure-memory/#ref-for-dom-performance-measureuseragentspecificmemory%E2%91%A4

[2021-08-09 10:32] Jamesernator opened #11619 "[Suggestion] Add URLPattern global"
This is super cutting edge (Chrome Beta only atm), but effectively there's a new web global called `URLPattern` that can be used to test whether a given url string meets a certain pattern. Some examples are available [here](https://web.dev/urlpattern/), and [here](https://github.com/WICG/urlpattern/blob/main/mdn-drafts/QUICK-REFERENCE.md).

As for why I think this global should be added to Deno, e

[2021-08-09 13:24] justinmchase commented on #10312
There was a change made in this area recently, in addition to adding support for loading certs from the certificate store it also did a bit of refactoring which unified a couple places in code to all call a common function.

https://github.com/denoland/deno/pull/11491

It may be worth trying again with the latest version (when it lands with this change, or build from main) and see if it still repr

[2021-08-09 14:53] #5931 closed

[2021-08-09 14:55] bartlomieju commented on #1371
With #11324 landed, which adds `--unsafely-treat-insecure-origin-as-secure` flag similar to Chrome we now have ability to ignore SSL certificate validation errors. This flag can be used to ignore all errors, or it can take list of domain names to ignore only specific errors.

I consider this issue resolved now.

[2021-08-09 14:55] #1371 closed

[2021-08-09 14:55] TyPhyter opened #11620 "Deno.run sub-process "The system cannot find the file specified.", file exists"
Windows 10, deno 1.12.2

For this given directory structure
![image](https://user-images.githubusercontent.com/8890430/128725257-f56142e2-b276-4030-9988-9071b08e3464.png)

this script can't find the file  './test/test.aseprite'
![image](https://user-images.githubusercontent.com/8890430/128723911-d44bce0b-0ce6-48fe-9d77-dce3b8a50676.png)
![image](https://user-images.githubusercontent.com/8890430/12

[2021-08-09 14:57] bartlomieju commented on #11620
`['touch test.asperite']` should be changed to `['touch', 'test.asperite']`

[2021-08-09 14:57] #11620 closed

[2021-08-09 14:58] caspervonb commented on #11620
Windows so, do you actually have ls in PATH?

[2021-08-09 15:04] mbrevoort commented on #5931
🎉 Nice!

[2021-08-09 16:05] johnspurlock commented on #11611
Thank you!

[2021-08-09 16:09] Lonniebiz commented on #5931
@bartlomieju Does that flag address both the [server-side](https://github.com/denoland/deno/issues/5931#issue-626899727) and the client-side of the problem?

[2021-08-09 16:51] bartlomieju commented on #5931
That change works for internal Deno stuff (like fetching imported files) as well as runtime APIs like `fetch`, `Deno.connectTls`, etc. So yes, it should work for the use case from 4th paragraph.

[2021-08-09 17:09] Lonniebiz commented on #5931
@bartlomieju What about this https service issue discussed at the top of this ticket? I see that someone has closed this ticket, yet nothing I've read explicitly indicates that the flag also addresses the issue described at the top of this ticket. In addition to fetching, does this same flag override "Bad" SSL certificates rejections of an https SERVICE that uses self-signed certificates?

[2021-08-09 17:16] bartlomieju commented on #5931
Yes - when you use TLS it will cause to use one of the runtime Deno APIs that will be affected by this flag.

[2021-08-09 17:19] bartlomieju commented on #5931
Additionally there's a new env variable [`DENO_TLS_CA_STORE`](https://deno.land/manual@main/getting_started/setup_your_environment#environment-variables) that you can use to configure TLS to use system CA store when veryifying certificates.

[2021-08-09 20:52] cknight opened #11624 "Code coverage documentation need further explanation"
Code coverage help is as follows:
[code]
No explanation is given on the parameter value (e.g. `<coverage>`), nor is this explained in the manual https://deno.land/manual@v1.7.4/testing#test-coverage.

It's not clear at all what value should be given.

[2021-08-09 22:28] #8831 closed

[2021-08-09 23:56] #11610 closed

[2021-08-10 08:20] David-Else commented on #11610
Neovim LSP works again, thanks!

[2021-08-10 13:50] lukebrowell commented on #11501
General consensus is that it's a useful feature for power-users - I can't argue with this (it used to frustrate me until I got used to it).

I've fed back to the Node community that as a courtesy to it would be preferable to provide informational messages to the effect that an immutable type has been overwritten in the context of the REPL, rather than syntax of JS being silently swallowed by the R

[2021-08-10 14:21] bartlomieju commented on #11550
Fixed in #11626

[2021-08-10 14:21] #11550 closed

[2021-08-10 14:21] bartlomieju commented on #11437
Fixed in #11626

[2021-08-10 14:21] #11437 closed

[2021-08-10 14:21] bartlomieju commented on #11287
Should have been fixed in #11626

[2021-08-10 14:21] #11287 closed

[2021-08-10 14:21] bartlomieju commented on #11140
Fixed in #11626

[2021-08-10 14:21] #11140 closed

[2021-08-10 14:24] dsherret opened #11632 "Incorrectly using 32 bit dll in `Deno.dlopen` on Windows leads to error message with format string"
Using a 32 bit dll in `Deno.dlopen` will lead to an error message that has a format string:

[code]

[code]

[add_numbers.zip](https://github.com/denoland/deno/files/6962414/add_numbers.zip)

Note that the fix for the user is to compile a 64 bit dll (use cl with "x64 native tools command prompt" instead of the "developer command prompt")

[2021-08-10 18:30] jsejcksn commented on #6794
Hi @bartlomieju: Can you give us an update on this? I searched for "dom" in the manual today after the `1.13` update, but found nothing relevant. I'd like to know what kind of expectations to have about when/where to find the info.

[2021-08-10 18:31] bartlomieju commented on #6794
Sorry @jsejcksn it slipped. I'll open an issue in the manual repo.

https://github.com/denoland/manual/issues/45

[2021-08-10 19:56] David-Else commented on #11610
Just tried deno 1.13.

While the disabled code actions problem is fixed, the refactoring options in Neovim unfortunately don't work properly, but that seems expected at this point. They all appear as expected, but when you run them you get:

[code]
![Screenshot from 2021-08-10 20-52-06](https://user-images.githubusercontent.com/12832280/128926341-5829306b-ebd1-4b34-862e-ae6a147ae080.png)

[2021-08-10 20:38] GJZwiers opened #11637 "`deno fmt --watch` keeps watching for changes in files that do not exist"
If  `deno fmt` is run with `--watch` on a file that does not exist it will keep watching for changes instead of exiting the process. This is different from running `deno fmt` without `--watch` on a non-existing file which throws an `error: target files not found`.

Deno version: 1.13.0

Steps to reproduce:
- run `deno fmt --watch mod.ts` in a directory without a `mod.ts`
- terminal shows `checked

[2021-08-10 21:11] felipetesc opened #11639 "[Feature request]: create new projects from CLI"
Hello. I would like to suggest/request the addition of a way to create projects using Deno CLI, like we do when using cargo for Rust. For example:

[code]
[code]
As we all know, like this, all projects will be organized with a well known structure. Perhaps we can use the config file to help us too, allowing to call external libs. And yes, I know about how deno uses url's to import stuff.
Anyways,