[2020-09-28 06:07] #7705 closed

[2020-09-28 06:11] j4qfrost commented on #7447
https://github.com/denoland/deno/pull/7726 this is a slightly more robust way of resolving the timezone issue.

[2020-09-28 06:47] ebebbington opened #7736 "deno lint/fmt --ignore options is very slow"
**Overview**
Was confused why `deno lint` and `deno fmt` took 50seconds to finish

**What Is The Bug**
`deno lint` and `deno fmt` still check the ignored files (`--ignore=...`) which isn't as expected, but do not print to stdout, which is expected

I know this by following the steps below

**How to Reproduce**
Here is my **exact example**, feel free to change it around if you wish. The focal point

[2020-09-28 09:05] hugotiburtino opened #7737 "Target folders of subdirectories are not being ignored by git"
Hi, I'm new here and would like to contribute to Deno.

The very first thing I noticed just after starting to browser the folders of the denoland/deno is that the rust plugin of VS code keeps creating the target/ folder of the sub-directories. At the same time, I get a bunch of files changes at the git tab of the IDE. It is not just annoying but it could lead to an undesirable target folder being

[2020-09-28 09:08] irustm commented on #7732
no need to remove decorators (emitDecoratorMetaData) until they are in stage3. https://slides.com/pzuraq/decorators-a-new-proposal-2020-09.

[2020-09-28 09:11] lucacasonato commented on #7737
Only a single target folder at the root of the project should be created. Can you check your Rust version (should be 1.46), and that you are using the `rust-analyzer` VS Code extension?

[2020-09-28 10:04] ynwd opened #7738 "--watch via Deno runtime API"
Is there a way to use  `--watch` via Deno runtime API?

[2020-09-28 10:08] lucacasonato commented on #7738
What do you mean? Maybe `Deno.watchFs()` is what you are looking for?

[2020-09-28 10:10] ynwd commented on #7738
Need to restart the server if any changes.

[2020-09-28 10:18] bartlomieju commented on #7736
This problem is caused by inefficient implementation of `collect_files()` which is actually called twice if `--ignore` option is specified.

https://github.com/denoland/deno/blob/45d4fd44c9444241a898d3075b99e8871fccdd65/cli/fmt.rs#L234-L253

This function walks recursively through the tree to find all matching files, and then walks again to find ignored files.

[2020-09-28 10:23] bartlomieju commented on #7473
Done in #7584 #7577 #7656 and #7718

[2020-09-28 10:23] #7473 closed

[2020-09-28 10:34] ynwd commented on #7738
This problem is solved by this:

[code]

[2020-09-28 10:34] #7738 closed

[2020-09-28 10:50] bartlomieju opened #7739 "Lint errors for rule "camelcase" in std/hash"
[`camelcase` lint rule is ready to be merged](https://github.com/denoland/deno_lint/pull/302), however there are a few lint problems it causes in `std/`. Most of them have already been addressed in #7360, however `std/hash` still causes some errors and I don't see an easy way out of it:
[code]
We could of course ignore those diagnostics in the relevant files, but that's not the proper solution as

[2020-09-28 10:52] caspervonb commented on #7737
Welcome welcome!

Looks like something is off with your setup since this is a workspace there should only be a single top level target directory.  Possibly you've got an old version of Rust from your os distro that predates workspaces? Install rustup (http://rustup.rs) and use that to manage rust versions, targets and components.

[2020-09-28 11:00] kitsonk commented on #7732
[Reflect Metadata](https://github.com/rbuckton/reflect-metadata) (which is what `emitDecoratorMetaData` is) is not ES Decorators.  It is a seperate concept.  The metadata concept that is in the current ES Decorators proposal is totally incompatible with `emitDecoratorMetaData`.

To make it clear, I am proposing we keep "legacy" Stage 2 decorators, as supported by TypeScript, though we should activ

[2020-09-28 11:01] bartlomieju commented on #7736
I think `collect_files` should take `ignore` parameter itself and filter out files in a single pass.

[2020-09-28 11:26] irustm commented on #7732
Yes, I know that it is incompatible.
But so far there is no definite solution for reflect.metadata with such large libas as Angular and NestJs.
This also means that it will be impossible to use Angular renderer in Deno.  https://github.com/alosaur/angular_deno

JSX is also not a standard, but you can use

By the way, this will also be a problem for https://github.com/alosaur/alosaur.

[2020-09-28 11:55] hugotiburtino commented on #7737
Hi,
I'm using rust 1.48, but the nightly version. And the extension is called simply Rust, that comes also with rust analyzer.

But anyway, if there should be only one target, then it is a problem of the extension, not here.
Closing it...

[2020-09-28 11:55] #7737 closed

[2020-09-28 12:17] VicenteFleitas commented on #2607
I know, I mean if we should use "setInterval" instead of "requesAnimationFrame"

[2020-09-28 12:53] magurotuna commented on #7739
We could rename `Sha3_224` to `SHA3_224` for example, so that the diagnostics won't be generated.
Referring to [sha3 - npm](https://www.npmjs.com/package/sha3), a class named `SHA3` is exported. Therefore in our case it'd be good to name `SHA3_224` or something like that.

[2020-09-28 12:57] bartlomieju commented on #7739
@magurotuna thanks for pointing that out. There's already a PR (#7258) that would remove `Sha3_*` completely in favor of WASM library, but your solution might be a good middle-ground before it happens.

[2020-09-28 13:12] magurotuna commented on #7739
Ah I missed that PR, then this problem seems like more complex than I thought. I'd say the practical way is that we adopt my solution for now to enable `camelcase` rule, and then we will discuss #7258 further

[2020-09-28 13:27] panva commented on #1891
With the advent of WebCrypto API in Node.js my jose module will become an ESM module utiling it. It covers all of JW[STEAK] and would immediately work in Deno too if it got support for WebCrypto.

[2020-09-28 14:49] humancalico commented on #7736
I'll work on this.

[2020-09-28 16:31] j4qfrost opened #7744 "Request: Allow ts_version to be run from anywhere"
It might be better in the long term to allow this function to run from anywhere within the deno directory. Something like this would work but depend on there being one parent being named deno:
[code]

[2020-09-28 16:44] bartlomieju commented on #7744
@j4qfrost I don't really understand what you're suggesting. Does this solve some concrete problem?

[2020-09-28 16:51] j4qfrost commented on #7744
This lets me access the ts version without having to duplicate code to grab it from an external crate. Finding the path for the ts file varies because the depths are different, so I just opted to jump up to the root.

[2020-09-28 20:08] kitsonk commented on #7744
We are in the process of doing heavy refactoring on how we compile code (#7225), anything like this would need to wait, and even then, I am not sure what problem it is solving.

[2020-09-28 20:21] kitsonk commented on #2607
I am not sure what you are saying.  `setInterval` exists in Deno.  People can already write game logics on server side.

Since no one has presented a compelling use case of what rAF would do differently then other items like [queueMicrotask](https://doc.deno.land/builtin/stable#queueMicrotask), and it is easily "fillable" if someone does need it to adapt other code, I am going to close this.

[2020-09-28 20:21] #2607 closed

[2020-09-28 20:26] #7744 closed

[2020-09-28 20:27] j4qfrost commented on #7744
Alright, seems like a non issue.

[2020-09-28 22:04] rok-star commented on #2315
Ran into the same problem, that's what I Deno.run:
[code]
[code]

code: https://deno.land/x/buildsystem@0.1.3/mod.ts#L411

[2020-09-28 22:40] rektide commented on #7728
Super useful for actor-based systems & data-sharing in general! A worker pretty much is an actor.

Timely ask too. CloudFlare just introduced [Durable Objects](https://blog.cloudflare.com/introducing-workers-durable-objects/). There's no durability implied here, but the general architecture, within a process, maps pretty clearly to SharedWorkers, each shared worker being a (process-local) (semi-so

[2020-09-28 23:28] alexanderGalushka commented on #5437
@marcosc90 thank you for looking into this issue!

[2020-09-29 00:32] crowlKats opened #7746 "worker.addEventListener wrong type"
[code]
gets me a `Property 'data' does not exist on type 'Event'.`
I checked lib.dom.d.ts on the typescript repo and there it is correct.
https://github.com/microsoft/TypeScript/blob/43b5fec3c04cf416c1298a4b449c4333e700edc2/lib/lib.dom.d.ts#L18650

[2020-09-29 01:34] OhBonsai commented on #7746
Hi, I would like to do some work on this. Could you @kitsonk get me up to speed quickly on this? :)

[2020-09-29 03:02] 00ff0000red commented on #7728
I just read up on that article, posted literally today, quite the coincidence, but it sure seems nice.
I'm sure that Deno will have to *eventually* implement SharedWorkers, as multiple major browsers have them, so it's more of a question about *when* they will do it.

I was writing code that involved multiple workers to separate and parallelize code, there was one specific worker that had permissi

[2020-09-29 03:13] kitsonk commented on #7728
We've been talking about this, even before the CloudFlare announcement or this issue.

We are leaning towards using workers and `SharedWorkers` certainly is attractive.  We would certainly like to have something that exposes a browser standard API, versus the path the CloudFlare appears to be taking, which is unique to that platform.

One of the big ones on this journey though is we need to proper

[2020-09-29 03:29] 00ff0000red commented on #7728
Oh, I don't doubt it, it falls perfectly within Deno's philosophy, and it just seems awesome all around.
I personally have been eagerly waiting for any improvements on the Worker situation, whether it's that structured cloning is finally implemented or it's that a new type of worker that is added. But in the meanwhile, I can understand that the implementation of structured cloning in Deno will tak

[2020-09-29 03:39] kitsonk commented on #7728
Workers is getting some love in the very near future.  In fact I believe @bartlomieju has some plans for it this week.

[2020-09-29 03:58] kitsonk commented on #7732
It does seem that the two features are used coupled together.  I have personally avoided them all together because I thought they were a mistake adding them early to TypeScript (which appears to be proven out).  Since `experimentalDecorators` would be explicit, and you are already making a decision to use them if they appear in the code, then having `emiteDecoratorMetaData` being implicit I guess

[2020-09-29 05:03] t829702 opened #7750 "feature request: TextProtoWriter (or node style streaming io) ?"
from https://deno.land/std@0.71.0/textproto/mod.ts I can see the TextProtoReader but why there's no TextProtoWriter?

for writing text files, I can see there is Deno.writeTextFile, but it's for writing a whole file content at once; but what if I am going to write huge text files (line by line)? Or opening the file as a logger and appending it all the time?
https://doc.deno.land/builtin/stable#Deno

[2020-09-29 06:13] kitsonk commented on #7750
`TextProtoReader` is based off of Go Lang's textproto Reader.  An implementation of a `TextProtoWriter` for `std` based off the API of [textproto Writer](https://golang.org/pkg/net/textproto/#Writer) would be a welcome contribution.

[2020-09-29 06:55] #7390 closed

[2020-09-29 06:55] CGQAQ commented on #7390
https://github.com/Fndroid/clash_for_windows_pkg/issues/1175#issuecomment-700488233

[2020-09-29 07:28] bartlomieju commented on #7728
@kitsonk I didn't mean workers as in `Worker API` but our internal workers 😅  structured clone is waiting on https://github.com/denoland/rusty_v8/pull/442

[2020-09-29 08:17] HerryYT opened #7751 "Missing Buffer functions (API)"
Buffer lacks functions like: readIntLE/BE(offset, length).. readUIntLE/BE...

[2020-09-29 09:38] bartlomieju commented on #7694
I haven't encountered this failure even once. Were there more of those failures @ry?

[2020-09-29 09:42] #7604 closed

[2020-09-29 13:00] lucacasonato commented on #7751
Do you mean `Deno.Buffer`? It is based off the [Go Buffer](https://golang.org/pkg/bytes/#Buffer), not the Node `Buffer`. It is feature complete. You should likely be using Typed Arrays (Uint8Array, Uint16Array, ArrayBuffer, DataView).

[2020-09-29 13:01] Hardik500 opened #7753 "Changes"

[2020-09-29 13:01] #7753 closed

[2020-09-29 13:08] timreichen commented on #7278
Would it make sense for deno to have an `examples` repo where the current `std/examples` files would be located? That would cleanup `std`.

[2020-09-29 15:04] eliassjogreen commented on #986
I think @srikumarks solution would work fine and if the binary used was a stripped down version with only the bare necessities (no linting etc.) size could be reduced in the compiled binary. Another potential optimization for final executable size and speed would be storing the v8 heap snapshot instead of the raw source code (although I have no idea if the snapshot actually is smaller), and if pos

[2020-09-29 15:13] meikelmosby commented on #7626
Hey i'd like to tackle that issue. Can someone onboard me a bit in how the error mappings are done currently and basically maybe provide an example of:

**_This is what the error looks now_** vs **_This is what we would like to have_**

[2020-09-29 15:29] Hardik500 opened #7754 "Import 'https://deno.land/std@master/examples/welcome.ts' failed: 404 Not Found"
## Issue
Running the programs in the master version from the manual will return a 404 Error

## Steps to reproduce the issue:
1. Go to [https://deno.land/manual](https://deno.land/manual)
2. Select the version as master from the dropdown
3. Click on "2.3 First steps" from the left dropdown or any other section which has a program link with the version
4. Now run any program, let's say `deno run ht

[2020-09-29 15:32] VicenteFleitas commented on #2607
Yes, i use setInterval, but every book a read about gamedev on js says requestAnimationFrame is best for gameloops. I think we need rAF

[2020-09-29 15:33] ry commented on #7754
Makes sense and your help would be welcome. Probably this change involes https://github.com/denoland/deno_website2

[2020-09-29 15:39] Hardik500 commented on #7754
Sorry I didn't realise that there was another repo for the manual.
I guess I should post this issue on [https://github.com/denoland/deno_website2](https://github.com/denoland/deno_website2) @ry and close this one.

[2020-09-29 15:39] lucacasonato commented on #2607
`requestAnimationFrame` only makes sense in frontend (browser) contexts. Deno is a backend context, and thus does not support rAF, nor does it need to.

[2020-09-29 15:42] ry commented on #7694
I think this was the only one. Tracking to see if we get more.

[2020-09-29 16:12] bartlomieju commented on #7676
Discussed offline with @iykekings; for the first pass of #6124 we decided to extract tests only from functions.

[2020-09-29 16:17] bartlomieju commented on #7623
[Intent to Prototype and Ship: Import Assertions](https://groups.google.com/a/chromium.org/g/blink-dev/c/Xft04J07Oh0/m/s-kUUljbCQAJ) from Chromium

Tracking issue in V8 - [Implement Import Assertions](https://bugs.chromium.org/p/v8/issues/detail?id=10958&q=import%20assertions&can=2)

[2020-09-29 17:06] HerryYT commented on #7751
I saw, but I think there are too many Buffersoul and it wd be better to make one, it's very confusing now

[2020-09-29 17:18] lucacasonato commented on #7751
Deno is explicitly not compatible with Node. We use the web standard typed arrays instead of the Node `Buffer`. Deno favors web standards instead of proprietary types wherever possible. `Deno.Buffer` is not the Deno equivalent of the Node `Buffer`.

[2020-09-29 17:21] HerryYT commented on #7751
I got it, no problem. Thank you for the time 👍

[2020-09-29 17:21] #7751 closed

[2020-09-29 18:12] rok-star opened #7755 "[bug] windows : deno.run.status (2)"
Ran into the same problem https://github.com/denoland/deno/issues/2315 , that's what I Deno.run:
[code]
[code]

code: https://deno.land/x/buildsystem@0.1.5/mod.ts#L411

[2020-09-29 18:37] andreespirela commented on #7732
I'd like to give some of my thoughts in this discussion. I will go straight to the point: I don't think this should be done (not only personally speaking, but most importantly, professionally speaking). Personally speaking, the whole ecosystem of [Mandarine](https://www.mandarinets.org/) needs an specific `tsconfig.json` file in order to work, could this have been different? By all means, but it w

[2020-09-29 19:24] rivy commented on #986
Additionally, if you're doing compression, you could use a character tag to represent compressed vs non-compressed text of the included script (eg, `<CR><LF>// js+000000000000` vs `<CR><LF>// js-000000000000`). That would likely save a great deal of space.

[2020-09-29 19:46] nktpro commented on #7732
Since deno 1.4.0, `"importsNotUsedAsValues": "error"` was enabled by default, which basically broke all of our existing projects. The only viable escape hatch was to override this back to `"importsNotUsedAsValues": "remove"` using a custom `tsconfig.json` (we never needed one before that). Even if we could have spent all the efforts to urgently migrate our own code, it's impossible to have all pro

[2020-09-29 19:55] 0kku commented on #7732
So, let me get this straight @andreespirela... You put your "professional business needs" in the hands of an experimental feature we've known for a couple years now will _never_ become a standard part of the language; and now you're upset that when people are unwilling to bear the burden of dead-end legacy features in their runtimes, your library built around volatile experimental features might b

[2020-09-29 19:59] Soremwar commented on #7732
I wanna share my thoughts about this as well.

First of all, TypeScript is not a conventional language, it was designed to deal with the issues that development with JavaScript caused to some developers. Said that, it's clear that is not meant to be used as a standalone tool. Every method that uses TypeScript to achieve it's execution requires transpilation to JavaScript, and the same could be sai

[2020-09-29 20:04] andreespirela commented on #7732
@0kku I think your answer only focused on experimental features, and missed the 75% of my whole point which is all the features `tsconfig` offers for configuration, and the business needs it has in a global context, if we measure how many applications use `tsconfig` in the world, I am sure the result would be huge and I think we can both agree on that.

Also, as @nktpro mentioned, there never was

[2020-09-29 20:22] nayeemrmn commented on #7732
@nktpro The existence of the escape hatch was taken into account when that change was made. The same trade-offs will be taken into account for future changes given the options that are available then.

We're not going to keep changing the internal tsconfig, we're getting this stuff out of the way while Deno is still young. Removing the config is a big step towards unifying TS's effect on user code

[2020-09-29 20:25] andreespirela commented on #7732
@nayeemrmn That's debatable as I can argue if something exists and something is used is definitely because it's needed, on the other hand if something exists but it's not used, then it's not needed (and we can be sure about it 100%) but not the other way around.

[2020-09-29 20:29] Soremwar commented on #7732
@andreespirela Or if something exists and is useful but causes more problems than what it actually solves, is it worth having?

As I pointed out above, Node simply jumps over this problems, but Deno can't.

[2020-09-29 20:33] andreespirela commented on #7732
@Soremwar if something exists and is useful, then it’s useful. That’s the whole point of my argument, if it’s useful then it’s should be kept. The energies of removing it should rather be/may be focused on how to have a workaround.

[2020-09-29 20:41] Soremwar commented on #7732
@andreespirela What is exactly the work-around here? Having different set of configurations for code that is going to be compiled all together isn't something conciliable.

- We can't have different configuration files. TypeScript as a core doesn't allow that.
- We can't change the default settings of TypeScript for Deno, cause it would break current codebases as well, so it would be like going ba

[2020-09-29 20:46] stefanbuck opened #7757 "xeval example doesn't work anymore"
I just updated deno from version `1.0.1` to `1.4.2` and this seems to break the `xeval` example.

### Before
[code]

### After

[code]

I also tried to run the example listed in the `xeval.ts` file, but this fails with the same error.

https://github.com/denoland/deno/blob/04f05d0d9db4f5e55b2f0205ba2e5ab1c320dbc6/std/examples/xeval.ts#L16

Please let me know if you need any further information.

[2020-09-29 20:46] lucacasonato commented on #7757
Please use tagged std releases: `deno run https://deno.land/std@0.71.0/examples/xeval.ts`

[2020-09-29 20:47] Skillz4Killz opened #7758 "Console.log similar methods should have colors"
There are quite a few methods that do basically the same thing, such as console.log, console.info, console.warn ....

I would love if Deno had a slight user experience enhancement to them:

- log: logs without colors
- info: logs with blue color
- warn: logs with yellow color
- error: logs with red color
etc...

Colors would help differentiate each type of log which would help debugging a ton!

[2020-09-29 20:49] nayeemrmn commented on #7758
These functions are our idiomatic way of outputting strings to stdout/stderr. We can't "prettify" them with extra characters.

[2020-09-29 20:49] stefanbuck commented on #7757
Oh sweet, thanks for this lightning fast response. Should the example be updated or is this common sense in deno land?

[2020-09-29 20:49] #7757 closed

[2020-09-29 21:00] sebastienfilion commented on #7758
Shouldn't we just use `stderr.write` for low level stuff and use the `log` module for other complex things? I think that `console.log` (and maybe `console.warn`) should work like the browser as there is a precedent that was established and that's what people expect.
I understand that the issue is not that straightforward but I think it's a good way to see things as we move forward.

[2020-09-29 21:07] kitsonk commented on #2607
Correct, rAF schedules as task as part of the rendering of the page in a browser, and so you are less likely to impact layout and cause jitter/lag in the UI. None of this makes sense in Deno.

[2020-09-29 21:16] nayeemrmn commented on #7758
The browser behaviour you're talking about is actually the _inspector_ behaviour, which is shared between Deno and browsers (pending #4502). The fact that `console.log()` writes an encoded vanilla string to stdout is not taken from any web analogy. If we copied browsers, it would do nothing in the terminal and only write to the inspector.

[2020-09-29 21:21] sebastienfilion commented on #7758
I understand that. But my comment is in support of user experience and expectation.
But then again, it is true that, even with Node, `console.error` doesn't print in red from the terminal but it does through the inspector of my IDE. 🤔

[2020-09-29 21:57] lucacasonato opened #7759 "cache invalidation does not work with --no-check"
$DENO_DIR/gen cache is not being invalidated when a file changes and `--no-check` is specified:

[code]

cc @kitsonk - likely related to #7621

[2020-09-29 23:05] kitsonk commented on #7732
@andreespirela to be honest, the fact that people need to use a `tsconfig.json` to run some projects is _exactly_ why we need to change this.  I wish I had been forceful earlier on, I didn't think it was a big deal allowing _n_ versions of TypeScript to be run with Deno, because _hey that is what `tsc` does_.  Testament that people have to instruct users to `--config tsconfig.json` to use their so

[2020-09-30 03:06] kitsonk commented on #7758
Wouldn't that be inconsistent with user experience and expectation on Node.js?  That is a better set of expectations and precedence for server runtimes like Deno.

[2020-09-30 04:28] ryanwhite04 opened #7761 "Deno Bundle causing undefined variable error"
I'm using Deno to [bundle javascript imports](https://deno.land/manual/tools/bundler).

It works with no errors for all imports i've used apart from [mwc-select](https://github.com/material-components/material-components-web-components/tree/master/packages/select) which shows the following in a browser.

"Uncaught TypeError: Cannot set property 'BOTTOM' of undefined"

## To Reproduce
Steps to repr

[2020-09-30 06:08] kitsonk commented on #7761
Ok, this is going to get complex...

Here is a minimum reproduction:

[code]

Which [TypeScript transpiles to](https://www.typescriptlang.org/play?module=4&useJavaScript=true#code/G4QwTgBAgg3AUACgGYFcB2BjALgSwPZoQJQCUEA3nBNdANpS0BEUjAuhALwQCM7XzjeAF8SxCAB9xRKJwoiS8AKYAPAA54wWCtAhD4QA):

[code]

Which if you put a minimal loader in front of it, and you run it, you get:

[code]

Basically TypeScript

[2020-09-30 06:11] kitsonk commented on #7761
Actually, thinking about it, it might be an edge case with our implementation of the System loader.  I am going to try something before I open the issue with TypeScript.

[2020-09-30 06:18] ThatsNoMoon commented on #7732
As someone watching from the sidelines, arguments like "X project already uses it" or even "Y environments often rely on it" seem very weak. Supporting features because people use them is a great way to get bogged down with terrible design decisions. See C's support for implicit declarations and implicitly typing things as `int` for decades, Haskell's default string type still being a linked list

[2020-09-30 07:22] #7709 closed

[2020-09-30 08:51] #7761 closed

[2020-09-30 08:51] sebastienfilion commented on #7758
@kitsonk I think it's a valid argument. There are plenty of issues on here of people who wants "things like in Node"; but we resist those changes. Deno attracts a lot developers with Browser experience because of the API parity. That's why I think it's relevant to satisfies those expectation.
So the question is wether the decisions made for Node were the right one in retrospective or not.

[2020-09-30 09:35] nayeemrmn commented on #7758
Again, this isn't browser-parity vs Node-parity. Browsers write to the inspector. The server runtimes write to the inspector and standard streams. The fact that these functions write to standard streams at all, and the way values are formatted for standard streams, are not applicable in the browser and don't conflict with any browser behaviour. The only expectations surrounding this feature come f

[2020-09-30 09:43] lmiller1990 commented on #6319
I get this error after around 24h - my server serves HTML at about 30-60 request / h. Basically the "hello world" like setup, no extra dependencies. I am on deno 1.3.x.

[2020-09-30 11:21] sebastienfilion commented on #7758
I talked about user expectation which has nothing to do with a correct or incorrect implementation of the feature.

What does that mean? This issue was about colourizing the output of the different console level.
I don’t think it’s productive to say that we can’t change it because Node does it the other way. My point was simply that there was a precedent in user perception of what the console meth

[2020-09-30 11:26] nayeemrmn commented on #7758
My problem with the change was described here:

You brought up "user expectations" so Node was brought up in response.

[2020-09-30 11:35] sebastienfilion commented on #7758
Yes. But both things can be true at the same time. Users will expect browser behaviour and will expect Node behaviour because of Deno's nature. So, is it **objectively** an improvement?

Are you saying that it is impossible or too expensive to implement?

[2020-09-30 11:46] #7759 closed

[2020-09-30 11:51] irustm commented on #7732
Sound as if you need to remove all the flags so that there are no incompatibilities in future versions.

I suggest you remove all the flags then. That would be fair then. Otherwise, it sounds like Deno is able to devote time to support only 3 flags. :(

--check-js
--jsx-factory
--jsx-fragment-factory

[2020-09-30 16:31] nktpro commented on #7732
@nayeemrmn and @kitsonk Thanks guys for the clarification. I'll attempt to summarize:

- `deno` users currently rely on custom `tsconfig.json` files for different reasons. One key reason is maintaining backwards compatibility for existing applications, and `deno` contributors are fully aware of that escape hatch.
- Specifically for the case of `"importsNotUsedAsValues": "error"` breaking change, w

[2020-09-30 21:25] han-tyumi opened #7769 "writeFile vs writeFileSync"
When using `writeFile` to write data to a file which I've downloaded using `fetch`, I get a corrupted file, but when using `writeFileSync` I do not.

My use case can be found here: https://github.com/han-tyumi/tools/blob/master/src/installer.ts#L70.
The issue can be simplified to:
[code]
If you then try to untar the downloaded file, you will not be able to because it is corrupted.
If you instead u

[2020-09-30 22:42] jsejcksn commented on #5040
It seems like this might be more important in consideration of #7732.

[2020-10-01 00:00] jsejcksn commented on #7769
@han-tyumi Will you please provide a complete example with all commands used?

I cannot reproduce this issue using the test below: `writeFile` and `writeFileSync` produce identical files.

Note: The download URL in your example is a redirect address, so I've used a static GitHub URL to a file of the same type instead.

`test.ts`:
[code]

output:
[code]

[2020-10-01 00:40] han-tyumi commented on #7769
@jsejcksn Thank you for confirming this.
I just ran some additional tests and it appears to be an issue with that particular URL.
When using either function, sometimes the file would be corrupted and others not.
It must've been pure coincidence that I was only seeing the issue when using the asynchronous write.
Apologies for not seeing this earlier.
I think I can safely close this issue and will i

[2020-10-01 00:40] #7769 closed

[2020-10-01 03:30] kitsonk commented on #7758
It is a kind way of me saying I disagree with you.  We do what we believe is best.  I strongly believe writing `console.log` with colourisation should be to `stdout` and `console.log` and `console.warn` should log to `stderr` without ANSI colours as a default for Deno.  The fact that Node.js aligns to this, and has set 10+ years of precedent for server side JavaScript is a pure bonus.

There is `s

[2020-10-01 03:45] kitsonk commented on #7732
Not specifically.  We want to avoid a proliferation of flags.  We would likely introduce it in `--unstable` for a minor release (like we have for `"importsNotUsedAsValue"`) to reduce the impact.  We might want to consider a `--legacy` flag as a final escape hatch, but we need to push people to update their code, as it benefits no one to have to use configuration or flags to be able to run code.  E

[2020-10-01 04:10] Skillz4Killz commented on #7758
Is there any reason for this? It's hard to understand without a good reason against it. Sorry if i missed it here but the only thing I've seen so far mentioned is it worsens user experience? I made this issue because it would **improve** my experience. I also see other users here who would also like this implying this can be good for user experience for them as well. I have yet to see anyone give

[2020-10-01 05:57] bhumijgupta commented on #7487
I'd like to add JSDoc docstrings for `node/url.ts`

[2020-10-01 08:09] timreichen opened #7771 "Proposal: std/jwt"
As there was a discussion about different specs including JSON web tokens [here](https://github.com/denoland/deno/issues/4203) and there is a [3rd party module](https://deno.land/x/djwt)  implementation at the moment, I think it would be an enrichment to `std` to have JWT included.

What are your thoughts on that?

[2020-10-01 09:07] bartlomieju commented on #7649
Me and @piscisaureus investigated the issue and arrive at the conclusion that `deno_core`'s module loading need a bigger overhaul to fix this problem. I'll be working towards it.

[2020-10-01 09:27] shajanjp opened #7772 "Documentation link on README.md is broken"
Current :
https://github.com/denoland/deno/blob/master/doc.deno.land
Expected:
https://doc.deno.land/builtin/stable

[2020-10-01 11:30] sebastienfilion commented on #7758
You are allowed to disagree with me. No need to be kind about it.
I have to side with @Skillz4Killz and ask that we simply resolve this issue with a clear explanation of the reasoning behind this decision. Then we can come to agree, close this and refer to it when the question arises again in the future.

[2020-10-01 11:46] nayeemrmn opened #7775 "Add deno test --no-run"
- `deno cache foo.ts bar.ts --test` -> `deno cache foo.ts bar.ts <...files captured by "deno test">`
- `deno cache foo.ts bar.ts --test=baz/,qux/` -> `deno cache foo.ts bar.ts <...files captured by "deno test bar/ qux/">`

Alternatively `deno test --no-run` (`cargo` has both).

EDIT: Went with the second option `deno test --no-run` to avoid the awkward flag value for `--test=dir1,dir2`.

[2020-10-01 12:07] hazae41 opened #7776 "Can't rename a GH repository tied to a module"
1. Link a GH repository to a module
2. Rename the GH repository
3. Release a new version
4. The webhook fails with `module name is registered to a different repository`

`{"success":false,"error":"module name is registered to a different repository"}`

We should be able to change the registered GH repostitory of a module

[2020-10-01 13:24] timreichen commented on #7758
Just as a comment watching from the sideline:
I agree with @Skillz4Killz and would like to see console method logs to be distinguishable.
I think it would be an enhancement since there is no real purpose in using different console methods at the moment because they all log the same.
About user expectation and node: When I first used node years ago I was expecting logs to be colored like in browser

[2020-10-01 13:26] axetroy commented on #7771
JWT depends on the crypto (SHA256) module.

So again, implement the crypto module before implement jwt.

[2020-10-01 13:47] ericselin opened #7777 "Piped source with --no-check fails in v1.4.2"
Hi,

Starting with version 1.4.2, running a piped script fails when using `--no-check`.

[code]

Piping with --no-check is useful e.g. for piping a bundled script via curl.

[2020-10-01 13:50] bartlomieju commented on #7777
Most likely the same problem as in https://github.com/denoland/deno/issues/7709; should be already fixed and released tomorrow.

[2020-10-01 14:04] sebastienfilion commented on #7758
The conclusion from @nayeemrmn and @kitsonk objection can be shown with the following example. At the moment method like `log` output to the `stdout` and method like `error` output to `stderr`.

[code]

What's that mean if you wanted to write logs to one file and errors to another file, you'd do this:

[code]

And in your `log` file you'd have `This is a log`, and in your `errorlog` you'd have `Th

[2020-10-01 17:22] ebebbington commented on #7727
This only seems to be a problem when the sub process is **directly asking for input**

[2020-10-01 18:34] lucacasonato commented on #7755
Likely duplicate of https://github.com/denoland/deno/issues/4568

[2020-10-01 19:51] caspervonb commented on #7758
So, console has always been weird. It isn't printf and it doesn't try to be printf but still try to treat it as printf.

Just want to point out that console already does presentation how it wants to, e.g this quotes and colorizes.

[code]

[2020-10-01 20:02] nayeemrmn commented on #7758
Why does _that_ quote and colourise even though `console.log("hello world")` does not? Because `console.log(<single string value>)` is intended to be the primary way of writing a vanilla string to stdout (same with `console.error()`/stderr). The proposed change removes this assurance. If we did this we would need to move that functionality under a different API which doesn't seem worth it. It's a

[2020-10-01 20:16] timonson commented on #7771
Hi @axetroy sha256 and sha512 already exist in std: https://deno.land/std@0.69.0/hash/sha256.ts

I am the author of [djwt](https://github.com/timonson/djwt) and would love to help moving jwt to std.

[2020-10-01 20:55] timreichen commented on #7758
Also
`
console.log({boolean: true });
console.error({boolean: true });
`

will color `true` orange in deno and write
`
{ boolean: [33mtrue[39m }
`
to both stdout and stderr.
I don't know exactly

[2020-10-01 21:05] timreichen commented on #7771
@timonson awesome!
I had a look at your module, looks really good! Though some structural changes and function renames will be needed to be well-aligned with `js` and deno `std` conventions. I would be glad to help you with that.

@ry @bartlomieju would you be in favor of that integration?

[2020-10-01 21:15] ry commented on #7771
Happy to have it, patches welcome.

[2020-10-01 21:33] solson opened #7781 "`--allow-read` allows writes to Unix sockets"
`Deno.connect({ transport: "unix", path: "/path/to/socket" })` only requires `--allow-read=/path/to/socket`, yet allows you to write to the socket. On typical Linux systems, that means `deno run --unstable --allow-read foo.ts` could connect to the DBus socket and potentially run arbitrary commands, depending on what services are running.

Note: `transport: "unix"` is only available with `--unstabl

[2020-10-01 21:54] timonson commented on #7771
@timreichen I have the same username on the discord channel and I would love to hear more about your perspective of these things. So if you can, please dm me in the following days.

[2020-10-01 22:58] alexanderGalushka commented on #7686
true

[2020-10-01 23:06] alexanderGalushka opened #7782 "feature request: Deno.catch(e)"
it would be nice to have Deno catch any unhandled errors

e.g.

`Deno.catch(e) {
     console.error(e);
}`

[2020-10-01 23:07] nayeemrmn commented on #7782
Duplicate of #7013.

[2020-10-01 23:07] #7782 closed

[2020-10-02 00:07] rracariu opened #7783 "deno doc --importmap option"
In Deno 1.4.1 the `doc` command doesn't support the `--importmap` option

This makes it impossible to generate documentation for modules using import maps

[2020-10-02 00:28] rracariu commented on #7226
In `deno 1.4.2` this is fixed.

The following works `deno repl --unstable --importmap=import_map.json --config=tsconfig.json`

[2020-10-02 00:28] #7226 closed

[2020-10-02 00:31] felipecrs opened #7785 "Support resolving a major release on deno.land/x"
This discussion started on Discord: https://discord.com/channels/684898665143206084/684898665151594506/761377272946229249

It would be very cool if `deno.land/x` could support resolving a major release, just how it supports resolving the latest version.

The `deno.land/x` does not support mutable `git tag`s, despite GitHub itself [recommends that approach](https://github.com/actions/toolkit/blob/m

[2020-10-02 01:03] caspervonb commented on #6311
As of https://github.com/denoland/deno/commit/4c779b5e8ca427faf24c26443a8054004827d450 there are no repl ops.

[2020-10-02 01:42] caspervonb opened #7786 "Dynamic import regression in the read-eval-print-loop"
Introduced in #7763

[code]

[2020-10-02 01:47] CGQAQ commented on #7660
https://github.com/http-rs/surf
This one doesn't rely on `rustls`, but it uses `async-std` instead of `tokio`

[2020-10-02 01:56] CGQAQ commented on #7660
https://github.com/async-email/async-native-tls
This one is more promising

[2020-10-02 01:58] caspervonb commented on #7786
Would appear that the context has no origin

[code]

[2020-10-02 03:23] CGQAQ commented on #7660
![image](https://user-images.githubusercontent.com/15936231/94884989-915d7900-04a1-11eb-8d2e-35fb90d6bfac.png)
reqwest work perfect

[2020-10-02 08:42] #7571 closed

[2020-10-02 09:27] MrWolfZ commented on #7732
I am strongly in favor of removing `--config`, otherwise it will be a nightmare to get different libraries working together in the future (as it already is now). If TypeScript is meant to be a first-class citizen for writing apps with Deno, we need to treat it more like other statically typed compiled languages like Java and C#, which do not allow opting out of compiler features, but still allow e

[2020-10-02 11:17] #3700 closed

[2020-10-02 11:26] bartlomieju commented on #3029
Fixed in https://github.com/denoland/deno/pull/7784

[2020-10-02 11:26] #3029 closed

[2020-10-02 11:28] bartlomieju commented on #1285
Fixed in https://github.com/denoland/deno/pull/7784; dynamic imports is the way to go when importing in REPL

[2020-10-02 11:28] #1285 closed

[2020-10-02 11:28] bartlomieju commented on #7786
Fixed in #7794

[2020-10-02 11:28] #7786 closed

[2020-10-02 12:28] supergrecko opened #7796 "Fetching any plain ip address over https fails due to rustls error"
###### Related to #7660 and #7789

If we attempt to send a http request to any plain ip over https we receive an 'invalid dnsname' error, this can be demonstrated by running

[code]
which returns the following error
[code]

Deno's fetch implementation uses reqwest to send the http requests, which has been configured to use rustls for the TLS implementation.

This error seems to be a common issue w

[2020-10-02 12:37] solson commented on #6656
After https://github.com/denoland/deno/pull/7784, we can now get around this with `let a = ...`, but `a = ...` still fails, in line with what @nayeemrmn said:

[code]

[2020-10-02 12:41] bartlomieju commented on #6656
CC @caspervonb

[2020-10-02 12:45] bartlomieju commented on #7777
Fixed in #7748

[2020-10-02 12:45] #7777 closed

[2020-10-02 12:51] bartlomieju opened #7797 "REPL doesn't color output"
With recent changes to REPL it seems we got a minor regression that caused to stop coloring output.

We should fix it by changing:
https://github.com/denoland/deno/blob/master/cli/repl.rs#L210

to include `color: true` option.

CC @caspervonb

[2020-10-02 13:07] solson opened #7799 "Idle REPL uses CPU instead of actually idling"
When I open the REPL in Deno 1.4.3, the Deno process stays at 100% CPU usage (and I can hear my fans spin up), while Deno 1.4.2 actually idles at 0%.

Version info: https://github.com/denoland/deno/commit/e5348a6a38b3c06a916223ad0b99e8cfe47725b1 with `cargo build --release`

cc @caspervonb

[2020-10-02 13:23] JayHelton commented on #7626
Hello! Ill grab this one.

[2020-10-02 13:30] caspervonb commented on #6656
So with the let-redeclarations introduced in  #7784 I think we can close this.
Our current behavior matches Chrome's inspector and you can fix an uninitialised variable by redeclaring it.

[2020-10-02 13:36] solson commented on #6656
Yeah, looks like we should close. I can also reproduce in the Chrome inspector:

![image](https://user-images.githubusercontent.com/26806/94929090-86fca880-04bc-11eb-9161-c7d45ab2324d.png)

[2020-10-02 13:39] nayeemrmn commented on #6656
The earlier repro doesn't work now that `let` redeclarations are allowed, but see this:

[code]
But yeah, we match Chrome so this is upstream.

[2020-10-02 13:51] #7797 closed

[2020-10-02 13:59] jero-at-github opened #7801 "Assertion examples not working"
The following example mentioned in the documentation doesn't work:
https://deno.land/manual/testing/assertions

[code]

[code]

[2020-10-02 14:02] TTtie commented on #7801
Hi, according to your provided example, you're missing an `assertStringContains` import in your code - import it and the example will work.

[2020-10-02 14:05] jero-at-github commented on #7801
Sorry... my bad, stupid failure, thanks for quick response!

[2020-10-02 14:06] #7801 closed

[2020-10-02 14:17] nabijaczleweli opened #7802 "deno upgrade doesn't update Cargo state to match new reality"
AFAICT `cargo install deno` is a supported way to install the binary, and `deno upgrade` is a supported way to update it.

However the updater doesn't update `~/.cargo/.crates.toml` so the on-disk binary is of a different version than what is stated, which confuses users. You probably want to either preferably (a) update this state with the new version or otherwise (b) purge it.

Downstream issue:

[2020-10-02 14:27] oscarotero commented on #4092
I have reached to this issue searching for support for `beforeEach` and `afterEach`. I understand the reason why you don't want to implement a new `Deno.TestSuite()` (or similar API). But maybe a more simple way to implement this is by extending the current `Deno.test()` allowing an array of tests and adding the setup and teardown functions to the TestDefinition. For example:

[code]

[2020-10-02 15:15] solson commented on #7799
I figured out that line 450 here is waking up constantly, but I don't yet know why:

https://github.com/denoland/deno/blob/4c7f53b04bc631525a4512576fc0d7dca05dec09/cli/main.rs#L445-L452

[2020-10-03 00:47] JayHelton commented on #7626
@caspervonb hello! Is the example found here https://deno.land/std@0.72.0/wasi broken?

I found where this change needs to go, but I'm not able to successfully run this example, even with the unstable flag.

[code]

[2020-10-03 01:04] caspervonb commented on #7626
Stricter WebAssembly definitions since a few releases ago, I should update that.

Something like this would work.

[code]

[2020-10-03 01:05] caspervonb commented on #7626
Altho in this case, I think the tests should just be in JavaScript and localized to the syscall function.

[2020-10-03 02:57] #7746 closed

[2020-10-03 04:49] starkensin commented on #7487
I will take `node/util.ts`

[2020-10-03 07:50] crowlKats commented on #7487
this is a dream issue for people who just want to complete hacktoberfest...

[2020-10-03 07:52] bhumijgupta commented on #7487
According to the latest change in rule, a `hacktoberfest` tag should be present on the repo for it to be included in hacktoberfest. Deno does not have any such tag, so the contributions wont be counted towards it

[2020-10-03 09:10] JavascriptMick commented on #7653
hi @kitsonk,  rust and opensource beginner here.  I have made a very modest attempt at this here (https://github.com/JavascriptMick/deno/commit/9da7deb4c3a5867057e86bd856605d5e903886e7) .. (branch https://github.com/JavascriptMick/deno/tree/fix-7653).  Any feedback etc would be appreciated before I continue with additional tests.

I was particularly unsure about the use of Tempdir over adding a pe

[2020-10-03 10:51] #7799 closed

[2020-10-03 11:32] danvim commented on #6687
I'm on Deno 1.4.3 and running your code yields:

[code]
I know the deno types don't work anymore, but it didn't help removing them. If I just remove all the imports and have `  '/index.tsx': 'console.log(0)',` it compiles.

[2020-10-03 12:01] crowlKats commented on #3450
after finishing localStorage, i was thinking of working on this. what about `--allow-clipboard-write` & `--allow-clipboard-read` for perms?

[2020-10-03 12:15] nayeemrmn commented on #3450
Also note that the runtime permissions API for this should be at `navigator.permissions`.

[2020-10-03 14:36] caspervonb commented on #7626
Just to be a bit more explicit, said attempt at parsing could go in this catch block.

https://github.com/denoland/deno/blob/e8b93674eda5e337587d596f23745c81511e1f0a/std/wasi/snapshot_preview1.ts#L205-L211

There is probably an up to date mapping from POSIX errno to WASI errno in wasi-libc or rust libstd.

[2020-10-03 19:26] pedropaulosuzuki commented on #2401
Just in case someone is wondering, #7382 got merged successfully 22 days ago

[2020-10-03 20:21] kitsonk commented on #7796
Duplicate of #7660

Let's keep the discussion to one issue.  That issue is still open.

[2020-10-03 20:21] #7796 closed

[2020-10-03 20:27] kitsonk commented on #7802
`cargo install deno` is a [way to install Deno](https://deno.land/#installation).  Very few people should be installing Deno from source though, `deno upgrade` is not updating Deno from source, and putting all the cargo infrastructure in the binary to be able to update it is non-sensical for the minority of people who would installing that way.

A simple note in the documentation that if you are b

[2020-10-03 20:30] kitsonk commented on #7783
Ref #3929

[2020-10-04 00:00] trivikr opened #7815 "js_unit_tests startTls fails with "Network is unreachable (os error 101)""
**Describe the bug**
Unit test startTls fails with "Network is unreachable (os error 101)"

**Deno version**
master

**To Reproduce**
Follow steps mentioned in https://deno.land/manual/contributing/development_tools#tests to run tests:
[code]

Unit tests fail with the following error:

<details>
<summary>Error: Network is unreachable (os error 101)</summary>

[code]

</details>

<details>
<summary

[2020-10-04 00:03] trivikr commented on #7815
cc @manyuanrong who'd added startTls feature+test in https://github.com/denoland/deno/pull/4773

[2020-10-04 10:15] timreichen commented on #4092
How about adding `nested Deno.test()` and `await Deno.test()` support?

[code]
console:
[code]

That way we would be able to implement the upper described functionality without adding any new syntax.

[2020-10-04 11:19] SyrupThinker commented on #7783
I'm working on this

[2020-10-04 11:34] #5706 closed

[2020-10-04 12:06] bartlomieju commented on #6656
I think we can close this issue as resolved.

[2020-10-04 12:06] #6656 closed

[2020-10-04 12:40] bartlomieju commented on #7633
CC @nayeemrmn seems like a bug in `Deno.inspect()`

[2020-10-04 12:41] bartlomieju commented on #7472
@solson can we close this issue?

[2020-10-04 12:43] solson commented on #7472
Yes, fixed by #7514.

[2020-10-04 12:43] #7472 closed

[2020-10-04 13:18] nayeemrmn commented on #4092
@timreichen I think that's a really nice solution :-) Can you open a new issue? Use the code example more like the one here: https://discord.com/channels/684898665143206084/684911491035430919/762300901590433812.

[2020-10-04 17:34] rizkyramadhan opened #7824 "Uncaught AddrInUse: when using --unstable --watch"
I tried running simple web server on deno latest:

[code]

when I saved some changes, file watcher is restarting my app, and then error:

[code]

I am on windows 10,

[2020-10-04 21:17] KyleJune commented on #4092
Here is a wrapper I implemented for adding test setup/teardown to `Deno.test`. I based it on the idea of having a TestSuite from this discussion. I didn't make an issue suggesting it because it seemed to already be decided that deno doesn't need setup/teardown built in.

https://deno.land/x/test_suite

[2020-10-04 23:32] #7653 closed

[2020-10-05 05:33] Hamish-Bassett commented on #3943
Hi all,

Is this still open? I can't see any action after the 14th of Feb so nearly half a year ago at this point.
If @saostad is happy for the assistance, I can help out and work with them on this.

[2020-10-05 11:03] Skillz4Killz commented on #7732
- I love the idea of removing configs. I fully support this.
- I am worried about not having access to some configs, but I believe for the entire Deno community this would be an overall benefit.
- I do agree with @irustm that you have to be very careful about supporting any flags at all. The minute you start making exceptions and supporting some flags people are going to start asking for every opt

[2020-10-05 14:37] yiss opened #7829 "Adding Resource Timing API"
Deno has support for User Timing API, but I couldn't find reference to Resource Timing API https://w3c.github.io/resource-timing/ ?

[2020-10-05 16:16] DCtheTall commented on #7487
I'd also be interested in participating in this for a Hacktoberfest PR if the owners of this repo are willing 😄

[2020-10-05 16:46] bnoordhuis commented on #7781
Related: `DatagramConn#send()` seems like it should be checking for write (not read) permission.
<details>

[code]

</details>

[2020-10-05 17:58] lygstate commented on #3711
Can deno static link to c library to resolve issue like golang does?

[2020-10-05 18:29] Absebo opened #7831 "Using watch with importmap requires an absolute path"
# Steps to reproduce
If you run `deno` and use the options `--watch` in combination with `--importmap` like this:
[code]
then you will get an error if `--importmap` is not an absolute path.

# Workaround
[code]

# Environment used
**Deno Version: 1.4.3**
To be precise I used this [docker image](https://github.com/hayd/deno-docker/releases/tag/1.4.3)
Error did not occur with Version 1.4.1
Did not t

[2020-10-05 21:24] Ciantic opened #7832 "Windows: Deno.realPath joins paths with `/` while otherwise it's `\\`"
This discrepancy makes comparing file paths very difficult:

[code]

Prints out this:

[code]

This is very problematic, because a lot of libraries are written using `join`, and if on some point of your code you use realPath then comparing the paths with `===` is not possible.

Imagine using a library A that uses `realPath`, and library that uses `join` at some point, one can't compare the paths w

[2020-10-05 21:27] nayeemrmn commented on #7832
Duplicate of #5685.

[2020-10-05 21:27] #7832 closed

[2020-10-05 21:28] Ciantic commented on #5685
This is important to fix, some libraries might not be working correctly, consider this:

Imagine using a library A that uses realPath, and library that uses join at some point, one can't compare the paths with === without sanitization which becomes messy.

I think simple fix for this, just replace `/` with `\\` on windows.

[2020-10-05 23:43] pomke commented on #4222
I'm confused about the safety arguments people are using against native plugins.. (especially related to these arguments that people should 'just use WebAssembly')..  why should I trust the authors of Deno any more or less than the authors of a native plugin I may choose to use with Deno? Surely using native plugins is an opt-in decision that I'm able to make and the security implications of that

[2020-10-06 00:43] ebebbington commented on #7727
Tried it in Rust too (hoping to use Rust for this instead due to this issue) but i came across the same problem, though unsure if this is due to my inexperience with Rust (very very new to it)

[2020-10-06 01:53] nayeemrmn commented on #4222
I haven't mentioned it here yet -- this issue would be solved by https://github.com/tc39/proposal-asset-references. It's the general problem of "consuming non-code resources which are relative to a remote dependency".

[2020-10-06 03:38] crabmusket commented on #4222
@pomke I agree with you that ultimately a user of Deno has to understand the risks and make decisions themselves. But Deno can still make design decisions that are better or worse given that basic fact. For example, the situation when Deno launched was "if you load a plugin, it can do anything and you can't control it". This means that your security options are binary: either don't enable plugins

[2020-10-06 06:48] skariel commented on #5242
@bartlomieju `allow-net` does not allow URLs only domains. For e.g `google.com` is an allowed domain, it would allow also `google.com/about` but if you want to allow **only** `google.com/about` it is not currently supported by `--allow-net`. This has nothing to do with comma separated domain names

[2020-10-06 08:34] nayeemrmn commented on #5242
As I said in IRC once, I think this should stay as it is.

URL paths are arbitrary strings which are prone to subtle formatting differences and it's not clear how the scopes should work. While it's intuitive that read permission to `/foo` should imply read permission to `/foo/bar`, it's not sensible that net permission to `http://baz.com/foo` implies `http://baz.com/foo/bar`. This doesn't leave an

[2020-10-06 08:45] bartlomieju commented on #6259
Just tried on latest `master`

[code]

This is still broken

[2020-10-06 08:46] caspervonb commented on #5242
Hm, how would that even work? as you connect to _hosts_ not fully qualified urls.

[2020-10-06 08:51] bartlomieju commented on #5677
[code]
[code]
[code]

Just tried on latest `master` and the result is still `undefined`.

[2020-10-06 08:54] bnoordhuis opened #7836 "new Request(...) ignores url property"
[code]
https://github.com/denoland/deno/blob/6b8aef5103e6c77cc89ae4c7da959b39b1c4af4a/op_crates/fetch/26_fetch.js#L973-L974

[2020-10-06 09:00] bnoordhuis commented on #7836
Apologies, I retract this bug report. I believe the real bug is that `new Request(undefined)` should throw an "invalid URL" TypeError.

[2020-10-06 09:00] #7836 closed

[2020-10-06 09:06] nayeemrmn commented on #7836
In browsers, the `undefined` gets stringified. Seems easier.

[2020-10-06 09:16] bnoordhuis commented on #7836
FWIW, Firefox 81.0.1 throws an "undefined is not a valid URL" TypeError.

[2020-10-06 09:20] lucacasonato commented on #7836
That sounds like a Chrome bug:

https://fetch.spec.whatwg.org/#dom-request says first param may be a string, otherwise it must be asserted to be a `Request` object. I assume that means throw a TypeError if it is not one of the two.

[2020-10-06 09:58] lucacasonato commented on #7836
Actually can't reproduce on 81.0. For me it does the same as Chrome (which does the same as Safari)

[2020-10-06 10:10] lucacasonato commented on #7836
So it seems the stringified undefined is intended behavior:

![image](https://user-images.githubusercontent.com/7829205/95188535-67e26d00-0781-11eb-96ff-6d946f28f2bf.jpeg)

[2020-10-06 10:20] lucacasonato opened #7837 "new Request(undefined).url should return "undefined""
See https://github.com/denoland/deno/issues/7836

This is what Chrome, FF, and Safari do, and it is intended behaviour:

- The constructor takes a union type https://fetch.spec.whatwg.org/#requestinfo
- Here's how to process a union type https://heycam.github.io/webidl/#es-union
- Which falls through to step 12
- Which sends us to https://heycam.github.io/webidl/#es-USVString
- Which sends us to h

[2020-10-06 10:37] nayeemrmn commented on #7837
[code]

[2020-10-06 12:08] wperron commented on #7837
for the sake of clarity, both FF and Chrome stringify `undefined` and interpret it as a relative url when doing `new Request(undefined)`

[2020-10-06 12:45] crowlKats opened #7839 "worker scope onmessage/MessageEvent bad typings"
`self.onmessage = async (msg: MessageEvent) => {}` wont work because
[code]

and `self.onmessage = async (msg) => {}` wont work because `Parameter 'msg' implicitly has an 'any' type.`
It seems to be happening since 1.4.3.

from the `((e: { data: any; }) => void | Promise<void>)` i can see that `MessageEvent.data` was wanted to be of type `any`, but  from the typescript typings `MessageEvent` shoul

[2020-10-06 13:26] caspervonb commented on #6843
We at-least have something as of #7820, closing.

[2020-10-06 13:26] #6843 closed

[2020-10-06 14:21] guiprav commented on #6946
@lem0nify, I think if ES module caches aren't implemented using GC-friendly "weak refs" (see https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/WeakRef), that's a potential bug/enhancement to Deno/V8/whatever actually implements the module cache. If they do, OTOH, and your code doesn't hold any strong refs to the old module, it should be GC'ed just fine.

But even if

[2020-10-06 16:42] caspervonb commented on #4879
As of my rewrite we only get

[code]

[2020-10-06 16:57] Soremwar opened #7873 "Weird stop on inspector"
When using the following launch configuration

[code]

On the following code: https://github.com/Soremwar/procalidad_app (checkout on branch dev)

I get a little error (stop?) telling me the following

[code]

![image](https://user-images.githubusercontent.com/42647963/95232835-a0f2ff80-07ca-11eb-8023-67aab9e56fee.png)

Now I'm not sure if this has to do anything with Oak, some other content in my

[2020-10-06 17:51] Danieliessen commented on #5575
Did the situation change??

[2020-10-06 18:10] ebebbington opened #7840 ""test" output from `deno test` seems redundant"
**What Am I Talking About**
1.  You have a test file
2. You run the tests
3. You see the output, marked bit below is what i'm talking about
[code]

**What is this issue about**
It feels redundant to have the "test" bit display, because we already know it's a test as we're running `deno test` - and i don't think many other places do this, if any.

[2020-10-06 18:16] makohn opened #7841 "Writing a text file - TS2339 Property 'then' does not exist on type 'void' in example code"
**Description**

`Promise.then()` is invoked although the promise has been handled by `await`.

Error: `error: TS2339 [ERROR]: Property 'then' does not exist on type 'void'.`
Docs: https://deno.land/manual@v1.4.4/examples/read_write_files#writing-a-text-file

**To Reproduce**

[code]

**Actual behavior**

[code]

**Expected behavior**

The message `File written to ./hello.txt` is logged to the con

[2020-10-06 18:27] Soremwar commented on #7841
@makohn This is the expected behavior.

After you `await` that operation, the result is no longer a promise. I'd you want to chain a `.then` function to `readTextFile`, you do so in the same line it is executed.

Otherwise just console.log what you want without `then`. Await will finish the write of the file and only then execute the code that follows.

[2020-10-06 18:47] makohn commented on #7841
@Soremwar Thanks for the clarification. I refer to [this](https://deno.land/manual@v1.4.4/examples/read_write_files#writing-a-text-file) example from the docs. I think the example should then be replaced with one of your variants, shouldn't it?

[2020-10-06 18:53] Soremwar commented on #7841
@makohn Could you point me to that example?

[2020-10-06 20:13] timreichen commented on #7211
# Reasons for the rewrite
## Modularity in favor of global state
The current implementation of std/log contains a global state object that is manipulated functions.
This approach is confusing, because it can be manipulated and changed from anywhere and will potentially change desired behaviors in other modules.
This problem is solved by having a `Logger` class, which instances are not interconnect

[2020-10-06 20:40] lideming opened #7844 "setTimeout followed by clearTimeout cause the first test to fail"
File `test.ts`:
[code]

Run `deno test test.ts`:
[code]

Version: Deno v1.4.4
OS: Windows 10 v2004 x64

[2020-10-06 22:35] timreichen commented on #7758
@kitsonk Just out of interest: Why does `console.warn` and `console.error` log to stderr instead of stdout? What advantage is there in comparison to `Deno.stderr.writeSync(new TextEncoder().encode("some error"))`? To me it would make more sense to have the different `console` methods be different appearance setups for stdout (like colors as discussed in this issue, or `console.table`).

[2020-10-07 00:31] #7841 closed

[2020-10-07 00:52] 00ff0000red commented on #7839
I believe that the `addEventListener` method's types are also broken, but I can't confirm this myself at the moment.

[2020-10-07 00:55] kitsonk commented on #7839
@00ff0000red wasn't that fixed in #7791?  If it is still broken, please open another issue.

[2020-10-07 01:13] 00ff0000red commented on #7758
Just to pitch in another opinion:
...

I completely agree, between `console.log`, `console.info`, `console.warn`, and `console.error`, they are as good as equivalent. We might as well say
[code]
There's simply no reason to prefer one over another. (Now, `console.table` and the rest are quite different and not comparable.)

I feel like this another opportunity for Deno to improve upon the decisions

[2020-10-07 01:38] josh-hemphill opened #7847 "Deno.run options for shell control"
At the moment, when running on windows, I seem to be locked in to using the Win32 CMD shell, which seems to be having issues running npm. I'm currently using Git-Bash which has all the correct environment variables/path set up, so being able to specify a shell would be really useful.

If I'm not just missing something and there's a consensus on what the api should be, I'd be happy to put in the le

[2020-10-07 02:15] andykais opened #7848 "deno run --watch exits when file has invalid syntax"
This is possibly intentional, but I would like to illustrate my case regardless:
if I have a file like so:
[code]
when I run `deno run --watch --unstable test.ts`, the file compiles. If I change the file to something with invalid syntax, like so:
[code]
then deno outputs the following, but keeps the watcher active:
[code]
however, if I _start_ `deno run --watch --unstable test.ts` on a file with i

[2020-10-07 04:17] lideming commented on #7844
There is a workaround, await something after clearTimeout, before running the test:
[code]

[2020-10-07 06:25] caspervonb opened #7849 "Should evaluation errors in the read-eval-print-loop go to stdout?"
This struck me as a bit odd when re-writing the read-eval-print-loop (REPL), we print `throw 'foo'` to stderr.

Node does print everything to stdout which is what I would expect, my rationale being that it is a successful evaluation where the result happens to be an error therefore not an error in the sense that it is a program error that should go to stderr.

Already been sitting on a patch for t

[2020-10-07 07:13] max-pub opened #7852 "Add shorter aliases for permission flags"
Using the deno CLI is very verbose right now.
```deno run --allow-read --allow-write code.js```

could maybe simplified into something like
```deno -rw code.js```

- please make the ```run``` keyword optional (as in the dart CLI)
- please consider shortcuts for ```--allow-read```, ```--allow-write```, ```--allow-net```

this could even improve security, as many people probably use the catch-all ``

[2020-10-07 07:14] crowlKats commented on #7852
`run` was optional in the past, but this was removed.

[2020-10-07 08:31] bartlomieju commented on #7211
This approach is confusing, because it can be manipulated and changed from anywhere and will potentially change desired behaviors in other modules.
This problem is solved by having a Logger class, which instances are not interconnected and can be exported if manipulation/changes are desirable.

Agreed, current behavior stems from my original implementation of the module based on Python's `logging`

[2020-10-07 09:26] ravimashru opened #7854 "Label issues that are relevant for Hacktoberfest"
It would be cool to have issues that can be solved during the hackathon on 23 October labeled with "hacktoberfest" so that they are easy to discover.

//cc @michael-spengler

[2020-10-07 09:28] kitsonk commented on #7854
At this point, we are not participating in Hacktoberfest.

[2020-10-07 09:44] getspooky opened #7856 "Proposal: std/session"
Hello deno community ,
I think it would be an enrichment to std to have session included by default with several great drivers out of the box
- `cookie` - sessions are stored in secure, encrypted cookies.
- `database` - sessions are stored in a relational database.
- `memcached / redis` - sessions are stored in one of these fast, cache based stores.

What are your thoughts on that?

[2020-10-07 10:40] Danieliessen commented on #5575
Why not just use tensorflow with rust backend??

[2020-10-07 12:05] #5685 closed

[2020-10-07 13:39] ry commented on #1691
Working in 1.4.4

[2020-10-07 13:39] #1691 closed

[2020-10-07 13:52] ry commented on #2434
[code]

This seems correct

[2020-10-07 13:52] #2434 closed

[2020-10-07 15:23] timreichen opened #7861 "deno test log file paths"
As mentioned [here](https://discord.com/channels/684898665143206084/684911491035430919/763129882594508821):
There is a problem what tests belong to which file/module. `std` solves that currently with prefixing every test name. Though that works, I think there would be a better solution. `deno test` should log file paths to differentiate the tests like so for a better overview:
[code]

[2020-10-07 15:26] nayeemrmn commented on #7861
Duplicate of #4366. This requires some kind of isolation between runs on each module instead of just importing them all into the same environment.

[2020-10-07 15:26] bartlomieju commented on #4879
@caspervonb thanks for checking, I think this issue is resolved.

[2020-10-07 15:28] bartlomieju commented on #7861
CC @caspervonb for looking into this.

Closing as duplicate

[2020-10-07 15:28] #7861 closed

[2020-10-07 15:29] nayeemrmn commented on #4879
It's not resolved, there's actually a new bug where async errors in the repl don't bubble to the top:
[code]

[2020-10-07 15:30] bartlomieju commented on #4728
@nayeemrmn could you look into this issue? It would require to serialize the error in Rust, forward it to JS (worker host) and then properly reconstruct it

[2020-10-07 15:31] bartlomieju commented on #3498
WASM imports were removed before 1.0, so I'm going to close this issue as no longer relevant.

[2020-10-07 15:31] #3498 closed

[2020-10-07 15:32] bartlomieju commented on #3112
CC @caspervonb could you look into this issue?

[2020-10-07 15:33] bartlomieju commented on #4598
Checked on 1.4.4, no longer an issue.
[code]

[2020-10-07 15:33] #4598 closed

[2020-10-07 15:39] nayeemrmn commented on #4728
Based on browser behaviour, the worker should print errors to the terminal on its own. The parent worker is only made aware of the error if the user sets an error event listener on the worker object. I'll see what I can do.

[2020-10-07 15:41] bartlomieju commented on #4728
@nayeemrmn I think that's what happenning right now - if there's no error listener in the host then error is rethrown in host context. Thanks for looking into this 🙏

[2020-10-07 15:56] bartlomieju commented on #7070
@paul-thompson-helix thanks for detailed report. Closing as non-issue.

[2020-10-07 15:56] #7070 closed

[2020-10-07 15:57] caspervonb commented on #3112
So we no longer use errors to validate multi line inputs, but instead use brace matching.

[code]

[2020-10-07 15:58] #3112 closed

[2020-10-07 16:17] bartlomieju commented on #4728
@nayeemrmn I think that's not entirely correct - [according to spec](https://html.spec.whatwg.org/multipage/workers.html#runtime-script-errors-2) if there's no error handler attached to `Worker` then error should be propagated to the scope the worker was defined in - so send `error` event to the `window`

[2020-10-07 16:28] caspervonb commented on #4879
Hmm, seems like we don't have the wiring to catch that.

Should be able to hook into this notification but it is never fired.

https://chromedevtools.github.io/devtools-protocol/tot/Runtime/#event-exceptionThrown

[2020-10-07 16:30] nayeemrmn commented on #4879
Also to be clear about the original issue, we just want `Uncaught Error: ...` to instead be `Uncaught (in promise) Error: ...` when printing the error at termination.

[2020-10-07 16:42] crowlKats opened #7863 "WebGPU Implementation"
I have been looking at the [WebGPU spec](https://gpuweb.github.io/gpuweb/) and the [`wgpu` crate](https://github.com/gfx-rs/wgpu-rs) for a possible WebGPU implementation which arose from a discussion on the discord server.
Problem is, how would we handle the window on which the user would draw to? Adding a window manager to deno would definitively not be a viable solution. `wgpu-rs` does actually

[2020-10-07 16:44] nayeemrmn commented on #4728
It seems the _event_ should travel upwards, but I'm saying only the source Worker where the error occurred needs to be responsible for printing the genuine error stack (if it doesn't have a handler itself).

I'm proposing that if the source worker has its own error handler which prevents default, nothing is printed. If it doesn't, it prints the error stack to stdout and propagates an event error u

[2020-10-07 16:55] ry commented on #7863
Glad you're looking into this. I was imagining we would start with a windowless setup. The goal is to run tensorflow.js's WebGPU backend.
https://github.com/tensorflow/tfjs/tree/master/tfjs-backend-webgpu

[2020-10-07 16:55] 0kku commented on #7863
[citation needed]

I think the more useful use-case would be ML (TF with WebGPU backend), server side image processing, and other GPU compute tasks. I'm not sure how much sense it would make to write a UI in raw wgpu when you're writing JS/TS. Seems like a questionable pairing, and people probably should just host a PWA on the localhost and render in their browser if they want a GUI.

[2020-10-07 16:57] crowlKats commented on #7863
@0kku good point

[2020-10-07 17:20] caspervonb opened #7866 "Inspector runtime.consoleAPICalled is not implemented"
Notification that is supposed to be delivered on console.* calls

https://chromedevtools.github.io/devtools-protocol/tot/Runtime/#event-consoleAPICalled

[2020-10-07 17:25] bartlomieju commented on #7866
https://github.com/denoland/deno/issues/4502

[2020-10-07 17:33] caspervonb commented on #7866
Closing as dupe.

[2020-10-07 17:33] #7866 closed

[2020-10-07 19:20] lucacasonato opened #7868 "deno fmt is too lax"
Here are some cases I have discovered, that I feel `deno fmt` is too lax about. What I mean with this, is that `deno fmt` likes to maintain what currently exists, over forcing a certain style. I think `deno fmt` should force a certain style more often.

This list is just a few examples. We should go through all dprint config options that are currently set to `Maintain`, and check if they should no

[2020-10-07 19:23] lucacasonato opened #7870 "deno fmt doesn't handle jsx as well as prettier"
Here are some examples - top is denofmt, bottom is prettier:

### 1

[code]

[code]

### 2

[code]

[code]

### 3

[code]

[code]

### 4

[code]

[code]

I have more examples - but this should show the most annoying ones. Same issue as #7868 - we are too lax about rules.

[2020-10-07 19:34] lucacasonato commented on #7868
I have discovered a good way to see this phenomenon is to go to repos formatted with `deno fmt` (e.g. https://github.com/denoland/deno_registry2) and run prettier on them, then run `deno fmt` again. There is a difference between old `deno fmt` and `prettier`, and differences between `prettier` and new `deno fmt`, and differences between old `deno fmt` and new `deno fmt`.

[2020-10-07 21:47] ry opened #7871 "Remove cli/module_graph.rs"
All code should use `cli/module_graph2.rs`

[2020-10-07 22:11] ry opened #7872 "GlobalState should be a global variable"
Currently GlobalState is created in many places and passed through many functions. But according to the name, and as far as I can tell, it represents Global State - state shared between all workers/contexts inside the CLI. Therefore we should create a proper static global variable that holds GlobalState. Everywhere there's a function that has a `GlobalState` parameter, the parameter should be remo

[2020-10-07 22:17] ry commented on #7856
We're open to adding it to std, but it would be great if there was already some existing code to look at. Are the modules you have in mind already in deno.land/x ?

[2020-10-07 22:18] ry commented on #7854
Please see the ["Good First Issue"](https://github.com/denoland/deno/labels/good%20first%20issue) label.

[2020-10-07 22:18] #7854 closed

[2020-10-07 23:56] jsejcksn opened #7876 "performance.measure throws when measuring from navigation by providing undefined startMark"
Attempting to measure from navigation by supplying `undefined` for `startOrMeasureOptions` results in the following error:

[code]

Code to reproduce (works in supported browsers):

[code]

Spec:
https://w3c.github.io/user-timing/#dom-performance-measure

Source: https://github.com/denoland/deno/blob/d8879feb8c832dbb38649551b1cb0730874f7be6/cli/rt/40_performance.js#L247-L323

[2020-10-08 00:01] MohammadHonarvar commented on #7824
I'm using windows 10 too and i have the same problem.
Can somebody help us?

[2020-10-08 00:24] EricPoggel opened #7877 "Deno.test() and browser javascript"
There appears to be no feasible way to use Deno.test() to test code meant to run in the browser, which is the most common use of JavaScript:

[code]

If there's a way to do this, please document it.

Perhaps Deno could provide a global "document" variable that uses jsdom?  Or a way to define our own global variables present in all modules?

[2020-10-08 00:29] nayeemrmn commented on #7877
You're using `if (!window) {}` to test for a browser environment, which won't work because Deno has that variable. Use `if (globalThis.Deno == null) {}` instead.

[2020-10-08 00:34] EricPoggel commented on #7877
Thanks for the correction, but that doesn't help the main issue.

[2020-10-08 00:38] nayeemrmn commented on #7877
I don't know what the main issue is. What's in `some/module.js`? Is that code block supposed to be two different modules? Which part are you running in the browser?

[2020-10-08 00:43] EricPoggel commented on #7877
createElement() is a common function in many libraries that uses document.createElement() to create html elements.  I used some/module.js as a generic example of importing it from such a library.

Your previous comment mentions globalThis, which seems to not be documented on Deno.land?  A google of `site:deno.land globalThis` doesn't find any docs.

If I add `globalThis.document = dom.window.docum

[2020-10-08 00:44] Soremwar commented on #7877
`globalThis` is a JavaScript feature

[2020-10-08 00:45] EricPoggel commented on #7877
Interesting.  Thanks for the JavaScript help.  I'm now closing this issue.

[2020-10-08 00:45] #7877 closed

[2020-10-08 01:39] dsherret commented on #7259
I'm able to make this work by doing `WebAssembly.instantiateStreaming(response.then(r => r.arrayBuffer()) as any)`

[2020-10-08 01:50] dsherret commented on #7870
Some of these are just that it doesn't collapse line breaks automatically yet (so it will format the same if the line breaks are manually removed), but yeah, I've been using JSX more lately and have found some cases where it's lacking.

[2020-10-08 01:53] dsherret commented on #7868
Yeah, right now it's maintaining line breaks. I wouldn't recommend turning on the prefer single line configuration yet as it still needs more work for some edge cases... and there are a lot of edge cases.

[2020-10-08 01:57] Hamish-Bassett commented on #7739
Should this ticket have #7258 as a linked pull request? Or should it be closed?

[2020-10-08 02:14] JavaScriptDude commented on #515
I think that #2620 does answer and provide for a strong technical direction to answer the OP's request in this issue.

However for the record, there are other aspects of the OpenBSD Pledge design that can be quite useful, that were not formally discussed here or in #2620 .

If we could, at Deno boot, grant a "main" function of the program to have the exclusive right to grant and revoke authorizati

[2020-10-08 03:11] caspervonb commented on #7873
Can't reproduce 🤔

[2020-10-08 04:35] EricPoggel opened #7878 "Second Deno.test() leaking async ops if JSDOM is used."
Why does the first test pass but the second test fail?  Normally I'd assume JSDom is leaking async events and submit the issue there.  But it only fails if the 'b' test is also present, making me think it's a Deno issue?

Minimal code to reproduce the issue.  All tests will succeed if JSDom is not used, or if the 'b' test is removed.  If writing complex code across multiple tests, they succeed if

[2020-10-08 04:49] qwerasd205 commented on #7878
It would seem that during the 'b' test, an async op is completed in the background, causing the diff to be, well, different. This behaviour of basing it on absolute diffs does seem wrong to me. It can be reproduced much more simply with the following code:
[code]

[2020-10-08 05:08] EricPoggel commented on #7878
Is there a way to make it only track async ops that are started and completed from within the test code, ignoring those happening outside?

[2020-10-08 05:11] EricPoggel commented on #7878
As a crude solution, I've found that adding a small sleep before the tests solves the problem:

[code]

[2020-10-08 05:12] ebebbington opened #7879 "Permission Issues With Deno.run"
**Example**
[code]
[code]
[code]
[code]

**Problem**
Getting errors that there isn't enough read access - i assume it's a bug that the permissions isn't taking into account the `cwd`?

[2020-10-08 05:23] magurotuna commented on #7844
Seems like #7878 also has something to do with this issue

[2020-10-08 05:23] nayeemrmn commented on #7879
Can't reproduce any unexpected behaviours with the `cwd` option. There's something wrong with this repro since you haven't put any test modules in `dir_one`.

[2020-10-08 05:24] ebebbington commented on #7879
Ok hold one mo

[2020-10-08 05:24] qwerasd205 commented on #7844
Yeah, it does seem to be caused by the same thing, an unrelated async op completing during a test causing the diffs to vary.

[2020-10-08 05:28] ebebbington commented on #7879
[code]
[code]
[code]
[code]

[2020-10-08 05:34] nayeemrmn commented on #7879
[code]

[2020-10-08 05:36] ebebbington commented on #7879
Thanks @nayeemrmn, then surely it's a bug we can't specify more than one for a permission in `Deno.run`? eg can't do `--allow-write='private,src'` or `--allow-net='cdn.deno.land,api.github.com'`?

[2020-10-08 05:36] nayeemrmn commented on #7879
Again, remove the quotes.

[2020-10-08 05:38] ebebbington commented on #7879
It's odd though that it would work outside of `Deno.run`, quite inconsistent behaviour?

[2020-10-08 05:38] nayeemrmn commented on #7879
Your shell is doing that.

[2020-10-08 05:42] ebebbington commented on #7879
Oh right :/ cheers again

[2020-10-08 05:42] #7879 closed

[2020-10-08 05:57] yanglr commented on #6061
I met the same issue when installing Deno on Windows 10, eventually I found it is a problem with my certificate files. There is an exsisting solutoin - [mkcert](https://github.com/FiloSottile/mkcert).

I opened PowerShell as admin, then run below command:
[code]

Then I can run the `.ts` code successfully.

Linux or Mac, please refer to the README of [mkcert](https://github.com/FiloSottile/mkcert)

[2020-10-08 07:10] kitsonk commented on #7876
It is a mistake in my implementation of the spec.  It says:

It isn't checking if it is a non-empty object (which is the default value of the argument). Line 252 should be something like this:

[code]

And it needs some tests added to the unit tests.

[2020-10-08 07:47] lucacasonato commented on #7870
Yeah this is what I have seen too. I think we can fix a lot of this by tweaking some configuration dials.

[2020-10-08 09:09] caspervonb commented on #5843
From the client's perspective; the context gets destroyed

[2020-10-08 09:17] bartlomieju commented on #7739
Resolved in `deno_lint`.

[2020-10-08 09:17] #7739 closed

[2020-10-08 09:43] #7839 closed

[2020-10-08 10:02] OliverBrotchie opened #7881 "Support for primitive numeric types"
A proposal to support primitive numeric types in a similar manor to [AssemblyScript](https://www.assemblyscript.org/types.html#type-rules).

**For example**:
[code]

**With casting between numeric types like this:**
[code]
Giving access to them would not only make possible improvements on memory efficiency, but also run time speed.
Compiling to Deno is also now supported in [Wasm-pack](https://rus

[2020-10-08 10:04] bartlomieju commented on #7872
I still believe we shouldn't make `GlobalState` a global variable. Making it a global variable will significantly complicate test setup - right now, we're creating `GlobalState` struct on demand as needed.

The main problem with this struct is that ongoing refactors all depend on what's going on in `GlobalState` - we keep `TsCompiler`, `InspectorServer`, as well as `SourceFileFetcher` - all of tho

[2020-10-08 10:09] qwerasd205 commented on #7881
Because Deno works by running JavaScript (compiled from TypeScript if the input file is TypeScript) in v8, which is a JavaScript engine, implementing the ECMAScript specification, which does not have any concept of primitive numeric types outside of TypedArrays. I don't think it would be very easy to add additional types, much less trivial as you seem to imply it would be.

[2020-10-08 10:12] bartlomieju commented on #7881
Non-issue for Deno.

[2020-10-08 10:12] #7881 closed

[2020-10-08 10:34] solson commented on #515
On Deno `--unstable`, I think you may be able to implement something like `pledge(2)` already (see `deno doc --unstable --builtin Deno.Permissions`):

[code]

Which would let a program start with broad permissions, do some setup, and then restrict to much narrower permissions for the rest of its runtime, so I guess this issue ties into the possible stabilization of that API. Is there anything else

[2020-10-08 10:56] caspervonb commented on #5843
Minimal reproduction, this happens on any error.

![Screenshot 2020-10-08 at 6 55 33 PM](https://user-images.githubusercontent.com/157787/95449821-dbf65e00-0997-11eb-8848-bdd7805fd968.png)

[2020-10-08 12:14] jsejcksn commented on #7876
@kitsonk Where are they located?

[2020-10-08 14:31] JavaScriptDude commented on #515
Awesome. That is the big feature for me. I'm OK with closing this ticket.

[2020-10-08 15:29] ry commented on #7872
Ok thanks for the explanation. I concede it's useful to change that for tests and that we shouldn't change this while we're refactoring module_graph/tsc/file_fetcher.

[2020-10-08 15:29] #7872 closed

[2020-10-08 16:15] MarkTiedemann opened #7887 "Manual missing on website"
https://deno.land/manual shows "404 - Not Found" for the v1.4.5 manual.

Switching to v1.4.4 (https://deno.land/manual@v1.4.4/introduction) works - the old manual is still available.

[2020-10-08 16:44] ry commented on #7887
Fixed

[2020-10-08 16:44] #7887 closed

[2020-10-08 17:08] IRoninCoder commented on #47
OK now I'm confused, why import maps and not [standard typescript paths mapping](https://www.typescriptlang.org/docs/handbook/release-notes/typescript-2-0.html#path-mapping)? Specially since `paths` can be optionally split into their own file using [configuration inheritance](https://www.typescriptlang.org/docs/handbook/release-notes/typescript-2-1.html#example-9)? I must be missing something here

[2020-10-08 17:13] MarkTiedemann commented on #7887
Thanks, @ry!

[2020-10-08 17:14] lucacasonato commented on #47
Because import maps are a browser standard that also work for JS (not only typescript)

[2020-10-08 17:18] IRoninCoder commented on #47
@lucacasonato how about support for `paths` can be an additional feature when using typescript.

[2020-10-08 17:38] Soremwar commented on #47
@IRoninCoder TypeScript paths aren't meant to be used with URLs (which would require extra thinkering in the TS side to make it work like that) and it would complicate a lot more the module resolution system Deno uses, rather than just appending import maps to it.

Also, see #7732 which would effectively remove the capability to do that.

[2020-10-08 18:42] 5chulzi opened #7888 "URLSearchParams: \n not encoded correctly"
When encoding newline characters with URLSearchParams they result in value `%A` instead of `%0A`.

[code]

[code]
I'm not sure if I'm missing something in the docs or elsewhere, but that's what I noticed while using URLSearchParams in Deno.

[2020-10-08 18:45] EliteScientist commented on #5683
This would be nice. I'm working on a project where I need to dynamically spawn threads. I've attempted to use this method and received the same error. I attempted to make a worker that allows me to pass the model in and use dynamic imports to load the code and still get the same error.

The only other option I see is to create an internal HTTP Server that will serve the worker code. (I'd prefer no

[2020-10-08 18:47] EliteScientist commented on #2726
My product is having the same issue. we need to dynamically create Workers and support dynamic imports from blob or object urls.

I'm using 1.4.5

[2020-10-08 23:34] EliteScientist opened #7890 "Import maps do not work within workers"
Attempting to load any ts file into a worker where an import map is used fails within the worker. It results in a relative import path error.

We extensively use import maps in our project to keep it clean and prevent having a lot of relative paths "../../../" in our imports.

[2020-10-09 03:12] nzakas opened #7891 "serve() error: "Uncaught InvalidData""
I've been trying to run Deno in Google Cloud Run and while I could get my code to run locally using Docker, I kept getting the same error when trying to run in Cloud Run.

Code:

[code]

The errors I received in Cloud Run are (may be a bit messed up, I tried unescaping the logs):

[code]

My Dockerfile is:

[code]

This Dockerfile worked fine locally but I got an error when using in CloudRun. I wa

[2020-10-09 03:36] andreespirela commented on #7856
@ry @getspooky Mandarine frameworks has a built-in session system. This one works as follows:
1- A request is received
2- A middleware verifies whether a “cookie for session” exists
3- An encrypted cookie is created (this cookie contains the session id) if it doesn’t already exist
4- A session object is created in the request context
5- If the session object contains new data, the session is store

[2020-10-09 03:48] Smithx10 commented on #515
@solson That looks great!  Can we revoke file system paths also like in https://man.openbsd.org/unveil ?

[2020-10-09 04:42] kitsonk commented on #7856
I tend to feel these are all framework concerns, and really don't belong in `std`.

[2020-10-09 04:43] kitsonk commented on #7890
Duplicate of #6675

Please ensure you search issue before opening new ones.

[2020-10-09 04:43] #7890 closed

[2020-10-09 04:59] kitsonk commented on #7852
It is more complex than that `run` was optional, `run` was required, `run` was optional, and then run was required.  The final decision was made in #4701 after quite a lot of discussion.

As for shorter flags... well I am sort of 🤷  personally, but we can see what others say.

[2020-10-09 05:02] kitsonk commented on #7863
Ref #5701, #1629

[2020-10-09 05:09] kitsonk commented on #7847
cc/ @piscisaureus @bnoordhuis

[2020-10-09 05:12] #7837 closed

[2020-10-09 05:17] kitsonk commented on #7829
This would take some designing, as a lot of what is standard in a browser as resource timings is not applicable to Deno.  What specifically are you suggesting on implementing?

In particular, having the information about `fetch()` would be interesting and useful, but it gets a bit more complicated since we moved `fetch` to an op_create.  @bartlomieju thoughts?

[2020-10-09 08:59] lucacasonato commented on #7891
This is exactly what I am thinking too. This could definitely use a more helpful error message.

[2020-10-09 09:06] bnoordhuis commented on #7847
@josh-hemphill Apologies if I misunderstand your question but doesn't this work?
[code]

[2020-10-09 10:01] josh-hemphill commented on #7847
Thanks. I think I can use that for my purposes. However, it only sort of works. It always seems to return error codes, especially if I try it in the REPL.

Do you think adding something to the docs about how the right way to use other shells might be warranted?

[2020-10-09 11:51] crowlKats commented on #7863
https://github.com/gfx-rs/wgpu/issues/869

[2020-10-09 12:08] bnoordhuis commented on #7847
More documentation is always good, pull request welcome.

What kind of errors do you see?

[2020-10-09 12:12] josh-hemphill commented on #7847
In REPL it would just return
[code]
and in code `cmd.exe` would always return the expected output but with `{ success: false, code: 1 }`
and with `bash` it would also return the expected result but with a similar output of `{ success: false, code: 127 }`

[2020-10-09 12:17] bnoordhuis commented on #7815
@trivikr The test is looking up and connecting to smtp.gmail.com:587 but that's a port some ISPs block to combat spam.

It's probably okay to mark the test as pass when it sees that error. Want to open a pull request?

[2020-10-09 12:55] piscisaureus opened #7899 "Tests failing, CI green"
From: https://github.com/denoland/deno/runs/1231321926?check_suite_focus=true#step:17:2019

[code]

[2020-10-09 12:56] bartlomieju commented on #7899
Similar failures can be observed on `master` - there are 6 failing tests in `std/` that print `FAILED`.

[2020-10-09 12:56] piscisaureus commented on #7899
Could it be that those are the 6 ignored tests after all?

[2020-10-09 12:57] bartlomieju commented on #7899
No, they don't have `ignore` option specified.

[2020-10-09 15:01] solson commented on #515
[code]

These types imply `Deno.permissions.revoke({ name: "read", path: "/a/b/c" })` should work (and likewise for `write`).

One thing I'm not sure of is whether we *actually can* implement a `pledge(2)`-like yet. It seems like we would need a function to revoke "all except for this explicit allowlist" (like `pledge(2)`), or at least a way to enumerate all currently granted permissions so we cou

[2020-10-09 15:02] trivikr commented on #7815
Sure.

What's the procedure to mark a test as pass/ignore/flaky?
Is there a central config maintained somewhere or it needs to be defined per test?

The unit test to be marked as pass/ignore/flaky is https://github.com/denoland/deno/blob/2ae59318ee708306d852ffd8aae5b1ab62cb3455/cli/tests/unit/tls_test.ts#L185-L187

[2020-10-09 15:20] trivikr commented on #7815
Draft PR created at https://github.com/denoland/deno/pull/7904

How to ignore the test only when `smtp.gmail.com:587` is blocked by ISP?

[2020-10-09 15:51] nzakas commented on #7891
Just verified: indeed it is the case that is `PORT` is a string, I get this error. :+1: to having a better error message, though it seems like this could be addressed by converting to a number if the port value is not a number (Express does this, afaik).

[2020-10-09 16:35] lala7573 commented on #7888
Hello, can I try this?

[2020-10-09 18:59] andreespirela opened #7906 "Proposal: std/mail , std/smtp"
Hello there.

I think it would be nice to have `mail` or `smtp` or both in `std`. This is very necessary for many applications & really many things are involved in this kind of package including the security aspect so I think it's ideal for Deno to have something official in the `std` packages.

Current implementations in GO std:
https://golang.org/pkg/net/mail/
https://golang.org/pkg/net/smtp/

[2020-10-09 20:23] Ayfri opened #7907 "Cannot import all the files from a folder."
Hi!
I'm making a Discord bot with dynamic commands (automatic loading/reloading).
It's not my first Discord bot but all previous was made using node.js and `require()` to do this dynamically.
But here it doesn't work using `await import()` :/

Here is my code :
[code]
I have two commands, named `CompileCommand.ts` and `ReloadCommand.ts`, this is the code of the command `reload` :
[code]
So when I

[2020-10-09 22:00] jersou opened #7909 "deno v1.4.5 use 100% of CPU if it start an HTTP server"
With deno 1.4.5, I have 100% CPU usage with all scripts that use an HTTP server, I don't have these problems with 1.4.4:
[code]
![cpu](https://user-images.githubusercontent.com/5874319/95634354-01639480-0a8a-11eb-8cc7-a1e9ab62550f.png)
My OS : Ubuntu 20.04.1 LTS

[2020-10-09 22:30] jersou commented on #7909
To be sure, I tried it from docker containers :

The Dockerfile :
[code]
Build and run the 2 versions :
[code]

[code]

[2020-10-09 22:59] jersou commented on #7909
There is no relation to HTTP server finally, I have the same bug with catj example and others :
[code]
It's a strange bug, I guess deno doesn't have this behavior on all machines.

[2020-10-09 23:38] lorenbrichter opened #7910 "Un-catchable 'import()', Deno crash (V8 bug?)"
Not sure if this is rooted in a V8 glitch, but it still causes Deno to terminate. Basically can't seem to 'catch' an exception when importing a module a second time. Exception flies right to the top and terminates Deno. Tried to make the smallest possible case reproducing the issue:

     % deno run --allow-read test.js
    about to import...
    caught
    about to import again...
    error: Unca

[2020-10-10 02:46] ry commented on #7909
@jersou Thanks for the report - this is indeed a major oversight. I have a fix and we will make a new release tomorrow.

[2020-10-10 03:23] kitsonk commented on #7910
Duplicate of #6259

[2020-10-10 03:23] #7910 closed

[2020-10-10 03:28] kitsonk commented on #7907
@bartlomieju feels like it is related to #7549 and #7672

[2020-10-10 05:20] #7888 closed

[2020-10-10 09:41] #7909 closed

[2020-10-10 09:45] bartlomieju commented on #7907
Fixed in #7911

[2020-10-10 09:53] bartlomieju opened #7915 "Q4 2020 roadmap"
Update 2020-12-30: we're not gonna upgrade to Tokio 0.3, but instead go straight to Tokio 1.0 (#8779), however we're still blocked by a few dependencies. Given that ResourceTable refactor eliminated most of the quirks/hangs and year is nearing the end I'm gonna close this issue as resolved.

Update 2020-12-17: rewrite of ResourceTable landed in #8512 and migration to Tokio 0.3 is in progress in #8

[2020-10-10 11:27] Ayfri commented on #7907
It still doesn't work :/
Now I'm getting an error but it makes no sense :
[code]
The two commands that I have are exported the same way so it shouldn't say this 🤔

[2020-10-10 11:45] bartlomieju commented on #7907
@Ayfri this is more complex bug after all - it was fixed partially in #7672 but had to be reverted in #7911 - I will work towards fixing that in the coming days.

[2020-10-10 12:06] Ayfri commented on #7907
Okay no problem, I'll wait.

[2020-10-10 12:18] lucacasonato commented on #7906
I wonder if we could implement mail parsing in wasm based on https://docs.rs/mailparse/0.13.0/mailparse/.

[2020-10-10 12:56] chenxyzl commented on #7915
maybe gpu support for ML?

[2020-10-10 13:28] iykekings commented on #7915
@bartlomieju I have moved #6124 to #7916

[2020-10-10 13:29] bartlomieju commented on #7088
I did some debugging of this issue - creating a promise without ever resolving/rejecting it doesn't really cause the process to exit - it causes to stop execution of remaining JS code in the runtime without any error - `load` and `unload` event handlers are still triggered.

Maybe it's related to the fact that `TestRunner` (internal class used to run tests one by one) is an async iterator itself?

[2020-10-10 14:22] KatsuyaAkasaka opened #7918 "docs link is missing"
https://github.com/denoland/deno/blob/master/docs/examples.md
↑these links embeded in this page are missing!

[2020-10-10 14:32] KatsuyaAkasaka commented on #7918
And I will fix this!

[2020-10-10 15:08] newtack commented on #7915
Is TranspileOnly use with swc still slated for 1.5?

[2020-10-10 15:45] bartlomieju commented on #7899
Failure introduced in https://github.com/denoland/deno/pull/7917#pullrequestreview-506103190
Caused by https://github.com/denoland/deno/issues/7088

[2020-10-10 15:45] #7899 closed

[2020-10-10 15:55] iykekings commented on #7676
Since we are using visit, I added option to crawl
1. functions
2. classes
3. var declarations as far as their init is a function, class or object
4. Also methods inside classes and objects are crawled too

[2020-10-10 16:12] bartlomieju commented on #7088
I've narrowed down the problem to only sync test functions that return promises. That would suggest bug in our test runner implementation.

[2020-10-10 17:23] KyleJune commented on #7873
Here is another reproduction path using `deno test` and no third party modules.

I'm using WSL for running deno, not sure if that is relevant to the issue.
VS Code 1.50.0
deno 1.4.5
v8 8.7.220.3
typescript 4.0.3

example_test.ts
[code]

.vscode/launch.json
[code]

When I run deno test in VS Code, the debug console shows the following:
[code]

The execution breaks immediately showing colors.ts file

[2020-10-10 18:02] Soremwar commented on #7873
@KyleJune Can reproduce
![image](https://user-images.githubusercontent.com/42647963/95661917-ce0c1e80-0af8-11eb-89aa-033112f49584.png)

I;m using Manjaro Linux so I doubt OS has something to do with it

[2020-10-10 20:08] kitsonk commented on #7915
@newtack that would be part of #4752

[2020-10-10 23:05] ebebbington commented on #7915
great news that https://github.com/denoland/deno/issues/7727 is on the roadmap (as part of the bugs section), got a browser testing module i want to release but unsure if it'll end up being possible to fix the problem i have

[2020-10-11 01:58] trivikr commented on #7815
Refs: https://github.com/denoland/deno/pull/7904#issuecomment-706490056

[2020-10-11 04:37] kitsonk opened #7927 "Represent type-only dependencies in deno info"
Currently we do not represent type only dependencies (`@deno-types`, `X-TypeScript-Types` and triple slash types directives in JS files) in the output of `deno info`, even though they are part of what gets loaded and cached and are part of the module graph.  We should reflect this in both the output to the terminal as well as the JSON structure.

[2020-10-11 04:48] AndyBarron opened #7928 "Feature request: CLI available as library"
I'm working on a project where I'd like to instantiate multiple instances of the full Deno runtime from within Rust code. Because the `cli` package only provides a binary, that isn't currently possible. I'd like to avoid the inefficiencies of shelling out to multiple separate Deno processes, and instead spin them up in Rust threads.

Adding a `[lib]` target to `Cargo.toml` in the `cli` package wou

[2020-10-11 07:05] callionica opened #7929 "API request: toFileURL"
Deno should provide a function to convert a system file path to a file:// URL.

Without this, people will just create their own with varying levels of testing and degrees of success.

In particular any function should work for Windows and other systems, and should correctly encode question marks and hash symbols.

[2020-10-11 07:11] ebebbington commented on #4568
@lucacasonato I get the same issue when the sub process is asking for stdin (different to what i mentioned before), it just hangs on the `await p.status()`, not sure in this scenario if it's possible to address or even a bug

[2020-10-11 07:12] martonlederer commented on #7929
I agree, I had this problem when creating a module last week.

[2020-10-11 09:50] lucacasonato commented on #7929
How should this be done? This seems rather opinionated.

[2020-10-11 10:47] timreichen commented on #4203
#7906

[2020-10-11 11:20] bartlomieju commented on #7928
We had `lib` option specified some time ago, but in https://github.com/denoland/deno/pull/5226 we decided to remove it - Deno is being developed very fast and each patch release would introduce breaking changes in the Rust interface - that's why it's considered private. There are no plans in the immediate future to change that.

[2020-10-11 11:31] ynwd opened #7932 "Multipart Error after upgrading to version 1.4.6"
This error occurs after upgrading to version 1.4.6

[code]

[2020-10-11 11:57] ynwd commented on #7932
[code]

[2020-10-11 13:15] callionica commented on #7929
If a file name contains a hash or question mark it needs to be encoded otherwise it'll be interpreted as a fragment or query string in the URL. Seems more like a correctness issue than an opinion, but maybe I'm missing something. What're you thinking, Luca?

[2020-10-11 13:23] bartlomieju commented on #7929
This is the same problem as in caching remote sources in$DENO_DIR/deps - we've never fully figured it out and it's pretty non-trivial functionality to get it working on all systems.

[2020-10-11 13:30] nayeemrmn commented on #7929
No it's really simple, both `std` and the runtime internals have a `fromFileUrl()` which has uses some decoding scheme, we just need to `toFileUrl()` which uses the equivalent encoding scheme. The scheme should affect characters which are valid in file paths but mean something else in a URL string. Right now we use `{en,de}codeURIComponent()`, which kinda works if we make some exceptions for certa

[2020-10-11 14:10] ynwd commented on #7932
[code]

[2020-10-11 14:54] Nerixyz opened #7935 "WebSocket adds empty protocol header"
Even without specifying a protocol in the `WebSocket` constructor, a `Sec-WebSocket-Protocol` header is added with an empty value.

Some WebSocket servers reject this empty header and fail the connection.

Edit:

As I understand, the WebSocket specification says, the value of `Sec-WebSocket-Protocol`, if present, has to be a non empty string:

        |Sec-WebSocket-Protocol|.  If present, this va

[2020-10-11 15:22] bartlomieju commented on #7929
@nayeemrmn ooops, you're right. I thought about converting any URL to a valid filepath. My comment is off-topic then.

[2020-10-11 15:43] Soremwar commented on #7873
@caspervonb Tons of errors, not sure if any is related
[code]

[2020-10-11 18:11] JeremyJaydan opened #7938 "Deno.repl() feature suggestion"
It'd be neat if we could trigger the deno repl from within a script and specify the initial input.

Below script here would launch a deno repl that inputs `1 + 1`, then returns the result, and waits for further inputs.
[code]

A possible use case is for cli tools that have apis, the below script would launch a deno repl with your own prelude:
[code]
Above could be executed by your main cli command

[2020-10-11 19:12] andreespirela commented on #7938
This could be nice, I can see several use cases such as running external scripts in a dynamic way. It may even work for dynamic automation & having the Deno namespace available

[2020-10-11 19:33] #6394 closed

[2020-10-11 19:52] #7153 closed

[2020-10-11 20:04] #7633 closed

[2020-10-11 22:11] kitsonk commented on #47
`paths` are only to provide the TypeScript compiler for information of where code exists at runtime. Since We no manages both the compilation of TypeScript and where code is "located" at runtime, `paths` is a non-sensical config operation and is ignored.

[2020-10-11 22:48] ynwd commented on #7932
It happens with `--no-check`

[2020-10-11 22:48] #7932 closed

[2020-10-11 23:03] kitsonk commented on #7938
How would this be better than `eval()` or `new Function()`?

[2020-10-11 23:05] #7783 closed

[2020-10-11 23:05] andreespirela commented on #7938
As far as I am aware, eval doesn’t have acess to the Deno namespace, eval is purely javascript code (is this right?) with `Deno.repl` you could have access to the Deno namespace and execute deno scripts dinamically.

Note: I didn’t suggest this feature, I’m just commenting from what makes sense to me, since “eval” would be the same thing so I’m guessing Deno.repl is to be used for deno scripts

[2020-10-11 23:19] kitsonk commented on #7938
@andreespirela `eval()` runs in the same context where it is invoked.  Just try `eval("Deno.cwd()");` (same with `new Function()`)

[2020-10-11 23:21] andreespirela commented on #7938
You’re right @kitsonk , then I guess my question is the same as yours, how is it different from eval.

[2020-10-12 05:40] balupton commented on #47
Regarding the above, to reiterate, https://github.com/bevry/make-deno-edition generates a compatible edition with all necessary path remapping automatically performed; for local deps, deno deps, and node_module deps.

[2020-10-12 06:21] JeremyJaydan commented on #7938
Hey @kitsonk @andreespirela

What I'm referring to is starting a deno repl via script. When you type the `deno` command in the terminal, that is the deno repl I'm referring to.

1. Imagine having the following in a script called `lodash.ts`
[code]

2. Then you did `deno install ./lodash.ts`

That would install that script with the command `lodash`.

3. When you type `lodash`, an interactive deno r

[2020-10-12 06:26] crowlKats commented on #7863
I came up with a solution for adding window support for webgpu without adding any other deps.
This would require plugins to have access to the resourcetable tho.
The community (or we in std) would create plugins for rust window handlers. The surface which you pass to wgpu is created with a param that needs to be a [`raw_window_handle::HasRawWindowHandle`](https://docs.rs/raw-window-handle/0.3.3/ra

[2020-10-12 06:32] 00ff0000red commented on #7732
Personally, I have no problem with writing super strict code, and I find that code written in a hyper strict way is the safest code that one can get their hands on.

The Rust compiler's defaults are very strict, and I love it, so I don't really need to change anything when writing Rust.

C++ compilers are not strict at all, actually, they're laughable unstrict, allowing weird, unsafe code to pass

[2020-10-12 06:48] ynwd commented on #6722
@ry Is there an update on this ?

[2020-10-12 06:49] JeremyJaydan commented on #7938
Also regarding the above pr mentioned, instead of adding a flag to the deno cli you could write a script that takes in an argument like this:
###### custom_repl.ts
[code]
installing: `deno install ./custom_repl.ts`
running: `custom_repl https://deno.land/x/lodash@4.17.19/lodash.js`
[code]

[2020-10-12 07:52] TooTallNate commented on #7649
Should this be re-opened considering that https://github.com/denoland/deno/pull/7672 was reverted?

[2020-10-12 08:21] fauzan121002 opened #7943 "Main thread panic with DOMParser.parseFromString() - Deno DOM WASM"
I'm running into strange issues while running domparser parseFromString() function.

Example code usage :
[code]

the errors i getting is :

[code]

PS: My deno version is 1.3.1

[2020-10-12 09:30] kitsonk commented on #7943
What happens when you upgrade to a new version of Deno?

Also what is the operating system?  I suspect it is a windows machine and there were several challenges/fixes related to file name handling on windows between 1.3.1 and the current release.

[2020-10-12 10:32] bartlomieju commented on #7938
@JeremyJaydan I agree that this feature is useful, however I don't agree on the API - @solson proposed similar solution in #7427, but I think we should accept `<script>` argument to `deno` or `deno repl` and execute provided script on REPL startup.

[2020-10-12 10:33] bartlomieju commented on #7943
Most likely the `path` argument is something like `d:\foo\bar` - try prefixing with `file://`

[2020-10-12 11:00] fauzan121002 commented on #7943
Thanks! i figured it out , it was from some file who need to use d scheme , and for now i use TextEncoder for parse it.

[2020-10-12 11:02] fauzan121002 commented on #7943
yes, it is a windows machine , but now i solve that in my own way by built in TextEncoder instead of that deno-dom lib.

[2020-10-12 11:03] fauzan121002 commented on #7943
I will close this issue, thanks guys for your comment.

[2020-10-12 11:03] #7943 closed

[2020-10-12 11:03] JeremyJaydan commented on #7938
I'd be happy with either, though I think Deno.repl has potential in terms of being a tool you can use in your code to manipulate state within a script similar to browser devtool repls, that's somewhat a different idea to this whole issue though.

[2020-10-12 11:47] fauzan121002 commented on #7824
I'm also getting this issue by Oak Server  , windows 10 , can somebody help?

[2020-10-12 12:11] piscisaureus opened #7945 "Awaiting never-resolved promise makes Deno hang & hot spin."
`deno run` this.

[code]

It spins because there is nothing happening any more, and tokio can't block the event loop for us (there's nothing to poll).

Deno should either:
* exit
* throw an exception similar to `UncaughtException`. Maybe `AwaitNeverException` or something?

[2020-10-12 12:18] bartlomieju commented on #7945
I've tried this in latest node and it exits silently with exit code 13.

[code]

[2020-10-12 12:49] bartlomieju commented on #7907
@Ayfri could you provide a reproduction steps that I could run locally to test it on your project?

[2020-10-12 12:54] james-and commented on #7907
first project

[2020-10-12 13:06] Skillz4Killz opened #7947 "Flags like --unstable Should Not Apply To Every Library"
https://github.com/denoland/deno/pull/7800 I just saw this now from a PR removing this in vscode plugin and am speechless. The amount of time I wasted editing hundreds of files on 5 different projects because this option was enforced because one of the deps that my modules user needed had unstable that had nothing to do with my modules at all :sob: Really disheartening to see all that wasted time

[2020-10-12 13:13] lucacasonato commented on #7947
You don't need to undo it - all code that worked with the `importsNotUsedAsValues: "error"` also works without. Also no-one is forcing you into supporting `--unstable`.

Yes it should. Permissions? All modules. `--no-check`? All modules. `--v8-flags`? All modules. `--config`? All modules. `--importmap`? All modules. The logical consequence is that `--unstable` also applies to all modules.

That is

[2020-10-12 13:31] Skillz4Killz commented on #7947
Code was made in my opinion to be much uglier so yes I will undo it. Maybe not as much as a rush as before, but for sure that ugly code should be cleaned up.

When Deno is telling my libs users that my lib is having errors and their projects can't run until my lib is fixed yes it is forcing. This isn't an option. Deno should not be applying --unstable to stable libraries.

There is already a full

[2020-10-12 13:44] andreespirela commented on #7947
I believe the impact you're experiencing is because when you use `--unstable` that sets `isolatedModules` to **true**. And that causes a downstream effect which I believe is what forces libraries to use `import type`, `export type`, is this right? @lucacasonato

[2020-10-12 14:12] nayeemrmn commented on #7947
Regardless of your experience, this is impossible. The `--unstable` feature set applies to the runtime API which is underneath all libraries imported into a project. By the way, this also has nothing to do with `--unstable` as the feature was on-track to be stabilised next minor version.

[2020-10-12 15:18] Skillz4Killz commented on #7947
@andreespirela Correct.

Then perhaps this entire concept needs to be rethought of using the `unstable` flag as a testing ground for testing potentially breaking changes to even stable projects. If Deno can't support clean use of unstable on specific areas of code then this isn't a good way to implement massive breaking changes.

@nayeemrmn Incorrect. My library has no dependencies on anything usi

[2020-10-12 15:28] andreespirela commented on #7947
@Skillz4Killz I understand the concern, I myself had to refactor a lot of code for one of my packages to work the same way I did when 1.2 came out which broke many packages. But I have to say, I don't think this is a Deno issue, there are several things to address:
1) As mentioned here https://github.com/denoland/deno/issues/7701 , as

Also mentioned by

The complexity of it can even make it an im

[2020-10-12 15:50] Skillz4Killz commented on #7947
@andreespirela How do you explain every library breaking that doesn't use --unstable? My library broke and it caused me to have to fix hundreds of files. The fact that another library can cause my library to be unusable is crazy. It is properly maintained and I try to keep it updated to TS changes all the time. In fact, I am even trying to be ahead of the curve and fixing for things in 4.1 which i

[2020-10-12 16:04] Ayfri commented on #7907
@bartlomieju I pushed the code into [this repo](https://github.com/Ayfri/tsc)
You can see my code to load commands into the `mod.ts` file.

This project is very experimental so it contains bad code ¯\_(ツ)_/¯

[2020-10-12 16:41] bartlomieju commented on #7907
@Ayfri thanks! I tested https://github.com/denoland/deno/pull/7946 on your project and it indeed hangs. I will investigate further.

[2020-10-12 17:21] crowlKats commented on #1629
I think [Glow](https://github.com/grovesNL/glow) would be the right way to go for WebGL support

[2020-10-12 17:51] 00ff0000red opened #7949 "Bug: asm.js line numbers are incorrect; Suggestion: Disable V8's asm.js code paths"
*I had originally written out a few hundred lines, attached an example module, and gave clear reasoning behind this. but had forgotten that my device's power was at 1% :)*

It seems that Deno logs completely bogus line numbers when validation fails on code ran under the "use asm" directive, can someone else confirm?
An approximately 50 line module was telling me that my error was in the 400s, yet

[2020-10-12 17:56] 00ff0000red commented on #7938
This seems like it ought to be done using `eval` or a `Deno.process` instead. What is presented at the start is perfectly equivalent to eval, with top-level await and module execution context.

[2020-10-12 18:00] 00ff0000red commented on #7945
How would Deno know that the promise will never resolve? Shouldn't it just keep the process alive?

I would check how browsers handle this, except... they don't have top-level await yet.

[2020-10-12 18:14] lucacasonato commented on #7945
Because no IO ops or timers are going on anymore (ie no timers scheduled to fire, no file reading going on). There is nothing the event loop is waiting for to complete. That means there is no way JS execution will be resumed ever (because there is nothing to trigger that), so the promise can never be resolved.

[2020-10-12 20:26] kitsonk commented on #7938
Now that I understand the feature, @bartlomieju I agree with you, `deno repl something.ts` should setup whatever before starting the REPL loop.

For the `deno install` challenge, a simple `--repl` flag? Or maybe a `--subcommand` flag to be future proof?

Cc/ @caspervonb

[2020-10-12 20:58] 00ff0000red commented on #7945
Ah yes, it can be determined if the event loop is depleted, and no code is being executed. Guess then it should be safe to error or exit.
Does the ECMAScript standard define what to do about never resolving promises in TLA, or just never resolving promises in general, and any specific conditions that must be met to mark it as never resolving?

Also, what about situations like:
[code]

Can it be sa

[2020-10-12 20:59] kitsonk commented on #7947
Woah. This is a lot of words...

First we have a point in time problem. We allowed a lot of TypeScript in Deno that causes problems with `--no-check`. Being able to type strip important feature for everyone. We needed a way to try to get folks to update their code in advance of us making it on by default. Being able to run code in Deno that works both with and without `--no-check` without errors i

[2020-10-12 22:49] Skillz4Killz commented on #7947
@kitsonk I agree wholeheartedly with you about almost everything you said. The one thing I slightly disagree with is that 1.5 will solve this issue. The problem isn't TS itself but the fact that `--unstable` is applied to all deps even those that are stable. Even if Deno 1.5 is released and TS defaults are complete we will still have issues.

- `--unstable` is being used as a testing ground.
- Use

[2020-10-12 22:52] caspervonb commented on #7938
Providing an API for the REP; not unless we want to allow the user to override completion, highlighting, validation, hinting, et cetera (I'm defenitivly against).

These are all now are in Rust which let us dump quite a bit of internal state, we're also in control of the threading model now so we can add gdb like debugging commands to it as-well, *eventually*.

Issue #3173 already asks for somethi

[2020-10-12 23:27] caspervonb commented on #7938
Except for that particular example not working, should be possible to echo && cat to unbuffer(1) tho.

[2020-10-13 00:06] solson commented on #7938
Yes, this will disable interactive readline features. I'm not familiar with `unbuffer` and didn't have it installed (so this would be an extra dependency for this usecase, and one that may not work on Windows at all), but when I try to do things like `(echo "console.log('do your stuff')" && cat) | unbuffer deno` it seems to hang and ignore input.

In general, I've never seen anything piping to an

[2020-10-13 01:12] #6094 closed

[2020-10-13 01:12] #4794 closed

[2020-10-13 05:34] sunsetkookaburra commented on #4862
note to self, i found this in the v8-flags
[code]

[2020-10-13 07:32] solson commented on #7849
I agree with your rationale. I would reserve `stderr` for things like Rust panics (it's where they go by default) and other implementation errors in the REPL itself, and otherwise expect all output to go to `stdout`.

I took a look at the mentioned languages and was slightly surprised to find this:

| Language | REPL errors written to |
| - | - |
| Ruby | stdout |
| Python | stderr |
| Lua | stder

[2020-10-13 07:43] solson opened #7953 "REPL panics related to invalid unicode"
I found a way to trip two different Rust panic messages in the REPL:

[code]

Note that these panics *only* occur in the REPL, and regular Deno code is unaffected as far as I can tell.

cc @caspervonb

[2020-10-13 07:46] bhavya32 opened #7954 "Confusing Claim on website[Request to edit website]"
I do not know if this is the right place for this issue. The deno website claims shipping single executable. A lot of people including me are getting confused that it compiles typescript to single executable file. Whereas it means that deno compiler is a single executable. What do you think of it?

[2020-10-13 07:56] caspervonb commented on #7953
Thanks for the heads up 👍

For reference, It's from a StringBuffer unwrap in the inspector so it only happens for local inspector messages that contains invalid unicode.

https://github.com/denoland/deno/blob/1956cb81372b96bc476e74ab43a62a6e60861277/cli/inspector.rs#L854-L868

[2020-10-13 08:34] lucacasonato commented on #7954
Deno is both a single file (deno.exe) and a can bundle JavaScript and typescript into a single file. So the wording is correct.

[2020-10-13 08:51] saroamirkhanyan opened #7955 "about native apps"
I'm interested, in the future it will be possible to create a native app by deno ? - was without electron etc.

[2020-10-13 09:07] David-Else commented on #7955
People have already started working on it :) https://github.com/webview/webview_deno

[2020-10-13 09:40] kitsonk commented on #7955
Duplicate of #3234

[2020-10-13 09:40] #7955 closed

[2020-10-13 09:41] #7954 closed

[2020-10-13 12:05] lucacasonato commented on #4981
Here are some use-cases which I have that would be directly solved by this issue:

#### Isomorphic Server Side Rendering

Deno is already a great choice for isomorphic server side rendering because it implements many web APIs like `fetch`. Currently some of these APIs have limitations which require the user to do some trickery to get them fully isomorphic. One example of this is relative fetch. Cu

[2020-10-13 12:21] bartlomieju commented on #7907
@Ayfri FYI I've fixed TLA implementation, but there's still a problem with your code - you've got circular import originating from dynamic import - when you import `ReloadCommand`, there an import to `mod.ts`, which in turns imports `ReloadCommand` dynamically. This will not work and would result in an error once #7946 lands - however that won't be the case in this specific example as one of your

[2020-10-13 12:59] lorenbrichter opened #7957 "Expose structured clone as serialization API"
I haven't quite convinced myself this is a good idea, but I think it is and might be worthy of consideration.

Exposing V8's implementation of the structured clone algorithm as an explicit serialization/deserialization API would be useful in a lot of contexts.

As an example: Cloudflare is implementing their transactional storage API by accepting naked js objects as values and serializing them int

[2020-10-13 12:59] lorenbrichter commented on #7957
Related to https://github.com/denoland/deno/issues/3557

[2020-10-13 13:00] yiss commented on #7829
Hi @kitsonk , Thank you for your reply. For my use case I'm using Deno to perform some performance tests. What I'm interested in particular is XMLHttpRequest phase and to be precise (TCP handshake (connectStart and connectEnd), and response (responseStart and responseEnd). This example also calculates the time from the start of the fetch and request start phases (fetchStart and requestStart, respe

[2020-10-13 13:04] yiss commented on #7829
I think we can make something like for https://github.com/denoland/deno/pull/6421

[2020-10-13 13:26] Ayfri commented on #7907
Yes, this code was just a test and wasn't defined to be public so I will restructure everything so it will be clean and functional ^^

Thanks for fixing that, I'm waiting for the release!

[2020-10-13 13:32] #4257 closed

[2020-10-13 13:45] shizonic opened #7958 "Issues building for void-linux"
After unpacking a release tarball (e.g. 1.4.6) the third_party folder is empty. Guess the step https://github.com/denoland/deno/blob/master/.github/workflows/ci.yml#L61 needs to be updated...

[2020-10-13 14:01] 00ff0000red commented on #7957
This specifically goes against what Deno is doing, they don't want to provide access to V8 directly.

[2020-10-13 14:04] JeremyJaydan commented on #7938
`--interactive` flag makes sense, also with the globals, perhaps if the interactive flag is specified then the repl could expose the evaluated script exports under the file name.

###### foo.ts
[code]
`> deno install foo.ts --interactive`
`> foo`
[code]

A problem with this though is that you couldn't have both interactive and non interactive for things like sub-commands unless more functionality

[2020-10-13 14:10] crowlKats commented on #7957
we will, just it is a matter of time. see #1699

[2020-10-13 14:23] #1928 closed

[2020-10-13 14:48] lorenbrichter commented on #7957
I suppose the fact that it's V8's structured cloning is just an implementation detail (it doesn't have to be, it just has to be implemented at the level where you have fast and deep access to js internals). Any sort of fast/binary serialization API would satisfy a lot of use cases, when the only alternative is `JSON.stringify`.

That said, I see the other side of the argument as well.

This only l

[2020-10-13 15:10] lucacasonato commented on #7958
Actually, why do you wan't the third_party folder? It shouldn't be required for building Deno.

[2020-10-13 15:16] shizonic commented on #7958
In this case I don't need it. Thought it is required because my build always failes.

Background: Try to package it for the Void linux distribution.

May you help me whats going wrong? Here is the Travis CI build log: https://travis-ci.org/github/void-linux/void-packages/builds/735400951

[2020-10-13 15:19] #7918 closed

[2020-10-13 15:23] lucacasonato commented on #7958
I think this distro only ships with musl right? Deno requires glibc.

[2020-10-13 15:32] shizonic commented on #7958
Not it ships with glibc too! This isn't the problem becsuse I can skip the musl builds. But it even doesn't build on glibc.

[2020-10-13 15:37] lucacasonato commented on #7958
The minimum supported rust version is 1.46.0. It seems your release is older. Also you need a very recent version of clang: https://github.com/denoland/rusty_v8#build-v8-from-source

[2020-10-13 15:39] shizonic commented on #7958
Oh okay this may be the cause. I will give it a try. Thanks for your help!

[2020-10-13 15:52] bartlomieju commented on #7088
When #7946 lands this issue can be resolved by updating `cli/test_runner.rs` to call `await Deno.runTests()`

[2020-10-13 16:58] 00ff0000red commented on #7949
@lucacasonato If I might ask since you marked it as such, what about this makes it a "breaking change"?

[2020-10-13 17:08] 00ff0000red commented on #7957
That's the root of the problem, providing any access to the "JS internals" results in implementation details one way or another, unless a very carefully setup API is provided. That API likely wouldn't be compatible with other JS runtimes.

[2020-10-13 17:34] solson opened #7962 "Typos in `consoleTestStringifyFunctionWithPrototypeRemoved` unit test"
https://github.com/denoland/deno/blob/f42d0fc99e37bb0583cddeca5367a1dcf83d53b8/cli/tests/unit/console_test.ts#L350-L363

In this unit test, `gf` and `agf` are currently both regular functions but appear to be intended to test against `GeneratorFunction` and `AsyncGeneratorFunction` the same way `f` and `af` are testing `Function` and `AsyncFunction`. Note that the output shouldn't change since it'

[2020-10-13 18:24] alexanderGalushka commented on #7686
has anyone looked at this?

[2020-10-13 18:26] puneetk commented on #7686
*bump*

[2020-10-13 19:41] kitsonk commented on #7829
Deno doesn't have a `XMLHttpRequest`.  If you are using it to instrument other code, then as you point out, it would just be a matter of using the user timing APIs.

[2020-10-13 20:06] shizonic commented on #7958
As far as I see void

Where did you see that? As far as I see Voidlinux uses version 1.46.0: https://github.com/void-linux/void-packages/blob/master/srcpkgs/rust/template#L7

LLVM 10.0 works too, right? (https://github.com/void-linux/void-packages/blob/master/srcpkgs/llvm/template#L3)

[2020-10-13 20:08] kitsonk commented on #7962
Fixed in #7930

[2020-10-13 20:15] lucacasonato commented on #7958
LLVM is a compiler backend, and not the same as something like gcc or clang (which is the compiler frontend that parses c / c++ and translates it LLVM IR). rusty_v8 hasnt been built with anything other than recent clang for a long time, so anything else (like gcc) likely won't work.

[2020-10-13 20:16] kitsonk commented on #7957
It isn't against what Deno is doing.

We need structured cloning working properly before we could consider this though. The challenge is that unless you are doing something with it (like sending it between workers or putting in a db) it doesn't make sense in a runtime isolate. Having it be something that plugins have easy access to though would be more important.

[2020-10-13 20:18] piscisaureus commented on #7958
Note that rusty_v8 will actually download clang automatically so it should "just work".
But we don't test on void-linux so I'm sure there will be some surprises.

[2020-10-13 20:27] shizonic commented on #7958
Thanks @lucacasonato and @piscisaureus for your great explanations and help. I really appreciate it!

Actually I guess the problem has something to do with gn because of this error log:

[code]

I gonna investigate further. Love deno and want it be packaged on Voidlinux.

[2020-10-13 20:44] piscisaureus commented on #7510
I suspect the restriction you’re running into is that the current working directory can’t use UNC paths.

This is why e.g. node can work long paths just fine, but it can’t chdir() into them or run executables with long paths.

Note that the “long paths feature“ that you’re talking about is something else - it goes a step further and allows “regular” paths to be long.

I wasn’t aware that enabling

[2020-10-13 20:46] piscisaureus commented on #4981
Reading material: https://github.com/whatwg/html/issues/1888

[2020-10-13 20:55] piscisaureus commented on #7958
gn should also be automatically installed though.

I wonder if you’re on a 32 bit system. We don’t support 32 bit builds.

[2020-10-13 21:04] shizonic commented on #7958
hmm okay

Voidlinux supports many archs: x86_64, i686, aarch64, armv7l, armv6l and all for glibc and musl libc. I can't build deno on any... even x86_64 glibc. Have a look at: https://travis-ci.org/github/void-linux/void-packages/builds/735400951

[2020-10-13 21:04] piscisaureus commented on #7958
Gn is typically downloaded by the cargo_gn crate somewhere into the build directory.
You can bring your own, but then you need to set the GN environment variable to point at it.
We download it from here btw - https://github.com/denoland/ninja_gn_binaries/tags

[2020-10-13 21:07] shizonic commented on #7958
Oh okay I used https://gn.googlesource.com/gn

[2020-10-13 21:26] kigiri commented on #6430
I confirm having this issue invoking a script with a symlink.

[2020-10-13 21:30] kitsonk commented on #6430
Could you provide more details.

[2020-10-13 22:56] 00ff0000red commented on #7957
Ah, my apologies, I had rashly assumed that this would fall under

But by all means, if the need for it exists and it's put under std/ or the Deno namespace.

[2020-10-13 22:59] 00ff0000red commented on #7957
I was unsure if it would ever end up on Deno's agenda, but it appears that there's already an issue for it.
I'm all for an IndexedDB in Deno, although... it does have a slightly over-complicated setup, but that's just my opinion.

[2020-10-13 23:08] kitsonk commented on #7957
[Structured cloning](https://developer.mozilla.org/en-US/docs/Web/API/Web_Workers_API/Structured_clone_algorithm) is not a V8 concept... it is an ECMAScript/JavaScript concept, though, like I said, its exposure as a runtime API is "questionable" because it isn't useful from within the isolate.  Really useful for "behind the scenes" things like plugins though.

[2020-10-13 23:11] 00ff0000red commented on #1657
Do you suggest limitations like that of the browser? Ex: 2MB - 5MB memory cap?

[2020-10-13 23:11] kitsonk commented on #7957
Actually, that being said... for some of the web APIs that we provide in Deno, it can be useful there... so something on `Deno.core` might make sense.  We have this in there at the moment:

https://github.com/denoland/deno/blob/374d433f1f4885686dc5c166be3a25c839e22959/cli/rt/01_web_util.js#L34-L36

Which we have to use in streams and potentially other APIs when transferring/cloning objects.

[2020-10-14 01:46] kt3k commented on #7962
@solson Thank you for catching this! That was a mistake.

[2020-10-14 04:19] jeiea commented on #6430
I cannot reproduce this with deno 1.4.2.

[2020-10-14 09:15] callionica commented on #1952
Any progress on this? Code doesn't fail, but it also doesn't do the expected conversion.

[2020-10-14 12:04] #7649 closed

[2020-10-14 12:04] #7945 closed

[2020-10-14 12:15] bartlomieju opened #7969 "deno_core shouldn't use "get_identity_hash()" to identify v8 objects"
Ref https://github.com/denoland/deno/pull/7946#discussion_r504192165

[2020-10-14 13:01] #7962 closed

[2020-10-14 13:19] #7088 closed

[2020-10-14 14:16] 00ff0000red commented on #7957
Yes, precisely what I thought of when I had last commented. Structured cloning is in the ES spec.

Yet the requested API asks for raw access to bytes

I doubt V8 even uses raw memory to encode them, but if it does, an API like this would forcefully expose implementation details, although it could be used for rapidly creating your own object by simply modifying the correct bytes.

The API exposed w

[2020-10-14 14:35] bartlomieju commented on #5677
@mdarse I just verified this problem again - both Deno and Node return `undefined` when this module is run and I believe this is correct behavior.

[2020-10-14 14:35] #5677 closed

[2020-10-14 14:58] 00ff0000red opened #7970 "web_util cloneValue returns Map instead of Set"
https://github.com/denoland/deno/blob/374d433f1f4885686dc5c166be3a25c839e22959/cli/rt/01_web_util.js#L94-L99

It seems that when given a `Set`, `cloneValue` returns a `Map` instead. Is that intentional?

[2020-10-14 15:06] bartlomieju commented on #6616
Should have been fixed in #7946 - will be available in 1.5.0 in two weeks.

[2020-10-14 15:17] bartlomieju commented on #7969
Ref https://github.com/denoland/deno/issues/1745

[2020-10-14 15:21] #5259 closed

[2020-10-14 15:23] #4792 closed

[2020-10-14 15:29] bartlomieju commented on #3827
The discussion in this issue got quite heated - I want to thank every participant for taking part in it.

That said... `deno fmt` uses `dprint` since January without a config flag and current status quo seems seems to work out pretty well. Closing as "wontfix".

[2020-10-14 15:29] #3827 closed

[2020-10-14 15:29] bartlomieju commented on #3811
This issue didn't get much traction. Closing as "wontfix"

[2020-10-14 16:44] hayd commented on #3827
You can now use the dprint cli to do this (which wasn't available before) https://dprint.dev/cli/

[2020-10-14 18:58] lucacasonato commented on #7949
Thinking about this again, you're right. This isn't a breaking change. The worst it would do is potentially slow down some ASM.js code. But as you mentioned, likely no-one is using it.

[2020-10-14 19:29] shizonic commented on #7958
How can I prevent fetching precompiled binaries during build process? See: https://github.com/void-linux/void-packages/pull/22043#issuecomment-629819836 and https://github.com/void-linux/void-packages/pull/25436#issuecomment-708605940

[2020-10-14 21:38] cknight opened #7978 "REPL incorrect behaviour on specific RegExp match"
The following RegExp causes the REPL to jump to a new line (expecting more input?) without executing the line, though more simple RegExp seem to work fine.  Using Deno 1.4.6 on Linux.

[code]
I've narrowed it down to the `[^{]` condition.  Taking out the `[^{]` condition allows the REPL to run the RegExp without the new line/more input needed behaviour.  Also the original RegExp works fine when ru

[2020-10-14 21:45] j127 commented on #3827
I don't think there was anything heated about the discussion. Maybe there is a misunderstanding?

Does that dprint CLI mean that you can pass options to deno fmt?

[2020-10-14 21:47] Soremwar opened #7979 "Proposal: std/testing callback helpers"
Use case: There is s still a strong drive for callbacks in the JS ecosystem. Even if it's true that Deno tries to go for an async drived programming, I consider there should exist tooling that can help to test this kind of code.

I already have a working POC [here](https://github.com/Soremwar/deno/blob/23ca827d0429b5f61428b20124156727898f5095/std/node/_utils.ts#L152-L189), actually used in the Nod

[2020-10-14 21:59] nayeemrmn commented on #7979
The problem isn't callbacks, "test that `f()` runs _x_ times in _n_ milliseconds" is just a really specific and strange testing helper. There are usually better ways of testing stuff like this which produce more helpful errors. It's not like you can have a big suite of tests that take a second each to run.

[2020-10-14 22:07] Soremwar commented on #7979
You are right in the fact the main use case isn't actually callbacks.

This code has been specially useful for testing event based code and callbacks that may or may not execute (I agree they are a crime against nature).

However if you think the need for such utility is too little to have inside `std/testing` I might just post it as a standalone module?

[2020-10-15 02:02] caspervonb commented on #7978
Yeah that would do it, its a simple brace balance check validator from rustyline.
Might have to go back to compiling in the validator.

[2020-10-15 02:32] hayd commented on #3827
No, if you want to use config options you need to use dprint rather than deno fmt.

[2020-10-15 06:26] 00ff0000red opened #7982 "Suggestion: remove everything mentioned in annex B of the ECMAScript standard"
* Probably a breaking change, since there's so much weird legacy code that's still being written today, even in Deno.
* Definitely breaks web compatibility, by definition.
* Likey breaks Node compatibility.

Currently, Deno already doesn't allow access to `Object.prototype.__proto__`, which was later defined in [annex B of the ES spec](https://www.ecma-international.org/ecma-262/6.0/index.html#sec

[2020-10-15 07:01] kitsonk commented on #7982
If v8 implements it, and there isn't a good reason to remove it, we won't remove it.  Some of them might be really difficult to remove.  Most things in Annex B are being moved out anyways, as TC39 wants to kill off Annex B.

Deno aims for browser compatibility where logical.  So yes, it does fall under this exception.  If it is implemented in v8 for "free", it is harder and riskier to un-implement

[2020-10-15 08:02] marcushultman commented on #3196
I'm made another tools, inspired b denoify that didn't meet my requirements:

https://github.com/marcushultman/denoc

[2020-10-15 09:36] crowlKats commented on #1657
@00ff0000red  yes, limit is going to be 5MB, just like in the spec.

[2020-10-15 10:31] bnoordhuis commented on #7969
I suggested implementing `Hash` and `Eq` with `promise.get_identity_hash()` and `promise.strict_equals(other)` respectively but I realize that means you need a `HandleScope` to unwrap the `v8::Global<v8::Promise>`.

Strictly speaking, you don't need one - a strong `Global` can be transmuted to a `Local`. Something like this could work:
[code]
Where `.map()` transmutes to `Local`.

Then again, mayb

[2020-10-15 12:11] ebebbington opened #7983 "Move `deno lint` to Stable"
**References**
![image](https://user-images.githubusercontent.com/47337480/96120932-35eeaa80-0ee7-11eb-934b-e3e88095347e.png)

**Why**
The main show stopper for some people i know of, for **not** using `deno lint`, is the fact it is unstable. Judging by @bartlomieju's response,  it doesn't seem to need the unstable flag anymore either.

I believe that people feel they would adjust their code base

[2020-10-15 15:13] tyler338 commented on #7957
node exposes similar [interface](https://nodejs.org/dist/latest-v14.x/docs/api/v8.html#v8_serialization_api) with use cases found on [github](https://github.com/search?l=JavaScript&q=%22v8.serialize%22&type=code)

[2020-10-15 15:28] 00ff0000red commented on #7982
I was legitimately expecting that this would merely be a few more `delete` operations at startup on the `Object` and `String` prototypes.
From what I could tell while looking around that proposal, they didn't seem to be at a complete consensus, as most still disliked the existence of the items in annex B, while others went so far as to outright call everything within annex B a "mistake" within ECM

[2020-10-15 16:46] ry opened #7984 "upgrade to tokio 1.0"
https://github.com/tokio-rs/tokio/releases/tag/tokio-0.3.0

[2020-10-15 16:51] timonson opened #7985 "HTTPS: Resumption ignored, DHE_KE not offered"
While running an https server on a Ubuntu machine I get the following error messages *spontaneously* . Although the server was not closed yet, I have experienced frequent and quiet server exits in the past which might be connected to this.

![Resumption_ignored,_DHE_KE_not_offered-2020-10-15](https://user-images.githubusercontent.com/54777088/96160877-d7412500-0f16-11eb-8b06-1cd2c76f8cb8.png)

@am

[2020-10-15 16:51] solson opened #7986 "Panics should not unwind into non-Rust code"
I just noticed and investigated something in the output in https://github.com/denoland/deno/issues/7953 that I somehow missed the first time around, after the usual panic message:

[code]

A normal Rust panic does not SIGABRT. With the standard panic handler, first they print the panic message and backtrace, and then they try to unwind. That is where this panic aborts, because it happens inside a

[2020-10-15 16:53] bartlomieju commented on #7984
I'm working on this

[2020-10-15 17:06] 0kku commented on #1968
An external library wouldn't work on regexes. I surely hope people aren't expected to recompile all their regexes to be Deno-compatible... None of the Unicode category matches work in Deno, and an external import won't fix regex literals.

[2020-10-15 17:07] 0kku commented on #1968
with ICU is 47 MB
ICU has gotten a _lot_ more features since FF4.

[2020-10-15 17:23] nu8 commented on #1968
Fair enough. My point still holds until through Firefox 23 (2013), but after
that is does surpass Deno 😂

[2020-10-15 18:18] Lonniebiz commented on #1968
I reported this bug on Jan 31, 2019 (see #1636). That's approaching "2 years ago".

Nodejs supports this standard and so does every major web browser.

Does Deno not intend to support [internationalization](http://www.ecma-international.org/ecma-402/)?

I'm just curious: what's the main reason for delay on this? Is it due to "apprehension over whether or not to support it", or (more so) due to the

[2020-10-15 18:42] nu8 commented on #1968
@Lonniebiz adding ICU is not trivial, both "politially" and technically. I say political, as many programs exist today that make no use of ICU, and dont need to use ICU.

So you could say that a large portion of the userbase would get no benefit from this, and in fact would be encumbered by it, as ICU adds to my understanding, somewhere on the order of 10 MB to the output binary size. People will

[2020-10-15 19:15] silverwind commented on #1371
There needs to be both a environment variable and a `fetch` option for this. The former should be chosen over an cli argument for cases when one does not have control of the arguments passed to `deno`, which certainly will be the case sometimes.

[2020-10-15 19:22] andreespirela opened #7990 "Plugin hangs on single-threaded runtime"
Hello.

For the last couple days, I have been working on a plugin for Deno. This plugin requires the use of `tokio`. At first, it wouldn't have required, but some strange things started happening Deno was "not granting access" to the current tokio runtime (not sure if that's the right way to word it). More information here: https://discord.com/channels/684898665143206084/689420767620104201/7661006

[2020-10-15 19:43] kitsonk commented on #1968
It is two fold.  Priority and finding the right balance of the functional needs with the "cost" of adding ICU.  If we add all of the ICU that will dramatically increase the size of the executable, for something that not everyone needs or uses.  If we put just `en-us`, that is more reasonable, but then do we need to have a mechanism for loading other regions?  Probably, then that gets into the more

[2020-10-15 20:07] j127 commented on #3827
It seems like the decision to close this issue will just encourage people to use other formatting tools that at least offer some basic configuration options. It doesn't make sense to use `deno fmt` when it has fewer options than even the formatter it's based on and other formatters like prettier are one-line installs.

[2020-10-15 20:42] kitsonk opened #7993 "React v17 JSX Transform"
React introduces a new JSX transform that is supported in TypeScript 4.1: https://devblogs.microsoft.com/typescript/announcing-typescript-4-1-beta/#jsx-factories

We should consider the impact of this on Deno and specifically `--no-check`.

[2020-10-15 20:46] kitsonk commented on #7993
Ref: https://github.com/swc-project/swc/issues/1103

[2020-10-15 20:48] kitsonk commented on #7979
I think it is a little too opinionated and specific for `std`.

[2020-10-15 20:59] #7979 closed

[2020-10-15 23:35] prcdpr opened #7994 "Crash on fs.copy - thread 'main' panicked at 'already borrowed: BorrowMutError'"
Version: 1.4.6
Platform: Windows

Repro steps:
[code]
srcDir is a local path.
destDir is a network share path.

[code]

It's possible that `preserveTimestamps: true` causes the problem.

[2020-10-16 00:09] 00ff0000red opened #7995 "Unlexable script causes Deno to panic"
Ran on an outdated Deno 1.1.0, no, I do not have the permissions necessary to update it, but can someone confirm this in a newer version? If it is not present in the current version, this can be closed right away.

I was writing some code, copy & pasted some linter/TS info, didn't finish commenting it out and/or creating actual code out of it, but accidentally hit ran.

It came down to this incorr

[2020-10-16 00:59] Lonniebiz commented on #1968
I thought @kishiguro had already gotten full ICU support working on Linux, Mac, and Windows from reading these comments above:

https://github.com/denoland/deno/issues/1968#issuecomment-633204393
https://github.com/denoland/deno/issues/1968#issuecomment-633210183
https://github.com/denoland/deno/issues/1968#issuecomment-633593827

Here's what I think would be really cool: What if you ported Intern

[2020-10-16 01:59] 00ff0000red commented on #7982
Update:
I take back what I had naively claimed:

It seems like, as of 2019-2020 the V8 developers have yet to fix the bugs regarding their implementation of `Object.freeze`, as it causes both, their interpreter and JiT to slow down, due to the objects being put into "dictionary mode," which exists on the opposite end of the spectrum: slow reads, fast writes.

[2020-10-16 02:11] kitsonk commented on #1968
Yes, exactly... full ICU support is a 25% increase in executable size. 🤯  That is huge.  Which leads to the "how do we only do something like `en-us` and if so, do we allow people to dynamically load other regions or not" problem, which gets into the too difficult category.

It doesn't work that way.

[2020-10-16 02:22] kitsonk commented on #7994
That code is related to opening a TCP connection which is really strange, should be totally unrelated to this bit of code...  Could you give an example of what the `destDir` value actually is, as well the output of `deno run -L debug`.

[2020-10-16 02:29] kitsonk commented on #7995
You've made some incorrect assumptions of how Deno works internally.  It does not just pass everything to the TypeScript and let it sort it out, it uses swc to attempt to determine the dependencies before doing anything, and swc is throwing here, because the code is not valid JavaScript or TypeScript.

Ultimately we need to give a better error when encountering un-lexable code like this.

[2020-10-16 02:49] 00ff0000red commented on #7995
My apologies, would you recommend that I rename the issue?

[2020-10-16 03:09] timonson commented on #7985
This seems to be harmless and therefore I will close this issue.

[2020-10-16 03:09] #7985 closed

[2020-10-16 06:53] cztomsik opened #7997 "relative import path <node_module> not prefixed with"
I have some conditionals in my js files so that they work in both deno & latest nodejs, for example:

[code]

this worked fine few weeks ago but now I get this error and I'm not sure what to do about it:

[code]

I've quick fixed it with ``import(`${'worker_threads'}`)`` but it's ugly and I don't think people will want to do this for their deno+nodejs modules
(EDIT: quickfix actually doesn't work,

[2020-10-16 08:10] kitsonk commented on #7997
Could you provide the version of Deno you are using and what you command line looks like?

I will try to make sure this is accounted for in #7225.

[2020-10-16 09:22] prcdpr commented on #7994
Ok so I ran my code once again without changing it and I got slightly different callstack
[code]

Running `deno run -L debug` causes another error that seems totally unrelated (it didn't even progress to the place that originally failed)

[code]

`srcDir` is in form of `D:\myprojects\builds\bin`
`destDir` is in form of `\\mysynologyserver\networkshare\subfolder1`

It doesn't repro 100% - once per

[2020-10-16 09:23] marcushultman commented on #5935
I see a similar effect when using `@deno-types` and re-export

[2020-10-16 09:42] bartlomieju commented on #7995
This is bug in SWC, opened an issue: https://github.com/swc-project/swc/issues/1170

[2020-10-16 09:50] kitsonk commented on #5935
Need to try to address in #7225.

[2020-10-16 11:48] kitsonk commented on #1968
The core team discussed this today and agreed it is something we need to get into Deno.  The "right" way to add it is to add ICU support to `rusty_v8`, the simple tracking issue is here: https://github.com/denoland/rusty_v8/issues/501.

Once it is added to `rusty_v8` it can be integrated into the CLI.

[2020-10-16 12:05] kitsonk commented on #7994
Wow... 🤯  amazing... great job breaking Deno in really interesting ways.  Sorry it is causing you grief.  Both of the panics relate to locking the op state.

About how many files are in `D:\myprojects\builds\bin`?

@bartlomieju @ry I've looked at `cli/ops/fs.rs` and I am not seeing any obvious potential deadlock situations with `state`, but it does seem one is occurring when we are doing a "heavy"

[2020-10-16 12:12] prcdpr commented on #7994
I'll try my best to help you resolve that problem 😄

`D:\myprojects\builds\bin` looks like this, pretty lightweight.
[code]

[2020-10-16 15:51] vwkd commented on #5436
I'm sad that the opt-out `--no-check` was chosen instead of opt-in `--check`. This will be a default option for most people now, since types are already checked by the IDE.

Also as already mentioned by other people, perfectly fine JavaScript with wrong types won't run anymore. People here say this is being "safe", but this has nothing to do with safety. Safety is guaranteed by the sandbox and per

[2020-10-16 17:05] cztomsik commented on #7997
1.4.6

![image](https://user-images.githubusercontent.com/3526922/96287537-65cea880-0fe2-11eb-9e85-76fa714c77be.png)
![image](https://user-images.githubusercontent.com/3526922/96287603-7e3ec300-0fe2-11eb-93ac-17901acc890a.png)

[2020-10-16 17:27] 00ff0000red commented on #7997
If it were to import the path, then that would indeed be the expected error, but it shouldn't run at all, as `globalThis.Worker` exists, right?

[2020-10-16 18:08] Soremwar opened #8002 "More detailed `deno test` output"
My only complaint about `deno test` is its lack of detail at the time of executing the tests, specially for big codebases.

I understand it's influenced by `cargo test`, but I argue that a much cleaner way to address this is by telling **what file is being tested** at the time of running the test. Specially since Deno does pattern match when running it's tests instead of looking for them inside th

[2020-10-16 19:14] cztomsik commented on #7997
you can see the `[Function: Worker]` there so it's a mystery (however, I don't think it is good idea to have that check even statically)

[2020-10-16 19:25] nayeemrmn commented on #8002
Duplicate of #4644.

[2020-10-16 20:02] kitsonk commented on #8002
Close enough. In order to try to not fracture conversations, please add to #4644 anything not covered by this.

[2020-10-16 20:02] #8002 closed

[2020-10-16 20:37] 00ff0000red commented on #7997
Ah, yes, I hadn't spotted that in the image you attached right above the source code.

Just to rule out any other possibilities, could you try checking your JavaScript output from TSC, to ensure that there's nothing wrong there?

I would assume it's the nullish coalescing operator that is broken here unless it's the `import` pseudo-function, so might I recommend using a more explicit ternary or if

[2020-10-16 22:07] vwkd commented on #7211
I like the simplification, but don't like the reduction of error levels. Why does it need to align to the console levels? Error logging is most necessary in production when you don't even have a console, and you can only inspect the files afterwards. The more granularity the better. Also the error levels are totally opt-in. You can use as many as you want and the others will not impact you at all

[2020-10-16 22:18] kitsonk commented on #7997
It is a defect... we statically analyze the dependencies to try to ensure that we eagerly fetch all modules and have them ready.  For dynamic `import` we should "try" so we don't get caught off guard, but we shouldn't log any errors/terminate when this occurs.  This is a great example of why we shouldn't do it, and I wanted the details of what arguments were passed so I can make sure we can ensure

[2020-10-17 02:38] 00ff0000red commented on #7997
I'd presume that it has to do with the module cache/graph updates?
From what it looks like, it fetches it at runtime, once the statement has started executing, like normal, but regardless of whether or not the executing branch needs it, is that correct?

I would've expected it to throw before code even ran if it were "static," but that doesn't seem to be the case, could you explain what it's doing

[2020-10-17 03:03] kitsonk commented on #7997
It is more than a few lines in an issue I am afraid.  As I said, I know what is wrong, the behaviour experienced is undesired, and I am in a process of a major refactor of this part of the code under #7225 that should make the whole process more maintainable in the future, but the whole process has grown organically over the past 2.5 years and needs a good clean out.  There are a handful of other

[2020-10-17 03:19] Dygear commented on #4862
@sunsetkookaburra So I have a Raspberry Pi 4 (8GB) that's running the 64bit Version of Raspberry Pi OS. And I have another version of Raspberry Pi 4 (4GB) that's running the 32bit version of Raspberry Pi OS. What can I do to help you?

Do you have a list of requirement that are needed to be installed so that people like me can run along with you? I'm a C programmer, but only in so far as I've writ

[2020-10-17 05:54] 00ff0000red opened #8003 "TextDecoder converts string to lower case before throwing error"
Bit of background: I had encountered an encoding issue in a webpage with accepting user files at runtime, and had sought to resolve the encoding issue using the browser's native `TextDecoder`. To start, I needed a good list of supported encodings, I checked out MDN and a polyfill GitHub https://github.com/inexorabletash/text-encoding. Combined the lists and ran a loop to see what threw errors, and

[2020-10-17 06:47] kitsonk commented on #8003
It is supposed to be case insensitive: https://www.w3.org/International/docs/encoding/#concept-encoding-get

[2020-10-17 07:36] 00ff0000red commented on #8003
I am not sure if we are on the same page, I was merely referring to the error message, if you are too, then Chromium has a bug, not Deno.

[2020-10-17 07:59] kitsonk commented on #8003
Ah, I see what you were referring to.

It should be a `RangeError` though, instead of a `TypeError`... that message text though is never specified in the standards and runtimes vary quite a lot, though we should return what was input instead of modifying it.

[2020-10-17 09:06] aca commented on #8003
It seems like an easy fix. Can I try this?

[2020-10-17 09:17] lucacasonato commented on #8003
@aca Sure. You can find the code for this in op_crates/web/08_text_encoding.js.

[2020-10-17 09:17] lala7573 opened #8004 "Test case failures in URLSearchParams constructor"
Hi, I found some failed cases in deno's URLSearchParams based on https://github.com/web-platform-tests/wpt/
Below cases are passed in node or browser environment, but failed in deno.
deno's URLSearchParams uses 'decodeURIComponent' and that causes URI malformed exception.
https://github.com/web-platform-tests/wpt/blob/master/url/urlsearchparams-constructor.any.js#L60-L80

[code]

[2020-10-17 09:42] flying-sheep commented on #1968
If we care about the detractors we could use [`cargo-bloat`](https://github.com/RazrFalcon/cargo-bloat) to create a piechart somewhere in the docs that shows a breakdown of deno’s executable size. Maybe it would be good having the argument readily available that “those 25% of its size is so you have ICU support as specified by the standard”

[2020-10-17 12:05] jingkaimori commented on #3092
The answer is given by TTTie in discord:

but can we implement this procedure in `std/fs/move.ts` ?

[2020-10-17 12:40] ssslambda opened #8006 "Proposal: std/crypto"
We already have [bcrypt](https://deno.land/x/bcrypt) and [argon2](https://deno.land/x/argon2) modules on /x, it would be nice to have them in std just like in golang, also i think both of them (and others too) can be implemented via wasm for better perfomance

[2020-10-17 13:04] guybedford opened #8007 "Proposal: import.meta.test gating pattern"
I'm wondering if this might be a nice pattern for inline tests:

[code]

Where the `import.meta.test` guard is automatically optimized out for bundling / runtime builds.

The above pattern would then integrate into `deno test` invocation as necessary.

[2020-10-17 13:06] crowlKats commented on #8006
I think before we do a std/crypto we should first have webcrypto api implemented

[2020-10-17 14:21] bartlomieju opened #8008 "Constant condition in "std/archive/tar.ts""
Upgrading `deno_lint` yielded a fragment of code that doesn't make any sense (line 496):

https://github.com/denoland/deno/blob/46b892ad37df9ba9bed77fb923a1cfe284b208dc/std/archive/tar.ts#L494-L498

It should probably be `if (n == null)`...

CC @marcosc90

[2020-10-17 14:28] marcosc90 commented on #8008
Ouch. I'll take care of it today. (I've been quite busy last few months).

[2020-10-17 14:44] bartlomieju commented on #7994
@kitsonk the only known API causing `BorrowMutError` is `Deno.listenDatagram()` (as described in https://github.com/denoland/deno/issues/6290).

@prcdpr could you please share full reproduction code?

[2020-10-17 15:12] ssslambda commented on #8006
I don't see WebCrypto in Deno Q4 roadmap, but we need to have at least bcrypt right now, it is very popular and used to hash passwords (it is necessary for almost any Deno web server)

[2020-10-17 15:21] timonson commented on #8006
I would like to add [god_crypto](https://github.com/invisal/god_crypto) as another third party module which tries to *use WebCrypto if available*.

[2020-10-17 15:29] crowlKats commented on #8006
The problem is getting crypto stuff right is difficult, that is why we still dont have webcrpyto even tho it is quite important.  for that same reason, i think we should hold off having something like std/crypto.
Also, the two modules you linked are written in TS & as a plugin, respectively. neither of those 2 things is ideal. the right solution would be using WASM.

[2020-10-17 15:33] ssslambda commented on #8006
WASM is possible for both of them

[2020-10-17 15:36] crowlKats commented on #8006
I know it is. but the main issue remains: we dont have someone knowledgeable about cryptography.
even if we'd have such a person, webcrypto would be a higher priority.

[2020-10-17 18:33] 00ff0000red commented on #8003
I only saw `EncodingError`s and `TypeError`s being thrown in the specification web page that you had linked, but it seems like both, Deno and Chromium throw a `RangeError`, so what are you suggesting?

Yes, this is the point that I was referring to when I had mentioned a spec. I didn't think they specifically say what the error should say, how it should be formatted, etc. Is that all up to the imp

[2020-10-17 19:45] sunsetkookaburra commented on #4862
@Dygear First step is to follow the general instructions for installing deno for building it, if your doing it locally.
When installing Rust, I think you need the arm64/aarch64 target.
I experimented with all this using GitHub actions on my own forked repository: [https://github.com/sunsetkookaburra/deno/tree/arm64_ci](https://github.com/sunsetkookaburra/deno/tree/arm64_ci)
Just look through the c

[2020-10-17 20:36] kitsonk commented on #8003
[`RangeError`](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/RangeError) should be used when matching a list of enumerated values. Sometimes the specs specify the error type, sometimes they don't. While it might be strictly open for interpretation, we want to interpret the same error type as Chromium.

[2020-10-17 21:21] 00ff0000red commented on #8003
There was no prior mention of the error type, and Deno is throwing a RangeError, just like Chromium

Deno:

Chromium:

So you already throw the same error.

It seems like we aren't focusing on the same issue, was I vague, indirect, or otherwise confusing in my wording?
I'm not quite sure that we are looking at the same issue.

[2020-10-18 02:38] Dygear commented on #4862
@sunsetkookaburra Do we have somewhere, where we can have an on going conversation about this? I'm on the Deno Discord server with the username `@Dygear#1056`. Right now what I'm going to do is blow away my current install of the Raspberry Pi 4 8GB install that I have running Raspberry Pi OS (64bit) and start from scratch on that. I've followed the same method for other open source projects that u

[2020-10-18 03:17] afinch7 commented on #4862
Having gotten this working in the past I figure I should help clear up some of the confusion here.

You can already build and run deno directly on most arm64 platforms(as long as you don't run out of memory compiling). Platforms I have already tested include a pi 4 4gb, pi 3 1gb, and several Android phones(and tablets) using termux proot and Ubuntu. This should be pretty simple on most distros. Ju

[2020-10-18 05:38] Dygear commented on #4862
@afinch7 Thanks! That was helpful.

I blew away my older install for Raspberry Pi OS 64 Bit and started fresh. For those that want to follow along, I'm using a Raspberry Pi 4 8GB with a 64 GB SD Card (Samsung Pro Endurance), the official power supply and the FLIRC case.

I downloaded the latest version of Raspberry Pi OS Buster arm64 from [here](https://downloads.raspberrypi.org/raspios_arm64/imag

[2020-10-18 05:57] elmarsto opened #8012 "OpenBSD build"
Is anyone else working on OpenBSD support?

Basically I need to get deno building on OpenBSD and I'm willing to do the work.

Have already put a trivial PR out on rust-openssl to support openbsd.

Via coaxing, tweaking, and some patchlines in the Cargo.toml, I managed to get deno as far as building v8, which falls over because gn is not available, and building gn from source falls over.

BUT! I re

[2020-10-18 06:15] elmarsto commented on #8012
One thing that would be super helpful: Is there an easy way to simply use OpenBSD's port of chromium to supply v8? Like, I'm imagining skipping compilation of v8 and just using the one supplied by the OS.

[2020-10-18 06:18] elmarsto commented on #8012
How could I determine, aside from trial and error, ;), if this idea is sound? Is there a known minimum supported v8 version?

[2020-10-18 07:18] reggi commented on #3196
I'm still very interested in creating authoring deno and a way to convert it to node (deno -> node). ❤️❤️❤️

[2020-10-18 07:47] ebebbington commented on #3196
Maybe seeing how https://github.com/ebebbington/context-finder is setup might help

[2020-10-18 09:00] kitsonk commented on #8007
Oooh, I like that idea. I think with the new bundling that is being worked on, those would be elided quite easily.

[2020-10-18 09:02] ebebbington opened #8013 "Leaking Async Resources When Using WebSocket - Bug"
The resource is dropped from the internal table but the close call is still in flight.

CC @crowlKats

**Description**
I have a class that creates a sub process, then creates a web socket client. I then have a `done` method to close both of these when done.

But when running my tests, sometimes the tests pass, sometimes they fail.

**Code**
My test case:
![image](https://user-images.githubusercont

[2020-10-18 09:03] kitsonk commented on #8006
The Q4 roadmap is the current priorities of the core team, it is not everything for Q4.

WebCrypto would be preferred over any `std`, so closing as a duplicate of #1891.

[2020-10-18 09:03] #8006 closed

[2020-10-18 09:16] caspervonb commented on #8006
I *might* get to it.

[2020-10-18 09:26] ebebbington commented on #8013
If it's easier:
[code]

[2020-10-18 10:06] caspervonb commented on #7978
Blocked on #7896

[2020-10-18 12:03] ebebbington commented on #8013
doesn't seem to be an issue with the api, closing

[2020-10-18 12:03] #8013 closed

[2020-10-18 14:04] ry opened #8018 "copyNWriteAllData creates an "io" directory during tests - it shouldn't"
Any test artifacts should be hidden away in a tmp directory or in some testdata directory. It should not pollute the root project directory.

see std/io/ioutil_test.ts

[2020-10-18 14:57] FredrikNoren opened #8021 "DevTools profiler"
Hi,

I was playing around with the devtools and noticed that the profiler (under "performance") doesn't seem to work. It displays a `"Tracing.start" wasn't found` error.

[2020-10-18 16:16] #8018 closed

[2020-10-18 16:55] pschyska commented on #7556
I think this is not fixed. I had to actually use the `const main` to make it work, as in:
[code]

[2020-10-18 17:25] l2ig opened #8022 "Some WebSocket messages are getting queued"
There seems to be an internal minimum queue size limit for the messages to be send to the client. That's at least what I would guess since smaller messages are often only sent to the client after sending another message after it (pushing to the internal queue `socket.send(...)`).

Is there any way to force a message to be sent, regardless of the queue size?

[2020-10-18 17:39] shardyMBAI commented on #3196
@reggi :wave:

Hello, I have written a simple project in `deno` called [`ts_serialize`](https://github.com/GameBridgeAI/ts_serialize), however, it is all vanilla Typescript with no dependencies (from either deno or anything else). And in our CI I generate a build for `NPM` and run some tests on it.

We manually keep a `.d.ts` file that we copy over for types. But everything else is automated.

[Th

[2020-10-18 22:50] kitsonk commented on #8003
@00ff0000red

[code]

That doesn't look like a `RangeError` to me.  It should be a `RangeError`.

[2020-10-19 01:57] taiju opened #8024 "Difficult to understand the error message when the extension is missing"
I found it difficult to understand the error message when the script file was created without the extension.

## To Reproduce

[code]

[code]
[code]
[code]

### Result

[code]

If there is no import statement, it will not be reproduced. (So it was even more confusing.)

It would be nice if we could read the error messages to see that the files specified in the deno run must have an extension.

[2020-10-19 11:06] caspervonb commented on #8021
Tracing domain is not supported, see

https://chromedevtools.github.io/devtools-protocol/v8/

[2020-10-19 11:33] #8008 closed

[2020-10-19 11:41] #7849 closed

[2020-10-19 11:54] bartlomieju opened #8026 "Update docs for "deno_core" crate"
Docs for [`deno_core`](https://docs.rs/deno_core/0.64.0/deno_core/index.html) are either outdated or lacking.

[2020-10-19 12:31] lucacasonato opened #8029 "Remove tempFile function from std/io/util.ts"
There is a `tempFile` function in  https://deno.land/std@0.74.0/io/util.ts. That function shouldn't be in there - it is really a std/fs function.

[2020-10-19 12:36] #7929 closed

[2020-10-19 12:43] bartlomieju commented on #7246
After conversation with @kdy1 it turns out it's not really needed.

[2020-10-19 13:45] callionica commented on #7929
Did a quick test against https://raw.githubusercontent.com/denoland/deno/master/std/path/mod.ts and seems to be working for question marks and hash marks at least.

[2020-10-19 13:46] guybedford commented on #8007
Great to hear. Note that the benefit of having this on `import.meta` is that per-module filtering can be applied to which tests run.

[2020-10-19 13:54] caspervonb commented on #8029
Yeah was wondering about this yesterday, is the util module supposed to be exported at all?

[2020-10-19 14:06] nayeemrmn commented on #7929
I'm interested in cases where `fromFileUrl(toFileUrl(path)) != path` (or the reverse), if anyone finds any.

[2020-10-19 14:34] caspervonb opened #8033 "Support vi keyboard shortcuts in the repl"
Right now the keybinding layout of the repl is emacs, which is the default in upstream rustyline, but it's configurable.
Preferably we'd be able to parse .inputrc and to do the right thing and be a good unix citizen.

[2020-10-19 14:42] 00ff0000red commented on #8003
Whoa, quite the change. In an older version of Deno (the one I'm stuck with), the error was in fact a `RangeError`, this must have changed over time.

[2020-10-19 15:08] a2800276 opened #8034 "repl hangs on unclosed braces in string literals."
What the title says. Steps to reproduce:

[code]

Fails independently of quote " ' backtick and brace [ ( { and with let, var and const as well as with naked literals ( `if (a !== "{") console.log("here")` )

I imagine this is some sort of completion gone terribly wrong. No well versed enough in deno internals to spontaneously dig deeper at the moment sorry.

[2020-10-19 15:15] a2800276 commented on #8034
Possibly related:
https://github.com/denoland/deno/issues/7978

Hangs on unmatch braces in regexp's as well at any rate.

[2020-10-19 15:15] caspervonb commented on #8034
Related to https://github.com/denoland/deno/issues/7978 (same cause)

[2020-10-19 15:22] SRNV opened #8035 "Watcher doesn't restart on new files"
to reproduce:
[code]

[2020-10-19 15:24] coyotte508 opened #8036 "Error when using Deno.mkdir on Windows with absolute path"
## Version

- deno 1.4.6
- v8 8.7.220.3
- typescript 4.0.3

## Problem

[code]

![image](https://user-images.githubusercontent.com/342922/96471486-aec76c80-122f-11eb-84be-74dd93951a91.png)

Relative paths seem to work, but not absolute paths.

[2020-10-19 17:13] #7978 closed

[2020-10-19 17:13] #8034 closed

[2020-10-19 17:14] GrosSacASac commented on #2651
Have a look at https://github.com/GrosSacASac/worka#mapparallel

[2020-10-19 18:36] bartlomieju commented on #7772
Already fixed

[2020-10-19 18:36] #7772 closed

[2020-10-19 19:19] #3929 closed

[2020-10-19 19:21] bartlomieju commented on #8004
CC @nayeemrmn

[2020-10-19 19:25] #3086 closed

[2020-10-19 19:41] piscisaureus commented on #8036
I can reproduce this issue:

[code]

The problem appears to be that deno.exe is trying to create the directory `D:\deno\file:\D:\data`. So deno is not treating the URL as an (absolute) URL, but as a relative file path.

[2020-10-19 21:53] #7831 closed

[2020-10-19 22:19] cknight opened #8041 "Feature request: Add 'only' flag to bench API"
Deno's testing API has a very useful `only` option, to only run that one test.  It would be great to have this same option in the bench API allowing a single benchmark test to be run.  My use case is that I have lots of benchmark tests which can take awhile to run and I wish sometimes to just run one of them to examine performance of just that variant.

[2020-10-20 01:58] kidonng commented on #5296
[@hronro](https://deno.js.cn/u/hronro) [mentioned](https://deno.js.cn/t/topic/271/22) that this may be a upstream bug: ctz/rustls#184

[2020-10-20 02:31] loohoo commented on #47
I am new to deno. after reading the deno manual and this [artical](https://dev.to/wongjiahau/why-deps-ts-and-mod-ts-is-bad-in-deno-bjo) my mind mess up. have no idea what's the best solution for dependence management...

[2020-10-20 02:36] axetroy commented on #2651
I am thinking whether Deno can provide a lightweight coroutine operation similar to `goroutine`

[code]

Similar to Puppeteer, it sends the evaluate function to the browser for execution and returns the result

[code]

[2020-10-20 02:43] #7876 closed

[2020-10-20 03:08] #7771 closed

[2020-10-20 03:10] #6686 closed

[2020-10-20 04:05] #4728 closed

[2020-10-20 04:13] KotlinIsland opened #8043 "Code samples in readme files don't work due to $STD_VERSION"
The std versioning changes made in [this PR](https://github.com/denoland/deno/pull/7442)  break the readme examples on Github.

[Github](https://github.com/denoland/deno#getting-started)
![image](https://user-images.githubusercontent.com/65446343/96539089-931a9f80-12dd-11eb-8811-5825bbb8b431.png)
[deno.land](https://deno.land/#getting-started)
![image](https://user-images.githubusercontent.com/654

[2020-10-20 06:36] peterlyq commented on #8043
source not found  change origin maybe work
![AB)AHGITQPP6W1EY37RY3%3](https://user-images.githubusercontent.com/52620161/96549097-9879e900-12e1-11eb-8cef-03228dddaa00.png)

[2020-10-20 06:40] peterlyq commented on #8043
https://cdn.bootcdn.net/ajax/libs/typescript/0.9.5/typescript.js

[2020-10-20 06:46] peterlyq commented on #8043
https://github.com/denoland/deno/blob/master/std/http/server.ts
I think you can download it locally and import this file

[2020-10-20 07:45] KotlinIsland commented on #8043
I know how to fix it, the issue is that the code samples don't work by default.

Someone looking at deno for the first time will see the example and it will fail and they will be like "deno sucks".

[2020-10-20 08:44] lucacasonato commented on #47
@loohoo You can use deps.ts and mod.ts without concern. That article and benchmark was written before we had incremental TypeScript compilation. It is not up to date anymore.

[2020-10-20 10:15] #8043 closed

[2020-10-20 11:11] #7847 closed

[2020-10-20 11:47] lucacasonato opened #8047 "internal tsconfig is not used for determining emit hash"
During testing of #7920 I discovered that our emit hashing is not working correctly. We only seem to hash the tsconfig passed in through flags, rather than the entire tsconfig after it has been merged with our defaults. This leads to web worker compile emits and main worker compile emits being hashed the same. That leads to this bug:

[code]
[code]

The third call to deno cache should error, but i

[2020-10-20 11:47] #8003 closed

[2020-10-20 11:51] #8029 closed

[2020-10-20 12:31] #6976 closed

[2020-10-20 13:27] TradeIdeasPhilip commented on #7674
I was also having trouble with WeakRef and FinalizationRegistry in Deno.  The details were very chaotic, so I wasn't able to create a good bug report.  It seems that sometimes just adding code like
[code]
was enough to make the system fail badly.  Sometimes the code would hang.  Sometimes I'd get a nonsense exception in the built in JavaScript code, before it ever got to my code.

This worked fine

[2020-10-20 13:52] #7323 closed

[2020-10-20 14:43] caspervonb opened #8049 "Streaming stdout output does not play nice with the REPL"
Start something that will write to stdout/stderr in a repl

[code]

And try to edit a line, not a good experience.

Problem is that rustyline does not give us any control of any kind of writer or access to the line buffer, so we can't do anything about it until https://github.com/kkawakam/rustyline/pull/235 or a variant of it lands.

[2020-10-20 16:22] TradeIdeasPhilip commented on #7674
I tried again.  I'm still getting inconsistent results.  Some of that might be the Deno plugin for VS Code.  When I see the craziest errors, like breaking in the standard Deno code, I just restart VS Code and try again.

Something has changed and I think it is recent.  TypeScript can no longer find WeakRef or FinalizationRegistry!  It looks perfect in VS Code.  I can hover my mouse over an identif

[2020-10-20 16:53] ry opened #8051 "Missing type declarations for FinalizationRegistry and WeakRef"
Deno 1.4.6
[code]

[2020-10-20 16:56] ry commented on #7674
@trgwii I can repeat your failure but I don't know what is causing the discrepancy in behavior between Node and Deno. Deno isn't holding extra object references. Is it just that Node has tuned V8 to run the GC more often? Maybe @bnoordhuis has some idea.

@TradeIdeasPhilip Let's just deal with Deno behavior and not VS Code extension behavior in this issue. We are missing FinalizationRegistry and W

[2020-10-20 17:33] bnoordhuis commented on #7674
Deno never calls `v8::Isolate::ClearKeptObjects()` - which isn't too surprising because there's no rusty_v8 binding for it. :-)

I'll open a rusty_v8 PR and see if I can find the right place in deno to slot in the call.

[2020-10-20 19:29] kitsonk commented on #8047
It is fixed in `ModuleGraph2`.  When the migration to `run`/`cache` lands we can close this.

[2020-10-20 19:34] kitsonk commented on #8021
Since v8 doesn't support it, we can't easily support it, so closing.

[2020-10-20 19:34] #8021 closed

[2020-10-20 19:40] kitsonk commented on #8051
The are available in [TypeScript 4.1](https://github.com/microsoft/TypeScript/blob/master/src/lib/esnext.weakref.d.ts) which is the first release since they have gone Stage 3.  It is planned to be released on 17th November.

We can back port `esnext.weakref.d.ts` in ahead of time though, which I will create a PR for in a bit.

[2020-10-20 20:34] grosto commented on #8024
I think it makes sense to throw if some module has no/unsupported media type in the dependency graph.

I can work on this if maintainers agree with this behaviour.

[2020-10-20 20:37] kitsonk opened #8054 "Move back to external source maps when compiling"
We should look at moving back to external sources maps after #7225 as this is ultimately inefficient on several levels.

[2020-10-20 20:39] kitsonk commented on #7983
I am supportive of it being unflagged for 1.5.

[2020-10-20 20:43] kitsonk commented on #8024
@grosto this area of code is going under a major refactor (see: #7225 and #7996).  I plan to try to address this already as part of #7996.

Local files without extensions should actually work and be treated as JavaScript, so I am not totally sure why this is currently failing.

[2020-10-20 20:44] bartlomieju commented on #7983
Forgot to reply to this issue 🤦

Linter has been around for a few months new and it seems to work quite well. IMO we can mark it as stable minus JSON output (ie. `deno lint --json` would still require `--unstable`).

[2020-10-20 20:45] TradeIdeasPhilip commented on #7674
I'll start doing some tests from the Windows Power Shell or Linux command line.  The IDE has issues, but I still prefer it to the command line.

I can add one more detail, regarding the previous test.  If I run the test code listed above, Deno will hang.  Normally my test program asks for a lot of data, formats it, prints it, then exits.  I don't explicitly tell it to exit, Deno is smart enough to

[2020-10-20 20:46] grosto commented on #8024
I think it's failing because ModuleGraph does not extract and fetch dependencies for files other than js, jsx, ts, tsx.

[2020-10-20 20:48] kitsonk commented on #7982
As I have stated above, our stance is not to proactively remove Annex B features that automatically exist in v8 without a good reason.  Closing the issue.

[2020-10-20 20:48] #7982 closed

[2020-10-21 01:37] TradeIdeasPhilip commented on #7674
@ry said

My problems with the program hanging seems to be unrelated to VS Code and to the WeakRef code.  After adding more log statements I can see the code hanging on some MySQL requests.  Very strange.  I've tested the heck out of that part of the code, and the WeakRef stuff was my only recent change.  Sorry about that.

[2020-10-21 06:06] kitsonk commented on #7196
This will be fixed in #7996... it ended up being far more complex than it appeared...

We needed to do two things... be explicit about the `ts.ScriptKind` when creating new source files.  While we were setting the  `ts.Extension` when resolving modules names, thinking that was sufficient, sometimes TypeScript would end up guessing at this anyways, then looking at the module name, and erring on the

[2020-10-21 10:57] #8051 closed

[2020-10-21 11:38] kitsonk opened #8058 "Migrate deno bundle check to new tsc/module_graph"
We need to move `deno bundle` with type checking to the new compiling infrastructure.

[2020-10-21 11:40] kitsonk opened #8059 "Migrate Deno.transpileOnly to new tsc/module_graph"
We need to migrate `Deno.transpileOnly()` to the new compiler infrastructure.

[2020-10-21 11:41] kitsonk opened #8060 "Migrate Deno.compile/Deno.bundle to new tsc/module_graph"
We need to migrate `Deno.compile()`/`Deno.bundle()` to the new compiler infrastructure.

[2020-10-21 11:45] kitsonk commented on #8024
This is partially fixed in #7996 but I will need to revisit it to make sure we can support it fully.  There are challenges with `tsc` with extension-less root modules that need to be addressed.

[2020-10-21 12:36] wperron opened #8061 "Test output hides diff on long strings in objects"
When comparing two objects that contain long strings with `assertEquals`, the strings get truncated for readability, but that ends up hiding the Exected / Actual diff in some cases.

[Here](https://gist.github.com/wperron/f4a7bf79172f5c354d5c75850bb7d511) is a quick gist that demonstrates the issue

[2020-10-21 17:10] vintprox commented on #2295
Sitting from Termux, architecture "armv71". What are safe build instructions for 32-bit ARM to try out right now?

[2020-10-21 17:13] Ciantic commented on #5609
Biggest problem with the *non-standard feature for imports* is that what if this becomes standard which is incompatible how it was implemented in Deno?

Then there is possibility it will break the code depending on the feature, and there is no good way to highlight the error lines. To mitigate that risk there could be alternate syntax, e.g.:

[code]

If the wasm module imports become a standard, t

[2020-10-21 17:14] rayfoss commented on #2295
There are none... Arm 32 is on it's way out quickly... Pi 3 and 4 both support x64, Ubuntu Unity was ported to ARM64, Raspbian is fairly stable... Ubuntu Core and Server are rock solid on ARM64 for Raspberry Pi. Treat those devices as vintage/arduino style hardware...

[2020-10-21 17:19] vintprox commented on #2295
If I interpreted it correctly, that's sad. Wanted to try out Deno on Android badly, but it turns out I'm sticking with JS for real fast prototyping until I get PC. 🤷‍♂️

[2020-10-21 19:43] kitsonk opened #8065 "New graph builder should take lockfile on new, not on `get_graph()`"
We need to address this TODO:

https://github.com/denoland/deno/blob/23df1c563efee65e6d549308ed0671a9e2933c05/cli/module_graph2.rs#L1032-L1048

@bartlomieju [says](https://github.com/denoland/deno/pull/7996#discussion_r509231841):

[2020-10-21 19:59] kitsonk opened #8066 "Proposal: Change the behaviour of --reload flag"
Currently `--reload` not only "cache busts" remote modules, but it also forces a re-emit of modules, irrespective of if we know it won't change the emit.

Ultimately this was a legacy situation where we couldn't be 100% sure if the emit was valid.  Our emitted cache invalidation detection had "issues" before, but with the new module graph, we think we have closed off all the scenarios (the new gra

[2020-10-21 20:14] oygen87 opened #8067 "missing tests for datetime constants in std"
I was looking in the tests for the datetime module in std and noticed that we dont test the SECOND, MINUTE, HOUR, DAY and WEEK constants.

i will create a PR and fix this

[2020-10-22 01:39] lowlighter opened #8069 "Possible broken test case "responseFormData""
Hi,
I'm currently working on a #8063 to make assertions handle `symbols` correctly, but it seems to reveal a broken test case.

The test in question is [`responseFormData`](https://github.com/denoland/deno/blob/master/cli/tests/unit/response_test.ts#L40-L51) which is below :
[code]

It fails with the following result when using `symbol` checks :
[code]

With `Deno.inspect` , `input` returns `FormD

[2020-10-22 02:26] eezstreet commented on #986
The way that has been proposed above is pretty simple, but I'd like to suggest a more robust approach:

[code]

The first set of 0s would be a hex offset from the end of the file indicating where `__denoOptions` is defined, and the second set indicating where the script/V8 blob starts. Alternatively you could base64 encode the __denoOptions object as a trailing comment.

[2020-10-22 03:16] cj1128 commented on #3726
Any updates?

I got a lot of ts errors when I used `@deno-types` to include type definitions for the [ky](https://github.com/sindresorhus/ky) libarry.

[code]

From the error message, it is the `lib.dom.d.ts` which causes conflicts with other definitions.

[code]

[2020-10-22 04:07] kitsonk opened #8070 "lib.dom.d.ts incompatible with built-in Deno libs"
Any updates?

I got a lot of ts errors when I used `@deno-types` to include type definitions for the [ky](https://github.com/sindresorhus/ky) libarry.

[code]

From the error message, it is the `lib.dom.d.ts` which causes conflicts with other definitions.

[code]

_Originally posted by @cj1128 in https://github.com/denoland/deno/issues/3726#issuecomment-714194714_

[2020-10-22 04:09] kitsonk commented on #8070
This is a regression, likely #7514 (cc/ @lucacasonato).  We are not specifically testing for it but we should.

I have broken it out as a new issues, since the original issue and solution are actually unrelated.

Because they are classes now, instead of interfaces, they can't be merged/redeclared.  There was something niggling me at the back of the mind about this, and it appears that this is the

[2020-10-22 06:05] Luisbo85 commented on #7487
I will take `io/stream.ts`

[2020-10-22 08:11] olanod commented on #7928
This would be very useful, I'm trying to create a plug-in system where the JS/WASM plug-ins can run in the browser and server unchanged using the `WebWorker` interface. I see in the cli package most of my homework is done already but can't use it if is not exposed, doing it myself on top of deno-core seems like a non trivial work. Knowing that the API is unstable. what about publishing it as a pre

[2020-10-22 08:34] olanod opened #8072 "WebWorker as separate crate"
As mentioned in https://github.com/denoland/deno/issues/7928 I'm creating a plugin system where JS/TS/WASM plugins are written using the `WebWorker` interface so they run unchanged in the browser or server. I know this can be done on top of deno-core but ideally deno exposes a crate that "installs" the required APIs to the JS runtime(I'm completely sure how it works but something like deno-fetch?)

[2020-10-22 09:56] seishun opened #8073 "cli/rt and op_crate/web - console output for ErrorEvent should be more informative"
Imagine someone is writing a WebSocket client. MDN has a couple examples for handling WebSocket errors, e.g. in https://developer.mozilla.org/en-US/docs/Web/API/WebSocket/onerror and https://developer.mozilla.org/en-US/docs/Web/API/WebSocket/error_event. Both just call `console.log` or `console.error` with the argument.

Consider this example:

[code]

Running it as `deno run test.js` produces the

[2020-10-22 12:53] nayeemrmn commented on #8070
For reference, you can get a list of incompatibilities by compiling anything with the following tsconfig:
[code]
I remember seeing a bunch of errors before #7514, enough that I didn't think it was a goal to have this. If it is, we can easily add an integration test.

[2020-10-22 13:10] nayeemrmn commented on #8070
Although, I think we should just make `"dom"` mutually exclusive to Deno's web API libs. Having alignment prevents us from, say, partially populating the `navigator` object since we are forced to match its type in `"dom"`.

It seems the quoted user can fix the issue by using the following tsconfig:
[code]
If not, we should instead focus on making this work.

[2020-10-22 13:40] lucacasonato commented on #8070
Yeah me too. I don't think we should explicitly be supporting this.

[2020-10-22 13:52] bartlomieju commented on #7928
This is not possible, `deno` is at current version `1.4.6` and we have no way to version Rust crate differently.

[2020-10-22 14:39] Soremwar opened #8074 "std/node/fs tests fail locally"
![image](https://user-images.githubusercontent.com/42647963/96887479-40122b00-144a-11eb-9a0a-6a5b9c9bb00b.png)

They all fail by expecting a value but getting undefined in an assertion

OS: Linux 5.8.16-2-MANJAROx64
Deno: 1.4.6
Command runned: `deno test -A --unstable std/node/_fs`

[2020-10-22 15:06] andykais opened #8076 "fs.walk followSymlinks unimplemented"
adding the flag `followSymlinks: true` to `fs.walk` results in the error:
[code]

fs.walk appears to be the only std module that has tjrows an `unimplemented` error. That makes me believe perhaps this was not intentional? https://github.com/denoland/deno/blob/master/std/fs/walk.ts#L110. Either way, it would be awesome to re-enable this flag, there are file systems including symlinks I would like t

[2020-10-22 15:09] #7935 closed

[2020-10-22 15:26] d9k commented on #2189
Another option:

https://unix.stackexchange.com/a/551025/48167

[code]

[2020-10-22 19:52] #7983 closed

[2020-10-22 20:02] kitsonk commented on #8070
I disagree... it is one of the main use cases for writing code that works on both the web and Deno.  At a minimum we should support the following without error:

[code]

I may have mis-read the comment from the OP upon reflection... full compatibility is impossible with all the libs.  It is just those 3 that need to not step on each other...

[2020-10-22 20:06] lucacasonato commented on #8070
That already works. I use it in [dext](https://github.com/lucacasonato/dext.ts).

[2020-10-22 21:22] kitsonk commented on #8070
Ah, ok, then we need clarification from the OP then. It looks like `ky` might need to change to be more Deno friendly.

[2020-10-22 21:26] vwkd commented on #3324
I don't get why people allow TypeScript to prevent them from running code. You're not forced to listen to the TypeScript errors. You can always run your code using Deno's `--no-check` flag (which IMO should have been the default, but that's another topic).

TypeScript should be seen like a linter. They're helpful hints during development, but they don't prevent you from running the code at all at

[2020-10-22 22:00] beanbean97 opened #8079 "TextDecoder utf-16 is not supported?"
`new TextDecoder("utf-16")` will cause error:
Uncaught RangeError: The encoding label provided ('utf-16') is invalid.
this statement can run in chrome.
version:
deno 1.4.6
v8 8.7.220.3
typescript 4.0.3

[2020-10-22 22:05] kitsonk commented on #3324
We have been run with `strict` on by default for an extended period of time and we have forgotten to close this issue.

[2020-10-22 22:05] #3324 closed

[2020-10-22 22:11] #8079 closed

[2020-10-22 22:12] beanbean97 commented on #8079
#6076

[2020-10-22 22:51] AliBasicCoder commented on #8074
error log

[2020-10-22 23:09] kitsonk commented on #8073
There are a couple issues here... first in some cases `WebSocket` isn't actually raising an `EventError`, but just a plain `Event`:

https://github.com/denoland/deno/blob/c5c48f845a4d25f064c4388fcdd4295317edf155/cli/rt/27_websocket.js#L64

and

https://github.com/denoland/deno/blob/c5c48f845a4d25f064c4388fcdd4295317edf155/cli/rt/27_websocket.js#L87

and

https://github.com/denoland/deno/blob/c5c48

[2020-10-22 23:11] kitsonk commented on #8069
It looks like a bad test... comparing `FormData` what way doesn't make any sense, and your change highlighted that it "wrong".

[2020-10-22 23:15] #8067 closed

[2020-10-22 23:31] kitsonk opened #8080 "Migrate deno watch to use new module graph"
We need to migrate `deno watch` to use the new module graph.

[2020-10-22 23:38] lucacasonato commented on #8069
Whoops. That is my doing. Should be fixed relatively easily by replacing the last assert with
[code]

[2020-10-23 06:45] xcatliu commented on #5060
Any progress?

[2020-10-23 07:34] lowlighter commented on #8069
It doesn't seem to work because the value of `[...formData.entries()]` is actually `[ [ "[object FormData]", "" ] ]` so it'll still throws on the assertion. Not sure why it ended up like this though.

[2020-10-23 09:09] lucacasonato commented on #8069
Interesting. Looks like a bug in our `Body::formData` method. I will investigate.

[2020-10-23 10:38] #7326 closed

[2020-10-23 10:38] #7947 closed

[2020-10-23 11:10] kitsonk commented on #8058
Closed in #8071

[2020-10-23 11:10] #8058 closed

[2020-10-23 11:31] #6753 closed

[2020-10-23 11:57] kitsonk commented on #7518
For `deno bundle` this now works, but for `Deno.bundle()` it requires #8060 so we should keep this open until that.

[2020-10-23 13:11] el3um4s commented on #6739
![image](https://user-images.githubusercontent.com/23579630/97007566-e8ef8180-1541-11eb-9ebc-6d8da5656aeb.png)

I have the same problem

[2020-10-23 13:38] nayeemrmn opened #8088 "Bad import.meta handling in bundles"
Input:
[code]

Actual output:
[code]

Expected output:
[code]

---

We're here again: https://github.com/swc-project/swc/issues/1115#issuecomment-700638446. `import.meta` is an object that can be wholly referenced and is even writable. SWC should not substitute individual fields, but call back to the loader for the initialising value of `import_meta_1`.

cc @kitsonk @kdy1

[2020-10-23 14:01] kdy1 commented on #8088
I didn't know about it. Thanks for reporting.

[2020-10-23 15:17] nayeemrmn commented on #7775
@bartlomieju Can you reopen this? I don't have the button.

[2020-10-23 15:18] nayeemrmn commented on #5059
One of this and #7433 can be closed.

[2020-10-23 17:07] rasmuslos commented on #6751
+1

[2020-10-23 19:01] hhc0null opened #8094 "How shoud we report security issues?"
I found some behaviors that are seemed to vulnerability in deno however there is no guide for reporting security issues in the website or here.
Should we contact to ry at tinyclouds.org with an email or open a new dedicated issue?

[2020-10-23 19:29] lideming opened #8095 "Add a new timer API that won't prevent Deno from exiting automatically"
https://github.com/manyuanrong/deno_mysql/issues/87
I have used `setTimeout` to implement the idle connection timeout for the connection pool.
But when user write some short-running app like this:
[code]
Deno won't exit after it finishes querying. It still waits for some timer (by `setTimeout`) that can close pooled connection when it stayed idle for too long.

I think there should be a timer API

[2020-10-23 19:53] wozniakty opened #8096 "Custom arg passing to Deno test?"
I've searched around google and github and can't seem to find info on this.  I'd like to be able to set up configurable tests with more than just a file by passing custom args into `deno test`.  The reason for this is we're trying to use Deno as an integration test runner against our API suite, and we'd like to do things like customize the environment-style info at execution time rather than with,

[2020-10-23 19:53] timreichen opened #8097 "proposal: std/icalendar (RFC 5545)"
Proposal to add icalendar parser/formatter to `std`.
The parsing would include dates and time zones.
This is therefore dependent on the `Intl` implementation and has to wait until #1968 is resolved.

[2020-10-23 19:57] Soremwar commented on #8094
This is the issue tracker for Deno runtime, any possible security you might encounter with it will fit in here.

[2020-10-23 20:03] ry commented on #8094
ry@tinyclouds.org

I have plans for a better system, but not yet.

[2020-10-23 20:06] nayeemrmn commented on #8096
I think we should be able to pass `Deno.args` with `deno test -- arg1 arg2`.

[2020-10-23 20:07] wozniakty commented on #8096
@nayeemrmn doing so today produces this:
[code]

[2020-10-23 20:10] kitsonk commented on #8097
Workload specific tools are much better as community projects than being part of `std`.

To try to keep the issues focused, I am going to close this one.

[2020-10-23 20:10] #8097 closed

[2020-10-23 21:01] #8065 closed

[2020-10-23 22:24] ridhosatriawan commented on #5027
@yayanbachtiar its not working at me

[2020-10-23 23:28] lucacasonato commented on #5027
@ridhosatriawan Run `deno: Init` command from VS Code commands (press `F1`). Then restart VS Code.

[2020-10-23 23:28] ross-weir commented on #8073
Hi. Could I please have a go at this one?

[2020-10-23 23:34] lucacasonato commented on #8073
@ross-weir Sure! All help is appreciated :-)

[2020-10-24 02:08] kitsonk commented on #5059
How so, what PR was this landed in?

[2020-10-24 04:55] ross-weir commented on #8073
This appears to be affecting all events:

Deno:
[code]

Chrome:
[code]

I'm not knowledgeable enough to come up with a solution/pinpoint the problem but I've found that it might have something to do with the properties being defined on the prototype - `isTrusted` is the only property defined on the instance.

I would be happy to continue working on this with some guidance :-)

[2020-10-24 05:37] Dygear commented on #4862
After install the nightly version of rustup for `aarch64-apple-darwin` triple. The system fails to compile with on an `arm64-apple-darwin` system with the following error.

[code]

Looks like a dependency problem with `ring v0.16.15` not liking the `aarch64` or `arm64` target for the apple darwin system.

[2020-10-24 05:39] kitsonk commented on #8073
That is aligned to the spec, that they are not defined on the prototype.

There is a symbol of `"Deno.customInspect"` that allows you to write a method that would output something more informative.  You can see a few examples [here](https://github.com/denoland/deno/blob/7845740637eb646c0b13dc541f043fd65136fc03/op_crates/fetch/20_headers.js#L196-L206) and [here](https://github.com/denoland/deno/blo

[2020-10-24 06:00] kitsonk opened #8099 "Proposal: Enhance custom inspect API"
*Edit: the current proposal is here https://github.com/denoland/deno/issues/8099#issuecomment-757434256*

---

Probably should have thought of this when we did `Deno.customInspect` but we didn't.  As our console output has evolved, it makes it really hard to implement the same rich output.  For example if you have the following code:

[code]

You would get something like the following output:

<im