[2020-10-24 06:01] kitsonk commented on #8096
Yeah, the lack of support is simply an oversight.

[2020-10-24 09:19] kitsonk commented on #5607
This is redundant, since bundling has been moved to swc.

[2020-10-24 09:19] #5607 closed

[2020-10-24 09:20] kitsonk commented on #6333
This was fixed with #8058.

[2020-10-24 09:20] #6333 closed

[2020-10-24 12:54] dkaerit opened #8105 "Error installing denon by dockerfile"
Hello, I am a web developper student who is testing the use of deno and trying to make an http server over denon inside a docker container, and I have encountered this problem.

*My dockerfile*

[code]

*bash error* (powershell)

[code]

Sorry if I am not well understood, my English is a bit bad.

[2020-10-24 13:32] lucacasonato opened #8106 "can not cache extensionless URLs"
master
[code]

1.4.6
[code]

cc @kitsonk

[2020-10-24 13:40] #8105 closed

[2020-10-24 13:41] dkaerit commented on #8105
fixed changing user deno to root

[2020-10-24 13:46] timonson opened #8107 "https connection times out"
I have a problem running an `https` server and I can't solve it on my own. I tried various things which include:

- switching linux distros
- using different ssl certificates
- changing server configurations
- different domains
- comparing to http server
- and more

The problem is that after an indeterminable time, but mostly about 20 hours, the server stops working in the sense that requests just

[2020-10-24 14:33] lucacasonato commented on #8107
I have spun up a system on GCP (e2-medium, 2 vCPUs, 4 GB memory) with this code:

[code]

I have also set up uptime checks to see if it goes down. Let's see if I can reproduce this.

[2020-10-24 14:53] timonson commented on #8107
I am using a 512 MB RAM, 1 vCPU, 20 GB SSD machine. But I could not see high resources usage. Otherwise just dm me and I send you my ssh key.

[2020-10-24 14:58] nayeemrmn commented on #5059
I mean they're duplicates and one can be closed.

[2020-10-24 16:51] kt3k commented on #8095
Maybe a duplicate of https://github.com/denoland/deno/issues/6141 ?

[2020-10-24 16:58] lideming commented on #8095
Yes, it is. Thanks.

[2020-10-24 16:58] #8095 closed

[2020-10-24 19:48] teleclimber opened #8109 "Dynamic import of remote modules should be allowed when they are in the cache"
Say I have this "app":

[code]

And I have a "runner" that runs such an app dynamically:

[code]

Deno tells me I need `--allow-read` for the app.ts and `--allow-net` for the multiparser module. OK.

But now if I do:

[code]

Caching `app.ts` means all the deps are downloaded and future imports of them are served from the local cache. From the CLI help for cache:

[code]

Despite that Deno still r

[2020-10-24 20:02] #7997 closed

[2020-10-24 20:03] kitsonk commented on #8106
Ok, I think I might know what the problem is... working on a fix.

[2020-10-24 20:04] kitsonk commented on #7433
Duplicate of #5059

[2020-10-24 20:04] #7433 closed

[2020-10-24 20:05] #5935 closed

[2020-10-24 20:07] kitsonk commented on #5060
No

[2020-10-24 20:25] kitsonk commented on #8106
So this is related to #8024, and the TypeScript compiler not liking root modules without extensions, even though dependencies can be.  To make matters worse here, `curl -I https://cdn.dreg.dev/package/picomatch@2.2.2` outputs:

[code]

And as you point out it was "broken" in 1.4.6 as it was type checking JavaScript, which it shouldn't be doing.

[2020-10-24 20:37] lucacasonato commented on #6542
This seems to have broken between 1.1.2 and 1.1.3. Curiously code compiled and cached to DENO_DIR in 1.1.2 will show the correct paths, even in versions after 1.1.2. Code compiled and cached in 1.1.3 or later always has broken paths when paths from multiple different origins is present in the same stacktrace:

https://deno.land imports https://deno.land -> stack traces correct :heavy_check_mark:
h

[2020-10-24 20:44] lucacasonato opened #8111 "Emit for imported ts files is sometimes skipped"
For some reason the JS for `https://cdn.dreg.dev/polyfill/node/process.ts` is not emitted when imported from `https://cdn.dreg.dev/package/picomatch@2.2.2` imported from `deno cache https://cdn.dreg.dev/package/@rollup/pluginutils@4.0.0/dist/es/index.js`.

[code]

If I manually force an emit with `deno cache` it works.

[code]

cc @kitsonk

[2020-10-24 22:29] kitsonk commented on #8111
So this is caused by coupling to some unintentional (and undesired) behaviour that has been removed in master.

In the new infrastructure, when there are types available, `tsc` only sees the type files.  This avoids the host of issues we have had with JavaScript suddenly being type checked, plus helps ensure that the type checking is "accurate".

`https://cdn.dreg.dev/package/picomatch@2.2.2` serv

[2020-10-24 22:53] kitsonk commented on #8111
Just for clarity, this only impacts code that meets the following conditions:

- The source module is a JavaScript module that imports directly or indirectly something that is "emittable" (TypeScript, JSX, TSX)
- That JavaScript modules has either a `X-TypeScript-Types` or a `/// <reference types="" />` pointing to a Dts file.
- That Dts file does not import directly or indirectly that "emittable"

[2020-10-24 23:19] kitsonk commented on #8109
I don't think we would want to "ignore" permissions just because something is in the cache.  It being cached or not should not change if we apply permissions in my opinion.  Dynamic imports require appropriate permissions irrespective of the state of the cache.  It would be like saying for `fetch()` that if a remote resource is already cached, then don't require `--allow-net`.

[2020-10-24 23:27] #8080 closed

[2020-10-25 00:02] nayeemrmn commented on #8109
I also don't like the state of the cache affecting required permissions in general, but this one might be worth it for the practical advantage. Why should it require net permission if it's not interacting with the network? The only protection I see is not exposing information about the state of the cache -- but the requested permission is net. That's always bothered me.

If I implemented my own `f

[2020-10-25 00:48] ayepig opened #8112 "支持deno"
我是支持deno的，但生态是个问题。

[2020-10-25 02:40] kitsonk commented on #8112
I suspect you are looking for support for Deno in Chinese.  At the moment, that is via community support.  The repository can be found here: https://github.com/deno-china. I am sure they would welcome further help from the community.

我懷疑您正在尋找對Deno中文的支持。目前，這是通過社區支持。該存儲庫可以在這裡找到：https：//github.com/deno-china。我相信他們會歡迎社區的進一步幫助。

[2020-10-25 02:40] #8112 closed

[2020-10-25 06:23] uki00a opened #8115 "std/http/file_server: file_server should ignore query params"
**Steps to reproduce**:

1. Run the file_server:

[code]

2. Go to `https://localhost:4507/path/to/existing_file?key=value` from a web browser.

**Expected behavior**: the file server returns 200.

**Actual behavior**: the file server returns 404.

**Environment:**
[code]

[2020-10-25 06:30] uki00a commented on #8115
I'll work on a fix.

[2020-10-25 08:07] ross-weir commented on #8096
What would be the preferred way to implement this?

`deno test arg`
vs
`deno test -- arg`

If we went with `deno test arg` I think we would need to force the user to supply the files using a `--files` flag.

[2020-10-25 11:07] lucacasonato commented on #8096
`deno test -- arg` would be preferred.

[2020-10-25 12:14] crookse opened #8117 "deno fmt --column-width option"
it'd be nice to have a column width option so that users can specify where the formatter wraps texts. 80 is cool, but some people have bigger screens and prefer/use 100-120... maybe even larger idk.

[2020-10-25 13:05] ariain commented on #8069
hey @lucacasonato , I would like to give this issue a try, can I work on it??

[2020-10-25 13:07] lucacasonato commented on #8069
Sure. I looked into this a few days ago, and it looks more complicated than I initially expected. But feel free to give it a shot.

[2020-10-25 13:08] ariain commented on #8069
@lucacasonato thanks...

[2020-10-25 13:20] lucacasonato commented on #8107
I can confirm this bug. My test server went down exactly 5 hours (on the minute) after starting it. The entire server log:

[code]

[2020-10-25 15:40] littletof opened #8118 "deno fmt --check should not show entire file when only line endings differ"
When running `deno fmt --check` it should only show relevant changes, or a radius of it, it shouldn't print simple line changes, or it could result in quite bad outputs in my opinion.

Running it, basically printed my whole codebase because of some import reordering, and organizing.

<details>
<summary>Examples</summary>

![image](https://user-images.githubusercontent.com/32012862/97111556-c5623d8

[2020-10-25 17:06] rvdende commented on #7378
I've been battling this as well.

[code]

[code]

It seems no matter where I put my try catch the error remains uncaught. I'm using opine + TLS by the way.. it seems to be some kind of race condition and difficult to reliably reproduce.

[2020-10-25 17:09] ariain commented on #8069
@lowlighter can you tell what command you used to test these test cases...

[2020-10-25 17:14] timonson commented on #7378
@rvdende please take a look at this issue here https://github.com/denoland/deno/issues/8107 .
Is this happening to you?

[2020-10-25 17:19] rvdende commented on #7378
@timonson thank you. I've indeed had a similar error log before, so its quite possibly related or the same issue.

[2020-10-25 17:24] rvdende commented on #8107
I've been battling this one as well.. and its a bit out of my league at the moment. Hoping @lucacasonato you can help! Thank you

[2020-10-25 17:38] rvdende commented on #8107
more searching found this: https://en.it1352.com/article/6b9299e70af448e3a86b63562103ae4e.html

[2020-10-25 17:54] lowlighter commented on #8069
You can checkout on #8063 to test.

Basically I attempted to run the unit test I provided earlier with `Deno.test` but for debugging you can just copy-paste the code and add a `console.log([...formData.entries()], [...input.entries()])` before the assertion, it should be enough to check whether you fixed it or not.

I tried to fix it when I encoutered this error but I reckon that I had no clue fro

[2020-10-25 18:39] ross-weir commented on #8096
Thanks. I'll work on this one :-)

[2020-10-25 19:43] YuriyTigiev opened #8119 "Add env in a launch.json"
Hello,

How to add a particular env name in a launch.json file? I would like to debug a program in VSC for env "development".

[code]

[2020-10-25 19:53] lucacasonato opened #8120 "No permission checks for worker startup"
[code]

[code]

### Actual

[code]

### Expected

[code]

This is only happens on master. This is a 1.5.0 blocker.

[2020-10-25 20:17] #8024 closed

[2020-10-25 20:17] nayeemrmn commented on #8117
Config for `deno fmt` was ultimately decided against in https://github.com/denoland/deno/issues/3827#issuecomment-708479969. The same naturally applies to individual flags like this, effective duplicate.

[2020-10-25 20:32] ariain commented on #8069
Hi @lucacasonato , I was testing this code and is it necessary here to send the header in Response params in following code??
[code]

I am asking this because the data in console is
[code]
[code]

I think this is the problem here...

[2020-10-25 20:35] lucacasonato commented on #8069
Are you running this in Deno?

[2020-10-25 20:35] ariain commented on #8069
I ran this in browser actually..

[2020-10-25 20:38] ariain commented on #8069
Ran in deno and got
[code]
[code]

[2020-10-25 21:46] bartlomieju opened #8122 "Replace ESLint with dlint for development"
Currently in development of `deno` we use `ESLint` to lint JavaScript and TypeScript code. Additionally `std/` and `cli/tests/unit` are linted using `deno lint` as integration tests.

In `deno_lint` repository we have a small example binary called [`dlint`](https://github.com/denoland/deno_lint/tree/master/examples/dlint) that is essentially a small CLI on top of `deno_lint` crate (which is used a

[2020-10-25 22:34] lucacasonato commented on #8107
The server crashed again after a little over 7 hours. Log of server with `-Ldebug` here: https://0x0.st/ikSM.txt

[2020-10-26 00:00] lucacasonato commented on #7378
I'm going to close this as a duplicate of #8107 as it has more traction. Thanks for reporting :-)

[2020-10-26 00:00] #7378 closed

[2020-10-26 00:12] #8117 closed

[2020-10-26 00:17] kitsonk commented on #8118
Define "relevant changes"...  That term is highly subjective.

[2020-10-26 00:24] lucacasonato commented on #8118
Well printing a diff for unchanged lines seems not great.

[2020-10-26 00:25] #8096 closed

[2020-10-26 00:36] caspervonb commented on #8099
Instead of adding more symbols, would be simpler if the results of calling custom inspect were just formatted with the object format specifier instead (raw strings are left alone with that).

[2020-10-26 02:24] caspervonb commented on #7915
My big items:

- Revamp the REPL, turn it into a general purpose debugger.
- New parallel capable test runner in Rust with multiple reporters (pretty, json, custom).
- Best in class test coverage cli with multiple reporters (pretty, json, custom).

[2020-10-26 02:24] littletof commented on #8118
@kitsonk relevant for me, is what a user might care about, running fmt with --check. Its even highlighted with green and red background.
Relevant might mean something else for others, but I dont think the hundreds of lines printed because the first 10 import lines were merged into one, doesnt really fit any of it.

I think a git diff is a good example, how it should work.

(As an example, if you c

[2020-10-26 02:30] Soremwar commented on #8118
If `fmt` added a trailing comma or changed spaces for tabs it's still a diff between the two contents, any text editor will tell you so as well.

But I agree something could be done about it, so perhaps a `--detail` level flag could be added in order to exclude this "irrelevant" changes? (I think it would be hard to implement though, as kitsonk pointed out "significative" is very subjective)

[2020-10-26 02:58] kitsonk commented on #6116
While it hasn't fixed #5631 and #4743, I believe the compiler refactor has fixed this one, but I need to create a test to validate that.

[2020-10-26 03:20] kitsonk commented on #8118
An intelligent diff, that is actually a diff output that could be applied using `patch` on the command line sounds useful (same type of output as `git diff`), but the changes are whatever the changes are.

[2020-10-26 03:44] caspervonb commented on #4879
REPL behavior remains the same here, so probably best to leave this open

[2020-10-26 04:29] kitsonk commented on #8099
@caspervonb I assume you are suggesting something like this PR for `Event`? https://github.com/denoland/deno/pull/8103/files

It hadn't occurred to me that should be the way until I saw the PR.  We could easily clean up `Headers` with something like that.

[2020-10-26 04:47] caspervonb commented on #8099
Pretty much!

Side note tho, customInspect signature should probably be given `depth:number` and `options: InspectOptions` so the formatter used can respects those settings.

[2020-10-26 11:48] bartlomieju commented on #6974
Core team has discussed this issue and we decided that providing nightly builds would be pretty useful. We should start by setting up CI to release those builds every night, after that we can think about integrating it into `deno upgrade`. We might have to address https://github.com/denoland/deno/issues/6037 first.

@maximousblk would you be interested in integrating your solution to main repo?

[2020-10-26 11:53] bartlomieju opened #8129 "Consider splitting --unstable flag into flags affecting runtime and CLI separately"
Currently `--unstable` flag is used to enable both unstable runtime API as well as enable new features in CLI. It means that if one wants to use only a single unstable feature of CLI one must opt into all unstable runtime APIs as well. This situation is less than optimal and we should consider more granular controls.

Hereby I propose to:
- make `--unstable` flag control only runtime APIs
- add `-

[2020-10-26 12:10] ariain commented on #8069
@lucacasonato "good first bug" tag shouldn’t be here in this issue...

[2020-10-26 12:22] ariain commented on #8069
@lucacasonato should there any difference between values from chrome and deno??

[2020-10-26 13:01] maximousblk commented on #6974
imo setting it up on the main repository won't be a good idea as it would flood the releases page with the nightly builds. (not to mention all the notifications)

I'd suggest we could transfer [my repository](https://github.com/maximousblk/deno_nightly) to the deno org and do it there? this way the older builds are also preserved.

Other than that, we need a way to automatically determine the vers

[2020-10-26 13:03] #8059 closed

[2020-10-26 13:55] #8115 closed

[2020-10-26 14:58] lisonge commented on #6586
@bit-work

in china,  jsdelivr is best
[code]

jsDelivr 在中国大陆有ICP备案

`
jsDelivr is the only public CDN with a valid ICP license issued by the Chinese government, and hundreds of locations directly in Mainland China.
`

https://www.jsdelivr.com/network

[2020-10-26 16:20] rok-star commented on #4568
encountered same issue again! here is my work around:
[code]

[2020-10-26 18:00] ariain commented on #8069
Hi @lucacasonato and @lowlighter , I tried to look into this but its too complex for me as I am a beginner in open source. Please look into this. I believe the code needed is here somewhere...
https://github.com/denoland/deno/blob/c4d33e8d778aa1b86197f1c54ff8e4e61a2ebf53/op_crates/fetch/26_fetch.js#L406-L491
Also I checked working of `append` function in this and its working fine...

[2020-10-26 19:37] teleclimber commented on #8109
I can understand that exposing the state of the global cache to an app could be problematic. Maybe there are other ways to solve this.

The real problem is that dynamic `import` in Deno is completely broken in practice.

In an idiomatic Deno app you import library code via URLs. So most Deno code is written with static imports to public URLs. This works great because Deno does not require net perm

[2020-10-26 19:56] #8120 closed

[2020-10-26 20:43] TheWizardBear opened #8136 "std/flags: parse function ignores characters after equals sign that is part of the value when a shortened (alias) flag is used."
It's a little hard to explain succinctly in the title, so here is an example:

*main.ts*:
[code]

**Regular flag**
`--foo=abc=def` -> `{ _: [], foo: "abc=def"}`

[code]
*Output*:
[code]

**Shortened (alias) flag**
`-f=abc=def` -> `{ _: [], f: "abc"}`

[code]
*Expected (?) output*:
[code]

*Actual output*:
[code]
---
This might be the expected behaviour but it looks to me like a bug.

[2020-10-26 22:22] #8073 closed

[2020-10-26 23:15] ebebbington commented on #8136
Nice catch @TheWizardBear, would be good to fix this as. it does seem like a bug (or lack of feature set)

[2020-10-26 23:59] kitsonk commented on #5432
Another update...

In master (which will soon be released as 1.5) we have added `deno bundle --no-check` support and migrated `deno bundle` emits out of `tsc` and use swc (`tsc` still does the type checking).  We also refactored a lot of the infrastructure in Rust and rewrote the way we interface with `tsc` to clean things up quite a lot.

This has resulted in performance benchmarks for our "mediu

[2020-10-27 01:30] mayankchoubey1 opened #8137 "Get all the network interfaces in Deno"
Add a method Deno.networkInterfaces() to get the list of all network interfaces with some details like:

- MAC address
- up or down
- IP Addresses

[2020-10-27 01:31] mayankchoubey1 commented on #8137
@bartlomieju : I've submitted this enhancement today. Do you think this will be useful? Is it okay if I assign it to myself and work on it?

[2020-10-27 10:38] lucacasonato opened #8142 "Empty typescript files lead to tsc assertion"
Trying to compile an empty ts file leads to:

[code]

[2020-10-27 12:19] #8142 closed

[2020-10-27 12:21] #8036 closed

[2020-10-27 12:42] ChayimFriedman2 commented on #5432
If we'll use WASM with swc, will we can pass the AST between tsc and swc more easily?

[2020-10-27 13:58] ebebbington commented on #7732
In short, does this mean `tsconfig.json` won't be allowed, thus things like decorators just can't be used for deno projects?

[2020-10-27 14:00] andreespirela commented on #7732
As per discussions with @kitsonk , @lucacasonato & @bartlomieju on the Discord chat, it seems like it will be enabled by default (decorators & metadata), but they will be removed when the official TS39 decorators come out. It's yet to be fully addressed afaik.
cc @ebebbington

[2020-10-27 16:23] magurotuna commented on #7627
I think this issue is also fixed by #8013

[2020-10-27 17:07] erf commented on #6319
I also experienced a similar error message on Deno 1.4 and 1.5. I have a http / websocket server which also serve some static files using `serveFile`. The crash happens at startup when i load the `index.html`, creates a web socket connection and serve a set of static files, with the `favicon.ico` last. I added the `favicon.ico` after i got a message that it was missing, but i wonder if the crashes

[2020-10-27 17:47] maximousblk opened #8146 "bug(windows): prompt() adds "\r" to inputs and doesn't consider the default value"
to reproduce:

Linux (WSL) | Windows

![image](https://user-images.githubusercontent.com/28438021/97340972-761c3880-18aa-11eb-89d5-1a51d6ba1226.png)

isn't limited to repl

![image](https://user-images.githubusercontent.com/28438021/97341736-77019a00-18ab-11eb-980d-5ca55ae1b496.png)

[2020-10-27 17:52] SRNV opened #8147 "1.5: AssertionError in lib.dom"
getting this error
[code]

to reproduce
[code]

[2020-10-27 19:23] nzakas commented on #8122
Just curious, is there anything the ESLint team can do to it easier to use ESLint? It seems like the Node.js dependency is the big issue?

[2020-10-27 19:24] nzakas commented on #7891
If anyone could point me in the right direction, I'd be happy to investigate and see if I can come up with a solution. Where could I start looking for where this error might be occurring?

[2020-10-27 19:25] mdarse commented on #5677
I just had another look at the issue & found [an article describing expected behaviour](https://v8.dev/features/top-level-await) on v8’s blog.

Quoting the author, here’s what should happen:

I just tested on `v1.4.6` and I still get `undefined` instead of the expected value. I think this issue should be re-open the reflect that.

[2020-10-27 19:26] lucacasonato commented on #5677
The fix landed in `1.5.0` which was released a few hours ago. Would you mind testing on that version?

[2020-10-27 19:32] mdarse commented on #5677
Oh nice! I will try again on that version and report my results here.

[2020-10-27 19:36] mayankchoubey1 commented on #8137
@lucacasonato  Can I work on it? If yes, please assign to me. Thanks!

[2020-10-27 20:09] kitsonk commented on #5432
@ChayimFriedman2 not really. Passing data structures from WASM to JavaScript is harder for Deno then it would be from Rust to JavaScript. Plus you have a material impact on performance of running Rust -> WASM over just Rust, and we already have everything we need with SWC built into Deno in Rust for other reasons that will keep it there.

[2020-10-27 20:22] jsejcksn opened #8148 "Deno bundle error in 1.5.0: thread 'main' panicked at 'not implemented: namespaced re-export"
This worked without issue in `1.4.6`:

[code]

Now, I am getting this error:

[code]

[2020-10-27 20:22] andreespirela commented on #6616
As 1.5.0 was released today, after some testing, I can't manage to reproduce it. I don't know if this is because a fix as suggested by @bartlomieju or the possible nature of the bug.

I'm highly on the side that it was fixed, but I can't feel certain.

[2020-10-27 20:36] kevinkassimo opened #8150 "repl: unpaired braces cause input never consumed"
Entering a single ']' would cause repl to forever accepting new lines, due to that `ValidationResult::Invalid` would actually be consumed by the editor itself while continue building the lines. Instead we should mark it as `Valid` and send the bad input for evaluation to get the proper error from V8.

Example:

[code]

[2020-10-27 21:01] coyotte508 commented on #1952
In Rust it's possible with https://docs.rs/unicode-normalization/0.1.13/unicode_normalization/trait.UnicodeNormalization.html (is it possible to do a rust module that overwrites `String.protoype.normalize`?)

Node can be compiled with [system-icu](https://nodejs.org/api/intl.html#intl_build_with_a_pre_installed_icu_system_icu) which doesn't seem to add much weight and adds support for normalize.

[2020-10-27 21:23] lucacasonato commented on #8069
Great analysis! I think instead of taking the branch that leads to `.toString` in `bodyToArrayBuffer`, we should be doing the same thing that happens in the `fetch` implementation here: https://github.com/denoland/deno/blob/c4d33e8d778aa1b86197f1c54ff8e4e61a2ebf53/op_crates/fetch/26_fetch.js#L1236-L1246

Its unfortunate that this is going to duplicated code, but we will address that soon when we r

[2020-10-27 22:46] kitsonk commented on #1952
This is a duplicate of #1968 (even though this came before it) and adding ICU is the right way to fix it.  So closing in favour of that.

Implementing it in Rust would complicate things which can be solved by adding the ICU.

[2020-10-27 22:46] #1952 closed

[2020-10-27 22:46] ynwd opened #8153 "[1.5.0] does not provide an export named 'serve'"
There is no issue like this at 1.4.6

[code]

[code]

[2020-10-27 23:04] lucacasonato opened #8154 "New compiler infrastructure does not handle redirects correctly"
[code]

#### 1.4.6

[code]

#### 1.5.0

[code]

cc @kitsonk

---

For anyone looking at this issue now, we are planning to do a 1.5.1 hot fix release tomorrow with a bug fix.

[2020-10-27 23:20] callionica opened #8155 "Resource exhaustion produces misleading error message"
--- EDIT ---
See this comment for the real issue:
https://github.com/denoland/deno/issues/8155#issuecomment-718845375

--- ORIGINAL ---
A client app that that does many fetches to a web server eventually hits "error trying to connect: dns error: failed to lookup address information: nodename nor servname provided, or not known". Once this error is hit, no future fetch will succeed until the app is

[2020-10-27 23:26] lucacasonato commented on #8155
You are probably being rate limited by your DNS provider. We do not cache DNS queries at the moment. It might sound counter intuitive, but can you try increase your request rate? That might keep the HTTP connection open for longer, reducing the amount of DNS queries needed. Also are you using Deno.HttpClient? If so are you creating a new one for each request?

[2020-10-27 23:41] jsejcksn commented on #8148
@kitsonk I see you added the "needs info" label. Can I help by providing any specific info (sanitized of details about my code/computer)?

[2020-10-27 23:42] callionica commented on #8155
I'm using the `fetch` function and I'm just giving it a URL, so not touching Deno.HttpClient directly.

If the DNS is getting hit at the same rate as the fetches being issued, that's still only 1 request every 4 seconds. Not saying that someone wouldn't rate limit that, but I wonder. It also makes me wonder why closing the app and restarting wouldn't still be affected by the DNS rate limit if one

[2020-10-27 23:45] lucacasonato commented on #8148
This looks like an upstream SWC issue. `@kdy1` has mid term exams right now, so let's wait with pinging him about it for a few more days :-)

[2020-10-27 23:51] bartlomieju commented on #8148
@jsejcksn providing source code would be very helpful anyway

[2020-10-27 23:55] lucacasonato commented on #8155
Makes sense. I can't think of why this may happen other than the dns caching.

[2020-10-28 00:13] jsejcksn commented on #8148
Hi @bartlomieju. Unfortunately, I'm not able to share any source code from this repository... it is a private project.

[2020-10-28 00:27] kitsonk commented on #8148
Can you please try to reduce it into something reproducible?  Or please provide the output of `deno bundle -L debug` sanitized, otherwise we are just guessing at what is causing the issue.  It maybe an swc issue, it maybe that we need to do something before handing it over to swc.  Without a minimal reproduction it is just guessing...

[2020-10-28 00:30] lucacasonato commented on #8148
@kitsonk I don't think that is necessary. @jsejcksn has just run into a `unimplemented!` in swc: https://github.com/swc-project/swc/blob/master/bundler/src/bundler/chunk/export.rs#L219.

[2020-10-28 00:41] kitsonk commented on #8154
Simpler repo:

[code]

[2020-10-28 00:52] #8147 closed

[2020-10-28 00:54] kitsonk opened #8158 "Refactor get_asset and static assets in cli"
We need to refactor how we inline the static libraries in Deno when we fully migrate over from the old compiler infrastructure.

[2020-10-28 02:40] shynome commented on #6259
so sad, this is still not working

[2020-10-28 02:42] caspervonb opened #8160 "Division operator gets mistaken for regex literals in multi-line REPL editor"
The following hangs waiting for another line of input

[code]

Cause is quite simple, the validator believes that the `/` token is the start of a regex literal.

[2020-10-28 02:53] nktpro opened #8161 "Deno 1.5.0 bundle regression: bad Unicode character encoding"
Bundling in deno `1.5.0` would produce invalid code, due to what appears to be bad Unicode encoding in the output.

Here's a quick reproducer:

[code]
`1.5.0` bundle will contain:

![image](https://user-images.githubusercontent.com/59050/97384870-fb9de980-18a6-11eb-8621-20c26a3ec613.png)

as opposed to the same snippet in `1.4.6`

![image](https://user-images.githubusercontent.com/59050/97384906-0

[2020-10-28 03:12] kitsonk commented on #8161
I will isolate it a bit more, but it looks like an upstream issue with swc.

[2020-10-28 03:15] kitsonk commented on #8154
I've got this fixed, but I want to rant a little bit... `std/http/server.ts` has some really bad and arbitrary circular dependencies... `std/http/_io.ts` imports `std/http/server.ts` which imports `std/http/_io.ts`.  With the redirect bug, `std/http/server.ts` was essentially two different modules in TypeScript when type checking, but the lack of these circular dependencies coupled with redirects

[2020-10-28 03:40] kitsonk commented on #8161
I think this would impact bundling as well as `--no-check`.  It is a defect with swc, which hopefully will be fixed quickly.

[2020-10-28 03:44] kitsonk commented on #8148
@lucacasonato we have 15 test cases having to do with bundling (and likely found another half dozen which we didn't write up) that ensure defects we encountered in swc are legitimate and valid...  Just because something isn't implemented in swc doesn't mean it is valid, and a minimal reproduction would a) allow swc to fix the issue and b) give everyone a test case to make sure it doesn't happen ag

[2020-10-28 05:22] kitsonk commented on #8106
It appears that #8114 has fixed this one.

[code]

It is successfully cached without errors now.

[2020-10-28 05:22] #8106 closed

[2020-10-28 05:23] #8094 closed

[2020-10-28 05:29] kitsonk commented on #8070
Having the lib `dom` along with `deno.ns` was added in #8157 as well as it includes a test case of how it is intended to work in Deno: https://github.com/denoland/deno/pull/8157/files#diff-cdf6d22aefaa516c0cec95fed92e71764b0c00a4ccfc3c5f1f42b2429e50f98b (or a `--config tsconfig.json` can be used).

[2020-10-28 05:29] #8070 closed

[2020-10-28 05:50] kevinkassimo commented on #8160
Did some investigation, yet realized that our manual parsing strategy would suffer badly from distinguishing cases as follows eventually (this similarly breaks regex based syntax highlighting badly):
[code]
We might as well eventually switch to using an actual JS parser (maybe swc could work?) and simply investigate the output error to determine we should allow continued input.

[2020-10-28 06:10] caspervonb commented on #8160
Yeah probably about time to just drop swc in there.

[2020-10-28 06:28] kitsonk commented on #8111
I have been thinking about this... I am thinking the right thing to do is fix it, but I don't know if it will really fix what people are trying to do here.  Clearly we need to give stronger guidance on how to properly leverage JavaScript with types and TypeScript under Deno.  Hopefully #8139 will help with some of that, and I think we might want to print out some warnings where people have differe

[2020-10-28 06:31] callionica commented on #8155
Do you have a long-running test that exercises `fetch` that I can look at to compare with my code?

[2020-10-28 07:36] TooTallNate opened #8163 ""Permission denied (os error 13)" with read-only Deno cache dir and `--config` flag using Deno 1.5.0"
### Error

[code]

### To reproduce

**tsconfig.json**

[code]

**hello.ts**

[code]

Run commands:

[code]

### Notes

* This appears to be a regression in Deno 1.5.0. Following the reproduction steps above using Deno 1.4.6 works as expected.
* The error seems to only happen when using the `--config` flag (perhaps something related to this specific tsconfig setup). Following the reproduction step

[2020-10-28 07:53] jveres commented on #8148
I have something similar issue:
[code]
[code]
Perhaps related to the use of decorators in my code. Easily reproducible by cloning my [repo](https://github.com/jveres/ego-network) and issue the `deno bundle` command above.

[2020-10-28 08:10] colorhook opened #8164 "Deno bundle error in 1.5.0 - shared module not bundle into the result"
share.js

[code]

a.js

[code]

main.js

[code]

`deno run main.js` is OK
`deno bundle main.js bundle.js` is OK
`deno run bundle.js` is OK

---------------

create b.js copy from a.js

[code]

add b.js to main.js

[code]

`deno run main.js` is OK
`deno bundle main.js bundle.js` is OK
`deno run bundle.js` is NOT OK

`Uncaught ReferenceError: value is not defined` output

and the bundle.js content i

[2020-10-28 08:28] kitsonk commented on #8148
@jveres can you also try `deno run --no-check` and see if the error still happens as well while we investigate.

[2020-10-28 08:36] kitsonk commented on #8163
It looks like the way we hash the configuration in 1.5.0 is not deterministic. We changed this in 1.5.0, and thought it was, need to look at why. It should still have not caused an emit though.

[2020-10-28 08:46] TooTallNate commented on #8163
It might be worth noting that the file `/home/cache/gen/file/home/hello.ts.js` does indeed exist. So perhaps it's just a matter of accessing the file with `rw` permissions, while only `r` is required in this case.

[2020-10-28 09:01] jveres commented on #8148
thanks @kitsonk - yep, I did try that but the same exception occurs.

[2020-10-28 09:07] lucacasonato commented on #8155
Not really no.

[2020-10-28 09:13] ibanchevski opened #8165 "[BUG] Deno 1.5.0 alert, confirm, prompt incorrect behaviour"
After the update, the new confirm, alert and prompt do not work properly.

Platform: Windows 10 x 86_64

I was able to reproduce the issue in another Windows machine.

[code]

![deno-issue](https://user-images.githubusercontent.com/62385800/97415756-456dea80-190e-11eb-9386-63f7188e2cd0.PNG)

_Note: The example code from the release blog post do not work as well._

[2020-10-28 09:15] lucacasonato commented on #6616
Let's close it then and consider it fixed. If it does pop up again at, we can reopen the issue.

[2020-10-28 09:15] #6616 closed

[2020-10-28 09:19] lucacasonato commented on #8165
Duplicate of #8146. We will release a hot fix release with a fix today.

[2020-10-28 09:19] #8165 closed

[2020-10-28 09:24] callionica commented on #8155
One more potentially useful piece of info: the server supports HTTP2.

Are there any long-running Deno tests?

I suspect the bug is in the bowels of `reqwest` or even lower. If we assume that the reported error of a DNS problem is accurate, it's clearly not right that there's no way to get past it except to kill the process. Feels like a pooled connection becomes tainted by an initial error.

I'm

[2020-10-28 09:38] #8154 closed

[2020-10-28 09:42] kitsonk commented on #8163
I realised that actually if the `tsconfig.json` isn't deterministic, then it will create a different hash for `tsc` which will think that it needs to be emitted and the abstraction that handles the files hasn't changed, so I am pretty certain the behaviour you are seeing is that something is wrong with the hashing of the `tsconfig.json`.

[2020-10-28 10:01] callionica commented on #8155
New clue: seems to be failing at exactly 119 (or 120 if off-by-one) consecutive requests to same server.

[2020-10-28 10:03] #8150 closed

[2020-10-28 10:52] kitsonk opened #8166 "Transpile error with swc and decorators"
I have something similar issue:
[code]
[code]
Perhaps related to the use of decorators in my code. Easily reproducible by cloning my [repo](https://github.com/jveres/ego-network) and issue the `deno bundle` command above.

_Originally posted by @jveres in https://github.com/denoland/deno/issues/8148#issuecomment-717762983_

[2020-10-28 10:53] kitsonk commented on #8166
@jveres it is a different issue than #8148 so I am splitting it out.

[2020-10-28 11:00] jveres commented on #8166
thanks, I too realised so.

[2020-10-28 11:21] sanderhahn commented on #8160
The es5-lexer uses this lookbehind for [`guess_is_regexp`](https://github.com/mikesamuel/es5-lexer/blob/master/src/guess_is_regexp.js).

[2020-10-28 11:25] kitsonk commented on #8163
So I was able to reproduce what I thought was the issue in a test case, basically our hash is non-deterministic when a `tsconfig.json` file is provided.  We use `serde` to deal with managing the configuration and a discussion with others indicates that it isn't by default guaranteed to be deterministic when deserailizing.  So I am working on a fix.

[2020-10-28 11:43] bartlomieju commented on #7627
Should have been fixed in https://github.com/denoland/deno/pull/8083

[2020-10-28 11:43] #7627 closed

[2020-10-28 11:48] bartlomieju commented on #8122
@nzakas thanks for reaching out, I think there's really nothing ESLint could do at this point. We are working on our own linter written in Rust called [`deno_lint`](https://github.com/denoland/deno_lint) which has been available in Deno for a few months now.

This issue regards only internal code that gets built into the binary itself and would help to limit our dependence on Node.

I would be how

[2020-10-28 12:07] cj1128 commented on #8070
I tried and this worked. Thank you!

[2020-10-28 12:37] kdy1 commented on #8148
This is a bug of `swc_bundler`. I'll fix it soon.

[2020-10-28 14:45] andreespirela opened #8170 "Deno does not complain with Decorators and no tsconfig in 1.5.0"
Deno is accepting running `TS decorators` without needing a _tsconfig.json_.

**Deno 1.4.6 (Expected)**
![image](https://user-images.githubusercontent.com/60560109/97451774-75b38a00-190a-11eb-9416-a4cfb6d2a392.png)

**Deno 1.5.0 (Not expected)**
![image](https://user-images.githubusercontent.com/60560109/97451943-9ed41a80-190a-11eb-80e3-db0eaf3d6093.png)

**1.5.0** runs without issues when it shou

[2020-10-28 14:49] andreespirela commented on #8170
Thanks @lucacasonato for providing the configuration. https://github.com/denoland/deno/blob/e01664d0ae6259022a901b0dea026ca350a49446/cli/module_graph2.rs#L705-L718 Seems like it is enabled by default.

cc @kitsonk @bartlomieju does this have something to do with https://github.com/denoland/deno/issues/7732 ?

[2020-10-28 14:53] bartlomieju opened #8171 "Rewrite ops to take "promise_id" as parameter"
Currently ops are agnostic of `promise_id` which is meant to be encoded in the control buffer passed to ops.

After discussion with @ry we've decided that we should rewrite ops to take `promise_id` as a parameter instead.

This is done in preparation to addressing bigger problems like "hanging" resources.

[2020-10-28 14:58] bartlomieju opened #8172 "Remove Deno.core.recv"
Currently the only way for async ops to respond from Rust to JS is by using `Deno.core.recv()` API which in turn calls `handleAsyncMsgFromRust`.

`handleAsyncMsgFromRust` is used with both shared queue and "overflown response" mechanism. During profiling of `deno_core_http_bench` I noticed that `handleAsyncMsgFromRust` gets deoptimized by V8. This is most likely caused by the fact that `handleAsyn

[2020-10-28 14:59] bartlomieju opened #8173 "dispatch_minimal should use promise table from Deno.core"
Currently we have two different dispatch mechanism implemented:
- minimal - used for io ops (`op_read` and `op_write`)
- JSON - used for all other ops

Each of these mechanism has separate promise table that is used to store promises awaiting response from Rust.

Duplication should be removed and only promise table should be managed by `Deno.core` namespace.

[2020-10-28 15:58] nayeemrmn opened #8174 "Enable Deno namespace by default in Workers"
Remove `WorkerOptions::deno`, though it will be brought back with a different type once permissions forking (#4867) is implemented.

[2020-10-28 16:21] mdarse commented on #5677
deno 1.5.0
v8 8.7.220.3
typescript 4.0.3
undefined

Unfortunately, that doesn’t seem to be fixed.

[2020-10-28 17:22] lucacasonato commented on #5677
@mdarse The behaviour in 1.5.0 is intended as it is. Chrome, Deno, and Node all agree on the behaviour. They all output `undefined` when you run this script. To try TLA in Chrome, enable the `#enable-javascript-harmony` flag.

[2020-10-28 18:17] eliassjogreen commented on #8137
It should probably provide pretty much the same properties as in [node](https://nodejs.org/api/os.html#os_os_networkinterfaces) if that is possible.

[2020-10-28 18:41] bartlomieju commented on #8122
denoland/deno_lint#367 has been resolved and `dlint` binaries are now available to download from GitHub release page.

We can now proceed to migrate `tools/lint.py` to use `dlint` instead of `eslint` - one note is that currently `dlint` requires to explicitly pass `--script` argument when linting scripts (= not ES modules) so `tools/lint.py` should run `dlint` on `cli/rt/` with `--script` flag and

[2020-10-28 18:51] rvdende commented on #8107
In the mean time I am using nginx to reverse proxy https to http instead. That seems to have solved the immediate need for this fix

[2020-10-28 19:03] nzakas commented on #8122
@bartlomieju ah ok, thanks for the additional details.

I’d definitely be interested in collaborating to see what it would take to get your parser working in ESLint. The best way to get started is to open an issue in the eslint repo with a description of how the parser works and what sort of compatibility issues you know of.

[2020-10-28 19:38] kitsonk commented on #8170
As the comment states, we have decorators enabled by default with `--no-check` and so to have predictable output between `--no-check` and check, it is better to have it on.  Sorry it wasn't mentioned in the blog post, but there was a lot of reworking of the infrastructure.

I am working on a whole update to the TypeScript documentation in the manual which will be more precise in what is configured

[2020-10-28 19:38] #8170 closed

[2020-10-28 19:41] fkirc commented on #177
It's probably too late, but let's add some cost-benefit analysis for this issue.

I fully agree with all long-term goals of Deno.
@ry is an excellent developer and I agree with all technical problems of Nodejs.

However, the cost of fixing those technical problems is dramatically different depending on the specific problem.

For example, it is important to reduce the dependency on a centrally-mana

[2020-10-28 19:56] fkirc commented on #177
This argument can be also applied for new software that is supposed to replace old software: Is it worth to destroy user-adaption and forwards-compatibility for "relatively minor" improvements?
Is it worth to end up with "no improvement at all" just because we were trying to push the last 10% improvements too hard?

[2020-10-28 20:08] HPaulson commented on #986
Any progress on when this may be available? I think it could be VERY useful for distribution of projects. Say for example you have a client who purchases software from you, but does not purchase the source, you would generally deliver them a binary. It would be very nice to have this option with deno, especially for this use case. I saw it got cut from 1.0, and was curious if it's still on the roa

[2020-10-28 20:08] kitsonk commented on #5677
It is the expected behaviour.

It actually has nothing to do with top level await, ES modules are immutable, and are two phase.  Once the bindings are determined, the module is released, so you have to do something that blocks the creation of the binding.  Once you export default something, it's value becomes fixed.  V8 is smart enough to realise this and there doesn't block execution, because it

[2020-10-28 21:07] bartlomieju commented on #6888
Closed in #7951

[2020-10-28 21:07] #6888 closed

[2020-10-28 21:45] renatoathaydes opened #8177 "Unable to bundle TS code that uses the DOM."
**Describe the bug**

Unable to bundle TS code that uses the DOM.

**To Reproduce**

1. Create a `test.ts` file with contents:

[code]

2. Create `tsconfig.json` with contents:

[code]

3. Run the `deno bundle` command:

[code]

This will fail with the following error:

[code]

**Expected behavior**

The `Deno bundle` command should succeed.

It worked before I upgraded to 1.5.0.

**Versions**

[c

[2020-10-28 22:56] mdarse commented on #5677
That makes sense for me now, I thought module execution was deferred until both *definition* and `await` related *assignation* did take place.

My `b.js` should have been:
[code]

Concerning the variation in behaviour between `export { x as default }` & `export default x;` that I did observe, I think this is due to the former expecting a variable name as `x` while the later expects an _expression_

[2020-10-29 00:16] callionica commented on #8155
@lucacasonato Maybe you already found this bug back in July: https://github.com/seanmonstar/reqwest/issues/976

Looks pretty similar: A limit of 120 on HTTP2 requests. Doesn't appear to require the requests to be made quickly though.

[2020-10-29 00:18] lucacasonato commented on #8155
@callionica they are different errors. The already reported one definitely requires it to happen quickly (it happens with ~100 simultaneous connections).

[2020-10-29 01:02] pedropaulosuzuki commented on #8146
There is another problem with the prompt, confirm and alert methods... they seem to not print correctly some characters (ãñõâêîôûü, for example)

![image](https://user-images.githubusercontent.com/32345702/97512662-da053680-1968-11eb-86ac-b2042a130248.png)

It happens both on the alert/confirm/prompt message and on the return value. This does not happen on console.log, though.

deno 1.5.0
v8 8.7.2

[2020-10-29 01:05] pedropaulosuzuki commented on #8146
As #8146 can be fixed with something similar to a simple trim method, and the problem I brought with special UTF-8 (or UTF-16?) probably isn't that simple, I'm opening a new issue.

[2020-10-29 01:09] pedropaulosuzuki opened #8179 "New prompt, alert and confirm methods get confused when escaping special characters [ã]"
The new adition of prompt, alert and confirm methods are great news for all of us!! Glad to have those!

However, after the small #8146 issue, there is yet another unrelated problem with the new tools: special UTF-8 (maybe UTF-16?) characters (ãñõâêîôûü, for example):

![image](https://user-images.githubusercontent.com/32345702/97512662-da053680-1968-11eb-86ac-b2042a130248.png)

It happens both on

[2020-10-29 01:36] giggio opened #8180 "Deno bundle producing incorrect code in 1.5.0"
I just tried running a simple http app with Deno, and after bundling I get an undefined error:

[code]

This is the source:

[code]

This is a snippet, starting at line 614 of the generated .js:

[code]

You can see all the `(void 0)...` there.

This are the commands I ran:

[code]

I tried an empty `tsconfig.json`, it still fails.

This works with Deno `1.4.6`. This is a working version compiled

[2020-10-29 01:39] nayeemrmn commented on #8088
@kdy1 This will require a breaking API change for swc. The bundler hook should instead be expected to return a list of key-value pairs which will initially populate the `import.meta` object.

For reference, the hook supplied by the host (Deno) to the JS engine (V8) is specified here: https://tc39.es/proposal-import-meta/#sec-hostgetimportmetaproperties. The hook supplied by Deno to swc should be t

[2020-10-29 02:07] magurotuna opened #8181 "bug(watcher): changes on a file newly added to dependency are not watched"
### version

current latest master (bfce376c)

### How to reproduce

1. create a file named `main.js`with the following content:

[code]
2. start running deno watcher by `cargo run -- run --watch --unstable main.js`. At this point we can see an output like:

[code]
3. create a new file named `new.js`. Nothing happens on the terminal.

[code]

4. edit `main.js` to the following and save it:

[code]

[2020-10-29 02:19] magurotuna commented on #8181
oops, this seems duplicate of #8035
I'd like to continue it here as I wrote more detailed situation.

[2020-10-29 02:25] callionica commented on #8155
Just doing a run that isn't showing the error after I added calls to Process.close and Process.stderr.close. Maybe it was a handle/resource limit showing up in a random place. Is the Deno resource table limited in size?

[2020-10-29 03:15] sanderhahn opened #8182 "Deno.args is string[] should be ReadonlyArray<string>"
At the moment Deno.args is `string[]`, but doesn't work like an array:

[code]

[2020-10-29 03:24] sanderhahn commented on #8182
Duplicate https://github.com/denoland/deno/pull/6820

[2020-10-29 03:24] #8182 closed

[2020-10-29 03:47] kitsonk commented on #5677
Yeah, I haven't dug into why a named export behaves different than a default export.  I suspect there are semantics buried deep in the spec.

[2020-10-29 03:48] kitsonk commented on #8177
Duplicate of #8147 (which is fixed in master an will be part of 1.5.1).

[2020-10-29 03:48] #8177 closed

[2020-10-29 03:50] kitsonk commented on #8035
Technically this was first, but #8181 better describes the problem, so closing as duplicate.

[2020-10-29 03:50] #8035 closed

[2020-10-29 04:17] 0x018 opened #8183 "Type check error"
### action:
deno run --allow-read --allow-net  xxx.ts

### result:

**Check** file:///....../xxx.ts

**error**: TS2322 [ERROR]: Type `'import("https://deno.land/std@0.75.0/http/server.ts").ServerRequest | null'` is not assignable to type `'import("https://deno.land/std/http/server.ts").ServerRequest | null'`.

  Type `'import("https://deno.land/std@0.75.0/http/server.ts").ServerRequest'` is not as

[2020-10-29 04:19] 0x018 commented on #8183
If `--no-check` is added, it runs successfully.

[2020-10-29 04:27] kdy1 commented on #8148
Can anybody help me with writing a test for it?
I wrote some tests about namespace reexport, but it passes.

[2020-10-29 04:42] kitsonk commented on #8183
Duplicate of #8154 which is fixed in `master` and will be part of 1.5.1.

[2020-10-29 04:42] #8183 closed

[2020-10-29 05:50] maximousblk opened #8184 "redirected imports cause type errors in v1.5"
when using x.nest.land, which **redirects** to the arweave URL

![image](https://user-images.githubusercontent.com/28438021/97530340-e674a800-19d7-11eb-8dea-cc7b635be274.png)

<details><summary>full error</summary>

[code]

</details>

when using [envoy](https://envoy.now.sh), which **proxies** to the arweave URL. note that the source is still the same as using nest.land directly.

![image](https:

[2020-10-29 06:20] rvdende commented on #6319
Running into this as well.. about 12 hours after starting the service. Might be that the client changed ip addresses and that confused deno or something like that? Also Deno error message doesn't tell me where in my code the issue originated from.

[code]

[2020-10-29 06:21] kitsonk commented on #8184
Duplicate of #8154

Which is fixed in master and will be part of 1.5.1.

[2020-10-29 06:21] #8184 closed

[2020-10-29 06:23] rvdende commented on #8107
12 hours later server crashed on http instead of https, related issue https://github.com/denoland/deno/issues/6319 Uncaught BrokenPipe: Broken pipe (os error 32)

This might mean that Deno is unable to run a web api reliably at this moment?

[2020-10-29 09:50] jannes opened #8185 "Deno.fsync marked as stable, but needs --unstable flag (1.5.0)"
When running a script that makes use of Deno.fsync I get the following error:
`TypeError: Deno.fsync is not a function`
(`deno run --allow-write --allow-read deno_scripts/testing_fsync.js `)

Passing the `--unstable` flag resolves this.
(`deno run --allow-write --allow-read --unstable deno_scripts/testing_fsync.js`)
However with 1.5.0 fsync/fdatasync are marked as stable in the documentation.

[2020-10-29 10:08] bartlomieju commented on #8185
CC @caspervonb

[2020-10-29 10:18] #8163 closed

[2020-10-29 10:41] bartlomieju commented on #8148
@kdy1 here's a failing test:

[code]

[code]

[2020-10-29 10:43] bartlomieju commented on #8180
CC @kdy1

[2020-10-29 12:15] solson commented on #8033
I don't use vi keyboard shortcuts, but I would also like if Deno respected `inputrc` files.

[2020-10-29 12:17] solson opened #8187 "REPL highlights numbers inside identifiers"
![image](https://user-images.githubusercontent.com/26806/97572749-a534c600-19e0-11eb-97c8-5b326c31177f.png)

cc @caspervonb

[2020-10-29 12:30] kdy1 commented on #8180
@bartlomieju Does deno invoke some transforms of swc? I'm not sure where `(void 0)` came from.

[2020-10-29 12:37] bartlomieju commented on #8180
@kdy1 this is function that TS files are run through prior to bundling: https://github.com/denoland/deno/blob/b0482400c96476946514f03f27f139dd505b06fb/cli/ast.rs#L411-L473

[2020-10-29 15:47] aricart opened #8188 "Deno bundle 1.5.0 redeclaring symbols"
In my code base I have a single definition for `render`. When the bundling the library, I get multiple:

The original function becomes renamed `render2`:
[code]

Then on line 5042:
[code]

Then on line 5968:
[code]

Of course this is wrong, and on a browser environment, the generated module immediately fails to load: "Identifier 'render1' has already been declared.

[2020-10-29 15:51] callionica commented on #8155
Here's the final bug report with a small repro:

Title:
Resource exhaustion (file handle exhaustion) produces misleading error message from fetch ("error: Uncaught (in promise) Http: error sending request for url (https://doc.deno.land/builtin/stable#fetch): error trying to connect: dns error: failed to lookup address information: nodename nor servname provided, or not known")

Summary:
Putting a

[2020-10-29 15:52] bartlomieju commented on #8188
CC @kdy1

[2020-10-29 16:43] coreybutler commented on #986
Personally, this would be _the_ defining feature that would shift most of my work to Deno (as opposed to Node/Go). If I weren't a complete n00b with Rust, I'd consider working on this. I'm still considering a crash course in Rust just to help on this feature.

I hope @ry, @piscisaureus, and everyone else recognize the impact this feature would have on the community. This aligns with the idea of De

[2020-10-29 17:43] lucacasonato opened #8189 "deno bundle fails to bundle specific minified code"
[code]

[code]

The code that fails to bundle as expected is in https://raw.githubusercontent.com/denosaurs/deno_lz4/master/wasm.js. Formatted version here: https://gist.github.com/lucacasonato/338868d143d8c734a8c82ee375d862d6

cc @kdy1

[2020-10-29 17:57] silverwind commented on #8137
`netmask` can probably be ommited in favor of `cidr`.

[2020-10-29 19:25] kitsonk commented on #8188
@aricart can you provide steps to reproduce?

[2020-10-29 19:40] aricart commented on #8188
@kitsonk I don't have a simple example but this one works:
[code]

[code]

It is worth noting the mod.ts:
[code]
and the ./nats-base-client.ts:
[code]

[2020-10-29 19:45] aricart commented on #8188
A bit more explanation, the nats.ws project depends on the common code currently hosted in nats.deno

[2020-10-29 21:15] danopia opened #8190 "feat: Passing certificate data directly to HttpClient"
In #6918 this signature was added:

[code]

## Problem

When connecting to a Kubernetes API from within a cluster, `caFile` is useful, because there's a `ca.pem` file ready to go. However, when connecting from a workstation, the CA data is generally nested inside a YAML file instead:

[code]

In order to use this CA with `Deno.createHttpClient` I have to extract the CA certificate and write it out

[2020-10-29 22:50] 716green commented on #2295
I got a Surface Pro X and for some reason the first thing I wanted to do with it was learn Deno. I'm so disappointed.
```choco install deno``` 💔

[2020-10-29 23:09] nayeemrmn commented on #8007
Still not sure I understand why this belongs in `import.meta`. How does the value vary between modules?

[2020-10-30 00:27] kitsonk commented on #8007
It is better than putting it in the `Deno` namespace, but any node that we can detect and elide.  We will be moving to a Rust/swc emit for everything, and being able to co-locate runtime code with test code would really improve the ease of use of testing...  So we would just elide the node from the emit with `deno run` and `deno bundle` but when we go with `deno test` we wouldn't drop it.  So it i

[2020-10-30 00:49] nayeemrmn commented on #8007
Strongly against then. This is a flagrant misuse of `import.meta` as it isn't module-specific metadata and it's hard to see the point when `import.meta.test` is still [not generally detectable](https://github.com/denoland/deno/issues/8088).

If the end-feature is so important, statically analysable (and portable) directives are supposed to use _code comments_, as adopted by Deno in lots of other p

[2020-10-30 01:02] tveronezi commented on #8107
@lucacasonato One of the last lines in this log is...

[code]

This is the tsc stating it compiled the same file as the initial server.ts. Why did deno compiles that file twice. Actually it also compiled `https://deno.land/std@0.74.0/async/delay.ts` before crashing. Maybe that's why we have a broken pipe: deno recompiled the server and its dependencies and didnt properly closed pending connections

[2020-10-30 01:40] webdeb commented on #3137
Thats, right.

But if `--env` could just _provide_ the env values into the process memory, still not allowing access to the actual env. Most people are using environment variables during the init phase once and have them in a const anyway.

[2020-10-30 02:26] pedropaulosuzuki commented on #8179
May have something to do with [this](https://github.com/denoland/deno/blob/6be6c517d0691bf1d14eef67668e575c84cdfdf4/op_crates/web/08_text_encoding.js#L989). But not sure.

[2020-10-30 02:37] pedropaulosuzuki commented on #8179
Another example, this time with some kanji.

![image](https://user-images.githubusercontent.com/32345702/97653375-68e48280-1a3f-11eb-86a4-6de5321206a7.png)

[code]

Latin example:
[code]

[2020-10-30 06:30] rvdende commented on #8107
Strange that it would compile so far into the process, what could be triggering this?
Even if deno is running in watch mode it should cleanly restart the process.

[2020-10-30 09:00] kt3k commented on #8179
I found that `Deno.stdout.writeSync(new TextEncoder().encode("ã"))` causes the same problem (tested in powershell in windows).

<img width="883" alt="スクリーンショット 2020-10-30 17 55 14" src="https://user-images.githubusercontent.com/613956/97680171-9978fa80-1ad9-11eb-9e1f-667c8e7ed11d.png">

It seems that Deno.core.print can be a workaround.

[2020-10-30 10:29] lucacasonato commented on #8146
Fixed by #8149

[2020-10-30 10:29] #8146 closed

[2020-10-30 11:19] #8166 closed

[2020-10-30 12:06] #8185 closed

[2020-10-30 12:24] bartlomieju commented on #2355
After more discussion we think that this functionality should be provided by the user land libraries - namely there's [`deno_swc`](https://github.com/nestdotland/deno_swc) that provides access to SWC APIs using WASM.

[2020-10-30 12:24] #2355 closed

[2020-10-30 12:24] webdeb opened #8194 "Provide limited env during startup"
There is a thread about limiting `--allow-env` variables to some explicit keys.
https://github.com/denoland/deno/issues/3137

This issue is a bit different. Instead of allowing access to environment at runtime at all, the user should be able to _provide_ environment values during startup with the `--env` flag `--env SECRET=secret`. If possible, it would be great to have the ability to use it multi

[2020-10-30 12:25] piscisaureus opened #8195 "New icon file (?)"
I created some [new .ico files](https://gist.github.com/712aaff5436be6fa1a32a0e63c960c37). Below is how they look -- but I can't make up my mind.

* The large icons in explorer all look pretty decent but the new ones look slightly better.
* On the task bar the colorful one looks best I think.
* The little icon in the top window corners looks crappy for all variants. I feel that maybe the image sho

[2020-10-30 12:25] piscisaureus opened #8196 "New .ico files"
I created some [new .ico files](https://gist.github.com/712aaff5436be6fa1a32a0e63c960c37). Below is how they look -- **but I can't make up my mind which one to use**.

* The large icons in explorer all look pretty decent but the new ones look slightly better.
* On the task bar the colorful one looks best I think.
* The little icon in the top left window corner looks crappy for all variants. I feel

[2020-10-30 12:43] #8195 closed

[2020-10-30 14:49] hazae41 commented on #8196
My vote goes to the black and white icon 👍

[2020-10-30 15:28] ry commented on #8107
A guess is that we encounter some TLS error but don't propagate it properly.

We should try setting up a TLS server and sending it some garbage data - does it crash? If so, we can probably easily fix it.

[2020-10-30 15:36] ije commented on #8196
prefer **bw** one

[2020-10-30 16:28] callionica commented on #5931
I'm trying to write a client that consumes the Philips Hue API from Signify (a home automation API for controlling lighting). The API is accessed over https to hardware (the "Hue bridge") running on the local network. The Hue bridge uses a self-signed certificate. I've got no control over the certificate the bridge uses. Deno already can't handle sending requests to IP addresses, but Deno also doe

[2020-10-30 17:21] cspital opened #8200 "Confirm always returns false"
[code]

Running the sample as directed in https://deno.land/posts/v1.5#codealertcode-codeconfirmcode-and-codepromptcode-added:

[code]

Loop never breaks and confirm message is truncated at ` is your name?`.

[2020-10-30 17:29] Noah-Huppert opened #8201 "TextEncoder.encode TypeError: Invalid argument should give more details"
I believe that the `TypeError` returned by `TextEncoder.encode` is too ambiguous.  I think for any other method which isn't dealing with text encoding an ambiguous error message like `Invalid argument` would be okay. However text encoding is full of many hairy input situations, and more details to narrow down which bad input situation you are experiencing would be very helpful.

---

Here is a sho

[2020-10-30 17:30] #8200 closed, assigned to nobody

[2020-10-30 18:26] benjamingr commented on #5638
Hey @ry @kitsonk - I was speaking to a large'ish company today and this issue was the show-stopper for them in their case.

I'm happy to help and work on this. Is there a preference for _how_ this should look like? I think the clearest API would be:
 - Exposing SetPromiseHook pretty directly and letting users and APM vendors deal with it.

[code]

[2020-10-30 18:27] benjamingr commented on #5638
@PatrickJS note that the use case you are describing (tracking state across context) is solving a bigger and different issue than what APMs need/want.

[2020-10-30 19:39] #8148 closed

[2020-10-30 19:39] #8180 closed

[2020-10-30 19:39] #8188 closed

[2020-10-30 19:39] #8189 closed

[2020-10-30 19:40] bartlomieju commented on #8164
Fixed in https://github.com/denoland/deno/pull/8197

[2020-10-30 19:40] #8164 closed

[2020-10-30 19:50] kitsonk commented on #8201
Actually we should be more spec compliant here...

[code]

Results in the following in Chrome:

[code]

It is only values that are not coercible to strings that throw.  For example:

[code]

Results in:

[code]

We should leave the type enforcement up to TypeScript.

[2020-10-30 19:55] kitsonk commented on #8194
I am not really supportive of this.  Environment variables are environment variables.  You can already express them on the command line.

[code]

If you want to pass an argument, pass an argument.

[code]

[2020-10-30 20:01] kitsonk commented on #5638
cc/ @bartlomieju @bnoordhuis @piscisaureus I know there is a lot of chat at the moment about the resource table and how we are going to be handling promises... feels like it maybe worth considering the APM needs as well?

[2020-10-30 20:05] webdeb commented on #8194
@kitsonk oh thats somehow dropped out of my mind, that you can actually do it with args.
Hmm. And first example would work without `--allow-env` ?

[2020-10-30 20:15] Noah-Huppert commented on #8201
Thanks for the quick reply. Yea that seems reasonable. Definitely agree that the type checking should be left up to typescript. Just to be clear the details about types and such was more of an illustration of a tricky debugging situation where a more verbose error would have been nice, and not meant to put any emphasis on type checking.

Since you labeled this as good first issue I thought I'd poi

[2020-10-30 20:30] kitsonk commented on #8201
Well, I don't think we shouldn't worry about `Deno.core.encode()`.  It should be a slightly better error on line 604:

https://github.com/denoland/deno/blob/2a36e2f892d6e0855b4e3d927cca399299038f80/core/bindings.rs#L596-L609

But that isn't as important as it is that we should try to coerce to a string in `TextEncoder.encode()`:

https://github.com/denoland/deno/blob/2a36e2f892d6e0855b4e3d927cca39

[2020-10-30 20:49] kitsonk commented on #8194
Apologies, no... it should be:

[code]

[2020-10-30 21:10] littletof commented on #8196
I like the first one (_deno_) the most. I think its recognisable even, when blurry. If not that, than the colorful one, with a dark(er) border.

[2020-10-30 21:50] sanderhahn commented on #8179
Was looking at the rustyline crate and it seems to use utf16 for reading input: https://github.com/kkawakam/rustyline/blob/master/src/tty/windows.rs#L105

[2020-10-30 22:04] andykais commented on #1928
I just upgraded to 1.5.0 and I see this syntax highlighting on the repl! Awesome work guys

[2020-10-30 22:08] littletof commented on #8118
Today I had a bit of time to look at this again, I think I have to correct myself/rephrase things, apologies, for that.

I'm on windows 10, deno 1.4.6, working with the previously linked repo's `tests/test_deps.ts` on tag v0.3.0 as an example.

If I run `deno fmt --check` I get this:
![image](https://user-images.githubusercontent.com/32012862/97758763-dfe15000-1aff-11eb-93a2-da32328ce4e6.png)

Whe

[2020-10-30 22:15] piscisaureus commented on #8196
Tangentially related - it turns out that windows will always show a **low resolution** 32x32 icon on the task bar, unless the user pins deno to either the task or to the start menu.

We don't do that automatically and it doesn't make a whole lot of sense for our users to do so... I guess that means our friendly dino will always look blurry...? Does anyone here have an uncle at MSFT who can shed so

[2020-10-30 22:25] jsejcksn commented on #8148
Thanks @kdy1!

[2020-10-30 23:22] timonson commented on #8107
@tveronezi I started a new https server with deno 1.5 after I read your post. It crushed after about 9 hrs again. If you need my `Ldebug` file, let me know, because I saved it. On the other hand, my http sever keeps running. Only https is crashing.

[2020-10-31 00:24] sant123 commented on #6167
I'm trying to install a local module but I'm getting the following error:

![image](https://user-images.githubusercontent.com/7959437/97766541-cb438e80-1ae4-11eb-957b-6e6f84862e83.png)

No such file or directory (os error 2)

Just in case I have set the following environment variable:

`export DENO_INSTALL_ROOT="$HOME/.deno"`

Anyone has an idea of what's going on? Also I have tried with the `file

[2020-10-31 02:55] magurotuna opened #8203 "a script that works fine in v1.4.6 doesn't work in v1.5.0"
### Describe the bug

I have a script that uses `date-fns`. This script worked fine in Deno v1.4.6, but after I upgraded to v1.5.0, it doesn't work.

### how to reproduce

Create a file `main.ts` with the following content:

[code]

Then run it by `deno run main.ts`. The output I've got is:

#### In v1.5.0

[code]

#### In v1.4.6:

[code]

[2020-10-31 09:07] kt3k commented on #8179
#8199 fixes the output of non-ascii characters, but the problem in reading non-ascii chars from stdin (in windows) is still remaining. The above utf-16 decoding could be a solution.

Addition of utf-16 encoding is in progress at https://github.com/denoland/deno/pull/8108

[2020-10-31 10:54] benjamingr commented on #8201
I'll take a look at this - better TypeError doesn't sound correct but @kitsonk 's fix actually seems to generate the correct behaviour (of coercing to string). In the web:

[code]

I think Deno should behave like the WHATWG spec requires - but still use `string` in its own d.ts for better dx.

[2020-10-31 12:30] bnoordhuis commented on #5638
`v8::Isolate::set_promise_hook()` is available (denoland/rusty_v8#496 - in deno now) so I suppose that's a first step?

Having been both an APM vendor and a maintainer of Node.js, it's been my experience that low-level hooks are enough.

[2020-10-31 12:33] lucacasonato commented on #8203
cc @kitsonk

For some reason we are type checking JS.

[2020-10-31 12:38] benjamingr commented on #5638
Oh great (also hi!), I missed that.

So the only bit remaining is exposing this to the typescript bit?

Cursory emails to APM vendors seemed to indicate a strong preference to low level hooks as well.

[2020-10-31 12:41] bartlomieju commented on #5638
Deno.metrics.setPromiseHook

@benjamingr this API needs direct binding to V8 API so to keep consistent with other such APIs, it should live in `Deno.core` namespace.

[2020-10-31 12:58] benjamingr commented on #5638
Would it help if I tried working on this? If Ben already has something in mind - it'll probably be easier for him to do it.

If it would help I'm happy to try adding a `Deno.core.setPromiseHooks`

[2020-10-31 13:02] bartlomieju commented on #5638
@benjamingr sure! Look in `core/bindings.rs` for the methods listed above

[2020-10-31 14:04] benjamingr commented on #5638
Hmm, question - in rust closures and functions are different - in Ben's PR he uses a global name (hook) to store the hook in JS land and then "get" it in TS land.

I found very little cases of `.call` - stuff like `queueMicrotask` already takes ` v8::Function` and doesn't have this problem.

Is there a standard way to do this in Deno? (Store callbacks to call later?) I can store `Deno.core._hookCa

[2020-10-31 14:13] bartlomieju commented on #5638
@benjamingr take a look at `JsRuntime::js_recv_cb`, it is set using `Deno.core.recv`. I think you can take similar approach

[2020-10-31 14:26] timreichen commented on #3648
Maybe of some interest? https://deno.land/x/deno_dom

[2020-10-31 15:09] benjamingr commented on #5638
Thanks, I'll do that, I have something ready with the global approach, I will refactor it and try to use the same approach as `js_recv_cb` and open a PR (not sure it'll be today, but probably tomorrow).

Note my rust is pretty terrible 😅 so any sort of feedback is good feedback so I can improve it :]

I'll open a draft PR with a task list for myself.

[2020-10-31 15:29] benjamingr commented on #5638
API question: would should be the behaviour when someone calls `setPromiseHook` twice?

We can either:

 - Replace the old hook (might be surprising behaviour)
 - Throw an error (might be an issue if multiple consumers try setting up hooks)

This is more of a "for the future" concern I guess.

[2020-10-31 15:40] Ayfri commented on #7907
Still not working in 1.5.1, still getting this in console
[code]

[2020-10-31 16:01] WorrenGilgamesh opened #8210 "Deno @1.5.0: TS2345 [ERROR]: Argument of type 'BufReader' is not assignable to parameter of type 'string | BufReader'"
I'm exploring Deno with cvs files, but i got a problem with the parse.
I'm think that the problem come with the old dependencies;
[code]
The majority are from @0.75 and I'm in the @1.5. <br>

I'm using:

    deno 1.5.0
    v8 8.7.220.3
    typescript 4.0.

I'm having having issue with this code:

[code]
The error:

[code]

In Deno 1.0.0 this similar code run well

[code]

[2020-10-31 16:01] lucacasonato commented on #8210
This issue should be fixed in 1.5.1 which was just released.

[2020-10-31 16:12] WorrenGilgamesh commented on #8210
Thks!!!

[2020-10-31 16:12] #8210 closed

[2020-10-31 16:58] jsejcksn commented on #8194
I think this is a duplicate of the referenced issue. Casper suggested exactly that in https://github.com/denoland/deno/issues/3137#issuecomment-656032020.

[2020-10-31 17:14] jsejcksn opened #8211 "Uncaught ReferenceError when running bundle created with Deno 1.5.x"
I'm getting runtime errors when executing bundles created with Deno `1.5.x` that I didn't get in `1.4.6`:

`main.ts`:
[code]

Link to module for examination: https://unpkg.com/luxon@1.25.0/src/luxon.js

Bundling with `1.5.1`:
[code]

Bundling with `1.5.0`:
[code]

Bundling with `1.4.6`:
[code]

Running the `1.4.6` bundle with `1.5.1`:
[code]

Any ideas?

[2020-10-31 17:25] jsejcksn commented on #8203
@magurotuna As a workaround until this is fixed, you can use a [compiler hint](https://deno.land/manual/getting_started/typescript#compiler-hint) (first line):

[code]

This will also improve your developer experience if you are using something like VS Code + the deno extension.

Aside: Not sure why the typings are excluded from that repo in deno.land/x. They are in the GitHub repo and being publi

[2020-10-31 17:25] lucacasonato commented on #8211
cc @kdy1

[2020-10-31 18:34] jveres commented on #8166
Using version `1.5.1` `deno bundle test.js test.bundle.js` runs without error.
However running the bundled code by `deno run test.bundle.js` gives this error:
`error: Uncaught ReferenceError: _applyDecoratedDescriptor is not defined`

[2020-10-31 18:46] lucacasonato commented on #8166
@jveres Could you open a new issue?

[2020-10-31 18:48] pedropaulosuzuki commented on #8179
That's only part of the problem, unfortunately. When capturing input, there is also a problem regarding the escaped characters. For example, try running the code below and inserting the characters 'a' and 'ã', one at a time:

[code]

[2020-10-31 19:03] jveres opened #8212 "'_applyDecoratedDescriptor is not defined' error in bundled code"
PR #8168 in deno version `1.5.1` now allows to bundle code with decorators.
Running the bundled code however gives error:
`error: Uncaught ReferenceError: _applyDecoratedDescriptor is not defined`

Test code to reproduce (same `test.ts` as in #8168):
[code]

[code]

[2020-10-31 19:04] jveres commented on #8166
#8212

[2020-10-31 19:52] lucacasonato commented on #8212
cc @kdy1

[2020-10-31 20:14] kitsonk commented on #8212
`deno run --no-check test.ts` causes the same error...  We clearly need to add a test for this.  The emit is:

[code]

@kdy1 are there some helpers we are supposed to inline our emit?

[2020-10-31 20:38] kitsonk commented on #8203
We aren't type checking JS.  The JavaScript though is influencing the types in TypeScript.  I believe that the current behaviour is actually the desired behaviour.  The example code [provides JSDoc](https://deno.land/x/date_fns@v2.15.0/formatISO/index.js#L13-L14):

[code]

Because it uses a syntax that isn't actually compliant with JSDoc, TypeScript doesn't understand the second argument is actual

[2020-10-31 22:35] phocks opened #8214 "deno install not reading flags properly? when --force is used after --allow-net"
Not sure what is happening and it's only a minor issue, but when I use this command I get this error

`deno install --allow-net -force --name myapp .\index.ts`

`error: Found argument '-o' which wasn't expected, or isn't valid in this context`

If I put `--force` before the `--allow-net` I get no error. And no error if I use the shortened -f

Using deno version 1.5.1

[2020-10-31 22:40] nayeemrmn commented on #8214
You miswrote it as `-force`. `deno install --allow-net --force --name myapp .\index.ts`

[2020-10-31 23:02] phocks commented on #8214
Ahh damn 🤦

[2020-10-31 23:02] #8214 closed

[2020-11-01 00:10] 00ff0000red commented on #7995
It seems the issue that you had opened in SWC has since been closed, should this be closed down too, to indicate that issue no longer affects Deno?

[2020-11-01 04:03] magurotuna commented on #8203
@jsejcksn
thanks for the workaround! That way I have made it work in v1.5.0. 👍

[2020-11-01 05:10] kdy1 commented on #8212
Yes, decorators require `inject_helpers` pass to work properly.

[2020-11-01 09:28] kitsonk commented on #8212
Ok, we need to do that...  Thanks for the help @kdy1.

[2020-11-01 09:30] kitsonk commented on #8203
Since it is working as designed, I will close this.

[2020-11-01 09:30] #8203 closed

[2020-11-01 11:32] Flarna commented on #5638
I would vote to add a thin layer to allow multiple users.

There are several usecase for context tracking therefore this functionality should not be consumed by a single user. In special APMs tend to act as hidden as possible therefore it's a no go to take a global resource.

[2020-11-01 12:10] benjamingr commented on #5638
Ok, I am convinced @Flarna - it makes sense people would want something like cls-hooked and an APM at the same time that sounds reasonable. I'll refactor it to use a `Vec<v8::Global<v8::Function>` and not a `Option<v8::Global<v8::Function>>` and make the code work with multiple callbacks.

Is there a compelling use case for _removing_ hooks? That is also not currently supported in the API.

I thou

[2020-11-01 12:52] benjamingr commented on #5638
Ok, I think the PR is about ready https://github.com/denoland/deno/pull/8209

I am not sure about how tests should work for testing a "directly exposed" V8 API (more tests? fewer tests?) I personally think that an integration test of hooks on a "real world" app would be very useful in identifying APMs breaking on V8 updates.

Another open issue is docs. I left a comment on the PR.

[2020-11-01 13:10] bartlomieju commented on #7995
Yes, Deno no longer panics so this issue is resolved.

[2020-11-01 13:10] #7995 closed

[2020-11-01 13:12] xianqiangliu commented on #7995
n

[2020-11-01 15:09] talentlessguy commented on #5382
@ebebbington how is the work going? is it far from the final result?

[2020-11-01 15:14] ebebbington commented on #5382
@talentlessguy id say maybe 60-70% done, the work left relies on Duplex though which I believe @Soremwar is working on

The work is being done at https://github.com/soremwar/deno in the http branch, there’s mostly todos and tests to be written

[2020-11-01 15:15] ebebbington commented on #5382
You’re also happy to help contribute, I don’t have a lot of free time to work on it, and can see what @Soremwar thinks too (they are the std/node master ;) )

[2020-11-01 15:17] talentlessguy commented on #5382
@ebebbington oh nice for a quick response, I'll see what I can help with if I have enough time in the future

[2020-11-01 15:36] couetilc opened #8217 "`os error 2` thrown using Deno.run in Deno.test"
I'm trying to run an http server in a subprocess so I can make fetch calls against it in a test run. I first started out with an oak server, but kept running into the same error regardless if I used Deno's http server or Oak's application server.

Error:
[code]

Server file
[code]

Test file:
[code]

Debug log from running the server: `deno run -Ldebug --allow-net s.ts`
[code]

Debug log from runn

[2020-11-01 15:38] bartlomieju commented on #8217
[code]
should be
[code]

[2020-11-01 15:45] couetilc commented on #8217
Thank you @bartlomieju ! That worked, I run into another error after waiting 10 seconds after starting the subprocess though. I will try to figure this out. Closing issue as `os error 2` is resolve

[code]

[2020-11-01 15:45] #8217 closed

[2020-11-01 16:29] Flarna commented on #5638
@benjamingr I don't think removing is really needed but a nice to have. Usually APM tools or something like cls-hooked are not removed from a running process. If they result in a problem you usually have to restart the process anyway.

But it's at least helpful for testing as it avoids that your test changes a global state.

[2020-11-01 16:39] benjamingr commented on #5638
Ok, I don't mind adding removing to another PR - right now what I need is more eyes on the PR - I think it's ready for some reviews and hopefully to land.

I think the part missing from Deno after it lands is the "non v8 bits" for context.

In Node, this is typically done by wrapping objects (like overriding `Deno.readFile`) but in Deno that is impossible to do (it's a read only property).

Might

[2020-11-01 21:31] nekdolan opened #8218 "Bundler throws TS errors that running the script doesn't"
I use a dependency from npm and when I try to bundle my script instead of running it it is throwing errors and won't compile.

Errors
[code]

[2020-11-01 21:33] nekdolan commented on #8218
Works in 1.5.1 closing

[2020-11-01 21:33] #8218 closed

[2020-11-01 21:40] nekdolan opened #8219 "deno bundle should support type checking worker scripts"
When I try to bundle my worker.ts it raises an error
[code]
Code
[code]
In Deno
[code]

[2020-11-01 21:46] kitsonk commented on #8219
We need to think about this more, but there are two workarounds.

[code]

Or:

[code]

Where the `tsconfig.json` contains:

[code]

[2020-11-01 22:28] kitsonk commented on #7907
It isn't clear to me what isn't working.  Could you provide a clearer picture of what you expect to happen and what isn't happening in 1.5.1, hopefully with a full example that could be run?

[2020-11-01 23:57] #8201 closed

[2020-11-02 02:51] #8060 closed

[2020-11-02 05:01] Ayfri commented on #7907
I have a directory `commands` that contains files and every file contains a class in it.
So I'm trying to dynamically fetch and import all the file to create an instance of all the classes.

But what I am getting is the fetch of the first file, then nothing.

You can see the code [here](https://github.com/Ayfri/tsc).

[2020-11-02 06:21] shadowtime2000 commented on #3196
Came across [esm.sh](https://esm.sh/) a CDN that lets you use NPM packages in Deno.

[2020-11-02 08:40] nekdolan commented on #8219
Thanks @kitsonk `deno bundle --no-check` works

[2020-11-02 09:29] kitsonk commented on #4752
Been doing a lot of thinking about this recently.  I believe this is the interface we should adopt:

[code]

This would provide all the existing functionality (plus more) in a single API that would serve as a general purpose source code emitter and type checker.

[2020-11-02 11:05] bartlomieju commented on #7907
This comment still stands - when you import `mod.ts` then, `mod.ts` is also being imported dynamically by `src/commands/Reload.ts`; it causes a dead lock.

[2020-11-02 11:33] MarkTiedemann commented on #8196
@piscisaureus Did you check how these icons look in the explorer when using Windows in dark mode? This was an issue with earlier designs (see https://github.com/denoland/deno/pull/6693).

[2020-11-02 11:33] #8212 closed

[2020-11-02 11:41] MarkTiedemann commented on #8194
Yes, but doing so cross-plattform can be tricky. This is why [`cross-env`](https://www.npmjs.com/package/cross-env) is popular.

[2020-11-02 14:52] crowlKats commented on #3450
So a bit ago i tried working on this, but there is a major problem: there is no cross platform crate to do what we need. i am not knowledgeable enough to make one myself either, so not sure what we can do but wait for one to emerge

[2020-11-02 17:40] #6037 closed

[2020-11-02 17:45] caspervonb commented on #8196
New black white reads the best.

[2020-11-02 17:49] bartlomieju commented on #6974
@maximousblk thanks for detailed description. #6037 has been resolved in #8133 and the output is as follows:
[code]

Before setting up the builds we still need to figure out how they would work with `deno upgrade` (because URL to releases page is hardcoded there). I think sensible solution would be to add `--nightly` flag to `deno upgrade`.

[2020-11-02 17:58] #8004 closed

[2020-11-02 18:15] Ayfri commented on #7907
Oh...
Really ?

If I move the fetching and import part from the `mod.ts` into another file then I just call it in the `mod.ts`, does it gonna work ?

[2020-11-02 18:19] bartlomieju commented on #7907
@Ayfri yes that should work, try registering commands in a separate file.

[2020-11-02 18:32] Ayfri commented on #7907
[code]
[code]

This has the same behavior than before. 🤔

[2020-11-02 18:41] MarkTiedemann commented on #8196
Just tested on my Windows 10 in dark mode with "Extra large icons".

![Capture](https://user-images.githubusercontent.com/7062160/97904228-7bf99a00-1d40-11eb-90f2-e928f2504e5a.PNG)

It looks like the eye of the dino is either grey or transparent. Also there are a few white pixels in around the curvature.

Hmm, I can't reproduce this. Perhaps this is only with certain taskbar, start menu, or other

[2020-11-02 18:43] bartlomieju opened #8223 "Rewrite "tools/" scripts in Deno"
Various utility scripts in `deno` repository, that are used during development and CI, are written in Python. Those are scripts in `tools/` directory. They are used for formatting, linting, parsing benchmarks output, etc.

I think it would be beneficial to rewrite them to use Deno instead of Python. Doing so would completely remove dependency on Python (unsure about that, `rusty_v8` probably still

[2020-11-02 19:01] rracariu opened #8224 "Bundling has infinite loop with certain circular dependency scenarios"
New bundler gets into an infinite loop and never completes the bundle.

This used to work on versions <1.5. Unfortunately can't share the code and I don't know how to minimize the testcase...

[2020-11-02 19:02] ebebbington commented on #8224
Try on Deno v1.5.1

[2020-11-02 19:05] rracariu commented on #8224
This is what I used: `deno --version`
[code]

[2020-11-02 19:07] ebebbington commented on #8224
Hm, try clear the cache:
[code]

[2020-11-02 19:15] Ayfri commented on #7907
And I don't understand why does the `mod.ts` file is dynamically imported from the commands 🤔
I don't import it in the code.

[2020-11-02 19:18] lucacasonato commented on #7907
@Ayfri You do import it - https://github.com/Ayfri/tsc/blob/master/src/commands/ReloadCommand.ts#L3. You shouldn't move the loadCommands function into a separate file -  you should move the `export const commands = new Collection<string, Command>();`.

[2020-11-02 19:33] Ayfri commented on #7907
Oooh, I understand now, I fixed it and it works now, thank you!
And thanks to you for your patience!

[2020-11-02 19:33] #7907 closed

[2020-11-02 19:43] kitsonk commented on #8224
@ebebbington that is unlikely to work as `deno bundle` doesn't use the cache.

@rracariu any chance you could do `deno bundle -L debug` and share whatever you can that is desensitised.  Without some information it is really hard to figure out where the bug is.

[2020-11-02 20:09] crowlKats commented on #6974
sounds reasonable to me. How would the nightly flag behave tho? as i described it or as @maximousblk did?

[2020-11-02 20:14] crowlKats commented on #8223
for installing deno in CI script, would be using https://github.com/denolib/setup-deno alright, or rather do it manually?

[2020-11-02 20:18] bartlomieju commented on #8223
@crowlKats I think we should use [`deno_install`](https://github.com/denoland/deno_install) script

[2020-11-02 20:47] AliBasicCoder commented on #8187
fixed in #8202

[2020-11-02 21:45] bartlomieju opened #8226 "Linter shouldn't support eslint ignore directive"
Currently `deno lint` supports two distinct ways of ignoring diagnostics on next line:
- `eslint-disable-next-line`
- `deno-lint-ignore`

In https://github.com/denoland/deno_lint/issues/476 @nayeemrmn suggests to make `deno-lint-ignore` take into account whole AST node which would render `eslint-disable-next-line` irrelevant. Additionally supporting eslint's directive leads to a subtle bug in `den

[2020-11-02 21:53] bartlomieju opened #8227 "Linter should display rule docs"
There's an on-going effort in `deno_lint` repository to add docs and examples to all rules (https://github.com/denoland/deno_lint/issues/159). We should think about integrating these docs into `deno lint` subcommand.

Currently `deno lint --rules` shows a plain list of rules that are run. I think we could integrate showing docs by providing rule codes as a value to `--rules`, eg. `deno lint --rule

[2020-11-02 21:54] MarkTiedemann commented on #8223
If you just want to determine the latest Deno executable, download and unzip it, you can do that in a shell or cmd one-liner (or 3-liner, nicely formatted).

[code]
[code]

Both `setup-deno` and `deno_install` deal with edge cases, different arguments, versions, putting Deno in the PATH, etc. If the requirements are simpler than that, you could get away with simpler scripts...

// Note that `curl`

[2020-11-02 21:56] rayfoss commented on #2295
@vintprox @716green ... The Samsung Galaxy S4 was the first to make the jump to a 64bit ARM processor. That came out, spring 2013. Google Play effectively ended support for ARM v7a processors in 2019.

The Surface Pro X is an amazing computer with one of the fastest ARM64 capable processors out there... it can run deno without issue. User agent sniffers might be giving you bad packages... you want

[2020-11-02 22:09] MichaelBauerLHIND commented on #6995
I have the same Problem with the combo
import { Handlebars } from "https://deno.land/x/handlebars@v0.4.2/mod.ts";
and
import { createHash } from "https://deno.land/std@0.76.0/hash/mod.ts";

but if you use a hash module directly
import { Sha1 } from "https://deno.land/std@0.76.0/hash/sha1.ts";
it works

maybe its a problem with the wasm module
import { Hash } from "./_wasm/hash.ts";

the tsconfig.j

[2020-11-02 22:11] bartlomieju commented on #8227
@RDambrosio016 [suggested on Discord](https://discord.com/channels/684898665143206084/684911491035430919/772944237859307531) to use lexer from SWC to provide code highlighting.

This might also be useful for syntax highlighting in REPL (especially if we were to support TypeScript in REPL). Definitely something to consider especially if it means not having to add new dependency.

[2020-11-02 22:15] RDambrosio016 commented on #8227
All of the highlighting is done [here](https://github.com/RDambrosio016/RSLint/blob/master/crates/rslint_lexer/src/highlight.rs).
The theme is basically one dark pro

![highlighting](https://imgur.com/sJ1pbCk.png)

[2020-11-02 22:17] #8136 closed

[2020-11-02 22:21] bartlomieju commented on #6974
@crowlKats I think format proposed by @maximousblk is very reasonable and easy to grep:
[code]

[2020-11-02 22:27] bartlomieju commented on #4752
@kitsonk I like this API, it nicely corresponds to current Rust API

[2020-11-02 22:32] bartlomieju commented on #8041
I think it's a very sensible future and should be straight-forward to implement. Marking as good first issue.

[2020-11-02 22:37] bartlomieju commented on #8072
Releasing `WebWorker` as a standalone op crate is very non-trivial and I expect it to be one of the last op crates to be produced, if ever.

The reason is that `WebWorker` is very tightly tied to abstractions in CLI, including, but not limiting to integration with event loop (tokio). I really don't see a straightforward way to move it into a separate crate.

I'm afraid at this point it's a "won't

[2020-11-02 22:37] #8072 closed

[2020-11-02 22:39] crowlKats commented on #6974
hmm what would happen if one passes both version and nightly flag tho?
that is one reason why i was considering rather to have:
[code]
over maximous' one, and imo feels more intuitive

[2020-11-02 22:40] 716green commented on #2295
Where can I get a package that's compatible with the SQ1 ARM64 processor in my Surface Pro X? The recommended install is through Chocolatey from what I've read.

[2020-11-02 22:41] bartlomieju commented on #6974
@crowlKats they could be mutually exclusive. Let's get some more feedback before deciding on the flag, and also it should be behind `--unstable` anyway.

[2020-11-02 22:45] bartlomieju commented on #7927
I'm in favor of this change, I think we should land it for `1.6.0` similar to previous `deno info` overhaul in `1.4.0`

[2020-11-02 22:47] bartlomieju commented on #7871
Done in https://github.com/denoland/deno/pull/8220

[2020-11-02 22:47] #7871 closed

[2020-11-02 22:48] kitsonk commented on #6995
@MichaelBauerLHIND what version of `deno` are you using?

It appears that `https://deno.land/x/handlerbars@v0.4.2/mod.ts` has some issues independent of anything else, and probably should open an issue with the package maintain, because it is importing an untyped version of handlebars.  I am getting the following with 1.5.1:

[code]

That has nothing to do with this issue.  I don't even need to im

[2020-11-02 22:50] bartlomieju commented on #7694
Haven't seen this one in a month, closing.

[2020-11-02 22:50] #7694 closed

[2020-11-02 22:53] bartlomieju commented on #7380
@kitsonk could this issue be resolved by latest module graph refactors?

[2020-11-02 23:11] ThatsNoMoon commented on #6974
I think it would be most seamless if it was integrated into the existing `--version` flag.
[code]

[2020-11-02 23:32] kitsonk commented on #6995
@aaronwlee I think the underlying issue is resolved in 1.5.1 (it was/is a duplicate of #6176), but there seems to be another issue related specifically the `https://jspm.dev/@babel/core` package.  There is a problem that with `allowJs` TypeScript "helpfully" tries to transpile any CommonJS modules to ESM and it is choking on a module during the emit.  I have had a little bit better luck with `http

[2020-11-02 23:34] kitsonk commented on #7380
Yes, just checked it and it is now working.

[2020-11-02 23:34] #7380 closed

[2020-11-02 23:36] kitsonk commented on #7927
I've assigned it to myself and will do it when we get closer to 1.6.0... We should wait for the JSON restructure to be aligned to the current output.

[2020-11-02 23:38] kitsonk commented on #8194
Makes me even more convinced we should build something arbitrary into Deno CLI.

[2020-11-02 23:55] kitsonk commented on #5069
We reverted this, so we need to re-open.

[2020-11-02 23:56] kitsonk commented on #5069
I suspect that something like #5276 might be able to be re-landed now the refactor is done.

[2020-11-03 00:02] kitsonk commented on #1846
ARM64 support was reverted some time ago... re-opening.

[2020-11-03 00:07] kitsonk commented on #7196
I believe this is fixed.

[2020-11-03 00:07] #7196 closed

[2020-11-03 00:07] kitsonk commented on #7225
There might still be some cleanup, but most of it is done.

[2020-11-03 00:07] #7225 closed

[2020-11-03 00:15] #8179 closed

[2020-11-03 00:23] webdeb commented on #8194
I've created that issue, because I don't like to _allow_ access to systems environment variables in prod (who knows whats in there)

As a user, I still would like to use Deno.env since its the application environment.

`--allow-env` is misleading anyway. Because `Deno.env.set` will not override any systems environment variable. It's only allowed to read it at some point. So you cannot rely on `Den

[2020-11-03 00:30] webdeb commented on #8194
Just a side not
@kitsonk thx for oak! I am impressed of deno and the already existing tooling here, and that my small and simple webhook handler is only about ~400kb as a bundle.js. Deno is a game changer for me already.

[2020-11-03 02:11] pedropaulosuzuki commented on #8179
@piscisaureus I don't know if we can call this issue fully fixed. The output part of it is solved, it seems, but the input part of it is still nor recognizing special UTF-16 characters.

For example, when running the code below and inserting the characters 'a' and 'ã', one at a time, this is what we get:

[code]

Maybe we can open a new issue just for the input part, or reopen this one.

[2020-11-03 03:07] sanderhahn opened #8229 "Deno cache sodium results in Maximum call stack size exceeded"
Reported by crowlKats on Discord:
[code]

[2020-11-03 03:40] kitsonk commented on #8229
@sanderhahn why didn't @crowlKats open the issue?

There was a change in 1.5.X where we incorrectly didn't analyse JavaScript in some cases, and it appears that this is the case.  This is a 558k minified JavaScript file which TypeScript is trying to parse and type check.

When I download the `dist/sodium.js` locally and attempt to import it like:

[code]

And then do a:

[code]

I basically peg my

[2020-11-03 03:47] crowlKats commented on #8229
I posted it in #help and they offered to open it.

I see, i will contact the author then.

[2020-11-03 05:58] jopemachine commented on #8041
I want to try to resolve the issue.
But It seems that there is already an `only` option in `std/testing/bench.ts`, so I'm confused..

Maybe I have missed something because I'm a newbie to `deno`.
I beg your pardon for my lack of understanding.

May I ask for a little more explanation of where the option should be implemented?

[2020-11-03 06:07] kitsonk commented on #8229
Not really, because it is internal to TypeScript. Technically you are doing something unprocessible in TypeScript.

[2020-11-03 06:43] sanderhahn commented on #8229
Sorry, didn't know and because it was working before i thought it was a real issue. The stacktrace made it feel like a compiler error. Just tried `tsc --allowJs browsers/sodium.js` and that will not stack trace but just keeps processing. Will close the issue for now.

[2020-11-03 06:43] #8229 closed

[2020-11-03 08:15] kitsonk commented on #8229
It used to work because it was taking advantage of bugs in Deno that are now fixed.

[2020-11-03 11:23] chances commented on #7863
Considering the open PR, shall I formally abandon [chances/deno-wgpu](https://github.com/chances/deno-wgpu)?

[2020-11-03 13:37] bartlomieju commented on #7246
Actually after another conversation with @kdy1 we should look into this problem.

All parsing is done in `cli/ast.rs` in either `parse()` and `transpile()` functions. Currently when encountering error we always emit it using `DiagnosticBuffer` helper struct which converts SWC diagnostics into string errors. Due to this conversion we lose structured data from SWC's diagnostics which could potential

[2020-11-03 13:39] bartlomieju commented on #8227
@kdy1 what's your opinion on using lexer to provide syntax highlighting in docs? This feature would also be useful for `deno_doc` which has some rudimentary highlighting implemented by manually assembling AST nodes into string reprs.

[2020-11-03 13:56] kdy1 commented on #7246
It's okay to exit with failure on parsing error in `deno` because the parser does not do any linting - all errors are critical issue for compiler and runtime.
I mean, if runtime implements ecmascript specification correctly, it will be hard error anyway.

But as `swc` has rich diagnostic system (it's copied from rustc source code), I think converting diagnostics to string is not a good idea. It ca

[2020-11-03 14:02] bartlomieju commented on #7246
@kdy1 then I guess it makes more sense to handle this problem in `deno_lint` first. I'm going to transfer the issue to `deno_lint` repo.

It also seems to to me that in case of linter we could transform SWC diagnostic in `LintDiagnostic`.

[2020-11-03 14:11] kdy1 commented on #8227
It will be much easier to maintain, but I'm not sure about the way to distinguish type parameters from less than operator. I guess `dprint` contains logic for it, but I don't expect it to be easy, because typescript syntax is inherently ambiguous.

Even though, there are not so many ambiguous syntax, so biggest problem is deciding how to deal with it - just rendering them as `less than` can be fin

[2020-11-03 14:38] andreespirela opened #8231 "Expose DENO_DIR, Remote Modules, & Typescript compiler cache folder."
The idea is to expose the mentioned paths in the Deno namespace as a const.

`Deno.DENO_DIR` maybe.

or maybe some sort of const or function that has/return an object as its value. This object would contain the three mentioned
`{
deno_dir,
remote_modules,
typescript_compiler_cache
}`

[2020-11-03 14:50] nayeemrmn commented on #8231
Duplicate of #2096, #6891.

[2020-11-03 16:05] pedropaulosuzuki commented on #6974
Maybe using something in the lines of:

[code]
And when we see a YYYY.MM.DD, we just recognise it with pattern matching as a nightly build?
[code]

[2020-11-03 16:49] #8122 closed

[2020-11-03 16:49] izelnakri opened #8233 "$ deno docs --local to render the website locally for a local folder/modules"
Current `deno docs` only works for published native/3rd modules on https://doc.deno.land/ . We see the CLI response/stdout but would like to have a local version running and publishable privately as well.

I know this is not an easy feat because that website doc generation is run by vercel/npm so I suggest the following path to have this feature as soon as possible. I think it is necessary for rap

[2020-11-03 16:56] lucacasonato commented on #8233
@izelnakri We want to eventually move HTML generation to Rust.

[2020-11-03 16:57] MarkTiedemann commented on #8231
Also related: https://github.com/denoland/deno/issues/3551

@andreespirela What's your use case? :)

[2020-11-03 17:54] andreespirela commented on #8231
@MarkTiedemann It would be good to download things such as plugin in the deno cache folder. Having it in the repo seems a little annoying. Also for dynamic building purposes so for example in [Mandarine Framework](https://github.com/mandarineorg/mandarinets) there's an option to auto-generate the entry point file Deno will run & then Mandarine handles the logic and runs this dynamic generated file

[2020-11-03 19:37] getspooky opened #8236 "Adding tools/pre-commit.py to lint git commit messages"
I thinks is good idea to implement a pre-commit script that supports macOS, Linux and Windows.

[2020-11-03 20:40] rracariu commented on #8224
The debug part that keeps repeating itself looks like:
[code]
The code base is quite large but the module ids are related to a certain package we are using.

[2020-11-03 21:19] cknight commented on #8041
hi @jopemachine , welcome to the deno community.  Apologies for my sparse issue.  Let me explain in more detail.

From the bench docs:

This means coming up with a regular expression to match the benchmarks you want to run.  This is not always straightforward and can be awkward matching multiple tests.

Deno's test framework allows the specification of an `only` flag in the test definition itself

[2020-11-03 21:39] kitsonk commented on #8224
@rracariu is it possible to do a `deno info` for the entry point module?  It looks like there are complex circular dependencies there that it is difficult to figure out instantiation order.

cc/ @kdy1

[2020-11-03 21:43] kitsonk commented on #8236
I think it is unnecessary... We squash merge commits anyways and clean up the commit messages there.  All it would do is make more friction for contributions, which I think would make everyone 😢 .

[2020-11-03 21:45] kitsonk commented on #8231
Closing it as duplicate of #2096 #6891 and #3551.  I would recommend adding comments/suggestions to #6891.

[2020-11-03 21:45] #8231 closed

[2020-11-03 22:16] bartlomieju commented on #8236
I agree with @kitsonk, each PR is merged manually and often commit titles are adjusted before merging. I see no point in enforcing commit message style for commits in the PR which is essentially work-in-progress branch.

[2020-11-03 22:40] Skillz4Killz commented on #7732
@kitsonk Sorry to bother you, before --config is removed, I was wondering about the effects of applying --config to all code(including deps) beyond the compiler options. I believe removing --config also breaks TypeScript Module Augmentation, since --config is necessary for this no because without the `includes` module augmentation doesnt work the same. So if we remove the config option, we lose th

[2020-11-03 23:06] kitsonk commented on #7732
Deno never has, nor never will look at the `includes` in a `tsconfig.json` file.  It is never passed to the TypeScript compiler.  Deno modules resolution is a little bit complex, and I am working on documentation to clarify it, but if it isn't seen with `deno info`, it isn't part of the program that is considered for TypeChecking (there is a slight caveat that current implementation of `info` does

[2020-11-03 23:52] Skillz4Killz commented on #7732
After further testing you are right the --config tsconfig.json has no effect but this was the issue I was referring to:

tsconfig.json
![image](https://user-images.githubusercontent.com/23035000/98052620-a7de5380-1e04-11eb-8c40-5872078f10f6.png)

Once i delete the tsconfig.json
![image](https://user-images.githubusercontent.com/23035000/98052598-972ddd80-1e04-11eb-8e31-fadfb75fbee9.png)

But these

[2020-11-04 01:29] izelnakri commented on #8233
Great, loved it. Well done!

How early do you think we can have local builds to view offline or to push them to cdn for others to see?

I think documentation could be a significant motivation for people to move to deno.

As soon as we have this feature, I'll port some of my libraries. Really happy with momentum deno has at the moment, lets hype it more ;) Next I'll have suggestions on the testing

[2020-11-04 01:38] callionica opened #8238 "Feature request: fetch/HttpClient additions for public key pinning"
Public key pinning is important for IOT access and security in general. Having just got public key pinning working for accessing the Philips Hue API, here's a list of features that are missing from Deno's `fetch`/`HttpClient` API:

1. Being able to fetch an IP address (there's another bug on this already)
2. Being able to skip verifying the SSL certificate chain (vendors don't always provide all n

[2020-11-04 01:53] pedropaulosuzuki opened #8239 "New prompt method gets confused when receiving special characters as input [ã]"
While #8179 got partially fixed by #8199 (nice one btw, thanks for everyone involved!!), the prompt method still has some issues regarding input (related to stdin). For example, the code below doesn't perform as expected when non-ascii characters are used.

[code]

Opened a new issue because the other one got closed before this got adressed.

[2020-11-04 01:58] pedropaulosuzuki opened #8240 "[CLI] REPL syntax highlighting doesn't work inside of template strings"
Template string values are interpreted as usual strings in the REPL CLI:

![](https://user-images.githubusercontent.com/32345702/97784515-f0d0a680-1b7d-11eb-94ca-13e267280380.png)

Similar to #8202.

[2020-11-04 03:53] HenrySabio opened #8241 "Linux 20.04 - deno install not specifying path in bash"
After some trial and error I realized that I needed to manually add the following to my `.bashrc` file:

[code]
Otherwise `deno` command would return an error as if not installed unless I used the direct path instead.
This should either be added to the `readme` file under installation section for MacOS/Linux or done for the user during install.

My system/environment:
Dell XPS - Developer Edition

[2020-11-04 03:55] nayeemrmn commented on #8241
https://github.com/denoland/deno_install/blob/4d960274a86fa46265ca5ba9adc01a2405baded1/install.sh#L62-L64 -- are you not seeing this?

[2020-11-04 03:59] HenrySabio commented on #8241
No, the following was the only output after running the provided command to install:

[code]

[2020-11-04 04:09] nayeemrmn commented on #8241
That would mean there is a `deno` in your PATH. Have you confirmed that `deno --help` doesn't work after seeing that output?

[2020-11-04 04:30] HenrySabio commented on #8241
Yes, as stated before, without manually adding it to my `.bashrc` file myself - typing `deno` returns the usual `Command 'deno' not found...` message for whenever a command is not valid.

For me to use deno (before adding manually to my `.bashrc` file) I would have to type `/home/user/.deno/bin/deno` instead.
If I trust my understanding of the scripts so far - I believe the issue is coming from `l

[2020-11-04 04:36] nayeemrmn commented on #8241
No, that's just deciding what file to mention in the text it shows you. The relevant condition is https://github.com/denoland/deno_install/blob/4d960274a86fa46265ca5ba9adc01a2405baded1/install.sh#L55. What does `command -v deno; echo $?` output?

[2020-11-04 04:40] HenrySabio commented on #8241
If I enter it _before_ manually adding the path to my `.bashrc` - 1
If I enter it _after_ manually adding the path to my `.bashrc` - 0

[2020-11-04 04:51] nayeemrmn commented on #8241
Sorry for this, could you remove it from your `.bashrc` and run the `curl ... | sh` command one more time? This doesn't make a lot of sense.

[2020-11-04 04:59] HenrySabio commented on #8241
I understand.

I've run it 5 times with the same results.
Even after removing deno itself to do a fresh install and on a new account with no packages installed.

I get the same result everytime:
[code]

[2020-11-04 06:12] kitsonk commented on #7732
Because Deno does not use `tsc` for module resolution at all, never has.  It builds a graph of your dependencies, and that is what is type checked, `"includes"` is somewhat analogous to the modules you pass on the command line via `deno run` or `deno cache`.

`deno info` gives you (mostly) the view Deno has of the code with the caveat I mentioned above.

[2020-11-04 07:03] bekalshenoy commented on #8241
i am also facing this problem and i am also using same os

[2020-11-04 07:31] volomike opened #8243 "Can Apache MPM Event be used to call Deno?"
Can Apache MPM Event be used to call Deno, such as via `FilesMatch` and `SetHandler`, or perhaps `ProxyPass` and `ProxyPassReverse`?

[2020-11-04 08:41] Ayfri opened #8244 "Cannot get output from a process executing 'deno eval' command."
Hi, I'm trying to do a discord bot that can perform great `eval` as the one by default does not accept imports.
So I made a code that creates a process executing the code via `deno eval`, but whatever I do, I can't get the proper output.

This is my code :
[code]
If I execute this code with `code = "\"console.log('test')\""`, it's sending me `console.log('test')` as the output, I do not understand

[2020-11-04 13:21] wperron commented on #8236
I've had this conversation with multiple colleagues and teams in the past, and local git hooks usually don't stand the test of time because really there's no way to enforce it; contributors are completely to run the init script or not. Bottom line I don't think it would really help maintainers because they'd still have to deal with non-compliant messages.

The current approach of squashing is a be

[2020-11-04 13:41] wperron commented on #8118
could it be a change in whitespaces, like tabs to spaces? If you enable all whitespaces in VSCode you should be able to see that change more clearly, or confirm that it's not that.

[2020-11-04 14:13] wperron commented on #7639
is anyone working on this one? if not I can look at it.

[2020-11-04 15:50] jahtalab commented on #7928
@bartlomieju , Currently the way to reuse any of cli internal implementations is to fork the repo and add the required `lib.rs`. Is there anyway we can improve on this?

Also, are there any parts that can be exposed initially? Specifically the `Worker` struct (not `MainWorker` or `WebWorker`).
I can work on the necessary changes.

[2020-11-04 16:25] bartlomieju commented on #7928
@jahtalab my comment from above still holds (https://github.com/denoland/deno/issues/7928#issuecomment-706689428). Every release introduces a lot of changes in Rust code, eg. `refactors` from https://github.com/denoland/deno/issues/7915. We just had a series of PRs which rewritten about 20% of `cli` codebase and there are a few more such rewrites coming. I'll be happy to revisit this topic when th

[2020-11-04 17:00] andykais commented on #8233
I think the cli interface might be more appropriate like this:
[code]
similar to the `--json` output, except it outputs a single _fat_ html page with all the documentation/styles present

[2020-11-04 17:42] rracariu commented on #8224
Here is the result of `deno info` with anonymified modules
[code]

[2020-11-04 18:01] aricart opened #8246 "deno bundle in 1.5.1 not bundling all exported types/functions"
Deno bundle is not including all re-exported types to the bundle file. The funny thing is that some symbols are but others are silently discarded. The example below is a bit complex, so please bear with me:

My library [nats.ws](https://github.com/nats-io/nats.ws) depends on another library [nats.deno](https://github.com/nats-io/nats.deno).

The nats.ws library, imports dependencies for the common

[2020-11-04 18:35] izelnakri commented on #8233
I agree `--html` better than `--local`,  there should be support for both folders and single/multiple provided files

[2020-11-04 20:00] kitsonk commented on #8224
Any chance that you could point out at least `module(123)` in that graph?

[2020-11-04 20:28] harrysolovay commented on #6585
@piscisaureus apologies for the delay. How do you feel about [this transformer-based solution](https://github.com/nokia/ts-serialize-closures)?

[2020-11-04 20:29] harrysolovay commented on #6585
@piscisaureus apologies for the delay. How would you feel about something along the lines of [this transformer-based solution](https://github.com/nokia/ts-serialize-closures)?

[2020-11-04 21:19] wperron opened #8249 "Custom error handling in std/http/file_server.ts"
What I have in mind is something along the lines of CloudFront's "Error Pages" settings; Essentially allows for redirecting the request to a certain file when a specific error code is returned and optionally to override the status code. This is typically used to redirect 404s to a nicer 404.html page, or to enable SPAs by redirecting 404s to index.html with a 200.

[2020-11-04 21:33] MarkTiedemann commented on #8244
You're passing a literal string to Deno. (The outer pair of quotes is for the cmd string. The inner escaped pair of quotes is for the JS string.)

[code]

Can you run `where deno` in `cmd.exe`? It seems like `deno.exe` is not in your `%path%`.

Alternatively you can use `Deno.execPath()`, e.g.
[code]

[code]

[2020-11-04 21:38] Ayfri commented on #8244
`where deno` is sending me this :
`C:\Users\Pierre\.deno\bin\deno.exe`

Thanks, I was not knowing the `Deno.run` function it will helps me ^^

[2020-11-04 21:39] aricart commented on #8246
[code]

[2020-11-04 21:42] MarkTiedemann commented on #8244
It seems like `deno.exe` is indeed in your `%path%`.

What command did you use to execute the example code you copy-pasted above? Which shell did you run it in?

[2020-11-04 21:43] Ayfri commented on #8244
I run it via `deno run` from the webstorm terminal.

[2020-11-04 21:46] MarkTiedemann commented on #8244
Can you try running from default `cmd.exe`? This might be an issue with the webstorm terminal. Using just `"deno"` as the first `cmd` array item should work.

[code]

[2020-11-04 21:47] Ayfri commented on #8244
Nothing appears in the terminal.

[2020-11-04 21:48] MarkTiedemann commented on #8244
Does the command above work for you in `cmd.exe`?

[code]

[2020-11-04 21:50] Ayfri commented on #8244
In `cmd` it's sending me `deno 1.5.1`, in webstorm terminal it's not sending anything.

[2020-11-04 21:51] MarkTiedemann commented on #8244
Well, no idea what Webstorm is doing, but this doesn't seem to be a Deno issue.

[2020-11-04 21:53] Ayfri commented on #8244
Yeah...

Anyway, my issue was not getting what the code sends to the console from the `await process.output()`.
So what do I do wrong?

[2020-11-04 21:57] bartlomieju commented on #8244
@Ayfri call `await process.status()` before reading from stdio

[2020-11-04 21:58] MarkTiedemann commented on #8244
As I said in my first comment, you were passing a string to Deno eval.

[code]

is equivalent to executing

[code]

[code]

What you want to do is

[code]

You don't need to escape `code` with extra quotes.

[2020-11-04 22:01] Ayfri commented on #8244
Oh, I see my problem now, thanks for all it works now!

[2020-11-04 22:01] #8244 closed

[2020-11-04 22:15] sunsetkookaburra opened #8250 "std/encoding/binary.ts does not produce same result as go binary pkg"
there is a mismatch between the two, despite the same function names.
i've been working on a solution and should be able to produce a PR to solve, and allow for varying numbers of any size, not just set data-types, to be inline with go

[2020-11-04 22:25] lucacasonato commented on #8250
I would actually like to see that module go. It is just a wrapper function over the methods on `DataView`.

[2020-11-04 22:37] HappyStriker commented on #4817
@GitHubJasper thanks, your solution works quite well. But how do you safely handle a client disconnect?
Without any treatment of this issue Deno throws `error: Uncaught (in promise) BrokenPipe: Broken pipe (os error 32)` the next time the `flush` method gets called after the client has disconnected.
Even more so I did not succeed in catching the error when calling `flush` with `try... catch`, whic

[2020-11-04 23:23] jsejcksn commented on #8211
It looks like this will be fixed by https://github.com/swc-project/swc/pull/1196 in the next Deno release. Is that right?

[2020-11-04 23:26] bartlomieju commented on #8211
@jsejcksn yes, it should be available in `1.5.2` on Friday

[2020-11-04 23:30] jsejcksn commented on #8211
@bartlomieju Can I close it, or do the project members keep issues open for housekeeping tasks like release notes compilation? (I don't see a label for "fixed" / "patched" / etc.)

[2020-11-05 01:31] sunsetkookaburra commented on #8250
instead of removing it, i think it should be done how go does it. the go pkg uses the most-significant bit as a bit to say there are more bytes to be read.
[https://golang.org/src/encoding/binary/varint.go](https://golang.org/src/encoding/binary/binary.go)
[https://golang.org/src/encoding/binary/varint.go](https://golang.org/src/encoding/binary/varint.go)
and google uses this method in protobufs [

[2020-11-05 02:47] kitsonk commented on #4817
Closing as the original question has been answered.

[2020-11-05 02:47] #4817 closed

[2020-11-05 02:49] kitsonk commented on #8211
We will ensure it is closed when the update to swc is merged (it isn't yet).

[2020-11-05 02:52] kitsonk commented on #8249
`std/http/file_server.ts` is indented to be minimalistic.  A rich set of features are better addressed by a community library.

[2020-11-05 02:52] #8249 closed

[2020-11-05 02:55] kitsonk commented on #8246
1.5.1 does tree shaking, prior to 1.5 it didn't.  If it is doing it inappropriately it is a bug, but it needs further investigation to determine exactly what the correct behaviour is and determine if the drop is correct or not.

[2020-11-05 03:00] kitsonk commented on #8243
That would be more for the Apache MPM community on how to integrate a stand alone binary.  I don't think it is really feasible or doable.  If someone wanted to run JavaScript within Apache HTTPD via MPM, then [rusty_v8](https://github.com/denoland/rusty_v8) could be a way to create a Rust based Apache MPM module, but both are way beyond the scope and intent of the rusty_v8 and Deno project.

[2020-11-05 03:00] #8243 closed

[2020-11-05 03:05] kitsonk commented on #8236
Enough feedback, thanks everyone.

[2020-11-05 03:05] #8236 closed

[2020-11-05 03:36] kitsonk commented on #4752
Thought about this more, forgot about cache busting:

[code]

[2020-11-05 04:40] kitsonk commented on #8246
@kdy1 I can confirm an entry module with the content of:

[code]

does not bundle properly.  There are a lot of circular dependencies in this code base.  I tried to recreate something minimally reproducible but was unable to.  As mentioned above, `class Bench` should be in the final bundle but it is missing (located here: https://raw.githubusercontent.com/nats-io/nats.deno/v1.0.0-11/nats-base-clie

[2020-11-05 04:47] kdy1 commented on #8224
Debug part is not looping.
It just prints same log multiple time, because of the way I implemented circular detection.
Can you show me entrypoint module or list of imports?

[2020-11-05 04:48] kitsonk commented on #3082
This was resolved in Deno 1.5

[2020-11-05 04:48] #3082 closed

[2020-11-05 04:49] kitsonk commented on #4539
This was fixed in Deno 1.5

[2020-11-05 04:49] #4539 closed

[2020-11-05 04:52] kitsonk commented on #5562
As of 1.5, dynamic imports are no longer inlined under any conditions and bundles are simply ESM files, so they become really difficult to detect as a _unique_ file.  So effectively it is up to the end user to figure out if they want to `import` a bundle (and get further bundling) or use dynamic `import()` and have that lazily loaded at runtime.

[2020-11-05 04:52] #5562 closed

[2020-11-05 05:00] kitsonk commented on #6344
As of Deno 1.5 the behaviour of `import.meta.url` in bundle is to be hardcoded to the original `import.meta.url` of that module and `import.meta.main` to be hardcoded to `false` except for references to `import.meta.main` which are preserved as `import.meta.main`.

There is the issue of #8088 which raises issues with that behaviour and will be addressed in future versions of Deno.

Any other sugge

[2020-11-05 05:00] #6344 closed

[2020-11-05 05:01] kitsonk commented on #7518
#8060 is resolved... closing.

[2020-11-05 05:01] #7518 closed

[2020-11-05 05:04] kitsonk commented on #4298
This was resolved in Deno 1.5.1.

[2020-11-05 05:04] #4298 closed

[2020-11-05 05:07] kitsonk commented on #4549
The vast majority of the issues here are solved or are no longer applicable.  Closing.

[2020-11-05 05:07] #4549 closed

[2020-11-05 05:08] kitsonk commented on #6900
This potentially could be considered now that we have moved over bundling to swc.

[2020-11-05 05:09] kitsonk commented on #6900
minification is on the swc roadmap but not implemented yet

[2020-11-05 06:48] jsejcksn commented on #6344
@kitsonk I'm not sure I understand. When is `import.meta.main` preserved and when is it hardcoded to `false`? Can you link me to example code which illustrates the differences?

[2020-11-05 06:51] kitsonk commented on #4256
There has been sufficient discussion on this.

At the moment, the convention of `console.log`, `console.debug` and `console.info` going to stdout meets the widest range of user expectations for server side JavaScript.  Breaking that expectation would disappoint more people than it would please.  Adding additional flag to redirect this is also not something we would consider at this point in time.

[2020-11-05 06:51] #4256 closed

[2020-11-05 07:00] kitsonk commented on #1158
Now that we have fairly frictionless access to swc and there are other reasons we might want to use swc in REPL to parse JavaScript, we could support TypeScript without type checking in the REPL.

Thoughts @caspervonb?

[2020-11-05 07:03] kitsonk commented on #1236
This seems a broad topic and unrelated to specific APIs in Deno.  This really needs a more specific proposal and a plan to implement to be actionable.

[2020-11-05 07:03] #1236 closed

[2020-11-05 07:06] kitsonk commented on #1389
@ry any real further thoughts on this at the moment?  We have looked at immutable package hosts and we have lock files.  Is there something more to do here?

[2020-11-05 07:07] kitsonk commented on #1569
@kevinkassimo with the debugger support, is there more to do here specific to this issue?

[2020-11-05 07:09] kitsonk commented on #2893
Closing in favour of #8223 (plus we have #7779).

[2020-11-05 07:09] #2893 closed

[2020-11-05 07:10] kitsonk commented on #1583
#8223 should unblock this I believe

[2020-11-05 07:17] kitsonk commented on #1639
There has been a lot of good discussion here over the years, but at this point there isn't anything where the upside benefit of increasing security would outweigh the technical or usability challenges of such a solution.  We have items like package locks and finer grained controls around dynamic imports and worker scripts and work to vary permissions with workers, which is likely the best "sandbox

[2020-11-05 07:17] #1639 closed

[2020-11-05 07:27] kitsonk commented on #2358
Not sure if this is still a problem or not.

[2020-11-05 07:30] kitsonk commented on #2305
I don't think there is anything to do here specifically, and we should consider #1687 in general to solve any problems we currently have related to this.  Closing in favour of #1687.

[2020-11-05 07:30] #2305 closed

[2020-11-05 07:31] kitsonk commented on #6383
Duplicate of #5957

[2020-11-05 07:31] #6383 closed

[2020-11-05 07:33] kitsonk commented on #2194
I know this came well before #5957 but we should consolidate everything around implementing Service Workers as a whole, not just parts of the API.  So closing this as a duplicate of #5957.

[2020-11-05 07:33] #2194 closed

[2020-11-05 07:39] kitsonk commented on #1836
Feels like this should be addressed as a community library, versus something built into Deno, outside of supporting Service Workers as a whole (see: #5957), so closing as un-actionable for now.

[2020-11-05 07:39] #1836 closed

[2020-11-05 08:29] KirianCaumes opened #8251 "thread '<unnamed>' panicked at 'called `Result::unwrap()` on an `Err` value: FromHexError(InvalidHexCharacter { c: 'i', index: 0 })',"
Hello,

I'm trying to add simple test in project, but there is an error blocking me:
[code]
My test look like this:
[code]

And it's run with this command:
[code]

Finally, the stacktrace:
[code]

I'm not sure if it's really related to my test...

Thanks a lot for your help!

[2020-11-05 08:33] zekth commented on #2358
Closing as there is no activity for 1 year

[2020-11-05 08:37] lucacasonato commented on #8251
This is an error on deno_mongo. Please open an issue there.

[2020-11-05 08:37] #8251 closed

[2020-11-05 10:00] ThatsNoMoon commented on #6974
I think this is an option but not one I would personally pick. It's not as obvious to someone not familiar with deno's versioning that it's not a normal, stable, version.

[2020-11-05 10:07] kitsonk commented on #6344
The output of the unit test here demonstrates it: https://github.com/denoland/deno/blob/master/cli/tests/bundle/fixture06.out.  When the module is a root/entry module `import.meta.main` is preserved, all other modules when they are flattened in the bundle it is replaced with `false`.

[2020-11-05 10:10] kitsonk commented on #2180
This is very dated and we have been through several iterations of approach.  As it stands, this issue is generally un-actionable, so closing.

[2020-11-05 10:10] #2180 closed

[2020-11-05 10:12] kitsonk commented on #2150
The core team discussed this semi-recently, and the decision was to not make a decision about this right now.

[2020-11-05 10:17] kitsonk commented on #2096
We now have `deno info --json` which is effectively what this should be in the runtime, but we have #7927 which needs to occur and will be a breaking change.  This could be addressed after #7927 is resolved.

[2020-11-05 10:19] kitsonk commented on #1877
This is still really hard, as we have been unable to successfully get ES module loading and snapshots working as well.  This likely ends up in the "too hard" bin.

[2020-11-05 10:25] kitsonk commented on #2079
This would be very difficult now since we generally use JSON for op messages and JSON doesn't support bigint.

#6169 is more directly actionable, so going to close in favour of that, though the problem still exists about the JSON support.

[2020-11-05 10:25] #2079 closed

[2020-11-05 10:29] kitsonk commented on #6169
This is going to be real hard, we would have to serialize something in another buffer to hold the value of the bigint.  I don't think universially implementing some sort of custom JSON serialize/deserialize in JavaScript and Rust would make a huge amount of sense (and would be abysmal performance), so the easiest thing is to just put the value in another buffer and add some sort of flag to the op

[2020-11-05 10:32] kitsonk commented on #2075
This has largely been done in the [PULL_REQUEST_TEMPLATE.md](https://raw.githubusercontent.com/denoland/deno/master/.github/PULL_REQUEST_TEMPLATE.md), though `docs/contributing/` could of course be more explicit, but closing for now.

[2020-11-05 10:32] #2075 closed

[2020-11-05 11:04] GitHubJasper commented on #4817
@HappyStriker
I am not sure how I handled that error, though it does sound familiar...
Maybe check the implementation of oak as that does work fine for me now

[2020-11-05 11:38] BinaryBen commented on #986
I'd just like to add my voice that if the deno binary is included in the implementation of this feature, it should be included sans all of the extra that make it good for development but don't matter once the ts code has been compiled to js and is already linted/tested etc. My use case is I'd also like to be able to generate CLI (preferably <10MB if possible) that has closed source code in it.

My

[2020-11-05 11:44] somombo commented on #986
I also want to additionally take note that (at the time of this writing) this is the single most wanted/anticipated feature right now. The evidence for this is that at the moment, this issue has the most comments and the most (non-negative) reaction-emojis of **all** the open issues in this entire repo!

p.s:- I also tried to get deno buy-in from my team, and the lack of this feature was the singl

[2020-11-05 11:56] HappyStriker commented on #4817
I tried replicating the solution of oak, which was the exact same way I tried, to solve it. Unfortunately I run into the above mentioned situation where the error is not catchable and Deno crashes, when the client disconnects 😬

[2020-11-05 12:02] kitsonk commented on #986
The core team pays attention to the reactions on issues.  We also talk about this one semi-regularly.

I think the community has to respect that there are certain issues that are a lot more complex than they appear, and while it might seem straight forward, this particular one hasn't been.  It certainly isn't out of spite that the feature hasn't been implemented.

[2020-11-05 12:11] odidev opened #8252 "Binary releases for arm64"
Expected behavior
Is there any plan to release a Deno binary for linux-arm64?

I have successfully created the binary for  Deno by running following:

curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh
export PATH=$PATH:$HOME/.cargo/bin
apt install libglib2.0-dev
git clone https://github.com/denoland/deno/
cd deno
cargo build -vv

It will be very helpful if arm64 binaries are released.

[2020-11-05 12:14] BinaryBen commented on #986
I think anyone would be foolish to think this is a simple issue or that it is being ignored. Much respect for the work being done!

[2020-11-05 12:35] lucacasonato commented on #8252
Duplicate of https://github.com/denoland/deno/issues/1846.

We can not release arm64 until we have the capability to run the tests under arm. Currently running the test suite with QEMU results in a panic inside of the emulation layer.

[2020-11-05 12:38] #8252 closed

[2020-11-05 13:26] wperron commented on #8239
I tried this with 1.5.1 and I couldn't reproduce. Here's what I tried in the REPL (running Ubuntu 20.04)

[code]

[2020-11-05 13:50] wperron commented on #8249
@kitsonk thanks for the reply, I completely agree with you, and is one of the things that I like about the std lib. I think I just poorly expressed my idea here; I think we can make the file_server less of a black box and turn it into something that is more open and extendable, without necessarily adding functionality straight into the existing package.

If we simply took the time to export most o

[2020-11-05 14:53] #8223 closed

[2020-11-05 14:55] bartlomieju commented on #5114
Done in #8247

[2020-11-05 14:55] #5114 closed

[2020-11-05 15:27] bartlomieju commented on #8109
@kitsonk and I had a discussion about this problem.

I think requiring `--allow-net` or `--allow-read` for dynamic import/workers code is not the perfect solution and it became apparent in #8215.

We're thinking about introducing another flag that would control what files can be loaded during runtime. `--allow-imports` flag could be a solution - this flag would accept filepaths and URLs similar to

[2020-11-05 15:33] bartlomieju opened #8254 "Rewrite tests to not depend on Python"
After https://github.com/denoland/deno/issues/8223 we no longer rely on Python
for development (unless you're building `rusty_v8` from source). However there
are still quite a few tests that use Python (main for subprocess tests):
- `cli/tests/permission_tests.ts`
- `cli/tests/unit/chown_test.ts`
- `cli/tests/unit/process_test.ts`

It'd be great if we could eventually remove dependency on Python a

[2020-11-05 16:42] Ayfri opened #8256 "eval() do not support TypeScript."
You can't use any typescript features in the native `eval()` function, you can't use `import/export` also, it would be great to be able to use these.

[2020-11-05 16:52] RDambrosio016 commented on #8256
this would probably require overriding the native eval to first detect if its typescript, if so, then start up the entirety of tsc, compile the javascript, ensure there's no errors, then give it to v8 to actually run it. This would incur a huge performance loss because tsc is relatively slow. I don't see benefits in ever allowing this because of that.

[2020-11-05 16:55] Ayfri commented on #8256
You could add an option `eval(code: string, options?: { ts?: boolean });` like this ?
Or a `Deno.eval()` that will be different than `Deno.run()` as it is run in the local scope.

[2020-11-05 16:58] RDambrosio016 commented on #8256
This would also not work correctly for type checking because eval can grab variables from its scope but the tsc checker does not know about the outer context and eval is invoked at runtime

[2020-11-05 17:01] Ayfri commented on #8256
And it would require a lot of time to find a way to make it work I suppose?
Can't you "simulate" the variables by declaring them when compiling?

[2020-11-05 17:04] RDambrosio016 commented on #8256
You would have to know what variables are declared in the scope, so either plug into the tsc type checker api, which is complicated, or get it from v8 somehow, also complicated. Overall i don't think the drawbacks outweight the pros:
- Huge performance cost
- Hard to implement correctly
- Most likely causes a lot of technical debt

[2020-11-05 17:07] Ayfri commented on #8256
Okay, it's too bad...

[2020-11-05 17:07] #8256 closed

[2020-11-05 17:08] MarkTiedemann commented on #8241
@HenrySabio Did you `source`  your `.bashrc`?

Might be a dup of #6199 (which may be fixed by https://github.com/denoland/deno_install/pull/149).

[2020-11-05 17:50] HenrySabio commented on #8241
This would not solve this issue.

I only have 1 `.bashrc` file.
So reloading the file would just reload the same file.

The problem is not my file.
The problem is that the installer did not add the path to deno to my `.bashrc` file. Nor was there any direction to do so.

I just happened to know that this was something that should have been done and applied the fix manually myself.

Because of this

[2020-11-05 17:54] nayeemrmn commented on #8241
As I linked above, there are instructions printed from the installer script. For whatever reason it's not printed for you but that's a bug (which I can't reproduce).

[2020-11-05 17:58] nayeemrmn commented on #8241
Also this should be moved to https://github.com/denoland/deno_install.

[2020-11-05 18:07] mfulton26 commented on #6383
@kitsonk will #5957 include `install` and `activate` events too or just `fetch`?

[2020-11-05 18:14] jsejcksn commented on #6344
@kitsonk Thanks, that was very clear.

[2020-11-05 18:47] ry commented on #5957
Service worker API is on the roadmap. It's just not clear if the fetch event should be available in the main worker - which would make it compatible with CF - or if we should somehow register a service worker.

We will be killing two birds with one stone when we introduce this API. We will be using the hyper web server to implement it. That means we'll have support for modern HTTP protocols https:

[2020-11-05 18:58] sunsetkookaburra commented on #8250
i'll close this. if i do get a polished and updated version of binary.ts, i'll report back. i don't think its something high on the list right now for std.

[2020-11-05 18:58] #8250 closed

[2020-11-05 19:19] ry commented on #8249
The intention with file_server is that it could be extended for use in other programs - much like https://golang.org/pkg/net/http/#ServeFile

[2020-11-05 19:21] MarkTiedemann commented on #8241
Whenever you edit your `.bash_profile`, you need to `source` it again.

This is by design. The installer should not mess with people's config files.

[2020-11-05 19:48] kitsonk commented on #6383
I will make that clear.

[2020-11-05 19:49] kitsonk commented on #5957
For clarity too, this issue is for tracking service workers as a whole, since we had several part issues about that we wanted to consolidate.

[2020-11-05 20:41] xReveres opened #8257 "Workers not type checking unstable APIs with `--unstable` flag"
After 2 months I tried run application with new upgraded deno but I'm getting errors
[code]
And 15 more...

My run command:
[code]

[2020-11-05 20:44] lucacasonato commented on #8257
What does your ts config look like? Do you specify a custom lib option?

[2020-11-05 20:46] xReveres commented on #8257
@lucacasonato my tsconfig.json
[code]

[2020-11-05 20:52] lucacasonato commented on #8257
And can you just confirm the Deno version you are on? `deno --version`

[2020-11-05 21:06] xReveres commented on #8257
Latest, freshly upgraded
[code]

[2020-11-05 21:12] lucacasonato commented on #8257
Does your program start `deno` subprocesses?

[2020-11-05 21:52] jersou commented on #8246
I also have a bug with "deno bundle" (deno 1.5 regression), I was able to reduce the test size:
![bug](https://user-images.githubusercontent.com/5874319/98298579-86bd6480-1fb6-11eb-9831-4985208570ce.png)
bug.ts:
[code]
the script:
[code]
----
Originally, I got this bug when I launched "deno bundle" on the project https://github.com/jersou/markdown-explorer-server
[code]
----
I hope it helps

[2020-11-05 21:52] mfulton26 commented on #6383
thank you!

[2020-11-05 21:59] kitsonk opened #8258 "bundling same module with different local names"
I also have a bug with "deno bundle" (deno 1.5 regression), it seems to be the same bug.
I was able to reduce the test size:
![bug](https://user-images.githubusercontent.com/5874319/98298579-86bd6480-1fb6-11eb-9831-4985208570ce.png)
bug.ts:
[code]
the script:
[code]
----
Originally, I got this bug when I launched "deno bundle" on the project https://github.com/jersou/markdown-explorer-server
[code

[2020-11-05 22:00] kitsonk commented on #8258
@jersou it is a different underlying issue, but still an issue, so I broke it out to its own.

[2020-11-05 22:19] ozanmuyes opened #8259 "Deno stuck on check"
# Original Issue

The context in a nutshell;

I work on Macbook - my OS is macOS (v10.15.4 FWIW). I had an outdated version of Deno (v1.4.0 is memory serves right) probably installed via shell (i.e. `curl -fsSL https://deno.land/x/install/install.sh | sh`) and I recently upgraded the installment by running `deno upgrade`. Unfortunately I closed the CLI afterwards, so cannot provide it's output. Bu

[2020-11-05 22:45] xReveres commented on #8257
I found problem in last line of logs
[code]
And then I realised that is problem with workers?
Temporarily I disabled using worker and app starts properly.

[2020-11-05 22:54] kitsonk commented on #8257
Hmmm... it looks like for some reason we aren't passing the `--unstable` flag to `tsc` when compiling the worker.  The code is there to do it, but I am not actually sure we have a test for it.

[2020-11-05 22:59] kitsonk commented on #8259
It isn't stuck... you aren't logging anything to the console.  The application is sitting there waiting for requests on port `8000` as you instructed it.

[2020-11-05 22:59] #8259 closed

[2020-11-05 23:14] ozanmuyes commented on #8259
Yes you are totally right. There were some issues also which I didn't mentioned. It was completely my bad, nonetheless there should be a message IMHO. A message stating that the prelude finished and application started. Considering that I didn't opt-in to get download and check messages.

[2020-11-05 23:27] kitsonk commented on #8259
I don't think we would want to change that behaviour.

If the user wants to know the program started, they should log something to the console.

`--quiet` suppresses the informational messages.

[2020-11-06 00:06] kitsonk commented on #8257
I can re-create...

[2020-11-06 00:42] kitsonk commented on #8219
Actually, I realised I made a comment in the code.

https://github.com/denoland/deno/blob/96e03e0b93bf75035887ce02880b832123e3c86d/cli/main.rs#L344

Ultimately we just need to agree on how to deal with this.  @ry @bartlomieju thoughts?

[2020-11-06 00:56] andreespirela opened #8261 "[Suggestion] Function to get v8 heap information"
The suggestion is to get the heap information from v8, this would behave slightly similar to NodeJS api. https://nodejs.org/api/v8.html#v8_v8_getheapsnapshot  .

It would be good to have
 - [ ] `Deno.getHeapSpaceStatistics()`
 - [ ] `Deno.getHeapSnapshot()`
 - [ ] `Deno.getHeapStatistics()`
 - [ ] `Deno.getHeapCodeStatistics()`

Ideally, for now, it would be very useful to have: `Deno.getHeapSnaps

[2020-11-06 01:10] #8257 closed

[2020-11-06 01:12] kitsonk commented on #8261
Related #1569

[2020-11-06 01:18] nayeemrmn commented on #8219
This is basically #6753 (`deno cache --worker`), the flag would be shared like [similar ones](https://github.com/denoland/deno/blob/5f7c80986fd9cff6a65d4e419fc2972abe992ccf/cli/flags.rs#L503-L513) are.

[2020-11-06 01:33] pedropaulosuzuki commented on #8240
@kitsonk actually #8202 doesn't fix this issue, unfortunately

[2020-11-06 01:35] pedropaulosuzuki commented on #6974
True, and gets into that problem Ryan said on his first Deno speak of "doing things for the sake of being cute and not explicit". My mistake.

[2020-11-06 01:45] kitsonk commented on #8219
@nayeemrmn you are right as usual... `deno bundle --worker` is what it should be, nothing to debate... I forgot we had agreed that for `deno cache`.

[2020-11-06 02:53] #8047 closed

[2020-11-06 02:56] kitsonk commented on #8219
Actually based on #8089 there is clearly things to discuss...

[2020-11-06 03:34] ellismarkf commented on #7004
I can't find anything in the documentation about this specifically, but in [this example](https://deno.land/manual@v1.5.1/getting_started/first_steps#making-an-http-request) from the manual :

[code]
They demonstrate how the script will fail without the `--allow-net` flag, and then suggest the following:

[code]
Just for fun, I tried hitting Google, changing the domain to `google.com` and the URL

[2020-11-06 08:21] kdy1 commented on #8258
@kitsonk Is this a bug of `swc_bundler`?

[2020-11-06 09:44] kitsonk commented on #8258
I am not 100% sure yet.  I haven't had the time to try to re-produce or re-create it.

[2020-11-06 10:32] nekdolan commented on #8219
I'm not sure how it could be done without the proposed/reverted flag `--worker` . I can understand that cache could work without it but how would you keep the linkage when you bundle them, given that you don't know where or how the scripts will be deployed. Would we just keep a relative link to the bundled worker in the script? Would that work on a normal webpage?

[2020-11-06 10:48] xReveres opened #8265 "thread 'main' panicked at 'Cached source file doesn't exist'"
After changes in my code, deno panics every time.
Full log:
[code]
Deno version:
[code]
I tried restore changes but again the same errors.
Also I tried `deno cache -r --unstable -c tsconfig.json startup.t` but still panic.
In last case I resolved my problem by downgrading deno to version 1.5.0 then run my application and OK without errors.
Again I upgraded to latest version and OK without errors.

[2020-11-06 11:04] bartlomieju commented on #8265
CC @kitsonk

[2020-11-06 11:34] kitsonk commented on #8265
Need more details of how to reproduce this.  It is really hard to guess at what might be in `startup.t`.

[2020-11-06 11:57] bartlomieju opened #8266 "Proposal: add --allow-import=<allow_list> for checking dynamic imports/workers"
Context: Currently loading dynamic imports or worker code requires `--allow-read` and/or `--allow-net` flags. Appropriate permissions are checked for entry point as well as all dependent modules. This leads to a situation where even quite simple scenarios require to grant a lot of permissions.

Example 1:
[code]

[code]

I above example one needs to run with following flags:
[code]

Similarly for

[2020-11-06 14:49] MarvinGronhorst opened #8268 "Manual @v1.5.1 10.5 Read and Write Files has a wrong import"
There seems to be a wrong import in the manual: https://deno.land/manual@v1.5.1/examples/read_write_files#read , as far as i understand it has been there since std version 0.69.0
The manual describes the following:
[code]

But there is no **readJsonSync** in https://deno.land/std@0.76.0/fs/mod.ts. Read and Write JSON have been removed from std/fs/mod.ts since https://deno.land/std@0.69.0/fs/mod.ts

[2020-11-06 15:06] MarvinGronhorst commented on #8268
Oh they have been removed in #7255

[2020-11-06 16:04] lucacasonato commented on #8268
It seems deno.land/x/deno@v1.5.1 contains source code for v1.3.2: https://deno.land/x/deno@v1.5.1/std/version.ts

I must have messed up while publishing 1.5.1 source code. I will see if I can fix it. Otherwise it will be fixed in the 1.5.2 docs coming soon.

[2020-11-06 17:26] caspervonb commented on #6169
Rather unusual to require u64 so it's plan to implement this as a minimal op in io.rs. Kinda waiting for whatever is going to happen to the resource table to land before starting on it tho.

[2020-11-06 20:58] andykais opened #8270 "deno lint allow snake_case"
Hi, so I have a deno project that I chose to write in snake case. I have just started integrating deno lint & deno test, and deno lint isnt really usable because it just outputs a ton of linter errors stating that I should use camelCase instead of snake_case. So my options are to either:
a) give up on the linter
b) add ignore line comments on every line that uses a snake_case variable

I would lov

[2020-11-06 22:06] jcc10 opened #8271 "WebSocket server is ignoring all events after connection."
I am currently attempting to create a wrapper for WebSockets in oak. (Then probably make something simlar to socket.io but that's another project.)

The project in reference: https://github.com/jcc10/oak_websoket_middleware

The issue is that I can't get the event loop to work. The issue seems to stem from [line 16 in echo_server.ts](https://github.com/jcc10/oak_websoket_middleware/blob/5f35ff3217

[2020-11-06 22:08] jcc10 commented on #8271
And the reason I'm opening this here is because the repo is entirely based off the ws mod in the std lib. So hopefully someone can help.

[2020-11-06 22:50] teleclimber opened #8272 "Server hangs on close with unix socket"
[code]

This code never exits (it gets to "closing server" then hangs):

[code]

However, the nearly identical code using a regular connection exits as expected after server close:
[code]

This makes it impossible to cleanly shut down a unix-socket based server (unless I am missing something, of course).

I tried to step through the close function in the debugger but somewhere in `mux` code everyt

[2020-11-06 23:08] bartlomieju commented on #8266
Also CC @nayeemrmn @teleclimber

[2020-11-07 01:07] mknet commented on #4964
@chiefbiiko Is your project `create-deno-plugin` still active? Or would you recommend using something like [deno-plugin-prepare](https://github.com/manyuanrong/deno-plugin-prepare)?

@ry Is there any info you give me, if you guys plan any kind of doc how to implement a deno native plugin? Or is there already something I didn't find, yet?

Thanks for your help, guys!

[2020-11-07 03:18] magurotuna commented on #8270
As pointed out on discord, this issue seems to be preferrably in [deno_lint](https://github.com/denoland/deno_lint) repo. Could anyone with the permission transfer it to the deno_lint rpeo?

Anyway, personally I believe that deno_lint provides (& will provide) opinionated rules as "recommended", though deno_lint has a plan to be plaggable within a couple of months. As far as I understand, the plug

[2020-11-07 04:04] #7723 closed

[2020-11-07 08:20] mrmodise commented on #7487
I will take `fmt/colors.ts` and `fmt/printf.ts`

[2020-11-07 09:33] ayntee opened #8279 "thread 'main' panicked at 'Cached source file doesn't exist'"
Without `RUST_BACKTRACE`
[code]

With `RUST_BACKTRACE=1`:
[code]

With `RUST_BACKTRACE=full`:

[code]

[2020-11-07 09:44] lucacasonato commented on #8279
Can you add a dump of `deno info /home/test1/test.ts` to this issue?

[2020-11-07 09:47] ayntee commented on #8279
https://hastebin.com/locilesava

[2020-11-07 09:55] lucacasonato commented on #8279
@ayntee Ok - I will close then. Did you run with 1.4.x previously and then upgrade to 1.5?

For Google searchability: the solution is to delete your `$DENO_DIR`. You can find the location of the deno dir by running `deno info`. Then delete the entire deno dir folder.

[2020-11-07 09:55] #8279 closed

[2020-11-07 09:57] lucacasonato commented on #8265
Possible duplicate of: https://github.com/denoland/deno/issues/8279

Can you try delete your $DENO_DIR. You can find the location of the deno dir by running `deno info`. Then try delete the entire deno dir folder.

[2020-11-07 11:17] jopemachine commented on #7101
Is someone working on this issue?
Otherwise, could I try to work on this?

[2020-11-07 12:58] xReveres commented on #8265
@lucacasonato As I wrote, I fixed issue by downgrading and then upgrading Deno version. Also I tried to recreate the problem but I can't.

[2020-11-07 14:56] ry commented on #7101
oops - closed in error. TODO list not complete.

[2020-11-07 16:24] mrmodise commented on #7487
I will take `node/url.ts` and `node/util.ts` next. Thanks

[2020-11-07 18:48] pedropaulosuzuki commented on #5283
This is no longer an issue, right?

[2020-11-07 18:54] pedropaulosuzuki commented on #6001
#8199

[2020-11-07 20:00] #8111 closed

[2020-11-07 20:03] kitsonk commented on #8265
Closing until it can be reproduced.

[2020-11-07 20:03] #8265 closed

[2020-11-07 20:20] bartlomieju commented on #6133
@kitsonk could you take a look at this issue?

[2020-11-07 23:14] alexanderGalushka opened #8285 "bug: bundled code is missing definitions for "import as" functions"
deno --version

[code]

`deno bundle "https://deno.land/x/djwt@v1.9/mod.ts" > djwt.js`

using the bundled djwt.js produces the following error:

`ReferenceError: convertUint8ArrayToHex is not defined`

convertUint8ArrayToHex is declared in [deps.ts of the djwt lib](https://github.com/timonson/djwt/blob/master/_depts.ts#L4)

referencing [an issue opened against djwt ](https://github.com/timonson/dj

[2020-11-08 01:51] mrmodise commented on #8254
@bartlomieju I will take `cli/tests/unit/chown_test.ts`. If all goes well I will take the rest.

[2020-11-08 02:59] kitsonk commented on #6133
This is unactionable now, as it Pika CDN is now skypack.dev and no longer appears to serve up `X-TypeScript-Types`.  Manually trying to use `https://unpkg.com/@types/ramda@0.27.32/index.d.ts` with `@deno-types` doesn't work because the types are incompatible with Deno.

The original does work now, but just isn't strongly typed:

[code]

[2020-11-08 03:15] kitsonk commented on #8285
While `convertUint8ArrayToHex` is declared in `_depts.ts` it is not imported and subsequently exported from `mod.ts`, so the bundling appears to be working as designed.

The only exported symbols from `mod.ts` are `create`, `decode`, `getNumericDate`, and `verify` and if I run the bundle with a simply:

[code]

I get no errors, and exactly the same symbols logged if I use the module directly.

[2020-11-08 03:20] #5283 closed

[2020-11-08 03:57] carragom opened #8288 "Private properties not printed by console.log"
Hello,
I was trying to debug a small app and was surprised when `console.log` did not print the private properties of a class. I ran the code in Chrome and it printed the private property. So at least there is an inconsistency between Chrome and Deno. I would say private properties should be logged by `console.log` and friends, i.e.: `debug`, `warn`, `error` and `trace`. It's very useful for debug

[2020-11-08 04:08] kitsonk commented on #8288
Duplicate of #2528

[2020-11-08 04:08] #8288 closed

[2020-11-08 05:16] TradeIdeasPhilip opened #8289 "Deno.compile panic -- declaration: true"
When I run the code below Deno panics.  It does not continue running and I cannot catch anything.

I can fix the code by removing the "declaration" flag.  I was expecting that flag to create the .d.ts files.  Without that flag Deno returns the name and contents of the JavaScript files, and that works as expected.

100% repeatable.  Same results on Windows and Linux.

[code]

[2020-11-08 06:10] alexanderGalushka commented on #8285
@kitsonk thank you for looking into this, I've put together a [quick test](https://github.com/alexanderGalushka/djwt_test ),
see reamde to reproduce reported issue

it comes down to
https://github.com/timonson/djwt/blob/master/mod.ts#L97 ->
https://github.com/timonson/djwt/blob/master/mod.ts#L1 ->
https://github.com/timonson/djwt/blob/master/_depts.ts#L4

`convertUint8ArrayToHex` is the second `im

[2020-11-08 08:10] lucacasonato commented on #6133
@kitsonk Skypack does serve the types of you append `?dts` to the import URL.

[2020-11-08 08:19] mrmodise commented on #8254
Had to split them. The process_test.ts needs a bit of attention

[2020-11-08 09:14] lucacasonato commented on #7004
@ellismarkf `www.google.com` is not the same as `google.com`. That is why this does not work. I agree the error message could be improved to say:

[code]

[2020-11-08 11:06] magurotuna commented on #7590
May I work on this issue?

[2020-11-08 13:34] getspooky opened #8293 "error[E0658]: `#[track_caller]` attribute is an experimental feature"
Hello deno community,

I got this error when i run
[code]
[code]

[2020-11-08 13:37] lucacasonato commented on #8293
What rust version are you on? You should use rust >= 1.47

[2020-11-08 13:54] getspooky commented on #8293
I will upgrade rust and check if the error still exists.
thanks @lucacasonato

[2020-11-08 16:19] caspervonb commented on #1158
Preferably we would also add better completion if we're integrating TypeScript support but we can just do stripping as a first pass, I'll get back to this once I'm done with code coverage.

[2020-11-08 16:50] lukebrowell commented on #986
Is there any way of breaking down the complexity and enumerating the steps involved so that the community could lend a hand?

[2020-11-08 17:01] bartlomieju commented on #2945
No longer relevant after recent refactors to TS compiler and module graph (https://github.com/denoland/deno/issues/7225)

[2020-11-08 17:01] #2945 closed

[2020-11-08 17:03] bartlomieju commented on #3107
@kitsonk is this issue still actionable after recent refactors?

[2020-11-08 17:10] bartlomieju commented on #3983
https://github.com/denoland/deno/issues/2355#issuecomment-719522155

[2020-11-08 17:10] #3983 closed

[2020-11-08 17:12] bartlomieju commented on #3997
@kitsonk PTAL if this issue is still relevant

[2020-11-08 17:14] bartlomieju commented on #4538
@kitsonk I think we've discussed this issue recently and came to a conclusion that it's a "won't fix"?

[2020-11-08 17:16] bartlomieju commented on #5069
@kt3k could you update and reopen your PR?

[2020-11-08 17:19] dsherret commented on #2355
@bartlomieju that's the right decision. It's better for consumers to be able to run any version of deno while picking or sticking to a version of swc to use (avoids: "I can't upgrade deno yet because my code is not compatible with the latest AST changes"/"this code doesn't work in deno <old version goes here>")

[2020-11-08 17:21] bartlomieju commented on #2355
As well as it's a lot less code to maintain in Deno repo - the typings alone for `SWC` are several thousand lines.

[2020-11-08 17:33] bartlomieju commented on #5620
Resolved in #8192

[2020-11-08 17:33] #5620 closed

[2020-11-08 17:38] bartlomieju commented on #5913
@kitsonk is this issue still actionable?

[2020-11-08 17:54] ry commented on #3166
Retracting this. Seems to work fine how it is.

[2020-11-08 17:54] #3166 closed

[2020-11-08 21:11] MarkTiedemann commented on #8271
Hi @jcc10, not sure what you're doing wrong there. Can you post a minimal reproduction example for your BadResource error? Something like the code below (which works well on my machine)...

[code]

[2020-11-08 21:53] kitsonk commented on #6824
As of Deno 1.5 we emit just a single ES module with no special annotations or copyright header.  This means re-importing it into Deno will behave as default as any other JS file.  Therefore at this point this is unactionable.

[2020-11-08 21:53] #6824 closed

[2020-11-08 21:58] kitsonk commented on #6338
This was resolved in 1.5 and the way we handle the modules and bundling.  The example no longer produces the reported error.

[2020-11-08 21:58] #6338 closed

[2020-11-08 22:00] kitsonk commented on #5781
I think the only action we would take on this is #3385.  So thanks for the suggestion, but politely declined.

[2020-11-08 22:00] #5781 closed

[2020-11-08 22:02] kitsonk commented on #5913
We don't have a lot of tests with swc and emitting other targets based on a config file.  I think the action is to add some tests and if we can get swc to reliable target ES3, then we can close this fixed, if we cannot, we can just close it was a design limitation.  I will add some tests.

[2020-11-08 22:05] kitsonk commented on #6176
The original error is resolved in 1.5, but the problem is now that `tsc` doesn't support a root module with an `.mjs` extension and so we need to update our logic to "hide" this from `tsc` like we do for other ones.  Should be a trivial fix.

[2020-11-08 22:07] kitsonk commented on #4538
Well, let's keep it open until after we address #4752.  I can see how it can be a problem/challenge.  Obviously the best thing to do at the moment is `Deno.bundle()` instead of `Deno.compile()`.

[2020-11-08 22:08] jcc10 commented on #8271
And see, your example works.

[code]

Load the page, refresh the page, wait no more then 60 seconds and the error will pop up.

[2020-11-08 22:09] kitsonk commented on #3997
This was always an external issue, and there was outstanding information requested that was outstanding.  Closing due to inaction.

[2020-11-08 22:09] #3997 closed

[2020-11-08 22:10] kitsonk commented on #3107
I believe it is now working.

[2020-11-08 22:10] #3107 closed

[2020-11-08 22:19] c4spar opened #8299 "Allow a script to kill itself without run permissions"
If this has already been discussed in another issue I'm sorry, I haven't found one.

I'am working on cliffy and we are trying to improve the sigint handling of the prompt module, if a user hit's `ctrl+c`. The problem is, deno doesn't trigger the sigint signal automaticly, because we need to enable the raw mode with `Deno.setRaw`.

Currently, the prompt module just exits if the user hit's `ctrl+c`

[2020-11-08 22:22] kitsonk commented on #6133
Ok, I rested with:

[code]

And am getting errors the seem "legitimate" to how the package is configured on skypack.  In particular, one of the type dependencies is returning this:

[code]

But it seems that Deno is parsing this correctly now.

[2020-11-08 22:22] #6133 closed

[2020-11-08 22:27] #8226 closed

[2020-11-08 22:27] #8088 closed

[2020-11-08 23:39] MarkTiedemann commented on #8271
Seems to be an issue with Oak.

This code works fine:

[code]

Whereas this code produces the BadResource ID error.

[code]

This is the stacktrace:

[code]

Seems like Oak is calling `Conn.close` after the async `app.use` handler which is destroying the websocket connection. So I guess you'll have to find a way to keep Oak from closing your connection.

[2020-11-08 23:40] kitsonk commented on #5016
This was fixed in Deno 1.5.

[2020-11-08 23:40] #5016 closed

[2020-11-08 23:44] MarkTiedemann commented on #8271
@jcc10 Turns out that Oak has support for Websockets already:

[code]

From the documentation of `ctx.upgrade`:

[2020-11-09 00:17] jcc10 commented on #8271
@MarkTiedemann thank you and everyone on the Discord server for being so patent with me.

As it turns out, I had a intermediary function that wasn't async/await. This added with the fact that Firefox was not handling the Invalid Frame Header correctly meant I had no idea what was going wrong and, in fact, thought the initial connection was fine. (It wasn't.)

[code]
Needed to be
[code]

[2020-11-09 00:17] #8271 closed

[2020-11-09 00:36] kitsonk commented on #6802
The specific issue that lead to this is "resolved" in Deno 1.5, but there are other issues with Deno bundling that cause the emitted bundle to not be valid.  Using the following code:

[code]

When I load it in the browser, I get:

[code]

Which appears to be a use before declaration issue where the dependency analysis is a bit off when determining the bundle (cc/ @kdy1), because it gets defined o

[2020-11-09 01:00] prcdpr commented on #7994
Sorry about late answer, I was somewhere else during last weeks.

I have discovered that my problem occurs only when I use https://github.com/denolib/deno-redis

It sounds incredibly stupid but here is repro code:

[code]

With interval set to `100` it crashes, with interval set to `100000` it hangs 🤷‍♂️

[2020-11-09 01:24] jsejcksn opened #8302 "Uncaught TypeError when running bundle created with Deno 1.5.2"
See output:

[code]

[2020-11-09 01:44] kitsonk commented on #8289
In Deno 1.5.2 the behaviour is different, as we refactored that bit of code, but it still was a terminal error.  It is fixed though in #8303.

[2020-11-09 01:46] kitsonk commented on #8302
cc/ @kdy1

[2020-11-09 01:55] kitsonk commented on #8266
First, I think it would be far more common for people to use `--allow-import`.  Also, really 🚲 🏠 , but `--allow-import` could be somewhat confusing if it applied to workers as well as dynamic import.  Does it mean you have to have it to import anything?  Does it not apply to workers?  I guess we could ensure that error messages mention it properly, like:

[code]

Because I can't really think of a

[2020-11-09 02:13] Dygear opened #8304 "`cargo test` on aarch64 fails (for an easy to fix reason)."
I've been building deno on a Raspberry Pi 4 (8GB) with Raspberry Pi OS 64bit. The build process works very well and produces a build without issues. There is 1 small area where `cargo test` fails on the aarch64 build. The failure is listed below.

[code]

The problem is on [this line in cli/upgrade.rs290](https://github.com/denoland/deno/blob/master/cli/upgrade.rs#L290) where it doesn't check agai

[2020-11-09 02:44] ChiKler opened #8305 "STD's `copySync()` throws permission error because it requires CWD access."
Here's a repository containing an example to replicate the bug:
https://github.com/ChiKler/-Deno-error-Uncaught-PermissionDenied-read-access-to-CWD-

I believe that's because you use `copySync()` from `std`, which (without a good reason) calls `path.resolve()` which requires CWD access. It shouldn't call `path.resolve()`.

_Originally posted by @nayeemrmn in https://github.com/denoland/deno/pull/2

[2020-11-09 04:54] jsejcksn opened #8308 "Bundle panic: not implemented: export * from 'foo' inside a module loaded with computed key"
While trying to use `deno bundle`:

[code]

<details>
<summary><code>deno bundle -L debug...</code> output:</summary>

[code]
</details>

[2020-11-09 04:58] kitsonk opened #8309 "Incorrectly writing tsbuildinfo when check fails"
We are incorrectly writing out `.tsbuildinfo` when a build fails, but we don't write out the emitted files.

This means that if you have a problem with code, and you fix it, you can end up in a situation where for some/all of your dependencies their emits don't get committed to disk, but the `.tsbuildinfo` does.  When the issue is fixed, the `.tsbuildinfo` exists and is "valid" which but some of t

[2020-11-09 04:59] kitsonk commented on #8308
cc/ @kdy1

[2020-11-09 05:07] kdy1 commented on #8308
I'll fix the bundler bugs soon.

[2020-11-09 06:32] ayntee commented on #8305
`copySync()` also uses `Deno.lstatSync()` which requires `allow-read` permission.

[2020-11-09 06:44] kt3k commented on #5069
@bartlomieju The previous branch seems unusable (because many things have been changed), but I'll try a new one in another branch 👍 (It may take a little while)

[2020-11-09 06:49] kt3k commented on #5069
By the way I still see some issues about bundling ( https://github.com/denoland/deno/issues?q=is%3Aissue+is%3Aopen+bundle ). Do you think we need an option for enabling/disabling bundling at install time?

[2020-11-09 08:05] jsejcksn commented on #8111
I'm seeing this for modules in the `deno.land/std` library:

[code]

[2020-11-09 08:42] lucacasonato commented on #8304
As @crowlKats suggested previously, let's remove that test. It doesn't really test anything useful.

[2020-11-09 09:26] kitsonk commented on #8111
@jsejcksn need more information than that please.

[2020-11-09 10:07] jsejcksn commented on #8111
@kitsonk Not sure how to reproduce—just hacking on something right now (haven't been using version control). Using the method above fixed it (`deno cache https://deno.land/std@0.77.0/fs/move.ts`).

[2020-11-09 10:09] lucacasonato commented on #8268
Fixed in 1.5.2. https://deno.land/manual@v1.5.2/examples/read_write_files

[2020-11-09 10:09] #8268 closed

[2020-11-09 10:20] kitsonk commented on #8111
Likely it is #8309 then, which has a fix open for it.

[2020-11-09 10:21] #8309 closed

[2020-11-09 11:08] lucacasonato opened #8313 "tests in macos are flakey"
Examples:

https://github.com/denoland/deno/actions/runs/352903079
https://github.com/denoland/deno/actions/runs/352901785

Tests hang after std_tests

[2020-11-09 11:38] leolivier commented on #1846
FYI,  not sure if deno is using Travis CI in conjunction with github but Travis CI now supports multi arch including arm64, see https://docs.travis-ci.com/user/multi-cpu-architectures/ and you don't need to use qemu for that (as far as I understood, I didn't test it by myself)

[2020-11-09 12:01] jsejcksn commented on #8309
Would this also be a cause for stale cache of compiled TS modules?

[2020-11-09 12:36] jveres opened #8314 "error: Uncaught ReferenceError in bundle created with Deno 1.5.2"
[code]

[2020-11-09 13:13] GitHubJasper commented on #4817
@HappyStriker
Hm that is unfortunate, I sadly don't have the code I used for this (as I now just use the one provided in oak)
So I don't remember how I solved it...

However, I do think it was related to flushing/writing.
Think it could happen that the `totalBytesWritten` were different from the `numBytesWritten`.
Though I am not sure how exactly, it might be useful to print these values out and s

[2020-11-09 13:58] ry opened #8316 ""run_watch" test is flaky"
https://github.com/denoland/deno/runs/1371420444

maybe introduced in https://github.com/denoland/deno/pull/8083

[2020-11-09 14:22] bartlomieju commented on #5069
@kt3k I think adding a flag is a sensible solution

[2020-11-09 14:58] bartlomieju commented on #8266
Neither do I, `--allow-import` was my first thought and I can't come up with anything better that applies to both `import()` and `Worker()` API, but of course I'm open to other suggestions.

[code]

Sounds good to me

[2020-11-09 15:11] bartlomieju commented on #8246
@aricart could you try Deno `1.5.2`? The fix was included in the release.

[2020-11-09 15:25] aricart commented on #8246
@bartlomieju just did - there are still some symbols that are not being included:
https://raw.githubusercontent.com/nats-io/nats.deno/main/nats-base-client/internal_mod.ts exports JSONCodec and StringCodec, these are not included in the bundle:

[code]

[2020-11-09 17:29] bartlomieju commented on #7775
@nayeemrmn I'm not sure about the proposed flag values, seems a bit complex and error prone to capture "regular", "worker" and "test" files in a single command.

How about supporting only a single "lib" type in a single invocation?
[code]

CC @kitsonk

[2020-11-09 17:32] bartlomieju commented on #7410
Actually I think it should be enforced on whole codebase during `tools/lint.js`. So probably this rule should be added to `recommended` set or at least enabled in `dlint` command used in `tools/lint.js`.

[2020-11-09 17:42] bartlomieju commented on #7126
I agree with @nayeemrmn, closing as won't fix.

[2020-11-09 17:42] #7126 closed

[2020-11-09 17:44] bartlomieju commented on #6989
@martunta please try again on latest `deno` (`1.5.2`). If the issue persist then it'd be useful if we could look into the reproduction code. Running with `-L debug` flag would also be useful.

[2020-11-09 17:47] bartlomieju commented on #6618
@kitsonk is this issue actionable after the compiler refactors?

[2020-11-09 17:49] bartlomieju commented on #6445
AFAIK `reqwest` (the HTTP client `deno` uses) automatically tries to use HTTP/2 when possible. So I think this issue can be considered resolved.

[2020-11-09 17:49] #6445 closed

[2020-11-09 17:51] bartlomieju commented on #6408
Possibly related to #7613? @solson does your PR take care of this problem?

[2020-11-09 17:52] bartlomieju commented on #6341
@ry I don't think we have a reliable way to reproduce this bug, wanna keep the issue open?

[2020-11-09 17:52] bartlomieju commented on #6367
Closing in favor of https://github.com/denoland/deno/issues/5498

[2020-11-09 17:52] #6367 closed

[2020-11-09 17:54] bartlomieju commented on #6309
@intgr thanks for explanation, we should add that to documentation.

[2020-11-09 18:05] bartlomieju commented on #6259
[code]

Looks like a problem with catching errors in dynamic imports. I will look into that

[2020-11-09 18:05] teleclimber commented on #8272
Still happening in deno 1.5.2 and std lib 0.77.

[2020-11-09 18:12] bartlomieju commented on #8272
@teleclimber this is most likely related to https://github.com/denoland/deno/issues/7457 and requires refactor to `ResourceTable` that we are working on.

[2020-11-09 18:27] teleclimber commented on #8266
The proposal sounds good to me. It would cleanly solve the issue I had in #8109.

My only concern is what this does to the UX for Deno users. It's already a lot to have to specify all the permissions, now they also have to specifically allow the script to run its workers and dynamic imports. This requires the user to know what these scripts are and carefully type them in at the command line every

[2020-11-09 18:32] bartlomieju commented on #8266
@teleclimber thanks for raising this, I'm aware of the problem and have recently started discussions on Discord around this problem.

There are numerous proposals to solve problem of describing the workflow:
    - https://github.com/denoland/deno/issues/3675
    - https://github.com/denoland/deno/issues/3179
    - https://github.com/denoland/deno/issues/5897

[2020-11-09 18:47] alexanderGalushka commented on #8314
this might be related https://github.com/denoland/deno/issues/8285

[2020-11-09 19:08] #3961 closed

[2020-11-09 19:36] kitsonk commented on #6259
Some of the fixes that are out there may impact this @bartlomieju.

[2020-11-09 19:40] kitsonk commented on #6618
Worth testing that it doesn't cause problems. It shouldn't now, but we don't specifically test for it.

[2020-11-09 19:43] kitsonk commented on #6834
If it is a type only module, it should be a `.d.ts` file, or if you are only using types from a file it should be a `import type` declaration.

That being said, bundling now does tree shaking as of 1.5.

[2020-11-09 19:43] #6834 closed

[2020-11-09 19:45] kitsonk commented on #6341
Well and bundling was totally rewritten.

[2020-11-09 19:49] #8289 closed

[2020-11-09 19:50] #6663 closed

[2020-11-09 19:53] kitsonk commented on #8309
No, in theory not, as "stale" would indicate the source file or configuration had changed, which should impact the version and cause `tsc` to emit the file.

[2020-11-09 20:36] solson commented on #6408
My PR has no effect on Windows. Additionally, I think at least parts of this problem affect Linux as well, e.g.:

[code]

(It never even gets around to creating `.deno/bin/hello world`.)

Though it seems like having a space in a folder name works fine with `deno install` on Linux, even before my PR.

[2020-11-09 22:01] kitsonk commented on #8266
In my mind `--allow-import` by itself should allow workers and dynamic import to import any script, irrespective of what it is named.  But can take an optional argument which allows the invoker to be more specific, just like `--allow-net` and `--allow-read` do.  Currently, if someone wants to be more specific, they have to include the script and all of its dependencies, so this actually increases

[2020-11-09 22:04] kitsonk commented on #5069
Yes, I even think with a lot of issues resolved, people may still not want to bundle.  I would suggest though that bundling be t the default, and that the option `deno install --no-bundle` be used to opt out.

[2020-11-09 22:08] kitsonk commented on #7145
This is no longer and issue in 1.5.2.

[2020-11-09 22:08] #7145 closed

[2020-11-09 22:15] kitsonk commented on #6420
There was no response to an example of where this would be required.  Given the discussion on #7732 implementing something like this is impractical and does not have a compelling use case.  Respectfully declined.

[2020-11-09 22:15] #6420 closed

[2020-11-09 22:17] kitsonk commented on #6341
I am going to close this, since the code that changed which exposed the problem is no longer in the codebase.

[2020-11-09 22:17] #6341 closed

[2020-11-09 22:22] kitsonk commented on #6156
We no longer bundle dynamic imports.  If we allowed them to be bundled, in the future, it is unlikely that this issue would specifically apply.  So there is no logical action we can take with this now.

[2020-11-09 22:22] #6156 closed

[2020-11-09 23:02] kitsonk commented on #7005
This has changed subtly in Deno 1.5.2, the following:

[code]

Outputs:

[code]

Instead of just replacing some extensions, we always append the extension to the end of the URL, as it is impossible to "guess" at what would really work for the target runtime environment.  Deno treats each unique URL as a seperate module, so the duplicate emits of `server.ts` are expected, because as far as Deno kno

[2020-11-09 23:02] #7005 closed

[2020-11-09 23:09] kitsonk commented on #4743
This is still present in 1.5.2... it is due to the FileFetch in memory cache not reloading the source, like a few other issues.

[2020-11-09 23:10] #6176 closed

[2020-11-09 23:18] #6618 closed

[2020-11-09 23:38] bashovski opened #8324 "Deprecated imports inaccessible during build-time"
Hello,

I was wondering if there's a way to sanitize imports for deeply nested libraries?
It's unclear how long it might take for a maintainer of a repository to merge a PR or fix the issue.
In order to resolve issue myself, I'd have to fork several repositories which causes additional issues later - after some time projects become too hard to manage.

Ideally there could be an immediate redirect

[2020-11-10 00:57] kitsonk commented on #7674
@bnoordhuis did denoland/rusty_v8#507 fix this?  Or is there more we need to do here other than update rusty_v8?

[2020-11-10 01:20] nayeemrmn commented on #8266
The fact that it's already a lot is exactly why this shouldn't be a factor. It's already a reality that shortcuts are essential. Suddenly worrying about length of commands at this point will just lead to design inconsistencies, unless the solution is general-purpose with respect to flags as a whole.

[2020-11-10 01:27] alexanderGalushka opened #8325 "bug: bundle of the bundle doesn't respect exported default function"
I've created the sample code repo to reproduce this bug, please follow the instructions in the readme.

https://github.com/alexanderGalushka/test_default

[2020-11-10 02:00] 00ff0000red opened #8326 "Question: Can experimental V8 features be enabled in Deno?"
I didn't see it mentioned anywhere, but are there any command-line flags that can be passed to Deno to enable the experimental V8 features that are provided in Node.js and Chromium browsers, such as the --harmony flags?

I don't care if it's a CLI flag, is there any way to opt into this, by any means?
Is this mentioned in the documentation somewhere, if so, can someone point me to the correct sect

[2020-11-10 02:23] manyuanrong commented on #8324
To urgently fix any upstream dependency problems, you can create a repair version on gist and use `importmap` to remap it.

such as

https://deno.land/x/a/mod.ts
[code]

create fix version:
https://gist.githubusercontent.com/manyuanrong/39f151181a193b454c3b11dac1b60e15/raw/1d5692e4556a1e59420fbfc80dee041e22e2ab34/fix.ts
[code]
Create an importmap.json
[code]

rerun your program with:
[code]

[2020-11-10 02:33] kitsonk opened #8327 "Proposal: Module Loader API"
With ES Modules, it is effectively impossible to do "hot module reloading" of the modules, as ES Module specification is fairly strict that once the module is resolve and its two pass instantiation is done, that is the end of the road for the module and cannot be replaced.

When you are mocking/testing/etc. though, it is potentially valuable to make changes to a module and "reload" it via dynamic

[2020-11-10 02:34] kitsonk commented on #5548
The expectation of ES Modules is that they instantiated in memory per the specification and cannot be "invalidated" and reloaded.

Basically this same restriction applies to [Node.js with ESM](https://github.com/nodejs/modules/issues/459), though they have a loader API that allows you to hook the [resolve and load](https://nodejs.org/api/esm.html#esm_experimental_loaders) and there are solutions w

[2020-11-10 02:34] #5548 closed

[2020-11-10 02:46] kitsonk commented on #6946
Lots of good conversation here.  In the end, though, we are not going to "break" the way ES Modules are loaded in v8.

The way Node.js community is a module loader API and a "transparent" module hashing solution (e.g. [quibble's ESM support](https://github.com/testdouble/quibble#es-modules-support)).  That is something that might work for Deno as well and have opened up #8327 to suggest that.

Bec

[2020-11-10 02:46] #6946 closed

[2020-11-10 02:56] kitsonk commented on #8326
[`--v8-flags`](https://deno.land/manual@v1.5.2/getting_started/command_line_interface#other-runtime-flags) which is also documented if you:

[code]

[2020-11-10 02:56] #8326 closed

[2020-11-10 02:59] kitsonk commented on #8325
cc/ @kdy1

[2020-11-10 03:01] kitsonk commented on #8324
@manyuanrong suggestion is the best way to approach this.

Also with 1.5.2, the import map can point to a local file, which was a bug that has been fixed.

[2020-11-10 03:47] kitsonk opened #8330 ""js_unit_tests" flaky with port in use"
Sometimes the "js_unit_tests" are failing with a port in use: https://github.com/denoland/deno/runs/1377017511#step:16:1768

[2020-11-10 03:49] kitsonk opened #8332 "Sometimes CI loses its ability to connect to the net"
An example: https://github.com/denoland/deno/runs/1375569003#step:16:3872

[2020-11-10 03:52] kitsonk commented on #8330
Also sometimes with "std_tests": https://github.com/denoland/deno/runs/1371436515#step:16:1813

[2020-11-10 06:33] ry commented on #6116
I just tried the reproduction with 1.5.2 and it works as expected.

[2020-11-10 06:54] ry commented on #6116
Sorry - I didn't understand the example correctly. This is still a bug.

[2020-11-10 07:15] breezy-badger opened #8333 "Http: error sending request for url (<URL>): http2 error: protocol error: endpoint requires HTTP/1.1"
Certain requests that work through Chrome console(and Node as well) fails through deno.

### Steps to reproduce

[code]

### Expected result

That deno supports https/2

In case the provided error-message isn’t enough, I can find an external URL where the issue can be reproduced.

[2020-11-10 08:20] kitsonk commented on #8333
Deno `fetch()` does not currently support HTTP/2. The server you are connecting to only supports HTTP/2, therefore the error.

Duplicate of #3995

[2020-11-10 09:35] bnoordhuis commented on #7674
@kitsonk Deno needs to call `isolate.clear_kept_objects()` in the right place but I haven't figured out yet what the right place is. It's supposed to be called regularly, say every event loop iteration.

[2020-11-10 10:25] lucacasonato commented on #8333
@kitsonk `fetch()` does support HTTP/2 (it is done by `reqwest` in Rust).

[2020-11-10 10:34] bnoordhuis commented on #7969
A post on v8-users made me revisit this again. I don't think we need `a.strict_equals(b)` here, we can just compare the `v8::Global` handles.

V8's C++ API has `bool v8::PersistentBase::operator==(const v8::PersistentBase&) const`, which is basically a couple of pointer checks. It returns true when the handles point to the same JS object.

rusty_v8 implements `PartialEq` for `Global` and it behave

[2020-11-10 11:34] paul-thompson-helix opened #8335 "Event loop hangs when ~100-1000 "stat" or "mkdir" promises are run in parallel"
When approximately 100-1000 promises awaiting stat or mkdir async promises results are run in parallel the event loop hangs.

[code]

Notes:
* Original use case discovered this in https://deno.land/x/dnit@dnit-v1.6.1 task util where it needs to stat 100's or 1000's of files and I (lazily) implemented it with them all in parallel.
* Test cases above repeat stat or mkdir on the same file but that is

[2020-11-10 13:30] bashovski commented on #8324
@manyuanrong Thank you.

[2020-11-10 13:58] iammack commented on #8305
I'd like to work on this issue

[2020-11-10 15:19] iammack commented on #8305
@ayntee , can you clarify what you are pointing to? Do you mean we cannot use allow list for read permission because `copySync()` uses `Deno.lstatSync()`? Deno.lstatSync is only called on src so it should work by giving src and dest in the allow list.

[2020-11-10 15:53] KNnut opened #8338 "Sometimes print "undefined" when close() in REPL since 1.5.0"
And 1.4.6 works well.

[2020-11-10 20:44] Skillz4Killz commented on #8333
Not sure if this is entirely related but the issue feels very similar. My libs users have been reporting this to me and I have no idea what could be causing it.

![image](https://user-images.githubusercontent.com/23035000/98731295-854fbb80-236b-11eb-8b41-04d7f060e514.png)

[2020-11-10 22:16] getspooky commented on #8293
@lucacasonato
After updating rust i got this error
[code]

[2020-11-10 22:20] OverGlass opened #8339 "Unexpecting req.respond body Deno.Reader behaviour."
I try to do a Progressive Rendering HTML with http1.1 "Transfer-Encoding": "chunked".

To try that, I create a fake latency of 100ms on each chunk. But the request send all the chunk at the same time after 1200ms.
I have 12 chunks.

But it should send each chunk each 100ms. Not all chunks at the same time.

To illustrate what I expected, I've wrote the "same" code in Node. and make gifs.

Expected

[2020-11-10 22:31] TradeIdeasPhilip opened #8340 "Unexpected caching in Deno.compile()"
I've noticed some odd behavior in Deno.compile().

The first time I compile a file it works more or less as expected.  But if I change or delete the source file and call Deno.compile() a second time I get the same result as the first time.  Apparently Deno is caching the source file.

I'd like to do a fresh compile every time.  I'm purposely trying to push new changes out to web users.  I'd rather

[2020-11-10 22:34] lucacasonato commented on #8340
@TradeIdeasPhilip This is indeed an issue at the moment. There is a patch which will likely fix it for 1.5.3.

I am going to close as duplicate of https://github.com/denoland/deno/issues/5253.

[2020-11-10 22:34] #8340 closed

[2020-11-10 22:51] lucacasonato commented on #8293
`cargo clean -p rusty_v8` and delete the gn_out folder in target/{release,debug}

[2020-11-11 00:40] lucacasonato commented on #8324
I think this issue is resolved now. (Solution is using import maps).

[2020-11-11 00:40] #8324 closed

[2020-11-11 00:53] jcc10 opened #8341 "Make resources implement Transferable"
Related to #5965 (and possibly others)

It would be really nice if resources could be Transferable between web workers. This would allow for proper multi-threading for HTTP and WebSocket servers.

This can provide multiple benefits:

- Isolated code exposure.
If someone finds a exploit it has a lower likelihood of affecting the entire server, only the worker it was executed on.
- Load Balancing.
T

[2020-11-11 02:26] 00ff0000red commented on #8341
I actually don't think that anyone has mentioned transferring objects yet, although structured cloning has been mentioned multiple times.

https://github.com/denoland/deno/issues/6887
https://github.com/denoland/deno/issues/6433 (This has the closest connection to this)
https://github.com/denoland/deno/issues/3557 (mentions ArrayBuffers, thus implicitly references Transferable)
https://github.com/

[2020-11-11 02:35] jcc10 commented on #5334
I just wanted to add that this may relate to #7620. I didn't check the panic log for the other one but I felt it best to just cross reference them for future people.

[2020-11-11 02:49] jcc10 commented on #8341
Just to be clear, this thread is specifically for resources which probably don't fit within the structured clone feature. (Can't really clone a connection, just transfer it.)

For both HTTP and WS, the main underlying item needed to be made transferable is ```interface Deno.Conn extends Reader, Writer, Closer``` everything else seems to be on top of that. (*I think*)

[2020-11-11 03:05] jsejcksn opened #8342 "[std/encoding/csv] Request for "stringify" function to complement "parse" function"
I don't see a `stringify` function in [`std/encoding/csv`](https://github.com/denoland/deno/blob/master/std/encoding/csv.ts) for encoding an array of objects to tabular, character-delimited text format (CSV, TSV, etc.). Did I miss it?

(I have an idea in mind for the function signature and types, and I've started hacking on a draft.)

/cc @uki00a

[2020-11-11 04:00] Dygear commented on #1846
I've also had zero issues building an aarch64 build for the last couple of versions that I've tested. I'd be happy to donate a few Raspberry Pi 4 (8GB) to this project in order to make a stable release happen. Now that the Mac has released their ARM hardware, I can also build the same on there for that.

[2020-11-11 05:31] kitsonk commented on #1846
We use GitHub Actions exclusively.  We are working with GitHub on the potential of their ARM64 support.

That isn't necessary, and likely wouldn't solve the problem of integrating it reliably into a repeatable and supportable APIs.

[2020-11-11 05:37] kitsonk commented on #8339
I would have to look at it in detail, but I suspect when responding the HTTP server is not flushing and waiting to send until the whole body is read.  I've got a few other things going on, so I know I would personally be able to look at it for a couple days, though maybe others have ideas.

[2020-11-11 05:49] kitsonk commented on #8341
I am not certain the concept of [Transferable](https://developer.mozilla.org/en-US/docs/Web/API/Transferable) in the web API would be the best way to do what you are suggesting.

Sharing bindings to resources between workers in Deno would more likely be accomplished by ensuring that the resource table is shared across workers (it may already be, I am not totally familiar with it myself, but @bartl

[2020-11-11 05:51] kitsonk commented on #8338
cc/ @caspervonb

[2020-11-11 07:18] caspervonb commented on #8338
Race condition I suppose, the result of calling close is undefined, we check if closing is set before printing eval

[2020-11-11 07:53] chiefbiiko commented on #4964
@mknet i haven#t used `create-deno-plugin` with a recent `deno`
anways, it used to provide necessary and functioning boilerplate for intersecting `deno` and `rust`
i think `deno-plugin-prepare` helps in running native plugins but not *building* them
here is an example of a proper module making use of the native plugin feature: [deno-libhydrogen](https://github.com/chiefbiiko/deno-libhydrogen) (bew

[2020-11-11 08:20] marcushultman opened #8343 "Allow TTY to be set to a mode that generates signals"
`Deno.setRaw` sets relevant termios flags into "raw" mode. It would be beneficial to be able to set it to "cbreak" mode; a mode where raw characters are sent without being buffered, but when characters INTR, QUIT, SUSP, or DSUSP are received, we generate the corresponding signal instead. This can be done with the [ISIG flag](https://docs.rs/nix/0.19.0/nix/sys/termios/struct.LocalFlags.html#associa

[2020-11-11 08:26] marcushultman commented on #8343
I believe this may already be the case on windows as it sets `ENABLE_PROCESSED_INPUT`:
https://github.com/denoland/deno/blob/c7804c06adb44127b93ef45d9fc9eb0ef255fc3f/cli/ops/tty.rs#L30-L32
Documented here:
https://docs.microsoft.com/en-us/windows/console/setconsolemode

[2020-11-11 08:51] Maxvien opened #8344 "Bundle: Skypack Module Error"
**Describe the bug**

**Input code**
[code]

**`Run` Result**
[code]

**`Bundle` Result**
[code]

**`Bundle` Expected Result**
[code]

**Version**
1.5.2

[2020-11-11 09:25] lucacasonato commented on #8341
I personally think transferring resources is a lot more valuable than sharing a resource table. With transferring you get to do very fine grained access control and task separation (e.g. open a file in parent worker, then transfer to unprivileged worker to read and write to only that file). With a shared resource table there could potentially be different workers with the different permissions ope

[2020-11-11 09:39] jcc10 commented on #8341
So. I had to make a test just to see how things work as is:

https://gist.github.com/jcc10/a88cf952093df2286c703f172c99edbd

Under the hood it can still be a shared table. For the fail tolerance you could even let references exist in multiple places. But you need to be **really** careful in the documentation with noting how iterators can get into weird race conditions. (As shown in the gist.)

Wit

[2020-11-11 09:54] jcc10 commented on #8341
If each call for opening a resource loaded a different instance of the resource in the shared resource table would that help?

Psudo-Code:

[code]

So two resources, two variables, one file. The transferring only really ensures that you can't have two references to the same instance in different threads. (Which admittedly could be bad and possibly cause Undefined Behaviour from race conditions on

[2020-11-11 10:10] kitsonk commented on #8344
cc/ @kdy1

A minimal reproduction:

*example.ts*

[code]

*u.js*

[code]

*v.js*

[code]

[2020-11-11 10:14] lucacasonato commented on #8341
That is already the case.

Race conditions are inherently part of multi-threaded code, and the programmer has to manually to prevent them by coordinating threads (i.e. through mutex locks). Same applies to pure web code like `SharedArrayBuffer`. Opening the same file from two different threads would yield two file descriptors which can be used to provoke race conditions. This is already the case r

[2020-11-11 11:39] Stevenje opened #8346 "Apple Silicon Support"
Hey, are there plans to support Apple Silicon?

[2020-11-11 12:03] lucacasonato commented on #8346
Yes. But we need support in rusty_v8 first: https://github.com/denoland/rusty_v8/issues/520. To get that working, we need to be able to build and test macos ARM64 binaries on CI. So that means either using QEMU, or waiting for GitHub to support macOS arm64 native runners.

[2020-11-11 15:56] MarkTiedemann commented on #8339
Is chunked encoding supported in `std/http`?

Otherwise you can roll your own:

[code]

[2020-11-11 16:01] 00ff0000red commented on #8341
Might I suggest that Deno checks if a file is already open anywhere in the program, and then throw an error if it is already open?

[2020-11-11 16:06] OverGlass commented on #8339
Thanks for your responses.

I think so
[https://github.com/denoland/deno/blob/c7804c06adb44127b93ef45d9fc9eb0ef255fc3f/std/http/server.ts#L84](https://github.com/denoland/deno/blob/c7804c06adb44127b93ef45d9fc9eb0ef255fc3f/std/http/server.ts#L84)
[https://github.com/denoland/deno/blob/c7804c06adb44127b93ef45d9fc9eb0ef255fc3f/std/http/_io.ts#L282](https://github.com/denoland/deno/blob/c7804c06adb441

[2020-11-11 16:07] bartlomieju commented on #8341
It's not, each worker gets it own resource table. If we were to support transferring resources we should take that into account in the upcoming resource table refactor, but first it needs more discussion on what might be the implications in implementation.

[2020-11-11 16:31] MarkTiedemann commented on #8339
The `BufWriter` in `writeChunkedBody` is not flushed for each chunk. But even adding `await writer.flush();` in `std/http/_io.ts#L185` doesn't help. It seems to me that the changes are not propagated to the underlying `Deno.Writer`. I'll investigate more later.

[2020-11-11 18:58] MarkTiedemann commented on #8339
Found a fix.

Instead of wrapping the writer with `writer = BufWriter.create(w)` in `writeChunkedBody`, it's possible to just use `w`. Flushing `w` gives the expected result.

Will create a PR shortly.

Here's a minimal repro:

[code]

[code]

In another terminal:

[code]

(1, 2, 3 will each be printed after 1s delay.)

[2020-11-11 19:48] stellaliao01 opened #8350 "Is there a demand for Apollo servers to be compatible with Deno?"
Is it feasible to create a module that would allow Apollo servers to work with Deno-oak x Deno-graphql?

[2020-11-11 19:53] #7736 closed

[2020-11-11 20:04] kitsonk commented on #8350
These sort of general questions are not suitable for the Deno issue tracker. Please check out other community resources like Discord (https://discord.gg/deno) or StackOverflow (https://stackoverflow.com/questions/tagged/deno).

[2020-11-11 20:04] #8350 closed

[2020-11-11 20:09] lucacasonato opened #8351 "Remove opaqueredirect response type in fetch"
Currently fetching with the option `redirect: "manual"` results in a `opaqueredirect` response when a redirect is encountered. This means that in Deno (a server side runtime), it is not possible to manually follow a HTTP redirect... :exploding_head:

We should fundamentally rethink how we are implementing the `fetch` API. The reason `opaqueredirect` exists, is to prevent leaking information that i

[2020-11-11 20:34] oscarotero opened #8355 "TypeError from Deno >= 1.5.1"
Hi.
We have a port of postcss to Deno here: https://github.com/postcss/postcss-deno/tree/master/deno
The code is converted automatically so it keeps synced with the original repository.
From Deno 1.5.1 and upper, we are getting the following error on make the conversion and running the tests:
https://github.com/postcss/postcss/runs/1380656312?check_suite_focus=true#step:5:185
[code]

The code work

[2020-11-11 20:54] kitsonk commented on #8355
It is an internal TypeScript error of some sort. The challenge seems that it looks like it is only raised when there is an internal in memory module we are generating for the tests. Will need to do a bit of investigation to narrow down why it is occurring.

[2020-11-11 20:58] getspooky commented on #8293
@lucacasonato
it's working thanks

[2020-11-11 20:58] #8293 closed

[2020-11-11 21:23] oscarotero commented on #8355
Ok, thank you for the quick reply. Yes, it seems something related with testing.

[2020-11-11 21:23] lucacasonato commented on #8351
Another thing:

You can currently just manually invoke the fetch op to get this information... so this is some fake security that is implemented fully in JS, and can be bypassed relatively easially.

[2020-11-11 22:25] KNnut commented on #8351
Related to #4389

[2020-11-11 23:03] MarkTiedemann opened #8356 "Make welcome.ts more welcoming"
First run on Windows after reading the readme:

[code]

- Prints a warning
- Prints unicode tofu

Also, if you want to check the script you are supposed to run before running it, a quick `curl` is empty:

[code]

Since it redirects, `-L` is required.

How about changing the script to:

[code]

And placing it at `https://deno.land/welcome.ts` - without any redirects?

[2020-11-12 01:00] jopemachine opened #8357 "Suggestion: using new system info crate"
### Issue

The `sys-info` crate seems that it doesn't provide enough APIs for `deno` and `deno`'s node compatibility.

I think in this issue (#7774), `Deno.systemCpuInfo` discarded node compatibility because of it.

### Suggestion

How about using a new crate like [heim](https://github.com/heim-rs/heim)?

### Example

For example, I think the `uptime` function could be implemented by the below cod

[2020-11-12 02:36] teleclimber commented on #8266
Ok, glad to see that there are proposals to address this.

Agreed. Better to have a consistent set of flags and deal with the length of commands separately.

[2020-11-12 02:56] quaos commented on #8285
I also encountered this with `_reactDevelopmentDewDew is not defined`

[2020-11-12 04:40] teleclimber opened #8358 "Proposal: declare permissions based on script command line flags"
Currently a user trying to safely run a script that does basic input/output might type something like this at the command line:

[code]

It's annoying to have to write directories twice: once to get a permission, and again to pass it on to the script.

Since there is a proposal for a permissions metadata file (#3675) I suggest that it (or whatever permission acquisition mechanism system gets imple

[2020-11-12 07:34] Dygear commented on #8346
There is also a few bugs within the dependency tree that are also failing to build.

[code]
[snip]
[code]

So, we have a few mountains to climb first.

[2020-11-12 12:41] PaintNinja commented on #8356
It should be noted that the [Windows Terminal](https://www.microsoft.com/en-us/p/windows-terminal/9n0dx20hk701) supports emojis and works properly, only the legacy Windows consoles such as conhost show the unknown unicode symbol.

[2020-11-12 16:08] filipesmedeiros commented on #3841
Is this something that's still of interest or can we close it?

[2020-11-12 16:13] bartlomieju commented on #3841
I think we can close this, thanks @filipesmedeiros

[2020-11-12 16:13] #3841 closed

[2020-11-12 17:33] TheThunderGuyS commented on #2295
I'd like to start using Deno instead of Node.js for servers on my Raspberry Pi 2B, and the fact that arm32 is still missing continues to be a roadblock. I can't upgrade at the moment, and the Raspberry Pi 2 is still in production so I see no reason for this to not be supported.