[2019-10-20 08:59] bartlomieju commented on #3160
@qwerasd205 I think it might be bug in your code. You're not awaiting writes, that may lead to racy results. For example I run your repro against `github.com` and it works as expected. Could you try updating your repro to hit some actual site (like request bin) so we can reason about it on exactly the same reproduction?

[2019-10-20 09:25] qwerasd205 commented on #3160
That's a bug in the repro code which is hastily written. Large pages (like GitHub.com) will end up resulting in several reads.

[2019-10-20 09:26] qwerasd205 commented on #3160
Interesting note on the awaiting though. That shouldn't result in a silent failure either way, though.

[2019-10-20 09:35] qwerasd205 commented on #1691
Getting a similar error trying to read a 50MB JSON file with deno_std's fs readJsonSync function.
[code]
50MB is big, yeah, but it's really not big enough that it should be causing an OOM error.

[2019-10-20 09:39] kitsonk commented on #3149
Why wouldn't you have a single main module then, which you would fetch?

That would be a valid use case.  But then again, you assume that these would always be local?

[2019-10-20 09:42] kitsonk commented on #3155
But everyone authoring code would have to know when the special syntax they are using was introduced.

That seem onerous and prone to errors.  You don't get a browser saying "upgrade your browser to a specific version because you are using unsupported syntax" and you don't have people putting minimum version of JavaScript in their code.

[2019-10-20 10:36] qwerasd205 opened #3163 "Text decoding performance abysmally slow."
This issue was originally focused on file reading performance but it was brought to my attention that the issue is in fact with the text decoding, and that the file read operation does not take very long. This issue does still directly impact reading large files as strings, though.

The following paragraph is from the original issue, and still holds true to an extent. I have updated the rest of th

[2019-10-20 12:16] bartlomieju commented on #3163
Just a quick note: reading operation is actually very fast (`0.047s` on my machine). It's decoding step that takes so long.

[2019-10-20 13:47] keroxp commented on #3149
Things are not specific to main executable. Think about automatically generated deno files that import other modules, or testing codes or example codes that are not referenced from any other files. It's difficult to know all implicit dependencies in the big project.

Yes. But even if it is not able to determine whether files to be imported dynamically are local or remote, pre-compiling local files

[2019-10-20 15:31] andyfleming commented on #3155
Applications do often have prompts for users to upgrade/switch browsers if their browser is unsupported / old.

Aside from that, developers have to worry about it. When they don't user a prompt to upgrade, they target an older version of javascript. That's why we have so much tooling for transpiling, polyfilling, and targeting browser compatibility. There's babel, typescript's `target` option, lin

[2019-10-20 17:06] qwerasd205 commented on #3163
This is a *very good* note. I did not think to check that and just assumed it was the read operation, but I suppose that doesn't make much sense.

[2019-10-20 17:09] qwerasd205 commented on #3163
It remains that reading a file to a string is horribly inefficient and CPU heavy, due to the decoding step. Should I update the issue to be about the decoding?

[2019-10-20 17:28] bartlomieju commented on #3163
Yes please

[2019-10-20 17:52] lucacasonato opened #3164 "[std] File server example can not handle url encoded characters"
https://deno.land/std/http/file_server.ts can not handle urls like /test%20file.txt - it does not seem to parse URL encoded characters like %20.

[2019-10-20 19:08] qwerasd205 commented on #3163
I think perhaps the TextDecoder code should be moved to Rust, as I have a feeling it's the fact that it's in JS that's slowing it down. It's an operation that needs to be high performance (for purposes of ingesting large files, and likely more). An alternative to that (though that is still preferable) would be to provide a `readFileStr[Sync]` function in the `Deno` namespace, to bypass having to d

[2019-10-20 19:24] qwerasd205 commented on #1691
It seems like this is probably because of the poor `TextDecoder` performance (related issue: #3163). Because it's implemented in JS it's quite memory hungry.

[2019-10-20 19:58] andyfleming commented on #3162
One use case where I imagine this being useful would be in a docker deployment.

* I'd want my script to only output its own output (without compile messages).
* I wouldn't want it to prompt for permissions. (I'd want it to fail fast.)
* I'd want to disable pulling any scripts (and only use local or cached scripts) with a flag like `--no-fetch`. (This would be a useful tool for ensuring a determin

[2019-10-20 21:55] kitsonk commented on #3163
Hmmm... it is going to be tricky to do this fast given our current op model.  There is the zero copy buffer, but Rust doesn't generate JavaScript strings, which is what we need to end up with.  The way this is done in the likes of Chromium is injecting the decode function into the isolate, which then utilises native C++ to perform it.

The other option is to author it in Rust, transpile it to WASM

[2019-10-20 21:58] kitsonk commented on #3155
People can do that already if they wish with `Deno.version`. 😄

I'm not really sure that is true.  Most of the "legacy" stuff in Node.js eco-system are authors who just don't care about refactoring their code.  Abandonware is far more a drain than prompting users to upgrade their version of Node.js.  The README often states the minimum version of Node.js required, I don't know why that wouldn't be

[2019-10-20 22:17] andyfleming commented on #3155
I was talking about browser use cases specifically there. I don't think that's as common for node.js modules.

-------

In general, I agree with your thoughts and don't think this is priority.

After some more thought too, I think the more common use case is going to be users running a newer version of deno with an older script (which wouldn't be a problem).

[2019-10-21 01:36] crabmusket commented on #3155
What about a convenience method on the Deno object?

[code]

I guess these are implicitly runtime checks, but tooling could take advantage of them being standard to do checks ahead of time if desired.

[2019-10-21 02:53] crabmusket commented on #200
The way Go handles this with `go.sum` files seems relevant. [FAQs in their wiki](https://github.com/golang/go/wiki/Modules#faqs--gomod-and-gosum)

[2019-10-21 12:30] bartlomieju commented on #3163
I believe that is the case, we've got GC all over the place:
[code]

[code]

700MB of memory to decode 25MB suggest there's a problem in our decoder implementation.

[2019-10-21 14:30] ry commented on #3163
If we could get a benchmark on the benchmarks page, I will happily invest the time to make it faster.

It's not at all obvious that doing it in rust would be faster. Boundary crossing is a significant cost and V8 optimizes code very well.

[2019-10-21 14:33] ry commented on #200
Added to 1.0 blockers.

[2019-10-21 14:35] ry commented on #3155
When we reach 1.0 we will have a stable API and such checks will not be necessary.

I don't think we need convenience methods when Deno.version.deno exists.

[2019-10-21 14:36] #3145 closed

[2019-10-21 14:49] ry opened #3165 "console.log() should stringify objects exactly as Node does"
Match colors and semantics.

node's stringify has been tweaked and optimized over many years, changing anything is likely surprising in a bad way.

[2019-10-21 14:59] ry opened #3166 "Merge deno_install repo into deno repo"
It's not helpful to have a one-off side repo with it's own CI setup.
https://github.com/denoland/deno_install

Probably best placed in /std/install ?

[2019-10-21 15:02] bartlomieju commented on #3166
This will lead to even more confusion between `deno_install` and `deno install`... We should rename one of another

[2019-10-21 15:23] ry commented on #3162
Sure, sounds like a reasonable feature.

Tangental: @andyfleming -  I want to remove --no-prompt - scripts are going to just die if they don't have the correct permissions rather than giving a prompt.

[2019-10-21 15:51] keroxp opened #3167 "Std release cycle"
- deno@v0.21.0 released in last weekend but std not yet?
- v0.21.0 is still using old std release for subcommands (fmt, test, install) and latest fixes in those modules are not available in this version.
- How std will be released with single repository?

[2019-10-21 15:57] ry commented on #3149
Note that globs get expanded by the shell before they are ever passed to Deno. @keroxp is not asking for us to expand globs in our implementation, only that we accept multiple inputs for `deno fetch` - this is totally reasonable.

[2019-10-21 16:00] bartlomieju commented on #3149
This is a good first issue (should require changes only to `cli/lib.rs`)

[2019-10-21 16:20] ry commented on #3167
Since deno_std is now part of deno it will share tags. This was a major reason for merging the repos.

The actual website http://deno.land/std/ has still been pointing to the old repository until just a few minutes ago... I just made this change:
https://github.com/denoland/registry/commit/7fd99c2ec09d929afce2096231caa12388865e69

Tangentially related: I'm also working a new implementation of the

[2019-10-21 16:20] #3167 closed

[2019-10-21 16:57] nayeemrmn commented on #3149
@kitsonk This is how the test runner currently works: `deno https://deno.land/std/testing/runner.ts --help`. I guess in that case it's the URL support that's tacked-on but it's still precedence.

`deno fetch` on a remote module vs the main module of a local project are completely separate usages. You're either doing one or the other. If there are capabilities that only apply to one case I don't th

[2019-10-21 17:03] andyfleming commented on #3162
@ry — That sounds like a better default.

Would we consider adding the inverse, `--prompt`?

My fear is that if some projects have to instruct users to use a number of specific flags, they might get lazy and start suggesting `--allow-all`, which would default the whole purpose.

[2019-10-21 17:27] jamiebuilds commented on #3153
@chrmoritz Just tried that out and it failed in the same way

[2019-10-21 17:30] ry commented on #3153
@jamiebuilds Try `unset AWS_ACCESS_KEY_ID` and `unset AWS_SECRET_ACCESS_KEY` - this has to do with our sscache setup... It might actually be a bug in sscache (I think they shouldn't error)

[2019-10-21 17:39] jamiebuilds commented on #3153
@ry Just tried that too, still failing with

[code]

[2019-10-21 17:50] ry commented on #3153
@jamiebuilds Can you examine your `env` and let us know which env vars are set? (Please be careful not to reveal any secret keys!) Are there any related to AWS or Google Cloud?

[2019-10-21 18:06] bartlomieju opened #3169 "Implement chown for Windows"
https://github.com/denoland/deno/blob/f1fa3bd792712a98f7fc8566a3bf4e1c7d9901b1/cli/fs.rs#L125-L130

It should be implemented before 1.0 is released

CC @ry

[2019-10-21 18:07] bartlomieju opened #3170 "refactor: Rewrite DenoPermissions.check_net to (host, port)"
https://github.com/denoland/deno/blob/f1fa3bd792712a98f7fc8566a3bf4e1c7d9901b1/cli/ops/net.rs#L73-L77

This is a good first issue in Rust

[2019-10-21 18:19] jamiebuilds commented on #3153
I don't keep any keys in my env right now. But I do have my local copy of `depot_tools` in my `PATH`, I tried removing that though and it failed with the same error as above.

[code]

I also tried grepping around `declare -f` and couldn't find anything relevant.

[2019-10-21 18:25] ry commented on #3153
@jamiebuilds Would you mind trying to edit your path so it doesn't have that depot_tools and see if that is the problem? (We provide our own copy of depot_tools in third_party/depot_tools)

[2019-10-21 18:27] jamiebuilds commented on #3153
@ry Yeah, I did that when I saw it was there and got the same result.

[2019-10-21 18:36] ry commented on #3153
@jamiebuilds Oops sorry I missed that. So to give you some context, "cargo build" is running core/build.rs which is failing on line 94, trying to run "tools/setup.py"
https://github.com/denoland/deno/blob/1f52c66ced9bed0cae6bff065dfa7563cbfaee29/core/build.rs#L85-L94
tool/setup.py fetches some binary dependencies from Google Cloud Storage - it seems to be failing trying to get `clang_format`. It m

[2019-10-21 18:46] jamiebuilds commented on #3153
Output of `./tools/setup.py`

[code]

[2019-10-21 18:49] zekth opened #3171 "Import Json is not exposing properties as exports"
Importing Json files only works this way:
[code]
this works:
[code]
this does not
[code]

[2019-10-21 18:55] chrmoritz commented on #3153
Oh wait, I can now reproduce the same error locally too (with a clean checkout) and everything was fine a few days ago.

Given that the erroring code lives in `./third_party/depot_tools/external_bin/gsutil/gsutil_4.28/gsutil/third_party/boto/boto/pyami/config.py`, which isn't checked in code, but something which is dynamically downloaded by depot_tools, this looks like some current macOS specific

[2019-10-21 18:59] jamiebuilds commented on #3153
I am on macOS Catalina if that is relevant.

[2019-10-21 19:01] chrmoritz commented on #3153
The way to reproduce this is to remove `./third_party/depot_tools/external_bin` on macOS and let `depot_tools` recreate it.

[code]

[2019-10-21 19:05] chrmoritz commented on #3153
Error throwing code looks like this

[code]

But I definitely don't have `AWS_CREDENTIAL_FILE` set either, so some previously running python code has to set it to an invalid value.

[2019-10-21 19:18] chrmoritz commented on #3153
It is getting set here to an empty string, which still satisfy the condition that it's set. Looks like they incorrectly removed a check for an empty string?

https://github.com/denoland/deno_third_party/blob/908bc5a63c3520171d4b5caf6ec1f9c66633af70/depot_tools/download_from_google_storage.py#L91

[2019-10-21 19:37] chrmoritz commented on #3153
@jamiebuilds:

As a workaround you could just comment out `third_party.download_clang_format()` and `third_party.download_sccache()` because they are not strictly needed for building deno:

https://github.com/denoland/deno/blob/6c5a981fd2afad21af73a1345c4e30fb6b30b09a/tools/setup.py#L28-L33

[2019-10-21 19:39] kitsonk commented on #3171
Why you say "does not work", what sort of error message do you get?

[2019-10-21 19:45] chrmoritz commented on #3153
@ry Upgrading `depot_tools` to `5abb9b7c5d0c0a5f81f4a0da741680df9b9d128c` (the one used in v8 7.9) fixes this issue to me. Since this doesn't happen on CI this might me a Catalina specific issue fixed within a newer depot_tools version.

[2019-10-21 19:57] kevinkassimo commented on #3171
This is because our current json import is through a wrapper looking like
[code]

[2019-10-21 20:24] zekth commented on #3171
Agreed but rollup / webpack for example does not care of this for example. The output will crash and that's normal. But the output error might be odd.

[2019-10-21 20:33] ry commented on #3169
I don't even know if windows has chown... I think it's important for 1.0

[2019-10-21 20:34] BrunnerLivio opened #3173 "Support for deno eval interactive option"
Deno should provide an equivalent functionality of [`node -e <CODE> -i`](https://nodejs.org/api/cli.html#cli_i_interactive) that allows the user to evaluate code through the Deno CLI but also attach REPL in the context of the given code.

**Expected behavior**
[code]

[2019-10-21 20:37] kitsonk commented on #3171
They also don't output ESM.  They output a script bundle.  ES modules don't have an "export assignment" operator.  There is no clean way to write it so that the whole of the JSON structure is made available.  It is unlikely that rollup or webpack would just throw, because they don't have the same challenge, because they write it out in a special bundle format that isn't ESM and then wrap that in s

[2019-10-21 20:56] chrmoritz commented on #3153
We're running into https://bugs.chromium.org/p/chromium/issues/detail?id=1012612 here.

[2019-10-21 21:41] kevinkassimo commented on #3173
Current REPL logic involves creating a module for the evaluated code. I'll investigate if there is a way we could restore to the context of the module for REPL.

[2019-10-21 21:42] chrmoritz commented on #3153
@jamiebuilds This should be fixed now with #3175. Could you retry with the latest master?

[2019-10-21 21:53] ry opened #3177 "wanted: tutorial/demo of using firebase in a server-side deno process"
The client side firebase code ought to work out-of-the-box on Deno.

If not we should address whatever issues arise.

[2019-10-21 21:58] andyfleming commented on #2767
Would we consider adding the inverse, `--prompt` if we make `--no-prompt` the default?

My fear is that if some projects have to instruct users to use a number of specific flags, they might get lazy and start suggesting `--allow-all`, which would default the whole purpose.

-----

*(copied this comment from https://github.com/denoland/deno/issues/3162 since it's more relevant over here)*

[2019-10-21 22:39] andyfleming opened #3178 "Deno should have a lock file"
Opening this issue to make it easier to find #200

#### Search terms
- deno lock
- deno-lock.json
- deno.lock
- lock file
- package-lock.json
- security

[2019-10-21 22:39] #3178 closed

[2019-10-21 22:50] hayd commented on #3178
deno.lock seems reasonable (and in line with Cargo/Bundler).

I suspect the issue will be looking it up: Does it have to be provided explicitly? or does deno search for it? In which directory (cwd or directory of file)? Any option seems a little magical...

OTOH this does seems a good way to be "secure by default".

[2019-10-21 22:50] ry commented on #3009
There are many small features for complete TLS support, but with `Deno.listenTLS()` landed, I think this can be closed. Many thanks to @bartlomieju and @jorsi for their work.

[2019-10-21 22:50] #3009 closed

[2019-10-21 22:51] ry commented on #3178
Let's move the discussion to #200

But I think we can ask people to explicitly specify if they want lockfile checking/writing.

[2019-10-21 22:57] andyfleming commented on #200
## Some thoughts about lock file concepts (from gitter)

[discussion permalink (gitter.im)](https://gitter.im/denolife/Lobby?at=5dadc081f26ea4729dcbfe48)

----

**Ryan Dahl @ry**
yes we need lock files......

**Jed Fox @j-f1**
Lockfiles only work if you can get a permanent link to a given file. Deno’s method of pulling data from arbitrary URLs means that there is no way to get a permanent link, so

[2019-10-21 23:27] nayeemrmn commented on #200
My current suggestion is to walk up the directory tree looking for a `deno.lock` and use it as a lock file if one is found.

By 'use' I mean it should be _checked_ for all fetches in its scope by default, but not _written to_ unless explicitly specified with `--lock` or something.

Writing to it by default would mean it gets populated when you're experimenting or using some remote utility that's n

[2019-10-21 23:27] qwerasd205 commented on #3163
Yes, on second thought that's probably right.

I did some research on high performance UTF-8 decoding and looked at some algorithm options and will be working on creating a high performance UTF-8 decoder in JavaScript soon. I will make a comment on this issue with a link to it when I'm satisfied with it, where hopefully someone can implement it in Deno. (I would do it myself and make a PR, but I r

[2019-10-21 23:28] kitsonk opened #3179 "proposal: support a comprehensive meta-data file"
There is discussion around "lockfiles" and sub-resource integrity (see: #200).

There are also other "external" data that might be needed to describe a workload in Deno, like what the main module is, a custom TypeScript configuration, permissions and other command line options, import-maps, etc.  While Deno should always _just work_ without a meta data file, there are lots of use cases where exter

[2019-10-21 23:31] kitsonk commented on #3163
@qwerasd205 feel free to contribute however you wish, would be glad to get it to fit into Deno.

[2019-10-21 23:39] ry commented on #200
I do not want to get into the business of trying to guess the location of things. This seems innocent but can explode in complexity. I don't mind if we check the current directory for a fixed filename - but I think it would be better if we always explicitly specified the lockfile filename.

[2019-10-21 23:49] kitsonk commented on #200
I proposed in #3179 that we have a comprehensive meta data file, which would be opt in, work in a very similar way to a main module, and be the explicit location for the locks for a given workload.

I agree, guessing and walking isn't good.  We should have the ability to utilise a remote set of lock information just as we do with other code (and if we do it for lock information, why no co-locate a

[2019-10-21 23:53] nayeemrmn commented on #200
Makes sense. The intention behind that was to somehow make the checking part of it implicit. I think that's important. I hope there'll be a way to achieve this either way.

[2019-10-22 00:33] kitsonk commented on #3149
I was thinking about this, why wouldn't we want this to be tree for other commands as well, `run`, `info`, even `bundle`.  The compiler already supports `rootNames` as an array.  Any command that expects a module should actually expect _n_ modules, right?

[2019-10-22 00:50] nayeemrmn commented on #3179
So one of the ideas here is to consume the meta-file by using it as the entrypoint of the app rather than implicitly finding and reading it based on obscure logic. Nice.

[2019-10-22 02:23] qwerasd205 commented on #3163
I've created a UTF-8 decode function in JavaScript that does 80-130 MB/s on my machine, which I think would be more than sufficient. The function can be found at [this gist](https://gist.github.com/qwerasd205/95843f00fc3898856c46b4e5da3bc2f2). Can't wait to see it in Deno!

[2019-10-22 02:38] ry commented on #3163
@qwerasd205 Please supply a benchmark program and I will do the work of getting it in for you.

[2019-10-22 02:44] qwerasd205 commented on #3163
@ry A program that benchmarks the TextDecoder decode function? What should the format of the output be?

[2019-10-22 02:53] ry commented on #3163
No output - I just need it to do something that's currently expensive.

[2019-10-22 02:53] qwerasd205 commented on #3163
Okay, can do.

[2019-10-22 03:06] kitsonk commented on #3163
@ry feels like we should also invert it to... keep track of `TextEncoder` performance as well.

[2019-10-22 03:07] manyuanrong commented on #3170
I'll be working on it.

[2019-10-22 03:11] qwerasd205 commented on #3163
@ry here's a script which randomly generates 10MB of utf-8 data and feeds it to the text decoder: https://gist.github.com/qwerasd205/a7616010915180b0fde08a52454e4fe4

[2019-10-22 03:12] qwerasd205 commented on #3163
It takes ~2.8 seconds for TextDecoder, and ~0.16 seconds for my decode function.

[2019-10-22 03:14] qwerasd205 commented on #3163
Actually I just noticed my generate random utf-8 function is flawed, I copied it from somewhere without thinking, but it gets the point across.

[2019-10-22 04:17] trivikr commented on #2947
Is there a decision on this? After going through the comments, `*.test.ts` seems to be the favorite.

It'll be easier to rename test files now, as more tests will be added as deno matures.

[2019-10-22 08:25] bartlomieju commented on #3164
This is a good first issue in TS

[2019-10-22 08:33] #3169 closed

[2019-10-22 08:34] bartlomieju commented on #3160
Sorry @qwerasd205 but I can't reproduce the problem, I had no problem with `dialTLS` whatsoever.

[2019-10-22 08:39] qwerasd205 commented on #3160
That's very strange. Could it possibly be specific to macOS?

[2019-10-22 08:42] bartlomieju commented on #3160
I don't think so. Try rewriting your example to use async/await it should be easier to reason about. I'm confident there's some hanging promise in your example.

[2019-10-22 08:43] qwerasd205 commented on #3160
Well if you ran my repro code and didn't get the same result as I did then I don't see how else you could explain the discrepancy.

[2019-10-22 08:44] qwerasd205 commented on #3160
And as I said, the same exact code, except converted to dial and port 80 works perfectly, if it were a hanging promise or something of that sort then you would expect it to affect that, too.

[2019-10-22 08:48] qwerasd205 commented on #3160
What code did *you* use to try to reproduce the problem?

[2019-10-22 09:10] bartlomieju commented on #3160
@qwerasd205 please try this solution:
[code]

I believe it does what you intended and doesn't hang ;)

[2019-10-22 09:12] qwerasd205 commented on #3160
The issue is with writing from within a Promise resolution, so of course awaiting said promise will avoid the issue...

[2019-10-22 09:14] qwerasd205 commented on #3160
You haven't shown me that this isn't a bug in the dialTLS connection, only that it doesn't occur when you write from outside of the resolve function of a Promise which didn't resolve immediately, which I already knew.

[2019-10-22 09:29] bartlomieju commented on #3160
Okay now I see problem occurring. Interesting indeed... I can dig into it later this week or next week.

[2019-10-22 09:33] qwerasd205 commented on #3160
With a little modification to my original repro code, simply making sure that the write is complete before attempting to read again (by using awaits in appropriate places) *does* prevent the issue from occurring, but just because there's a solution doesn't mean it's not an issue. dial does not act this way, and it shouldn't. Writing to the socket while waiting to read from it shouldn't prevent eve

[2019-10-22 09:33] qwerasd205 commented on #3160
That is, I'm fairly confident now that the bug occurs when a write is made to the socket while a read is pending (waiting for data so it can resolve).

[2019-10-22 09:34] keroxp commented on #3149
@ry unquoted globs get expanded by shell but quoted (`"**/*.ts"`) not. Should we expand quoted patterns?

[2019-10-22 10:57] AleksandrukTad commented on #3164
I will happy pick that up

[2019-10-22 11:06] nayeemrmn commented on #3160
Better repro:
[code]

However this doesn't reproduce it:
[code]

[2019-10-22 13:58] zekth commented on #3171
@kitsonk i get your point about those case you mention. So assuming that the loading method for Json files is using only default exports, this might need to be documented. Like i said, other projets don't have the same implementation, so it could be confusing for users.

[2019-10-22 14:00] bershanskiy commented on #3149
I would like to work on this once the bike-shedding is over.

@keroxp said:

If a person uses a particular shell, they probably get used to the way that particular shell handles quoted strings that look like regular expressions. As an experiment, I tried to use a couple different shells and see what they do. In some `"**/*.ts"` is a valid path for a file `*.ts` in folder `**`, in others it is an i

[2019-10-22 14:03] nstott commented on #2828
I'd like to give this a shot,

just to clarify my understanding, what needs to be done is to
- lift https://github.com/stardazed/sd-streams/tree/master/packages/streams/src into `cli/js/streams/`
- undo most of https://github.com/denoland/deno/commit/8f919465b09e0338148d22459fac70fd5d5c9089
- make everything work again

is that it? anything I'm missing, or should pay attention to?

cc/ @mrkurt

[2019-10-22 14:59] Phrohdoh opened #3186 "Is `deno fmt` broken? (deno 0.21.0)"
# General Information

[code]

# Actual Experience

[code]

# Expected Experience

`deno fmt` to not fail on a missing/busted implementation-detail

[2019-10-22 17:40] qwerasd205 commented on #3160
Yes, that is a much better repro, as it encapsulates the problem a lot better. When I wrote the first one I still wasn't sure about the nature of the problem.

[2019-10-22 17:45] bartlomieju commented on #3160
Nice repro @nayeemrmn, now I can clearly see buggy behavior. @qwerasd205 this should be fixed, sorry for denying :+1: nice catch

[2019-10-22 17:51] qwerasd205 commented on #3160
Don't worry about it, when this issue first appeared in my code I spent quite a while trying to figure out if it was a bug in my code, and not a Deno issue. And as you can see, I still didn't have the exact nature of the issue nailed down until after you forced me to examine my assumption by adding some awaits in.

[2019-10-22 18:36] kevinkassimo commented on #3186
deno.land was under maintenance yesterday I believe.

[2019-10-22 19:07] Phrohdoh commented on #3186
This ticket was only created 4 hours ago.
Should I wait another day or so and try this again then?

[2019-10-22 19:14] ry commented on #3186
Sorry this is my fault. I’ll have a fix soon.

[2019-10-22 20:18] lucacasonato commented on #3177
So I tried to get this working, but its pretty difficult - `@firebase/app` is no problem as it is on pika.dev.

`@firebase/database` and `@firebase/firestore` both are not easily doable because they aren't on pika.dev and I have not found any other easy way to import them.

`@firebase/storage` is on pika and can be imported, but it requires XMLHttpRequest to do anything useful so it doesn't work e

[2019-10-22 23:14] nayeemrmn commented on #3186
@ry Can this be closed now?

[2019-10-22 23:36] ry commented on #3186
fixed by https://github.com/denoland/deno_website2/commit/3b332136fa1eb934039c3f0da121168a19618020

[2019-10-22 23:36] #3186 closed

[2019-10-23 00:07] nayeemrmn commented on #3166
Also `deno fmt` and `std/fmt` :(

[2019-10-23 02:41] kt3k commented on #2767
@ry Thank you for merging #3183.

I'm planning the following next steps:
- [ ] Replace the current JS APIs with permissions.query() and permissions.revoke() methods.
- [ ] Add permissions.request() and it prompts the user for the permissions.

[2019-10-23 02:51] andyfleming commented on #2767
I think `permissions.request()` should just fail unless a `--prompt` flag is present. I don't think we want to be in a situation where we're guessing if a prompt will ask for prompts.

If I'm running a script with the default settings (which is basically an implied non-interactive mode), I don't think a script should be able to override that.

[2019-10-23 10:52] JerryGreen commented on #3155
An alternative thought to both sides (devs wanting the dep checks and deno devs wanting only promising features to cut time spending)

Maybe at some point you guys will make some warning notification like:

«You are using an outdated Deno version. We recommend to upgrade. Run: brew install deno»

I almost sure you’ll make this check (isn’t it added yet?). This type of a check normally pings web fo

[2019-10-23 10:57] nayeemrmn commented on #2767
@kt3k Would it be possible to make `permissions.request()` bring back permissions for free without a prompt if, for example, the permission was revoked in the same module? For #3055.

[2019-10-23 11:17] sidvishnoi opened #3189 "welcome.ts not found"
The introductory command `deno https://deno.land/welcome.ts` fails as https://deno.land/welcome.ts says "not found"

[code]

![image](https://user-images.githubusercontent.com/8426945/67387486-96892700-f5b4-11e9-9e4d-cf93a1f8c563.png)

[2019-10-23 13:10] matey-jack opened #3190 "std: BufReader.readString should return Deno.EOF at end of input"
Currently it has a bug and returns an empty string instead.

Failing test:

    const buf = new BufReader(stringsReader("test"));

    const line = assertNotEOF(await buf.readString(","));
    assertEquals(line, "test");

    assertEquals(await buf.readString(","), Deno.EOF);

Last assertion here fails. I have the fix ready and create this issue so I can refer to it ;-)

[2019-10-23 14:19] #3170 closed

[2019-10-23 16:32] #3134 closed

[2019-10-23 17:04] ry opened #3193 "//website is dead code"
Since https://github.com/denoland/deno_website2 the code in //website is dead. We need to figure out what to do with it.

Should website2 be merged into the main repo? Having netlify CI run for unrelated changes seems undesirable.

Maybe denoland/deno should be a submodule of website? Then we can maintain manual.md and style_guide.md in the main repo...

[2019-10-23 17:05] nayeemrmn commented on #3189
This was _just_ moved to https://deno.land/std/examples/welcome.ts... The old one shouldn't have been removed yet but it appears it wasn't added to the new site.

cc @ry

[2019-10-23 17:15] nayeemrmn commented on #3193
+1 for the second option.

[2019-10-23 17:19] ry commented on #3189
Fixed the link on the home page.

[2019-10-23 17:19] #3189 closed

[2019-10-23 17:29] nayeemrmn commented on #3189
@ry There are references to it in the manual as well... we have two of those right now and they'll diverge.

[2019-10-23 18:47] lucacasonato commented on #3193
I like this approach but afaik Netlify wont trigger on updates to the submodule. We would still have to manually update the submodule version in the website repo.

[2019-10-23 21:36] matey-jack commented on #3177
@ry any idea on how to break this is up into pieces? any specific use-case to try first? One approach I see is to first patch up the libraries so they can be imported and used and then use the learnings from this to either code up some polyfills, propose upstream changes, or some combination of things that results in having Deno-importable @firebase/ libraries published at some URL.

[2019-10-23 22:21] bershanskiy commented on #3177
@matey-jack

The proper way to patch up the libraries is just to export them with ES Modules syntax instead of CommonJS `require()`. This is something the upstream developers would need to do. Another approach is to make a tiny libraries that use the RESTful API provided by Firebase. Also, it's probably possible to make a polyfils that wrap around `require()` (albeit that would probably defeat all

[2019-10-23 22:42] chrmoritz commented on #3193
Also the benchmark results are currently still published from within this repo. This could possibly be moved to be published to the new `deno_website2` repo via Netlify too.

[2019-10-24 01:47] evolify commented on #3012
thanks

[2019-10-24 04:50] hayd commented on #471
In case people are following this, here's v8 issues for top-level for-await (not merged yet):

https://bugs.chromium.org/p/v8/issues/detail?id=9817
https://bugs.chromium.org/p/v8/issues/detail?id=9825

[2019-10-24 05:07] HusseinMorsy commented on #3186
I still have the same issue:

[code]

[code]

[2019-10-24 06:57] matey-jack commented on #3177
I dived a bit deeper into @firebase/storage. It looks like the entire Firebase SDK is meant to be used on Browsers: not only does it use XHR, but they also offer rollups as ESM module, even a version for ES2017. For NodeJs they seem to recommend the full Google Cloud / Storage SDK, but this thing has a lot of dependencies on other NPM modules... which might be why we want to go for Firebase first.

[2019-10-24 10:03] somombo commented on #471
guess I was right then..
did Daniel R give a reason why it won't be included?

[2019-10-24 14:30] ry commented on #2767
@andyfleming It should fail if not connected to a TTY (using `Deno.isTTY()`). We should strive to reduce the number of flags, and `--prompt` seems quite unnecessary.

[2019-10-24 14:32] ry commented on #2767
@nayeemrmn No - if permissions were removed then it was perhaps to run some untrusted bit of code - we cannot then assume the state of the program is safe to have elevated permissions.

[code]

[2019-10-24 14:42] ry commented on #3186
@HusseinMorsy Thanks for the notice. Should be fixed now (https://github.com/denoland/deno_website2/commit/724f3091e49bcfaf44053e93c2a9093639faf6ad)

[2019-10-24 15:26] Janpot commented on #3193
If I understand correctly you can run github actions [only when certain paths have changed](https://help.github.com/en/github/automating-your-workflow-with-github-actions/workflow-syntax-for-github-actions#example-including-paths). Maybe that would solve your problem of CI?

[2019-10-24 15:31] ry commented on #3193
We've decided to keep deno_website2 as a separate repository. And rather than having deno be a submodule of website2, I'm going to simply move the manual.md and style_guide.md into //std so they can be accessed like other markdown files. Then there is no need for special handling of them.

[2019-10-24 18:54] kevinkassimo commented on #3173
It seems very hard to access the lexical scope of the module. `Deno.core.evalContext()` currently evaluates results in a scope that is a different one from the module itself. A reasonable compromise I can think of atm is that REPL would automatically import the module evaluated.

This is different from Node's behavior since Node evals code as a script, so later REPL can also creates more scripts o

[2019-10-24 20:14] #3193 closed

[2019-10-24 21:01] brainkim opened #3196 "As a library author, how do I dual publish to both node and deno?"
Let’s say that I have a library which is published on npm. If that library

1. is written 100% in typescript
2. has no dependencies
3. does not use node.js built-in modules
4. does not use deno.js built-in modules

what is the best way to add support for deno? Is there a good example repository which does this?

Additionally, if I have library which depends only on modules which dual support both

[2019-10-24 21:19] HusseinMorsy commented on #3186
@ry Great.  It's now working. Thanks a lot.

[2019-10-24 22:29] chrmoritz opened #3199 "Feature request: Publish source tarballs for releases"
It would be nice, if deno could publish complete source tarballs for all upcoming releases in addition to the platform depending binaries, because the automatically created tarballs by GitHub don't include any files from submodules and are hence more or less useless.

This would be useful for people who want to just build a release from source without having to clone the repository and all it subm

[2019-10-24 22:32] kitsonk commented on #3196
For Deno, you don't need npm at all.  Having it located somewhere on a CDN which the `.ts` code is supported directly.  An example of a rich library would be something like [oak](https://github.com/oakserver/oak/).

The biggest "problem" with dual support would be that modules have to end in the extension in Deno.  Also Node.js doesn't support TypeScript directly, and doesn't support ESM (without

[2019-10-25 00:39] brainkim commented on #3196
Ahhh yeah the big issue is the requirement of file extensions for deno. I like your suggestion of ` moduleResolution: "literal"` (`preserve`?) in the [related typescript issue]( https://github.com/Microsoft/TypeScript/issues/27481#issuecomment-506300076). If the typescript team is gonna stick with following the node module resolution algorithm, maybe deno can offer a competitive alternative to tsc

[2019-10-25 03:57] kitsonk commented on #3196
@brainkim regarding the modules resolution, there is also: microsoft/TypeScript#33437 that would be more of an ideal, but getting Node.js to support it... Though Node.js is moving towards extension required modules under the experimental ES support, there would still be a need to change the extensions on the emitted code, and if TypeScript (`tsc`) touches it, they will get it right for some and wr

[2019-10-25 07:07] ry commented on #3094
Fixed in https://github.com/denoland/deno_website2/pull/49

[2019-10-25 07:07] #3094 closed

[2019-10-25 08:23] hayd commented on #471
Actually, re-reading those commits above I think top-level for-await is in recent V8 versions. IIRC this means we can support it in ts easily once we upgrade V8.

[2019-10-25 13:46] keroxp opened #3201 "[cli] Remove URL dependencies of std for subcommands"
Currently some subcommands (`fmt`, `test`, `install`) depends on remote codes on https://deno.land/std. These commands don't work if site is down or wrongly serve files. Actually I met this situation recently.

It is strange and undesirable. As I commented on https://github.com/denoland/deno/pull/3168 , There may be no way to use latest std codes for the latest cli release with tag.

So I think re

[2019-10-25 15:52] mhvsa commented on #3165
I'll work on it

[2019-10-25 17:23] #2459 closed

[2019-10-25 17:23] #3117 closed

[2019-10-25 19:29] #3199 closed

[2019-10-25 21:14] nayeemrmn commented on #3055
https://github.com/denoland/deno/issues/2767#issuecomment-545946552

[2019-10-25 21:14] #3055 closed

[2019-10-25 22:29] Tundon commented on #47
So I know there is already enough discussion about whether a package management tool is needed, but I think there may have been one spot missing from these discussions.

That is, what about offline deployment? A common scenario (especially commercial software) is to package all necessary dependencies and Deno runtime into a single package, and let end user install it.
There are some concerns in th

[2019-10-25 22:43] hayd commented on #47
@Tundon in deno you can commit/bundle your DENO_DIR at build time, therefore you won't need a remote source at deployment (on the target machine).

[2019-10-26 05:52] Stvchm9703 commented on #2585
As I google others articles, seem Deno is using other framework Flatbuffer (also made by google), to dual with V8 and Rust communicating,  instead of using Protobuf.
However, similar question that I want to ask: is there any IPC / FlatBuffer channel that open for other program to communicate with Deno?

[2019-10-26 08:39] kitsonk commented on #2585
We removed flatbuffer from Deno, and that was only for privileged communication between the JavaScript runtime and Rust.

Depends on what you really mean by "child process".  Deno supports web workers, and the communication to them is in the standard way.  `Deno.dial()` and `Deno.listen()` could be used for TCP communication.

Communicating via Windows or Linux raw sockets might be an interesting

[2019-10-26 08:43] kitsonk commented on #3201
I believe it was a very intentional decision to not bloat the binary.  In particular `fmt` is a rather huge situation.  Personally I would want us to enhance the experience versus bloating the binary with some of these things.  A subcommand that would ensure that all subcommands are available locally and don't require subsequent network requests, would be my suggestion of a next step.  As well as

[2019-10-26 13:54] svnv commented on #3124
I have been looking at this and, while it is trivial to make a custom inspection method for the URL class I think the best solution would be to make the `createRawObjectString()` function in [console.ts](https://github.com/denoland/deno/blob/b81e5db17aa8b3088d6034ddf86b79c69410f012/cli/js/console.ts#L276) ignore the private and protected properties, but I'm not sure if that is possible to do in ty

[2019-10-26 14:40] #3133 closed

[2019-10-26 14:51] #3163 closed

[2019-10-26 15:05] mmkal commented on #2798
Using ` -- ` to separate deno args and program args can be dangerous. We've run in to some pretty scary situations because of the similar functionality npm has. Here's our example:
We had a deploy script that accepted a `--dry-run` cli arg. It was usually called with `npm run deploy`, but someone new to the team accidentally tried to use `npm run deploy --dry-run` without supplying the ` -- `. The

[2019-10-26 16:52] trivikr opened #3207 "Link to latest output of `deno types` in manual"
The [deno types section](https://deno.land/std/manual.md#deno-types) in website manual links to an outdated output of deno types https://gist.github.com/ry/46da4724168cdefa763e13207d27ede5

The latest output of `deno types` with v0.21.0 can be viewed at https://gist.github.com/trivikr/1d3f6d157b6b311dedd4661ffade6362

Can we link to the latest `deno types` output when a new release is out?

[2019-10-26 18:00] keroxp commented on #3201
Anyway we should investigate how will the binary get huge by bundling those codes. If difference is around 2~3MB, we can accept changes. Especially it is strange that the latest release is not using the latest std code for subcommands even though they had been merged.

[2019-10-26 19:12] 7040934 commented on #3179
อีเมลข้อมูลและข้อมูลส่วนตัวหายไปไหนใครมาสวมแทน

[2019-10-26 19:25] 7040934 commented on #3179
อีเมลข้อมูลและข้อมูลส่วนตัวหายไปไหนใครมาสวมแทน

[2019-10-26 19:38] andyfleming commented on #3201
I agree it's nice for the binary to be small, but I'd be curious as to what the size cost is of including the subcommands. It seems strange for them to not ship with them included.

[2019-10-26 20:27] kitsonk commented on #3124
@svnv the custom inspection symbol is very similar to the way Node.js accomplishes it.  So implimenting it for this would be very much in line with #3165.

There is insufficient type information at runtime to make the sort of modifications you are suggesting to `createRawObjectString()`.  Even then, that wouldn't necessarily be the right solution in all cases.

There _might_ be some value in expor

[2019-10-26 23:18] trivikr opened #3209 "Schematic Diagram is missing in Deno manual"
Link: https://deno.land/std/manual.md#schematic-diagram

Screenshot:
![Screenshot from 2019-10-26 16-16-35](https://user-images.githubusercontent.com/16024985/67627186-2b399200-f80c-11e9-8972-349895963151.png)

[2019-10-26 23:20] trivikr commented on #3209
The code which tries to import image for schematic diagram https://github.com/denoland/deno/blob/585993c8d5f4797067dab173e2382fc59835b813/std/manual.md#L1071

The filename `schematic_v0.2.png` is not found in the repository https://github.com/denoland/deno/search?q=filename%3Aschematic_v0.2.png&unscoped_q=filename%3Aschematic_v0.2.png

[2019-10-26 23:22] trivikr commented on #3209
The image `schematic_v0.2.png` was deleted in PR https://github.com/denoland/deno/pull/3194/files#diff-69d41368b472a9ca922bed56a6584080

[2019-10-27 01:04] #3171 closed

[2019-10-27 01:15] #3209 closed

[2019-10-27 01:57] hayd commented on #1658
I went back to trying to fix up the multi-stage docker image (the objective is to build a binary from alpine without glibc):

Dockerfile: https://gist.github.com/hayd/4e4dbe867cb11d7b579b82711b7da27d

[code]
What am I missing? 😬

[2019-10-27 04:57] Lonniebiz opened #3213 "Console.log Won't Display Property Values of Objects Having 6 or More Properties"
deno: 0.21.0
v8: 7.9.304
typescript: 3.6.3

Run this code in both node.js and deno:
[code]
Node.js output: { a: 1, b: 2, c: 3, d: 4, e: 5, f: 6 }
deno output: { a, b, c, d, e, f }

So, if there are six or more properties, deno's console.log doesn't show the property values.

[2019-10-27 05:52] trivikr opened #3214 "Link in CONTRIBUTING.md points to website manual"
CONTRIBUTING.md https://github.com/denoland/deno/blob/master/CONTRIBUTING.md

Link is https://deno.land/manual.html#contributing
It redirects to https://deno.land/std/manual.md

[2019-10-27 05:53] trivikr commented on #3214
Contribution guide link on new website should be https://deno.land/std/manual.md#contributing

[2019-10-27 13:24] ry opened #3216 "TCP accept loop doesn't use for-await"
Currently to accept connections from TCP server the API is this:

[code]
Would it be better to instead use a for-await loop? ([Especially since top-level-for-await is now supported](https://github.com/denoland/deno/pull/3212)).

If the API is changed, we should also make sure that `listenTCP` is similarly updated.

[2019-10-27 13:55] nayeemrmn commented on #3216
What do you mean by API change? `Listener`s already have `[Symbol.asyncIterator]()`.

[2019-10-27 13:58] #3214 closed

[2019-10-27 17:54] ry commented on #3216
Oops I forgot about that :)

[2019-10-27 17:54] #3216 closed

[2019-10-27 19:29] kevinkassimo commented on #3213
FYI this behavior is introduced in https://github.com/denoland/deno/pull/1969

[2019-10-27 19:41] kitsonk commented on #3213
Effectively duplicate of #3165, though as pointed out, it was specifically introduced in #1969.

[2019-10-27 20:44] NotWearingPants commented on #2123
I agree with @rsp about the args and program path, but I vote against having access to the deno name/path.

Programs shouldn't care about their interpreter, and should not be aware of it.

Also, what happens when the script is ran directly with a shebang line?
`./app.ts`
Will the `runtimePath` be empty?

[2019-10-27 20:50] hayd commented on #2888
Looks like I broke the curl example because of this: https://github.com/denoland/deno/blob/efd7e78af3fc086dfdec51738905665d38d08eb4/std/examples/curl.ts#L2

Note: This must mean we're not executing the examples as part of testing.

[2019-10-27 21:05] NotWearingPants commented on #2312
I vote for `eval-each`

[2019-10-27 21:09] Lonniebiz commented on #3165
@mhvsa Did you notice that there seems to be a 5 property limit when it comes to displaying property values via `console.log`?
https://github.com/denoland/deno/issues/3213

[2019-10-27 21:10] svnv commented on #3124
I will work on a PR adding a custom  inspect method for the URL class.

[2019-10-28 06:50] Fenzland opened #3219 "error trace miss full url when a .ts file imports from network"
### /tmp/test.ts
[code]

[code]
We can get the full url from the trace then locate the error.

Now let's just add a network import at the first of `test.ts`.
### /tmp/test.ts
[code]
[code]

The full url is missing now, we cannot know where is broken accurately.

The problem only happen to `.ts` files, `.js` file is okay.

[2019-10-28 08:58] kitsonk commented on #3219
What happens if you add `export {}` to `/tmp/test.ts`?  I'm wondering if it has to do with the source maps remapping going on and the difference between script and module when loading.

[2019-10-28 09:42] josephsintum commented on #3207
I think this issue should be on [deno website](https://github.com/denoland/deno_website2)
So I am going to fix that problem on the website

[2019-10-28 09:50] josephsintum commented on #3207
I'm going fix it

[2019-10-28 10:03] josephsintum commented on #3207
https://github.com/denoland/deno/pull/3220

[2019-10-28 16:41] #2828 closed

[2019-10-28 17:28] #3190 closed

[2019-10-28 23:34] hayd commented on #1456
I was trying this again for alpine linux (w/o glibc), any help appreciated:
Dockerfile: https://gist.github.com/hayd/4e4dbe867cb11d7b579b82711b7da27d
failing output: https://gist.github.com/hayd/2c95fac12891ffe6458a87761eae28ae

[2019-10-28 23:34] Fenzland commented on #3219
There is no different with or without `export` in this case.

[2019-10-29 00:10] kitsonk commented on #3219
Ok, I know where this gets done and can look into it when I can, but there are a few things going on so anyone else can look at it.  My feeling is we should always do the fully qualified module name.

[2019-10-29 00:35] ry opened #3228 "better http server API"
[code]
two changes needed:
1. [`serve()`](https://deno.land/std/http/server.ts?doc#serve) needs to take `{ port: 8000 }` instead of `":8000"`.
2. `s.url` to return `"http://localhost:8000/"`

[2019-10-29 01:34] ry opened #3230 "move xeval to std/examples/xeval.ts"
Remove built-in subcommand. It's too niche for a subcommand.

[2019-10-29 08:34] josephsintum commented on #3207
#3225

[2019-10-29 10:21] bartlomieju commented on #3230
Ref #2312

[2019-10-29 12:28] tedstoychev opened #3232 "'$ deno --help' shows a dead link"
Specifically:

#### Possible fix:

Replace "deno https://deno.land/welcome.ts" with "deno https://deno.land/std/examples/welcome.ts" in [deno/cli/flags.rs#L146][1] just like it is in [deno/std/manual.md#flags][2].

[1]: https://github.com/denoland/deno/blob/2804ba8674150b80ee181cc3869e1fa12de661d3/cli/flags.rs#L146
[2]: https://github.com/denoland/deno/blob/0d41b10ade91039339173476848f7368b6dc0853

[2019-10-29 14:01] #2312 closed

[2019-10-29 16:24] rsp opened #3234 "Deno Standard GUI"
Has there been any discussion about having a standard way of doing GUI in Deno? I don't necessarily mean that it all has to be in the core or std modules, and I don't mean anything complicated or very high-level, just something that lets us open native windows, show dialogs and generally create GUI apps using just JS/TS.

In issue #1629 about WebGL from January (the only issue related to GUI that

[2019-10-29 16:26] jamesseanwright opened #3235 "assertEquals doesn't deeply verify Map equality"
It would seem that the [`equal`](https://github.com/denoland/deno/blob/0d41b10ade91039339173476848f7368b6dc0853/std/testing/asserts.ts#L70) function consumed by `assertEquals` in the [asserts module](https://github.com/denoland/deno/blob/0d41b10ade91039339173476848f7368b6dc0853/std/testing/asserts.ts) doesn't verify the deep equality of Map instances. Therefore:

[code]

doesn't throw an `Assertio

[2019-10-29 16:31] jamesseanwright commented on #3235
Looking at the labels, I'd say it's a bug. I'm thus happy to take a look at this @ry.

[2019-10-29 21:21] Soremwar opened #3240 "Using Rust as Backend?"
Call me crazy but.

What if I need to create a highly consuming task I don't want to be runned by Deno? Is there any way to program Rust code inside Deno?

Or do I have to set up a completely new Rust server to do it and call it as an API?

I honestly don't see a way to do this without making a hole in the whole Deno structure, but being able to use Rust as more than just the interpreter looked li

[2019-10-29 21:26] ry commented on #3240
We're working towards a stable binding and plugin interface - but it's not done yet.  https://github.com/denoland/deno/issues/2180 https://github.com/denoland/deno/pull/2385 https://github.com/denoland/deno/pull/3031 https://github.com/denoland/deno/pull/3025 https://github.com/denoland/deno/pull/2840

[2019-10-29 21:27] nayeemrmn commented on #3240
Duplicate of #296?

[2019-10-29 21:32] ry commented on #3240
Oh that's the one I was looking for. Yes.

[2019-10-29 21:32] #3240 closed

[2019-10-30 04:58] kitsonk commented on #3234
@ry and I recently talked about it, and we presented the intent at TSConf, but there was no issue for it.  There was some conversation on [Gitter recently](https://gitter.im/denolife/Lobby?at=5da6a56a870fa33a4dfea6fb) as well.

[2019-10-30 05:02] kitsonk commented on #3235
Closed in #3236 but it was a specific solution for Map, but I also assume this would have been valid for Set or in fact any iterable.

It might have been a better solution to detect iterables, iterate over their values, and compare those values deeply as well.

[2019-10-30 06:34] sholladay commented on #3234
An Electron-ish thing built with Deno would be a big deal to me. I'd put a lot of effort into switching my apps to it, since the security improvements alone would be quite substantial. I suspect the resource efficiency would be much better, too, if Deno's startup time is anything to go by.

[2019-10-30 10:48] jamesseanwright commented on #3235
I didn't think of that @kitsonk, but I agree that would have been a lot more succinct. Probably one for next time!

[2019-10-30 17:35] rsp commented on #3234
@kitsonk Thanks, I didn't know about it. Having a full-blown browser bundled would be something absolutely perfect, if only the overhead is not prohibitively expensive - but since you are already considering it with Ryan then I guess that happily it isn't.

Will what you were presenting with Ryan at TSConf about this be available online to watch? Or maybe it is already?

It would be great if Servo

[2019-10-30 17:36] rsp commented on #3234
@sholladay Yeah, I am currently writing an app that needs a GUI which I am doing it in Electron but it is something that could be written in Deno with the current API with no problems if I could only do GUI with Deno (and unfortunately it cannot be a web app). I am concerned exactly with security of what I am doing right now, that the app will have full access to user's data, which could be nicely

[2019-10-30 18:04] rsp commented on #3228
That's my luck 😄 an API change few days after I presented the old API in [my last talk](https://www.youtube.com/watch?v=aI5A9zvYSjk).
After [my first talk](https://www.youtube.com/watch?v=Aib1OZLy0_c) got recorded but before it got published, the `deno run` outdated my examples.
Both very good changes by the way 👍 it's just funny how my talks get outdated in a matter of days.

[2019-10-30 19:08] hayd opened #3243 "Linking error when building deno for Alpine Docker"
When building from this [Docker file](https://gist.github.com/hayd/4e4dbe867cb11d7b579b82711b7da27d), I am able to build all rust modules but in fails in the last few steps (xlink #1658 #1456):

[code]

I've tried toggling a bunch of v8 flags to no avail...

[code]

---

I've published this mostly built docker image as hayd/test:failing-0.22.0, so you can reproduce this with the following one line

[2019-10-30 22:08] kitsonk commented on #3228
Why would `s.url` not return an instance of `URL`, which can be easily converted to a string, or otherwise used as seen fit?

[2019-10-30 22:45] beshanoe commented on #3196
I think for the purpose of creating "isomorphic" Deno libs and CLIs it makes sense to implement sort of Node.js polyfill for all the Deno's built-in APIs, then bundle your tool using `deno bundle` and after that prepend it with the `require` from the polyfill, like
[code]

probably it also makes sense to convert AMD to commonjs

[2019-10-30 22:52] hayd commented on #3196
allegedly this is what @YounGoat's deno package on npm is supposed to do...
https://www.npmjs.com/package/deno

[2019-10-30 23:17] brainkim commented on #3196
Okay so `deno bundle` is a piece of the puzzle that I wasn’t aware of. According to the website, `deno bundle` is a tool which compiles your deno code to AMD (😬). Does this mean I can use typescript or webpack to compile to amd as well and have deno modules consume this?

This is interesting, but I’m also interested in a simpler use-case where I use 0 deno builtins and 0 node builtins (pretty much

[2019-10-30 23:48] ry commented on #3196
(The AMD bit is really throwing people off - we should modify the bundled to use https://github.com/denoland/deno/blob/master/deno_typescript/amd_runtime.js to execute the main module.)

[2019-10-31 03:08] kitsonk commented on #3196
@ry we talked about it for _Bundling v2_ (#2475), but it does feel like embedding the runner directly in the bundle so it is a totally self contained script is warranted and knock a few features off the v2 list.  That way we can just say "it generates a standalone script" and let people forget about the implementation.

I can start working on this.

[2019-10-31 03:09] kitsonk commented on #2475
As mentioned in #3196 I will work on getting `deno bundle` to generate a fully standalone script that is designed to run under Deno, so people don't have to get hung up on the implementation.

[2019-10-31 07:49] motss opened #3245 "Deno playground"
Is it a good time to have a Deno playground just like TypeScript playground?

[2019-10-31 08:52] jamesseanwright commented on #3235
Actually @kitsonk, I'll raise another PR to consolidate the `Map` and `Set` branches into a single `Symbol.iterator in a...`-esque conditional. I'll tackle it in a week or so.

[2019-10-31 09:50] nayeemrmn commented on #3245
https://deno-play.app/

https://replit.canny.io/languages-requests/p/deno

[2019-10-31 12:56] tunnckoCore commented on #3196
The whole thing would be easier if `deno bundle` is outputting a better format. I'm curious why AMD is chosen instead of UMD? Or at least it would be pretty trivial to allow users to output different format, through flag?

[2019-10-31 15:06] ry commented on #1691
@motss Thanks for the reminder, but I just tried the command above and it still fails.

[2019-10-31 15:14] ry opened #3248 "Remove various tsconfig.json files"
/tsconfig.json
/std/tsconfig.json
/std/tsconfig.test.json

I believe these are related to eslint... hopefully a workaround can be found.

[2019-10-31 15:23] bartlomieju commented on #3248
`/std/tsconfig.json` - used for ESLint
`/std/tsconfig.test.json` - used to enforce `strict` mode in standard library
I don't know about `/tsconfig.json`

[2019-10-31 15:44] qwerasd205 commented on #1691
Yeah, the update to the TextDecoder fixed the time complexity but had a smaller than desirable effect on the memory complexity.

[2019-10-31 18:55] #3124 closed

[2019-10-31 19:47] kitsonk commented on #3196
@tunnckoCore again, people are obsessing about something they shouldn't obsess about. 😁

UMD specifically would be useless.  That is, depending on the implementation, 2 different module formats and an ability to load as a global script, but when you only need one module format that is loaded into an environment that doesn't support CommonJS for good reason.

If you really want to know the reason t

[2019-10-31 19:59] kitsonk commented on #3248
`/tsconfig.json` is largely there to make editors work reasonably well when editing internal Deno code (as well as ESlint for the core).

I suspect they can be rationalised in some fashion, and still used for running the tests, I suspect the only thing is that to make editors behave somewhat logically would require some things that Deno will shout about being ignored when running the std tests.

[2019-10-31 20:02] kitsonk commented on #3245
Also, IIRC @orta added some level of support for Deno to the TypeScript playground?  (at least we talked about it at one point)

[2019-10-31 21:11] brainkim commented on #3196
@kitsonk I would consider System.js as a bundle output as well. I think typescript supports it as an output (though last I checked support is not great and System.js can be tricky to set up), it’s more closely aligned with ESmodules, and `System.register` calls can be robustly concatenated.

But most of this is unrelated to this issue, which is, given a pure typescript codebase without dependencie

[2019-10-31 21:20] brainkim commented on #3234
Having a built-in module which bundles a cross-platform webview implementation would be the killer-feature that would get me to start experimenting/migrating from node.js.

[2019-10-31 21:47] orta commented on #3245
Yeah, the TypeScript playground does an _ok_ job at providing the types for Deno-style imports, but offers no runtime mechanisms - which makes it not the best playground for the runtime

[2019-11-01 00:41] #2615 closed

[2019-11-01 01:56] chenjianxin opened #3251 "{WSL 2} Permission denied (os error 13)"
OS: WSL 2 (Ubuntu 18.04)
deno: 0.22 (PATH is correct)

$ deno https://deno.land/welcome.ts
Permission denied (os error 13)
$ deno -A  https://deno.land/welcome.ts
Permission denied (os error 13)
$sudo  deno -A  https://deno.land/welcome.ts
sudo: deno: command not found

[2019-11-01 02:06] kt3k commented on #3251
@chenjianxin Can you provide the output of the following command?
[code]

[2019-11-01 02:06] ry commented on #3251
The path changed to https://deno.land/std/examples/welcome.ts ... but it would be better if the error message was
"404 Not Found https://deno.land/welcome.ts"

Except that actually it's not 404 even
[code]

[2019-11-01 04:33] chenjianxin commented on #3251
DEBUG RS - deno_cli::startup_data:26 - Deno isolate init with snapshots.
DEBUG RS - deno::shared_queue:57 - rust:shared_queue:reset
DEBUG RS - deno_cli::ops::dispatch_json:34 - JSON response pre-align, len=323
DEBUG JS - cwd /home/elecbuggy
DEBUG JS - args [ "https://deno.land/std/examples/welcome.ts" ]
DEBUG RS - deno_cli:359 - main_module https://deno.land/std/examples/welcome.ts
DEBUG RS - deno

[2019-11-01 05:02] aalliikk opened #3252 "When opening "listen" function page in /typedoc says Not Found. /index.html"
The website's address at https://deno.land/typedoc "listen" HTML page doesn't work and seems to be other related pages as well.

[2019-11-01 05:22] tunnckoCore commented on #3196
@brainkim , last week or two I'm thinking about the second too.

Write Nodejs (js/ts), so need for deno vscode/typescript plugins. Output esm and cjs formats - e.g. `dist/index.js` and `dist/esm/index.js`, and put the typings files on the `dist/esm` (e.g. `dist/esm/index.d.ts`), so later when Deno users want to use your module then will use some CDN (preferable UNPKG), like `https://unpkg.com/@sco

[2019-11-01 06:13] sh7dm opened #3253 "Console inspection doesn't show symbol keys in object"
Node and browsers show it correct:
![image](https://user-images.githubusercontent.com/19504461/68005845-b214c180-fc87-11e9-9177-74867c1088e4.png)
![image](https://user-images.githubusercontent.com/19504461/68005915-f3a56c80-fc87-11e9-9dae-9aa5421f0bae.png)

Deno shows only string props:
![image](https://user-images.githubusercontent.com/19504461/68005823-99a4a700-fc87-11e9-81b6-6f435c774be7.png)

[2019-11-01 09:41] nayeemrmn commented on #3251
Maybe it's the cache directory? What happens if you download to `welcome.js` and run it as a local JS module?

[2019-11-01 10:53] timreichen opened #3254 "deno bundle piping"
I wonder if it is possible to pipe the `deno bundle <source_file>` instead of writing it to a file.
If I pipe the output now it is information about the bundling process:

[code]

I am experimenting and want to create a deno-loader for webpack so deno modules could be bundled for the client side (e.g. EventEmitter).

Any thoughts on that?

[2019-11-01 11:19] jardicc commented on #3234
I have some basic feature requests. Few native dialogs. Alert, prompt, confirm and file/folder picker/save dialogs. Because sometimes you have app running in the background it will throw an error but user can't notice it so you have to show some dialog about what is going on and in Node.js there is no easy way to do that.

[2019-11-01 11:57] beshanoe opened #3255 "Remove message passing phase from errors stack trace"
Hi! I think it makes sense to remove all the calls from dispatch_json and further to backend part cause they are distracting from the real source of error and they are present in almost every single stack trace. What do you think?
Here are the stack traces from deno and node to compare

[code]

[code]

[2019-11-01 12:32] chrmoritz commented on #3252
All links seems to work if you use https://deno.land/typedoc/index.html, but if you use https://deno.land/typedoc directly all links are missing the `typedoc` prefix.

[2019-11-01 15:05] ry commented on #3254
It would be possible to do with some hacks in cli/js/compiler.ts .. it seems like a reasonable feature to me.

[2019-11-01 15:09] ry commented on #3255
It’s probably more trouble than it’s worth. You might make things less distracting for novices but at the cost of masking the source or errors. This is something to consider when Deno is a stable and mature piece of software - we have bigger problems to deal with now.

[2019-11-01 15:09] #3255 closed

[2019-11-01 19:29] nayeemrmn commented on #3254
`deno bundle mod.js /dev/stdout` works.

I guess it's common to allow `deno bundle mod.js -`.

[2019-11-01 19:34] nayeemrmn commented on #3254
Also, I'm pretty sure that's a bug that it says
[code]

[2019-11-01 23:16] timreichen commented on #3254
Yes but it also returns the information text and if `-L debug` is added all debug logs.

Wouldn't it make sense to make the bundle command return the bundled code if no argument for <out file> is passed. Or even `deno bundle "https://somefile.ts" > bundle.ts` to write it to a file.

Also I would consider adding a `--eval -e` flag to be able to bundle code without any <source_file>.

What are your

[2019-11-01 23:32] nayeemrmn commented on #3254
Oh, for some reason I thought the info was written to stderr.

[2019-11-02 03:15] aalliikk commented on #3252
It all works now! Thanks!

[2019-11-02 15:47] #2923 closed

[2019-11-02 15:50] ry commented on #3105
Potentially fixed in 65e9179 ...

[2019-11-02 16:22] kt3k commented on #3251
If I set the permission of deno_dir 700, then I see the same error.
[code]
(Setting the permission to 755 causes a little different error.)

@chenjianxin Can you try to change the permission of deno_dir? (You can find the path of deno_dir by the command `deno info`)

[2019-11-02 16:25] kt3k commented on #3251
I think we can panic at wrong permission of deno_dir, but in that case we should show more meaningful error message.

[2019-11-02 16:27] ry commented on #3251
@kt3k I agree

[2019-11-02 17:22] 7040934 commented on #3179
ไม่เคยมีใครมอบหมายถึงอะไรไอ้ทั้งสิ้น

[2019-11-02 17:49] 7040934 commented on #3245
1.

@-

-

  [ ]

_1._

[2019-11-02 19:24] nstott opened #3256 "response.Body stream behaviour"
In `fetch`, the response body is a ReadableStream with the data being pumped into the stream via the `start` method here: https://github.com/denoland/deno/blob/master/cli/js/fetch.ts#L25-L38

This is fine, but it has certain behavioural implications.  we enqueue all the data as quickly as we can read it.  there's no queue mgmt.  this could cause memory problems if we have slow consumers of the dat

[2019-11-02 19:30] nstott commented on #1228
These are flakey on mac as well now, not just windows

[2019-11-02 19:41] hayd commented on #1456
with help of @chrmoritz here is a [Dockerfile for Amazon Linux 1](https://github.com/hayd/deno_docker/pull/6/files#diff-ee5165e00826f3f5e621b83c0d349ea9) which builds a binary which should be able to be used for custom runtimes from @kt3k's blogpost.

binary file: https://github.com/hayd/deno_docker/blob/f7996e94f69e6a2d59038742f3ba03d1607888a5/amz-deno-0.22.0

I think about how to add this to rel

[2019-11-03 00:08] hayd commented on #1456
^Can confirm the example works on AWS Lambda (with some minor modifications):

https://gist.github.com/hayd/ce469e53b022e7a2360ec2ea950b4a2e

[2019-11-03 07:54] chenjianxin commented on #3251
elecbuggy@DESKTOP-F5H2JQL:~$ sudo mkdir /home/elecbuggy/.cache/deno
elecbuggy@DESKTOP-F5H2JQL:~$ sudo chmod 777 /home/elecbuggy/.cache/deno
elecbuggy@DESKTOP-F5H2JQL:~$ deno https://deno.land/std/examples/welcome.ts
Permission denied (os error 13)

**BUT**
elecbuggy@DESKTOP-F5H2JQL:~$ mkdir tmp_dir
elecbuggy@DESKTOP-F5H2JQL:~$ chmod 777 tmp_dir/
elecbuggy@DESKTOP-F5H2JQL:~$ DENO_DIR=./tmp_dir/ den

[2019-11-03 09:05] kt3k commented on #3251
@chenjianxin Try:

[code]

[2019-11-03 14:12] chenjianxin commented on #3251
[code]

[2019-11-03 15:39] #200 closed

[2019-11-03 21:55] jamesseanwright commented on #3235
Addressed in 3258, although it's a bit more involved than it may appear on the surface.

[2019-11-03 22:15] trivikr opened #3259 "git rebase upstream/master modifies third_party on the clone of forked repo"
Hi,

This is how deno workspace is set up:
[code]

After a week or two when I perform `git fetch upstream` and `git rebase upstream/master`, the following output is shown:
[code]

Screenshot:
![Screenshot from 2019-11-03 14-09-06](https://user-images.githubusercontent.com/16024985/68092830-0f557200-fe44-11e9-8b3f-f0cb4ec3aea3.png)

How do I resolve changes in third_party?
Running `git checkout --

[2019-11-03 22:23] chrmoritz commented on #3259
Have you tried running `git submodule update`?

[2019-11-03 22:27] trivikr commented on #3259
I just deleted my workspace, and cloned it again. So the issue is not reproducible.
I'll test running `git submodule update` when I notice this issue next time.

[2019-11-03 22:32] trivikr commented on #3259
I just ran `git submodule update` in my new cloned workspace, and the `git status` output shows unstaged commits:
[code]

How do I resolve these unstaged changes?

The clone is rebased with upstream:
[code]

[2019-11-03 22:39] chrmoritz commented on #3259
Quick question: Did you touched/changed any inside `third_party` by yourself?

Whats the output of `git status` if you `cd` into `third_party`?

[2019-11-03 22:45] trivikr commented on #3259
Nope, it's a fresh clone of my fork

Attached (2.1MB file)
[third_party_git_status.txt](https://github.com/denoland/deno/files/3802240/third_party_git_status.txt)

[2019-11-03 22:49] chrmoritz commented on #3259
wait what? All these missing files. Looks like your `third_party` directory should be nearly empty. Does the build actually work that way?

Running `git reset --hard origin/HEAD` inside `third_party` should fix this for you (hopefully), but I have no idea why you ended up in this broken state.

[2019-11-03 23:11] trivikr commented on #3259
Yup, it does. The original question in the issue is resolved, so closing it. The conversation can continue though.

Nope, build (`cargo build`) also fails. The build succeeds after `git reset --hard origin/HEAD` in `third_party` folder

In the first workspace (explained in https://github.com/denoland/deno/issues/3259#issue-516897574), it happened after running `git rebase upstream/master`
In the s

[2019-11-03 23:11] #3259 closed

[2019-11-03 23:39] chrmoritz commented on #3259
I'm glad it is working for you now.

But what you've said only explains when it happened, but not why it happened. Somehow the handling of submodules seems to be partly broken on your setup based on the 2nd attempt.
The 1st attempt is however expected behavior until you run `git submodule update`, which of course should work normally and not break the setup.

[2019-11-04 07:07] jhabdas opened #3261 "Switch from permissive to free software license"
Hello friends. Hopefully this is a no-brainer, but please for version 1.0 switch to a freedom-respecting software license such as AGPL or SSPL. If you cannot switch to a free software license, please indicate why for the benefit of [the community](https://github.com/zloirock/core-js/issues/635#issuecomment-549183827) considering shifting away from NPM.

For a gentle introduction to the free softwa

[2019-11-04 08:29] Fenzland commented on #3228
Is there a plain to change for-await-of to a concurrent API?

[2019-11-04 10:31] rsp commented on #3261
Deno is **already** released under a **free software license**.

You seem to be confusing a free software license with a copyleft license.

All MIT/BSD/X11/Expat etc. licenses are not only considered free software licenses by the Free Software Foundation, but they are also explicitly listed as **GPL-compatible** licenses by the Free Software Foundation. For more info, see: https://www.fsf.org/lice

[2019-11-04 10:36] rsp commented on #3245
@motss @nayeemrmn Yeah, I've been looking into adding Deno to repl.it some time ago - certainly seems doable but I didn't have time to do it. Maybe I'll try to do it soon if there is some interest here.

[2019-11-04 11:06] rsp commented on #3261
Just to get you some more context:

Deno complies with all 4 of the Essential Freedoms defined in The Free Software Definition of the Free Software Foundation:

- https://www.gnu.org/philosophy/free-sw.en.html

And it complies with all 10 points of The Debian Free Software Guidelines from the Debian Social Contract:

- https://www.debian.org/social_contract

It also complies with all 10 points of

[2019-11-04 12:36] jimmywarting commented on #2767
Just skim-through the thread... i think the Permission api is a grate addition to Deno.

However when mixing it with the filesystem i can't help by feeling a bit conflicted about it when we got the [WICG/native-file-system](https://github.com/WICG/native-file-system)

[2019-11-04 13:26] rsp commented on #3179
@kitsonk Do you mean the `--allow-*` arguments here as well?

I'm wondering how the permission system would work when running, e.g.:

    deno run https://example.com/app.json

with `app.json` having been generated with:

    deno write --allow-all main.ts app.json

More specifically, what would this mean:

    deno write --allow-read=X --allow-read=Y main.ts app.json
    deno run --allow-read=Y -

[2019-11-04 15:20] ry commented on #3228
@Fenzland No - I'm happy with for-await-of API. It is concurrent (as long as you call an async function without await).

[2019-11-04 15:26] ry commented on #3261
We are sticking with MIT. Being able to link to Deno in commercial software is an important use case.

[2019-11-04 15:26] #3261 closed

[2019-11-04 16:27] ry commented on #3256
Your alternative is preferable. As we stream data only a fixed amount of memory should ever be allocated - as is done with Deno.copy.

[2019-11-04 23:12] ry opened #3266 "std should be checked with strict type checking"
Maybe by adding a "--strict" command line flag.

[2019-11-04 23:49] pirix-gh commented on #1205
I kind of got confused with the comments of **@alexinsultman**, is this still a problem?

[2019-11-05 00:21] hayd commented on #1205
There are now comparisons on the website. Yes, deno is still slow (addressing this is important and a 1.0 blocker).

[2019-11-05 01:01] kevinkassimo commented on #1205
@pirix-gh It got much better than when this issue is opened. Kind of waiting for the upstream Tokio 0.3 to stabilize. They have implemented a much better scheduler in their alpha preview

[2019-11-05 03:25] Fenzland opened #3267 "cli option for toggle top-level-await"
abusing top-level-await often make code horribly slow. Maybe there need be a cli option such as `--allow-top-level-await` to open this feature.

[2019-11-05 04:41] hayd commented on #3267
@Fenzland Do you have an example of slow code with top level await? vs alternative

[2019-11-05 06:34] jhabdas commented on #3261
First of all thank you for taking the time to respond to this important issue. It's clear license discussions are not what gets most of us out of bed in the morning. When leading a community project please consider prose and form in accepting contributions on GH such as this issue. The BDFL style issue close wasn't necessary and shutting the DOOR on discussion without hearing others out shows clos

[2019-11-05 07:26] Fenzland opened #3268 "import std module with 'deno_std:'"
We now can use kv-storage in chrome with:
[code]

How about support similar API for deno_std?

It may looks like this, and imports the std module with the same version as the deno you installed.
[code]

And it's good to keep the same version between deno and deno_std modules.

[2019-11-05 09:01] kitsonk commented on #3268
I would be against this, as it introduces "magical" resolution.  Let's just keep it simple to URIs.

Also to note, the format for built in module IDs is not [standardised yet](https://github.com/tc39/proposal-javascript-standard-library), it is an outstanding issue with the proposal, so even if we chose, we might choose wrong.  The proposal as a whole is Stage 1, which means there is a lot of risk

[2019-11-05 09:10] kitsonk commented on #3267
There are a lot of abuses that can make code horribly slow.  Most of those abuses related to TLA were debated _ad nauseam_ when the proposal was going through TC39.  It is part of the language standard (or actually well on track to be ratified into the language).  Implementing feature flags to turn off parts of the language standard doesn't make sense.

[2019-11-05 09:11] kitsonk commented on #3266
That was the purpose of the test tsconfig.json, so that the tests were run under strict mode, therefore having strict part of the CI process.

[2019-11-05 09:59] bartlomieju commented on #3268
Duplicate of #1922?

[2019-11-05 10:19] kitsonk commented on #3268
Kind of sort-of... #1922 was about supporting built-in modules, of which the Deno std library shouldn't/wouldn't be built into the binary.  Only `kv-storage` is at the moment.

[2019-11-05 15:15] highmountaintea commented on #2585
For example, we have a node.js project where we want a central web server dispatch the messages to its child processes, instead of using clustering. But this type of architecture has a lot of overhead over clustering in node.js.

Since deno has invested much effort in message passing, I am wondering whether that can benefit the messaging performance between parent/child processes.

[2019-11-05 17:08] ry commented on #3266
It was actually dead code since the deno_std merger. It was also unclear which options of the tsconfig were being used and which were merely boilerplate. I'm happy to add this back, but when there are three tsconfig files, who's purpose is typically integral to the build process (but in our case is not at all) the safe thing is to remove them all and start fresh. Somehow we need a way of documenti

[2019-11-05 17:11] ry opened #3269 "disable flaky tests _048_media_types_jsx and _019_media_types"
I'm not sure what is causing this but these two tests are flaky and cause the build to fail regularly

[2019-11-05 17:13] bartlomieju commented on #3266
You can add comment to `tsconfig.json`. We added handling of that some time ago because that's standard in ts community

[2019-11-05 19:29] kitsonk commented on #3266
Correct tsconfig.json supports JSONC, which is why we still pass the string to the compiler instead of parsing it in Rust.

[2019-11-05 20:45] hayd commented on #1456
I published the binary as a release: https://github.com/hayd/deno_docker/releases/tag/v0.23.0
Also, includes a zip layer and zip example function. To try out in the [AWS console](https://console.aws.amazon.com/lambda/):
1. create a layer and upload `deno-lambda-layer.zip`. Note its ARN.
2. create a lambda function from scratch with runtime "provide your own bootstrap".
3. add a layer "Provide a la

[2019-11-05 22:09] kitsonk opened #3273 "Update to TypeScript 3.7"
Just and FYI, I'm working on this...

[2019-11-06 03:01] kaicataldo commented on #3232
Looks like this is fixed in master.

[2019-11-06 03:41] nayeemrmn commented on #3232
@ry Fixed in #3231.

[2019-11-06 05:11] #3232 closed

[2019-11-06 08:37] Alhadis opened #3276 "`deno fmt` ignores `.prettierrc.json` file"
There doesn't appear to be a way to configure `deno fmt`, and its `--help` output mentions nothing about config files (apart from `tsconfig.json`).

I ran `deno fmt .` from a directory with a `.prettierrc.json` file containing:

[code]

Which `deno` completely ignored.

[2019-11-06 08:41] thefliik commented on #2584
Closing due to lack of interest

[2019-11-06 08:41] #2584 closed

[2019-11-06 10:16] bartlomieju commented on #3276
This issue is kinda duplicate of #3033.

[2019-11-06 16:16] #3267 closed

[2019-11-06 16:33] rsp commented on #3228
@ry I did a PR #3278 to implement this (and PR #3279 that is the same but uses URL objects instead of strings as suggested by @kitsonk so that `console.log(s.url.href)` would have to be used).

The CI currently fails on some systems, sorry for that, I'll have to see why it fails on some systems and not others.

[2019-11-06 16:41] ry commented on #2584
One of the main goals of Deno is to reduce unnecessary boilerplate. Generating a project directory with boilerplate would only be a todo list of boilerplate to remove.

[2019-11-06 17:18] #3228 closed

[2019-11-06 19:14] thefliik commented on #2584
Well a comment like that makes me worried that you didn’t [read the proposal](https://github.com/denoland/deno/issues/2584#issuecomment-506069227), because it was optional and fully customizable by the end user. I can understand if it’s just not something you want, but it sucks to close a suggestion while feeling like it hasn’t been heard.

But you obviously have a lot of people talking at you, so

[2019-11-06 19:48] hayd commented on #2584
Does creating a template repo suffice for many usecases?
https://help.github.com/en/github/creating-cloning-and-archiving-repositories/creating-a-template-repository

This can also be created as an external module, e.g. https://github.com/maxuuell/deno_init
(Though it looks like that example needs a lot of fleshing out.)

[2019-11-06 19:51] ry commented on #2584
@thefliik Sorry if I was dismissive. TBH I hadn't read your complete proposal but I have now. My comments regarding generated and "deno new" code stand - I really want to avoid boilerplate or mechanisms that can justify adding boilerplate - I prefer this to be as minimal as possible. Regarding scripts or "deno task", I certainly appreciate the usefulness of "npm run" and the "scripts" section of p

[2019-11-06 20:20] trivikr commented on #3074
futures 0.3.0 was released today https://github.com/rust-lang-nursery/futures-rs/releases/tag/0.3.0

[2019-11-06 20:34] hayd commented on #2584
@ry What if you could "register"/install subcommands somehow (into DENO_DIR). In that way deno itself wouldn't need to pick a winner.

[2019-11-07 00:58] nayeemrmn opened #3281 "Feature request: deno tsc"
Expose the TypeScript compiler for CLI usage as a subcommand: `deno tsc`. I think this has a clearer story than the runtime APIs which have been suggested before.

@kitsonk I've assumed this is easier than #2927. Or is it dependent on the same issues?

[2019-11-07 03:22] Fenzland opened #3282 "Workers can be better"
* Support Worker.prototype.terminate(), for terminating workers in main thread;
* Worker extends EventTarget and support `.addEventListener( 'message' )`;
* Support `globalThis.addEventListener( 'message' )` in worker thread;
* Support `self` rather then `window` in worker thread as `globalThis`;
* Support naming:
[code]
[code]
* Better support for TypeScript in worker:
    now we must use `window

[2019-11-07 06:10] thefliik commented on #2584
@ry, I'm definitely not committed to a particular implementation.  How would `tools.ts` be consumed? Something like `deno tools.ts build`? That might be the best solution, balancing a desire for flexibility with a desire for discoverability/ease of use.

I'm also attracted to @hayd's suggestion of a way (at some point) of installing 3rd-party subcommands for `deno`, but that seems like it's (ultim

[2019-11-07 06:14] thefliik commented on #2584
@hayd, ry hit the nail on the head:

I realize that I initially framed this feature request poorly, and it's sort of advocating for two similar, yet distinct, feature requests (a `deno task`/`deno new`). The more fundamental one is some form of `deno task` and a template repo isn't really addressing that goal.

[2019-11-07 10:43] jamesseanwright commented on #3235
Fixed in v0.23 🍾

[2019-11-07 10:43] #3235 closed

[2019-11-07 11:04] mrgrain opened #3283 "Reusing bundled files in Deno .ts scripts"
(This came out of [a discussion](https://gist.github.com/hayd/ce469e53b022e7a2360ec2ea950b4a2e#gistcomment-3075931)  between @hayd and me regarding a serverless lambda configuration for Deno. See the thread for more context)

**Given the following scenario:**
- I have received a bundled deno script `cool-stuff.bundle.js` (because it's great for distribution)
- I want to reuse parts of it in my new

[2019-11-07 11:14] kitsonk commented on #3283
The best solution is that the exports of the main module specified for the bundle get re-exported as ESM exports. I am currently working on making the bundles self contained, and then a next iteration re-exporting the exports of the main module would be possible. Then the bundle could be imported in the future.

[2019-11-07 11:17] kitsonk commented on #3281
How would this be effectively different from `deno bundle` or using `tsc` directly? And what would be the use case?

[2019-11-07 11:53] nayeemrmn commented on #3281
Really just being able to compile browser code without necessitating two TypeScript compilers and npm.

It's more of a "why not" to me I guess... this kind of thing would help justify the executable size on the surface.

[2019-11-07 13:39] ry commented on #3283
This would be cool

[2019-11-07 14:57] deepnum commented on #3281
with this we won't need to install tsc from npm.

[2019-11-07 15:36] Aksamyt opened #3287 "Feature Request: Allow reading into a 0-length array"
Hello! I got this error while working with sockets implementing a low-level protocol:
[code]

Turns out core’s implementation of `Deno.Conn.read` seems to have undefined behaviour when the buffer has no size.
Here’s an example to reproduce the error:
[code]
Giving a size other than 0 to the client’s `rdbuf` makes this piece of code work as expected.

Some solutions:
- Make it explicit in the JSDoc

[2019-11-07 18:16] tdillon commented on #2301
I'm in a corporate environment with transparent proxies and self signed certificates.  Some way of adding a trusted cert or ignoring invalid certs would be helpful.

[code]

[2019-11-07 19:28] kitsonk commented on #3283
It would require analysis of the AST of the main module to look at all the exported top level nodes, and then writing that out, along with references to the the exports object of module, which should be available in from the loader. I think I can get it to work.

[2019-11-07 19:37] kitsonk commented on #3281
#2927 Would seem more useful and less redundant in my opinion. Trying to replicate `tsc` doesn't really add any value. There is nothing unique and it would be a maintenance problem for no real value. I can certainly see value in having programmatic access to the built in TypeScript compiler though.

[2019-11-07 21:37] nayeemrmn commented on #3281
This isn't supposed to replace #2927 to be clear, but I get what you're saying. This would be redundant alongside good programmatic access.

I guess all I want is some way on the CLI of using deno's compiler on browser code.

If #2927 was used to implement a stripped down `tsc` in std which was aliased as `deno tsc`, that would satisfy this feature request. Of course that might feel too niche depe

[2019-11-07 21:54] kitsonk commented on #3281
That doesn't make sense, because generally the Deno compiler doesn't produce code that is usable in the browser, it doesn't do any real magic, it is the stuff it doesn't do that is really different from `tsc`.  The only thing that makes sense is to do improve `deno bundle` so that it can run standalone or as an ES Module, which is in flight as part of #2475 and #3283.

[2019-11-07 23:33] zekth commented on #3287
Second solution looks like a good one for me

[2019-11-07 23:34] erlend-sh commented on #3234
Ya’ll should have a chat with @nothingismagick and the other fine folks at Tauri: https://github.com/tauri-apps/tauri/

A lot of what has been described here, they’re already working on or have already thought a great deal about.

[2019-11-07 23:51] zekth commented on #3268
I agree with this. Or adding an alias system for the resolution of the uri. For example: from `@deno_std:future/....`
And this alias is managed by the the user not the runtime itself. Like import path aliases in typescript. Is path aliases supported yet? (Just an idea atm)

It could be nice to have when you want to upgrade your software to another version without rewriting all the files.

[2019-11-08 01:21] jihuayu opened #3294 "use python2 instead of python"
hello!
I have built deno in my **Manjaro**. But Manjaro use python3 for default python.So I get a error.
Can use python2 instead of python in the build script .

thank.

[2019-11-08 01:24] ry commented on #3294
No. Sorry - we follow what V8 does https://github.com/v8/v8/blob/5e514a969376dc63517d575b062758efd36cd757/tools/disasm.py#L1
We will switch when they do.

[2019-11-08 01:24] #3294 closed

[2019-11-08 14:31] ry commented on #2767
this was fixed in #3200

[2019-11-08 14:31] #2767 closed

[2019-11-08 14:57] rsp commented on #3268
@Fenzland First of all, remember about **file extensions**. So fixing your example:

[code]

This **already works**, but if you run it with:

[code]

If you are happy with a slash instead of a colon then you can have a single import map for all std modules:

[code]

use it like this:

[code]

and run it with:

[code]

You can even go clever with cute prefixes like:

[code]

by using a map like thi

[2019-11-09 02:03] kitsonk opened #3301 "TLA not supported in bundles"
Currently, TypeScript does not support TLA (including 3.7).  This means when we emit a bundle, we depend on the TypeScript compiler to generate the modules as AMD modules, and it does not realise that it needs to turn the define callback into an async function, meaning the `await` that was previously top level now is in a function that isn't async, throwing a syntax error at runtime.

We will need

[2019-11-09 08:26] kt3k opened #3302 "Discussion: Partial permissions"
With the current API, we can't partially request the permissions like "net permission for example.com". Though we have whitelist for `net` `read` `write` permissions, they are fixed at the start up time and we can't add or remove items to/from them.

This causes unnecessarily dangerous situation because whenever the program needs the access to path/url which is not listed in the whitelists, the pr

[2019-11-09 12:32] nayeemrmn commented on #3302
What about partially revoking permissions? Could Deno be able to support arbitrary sets of fs locations as specified by trees of blacklists on whitelists and vice versa? I would imagine there exists some applicable data structure.

A use case would be denying access to a subdir of an otherwise required directory. Plus this is the only way to correctly respect `PermissionDescriptor`s.

[2019-11-09 14:58] nayeemrmn opened #3308 "Closing a Listener causes pending iterators to throw"
Reported by @hayd.

[code]
The program should exit without any iterations happening.

[code]
Same. It's nonsensical to iterate a listener that's been closed but given the normal behaviour of this iteration it's more intuitive to just skip. Iterators should rarely throw.

[2019-11-09 15:05] KluVerKamp opened #3310 "zsh completion is broken"
Getting this error:

`/usr/local/etc/zsh_completion.d/deno.zsh:478: no matches found: _deno__[SCRIPT]_commands`

[2019-11-09 19:40] #3308 closed

[2019-11-09 21:18] hayd commented on #3310
How did you install the deno / the completions?

[2019-11-09 22:42] hayd commented on #2853
Can this be closed? should this be documented somewhere RE creating deno projects?

[2019-11-10 01:27] Fenzland commented on #3268
@rsp Your solution is using improt-map, we need manage version ourself.
But my proposal is some api like std:kv-storage. The very main goal is to keep the vesion of deno_std synchronized with deno we install but not the latest version. (If you install deno-0.16 but run with deno_std-0.22, it'll get crash.)

I agree with @kitsonk about std:kv-storage is not standardised yet. It's too early to add s

[2019-11-10 01:27] #3268 closed

[2019-11-10 02:20] Soremwar opened #3311 "Aliasing Imports and Modules"
This has probably cross your mind while in the early stages of development in Deno, but what about an alias standard for packages?

If I wanna import say React into most of my files I may not wanna write its url into each one(gotta admit it's kinda ugly), so why not reference it once into a file that act as a synonim of it so i can use it into my project?

First thoughts were something like this (

[2019-11-10 02:53] nayeemrmn commented on #3268
This applies to any dependency, `std` is actually just another one of these. It'll become less of a problem as built-in APIs stabilise.

What you're proposing is simply a way for people to refer to a common version of `std` to be chosen at runtime. Even if that was a good idea, treating `std` specially won't make a significant difference. It's just another popular dependency. You want a more gener

[2019-11-10 02:59] nayeemrmn commented on #3311
@Soremwar Read https://deno.land/std/manual.md#linking-to-third-party-code. It's already there.

[2019-11-10 05:53] sholladay commented on #3268
I'm not sure that locking the std version to be the same as the Deno runtime is as good as it sounds. While it does make general maintenance a bit easier, the trade-off is that you are at the mercy of whatever Deno version a user happens to be using, which may or may not have the APIs you expect. That might not be such a big deal if Deno had something like the `engines` field in package.json. But

[2019-11-10 07:02] zekth commented on #3268
It's really risky like @sholladay says. IMO you have to maintain the version manually. Definitely more secure

[2019-11-10 08:01] sh7dm commented on #2552
I have some ideas and I probably will work on this one. Compiler for that should produce smth like this:
[code]

[2019-11-10 08:56] sh7dm commented on #2726
I can try to implement this using https://docs.rs/data-url/0.1.0/data_url/

[2019-11-10 09:10] tempbottle commented on #3105
well done！
test with deno 0.23 and everything is ok.

[2019-11-10 09:10] #3105 closed

[2019-11-10 18:21] nayeemrmn commented on #3281
Okay, I think I'd overestimated the amount of `tsc`'s functionality that's included in Deno.

[2019-11-10 18:21] #3281 closed

[2019-11-10 20:10] KluVerKamp commented on #3310
@hayd exported `deno completions zsh` into `
/usr/local/etc/zsh_completion.d/deno.zsh`, then sourced
`/usr/local/etc/zsh_completion.d/deno.zsh` in `~/.zshrc`

[2019-11-10 22:23] trivikr commented on #3259
Confirmed after a week that `git submodule update` fixes the original issue. It might have happened because of older version of git.

[code]

[2019-11-10 23:54] KluVerKamp commented on #3310
And I tried adding that folder to `fpath`, since I am using oh-my-zsh, I tried placing that file under ~/.oh-my-zsh/comletions and functions folders, even added the deno command output directly to .zshrc, still getting the same issue

[2019-11-11 03:39] axetroy commented on #3276
Try to load the config file in order

- .prettierrc.json
- .prettierrc.yaml
- .prettierrc.yml
- .prettierrc.js
- prettier.config.js
- .prettierrc.toml

before run format

https://github.com/denoland/deno/blob/b3baab6d1479abbfd2e534fe05f5e146c2d5b1a2/std/prettier/main.ts#L334-L349

Reference: https://prettier.io/docs/en/configuration.html

PR is welcome

[2019-11-11 04:34] CreatCodeBuild opened #3315 "use of walk function does not ask me to set permission"
May similar to #2733,
[code]
does not ask for perssion, but rather returns
[code]
If I run it with `--allow-read`, then it returns files in my directory.

[2019-11-11 07:45] hayd commented on #14
I also have Docker files here https://github.com/hayd/deno-docker (hayd/deno).

[2019-11-11 11:29] Fenzland opened #3317 "cannot post an Error, Map or Set between worker threads"
[code]

[code]
In Chrome, all the assert successful. But in deno (until 0.23.0), they fail. After post between threads, errors, maps and sets become empty objects.

[2019-11-11 13:29] nayeemrmn commented on #3315
Fixing.

[2019-11-11 17:08] rsp commented on #3311
@Soremwar a canonical way to do it is to use a single `deps.ts` file with all imports in one place (instead of one per dependency like in your example) and in other files import everything from there:

[code]

Or you can use import maps like I [explained here](https://github.com/denoland/deno/issues/3268#issuecomment-551859728) to have:
[code]
or:
[code]
or whatever prefix you use in your mappings

[2019-11-11 17:10] nayeemrmn commented on #3311
@ry Can this be closed?

[2019-11-11 19:36] rsp opened #3320 "A way to always import the correct(*) std version and runtime compatibility"
Consider this scenario: You are writing a **3rd part module**. It uses std modules. What is the **correct std version** that you should use?

The obvious answer would be to use the same std version as the **version of the runtime**, but you don't know what version of the runtime will your library run under because this is outside of your control.

(*) Note that the "correct" version is not obvious

[2019-11-11 20:37] rsp commented on #3268
@sholladay I am also not sure that locking the std version to be the same as the Deno runtime is as good as it sounds, but the alternative is to use the std version that can potentially be incompatible with the Deno runtime, and the question which is more risky cannot really be answered without knowing the forward/backwards compatibility plan of both the Deno core API and the std modules public AP

[2019-11-11 20:43] rsp commented on #3268
@Fenzland My solution with the import map, if there was a default import map in Deno, could use the std version that is in sync with the Deno itself. I'm not saying that my solution is better than your idea of an api like std:kv-storage, but I'm saying that both of those may not be enough.

Yes, it may crash (unless it is explicitly compatible with older Deno versions, which can be done if thought

[2019-11-11 20:58] hayd commented on #3268
You can also do this [ensure /std matches your code] by prepopulating DENO_DIR/deps.

I do this in deno-lambda for when making artifacts:
https://github.com/hayd/deno-lambda/blob/4b18ea842f63191768b5e57b59f7a455bba741a1/runtime/artifacts#L6-L8

[2019-11-11 22:31] kitsonk commented on #3317
Hmmmmm... it seems that the structure clone on `postMessage` shouldn't be handling `Error` or `Function` objects.  It feels like the browser must be filtering them out and cloning them in some other way: https://developer.mozilla.org/en-US/docs/Web/API/Web_Workers_API/Structured_clone_algorithm

I will admit I don't know how we implemented cloning in Deno for workers...

[2019-11-12 00:38] yhuang0 opened #3321 "Don't fail on ts compile when running a script ?"
If I want to run my script via "deno run foo.js" and foo.js depends on a ts library that emits perfectly working js code but has a compiler error, deno shouldn't fail prematurely during the compile step and instead run my script with the emitted js file.

Typescript always emits code by default and you have to override that behavior with noEmitOnError. Shouldn't deno allow you to keep running your

[2019-11-12 03:55] kitsonk commented on #2475
I've been working on it, and I sort of have everything done, but I have hit a bit of a snag, which I will have to work around.  When emitting a "bundle" the TypeScript compiler determines what the internal module specifiers are going to be, and it doesn't match any of the input information about the module.  It appears to find the common root for the modules in the program and strips off the exten

[2019-11-12 16:12] rsp commented on #504
@ry has there been any decision about it one way or the other?

It would be good to know the plan how to go about it before the 1.0 comes out.

I would argue to use all of the flags posted by @kitsonk here as the default for all code, not only internal, and here is why:

If the loose mode is the default when the API finalizes and people start writing code, it will **never** be possible to go more

[2019-11-12 18:47] ry commented on #3311
Yea. Also importmaps work in deno.

[2019-11-12 18:47] #3311 closed

[2019-11-12 18:54] ry commented on #3321
—no-type-check ?

[2019-11-12 19:46] yoav-lavi opened #3323 "Feature Request: Support external versions of TypeScript tsc"
Supporting an external version of `tsc` would allow to use the most updated version of TypeScript without waiting for a Deno update and to use beta TypeScript versions. Since the two are different tools from different teams it may make sense to allow decoupling them. The default would still be the internal version so it'd still be "batteries included".

[2019-11-12 22:00] kitsonk commented on #504
@rsp I think we should start another issue, which is setting `strict` as default instead of extending this issue.

[2019-11-12 22:03] kitsonk commented on #3321
@ry I would advise against that...  there is `// @ts-ignore` (which I know works) and `// @ts-nocheck` (which I am not sure about) pragmas which we should be able to adjust the cases.

Throwing out the whole type checking is like saying to the V8 runtime to ignore syntax errors... 😢

[2019-11-12 22:09] kitsonk commented on #3323
This is non-trivial, as often upgrades of TypeScript require upgrades of some of the internal code.  Especially because the TypeScript team do breaking changes in the compiler APIs without notice (3.6 had one for example).  Plus there are often changes to the library files, not only the content, but also the names of the files, and those are statically baked into the binary.  Retooling to be able

[2019-11-12 22:43] Ciantic opened #3324 "User libraries should be strict by default if written in TypeScript"
My opinion is that:

* `.ts` files should be as strict as possible (you can do anything with `as any` trickery still)
* `.js` files should be free to do what ever you want.

Also I think there is no audience who loves working with non-strict TypeScript, it's mainly used by people who are migrating to TypeScript. Catering to "non-strict" TypeScript people is failure in waiting.

(Going in the rever

[2019-11-12 22:43] Ciantic commented on #504
Okay #3324

[2019-11-12 22:53] kitsonk commented on #3324
The TypeScript core team suggests that any new TypeScript project be enabled with `strict` that essentially it is a class of features that should have been in TypeScript from the start, but can't be, because of the large backwards compatibility situation.  I believe DefinitelyTyped has gone to strict by default.  When you scaffold a project using `tsc` the `tsconfig.json` defaults to `strict`.

Si

[2019-11-13 00:32] yhuang0 commented on #3321
@ry That would fix my current use case, but I would also suggest an option to remove checks entirely (if the tsc emits valid js, that's what is run.) I can imagine using third party libs that don't pass the compiler 100% (maybe deno's typescript is a different version, idk). If I'm scripting I don't want my entire script to break because of a compiler error.

@kitsonk A V8 runtime with no errors..

[2019-11-13 05:21] jwulf opened #3326 "Add support for gRPC"
Is it possible to write a gRPC client application in Deno?

[2019-11-13 05:36] kitsonk opened #3327 "Remove not null assertions (!) from `std`"
Once #3275 is landed, `assert()` will affect the call flow analysis of code (previously it didn't).  Because of this we need to update any `std` modules that utilise the not null assertion (`!`).  Ideally `assert()` should be able to be used to guard against anything that would require the not null assertion.

[2019-11-13 07:16] hayd commented on #3243
I wonder if the strategy here is to build on another OS using `--target x86_64-unknown-linux-musl` (I haven't been able to get this to work yet).

[2019-11-13 07:29] yoav-lavi commented on #3323
I understand, my assumption was that you transpile to JS at compile time by running tsc itself. A nightly release would probably be a good idea in the future, although it wouldn't specifically  solve the case where TypeScript releases a stable version that's ahead of the internal Deno version. In that case I assume we'd be forced to transpile existing code. Adding Deno (as in TS to JS) as a Babel

[2019-11-13 07:49] kevinkassimo commented on #3317
@kitsonk we currently stringify data as JSON into some buffer that is passed directly to the Rust side and pushed as a message through a channel, where the receiving end polls and parses the JSON as `data`.

This is indeed not fully complying with structured clone requirements (e.g. transferables). But for `Error`s I would expect us to simply throw an error when attempted.

[2019-11-13 08:57] benjamingr commented on #3326
Sure, what do you mean?

[2019-11-13 10:00] axetroy commented on #3276
after #3314 land. I will do this.

[2019-11-13 14:25] ry commented on #3323
We will not support using an external tsc. We'll be upgraded to 3.7 very soon.

(We do weekly-ish releases - there's no need for a nightly at this point.)

[2019-11-13 14:25] #3323 closed

[2019-11-13 14:36] ry commented on #3321
Is there a corresponding tsc option? I'd rather not invent names `--nocheck` ?

@kitsonk You might want this for starting up quickly.

[2019-11-13 15:22] ry opened #3332 "cli/tests/019_media_types.ts is flaky"
It seems to be because it has many HTTP imports. That suggests we have a bug in the module fetching.

048_media_types_jsx.ts seems to have the same problem.

https://github.com/denoland/deno/blob/ee1b8dc883db1531d913f7b10a8d1160f3209d93/cli/tests/integration_tests.rs#L159

https://github.com/denoland/deno/blob/ee1b8dc883db1531d913f7b10a8d1160f3209d93/cli/tests/integration_tests.rs#L177

https://gi

[2019-11-13 15:28] rsp commented on #3324
I am strongly :+1: here, because I would love Deno to be the first runtime that is not suffering from The Billion Dollar Mistake, and without the strict flags we still get runtime errors like those, **without any hint from the compiler** that something can be wrong with the code:

![](https://raw.githubusercontent.com/rsp/cmi/cmi/irresponsible-console-2-r3.png)

**Now is the only time** when we ca

[2019-11-13 16:16] ry commented on #3326
There is no gRPC module yet.

[2019-11-13 16:21] #3033 closed

[2019-11-13 16:25] rsp opened #3333 "Too many imports crash Deno, possible DDoS vulnerability"
For a TypeScript file:

[code]

Command to generate this file:
[code]

Deno crashes with:

[code]

It seems that it tries to makes all of those requests at the same time and crashes hitting a limit of 512.

If such a file is returned by server serving a popular library in the future, using a host that is going to be a target of a DDoS attack instead of localhost, then everyone running the program

[2019-11-13 16:27] ry commented on #3333
I believe this is the same as https://github.com/denoland/deno/issues/3332 - let's move the discussion there.

[code]

This is a good test we should add when we fix this.

[2019-11-13 16:47] ry commented on #3332
@rsp has a good test
[code]

[2019-11-13 17:49] ry commented on #3333
Sorry - I was too quick to close this. I don’t think it’s related now to the flaky test problem (but maybe)

[2019-11-13 18:40] rsp commented on #3321
@ry there are `// @ts-nocheck` comments (microsoft/TypeScript#33383) that should be [supported in 3.7](https://devblogs.microsoft.com/typescript/announcing-typescript-3-7-beta/) but there is no corresponding tsc option yet.

As for the option name, people are asking for `--transpileOnly` (microsoft/TypeScript#29651) and there is a [typescript-transpile-only](https://github.com/cspotcode/typescript

[2019-11-13 18:42] #3273 closed

[2019-11-13 20:51] kitsonk commented on #3321
I agree, there is the concept of transpile only. There is a slightly loose version of the compiler that is the no default lib check.

I guess if there ends up being a transpile only on the compiler, we would want to support it, but we would want to support it through tsconfig if it becomes a compiler feature.

[2019-11-13 21:30] kitsonk opened #3335 "Support caching/emitting bytecode"
@ry mentioned to me that V8 supports a way to transpile modules to byte code. In theory we could persist that in the cache instead of JavaScript. Different than snapshots, which are code running in memory, this would be more like `.pyc` in Python.

We could also potentially emit the bundles to that format as well.

[2019-11-13 22:09] kitsonk commented on #3321
Wesley (TypeScript core team) pointed out that we can use `ts.transpile()` to do a transpile only.  While I still personally think it is a big 👣 🔫, it should be fairly easy to support.  The issue @rsp mentions is effectively integrating that into `tsc`, so it isn't supported in the Compiler Options, but would be easy to do for us, but then would make a Deno flag of `--transpile-only` the best way

[2019-11-13 22:24] ry commented on #3335
The feature I was referring to is here: https://github.com/v8/v8/blob/b4bfbce6f91fc2cc72178af42bb3172c5f5eaebb/include/v8.h#L1625-L1629

This will become more accessible after we replace libdeno with [rusty-v8](https://github.com/denoland/rusty_v8). We should also solve https://github.com/denoland/deno/issues/1692 before attempting this.

[2019-11-14 05:02] kitsonk commented on #3283
I've been working on this, and @ry mentioned in the effort to support `.wasm` imports, there was use of `export default` to re-export the wasm exports and he suggested we might use that for Deno bundle.

It certainly would make things simpler, but it does come with a consequence, where previously the root module you bundle might have been consumed this way:

[code]

You would have to do something

[2019-11-14 10:31] mrgrain commented on #3283
I _think_ that would be okay. Importing a bundle is not a drop-in replacement anyway. I might be confusing for implementers, why there's a different syntax.

Is this standard ES and just a "quirky" way of export the module? If that's the case, good documentation should mitigate the confusion.

[2019-11-14 13:18] hufeng opened #3340 "Import 'https://deno.land/std@v0.7.0/prettier/main.ts' failed: 404 Not Found"
[code]

![image](https://user-images.githubusercontent.com/533008/68860325-43724200-0724-11ea-996c-2f9777b93849.png)

[2019-11-14 13:58] bartlomieju commented on #3340
With recent changes to website there's an issue where old versions of standard library do not work properly. Try upgrading to newer version (v0.23.0).

CC @ry

[2019-11-14 14:13] ry commented on #3340
Should be fixed now. But yes, you should upgrade. You're using a very old version.

[2019-11-14 14:13] #3340 closed

[2019-11-14 14:59] bartlomieju opened #3343 "fix creating stdout handle"
This is how to create handles to stdio:

https://github.com/denoland/deno/blob/38ffe8886db104068af07cd5efe3d83f42da8ed6/cli/resources.rs#L41-L62

This is problematic bit:
[code]
[Docs](https://doc.rust-lang.org/std/os/unix/io/trait.FromRawFd.html#tymethod.from_raw_fd)

It's problematic because it takes ownership of that file and on drop that file is closed - meaning that if you destroy "main" work

[2019-11-14 15:17] bartlomieju commented on #3343
Okay, digging deeper into `std::io::stdout` it says:
[code]
So I guess that's why we have this implementation. I think I could work around this limitation by using `lazy_static` for `stdout` handle (so it'd be constructed as now) and then cloning that handle when calling `get_stdio` - that way even when main worker is dropped stdout handle won't be closed.

[2019-11-14 15:22] sadjow commented on #47
@ry Go just released its package manager and central registry https://twitter.com/golang/status/1194662245294202882

Deno seems to be the ideal environment for TypeScript. It is not good adding all those @types/ packages in Node.js. IMHO I think Deno could focus on TypeScript only and avoid not typed JS packages. Just my personal opinion, sharing thoughts.

[2019-11-14 15:32] #3343 closed

[2019-11-14 17:03] zb0t opened #3345 "AbortController"
Are there plans to implement abortable fetch – i.e. AbortControllers?

[2019-11-14 18:31] bartlomieju opened #3347 "refactor: cleanup cli/js/compiler.ts"
`cli/js/compiler.ts` became a little unwieldy and could use some cleaning.

I think that we could factor out `Host`, `BundlerHost` and `CompilerHost` and maybe split `compiler.ts` into more files; maybe `js/compiler.ts` and `js/compiler/host.ts`?

I will work on that, posting for tracking

[2019-11-14 18:34] bartlomieju commented on #3347
One more thing to keep in mind: ideally we could add more entry points, but that's not possible now without increasing binary size.

[2019-11-14 20:10] kevinkassimo commented on #2552
We should be able to close this with #3328

[2019-11-14 20:11] ry commented on #3347
If we're refactoring cli/js/compiler.ts it should be done in way that can share more code with https://github.com/denoland/deno/blob/master/deno_typescript/compiler_main.js (which essentially serves the same purpose)

[2019-11-14 20:13] bartlomieju commented on #3347
Sure, but that means downgrading most of the code to JS with JSDoc, right?

[2019-11-14 20:18] hayd commented on #3333
[Docs](https://docs.rs/reqwest/0.8.4/reqwest/struct.Client.html) suggest:

But I think we're creating one every request?

https://github.com/denoland/deno/blob/4902a1cacb0348efde9ab342172f2706ac27e837/cli/http_util.rs#L18-L30

[2019-11-14 20:22] kevinkassimo opened #3348 "wasm import: remove double compilation"
Follow-up for #3328

wasm import currently does double compilation: the first compilation happens here:
https://github.com/denoland/deno/blob/4902a1cacb0348efde9ab342172f2706ac27e837/cli/js/compiler.ts#L753

and the second time happens here:
https://github.com/denoland/deno/blob/4902a1cacb0348efde9ab342172f2706ac27e837/cli/compilers/wasm_wrap.js#L15

The first compilation is to enable us to get im

[2019-11-14 20:22] hayd commented on #2552
It'd be great to have a toy example in the docs/manual.

[2019-11-14 20:23] bartlomieju commented on #3333
Yes, there's pending issue: #3068 and PR: #3099

[2019-11-14 20:27] kevinkassimo commented on #3348
For clarification, this is a generated JS wrapper script for wasm imports (with `cli/tests/051_wasm_import/simple.wasm`):
[code]

[2019-11-14 20:31] kevinkassimo commented on #2552
@hayd that could be a good first issue 😄

[2019-11-14 20:41] kevinkassimo commented on #2552
@sh7dm Ooops, did not realize that you are working on this too... Only noticed this issue just now.
But basically I also thought of the base64 solution (and I guess it might work well with bundling). I implemented the thing by generating a dynamic script.

Would love to hear your feedback since currently in #3348 we have double compilation issue (and I did a hack to placate TS compiler... which mi

[2019-11-14 23:03] hayd commented on #2552
@kevinkassimo I will add an example to the manual.

[2019-11-15 02:13] axetroy opened #3349 "wanted: /std/encoding/yml.ts"
need yml parser. ref: #3346

[2019-11-15 02:36] ry commented on #3321
ts.transpile might be useful for the REPL too /cc @kevinkassimo

[2019-11-15 03:04] kitsonk commented on #3321
yeah, still a bit more complicated, because you only want to run the changes between the last transpile (REPL command) and the current, but it could be a step in the right direction.

[2019-11-15 03:10] hayd commented on #2552
@kevinkassimo am i missing something here:

[code]
Or is asc not doing the right thing?

[2019-11-15 03:15] kevinkassimo commented on #2552
@hayd can you get asc output .wat format?

[2019-11-15 03:22] #3315 closed

[2019-11-15 04:01] kevinkassimo commented on #2552
@hayd I tried `asc -t`, and saw the following lines:
[code]
Looks like this result is prepared for `npx asinit .`, and running this command generates script `index.js` of the following format:
[code]
This is why there is an attempt to import `env`. It seems `asc` does not handle the possibility of wasm imports

[2019-11-15 04:04] kevinkassimo commented on #2552
@hayd Figured out. You need to compile with the following flags:
[code]
This basically disables builtin `abort` thus removing the invalid import statement.

[2019-11-15 05:23] Fenzland commented on #3317
JSON.stringify not only lose errors, also miss maps and sets. They are both pass correctly in browsers too.

[2019-11-15 05:30] kevinkassimo commented on #3317
@Fenzland I agree we will need to fix this. /cc @bartlomieju for worker stuff

[2019-11-15 05:42] kitsonk commented on #3317
There is the value serialiser in V8 that does the structured cloning: https://v8docs.nodesource.com/node-7.10/df/d48/classv8_1_1_value_serializer.html

I am sure there must be APIs too for transferring as well, I just haven't found them yet.

[2019-11-15 06:00] kitsonk commented on #3347
@bartlomieju be careful, I've got some stuff for the bundling going on in another PR right now... I think it can be rationalised more, I have pulled some stuff out that really doesn't have to deal with the host, but there is part of me that would like us to get some the transpile stuff in (like the userland API access to the compiler (#2927), and potentially this transpile only feature (#3321)) be

[2019-11-15 09:14] bartlomieju commented on #3347
Thanks for the heads up @kitsonk! In that case I'll hold off until you're done.

[2019-11-15 09:39] bartlomieju commented on #3317
@kitsonk https://denolib.github.io/v8-docs/classv8_1_1ValueDeserializer.html ?

[2019-11-15 09:51] kitsonk commented on #3317
Well that and: https://denolib.github.io/v8-docs/classv8_1_1ValueSerializer.html so post should serialize the message and onmessage should be called with the deserialized message I think.  I am not so hot at the V8 APIs though.

[2019-11-15 10:04] bartlomieju commented on #3317
Makes sense. This issue (or more general workers) are in my backlog, but I don't know when I'll get to them. If someone wants to take a stab at it I'll be happy to provide support

[2019-11-15 10:05] bartlomieju commented on #3349
Ref https://github.com/denoland/deno_std/pull/528

[2019-11-15 10:44] sh7dm commented on #2552
@kevinkassimo no problem, just had an idea, didn't work on anything yet.

[2019-11-15 11:19] arciisine opened #3354 "Typescript Custom Transformers Support"
I've been looking through issues and I've not seen anything to this affect.

Will there be support for Typescript's Custom Transformers? I generally make heavy use of them as a framework/library author.

[2019-11-15 15:31] bartlomieju opened #3355 "bug: ModuleSpecifier parsing on Windows"
It seems there are still problems with `ModuleSpecifier` parsing on Windows.

In #3344 I encountered problem on Windows CI where this path:
[code]
was parsed as module specifier having `c:` scheme instead of `file://` and I had to manually add `file://` prefix doing dynamic import.

[2019-11-15 15:38] axetroy commented on #3355
Finally. I got this in #3346.

I am curious why CI failed under Windows.

I spent a lot of time exploring the problem.

[2019-11-15 16:16] ry commented on #3347
I think regressing to JavaScript isn't such a big deal. The interface to TS is a relatively small bit of code - and it isn't exposed to the users. Because of the bootstrapping problem, I think it's a lot less complex to just write this part in JS.

[2019-11-15 16:49] ry commented on #3354
Sadly, it's actually not possible to use the TypeScript compiler from Deno currently.

https://github.com/denoland/deno_std/issues/428
https://github.com/denoland/deno/issues/2927

[2019-11-15 20:34] kitsonk commented on #3347
Ok, one thought is that we enable checkJs on deno_typescript.

[2019-11-15 21:30] kitsonk commented on #3347
We should turn checkJs on deno_typescript. At that point we can still have confidence whatever is in the internal bundles is type safe.

[2019-11-16 08:52] zekth opened #3356 "Docker : Create official image"
@hayd started a while https://github.com/hayd/deno-docker

This can be ported to be integrated as the Official Deno docker image. So 3 steps are needed:
- [ ] Integrate generation of docker image in the CI
- [ ] Test the generated docker image
- [ ] Publish image on the docker hub / github hub on release

Also do we plan to release on docker hub only or we push it to github registry also? It's jus

[2019-11-16 13:15] rsp commented on #3321
There is also a [TypeScript preset for Babel]( https://babeljs.io/docs/en/babel-preset-typescript) that I believe just erases the types without compiling (as opposed to tsc compiling and ignoring errors, as I understand it) which may be a much faster approach in getting JS out of known good TS (one possible use case) or even getting a try-at-your-own-risk JS out of known bad TS (for development, d

[2019-11-16 13:23] bartlomieju commented on #3321
@rsp this is interesting, I had another idea as well. TS can emit declaration files alongside JS, which we could cache as well along with compiled output and sourcemap.

Then when you compile a script and you find a dependency that has declarations file in cache you substitute source file with declaration file (just like we do using `// @deno-types` pragma).

[2019-11-16 15:31] rsp commented on #3321
@ry @kitsonk is it possible to optimize the repl in a way that vscode is working? It uses [tsserver](https://github.com/Microsoft/TypeScript/wiki/Standalone-Server-%28tsserver%29) (which is tsc working in a different mode optimized for interactive work) and it can recompile on every keystroke, of course recompiling only what’s needed because of time constrains.

Anders Hejlsberg explains it [in th

[2019-11-16 15:40] rsp commented on #3321
@bartlomieju Interesting. Some time ago I was also thinking about services like deno.land/x serving (or redirecting to) a .js/.d.ts combo in addition to .ts source of files that are compiled and cached on the server (github, cdn, whatever).

Let’s say that a cli switch like —prebuilt or something adds a special header or query param in http requests and if that header/param is recognized by the se

[2019-11-16 16:48] #3276 closed

[2019-11-16 20:27] trivikr commented on #3207
Fixed in #3225

[2019-11-16 20:27] #3207 closed

[2019-11-16 22:24] hayd commented on #3356
Ry has denoland on dockerhub.

I think we should solve glibc issue on Alpine before shipping, as I think Alpine is preferred target. #3243
I don't know how to do sccache on docker, the Amazon Linux build (from scratch) is pretty slow on GitHub actions ~45minutes. However this could be a lot quicker if we instead generated a compatible binary as part of regular CI (no need for installing curl just

[2019-11-17 00:04] kevinkassimo commented on #3317
@bartlomieju Oh I almost forgot I still have that v8 docs up... it has not been updated for a while. I mostly just refer to https://cs.chromium.org/chromium/src/v8/include/v8.h , which is well updated and, since it is using Google's CodeSearch, easy to look up references and usages than on Github.

[2019-11-17 03:16] kevinkassimo opened #3360 "Move away from excessive use of `FutureExt`"
`FutureExt` provides our familiar `.then`, `.and_then`, `.map` etc.

However, after switching to `std::future::Future`, in many places we can switch directly to using `async/async move` block, or `async` function (when lifetimes of arguments are not a problem)

In practice, it might be able to save us some unnecessary clones and make the code more readable and tidy.

A demo of such refactoring is

[2019-11-17 04:16] trivikr commented on #3074
Fixed by https://github.com/denoland/deno/pull/3358

[2019-11-17 04:16] #3074 closed

[2019-11-17 07:01] maxuuell opened #3362 "Bundle: Uncaught ImportPrefixMissing: relative import path "require" not prefixed with / or ./ or ../"
Did an experiment with `deno bundle` by writing the http server as shown in the readme of `http`

[code]

When I ran the resulting bundle from `deno bundle server.ts server.bundle.ts`, the `sendAsync` method in `dispatch_json.ts` responded with the above error.

Not sure how to proceed.  Code runs fine before bundling, so I assume there is something wrong with how the dependencies are bundled 🤷‍♂

[2019-11-17 11:12] nayeemrmn commented on #3362
It bundles to JS, you're expected to write and run it with a JS extension.

But yeah, ideally it wouldn't break if you ran it as TypeScript...

[2019-11-17 12:17] bartlomieju commented on #3332
I believe I found a repro for this problem. With #3358 landed you can change `cli/file_fetcher.rs` like this:
[code]

And the problem described in this issue will pop up in `file_fetcher` tests (`Connection refused` even though the server is still running).

[2019-11-17 13:17] ry commented on #3362
Try wrapping the async-await loop in a async function. Our support for top-level-await in typescript is not 100% yet.

[2019-11-17 14:20] bartlomieju opened #3365 "cleanup: CLI global flags"
We arrived yet again to the point where we need to cleanup our CLI flags.

Current output:
[code]

Most of the flags listen in `OPTIONS` section shouldn't be global and only available to `run` (`deno run script.ts`, `deno script.ts`) and `fetch` (`deno fetch script.ts`) subcommands.

IMHO I think following flags shouldn't be global:
- `--allow-*` - for other subcommand we override flags anyway
- `

[2019-11-17 14:33] uasan opened #3366 "Need help porting uWS (C++) for fast HTTP/WebSocket server"
Hi.

I used in Node.js [uWebSockets.js](https://github.com/uNetworking/uWebSockets.js) this vary fast HTTP/WebSocket server.

I would like to used him in Deno, but I did not find ready-made solutions how to port it to Deno, does anyone know how to do porting?

My result benchmark: `wrk -c 50 -d 30s -t 50 http://127.0.0.1`

Deno - **32 154** RPS
uWebSockets.js - **133 752** RPS

Thanks.

[2019-11-17 15:49] nayeemrmn commented on #3365
Unfortunately `deno fetch` as well since it also compiles. Also I don't think `deno test` does/should override permissions, it should generally inherit `deno run`'s options.

Fetches or compiles:
- `--config` - `fetch`, `run`, `test`
- `--no-fetch` - `fetch`, `run`, `test`
- `--import-map` - `fetch`, `run`, `test`
- `--lock` -` fetch`, `run`, `test`
- `--lock-write` - `fetch`, `run` (NOT `test`, i

[2019-11-17 16:09] maxuuell commented on #3362
Thank you for the prompt response.

I wrapped the await in an async function, and the pre-bundled `.ts` file worked fine 👍

After doing that, and bundling it into a `.js` extension file, the bundle ran as well. 👍

[2019-11-17 16:09] #3362 closed

[2019-11-17 19:10] rsp commented on #3366
I remember that @alexhultman author of uWebSockets used to be active here helping with the benchmarks in #996, he would be the first person I'd ask about porting uWS to Deno.

[2019-11-17 19:50] kevinkassimo commented on #3360
For new contributors who want to work on this:
Search in the codebase the keyword `FutureExt`, especially many files under `cli/ops/...`. Try replacing some places where `.then/.and_then/.map` etc. is used with a complete `async` block which returns a future.

[2019-11-17 20:10] uasan commented on #3366
Yes, i asked the author, he replied that Deno does not support native modules, so this will be difficult to do.
https://github.com/uNetworking/uWebSockets.js/issues/230#issuecomment-554779661

Any help is appreciated.

[2019-11-17 22:28] rsp commented on #3366
The native bindings have been discussed a number of times. Some references: #296 #1654 #2180 #2385 #2840 #3031 #3025 #3240 there were probably more issues/PRs.

Some time ago @afinch7 showed PRs #2386 and denoland/deno_std#475 but I don't know what was the result of that.

[2019-11-17 22:58] ry commented on #3366
We’re working towards native plugins - we’re trying to make it so they can be distributed as rust crates and their tests run independently using “cargo test” ... a lot of the refactors Bartek has been working on the past few weeks are towards this goal.

[2019-11-18 01:03] kitsonk commented on #3345
We should support it.

MDN Reference: https://developer.mozilla.org/en-US/docs/Web/API/AbortController

It is part of the Living Standard and fully implemented in greenfield browsers.

[2019-11-18 01:39] rsp commented on #3365
@bartlomieju maybe it's not good time to implement right now but I'd like to remind [my comment in issue #2081](https://github.com/denoland/deno/issues/2081#issuecomment-482794119) with the idea of **single-letter shortcuts for the permission parameters** - which I tend to use multiple times per invocation, e.g.:
[code]
vs:
[code]
My idea was to reserve **all uppercase single-letter parameters** f

[2019-11-18 01:50] rsp commented on #2123
@NotWearingPants actually when the script is run directly with a shebang line (as `./app.ts` **and** I hope also `./app` with no extension, as was discussed in issues #929 and #1226) it is run as `<interpreter from the shebang line> ./app.ts` so there is no difference (other than the script having to have both R and X permissions for the users who run it, plus some quirks related to the number of

[2019-11-18 02:29] rsp commented on #2123
By the way, some edge cases:

Eval has the full script in Deno.args:
[code]
REPL has **nothing** at `Deno.args[0]`:
[code]
I couldn't run REPL with args to see what's in Deno.args:
[code]
Eval with arguments take 1:
[code]
Eval with arguments take 2:
[code]
I started experimenting what `--` does and it seems to do nothing here:
[code]
and here:
[code]
and here:
[code]
**but** there can't be two `-

[2019-11-18 02:44] rsp commented on #2123
Interesting values of `location.pathname`:
[code]
In REPL it throws:
[code]

[2019-11-18 09:09] flying-sheep commented on #862
I think so. I think people usually publish a “browser” bundle as UMD, a commonjs module depending on node APIs, and an ES module relying on node APIs.

In order to consume the “browser” bundles we need UMD support.

[2019-11-18 09:50] kitsonk commented on #862
I'm not sure the point you are trying to make.  What are you trying to do that you can't because I don't think this issue is relevant anymore.  What are you trying to do that you can't?

[2019-11-18 09:57] flying-sheep commented on #862
As I said, a viable alternative is to lobby people into offering a dependency-less ES bundle.

[2019-11-18 11:55] flying-sheep commented on #1120
We’re talking about the [v8 inspector protocol](https://v8.dev/docs/inspector) here right?

VS Code and Chrome/Chromium devtools support this, anything else?

[2019-11-18 15:15] ry opened #3367 "Rust crates cannot be published to crates.io"
As of v0.24.0 the [deno-x86_64-pc-windows-msvc](https://crates.io/crates/deno-x86_64-pc-windows-msvc)  package for v0.24.0 is larger than the 10mb limit imposed by crates.io. This means we are unable to publish [deno](https://crates.io/crates/deno), [deno_typescript](https://crates.io/crates/deno_typescript), and [deno_cli](https://crates.io/crates/deno_cli).

We will take this opportunity to reor

[2019-11-18 16:41] rsp commented on #1547
@davidbarratt There are projects like:
- [typescript-script](https://github.com/basarat/typescript-script)
- [typescript-compile](https://github.com/niutech/typescript-compile)

that allow you to use TS directly in `<script>` tags in the browser.
(Not that it's efficient but it's possible.)

[2019-11-18 17:01] axetroy commented on #3349
close after #3361 land

[2019-11-18 17:01] #3349 closed

[2019-11-18 17:52] axetroy opened #3371 "re-enable eslint max-len rule"
[code]

The previous std has always enabled the max-len rule.

But after merging into denoland/deno, this rule was not applied.

https://github.com/denoland/deno_std/blob/73671a6f04d288dd57e75f9806959f7b055ae4a7/.eslintrc.json#L25-L37

[2019-11-18 22:06] bartlomieju commented on #3360
FYI I'm working on update to tokio 0.2 which will should remove a few of these usages.

[2019-11-19 02:33] kitsonk commented on #2927
I think in the conversations that were partly related to #3321 that we should tackle this.

Doing denoland/deno_std#428 seems somewhat tangental to this.  We can't expose the built in TypeScript and the types of workloads that people are talking about here, means that a clean, more accessible compiler API would be easier to consume.

I would propose the following:

[code]

`Deno.CompilerOptions` w

[2019-11-19 02:34] ry opened #3378 "Remove --allow-run .. rather people should use --allow-all"
When you execute a subprocess there's no guarantees of what it can do - all security bets are off. `--allow-run` masks this and is an extra command line flag. Therefore I suggest removing it entirely and requiring users to supply `--allow-all`.

[2019-11-19 02:57] hayd commented on #3378
I wonder if there could be a way to restrict the run, in the same way net/read etc. e.g. starts with `python my_script.py` or `specific-binary` , at least that way you'd be restricting to something more specific than anything ( `rm -rf` ).

I wonder how are most people using `run` at the moment...

[2019-11-19 03:02] ry opened #3379 "Workers should maybe be standalone subprocesses"
It would simplify our logic a lot if we treated Workers as full subprocesses. It's probably not much overhead considering Workers new a whole new isolate.

The main thing would be to facilitate message passing via IPC.

cc @bartlomieju

[2019-11-19 06:49] kevinkassimo commented on #3379
I would imagine some overhead over this decision. There are still a lot of things that could be shared more easily under the same process (module loading can be one, and if we were to move more things to GlobalState), and one part that we haven’t implemented is `SharedArrayBuffer` support across workers with atomics. It might be harder for us if we were to go multiprocessing instead of userland mu

[2019-11-19 09:36] bartlomieju commented on #3379
I'm not sure about treating Workers as full subprocesses. To give somme context to other people; Ry and I discussed idea of having Worker (and consequently Isolate) being a Future, one of the ideas was that Isolate should have it's dedicated thread.

This discussion arose after the transition to new Futures 0.3 API (#3358) - we're facing following problem: we have some ops that are synchronous but

[2019-11-19 15:04] nayeemrmn commented on #3378
+1 I've pointed this out before.

I guess the downside is losing any way of having more granular run permissions... but when would untrusted remote code be using your carefully written project-local scripts? I think they would normally want access to arbitrary common OS utilities which are often more powerful than they seem and just broadly not compatible with any sandboxing attempt. It's too easy

[2019-11-19 17:56] #3332 closed

[2019-11-19 21:20] kitsonk commented on #3371
We shouldn't be using that rule, as prettier handles it, and should wrap when possible.  We should be using the prettier extensions for eslint which disables this rule.

[2019-11-19 21:28] bartlomieju commented on #3365
I don't have strong opinion on this one, @ry?

Probably makes sense, but I'd open a new issue to discuss that, I meant this issue to only cleanup current situation without any new features.

Yeah, ideally it would be some Web standard file that keeps it all (ref #3179)

[2019-11-19 21:30] ry commented on #3365
I'd rather not introduce single letter abbreviations at this point for the permission arguments. Maybe we can later, but for now let's be explicit.

[2019-11-19 22:54] nayeemrmn opened #3384 "Add --no-remote to disable remote module resolution"
The behaviour of `--no-fetch` is to fail to resolve remote modules unless they are already in the cache.

A ~`--no-remotes`~`--no-remote` flag that simply disabled remote module resolution would be more useful and reasonable while not conflicting with Deno's philosophy any more than `--no-fetch` does already.

[2019-11-19 22:56] ry commented on #3384
Sounds reasonable to me

[2019-11-19 23:00] bartlomieju commented on #3384
Please wait until I finish #3383

[2019-11-19 23:32] kevinkassimo commented on #3384
`--no-remote` sounds better to me (don't like remembering "s" 😅)

[2019-11-19 23:35] kevinkassimo commented on #3378
Hmm but this means we are gaining extra privilege besides __all__ `--allow-*` flags. I think this is likely to confuse people...

[2019-11-20 02:09] rsp commented on #2934
@ry @kitsonk @FredKSchott
Is there any reason (other than already having `d.ts` files, but let's say that we are writing type definitions for an untyped JavaScript library from scratch) of using `d.ts` files instead of just having a TypeScript file that imports the JS symbols and re-export them as typed?

This already works in Deno. And works everywhere else.

Examples:

Untyped JS library, runtim

[2019-11-20 02:25] hayd commented on #2934
This is a big though. Could .t.ts be generated from .d.ts?

[2019-11-20 02:42] rsp commented on #2934
Probably not right now out of the box (like .d.ts can be generated from .t.ts with a simple `tsc -d file.t.ts`) but in principle should be possible to parse a .d.ts file with the typescript compiler and emit suitable code. I don't think that you can do anything in .d.ts that you couldn't do in plain TS.

[2019-11-20 03:05] rsp commented on #2934
@hayd Now I'm thinking if maybe a .d.ts file can be included in .t.ts file without much modifications.

Something like this:
[code]
The ts-ignore is because tsc complains about duplicate identifiers.
But it doesn't work, the type is not string=>boolean (from declare) but any=>boolean (inferred from the function body). We need a `// @ts-!important` pragma ;)

Maybe someone else will be able to have

[2019-11-20 03:22] rsp commented on #2934
This seems to work:
[code]
and now my VS Code does whet I want, i.e. shows me that the exported func is string => boolean and shows me an error, but deno runs it without error. I wonder what deno does differently that the tsc used by vs code, but in principle it seems possible to have something like a hybrid TS import/export with appended .d.ts

[2019-11-20 03:26] kitsonk commented on #2934
I'm not sure that is an improvement over the existing solution.  This seems to require pre-processing of stuff, and not something that could be done on the fly, and would only work for Deno.  The existing solution is effectively ignored by everyone else other than Deno.

[2019-11-20 03:31] rsp commented on #2934
@kitsonk the experiments above are my attempts of being able to convert existing .d.ts to .t.ts as asked by @hayd but my original idea was to write .t.ts instead of .d.ts (in case we don't have any type definitions yet, or maybe it is not hard to do because the public api of a library is small).

If there is a working .t.ts file then it should work not only for Deno (except the mandatory vs forbid

[2019-11-20 03:46] axetroy commented on #3378
Because the permissions of the child process cannot be restricted.

Running a child process means that it has all the permissions.

So I think this makes sense.

[code]

[2019-11-20 03:52] kitsonk commented on #2934
I think we should be in a situation where someone doesn't have to produce something different.  We should be able to consume `.d.ts` files, as currently written, or require some sort of pre-processing.

For a real world example, a solution needs to make this use-case work, using the `lodash-es` from Pika-cdn:

[code]

And using the types from [`@types/lodash`](https://www.npmjs.com/package/@types/

[2019-11-20 03:56] rsp commented on #2934
@kitsonk I agree with you. That's why my original question was "Is there any reason (**other than already having d.ts files**, but let's say that we are writing type definitions for an untyped JavaScript library from scratch) of using d.ts files instead of just having a TypeScript file that imports the JS symbols and re-export them as typed?"

[2019-11-20 04:04] kitsonk opened #3385 "Generate types for bundles"
With #3352, bundles are going to be a mechanism to distribute "libraries" in Deno.  It is logical that someone might want to use a distribution bundle in another Deno workload (or consume it in other runtimes) and would want to have type safe consumption of those files, therefore we should generate the declarations along with a bundle.

Related to #2475.

[2019-11-20 14:31] rsp commented on #3378
@ry Yes, this is what I was talking about in #2128 in April - totally true that it makes no sense to have `--allow-run` as it is now because it is effectively `--allow-all` in disguise.

**But** I see a value in having `--allow-run=/bin/ls` so my idea would be to make the parameter to `--allow-run` mandatory.

By the way, as I explained in #2128 I think that should be a **separate** permission to

[2019-11-20 16:02] #3283 closed

[2019-11-20 16:18] rsp opened #3386 "Numerical error codes for exceptions in Deno (like HTTP status codes or custom numbers)"
**Update:** To make it clear, I mean a convention like tsc has that lets us reference error messages like `TS2304` in issue #3391 and google it easily, not to parse the strings programatically but more for good user experience.

### Idea:

Using numerical error codes for error messages in Deno.

Maybe using standard HTTP status code numbers in error messages in Deno where it makes sense, or maybe

[2019-11-20 16:23] bartlomieju commented on #3386
We already have that in `DenoError`

[2019-11-20 16:30] GaryPWhite commented on #3333
Also in those threads but going to note here that we're waiting on `tokio 2.0` to merge/close that issue

[2019-11-20 16:31] rsp commented on #3386
@bartlomieju do you think it would be a good idea to expose those DenoError codes in messages when presented to the user?

[2019-11-20 16:36] bartlomieju commented on #3386
I don't have strong opinion about that, current solution has been working fine for me.

You can always check the code yourself like here:
https://github.com/denoland/deno/blob/8d977d0117c2b61e6714cec9e4238f4ba0a56195/cli/js/net_test.ts#L14-L27

[2019-11-20 16:53] rsp commented on #3386
Actually this example tests for Deno.ErrorKind.Other and checks the message string (which was exactly what hit me when I found out that built-in `Deno.chdir()` throws with a different string for the same error on Windows) but here I was thinking about **user experience of seeing errors** on the terminal and including the codes for ErrorKind there.

By the way, @bartlomieju the current `std/deno` h

[2019-11-20 16:55] bartlomieju commented on #3386
The idea is to actually decrease number of those custom errors: https://github.com/denoland/deno/issues/2635

[2019-11-20 16:58] bartlomieju commented on #3269
Fixed in #3374 ?

[2019-11-20 17:01] rsp commented on #3386
Ok, I see. Should std modules even throw those errors or keep using generic `new Error()`?

[2019-11-20 17:04] bartlomieju commented on #2999
Seems that this not appear anymore, to be closed?

[2019-11-20 17:07] #2999 closed

[2019-11-20 18:38] bartlomieju opened #3387 "Tokio 0.2 upgrade"
Opening for tracking purposes.

I'm trying to update Deno to Tokio `master` branch (pending 0.2 release).

For know it seems we have two dependencies blocking the transition:
- `tokio-rustls` - resources: `clientTlsStream`, `serverTlsStream`
- `reqwest` - resource: `httpBody`

Problems are related to `AsyncRead`/`AsyncWrite` traits as well as fact that we create tls connections from `TcpStream` wh

[2019-11-20 19:17] kitsonk commented on #3283
For those watching this issue, in the end it was actually straight forward to re-export the exports of the main module in the bundle.  So you can now just do `deno bundle whatever.ts whatever.bundle.js` and `whatever.bundle.js` exports will match `whatever.ts` exports.

[2019-11-21 00:40] kitsonk commented on #3386
Having a good error handling strategy/convention seems important for `std`.  I think there is a difference between a `DenoError` and errors that originate from code in `std`.  Having an error library as part of `std` that provides classes of errors that have more semantic meaning for a given context would be a good idea, but the method should not be fragile (like trying to parse out semantic meani

[2019-11-21 01:58] ry commented on #3269
Yes thanks !

[2019-11-21 01:58] #3269 closed

[2019-11-21 11:41] dheeraj-br commented on #1397
@kitsonk disregarding the largest wealth of open source projects and calling it a hindrance is not at all wise, 10 years of active contribution that makes these collection the life blood of node and you choose to leave it all on the table and not make it a top priority, this interoperability would greatly benefit developers from the get go of v1 deno, it would do loads of good for deno the product

[2019-11-21 14:37] ry opened #3390 "Issue with HTTP's close method"
via @sholladay

When I use serve() from http/server.ts, and I pass it port 0 to get a random available port, is there a clean way to determine which port was assigned?

Also, server.close() seems to wait for another request to come in before actually closing. If I call server.close(), Deno won't quit until I reload the page in the browser.

[2019-11-21 15:09] markstos commented on #1397
@dheeraj-br When Node.js was started, it disregarded the largest repo of open source projects-- Perl's 20,000 CPAN modules and made no attempt to be compatible with it.

Today Perl has 40,000 CPAN modules and Node.js has 1,135,000 modules despite having to start a module repository from scratch.

[2019-11-21 17:35] biels commented on #1397
But what is the upside of starting the module ecosystem from scratch? Is it
having all codebases using typescript? Would the compatibility prevent deno
from providing some features or optimizations?

On Thu, Nov 21, 2019 at 4:09 PM Mark Stosberg <notifications@github.com>
wrote:

--
Biel Simon Rojas
bielsimon2@gmail.com
<bielsimon2@gmail.com>

[2019-11-21 18:10] tunnckoCore commented on #3196
Ha... I already wrote to that issue, haha.

Just thought about another idea that spawned after looking around the other "compat" issues and discussions, mainly triggered to look on them today because just seen that `denolib/node` was archieved with saying it's merged into Deno. So, first, what's that, what that mean?

And second, the another possible idea:

[code]

Write mainly in Deno. And _if_ y

[2019-11-21 18:38] markstos commented on #1397
I don't know what the right decision is for `deno` here, but I have helped maintain open source software for about two decades and have seen what happens when projects are too aggressive about maintaining backwards compatibility. This "backcompat" adds complexity for the developers and the users as both the old and new ways of doing things are supported.

Eventually another project comes along tha

[2019-11-21 18:44] kevinkassimo commented on #1397
As a small update to the situation, std/node now provides a way to [create a `require_` function](https://github.com/denoland/deno/tree/master/std/node#commonjs-module-loading) for loading CJS modules (and likely npm packages). The remaining problem is adding more polyfills for Node.js APIs.

Since it is part of the standard library, it is independent from the Deno binary. The general idea is to p

[2019-11-21 19:35] tunnckoCore commented on #1880
The `deno fmt` can be just `deno lint` with just `try/catch` and always exit with `0` code.

I have pretty robust config using Airbnb,typescript-eslint, Prettier (the plugin & config), React, plugin import, plugin unicorn, config XO, XO-typescript. With their `recommended` presets and few customizations (with described reasons as comments) for the modern day and age, and more cleaner & sane code.

[2019-11-21 20:38] rsp opened #3391 "Top level await breaks on parentheses"
This is fine:
[code]
This is not:
[code]
It exits with: `error TS2304: Cannot find name 'await'.`

[code]

The above is the most minimal example that shows this.

More realistic use case - if I have a promise `p` like this:

[code]
I cannot get to the value `1` in one step:
[code]
It exits with: `error TS2304: Cannot find name 'await'.`

I have to do it in two steps:
[code]
I suppose that those ar

[2019-11-21 21:27] kevinkassimo commented on #3391
This seems to be TS only. JS works fine

[2019-11-21 22:00] Ragav-d commented on #1397
wouldn't harm to have the compatibility since its a case of adding more polyfils and would not affect the Deno architecture in any way, in fact it would be detrimental to the switching over from node to deno only thing that would keep me stuck on nodejs is the wealth of packages. i wouldn't switch to deno even with its javascript(for prototyping) and typescript (for scaling), wasm, its speed, es m

[2019-11-22 02:31] kitsonk commented on #3391
Agreed, we can't just safely ignore `TS2304` as it might ignore other things incorrectly, and adding logic to introspect the error message would be a bit of a slippery slope for something we are already hacking around.

[2019-11-22 02:39] ry commented on #3391
We just have to wait for TS to fix it.

[2019-11-22 05:08] kt3k commented on #1880
Note about implementation:

https://github.com/mysticatea/typescript-eslint-demo
- This project runs @typescript-eslint on browser
- demo: https://bit.ly/2reVCoh

ESLint doesn't support browser officially, but one of the eslint core contributers, @mysticatea (Toru Nagashima), maintains browser version of eslint engine at https://github.com/mysticatea/eslint4b . The above demo uses this module as e

[2019-11-22 06:59] rsp commented on #3391
For reference:

- microsoft/TypeScript#35276
- microsoft/TypeScript#25988

[2019-11-22 17:46] #2960 closed

[2019-11-22 17:57] brainkim commented on #3196
I think the best course of action is just to convince typescript peeps to allow explicit file names.

[2019-11-23 02:51] axetroy commented on #3378
@rsp

How about `--allow-run=/bin/bash`？

[code]

The same reason, once the child progress is turned on, there is no way to bind

[2019-11-23 15:15] izelnakri commented on #2473
@ry currently in node.js v12+ there is experimental `worker_threads` module that allows users to create a JS thread pool for CPU intensive tasks that can occur in runtime(linting, code-analysis&transpiling, hashing, compressing, encrypting etc). I couldn't find anything similar in plans or in the documentation. Can we add it to this list?

This is a separate request than native plugins.

[2019-11-23 15:24] bartlomieju commented on #2473
@izelnakri Deno supports web standard [`Worker API`](https://developer.mozilla.org/en-US/docs/Web/API/Worker)

[2019-11-23 15:24] ry commented on #2473
@izelnakri deno already has web workers

[2019-11-23 15:39] axetroy opened #3395 "need a way to get deno_std version of current Deno"
[code]

[code]

https://github.com/denoland/deno/blob/c6bb3d5a10ba8acceadcaa66050abcaefb7bc0bb/cli/js/version.ts#L2-L6

https://github.com/denoland/deno/blob/c6bb3d5a10ba8acceadcaa66050abcaefb7bc0bb/cli/flags.rs#L15-L19

[2019-11-23 15:40] ry commented on #3395
I think std version is confusing to users...

 Also I will be removing the "v8" and "typescript" parts of the output in #3389.

[2019-11-23 15:48] axetroy commented on #3395
Even if it is not output on the command line, it should be exported in `Deno.versions`

This is to facilitate future tool integration.

This is to facilitate future tool integration.

eg. third-party tools use `deno install`

It can know the version of `std` for current Deno version, and download the dependencies in advance.

[2019-11-23 16:23] nayeemrmn commented on #3395
But it's only applicable on the command line... I think we just need to figure out how to make the versions align again.

[2019-11-23 18:15] #2772 closed

[2019-11-24 00:49] imaginamundo opened #3397 "Permissions per modules with importmap like configuration"
I've just had an idea to give permission per module,  similar to import maps, here it's the demo for [import maps](https://github.com/denoland/deno/pull/2360#issuecomment-500047614):

[code]

And like this, we can give access to packages like:

[code]

And then run the project with:

`$ deno --importmap=importmap.json --importpermission=importpermission.json script.ts`

This way, lodash will have

[2019-11-24 01:03] kevinkassimo commented on #3397
More contexts: #1639

[2019-11-24 05:16] kitsonk commented on #3397
As mentioned in #1639, one of the biggest challenges is that determine the caller to enforce permissions is difficult from the runtime.  The only straightforward way is likely to have a significant overhead for every call to validate the source/stack and enforce the permissions.

It isn't as much as finding a low overhead ergonomic way to do this as much as funding a realistic way to implement som

[2019-11-24 15:28] ry commented on #3397
@imaginamundo Thanks for the issue - it would certainly be cool to do something like that but as @kitsonk said, it's not at all clear how this would be possible. We need a proof of concept implementation before any other discussions and I have yet to see any way of doing this. Closing this.

[2019-11-24 15:28] #3397 closed

[2019-11-24 15:36] #2888 closed

[2019-11-24 20:37] teleclimber opened #3401 "Permissionless static relative imports are dangerous"
In the current version of Deno (0.24) it is possible to import a module from outside the directory of the running script:

[code]

My understanding is that this is justified because a malicious script can not know where it is going to be run and therefore an attempt to load a relative path as above will almost always result in Deno exiting with an error.

Although it's true that in some uses of De

[2019-11-24 20:53] teleclimber commented on #2705
Hi there, have there been any further thoughts on this?

I would suggest the following:
- `allow-net` gives permissions to make outgoing requests only.
- New flag `allow-serve` lets you create a server and bind to a port.
- You can specify a port explicitly `--allow-serve=:8080`
- You can specify that the script can only get only listen on OS-provided ports: `--allow-serve=:os`

This I believe cre

[2019-11-24 21:02] ry commented on #3401
Yes it's a good point. If we are to take security seriously we can't allow reading random JSON...

[2019-11-24 21:02] kevinkassimo commented on #3401
I would say instead it might be more reasonable to require `--allow-read` for JSON imports (since they are data)

[2019-11-25 07:24] kitsonk commented on #3401
`--allow-read` makes sense for JSON imports. Is there a difference in local or remote? `--allow-read` implies local only. We should consider passing it to the TS compiler too so it can set allowJson on the compiler config.

[2019-11-25 09:01] Janpot commented on #3401
I think the relevant thread is: https://github.com/w3c/webcomponents/issues/839
Btw, there's [a proposal](https://github.com/littledan/proposal-module-attributes) coming out of this that could be of interest to deno as well. Looks like _module attributes_ could serve as a mechanism to pass permissions.

[2019-11-25 12:30] rsp commented on #3378
@axetroy of course when you allow to spawn a shell then all bets are off, but this is at least explicit and obvious. If bare `--allow-run` is disallowed, then people will not be likely to add `--allow-run=/bin/bash` just for the hell of it. But if it is allowed, then people will be likely to use `--allow-run` instead of `--allow-run=/bin/ls --allow-run=/usr/local/bin/htop --allow-run=/usr/bin/gzip

[2019-11-25 13:11] rsp commented on #3401
@kevinkassimo `--allow-read` for JSON imports seems reasonable , since this is basically an easier way to read data (plus some type info as a bonus). @kitsonk yeah, `--allow-read` implies local but for remote JSON imports I would expect to need `--allow-net` for the same reason.

[2019-11-25 14:33] #2887 closed

[2019-11-25 15:59] rsp commented on #3401
Also, I see two other arguments for requiring `--allow-net` for remote JSON imports:

1. there may be APIs and static JSON files that (unlike JS files) are not meant to be randomly read by anyone
2. on the Web you need CORS to read JSON across origins, unlike reading JS files

Thinking about CORS analogy, @ry do you thing that importing JSON by a module **in the same directory**, i.e. `import * as

[2019-11-25 16:31] CGQAQ commented on #2473
Deno is mostly web compatible, any feature that web support, deno most likely would already supported, So if you have any feature wanted but seems don't have deno documents

[2019-11-25 20:17] kevinkassimo commented on #2473
We might want to document `Worker`s at least in the manual

[2019-11-25 20:40] bartlomieju commented on #2091
Recently #3380 landed, does it resolve the issue?

[2019-11-25 22:48] kevinkassimo commented on #2091
@bartlomieju I agree this could be closed. We might want to open another issue tracking `std/node` polyfill progress though, but anyways that is a different problem.

[2019-11-25 22:57] #2091 closed

[2019-11-25 23:10] kevinkassimo opened #3403 "Add Node.js native module polyfills to std/node"
Many Node.js native module polyfills are needed in `std/node`, to support loading npm packages (such that we are able to leverage some of the tools while Deno specific versions are not available yet).

Note some of the modules might not yet have a corresponding Deno API available. In that case, adding a new native binding for Deno or adding a new module in `std` modules might be reasonable.

#3382

[2019-11-26 05:49] kitsonk commented on #2473
@ry I would move denoland/deno_std#428 to #2927 and we can "tick" #2888 in the list.

[2019-11-26 05:50] kitsonk commented on #2868
When this gets implemented we have to make sure to address the workaround done in #3400 and not regress.

[2019-11-26 06:09] hayd commented on #2868
We should add a regression test with url as a variable name. (Maybe there already is one, I'm away from my computer...)

[2019-11-26 06:26] PandawanFr commented on #2927
Would this also include the Deno runtime? As in, assuming you’re outputting Deno-specific (uses Deno namespace/module) JS code, will you also get a JS version of Deno?

If so, doesn’t that defeat the point of Deno using TypeScript? Also, should we be worried about bundle size?

If not, what’s the point of exporting it as a JS file? (The browser won’t be able to use it anyway, if it has Deno-specif

[2019-11-26 08:51] kitsonk commented on #2927
For some workloads, users want access to the TypeScript compiler that is built into Deno.  Using `tsc` would require that Node.js be installed and a duplication of the full TypeScript package installed using `npm` or `yarn`.

Take using Deno as an HTTP server of some sort, and you want to serve to your clients JavaScript based on TypeScript you have hosted on locally.  You could run the TypeScript

[2019-11-26 12:41] bartlomieju commented on #2176
Doesn't happen anymore CC @ry

[2019-11-26 12:43] bartlomieju commented on #2421
@ry this is very outdated, with upcoming switch to new Tokio I deem it obsolete

[2019-11-26 12:45] bartlomieju commented on #2837
Can this issue be closed?

[2019-11-26 15:27] #2421 closed

[2019-11-26 16:08] #2176 closed

[2019-11-26 18:17] bartlomieju commented on #3387
Tokio has landed! https://github.com/tokio-rs/tokio/releases/tag/tokio-0.2.0

I'll be working on the upgrade

[2019-11-26 18:27] trivikr commented on #3073
tokio v0.2.0 is now stable https://github.com/tokio-rs/tokio/releases/tag/tokio-0.2.0
tokio upgrade task is being tracked in #3387

[2019-11-26 18:28] trivikr commented on #3073
Closing this issue, as these are just example warnings which would be resolved post tokio upgrade.

There are other warnings during the build which are not tracked in any issues.

[2019-11-26 18:28] #3073 closed

[2019-11-26 18:31] teleclimber commented on #3401
There is a really interesting "HTTP 203" episode where they get into imports from the browser and in particular why JSON import was dropped.

https://www.youtube.com/watch?v=jG7VfbqqTGw

I think a local import of any type (JS/TS/WASM/JSON/CSS/...) that is outside the root of the script (meaning: it probably wasn't downloaded along with the script) should require an `--allow-read` permission.

Even

[2019-11-26 22:55] kitsonk commented on #2934
I've been thinking about this and I've had a thought of what we can do.

I would still think that retaining the current functionality would be a good idea, but adding two other features to make supporting "coupling" JavaScript code with type definitions without introducing "resolution magic":

- When fetching a remote HTTP module, Deno would support a `X-TypeScript-Types` header which would provid

[2019-11-26 23:54] kevinkassimo opened #3407 "deno panics on REPL when specifying e.g. `deno -A`"
Based on stack trace, it seems `run_script()` is called instead of `run_repl()`, and panics since we do not have a main module

[2019-11-27 01:19] nayeemrmn commented on #3407
This should be a flag error now, e.g. `deno repl -A` correctly reports the invalid argument.

I guess the flag parsing assumes that `deno` without a subcommand is `deno run`, when actually it is `deno repl` when there is also no main module.

[2019-11-27 01:21] kevinkassimo commented on #3407
`deno run` without providing a main module name is also crashing. I am making a PR for this.

[2019-11-27 02:09] axetroy opened #3410 "`deno fmt should respect prettierrc and prettierignore` did't land"
Release Note:

Because `flags.rs` still using v0.23.0

https://github.com/denoland/deno/blob/2cd22b5437a375f0e33f26327101afb818a03802/cli/flags.rs#L14-L18

and see the source code: https://deno.land/std@v0.23.0/prettier/main.ts

Here's a question:

**how to synchronize deno and deno_std versions**

Move discussion to #3320

[2019-11-27 02:12] FredKSchott commented on #2934
+1 for both of the above. I could implement that header on the Pika CDN if that's the direction we want to go.

[2019-11-27 02:13] axetroy commented on #3320
Because importing std files can do string stitching

So you can get the deno version number dynamically and stitch them together, this should solve the problem

https://github.com/denoland/deno/blob/2cd22b5437a375f0e33f26327101afb818a03802/cli/flags.rs#L14-L18

[code]

[2019-11-27 02:26] #2837 closed

[2019-11-27 03:24] hsiaosiyuan0 opened #3411 "Supports execute Binary AST directly"
Hi,

I notice that Deno call itself as `A secure runtime for JavaScript and TypeScript`, so in the future do we have a plan to support executing Binary AST directly according to [proposal-binary-ast](https://github.com/tc39/proposal-binary-ast)?

[2019-11-27 04:42] kitsonk commented on #3411
If the proposal gets to Stage 3, absolutely.  Maybe earlier if it gets implemented in V8.  Really the feature being supported in V8 is the critical bit.

[2019-11-27 06:01] #3407 closed

[2019-11-27 10:30] zhmushan opened #3412 "deno fmt --check throw error in ci"
[red: ](https://github.com/zhmushan/abc/commit/f5632e635c3ec1f1ef99ce0298b5ab53d86ed7fd/checks?check_suite_id=331164830)`deno fmt --check */**`
[red: ](https://github.com/zhmushan/abc/commit/86ead9dbeac8c22086c33ef3198cc8cc532ff46a/checks?check_suite_id=331143561)`deno fmt --check */**`

[green: ](https://github.com/zhmushan/abc/commit/8747ae404cd7ac8f455d5b1f9e84ec0534c30ccc/checks?check_suite_id

[2019-11-27 14:44] bartlomieju commented on #3387
`tokio-rustls` landed with Tokio 0.2 support.

Still waiting on https://github.com/seanmonstar/reqwest/issues/721

[2019-11-28 01:34] hsiaosiyuan0 commented on #3411
@kitsonk get it, thank you

[2019-11-28 01:34] #3411 closed

[2019-11-28 02:09] axetroy commented on #3412
From the CI log, execution is here.

The program should exit normally.

https://github.com/denoland/deno/blob/a611788834e40153ef27c8f1d6b7fd52c8a016b1/std/prettier/main.ts#L226-L229

The current problem is deno@0.25.0 using deno_std@0.23.0. it leads to uncertainty about what will happen.

Maybe wait #3415 land, the problem can be solved

[2019-11-28 03:19] PengGuangchao commented on #1416
How did set up proxy in terminal? I had set the proxy for git, but it still does not work.

[2019-11-28 03:25] zhmushan commented on #3412
thx

[2019-11-28 04:14] #3371 closed

[2019-11-28 06:08] hayd opened #3416 "read waits for process end rather return what is available"
The [documentation](https://deno.land/typedoc/interfaces/deno.readcloser.html#read) suggests read should return immediately rather than wait for the program to exit:

Example:
[code]

output:
[code]

expected:

[code]

[2019-11-28 09:41] sholladay commented on #3401
Any real-world app is going to need the ability to import a file from a sibling directory. How do you decide where the module's root is, anyway? In Node, it's easy because you can just look upwards in the filesystem until you find a package.json. I guess in Deno, the best we could do is use the directory of the entry point. But that wouldn't work for all proje t structures, such as files in `bin`

[2019-11-28 14:33] bartlomieju commented on #3384
@nayeemrmn can you show example of usage of `--no-remote` flag?
I can see value in having `--no-fetch` flag - ie. you fetch and cache all dependencies during CI and then running in production you specify `--no-fetch` to fail if any of dependencies are missing.
But preventing remote modules entirely? So you add a remote import somewhere in your code and then run it with `--no-remote` so it prevents

[2019-11-28 14:55] nayeemrmn commented on #3384
@bartlomieju

What else would happen if dependencies are missing?

I could use `--no-remote` if I'm vendoring all 3rd party code and want to find and remove any remote imports (without depending on whether or not the target happens to already be in the cache).

Or I could wrap it to create a strictly traditional package management experience (which, no matter where anyone stands on this, shouldn't

[2019-11-28 20:33] teleclimber commented on #3401
I think that's the idea.

I would think Deno projects would be structured so that all files necessary for code to run will be at or below the entry-point.

[2019-11-29 03:47] Fenzland commented on #3395
You may both import std@0.12, std@0.18 in your file and run with deno 0.25. So I think a std version in `deno --version` output is meaningless.

[2019-11-29 05:48] kt3k opened #3419 "Standard Modules: ID generators"
JavaScript community has a few of popular id generators like the following (other than uuid):

- shortid
  - https://github.com/dylang/shortid
- nanoid
  - https://github.com/ai/nanoid
- ulid
  - https://github.com/ulid/javascript

How about including these to the standard modules?

[2019-11-29 06:11] kevinkassimo commented on #3419
I'm supportive of moving `std/uuid` to `std/idgen/uuid.ts` and potentially adding other ID generators. Not so sure which other ones to include though, since adding a new module is basically adding extra maintenance cost. (I would expect as Deno matures each different std module would have a list of maintainer volunteers)

[2019-11-29 06:25] hayd commented on #3384
These commands seem independently useful. Specifically the current --no-fetch is useful.

However `deno fetch` is a confusing verb for what it's doing... Which is compile. Semantically `deno compile --no-fetch` and `deno compile --no-remote` makes much more sense.

[2019-11-29 12:42] kt3k commented on #3419
Note: npmtrends link https://www.npmtrends.com/shortid-vs-nanoid-vs-ulid-vs-uuid-vs-uniqid-vs-cuid

`uuid` seems by far the most popular one. `nanoid` and `shortid` come next in regard with the download count. `ulid` and `cuid` are less downloaded, but these 2 are ported to many different languages and `ulid` seems having nice [spec](https://github.com/ulid/spec).

[2019-11-30 03:03] #3410 closed

[2019-11-30 03:59] axetroy commented on #3419
@kevinkassimo

Should We open an issue and pin it for looking long-term maintenance volunteers for Specific modules.

[2019-11-30 06:29] tunnckoCore commented on #3419
The `cuid` may be with less downloads but is pretty great, stable and robust. First time hearing about `shortid`.

Definitely `uuid`, `cuid` and `nanoid`.

[2019-11-30 06:36] tunnckoCore opened #3422 "Reverse the current signature of `Deno.copy`"
As seen here https://twitter.com/tunnckoCore/status/1200346772893323264

Currently `copy` signature is `dst, src` which totally deviates from the standard one which is used in the rest of the API - `copyFile`, `readFile`, `writeFile` are all `src, dest`.

And more or less the API is already following the years of experience in Node.js and is more or less similar thing. There's no `copy` in Nodejs

[2019-11-30 06:41] tunnckoCore commented on #1880
I don't think we _need_ "browser support"-ed eslint. Deno is not run in browser, but in server-side as cli.

The only problem might be the size of Deno, which may increase drastically. For some time I'm thinking to bundle ESLint with `@zeit/ncc` to see what will be the size.

[2019-11-30 08:36] kevinkassimo commented on #3422
Hmm I wouldn't include `writeFile` as an example since it is also technically specifying `dst (filename)` before `src (Uint8Array)`.

I am personally okay with either ordering.

I do want to point out that some actually argue the reason for Unix-y `dst, src` argument pair is the mindset of `dst = src` (assignment) <--> `copy(dst, src)`

For references of fixing the order, Rust did the switch and h

[2019-11-30 08:45] kevinkassimo commented on #3419
@axetroy Might be a good idea, although I doubt a concrete list could be established before 1.0 release

[2019-11-30 08:53] zhmushan opened #3424 "[bug] windows: Deno.realpath"
[code]
expected:
[code]

actual:
[code]

[2019-11-30 09:01] kevinkassimo commented on #3424
Hmm this is funny since it is directly from `std::fs::canonicalize_path` from Rust. I wonder why Rust adds that prefix on Windows...

[2019-11-30 09:12] tunnckoCore commented on #3422
Ah, actually, yeah - correct.

I can see why `copy` can and is following the underlying language API. But at least we should take the fact that's it's more intuitive and more natural to say "copy this to that", where `this` is `src` and `that` is `dest` - just like `cp` and `mv`.

Seeing such decisions not for the first time, I never understood why things like Deno (tools, languages and etc) that

[2019-11-30 09:14] kevinkassimo commented on #3424
Looks like libuv does remove this prefix: https://github.com/libuv/libuv/blob/076df64dbbda4320f93375913a728efc40e12d37/src/win/fs.c#L2483-L2499

[2019-11-30 11:22] zhmushan commented on #3424
@kevinkassimo I created a pr, remove the realpath prefix in windows

[2019-11-30 12:56] nayeemrmn commented on #3384
The answer is download the dependencies now, duh! Sorry I got confused.

You're right about `--no-fetch` being a meaningful flag. (Also if the point is to catch missing deps at `run`time then I understand why it wouldn't apply to `fetch`.) Thinking more clearly, it's completely unrelated to the proposed feature.

@ry What do you think about separately adding `--no-remote` regardless? I gave some u

[2019-11-30 16:07] ry commented on #3422
@tunnckoCore Much of Deno's internal code is ported from Go, [including this copy function](https://golang.org/pkg/io/#Copy). The ordering of arguments is intentional - it's like [strcpy in C](http://man7.org/linux/man-pages/man3/strcpy.3.html).

[2019-11-30 16:07] #3422 closed

[2019-11-30 16:31] tunnckoCore commented on #3422
Yea, okay. But why web developers should accept something inherited from lower-level bases and write in a way that's not aligned to some logical, natural & intuitive way? Okay, they will, and most probably won't care why it's that way, and learn it and write it that way, but...

And yea, okay, it's probably a bit religious thing. I'm in programming for a decade and I just don't getting why this is

[2019-12-01 12:55] nayeemrmn opened #3427 "Built-in lock file for subcommand std modules"
We obviously need SRI for the std modules used for some subcommands.

It won't suffice to just re-enable the lock flags for these subcommands and push this responsibility to users. The URLs (and the assumption of what they contain) are **fixed at build time and masked from users**. It only makes sense that the checksums should be built-in beside them and checked implicitly, IMO.

Related: #200.

[2019-12-01 13:56] deepu105 commented on #3149
@bershanskiy are you working on this? else I can give it a shot

[2019-12-01 15:58] ry commented on #3427
@nayeemrmn I agree. I would actually prefer we were able to include that source code in the binary - but there's the problem that prettier is quite big and would increase the executable size. I think your solution of having checksums at compile time is a good intermediate step.

[2019-12-01 19:23] #3424 closed

[2019-12-02 10:51] bartlomieju opened #3429 "Consider parking_lot crate for locks"
Ref #3375 - in that PR  @afinch7 introduced `RwLock` on op registry so ops can be dynamically registered from other ops. That was done due to fact that there's already lock held on `Isolate`.

I've been wondering on this subject a bit... There's this ['parking_lot`](https://docs.rs/parking_lot/0.10.0) crate that might have a couple of handy structures for our use case:
- [`ReentrantMutex`](https:/

[2019-12-02 10:56] bartlomieju opened #3430 "Consider eager poll and pending ops to use tokio::spawn"
With our eager poll mechanism we got some speed boost for our benchmarks but they are not yet satisfactory. The problem with eager poll is that it introduced big chunk of non-trivial behavior that is directly addressed in code (see `accept` and `accept_tls` ops). All of this is caused by the fact that after dispatching new op it is polled from context of other op.

In Tokio 0.2 there's a new versi

[2019-12-02 10:59] bartlomieju opened #3431 "Consider using tokio::task::LocalSet instead of futures::executor::block"
Recently I stumbled upon [`tokio::task::LocalSet`](https://docs.rs/tokio/0.2.2/tokio/task/struct.LocalSet.html) which seems that can be used for our use case of "sync" ops.

Documentation states that it should be used to run some futures on the same thread (that's what we want to do for "sync" ops effectively blocking the thread).

I haven't tested it yet, writing this down so it's not forgotten.

[2019-12-02 12:16] Nicify opened #3432 "Inconsistent behavior mixing promise and setTimeout"
[code]
same code different output

`node` and `deno`
![](https://i.loli.net/2019/12/02/p2ElmhZqVO96cdS.png)

browser
![](https://i.loli.net/2019/12/02/gjI56kczrVJ2uhA.png)

[2019-12-02 18:09] kevinkassimo commented on #3432
I believe the reason of our behavior here is due to `setTimeout` itself being internally implemented as microtask. Node.js and in browsers the microtask queue could be depleted before moving onto next task.

With Deno timers, however, once a `setTimeout` callback is triggered, all callbacks that have their timers expired (actually there is always only a single global timer used) would be triggered

[2019-12-03 05:10] kitsonk commented on #3427
Oooh... I like this idea! 👍

[2019-12-03 11:06] bartlomieju commented on #3365
Done in #3389

[2019-12-03 11:06] #3365 closed

[2019-12-03 11:11] bartlomieju commented on #3138
This should be fixed after #3389 landed

[2019-12-03 11:15] bartlomieju commented on #2798
Should be fixed with #3389 landed

[2019-12-03 11:15] #2798 closed

[2019-12-03 11:16] #3138 closed

[2019-12-03 22:48] #3384 closed

[2019-12-04 00:40] nayeemrmn opened #3437 "Feature request: deno clean"
Remove the cache files corresponding to the given targets.

- `deno clean src/mod.ts` ≈ `rm -f $DENO_DIR/gen/file$PWD/src/mod.ts.{js,map,meta}`
- `deno clean dir1 dir2` ≈ `rm -rf $DENO_DIR/gen/file$PWD/{dir1,dir2}`
- `deno clean https://deno.land` ≈ `rm -rf $DENO_DIR/{deps,gen}/https/deno.land`
- `deno clean --remote` ≈ `rm -rf $DENO_DIR/{deps,gen}/!(file)`
- `deno clean --history` ≈ `rm -f $DENO_

[2019-12-04 01:17] kevinkassimo commented on #3437
See #1687

[2019-12-04 01:49] vixalien opened #3438 "Support for windows 32"
# Could you please support windows 32 bit machines for the build.

I'm using Windows NT 10 15063

Building the app is quite a sassle for me (as win32 users) because:
- My windows version does __not__ support symlinks even though I enabled developer options.
![Image attached](https://user-images.githubusercontent.com/37999241/70102942-5a7cc380-1642-11ea-8348-e32e15620b26.png)
- Installing MSVC is q

[2019-12-04 02:42] hayd commented on #1456
I've added a serverless example to the deno-lambda repo:
https://github.com/hayd/deno-lambda/tree/master/example

It's a port of the [_Building a REST API in Node.js with AWS Lambda, API Gateway, DynamoDB, and Serverless Framework_ blogpost by Shekhar Gulat](https://serverless.com/blog/node-rest-api-with-serverless-lambda-and-dynamodb/) to deno. It uses (a [patched](https://github.com/chiefbiiko/d

[2019-12-04 03:19] #3432 closed

[2019-12-04 07:08] Fenzland commented on #2934
How about add the path of .d.ts in the URL like:
[code]
`#` in URL is just a client side thing, so the server will not care about this.

[2019-12-04 07:13] hayd commented on #3416
A related issue seems to be if there are 0 bytes to read (read waits forever).

[2019-12-04 13:43] Akimotorakiyu commented on #3438
I think, it's easy to install  windows x64.

[2019-12-04 13:45] Soremwar commented on #3438
Limited resources bro, that's not an option for many people.

[2019-12-04 14:59] ry commented on #3438
I'd be happy to take a patch for an x86 build.

[2019-12-04 16:44] asyncmax commented on #2301
I'm trying to use Deno to write a Kubernetes API client. Almost all Kubernetes servers use a self-signed ca setup, so this feature is crucial. Is this coming anytime soon?

[2019-12-04 17:03] bartlomieju commented on #2301
I think this should be straight-forward to add `--cert` flag to load additional certificate to HTTP client. I can take a look at that

[2019-12-04 17:33] asyncmax commented on #2301
Thanks for your quick response.

Because certificate requirements vary per API server and a single client should be able to connect to multiple servers at once, I believe we should provide it as a per-session option. Perhaps, we need a concept of configurable "connection pool" behind `fetch`, similar to Http Agent in Node?

Moreover, Kubernetes API Client must be able to parse `~/.kube/config` fir

[2019-12-04 17:45] bartlomieju commented on #2301
@asyncmax it looks like your use case is yet another beast.

Example provided by @tdillon that needs single certificate for transparent proxy is simple, but providing certificates for `fetch` will be significantly harder. Is there any spec for using custom certificate in `fetch`?

[2019-12-04 17:53] dnalborczyk opened #3440 "[macos catalina] build failures"
os: macOS Catalina 10.15.1

master @ https://github.com/denoland/deno/commit/32937251315493ef2c3b42dd29340e8a34501aa4

I followed the `build from source` instructions from: https://deno.land/std/manual.md#build-from-source

[code]

I was able to create a successful build on an Ubuntu 18.04 docker image.

[2019-12-04 18:02] dnalborczyk commented on #3440
just found: https://github.com/denoland/deno/issues/3153#issuecomment-544673630 [This comment was marked as outdated]

commenting out `third_party.download_clang_format()` in `/tools/setup.py` fixed it for me. third_party.download_sccache() doesn't exist anymore.

https://github.com/denoland/deno/blob/32937251315493ef2c3b42dd29340e8a34501aa4/tools/setup.py#L30

[2019-12-04 18:03] asyncmax commented on #2301
@bartlomieju As far as I know, there is no such spec in `fetch`. Actually, `fetch` may not be an appropriate entity to have that option That's why I am thinking we might need to introduce another configurable layer behind `fetch`. It can be also used for managing other features such as keep-alive.

BTW, is the TLS connection through `fetch` reused or re-established every time?

[2019-12-04 18:35] bartlomieju commented on #2301
I guess this might be the place for a library in userland.

Right now our HTTP client is one-off, there's an issue for that #3068 as well as PR #3099. It's waiting for upgrade to Tokio 0.2. Once we upgrade HTTP client will have connection pool and reuse connections.

[2019-12-04 19:18] kevinkassimo commented on #3440
@dnalborczyk Your `cargo test` failure looks a lot like you have some other server running on ports that the tests are using.

[2019-12-04 19:27] asyncmax commented on #2301
Yes, I agree. Maybe keep-alive is a bad example.

Sounds good. I guess what I want is a new Deno API that allows userland code to configure TLS parameters of the HTTP client.

[2019-12-04 19:34] dnalborczyk commented on #3440
thank you @kevinkassimo , that fixed the test run!

it seems a `previous test run` might have kept the test server hanging around.

https://github.com/denoland/deno/blob/32937251315493ef2c3b42dd29340e8a34501aa4/tools/http_server.py#L16

[code]

[2019-12-04 20:15] vixalien commented on #3438
Okay, my os version stuff looks like:
32bit windows x86 PC architecture
Can I upgrade to a windows version that
Support the x64 binary.
Can't someone cross-compile for x32?
Seeking.

[2019-12-04 20:38] dnalborczyk commented on #3153
@chrmoritz  I found this issue after opening a new issue: https://github.com/denoland/deno/issues/3440

the problem still seems to exist on `macos catalina`.

[2019-12-04 20:49] ry commented on #3438
@vixalien You can try submit a patch so that the CI produces the build. It's likely not as trivial as you're imagining tho.

[2019-12-04 21:02] chrmoritz commented on #3440
Looks like the fix floated over `third_party/depot_tools` in https://github.com/denoland/deno_third_party/commit/818d33a13b06c4863b0ddc20e89d35715c35b37c got accidentally reverted in the v8  7.9.317.12 upgrade in https://github.com/denoland/deno_third_party/commit/cab4821cd937dd3c927430f0f0e05a38af1b84a0#diff-452661d791c32d03de51b6ef4c687bf1L47-R47. Reapplying the first should fix running `.tools/

[2019-12-04 22:11] vixalien commented on #3438
@ry, Great.
Let's get started, How do I do that?

[2019-12-04 22:20] ry commented on #3438
@vixalien It's non-trivial but here's a start:

Here is where "cargo build" is executed in CI:
https://github.com/denoland/deno/blob/32937251315493ef2c3b42dd29340e8a34501aa4/.github/workflows/ci.yml#L123
You want to add a new build by specifying `--target` there...

But this is only the tip of what is likely a large iceberg of changes.

[2019-12-04 22:42] chrmoritz commented on #3440
This should hopefully stay fixed after #3441 (the `depot_tools` to the version used in v8 8.0 ) gets merged.

[2019-12-04 23:16] #3153 closed

[2019-12-04 23:16] #3440 closed

[2019-12-05 00:11] dnalborczyk commented on #3440
thank you @chrmoritz !! I can confirm: https://github.com/denoland/deno/pull/3441 fixed it!

[2019-12-05 14:07] bartlomieju commented on #2301
@asyncmax would you mind opening a new issue describing all of your needs there? After some thinking I came to a conclusion that we could expose JS API for creating Rust HTTP client with very little cost (it'd be a resource) so one could leverage some capabilities of `reqwest`.

[2019-12-05 15:48] vixalien commented on #3438
Well, it seems like Travis does not support windows architecture.
The only one solution will be when you remove the symlinks by
upgrading to rusty_v8 then I can (myself) build deno for 32 bit
architectures

[2019-12-05 16:29] asyncmax commented on #2301
@bartlomieju No problem. I will gladly do that soon.

[2019-12-05 17:18] ry commented on #3438
We don't use travis - we use github actions and build windows binaries there. But yes, this will be easier to undertake in the future.

[2019-12-05 17:53] piscisaureus opened #3443 "windows: `deno install` installs to the wrong directory"
My user profile is in `c:\users\bert`.
When I run `deno install bla http://bla.com/bla.ts` while I'm on another drive (e.g. `d:\`) then `deno install` will place installed binaries in `d:\users\bert`.

[2019-12-05 18:01] piscisaureus commented on #3438
@vixalien I have a strong suspicion the problem is not that symlinks don't work on your version of windows, but rather that the tool you used to extract the tarball doesn't know how to create symlinks.
I would suggest to use git. Make sure to enable symlink support `git config --global core.symlinks true`.

[2019-12-05 18:30] asyncmax opened #3444 "Configurable HTTP client"
This is a separate issue following up the conversation in #2301.

Currently, Deno doesn't support self-signed server certificates which are used by almost all Kubernetes deployments, including AWS and Google.

Also, TLS client authentication is a very common setup in Kubernetes.

To support this feature, we need to be able to specify these TLS parameters via Deno API somehow (I am using parameter

[2019-12-05 22:13] vixalien commented on #3438
@piscisaureus It may be so, I used [7zip](https://www.7-zip.org/) and I'm trying to use  the command `git config --global core.symlinks true` and also checking github actions for automating the build.
**Thanks*.*

[2019-12-05 22:32] ry commented on #3320
https://github.com/denoland/deno/pull/3446

[2019-12-05 22:32] ry commented on #3395
reopening. See https://github.com/denoland/deno/pull/3446

[2019-12-06 03:21] Akimotorakiyu commented on #3438
@vixalien, piscisaureus said, " I would suggest to use git". Maybe that's meaning use git command tool - gitbash, not windows command tool - powershell or cmd.

There are some confusing operations with powershell or cmd, maybe gitbash would be better.

[2019-12-06 12:21] David-Else opened #3447 "jsdom Port for 1.0 (Feature Request)"
@MarkTiedemann I was wondering if the jsdom port is still happening? I see it was never merged: https://github.com/denoland/deno_std/pull/542

It would be amazing to be able to test code for the browser in Deno 1.0. Thanks!

[2019-12-06 12:39] lucacasonato opened #3448 "Deno.openPlugin resolution is not inline with the rest of Deno"
Just played around with the new modules and found some inconsistencies with the rest of Deno.

- can not resolve `file://${path}` paths (resolves to `${cwd}/file:/${path}`)
- can not resolve external paths (`http://` and `https://`)
- relative paths resolve relative to ${cwd} and not relative to the module path

The resolution algorithm that is used by import should probably also be used for plugi

[2019-12-06 12:46] nayeemrmn commented on #3448
It's not a JS module, module resolution is its own thing. While URL plugins are interesting 😄, I think it's properly consistent with other FS ops.

I don't see why those shouldn't support the `file:` protocol, though.

[2019-12-06 13:25] MarkTiedemann commented on #3447
@David-Else To be honest, I just forgot about the PR. It was blocked by missing support for `.d.ts` files. As far as I know, Deno does support those type declarations now. Even then, there might still be some issues with the browser Window type being different than Deno Window - but hopefully nothing blocking a preliminary implementation that could be merged and refined later.

I currently don't h

[2019-12-06 13:33] ry opened #3449 "Add documentation in std/manual.md about plugins"
The folder test_plugin/, while showing an example, is not mentioned anywhere in the manual, and is not easy to find (since the name does not indicate it also being an example)

This could be a good first issue.

[2019-12-06 13:56] #3412 closed

[2019-12-06 13:59] lucacasonato commented on #3448
It is indeed not a JS module, but it is a module in the sense that you can use it to extend the funtionality of your programm - sort of like WASM. Also I don't think its really comparable to an fs op because its purpose is enirely different. It should fall inline with how imports work because thats what openPlugin does - it imports a plugin for use.

I think it is important that URL plugins are a

[2019-12-06 14:35] nayeemrmn commented on #3448
And that sense isn't sufficiently close to language level. Can you think of anything which works relative to module location that doesn't contain the `import` keyword? I wouldn't want to start confusing this distinction. It's normal for scripting environments to do everything with respect to CWD - the _language's_ core module system is usually the exception.

When you talk about it's purpose being

[2019-12-06 14:53] David-Else commented on #3447
I regret that at this point in time I don't have the knowledge needed to work on this, but fingers crossed someone reading this will :)

[2019-12-06 15:07] lucacasonato commented on #3448
I get what you mean. If openPlugin stays relative to cwd then that is fine I guess. You can always generate the relative path yourself with `import.meta.url`. Later we might want to allow you to directly import plugins via the `import` statement like we do for WASM - this would then be relative to your module path rather than cwd - like the WASM implementation we have.

Http imports should

[2019-12-06 15:55] rsp opened #3450 "Support of Clipboard API without `--allow-run`"
Summary
-
Deno could implement operations for getting and setting the system clipboard (copy/paste).

I wrote [a library for Deno that does that](https://github.com/rsp/deno-clipboard) but it needs the all-powerful `--allow-run` that ruins the permission system.

The browsers implement it with a standard API that could be used.

We would need new permissions like `--allow-copy` and `--allow-paste`

[2019-12-06 16:03] David-Else commented on #3447
@MarkTiedemann I am trying to use normal jsdom with deno and can't get it working as it is not compatible with es modules. `import jsdom from "jsdom";` gives `error: Uncaught ImportPrefixMissing: relative import path "jsdom" not prefixed with / or ./ or ../ Imported from "file:/// ..."`. There seems to be no file with an export to import from.

I have been struggling to use jsdom for my tests for

[2019-12-06 16:24] MarkTiedemann commented on #3447
I used `webpack-cli` to bundle up `jsdom` (see: https://github.com/MarkTiedemann/deno_std/blob/port-jsdom/jsdom/webpack.config.js). The resulting file starts like this: `var jsdom=function(e){...`. To use it with ES Modules, I simply used `sed -i.bak '1s;^;export ;' ./vendor/jsdom.js` to prepend `export ` so it says `export var jsdom=function(e){...` (see: https://github.com/MarkTiedemann/deno_std

[2019-12-06 18:44] kevinkassimo opened #3451 "Hide internal use/test only APIs from direct Deno namespace"
Typing `Deno` in REPL shows:
[code]
IMO they are for internal use or test only, and should not directly live under Deno namespace. Maybe we can move them to `Deno._internals` or `Deno[Deno.symbols.internal]`.

(Also think we should move `Deno.customInspect` to `Deno.symbols.customInspect`, as the name `customInspect` tells us nothing about it being a `Symbol` (its name actually sounds like a funct

[2019-12-06 19:10] vixalien commented on #3438
@Akimotorakiyu, I'm going to use git, Thank you.

The problem was [7-zip](http://www.7-zip.com) did not know how to use symlinks.

I tried using git bash tar (without submodules) and It worked well, it only reported the lack of symlink targets because I had not fetched the submodules (chromium build, etc). Currently, I'm going to work on it and then maybe this issue will be closed.
Thanks.

[2019-12-06 20:43] kitsonk commented on #3451
I like both suggestions.  Better to use `Deno.symbols` than the `_` as well.  I think also on the `Deno[Deno.symbols.internal]` we should set the properties to be non-enumerable as well.

[2019-12-06 23:19] lucacasonato opened #3453 "Resource table for plugins"
I think plugins should be able to use the resource table to some extent. If this is not the case every plugin will need to build their own resource management system, with extra ops to list and close resources. If plugins can just use the builtin resource table, they can just use Deno.close and Deno.resources to close and list resources.

[2019-12-06 23:25] kitsonk commented on #3448
I don't see why we wouldn't use the same logic to resolve plugins as we would other resources.  Supporting remote plugins though (via HTTP) I think is potentially a different thing.  Even though they are different, having two different resolution schemes is fairly non-sensical.  The only reason for it would be to confuse users.

[2019-12-06 23:42] lucacasonato opened #3454 "Plugin ops don't count towards op metrics"
Ops that are dispatched by plugins don't count towards Deno.metrics. This is because they don't go through ThreadSafeState.core_op.

[2019-12-07 01:10] lifeiscontent opened #3456 "tty rows / columns"
is there a way to get the rows / columns of the current terminal? I'm trying to create a terminal app and it requires the knowledge of the width/height of the screen. to know where to draw.

[2019-12-07 03:58] hsiaosiyuan0 opened #3457 "unexpected dynamic import on string literals"
Hi,

It looks like a bug while Deno doing its import statements parsing or regexp, below is the reproduction code:

[code]

results:

[code]

here is the potential being misrecognized statement in that js file:

[code]

Does Deno use regexp to match the dynamic import expressions? I think it's  is a pretty unlikely scenario if a syntax parser is applied.

please correct me if something wrong

[2019-12-07 04:02] nayeemrmn commented on #3457
Duplicate of #3089. This is a reported TS bug.

[2019-12-07 04:24] kevinkassimo commented on #3456
We don't have that binding yet. It makes sense for us to implement it through crates like https://crates.io/crates/termion

[2019-12-07 04:28] hsiaosiyuan0 commented on #3089
I glanced the implementation of [ts.preProcessFile](https://github.com/microsoft/TypeScript/blob/9c71eaf59040ae75343da8cdff01344020f5bba2/src/services/preProcess.ts) it just do something like a regular expression does, so it's quick but missing some correctness because the syntax rules is a recursive structure and not very easy being processed via a linear process.

I don't know why `preProcessFil

[2019-12-07 11:53] bartlomieju commented on #3453
Yeah, that was done intentionally to not expose anything besides control buffer and zero copy buffer to ops in plugins. It definitely makes sense to give access to `ResourceTable` but I'd opt to defer it until we split ops into crates - that will require some refactors to ops signatures (probably).

[2019-12-07 13:57] lucacasonato opened #3460 "Give plugins access to json_op helpers"
It would be nice if Deno would expose the json_op rust helpers fully and also expose the json_op ts helpers. These helpers are very useful as they do a lot of the work related to async ops for you.

The Rust helpers are pretty much completly exposed, except for the `blocking_json` helper, which is not exposed in ops/mod.rs.

The TS helpers would probably have to go into some std/plugins package. T

[2019-12-07 15:37] bartlomieju commented on #3460
This is part of https://github.com/denoland/deno/issues/2180

[2019-12-07 18:20] axetroy opened #3461 "release assets is not a executable file"
[code]

[2019-12-07 20:09] #3454 closed

[2019-12-07 20:28] ry commented on #3460
I guess we could move those helper functions into the core deno crate - they would be easier to access there.

[2019-12-07 20:31] ry commented on #3461
I'm not sure what error you're experiencing, but it works for me.

[code]

[2019-12-07 22:16] hayd commented on #3461
@ry axetroy expects that the binary would have executable permission after gunzip i.e. chmod wouldn't be necessary.

Since gzip compress/decompress is supposed to retain file permissions this is a little surprising.

[2019-12-07 23:33] kitsonk commented on #3089
Yes, correct.

As far as fixing the bug, I am sure the TypeScript team would welcome the contribution.

[2019-12-08 00:21] kevinkassimo commented on #3367
Worth noting this makes building and publishing native plugins harder (have to clone the repository and use relative path to deno crate in `Cargo.toml`)

I'm planning to try building something that automatically download plugins using `cargo`, and this is a main blocking issue.

[2019-12-08 00:33] ry commented on #3367
The problem is only with the windows crate... as a short term solution we could remove support for windows crate and publish 0.26

[2019-12-08 00:56] zhmushan commented on #3443
This is caused by [`const HOME_PATH = HOME || HOMEPATH;`](https://github.com/denoland/deno/blob/f51dcc12d7a75a677529d63eb53d7a577d5b9289/std/installer/mod.ts#L84)
Maybe we should use USERPROFILE as degradation on Windows

[2019-12-08 02:58] hsiaosiyuan0 commented on #3089
The first target in our case is the correctness rather than performance in their situation.

Good to know that, thank you

[2019-12-08 02:59] #3457 closed

[2019-12-08 05:05] kitsonk commented on #3089
Actually, we introduced it to improve our performance and allow the whole of the TypeScript compiler to operate in an asynchronous fashion.  There is a work around, to not use string literals that contain something that looks like an import statement.

[2019-12-08 06:27] kevinkassimo commented on #3367
Hmm I wonder if everything in the `deno` crate is needed to create a plugin. It might make sense to split out another crate that provides the minimal interface just for plugin message passing (but yeah this also means plugins using this minimal crate would not be able to create workers)

[2019-12-08 13:12] bartlomieju commented on #3444
So my initial thought was to expose `const httpClient = new Deno.HttpClient()` API which would create a new resource (`HttpClient`). That resource stores `reqwest::Client` instance and is simply proxying all interesting methods.

[code]

[code]

NOTE: Because `HttpClient` is a resource it must be closed manually by user otherwise it will stay in resource table.

Those needs can be addressed using