[2018-09-13 21:13] pyk commented on #593
I think this issue should be closed by #722

[2018-09-14 00:44] ry opened #744 "Don't use ExportBuf in deno::Send"
Internally, in libdeno, when `deno.send()` is called, the ArrayBuffer argument is externalized. This was added so that ownership could be passed to Rust. However as it is we do not do that, we free the buffer during the same call.
https://github.com/denoland/deno/blob/0ca7301a2d6405101569e073153536aa99a084c9/libdeno/binding.cc#L221-L233
Remove `ExportBuf()` call and use V8's `GetContext()` instead

[2018-09-14 00:50] ry opened #745 "Fix new rust 1.29 deprecation warning"
[code]

[2018-09-14 05:57] kevinkassimo commented on #745
Taking this. PR would be ready soon

[2018-09-14 23:26] JohnstonCode opened #753 "Unable to build from source"
Followed the build instructions and getting these errors. What am i doing wrong?

[code]

[2018-09-15 08:39] ztplz commented on #753
I got the same error, make sure your current Rust version is 1.28.

[2018-09-15 08:45] JohnstonCode commented on #753
Yeah running `rustc 1.28.0 (9634041f0 2018-07-30)`

[2018-09-15 11:10] JohnstonCode commented on #753
Removed and readded rust. Seems to have fixed it. Strange.

[2018-09-15 11:10] #753 closed

[2018-09-15 21:18] CanRau commented on #199
some thoughts (might be mentioned already?!)

I like [koa](https://github.com/koajs/koa)s middlewares, as mentioned in the 2. comment https://github.com/denoland/deno/issues/199#issuecomment-395532608 by @matiasinsaurralde
but I also really like the "less hidden magic" approach of Zeits [micro](https://github.com/zeit/micro)

[2018-09-16 06:56] kitsonk opened #755 "Lack of formatting does not fail build"
I just ran `./tools/format.py` when submitting a PR and it picked up a trivial formatting change:

[code]

It feels like this things should fail the CI.  I am not sure why they don't.

[2018-09-16 07:03] qti3e commented on #755
Related to #363

[2018-09-16 11:33] srijanreddy98 opened #756 "deno.statSync(file).mode returns incorrect mode/ permissions."
The mode returns is (32768 + modeOfFile). If I subtract 32768 (2^15) I get the correct mode.

Example
If permissions of foo.txt is 0o755, then mode returned is 33261. 0o755 in decimal is 493. 32768+493 is 33261

[2018-09-16 13:12] #756 closed

[2018-09-16 15:22] linushp opened #758 "换语言了吗？之前不是用Go的么？编程rust了？"
？换语言了吗？之前不是用Go的么？编程rust了？

[2018-09-16 15:49] kevinkassimo commented on #758
(For others, he is asking if and why Deno has switched to Rust. I speak Chinese so I'll reply answer to his question and request no more such questions in the issues)

@linushp 你好。的确是从Go换成了Rust，核心原因是Go也是一门自动垃圾回收语言，对性能会造成一定程度的消耗。详见 #208 #165
还有希望不要再在issue里进行提问（首先issue是用来追寻现存问题和设计讨论用，而非问答，特别是直接用中文，主要的maintainer都看不懂啊。。。）。个人建议这类问题可以去stackoverflow/segmentfault甚至在知乎上问（比如向justjavac几位）。Deno也有一个[gitter群](h

[2018-09-16 16:12] #758 closed

[2018-09-16 17:08] kevinkassimo opened #759 "`clearTimeout` causes panic when trying to clear a complete/non-existent timer"
Deno would panic when executing code like
[code]
With error message
[code]
Caused by https://github.com/denoland/deno/blob/00404865395696fa38e544621ad67a9c2da2f455/src/handlers.rs#L607

Should we remove this `assert!`? Neither browser nor Node would complain for this case

[2018-09-16 19:03] devongovett commented on #362
FWIW, you can set `--target=node` on Parcel and those polyfills won't be included...

[2018-09-16 20:35] #759 closed

[2018-09-18 18:44] piscisaureus commented on #745
https://github.com/denoland/deno/compare/ba8757b...c7a4ca3

[2018-09-18 18:44] #745 closed

[2018-09-18 18:51] ry commented on #374
Rust warnings have been made errors in 850fca8fcbad839c5b8a052517acee95851df321

Just need to deal with clang errors now.

[2018-09-20 00:35] greim commented on #725
Async iteration is idiomatic to JS/TS and would allow:

[code]

You could hook into `break` by implementing `.return()` on the iterator to perform any cleanup. Also these things naturally handle back pressure and can be composed/pipelined in various interesting ways.

[2018-09-21 14:21] kyranet opened #779 "Add REPL"
It would be very nice to have a [REPL](https://en.wikipedia.org/wiki/Read%E2%80%93eval%E2%80%93print_loop) in deno, which would help us to test code quickly. Currently, it exits the process with error code 1 and the message "No input script specified.".

[2018-09-21 15:58] ry commented on #779
Yes definitely. I’d like to wait until a couple of important refactors are landed before trying to do the REPL: #733 and #721

There’s some debate as to whether we should use a readline/repl library from rust or develop our own in JS (as we did in node). I am leaning towards using a rust lib...

[2018-09-21 16:12] ry opened #780 "Benchmark wanted: code boot vs warm boot"
Currently there is no way to force cold boot besides deleting `~/.deno` - so maybe we need a flag to do this benchmark (see #790)

cc @kt3k

[2018-09-21 16:12] ry opened #781 "Warm up snapshot"
Optimize cold startup - we should see an improvement in the benchmark (See `tools/benchmark.py`)

maybe running thru the unit tests is a good way to warm it up.

A good solution to this issue will only touch code in  `//libdeno/`.

Hint 1: warm up execution should take place approximately here: https://github.com/denoland/deno/blob/3ad48bdb3e6372f55579808535ce2c17809178ff/libdeno/snapshot_creator.

[2018-09-21 22:03] ry opened #783 "Benchmark wanted: max RSS of tests/002_hello.ts"
cc @kt3k

[2018-09-21 22:20] ry commented on #695
@qti3e has a good but incomplete start on the problem.

Some hints at taking it further:
1. The call to `./tools/build.py` can be optimized. We don't need to build the deno executable with gn, as cargo is going to take care of that for us. Thus `./tools/build.py libdeno` is sufficient.

1. The resulting libdeno static library will be located at `out/debug/obj/libdeno.a`.

1. You need to tell cargo

[2018-09-21 22:45] kevinkassimo commented on #781
(Warning: I'm not familiar with v8)
It seems that the two example tests from V8 are [skipped](https://github.com/denoland/deno_third_party/blob/09c4885d0bb302c7c0547763bf07485578567251/v8/test/cctest/cctest.status#L217-L218) a while ago. Stuff has been moved to [`mksnapshot.cc`](https://github.com/denoland/deno_third_party/blob/09c4885d0bb302c7c0547763bf07485578567251/v8/src/snapshot/mksnapshot.cc

[2018-09-21 22:45] ry opened #785 "Benchmark wanted: size of out/release/deno in megabytes."

[2018-09-21 22:49] ry commented on #781
@kevinkassimo good info.

One other thought I had on this: it would be nice to add a new native function
[code]
then we can call it from `js/unit_test.ts`

[2018-09-22 00:19] ry opened #786 "Benchmark wanted: total number of threads created during `out/release/deno tests/004_set_timeout.ts`"
strace and grep might suffice for this.

[2018-09-22 01:29] piscisaureus opened #787 "Remove tools/run_rustc.py"
We currently need it because rustc does not include the path to the target file .d (depfile) output.

[2018-09-22 02:50] ry opened #788 "Add deno.trace()"
This can and should be implemented purely in JS. The idea is to be able to get a trace of which ops were executed for a given promise.

Example:
[code]
Alternative name `deno.opTrace()` maybe `deno.strace()`?

[2018-09-22 03:18] kevinkassimo commented on #788
Just curious, what would be a reasonable output if someone does
[code]
? (I would with a simplest implementation it could result in `ops -> []`)

[2018-09-22 03:31] ry opened #790 "Add flag --compile / -c to force re-compilation of TS."
This is needed to properly benchmark cold vs warm startup #780

start here https://github.com/denoland/deno/blob/master/src/flags.rs

This will require hacking js/compiler.ts

[2018-09-22 03:46] ry commented on #733
@sijad Once #779 lands we'll be able to use tokio-fs

[2018-09-22 03:58] ry opened #791 "Rename deno_set_flags to deno_set_v8_flags or deno_v8_set_flags"
https://github.com/denoland/deno/blob/8e958d3ad68e610061e82fb9f456eab79330633e/libdeno/deno.h#L29

[2018-09-22 04:01] ry opened #792 "Rename libdeno::DenoC to libdeno::deno or libdeno::isolate"
https://github.com/denoland/deno/blob/8e958d3ad68e610061e82fb9f456eab79330633e/src/libdeno.rs#L9-L11

[2018-09-22 04:56] ry opened #793 "Rename deno.argv to deno.args"

[2018-09-22 05:27] ry opened #794 "Move js/*_test.ts to tests/"
Including unit_test.ts js/testing/ and test_util.ts.

js/ is now going to be reserved for code that gets bundled into the runtime. (Uses node imports to resolve modules in //third_party/node_modules.)

tests/ is now code that runs against the runtime. (Uses deno imports.)

[2018-09-22 06:13] kt3k commented on #780
If the flag is landed, it's easy to add it the benchmark chart.
For the benchmarks of thread counts or binary sizes, the script needs some enhancement for showing the different types of the data.

[2018-09-22 07:59] #788 closed

[2018-09-22 10:03] bartlomieju commented on #790
AFAIK I think we should add check for `--compile` flag here https://github.com/denoland/deno/blob/master/js/compiler.ts#L419
to force compilation.

I am not sure how to get flags passed down to compiler though

[2018-09-22 13:03] Ashniu123 opened #802 "Separate build instructions for Windows"
Hi,

I was trying to build deno on Windows when I ran into a large amount of errors. Currently also I am unable to finish my build.

After setting GYP_MSVS_VERSION by `set GYP_MSVS_VERSION 2017` (I have installed VS2017 Build Tools already), the error I am facing is this

[code]
I would like to know how the current Windows build is being done and perhaps separate build steps be written for the Win

[2018-09-22 13:52] #793 closed

[2018-09-22 13:52] #792 closed

[2018-09-22 13:53] #791 closed

[2018-09-22 16:32] Mefffiu commented on #794
Let me give a try.

[2018-09-22 17:05] iamjesse98 commented on #802
I am also getting python errors like Queue, cStringIO modules not found.

[2018-09-22 17:29] hayd commented on #802
@iamjesse98 are you on python 2.7? Please create a separate issue with the stacktrace.

[2018-09-22 19:28] ry commented on #802
cc @piscisaureus

[2018-09-22 22:46] iamjesse98 commented on #802
Yes I'm using python 2.7 in windows OS, I'll surely create a separate issue with stacktrace.

[2018-09-23 05:46] Ashniu123 commented on #802
Back to original topic,
I raised this because I think that it will be better to have proper build instructions for separate platforms like in some major repos ([node](https://github.com/nodejs/node/blob/master/BUILDING.md) and [vscode](https://github.com/Microsoft/vscode/wiki/How-to-Contribute#build-and-run-from-source))
so that more people can contribute to it (like me)

[2018-09-23 15:19] Ashniu123 opened #807 "Tests failing showing error TS5009: Cannot find the common subdirectory path for the input files."
I ran into this error when running `python .\tools\test.py`

[code]
OS: Windows 10 x64
Node version: v8.12.0
NPM version: v6.4.1

How to solve this issue?

P.S. Similar issue was faced [here](https://github.com/ivogabe/gulp-typescript/issues/193) and [here](https://github.com/Microsoft/TypeScript/issues/11727) not sure if both are relevent but I can't figure it out still.

[2018-09-23 15:54] #785 closed

[2018-09-23 21:50] kevinkassimo commented on #720
Random simple thoughts: if we are supposed to support child process in deno some day, --allow-write will also allow program to write any code in files and execute with permissions deno could not monitor

[2018-09-23 21:53] hayd commented on #566
[Top frequently used python modules](https://www.programcreek.com/python/index/module/?action=index&page=1). I pulled out the top from the first couple of pages:

https://gist.github.com/hayd/742dab707bee1d34f4503357f1909d72

Many deno already has / or v8 comes with. Just throwing this out there...

[2018-09-23 22:45] kevinkassimo opened #808 "`eval("unknownVariable")` throws cryptic error message"
When running
[code]
Deno gives the following cryptic error message.
[code]

[2018-09-24 08:26] kt3k opened #812 "Website scripts need tests"
We started hosting the website of the benchmark data in #777 and #798.

Currently website's script doesn't have tests and is only tested by hands. I think it's necessary to have tests of them in unit testing style to enhance them in various directions.

[2018-09-24 14:24] ry opened #814 "Use kKeep for snapshot"
See https://github.com/denoland/deno/pull/784

Seems to be broken on OSX.

[2018-09-24 15:14] manidlou opened #815 "Implement deno.symlink() for Windows"
[code]

[2018-09-24 15:31] #812 closed

[2018-09-24 15:57] ry opened #816 "Benchmark wanted: Count number of syscalls performed during `tests/002_hello.ts`"
cc @kevinkassimo @kt3k

This should be done after #811 lands.

[2018-09-24 15:59] ry commented on #815
See discussion here https://github.com/denoland/deno/pull/742

[2018-09-24 17:28] ry opened #817 "Swallowed error"
If this script is run without `--allow-write`, the error is swallowed:
[code]

[code]

[2018-09-24 19:42] #808 closed

[2018-09-24 20:05] ry opened #818 "Benchmark wanted: snapshot and bundle sizes"
[code]
These should be displayed on the same graph as the executable size.
* snapshot.bin is strictly less than the exe and is included directly - so it will be nice to know how much "extra" binary we have.
* `main.js` and `main.js.map` are non-linearly mapped into `snapshot_deno.bin` - so it will be interesting to see how changes in their sizes effect the resulting snapshot size.

[2018-09-24 20:32] kumaran-14 commented on #794
Is it still availabe?

[2018-09-24 20:39] Mefffiu commented on #794
@kumaran-14  Feel free to implement, first come, first served.

[2018-09-24 21:11] #624 closed

[2018-09-25 00:59] ry opened #822 "Benchmark wanted: travis compile time"
This should be queryable from travis or github. Just interested in how long people are waiting for their PRs to build. We don't need to store any data locally. I just want to be able to see it on [the benchmark page](https://denoland.github.io/deno/), as this is a major source of problems.

[2018-09-25 02:16] #744 closed

[2018-09-25 02:31] ry opened #824 "Benchmark wanted: time it takes to run tools/test.py"
Since tools/test.py will have already run when tools/benchmark.py runs, it should be relatively easy to capture the time it took in .travis.yml and pass it via the command line to tools/benchmark.py.

[2018-09-25 08:42] trylovetom commented on #199
Hope api similar to [Micro JS](https://zeit.co/blog/micro-8). To being lean and explicit.

[2018-09-25 08:51] hardik140397 commented on #794
Is the issue still available? Can I gice it a try?

[2018-09-25 12:47] #802 closed

[2018-09-25 12:51] bartlomieju commented on #790
This issue can be closed

[2018-09-25 13:16] #790 closed

[2018-09-25 16:42] kevinkassimo commented on #817
Could not reproduce this issue on both mac and linux (fedora) from latest master. I got the error message as expected
[code]

[2018-09-25 17:13] #780 closed

[2018-09-25 17:34] kevinkassimo opened #829 "Multiple concurrent `trace`s with reordered & postponed `await`s yields unexpected result"
Code demonstrating the problem:
[code]
__Expected output__:
[code]
__Actual output__:
[code]
__Cause__:
Current `trace` implementation assumes user would immediately `await`s for the trace once it is created, so that inner trace (living inside the function/promise being traced) could simply stack on current trace's stack. However, this is no longer true in the sample code, `trace2` would seems to

[2018-09-25 18:17] kevinkassimo commented on #829
My intuition is fix for this might be non-trivial, as there should be no simple way of associating calls (without using `caller`) with their called environment, and that the current `trace` implementation relies heavily on execution order

[2018-09-25 19:10] kevinkassimo commented on #816
@ry could close this issue (I forgot to use the `Close` clause in the PR)

[2018-09-25 19:34] ry commented on #816
Thanks~

[2018-09-25 19:34] #816 closed

[2018-09-25 23:32] kevinkassimo commented on #822
Does recording just time period of `./tools/build.py` suffice for this requirement?

[2018-09-25 23:43] ry commented on #822
Yes

[2018-09-26 00:08] #818 closed

[2018-09-26 00:16] kevinkassimo commented on #822
Haven't being able to find a nice way to plug travis total time running into benchmark, but there is a simple bash trick with `SECONDS` variable to record total seconds from `before_install` to `./tools/build.py` complete

[2018-09-26 16:29] Bassab03 commented on #817
Can't reproduce on Windows 10 build 17134 either.
[code]

[2018-09-26 16:39] ry commented on #817
Ok. I think I was experiencing this on a dev branch of some sort. It appears to be a false alarm. Thanks everyone.

[2018-09-26 16:39] #817 closed

[2018-09-26 17:49] kanishkarj commented on #725
Is anyone working on it? if not can someone help me in getting started?

[2018-09-26 17:50] hlege commented on #807
It is because deno try to compile the typescript sources that are located in two different partition (c:\\~\\.deno\\.., e:\\... )

My solution right now is:
Solution right now is to put your test file somewhere to c: partition.

[2018-09-26 17:57] ry commented on #725
@kanishkarj It's a big project. We're working towards it. #721 needs to happen first to establish the file descriptor table where sockets will be stored. We'll probably will have that by the end of the week.

[2018-09-26 18:16] kanishkarj commented on #725
I see. @ry thanks for the information..

[2018-09-26 19:05] ry commented on #593
This was completed in #722

[2018-09-26 19:05] #593 closed

[2018-09-26 19:08] ry commented on #373
Fixed in #777 see https://denoland.github.io/deno/

[2018-09-26 19:08] #373 closed

[2018-09-26 20:17] Ashniu123 commented on #807
Thanks a bunch. I think collaborators should find a way around this, because it could be a very common issue soon.

[2018-09-26 21:10] kevinkassimo commented on #829
@ry The main challenge I feel is to give `maybePushTrace` in `sendSync/sendAsync` some hint about which stack it should try to push command info onto. A solution currently in my mind is to create a masked version of `deno` with injected info about the specially created trace stack independent for each `trace` call:
[code]
This would require an API change to `trace` (no longer support promises as p

[2018-09-26 23:30] #684 closed

[2018-09-27 03:57] ry opened #843 "Benchmark frontend: when you click on a data point, you're taken to the commit."

[2018-09-27 03:58] ry opened #844 "Benchmark frontend: can't view the labels"
<img width="1242" alt="screen shot 2018-09-26 at 11 57 34 pm" src="https://user-images.githubusercontent.com/80/46122665-f82b6600-c1e7-11e8-816f-67db58cdc57b.png">

[2018-09-27 04:30] kevinkassimo commented on #844
Date seems to be a bit too vague (multiple commits on same day). Probably use just the last 8 digits of sha1 for now?

[2018-09-27 04:32] kevinkassimo commented on #843
Working on this (seems an easy tweak)

[2018-09-27 21:03] kitsonk commented on #471
If we wanted this to work while we are waiting on TC39/TypeScript, we would have to do a bit of _hackery_.

When emitting a module with TLA, we would have to specifically ignore the diagnostic error related to that.  TypeScript always emits, it is _us_ who then chooses to throw.  I _might_ be a good idea to actually log a warning, since when TLA arrives, it could be a different behaviour to what w

[2018-09-27 21:05] kitsonk commented on #471
The drawback, like the module specifiers ending in `.ts`, we won't be able to get any of the editors to accept this code... so while it will run properly under deno, it won't look pretty in editors.

[2018-09-27 21:46] ry commented on #471
https://github.com/tc39/proposal-top-level-await#optional-constraint-top-level-await-can-only-be-used-in-modules-without-exports
Potentially it will be easier to do with this restriction. We only really need it for "main" scripts.

[2018-09-28 13:33] agolomoodysaada opened #852 "Unknown extension during import of dependency module"
myfile.ts

[code]

run deno version: v0.1.5

[code]

Error shows up

[code]

[2018-09-28 18:05] kevinkassimo commented on #852
[code]
This caused the file to be downloaded as `separator`, which does not have an extension. Furthermore, I believe the package still has a lot of issues besides this one, including its reliance on `package.json` for importing other modules (like `chalk`).

[2018-09-28 20:45] agolomoodysaada commented on #852
Should deno be able to support certain features at import time? What's the course of action here?

[2018-09-28 20:48] ry commented on #852
I'm not opposed to supporting it - it'll make adoption easier.

[2018-09-28 21:49] kitsonk commented on #852
@ry point though, your not implying supporting `require()` though, so this would still fail.

[2018-09-28 22:01] kitsonk opened #857 "Supporting extension-less module resolution"
Supporting extension-less module resolution should be considered for Deno.  It would help adoption, specifically because it would allow authoring of local code in editors with full "out of the box" TypeScript support.

## Resolution

This would likely require Deno to attempt to resolve modules in a specific order, applying the extensions.  For example:

* Module Specifier: `./foo/bar`
* Try to res

[2018-09-28 22:13] ry commented on #857
Yes I ageee - we can support it to help adoption - but I think the code/docs should be heavily commented it’s meant as a stop gap solution.
I guess where this would happen is in src/deno_dir.rs during resolve_module().
A patch should introduce unit tests in deno_dir.rs and compiler_test.ts

[2018-09-28 22:18] guybedford commented on #857
Note that Node.js itself is currently in the process of considering if this should be removed entirely. There have also been issues with ".mjs" and ".js" extensions both being checked as well causing instance issues with libraries such as GraphQL which seems to also be leading in the direction of remaining explicit.

For what it is worth, my opinion currently is that we should mandate extensions f

[2018-09-28 22:36] agolomoodysaada commented on #852
Closing this issue in favor of #857 discussion. Thank you everyone

[2018-09-28 22:36] #852 closed

[2018-09-29 00:53] #721 closed

[2018-09-29 01:07] jaydenseric commented on #625
Very frustrating things about Node.js `util.inspect` that excludes it from being used as part of a snapshot testing solution:

- It (and is documented to) outputs differently between Node.js patch or minor releases. If you test your package across multiple Node.js versions, snapshots will pass on some and fail on others.
- It has "smart" behavior that puts more details on one line if it is short e

[2018-09-29 06:56] Ashniu123 opened #861 "TS5009 error when working directory path different from .deno directory path"
### Code
[code]

### Execution
[code]
*I don't know why the weird characters show up.*

### Reason
In Windows where absolute path differs `E:\...` and `C:\...` this issue is and will be prevalent

### Solution
Keep working directory and deno in same partition (example: both in `C:\...`)

*Better Solution:* Download deps in working directory?
This is because generally people have their working dire

[2018-09-29 07:41] kitsonk opened #862 "Consider resolving external JavaScript as "typeless" and assumed AMD/UMD"
Importing existing external JavaScript, especially either UMD or AMD bundles, could provide exports to deno just fine, but currently deno _barfs_ on these files with things like:

[code]

For files that the resolved module specifier is `.js` we could just inform TypeScript the module is an "any" module and go ahead and run the module through an environment with `define()` to collect any module fac

[2018-09-30 14:59] ry commented on #779
Both of the above mentioned issues are now solved. I'm open to patches for REPL now.

Thoughts:
- I think this should be done using a Rust readline crate (e.g. https://github.com/kkawakam/rustyline).  Discuss in this issue first which crate you would use.
- I am open to a pure JS implementation, but skeptical that this can be done more easily than with a rust lib.
- Windows must be supported.
- Ea

[2018-09-30 15:17] ry opened #865 "Windows build issue"
@rjoydip reported:
When in executing build command ./tools/build.py in windows I am getting below error
[code]

[2018-09-30 16:11] ry opened #866 "Remove url crate, use http::uri::Uri instead"
Hyper is our http library and has [its own url parsing](https://hyper.rs/hyper/master/hyper/struct.Uri.html) functionality. Therefore we should use that instead of the standalone "url" crate. This should reduce binary size slightly.

Also check that the dependencies of url aren't orphaned. If they are, remove them too
https://github.com/denoland/deno/blob/f51903f7736e3969ba0003c074d80950aca74f70/b

[2018-09-30 19:54] #865 closed

[2018-09-30 21:38] piscisaureus commented on #781
Depends on #814.

[2018-10-01 11:06] kumaran-14 commented on #794
@ry @kevinkassimo , I get this error while trying to run test.py.
I have node lts, python 2.7.15 installed.
I first forked this repo and cloned the fork using --recurse-submodules option.
`kumaran-14@Zeus:~/Development/OSS/deno$ python ./tools/test.py`
`Deno test server http://localhost:4545/`
`Required target doesn't exist: /home/kumaran-14/Development/OSS/deno/out/debug/deno`
`Run ./tools/build.

[2018-10-01 14:58] reggi opened #872 "Can't pass console.log to `.then()`?"
Can't pass console.log to `.then()`?

I tried this, and it worked:

[code]

But this fails:

[code]

    at log (deno/js/console.ts:138:10)

[2018-10-01 15:08] kevinkassimo commented on #872
Seems to be a missing `this` issue. Working on this.

[2018-10-01 15:30] kevinkassimo commented on #794
@kumaran-14 Have you run `./tools/build.py` ?

[2018-10-01 16:41] #872 closed

[2018-10-01 17:09] ry opened #876 ""compiler" should not be exposed as a module"
Currently in Deno programs, one has the possibility of doing `import * as compiler from "compiler"` to access Deno's internal compilation infrastructure. This was added early on to do unit tests in `js/compiler_test.ts`. But now that we're further along, we need to figure out a better way to do this without exposing internal interfaces.

The main change that needs to be done is remove `|| name ===

[2018-10-01 20:41] piscisaureus opened #878 "Move timers out of Deno"

[2018-10-02 16:38] #857 closed

[2018-10-02 23:47] ry opened #883 "Add performance counters"
I want to keep some internal counters for various statics. The prototype implementation [began work on this](https://github.com/denoland/deno/commit/a1c0862047c47f02fb07bcf01f35e3cf5c2266d3)
https://github.com/denoland/deno/blob/golang/dispatch.go#L14-L20

The stats should be stored in `IsolateState`:
https://github.com/denoland/deno/blob/eba58b718860035b830d0739a02c6a382e1f3307/src/isolate.rs#L53

[2018-10-03 09:24] ry opened #886 "deno.open() doesn’t support write or append"
Only read currently.

https://github.com/denoland/deno/blob/3c080ca39abff28ed2cc6ac618558cced9c2e842/js/files.ts#L29-L52

[2018-10-03 15:09] kt3k opened #888 "Some test cases are being skipped in CI?"
Starting from this build https://travis-ci.com/denoland/deno/jobs/147902463, the log output of test cases in CI seems incomplete. (The unit tests seem stopping in the middle without error.)

---
update:
When I set DENO_BUILD_MODE=release, the same thing happens on my local machine (mac).

[2018-10-03 16:19] ry commented on #726
@Janpot I'm starting on the http server now. I really like your idea of an inverse fetch. I probably won't do this for the first pass implementation - we need to get something simple working first - but I will explore it once we have some basic examples working.

We need to support streaming bodies from `fetch()` (#522) before we can think about server inverse.

[2018-10-03 16:30] ry commented on #522
Fetch has been improved a lot since the creation of this issue - the major missing piece is now streaming response body. I will probably work on this soon - but in case someone is interested - here's a bit of an outline of how it should be done.

- Fetch response bodies should be registered as resources in `src/resources.rs` so that we can use the zero-copy `deno.read()` op with them. See https://

[2018-10-03 18:36] ry opened #890 "Benchmark wanted: copy throughput"
outlined here: https://github.com/denoland/deno/pull/884#issuecomment-426747165

Should wait for #884 to land.

In the future we will want to compare it to TLS throughput.

It makes sense to also compare it to a program that measures stdio throughput:
[code]

[2018-10-03 20:45] #878 closed

[2018-10-03 22:27] kevinkassimo commented on #888
Same thing happened to me. Seems that most `async` tests are dead.

[2018-10-03 23:45] ry opened #895 "copyFile reports different error codes"
https://github.com/denoland/deno/commit/3c080ca39abff28ed2cc6ac618558cced9c2e842#r30761226
https://github.com/rust-lang/rust/issues/54800

Unless Rust fixes this immediately, we need to work around this in our code.

[2018-10-04 00:00] ry opened #896 "Combine ModuleId and ModuleSpecifier"
https://github.com/denoland/deno/blob/3c080ca39abff28ed2cc6ac618558cced9c2e842/js/compiler.ts#L40-L49

@kitsonk - correct me if I'm wrong - but these seem to be the same thing. Whichever name is chosen, it should be consistent with what's used in `src/deno_dir.rs` (which I think is `module_specifer`)

If these are indeed distinct concepts the docs could use some improvement.

[2018-10-04 00:03] ry opened #897 "tslint isn't being run on js/*_test.ts"
see tools/lint.py

[2018-10-04 02:18] piscisaureus commented on #886
Assigning self to not forget about this.

[2018-10-04 02:33] cByst commented on #897
@ry It looks like tslint is currently configured to lint only "node_modules/typescript/lib/lib.esnext.d.ts" and "js/main.ts" as well as their imports and their imports imports etc.

Are we missing more than just the tests here? If all we are looking to lint is under the js directory I can modify lint.py to lint the entire js folder which will exclude node_modules/typescript/lib/lib.esnext.d.ts (I

[2018-10-04 03:33] ry opened #899 "Benchmark wanted: listener.accept() latency"
The setup should be a tcp server which accepts and closes connections as fast as possible. The time between each accept is kept and a large numerical set is formed on which we calculate statistics. Should plot several lines: median, 90% percentile, 99% percentile over time

Not sure how to do the client side. Maybe use deno too.

[2018-10-04 03:56] kitsonk commented on #896
@ry I believe they are distinct concepts, or could be, depending on what happens with `ModuleId` in real life.  Originally we just had `ModuleId` and the comment indicated it was absolute (e.g. often resolves to the local cache).  For the `--deps` we want/need something that isn't the cached ID, therefore the `ModuleSpecifier` which will always be the "requested" ID which gets resolved, which is w

[2018-10-04 03:58] #725 closed

[2018-10-04 04:11] kanishkarj commented on #886
Hey! Can I work on this?

[2018-10-04 04:18] kevinkassimo commented on #886
@kanishkarj I think there is still some decisions need to make about the mode design before implementation could start

[2018-10-04 04:45] cByst commented on #897
hmmm me PR is going to fail CI for linting as this change will lint the test files that have never been linted before introducing what ever formatting and style issues that exist in them. I can open another PR that fixes those issues if you want to merge that before fixing the linter.

[2018-10-04 04:57] ry commented on #897
Same PR but two commits would be ideal. Thanks!

[2018-10-04 05:12] ry opened #901 "Syscall usage spiked after timer refactor"
The benchmarks page is working! https://denoland.github.io/deno/

<img width="848" alt="screen shot 2018-10-04 at 1 10 31 am" src="https://user-images.githubusercontent.com/80/46454051-70f36a80-c772-11e8-9324-e0801ff5b6ba.png">

The commit it points to is https://github.com/denoland/deno/commit/6cfc6b5d51fccdb1e5ae6ea0940dd87aadda4a82 which is the last of PR #885

Any ideas what the extra syscalls

[2018-10-04 10:47] benjamingr commented on #522
@ry talking to Jake and the `fetch` authors - it is probably fine (to a reasonable degree) to support compatibility through async iterators (since both Deno and ReadableStreams are becoming AsyncIterable). Although that's a concern to consider.

[2018-10-05 01:40] cByst commented on #897
Unfortunately after some more research it looks like type-checking dependent rules only work when using the project flag (-p) which cant be used to lint both the tests and the project ts files because they are not part of the project.
[code]
I think the best approach would be to break the lint up into 2 separate linting calls
[code]

If we implemented it this way we would get the type-checking dep

[2018-10-05 02:04] ry commented on #897
@cbyst ya splitting it up into two commands makes sense - thanks for looking into this

[2018-10-05 05:10] kanishkarj commented on #886
Okayy..

[2018-10-05 06:16] kitsonk opened #910 "JSDoc standards"
Now that we are exposing a lot of APIs, it would be good to agree the standards/_pro forma_ of documentation.

In particular, what a good JSDoc block would contain, like a description, examples, etc.  Also standards around if we doc each parameter, or generally admit them.

A decent example is the following which uses markdown indents for example code, which gets parsed by consumers of the TypeScr

[2018-10-05 11:18] ry commented on #888
It seems we have some sort of memory corruption happening - somewhere. I haven’t experienced it yet but we need to correct it.

 Chrome has all sorts of memory check tools
https://www.chromium.org/developers/testing/addresssanitizer
https://www.chromium.org/developers/testing/memorysanitizer
It shouldn’t be too much work to hook into these - I think it could be helpful debugging this issue.

[2018-10-05 11:29] #897 closed

[2018-10-05 13:15] ry commented on #901
Relaying a comment from @piscisaureus

What we really need to be doing is epoll on the main thread. It's ridiculous that we're dedicating a thread to it already. This would kill two birds with one stone.

[2018-10-05 13:31] ry commented on #910
Thanks for raising this issue. A few thoughts:
* I've never liked the syntax for jsdoc - it's very hard to type. I would much rather if any '//' comments before a function were interpreted as docs. However! I realize TS doesn't parse this - and it's beyond the scope of this project to address this issue.  Therefore we should just use what TS can parse.
* Code and documentation ought to first and f

[2018-10-05 13:58] ry opened #912 "tslint warnings"
Currently when I run `./tools/lint.py` I get the following
[code]
TODO resolve these warnings.

[2018-10-05 14:08] ry opened #913 "Use sccache exclusively"
We currently use a mixture of ccache and sccache to avoid hour long recompilations.

sccache caches rust builds.
ccache has better "sloppiness" settings.

It would be nice if we could remove ccache completely and only use sccache.

[2018-10-05 14:13] #876 closed

[2018-10-05 14:57] ry commented on #794
I will take this issue. Please do not submit a PR.

[2018-10-05 15:46] bartlomieju commented on #883
I'm working on basic implementation of this. I'll post PR later tonight

[2018-10-05 17:43] kevinkassimo commented on #899
Was working on this, but encountered the problem mentioned in #888 (event loop `ntasks` unexpectedly decrement and exit too early...) After applying #911 , things starts to work.
I feel debugging #888 would take longer time, dunno if we should temporarily land #911 to get async tests working first

[2018-10-05 20:48] kevinkassimo opened #919 "TCP echo server dies before completing deno.copy"
Run this script (`echo_server.ts`):
[code]
and then try
[code]
On mac, the server immediately dies, and the sending side would display
[code]

Should be related to #888 . `ntasks` is unexpectedly decremented to 0 prematurely.

[2018-10-05 20:59] ry commented on #888
Related fix: https://github.com/denoland/deno/commit/cfa54cabbdaca48d7623cd5fd5aada59b5e02040

[2018-10-05 21:08] ry commented on #919
Thank you. I can repeat and will work on this now.

[2018-10-05 21:25] kitsonk opened #920 "Support module specifiers with extensions in editors"
Mostly this is for tracking purposes.

Currently the TypeScript language services module specifier resolution does not allow extensions as part of the module specifier.  The TypeScript team's main argument is that all the main module loaders (AMD, CommonJS, SystemJS and native browser module loaders) support extensionless module resolution and has been the common standard.  Add to that the TypeScr

[2018-10-05 21:27] kevinkassimo commented on #919
@ry I feel that we would want to probably create priority labels for bugs? This one I feel is definitely like a P0 bug

[2018-10-05 21:50] ry commented on #920
Other solution: become popular and force the eco system to support us.
Including the extension is correct as this is how its done in the browser.
So it's their bug, not ours -- they'll come around. I'm not very concerned about this.

[2018-10-06 03:36] dmayerdesign commented on #203
Wouldn't portability just be a matter of transforming all the import paths in a project? Could it somehow be snuck into the default process of porting to browser-compatible JS?

[2018-10-06 07:08] im-not-a-programmer commented on #829
232323232323

[2018-10-06 10:47] cedric05 commented on #779
will try to implement

[2018-10-06 11:44] kumaran-14 commented on #794
Is this a difficult issue?

[2018-10-06 17:28] piscisaureus commented on #913
The sloppiness feature we really don't need actually. The chrome build system undefines the date/time macros, you can't use them.

[2018-10-06 21:33] qoh opened #929 "shebang support"
When using deno to write applications or tools, it is desirable to execute those directly as `binary [argv]`, rather than `deno path/to/binary.ts [argv]`.

It could be possible to build custom versions of deno with code embedded, but I won't cover that here (see #986).
In this issue I'm looking at using deno as an [executable interpreter with a shebang](https://en.wikipedia.org/wiki/Shebang_(Unix)

[2018-10-06 22:33] qoh opened #930 "Relative import uses HTTP from module loaded over HTTPS"
`entry.ts`
[code]

`dep.ts`
[code]

---

Running `entry.ts` locally works fine:

[code]

When attempting to run `entry.ts` over HTTPS, it:

* Loads `entry.ts` fine.
* Attempts to load `dep.ts` over *HTTP* rather than HTTPS.
* Gets a redirect to HTTPS, but does not follow it (see #931).
* Fails to find `dep.ts`.

---

[code]

---

[code]

[2018-10-06 22:46] qoh opened #931 "Does not follow redirects when loading remote modules"
I don't know if it's desired behavior to follow redirects, but it's not specified and I've noticed that it doesn't; if it's not supposed to, then I'd at least expect a message about why it refused to load.

This HTTP endpoint returns a redirect to a HTTPS version of itself:

[code]

Deno fails to load that module path:

[code]

---

[code]

See also #930.

[2018-10-07 02:12] ry commented on #930
Thanks for the detailed report. Definitely buggy behavior.

[2018-10-07 05:54] kt3k commented on #888
Now all test cases seem passing in CI. Thanks for the fixes!

[2018-10-07 05:54] #888 closed

[2018-10-07 21:58] qoh opened #935 "Error handler always reads error.stack, regardless of type (and blows up)"
The uncaught error handler seems to always try to display the `stack` property of the caught value, regardless of whether that value is an instance of `Error` or even an object at all.

This can either just be confusing:

[code]

Or worse, fail entirely:

[code]

It isn't good practice to throw values that aren't instances of `Error`, but it happens.

[2018-10-07 22:09] qoh opened #936 "Unable to catch error thrown inside async function"
[code]

[code]

---

If `fn` is synchronous instead, it works fine:

[code]

[code]

I thought it might be related to #919, but this also happens with my own build of master after that was closed.

[2018-10-07 23:40] kitsonk commented on #935
For comparision, this is what Node.js does:

[code]

And Chrome:

[code]

[2018-10-08 02:35] cedric05 commented on #779
came across https://github.com/sfackler/cargo-tree, which will print dependencies in tree, will try to change build files.

[2018-10-08 04:39] kevinkassimo commented on #936
I think it is probably related to the following code:
https://github.com/denoland/deno/blob/ffb41e61f138a683aac5fd89e0dd72b720c929d6/libdeno/binding.cc#L394-L400
From the [doc](https://v8.paulfryzel.com/docs/master/classv8_1_1_isolate.html#a702f0ba4e5dee8a98aeb92239d58784e), it seems that the handler could also [fire another event saying that a handler is later added](https://v8.paulfryzel.com/doc

[2018-10-08 04:56] kevinkassimo commented on #936
Okay so I think this is indeed the problem.
I did the following locally in `binding.cc`
[code]
The following is printed when running the provided code:
[code]
From the [doc](https://v8.paulfryzel.com/docs/master/namespacev8.html#a307b3674d4966684f8170a4fbd932eaf), `0` should correspond to `kPromiseRejectWithNoHandler` and `1` corresponds to `kPromiseHandlerAddedAfterReject`. So for some reason V8

[2018-10-08 05:33] kitsonk commented on #573
With the work on #632, I think there is an opportunity to take the output runtime library and generate a JSON structure that could be used to statically generate a website.  I am going to take a stab at that.

[2018-10-08 07:10] kevinkassimo commented on #936
@ry I created an [experimental branch](https://github.com/kevinkassimo/deno/commit/a60f3d45df162e3e1dd9481ff93af175c55aab29) to play around with this issue (I am not familiar with v8 so would definitely make some mistakes).
However, my attempt seems somehow fixed the issue (now with the intended output), but is also causing a test case to fail:
https://github.com/denoland/deno/blob/ffb41e61f138a68

[2018-10-08 07:36] ztplz commented on #936
@kevinkassimo  Yes, I think this is the reason why the test is not normal.

[2018-10-08 14:09] qoh commented on #930
Looks like the origin of the module is stripped away very early in `js/compiler.ts`, and never considered again.

Then `resolve_module` just gets the deps cache path `/home/ns/.deno/deps/cdn.rawgit.com/qoh/deno-remote-import-bug/tag/entry.ts` as its `containing_file`, which gives it no chance of knowing the correct protocol to use.

Then `src_file_to_url` just hardcodes a `http://` prefix: https:/

[2018-10-08 15:36] #935 closed

[2018-10-08 18:16] kevinkassimo opened #944 "Reenable shutdown tests for net_test.ts"
Currently, tests are disabled for `netCloseReadSuccess`, `netDoubleCloseRead`, `netCloseWriteSuccess`, `netDoubleCloseWrite`. The tests always pass on my local machine (macOS), but it seems the behavior is different on other platforms. (I myself don't have a windows machine)

Add this issue to avoid forgetting about it & in case others would like to contribute and fix them

[2018-10-08 21:05] DanielRamosAcosta commented on #912
This is already fixed by #916

[2018-10-08 21:14] qoh opened #945 "Async hooks"
This isn't a priority at all, but it would be great to see them exposed in the future. Thinking about it earlier rather than later might be a good idea however, given their complexity in Node.

[2018-10-08 21:21] ry commented on #912
Thx

[2018-10-08 21:21] #912 closed

[2018-10-09 01:41] hayd commented on #620
I think this is fixed now.

[2018-10-09 01:53] kevinkassimo commented on #620
@hayd seems true, duplicate of #808 and got fixed in #809

[2018-10-09 01:55] ry commented on #620
Thx

[2018-10-09 01:55] #620 closed

[2018-10-09 02:33] cedric05 commented on #779
using rustyline i created a repl loop, but i'm not able to import any deno modules/functions defined in deno.ts . how can we import them from pure js runtime ?
@ry

[2018-10-09 02:38] ry commented on #779
@cedric05 cool! we will have to hook into the ES module import hooks in V8 or pass the input thru TS... if you upload your patch as a PR, I’ll take a look and provide some more concrete guidance

[2018-10-09 03:03] cedric05 commented on #779
i can raise pr, but this is half baked

[2018-10-09 03:06] ry commented on #779
@cedric05 that’s fine - just add WIP to the title

[2018-10-09 03:13] cedric05 commented on #779
raised https://github.com/denoland/deno/pull/947. build will because of not having third_party FYI

[2018-10-09 16:14] ry opened #948 "stdout/stderr should not be line buffered"
we are using [tokio-fs's stdout](https://docs.rs/tokio-fs/0.1.0/tokio_fs/struct.Stdout.html), which writes to [std::io::Stdout](https://doc.rust-lang.org/std/io/struct.Stdout.html)

Rust's stdout is always line buffered:
https://github.com/rust-lang/rust/blob/e1643a8968753226dab7ab3c9fee826f097550f2/src/libstd/io/stdio.rs#L344-L349
We are not so happy with this behavior and likely want an always u

[2018-10-09 20:52] alexhultman commented on #890
What counterpart should it compare with? Golang? You need to set a performance goal such as "it should be similar to Golang". Then we need to port all benchmarks to (for instance) Golang so that we get *relative* numbers and not just "1 million unnamed units of performance". You want to get numbers like "0.79x of Golang".

[2018-10-09 21:03] ry commented on #890
No counterpart needed for the first version - would like to just get continuous look at the perf

[2018-10-09 21:58] ry commented on #890
Likely you are experiencing https://github.com/denoland/deno/issues/919
We’ll have a new release in a day or two

[2018-10-10 00:28] hayd commented on #948
Is an alternative to flush after each write? Or is the concern that that'd be inefficient?

[2018-10-10 00:31] #931 closed

[2018-10-10 00:32] ry commented on #948
I think line buffered is confusing - and especially so when we don’t even allow directly writing strings - so I’d prefer to not add flush

[2018-10-10 00:35] hayd commented on #948
I mean, flush in rust after each write: https://github.com/hayd/deno/commit/db4ca6cce40d0823423dab35abdd96b934149e31

[2018-10-10 16:47] alexhultman commented on #899
#890 is similar. Solving both is simple and can lie in one single script that'll plot you everything about TCP perf. you want to know. Server client in the same script is a good idea and will measure both parts.

[2018-10-10 17:29] ry opened #955 "Wanted: uri joining utility function in rust"
To work towards #866, we need to have a utility function which can do URL path resolution (resolving ".." and "." properly)

We currently use [mozilla's url crate](https://github.com/servo/rust-url) for this, but in order to avoid having two different URL parsing crates, I would like to use Hyper's [http::uri crate](https://docs.rs/http/0.1.13/http/uri/index.html) instead.

However, this crate has

[2018-10-10 17:33] ry commented on #866
WIP branch here https://github.com/ry/deno/tree/remove_url_crate

Need a utility function to join Uri paths. See #955

[2018-10-10 19:01] bluetech commented on #866
I have not looked at the details at all, but thought I'd mention anyway. The `url` crate and hyper's `Uri` type (a reexport of [`http::Uri`](https://docs.rs/http/0.1.13/http/uri/struct.Uri.html)) serve different purposes. Hyper's `Uri` has a misleading name IMO - it is not actually a URI parser but an HTTP ["Request Target"](https://tools.ietf.org/html/rfc7230#section-5.3) parser, which has severa

[2018-10-10 19:46] ry commented on #866
@bluetech We essentially only need it for extracting the path/domain/port from http urls.

Because we're depending on hyper, hyper::uri will already be used - so ideally we wouldn't have another url crate.

[2018-10-10 21:10] ry opened #957 "Use forward slashes for paths on Windows"
The backslash vs forward slash difference between Unix and Windows is one of the oldest yet continually painful parts of making cross-platform software.

Windows itself accepts forward slashes in most (all?) of its API at this point.

I suggest that Deno always output forward slash paths on Windows.

For example, `deno.cwd()` might return `"/C:/Documents/Foo"`.

If we ensure that all APIs in Deno

[2018-10-10 21:58] TehShrike commented on #957
This would make life way easier...

On what file systems/versions of Windows are forward-slashes handled?

[2018-10-11 09:47] kitsonk commented on #474
Actually, now we have some tooling the would require this, so for now it is required.

[2018-10-11 09:47] #474 closed

[2018-10-11 15:40] rsp commented on #929
I would assume that deno would use TypeScript for extensionless file names.

But I'm not really sure what about extensions in file names with a shebang line.

Relying on the file name in this particular case is tricky because it's often the case that an executable may be symlinked or renamed during installation. It's common in Node today with scripts installed with npm.

I don't want file extensio

[2018-10-11 17:18] ry commented on #948
@hayd I'd rather not call flush. It seems excessive.

[2018-10-11 18:31] kitsonk commented on #929
All JS currently passes through the TypeScript compiler currently, which is likely to persist, especially if we end up supporting type checking of JS via JSDocs. I do not think treating the vast majority of extensionless files as TypeScript though would create any userland problems, as the compiler is in a very loose mode, and any JavaScript that would be invalid TypeScript is probably a bad idea

[2018-10-11 18:32] ry commented on #541
I think we have better errors now? Please open a new, more specific, issue if there's something still todo here.

[2018-10-11 18:32] #541 closed

[2018-10-11 18:34] ry commented on #702
Related to https://github.com/denoland/deno/pull/859.
But this issue is still not complete.

[2018-10-11 19:05] kevinkassimo commented on #930
@ry actually not yet, the hard coded `"https://"` is not addressed yet and also requires changes to compiler code a bit

[2018-10-11 19:09] kevinkassimo opened #964 "Use stderr for exceptions"
Currently, `onGlobalError` and some other error logging are using `console.log` instead of `console.error`.

To fix this, one might also need to change `tools/check_output_test.py` to also record stderr msg for comparison.

It seems that the console.error log would somehow interleave with TypeScript compiler error message.

[2018-10-11 20:55] #890 closed

[2018-10-11 22:31] ry opened #968 "Wanted: A simple TS/JS code formatter using the TS compiler"
It should run under deno. It should be as little code as possible. It should probably try to look like prettier. It should not require any special permissions.

I'd like to have a blessed formatting system for Deno. EG `deno fmt myfile.ts`

Probably we wouldn't ship the formatter inside the Deno executable, but instead just load a URL.

The formatter does not need to support options. The point of

[2018-10-11 23:28] kitsonk commented on #968
TypeScript has a full set of formatting APIs built into it, see: https://github.com/Microsoft/TypeScript/blob/master/src/services/formatting/formatting.ts

They should be exposed through the language services APIs in some fashion.  As for TypeScript and JavaScript documents, it is the default formatter of VSCode.  I couldn't quite figure it out, but the formatting options should be capable of meet

[2018-10-12 00:14] kitsonk commented on #702
I am working on this now.

We also need to consider resolving local media types as well being determined in the privileged side, so the compiler does not rely upon file extensions at all.

[2018-10-12 00:33] ry opened #969 "Upgrade to TypeScript 3.1"
ts-simple-ast does not yet support it, [but will soon](https://github.com/denoland/deno/pull/952#issuecomment-428630063).

cc @dsherret @kitsonk

[2018-10-12 00:41] dsherret commented on #969
@ry I'm doing a release probably tonight to support 3.1.x. Will comment back here when done.

Side note: In TS 3.1.1 some of my kind of large mapped w/ conditional types were resolving to `any` in my declaration file build script and I was going to spend time investigating, but seems like the TypeScript team fixed that in 3.1.3, which was released about an hour ago :)

[2018-10-12 03:09] dsherret commented on #969
I released 17.0.0 which is tested against a few versions of the compiler including 3.1.1 and 3.1.3. I also opened an issue on my repo to run a cron job on the CI that will test ts-simple-ast against the latest TypeScript RC package. That will help me stay on top of new compiler API releases and be aware if there are any problems before an actual release occurs.

I believe it should work fine and y

[2018-10-12 03:17] ry commented on #969
Great!

Hmm I'd rather not... but maybe. I think `lib.deno_runtime.d.ts` gets extensively tested in our tests - so I'm hoping if it gets malformed that something will break. That said, let's see what happens over the next week.

[2018-10-12 03:43] dsherret commented on #968
@kitsonk I don't believe the public api supports specifying the max line length (see [here](https://github.com/Microsoft/TypeScript/blob/master/lib/typescript.d.ts#L5193) and `EditorSettings` a few lines above---used via `getFormattingEditsForDocument` on `LanguageService`), but I may be mistaken. Perhaps there's something internal that could be exposed?

[2018-10-12 13:38] guybedford commented on #920
FWIW SystemJS 2.0 no longer adds extensions by default to make build
tooling adapt to this instead of the other way around.
On Thu, 11 Oct 2018 at 09:26, Rafał Pocztarski <notifications@github.com>
wrote:

[2018-10-12 13:56] rsp commented on #920
@guybedford that's good news. I never really understood why transpilers couldn't change the extensions in the first place since they know what they are transpiling anyway (and since `import` takes a constant string literal so no risk of strings built at runtime, like with require). I am never sure what Node will require with require('./foo') if I have both a directory foo with index.js and foo.js

[2018-10-12 15:53] rsp commented on #929
@kitsonk I don't think it's that simple. Even this trivial example:

[code]
passes as JS but not as TS, **in Deno itself** - see:

![screen shot 2018-10-12 at 5 49 29 pm](https://user-images.githubusercontent.com/119231/46879857-66f2fb00-ce47-11e8-86dd-3090ad133160.png)

[2018-10-12 18:12] reggi opened #973 "Thoughts on supporting authorization headers when fetching dependencies"
I've been thinking about how to maintain private files on a server and allowing deno to pull in those files.

Are there any thoughts on supporting basic auth or allowing deno to send any kind of auth header token?

[2018-10-12 18:17] reggi opened #974 "How to use env vars?"
[code]

running with:

[code]

[2018-10-12 18:17] reggi commented on #974
is giving back "Cannot find name 'deno'."

[2018-10-12 18:19] ry commented on #974
[code]

[2018-10-12 18:19] #974 closed

[2018-10-12 18:22] #936 closed

[2018-10-12 18:56] reggi commented on #973
Here's also an idea:

[code]

[2018-10-12 20:48] kitsonk opened #975 "Native support for loading ES Modules"
Currently Deno cannot load JavaScript that requires ES `import` statements natively.  It supports it in TypeScript by transpiling the module to AMD and then loading it.

Both Node.js and d8 support this, so there are examples in place.

Adding this for tracking purposes as this is likely something I will work on in the future (e.g. this is fairly complex problem to tackle and not for the weak of h

[2018-10-12 21:47] kitsonk opened #976 "Support CheckJS"
The TypeScript language services supports "CheckJS" where JavaScript is type checked based on a very loose code flow analysis and types asserted in JSDocs.  This allows users to bring a level of type safety to JavaScript without actually using TypeScript syntax.

[2018-10-12 21:50] kitsonk commented on #929
@rsp there are a few issues here that then get all coupled together that should be solved before we try to solve JavaScript support for shebang:

- Supporting ES Modules natively (#975)
- Supporting the privileged side determining the media type (#702)
- Supporting CheckJS (#976)

(A couple of them are things that have been talked about but I realised didn't have issues)

My opinion is that we cou

[2018-10-12 22:00] kitsonk commented on #920
Well, it is sort of simple from the TypeScript perspective, `.ts` code isn't ever designed to be run in a runtime, and then when you try to determine what it will be at runtime it get mind-bogglingly complex.  So out of the box, I still agree that TypeScript _should_ prevent people from assuming that `.ts` will be `.ts` at runtime.  What we need is a literal module resolution mode that is a compil

[2018-10-12 22:23] alexhultman opened #977 "Add small message "ping/pong" benchmark & fix performance early in development"
Deno 0.1.8 is the first version I was able to benchmark. What I'm looking at is small message ping/pong between server/client over TCP with nodelay. This is where Node.js falls behind significantly compared to similar solutions (Golang, etc) and an important case to fix up in deno.

A small message is sent from client to server and from server to client, repeatedly as fast as possible. Server is d

[2018-10-12 22:56] kitsonk opened #978 "Better information for unsupported flags"
Currently, when using a flag that isn't supported by Deno, it results in a very unhelpful errors message:

[code]

[2018-10-13 00:03] hayd commented on #977
Would [wrk](https://github.com/wg/wrk) suffice to run the benchmark for this?

[2018-10-13 00:16] alexhultman commented on #977
Yes but simplest possible and most self contained test would be to just ping/pong via localhost from deno client to deno server in the same script. Gradually increase message size from a few bytes to a few megabytes and plot a graph. Then do the same with a third party "target" such as Golang or Node.js depending on what goal you want to achieve.

[2018-10-13 00:32] amoseui opened #979 "Output tests failed on the directory other than 'deno'"
When I run ./tools/test.py on the directory other than 'deno', several errors occurs during output tests.

If it's not intended, it'd be better if 'deno/' is replaced with [WILDCARD] rule.

[code]

But I am not sure how we'll prevent this case from the tests that will be added later.

[2018-10-13 00:44] hayd commented on #979
Or we can os.chdir before doing the tests.

[2018-10-13 02:02] kitsonk commented on #979
@hayd but what if the root of `deno` isn't called `deno` on a local system, which is more revelant.  There is no dir to `.chdir()` to.  My feeling is that we shouldn't assume the root of the project is named `deno` in tests.

[2018-10-13 04:18] cedric05 commented on #955
can i take this up?

[2018-10-13 05:59] hayd commented on #977
Can you share your code / make a PR?

I tried to write something in deno but it's performance was all over the place across runs. (I think it's also using a ton of file descriptors and I was occasionally getting errors.)
So if you already have code for this it would be great!

wrk benchmark seemingly needs http (I can't seem to record results for TCP).

[2018-10-13 07:06] hayd commented on #978
I have a commit for this https://github.com/hayd/deno/commit/4e3f3df606e6265e50e48c75c0ecea34633f28a6 but i think a better way is to have set flags et al return a Result. Working on it.

[2018-10-13 08:36] kitsonk opened #981 "Headers is not compliant with the current spec"
It appears the `Headers` interface we based the implementation does not match the current spec.  See: https://developer.mozilla.org/en-US/docs/Web/API/Headers and https://fetch.spec.whatwg.org/#headers-class

We are missing the "iterable" type APIs (and likely the iterable symbol) and the spec does not include a `forEach`.

[2018-10-13 09:48] kitsonk opened #983 "Fetch questions/issues"
I was taking a look at `fetch.ts` and several issues/questions arose with the current implementation:

- `fetch()` returns `Promise<domTypes.Response>` instead of `FetchResponse`.  Was there a good reason for this?  Added public API surface for `FetchResponse` would then be hidden (though I have a question about that as well).

  https://github.com/denoland/deno/blob/d92c99eabaf28100a8d181b6f289e2

[2018-10-13 16:03] ztplz commented on #983
I agree,  `domTypes.Response` shoule be hidden and just return `FetchResponse`.

[2018-10-13 17:26] rjoydip opened #984 "Test FAIL copyFileSyncFailure_permW1N0E0"
Getting copy file sync failed permission in windows

[code]
- OS: Win 7

[2018-10-13 18:36] ry commented on #977
Glad we’re finally able to measure response time. Thanks for looking into this. I agree that we need a benchmark like this running continuously on https://denoland.github.io/deno/
Sucks that Deno’s slower than Node at the moment - but I don’t think we’re locked into this perf at all - there’s a ton of low hanging fruit to pick on the optimization tree.

I think using Deno as the client to benchmar

[2018-10-13 22:52] kevinkassimo commented on #984
Interesting. The test case has a special case for windows
https://github.com/denoland/deno/blob/bbf88c529587647aaa0089233fea19e961a764f1/js/copy_file_test.ts#L46-L54
It seems that on your platform, `deno.platform.os` for some reason is not `win`?

[2018-10-13 23:45] #979 closed

[2018-10-14 03:01] matthewmueller opened #986 ""deno compile" into executable"
I was wondering if there's any plan to support compiling deno scripts into a single executable?

I saw "Single executable" as a feature, but the code that follows seems to suggest it's deno as the single executable, not the programs executed with it.

It'd be awesome to support something like `go build main.go` or something like `zeit/pkg`.

[2018-10-14 17:44] romandev commented on #955
If no one is working on this, I'll take this issue.

[2018-10-14 21:39] #910 closed

[2018-10-14 21:57] alexhultman commented on #977
The following code "works" with wrk but isn't guaranteed to be correct always (it works well in practice though):

[code]

Here are the Deno results on my laptop:
[code]

Here is Node.js:

[code]

Here is a reference result (third-party) on the same laptop, showing the margin for improvement in both Deno and Node.js:
[code]

I don't know how to take it from here so please take the code, fix it up

[2018-10-15 10:01] alexhultman commented on #901
I don't know how the history unfolds but I saw a massive amount of futex syscalls in a way I've never seen a server do yesterday when benchmarking. You told me you weren't going to do actual IPC between Rust and V8 but this looks an awful lot like actual IPC between actual processes.

[2018-10-15 14:40] rsp commented on #977
Some time ago I made a simple but configurable benchmark for networking in Node.

It is configurable by environment variables of how many connections, how many writes per connection and how many bytes per write it does, and whether they are made serially or in parallel.

By default it connects to itself over the loopback interface but it can use different interfaces by setting IP address in the en

[2018-10-15 14:58] alexhultman commented on #977
What needs to happen is some integration like this now:

https://github.com/denoland/deno/pull/961/files

[2018-10-15 16:08] #552 closed

[2018-10-15 16:10] romandev commented on #866
I sent a PR to implement `uri_join()`. It's still under review but I'll send follow-up PR for this issue after landing existing PR (if you don't mind).

[2018-10-15 16:47] #969 closed

[2018-10-15 18:27] ry opened #993 "deno -v should report typescript version"

[2018-10-15 18:33] ry opened #994 "In "deno --types" there is unnecessary redirection."
1. Unnecessary namespace "timers" https://gist.github.com/ry/3c59bfd370a01773d04fa21c861c47ba#file-deno-v0-1-8-d-ts-L1198
1. There is a "globals" module https://gist.github.com/ry/3c59bfd370a01773d04fa21c861c47ba#file-deno-v0-1-8-d-ts-L657 but also a "global" block - https://gist.github.com/ry/3c59bfd370a01773d04fa21c861c47ba#file-deno-v0-1-8-d-ts-L490 ... what's the difference between them?

cc @

[2018-10-15 21:49] kitsonk commented on #994
@ry

1. Actually, this isn't unnecessary, as the types are referred to here: https://gist.github.com/ry/3c59bfd370a01773d04fa21c861c47ba#file-deno-v0-1-8-d-ts-L660-L663 and here: https://gist.github.com/ry/3c59bfd370a01773d04fa21c861c47ba#file-deno-v0-1-8-d-ts-L696-L699
  The challenge is that the `"globals"` module is dealt with a bit differently than the way `"deno"` is, because there is a risk

[2018-10-16 02:16] #993 closed

[2018-10-16 06:15] #984 closed

[2018-10-16 06:43] Mohammed90 commented on #955
FWIW, there's a paper on how to handle .. and . properly. See [“Lexical File Names in Plan 9 or Getting Dot-Dot Right"](https://9p.io/sys/doc/lexnames.html). Go's implementation of [path cleansing](https://golang.org/pkg/path/#Clean)
 is based on the paper, and summarized as such:
[code]

[2018-10-16 12:41] ry commented on #494
@piscisaureus What do you think? It would improve test/build by 1 or 2 minutes.

[2018-10-16 14:18] ry opened #1000 "./tools/http_server.py doesn't die on ctrl+c (sigint)"

[2018-10-16 15:54] #1000 closed

[2018-10-16 17:35] #977 closed

[2018-10-16 23:31] ry opened #1004 "Instead of DENO_BUILD_MODE=release, ./tools/build.py --release"
Currently ./tools/build.py uses an env var called DENO_BUILD_MODE to determine if it builds debug (default) or release builds. I'd like to have a command line argument instead for this.

Please update the readme, travis.yml and appveyor.yml ... there may be random places where DENO_BUILD_MODE is used, so be sure to grep the source tree.

[2018-10-16 23:45] romandev commented on #1004
I'll take this issue.

[2018-10-16 23:48] romandev commented on #1004
I was on the same page. BTW, Do we have to change `setup.py` as well? It is always generates for both of debug and release.

[2018-10-17 00:01] ry commented on #1004
@romandev setup.py should still generate both (it just generates the build files)

[2018-10-17 15:54] ztplz commented on #981
#### implementation in chrome:
[code]
#### implementation in firefox:
[code]

@ry  @kitsonk   Should  we add `entries` `keys`  and `values` to the `header` interface?

[2018-10-17 17:30] ry opened #1008 "Ergonomics: Prompt for permission."
When I run a program that requires elevated permissions, without any flags, I should be prompted on the command-line to elevate privlages.

This was described in [the roadmap](https://github.com/denoland/deno/blob/master/Roadmap.md#security-model-partially-implemented):

[code]

The "s" option is meant to display a stack trace - so the user can get more information. This doesn't need to be done in

[2018-10-17 18:19] hayd commented on #1008
The repl branch exposes a readline(prompt) method in ts. However a permission prompt must be in rust only, and all it's doing is reading a single char from stdin rust. (So I don't think it would reuse any code.)

Would this be per use rather than mutate flags?

I think we ought to do away with the:

[code]
pattern. Perhaps by not having.allow_net etc. be pub, instead require a method with an appro

[2018-10-17 18:35] ry commented on #1008
The definitely needs to be done in purely Rust, as it's privileged. Maybe something like this
[code]
Where the signature would be
[code]

[2018-10-17 22:09] kitsonk commented on #981
In my opinion yes...

There is also `[Symbol.iterator]` in there as well which would allow `for (const header of headers)` for example.  In Chrome:

[code]

[2018-10-18 03:37] ry opened #1010 "implement a more ideal libdeno API"
[code]

[2018-10-18 05:37] ry opened #1011 "--deps is broken"
There's been a regression in `--deps`.
[code]
It could really use a top-level test. (Tho we need a way of running [check_output_tests](https://github.com/denoland/deno/blob/master/tools/check_output_test.py) with arguments to do that.)

Probably should add tools/test_deps.py to test this with arguments.

cc @mirkojotic

[2018-10-18 06:56] hayd commented on #1008
I tried [some towards this](https://github.com/hayd/deno/commit/c6e5901617a7e0cba77b87fd5c286b638bf9bdfe) and ran into two issues:
- Reading a single char from stdin is line buffered... (required input `y<ENTER>`)
- Should permission prompt work if not in an interactive session (should check for isatty)?

(Sadly the `Box<Op>` doesn't accept Result's `?`...)

[2018-10-18 07:00] ry commented on #1008
that's fine

Yes - if !isatty, throw.

Box<Op> does accept results. Maybe you want Box::new(futures::future:result(r))

[2018-10-18 07:03] hayd commented on #1008
But I wanted to use `?`! Okay, I'll try using [isatty](https://github.com/softprops/atty).

[2018-10-18 11:00] mirkojotic commented on #1011
@ry ok, I'll be working on it

[2018-10-18 17:11] ry opened #1014 "support command-line args with only one dash"
Golang style. So we should be able to do
[code]

[2018-10-18 20:06] kitsonk commented on #632
I think we can finally close those (there is the other issue for the improvements of this).

[2018-10-18 20:09] kitsonk commented on #1014
Not sure why you are thumbs down on that @hayd.  The very arbitrary ness of `--` and `-` is unergonomic really.  Single letters will never collide with full ones anyways, and the logic and totally disambiguate it, so I am not sure what `--` really signifies other than a really old convention.  I can't see a downside to allowing both `-` and `--`.

[2018-10-18 20:29] ry commented on #632
Thanks

[2018-10-18 20:29] #632 closed

[2018-10-18 20:30] kevinkassimo commented on #1014
@kitsonk I am also a bit in doubt of `-` for long command line args, as I do feel it is a common case to combine multiple single-char flags in the format such as `ls -al`. Some of our arg names are quite short, such as `--deps`. Reducing it to `-deps` would limit our ability to introduce other short flags.

[2018-10-18 20:43] hayd commented on #1014
Personally I just don't see what value this adds... and I like the - short -- long convention.

[2018-10-18 21:43] ry commented on #1014
I like it because its simpler and less to type.

Here are other discussions:

http://tldp.org/LDP/abs/html/standard-options.html

Rob Pike, https://news.ycombinator.com/item?id=9206782

[2018-10-18 21:55] ry opened #1015 "Remove heap allocation of v8::Persistent<v8::Value>"
Probably by using a `std::unique_ptr`
https://github.com/denoland/deno/blob/d534ea41adb9c8fe4b434eee30a709e0b45097f1/libdeno/binding.cc#L24-L27

[2018-10-18 22:01] gabrielschulhof commented on #237
@ry if you do decide to expose the engine via N-API and find any V8 API for which there is no N-API equivalent and which you believe would fit the N-API pattern, please open an issue on https://github.com/nodejs/abi-stable-node/issues/new.

We are also working on separating out the Node.js-specific portions of N-API into their own header file. The followings would go into the Node.js-specific port

[2018-10-18 22:02] hayd commented on #1014
I'm happy with this compromise!

[2018-10-19 00:53] piscisaureus commented on #1015
142e532910a534080de297de5be88a502163fc4e

[2018-10-19 00:53] #1015 closed

[2018-10-19 01:39] Kermit-Xuan opened #1017 "Failed to run tool/build.py"
System Version: Mac OS 10.14

Screenshot：

<img width="1095" alt="wx20181019-093820 2x" src="https://user-images.githubusercontent.com/33770367/47192924-c343a680-d382-11e8-8d7d-a3ab767af98b.png">

[2018-10-19 01:47] hayd commented on #542
I heard nothing back on the mailing list. I've no idea that's the best place to report/suggest diff.

Anyway, they ought to be using:
[code]
to get the version number, rather than parsing the output of `python --version`.

It's annoying as it's only doing `./tools/setup.py` where anaconda python fails (build etc. works).

[2018-10-19 01:48] hayd commented on #1017
Have you already run `./tools/setup.py` successfully?

[2018-10-19 01:49] ztplz commented on #1017
Please run `git submodule update`.

[2018-10-19 01:55] hayd commented on #1008
How to determine whether it's 'Program' vs 'http://gist.github.com/asdfasd.js' in ops?

[2018-10-19 02:13] ry commented on #1008
I don’t understand the question. Can you elaborate?

[2018-10-19 02:59] kitsonk commented on #1008
I think the question is "how to know if it is the permission of the running program, or an externally loaded module"?  I think the question is not germane to this topic, as the requirement I believe is:

- When Deno is running with unspecified permissions, at any point a permission is needed, the privileged side should request that permission.  This is independent of where the userland code came f

[2018-10-19 03:04] Kermit-Xuan commented on #1017
@hayd Yes, run ./tools/setup.py is success.

[2018-10-19 03:05] Kermit-Xuan commented on #1017
After running `git submodule update`, it's not working.

[2018-10-19 03:05] Kermit-Xuan commented on #1017
Yes, it's success.

[2018-10-19 03:42] hayd commented on #1008
In the roadmap (@ry's top comment):
[code]
Either it's 'Program' or the external url (or even I think internal file reference would be useful).
IIUC this part is also related/required to the `s` (stacktrace).

[2018-10-19 08:06] GrosSacASac commented on #650
According to https://github.com/tc39/proposal-global/blob/master/spec.md
It would be `globalThis `

[2018-10-19 14:39] cedric05 commented on #1004
can i take up?

[2018-10-19 15:03] ry commented on #1004
@cedric05 No, it is almost complete.

[2018-10-19 15:03] cedric05 commented on #712
any one working on it? can i take this up?

[2018-10-19 15:04] cedric05 commented on #712
go through readme. deno uses flatbuffers to communication between ts , rust and c

[2018-10-19 15:11] cedric05 commented on #695
i will try

[2018-10-19 15:12] cedric05 commented on #588
will work on this

[2018-10-19 15:18] ry commented on #695
@cedric05 Great. To be clear the goal here is that when someone types "cargo build" in the deno source directory, it builds.

Please base your work off of https://github.com/denoland/deno/pull/724

[2018-10-19 15:31] rsp commented on #1014
Does it mean that if in the future we have e.g. `-w`, `-n` and `-e` shortcuts for `--allow-write`, `--allow-net` and `--allow-env` (which I hope we will as those options will be used pretty often) then we won't be able to use:

`deno -wne x.ts`
but only:
`deno -w -n -e x.ts`

because we want to use
`deno -allow-write -allow-net -allow-env x.ts`
instead of:
`deno --allow-write --allow-net --allow-e

[2018-10-19 15:32] cedric05 commented on #695
okay

[2018-10-19 15:33] ry commented on #1014
@rsp You're concerned about the ergonomics - I think #1018 solves this without having to add extra CLI arguments.

[2018-10-19 16:12] #981 closed

[2018-10-19 16:32] rsp commented on #1014
@ry #1008 is very nice for interactive uses. Here I am concerned specifically with scripts and shebang lines that don't support multiple arguments unless those are single letter arguments glued together (everything in shebang after first space, even if there are other spaces, is passed as one argument so `#!/bin/deno -x -y` is like `#!/bin/deno "-x -y"`). Without being able to glue arguments we'll

[2018-10-19 16:40] hayd commented on #1014
Presumably the way Go is able to get around this is since it only exports binaries (#986) rather than executable scripts (#929). Deno probably wants to support both.

[2018-10-19 16:51] ry commented on #1014
@rsp I'm not sure I understand... I'm quite sure that shebangs can take multiple arguments. And it's usually used with /usr/bin/env...

[2018-10-19 17:20] rsp commented on #1014
@ry I don't know if that's the case on every system (or with every interpreter because I think Deno could split its argv[1] if it starts with a dash and contains whitespace), but I remember using /usr/bin/env I always had to use some tricks like the one above to pass even one argument to the interpreter (as the interpreter name after /usr/bin/env is passed as an argument to env itself).
I'll see i

[2018-10-19 18:40] rjoydip commented on #1017
properly not installed npm. The node_modules contains only on binary.
https://github.com/denoland/deno_third_party/tree/master/node_modules/ts-node

[2018-10-19 20:00] rjoydip commented on #1017
I think during the build after `fix_symlinks` execution the third_party modules not installing(by `run_yarn`). And then when "tools > main.ts" executing `build_library.ts` the [new Project](https://github.com/denoland/deno/blob/master/tools/ts_library_builder/build_library.ts#L298) picking up `.ts` file and trying to execute but `ts-node` dependencies are not installed that's why the error has int

[2018-10-19 20:23] ry opened #1027 "benchmark page: limit number of commits shown"
there's getting to be a lot of data shown on https://denoland.github.io/deno/

It would be cool to limit this to, say, the most recent 20 commits.

To avoid having to load the whole data.json - it would be good if we also wrote a dead_recent.json with only the most recent data.

cc @kt3k

[2018-10-19 20:52] kitsonk commented on #712
@cedric05 it works a bit like this:

- The TypeScript from `js/main.ts` and its dependencies are transpiled into JavaScript at build time (which includes the TypeScript compiler).  This includes the code for the communication to Rust using flatbuffers.
- The build process loads that "bundle" of JavaScript into V8 and executes the transpiled code in `js/main.ts` which creates a load of JavaScript o

[2018-10-20 04:15] cedric05 commented on #695
i'm getting following error, i guess i will have to follow 3 step you mentioned
[code]

[2018-10-20 04:57] ry opened #1035 "benchmark page: I broke the y-axis"
In my quest to simplify the plots, I over generalized and made every y-axis "seconds"

<img width="577" alt="screen shot 2018-10-20 at 12 56 50 am" src="https://user-images.githubusercontent.com/80/47251595-178e6b00-d403-11e8-8d94-8796f9de600b.png">

[2018-10-20 04:59] kevinkassimo commented on #1035
I’m working on this

[2018-10-20 05:16] ry commented on #866
ref https://github.com/denoland/deno/pull/991

[2018-10-20 05:35] kt3k commented on #1027
OK I'll take this.

By the way how about creating another page for showing all data (= current behavior)?

[2018-10-20 12:07] #1027 closed

[2018-10-20 12:56] kyranet opened #1038 "Add -e cli flag"
From [Node.js docs](https://nodejs.org/dist/latest-v10.x/docs/api/cli.html#cli_e_eval_script), it may be done after #779, it helps with quick debugging such as inspecting the output of a one-liner.

[2018-10-20 16:55] #1035 closed

[2018-10-20 20:23] kitsonk opened #1044 "Behaviour of --reload"
Currently, the `--reload` flag does not invalidate the transpiled versions of any local modules.  It only causes cached versions of non-local modules to be invalidated, which of course in turn invalidates their local transpiled versions.

While it might be unlikely, there is still a valid scenario where a user will make a change in another module that impacts the types that are available to a loca

[2018-10-20 22:55] kitsonk opened #1046 "Attempting other extensions"
Currently, Deno attempts to fetch remote modules, modifying the extension, irrespective of the error coming back.

It would make more sense to attempt different extensions only if a `404 Not Found` is returned from the remote location.  For example, if the remote server is down, you will get something like this:

[code]

The additional requests seem a bit odd at this point, let alone it delays the

[2018-10-21 02:04] kyranet opened #1047 "help wanted: Web APIs' implementation"
Previously discussed in https://github.com/denoland/deno/issues/82, this is a meta issue to help contributors (and future ones) track some of the Web APIs in deno.

- [ ] [EventTarget][EventTargetMDN] - [spec][EventTargetWHATWG] - #2029
- [x] [Event][EventMDN] - [spec][EventWHATWG] - @acconrad
- [x] [CustomEvent][CustomEventMDN] - [spec][CustomEventWHATWG]
- [x] [WebSocket][WebSocketMDN] - [spec][

[2018-10-21 02:27] kyranet commented on #1047
I believe that the MDN docs and the WHATWG ones should suffice, they're also available in any modern browser so we can play around with those APIs.

There was a version of URL in the [golang version](https://github.com/denoland/deno/blob/golang/url.js) but it was removed in the rust rewrite. I'm currently working on URLSearchParams and later URL, but we can try to cooperate if you want 👍

[2018-10-21 03:05] acconrad commented on #1047
Perfect! I can take a look at Events then, although I will say this is pretty intimidating, that Golang spec is almost 700 lines

[2018-10-21 03:28] ztplz commented on #1047
I am working on `EventTarget`.

[2018-10-21 03:45] kitsonk commented on #1047
A good example of Web APIs implemented in plain JavaScript is [jsdom](https://github.com/jsdom/jsdom).

Most of the APIs we are talking about have interfaces in TypeScript which we should follow.  For example [`EventTarget`](https://github.com/denoland/deno_third_party/blob/33fa88485c6b32ebf8fc0c41d84ca2ece7f9a633/node_modules/typescript/lib/lib.dom.d.ts#L4940-L4961).

[2018-10-21 03:51] kitsonk opened #1048 "Ability to import JSON"
TypeScript with the `--resolveJsonModule` compiler option allows constructs like:

[code]

Where the imported `foo` namespace will match the structure of the `./foo.json` and ensure that the JSON is consumed in a type safe way.  TypeScript simply re-emit the JSON though and not actually make it importable.  In order to make usable within a Deno program we would have to create a AMD module somethin

[2018-10-21 04:48] cedric05 commented on #695
after going to all the build files, scripts are generating deno_bin.o (object) which are passed to clang with required libraries to produce executable, not sure why.

[2018-10-21 14:33] acconrad commented on #1047
@kyranet thanks for putting out #1049 that actually gives me a good guideline for following along for Event. I'll give that one a shot.

[2018-10-21 17:35] cedric05 commented on #695
going through the same giving me following error ```
/checkout/src/libcore/macros.rs:26: undefined reference to `core::panicking::panic_fmt'
target/debug/deps/libunicode_bidi-5f4ef65a7665eeb3.rlib
[code]

[2018-10-22 03:43] ry commented on #1048
Sure - I’m for it. There’s a larger question about other file types and being able to import them as ArrayBuffers - but I think json isn’t so controversial.

[2018-10-22 04:30] acconrad commented on #1047
@kyranet I couldn't comment on the merged PR but shouldn't the constructor for the URL search params be `?` since the spec mentions it as optional?

[2018-10-22 10:22] KingDGrizzle commented on #1047
I'm willing to give a shot at implementing the URL spec, if that's ok with everyone. I'll probably start by inspiring and / or porting the golang implementation.

[2018-10-22 11:35] kyranet commented on #1047
@acconrad

It's actually optional, `= ""` implies it, tslint complained when I used both `init?:` and `= ""`, suggesting to use `init:` instead: https://github.com/denoland/deno/blob/c4bddc4651f583241193b80634a4f22abb02d582/js/url_search_params.ts#L5

From WHATWG: https://url.spec.whatwg.org/#interface-urlsearchparams

[2018-10-22 14:18] ry commented on #1047
Use node modules where possible - no need to reinvent the wheel. With URL there is already a node module.

[2018-10-22 14:20] acconrad commented on #1047
For everyone here if you're confused by the interface definitions within the WhatWG, check out [this doc](https://heycam.github.io/webidl/) on the official Interface Document Language :)

[2018-10-22 14:31] jeromegn commented on #522
We've implemented streaming bodies in [superfly/fly.rs](/superfly/fly.rs) and it makes a pretty significant difference in performance/memory usage.

We have a ["body mixin"](https://github.com/superfly/fly.rs/blob/master/v8env/src/body_mixin.ts) which both [`Response`](https://github.com/superfly/fly.rs/blob/master/v8env/src/response.ts#L15) and [`Request`](https://github.com/superfly/fly.rs/blob/

[2018-10-22 14:35] benjamingr commented on #1048
I think in general allowing specifying a Loader object (like Node does in https://nodejs.org/api/esm.html#esm_loader_hooks ) makes some sense.

[2018-10-22 14:38] ry commented on #522
Just a note that streaming response bodies should be registered in the resources table - so they can use the read() and write() ops and interop with other “streams” (aka Reader / Writer)
https://github.com/denoland/deno/blob/master/src/resources.rs

[2018-10-22 14:38] ztplz commented on #1047
@acconrad   Sorry for my delay PR. Github still is down, I will do it next day.

[2018-10-22 14:42] acconrad commented on #1047
@ztplz don't worry, I'm not in a rush, I still need to do a final draft of the `Event` API since I'm still learning how the spec operates myself :)

[2018-10-22 14:44] acconrad commented on #1047
I'll grab `Worker` next after `Event`/`EventInit` btw

[2018-10-22 15:42] jeromegn commented on #522
We could add them in there for sure, but `ReadableStream`s are meant to be "pushed into" (I think). Reading from a stream from v8 makes sense with the current model, that's for sure, but it also incurs a cost.

Polling to read requires 1 extra message per chunk (ask to read, get a read chunk), while pushing is just 1 message (the read chunk). Normally I don't think it would matter that much, but p

[2018-10-22 16:07] kyranet commented on #1047
Just to clarify, add `EventInit` and assign both `Event` and `EventInit` to @acconrad, then assign `EventTarget` to @ztplz?

`Worker` is going to be pretty interesting to implement, I'm looking forward to seeing how it will be implemented in deno 😄

[2018-10-22 16:09] ry commented on #522
@jeromegn
1) The overhead of going back to V8 for each packet is something we are going to optimize to death.
2) https://developer.mozilla.org/en-US/docs/Web/API/ReadableStream/getReader  is a pull API.
3) For unbounded streams like this, push events are bad because there is no back-pressure. Lack of back-pressure ultimately results in high jitter - bad tail latency. This was another major design

[2018-10-22 16:10] mreinstein commented on #1047
@ry deno's philosophy of following browser APIs has a lot going for it, and I've been keen to see this play out in the development. One question I have is how faithfully are we following this model?  a few points:

* having near-perfect browser API compaitibility would be awesome, avoiding node-isms are one of the big draws of this project (commonjs, etc)
* There are a handful of web APIs are  an

[2018-10-22 17:05] acconrad commented on #1047
@mreinstein @ry would be good to know what level of compliance you are looking for as it relates to the Web IDL standard I referenced. For example, `readonly` in TypeScript does not mean the same thing as `readonly` in the Web IDL, which really means:

And to be truly compliant, you have to use `WeakMaps` for private state. Again, that's just one example but it's useful to know for both security r

[2018-10-22 17:06] acconrad commented on #1047
Yeah that's just one example, I know someone else claimed `URL` too so it would just be good to see what is claimed and who claimed it so we can figure out what is left to tackle

[2018-10-22 17:13] ztplz commented on #1047
@ry  Do we need to add more type declarations for web APIs? `Element` is not defined  yet in `dom_type.ts`.

[2018-10-22 17:29] ry commented on #1047
@acconrad Regarding level of compliance - I don't have any particular opinions on this. Web scripts should run on Deno if they are using APIs we support - with little or no modification - that's all I care about. If you feel strongly about how this should be done, perhaps add some text to [the contributing guide](https://github.com/denoland/deno/blob/master/.github/CONTRIBUTING.md)?

@ztplz Let's

[2018-10-22 17:35] ry commented on #1047
@kyranet  For URL, I used https://github.com/github/url-polyfill in the prototype: https://github.com/denoland/deno/blob/golang/url.js
If you can use it without forking and just putting it into package.json, that would be great. We should reduce the amount of code we have to maintain as much as possible. I forget why I forked it originally.

[2018-10-22 18:01] qti3e opened #1063 "MITM attack when importing files from untrusted sources"
The whole concern is that an attacker might change the content of a file when it is served over HTTP but not HTTPs.

A possible solution is to exit the program when an untrusted import is detected and tell the user to provide the `--force` flag if they are sure about what they are going to do.

[2018-10-22 18:01] kitsonk commented on #1047
That URL implementation is clean and modern JavaScript.  My feeling is something like that could be included cleanly in Deno.  Some of the other polyfills aren't written as cleanly or have a lot of code to support older browsers, or rely on Node.js APIs, etc.

It is a fine balance between less maintaining of code and not dragging in a whole load of stuff and keeping type safety.

[2018-10-22 18:16] ry commented on #1063
I think we should follow the browser conventions here - using a script tag to import http is allowed.

[2018-10-22 18:29] acconrad commented on #1047
I should also point out that there is already a free test suite out there for reaching Web API compliance:

https://github.com/web-platform-tests/wpt

We should try to leverage these with each of the interfaces we are implementing

[2018-10-22 18:31] qti3e commented on #1063
@ry In a web browser, there is no threat to the client, but things in a server-side runtime are a bit different and they require stricter rules, one mistake might end up a user losing all of their data.

Indeed you can't even do certain things in browsers over plain HTTP, I can name service workers as an example.

Quoting from [`Introduction to Service Worker | Google Developers Network`](https://

[2018-10-22 19:01] kitsonk commented on #1063
I personally wouldn't be opposed to limiting remote module loading to `https://` only... but that is just my opinion.  I don't think we should add another security layer, just disallow it as "unsafe for code".

Of course MITM is just as viable for `https://` unless you are validating that the cert is from the organisation you expect it is from! 😉 Lots of corporate firewalls these days have transpa

[2018-10-22 20:17] kevinkassimo opened #1064 "Prevent modules imported through https to internally import http modules"
For security reasons? (I believe for script tags in browsers would show warnings on loading an http resource while the page is loaded under https)

[2018-10-23 02:37] #994 closed

[2018-10-23 06:43] kitsonk commented on #975
Why did I think this was an issue?  Mostly because I never tried it I guess.  I just assumed that TypeScript wouldn't transpile JS files, but it does.  So currently Deno will take something like this:

**foo.js**

[code]

And transform it to:

[code]

Which loads perfectly with the Deno compiler and stack traces will map back to the source JavaScript file.  I have an example available at [kitsonk/

[2018-10-23 11:15] benjamingr commented on #522
Node streams have a pull mode though for ever now which is what's typically used in real applications. That said Node streams are a mess and pretty much no one likes them :)

[2018-10-23 11:48] #702 closed

[2018-10-23 13:01] #976 closed

[2018-10-23 13:07] ry opened #1069 "wanted: node HTTP benchmark using TCP"
Deno does not have an HTTP server currently. It does have a TCP server - and we are interested in optimizing networking / event loop even before the HTTP server has been implemented.
Thus we fake it:
https://github.com/denoland/deno/blob/master/tests/http_bench.ts

However, the Node program we bench against is actually parsing HTTP. So it's not really a fair battle:
https://github.com/denoland/den

[2018-10-23 14:50] ry commented on #1069
[code]

here's a quick example of what I'm looking for. Probably needs error handling. Put it into `tools/node_tcp.js`

[2018-10-23 15:51] rsp commented on #1069
@ry Some time ago I wrote something like that for a Stack Overflow answer.

It's a demo of serving static files over HTTP using 5 different levels of abstraction, the lowest one being the `net` module with manual HTTP parsing. It reads files from disk and serves them, handling 404, 403 and 501 (Not Implemented) errors.

I could adapt it for tools/node_tcp.js - do you want only "Hello World" for ev

[2018-10-23 17:44] ry opened #1075 "print backtrace on panic"
Currently a panic looks like this:
[code]

This because we've had to [override](https://github.com/denoland/deno/blob/e9bf2064164df4f5712addca2cd4d18faf3e149a/src/main.rs#L58-L68) the default panic handler because Tokio (sadly / mistakenly) swallows panics.

It would be very nice to not have to open LLDB to get a backtrace. I expect this issue can be done in one or two lines of code.

[2018-10-23 18:18] kevinkassimo commented on #1075
`std::rt` seems have unstable API for getting backtraces. There is a crate [`backtrace`](https://crates.io/crates/backtrace) that serves as a wrapper for this which aims to be more stable.

[2018-10-23 18:41] kitsonk commented on #23
I am going to work on this.

As discussed above, `codeFetch` and `codeCache` need to treat the source maps separately.  On thought, is that source maps are only needed when unwrapping a stack trace, it might also be great if they were only lazily loaded from the cache when needed.

[2018-10-23 20:28] rsp commented on #1038
Just for a different perspective than only doing what Node does, here is how `-e` plus some complementary switches work in Perl:

 `-e` evals the string like if it was a normal program (no implicit print or anything else)
 `-n` runs the code* for all lines of standard input**
 `-p` runs the code* for all lines of standard input** and prints the result
 `-l` strips newlines from the input and adds

[2018-10-23 20:33] ry commented on #1038
And if you had to choose one, what would it be? Deno gets a budget of, say, 10 command line flags. Certainly `-l` and `-n` are out of the question.  Reimplementing `xargs` is out of scope.

[2018-10-23 20:41] rsp commented on #1038
If I had to choose one, it would be `-e` with no implicit print.

This would be consistent with Node, Perl, Ruby, etc. Even awk doesn't print by default.

[2018-10-23 20:43] hayd commented on #1038
eval should have the same scope as the repl, so perhaps makes sense to implement -e after that?
(We may also won't to compile ts too.)

[2018-10-23 20:43] rsp commented on #1038
Plus it's easier to add console.log() when needed than to not print something that is printed by default.

Example:

[code]

vs.

[code]

[2018-10-23 22:02] #1069 closed

[2018-10-24 04:03] ry commented on #1014
I will give up on this for now.

#1080 landed support for getopt flag parsing. It's out of scope for us now.

[2018-10-24 04:34] kevinkassimo commented on #1014
Switched to [`getopts`](
https://docs.rs/getopts/0.2.18/getopts/struct.Options.html) for flag parsing, which also supports `long_only` settings that basically:

[2018-10-24 04:45] ry commented on #494
@hwanseung  I didn't use your commit but we decided to remove deno_ns in #1079. Thanks for raising the issue.

[2018-10-24 07:48] sebs commented on #975
Thanks for linking me ;)  <3 Its a well received feature where I stand.

[2018-10-24 08:36] kitsonk commented on #1014
Any easy way to intercept and "slice" out `-help`?  People who need to can use `-v8-options`.

[2018-10-24 14:25] snobu opened #1082 "Cache miss when running in container"
Consider this simple multi-stage build:

[code]

The expectation is deno's compile cache will be hit when the resulting image is launched.
However, this doesn't happen:

[code]

[code]
^^ Not sure how to read that, some cache was loaded but not used?

If i exec (`docker run -it image_name bash`) inside the container, then the second time i run `./deno hello.ts`, the cache is hit, so i guess `DENO_

[2018-10-24 14:33] snobu commented on #1082
Also, is there a way to just bundle up everything a la Golang static builds? One static ELF binary with everything in so you can `FROM scratch` your way into Prod.

[2018-10-24 21:52] #494 closed

[2018-10-24 22:12] kevinkassimo opened #1085 "Build warnings on macOS"
Warning messages of format below start to occur recently on deno build on macOS
[code]

[2018-10-24 22:14] kitsonk commented on #1085
I'm working on latest master on macOs and not getting that.

[2018-10-24 22:15] kitsonk commented on #1085
Oh, I haven't pulled the latest merge of updates to libdeno.

[2018-10-24 22:16] kevinkassimo commented on #1085
@kitsonk hmm... In that case might be related to my recent `brew upgrade`. Closing.

[2018-10-24 22:16] #1085 closed

[2018-10-24 22:44] kevinkassimo opened #1087 "Exception throw is VERY slow in Deno"

[2018-10-24 22:50] ry commented on #1087
Yes I’ve noticed it too - I think there must be a timeout somewhere (tokio?)
I think the way to debug it is to sample the stacks during the delay and see what’s being executed

[2018-10-24 22:51] kitsonk commented on #1087
or is the `source-map` really slow?  I guess it should be _that_ slow though.

[2018-10-25 01:08] cByst commented on #1064
What do you think the expected behavior if this case encountered?

[2018-10-25 07:30] kevinkassimo commented on #1064
@cByst like throw a permission_denied error? Or we can add another custom error and throw it

[2018-10-25 14:41] ry commented on #1087
I did a bit of investigation:

`tests/error_001.ts` is a good example of the slowness. I am debugging with `./out/debug/deno tests/error_001.ts -D`

I traced the slowness to a specific call `consumer.originalPositionFor()` which enters the 3rd party `source-maps` library.
https://github.com/denoland/deno/blob/2cfa60832496902089b9d73d3954318aa8a1fe2a/js/v8_source_maps.ts#L245-L251

It does not hang

[2018-10-25 14:51] EduardoRFS commented on #1048
I think about making explicit loaders like webpack `import x from 'y!ds` that allow us to create compatibility with the browser using some hacks

[2018-10-25 19:37] ry commented on #1087
So, the above commit solves the problem but makes incremental builds 3m instead of 30s due to longer decoding the source map during the snapshot process. Additionally it more than doubles binary size...
This is very painful - but I think it's necessary.

[2018-10-25 21:12] kitsonk commented on #1087
@ry the source maps include the sources at the moment, part of why it is so large. I suspect they aren't needed for just unwrapping stacks, so I suspect we can eliminate them. If you don't get the chance, I will try today and raise a PR if it works.

[2018-10-25 21:36] kitsonk commented on #1087
@ry taking a look at it, rollup is adding `sourcesContent` to the `.map` automatically.  I can't chase it down, yet, but it does not seem to be "flaggable" at the moment.  I think I will raise an issue to get it "flaggable" because not everyone needs it (like us), but I suspect it would take a while to filter through.  One possibility it to just "hack" it out during the build process, possibly by

[2018-10-25 21:50] ry commented on #1087
At minimum we need to be tracking this slowness. I add error_001.ts to the benchmark page in the above commit.

[2018-10-25 22:36] kitsonk commented on #1048
@EduardoRFS at this point, I don't think we want to consider a pluggable loader.  I think we need to see how the larger ecosystem plays out, and it is a contentious issue.  The SystemJS and AMD plugins are essentially incompatible and the WHATWG loader spec has [essentially been abandoned](https://github.com/whatwg/loader).

If we implemented it people will depend upon a behaviour that might not b

[2018-10-25 22:57] EduardoRFS commented on #1048
From the browser point of view, it is basically a script named 'y!ds', a server can read it and render a script who make the load. Isn't necessarily some browser implementation standard, it's user land.

Yeah what i'm arguing about it's making a standard spec compatible with browsers(using just plain old render) and with a server side. It's a trick, but it works. We can't do it on server native be

[2018-10-25 23:33] EduardoRFS commented on #1048
Ops for work with web we needs loader on the end, `./potato.json!json`see the example on the browser https://github.com/EduardoRFS/koa-web-loaders

And on the deno we just have some hook to loader who can replace the 'json'. If it's implemented it gonna work today on deno and on browse exactly identical

[2018-10-25 23:46] kitsonk commented on #1048
I am not sure you actually understand how loader plugins work.  With both AMD and SystemJS, that logic is baked into the loader that analysis and module identifiers that are required, it then passes to another module that conforms to the loader plugin API for that loader the information about the module, which allows the plugin to "replace" some of the standard loader functionality and eventually

[2018-10-26 00:06] #374 closed

[2018-10-26 00:11] kitsonk commented on #1087
@ry further investigation shows that it is rollup that is specifically inlining the sources, that it isn't optional, but it feels like a fairly clean process to make it optional.  I am going to raise an issue and a PR for rollup, but once I have it working I can take our custom build into `third_party` while it hopefully gets integrated into Rollup.  Seems like a very logical feature.

[2018-10-26 00:29] EduardoRFS commented on #1048
I'm not proposing an API, i'm proposing only a way to detect a loader, who can be detected by a server and sended to browser without need to compile it and change the actual source. The API is another question

No it doesn't because you can't use ESM `import` to import an AMD / SystemJS module. That's the main point here, it's possible with some server side tricks to make it compatible with actual

[2018-10-26 03:47] kitsonk commented on #1048
Module loaders are not part of the ESM spec.  So I am not sure how your solution makes anything compatible.

Correct, browsers read media types, and the PR respects media types for remote modules, just as much as a browser does.  So one could argue it is "more" compliant and compatible.

[2018-10-26 06:35] kitsonk commented on #1087
I have raised a PR at rollup/rollup#2531 which fixes this and will attempt to integrate the custom build into `third_party` until the feature is published in Rollup (assuming it is accepted).

[2018-10-26 06:40] kevinkassimo commented on #1085
@kitsonk Actually, I think the version of `clang` used comes from `third_party`. Have you tried update `third_party` and recompile? The recent "treat warning as error" commit prevents me to even do a normal build (had to manually disable it)

[2018-10-26 07:04] hayd commented on #1085
I had also seen this. Fixed by re-running `tools/setup.py`.

[2018-10-26 07:18] kevinkassimo commented on #1085
@hayd Works. Thanks!

[2018-10-26 08:57] kitsonk commented on #1085
Yeah, I have started to run `./tools/setup.py` out of habit whenever I see `third_party` in master is updated.  I also have started doing `rm -rf out` as well.  The build process with the jumbo V8 builds has gotten a lot faster on my mac.

[2018-10-26 11:41] EduardoRFS commented on #1048
It isn't incompatible, don't exists anything that don't allow that. The spec didn't say anything about that, so everything who works on top of the actual spec isn't incompatible. It's so true, that in 10min it's possible to test and see "hey it works". But AMD and SystemJS don't work on top of the actual spec. Even with a server, you cannot make a simple `import`

[2018-10-26 12:29] jeromegn commented on #1087
FWIW we had that problem on fly.rs and we decided to do sourcemaps in Rust instead of inside V8. The first error that needed to print original lines from the source map would take a long long time. The  `sourcemap` crate for Rust seems to handle that much better.

https://github.com/superfly/fly.rs/blob/master/src/runtime.rs#L261-L302

It's not ideal, but it's implemented using a "source map threa

[2018-10-26 13:55] #930 closed

[2018-10-26 15:06] ry commented on #983
I agree with all your points.

There was no thoughtful reason for this.

[2018-10-26 17:47] Kachulio1 commented on #1075
@ry I see is just two lines of code but what's the complexity of this task? you haven't assigned a label.
I would love to work on it.

[2018-10-26 17:52] ry commented on #1075
@Kachulio1 go for it - please see the comments in #1076 first.

[2018-10-26 18:19] hayd commented on #1075
Aside simplification is to eprint `panic_info.to_string()`:

[code]

[2018-10-26 18:26] ry opened #1104 "Travis should fail immediately if tools/lint.py or tools/test_format.py fail"
We don't want to clog the CI pipeline with things that will need to be built again. We want to give more immediate feedback to PRs

[2018-10-26 20:42] hayd commented on #1064
![chrome](https://developers.google.com/web/fundamentals/security/prevent-mixed-content/imgs/simple-mixed-content-error.png)

throw an error unless --allow-running-insecure-content, --allow-insecure or something.

[2018-10-26 21:40] kevinkassimo opened #1105 "Add documentation for `.deno/deps` and `.deno/gen`"
Deno currently stores cached remote resources in `.deno/deps` and compiled scripts in `.deno/gen`. We are expecting users to manually clear the cache themselves (as discussed in #1101), therefore we need to clearly document these directories.

@ry could be a "good first issue" for new contributors.

[2018-10-27 08:52] j33n commented on #1105
@kevinkassimo I would be happy to take this up

[2018-10-27 15:38] #363 closed

[2018-10-27 17:13] #861 closed

[2018-10-27 17:18] hayd commented on #861
@Ashniu123  Is this fixed now?

[2018-10-27 22:17] kyranet opened #1110 "ninja fails to build with code 1 on wsl"
Using wsl with Ubuntu 16.04 LTS (Xenial), and ccache 3.5+15_gdc5dce0, the build fails after https://github.com/denoland/deno/commit/59acd8d1ac454d8371234e46188f0184bd870218. All dependencies and libraries are up-to-date from apt-get (minus ccache, which was built from source). The command ran was `./tools/build.py`.

![image](https://user-images.githubusercontent.com/24852502/47609818-978d8400-da4

[2018-10-28 00:44] lenkan commented on #726
Love this project. I played around with it today and created simple http server library on top of the TCP-api. Is the plan still to add this API to deno or leave it for external libraries? Anyways, I ended up with this: (https://github.com/lenkan/deno-http). Let me know if it is something useful. If the plan is to use Hyper, I guess it's pretty irrelevant.

[2018-10-28 19:09] kevinkassimo commented on #1064
I am thinking about whether this should be enforced in TypeScript or Rust. If in TypeScript, I would need to expose protocol used to load the module to the compiler. However, this would mean the http loaded module would be first fetched and cached anyways. If in Rust, we need to do protocol checks in `code_fetch`.

Also, we might need to change the logic of `fetch_sync_string`, as currently it bli

[2018-10-28 20:31] kitsonk commented on #1064
Something like this needs to be enforced in the privileged side (Rust) in my opinion.  TypeScript has no concept of remote modules, the Deno compiler has no concept of remote modules.  It simply asks for some code.  It feels like it should be another kind of a `DenoError` that is returned from the privileged side, like not found is for missing modules.

[2018-10-28 20:38] kitsonk opened #1112 "Support namespace imports when flattening in library builder"
Currently when building the internal library of Deno, and are flattening a module/namespace (e.g. `"deno"`), name space imports are not supported.  For example the following will result in an error in the library:

[code]

And instead the individual symbols have to be imported, like:

[code]

It maybe difficult to support this as it is challenging to resolve the symbols needed from the imported mo

[2018-10-28 20:59] kevinkassimo commented on #1064
@kitsonk Yeah Rust side impl sounds much more reasonable. We could introduce some new kind of Error like `UnsafeImport` or `InsecureProtocol` for this (also could shared with #1063).

(From my investigation TS side is doable by adding protocol data to CodeFetchRes and ModuleMetadata, and then examining current module and its deps in `_makeDefine`, but this feels unrelated to the functionalities of

[2018-10-28 21:02] kitsonk opened #1113 "Pass long strings as [ubyte] on code_fetch"
Long strings (e.g. `source_code`, `output_code`) should be passed  as binary `[ubyte]` instead of as a string. Since JS will decode the  flatbuffer into a string anyway, having these be a string means Rust must also decode `utf8`.

`CodeFetchRes` contains some of these:

https://github.com/denoland/deno/blob/a68403d09006af3e7f75aacb9e818ce3bcf60b13/src/msg.fbs#L142-L151

[2018-10-28 22:44] kitsonk commented on #1064
That is certainly possible, but from a design standpoint, when it comes to loading modules, all of "does this module exist, does it not exist, is it safe to load" needs to be handled on the privileged side.  There are two pieces of information that the compiler needs to pass, the module specifier and the containing file.  If it gets something back, it assumes it is "safe" to try to execute, then c

[2018-10-29 05:08] kitsonk commented on #51
I am going to take a look at this now.  The compiler has settled down to a point where I think we can start to deal with this.

There are a few approaches that could be taken, and I am not sure which is best:

- We resolve `tsconfig.json`.  If we do this, it will be a little bit problematic, as we will need not allow certain options to be passed to the compiler, as they would cause issues with how

[2018-10-29 23:30] ry opened #1117 "op to give number of open "resources""
Resources (AKA `rid`) are Deno's version of file descriptors. They are integer values used to refer to open files, sockets, and other concepts. For testing it would be good to be able to query the system for how many open resources there are.

The table that holds them is here:
https://github.com/denoland/deno/blob/8b39d2c99ef41736bb1d5b74ccda2f3aa6223e84/src/resources.rs#L41

Maybe call this `den

[2018-10-30 08:57] bartlomieju commented on #1117
I'll do it

[2018-10-30 16:51] ry opened #1120 "support chome devtools"
[V8 has extensive debugging abilities built-in](https://github.com/denoland/deno_third_party/blob/56c4acce2e8ffe979b2e7d52d2b3e6f613ed492e/v8/include/v8-inspector.h#L239-L293).
This is what allows Node to connect to Chrome inspector for debugging.

The behavior of `node --inspect --debug-brk script.ts` is usually the behavior people want - which is start V8Inspector and break on line 1 of the main

[2018-10-30 20:00] ry commented on #1117
landed in 946acbc

[2018-10-30 20:00] #1117 closed

[2018-10-30 23:10] kitsonk commented on #51
Talking to @ry, we discussed that option 1 listed above is a better approach.  Deno will support the `tsconfig.json`.  There are certain compiler options which we cannot support or allow to be modified that have to deal with how code is emitted.  When a `tsconfig.json` provides one of these, we will ignore it, but log out a warning that the option is ignored.

[2018-10-30 23:42] ry opened #1123 "Wanted: gista clone in deno"
All the components for doing a ["gista"](https://www.npmjs.com/package/gista) like clone in deno are there. Here's the basic outline of what to do:
[code]
1. Read the GIST_GITHUB_TOKEN from `deno.env()`
2. Using `fetch()`, [which now supports HTTPS](https://github.com/denoland/deno/commit/9b8f77f5253a2c731d3ae53de4cb14648e74292d), abstract the [github gist API](https://developer.github.com/v3/gist

[2018-10-31 02:55] cedric05 commented on #1123
i will try to do this.

[2018-10-31 03:50] #1048 closed

[2018-10-31 07:59] ry commented on #695
Recent work:
https://github.com/denoland/deno/pull/1127
https://github.com/denoland/deno/pull/1125
https://github.com/denoland/deno/pull/1128

[2018-10-31 16:07] TehShrike opened #1133 "POST requests with fetch aren't working"
Where in this case, "not working" means "isn't sending headers to the server", as near as I can tell.

Reproduction: https://gist.github.com/TehShrike/c8afda9c15b7061e4a57b7d9d7f9777e

This is blocking #1123

[2018-10-31 16:11] ry commented on #1133
Some pointers:
- currently `op_fetch` is hardcoded to GET, https://github.com/denoland/deno/blob/21dac6646552dcacb68a0ad167723976f27b5c47/src/ops.rs#L412
- The method should be added in this struct: https://github.com/denoland/deno/blob/21dac6646552dcacb68a0ad167723976f27b5c47/src/msg.fbs#L193-L198

[2018-10-31 16:11] TehShrike commented on #1123
This implementation is pretty close https://github.com/TehShrike/gistd but is blocked by #1133.

[2018-10-31 17:03] Ashniu123 commented on #1133
I'll take this... Just let clear somethings for me please

* Replace `get` by `request` in `ops.rs` like [here](https://hyper.rs/guides/client/advanced/)
* Add a *method* in `msg.fbs` which is a enum of http verbs (get, post,...)
* `fetch.ts` also needs to add a *method* as arg and passed into ???

[2018-10-31 17:46] TehShrike commented on #929
Perhaps "how should deno handle extensionless files" should be a separate issue from "deno ignoring shebangs"?

[2018-10-31 18:45] ry commented on #695
https://github.com/denoland/deno/pull/1128 has added build.rs and allows users to call `cargo check`

however `cargo build` is not working due to linker errors. Here is a WIP
[code]

[2018-10-31 22:58] orenwf commented on #1104
Putting bash `&&` ::= `AND_IF` between commands should make them execute in sequence but exit early on a non-zero return code from any of the commands.
[code]

[2018-10-31 22:59] ry opened #1135 "Write docs for how to setup RLS (rust language server)"
in Docs.md

[2018-11-01 03:53] orenwf opened #1137 "Fedora28 missing libtinfo.so.5 required by clang_format"
https://github.com/denoland/deno/blob/198e396eadad704e96c9f37e24effc89a904f570/tools/format.py#L24-L26

Workaround I found, which works on Fedora28, is to symlink existing `libtinfo.so.6` as follows:
`sudo ln -s /usr/lib64/libtinfo.so.6 /usr/lib64/libtinfo.so.5`

https://github.com/commercialhaskell/stack/issues/1012#issuecomment-370929682

[2018-11-02 16:32] mrkurt commented on #1047
We have a pretty clean URL implementation we can do a PR for if you wall want. The URL polyfills have been a headache for us over the last 8 mo:

https://github.com/superfly/fly.rs/blob/master/v8env/src/url.ts

[2018-11-02 17:34] ry commented on #1047
@mrkurt that would be appreciated - code looks good

[2018-11-04 00:02] hayd commented on #948
Your PR `fs::File::from_std()` was included in into tokio-fs-0.1.4 (which deno is using now).

[2018-11-04 14:05] ry opened #1150 "Run cargo-clippy as part of tools/lint.py"
https://github.com/rust-lang-nursery/rust-clippy

It has already some issues: https://github.com/denoland/deno/pull/1149

[2018-11-05 00:16] hayd commented on #1150
Note: With clippy::pedantic I can get deno down to these warnings:
https://gist.github.com/hayd/8678eff672cb077bfdea260c1a2dd635

[2018-11-05 15:52] hayd commented on #1150
issues above are on pedantic mode only, which shouldn't run in ci.

I'm not 100% sure, but I think you want to move the rustup command next to the other rustup usage. Alternatively it'd be added to third_party. My advice is to experiment...

[2018-11-05 21:39] kitsonk opened #1158 "TypeScript support in REPL"
PR #998 provides a REPL for Deno, but only supports plain JavaScript.  It needs to support TypeScript as well.

I was thinking about the approach and am writing up a couple ideas.  [ts-node](https://github.com/TypeStrong/ts-node) provides a REPL and in looking at how they accomplish it seems like a reasonably logical approach to attempt with Deno.  In order to support that, I think we need to do t

[2018-11-06 00:30] kevinkassimo opened #1159 "Use `let` in REPL gives ReferenceError"
Currently, this happens in REPL:
[code]

[2018-11-06 00:35] MasterJames opened #1160 "Where to be notified of builds and Releases?"
I was hopeful we could arrange a special mailing list (from some service maybe even mailchimp) or an empty repo to watch for only important announcements.
In particular I would like to know when there are builds available or releases and not have to wade through all the messages in my inbox. It's been helpful to get an idea on what is happening but it's just too much for my little inbox to handle

[2018-11-06 00:55] justjavac commented on #1159
I use ` deno -D`, but the output does not give us any help:

[code]

also `const`:

[code]

deno version:

[code]

[2018-11-06 01:00] justjavac commented on #1159
some other examples

[code]

and

[code]

[2018-11-06 01:02] kevinkassimo opened #1161 "setTimeout does not work in REPL"
In REPL, something like
[code]
never fires

[2018-11-06 01:10] hayd commented on #1161
This was caused by the change from readline to being sync. @ry

Note: It would be good to test this.

[2018-11-06 01:38] kitsonk commented on #1159
I suspect it is because `let`/`const` are block scoped and the way we are doing the REPL, every line is treated as a new block...

[2018-11-06 01:49] justjavac commented on #1159
Is there a plan to improve this REPL? compared with Node

**node**

[code]

**deno**

[code]

[2018-11-06 01:52] kitsonk commented on #1159
@justjavac Multi line REPL would be a seperate feature request.

There are a lot of things to improve with the REPL, we needed something to start with.

[2018-11-06 02:06] hayd commented on #1159
Multi line support is one of the easy ones, I have an clear idea how to do it (without many changes). Context is more important, for sure.

[2018-11-06 09:48] bartlomieju commented on #1158
Thanks for opening the issue @kitsonk. Compiler extensions were my questions to you. I'll take a look at `ts-node` and starting hacking around.

[2018-11-07 15:12] ry opened #1168 "Rewrite libdeno/snapshot_creator.cc in Rust"
Recently snapshot creation was exposed in deno.h 61cda728816b5916180f22d977ba741e2fadc8d9

https://github.com/denoland/deno/blob/d67733c34d13598003c9f6573f53e4a2b1892999/libdeno/deno.h#L32-L37

This `executable` should become a `rust_executable`
https://github.com/denoland/deno/blob/d67733c34d13598003c9f6573f53e4a2b1892999/BUILD.gn#L247-L255

Medium difficulty. Good for someone already experienced

[2018-11-07 15:17] ry commented on #1168
Discuss with me before...

[2018-11-07 15:17] #1168 closed

[2018-11-07 17:34] ry commented on #1046
@rsp Yes - you can do that. We added this because TS flags this imports with an extension error - particularly in IDEs. It also help integrating with existing code. I hope we can move away from it over time - but it was a philosophical vs practically trade off.

[2018-11-07 20:50] kitsonk commented on #779
This can be closed.  We should handle any enhancements to the REPL under different issues.

[2018-11-07 22:38] #779 closed

[2018-11-07 23:29] rsp opened #1170 "Restricted characters in package names"
I just saw the [deno.land](http://deno.land/) page that seems to be some early version of a Deno package registry.

I noticed a message next to Create Package / Package Name:
"No spaces. No unicode, use ascii. **Use underscores instead of dash.**" [emphasis added]

I made a quick experiment with dependencies of some popular npm modules and it seems that **most** of the package names **include dash

[2018-11-07 23:35] ry commented on #1170
That's a very early - not working website. Sorry - I should have hid it better.

Deno is completely decentralized - people are free to put code up wherever they like using an number of dashes in the URL. The `https://deno.land/x/` service is just a connivence for our own libraries and just to have a canonical place where people can see some available code.

[2018-11-07 23:35] #1170 closed

[2018-11-08 16:52] ry opened #1173 "Headers type not available"
Adding the following to `js/headers_test.ts` break it
[code]
Results in the following error:
[code]

[2018-11-08 17:19] #1104 closed

[2018-11-08 19:32] ry opened #1174 "REPL multiline bug"
[code]

[2018-11-08 19:38] hayd commented on #1174
Also @kevinkassimo 's [report](https://github.com/denoland/deno/pull/1165#issuecomment-436383458):
[code]

[2018-11-09 07:30] hayd commented on #1174
Perhaps can simply evaluate each line and if it's SyntaxError with "Unexpected end of input" message then await the next line.

Wait until after #1169 .

[2018-11-09 07:55] kevinkassimo commented on #1174
@hayd it has pitfalls when handling things like

[code]

[2018-11-09 08:13] hayd commented on #1174
Perhaps a --check like function to verify syntax without evaluation... Prior to evaluation.

[2018-11-09 16:39] #1173 closed

[2018-11-13 22:16] MichaelJGW commented on #199
I have no idea what I'm doing but I thought it would be fun to pitch in. This is what I got.

What do we need to do?
* Declare what the server is
* Give the server what it needs
* respond to the users of the server

[code]

With this going from Sockets, HTTPS, HTTP the only changes from this pattern.
* Config given to the server.
* Event emitted
* State Structure

Without comments

[code]

[2018-11-14 00:02] Qard commented on #199
I like the idea of just layering async iterators to apply protocol logic in isolation. It's easy to layer the Node.js-like abstractions on top of that. For example, `http.createServer` could naively be implemented like this:

[code]

[2018-11-14 01:36] kevinkassimo commented on #199
For those who are interested, Ryan is implementing `http` as an importable module [here](https://github.com/denoland/net) and is using async iterator to accept requests.

[2018-11-14 08:10] hayd opened #1189 "Lookup filename or url of function definition"
[code]
It would be useful e.g. for #1181 and #1008, where you need to look up the url of the caller\* to determine what they have access to.

Potentially this could be an internal only for these usecases (later perhaps exposing a function that can do the file lookup) rather than monkey patch function.prototype.

---

\* I was imagining functions would be looked up by .caller BUT it seems like that

[2018-11-14 19:33] kitsonk commented on #1189
Anything we solve in JavaScript land would be insecure and likely horribly unperformant and hacky.  I think we would have to find a different approach.

When we get to the point of loading ESM modules directly with V8, in theory V8 might be then able to assist in tracking where something is coming from, as far as a loaded module.  I don't see how that would assist with #1181 though.

[2018-11-14 23:02] kitsonk opened #1190 "Move TypeScript to a seperate isolate"
@ry and I have been having a side conversation about breaking out TypeScript into a seperate isolate.  TypeScript would then not be part of the runtime isolate where user code runs.  There are potentially various benefits to this approach:

* Better startup time, as for various reasons the snapshot for Deno continues to increase in size and that takes time to restore.  TypeScript is easily the big

[2018-11-15 00:51] dmayerdesign commented on #205
@alexhultman Prove you're not just a troll and post some code!

[2018-11-15 01:36] #1133 closed

[2018-11-15 01:42] Macil commented on #1189
I think the problem is more broad: if you have scripts from multiple origins running in the same javascript context, then I'm not sure you can have something be properly secure in a way that prevents the different origins from impersonating each other (while still allowing people to write javascript/typescript in normal ways).

If one just wants something that can show a useful message to a user c

[2018-11-15 03:37] ry commented on #1123
I have a working example here: https://gist.github.com/ry/f3c3449b64806e1d58c9ea021ffb40cd

It needs #1194

[2018-11-15 03:52] ry opened #1195 "Support SO_REUSEADDR"
Because of the lack of this, many networking tests resort to using different ports.

[2018-11-15 14:37] flying-sheep commented on #481
We should use the [directories](https://crates.io/crates/directories) crate

[2018-11-15 15:06] bartlomieju opened #1198 "Pass unrecognized command line arguments"
At the moment using command line arguments that are not recognized by Deno results in error:
[code]

We'd like to be able to pass additional arguments especially once #1197 lands. I think it's connected with recent introduction of `optparse` in #1080.

cc: @ry @kevinkassimo

[2018-11-16 00:05] #929 closed

[2018-11-16 02:44] satyarohith opened #1202 "Deno fails to find extension less imports in cache"
ex:
[code]

[2018-11-16 03:44] #522 closed

[2018-11-16 03:44] #1198 closed

[2018-11-16 18:10] kevinkassimo commented on #1202
I think this is still cached. It is just that the import path is `https://deno.land/x/testing/util`, so Deno attempts to download the file without `.ts` extension first (which does not exist so not cached), failing, and making extension guesses and found the cached `util.ts` file.

[2018-11-16 19:10] alexhultman opened #1205 "Update req/sec benchmark with actual comparisons"
With deno 0.2.0 I can get the Http server from denoland/net working enough to benchmark it.

This means we can finally show and track accurate numbers comparing apples to apples in that req/sec benchmark graph.

Performance loss is major, so current numbers are completely misleading, esp. since what is essentially "deno_tcp" is named "deno" which misrepresents "node" numbers. This because it's not

[2018-11-16 22:09] alexhultman commented on #1205
Deno performs at levels far below what modern software that's this _overhyped_ should ever do. Old ancient versions of Node.js 0.8.x performs better or equal to new Node.js versions in IO, they did not perform _this_ bad ever in history. Not even close. Ever.

It's blatantly obvious something is horribly wrong the the design of Deno and if things don't start getting better _very soon_ it's going t

[2018-11-16 22:32] alexhultman commented on #1205
So it's going to be lowered by yet another 50%? Is that the plan?

[2018-11-16 23:35] alexhultman commented on #1205
@vcarl Do you have any motivation for that downvote of my post? What's bad in your view? You don't like scientific, historically correct measurements? If you're trying to point something out, I'm ready to read your text. I cannot read what a :-1: is supposed to mean.

[2018-11-17 00:31] leeoniya commented on #1205
it's very premature to say this about a project that still has a long road ahead of it. and equally silly to claim that deno will never be able to perform as fast as Node - of course it will, it's built atop of the same v8 as Node, plus Rust. it will certainly be capable of delivering at least Node-level performance *when it's finished*, so your FUD is just that.

performance optimization is usual

[2018-11-17 00:31] Macil commented on #1205
@alexhultman

<details><summary>Off-topic</summary>

Just because you asked: the tone in certain parts of your posts aren't fun, and probably even repel some amount of capable performance-interested readers who are here to collaborate for fun. "below what modern software that's this *overhyped* should ever do", "is far below Apache-like performance from early 1990s.  What's even the point of Deno?

[2018-11-17 00:34] kitsonk commented on #1205
Sorry to be direct, but your commentary has been very adversarial.  It may not be intended that way, but that is the way it comes across.  The way you are presenting your arguments are like a prophet who says the sky is falling.  If you want to contribute to Deno, then I think there are far more constructive ways.  Your commentary seems to indicate that some of your observations are not self evide

[2018-11-17 00:35] BenZed commented on #1205
@alexhultman, you're the only programmer I know who's famous for being angry.

[2018-11-17 01:38] alexhultman commented on #1205
@leeoniya Reading your edit, you're now making the argument fallacy of "No true Scotsman". It's a classic fallacy you can find everywhere; https://en.wikipedia.org/wiki/No_true_Scotsman

Basically, yes, NGINX is a market _brand_ that is subject to _commercial marketing_. Guess what? Marketing is not _reality_. It's marketing.

You expect Loreal face cream to _actually_ make your skin 10 years youn

[2018-11-17 01:42] alexhultman commented on #1205
Maybe it's not exactly no true Scotsman but I have forgotten the name of the other thing. Something about a king. Anyways, it's still a stupid fucking thing to say.

Point is, Deno is slow af.

[2018-11-17 01:50] alexhultman commented on #1205
@kitsonk You're making the completely wrong assessment here. I criticize things, I'm not a socialist. Not looking to "contribute" other than to point out that Deno is on course for disaster. I don't mind disaster. Just saying, it's going to be a disaster unless someone puts in some kind of quality control.

Hahahaha, did you even see the graph? CLEARLY nobody cares the slightest around here.

[2018-11-17 03:04] watilde commented on #1047
To follow URL spec in WHATWG, here is a proper one:
https://github.com/jsdom/whatwg-url/

[2018-11-17 03:04] leeoniya commented on #1205
@alexhultman

ok, it wasnt always *just* marketing. it *was* faster than Apache for a long time, and still *is* faster than Node. if i remember it was shown to be faster using the same types of throughput graphs and benchmarks done by third parties. anyways, ok.

does a "slow" http implementation that can only do 25k req/s really matter in the context of having to execute almost-certainly sub-opti

[2018-11-17 03:39] hayd commented on #1205
One can offer a pure typescript API like https://deno.land/x/net/http.ts, and later change the implementation (without changing the API) to use tighter v8 bindings, perhaps even similar to uws. The http API is not wedded to typescript, or hyper. At the moment it's 113 LOC (kinda)!

Everyone is in agreement here, it is essential performance is vastly improved.

The disagreement seems to be whether

[2018-11-17 12:32] alexhultman commented on #1205
I mean, honestly, would you go to the Linux kernel mailing list and say,

"Hey guys, I think you need to stop optimizing the network stack because it's doing 215k req/sec and I don't need that, thanks".

Why do you think companies like Facebook and Google constantly do crazy shit in the kernel in regards to IO? They could just stop and go for a lunch, or even just stop completely.

[2018-11-17 21:11] kitsonk opened #1208 "Something wrong with build and detecting changes..."
I have noticed for a while, when when changing something that goes into the JavaScript bundle and therefore snapshot, there is something not quite working.  It takes two passes of the build script to end up with a valid build with all your changes.  For example, I made a trivial change to the `js/compiler.ts` and then did a build:

[code]

I would have expected the second time I run the command I

[2018-11-17 21:13] kitsonk commented on #1205
I would say that your input is not welcome here.  Please go criticise somewhere else.

[2018-11-17 22:05] alexhultman commented on #1205
Not really how the internet works, of you publicly publish things they are subject to open criticism. Well, unless we're taking North Korea kind of internet.

Anyways, you have the numbers and know what to do. I'll come back in a few months and keep doing my finger pointing. If you don't like that you should probably get off the internet.

[2018-11-17 23:02] kitsonk commented on #1205
I had once doubted the need for community standards.  It is attitudes like this that demonstrate why such things are needed.  There is a difference between being critical and being critical and insulting.  Insulting criticism is almost never universally welcomed.

You presume too much about my personal ability to take criticism.  It is a fallacy though to believe you can say whatever you want on t

[2018-11-18 00:54] alexhultman commented on #1205
If you don't want input from people who disagree with you (which is known in democratic societies as free speech and/or discussion) then don't hang around a publicly published 30k-something GitHub repo.

You _are_ going to find people who disagree with you on the internet. You can go unplug your Ethernet and live like that if you find that more settling. It's as simple as that.

[2018-11-18 01:11] kevinkassimo commented on #1205
@alexhultman I hate arguing with others and I do agree that optimizations is really important, but I have to say your words are a bit too strong to @kitsonk . Especially considering you said that you don’t want input from others who disagrees with you before in #162 yourself.

![a523f3ac-5410-4c35-8039-1614397376df](https://user-images.githubusercontent.com/15007517/48667490-763f1700-ea8b-11e8-930

[2018-11-18 01:17] alexhultman commented on #1205
Oh so that's the same person! Wow, we really have chemistry going :heart:

Right, I remember. He thought he was Ryan. He still do.

[2018-11-18 01:23] alexhultman commented on #1205
Wow! My post all the way back from June 6th perfectly predicted the exact performance outcome of Deno!

Man, I told you all so long ago and now we stand here knee deep in shit. Just like I said way back then.

I'm proud! :clap: :clap: to me

[2018-11-18 21:37] piscisaureus commented on #1208
@kitsonk can you replicate this?
If you can, could you run `build.py -d explain` the second time (when you expect no work to do but there is) and share the output?

[2018-11-18 23:10] kitsonk commented on #1208
@piscisaureus

So on the first one, for some reason, Deno doesn't get marked dirty, it is only the second build, so updates to the snapshot for some reason aren't dirtying Deno:

[code]

[2018-11-19 16:37] ry commented on #1112
I haven't experienced this lately. Was it fixed?

[2018-11-19 16:38] ry commented on #466
Fixed in 213885a9d00a913e3fd2eb21a5992efb63c888f5

[2018-11-19 16:38] #466 closed

[2018-11-19 16:45] ry commented on #447
We had a long email exchange with Rust folks and the conclusion was that this is indeed the only way to link Rust code. I don't find this satisfactory - so I will leave this open. Maybe it will change in the coming years.

[2018-11-19 16:50] ry opened #1209 "Release "deno" crate."
- [X] allocate name https://crates.io/crates/deno
- [X] make 'cargo check' work (i.e. basic cargo support) #1128
- [x] gn and ninja should build into the same dir https://github.com/denoland/deno/pull/1184
- [] prebuilt V8 binaries to speed up build. orig #1217 - but reverted recently because sccache + s3 works so well
- [x] make 'cargo build' work #695
  - [x] gn on windows uses `lld /llvmthinlto

[2018-11-19 16:52] ry commented on #296
Before we think about how to have native addons, I want to release a crate #1209  - that provides a way to link in native code (albeit only if you're building your own executable)

[2018-11-19 16:54] ry commented on #23
fixed in 8b39d2c99ef41736bb1d5b74ccda2f3aa6223e84

[2018-11-19 16:54] #23 closed

[2018-11-19 16:55] ry commented on #1010
Partially implemented in  0501330607b000e0913994e633b76410e1fd162c and 61cda728816b5916180f22d977ba741e2fadc8d9

[2018-11-19 20:01] kitsonk commented on #1112
@ry I don't think so, at least not intentionally.  Worth taking a look at.

[2018-11-19 23:30] kitsonk opened #1210 "Replace text-encoding"
I worry about the performance of `TextEncoder` and `TextDecorder`, especially if we get more reliant upon them for dealing with `[ubyte]` arrays to strings in the runtime.  The [author has halted development on it and is no longer maintaining it](https://github.com/inexorabletash/text-encoding).  It also focused very heavily on spec compliance, versus any sort of performance (as per the authors no

[2018-11-20 06:18] s-panferov commented on #1209
I would really like to be able to use `deno` as a library. My goal is to build an single-executable application server based on rocksdb and deno (or other JS runtime, but deno is a natural choice here). Will it be possible?

[2018-11-20 08:21] kitsonk commented on #1209
That is one of the goals.

[2018-11-20 23:30] kitsonk commented on #11
@shobhitg where to start...

If you want to run TypeScript under Node.js without having to worry about transpiling, then `ts-node` is the solution for you.

Deno is a full binary runtime which uses V8 (the same as Node.js) but shares little else.  By default it only allows read access to the file system and requires explicit permissions for any other access.  It can load modules just based on URLs

[2018-11-21 18:35] axetroy opened #1211 "Golang style date external library"
The time library provided by Golang is really easy to use.

deno also learned a lot from golang

Is it necessary to introduce a golang-style API design to make it the official library?

[code]

[code]

I think this design is very elegant. If it is implemented, it will be good.

[code]

[code]

[2018-11-21 18:40] ry commented on #1211
This would be a good external library!
submit a PR to https://github.com/denoland/registry/blob/master/x/database.json
To get the deno.land redirect.
Closing since it’s not a bug for core.

[2018-11-21 18:40] #1211 closed

[2018-11-22 12:51] kt3k opened #1212 "local `require` parameter handled as if it's commonJS's require"
When I run the following script

[code]

deno (v0.2.0) throws the following error
[code]

If I changed the `require` to `require_`, it outputs `./a`

[code]

deno seems handling local `require` parameter in a special way (probably because of DenoCompiler?).

----
Note: I found the above when I tried to use a browserified script in deno, which includes `require` local parameters to simulate commonj

[2018-11-22 19:23] ry opened #1213 "Port tools/unit_tests.py to deno"
`tools/unit_tests.py` was written in Python in order to launch subprocesses. (It needs to run the unit tests with various command-line flags.) However, now that Deno has support for running subprocesses via `deno.run()` ( https://deno.land/typedoc/index.html#run ) we can do all of this in JavaScript.

This is relatively easy but it may require some back-and-forth as we try to work out this new API

[2018-11-22 22:36] kitsonk commented on #1212
It is TypeScript that is actually "handling" it, when it is a `.js` file like this.  It sees something that looks like a CommonJS module and transpiles it to something that looks like an AMD module, and then we try to load it, passing in the Deno `require` because it thinks it is a common JS/UMD module.

In particular, with the sort of "UMD detection" like in the linked example, we would need to s

[2018-11-23 17:37] ry commented on #948
I got half way done with this before getting distracted. Will try to fix up in the next few days.
WIP here https://github.com/ry/deno/commit/756078733185e9127901c6957a73d0e2c9bdafde

[2018-11-24 09:49] #1017 closed

[2018-11-25 04:43] DanSnow commented on #1213
May I take this one

[2018-11-25 20:20] somombo commented on #726
@ry I suppose line 5 of example was meant to be `res.write(ab);` ?

[2018-11-25 21:07] kitsonk commented on #1210
I guess by native, I meant injecting the C++ implementation that Chromium adds. I don't know how easy/hard leveraging things like that are. I agree on the Rust, especially because it would be horrible to from a memory situation.

[2018-11-25 21:29] ry commented on #1210
It might be wildly naive but I would expect that V8 could optimize text encoder to nearly native speeds... it’s a fairly simple algorithm. The question is how well typedarray stuff gets optimized

[2018-11-25 22:17] ry opened #1219 "race condition in test: fetchPostBodyTypedArray"
Only happening occasionally - only observed on windows.
[code]

ex: https://ci.appveyor.com/project/deno/deno/builds/20541747

[2018-11-26 03:21] ry opened #1220 "wanted: path manipulation library"
* should be done in your own repo
* add link https://github.com/denoland/registry/blob/master/x/database.json
* have tests - see this as an example https://github.com/denoland/deno_examples/blob/master/.travis.yml

probably best to just start with this file: https://github.com/nodejs/node/blob/master/lib/path.js

or maybe this https://github.com/browserify/path-browserify/blob/master/index.js

[2018-11-26 03:32] ry opened #1221 "use third_party/depot_tools/pylint in tools/lint.py"
we already have access to a pylinter. we should use it.

Use `third_party/depot_tools/pylintrc` too.

See https://github.com/denoland/deno/blob/master/tools/lint.py

[2018-11-26 07:32] ry opened #1222 "Add web worker API"
can be copied mostly copied from here: https://cs.chromium.org/chromium/src/v8/src/d8.cc?l=1819&rcl=500be6dd6ec690aebae921e8a97d17f8055de017

[2018-11-26 07:51] romandev commented on #1222
I'll take this issue.

[2018-11-26 08:14] kitsonk commented on #1220
I would also say it needs to be authored in TypeScript.

[2018-11-26 23:07] ry opened #1225 "Add --allow-read"
Currently, deno allows disk read access without a flag. The idea behind this is that although programs may be able to access secret info (e.g. your ssh key) without network access or disk write access, there isn't anyway they could exploit that knowledge. It's meant as a connivance.

Environmental variable access is quite similar to disk read access. If you can access the environ without having wr

[2018-11-26 23:19] hayd commented on #1225
:+1: to --allow-read. It's conceivable you'd want net access without read.

This could later be modified e.g. to specify which dirs have read access.

[2018-11-27 06:35] steambap commented on #1220
If nobody took this, I'll take this issue.

[2018-11-27 15:35] pietvanzoen opened #1226 "shebang script fails with "Unknown media type for <filename>..." for extension-less filename"
I tried setting up a deno script with a shebang but it fails with the following error:

[code]

Let me know if I'm missing something.

Here's more info for context:
[code]

[code]

[code]

[2018-11-27 15:53] pietvanzoen commented on #1226
Adding a `.ts` extension makes it work fine.

[2018-11-27 17:34] bartlomieju commented on #1226
This is a bit tricky as Deno internals rely on file extension to resolve MediaType.

@ry do you think that changing `map_file_extension` in `deno_dir.rs` to return TypeScript as default for extension-less files is a bad idea?

Other idea is to change this bit (in `deno_dir.rs`):
[code]
to something like that:
[code]

[2018-11-27 17:50] rsp commented on #1226
There was some discussion about it in #929. While it seems that the reasonable solution to handle extensionless filenames would be to assume TypeScript by default but then the question is that since deno can run JavaScript then how could we override the default to tell the interpretter that a particular file is actually in JavaScript. It quickly gets tricky when you consider anything more than the

[2018-11-27 19:19] kitsonk commented on #1226
Yeah, I specifically mentioned that it [wouldn't work in the PR](https://github.com/denoland/deno/pull/1197#issuecomment-439152895).

I don't think we should have Rust lie about the file extension.  We are in the processes of splitting the compiler into a seperate isolate, and once that it done, I think the best thing to do is have the compiler tell TypeScript that files that have the media type o

[2018-11-27 19:35] ry opened #1228 "Re-enable flaky fetch tests"
Note the issue was only appearing on Windows. So ideally someone on Windows would debug this. The first set is to uncomment the tests and see if you can repeat the failure.

https://github.com/denoland/deno/blob/570269b73de713afcff712977d11a3910ed849ad/js/fetch_test.ts#L50-L161

[2018-11-27 23:57] hayd commented on #1160
Looks like Github also offers this now (not sure if this is an announced feature):

<img width="316" alt="Release only subscription" src="https://user-images.githubusercontent.com/1931852/49119408-14d23180-f25d-11e8-9f2a-1d04d45a14ec.png">

[2018-11-28 00:04] ry commented on #1160
Cool. Closing this one.

[2018-11-28 00:04] #1160 closed

[2018-11-28 06:30] MasterJames commented on #1160
I was just coming to say the new watch release only feature, which I've added.
I should have made the request (where for github in general I have never looked?) myself or added to the discussion for what is surely a long time requested feature.
So many repos I'm interested in monitoring progress of but not on a flood my inbox day to day way.
It will save a lot of email bandwidth. (I know I don't h

[2018-11-28 07:17] anjmao commented on #1190
@kitsonk My suggestion is to allow bundle user code into single bundle with command `deno build`. This way there is no need for warmup. Personally I can't imagine having a web server which takes ~1s to startup because in needs to transpile my Typescript code on runtime. JIT can be still used for `deno run main.ts`, but for production AOT compilation seems like a better choose.

[2018-11-28 09:33] kitsonk commented on #1190
@anjmao that is #21.  Currently Deno (now and when this lands) will simply load all cached transpiled code.  The bundle though is still a good idea.

The other thing that is a little bit of a challenge at the moment is that we don't support ES modules directly, so even JavaScript code needs to be transpiled.  That is #975.

But delivery of both of those still means we need an efficient way of supp

[2018-11-28 15:45] pietvanzoen commented on #1225
I was experimenting a little to see if it was possible to read environment variables from the filesystem via `/proc/<pid>/environ`. It seems quite limited vs `env()`, but it is possible to get some environment variables that way. So a determined person might be able to read the environment despite `--allow-env`? Maybe?

[2018-11-28 15:52] aneurysmjs commented on #11
Rust!!!

[2018-11-28 16:43] mikesamuel opened #1236 "Consider message integrity in threat model"
[Security Model](https://github.com/denoland/deno/blob/master/Roadmap.md#security-model-partially-implemented) focuses on protecting the host machine from the deno process.

It would be nice if the security model also addressed how to ensure the integrity of messages that leave the system including:

1. Content-type:text/html response bodies since XSS is a common problem.
1. Database query strings

[2018-11-28 17:04] Jerska commented on #1225
I have no knowledge of the inner workings on `deno`. However, the lack of `--allow-read` was the first hing that surprised me when reading the README.

Your explanation makes perfect sense

However, the assumption behind this message is that the sandboxing can't and won't be broken.

Having an `--allow-read` flag would make sure that even if the `net` sandboxing gets broken, scripts without `--all

[2018-11-29 00:21] kitsonk commented on #1225
If they can break the `net` sandboxing, they can break any of the sandboxing.  The flag would be meaningless.  At the moment, I don't think there is a way to break the sandboxing.  If there is an exploit that breaks outside of the V8 isolate, then it affects the whole world.  The only thing that Deno "adds" is the communication to Rust via flatbuffers.  The way those buffers are handled, there is

[2018-11-29 05:59] thysultan opened #1239 "Importing JavaScript modules throws type errors"
Given the following script:

[code]

Produces the following error:

[code]

When altered to use the resolved url:

[code]

Typescript throws type related errors for this non-TypeScript import.

[2018-11-29 06:13] hayd commented on #542
@ry any idea where I am supposed to post a bug report for luci-go? The Chromium-mailing list is silent.

[2018-11-29 10:39] tjconcept commented on #1225
I can second that. And reading the reasoning also makes sense, but:

I like the statement on the roadmap: "We want to be secure by default; user should be able to run untrusted code, like the web."
So deno will be compared to a browser. A browser does not allow read access to disk. I guess a browser has almost the reverse reasoning: allow networking and even writes (but only into a sandbox like lo

[2018-11-29 11:04] kevinkassimo commented on #1239
I think there are actually 2 separate issues related to this.
1. Deno fails to treat relative Location header URI properly. I'll do a fix for this tomorrow.
2. Some compile time issues. @kitsonk

[2018-11-29 12:03] kitsonk commented on #1239
Can you post the related errors?  TypeScript does the transpiling of modules and Check JS is on by default.  Until we have #51, and CheckJS could be turned off this would likely require this in the module:

[code]

[2018-11-29 13:00] zhmushan commented on #1220
give it to me
https://github.com/zhmushan/deno_path

[2018-11-29 15:02] thysultan commented on #1239
@kitsonk

<details>
<summary>Warning: Large dump of text</summary>
<pre>
~/.deno/deps/https/unpkg.com/dyo@0.0.2/dist/dyo.esm.js:1:281 - error TS2339: Property 'iterator' does not exist on type 'SymbolConstructor | (() => number)'.
  Property 'iterator' does not exist on type '() => number'.

1 var math = Math;var random = math.random;var object = Object;var hop = object.hasOwnProperty;var create =

[2018-11-29 16:53] romgrk opened #1241 "Use XDG config/cache home when available"
[XDG Base Directory specification](https://specifications.freedesktop.org/basedir-spec/basedir-spec-0.6.html)

[2018-11-29 17:50] ry commented on #542
@hayd No idea. The bug is with the `download_from_google_storage.py` script? I'm surprised it's calling Go code at all, actually. It should just be fetching a URL.

[2018-11-29 20:09] kitsonk commented on #1239
Yeah, it is exactly that, in that Check JS is stopping this.

[2018-11-29 21:02] hayd commented on #542
It's this block (so the `gsutil.check_call` which is for some reason using [vpython](https://github.com/luci/luci-go/tree/master/vpython)):
https://github.com/denoland/deno_third_party/blob/f89841f37209f5995263f0a41f5c247d35550f21/depot_tools/download_from_google_storage.py#L257-L263

My guess is that it's to do with the PATH... 🙄

[2018-11-30 00:33] ry opened #1242 "upgrade to TS 3.2"
https://blogs.msdn.microsoft.com/typescript/2018/11/29/announcing-typescript-3-2/

[2018-11-30 00:47] ry opened #1243 "windows debug build broken"
[code]
caused by prebuilt V8 (89096c92104ab89b1fd8ba273cbbf441dcfe5a84)
v8.lib is built in release mode and links to different libc `/MD` vs `/MDd` flags.

[2018-11-30 00:50] ry opened #1244 "mac debug build broken"
introduced because of prebuilt v8: 89096c92104ab89b1fd8ba273cbbf441dcfe5a84

fixed with this small change: https://github.com/denoland/deno/pull/1218/commits/e5f204fe49ef492ab97bdc4dff43be731dbbde25

error looks like:
[code]

[2018-11-30 01:46] #1244 closed

[2018-11-30 01:48] ry opened #1245 "is_component_build=true doesn't work with Rust ( build_extra/rust/rust.gni )"
We recently enabled `is_component_build = true` for debug builds. It was discovered that ring_primitives, our only rust component, broke and necessitated:
https://github.com/denoland/deno/commit/ea4580f3371c1ef6c3f909e5c28d7f04f01659b8

So the issue is basically to undo that commit in such a way that mac/windows debug builds work.

Note the CI does not check debug builds.

[2018-11-30 03:00] kitsonk commented on #1242
While I am slogging away with splitting the compiler, I need a quick win to boost my energy, so I will take this one.

[2018-11-30 04:46] kevinkassimo commented on #1210
(I also had some blurry memory about some AMP project member complaining that chromium TextEncoder slower in practice than some JS polyfill...)

[2018-11-30 05:03] ry commented on #1220
@zhmushan has been allocated `https://deno.land/x/path`
Thanks!

[2018-11-30 05:03] #1220 closed

[2018-11-30 07:37] #1242 closed

[2018-11-30 15:05] ry commented on #1241
I'm not necessarily against it - but I don't understand the benefit. Maybe someone can make a compelling argument?

[2018-11-30 16:15] ry commented on #1245
Note `is_component_build` was disabled again for unrelated reasons https://github.com/denoland/deno/commit/cc126528f0a787da2e5c8910f0e8aa2df681a4dd

[2018-11-30 18:39] romgrk commented on #1241
Sure :) Basically, it allows for a better separation of files. Config files go in their own folder, and cached file have their own folder as well. Backups and synchronizing configs across machines is made easier because you know which folder contains what. Also your $HOME is less cluttered.

2 min read that explains it much better than I can: https://ploum.net/207-modify-your-application-to-use-xd

[2018-11-30 19:33] #1221 closed

[2018-11-30 22:32] kyranet opened #1254 "Add WebSocket API"
WebSockets API (MDN): https://developer.mozilla.org/en-US/docs/Web/API/WebSockets_API
WebSocket (MDN): https://developer.mozilla.org/en-US/docs/Web/API/WebSocket
WHATWG: https://html.spec.whatwg.org/multipage/web-sockets.html#the-websocket-interface

Depends on #726

[2018-11-30 22:43] kyranet commented on #611
Update: TypeScript 3.2.1 is out and supports BigInts out of the box, and deno upgraded TS to that version in #1248, I'll try to make a PR soon to support this

[2018-11-30 22:50] ry commented on #1225
After discussing with several people it seems adding `--allow-read` is the right way to go.

As @hayd said in the first comment, it's conceivable you'd want net access without read.

Deno's prerogative is security over ergonomics. Once we have `--allow-read` in place, we can get a feel for how annoying it is, and if we need to add some features (like being able to remember the a permission setting

[2018-12-01 01:23] ry opened #1259 "build broken due to ts upgrade"
Experienced on 5d161f366fbc8df635f3b6082ed928ed305e2107
Something related to the recent TS upgrade.
[code]

[2018-12-01 01:47] hayd commented on #542
Looks like my email was [reported/copied as an issue](https://bugs.chromium.org/p/chromium/issues/detail?id=892899) and now they've pushed [a fix](https://chromium.googlesource.com/infra/luci/luci-go.git/+/646290c8765bcebd278998e8c6a5aa55ca903b12)! So at some update in the future we'll be able to setup from Anaconda python. 👍

[2018-12-01 02:17] ry commented on #1259
false alarm. it was something local to my machine.

[2018-12-01 06:37] #611 closed

[2018-12-01 10:08] bartlomieju commented on #1222
@romandev are you working on this issue or may I take over?

[2018-12-01 10:11] romandev commented on #1222
@bartlomieju Okay, could you please take this issue over? I can't start on this work for now..

[2018-12-02 17:24] dkuida opened #1262 "is it ok if I will try to port koa and dependencies?"
I cannot really fully conclude if it is even doable at this moment - and if not so at least it will highlight where should I try to contribute.
But since I did see that there is a basic http implementation available now - I thought to port koa to deno - as I personally feel it is a good match for a REST  server with its async/await approach

One potentially curious question that I keep thinking fr

[2018-12-02 18:15] kyranet commented on #1262
I don't think it's doable yet, but I think you can track https://github.com/denoland/deno/issues/726 in the meanwhile, though the first implementation may not be completed enough to fulfill all the requirements for Koa's internals.

[2018-12-02 19:44] dkuida commented on #1262
@kyranet yeah I do see that many dependencies are needed for koa itslef - though I do see that many of those actually can be done with TS directly.
I will and see if I can get at least the basics of http server - from what I played around the basic http server is responding. - and #726 is merged already.

on another note - where can I see some task list that I could help with? Typescript is really

[2018-12-02 19:46] hayd commented on #1262
http server is here: https://github.com/denoland/net

[2018-12-02 20:01] kyranet commented on #1262
We use GitHub's milestones, we have higher priority for 0.3 (the http server is one of them!), feel free to check it out; https://github.com/denoland/deno/milestones

Additionally we have a [Gitter](https://gitter.im/denolife/Lobby) channel, and development instructions are in the [Docs.md](https://github.com/denoland/deno/blob/master/Docs.md).

[2018-12-02 20:50] kevinkassimo commented on #1262
@ry I’ll also start helping with http.ts recently. Looks like socket is not properly closed.

[2018-12-02 20:52] ry opened #1263 "Memory leak in Isolate::respond"
Reported by @F001:

I've had a quick look and I think this is indeed a memory leak.

This is a big oversight. We need to be running [LeakSanitizer](https://www.chromium.org/developers/testing/leaksanitizer) in CI. (https://cs.chromium.org/chromium/src/build/config/sanitizers/sanitizers.gni?l=12&rcl=fb0e572f11d5be35992300d1a3c92f66352a46af)

[2018-12-02 20:55] kitsonk commented on #1210
Ok, `fast-text-encoding` has a [fatal flaw](https://github.com/samthor/fast-text-encoding/blob/master/text.js#L149-L151) when handling null padded strings (like what comes back when `deno.truncate()` is used to increase a files size).  I have raised an issue, but who knows what the maintainer will do.

I know we wanted to keep code we have to maintain down, but seeing how critical it is to communi

[2018-12-02 21:03] ry commented on #1262
@kevinkassimo Thank you - help on net/http is very welcome.

[2018-12-02 21:06] ry opened #1264 "LeakSanitizer should run in CI"
Already available in chromium. Shouldn't be too difficult. However we are only building release builds in CI at the moment. We'd need to start a new debug build....
See
https://cs.chromium.org/chromium/src/build/config/sanitizers/sanitizers.gni?l=12&rcl=fb0e572f11d5be35992300d1a3c92f66352a46af
https://github.com/google/sanitizers/wiki/AddressSanitizerLeakSanitizer

After turning it on I was able t

[2018-12-02 23:41] dkuida commented on #1262
@ry ok I guess that is a better priority and will close this thread.

[2018-12-02 23:41] #1262 closed

[2018-12-03 01:43] hayd commented on #1262
I _think_ one could define a koa-like api already on top of ry's http server, which could then be updated as that is fleshed out/completed. IMO It doesn't seem necessary to wait until the server is functionally/feature-complete to start building. 😄

That said, this isn't really a deno issue. It's **definitely** okay for you to implement these and add them to [the registry](https://github.com/denol

[2018-12-03 03:48] ruphin commented on #1047
Is the [Web Crypto API](https://www.w3.org/TR/WebCryptoAPI/) on the list of Web APIs we want to implement? There are excellent user space JS alternatives for most of endpoints in this API, but we need some cryptographically secure random source which cannot be done in user space.

[2018-12-03 08:39] F001 commented on #1225
I'm wondering whether we should provide an explicit `not-allowed` option for users. Then the permission flag has 3 status:
1. default. Prompt in console to ask the permission
2. allowed. Allow directly without asking.
3. not-allowed. Reject this request without asking.

[2018-12-03 13:06] Tnarita0000 opened #1268 "Failed ./tools/unit_tests.py"
An error occurred when I run ./tools/unit_tests.py.
[code]

[2018-12-03 14:11] kyranet commented on #1047
Most likely, yes @ruphin, cryptography is pretty important and I think we should support it.

[2018-12-03 14:22] ruphin commented on #1047
I need a secure random source for something I'm working on. I can take a stab at implementing `Crypto.getRandomValues` https://developer.mozilla.org/en-US/docs/Web/API/Crypto/getRandomValues

[2018-12-03 21:44] ry commented on #1208
This may potentially come back as a result of #1260

[2018-12-03 23:31] #1264 closed

[2018-12-03 23:39] kevinkassimo opened #1272 "kPromiseResolvedAfterResolved should not log warning"
Currently, running
[code]
would result in warning:
[code]
This does not happen in node. It seems that v8 would repeatedly invoke `resolve` on the returned promise of `.race()` (could not fully grasp the [current impl](https://github.com/v8/v8/blob/3b0f8243d00f4055456cb21d2a5dbe0fe85c4bd9/src/builtins/builtins-promise-gen.cc#L2219-L2271), but an [old JS impl](https://chromium.googlesource.com/v8/v8

[2018-12-04 00:30] #1272 closed

[2018-12-04 03:07] #1263 closed

[2018-12-05 12:33] syumai commented on #1159
In this case, var looks like working because it's defined as `window`'s property (global variable).

[code]

[2018-12-05 15:31] kt3k commented on #1268
I think you need to run `./tools/http_server.py` before running `./tools/unit_tests.py`

[2018-12-05 17:40] ry commented on #1268
As @kt3k said.

Usually we don't run the `tools/unit_tests.py` by itself. We run `tools/test.py`.

[2018-12-05 17:40] #1268 closed

[2018-12-06 03:19] F001 opened #1284 "Make sure Isolate instances are pinned"
There are a few unsafe code involved underneath `Isolate` type. Therefore several additional constraints are introduced. We have expressed most of them in the Rust's type system. The lifetime of `Isolate` is associated with that of underlying `DenoIsolate`. However, there is a missing piece of the whole picture: the object of `Isolate` should not move after any message is sent/received.

The reaso

[2018-12-06 03:33] xiaodeaux opened #1285 "es module imports in repl don't work"
When in the Deno REPL and executing:
`import { env } from "deno";`

The output is:
`SyntaxError: Unexpected token {`

Probably related to #1158

Executing: `deno -v` on the commandline returns:
`deno: 0.2.1`
`v8: 7.1.302.4`
`typescript: 3.2.1`

[2018-12-06 03:56] hayd commented on #1285
Typescript isn't supported in the repl yet, #1158.

[2018-12-06 06:51] fengmu456 opened #1286 "Add a variable or func to get the path of the current script, like __dirname in Node.js"
When the entry script is under the subdirectory, reading the relative file under the subdirectory is unsuccessful.
In `Node.js`, you can get the directory where the script is located by `__dirname`.
And  `__file__` can also be used in `Python`

[2018-12-06 07:04] zhmushan commented on #1286
Hi, I am not sure if this is what you need.
[code]

[2018-12-06 07:18] kitsonk commented on #1285
That isn't a TypeScript feature persay... `import` is valid ES6 syntax.  But imports in general don't work in the REPL, which is a known limitation.  Native ESM support is being worked on (tracked by #975) and it should flow through to the REPL eventually.

The `deno` namespace though is available in the global scope, so `const { env } = deno;` would work for now.

[2018-12-06 07:19] kevinkassimo commented on #1286
Yeah [`cwd()`](http://deno.land/typedoc/index.html#cwd) is what you want.
(Although not necessary here, as to current filename, I think it could be easily injected either by TypeScript compiler or under deno namespace.)

[2018-12-06 07:42] fengmu456 commented on #1286
Unfortunately, `cwd()` does not achieve the same effect.
Assume you have the following files and directories:
[code]
When I execute `deno test/test.ts` under `~/demo`,
`cwd()` in `~/demo/test/test.ts` will output `~/demo`, not `~/demo/test`.

This is a common use, for example, when I use Deno to write some tool scripts

[2018-12-06 07:56] kevinkassimo commented on #1286
Sounds like injecting through TS compiler should work. There is also a pitfall that the actual running files are loaded from cache under DENO_PATH and thus different from the expected TS file path. Need to differentiate the two.

@kitsonk Does [this](
https://github.com/denoland/deno/blob/60c008d23b2bdad333711b43148a5053e83a62cc/js/runner.ts#L90) look like a good place for injection? (on my phone

[2018-12-06 08:33] kitsonk commented on #1286
No, in my opinion.  We are working on #975.  When that lands, coupled with #1190 then in a lot of cases the TypeScript compiler won't get involved.

Rust "knows" where the original file is located, even if it is loading from the cache, but even then it is tricky when dealing with remote modules.

Basing code dealing with the relative location of the module that the code is running in is rather dan

[2018-12-06 14:18] ry commented on #975
I’m working on this

[2018-12-06 18:01] #1210 closed

[2018-12-06 18:57] sebs commented on #975
Ah, maybe a time to give my codebase a spin as I have some problems regarding esm (it was a esm test after all) .. Thanks. Building from source

[2018-12-06 19:32] ry opened #1288 "Support TextDecoder("ascii")"
support removed in https://github.com/denoland/deno/pull/1281

cc @kitsonk

[2018-12-06 20:09] kitsonk commented on #1288
Should be easy to add that decoder back in.  Will do that today.

[2018-12-06 23:45] #1288 closed

[2018-12-07 01:48] kitsonk commented on #1286
@ry we would/could handle any media type in the compiler.

We already support `.json` and associated media types in the compiler.  If we assume anything else is "text" ish... we would potentially just "compile" down to something like this:

[code]

I think we would have to generate that "shell" module which would be loaded in the runtime which will op back out to Rust to get the resource.  Rust wo

[2018-12-07 11:18] KeKsBoTer commented on #1254
Is anybody working on this?

[2018-12-08 05:55] kitsonk commented on #1254
Not right now... it really needs for the #726 to be delivered before it makes a lot of sense to try this.

[2018-12-08 17:14] Janpot commented on #1286
Isn't this what [`import.meta.url`](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Statements/import.meta) was intended for?

[2018-12-08 17:38] ry commented on #1286
@janpot thanks - I didn’t know about that

[2018-12-09 17:39] smith commented on #1286
@Janpot I think we might need to tweak the tsconfig options for this to work as intended:

[code]

[2018-12-10 12:21] hisorange opened #1301 "Deno should not import remote files without --allow-net flag"
Just experimenting with deno so please excuse my instant misbehave.

But isn't the `--allow-net` flag's purpose is to encapsuate the process from the network and not let the script access the network without permission?

If this is the case, then we should block imports/require from calling remote urls.

This small [snippet](https://gist.github.com/hisorange/83a22f60c3e6928c497402c59bbb7736) allow

[2018-12-10 12:33] bartlomieju commented on #1301
`--allow-new` flag is used to **allow** Deno to make network requests.

Imports are implicitly allowed and cached in `DENO_DIR` for subsequent requests.

[2018-12-10 12:40] hisorange commented on #1301
Wrongly worded title, but my main concern is simple, I can craft new import urls with secrets hidden in them and respond dummy ts codes without `--allow-net` flag.

[2018-12-10 16:45] ry commented on #1301
Yes, this is a bug. Dynamic import should not be allowed unless --allow-net is specified.

I'm in the process of refactoring how dynamic import works (#975) and will add this constraint in the new implementation.

Duplicate of https://github.com/denoland/deno/issues/712 - let's move the discussion there.

[2018-12-10 16:45] #1301 closed

[2018-12-10 20:14] bartlomieju opened #1304 "Implement Seeker interface for deno.File"
Working on #1282 it appeared that `Seeker` interface hasn't been implemented for `File` yet.

I am working on this.

[2018-12-10 22:50] #964 closed

[2018-12-11 17:34] ry opened #1311 "Tokio swallows panics"
Here is a demonstration of Tokio swallowing panics: https://gist.github.com/ry/01ed1055964fe5cba8c38839635a5b2d

Apply that patch (after #1310 is landed) and run `deno.readFile("/")`... it should crash but does not.

[2018-12-11 17:59] smith opened #1312 "VSCode extension"
This isn't a request, just looking for some feedback and discussion.

Right now, when writing deno code in VSCode, you can create a tsconfig.json with

[code]

and run `deno --types > deno.d.ts` and you the editor understands what's going on.

I'd like to create a VSCode extension that does this automatically in the background and maybe eventually could provide functionality similar to the [Node D

[2018-12-11 19:39] ry opened #1316 "Split flatbuffers messages into Requests and Responses"
https://github.com/denoland/deno/blob/c1de50b0ca9c6e1c8cd06347d19dd3db50db36d8/src/msg.fbs#L1-L60

Currently we have a union of all message types called `Any`. The union is included in the `Base` message as an element called `inner`.

However there are two distinct types of messages: Requests and Responses. It would be better for type-checking and organizationally if we had two unions.

As an addi

[2018-12-11 19:41] kevinkassimo opened #1317 "deno.stat does not return file name and path"
Noticed this when working on file server. Name and path are set for `readDir` but not for `stat`.

In the meantime, `readDir` does not set mode of file... This should also be fixed

This should be a good first issue. To fix this, contributors might want to look into `src/ops.rs` and inspect `op_stat`, `op_lstat`, `op_read_dir` functions

[2018-12-11 19:44] ry commented on #1317
On second thought - I'm not sure this is desired. If you're stating something you already know the filename.

[2018-12-11 19:47] kevinkassimo commented on #1317
@ry `stat` and `readDir` is using a unified `FileInfo` interface, so should contain everything by default. (I prefer not to surprise the user...)

[2018-12-11 20:22] #1075 closed

[2018-12-12 01:05] ry opened #1319 "Rewrite tools/format.py in deno"
You can use this as an example: https://github.com/denoland/deno/pull/1216

[2018-12-12 01:17] F001 commented on #1311
Is `blocking` function in `ops.rs` the only way to spawn a task to thread pool?
If that is the case, I'd suggest to `catch_unwind` by ourselves.

[code]

[2018-12-12 01:23] ry opened #1320 "Progress bars for "Downloading" messages"
Should be completely in Rust.
This looks like a good library to use: https://github.com/mitsuhiko/indicatif

Starting points is here:
https://github.com/denoland/deno/blob/a8c3b448049912ead5ba025fee9568dcc0786573/src/deno_dir.rs#L152

(After #975 the "Compiling" messages can also be added to the progress bar. It will move the compilation step into Rust. Currently "Compiling" is printed from JS.)

[2018-12-12 01:50] ry commented on #1311
No - it's not the only way to spawn a task. Any callback on a future will be run in the thread pool. For example, this callback is executed in the thread pool
https://github.com/denoland/deno/blob/a8c3b448049912ead5ba025fee9568dcc0786573/src/ops.rs#L667-L683

[2018-12-12 02:16] zhmushan commented on #1312
Sounds great!
I think I really need:
* Automatically download the import module declaration file when I save.
* Remove the error message when I import the module with the ts suffix.

For the first one, maybe we can find the source file from the deno cache, then use the tsc `--emitDeclarationOnly` option to get the declaration file and copy it to the project directory.

[2018-12-12 03:42] fengmu456 commented on #1320
@ry I've been watching this project for several months and I really want to be involved. Can I try this issue?

[2018-12-12 04:50] ShiningRay opened #1324 "Where to explore new components?"
If deno has no centralized repository for packages, how can we find new components?

[2018-12-12 04:53] kevinkassimo commented on #1324
Deno already has a registry prototype ([see here](https://github.com/denoland/registry)). It serves as pointers to scripts that are hosted elsewhere.

I would expect someone to build a package search page for it.

[2018-12-12 04:54] ry commented on #1324
https://deno.land/x/ has a list of redirects

[2018-12-12 05:16] djKooks commented on #1319
@ry thanks! I'll send PR when ready.

[2018-12-12 05:19] kevinkassimo opened #1325 "WASM Support"
From feedback by @justjavac :

[2018-12-12 05:31] justjavac commented on #1325
code example(wasm.js):

[code]

use node.js:

[code]

use deno:

[code]

[wasm.zip](https://github.com/denoland/deno/files/2670601/wasm.zip)

[2018-12-12 05:37] ShiningRay commented on #1324
Great!
But according to my own experience of npm or similar package repository in other languages, this is not enough.
We can see most packages on npm are immature or unmaintained for a long time.
Most developers are bothered to spend lot of time to compare and select suitable packages.
Maybe we can build something like http://www.ruby-toolbox.com/.
A good mechanism to recommend, rate,  criticize

[2018-12-12 05:45] hayd commented on #1324
This is probably an issue for https://github.com/denoland/registry/ rather than deno itself.

That said, anyone can do this already, I think this problem is likely to solve itself if/when the number of deno packages becomes overwhelming...

[2018-12-12 05:48] ry commented on #1325
Yes. It will be [easily approachable](https://github.com/denoland/deno_third_party/blob/7d8c9aa769778140e1619f545e706bf34545509e/v8/include/v8.h#L4260-L4350) once https://github.com/denoland/deno/issues/975 (https://github.com/ry/deno/tree/esm) lands. I plan to do this work myself.

[2018-12-12 05:53] ry commented on #1324
I think I will be moving the registry into //website in deno actually. I think it's better to manage it by git rather than by firebase.

[2018-12-12 06:58] kitsonk commented on #1312
Using the `types` compiler option isn't, I am afraid, the best way to author something in VSCode.  That is because of the way that the language services will resolve some other things.  You really need something more like the `tsconfig.json` in this [deno_example](https://github.com/kitsonk/deno_example) repo.  That example also configures the language services to behave as much like Deno does.

A

[2018-12-12 07:11] zhmushan commented on #1312
Hi, @kitsonk
Before that, I thought that `deno --types` can only output `deno.d.ts`.
Can it output a declaration file of any `.ts` file?

[2018-12-12 07:31] #1317 closed

[2018-12-12 07:34] #1202 closed

[2018-12-12 08:54] kitsonk commented on #1312
No, but you don't need declarations with Deno.  Because Deno reads `.ts` files perfectly fine.  Why would you need a `.d.ts` for anything else?  As I mentioned above, you can use `baseUrl` and `paths` to find any remote modules.  All you need to do is have the remote modules loaded once, and then Deno will find them and provide intellisense from that point onwards.  You can even pre-populate your

[2018-12-12 09:03] zhmushan commented on #1312
Thx, I understand.
We should get IntelliSense from `$DENO_DIR/deps` instead of generating a `d.ts` file

[2018-12-12 09:43] #1113 closed

[2018-12-12 10:02] ry opened #1328 "Display build configuration when "deno -v" is run"
This information can be captured during the build with:
[code]
So we would have
[code]

[2018-12-12 10:08] kevinkassimo commented on #1328
How about making it `deno -vv`?

[2018-12-12 15:34] smith commented on #1312
@kitsonk

Is there any mechanism to get type definitions for a .js import? Like in node you install the \@\types for something. Can you import a .d.ts? (This isn't related to the extension, but just curious.)

[2018-12-12 20:39] kitsonk commented on #1312
Deno performs "CheckJS" on all JavaScript.  That means any JavaScript imported in the project is given a type structure and when imported, including respecting all the appropriate JSDoc information and types.  That information is available for other modules, be they TypeScript or JavaScript in the project.  Configured properly, you would have access to all this in VSCode.  For example:

![js types

[2018-12-12 20:57] smith commented on #1312
Ok that's some great info so thanks everybody. I think I have enough info to get started noodling on something so I can close this. If I publish something I'll put a comment here and maybe open a PR pointing to it in the docs.

[2018-12-12 20:57] #1312 closed

[2018-12-12 23:00] kpelelis commented on #1316
I am interested into investigating this topic, if no one is working on it :)

[2018-12-13 00:51] ry opened #1333 ".mime files shouldn't be created if there's an extension and the mime type matches the extension"
It just looks messy.

[code]

[2018-12-13 07:13] F001 commented on #720
My random thoughts: we'd better provide a config file for users to fine control these resources.
[code]
[code]

[2018-12-13 21:55] ry opened #1340 "Explore using Azure Pipelines for CI"
https://azure.microsoft.com/en-us/blog/announcing-azure-pipelines-with-unlimited-ci-cd-minutes-for-open-source/

They provide 10 parallel builds for open source and support Win/Linux/Mac. It might be a real improvement for us and allow us to move away from maintaining both AppVeyor and Travis builds.

[2018-12-14 02:57] kevinkassimo opened #1343 "REPL exits on certain errors"
For example, this crashes the REPL
[code]

[2018-12-14 03:21] djKooks opened #1345 "Seperate docs"
Hello. This is just a suggestion...

Docs seems bit long to look on. How about splitting tutorial and change-log?
Or it could be an idea to make github page for project.

If this is already being discussed in other place, please close this one.

Thanks.

[2018-12-14 07:46] justjavac opened #1351 "implement `console` follow the whatwg spec"
Make the `console` implementation follow the [whatwg specification](https://console.spec.whatwg.org). I am working on it.

TODO:

 - Logging methods
   - [x] debug/error/info/log/warn
   - [x] clear #1360
   - [x] assert #1335
   - [x] table #1608
   - [x] trace
   - [ ] dir/dirxml
- Counting methods
   - [x] count #1358
   - [x] countReset #1358
- Grouping methods
   - [x] group #1363
   - [x] gr

[2018-12-14 07:49] kevinkassimo commented on #1225
@F001 or adding a 4th one?:
4. always-ask. Ask in console every single time when there is a write/net/etc. request (useful when there are very few writes needed but each write is sensitive)

[2018-12-14 08:08] F001 commented on #1225
@kevinkassimo Actually, I think int flag might be not enough for fine grained permission control. As discussed in #720, many people want different permission for different paths. Which means, we should provide a map (or even a route system) for permission settings.
[code]
What's more, if we want to provide a sandbox, this system should allow mounting. For example, we can access "/a/b/c" in typescr

[2018-12-14 08:13] ry commented on #1225
Let's do this piecemeal - it should be easy to add `--allow-read` - just by adding conditions to the read ops. I'm very open to more fine grained permission structures - in particular access to file system subtrees or restricting network access to a particular host - but this is more complex. We should setup the infrastructure such that the permission check mechanism gets the necessary parameters

[2018-12-14 14:25] ry opened #1352 "tools/test.py [dir] doesn't work"
To test the release build - the following works.
[code]
However this does not (although it is expected to)
[code]
It fails with.
[code]

experienced at e6121762f8bf3c531c4c60229ff4a156ae21d931

Ideally we would get rid of `DENO_BUILD_MODE` entirely.

[2018-12-16 10:42] Neurrone opened #1357 "Extracting V8 bindings into a standalone crate?"
Hi,

There aren't any existing bindings to V8 that are up to date. Based on the crate documentation, Deno is able to call V8 APIs, and it would be useful to use this for scripting from standalone Rust programs.

[2018-12-16 21:02] kitsonk commented on #1343
I don't think that is unique to the REPL:

[code]

We have a `setTimeout` that doesn't exhibit the same (nonsensical) runtime behaviour as other runtimes do.

While this is technically valid, what is occurring is likely unintentional and arguable if we would actually want to support it.  The timeout is optional, but the [first argument is allowed to be a function or a string which gets eval'ed](ht

[2018-12-17 07:50] hayd commented on #1357
see #1209 , I don't think the plan is to expose the entire v8 API however...

[2018-12-17 15:30] Neurrone commented on #1357
@hayd sure, I think for most use cases, the ability to ergonomically call rust functions from javascript and vice versa and use rust structs as js classes would be enough.

I tried using bindgen to do the binding, but it kept crashing when i tried creating a new isolate, and could never figure out why.

[2018-12-18 00:40] eventualbuddha commented on #1225
I agree that `—allow-read` is a good first step here. I wonder whether a more fine-grained configuration could be achieved by introducing something akin to a web worker that can intercept and wrap requests to the disk or environment etc. That way you could allow specific paths or even remap them.

[2018-12-18 00:49] eventualbuddha commented on #1319
@djKooks any progress on this? If not, I’d be interested in taking a crack at it.

[2018-12-18 01:19] djKooks commented on #1319
@eventualbuddha currently working on it. Thanks~

[2018-12-18 22:52] Maxim-Mazurok opened #1371 "Add flag to ignore SSL certificate issues"
There should be a way to allow insecure https requests, using `window.fetch()` for example.
It should disable certificate validation for all requests made from the program.

As of implementation, there are two optoins that come to my mind: environment variable and flag. Below are some examples of how it's done in other web-related software, so we can come up with intuitive name and approach.

Exam

[2018-12-19 01:18] ry commented on #1319
@djKooks Have a look at https://github.com/denoland/deno_std/blob/master/format.ts

[2018-12-19 01:37] eventualbuddha commented on #1371
Seems like it'd be better to allow adding new CA entries that requests would trust, no? Having this flag is probably fine in exceptional circumstances, but for any production system leaving this flag on all the time is a huge red flag.

[2018-12-19 01:44] hayd commented on #1371
I wonder if this ought to share a prefix i.e. `--allow`? Would it be added to DenoPermissions, would it be "upgradeable" at runtime?

Related: #1064

[2018-12-19 03:37] chrisdothtml commented on #1008
@hayd this doesn't really matter, because it should request for all permissions needed to run the entire compilation (including any imported scripts).

One other thought that came to mind on the topic of requesting for permission is whether it should remember your choice for a given version/compilation. If someone were to build a cli with deno, it would be annoying to have to explicitly give it pe

[2018-12-19 04:05] hayd commented on #1008
I think you want to do permission based on a dot/config toml file, either explicitly or by location convention. (Though perhaps there's security concerns if it's a deno writeable file...)

Previously I'd imagined there ought to be a permission tree ("which modules can do what"), but that's probably far too complicated and infeasible. The extension is e.g. for net to add any/domain/url as prompt/cl

[2018-12-19 22:35] ExE-Boss commented on #650
I personally prefer `global`, which was used by node, and the broken scripts use it for a browser/node detection.

Deno is probably closer to node than to a browser.

See also https://github.com/tc39/proposal-global/issues/36

[2018-12-19 22:46] ljharb commented on #650
deno could certainly use `global`, just like node; but it'd have to also provide `globalThis` to be a compliant JavaScript engine.

[2018-12-19 23:56] chrisdothtml commented on #203
+1 for this as it would solve not only the issue of relative-path-hell, but also dependency management (a.k.a not having urls scattered around your project). The only thing I would be curious about is where the map file is located.

Others in this thread have brought up the concern of importing third party modules that have their own mapping. Making the location of the config file implicit (e.g. t

[2018-12-20 00:43] ry commented on #1011
Ya thanks.

[2018-12-20 00:43] #1011 closed

[2018-12-20 02:38] chrisdothtml commented on #203
@kitsonk does that scale to a project with something like 20+ dependencies though? That solution either

---

**A**. reduces all of a library's exports down to a single export:

[code]

which eliminates any possibility of importing one individual export; or

---

**B**. combines all of a library's exports with all your other dependency's exports in one single file:

[code]

So, in the context of a

[2018-12-20 03:53] kitsonk commented on #203
@chrisdothtml in my opinion it is as scalable as an external meta data file.

`export * as` is currently not valid ES syntax.  See: https://github.com/tc39/proposal-export-ns-from
It would have to be something like this currently:

[code]

As far as B, that is currently solvable:

[code]

Considering that Option A is generally equivalent to an external imports JSON file, again, we should try to av

[2018-12-20 06:12] chrisdothtml commented on #203
I can definitely appreciate keeping it simple; the speed of directly linking to third party modules in deno is very refreshing.

Most of my professional experience is on large teams that maintain many apps, so my head always goes to abstraction right away. I still believe a more official solution to this problem is inevitable, but it's probably best to not hard-wire any particular solution until t

[2018-12-20 07:39] benjamingr commented on #203
The rational of import maps isn't that it's easier than a `deps.ts` file - it's for web and browser compatibility and in order to get bare names.

[2018-12-20 15:14] ry commented on #695
Landed in https://github.com/denoland/deno/commit/73e80b0763cf2e14f7dc26d679d3b457106597cc

[2018-12-20 15:14] #695 closed

[2018-12-20 15:15] ry commented on #1209
Cargo build works. Now we just have to figure out how to release.

[2018-12-21 03:39] zhmushan opened #1382 "Cannot convert object to primitive value"
[code]
[code]
This error also exists in `Node`. Maybe it's expected.
But I think it should not throw an error in testing.
[code]

[2018-12-21 03:50] ry opened #1383 "Windows: ‌Cannot find the common subdirectory path for the input files.‌"
There is some problem on Windows WRT to module resolution and the `$DENO_DIR` environmental variable.
I've seen it in https://github.com/denoland/deno/pull/1356 and https://github.com/denoland/deno_std/pull/37
[code]

You can reproduce this by cloning https://github.com/denoland/deno_std and running `deno test.ts`

[2018-12-21 04:05] kevinkassimo commented on #1382
This is a JavaScript thing. `a` does not have `toString` defined and thus would throw an error when trying to convert to a string.

The error is caused by this string interpolation:
https://github.com/denoland/deno/blob/105a5193b5aa231f0169d1113792f5c80e7438de/js/testing/util.ts#L18-L21

[2018-12-21 04:06] ry opened #1384 "Remove support for extensionless imports"
It's ugly and it's something I originally intended to avoid. Support was added because it was an easy way to keep modules cross-compatible with Node. However, the ugliness outweighs that goal.

https://github.com/denoland/deno_std/blob/34f21da7cf89c5a24558c68fc3f572e7300da618/net/http.ts#L2-L5

https://github.com/denoland/deno/tree/master/tools/ts_library_builder relies on this feature at the mome

[2018-12-21 04:10] kitsonk commented on #1382
Ideally we should create the `msg` only after the assertion fails and then guard implicit string coercion like that as well.  For example, symbols would also fail.

[2018-12-21 04:15] kevinkassimo commented on #1384
To drop support for extensionless imports, only these two places need to be modified:
https://github.com/denoland/deno/blob/105a5193b5aa231f0169d1113792f5c80e7438de/src/deno_dir.rs#L140-L146
https://github.com/denoland/deno/blob/105a5193b5aa231f0169d1113792f5c80e7438de/src/deno_dir.rs#L180-L186

[2018-12-21 04:45] ry opened #1386 "deno script.ts --prefetch"
Provide a way to download (cache) the dependencies of a script without executing it.

Deps are stored in DENO_DIR as normal.

[2018-12-21 04:52] kevinkassimo commented on #1386
How should this work with dynamic imports?

[2018-12-21 04:55] ry commented on #1386
It doesn't download dynamic imports.

[2018-12-21 05:11] kitsonk commented on #1383
@ry is the DENO_DIR on a seperate drive than the source files... I believe that maybe the root cause.  Let me see if I can find a better reference to it and any way to fix it.

[2018-12-21 05:17] ry commented on #1383
@kitsonk That sounds like a likely cause. A unit test case would be great.

[2018-12-21 05:18] ry commented on #1383
I wonder if this breaks:
`code_fetch("C:\a.js", "D:\d.js");`

[2018-12-21 05:23] ry opened #1387 "make cargo package work"
"cargo package" doesn't support symlinks https://github.com/rust-lang/cargo/issues/2748
-_-
https://github.com/ry/deno/tree/cargo_package

[2018-12-21 05:31] ry opened #1388 "deno mv"
A tool for moving a file from one directory to another, changing only the imports as necessary.

Example `deno mv index.js ..`

What if another file depends on index.js - should it's imports be changed too? Not for the first version.

This should also work on URLs:

`deno mv https://deno.land/x/examples/gist.ts .`

This should be implemented first in https://github.com/denoland/deno_std/

[2018-12-21 05:53] ry opened #1389 "Discussion: cryptographic signatures"
We need a way of better ensuring that remote content is what the user expects it to be.

We already rely heavily on git infrastructure to reference code, and I think we can re-use git features here too.

Supposing we moved to signed commits for deno_std (and deno). Then given a URL like `https://deno.land/x@522d48/net/http.ts` we should be able to find the actual git repo, clone it, and get a list

[2018-12-21 06:16] kitsonk commented on #1386
Heavily related to getting `--deps` working again (#1011), ESM support (#975), and potentially splitting out the compiler (#1190).

[2018-12-21 06:20] kitsonk commented on #1388
There are rename services that are part of the TypeScript language services: https://github.com/Microsoft/TypeScript/blob/master/src/services/rename.ts.  These should work to help ensure the renaming, or at least help.

[2018-12-21 07:54] KeKsBoTer commented on #1389
I very much like the idea of signing code(commits)!
But do we have to download the entire repository for that? I think a better solution would be a [partial clone](https://github.com/git/git/blob/v2.19.0/Documentation/technical/partial-clone.txt).

I think it would make sense to only run fetched code that is signed unless the user deliberately tells deno to run unsigned code (with a flag?))

[2018-12-21 07:58] ry commented on #1389
We'll have to do it server side, clients shouldn't have to git clone.

[2018-12-21 08:50] kevinkassimo opened #1392 "fetch() segfaults on no parameter/empty URL given"
In REPL (without TypeScript check), `fetch` causes Deno to segfault when providing nothing as params. This should not happen.

[code]

Same for `fetch("")` (with TypeScript check)

[2018-12-21 09:47] #1392 closed

[2018-12-21 11:03] #1382 closed

[2018-12-21 15:32] zerubeus commented on #1388
@ry can I take this one ?

[2018-12-21 18:16] ry commented on #1388
@kitsonk That will be helpful for version 2. The first version I'd like it to only deal with the imports. (I'm assuming that is easier than doing proper IDE style renames - that assumption might not be true.)

[2018-12-22 03:29] reggi opened #1397 "Discussion: Use of NPM modules within deno"
I made an example repo that allows someone to convert `npm` modules for use with deno.

https://github.com/reggi/node-to-deno

Not sure if anyone is interested or if this has been done before.

Is there any discussion for making polyfills `node -> deno` and `deno -> node` for standard lib? That's the next chunk needed to make some node modules work with deno.

Is there any discussion about somethi

[2018-12-22 03:48] kevinkassimo commented on #1397
Nice!

I don't think there are discussions about polyfills yet, but I did create [some org](https://github.com/denolib) aiming to host ported packages from node to deno. Polyfills would definitely be an interesting topic to work on and we could probably create a repo specially for that.

About registry, there is the [deno.land/x/](https://deno.land/x/) for redirection of scripts hosted elsewhere,

[2018-12-22 17:01] George35mk opened #1398 "I get PermissionDenied: Access denied. (os error 5)"
### Versions
- OS: Windows 10
- deno: 0.2.3
- v8: 7.1.302.4
- typescript: 3.2.1

### What is the problem
I m just trying the deno, sorry but I can't understand why I get this error.

### Files

#### vector.ts

[code]

#### app.ts
[code]

and when I run `deno app.ts` I get this error

#### output
[code]
What should I do? end can someone explain how to use my local modules, thanks.

[2018-12-22 17:37] eventualbuddha commented on #1398
It looks like you have an import for `./lib` but no accompanying file. Did you intend to import `./vector.ts`?

[2018-12-22 17:43] George35mk commented on #1398
@eventualbuddha Omg Thank you I make a mistake on the import statement.
Thank you very much for guiding me.

[2018-12-22 17:43] #1398 closed

[2018-12-23 04:53] #948 closed

[2018-12-23 06:45] djKooks opened #1399 "Build failure: no such package"
I success build before, but when I try again in other laptop, it failed in `setup.py`.
This is the log:
[code]
Am I missing something?

I'm working with:
[code]

[2018-12-23 21:18] George35mk opened #1404 "can I use gdb, to debug my .ts files with deno?"
Can I use **gdb**, to debug my **.ts** files with deno? I have windows 10 x64 and I dont know anything about Linux and Mac, LLDB on windows is only for x32 and the x64 is not stable.

Basically, it is possible to debug a **deno** app on Windows Os and if yes, can someone guide me?

Thanks.

[2018-12-23 21:20] ry commented on #1404
@George35mk You can use gdb to debug deno itself, but not the typescript files... You can also use visual code or visual studio to debug.

[2018-12-23 23:48] kevinkassimo commented on #1399
Weird. I'm also on Mac but could not reproduce this...

[2018-12-24 02:49] ry opened #1408 "deno.land/x needs to support CORS and content-type"
so people can load resources via browser too

[2018-12-24 03:02] justjavac opened #1409 "`deno.cwd` return the wrong function name `cwd$1`"
[code]

Rollup outputs js files in `iife` format, rollup will rename the identifier when an identifier conflict occurs. `rollup-plugin-node-globals` depends on process-es6, which also [exports the `cwd` function](https://github.com/calvinmetcalf/node-process-es6/blob/master/browser.js#L158).

`chdir` too.

A simple solution is to rewrite `export function cwd()` to `export const cwd = function cwd(

[2018-12-24 03:05] kevinkassimo commented on #1409
`setTimeout` too:
[code]

[2018-12-24 03:29] kevinkassimo opened #1410 "deno segfaults on basic eval errors"
Running a script containing just
[code]
causes segfault.

Here is the v8 stack trace:

[code]

Looks like there is some false assumption happening in `deno::EncodeExceptionAsJSON`

[2018-12-24 03:31] kevinkassimo commented on #1410
Actually I think I have encountered this long time ago in #1334 . I'm making a patch for this

[2018-12-25 04:39] monkingxue commented on #1409
@justjavac Maybe we should remove rollup-plugin-node-globals gradually because we are implementing these global methods, so we don't need code shim like these.

[2018-12-25 04:52] djKooks commented on #1399
@kevinkassimo @monkingxue yeah...actually I have 2 laptop, and it works well in one but error is caused in other one. They are both mac, so I'm also wondering why.

I'll try again. Thanks.

[2018-12-25 08:56] axetroy commented on #1399
same issue in `./tools/setup.py` step

[2018-12-25 09:04] axetroy opened #1416 "run ./tools/setup.py failure in macos"
I am following the [build-instructions](https://github.com/denoland/deno/blob/master/Docs.md#build-instructions-for-advanced-users-only)
[code]

[code]

I don't know how it crashes

[2018-12-25 09:35] axetroy commented on #1416
@kevinkassimo
sure. I have tried many times with the following step

But it still can not

I started to wonder if my network problem caused the file to be downloaded. But this seems unlikely

[2018-12-25 09:47] kevinkassimo commented on #1416
Can you try somehow running the function in [cipd_bin_setup.sh](https://github.com/denoland/deno_third_party/blob/fea379af9274b3604e906d99cabdf8c23f56754c/depot_tools/cipd_bin_setup.sh)? (Looks suspicious based on the error message...)

[2018-12-25 10:14] axetroy commented on #1416
@kevinkassimo
LGTM.

I have tested it. it downloads the resource from `Google`

And it's unreachable in `China`. then I set up the proxy in terminal

All things are goring write

Thanks for your help.

[2018-12-25 10:14] #1416 closed

[2018-12-25 10:42] djKooks opened #1418 "Install directly after ./tools/build.py"
Is there a way to install with objects generated after `./tools/build.py` completed?
I've installed `deno` with installer, and want to work with newest version, but cannot find installer from source code.

Thanks.

[2018-12-25 11:09] bartlomieju commented on #1418
You can find instructions here: https://github.com/denoland/deno/blob/master/Docs.md#build-instructions-for-advanced-users-only

[2018-12-25 12:33] djKooks commented on #1418
@bartlomieju oh, sorry. My actual problem is:
1. I installed deno with installer, its version is 0.2.1
2. Now I follow build instruction
3. It causes failure in `./tools/tests.py`

Test failure seems there are some removed module compare 0.2.1 with 0.2.4.
How can I run tests.py with build version?

Thanks.

[2018-12-26 05:56] kevinkassimo opened #1421 "REPL emits surprising output on `> {a: 1}`"
Currently,
[code]
Expected:
[code]
This is due to v8 considering `{}` as a scope instead of object.
In Node, this is solved by secretly adding a pair of parentheses around the object, like
[code]
The code implementing this is available here:
https://github.com/nodejs/node/blob/ae73b73eeb99101188c860cce488ccc085b2f268/lib/repl.js#L235-L243

I am expecting a similar patch for this after #1407 and #1

[2018-12-26 07:15] justjavac commented on #1421
I think it should be `1`.

[2018-12-26 08:13] kevinkassimo commented on #1421
@justjavac Ideally we should. However, I think the behavior of Node is much easier to implement by simply introducing 2 tries, first with wrapping parentheses and second without.

On the other hand, Node internally uses [acorn](https://github.com/acornjs/acorn) to do some JS parsing to determine the best handling approach. I would say we might want to keep things simpler for Deno at current stage.

[2018-12-26 08:40] justjavac commented on #1421
keep things simpler for developers

[2018-12-26 08:43] kevinkassimo commented on #1421
@justjavac Eventually we should... but we would also need better infra for that... There are still a bunch of more important improvements we need to introduce to REPL...

[2018-12-26 08:58] kevinkassimo opened #1422 "REPL readline resource table lock blocks async operation"
Example:
[code]
This is caused by this:
https://github.com/denoland/deno/blob/531619305b7e385e7b989c985e5f5b5337f12592/src/resources.rs#L362-L372

`r.readline(&prompt)` is a blocking operation. The lock on RESOURCE_TABLE would not be released during the wait for new input, causing other async operations that requires RESOURCE_TABLE access to block forever.

I was reminded of this when working with

[2018-12-26 13:31] kt3k commented on #650
deno seems already having `globalThis` object (probably because of V8 update)

[code]

ref: https://v8.dev/blog/v8-release-71

[2018-12-27 03:07] djKooks commented on #1319
@ry could you check PR #1366 which ported format.py to deno, or assign reviewer? I don't know who is the collaborator for this part.
But there are still several problem. I wrote about it on PR. Hope someone could help...