[2020-12-08 03:32] jcc10 commented on #8646
The one thing I would note is that [MDN has links to](https://developer.mozilla.org/en-US/docs/Web/API/Permissions)

`Permissions.query()`
    Returns the user permission status for a given API.
`Permissions.request()`
    Requests permission to use a given API. This is not currently supported in any browser. No Page on MDN but a link from the API page.
`Permissions.requestAll()`
    Requests perm

[2020-12-08 03:36] brandonros commented on #8665
[code]

whole thing seems broken

[2020-12-08 04:05] nayeemrmn commented on #8646
Note that the revoke and request specs were moved out to https://wicg.github.io/permissions-revoke/ and https://wicg.github.io/permissions-request/ respectively. That's what we and Chrome (and no one else) use now.

For some reason I wasn't aware of `permissions.requestAll()`... I can't find any incubator spec for it, but Chrome supports it.

Yeah following this spec has been very unfortunate. The

[2020-12-08 05:19] caspervonb opened #8666 "Line number only coverage reporter"
From discord (copy link is not working in safari, eh)

[2020-12-08 05:31] kitsonk opened #8667 "deno_core::ModuleLoader::load should not be async"
In the CLI we have moved all async functionality to `::prepare_load()` and every other implementation of the trait responds synchronously.

[2020-12-08 12:24] nayeemrmn commented on #8657
Duplicate of #8567.

[2020-12-08 12:25] lucacasonato commented on #8657
Ah right.

[2020-12-08 12:25] #8657 closed

[2020-12-08 12:26] lucacasonato commented on #8567
From #8657:

[2020-12-08 12:45] bartlomieju commented on #8667
CLI is only one of the consumers of `deno_core::ModuleLoader` and it so happens that it leverages `prepare_load()` method to load everything upfront and doesn't need `load()` to be async. However there are other implementations that depend on `load` method being async, eg. `dlint` for plugins, `deno_core::FsModuleLoader`. IMO this is a non-issue and I'm gonna close this one.

[2020-12-08 12:45] #8667 closed

[2020-12-08 12:51] bartlomieju commented on #8665
@brandonros `deno_cli` is a deprecated crated that is no longer maintained. [`deno`](https://crates.io/crates/deno) is the actual crate, but it does not provide library target. If you want to write a plugin then you should use `deno_core` as seen in https://github.com/denoland/deno/blob/master/test_plugin/src/lib.rs

[2020-12-08 12:51] #8665 closed

[2020-12-08 12:51] lucacasonato commented on #8665
1. `deno_cli` doesn't exist anymore.

2. You have to use the `run` subcommand to run a file (`./target/debug/deno run --allow-plugin tests/test.js `)

3. https://github.com/denoland/deno/tree/master/test_plugin is the example plugin. The `test_util` is not actually needed, it is just a convenience method.

[2020-12-08 15:04] ry opened #8672 "Add `cargo publish --dry-run` CI job"
Should run in parallel to other jobs and use ubuntu-xl

Maybe `cargo package` is sufficient instead of `cargo publish --dry-run`.

to catch mistakes like this https://github.com/denoland/deno/runs/1517908507 where cli/lsp reached outside of the cli crate.

[2020-12-08 16:05] frankhale commented on #8346
Looks like 1.6 now adds Darwin ARM64 builds. This is great news!

[2020-12-08 16:07] frankhale commented on #1846
Now that Deno 1.6 adds Mac ARM64 builds are we closer to a Raspberry Pi ARM64 build? I really have no idea how much work it is but I'm looking forward to being able to run Deno on my Pi's =)

[2020-12-08 16:22] toshirot commented on #7085
OS Ubuntu 18.04.5 LTS (GNU/Linux 4.15.0-126-generic x86_64)

$ deno --version
deno 1.4.6
v8 8.7.220.3
typescript 4.0.3

$ deno upgrade
Checking for latest version
downloading https://github.com/denoland/deno/releases/download/v1.6.0/deno-x86_64-unknown-linux-gnu.zip
Version has been found
Deno is upgrading to version 1.6.0
downloading https://github-production-release-asset-2e65be.s3.amazonaws.com

[2020-12-08 16:23] lucacasonato commented on #7085
@toshirot Are you using WSL?

[2020-12-08 16:27] toshirot commented on #7085
I'm using VirtualBox on win10

[2020-12-08 16:51] mathiasrw commented on #986
You did it!!! 1.6.0 is now released including this feature.

`deno compile --unstable https://deno.land/std@0.79.0/examples/cat.ts` will make you an executable version of the module.

- Startup time is on pair with running via deno!

- The size of the 47 MB output file is an area of improvement but we knew that already from this thread.

I'm very very excited.

[2020-12-08 17:48] iaincollins commented on #8655
If it helps, as a module maintainer a use case I've had for dynamic imports in NPM packages to only load modules when needed (e.g. depending on options passed in by whatever is consuming the module) - i.e. to load things regarded "optional peer dependencies" at runtime, such as drivers for a specific database. Not supporting dynamic imports causes problems for applications that use the relatively

[2020-12-08 18:05] elgs opened #8673 "deno 1.6 compile getting error: Is a directory (os error 21)"
[code]

[2020-12-08 18:43] lucacasonato commented on #8673
Do you have a folder at `/private/tmp/a`?

We should throw an error if the inferred output path already exists.

[2020-12-08 18:47] elgs commented on #8673
[code]

Yes, looks like /tmp and /private/tmp are the same on my computer. I moved a.js to ~, and it worked.

[2020-12-08 19:22] kitsonk commented on #8667
Is sync in its use of `load` and converts at the edge... 😕

[2020-12-08 19:26] kitsonk commented on #8346
It is not "sustainable" at the moment and still experimental so we will keep this issue open.

[2020-12-08 19:27] bartlomieju commented on #8667
You're right I wrote that myself 😅  okay, then another case: if we make `load()` sync then implementors will have to always implement `prepare_load()` and perform full graph analysis to load module asynchronously.

[2020-12-08 19:30] kitsonk commented on #8667
Or do nothing, like `deno_core::FsModuleLoader` already does. One noop future per run versus potentially thousands.

[2020-12-08 20:07] rracariu commented on #8224
This bug is still present in Deno 1.6.0

[code]

[2020-12-08 20:19] kitsonk commented on #8224
It is a regression. We need to add a test for this.

cc/ @kdy1

[2020-12-08 21:18] jsejcksn commented on #8405
In https://github.com/denoland/deno/issues/8405#issuecomment-738162035, Bartek lists several suggestions for renaming.

It seems like these new names are derived from similar functionality of existing JS language methods.

However, there is much code to write which won't have any analogs for comparison, and I think it would be very useful for there to be a guide which provides linguistic prescript

[2020-12-08 21:35] jsejcksn commented on #8211
Another reproduction case:

[code]

[2020-12-08 21:40] RedactedProfile commented on #986
Now this is a celebration! I am really excited to try this :)

[2020-12-08 22:32] nktpro opened #8677 "Deno 1.6.0 bundle regression - skypack default export"
This snippet is bundled correctly in deno `1.4.x` and `1.5.x`:

[code]

The end of the bundled output looks like this:

[code]

In deno `1.6.0`, the bundle contains invalid code (notice the 2 invalid `const __default = __default` statements at the end of the bundle)

[code]
The culprit is most likely this generated export statement from `skypack`:

[code]

Since `deno compile` relies on bundling b

[2020-12-08 23:16] MarkTiedemann opened #8678 "Logo in readme does not work well with the new GitHub dark mode"
Screenshot:

![image](https://user-images.githubusercontent.com/7062160/101552531-4a18ca80-39b3-11eb-86d4-3d14603afbc5.png)

To use the dark mode, select it in your appearance settings: https://github.com/settings/appearance

[2020-12-08 23:28] kitsonk commented on #8677
cc/ @kdy1

[2020-12-08 23:29] nktpro opened #8679 "Deno bundle regression in both 1.5.4 and 1.6.0 when a module re-exports both * and default"
I've managed to narrow this issue down to a bare-minimal reproducer: Given 3 files:

`one.ts`
[code]

`two.ts`
[code]

`three.ts`
[code]

Only deno `1.4.x` would produce a valid bundle for `three.ts` (very verbose output but valid regardless, since we didn't have bundle tree-shaking until `1.5.x`)

[code]

The bundle output of deno `1.5.4` will simply contain a single invalid statement of:

[code]

[2020-12-08 23:31] nktpro commented on #8677
I managed to create a much better reproducer with https://github.com/denoland/deno/issues/8679, closing this issue.

[2020-12-08 23:31] #8677 closed

[2020-12-08 23:32] kitsonk commented on #8679
cc/ @kdy1

[2020-12-09 01:22] jeremyBanks opened #8680 "`deno bundle`/`deno compile` can produce invalid syntax (context-dependent keywords as identifiers)"
While working on https://github.com/colinhacks/zod/pull/209, trying to make [the TypeScript data validation library "Zod"](https://github.com/colinhacks/zod/) compatible with Deno, I encountered a bug with `deno bundle`: it may produce a syntax error if you have an import name isn't a valid variable name. (This is possible different contextual keyword rules apply in variable declarations vs export

[2020-12-09 01:53] githubmann opened #8682 "Deno.dir is not a function"
according to [runtime doc](https://doc.deno.land/builtin/unstable#Deno.Permissions), I code ```Deno.dir("home")```.
![image](https://user-images.githubusercontent.com/13065289/101563493-4bbeae80-3a04-11eb-8515-2b73bc251f68.png)

but output as follow:
[code]

env:
[code]

[2020-12-09 01:54] liudonghua123 commented on #986
Nice feature, I tried `deno compile --unstable https://deno.land/std@0.79.0/examples/cat.ts`, and it produced a 31.4 MB sized `cat.exe`. Look forward to a smaller size in the future.

[2020-12-09 01:55] caspervonb commented on #8682
Outdated docs, thanks 👍

[2020-12-09 02:18] Boyceman commented on #8107
could you push version 1.5.4 and version 1.6.0 on homebrew please? thanks in advance

[2020-12-09 03:39] kdy1 commented on #8627
@kitsonk This seems like a bug of `deno run`. It works well with fixture testing, but it errors on `deno run`.

[2020-12-09 03:41] kdy1 commented on #8627
Ah.. I found the root cause.
`??=` is typescript-only extension.

What should we do here? Transform it from typescript::strip?

[2020-12-09 03:47] elgs commented on #8673
@lucacasonato I just read your question again. I indeed have a folder at /private/tmp/a.

[2020-12-09 04:03] kitsonk commented on #8627
@kdy1 no it is Stage 4 proposal for ECMAScript: https://github.com/tc39/proposal-logical-assignment.  It is valid JavaScript in most greenfield browsers: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/Logical_nullish_assignment

[2020-12-09 04:05] kdy1 commented on #8627
Oh, thanks! I didn't know it. Then I'll simply allow `??=` in js files.

[2020-12-09 04:10] kitsonk commented on #8627
It is also `||=` and `&&=` that are being added.

[2020-12-09 04:21] caspervonb commented on #8678
Hm didn't we do an adjusted version of the icon in relation to windows dark mode that worked okay in both light and dark?

[2020-12-09 04:23] caspervonb commented on #8678
Not quite the issue I was looking for but related https://github.com/denoland/deno/issues/6593

[2020-12-09 05:35] darkRaspberry commented on #7085
I was using WSL at that time.
I now completely shifted to Ubuntu,

[2020-12-09 09:08] jcc10 opened #8684 "Deno.compile improperly handles side-effect-only modules."
(v1.6.0)

`main.ts`
[code]
`a.ts`
[code]

Obviously this file should output a side-effect only module. However it doesn't.

More importantly the following `a.ts` file does generate valid output.
[code]

I think this may have to do with tree-shaking, the fact that there is no export means it can drop the module. But it would be nice if that could emit a diagnostic when explicitly compiling a file t

[2020-12-09 09:26] kitsonk commented on #8684
It isn't a Deno issue and technically it isn't a TypeScript issue either, as TypeScript compiles both scripts and modules. When modules lack and import or export statement, they are treated as scripts. This is explained here: https://www.typescriptlang.org/docs/handbook/modules.html

The current canonical way to denote a module is `export {}` when there are no other exports. There is a TC39 propos

[2020-12-09 09:43] jveres opened #8685 "Expose JavaScript minification for bundler"
Since swc is capable of minifying the generated JavaScript code, maybe this could be exposed via command line parameter, e.g. `--minify`. I already made a [fork](https://github.com/jveres/deno) and smoke tested. It works but has some bugs.
@kdy1 do you think it's mature enough to bring into Deno?

[2020-12-09 09:46] kdy1 commented on #8685
@jveres swc does not have minifier at the moment. `minify` in `codegen::Config` is just about skipping semicolons.

[2020-12-09 09:52] jveres commented on #8685
then it's maybe too early, I still have to stick with `terser`

[2020-12-09 09:52] #8685 closed

[2020-12-09 10:17] kdy1 commented on #8679
The problem is that a module exports `default` multiple times.
I think a removing `default` from `export *` could be a solution.

[2020-12-09 11:30] Sparkenstein opened #8686 "deno completions zsh crashing after update, with thread panic"
After updating to 1.6.0, `deno completions` command is crashing with zsh, note that earlier shell completions are working, just the `deno completions zsh` is crashing, other completions like `deno completions bash` or even `deno completions elvish` working fine.

error:
[code]

with backtrace:
[code]

this looks clap-rs issue to me, not sure if something is wrong on deno side

[2020-12-09 11:35] josephrocca commented on #2168
Could this be re-opened, and perhaps retitled so it's a feature request? Maybe better than creating a new one since this is already at the top of a Google search.

[2020-12-09 11:42] kitsonk commented on #2168
I don't think re-opening it would be useful, it would give someone false hope that it would ever be worked on.

[2020-12-09 11:44] lucacasonato commented on #8686
Duplicate of #8472

[2020-12-09 11:44] #8686 closed

[2020-12-09 11:45] josephrocca commented on #2168
Ah, okay. Is it the Deno team's position that a notebook environment wouldn't be useful/practical, or is it just something for a different (possibly unofficial) repo?

[2020-12-09 11:55] kitsonk commented on #2168
It is just not anything on a current roadmap or a long term roadmap, so keeping the issue open would give people an impression that it is, and [there are plenty of other issues that have a lot more community support](https://github.com/denoland/deno/issues?q=is%3Aissue+is%3Aopen+sort%3Areactions-%2B1-desc).

[2020-12-09 12:00] jcc10 commented on #8684
@kitsonk  I think I may not have been entirely clear. No code is generated. At all. The result of Deno.compile is `emitMap == {}`. The only way to get emitMap to have content is to explicitly declare it as a module. I guess I thought that a compile on a script/side-effect-only module would be the same as running Deno.transpileOnly (which I have not tested to see if it also outputs nothing.) and si

[2020-12-09 12:07] nayeemrmn commented on #8684
https://www.typescriptlang.org/docs/handbook/modules.html:

The "just as in ECMAScript 2015" part is false 🙃 none of this guesswork is specified by ES. It would be proper for TS to allow the host to specify that everything is a module or otherwise out-of-band.

[2020-12-09 12:08] hayd commented on #2168
with `deno lsp` this may be somewhat more straightforward... I think someone in the community needs to give wiring this up a shot (as kitson points out it's very unlikely to be someone in the deno team)

https://github.com/krassowski/jupyterlab-lsp

[2020-12-09 12:49] wperron commented on #8448
Related to #5840 and #3654

[2020-12-09 13:20] mash-graz commented on #8385
this issue could be solved simply by https://github.com/denoland/rusty_v8/pull/543 -- see: https://github.com/denoland/rusty_v8/issues/545 and https://github.com/denoland/deno/issues/8449

[2020-12-09 13:23] mash-graz commented on #7115
this issue could be simply solved by denoland/rusty_v8#543 -- see: denoland/rusty_v8#545 and #8449

[2020-12-09 15:19] awkj commented on #986
excited ! I will use deno instead of shell

[2020-12-09 15:48] #8576 closed

[2020-12-09 15:53] hoangtranson opened #8690 "TS1243 [ERROR]: 'async' modifier cannot be used with 'abstract' modifier."
I am using Deno now and deploy it to Heroku. Today my deployment get this issue

[code]
Then, I have opened the file and its content is like this:

[code]

I have no idea how to fix it. Really need some help or any clue to resolve this issue.

![error](https://user-images.githubusercontent.com/35447677/101652863-b65e0180-3a79-11eb-9400-b07a3e269529.png)

[2020-12-09 16:02] hastri commented on #8690
Deno 1.6 upgraded Typescript to 4.1

https://devblogs.microsoft.com/typescript/announcing-typescript-4-1/#abstract-members-cant-be-marked-async

[2020-12-09 16:02] #8517 closed

[2020-12-09 16:02] #8672 closed

[2020-12-09 16:11] hoangtranson commented on #8690
Could you give me more information @hastri ?

Here is my Deno version that I just upgrade today. Before that my code running well.

[code]

I want to remove this error out of my code. But the problem is that it is not from my code.

[2020-12-09 16:16] lucacasonato commented on #8690
It needs to be resolved upstream in the library you are importing from.

[2020-12-09 16:25] invisal commented on #8690
This is from my library. I am working on fixing to support Deno 1.6.0

https://github.com/invisal/god_crypto/pull/20

[2020-12-09 18:01] jaeheonji commented on #8645
`ensureFile`  can only get correct results if the target is a file. You can check this in `deno/fs/ensure_file.ts`.

[code]

If you only want to check the existence of an object regardless of the type, it is recommended to use `exists` or `existsSync`.
These functions can be found in `std/node/fs.ts`.

[code]

For a detailed these function, Node.js documentation(https://nodejs.org/api/fs.html#fs_f

[2020-12-09 18:51] mvolkmann commented on #8419
I am hitting what I believe is the same issue. I start my Deno WebSocket server and connect to it from a browser client successfully. The server sends a message to the client(s) every 5 seconds. If I close the browser tab, the next time the server tries to send a message to that client I get a "Broken pipe" error. That part is reasonable. The problem is that I can't catch it and my server crashes.

[2020-12-09 18:57] lucacasonato opened #8695 "Invalid import scheme causes lsp to panic"
[code]

[code]

[2020-12-09 19:30] #8690 closed

[2020-12-09 19:32] kitsonk commented on #8695
Yeah, need to weed those out when resolving specifies in the sources.

[2020-12-09 20:12] guybedford commented on #7101
@FabianTe yes exactly, these could just be implemented now on top of the streams API via `import { Readable, Writeable } from '../node/stream.ts'` as per the Node.js documentation.

[2020-12-09 20:30] FabianTe commented on #7101
Haven't yet looked deeper into this. Could they simply be used or would we still have to add some adapter-like stuff when using `Readable` and `Writable`

[2020-12-09 20:51] samirdjelal commented on #986
I've found a way to get Deno output smaller by packing Deno executable before the compile.
if you tried to pack the output after compiling Deno will fail to read the content of the code as the compile subcommand will be embed the JS code in the end of the binary as bytecode, it can be seen using any Hex Editor.

### So remember:
1. pack Deno binary.
2. compile your project files using the packed D

[2020-12-09 21:16] elgs opened #8697 "ARM Raspberry Pi support?"
I am running Arch Linux on Raspberry Pi and it seems deno is not working on it yet. I wonder if this is something on the road map or not? Thanks.

[2020-12-09 21:21] crowlKats commented on #8697
Duplicate of https://github.com/denoland/deno/issues/1846

[2020-12-09 21:49] elgs commented on #8697
Thanks!

[2020-12-09 21:49] #8697 closed

[2020-12-09 21:51] MarkTiedemann commented on #986
Note that packing Deno may make it significantly slower. If packed, executing `deno -V` takes 1s instead of 20ms on my machine.

[code]

Also, be careful about shipping packed binaries to users: Anti-virus software, including Windows Defender, is more likely to flag your binary and prevent it from running in the first place. Since packing obfuscates the binary to some degree, it is sometimes consi

[2020-12-09 21:54] wperron commented on #8448
moved to discussions #8699

[2020-12-09 21:54] #8448 closed

[2020-12-09 22:02] MarkTiedemann commented on #8419
@mvolkmann Have you tried putting a `try { await client.close(); } catch { /* Ignore broken pipe error */ }` around the `client.close` in your `reload` function?

[2020-12-09 22:37] nktpro commented on #8679
@kdy1 As per [the example on MDN](https://developer.mozilla.org/en-US/docs/web/javascript/reference/statements/export) `export * from ...` re-exports everything **except** the default export. If `swc` exports `default` as well as part of `export * from ...` then perhaps it didn't implemented ES specification correctly?

[2020-12-09 23:30] samirdjelal commented on #986
I just mentioned that we can pack it before compiling,
However you are right, UPX will be flagged as false positive by few AVs and it will take extra time to unpack the app in-memory!
and maybe obfuscating the JS before embedding to the end of the binary will be great.
**It is a starting point.**

[2020-12-09 23:32] coreybutler commented on #986
@MarkTiedemann has some valid points, but it's also worth mentioning a few additional points:

**Antivirus**

To better handle antivirus, code sign your executables using a trusted certificate. Most of the antivirus apps will account for that and allow the app to run.

**Boot Time**

While there may be a delay, remember to consider the usability of the executable. There are some cases where a 1s d

[2020-12-09 23:41] KaKi87 commented on #986
Are there Free certificate providers for executables as there are for HTTPS ?

[2020-12-09 23:47] coreybutler commented on #986
@KaKi87 - nothing free that I'm aware of. It requires a greater degree of trust. An HTTPS cert is hosted, whereas a local executable can (conceivably) do just about anything once installed. That's where things like background checks (which are common for paid certs) are useful. There's a whole thread about why LetsEncrypt does _not_ provide free code signing certs at https://community.letsencrypt.

[2020-12-10 00:03] KaKi87 commented on #986
I think Let's Encrypt could achieve viable code signing from domain names owners using WHOIS.
WHOIS information is directly provided by hosters, which contains either an organization name, an individual name, or both.
That was the problem pointed in the linked topic, right ?

[2020-12-10 00:12] #8695 closed

[2020-12-10 00:22] samirdjelal commented on #986
I don't think you can find a free code-signing, as it is all about trust factor, if you can get free cert it means malware authors can get it too and use it to bypass AV, however there is open source code signing code for €25!
https://shop.certum.eu/open-source-code-signing-code.html

[2020-12-10 00:52] daotoad commented on #986
Years ago, I used [PAR::Packer](https://metacpan.org/pod/PAR::Packer) and [ActiveState's now defunct PerlApp](https://www.activestate.com/blog/perl-dev-kit-pdk-now-end-of-life/) to create distributable perl code.  Both tools used a strategy of packing the files, then caching the unpacked files after the first run.  The end result was a significant speed boost on subsequent executions.  This strate

[2020-12-10 02:05] jsejcksn opened #8702 "Worker onmessage handler not being invoked when payload is undefined"
Example:

`worker.ts`:
[code]

`main.ts`:
[code]

When run, it just hangs forever after the worker posts `undefined` back to the main process because the handler is never invoked:

[code]

If—on line 1 of `main.ts`—`data` is changed to a number greater than `0`, the worker will post back a `number` instead of `undefined` and everything works as expected:

[code]

I'm not sure why this behavior is

[2020-12-10 02:53] ry opened #8703 "Factor websocket client out into standalone op crate"
Similar to [//op_crates/fetch](https://github.com/denoland/deno/tree/1a72c9ba23208f7236e5784011bc15640e50fe0b/op_crates/fetch)

[2020-12-10 02:54] Yamboy1 opened #8704 "Dead link on `Script Installer` manual page"
On the v1.6.0 manual page (and also previous pages) there is a link with text `import.meta.main` going to https://deno.land/manual@v1.6.0/examples/testing_if_main which appears to be dead link.

[2020-12-10 03:11] kitsonk commented on #986
Enhancements to the feature should probably be discussed as a seperate thread in [Discussions](https://github.com/denoland/deno/discussions?discussions_q=category%3AIdeas) instead of comment on a closed issue where the thoughts and feedback will likely be lost or ignored.

[2020-12-10 03:24] kitsonk commented on #8678
It should be fixed in the same way Windows was.

[2020-12-10 04:14] kitsonk opened #8706 "Utilise the emit from swc instead of tsc"
In Deno 1.6 we added isolated modules to the _ignored options_, which means that Deno is forcing the built-in TypeScript type checker (`tsc`) to not use type dependent emits, which means the same TypeScript code that compiles under normal operations also supported under `--no-check`.  This "unlocks" us using swc to do all the emitting and stop using tsc to do the emit.

My estimates are that it wi

[2020-12-10 04:19] #8549 closed

[2020-12-10 04:20] #7732 closed

[2020-12-10 04:45] #3234 closed

[2020-12-10 05:49] kdy1 commented on #8679
@nktpro Oh, thanks! I didn't know it. Then fixing it will be much easier.
I just normalized all imports to ease handling and as a result `default` was exported too.

[2020-12-10 05:56] tylerlevine opened #8707 "Unsafe evals in toml std lib"
I was poking around in the toml library in connection with #8433 and I found a couple of ways to evaluate arbitrary javascript from a toml file due to a couple of unsafe uses of eval in the toml standard library implementation ([unsafe eval 0](https://github.com/denoland/deno/blob/8e914be7420715620cad74fbb020c5e87ac875a2/std/encoding/toml.ts#L276) and [unsafe eval 1]( https://github.com/denoland/d

[2020-12-10 05:57] tylerlevine commented on #8707
I'm too slow, I see this has already been addressed in https://github.com/denoland/deno/pull/8624.

Thanks for the quick response!

[2020-12-10 05:57] #8707 closed

[2020-12-10 09:33] AnInternetTroll opened #8709 "Deno REPL doesn't preview the return value like Node does"
In node's REPL when you write a statement you can see it's output before running the code. This does not happen in deno as of now.
This is a really nice feature for testing small bits of code without making your command line a long spaghetti mess.
![Example Image](https://cdn.discordapp.com/attachments/689420767620104201/786523031307681792/unknown.png)

[2020-12-10 09:40] caspervonb commented on #8709
I think we're blocking on rustyline's inability to be told when to poll, it presents us with a very strict callback driven "give me context information on a keystroke" style API at the moment.

That said, I'd like to have this I just need to find the time to grok the source and make something happen in upstream rustyline.

[2020-12-10 13:06] caspervonb opened #8713 "Calling Deno.exit most probably will prevent coverage collection"
Since Deno.exit calls exit(2) directly, coverage will probably not be collected in that scenario. We'd have to set up an atexit equivalent hook.

[2020-12-10 13:56] magurotuna commented on #7824
@rizkyramadhan @MohammadHonarvar @fauzan121002
Do this error still happen to you all when using Deno v1.6.0? If so, I'll dig into it.

[2020-12-10 13:59] luk3skyw4lker opened #8714 "UDP TS Module"
Hello! I am interested on building a Deno UDP module (just like Node has dgram), but I have no clue on how to start, would anyone give me a tip?

[2020-12-10 13:59] mvolkmann commented on #8419
Good idea. But I tried it and got the same result. The server still crashes with "BrokenPipe" after the client is terminated.

[2020-12-10 15:19] nurmohammed840 commented on #8576
But still throw same Error. ( deno --version  : 1.6.0 )
[code]

[2020-12-10 15:22] bartlomieju commented on #8576
@nurmohammed840 the fix is not a part of `1.6.0`. It will be released in `1.6.1` in a few days.

[2020-12-10 16:07] flemux opened #8716 "'--isolatedModules' flag causes error in std/log"
![image](https://user-images.githubusercontent.com/67560754/101796656-0d5ae980-3b01-11eb-97cf-0c5032d2f068.png)

Updating Deno to version 1.6.0 causes deno run to fail with the above error.  From what I understand we need to export `type`, I will raise a PR about this, hopefully, it should be an easy fix.

I tried to disable the '--isolatedModules' flag in my tsconfig.json file:
[code]

Using the

[2020-12-10 16:20] flemux commented on #8716
Sorry that was an issue with global Denon module.  I'll close this issue.

[2020-12-10 16:21] #8716 closed

[2020-12-10 18:47] #8714 closed

[2020-12-10 18:49] #8704 closed

[2020-12-10 19:41] #8527 closed

[2020-12-10 19:41] #7576 closed

[2020-12-10 20:36] wperron commented on #8702
I'll take a look

[2020-12-11 02:01] irustm commented on #4531
@lucacasonato thanks!
any news on this issue? Is there anything I can do to help?

[2020-12-11 07:49] ITT-2153 commented on #8690
I have the same problem, i tried to update Deno but it didn't work.
Error:
[code]

This is the content of the links:
[code]
Deno version (updated):
[code]

[2020-12-11 12:18] #8472 closed

[2020-12-11 12:45] JoanaBLate opened #8719 "CTRL V freezes the REPL and computer in Linux Desktop"
Typing  **CTRL V** freezes the REPL and the desktop (Linux Mint 18.3 Cinnamon 64-bit).

Using Deno 1.6.0

[2020-12-11 12:57] caspervonb commented on #8719
Hmm, I can't reproduce on Mac nor Ubuntu.

Maybe someone else is able to reproduce?

[2020-12-11 13:00] AnInternetTroll commented on #8719
On Ubuntu’s default terminal and alacritty if I press twice ctrl+v it freezes. (Also it might have frozen my computer just now not sure)

[2020-12-11 13:01] caspervonb commented on #8719
Also at @JoanaBLate is ctrl-v bound to anything in your terminal emulator?

[2020-12-11 13:14] JoanaBLate commented on #8719
@caspervonb

CTRL V is ok without any CLI
CTRL V is ok with nodes repl

Problem is with deno

I use the standard bash

[2020-12-11 14:08] caspervonb commented on #8719
That's your shell, I'm wondering what the program (terminal emulator) that is running the shell is, e.g gnome-terminal, terminator, xterm, etc because I'm wondering if it has bound anything to ctrl-v.

What are you expecting the outcome of hitting ctrl-v to be?

[2020-12-11 14:23] JoanaBLate commented on #8719
@caspervonb

CTRL V was pressed by accident. I wanted CTRL SHIFT V.

CTRL V has no use. I never configured it.

About the terminal:

[2020-12-11 17:47] xaviripo opened #8722 "SyntaxError with nullish coalescing operator and logical operator only when compiling"
I think there are some syntax issues with the `??` operator.

Given a file `test.ts` like:

[code]

Running it with `deno run` works fine, but compiling and then running it throws `SyntaxError`:

[code]

Replacing the `||` with `&&` also has this behavior.

Any of the following compile and run properly:

[code]
[code]
[code]
[code]

I tried inspecting the generated binary but I'm not knowledgeable

[2020-12-11 17:51] bartlomieju commented on #8722
This is most likely problem with the bundler. The issue should be repeatable when doing `deno bundle` and trying to run generated bundle.

[2020-12-11 17:54] xaviripo commented on #8722
You are right:

[code]

The bundler is dropping the parentheses.

[2020-12-11 17:57] jw2476 opened #8723 "Logger Setup is not global"
I define my desired logging setup eg:

[code]

Then when I use it in other files the configuration is not saved eg:

[code]

I think this should be global as it will save a lot of code re-use

[2020-12-11 17:58] bartlomieju commented on #8722
CC @kdy1 is this a known issue?

[2020-12-11 18:07] kdy1 commented on #8722
No, but fixing it will be easy. I'll fix it tomorrow.

[2020-12-11 19:03] lucacasonato commented on #8723
The configuration is global. The issue is likely that that you are importing `notMain.ts` from `main.ts` - that means code in `notMain.ts` is run before `main.ts`.

[2020-12-11 19:46] jw2476 commented on #8723
Won't this make logging in libraries impossible though, as they can't import the application it's being used in?

[2020-12-11 21:53] aricart opened #8725 "deno 1.6.0 bundler still not working quite right"
The bundler in 1.6.0 is referencing symbols in using their exported names, rather than the internal names it assigned.
Here's an example (stack trace from Chrome):
[code]

If we look at the mjs file:
[code]
setUrlParseFn is defined in the exports:
[code]

Internally the function that is defined by the library is:
[code]

To generate the same file you can:
`deno bundle https://raw.githubusercontent

[2020-12-11 21:55] aricart commented on #8725
Last version of the bundler that worked correctly was with `deno 1.4.6` - that version can still be used to generate a proper mjs file.

[2020-12-11 22:02] aricart opened #8726 "deno coverage"
the coverage feature is super awesome - however, if I have a project directory structure like:
[code]

Where tests references code exported by src/ and src references code exported by other, I only see coverage for non-test files in test/ (which are test support files).

[2020-12-12 02:06] skywalker512 opened #8728 "Compiling Executables don't work with upx"
I found that the generated file was close to 50 mb in size, so I tried to see if I could compress it using upx, and although the executable was reduced to about 20 mb, it did not execute properly.

Environment.
deno 1.6.0
macos 11.0.1(intel)
upx 3.96

I found a discussion of this in the relevant project issue：
https://github.com/vercel/pkg/issues/50
https://github.com/vercel/pkg/issues/121
https:/

[2020-12-12 03:25] yamatatsu opened #8731 "Remove annotation about removed function"
In connection with #8682, I suggest fix following docs as removing annotation about removed function.

- https://github.com/denoland/deno/blob/31935c6b8d8f763a5cf809b940427024da01a71c/cli/dts/lib.deno.ns.d.ts#L1082
- https://github.com/denoland/deno/blob/31935c6b8d8f763a5cf809b940427024da01a71c/cli/dts/lib.deno.ns.d.ts#L1101

[2020-12-12 05:50] kwonoj opened #8734 "deno bundle incorrectly creates duplicated constants"
Deno version: `1.6.0`
Tested platform: Linux

Repro steps:

[code]

`deno bundle` creates bundle as below:

[code]

running bundle will throw:

[code]

fn `parse` defines `m1` as constant, but bundler mangles variable `const m` to `m1` then leave original `m1` as is.

[2020-12-12 08:23] MarkTiedemann commented on #8728
Did you pack deno before compiling? See https://github.com/denoland/deno/issues/986#issuecomment-742041812

[2020-12-12 11:06] soootaleb opened #8735 "Workers & top-level-await changed behavior between 1.4.6 and 1.6.0"
Hello,

I've been implementing a distributed KV Store with Deno recently in version 1.4.6.

I use a worker for the network layer (so that the webserver is not blocking the main program):
- I use the `serve` function and a top level await to received requests (ugraded to websockets with `acceptWebsocket`)
- On a new request, the worker forwards the payload to the main thread using `self.postMessage

[2020-12-12 11:21] SyrupThinker commented on #8719
I can reproduce this with Deno 1.6.0 and a master build at 31935c6b8d8f763a5cf809b940427024da01a71c.

Pressing Ctrl-v, the readline quote command,
and then another control combination like Ctrl-v, Ctrl-a or Ctrl-g,
thus inputting `\x16`, `\x01` or `\x07` respectively, makes the repl unresponsive.

I narrowed the issue down to a call into swc's lexer [here](https://github.com/denoland/deno/blob/319

[2020-12-12 11:48] LukeChannings opened #8736 "[bug] deno bundle - tree shaking is too aggressive"
In some cases `deno bundle` will strip out required symbols.

Here's a simple test case:

[code]

[code]

[code]

If we take a look at [assert.ts](https://deno.land/std@0.79.0/_util/assert.ts), we notice that the bundle omits `DenoStdInternalError`.

This has the knock-on effect of causing `deno compile` to break too.

[code]

[2020-12-12 12:15] #8682 closed

[2020-12-12 12:16] #8731 closed

[2020-12-12 12:48] bartlomieju commented on #8735
@soootaleb in `1.5` we had a fix for top-level-await implementation that prevent some nasty edge cases. Unfortunately it looks like it had impact on workers implementation as well... 😬

Unfortunately linked code can't really be used as a test case, could you try to boil down reproduction?

[2020-12-12 12:50] bartlomieju commented on #8728
We'll provide lite binaries for `deno compile` (about 20Mb) in the next release once #8640 lands.

[2020-12-12 12:50] #8728 closed

[2020-12-12 12:50] bartlomieju commented on #8725
CC @kdy1

[2020-12-12 12:50] bartlomieju commented on #8726
CC @caspervonb

[2020-12-12 13:14] #8595 closed

[2020-12-12 13:17] bartlomieju commented on #8562
@00ff0000red could open a PR with presented reproduction as a test? I will look into this problem some time in the future

[2020-12-12 13:18] bartlomieju commented on #8543
@ymonb1291 performance problem with `performance.now()` and `performance.mark()` should be fixed in `1.6.0`. We'll look into using V8 fast API in the future. Tentatively closing.

[2020-12-12 13:18] #8543 closed

[2020-12-12 13:19] bartlomieju commented on #8453
@faith it seems like an intermittent failure caused by upgrade of some crates. `cargo install` should work properly with latest version.

[2020-12-12 13:19] #8453 closed

[2020-12-12 13:21] bartlomieju commented on #8410
@Dygear I'm going to close this issue for now. We don't provide official builds for Arm64 so it's really hard to say what might be causing this. Once we'll start working towards #1846 this issue will be addressed accordingly.

[2020-12-12 13:21] #8410 closed

[2020-12-12 13:21] #8528 closed

[2020-12-12 13:26] soootaleb commented on #8735
@bartlomieju thanks a lot for your reactivity :)

Here we go: I created a subfolder with example code on a dedicated branch, see the README, reproducing is easy

https://github.com/soootaleb/abcd/tree/deno-issue-8735/issue-8735

[2020-12-12 13:28] bartlomieju commented on #8194
I don't believe this statement is true. The sole purpose of `Deno.env.set` is to set env variables on your system.

I'm with @kitsonk on this one and that'a a hard -1 from me on this one. There's no need for deno to provide this functionality if every shell can do that. Respectfully closing.

[2020-12-12 13:28] #8194 closed

[2020-12-12 14:06] magurotuna commented on #8571
Still seems flaky
https://github.com/denoland/deno/runs/1542414977#step:24:4089

[2020-12-12 19:41] #8673 closed

[2020-12-12 20:23] stefanreimers commented on #7824
@magurotuna
I can confirm this is still happening in v1.6.0.
Environment is Windows 10.

Script is
[code]

Call is:
[code]

Any change to the script while in watch mode causes the server to crash.

[2020-12-12 22:52] 00ff0000red commented on #8562
@bartlomieju I don't think it's possible; my OS was killing the process after accumulating too much memory, all my terminal said was "process killed" "exit status 137" or something along those lines, there was no runtime exception that I could simply catch in JavaScript.

[2020-12-13 05:21] vyushin opened #8741 "import local module with relative path"
Code:

[code]

Error
[code]

When I remove string with import generator from relative path then the error doesn't happen.
I tried run Deno with `-A`, but that doesn't resolve the case.
How can I import any modules from relative path?

[2020-12-13 05:36] Soremwar commented on #8741
That error is really cryptic, check your Deno version is up to date.

That relative module (generator) should have extension as well, so that's probably it

[2020-12-13 05:49] vyushin commented on #8741
@Soremwar

Adding extention resolved the case. Thanks!

[2020-12-13 06:56] caspervonb commented on #8726
Related #7563

This is being addressed in #8664

[2020-12-13 10:11] #8741 closed

[2020-12-13 10:21] magurotuna commented on #7824
@stefanreimers Thanks for the info! I'll look into it although it seems to be a window specific issue and I don't have a window machine.

[2020-12-13 11:35] Vishal19111999 commented on #8678
@kitsonk I have tried to fix it and made a PR!

[2020-12-13 16:54] brannondorsey commented on #8567
This would be a major convenience, especially for CI/CD pipelines which build application releases for multiple platforms and architectures from a single Linux box/container. Golang's approach to provide control over these two axises at build time with `GOOS` and `GOARCH` environment variables makes this incredibly easy ([example](https://github.com/brannondorsey/markov/blob/f489191a076587d9ccfe38

[2020-12-13 18:45] #2633 closed

[2020-12-13 18:45] #7928 closed

[2020-12-13 19:00] 00ff0000red commented on #8562
Update:
I had practically never updated Deno and just moved to 1.5.4, the worker code doesn't even work, Promise.all on the buffers wasn't resolving, I tried this:
[code]

it quickly logs up to `201` and stops entirely.

Lowering iterations to 200 instead of 400 worked.

[2020-12-13 19:05] 00ff0000red commented on #8562
@bartlomieju This issue cannot be caused on the current version of Deno; this seems to only exist in outdated versions of Deno.

[2020-12-13 19:05] #8562 closed

[2020-12-13 19:06] bartlomieju commented on #8562
Glad to hear that it's no longer a problem! No worries, bug reports are always appreciated

[2020-12-13 22:29] jon49 opened #8746 "Deno Compile inserts literal \r\n into code base"
When I compile my scripts I have strings like so

[code]

When I compile my scripts into an executable deno turn my string into something like this (I'm assuming):

[code]

Here's what the HTML source code looks like:

[code]

Which cause my web page to have a bunch of literal `\r\n` new line characters peppered throughout.

Here's my original code: https://github.com/jon49/VideoDownloader/blob/ea

[2020-12-13 22:30] lucacasonato commented on #8746
cc @kdy1

[2020-12-14 00:03] guilhermewebdev opened #8747 "Bug in regex test"
I want report a bug, when I test the regex into variable, it match sometimes.

![image](https://user-images.githubusercontent.com/39817303/102027953-58d1f980-3d86-11eb-8ee6-880f1beb2622.png)

[2020-12-14 00:06] lucacasonato commented on #8747
This is not a bug. Deno runs standard JS through V8 (same JS engine as Chrome and Node), and what you have discovered is actually a JS "feature". JavaScript regular expression objects are stateful when they have `/g` or `/y` flag in the pattern to match. See https://medium.com/javascript-in-plain-english/most-surprising-behavior-of-javascript-regular-expression-you-have-ever-seen-1ddb84539163

[2020-12-14 00:06] #8747 closed

[2020-12-14 01:04] elgs opened #8748 "deno upgrade failed on Arch Linux"
[code]

[2020-12-14 01:15] bartlomieju commented on #7928
@AndyBarron @olanod @jahtalab @trevyn we now provide library crate that exposes runtime functionalities of Deno: https://crates.io/crates/deno_runtime

[2020-12-14 01:15] bartlomieju commented on #2633
The main runtime is now available as a Rust library crate: https://crates.io/crates/deno_runtime

[2020-12-14 02:00] darklight9811 commented on #7089
Same issue here, but reloading didn't work out

[2020-12-14 02:52] #8678 closed

[2020-12-14 02:55] #8723 closed

[2020-12-14 03:05] kitsonk commented on #8646
@nayeemrmn what would be a good API then if we were unshackled?  I am supportive of having something logical that we can eventually stabilise in `Deno` to be able to allow users to be able to create good CLI tools in Deno without needing to use `--unstable`.

[2020-12-14 03:34] darklight9811 opened #8751 "Deno saves file in the wrong place"
When I try to use writeAll/Deno.open, it saves in the wrong place. Entire code can be found [here](https://github.com/darklight9811/binance-demo-bot)

## Code
[code]

It saves at:
[code]

Instead of (where the project is at)
[code]

I also tried appending Deno.cwd() to the join command

## Config
deno version: 1.6.0
windows: 10.0.18363 Compilação 18363

[2020-12-14 05:24] kitsonk opened #8752 "Creating a new document causes lsp errors"
Opening a new document in an editor and starting to type causes panics in the LSP:

[code]

It seems like we need to keep "empty" documents from being linted.

[2020-12-14 05:30] kitsonk opened #8753 "Documents with MBC are not handled properly in lsp"
Editing, or creating a document with the following text causes all sorts of issues and lsp server crashes:

[code]

For example, changing `.log` to `.warn` will result in bad diagnostics like:

[code]

This is because characters are not being counted the same between what is being sent by the lsp and how the lsp internally calculates them, causing the internal file to be updated in the wrong locat

[2020-12-14 05:55] kitsonk commented on #8158
This needs to accomodate the lsp as well now too...

Starting to work on this.

[2020-12-14 09:39] quilicicf opened #8754 "Parameterize CLI script written in Deno"
Hi guys,

I'm trying to do something that I'm not sure is supported in Deno and I am wondering if I missed a feature or if there is a possible improvement to Deno.

## What

I'm trying to write a CLI tool that's supposed to have access to a single folder on the user's machine. The idea:

1. the whole configuration/assets lives in a single folder (meaning, copy/pasting this folder replicates the wh

[2020-12-14 09:44] #8754 closed

[2020-12-14 12:37] bartlomieju commented on #8752
@kitsonk I did a fix some time ago in `deno_lint` to ensure that empty documents work just fine. This panic seems like an actual bug in `deno_lint`, I will transfer the issue to `deno_lint` repo.

[2020-12-14 13:35] bartlomieju opened #8757 "Build "lite" binary based on "deno_runtime" in CI"
Now that "deno_runtime" crate has landed we should add new CI stage that would produce "lite" version of binary that could be used for the purposes of "deno compile" subcommand. This lite binary should use only `FsModuleLoader` or `EmbeddedModuleLoader` in case of self-contained binary. It's likely that some code from `cli/standalone.rs` would have to be moved to `runtime/`.

CC @lucacasonato

[2020-12-14 13:47] ebebbington commented on #8751
I tried replicating it on windows, running the script from my D drive. Couldn't replicate.

Example of what i did:
[code]
Deno version 1.6.0

[2020-12-14 13:48] darklight9811 commented on #8751
@ebebbington, the strange thing that this was working on Deno 1.0, when I updated it stopped working. Should I log my windows also here?

[2020-12-14 13:49] ebebbington commented on #8751
@darklight9811 when the script is ran, are you sure your `cwd` is in the D drive?

You could also do `deno upgrade --version 1.0.0`, re-run the script and check the issue isn't present

[2020-12-14 13:53] darklight9811 commented on #8751
@ebebbington, now that I downgraded, it didn't work also. But I don't understand, there are no correlation to the path it saves and the project path.

[2020-12-14 13:56] caspervonb commented on #8751
Sanity check please (I sure as heck am stumped).

[code]

[2020-12-14 13:56] littledivy commented on #8751
![deno_issue](https://user-images.githubusercontent.com/34997667/102089439-34d3ee00-3e42-11eb-839f-134867d2bdf1.png)

Cannot reproduce on Ubuntu.

[2020-12-14 13:56] ebebbington commented on #8751
Also below, add `console.log(Deno.cwd())` if that's ok?

[2020-12-14 13:57] darklight9811 commented on #8751
![image](https://user-images.githubusercontent.com/20667774/102089542-22829180-3dfb-11eb-930c-e05ecadaddf6.png)
![image](https://user-images.githubusercontent.com/20667774/102089552-27474580-3dfb-11eb-8c3e-56ccdfa803f4.png)

[2020-12-14 14:02] darklight9811 commented on #8751
@caspervonb
![image](https://user-images.githubusercontent.com/20667774/102090065-c1a78900-3dfb-11eb-923b-b70ebf190179.png)

![image](https://user-images.githubusercontent.com/20667774/102090082-c9672d80-3dfb-11eb-9e7f-db850b76a607.png)

[2020-12-14 14:10] ebebbington commented on #8751
try upgrading back to v1.6.0 and clearing the cache? (the `DENO_DIR` path in `> deno info`), then run again

[2020-12-14 14:15] darklight9811 commented on #8751
@ebebbington, still nothing. I don't know where he is taking this saved path from :(

[2020-12-14 14:17] ebebbington commented on #8751
can do you the following:

[code]

[2020-12-14 14:19] darklight9811 commented on #8751
@ebebbington

[code]

[code]

[code]

[2020-12-14 14:21] ebebbington commented on #8751
Isn't the file inside that `logs` dir in the last screenshot?

[2020-12-14 14:23] darklight9811 commented on #8751
@ebebbington , no, it's the savePath that I'm logging. The funny thing is that if I delete the logs directory (that is in the right place), ensureDir complains that the file already exists (os error 183). Something really wrong is happening here.

[2020-12-14 14:25] ebebbington commented on #8751
can you `ls logs` just for sanitisation and post the screenshot?

[2020-12-14 14:25] darklight9811 commented on #8751
@ebebbington
![image](https://user-images.githubusercontent.com/20667774/102092720-1d274600-3dff-11eb-9adf-bbd0078a8937.png)

[2020-12-14 14:27] darklight9811 commented on #8751
@ebebbington, I'm really sad because this is holding me back in finishing my project. And I already spent hours and hours trying to figure it out.

[2020-12-14 14:32] eeve commented on #7085
same error

I first installed it with `pacman`
after that, an error will be reported when using `deno upgrade`

[code]

[https://pastebin.ubuntu.com/p/Q9fmsGRdSz/](https://pastebin.ubuntu.com/p/Q9fmsGRdSz/)

[2020-12-14 14:34] ebebbington commented on #8751
A few things you can try out (but don't really offer a solution), are try running the script in different dirs:

[code]

Maybe worth doing this for both the C and D drives - it could just be that dir that is problamatic

Maybe even try uninstall deno completely then reinstall it

[2020-12-14 14:41] darklight9811 commented on #8751
@ebebbington, just tried different directories and in the C drive, also tried reinstalling deno. Nothing worked.

[2020-12-14 14:50] eeve commented on #8748
Duplicate
#7085

[2020-12-14 14:51] lucacasonato commented on #8751
cc @nayeemrmn

[2020-12-14 15:28] nayeemrmn commented on #8751
@darklight9811 Can you confirm the value of `parse(savePath).dir` as well? If that's as expected please make the reproduction smaller.

[2020-12-14 16:08] Seally commented on #8751
Cannot reproduce either on Windows 10.

Is this run in Comodo sandbox or something? I get the sense that you have a external program that somehow redirects file write locations and Comodo sandbox is my first hit on Google search for `VTRoot`.

[2020-12-14 16:41] tbsvttr commented on #2401
`deno bundle --unstable --watch ./src/app.ts ./build/app.bundle.ts` works for me with deno 1.6.0.

[2020-12-14 16:50] darklight9811 commented on #8751
@nayeemrmn Confirmed that is as expected.

[code]

Tested the following code in many different directories.

@Seally no, just normal windows

@ebebbington just noticed that using `deno upgrade --version 1.0.0` doesn't change anything. Also:
![image](https://user-images.githubusercontent.com/20667774/102108477-bfe8c000-3e11-11eb-8a8a-411775b6189e.png)

[2020-12-14 17:02] caspervonb commented on #5741
Unable to reproduce (zsh v5.3), botched shell/completion setup perhaps?

[2020-12-14 17:11] Seally commented on #8751
@darklight9811 I still think you have a software that somehow sandboxes Deno, or the terminal it runs in, since I can't fathom why else a file-write operation would redirect to `VTRoot`, which doesn't even exist under normal Windows, so it's highly unlikely there's any code in Deno that would reference it.

The path it actually saves to is a mirror of the intended path

`C:\VTRoot\HarddiskVolume4\

[2020-12-14 17:34] ebebbington commented on #5945
Can reproduce the issue windows for me - arrow keys arent being logged

[2020-12-14 17:41] darklight9811 commented on #8751
@Seally thank you thank you thank you, I can't thank you enough for that help. It was that. The strange thing that this doesn't happen to Node or PHP.

[2020-12-14 17:41] #8751 closed

[2020-12-14 17:43] caspervonb commented on #3892
I don't think there is anything actionable here?

[2020-12-14 17:49] caspervonb commented on #5498
Time to make a call on this?

We can do this, but that means making ops for everything that's in the Windows Console API which is a whole lotta fork for little payoff and its just going to break once you try to use other vt escape sequences anyway.

There are ways to make old-school cmd.exe work with vt escape sequences however, and Windows 7 is EOL already so as I said in #6367 it's on the user t

[2020-12-14 17:54] bartlomieju commented on #3892
@caspervonb agreed, it's highly unlikely that we'll ever add `Deno.win32`. Respectfully closing.

[2020-12-14 17:54] #3892 closed

[2020-12-14 17:59] Seally commented on #8751
I suspect that Node and PHP, both having been around for much longer, may have already been added to whatever exceptions list the software used, but Deno wasn't recognized and so got sent to the untrusted bin.

In any case, congrats on the getting the problem solved. And now we're all a little wiser. 😄

[2020-12-14 18:26] neroux commented on #5498
Windows 8.1 isn't however.

The problem is not "pretty output" though, output is gibberish right now as it contains control characters. The example provided here show how illegible the whole thing is.

[2020-12-14 19:18] hermesespinola commented on #7393
Hi @solson I'd like to give this a try 😄  I'll work on this this week

[2020-12-14 21:14] cesarbiods opened #8767 "More tiers for github sponsors?"
I know it's technically not related to the repo here but I requested this in the past and received no response. I love the work you guys are doing and would like to support you financially in your endeavors but I (and I'm sure others as well) would like to see more tier options in github sponsors, specifically an amount lower than $10. Regardless, keep up the good work 🙂.

[2020-12-14 21:15] #8767 closed

[2020-12-14 21:16] fzs111 commented on #5498
@caspervonb And, this isn't just about pretty output (that one could turn
off withou consequences with a simple `NO_COLOR=1` env variable -- though
it disables colors in all other console applications too), but *all* escape
sequences, including e.g. cursor control, without which many interactive
and some non-interactive CLI apps **break**.

[2020-12-14 21:21] fzs111 commented on #5498
@caspervonb And, this isn't just about pretty output (that one could turn
off withou consequences with a simple `NO_COLOR=1` env variable -- though
it disables colors in all other console applications too), but *all* escape
sequences, including e.g. cursor control, without which many interactive
and some non-interactive CLI apps **break**.

[2020-12-14 22:35] kitsonk opened #8769 "Uncaught dynamic import promise error should log the stack..."
We should log the stack trace in uncaught promise errors.  Currently we get something like:

[code]

When if the error is caught on the rejected promise and the stack logged manually, you get something like:

[code]

[2020-12-14 22:44] nayeemrmn commented on #8769
Is there a reproduction that doesn't use dynamic imports?

[2020-12-14 23:13] #8748 closed

[2020-12-14 23:17] kitsonk commented on #8769
Hmmmm...

[code]

[code]

So only loader/core promises?  @bartlomieju any ideas?

[2020-12-14 23:23] bartlomieju commented on #8769
Now that I'm thinking about it, it might be that only dynamic imports are missing stack traces: https://github.com/denoland/deno/issues/3813 and https://github.com/denoland/deno/issues/2887 but I'm pretty sure this was fixed at some point and tests were added 🤔

It looks like this errors is thrown from `module_resolve_callback` in `core/bindings.rs`, need to investigate more.

[2020-12-14 23:24] nayeemrmn commented on #8769
I'm actually not able to reproduce this. I'm seeing on #8750's branch that V8 is not giving us any stack frames (the "giving" happens in the `prepareStackTrace()` callback) for loader errors, which makes sense. The stacks from regular thrown errors at the construction of the `Error`, and I assume the `TypeError` for these errors are constructed anonymously by V8. Also, isn't this issue only applic

[2020-12-14 23:50] kitsonk commented on #8769
#8750 fixes something that exposes an issue with `core/bindings.rs` it would seem...

When I did the following on #8750's branch I got the stack frame:

[code]

Where `b.js` is something like:

[code]

Which feels like the prepare stack trace is not occurring when there are type errors thrown from outside before the runtime realises the promise is not caught.

[2020-12-15 00:11] kitsonk commented on #8684
`Deno.transpileOnly()` is slightly different than `Deno.compile()` in that it uses a different emitter.  We will reconcile it one way when we replace `Deno.compile()` and `Deno.transpileOnly()` with `Deno.emit()` (#4752), but as stated above, because the first module isn't considered a "module" by the TypeScript emitter (what `Deno.compile()` uses) it does not emit anything and technically the cod

[2020-12-15 00:11] #8684 closed

[2020-12-15 00:32] bartlomieju commented on #8769
I wonder if explicitly accessing `stack` in `module_resolve_callback` would help with the issue, something along the lines:
[code]

[2020-12-15 00:54] MarkTiedemann commented on #8419
@mvolkmann Hmm, the server doesn't crash on my machine running Deno `1.6.0` on Windows. With the following minimal example, I can properly catch the `ConnectionAborted` errors - as expected.

[code]

What happens if you `deno run --allow-net` the code above, `open localhost:3000`, wait 1 second, then close the browser tab? On my machine, I get two `ConnectionAborted` errors -  one when `ws.send` f

[2020-12-15 01:22] MariusVatasoiu opened #8770 "[bundle] Bundled code doesn't work as expected"
Code bundled with `deno bundle` works different than `deno run`.

Steps to reproduce it:

This code works:
[code]

But this code doesn't:
[code]

[code]

### Expected result:

`resize` function should return an Uint8Arrray for the resized image and than should be written on the disk.

### Actual result:

[code]

### Deno version: 1.6.1

I used this [image](https://ibb.co/SyvJTrQ) but should work w

[2020-12-15 02:28] kitsonk commented on #8770
When you say "doesn't work" what happens?

What version of Deno?

[2020-12-15 03:23] andykais opened #8772 "Programmatically exiting deno does not kill child processes running"
I have discovered that calling `Deno.exit()` will stop the deno process, but will not stop any subprocesses running inside it. This is different than the behavior when ctrl-c'ing a program.

small repro:
[code]

output from the program:
[code]

vs when I cancel early with ctrl+c, the subprocess also receives a stop signal:
[code]
Is this expected behavior?

[2020-12-15 08:50] ShaneLikesTS commented on #4701
Please add this back, it is short and helpful

[2020-12-15 09:16] MariusVatasoiu commented on #8770
@kitsonk I updated the issue with the error and Deno version.

[2020-12-15 09:19] Nexxkinn commented on #8770
Might be caused by deno messing up code execution order.

In my current version ( 1.6.0 ). This line of code in my repo:
[code]

will be bundled like this

[code]

causing an error like this:
[code]

My solution would be to not using module bundling until deno fixed this in future versions.

[2020-12-15 10:28] Dygear commented on #2295
Now that we have [Experimental support for Mac Arm64](https://deno.land/posts/v1.6#experimental-support-for-mac-arm64) and [arm64 on linux works fairly well](https://github.com/denoland/deno/issues/1846#issuecomment-725165778). The last thing is arm32 within the triple target for me. The only reason I actually want this is because of the Raspberry Pi Zero (WH) that still has the older 32bit core.

[2020-12-15 10:38] chansdad opened #8774 "Deno Mongo - crashing when passing an id that does not exist in db"
I am using Mongo/Oak/Deno (MOD)  , and a simple rest api to find a document by id .

My controller code
[code]
Router is
[code]
Note that when i pass in an id that exists in the collection , I get a successful response , but when I pass an id that does not exist in the collection , deno server crashes . Here is the stack trace . Behavior is same even for put as well

Appreciate if anyone can let m

[2020-12-15 10:43] kitsonk commented on #8774
This is an issue with the Mongo plugin you are using. You will need to open an issue there.

[2020-12-15 10:43] #8774 closed

[2020-12-15 10:44] caspervonb opened #8775 "Normalize color palette across subcommands and tools"
Each subcommand has their own palette to varying degrees, doc and repl for example do not agree on how to syntax highlight and it would be better if they were consistent.

[2020-12-15 11:16] spl237 commented on #2295
Nothing to do with me, I'm afraid - our 32-bit builds are a third-party project called Raspbian, and we don't make them ourselves. See https://www.raspbian.org for details - asking a question on the forums there is probably a good start.

[2020-12-15 11:55] mvolkmann commented on #8419
I get a BrokenPipe error just like with my code. I'm running in macOS 10.15.7 (Catalina) with Deno 1.6.1.

[2020-12-15 14:03] Dygear commented on #2295
@spl237 Thanks for pointing me in the correct direction!

[2020-12-15 15:30] nayeemrmn commented on #8769
Some notes.

- The relevant type error is actually this one: https://github.com/denoland/deno/blob/6356345365e766d984f591506fb475d7935685de/core/runtime.rs#L942
- Because it's constructed in Rust, it doesn't have any stack frames.
- The stack frame we see for static imports and previously saw for dynamic imports is not from any of our structured stack trace handling, it's appended as a string to t

[2020-12-15 15:34] bartlomieju commented on #8769
@nayeemrmn nice analysis!

I'm thinking about one more approach that might work and would be `deno_core` only: when initiating a new dynamic import we could construct `TryCatch` and throw an error there to get stack trace; storing the relevant frames alongside the promise that must be resolved/rejected for that dynamic import. It would required to restructure some code related to handling of dynam

[2020-12-15 15:59] hastri opened #8777 "Windows REPL: AltGr input no longer working"
Since Deno version 1.6 the REPL ignores characters that are typed with the AltGr key. Even when pasting text those characters are skipped. Since it is working when i use the bash of the Linux Subsystem I'm assuming it is a Windows problem.

[2020-12-15 16:19] DjDeveloperr opened #8778 "suggestion: add config flag to deno lint and deno fmt"
Hi!

I was reading through #dev-lint (Discord Channel) conversation. This is about adding config flag to `deno lint` and `deno fmt`.

Honestly having a config isn't bad, actually our deno project still depends on Node. Why? we're using eslint because deno lint cannot be configured the way we want. We have to use prettier because deno fmt cannot be configured and the default style is not what we wa

[2020-12-15 16:20] #8778 closed

[2020-12-15 17:35] TheAndroidGuy commented on #5690
AVG Antivirus detects the same.

[2020-12-15 17:35] TheAndroidGuy commented on #6739
AVG Antivirus detects the same.

[2020-12-15 18:56] resynth1943 opened #8780 "Curried function"
In F# (and this is one of my favourite features), `printf` is automatically curried, so you can do things like this (JS example):

[code]

This may not be feasible to implement; it would most likely require quite a lot of refactoring, and LSP / compiler support (which probably isn't happening).

Just an idea, though.

[2020-12-15 19:03] bartlomieju opened #8782 "Remove dependency on "warp" in "deno_runtime" crate"
In https://github.com/denoland/deno/pull/8781 it became apparent that `warp` crate is used only in `runtime/inspector.rs`.

Following TODO can be found in `runtime/inspector.rs`:
https://github.com/denoland/deno/blob/6356345365e766d984f591506fb475d7935685de/runtime/inspector.rs#L151-L154

Additionally it's becoming a bit challenging to keep `warp` and other crates that depend on `hyper` in sync to

[2020-12-15 19:20] lucacasonato commented on #8782
This is not trivial as hyper does not have a built in WS server. See https://github.com/seanmonstar/warp/blob/master/src/filters/ws.rs for inspiration.

[2020-12-15 19:27] #8780 closed

[2020-12-15 19:34] #8158 closed

[2020-12-15 19:42] humancalico commented on #5261
@bartlomieju It seems like this issue can be closed now

[2020-12-15 19:45] ry opened #8783 "FetchPermissions should support async lookup"
https://github.com/denoland/deno/blob/892d6cc99749247884fdbe2d89ca13def3af8bdb/op_crates/fetch/lib.rs#L64-L67

In order to do DNS resolution during the permission check.

Use async_trait https://docs.rs/async-trait/0.1.42/async_trait/

[2020-12-15 20:14] kitsonk commented on #5741
Closing issue until it can be reproduced.

[2020-12-15 20:14] #5741 closed

[2020-12-15 21:22] bnoordhuis commented on #8783
That leaves open a TOCTOU window where the address of the domain name to can change between the permissions check and creation of the connection, when it's looked up again.

I didn't think too deeply about it but `FetchPermissions::check_net_url()` should probably either:

1. do DNS resolution and return a list of addresses, or

2. create the connection and return it to the caller

In both cases i

[2020-12-15 23:25] FrageDev commented on #8770
I've got the same problem as Nexxkinn . I'm developing an API using oak with Deno by using Typescript.
My API is working without any error (as far as I know) when I start it with `deno run --allow-all app.ts`
When I use `deno compile app.ts` and I start the app.exe I've got :

`>app
error: TypeError: There is no middleware to process requests.
    at Application.listen (file://$deno$/bundle.js:106

[2020-12-15 23:28] kitsonk commented on #8770
cc/ @kdy1

[2020-12-15 23:30] kdy1 commented on #8770
@kitsonk  I'm now working to fix this issue. (Preserving order of statements within single module would be solution to this issue.)

[2020-12-15 23:37] kitsonk commented on #8770
No problem! 😁   Hopefully the exams went well!

[2020-12-15 23:49] MarkTiedemann commented on #8419
@mvolkmann I also get a `BrokenPipe` error on MacOS when closing a tab with an open websocket connection in Chrome. This does not crash the server, however.

I don't get an error on MacOS when using Firefox.

Which browser are you using?

[2020-12-16 02:00] magurotuna commented on #8772
That looks to be a bit related to #3603 in the sense that they both have something to do with cleaning up on `Deno.exit`.

`Deno.exit()` internally calls `std::process::exit` in Rust, but destructors that clean up child processes won't run unless we call `std::process::exit` at a proper place.

From doc(https://doc.rust-lang.org/std/process/fn.exit.html):

So ideally `std::process::exit` should be

[2020-12-16 03:31] mvolkmann commented on #8419
I am using Chrome. I’d be happy to ru any tests you’d like to help isolate the issue.

---
R. Mark Volkmann
Object Computing, Inc.

[2020-12-16 11:29] bartlomieju commented on #8782
Turns out warp is based on [`tokio-tungstenite`](https://docs.rs/tokio-tungstenite/0.12.0/tokio_tungstenite/), so we should use it to rewrite the WS server.

[2020-12-16 14:24] bartlomieju opened #8786 "CI should use latest stable version of Node"
Currently CI uses built-in version of Node, which might be out of date.

Therefore we should ensure that CI uses latest version of Node so that benchmarks are up to date.

[2020-12-16 14:26] bartlomieju opened #8787 "Add benchmark for "fetch" that downloads some big file"
Currently we benchmark `fetch` API only in a single scenario (proxy).

It'd be great if we benched some more real-life scenario like:
- download single big file (eg. 100Mb)
- download multiple smaller files (eg. 1Mb)

Benchmarks should use local test server for that purpose.

[2020-12-16 14:41] bartlomieju opened #8788 ""op_fetch_read" should use zero copy buffers"
Currently "op_fetch_read" uses JSON dispatch and performs unnecessary serialization. The op should be rewritten to use zero copy buffers instead.

https://github.com/denoland/deno/blob/9fe26f8ca189ac81d9c20c454b9dbfa5e1011c3f/op_crates/fetch/lib.rs#L188-L222

Ref https://github.com/denoland/deno/issues/8787

[2020-12-16 14:53] bartlomieju opened #8789 "Fix "deno bundle" tracking issue"
In `deno 1.5` we switched our bundler from TSC to SWC, which lead to quite a few problems, this issue is for tracking of them.

- #8828
- #8770
- #8746
- #8736
- #8734
- #8725
- #8722
- #8680
- #8679
- #8627
- #8626
- #8625
- #8620
- #8597
- #8545
- #8541
- #8478
- #8285
- #8224
- #8211

[2020-12-16 16:04] DennGuez commented on #7159
@jason-wihardja could you solve it? I have same problem, stucks there for more than 30 min :(

[code]

[2020-12-16 16:08] jason-wihardja commented on #7159
@DennGuez It was fixed on its own. I did nothing to solve it. I just left it for a few hours before trying again, and somehow it worked.

[2020-12-16 18:03] Soremwar commented on #8415
Tested on latest canary, both async and sync close work correctly.

If the timeout for async is increased and a package is received before close the test suite will finish the test and report the resource as still open, so everything is expected behavior regarding this.

[2020-12-16 18:06] Soremwar commented on #8335
I can still reproduce this in latest canary

[2020-12-16 18:12] Soremwar commented on #8272
This code now throws instead of hanging when trying to process the next request of the server, so there is still inconsistency between socket and basic server implementation.

[2020-12-16 18:45] Soremwar commented on #7457
Tried the original example with several delays under latest canary, WebSocket no longer hangs.

[2020-12-16 18:51] lucacasonato commented on #7457
Before closing, lets add a test to prevent regressions.

[2020-12-16 18:51] Soremwar commented on #7087
I can reproduce this in latest canary. Linux reports all the child processes as zombies

[2020-12-16 19:12] Soremwar commented on #6840
Minimal reproduction provided by caspervonb no longer hangs in latest canary, but the code that sparked the issue still hangs due to first stdout write not being resolved before the second takes place

[2020-12-16 19:21] Soremwar commented on #6290
Deno will now throw on attempt to send two packets at the same time

![image](https://user-images.githubusercontent.com/42647963/102395841-aaa69980-3fa9-11eb-9e0d-0b1376ef6bf6.png)

[2020-12-16 19:46] bartlomieju commented on #8782
Example WebSocket server using `tokio-tungstenite`: https://github.com/snapview/tokio-tungstenite/blob/master/examples/server.rs

[2020-12-16 20:05] shadowtime2000 commented on #3196
A couple months ago [Yargs](https://yargs.js.org) did add support for Deno. Looking through the code, it seems like they are taking a simpler approach where they have a `shims` folder with shims for platforms (Node, Deno, Browser), and in the main entry point for the core file they take the shims as a parameter. Then they have entry point files for every platform (Node, Deno, Browser) which inject

[2020-12-16 20:23] guybedford commented on #5987
@kitsonk in ncc, we detect and emit asset references when bundling, relocating exactly references like a `new URL('./x', import.meta.url)` and copying them into the output folder. This is a pattern I would like to see all JS build tools supporting in future and I think Deno bundle should as well. As such, perhaps that changes the arguments here somewhat?

[2020-12-16 20:27] Soremwar commented on #4568
Stll happening on latest canary

[2020-12-16 20:29] Soremwar commented on #3014
This is no longer reproducible on latest canary

[2020-12-16 22:41] lucacasonato opened #8795 "atob should throw DOMException"
`atob('foobar!!')` returns a `DOMException` in chrome, but it returns a `DataDecodeError` in Deno. This should be aligned to match Chrome behaviour.

[2020-12-16 23:15] shadowtime2000 commented on #3196
Looking through the [yargs](https://github.com/yargs/yargs) it seems they take a simpler approach without converters like Denoify. It seems like they are writing Typescript using the appropriate `tsconfig.json` options to use ES5 modules with extensions. They use TS to build the native browser ES version, Rollup to generate the CJS build from that, and for Deno they just have a `mod.ts` or somethi

[2020-12-16 23:22] bartlomieju commented on #8405
Notes from "std-wg" meeting `#2` on 16.12.2020

Meeting recording: https://www.youtube.com/watch?v=RimiwgQr4gI

# `archive` directory

_This module seems to be have quite APIs, probably need a ground up rework._

Establish APIs that will work with different compressions algorithms, should look
into golang APIs for this purpose.

- @bartlomieju Add zip
- @wperron: Add zlib - some compression stream

[2020-12-17 00:03] jsejcksn commented on #8405
It is async in order to allow for async transforms during stringification of column data. If it is decided that the transforms must be required to be synchronous, then there's nothing else to prohibit making it sync.

I'm not what this means exactly. Could whoever said it during the meeting clarify which exports they mean?

It is intentionally a separate module because it is browser-compatible and

[2020-12-17 00:25] lucacasonato commented on #8405
@jsejcksn You can watch the VOD at https://www.youtube.com/watch?v=RimiwgQr4gI. We meant the `ERR_*` constants.

[2020-12-17 00:43] jsejcksn commented on #8405
@lucacasonato Thanks—it's quite a long video. The beginning timestamp for `csv`: https://www.youtube.com/watch?v=RimiwgQr4gI&t=1h21m17s.

[2020-12-17 00:46] timreichen commented on #8405
putVarnum -> setNumber
putVarbig -> setBigint
varbig -> getBigint
varnum -> getNumber
varbigBytes -> bigintIntoBytes
varnumBytes -> numberIntoBytes

Aligning to BigInt methods of DataView, probably should be an uppercase "I" in "int":
`putVarbig` -> `setBigInt`
`varbig` -> `getBigInt`
And maybe the renaming of these functions should use "to" instead of "into", like in `atob` or `btoa`?
`varbigByte

[2020-12-17 00:52] timreichen commented on #8405
because
of timezones

Slight correction: PR covers timeoffset `Z` symbols, which poses problems for testing due to timezones. Parsing and formatting is already implemented and working.

[2020-12-17 02:21] Soremwar commented on #8788
@bartlomieju Dibs on this

[2020-12-17 02:34] kitsonk commented on #5987
I still don't know... I almost don't like anything that isn't importable, and I personally would rather build on import assertions, and address bundling (as well as potentially dealing with registrations of loaders for assertions as well), as the way of bringing in assets.

We already have challenges with dynamic `import()` as well (as well as workers), where we need to resolve and enhance those f

[2020-12-17 04:30] guybedford commented on #5987
The goal of ncc, like Deno bundle is to enable single file builds of many modules where most of the code is third party code. Local file imports are a fact of life for real world libraries. Protobufs, Wasm files, native modules (Node.js only, not necessarily a Deno concern yet), etc. Webpack let us import everything and that lets us use the resolver so that's sort of the pattern, but Node.js impor

[2020-12-17 06:03] KSXGitHub commented on #5987
@kitsonk Loaders don't work in the browser. As for import assertion, it seems cool, does it allow defining arbitrary mime types or simply throw an error when assertion and actual content type does not match?

@guybedford This approach seems error-prone. While it should work in most cases, there are few cases where it causes subtle difference in behavior between unbundled and bundled files.

[2020-12-17 06:20] #8405 closed

[2020-12-17 06:33] elgs opened #8801 "brew install deno failed"
[code]

[2020-12-17 09:00] soootaleb commented on #8735
@bartlomieju Hey !

My earlier, deno `1.4.0`, working version, used `std@0.65.0`, so I just verified the problem didn't come from the http module (`serve` function) latest `0.80.0` version.

**I can confirm it doesn't come from the http module since Deno `1.6.0` with `std@0.65.0` doesn't work either **.

I hope you find some time to check that, It's a huge blocker for me and I think an awful bug f

[2020-12-17 09:16] proflylab commented on #8801
me too

[2020-12-17 09:20] caspervonb commented on #6840
Hm, the longer original test case also works fine now.

[2020-12-17 09:26] guybedford commented on #5987
Can you give an example of cases which break down here?

On Wed, Dec 16, 2020 at 22:03 Khải <notifications@github.com> wrote:

[2020-12-17 09:46] caspervonb commented on #7400
New resource table landed, so I'll get this done today.

[2020-12-17 10:19] caspervonb commented on #8801
Everything seems to be in order, no broken links from our side as far as I can tell (https://github.com/Homebrew/homebrew-core/blob/4bb1f725f4e9cd7ef54ba2615f31f7d5ff7082b1/Formula/deno.rb).

[2020-12-17 10:52] KSXGitHub commented on #5987
@guybedford

 Can ncc or any bundler handle this?

[code]

[2020-12-17 11:22] caspervonb commented on #8335
So this one isn't directly related to the resource table, I wouldn't expect any changes here from that.

Dug into it a bit, and this consistently hangs on epoll_wait.

[2020-12-17 12:21] ebebbington opened #8803 "Deno.bundle fails when the files don't export anything"
**Reproduction**

[code]
[code]

Output:

[code]

Add `export ` before the function declaration in `my_ts.ts`, run again, and it works

[2020-12-17 12:49] Paosder commented on #3508
Any updates? I'm really looking forward to it.

[2020-12-17 13:25] bartlomieju commented on #8735
@soootaleb I will look into this issue, but can't say when. I'll get back to you when I do.

[2020-12-17 13:39] bartlomieju commented on #7953
Fixed in #8759

[2020-12-17 13:39] #7953 closed

[2020-12-17 14:01] #6840 closed

[2020-12-17 14:12] alexdohmen commented on #8801
@caspervonb after brew fails downloading binaries it tries to build deno from sources. This also fails.

curl: (22) The requested URL returned error: 404 Not Found
Error: Failed to download resource "deno"
Download failed: https://homebrew.bintray.com/bottles/deno-1.6.0_1.big_sur.bottle.tar.gz
Warning: Bottle installation failed: building from source.
==> Downloading https://github.com/denoland/de

[2020-12-17 14:28] caspervonb commented on #8775
Somewhat related https://github.com/denoland/deno_doc/pull/38, in that it would make it simpler to consolidate colors but isn't that big of a deal.

[2020-12-17 14:28] lucacasonato commented on #3508
You can already do this with `Deno.seek`

[2020-12-17 14:31] ry opened #8804 "Add JS Doc for addEventListener"
Ideally with example code. This is the first method to show up on the docs. It would be great if it looked more fleshed out.

<img width="1440" alt="Screen Shot 2020-12-17 at 9 30 57 AM" src="https://user-images.githubusercontent.com/80/102500684-936bb880-404a-11eb-8f2d-a5949a212430.png">

[2020-12-17 14:34] caspervonb commented on #3508
It's a worth-while optimisation but I won't be getting around to it for a while.
In the meantime you can fake it with seek.

WASI does that and the performance hit is not that terrible.
https://deno.land/std@0.81.0/wasi/snapshot_preview1.ts#L795

[2020-12-17 14:51] caspervonb commented on #6719
Don't see anything actionable here and think this was mislabeled as a bug when it's not really.
This is just operating system limits and the proper errno bubbles up just fine.

[2020-12-17 15:22] elgs commented on #8801
@caspervonb who usually is the maintainer of the homebrew rb file?

[2020-12-17 15:25] caspervonb commented on #8801
Am not sure, git blame is usually a good way to tell tho https://github.com/Homebrew/homebrew-core/commits/master/Formula/deno.rb

[2020-12-17 16:18] bartlomieju commented on #8788
@Soremwar do you mean you're working on this?

[2020-12-17 16:19] Soremwar commented on #8788
Yeah, had some trouble with cargo build but PR should come this afternoon

[2020-12-17 16:26] nayeemrmn commented on #8594
https://github.com/denoland/deno/pull/8596#issuecomment-747546556

[2020-12-17 16:27] #8594 closed

[2020-12-17 18:50] guybedford commented on #5987
@KSXGitHub firstly note that ncc doesn't support `new URL('./x', import.meta.url)` currently at all because this pattern isn't in wide enough use for that work to have been necessary yet, but we support all the analogs in CommonJS of this pattern.

So in ncc, the equivalent of an expression like `new URL('../assets/' + name, import.meta.url)` is probably `path.resolve(__filename, '../assets/' + na

[2020-12-17 19:54] lperlaki commented on #8782
Hey, if it is ok I would like to implement this.

[2020-12-17 19:57] bartlomieju commented on #8782
@lperlaki sure, much appreciated!

[2020-12-17 20:42] bartlomieju commented on #8735
@soootaleb thanks for repro repo, I've created a test cased based on it in #8809 and confirmed there is an actual bug. It might take some time to fix it though as it requires to alter significant parts of `WebWorker` implementation.

Aside from that, your reproduction has a few quirks that prohibit it to work as expected:
- https://github.com/soootaleb/abcd/blob/0a3b982cea0d636753219b474a0694156dc

[2020-12-17 20:47] bartlomieju commented on #7457
@Soremwar thanks for checking, can you add some small test case?

[2020-12-17 22:37] lucacasonato commented on #8804
There is actually JS doc for this, deno doc just doesnt pick it up. See https://github.com/denoland/deno_doc/issues/31.

[2020-12-17 22:53] championshuttler commented on #8804
@lucacasonato should I close the PR then?

[2020-12-17 23:04] fr33roam3r opened #8812 "NPM Package Converter"
I have been reading up on the possibility of someone installing Deno to be used alongside NPM modules; but since that goes against what Deno is trying to stand for, I came up with the idea that there could be a converter using NPM's `package-lock.json` file (since it contains links for each dependency and is formatted conveniently in JSON). This is the basic function of how it would work, appendin

[2020-12-18 00:32] lucacasonato opened #8814 "Hanging promise in TransformStream impl"
Reproduction:

[code]

The isolate crashes with `error: Module evaluation is still pending but there are no pending ops or dynamic imports. This situation is often caused by unresolved promise.` at `o.pipeTo` call. Looking at the runtime implementation, a deferred promise is created (and returned), that is not resolved (line 1881 in `op_crates/fetch/11_stream.js`). This results in a hanging promis

[2020-12-18 00:52] hayd commented on #8801
Will be closed by https://github.com/Homebrew/homebrew-core/pull/66920

[2020-12-18 01:06] lp opened #8815 "Promise as Callbacks using dangerous pattern"
While working on some node/fs feature it was noticed that many of the compatibility modules used Promise based Deno builtins inside Callback based implementations, in a dangerous way.

"if callback throws you reach the catch and the callback is called again with an error"

The problem was reported in my module by @benjamingr but it spans to many of them.

- _fs_appendFile
- _fs_chmod
- _fs_chown
-

[2020-12-18 01:24] carlocab commented on #8801
Homebrew formulae don't have specific maintainers. However, I will admit that the `deno` bottle went missing after my PR here: https://github.com/Homebrew/homebrew-core/pull/66285

Apologies; Rust takes nearly two full days to complete a Homebrew CI run. So we made the decision to just merge it and fix anything that breaks after, or else the Rust PR would've never gotten merged.

[2020-12-18 01:33] bartlomieju commented on #8777
Possibly related to https://github.com/kkawakam/rustyline/pull/476, need to upgrade `rustyline` to `7.1.0`

[2020-12-18 01:41] carlocab commented on #8801
Here is a potential workaround for the current homebrew formula:
[code]
This should pick up old `deno` bottles from bintray. You can do `brew unpin deno` when this is fixed.

[2020-12-18 02:28] KSXGitHub commented on #5987
@guybedford One of the reason for this issue was the inconsistency between loading assets in a local module and loading assets in a remote module (local module has to read from filesystem while remote module must use `fetch()`). Your proposal would only solve this problem for bundled code.

[2020-12-18 02:40] guybedford commented on #5987
Many Deno users including myself hook fetch to support file URLs, and yes
thats how i found this issue. I just pointed out these arguments as the
validity of these patterns seemed like a hesitation here when in fact I
think they are very important ESM patterns.

On Thu, Dec 17, 2020 at 18:28 Khải <notifications@github.com> wrote:

[2020-12-18 03:44] carlocab commented on #8801
This should be fixed now. https://github.com/Homebrew/homebrew-core/pull/67043

[2020-12-18 04:09] #8801 closed

[2020-12-18 04:10] #8812 closed

[2020-12-18 04:32] kitsonk commented on #8803
It isn't the lack of exports... if you actually invoked the function `greet()` somewhere it would bundle fine.

We could react better, the the proper emit of this bundle, with dead-code elimination/tree branching is an empty string.  We double check for undefined or null, instead of falsey values.

I don't think it is an issue with #8799 but will ensure I double check that.

[2020-12-18 09:05] soootaleb commented on #8735
Hi @bartlomieju thanks a lot for your insights

- I've removed the async syntax from my worker
- I didn't mean sending JS object for methods, I just wanted to avoid the call of JSON methods

I can't wait to see the result, hope you'll notify me when progress is made. Until then, let me know if I can be of any help.

Regards

[2020-12-18 13:39] caspervonb commented on #8634
For reference https://github.com/denoland/deno/issues/7301

[2020-12-18 13:44] liesauer opened #8820 "can deno compile into bytecode?"
i just found that `deno compile` just embeds all the source codes at the end of the executable, and it is very easy to extract them. so, can deno compile the source codes into bytecodes(or any future plans) so it can protect the code.

[2020-12-18 14:01] n9 opened #8821 "Using fetch for unix socket"
Is it possible to use `fetch` for unix socket (e.g. to call [docker API](https://docs.docker.com/engine/api/))? If not, what is the best way to communicate via HTTP through unix socket?

[2020-12-18 15:17] bartlomieju opened #8823 "Remove dependency on "warp" in "test_util" crate"
Follow up to #8782

In `test_util` crate `warp` is used as to crate an HTTP and WS server that is used by many unit and integration tests.

We should rewrite the server to use `hyper` instead of `warp` in an effort to reduce number of dependencies.

[2020-12-18 15:22] bartlomieju opened #8824 "Q1 2021 roadmap"
Roadmap Q1 2021

Scheduled releases:
- 1.7.0 - January, 19th
- 1.8.0 - March, 2nd

_planned features and refactors_:

- [ ] consuming external source maps (#4499, #8054) _this is partially done, by consuming inlined source maps_
- [ ] support for React 17 jsx (`swc`) (#8440)
- [x] structured clone API for workers (#3557) _in `deno.core` (#9458) but needs to be integrated into workers_
- [ ] Import

[2020-12-18 16:36] chenguzhen87 commented on #8820
I'm curious. How do you know all the source codes at the end of the executable

[2020-12-18 16:43] chenguzhen87 opened #8825 "There seems to be a problem in windows 10. I click the executable file deno- compile.exe , there is no pop-up layer?"

[2020-12-18 16:50] caspervonb commented on #8820
Can be seen in any hex editor or even objdump.

[2020-12-18 16:53] Soremwar commented on #8825
@chenguzhen87 Can you provide more information about this? What are you executing, a file compiled with Deno?

[2020-12-18 16:53] liesauer commented on #8820
u are right

[2020-12-18 18:25] ry commented on #8804
-> denoland/deno_doc#31

[2020-12-18 18:25] #8804 closed

[2020-12-18 19:59] Soremwar commented on #8107
I tested this with 1.6.0, server kept crashing after 9/10 hours. Tried it in latest canary on a 24/7 server and it's been almost 48 hours with no crashes whatsover.

[2020-12-18 20:05] kitsonk commented on #8820
It is a complicated process, as we would have to generate a custom snapshot, which is also architecture specific. It is being considered, but I wouldn't expect it any time soon.

[2020-12-18 20:11] timonson commented on #8107
In my case, 18 days ago, it took 4 days @Soremwar . So please wait another couple of days. I started a new server 2 days ago, too. Still running.

[2020-12-18 20:19] Soremwar commented on #8107
@timonson Will keep you informed then. This is such a tedious bug to test :roll_eyes:

[2020-12-19 03:08] mehediasif opened #8827 "deno uuidv4 is not working"
When I am trying to add the third party library UUID it's not getting generated.

[2020-12-19 04:16] chenguzhen87 commented on #8825
I wrote a dead loop. It's OK. It may have nothing to do with Deno. It's the CMD mechanism

[2020-12-19 04:16] #8825 closed

[2020-12-19 04:17] chenguzhen87 commented on #8825
it's ok

[2020-12-19 04:22] yos1p commented on #8823
I'd like to try to work on this.

[2020-12-19 06:41] chenguzhen87 commented on #8820
I was doing a comparison between Deno compile and go build products, and found that the .exe file generated by Deno is 31.4mb, and go is 2.02mb, [tests article](https://juejin.cn/post/6907850138983596046/).
Can Deno be less

[2020-12-19 06:51] yos1p commented on #8824
+1 on HTTP2 support

[2020-12-19 06:52] RDambrosio016 commented on #8820
That is an unfair comparison because go compiles to machine code plus some runtime and gc stuff, javascript cannot be compiled to machine code, therefore deno has to ship v8 and its runtime in each executable.

[2020-12-19 09:12] SebFox2011 commented on #2295
Hello tryed to install on rasp WO with exec format error

pi@raspberrypiW0:~ $ curl -fsSL https://deno.land/x/install/install.sh | sh
######################################################################## 100.0%#                                                                                                                                                             #############################

[2020-12-19 09:29] michailVestnik opened #8828 "Bundle error appeared in the deno 1.6.1"
I test 1.5.4 version and 1.6.1 and I noticed the bundler error.

1. Bundle a framework ABC -  https://deno.land/x/abc@v1.2.4/mod.ts
In deno 1.5.4 https://user-images.githubusercontent.com/75129392/102685915-47299f80-4227-11eb-81ee-dc722fbb51e5.jpg
In deno 1.6.1 https://user-images.githubusercontent.com/75129392/102685922-5a3c6f80-4227-11eb-87e1-30c792a49e23.jpg
Bundle that is made by version 1.6.1

[2020-12-19 09:50] lucacasonato commented on #8827
You can generate UUIDs with the `std/uuid` module:
[code]

[2020-12-19 09:50] #8827 closed

[2020-12-19 09:53] lucacasonato commented on #8820
Deno compiled executables will get smaller in the future though. We estimate 15-20 MB for a hello world.

[2020-12-19 10:17] liesauer commented on #8820
supporting both framework(or runtime)-dependent deployment mode and standalone deployment mode would be nice,  just like `.NET Core` does.

[2020-12-19 13:12] bartlomieju commented on #8823
@yos1p great! Looking forward to a PR

[2020-12-19 14:26] bartlomieju commented on #7407
Discussed yesterday with @ry and @bnoordhuis. This is something we want to do for `deno_core` and runtime code.

[2020-12-19 14:38] BayoKwendo opened #8830 "Broken pipe with deno."
Any hope??? after keen monitoring it crushes   . 12 - 24 hrs

BrokenPipe: Broken pipe (os error 32)
    at unwrapResponse (deno:cli/rt/10_dispatch_minimal.js:59:13)
    at sendAsync (deno:cli/rt/10_dispatch_minimal.js:98:12)
     at async write (deno:cli/rt/12_io.js:117:20)
    at async Object.writeAll (deno:cli/rt/13_buffer.js:223:19)
    at async BufWriter.flush (bufio.ts:468:7)
    at async wri

[2020-12-19 14:42] newtack commented on #8824
Ensuring deno lsp and VSCode work seamlessly?

[2020-12-19 14:48] crowlKats opened #8831 "WebSocketStream API"
The WebSocketStream API is an API for usage of websockets using streams.
There is no formal spec for it yet.
https://web.dev/websocketstream/
https://docs.google.com/document/d/1XuxEshh5VYBYm1qRVKordTamCOsR-uGQBCYFcHXP4L0/edit#
https://docs.google.com/document/d/1La1ehXw76HP6n1uUeks-WJGFgAnpX2tCjKts7QFJ57Y/edit
https://github.com/ricea/websocketstream-explainer/
https://chromestatus.com/feature/51

[2020-12-19 14:59] ry opened #8832 "Do not require specifying "void" and "Promise<void>" return values"
We should strive for concise code. "void" and "Promoise<void>" return types are unnecessary boilerplate.

Example:
[code]

[2020-12-19 15:20] #8777 closed

[2020-12-19 15:45] mko-io commented on #8831
Thanks for bringing it up. And WebSocketStream will be enabled by default on Chrome 89. [source](https://bugs.chromium.org/p/chromium/issues/detail?id=983030#c22)

[2020-12-19 15:49] crowlKats commented on #8831
I have a mostly-done implementation for it on a branch, but i am not sure if it is quite correct as there is no proper spec

[2020-12-19 15:57] mko-io commented on #8831
One question: Does the WHTWHG Stream implementation in Deno comes from chromium Stream implementation? There's [new ByteStream feature](https://chromestatus.com/feature/4535319661641728) in Chrome Stream

[2020-12-19 16:35] hviana opened #8833 "Server aplication stops responding"
I'm using Deno 1.6.0 witk oak@6.4.0 and mongo@v0.13.0 in my project:
The server sometimes gives the following error:
TypeError: Invalid URL.
at new URL (deno:op_crates/web/11_url.js:722:15)
at Request.get url (request.ts:95:19)
at dispatch (router.ts:841:45)
at dispatch (middleware.ts:41:13)
at server.ts:187:11
at dispatch (middleware.ts:41:13)
at composedMiddleware (middleware.ts:44:12)
at Applic

[2020-12-19 17:38] bartlomieju commented on #8804
This issue is fixed by https://github.com/denoland/deno/pull/8836

![Screenshot 2020-12-19 at 18 37 03](https://user-images.githubusercontent.com/13602871/102695724-6cb7a880-4229-11eb-9990-2db0f5e67fc2.png)

[2020-12-19 17:54] bartlomieju commented on #8556
Might be resolved by #8809

[2020-12-19 21:13] yw662 commented on #3827
I just want it single quoted and non-semicolon. Should it be that hard ?

[2020-12-19 21:29] timonson commented on #8833
Do you use http or https?

[2020-12-19 22:15] lucacasonato opened #8837 "Remove caFile from Deno.createHttpClient options"
`Deno.createHttpClient` now can be configured to use a CA using the `caData` field. They `caFile` field is this not needed anymore.

[2020-12-19 23:20] kitsonk commented on #8831
The stream implementation in Deno is built in JavaScript and is part of the op_web crate.

I'm not sure we would want to include something that is not part of the living standard until it is part of the living standard. Chromium has jumped the gun a number of times and it only ends in sadness.

[2020-12-19 23:27] kitsonk commented on #8832
I believe we dropped the linting rule requiring explicit return type annotations. I will check later but I believe this compiles and passes linting:

[code]

[2020-12-19 23:30] #8719 closed

[2020-12-19 23:33] kitsonk commented on #2295
There is a reason the issue is open, because there isn't support yet.

[2020-12-19 23:53] danopia commented on #8190
Looks like this is merged and will be in the next Deno release; I'll close now in anticipation of it shipping. Thanks!!

[2020-12-19 23:53] #8190 closed

[2020-12-20 00:08] bartlomieju commented on #8735
Not yet fixed: https://github.com/denoland/deno/pull/8839

[2020-12-20 02:00] hviana commented on #8833
Http, but i have a aplication load balancer in amazon that converts https->http. O change the oak server for my middleware server implementation now. If problem stops, i notify here.

[2020-12-20 04:46] mko-io commented on #8831
@kitsonk Thanks for the information, I've also noticed WebKit's implementation also written is JS, I think it because of the stability result same as Deno. But I've noticed many new interesting features are going to be based on WHTWHG's Stream, besides WebSocketStream, there's also [QUICTransport](https://bugs.chromium.org/p/chromium/issues/detail?id=1011392) and [RTCQuicTransport](https://www.chr

[2020-12-20 07:16] mrmodise commented on #8837
@lucacasonato I will take this. Thanks

[2020-12-20 08:49] Liamolucko commented on #3867
I'll try to fix this.

[2020-12-20 13:40] brillout commented on #3196
Has anyone tried to do this with [WASI](https://hacks.mozilla.org/2019/03/standardizing-wasi-a-webassembly-system-interface/)?

[2020-12-20 14:01] caspervonb commented on #3196
Initialization code to initialize the WASI context is slightly different between Node and Deno, otherwise should be fine.

[2020-12-20 14:46] aral commented on #1891
Please consider including the Curve25519 algorithms in the implementation.

https://www.chromestatus.com/feature/4913922408710144

[2020-12-20 17:39] rkawajan commented on #8824
+1 on HTTP2 support

[2020-12-20 19:55] kitsonk commented on #8824
There will be continued work on the lsp, we just didn't know exactly what features.

[2020-12-20 20:41] rivy commented on #8682
@caspervonb @bartlomieju , what's the replacement for this functionality?

[2020-12-20 22:20] bricecarpentier commented on #3827
Just wanted to find a way to configure the formatting a little bit... well I guess I won't be using `deno fmt` anymore. It **is** true that "The requests to stay simple are often silent"... that doesn't mean this is a good thing. It just means people will go for another tool.

[2020-12-20 22:33] kitsonk commented on #8831
What is incorrect or non-performant with the Deno Stream implementation?

[2020-12-20 22:41] waldyrious commented on #1583
Update on Linuxbrew: in https://github.com/Homebrew/linuxbrew-core/pull/21209 there was an attempt to get the Homebrew formula to work on Linuxbrew as well, but it was put on hold pending some changes to be merged on Deno's side; I believe those changes are now in place, as described in the discussion thread there, but I don't think anyone has retried the formula adaptation again since then.

[2020-12-20 23:11] lucacasonato commented on #3827
That is fine - `deno fmt` is not meant to be everyone's favorite formatting style, but it is a single standard style for everyone. If you really want custom configuration, you can use other fast rust based formatting tools like https://dprint.dev/.

[2020-12-21 01:12] mko-io commented on #8831
I haven't done any benchmark, but I think this level code should be done in c++/rust level

[2020-12-21 01:15] lucacasonato commented on #8831
Well please do benchmarks before making claims regarding performance :-). I would not be surprised at all if a pure JS implementation of WHATWG streams is faster and has higher throughput (and especially has better tail latencies) than a comparable C++/Rust implementation due to the lower context switch overhead.

[2020-12-21 03:49] ChayimFriedman2 commented on #8490
I think that the plugin interface is not good, but the idea of plugins should exist. The lack of docs helps that.

We should think about a model that integrates better with Deno interface, especially around security. I don't have a concrete API in my head, but I imagine two things can be added to improve security with plugins:
 1. Allowing to load only specific plugins, by filename and maybe even

[2020-12-21 05:14] kitsonk commented on #8831
I agree with @lucacasonato that for streams and what they do, we are likely to have a higher performance in JavaScript.  It really is a stated layer on top of isolate constructs anyways.  Doing it in Rust (in the Deno CLI there is 0 C++, and the least amount of C++ when can get away with in rusty_v8) would be painful and likely end up in a less performant solution.

Additional streams being implem

[2020-12-21 05:25] kitsonk commented on #8832
@ry I checked, the following passes type checking and `deno lint` fine:

[code]

Any concerns with that?

[2020-12-21 07:52] jveres commented on #8824
Suggestion: add real world example testing.
I know deno is not yet mature but having those numerous swc issues in each new release makes no confidence in using it in prod.

[2020-12-21 12:23] bartlomieju commented on #8823
@yos1p you can use https://github.com/denoland/deno/pull/8813 as a reference for this issue

[2020-12-21 15:29] #8782 closed

[2020-12-21 15:32] bartlomieju commented on #8254
Fixed in #8291, #8841 and #8843!

[2020-12-21 15:32] #8254 closed

[2020-12-21 17:32] waldyrious commented on #8254
@bartlomieju would it be adequate to change the lines below as well?

https://github.com/denoland/deno/blob/4033b390367e025e73c851a6ce7021631b27e3c0/cli/dts/lib.deno.unstable.d.ts#L1043-L1047

I was thinking something like this to mimic the change in #8291 and #8843:

[code]

WDYT?

[2020-12-21 17:34] bartlomieju commented on #8254
@waldyrious that sounds good, PRs welcome :)

[2020-12-21 18:44] waldyrious commented on #8254
@bartlomieju I hope you don't mind — since it's a very small change, I embedded it in another PR I was preparing :) I've submitted the changes in #8848.

[2020-12-22 07:52] brillout commented on #3196
Neat. Although Node's WASI support is still behind an experimental flag so I guess we need a couple of months/years until we can reasonably ask library users to use a WASI supporting Node version.

[2020-12-22 08:13] caspervonb commented on #3196
It's not completely unreasonable to ask that today depending on what the library does, e.g is it impractical to do the same thing in JavaScript. WebAssembly is a lot simpler than dealing with whatever incarnation of NAPI we're at now.

[2020-12-22 09:36] septbr opened #8852 "The quotation in cmd of Deno.run"
---
[code]

[code]

[code]
---
[code]

[code]

[code]
---
[code]

[code]

[code]

**" in the result has been replaced by \\"**
**"" or \\"  in the result has been replaced by \\"\\"**

[2020-12-22 11:30] chenguzhen87 opened #8853 "Docs can be translate chinese?"
docs  can be translate chinese?

[2020-12-22 12:54] nayeemrmn commented on #7704
This issue seemed to have boiled down to:

Fixed in #8023.

[2020-12-22 13:29] nayeemrmn opened #8858 "REPL doesn't print unhandled promise rejections"
Likely a regression from upgrading to V8's REPL system. cc @caspervonb

Actual:
[code]
Expected:
[code]

[2020-12-22 13:30] nayeemrmn commented on #4879
Let's track that in #8858, since this was about `(in promise)` indicators for rejections.

[2020-12-22 13:37] nayeemrmn commented on #4207
Fixed with swc bundler.

[2020-12-22 13:46] caspervonb commented on #8858
So if my memory serves me right, our inspector server is incomplete here and we don't implement the notifications for we need for this.

The client side fix is fairly trivial, will open a separate issue for the InspectorServer issue as it affects all clients.

[2020-12-22 16:18] bartlomieju opened #8861 ""cargo publish" failed because of new files in git"
https://github.com/denoland/deno/runs/1595775796

[code]

These files should be excluded in `.gitignore` or removed after the test.

CC @caspervonb

[2020-12-22 18:16] bartlomieju commented on #8861
Fixed in #8862

[2020-12-22 18:16] #8861 closed

[2020-12-22 18:16] Soremwar opened #8864 "Language server crashes when using import.meta.url"
**Describe the bug**

The language server/extension crashes when using the import.meta.url variable.

**To Reproduce**

Just create any relative route with the URL api and see the magic happen.

**Video**
https://user-images.githubusercontent.com/42647963/102919956-ca313c80-4457-11eb-926d-0015827f386c.mp4

**Versions**

vscode: 1.52.0
deno: 1.6.2 (It can be reproduced on 1.6 and up)
extension: Can

[2020-12-22 18:49] regnaio commented on #1612
Why was the feat label replaced with cli and suggestion labels?

[2020-12-22 19:08] lucacasonato commented on #1612
Because we have not made a decision on if this will be implemented or not. `feat` label is only used for issues that we have decided should be implemented.

[2020-12-22 21:58] #8853 closed

[2020-12-22 22:05] #4207 closed

[2020-12-22 22:06] #4879 closed

[2020-12-23 06:47] Liamolucko commented on #8746
This should be fixed now thanks to swc-project/swc#1286.

[2020-12-23 09:16] yacinehmito commented on #3648
@MarkTiedemann By closing, did you mean that you will work on it or that it isn't worth working on it?
If neither, I think it is clearer to reopen it.

[2020-12-23 10:15] jveres commented on #8627
Fixed in `deno v1.6.2`.

[2020-12-23 10:15] #8627 closed

[2020-12-23 11:02] caspervonb opened #8869 "Inspector server does not implement runtime exception notifications"
We're actually missing most notifications in all the domains, but in the context of getting #8858 working we need to wire up `Runtime.exceptionThrown`.

[2020-12-23 11:08] bartlomieju commented on #8746
@jon49 are you experiencing the problem on 1.6.2?

[2020-12-23 14:51] frankhale commented on #1846
For those that may not know Deno builds easily on a Pi 4 without any modifications necessary. Takes about an hour on a non-overclocked Pi 4 with just a microSD card. Have fun!

[2020-12-23 16:59] David-Else commented on #7352
@bartlomieju I think you can remove the upstream label now?

[2020-12-23 18:35] jon49 commented on #8746
Looks like it didn't fix it :-(

![Source html code in browser](https://user-images.githubusercontent.com/3173098/103027209-a4b53900-4512-11eb-8061-62d02c75d220.PNG)

![What it looks like in the browser.](https://user-images.githubusercontent.com/3173098/103027322-df1ed600-4512-11eb-98be-d7bf76ed17f1.PNG)

[2020-12-23 21:32] drcallaway opened #8870 ""Promise was canceled" error when debugging in v1.6.2"
It looks like a debugger regression was introduced in v1.6.2. I can debug from VS Code fine with v1.6.1 and earlier using a configuration like this:
[code]
However, upgrading to v1.6.2 results in this error when trying to connect the debugger:
[code]
A temporary fix is to just roll back to the last working version:
[code]

[2020-12-23 21:35] lucacasonato commented on #8870
Possibly related to #8813?

cc @bartlomieju  @lperlaki

[2020-12-24 00:04] eloff opened #8871 "Stack frames report wrong promise index"
Check out https://github.com/denoland/deno/blob/master/core/error.rs#L295

That probably shouldn't be the property "columnNumber" for promise_index, which is used above, unsurprisingly, for columnNumber.

While I'm here, __callSiteEvals is a Deno thing? I didn't find a reference to it anywhere else online.

[2020-12-24 00:28] Liamolucko commented on #8746
Whoops, looks like I misunderstood the problem.

Looking at your code some more, though, it looks like the problem is that you're using `literals.raw` - that contains the value **without processing any escape sequences**. Doing this should fix it:
[code]

This could still be considered a problem, though - replacing newlines with escape sequences _does_ change the behaviour, even if only in a minor

[2020-12-24 03:48] nullobsi opened #8875 "TLS SSL Session Reuse Support"
I am trying to write an FTP client in Deno using the unstable `Deno.startTls` functions. However, some FTP servers require SSL session reuse. It would be nice if these functions had this, so that applications requiring session reuse would be possible.

[2020-12-24 05:27] shynome commented on #6259
dynamic import error still make program exit
add a new file `s.ts`, then run it `deno run -A s.ts`, the program is exit after import ./a.ts
[code]

[2020-12-24 05:43] kitsonk commented on #6259
@shynome I cannot reproduce this.  What version of Deno are you using?

[2020-12-24 07:46] shynome commented on #6259
I run it in debian docker image, still get the same error
[code]
`deno run -A s.ts`
[code]

[2020-12-24 10:22] kitsonk commented on #6259
Ah  I misunderstood the repro. Ok, it seems we fixed one issue but it uncovered another. The uncaught promise in c.mjs is terminating the process. @bartlomieju it seems that we need to investigate the correct behaviour of uncaught TLA rejections?

[2020-12-24 11:03] bnoordhuis commented on #8875
I'm at a bit of a loss how to write a test for that but I'll open a PR that implements a global session cache, maybe someone has an idea.

[2020-12-24 13:11] #8823 closed

[2020-12-24 14:38] satyarohith opened #8879 "Get deno fmt working on markdown code blocks"
Developers often use code samples in their module readmes, so it would be really nice to have `deno fmt` format the code inside markdown code blocks. This would lead to more consistent styles in presentation as well. :)

[2020-12-24 14:59] nayeemrmn commented on #8879
Duplicate of #7352.

[2020-12-24 15:00] #8879 closed

[2020-12-24 15:05] bartlomieju commented on #7352
@David-Else sure I removed it and added appropriate labels

[2020-12-24 15:23] David-Else commented on #7352
@bartlomieju Thanks.

The title is wrong for what I was requesting. Deno needs to format Markdown, that is `.md` files. That needs to include formatting code blocks inside that markdown.

There is no 'Markdown in code blocks'. The code blocks are in the Markdown. A better title would be `deno fmt should format Markdown including code blocks`. You might want to specify what types of code blocks are

[2020-12-24 21:09] danopia opened #8880 "Rust panic after fetching invalid URLs"
Just fetch a really incorrect URL, e.g. `fetch('http://<nil>/')`. That fetch should cause an error, but not panic.

Tested on Deno 1.6.1 and Deno 1.6.2.

When done with top level REPL await as shown below, it actually causes a double panic! But in the application that this error first happened in, it was just the first panic.

[code]

[2020-12-24 21:15] danopia opened #8881 "[LSP] Intermittent Rust panic: "called `Option::unwrap()` on a `None` value""
I think this happens when using the autocomplete UI but I haven't been able to pin down a repro yet.

I've seen two different stack traces so far, this one happened once today on 1.6.1:

[code]

This one happened a bunch both before and after upgrading to 1.6.2:

[code]

[2020-12-24 22:25] iamkacperwasik commented on #8837
I created a pull request here: https://github.com/denoland/deno/pull/8882

[2020-12-24 22:47] danopia commented on #8881
I just noticed that the following Code stacktraces mention what request was in-flight when the LSP panics. So the most recent ones have all been `Request textDocument/hover failed.`. Will update this comment if I see others.

[2020-12-25 00:24] danopia commented on #8190
I see this in 1.6.2:

[code]

⬇️

[code]

A little Christmas gift for me! 🎄

Now the only remaining problem I see with Deno talking to Kubernetes clusters is the dreaded #7660...

[2020-12-25 02:55] satyarohith commented on #7352
I'll take a stab at it.

[2020-12-25 03:00] kitsonk commented on #8881
Ok, it appears to be that a request is being made for a file that we think should be in the memory of the lsp but isn't.  It is potentially some sort of race condition, since the lsp works asynchronously, and we need to handle it a bit more gracefully.  I suspect it would be really hard to reproduce reliably, because of the nature where the code is.

Will look to into trying to give more diagnosti

[2020-12-25 03:04] kitsonk commented on #8880
In this case we are passing a "bad" URL to reqwest and trying to fetch it, which isn't such a good idea, or we need to handle errors from reqwest better.

[2020-12-25 03:51] vmasdani opened #8883 "Upgrade to tokio 1.0 in 1.7.0"
Tokio 1.0 has been released. Would be great if Deno 1.7.0 has tokio 1.0 in it

[2020-12-25 04:19] yos1p commented on #8883
It's on the way. See #8779

[2020-12-25 05:40] mrmodise commented on #8837
@iamkacperwasik thanks. You didn't update the tests. Also, the Rust files still have the change for the caFile. Anyways, I will leave it to you since you beat me to it. Happy holidays

[2020-12-25 07:44] kitsonk commented on #8883
Closing in favour of #8779 though it isn't an issue.

[2020-12-25 07:44] #8883 closed

[2020-12-25 13:09] danopia commented on #3378
This thread's a bit stale huh 😟

I'm also a big fan of the `--allow-run` concept and believe executable scoping would make it a lot less of a footgun. This permission is excellent for particular complex tasks which are complex to accomplish within Deno and are already implemented in a well-known utility anyway! It also reduces the amount of 'accidental' side effects your script can have as Brandon

[2020-12-25 15:25] bartlomieju commented on #8871
@nayeemrmn can you take a look?

[2020-12-25 15:28] bartlomieju commented on #8880
For me it looks like a problem in `reqwest` crate. It should return error from `send()` method instead of panicking, especially if user can pass a `&str` as a URL before prior validation.

[2020-12-25 15:33] nayeemrmn commented on #8871
Good catch, that's a typo. Good first issue. The JS property keys that this code reads from are listed here: https://github.com/denoland/deno/blob/b15539587e7cf6b67c2ae7d4dc39901634bf6bd5/core/error.js#L157-L175

[2020-12-25 15:38] nayeemrmn commented on #8871
Not sure why https://github.com/denoland/deno/blob/master/cli/tests/error_024_stack_promise_all.ts.out didn't catch this, apparently the column number of the test case's error is also 0? :/

[2020-12-25 15:44] bartlomieju commented on #8871
@nayeemrmn good catch, we should definitely harden the test. It might not be a good first issue after all though.

[2020-12-25 15:47] nayeemrmn commented on #8871
Hmm I still think it is with this guidance, just add an extra placeholder `Promise.resolve()` at the beginning of the array passed to `Promise.all()` in https://github.com/denoland/deno/blob/master/cli/tests/error_024_stack_promise_all.ts and change the expected index to 1.

[2020-12-25 16:24] Soremwar commented on #8824
@jveres SWC bugs are tracked in the SWC repo, where "real world code" is seemingly now a part of the tests for the latest refactor https://github.com/swc-project/swc/pull/1264

[2020-12-25 18:24] yos1p opened #8886 "Remove reqwest dependency from fetch API"
After looking at `op_crates/fetch`, I believe we can just use hyper::client features with (hyper-tls or rustls). This should reduce the dependency that we need for runtime.

[2020-12-25 19:15] lucacasonato commented on #8886
I don't think so. `reqwest` does a few important things on top of hyper, most essentially compression with `gzip` and brotli.

[2020-12-25 19:19] lucacasonato commented on #8881
I was pretty certain this was going to be the case when I implemented the async TSC code. I have some ideas on how to clean this up - most notably to not send over state on each request, but rather sending over references to the arc mutexes containing the state when the tsc thread gets started. I will give this a pass after the holidays.

[2020-12-26 02:12] 3n-mb commented on #8656
For now, I make bundle, and use deno binary with bundle. Yes, there are two files instead of one, but two is better than a lot.

[2020-12-26 07:10] Liamolucko commented on #4350
It's been fixed for `setTimeout()`, but not `queueMicrotask()`.

This code will continue to run:
[code]

[2020-12-26 07:17] lizraeli opened #8889 "logger.debug(...) is a no-op for the default logger"
When using the default logger from [std@0.82.0/log](https://deno.land/std@0.82.0/log), it does not log with the `debug` method, but it does log with the [higher log levels](https://deno.land/std@0.82.0/log/levels.ts#L4) `info`, `warning`, `error`, `critical`:

[code]

The reason for `debug` not logging is that the value of the `DEFAULT_LEVEL` constant in [log/mod.ts](https://deno.land/std@0.82.0/l

[2020-12-26 10:19] hrsh7th commented on #8643
Hi. How about dealing with deps.ts as a first-class dependency definition in `deno lsp` (not `deno runtime`)?

I have written golang recently and it was a great development experience.
I think it's due to only gopls.

I believe it makes a great development experience and consistency if `deno lsp` suggests completion by `deps.ts` and applies auto-import as by confirming it.

[2020-12-26 13:02] #8786 closed

[2020-12-26 13:06] #8880 closed

[2020-12-26 15:10] hb20007 opened #8890 "Better control of "deno test" output"
It would be nice to have better control over how the results of `deno test` are displayed.

## Current Situation

Currently, there is the `--quiet` flag, which seems to suppress all messages printed during testing. The only thing which is printed is the exit code. There is also `--log-level info` which didn't change anything in the output for me.

## Requests

1. An option to suppress printing the

[2020-12-26 16:39] JeremyJaydan opened #8892 "--new flag, idea for an entrypoint"
Ability to instantiate a class as an entrypoint could be useful.
e.g.
[code]
the above command would instantiate a new `MyApp` class with `Deno.args` as the constructor arguments. Also if the module has a default export, perhaps you could just use `--new` without specifying the class.

[2020-12-26 16:58] bartlomieju commented on #8892
Deno is very conservative when it comes to adding new CLI flags and this feature is definitely on the "magical" spectrum that we avoid. Additionally this request can be implemented as a userland script in a few lines so it's definitely outside of scope for Deno.

[2020-12-26 16:58] #8892 closed

[2020-12-26 17:01] bartlomieju commented on #8890
Ref https://github.com/denoland/deno/issues/7840

[2020-12-26 19:21] caass commented on #7984
Hey just wanted to comment in case folks were unaware, [tokio 1.0 was recently released](https://tokio.rs/blog/2020-12-tokio-1-0).

[2020-12-26 19:44] lucacasonato commented on #7984
We are working on it: #8779

[2020-12-26 22:14] redradist commented on #3598
Writing C plugins is also requires packaging this plugin ...

For such packages it would be nice to support external package managers like `npm`, `conan` (C/C++), `vcpkg` ...

I know that Rayne did not wanted the centralized pakcage manager, but for packaging native pluging we need to support them ...

What is deno will support possibility to install `npm`, `conan` (C/C++), `vcpkg` and other nativ

[2020-12-27 11:21] kdy1 commented on #8770
I think this is fixed by https://github.com/swc-project/swc/pull/1264

[2020-12-27 11:37] Nexxkinn commented on #8770
Looking forward for this fix, thank you very much @kdy1 !

[2020-12-27 12:20] kdy1 commented on #8541
This is fixed. (I've added test for it)

[2020-12-27 12:20] kdy1 commented on #8734
This is fixed. (I've added test for it)

[2020-12-27 12:21] kdy1 commented on #8770
This is fixed by new version of swc_bundler. (I've added test for it)

[2020-12-27 12:21] kdy1 commented on #8285
This is fixed by new version of swc_bundler. (I've added test for it)

[2020-12-27 13:22] ije commented on #8541
@kdy1  thanks so much!

[2020-12-27 13:45] lucacasonato commented on #8541
For tracking lets keep this issue open until we update to the swc release with the fix.

[2020-12-27 15:35] mash-graz commented on #8449
while updating all the installed rust binaries on my machine utilizing `cargo install-update` i got an reminder again, that the `deno` build process resp. this particular issue is still not fixed. :(

![Bildschirmfoto_2020-12-27_16-08-07](https://user-images.githubusercontent.com/13013641/103173719-1d8efa80-485d-11eb-8bbc-6f47797cfa09.png)

as demonstrated in denoland/rusty_v8#545 it's a perfectly

[2020-12-27 16:37] bartlomieju commented on #8449
Fix landed in `rusty_v8` in https://github.com/denoland/rusty_v8/pull/543, I will keep this issue open until `rusty_v8` is upgraded in `deno`.

[2020-12-27 17:30] Pronian opened #8895 "Internal error while debugging a HTTP server and making a request"
The following Rust error is thrown when in debug mode and making a request with the browser:
[code]
Tested and reproducible on versions: `v1.6.2` and `v1.5.4`

Tested and reproducible on OSes: `Manjaro Linux 20.2` with `kernel 5.4.80` and `Windows 10 version 20H2`

Steps to reproduce:

1. Create a `mod.ts` file with these contents:
[code]
2. Open in VS code and create the following launch option:

[2020-12-27 21:19] guybedford opened #8897 "[std/node] Deno fs errors not being remapped"
Deno throws fs errors with a `name` property like `NotFound`, which need to be converted in the Node.js layer into Node.js errors, something like:

[code]

Such a generic handler for all fs functions (or even more generally for all Node.js callback handling) likely will make sense here.

[2020-12-28 04:30] mash-graz opened #8899 "'cargo install' doesn't work because of "virtual manifest""
it's just a minor issue, but a common `cargo install` command will not work in the root directory of a cloned `deno` repository:

[code]

as a workaround you may use `cargo install --path cli`, but that's hard to figure out for users and not documented in the install instructions etc.

this whole case looks closely related to a well-known long term flaw of `cargo`(https://github.com/rust-lang/carg

[2020-12-28 10:08] whatever-art opened #8900 "When compiling `lspower v0.1.0 Build fails on 5.10.0-1` build fails due to `bad archive`"
I have never worked with `cargo` && || `deno` before, but I happen to be running kernel version 5.10.0-1; It's also the holidays; And I'm not really part of this repo, but I thought that I'd let y'all know irregardless;

When compiling `lspower v0.1.0`, `cargo install deno` fails with the following error:

![image](https://user-images.githubusercontent.com/74662832/103206120-1ef60c80-48c9-11eb-869

[2020-12-28 10:51] lucacasonato commented on #8900
The failure is actually while building rusty_v8, not lspower.

Your intermittent internet is likely to blame here. The rusty_v8 build downloads a precompiled librusty_v8.a from GitHub, because it can take quite a while to build V8. If you would rather build from source, you can set the env var `V8_FROM_SOURCE=1`. The other thing you could do is set up RUSTY_V8_MIRROR as explained here: https://git

[2020-12-28 11:02] bartlomieju commented on #8900
This will be fixed in https://github.com/denoland/deno/pull/8898 and released in 1.6.3.

[2020-12-28 15:36] #8449 closed

[2020-12-28 16:01] mash-graz commented on #8449
@bartlomieju
thanks!

[2020-12-28 18:09] hrsh7th commented on #8643
May I send PR for textDocument/rename?

[2020-12-28 18:17] yos1p opened #8904 "Deno plugin section in the manual"
Suggestions for the Manual. One of Deno interesting feature is that developers can create a Rust plugin that we can call through our Deno code. Maybe we can put this in another section?

Here's some idea that we can include in the documentation: ( Ref: https://nodejs.org/dist/latest-v15.x/docs/api/addons.html )
- [ ] How plugin can interact with the Deno runtime / app
- [ ] Simple "hello world" ex

[2020-12-28 18:29] chenrui333 opened #8905 "deno 1.6.2 build failure"
👋 trying to build the latest release, but run into some build issue. The error log is as below:

[code]

full build log in here, https://github.com/Homebrew/homebrew-core/runs/1596608667
relates to https://github.com/Homebrew/homebrew-core/pull/66920

[2020-12-28 18:50] whatever-art commented on #8900
@lucacasonato running gentoo would be nice as well; @bartlomieju so IT will take a while; At least it will run on the latest bleeding edge; Thanks;

[2020-12-28 22:12] bartlomieju commented on #8643
I think it's due to only gopls.

There's still quite a lot we need to work on achieve parity with old version of `vscode-deno` before we can work on new features.

Of course!

[2020-12-28 23:03] kitsonk commented on #8900
#8898 is merged, so closing.

[2020-12-28 23:03] #8900 closed

[2020-12-28 23:07] #8904 closed

[2020-12-28 23:22] #8722 closed

[2020-12-28 23:22] #8734 closed

[2020-12-28 23:22] #8736 closed

[2020-12-28 23:22] #8746 closed

[2020-12-28 23:22] #8828 closed

[2020-12-28 23:22] #8541 closed

[2020-12-28 23:22] #8545 closed

[2020-12-28 23:22] #8597 closed

[2020-12-28 23:22] #8620 closed

[2020-12-28 23:22] #8679 closed

[2020-12-28 23:22] #8680 closed

[2020-12-28 23:22] #8211 closed

[2020-12-28 23:22] #8285 closed

[2020-12-29 00:44] kuzivany commented on #5498
As mentioned by @neroux & @fzs111 this isn't about "pretty output", it's about *usable output*. In Windows 8.1 this is the type of output received whether using `cmd.exe` or PowerShell (versions 4, 5.1, 7.02, 7.03 or 7.1.0):

[code]
[code]

[2020-12-29 03:10] eliassjogreen opened #8912 "Allow setting the icon for `deno compile` output binary"
A useful feature for `deno compile` would be changing the binary icon to a custom `.ico` provided by a `--icon` flag.

[2020-12-29 03:16] caspervonb commented on #8912
Not sure if this can be done without adding a runtime dependency on developer tools? e.g on Windows you need rc.exe

[2020-12-29 04:44] timonson commented on #6319
This `BrokenPipe: Broken pipe (os error 32)` error still happens with std `0.82.0` all the time using Firefox, not so much on Chrome.

Please reopen this issue!

    at unwrapResponse (deno:runtime/js/10_dispatch_minimal.js:59:13)
    at sendAsync (deno:runtime/js/10_dispatch_minimal.js:98:12)
    at async write (deno:runtime/js/12_io.js:117:20)
    at async Object.writeAll (deno:runtime/js/13_buf

[2020-12-29 05:18] duci9y commented on #8871
Hi there, I'm going to take a stab at this.

[2020-12-29 05:18] kitsonk commented on #8864
So what is happening is that `tsc` is complaining about the module not being a module, which technically it isn't at this particular point.

[code]

If for example, this is used, nothing goes wrong:

[code]

I think we are just going to have to handle the failure a bit better, but it might not fix everything, as it is really hard to get `tsc` to think things are modules when they don't look like m

[2020-12-29 07:51] vegidio commented on #8302
I'm still having a problem (deno 1.6.0 (release, x86_64-apple-darwin))

The code below works with I run `deno run --allow-net test.ts`:

This is the content of the file:

[code]

However, if I create a bundle `deno bundle test.ts out.js`,
and try to run this bundle `deno run --allow-net out.js`
I get the error below:

[code]

[2020-12-29 08:02] kdy1 commented on #8302
I checked it and I verified that axiod is properly handled.
@vegidio It seems like the patch is not published yet.

[2020-12-29 10:00] thgh commented on #8256
@Ayfri  If you wanted to use import/export, this is a step forwards:
[code]

[2020-12-29 10:06] Ayfri commented on #8256
Oh, that is neat!
Thank you!

[2020-12-29 12:24] psrcek opened #8915 "worker.onmessage not being invoked at all"
I've tried to create a simple example that utilizes workers to send and receive messages, but the main "thread" for lack of a better word fails to receive any kind of message from my worker.

According to `deno -V` I'm using `deno 1.5.3`

Below are my test files, run them with `deno run --unstable --allow-read test.ts`

<details>
  <summary>test.ts (click to expand)</summary>

[code]
</details>

<

[2020-12-29 12:33] lucacasonato commented on #8915
The latest version of Deno is 1.6.2. Please use that.

[2020-12-29 12:34] satyarohith commented on #8915
@psrcek I think you're not returning any value in `doStuff` - try fixing it and rerun again.

[2020-12-29 12:38] psrcek commented on #8915
Wow! Thanks for the SPEEDY response guys!

@lucacasonato Upgrading didn't fix it.
@satyarohith Returning anything other than undefined is a workaround that works, yes.

[2020-12-29 12:49] bartlomieju commented on #8915
@psrcek This is a known issue https://github.com/denoland/deno/issues/8702, @yonbav is working on the fix

[2020-12-29 14:24] #8871 closed

[2020-12-29 16:22] 00ff0000red commented on #4735
[code]

Very similar to @alisabzevari's code.
I'm getting an OOM here, can't tell if it's because TC39's site is too large (too much memory allocated), or because of Deno's memory leakage.

[2020-12-29 16:34] 00ff0000red commented on #8915
Probably should've reported this myself a few months ago, but to workaround, I've just posted `null` to fulfill an "empty" reponse.

[2020-12-29 18:03] claudio-felicioli opened #8917 "inaccurate deno test coverage"
I'm getting consistently odd results from` deno test --coverage --unstable`:
- the coverage report line numbers are off by some small number (the offset error is not constant, even when reporting multiple pieces of code from the same source file)
- more importantly, the reported uncovered code lines seems to be the wrong one (reporting code text lines that have been covered, that in the source cod

[2020-12-29 18:05] danopia opened #8918 "Regression in Deno 1.6.2: unreachable code panic in module_graph.rs"
Looks like running `deno info` on a file which imports non-existent files results in a rust panic:

[code]

Copy pastable for local repro:
[code]

Regression compared to 1.6.1 which doesn't panic:
[code]

The panic points here:

https://github.com/denoland/deno/blob/d199e45ad5dd180a6969abcd528023e173a1e1ff/cli/module_graph.rs#L1118

[2020-12-29 18:22] bartlomieju commented on #4735
This is likely due to inefficient mechanism used in `fetch` API that JSON-stringifies payload, should be fixed by https://github.com/denoland/deno/pull/8826

[2020-12-29 18:26] vegerot commented on #4727
Looking at the code https://github.com/denoland/deno/blob/090ca4d3a73cf8538418a2a19d373a6860e8c59a/std/testing/asserts.ts#L184-L188

It looks like it should be as easy as

[code]

One of the nicest things about Deno and about TypeScript is how they're _strict by default_.  With this proposed change, users can still use `assertEquals<unknown>` to get the previous behavior, but by default Deno will

[2020-12-29 18:29] caspervonb commented on #8917
Likely this is just from compilation?

Reports are for the raw JavaScript as v8 saw it.
We don't do source map looks ups (yet, working on that next).

So the content is all wrong and there are lines that definitively should be covered?

I've got one known bug here at-least from 1.6 caused by this break https://github.com/denoland/deno/blob/master/cli/tools/coverage.rs#L172, not sure if this is the

[2020-12-29 18:37] nayeemrmn commented on #4727
@vegerot That proposal has already been rejected in #6376, see https://github.com/denoland/deno/pull/6376#issuecomment-646583237. The purpose of runtime assertion is, for example, to verify that runtime values actually respect the type annotations. Like if you cast some remote JSON. Yes you could get that behaviour with `<unknown>` but having to do that betrays the purpose of runtime assertions. I

[2020-12-29 18:56] bartlomieju commented on #8915
Closing as a duplicate of #8702

[2020-12-29 18:56] #8915 closed

[2020-12-29 20:43] kitsonk commented on #8918
Should be a strait forward fix.

[2020-12-29 20:44] caspervonb commented on #5498
sequences, including e.g. cursor control, without which many interactive
and some non-interactive CLI apps break.

I know, but if you don't have a capable terminal emulator that's pretty much expected. Not that many people bother with non vt100 capable terminal emulators.

Really just boils down to if we want to support curses/conio-esque syscalls in the Deno namespace.

[2020-12-29 20:46] kitsonk commented on #8302
@vegidio 1.6.2 is the current release.

[2020-12-29 20:48] neroux commented on #5498
The whole subject is not really about colours or not colours.

Standard output on pre-Windows 10 is broken altogether and only produces gibberish.

[2020-12-29 22:00] kitsonk commented on #8917
Do we have an issue for this, if not we should for tracking purposes.

[2020-12-29 22:05] caspervonb opened #8923 "Report source mapped code coverages"
For the initial pass I did straight JavaScript code coverage as the runtime saw it for simplicity of implementation. This was never intended to be permanent and we should match the user's expectation and render the mapped source in reports.

[2020-12-29 22:07] caspervonb commented on #8917
Talked about it being the plan a lot in dicsord but don't believe we have an open issue for it so raised one here
https://github.com/denoland/deno/issues/8923

[2020-12-29 23:51] oscarotero commented on #8355
It seems like the latest version of Deno fixes this error, so I'm closing this.

[2020-12-29 23:51] #8355 closed

[2020-12-30 00:10] claudio-felicioli commented on #8917
thanks for opening the source map issue :)

[2020-12-30 00:15] claudio-felicioli commented on #8917
Yes, seems source map

the number of reported uncovered parts of the code is the expected one, just the numbers of the lines and the code displayed is wrong, therefore should be the source map only, at least for the cases that I have tested.

[2020-12-30 02:50] marrus-sh opened #8925 "Deno cannot handle non-BMP characters in variable names"
For example:

[code]

gives me the following error with Deno 1.6.2:

    error: Uncaught SyntaxError: Invalid or unexpected token
    const 𝒫 = 2; console.log(𝒫)
          ^
        at <anonymous> (file:///[[FILENAME]]:1:7)

Note: `𝒫` is a valid character in identifiers in ECMAScript 6+.

I am assuming this is a Unicode issue because other characters forbidden in ECMAScript 5 but allowed in ECMASc

[2020-12-30 04:22] kitsonk commented on #8925
Works both in Chromium and Node.  I suspect it has to do with the parsing we do with swc.  @kdy1 any thoughts?

[2020-12-30 04:25] kdy1 commented on #8925
Then it's a bug of swc. I'm not sure why it isn't working (there are some codes for handling non-ascii characters)

[2020-12-30 04:52] kdy1 commented on #8925
@kitsonk I tested the parser and code generator but those handle unicode characters properly.
Is there a way to print transpiled source code from deno before running?

[2020-12-30 05:01] marrus-sh commented on #8925
just to be clear, this is not just a problem with non‐ASCII characters, but specifically (as best as i can tell) a problem with characters whose codepoints are greater than U+FFFF

which to me (given this is javascript) suggests an error with handling UTF‐16 strings (??)

[2020-12-30 05:01] kitsonk commented on #8925
Hmmm... I am starting to think it can't be swc...

[code]

I thought it might be swc because we parse dependencies and use it on the REPL, both which don't work, but we don't send anything via swc via eval, and that looks a lot like a v8 error at that point.  @bnoordhuis any ideas?  I haven't tried rusty_v8 directly.

[2020-12-30 07:28] vegidio commented on #8302
@kitsonk Thanks. I had Deno installed originally from Homebrew and the version there is still 1.6.0.

However I just uninstalled that version and I installed 1.6.2 through the shell script `curl -fsSL https://deno.land/x/install/install.sh | sh`, but this version also has the same bug.

Any idea what version will have the fix for this bug and when that is going to be released?

[2020-12-30 10:28] yos1p commented on #8889
I think by default it should stay on INFO level. "DEBUG" logs should be printed only when developers intend to debug.

[2020-12-30 10:41] bnoordhuis commented on #8925
V8 accepts it. I suspect it's getting mangled somewhere along the way.

𝒫 (U+1D4AB) is encoded as two surrogate pair codepoints, U+D835 and U+DCAB.

[2020-12-30 11:06] subtle-byte opened #8930 "Incorrect bundle"
I tried to bundle my frontend with Preact and ran into the problem `n is undefined`. I left only the parts related to the error and got the example below.

main.js:
[code]

preact.js:
[code]

Result of `deno bundle main.js`:
[code]

Expected: `const app = h();` is placed after `n = `.

Problem: before bundling - `n` is initialized when used in `++n.a`, after bundling - `n` is `undefined`.

I use D

[2020-12-30 11:07] bartlomieju commented on #8930
Most likely already fixed in #8901, can you try canary build?

[2020-12-30 11:15] kitsonk commented on #8930
The output from master:

[code]

So yes, it looks like it is fixed in canary/next release.

[2020-12-30 11:19] #8918 closed

[2020-12-30 11:20] hrsh7th commented on #8643
I will tackle to support `completionItem/resolve`.

[2020-12-30 11:21] subtle-byte commented on #8930
Yeah, canary build works for the example and for my frontend, thanks!

[2020-12-30 11:21] #8930 closed

[2020-12-30 11:24] Ayfri commented on #8256
I'm getting an error :
[code]

[2020-12-30 11:33] kitsonk commented on #7623
Updates:

- V8 8.9 contains import assertions which rusty_v8 will be upgraded to.  We need to expose this in rusty_v8
- TypeScript has an issue https://github.com/microsoft/TypeScript/issues/40694.  They say they are going to parse it, but not enforce it.  Hard to tell when it will land in TypeScript though.
- swc added it in https://github.com/swc-project/swc/pull/1100

[2020-12-30 13:35] ebebbington commented on #5385
Is it acceptable for a std/node polyfill to only implement part of the module? eg just `net.Socket` is implemented and there's a notice in the readme saying "Only `.Socket` is implemented at this moment in time"

I might try work on this if no one else is?

[2020-12-30 14:59] bartlomieju opened #8934 "Don't require --unstable flag for CLI features"
Currently `--unstable` flag is used to enable both unstable runtime API as well as enable new features in CLI. It means that if one wants to use only a single unstable feature of CLI one must opt into all unstable runtime APIs as well.

After discussion with @ry we propose to remove requirement for `--unstable` flag for CLI features and make the flag affect only runtime APIs.

This change would im

[2020-12-30 15:02] #7915 closed

[2020-12-30 15:10] Skillz4Killz opened #8936 "thread 'main' panicked at 'Error 'IO error: Broken pipe (os error 32)'"
**Error:**
thread 'main' panicked at 'Error 'IO error: Broken pipe (os error 32)' contains boxed error of unknown type', cli/errors.rs:35:7

When I first started moving my code to a production environment I was hit with this error after about 30 minutes. I had no idea what could be causing it. `Note:` This same code runs without issues for days in a canary build. Moving it to production causes thi

[2020-12-30 15:13] bartlomieju commented on #8936
What OS and Deno version are you using?

[2020-12-30 15:15] Skillz4Killz commented on #8936
Skillz@Home gamer-deno % deno --version
deno 1.6.2 (release, x86_64-apple-darwin)
v8 8.8.278.2
typescript 4.1.3

![image](https://user-images.githubusercontent.com/23035000/103362966-f8320480-4a87-11eb-9ae4-2d0375d1128b.png)

[2020-12-30 17:25] MichelDiz commented on #8656
I also have a problem with compile which looks like a permission issue. The react application in OAK server won't start. The binary is a bit beefy, so probably it is embedding the build path with the react app.

[2020-12-30 21:17] guybedford commented on #5385
@ebebbington yes it's absolutely fine to just create a partial implementation and this is what is done for the browser and in Deno already for many cases, often with just a stub function with a todo marked. A contribution would be most welcome.

[2020-12-30 21:53] Bestulo opened #8939 "Can't scrape website with bad SSL - invalid certificate: UnknownIssuer"
Hi. I'm trying to access a wordpress site with bad SSL to get the RSS feed. It's a Venezuelan government site, which are known to have terrible, either self-signed or expired SSL certificates. I won't have access to any `.pem` certificates to pass to `--cert`, as is suggested in #2301

In terms of security, I run a VPN and the only vuln is a MitM substitution of the RSS feed, and I have a VPN, and

[2020-12-30 22:01] lucacasonato commented on #8939
@Bestulo You can extract the CA certificate from a website public certificate chain: https://unix.stackexchange.com/questions/368123/how-to-extract-the-root-ca-and-subordinate-ca-from-a-certificate-chain-in-linux. This can then feed this into `--cert`.

[2020-12-30 22:01] #8939 closed

[2020-12-30 22:01] Bestulo commented on #8939
ty ill try

[2020-12-30 22:23] ebebbington commented on #5385
Alright i'll try work on it when i can, but i'll note that if anyone else is wishing to tackle this issue, feel free as i don't have all the spare time in the world just lying around :P (ie it will take some time)

[2020-12-30 22:25] guybedford commented on #5385
This is open source, that is assumed :)

[2020-12-30 22:27] bartlomieju commented on #8626
Just checked, the output in `1.6.3` is:
[code]

@kdy1 FYI looks like `bar` const is extraneous and could be completely dropped.

That said code works as expected so closing as resolved.

[2020-12-30 22:27] #8626 closed

[2020-12-30 22:28] bartlomieju commented on #8625
In `1.6.3` output is as follows:
[code]

Closing as resolved.

[2020-12-30 22:28] #8625 closed

[2020-12-30 22:30] bartlomieju commented on #8224
@rracariu can you try again with deno `1.6.3`?

[2020-12-30 22:30] bartlomieju commented on #8789
Almost all issues were resolved in `1.6.3`.

[2020-12-30 22:30] #8789 closed

[2020-12-30 22:35] #7587 closed

[2020-12-30 22:55] starkpsmichael opened #8941 "deno lsp can not format files with emojis inside"
#### Expected Behaviour

deno lsp should support and format files with emojis inside.

#### Actual Behaviour

[code]

#### Steps to Reproduce
1. Create a file with `globalThis.console.log(`💩`)`
2. Try to format it with vscode-deno-canary

#### Using
- deno 1.6.3 (release, x86_64-unknown-linux-gnu)
- v8 8.8.294
- typescript 4.1.3
- vscode 1.52.1
- denoland.vscode-deno-canary

[2020-12-30 23:11] MierenManz commented on #8934
I think it would be a good idea to still keep the idea of unstable in there.
So we get rid of the unstable flag for the subcommands that were mentioned but we have a followup Y/N prompt which says something along these lines
"this feature is not fully stable yet, do you want to continue Y/N"

[2020-12-31 01:21] Bestulo commented on #8939
It didn't work. I tried these 2 commands that were there

`openssl s_client -showcerts -connect url.com:443 </dev/null 2>/dev/null|openssl x509 -outform PEM >mycertfile.pem`

`openssl s_client -showcerts -verify 5 -connect url.com:443 < /dev/null | awk '/BEGIN/,/END/{ if(/BEGIN/){a++}; out="cert"a".crt"; print >out}' && for cert in *.crt; do newname=$(openssl x509 -noout -subject -in $cert | sed -

[2020-12-31 03:25] ije commented on #8625
thanks

[2020-12-31 03:33] ije commented on #8626
@kdy1 it could be better to return `{foo, bar}` or `{foo: "bar", bar: 123}` without those constants

[2020-12-31 03:43] kitsonk commented on #8934
I doubt we would ever want to inflict that pain on users.  There is little benefit to that sort of UX IMO.  Especially if you are using Deno in a server environment, last thing you want is prompts blocking the execution of your code with no way to get past it.

[2020-12-31 03:45] kitsonk commented on #8941
Duplicate of #8753

[2020-12-31 03:45] #8941 closed

[2020-12-31 03:50] caspervonb commented on #8934
I'm for splitting the concerns, unstable should be for just the unstable parts we have in the deno namespace.

For CLI features, marking it as `(unstable)` in --help and printing a big bold yellow warning when used should be sufficient warning in my opinion.

[2020-12-31 04:01] caspervonb commented on #8897
One of the issues with this is that we don't expose enough information about the errors to make a good mapping to errno (https://github.com/denoland/deno/issues/6440).

Same problem comes up in std/wasi.

[2020-12-31 04:17] guybedford commented on #8897
@caspervonb I've found the `name` property on the errors are usually unique information to get a good enough result on this layer for the Node.js FS errors at least as per my example above.

[2020-12-31 04:28] caspervonb commented on #8897
Well some is of course better than none, we do take that approach in mapping errors to errno in std/wasi
https://github.com/denoland/deno/blob/587155f86dbce71b274bbeeb2c60c9a2798cf600/std/wasi/snapshot_preview1.ts#L205-L263

One case that can break programs in the above mapping is when ENOTDIR gets reported as ENOENT so long term I think we need to address this within Deno's errors.

[2020-12-31 05:29] jsejcksn opened #8943 "More deno bundle errors: Improve swc testing strategy"
<details>
<summary>Here is the latest failing minimal reproduction case using Deno version <code>1.6.3</code>:</summary>

[code]
</details>

I have been trying to bundle modules and run them since the release of Deno `1.5.x` (without success).

During that time, I have raised these related issues at each release: #8211, #8573, #8308, #8302, #8148

With every release, I am finding new errors that e

[2020-12-31 05:33] kitsonk commented on #8943
cc/ @kdy1

[2020-12-31 05:35] RDambrosio016 commented on #8943
In my opinion there needs to be a tool similar to rust's crater which runs swc on a lot of real world code, maybe not all of it because that's millions of packages but a few thousand of the most used libraries will help

[2020-12-31 06:08] kdy1 commented on #8943
Seems like a dce bug and I think I know the fix for it.

I'll create a something simillar to crater for the bundler.

I'm not sure how can I include it in the ci task though.

[2020-12-31 06:17] RDambrosio016 commented on #8943
CI can just build and run a rust crate, it shouldnt be a problem, although i think it should only run on release.

[2020-12-31 06:20] kdy1 commented on #8943
This part is what I meant. But I found a solution. I'll automate crate publishing and I'll configure the CI to run heavy tests before it.

[2020-12-31 06:22] RDambrosio016 commented on #8943
Would it be possible to make a generic crate for this to publish? then you make another crate which just gives it a function to run? Id like to use this testing strategy in my own project eventually and it would be great to have an existing runner for it 😄

[2020-12-31 06:42] RDambrosio016 commented on #8943
Github actions is able to run a CI task if the commit is tagged automatically by using `if: startsWith(github.ref, 'refs/tags')`

[2020-12-31 06:49] kdy1 commented on #8943
It's absolutely possible.

I initially considered something similar, but it means wrong code can come into master. I'll create a CI pass which fails by default without running tests but runs heavy tests when I add a comment with specific keyword.

I also considered using approval system of github, but approval is not possible because the creator of PR cannot approve it.

I'm also considering using

[2020-12-31 10:59] whatever-art commented on #8900
@kitsonk @bartlomieju @lucacasonato Yes, it seems to work on my machine now; Thank you for your time;

[2020-12-31 11:31] starkpsmichael opened #8945 "deno std websocket server doesn`t push messages to client when using a wss connection and listening for ws events"
This is really strange, i have tried to test it down.

I observed, see also the comments in the test file, that when you try to push messages via `websocket.send` using a normal ws connection, all works fine, also when you observe the websocket events for a ping, or a string, all works.

But when you use a wss connection, the messages will not be pushed.
The problem seems to be the observing of th

[2020-12-31 11:43] whatever-art opened #8946 "v1.6.3 - does not add `deno` binary to `/usr/bin` under linux;"
IT does not currently seem to have a similar command, && I don't know if IT would even be necessary, however, I used to be able to do `npm link` to resolve this issue in `node`;

Maybe even a list of `I used to be able to do command `X` in `node`` would be sweet;

I currently have to run `sudo ln ~/.cargo/bin/deno /usr/bin/deno`;

This would be something that I would add to y'all's build servers w

[2020-12-31 12:35] MierenManz commented on #8934
I think this is a good idea but users don't always look into the --help option

Recently I had this issue with `deno fmt` because I thought it was unstable thus I could just run the command and see the options for it, but it actually formatted everything.

Because the behaviour is changed I think it is a good idea to still indicate that the feature is unstable and that the user should be able to c

[2020-12-31 12:39] MierenManz commented on #8934
that is also true, but if we look at the listed command
 - `deno compile`
 - `deno lint`
 - `deno test --no-run`
 - `deno test --coverage`
 - `--import-map` flag in various subcommands
 - `--watch` flag in various subcommands
 these commands are mostly used in dev environments where the developer has easy access to the terminal

[2020-12-31 13:51] lucacasonato commented on #8946
Could you clarify what your proposal is here?

[2020-12-31 15:12] bnoordhuis commented on #8936
@Skillz4Killz v1.6.3 was released yesterday and there's a pretty good chance it contains the fix if canary builds work okay for you.

[2020-12-31 15:16] bnoordhuis commented on #8905
Can you try with v1.6.3?

[2020-12-31 15:18] bnoordhuis commented on #8833
@hviana If the problem still persists, can you recheck with v1.6.3? Thanks.

[2020-12-31 21:43] #4752 closed

[2021-01-01 07:06] ztamizzen opened #8952 "ReferenceError: __boolean is not defined"
Whatever I compile (or bundle), that contains a boolean, gets this error.
For instance the "parse" function from "https://deno.land/std@0.82.0/flags/mod.ts".

[2021-01-01 13:23] uki00a commented on #8753
I ran into the same problem. I'll try to fix this.

[2021-01-01 15:20] whatever-art commented on #8946
@lucacasonato well, I was thinking, having not looked at the source code whatsoever that, adding something along the lines of `sudo ln ~/.cargo/bin/deno /usr/bin/deno` for every supported architecture, should do the trick?

[2021-01-01 19:22] leoc11 commented on #8824
+1 V8 Fast API for ops

[2021-01-01 20:09] KyleJune opened #8954 "Test case is leaking async ops when using clearTimeout inside finally block after not catching error"
If you use finally statements to do test cleanup, you can end up with the following test falsely reporting leaking async ops. In the below tests, you wouldn't expect `sync2` and `async2` to be leaking ops since they are not really doing anything but they end up failing with that error. I found that if you add a delay after you clearTimeout, the following test `async5` will not falsely report leaki

[2021-01-01 21:36] lucacasonato commented on #8946
I don't understand what the issue is you are trying to fix.

[2021-01-01 22:43] 00ff0000red opened #8956 "setInterval does not type check the callback parameter"
Deno 1.6.3

Code:
[code]

Stack trace:
[code]

After checking the source, it seems that the implementation does not type-check the parameter `cb` before calling `.bind` on it.

Yet, running that code on Chromium just returns an interval ID and never throws, so someone might want to check [the spec](https://html.spec.whatwg.org/multipage/timers-and-user-prompts.html) for reference.

Chrome does the

[2021-01-01 23:02] 00ff0000red commented on #8956
Ah, figured it out, if the argument is not a function, it is stringified via a call to `String`, regardless of whether or not it throws.
Updating runtime/js/timers right now.

[2021-01-02 01:16] kemalelmizan opened #8958 "thread 'main' panicked at 'called `Result::unwrap()` on an `Err` value: ()', runtime\permissions.rs:570:37"
Error:
[code]
Step to reproduce:
[code]
with RUST_BACKTRACE=full
[code]
OS: Windows 10.0.19041.685
Deno: deno 1.6.3 (release, x86_64-pc-windows-msvc)
v8 8.8.294
typescript 4.1.3

This might be a Windows-specific issue, because when I try same line using WSL, I got this instead
[code]

[2021-01-02 11:47] DerNamenlose opened #8959 "`deno compile` output fails with a SyntaxError on startup"
As the title says: I have an API program which I want to turn into a single executable using `deno compile`. Everything works fine when using `deno run`, but using `deno compile` produces an executable which fails with:

[code]

I've managed to narrow the error down to the following fragment:

[code]
The `export` is the issue. Changing this to an `import` makes the binary work. (In the original pr

[2021-01-02 12:12] lucacasonato commented on #8959
What Deno version are you using?

[2021-01-02 12:28] DerNamenlose commented on #8959
It's always the obvious ones you forget to answer...
I'm at the current 1.6.3.

I've done a bit more digging through the output of `deno bundle` (which exhibits the same error) and found, that the ominous `i2` is a `function` declaration and there are a bunch of `var i2` in the file as well. I've changed basically all of them to `let` and get a different, probably unrelated error now.

The offendi

[2021-01-02 12:34] bartlomieju commented on #8959
This is a bug in bundler, CC @kdy1

[2021-01-02 12:52] benjamingr commented on #8956
😮  why? I don't think the timer spec requires implementing this legacy behaviour IIRC

[2021-01-02 17:16] hviana commented on #8833
I didn't check with version 1.6.3, however, with my server implementation (without using oak) I'm not having any problems.

[2021-01-02 17:37] 00ff0000red commented on #8956
Wait really? I almost submitted a PR *adding* the functionality.

If anyone can find it in the spec, I will avoid implementing it. I hate `eval`, so please give me a reason not to do it :)

https://html.spec.whatwg.org/multipage/timers-and-user-prompts.html

[2021-01-02 18:33] xaviripo commented on #8952
I'm also getting this error from this exact same dependency. Also happens in version 0.83 of the std library, deno 1.6.3.

[2021-01-02 22:02] Spoonbender commented on #8958
Reproduces on master.
The `file:///` URI in the module specifier is not a valid file URI on Windows, so `url.to_file_path().unwrap()` panics.
We shouldn't panic, since the module specifier is untrusted input.

[2021-01-02 22:09] Spoonbender commented on #8958
I'm working on a basic fix

[2021-01-02 22:30] KyleJune opened #8965 "If one test case fails with leaking async ops related to timeout, other tests that should fail with leaking async ops do not"
Both of the tests below have the same async function. They should both fail for leaking async ops. The first creates 2 timeouts, but the failure shows there is only 1 more dispatched than completed async ops. When the next test starts, it starts with there being one more dispatched op than completed ops. The setTimeout calls in the second test do not result in any change to the number of dispatche

[2021-01-02 22:31] 00ff0000red commented on #7259
Ahh, saw that Deno had WebAssenbly.{compileStreaming, instantiateStreaming}, and thought that it would be fun to try to instantiate ~6 wasm files and set up a project. Then some particularly misleading errors appeared :)

In my opinion, If it doesn't work correctly, it should not be exposed at all. Can we get the PR that caused this to be reverted until this is properly sorted out?

[2021-01-02 22:33] wwderw opened #8966 "Trying to use HTTP Server and use within Webview"
I've got some programs that need to be used in conjunction with a simple webserver.

With node, I would use express and webview.

With these 2 in node, I would use(just a portion of my entry js code):

`const app = express()

app.get("/", (req, res) => {
    res.send("./index.html")
});

app.listen(8000)`

and for the url in the webview, I would have:

'url: "http://localhost:8000/index.html"'

an

[2021-01-02 22:44] KyleJune commented on #7844
The reason awaiting another timeout resolves the issue is that it defers running the tests until next event loop turn. That way the timeouts/intervals cleared can be removed from the resource table. Adding a delay inside assertOps was done to work around a similar issue. Based on that fix, I think if deno were to add a delay before starting the test, it would resolve this issue.

https://github.co

[2021-01-02 23:31] bobbyg603 commented on #7660
Any plans to support this with the native fetch implementation? This would be really nice for home automation projects.

[2021-01-02 23:40] Nemo64 opened #8967 "Allow to fetch("file://")"
The title says it all. I'd like if `fetch` could also open local files, just like the browser can if the origin ist `file://`.

There is even a test that checks that this does not work here: https://github.com/denoland/deno/blob/e568ddf99687f635abe931c1eff2b8b37be3bc54/cli/tests/unit/fetch_test.ts#L14-L20

Allowing `file://` could profit any library or script that really just needs the contents of

[2021-01-02 23:47] lucacasonato commented on #8967
Duplicate of #2150

[2021-01-02 23:47] #8967 closed

[2021-01-02 23:51] yacinehmito commented on #5239
Adding authentication with bearer tokens for remote imports is a special case of adding headers to fetch requests. The latter can already be done on the web using Service Workers.

If we were able to register a Service Worker in the context of a Deno process, then we would be able not only authenticate with bearer tokens for remote imports, but also support a large variety of other use cases, such

[2021-01-03 02:19] Andrepuel commented on #7457
On the mentioned issue above I've managed to reproduce the issue using Deno 1.6.3.
The problem does not happen when I use separated processes for the server and the client.

[2021-01-03 10:19] ije opened #8970 "bundler: import * as XXX is not expected from esm.sh"
[code]

the bundler can work fine with command `deno bundle entry.js output.js`, but `deno run output.js` will throw an error: `__default is not defined`.

replace `import * as React` to `import React` can fix it:

[code]

**deno 1.6.3 (release, x86_64-apple-darwin)**

[2021-01-03 11:02] bnoordhuis commented on #8946
It sounds like @whatever-art wants to install deno site-wide. But, seeing it's the cargo build, that's a cargo issue more than a deno issue.

@whatever-art Perhaps you were looking for `cargo install ---root /usr/local`? (`/usr/local` because I wouldn't recommend installing to `/usr`.)

[2021-01-03 13:28] somethingelseentirely commented on #7660
I think it's reasonable to look for alternatives to rustls that don't rely on webpki.

Even if the dns issue was resolved, there are other issues that seem to have just been abandoned, like [support for self signed certificates](https://github.com/briansmith/webpki/pull/127).

[2021-01-03 13:41] lucacasonato commented on #7660
`rustls` is an essential part of Deno as it is the entire backbone of all of our TLS operations. Replacing it would be a large refactor. The only viable alternative to `rustls` is OpenSSL, but using that has some downsides and comes with questions itself (eg. do we statically or dynamically link it?).

Deno supports self signed CA certificates through all available TLS APIs: `--cert` and `DENO_CER

[2021-01-03 18:54] elizeuangelo opened #8972 "Websocket API dying on Deno but not on Chrome"
There are two different streams im trying connecting my client using the standard [WebSocket API](https://developer.mozilla.org/en-US/docs/Web/API/WebSocket) (I have no libraries imported).

In Deno the connections **always die after a couple of minutes**... in Chrome Browser they dont. Using the exact same code. I have not tested in a third web stream but I believe its no coincidence.

Testing co

[2021-01-03 19:48] yacinehmito commented on #1891
@kitsonk Which crypto library should we rely on? I probed a bit and, from my limited knowledge, the only library with an up-to-date Rust crate that covers the whole scope of the Web Crypto API would be OpenSSL. However, including OpenSSL in Deno seems to significantly the build complexity.

I can scaffold the code to expose the Web Crypto API but I'd need direction on which underlying implementati

[2021-01-03 20:32] somethingelseentirely commented on #7660
Yeah there's no winning when it comes to TLS 😑😔

Don't get me wrong I think you guys did a great job! ❤️ ✨

My specific use case involves shipping a binary (thanks to deno compile! ✨ ), to end users
that might have "whoknowswhat almost broken, but accepted by browsers" certificates on their machines, and expect them to work. 😕

Native IP addresses not working makes this already pretty difficult 😅.

[2021-01-03 20:53] lucacasonato commented on #7660
For my own certs that's fine, but I fear that there's a large-ish number of end users with self signed CA certificates that just copy pasted them from some tutorial.

This is untrue for Deno. We have tests validating that this works. You can use self signed CA certificates with Deno for all our TLS related APIs.

[2021-01-03 20:59] somethingelseentirely commented on #7660
Famous last words 😆

[code]

[2021-01-03 21:02] lucacasonato commented on #1891
We can likely use ring for most crypto operations. It is already in our dependency tree through `rustls`. See https://briansmith.org/rustdoc/ring/

[2021-01-03 21:11] danopia commented on #7660
Hello, this exact problem is probably off-topic for this thread, which is that Deno cannot connect to IP addresses hosts using HTTPS.

---

However, I can confirm that Deno has the above message when you try using a CA certificate directly on a server. I have a personal CA and just loaded up Deno HTTPS server using it. Resulting in:

[code]

That being said, Google Chrome is also refusing to estab

[2021-01-03 22:04] shadowtime2000 commented on #1739
I guess this is kind of like `require` hooks in NodeJS. I think another usage would be for compiled to JS functions template engines, so you don't have to read the file and compile, you can just import it.

[2021-01-03 22:11] kitsonk commented on #8824
I have seen a bit of mis-understanding going on in issues... To be clear, these issue are to broadcast what the core team's priorities are for the quarter, and all of these will be worked on by the core team.  If you want to help out, feel free to provide input.

If you want to contribute to Deno though, it is best to look at resolving issues that are not on this list.  If it is any sort of signif

[2021-01-03 22:16] kitsonk commented on #8970
cc/ @kdy1

[2021-01-03 22:18] kitsonk commented on #8966
This really should be asked in discussions, but it appears that GitHub has removed the ability to transfer issues to discussions.

[2021-01-03 22:21] wwderw commented on #8966
Ill close it here and open it in discussions

[2021-01-03 22:21] #8966 closed

[2021-01-03 22:24] kitsonk commented on #8952
cc/ @kdy1

[2021-01-04 00:11] jeremyBanks opened #8978 "Bundle error with overlapping type/variable names, such as when bundling Zod"
I have been working on Deno compatibility for [the TypeScript data validation library "Zod"](https://github.com/colinhacks/zod/). The development branch is now working properly under `deno run`, but I am still encountering some errors in the output of `deno bundle`. I filed a reduction of the error I previously encountered at #8680 (now fixed 👍) but a new one popped up.

In the case of running `de

[2021-01-04 00:13] lucacasonato opened #8979 "Reland #8894"
In #8977 we reverted #8894 because it introduced openssl to our dependency tree (even if it was only for tests). It also added a lot of `hello` messages to the output logs in testing. The openssl issue can be solved by using the `reqwest` that is exported from `deno_fetch`.

@lperlaki We would appreciate if this PR could be re-landed with fixes. Do you have time to address these issues?

[2021-01-04 00:27] kitsonk commented on #8870
The PR that was merged has been reverted, as it logged `hello` repeatedly to `stdout` and did not tear itself down, as well as introduced openssl by depending on reqwest directly instead of using it from `deno_fetch`.  The PR needs to be reworked before it can be landed again.

[2021-01-04 00:28] kitsonk commented on #8978
@jeremyBanks could you confirm what version of Deno you are using?

[2021-01-04 00:33] jeremyBanks commented on #8978
@kitsonk Oops, sorry, forgot to include that. 🤦 I was using the latest stable, `deno 1.6.3`. I have just tested again with `deno nightly 2021.01.03` from `curl -fsSL https://denonightly.now.sh/sh | sh` with the same results.

[2021-01-04 00:34] kitsonk commented on #8978
cc/ @kdy1

[2021-01-04 01:44] yacinehmito commented on #1891
Unfortunately ring does not support key generation (which is among the methods of the Web Crypto API).
See https://github.com/briansmith/ring/issues/219 and https://github.com/briansmith/ring/pull/733.

[2021-01-04 02:53] YSonobe-git opened #8980 "_parseAddrFromStr doesn't accept string number"
## env

- deno 1.6.0
- v8 8.8.278.2
- typescript 4.1.2

#
Created index.ts file inside root directory and wrote code below.
Note: ` const s = serve({ port:8000 }); ` works fine

**index.ts**
[code]
Ran ` deno run --allow-net ./index.ts `
But gave me a following error

[code]

But if changed inside ` _parseAddrFromStr ` function like below, works fine.
**server.ts**
[code]

## expected output in co

[2021-01-04 03:02] satyarohith commented on #8980
The error usually means that the port (8000) is not available. Check if you have something running at http://localhost:8000 already or use a different port.

[2021-01-04 03:06] YSonobe-git commented on #8980
I can see Hello World on browser if I do ` const s = serve({ port:8000 }); `

[2021-01-04 03:21] satyarohith commented on #8980
Right. When you're passing a string to `serve()`, you need to prepend `:` if you're just passing the port number (e.g. `serve(":8000")`) or you need to pass the hostname + port (e.g. `serve("localhost:8000")`).

[2021-01-04 04:04] YSonobe-git commented on #8980
Thank you for your comment @satyarohith

As you mentioned that passing the ` localhost:8000 ` to ` serve() `,
I think we can do simplify an interface.

As I wrote above,
if we do like inside ` _parseAddrFromStr() ` ,
` const host = addr.startsWith(":") ? `0.0.0.0${addr}` : `localhost:${addr}`; `

the interface is going to be more simple.
e.g) ` serve(":8000") ` or ` serve("8000") `

[2021-01-04 04:54] mk12 opened #8982 "BorrowMutError panic when calling Deno.utime and Deno.open together"
I reliably get a Rust panic from the following code.

### Repro

[code]

[code]

[code]

[code]

### Environment

macOS Catalina 10.15.7

Installed deno via `brew install deno`.

[code]

[2021-01-04 05:24] satyarohith commented on #8982
Reproducible with the latest version (`1.6.3`).

[2021-01-04 05:41] caspervonb commented on #8982
Still reproducible with master.
Most likely because of how we're doing the borrows here.

Related #7400

[2021-01-04 06:36] satyarohith commented on #8982
Not sure why I'm not seeing the error on master but here's some additional info if it helps.

[code]
Running on macOS Catalina 10.15.7

[2021-01-04 06:47] caspervonb commented on #8982
Actually, this is not #7400 because it's the top level state.borrow that's being raced and panics.

[2021-01-04 09:23] zsattari opened #8983 "Assertion error in asysn await array.foreach"
[code]
In this code, when it reaches the await line, it gives an assertion error

**How Do I Do?**

[2021-01-04 09:27] caspervonb commented on #8983
Third party but what is the error exactly?

[2021-01-04 09:29] kitsonk commented on #8983
This is a general question about JavaScript and a third-party library.  The issue tracker here is not the appropriate place to ask such questions.

You could use the discussions, but what you are asking isn't specific to Deno, so StackOverflow is a better place to ask such questions.

[2021-01-04 09:29] #8983 closed

[2021-01-04 09:33] #8958 closed

[2021-01-04 09:55] ry commented on #8978
@jeremyBanks Just FYI we now provide official "nightly" builds (actually updated on every commit, not every day) https://deno.land/manual@v1.6.3/contributing/release_schedule#canary-channel

[2021-01-04 10:11] maximousblk commented on #6974
@bartlomieju I think this can be closed in favor of the canary builds?

[2021-01-04 10:16] lperlaki commented on #8979
@lucacasonato yes I will rework the PR.

[2021-01-04 10:43] #6974 closed

[2021-01-04 11:08] FrageDev commented on #8770
Hi, from what I read above this issue is supposed to be fixed. I download the latest version or Deno (1.6.3) and I tried to compile my app again.

Now the "There is no middleware to process requests" is gone, seems to be fixed. But now I've got this error. I don't know if it"s still related.

"
error: ReferenceError: DenoStdInternalError is not defined
    at assert2 (file://$deno$/bundle.js:7476:

[2021-01-04 11:19] FrageDev opened #8985 "[bundle] DenoStdInternalError is not defined when compiling"
Hi, from what I read the issue with OAK is supposed to be fixed. I download the latest version or Deno (1.6.3) and I tried to compile my app again.

Now the "There is no middleware to process requests" is gone, seems to be fixed. But now I've got this error.

"
error: ReferenceError: DenoStdInternalError is not defined
    at assert2 (file://$deno$/bundle.js:7476:9)
    at getLogger (file://$deno$

[2021-01-04 11:31] FrageDev commented on #8985
I removed the log function from the app and the compiler seems to have a lot of issue.

I bundle my app.ts to see what deno is compiling and I can see a lot of "parameter implicitly has any type" which is not a real problem.

Also I found a lot of duplicate variable, here an example :
[code]

Here the app I'm developing if you want to test it (ssl key / crt not included) : https://we.tl/t-n1Jxro7y

[2021-01-04 11:33] kitsonk commented on #8985
cc/ @kdy1

[2021-01-04 11:35] bartlomieju commented on #8982
@piscisaureus please take a look at this issue

[2021-01-04 12:39] timonson commented on #8946
I think, he just wants this command to be executed while installing: `sudo ln ~/.cargo/bin/deno /usr/bin/deno`. One reason why this might be *handy* is that we need to run deno as `sudo` when running a `https` server (or did this change in the last weeks?).

[2021-01-04 13:58] yacinehmito commented on #7840
The output of `deno test` mirrors the output of `cargo test`, from Rust. It is the exact same formatting.

[2021-01-04 14:20] jveres opened #8988 "deno bundler issue with using 'throws'"
Deno bundler replaces `throws` with `__throws` and breaks bundled code.
This issue breaks all bundled runs using e.g. `MuxAsyncIterator` from the standard libs.
Affected version: `1.6.3`

Example `test.ts`:
[code]
[code]

[2021-01-04 14:26] jveres commented on #8988
cc @kdy1

[2021-01-04 14:52] #8979 closed

[2021-01-04 15:31] bartlomieju commented on #8870
Fix relanded in #8986

[2021-01-04 15:31] #8870 closed

[2021-01-04 15:38] wperron commented on #8889
I jsut checked the docs and the default values aren't mentioned anywhere. I agree that `"INFO"` makes sense - I'll go ahead and update the README for this module to include a "defaults" section.

[2021-01-04 15:48] bartlomieju commented on #8982
This problem was fixed in https://github.com/denoland/deno/pull/8955 and will be released in Deno 1.7.0. I'll keep the issue open until then.

[2021-01-04 15:55] #8837 closed

[2021-01-04 16:01] #8917 closed

[2021-01-04 16:30] lizraeli commented on #8889
Great, thanks @wperron!

[2021-01-04 16:52] #5330 closed

[2021-01-04 17:42] aricart opened #8989 "deno 1.6.3 bundler doesn't properly handle re-exports of upstream lib"
At some point I recall some 'best practice' of isolating external imports into a single file, re-exporting the imported symbols, and then referencing them from the reexported file, ie:

externaldep.ts:
[code]
local code would then:
[code]

This pattern is quite useful as it provides a very specific place where an external dependency is loaded and referenced (ie one file to change).

Alas, this pat

[2021-01-04 18:12] rracariu commented on #8224
Still reproduces in `1.6.3`

[2021-01-04 20:36] wperron commented on #8118
@littletof is this issue still relevant? last I checked I wasn't able to reproduce on Windows, are you still having the issue on your setup?

[2021-01-04 21:28] iwahbe opened #8992 "Cargo install fails to build"
`cargo install deno` fails to install with build error `failed to resolve: use of undeclared crate or module swc_ecma_transforms_base`. Manually building by downloading the `deno(1.6.3)` repo and using `cargo build --release` works fine. `cargo install --path $DENO/cli` also fails with the same error.

<details>
    <summary> Logs </summary>

[code]
</details>

Versions:
Cargo: `cargo 1.50.0-night

[2021-01-04 21:49] kitsonk commented on #8989
@aricart can you provide a specific re-production, as I believe we have tests (as well as swc) where this is done, but might fail under certain conditions.

[2021-01-04 22:01] FallingSnow opened #8993 "lsp: JSX cannot be used"
How can I pass the `--jsx` flag to the deno lsp?

**Describe the bug**

While using the Canary extension, I get the following errors all over my project.

[code]
**Versions**

vscode: 1.52.1
deno: 1.6.3
extension: 0.0.6

[2021-01-04 22:03] aricart commented on #8989
@kitsonk the description of #8725 has steps, the branch is still there so it should work for you to just `deno bundle https://raw.githubusercontent.com/nats-io/nats.ws/deno-1.6.0/src/mod.ts` - the issue has a flow through one of the symbols.

[2021-01-04 22:03] aricart commented on #8989
Alternatively you can close this issue and reopen #8725.

[2021-01-04 22:08] kitsonk commented on #8725
This is still broken.

[2021-01-04 22:08] #8989 closed

[2021-01-04 22:11] kitsonk commented on #8993
It should just work, it is a bug with the lsp that we need to fix.

[2021-01-04 22:33] FallingSnow commented on #8993
Is there a work around I can use in the mean time?

I tried adding a tsconfig.json which from what I've read should fix it. But it seems like deno_vscode doesn't pick up on it.
[code]

Or maybe no changes in a tsconfig.json can help, it must be done in the lsp?

[2021-01-04 22:44] smcenlly commented on #6694
@caspervonb - as @ArtemGovorov mentioned:

[2021-01-04 23:02] lucacasonato commented on #8993
If you use the canary channel of Deno, there should be support for `tsconfig` in the recent builds. You can specify the tsconfig path via the `deno.config` preference.

[2021-01-04 23:15] #8656 closed

[2021-01-05 01:36] aricart opened #8994 "Deno.tls in 1.6.2 and 1.6.3 not working correctly"
Haven't verified a reason on the server side, as I need to get a properly configured server and look at our logs, but clients that do tls upgrades under 1.6.3 are not connecting (had been working correctly until 1.6.2). Likely there's a cypher/curve that was removed from deno - our server currently supports:

[code]

[code]

[2021-01-05 02:03] FallingSnow commented on #8993
I set `"deno.config": "./tsconfig.json"` on `.vscode/settings.json` but still see the same errors. I tired excluding everything to see if the tsconfig was being picked up but the errors still come through.

`settings.json`
[code]

`tsconfig.json`
[code]

Also are you referring to Canary for the deno or vscode_deno? (I'm using `denoland.vscode-deno-canary 0.0.6`)

[2021-01-05 02:32] caspervonb commented on #8982
Yeah so I was on v1.47 yesterday when I was looking into this. Bumped rustup and rebuilt today, seems to be all good on master with up to date Rust 👍

[2021-01-05 06:05] wederribas commented on #8992
I got the same error.

`Updating crates.io index
  Downloaded deno v1.6.3
  Downloaded 1 crate (2.3 MB) in 0.56s
  Installing deno v1.6.3
  Downloaded base64 v0.13.0
  Downloaded either v1.6.1
  Downloaded darling_macro v0.10.2
  Downloaded fs2 v0.4.3
  Downloaded crc v1.8.1
  Downloaded http v0.2.2
  Downloaded inotify-sys v0.1.4
  Downloaded httpdate v0.3.2
  Downloaded base64 v0.12.3
  Download

[2021-01-05 09:59] glowingblue opened #9000 "String.prototype.normalize() seems to to be available?"
Dealing with some annoying strings that I try to tame with `.normalize()` but it doesn't seem to work in deno (while it does in browsers), can you confirm that?

https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String/normalize

[2021-01-05 10:54] picode7 commented on #3139
Solution when running on Windows:

[code]
https://stackoverflow.com/a/62259110/4339170

Please add an uninstall command that works for any system and user command-line knowledge.

[2021-01-05 11:07] #6229 closed

[2021-01-05 11:16] #8623 closed

[2021-01-05 11:47] lucacasonato opened #9001 "Web Platform Tests coverage tracking issue"
In #8990 we added a WPT runner, and the entire WPT test suite to the repo. We are now able to run web platform tests. Currently only a very limited amount of tests is enabled, and many tests will fail once we enable testing them. We would like to get more coverage for our built in Web APIs. I have listed all of the suites that are potentially relevant for us below.

- [x] Compression (once we add

[2021-01-05 11:49] lucacasonato commented on #9000
This is effectively a duplicate of #1968. We are planning to address this this quarter (see roadmap #8824).

[2021-01-05 11:49] #9000 closed

[2021-01-05 11:52] lucacasonato commented on #8994
We are going to need a little more info here. What TLS APIs are you using?

[2021-01-05 11:53] glowingblue commented on #9000
@lucacasonato thx for the quick reply! looking forward to that =)!

[2021-01-05 11:58] glowingblue commented on #1968
no idea if that's a potential path forward, but how about to deno builds, basically one with ICU and one without for apps that don't need it and want to save the bloat?

[2021-01-05 12:06] glowingblue commented on #8972
I think this is related to some of the comments in this issue https://github.com/denoland/deno/issues/7457#issuecomment-693631074

[2021-01-05 12:37] #8972 closed

[2021-01-05 12:37] lucacasonato commented on #8972
This should be fixed in the latest deno canary build (will be available in about 40 minutes). You can try it out with `deno upgrade --canary`.

[2021-01-05 12:44] lucacasonato commented on #9001
I am going to start work on the `URL` test suite.

[2021-01-05 13:28] bartlomieju opened #9002 "PermissionDenied errors are misleading in self-contained binaries"
[code]

`run again with the --allow-read flag` makes no sense in self-contained binaries because after (#8738) permissions are embedded in the binary and can't be changed.

In this situation we should provide different message.

CC @lucacasonato @nayeemrmn

[2021-01-05 13:41] dharmax commented on #653
What was decided on that matter?

[2021-01-05 15:15] aricart commented on #8994
tls connection upgrade.
[code]

[2021-01-05 15:21] aricart commented on #8994
@lucacasonato  - found the issue. If the `StartTlsOption.certFile` has an empty value the connection fails. Previous behaviour ignored the empty string value.

[2021-01-05 15:32] lucacasonato commented on #9001
I will also take `Encoding`, because this being correct is a prerequisite for `URL`.

[2021-01-05 15:42] nayeemrmn commented on #9001
If you're interested in looking into it, at some point we really should replace `URL`'s implementation with `rust-url` since it was literally made for that for Servo/Firefox IIRC.

[2021-01-05 16:26] aricart commented on #8994
hold on - StartTlsOption.certFile may not have anything to do with this.

[2021-01-05 17:51] Spoonbender commented on #8912
Well, when you use deno to compile you are already in "development tools land", so I think this is acceptable as long as deno is usable as a runtime without these dependencies.

[2021-01-05 18:53] lucacasonato commented on #9001
Can you open a new issue?

[2021-01-05 19:09] lucacasonato opened #9006 "bug: encodeInto implementation is not correct"
You can enable the failing WPT tests by adding this snippet to `cli/tests/wpt.jsonc`:

[code]

Errors from the failing tests look like this:
[code]

[2021-01-05 19:41] eliassjogreen commented on #8912
I think most people developing using windows already have either the Windows Sdk or minGW64 installed as required by [winres](https://github.com/mxre/winres), a crate for editing executable resources. This could be kept as an unstable feature as it requires an external dependency. For osx it seems to be quite easy according to this [stackoverflow question](https://stackoverflow.com/questions/30291

[2021-01-05 20:41] 00ff0000red opened #9008 "Parsing errors cause --watch to stop"
When running a TS project with `--watch`, whenever I get a syntax error that is not caused by TSC (I think these are SWC), the file watcher never restarts on the next file change.

Example error:
[code]

Is that an SWC error?
I wanted to say that this could be related to SWC issue https://github.com/swc-project/swc/pull/1274, but the watcher still was able to log to stdout that it was finished, so

[2021-01-05 20:48] lucacasonato opened #9009 "bug: performance.measure throws SyntaxError instead of DOMException"
`self.performance.measure("measure", "mark")` should throw `DOMException` with code 12 (syntax exception). Instead it throws `SyntaxError`. Found via WPT. Tests can be enabled via `cli/tests/wpt.jsonc`.

cc @kitsonk

[2021-01-05 20:58] lucacasonato opened #9010 "Implement PerformanceObserver"
Implemented in all evergreen browsers and Node.

https://developer.mozilla.org/en-US/docs/Web/API/PerformanceObserver/PerformanceObserver

Tests are available through WPT.

[2021-01-05 21:41] tarikeshaq commented on #9001
Hello! Pretty new here, but I can take the `console` tests if that's okay. I'll add the test suites and open a PR to see if we'd like to fix any failing tests!

[2021-01-05 21:45] kitsonk commented on #1968
We are working on a solution for Deno 1.7.0.

[2021-01-05 22:07] starkpsmichael opened #9014 "more consistent way to handle transpiling, linting standards and errors/warnings"
# Problem

[code]

Using `// deno-lint-ignore no-explicit-any` for the second case:
This is inconsistent - [deno-lint recommends to using unknown type](https://lint.deno.land/#no-explicit-any).

Ok, now - what should be done, everything is wrong. ;)
This should really be more consistent.

The above is only an example, what iam aiming for is a consistent way to handle the standards/recommendations

[2021-01-05 22:15] nayeemrmn commented on #9014
The first two messages seem fine, other than that maybe the linter error for the second one could suggest trying `unknown`. I'm not sure what the third message is, is `Deno.emit()` giving this error? I don't see it.

[2021-01-05 22:17] kitsonk commented on #9014
Linting is always optional and advisory.  There are hints to suppress linting errors if you have a better context.  Linting recommendations are not a "cure all" and cannot cover every case.  In some cases, `unknown` might make sense, in others, using a specific type is better, but of course it depends on what you are actually doing with the code.  None of the examples provided are "real world" exa

[2021-01-05 22:31] starkpsmichael commented on #9014
Following the discussion on discord, my wish/best case would be a deno binary, wich uses deno-ts and integrates deno-lint, they use the same configurations/configs/suggestions.
Also for these who would like to opt out of linting, there would be an option.
Like useStrict in typescript (yeah i know, linting is not strict at all, but hey)

This would be for me the best enduser exp.
Rules and recommen

[2021-01-05 23:42] #3867 closed

[2021-01-05 23:50] starkpsmichael opened #9017 "Implement WebTransport (QUICTransport) API"
Once we have [QUIC](https://github.com/denoland/deno/issues/3995) support implemented, we should consider implementing the [WebTransport API](https://github.com/w3c/webtransport).

A long way to go, but just to have a place for discussions for this feature.

More informations:
- https://web.dev/webtransport/

[2021-01-06 00:25] kitsonk opened #9018 "lsp: restructure source management"
We currently have 3 abstractions to handle sources in the lsp... `doc_data`, `file_cache` and `sources`.  The first two abstractions were adopted from `rust_analyzer` and they make sense in the context of `rust_analyzer` but they don't make sense in the way we need to manage sources for the lsp.  In addition we had to add `sources` to manage on disk cache sources and other dependencies for Deno pr

[2021-01-06 01:07] CrimsonCodes0 opened #9021 "Idea: introduce --csp cli flag"
Inspired by [dart2js](https://dart.dev/tools/dart2js#analysis-options)'s --csp flag
Somewhat related https://github.com/denoland/deno/issues/1639?

I suggest introducing a --csp flag, or a way to sort of opting into (*some of the*) browser-like [CSP](https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP) restrictions.

Most of CSP is completely irrelevant to JS, but "script-src" could prevent unsa

[2021-01-06 02:22] #5059 closed

[2021-01-06 02:27] kitsonk commented on #9021
I am not sure what benefit this would offer above the existing Deno security model.

Could you provide some specific use cases of something you think Deno should permit, but does, and that throwing an error would be beneficial to the user?

[2021-01-06 03:07] 00ff0000red commented on #9021
Well, networking is already covered by --allow-net, so the only other part would be dynamic code generation.
Generally, dynamic code gen isn't a good thing to see, especially with JavaScript, it's not as bad as, say, C, where I've seen some JiT compile the hardware stack and execute it, since JavaScript doesn't have that level of power, but regardless, it's never good.

Maybe the community would h

[2021-01-06 07:01] Ivan1931 opened #9023 "deno compile lacks support for jsx syntax"
I am trying to use the new `deno compile` on a project which makes use of `jsx` files.

Currently I attempt to run `deno compile` on a `.tsx` file by running the following command:

[code]
which results in the following error message:

[code]

However it seems like the `--jsx` flag is not yet supported by `deno compile`. I see the following error message when attempting to add it:

[code]

It seem

[2021-01-06 10:31] kitsonk commented on #9023
What happens when you do a `deno run server.tsx`?

[2021-01-06 10:34] kitsonk commented on #9021
That is highly subjective viewpoint.  We just added the ability to support data URLs, because it was highly requested from the community, and one of the big use cases is dynamic code generation and execution.  Often times in server situations, being able to generate and re-generate runnable code on the fly is one of the big uses cases.  Again one of the big reasons for the runtime compiler APIs.

[2021-01-06 10:57] finalwhy opened #9024 "Connection to language server got closed unexpectedly"
### test

**Describe the bug**

**To Reproduce**

**Expected behavior**

**Screenshots**

[Error - 下午6:50:12] Request textDocument/completion failed.
Error: Connection got disposed.
	at Object.dispose (c:\Users\45180\.vscode\extensions\denoland.vscode-deno-canary-0.0.6\client\node_modules\vscode-jsonrpc\lib\main.js:904:25)
	at Object.dispose (c:\Users\45180\.vscode\extensions\denoland.vscode-deno-

[2021-01-06 11:48] kitsonk commented on #9024
This is an issue with the lsp.  I believe it is related to #8753.

[2021-01-06 12:11] Vishal19111999 commented on #9001
@lucacasonato I would like to add wasm, I am new here, so I may take a little time!

[2021-01-06 13:53] #8956 closed

[2021-01-06 14:09] thgh commented on #8256
If you want to use that code from a remote module, you will need to change the moduleURL to a writable path.

But when https://github.com/denoland/deno/issues/5059 is released, it will get easier:
[code]

[2021-01-06 14:17] lucacasonato commented on #944
I think these tests can be reenabled now because of the recent with the resource table fixes.

[2021-01-06 14:51] 00ff0000red commented on #9021
Well, I'll admit it is subjective, but it's pretty subjective either way, there's no way around that; there are always other ways to do anything, technically we *could* all replace any functions that return functions with functions that call eval and use string concatenation.
If you believe that this would provide no benefit to the Deno ecosystem, you could close it as something that the Deno team

[2021-01-06 15:02] caspervonb commented on #7394
Still very much something I want to change for 2.0, tag as suggestion please.

[2021-01-06 15:12] #7505 closed

[2021-01-06 15:57] #8703 closed

[2021-01-06 15:58] lucacasonato commented on #3243
Closing as dupe of #1658.

[2021-01-06 15:58] #3243 closed

[2021-01-06 16:01] lucacasonato commented on #6030
Nothing actionable here. Closing

[2021-01-06 16:01] #6030 closed

[2021-01-06 16:01] lucacasonato commented on #6861
Nothing actionable here. Please ask questions on https://discord.gg/deno.

[2021-01-06 16:01] #6861 closed

[2021-01-06 16:02] lucacasonato commented on #7164
@kevinkassimo Should I classify this is a bug. Is there something actionable to do here?

[2021-01-06 16:03] lucacasonato commented on #3654
Nothing actionable here. Discussions like these are better suited for https://github.com/denoland/deno/discussions, or https://discord.gg/deno

[2021-01-06 16:03] #3654 closed

[2021-01-06 16:06] bartlomieju opened #9029 "Move standard library to separate repository"
Historically standard library was developed in a separate repository (https://github.com/denoland/deno_std) but given rapid pace of changes to Deno public APIs (the TypeScript APIs available on `Deno` global) it was decided that `std` should be developed in tree of the main repo to ensure `std` works with the latests changes in Deno. All of that led to the archival of `deno_std` repository.

Given

[2021-01-06 16:13] FrageDev opened #9030 "deno.exit() with Oak lib issue"
Hi,

I setup a web server with Oak and I have a specific route where the route return a JSON then close the socket and close the process.

My route is :
[code]

The modules.reboot return the JSON with a "4" in the console after the ctx.response.body.
The function closeSocket() :
[code]
I added some delay to do some experimentation. Here the console log of the app :

[code]

Here we can see the res

[2021-01-06 16:41] Seally commented on #9030
`Deno.exit()` as far as I know is a thin wrapper around the Rust exit function. Once that runs everything else that's running -- clean up code, incomplete asynchronous tasks (including the one handling your request) _etc._ -- is pretty much done for. If you need to gracefully shut down the server, better to read this instead: https://github.com/oakserver/oak#closing-the-server

Node has a similar

[2021-01-06 16:58] Soremwar commented on #7873
I forgot about this. The stop is caused by passing `inspect-brk` as a inspect argument. This is supposed to stop on the first line of code executing so behavior is expected (though a little misleading, since I was actually expecting it to stop in the first line of my code but I guess it doesn't work that way).

[2021-01-06 16:58] #7873 closed

[2021-01-06 17:04] FrageDev commented on #9030
@Seally  Thanks for your answer.

The problem is I put 5 secondes delay before exit(), so I should receive the response before because if I execute the same code without the exit I got the response.body in few ms.

For the oak#closing-the-server I do it but the process is still alive, that the reason why in my closeSocket() function I close the web server listening then close the deno process.

[c

[2021-01-06 18:36] Seally commented on #9030
`Deno.exit()` isn't required to exit the Deno process. If it is, a file with just `console.log("abc")` will never exit.

In Node, the process exits naturally if (quoting the docs) "there is no additional work pending in the event loop." I'm not sure how Deno handles it, but I expect it to be similar. Instead of calling `Deno.exit()`, I think it's better to structure your program in a way that clos

[2021-01-06 18:40] mitar commented on #6190
Unstale.

[2021-01-06 18:43] teleclimber commented on #2705
@ry are there any new ideas for the design of allow-net? it seems to issue I originally brought up is still a concern.

[2021-01-06 18:47] waldyrious commented on #4325
Looks like there's some overlap between [runtime/js/README.md](https://github.com/denoland/deno/blob/v1.6.3/runtime/js/README.md) and [docs/runtime/web_platform_apis.md](https://github.com/denoland/deno/blob/v1.6.3/docs/runtime/web_platform_apis.md). It may be worth at least adding a link from that README to the docs page, so content duplication and possible divergence can be avoided.

[2021-01-06 18:48] FrageDev commented on #9030
@Seally This is what I'm going to do, I will just kill the websocket and not the process cause after my function the PC is supposed to reboot so will kill deno process.

And the Deno.exit() seems to don't close the process (I still need to ctrl v on console to go out)

[2021-01-06 18:51] waldyrious commented on #7252
I'd be happy co contribute the surface changes (file locations, common section structure, etc.) if an agreement is reached on them. I can't contribute missing content by myself, but believe even empty sections with a call for contributions would be more useful than missing sections (or missing READMEs entirely).

[2021-01-06 18:56] #8994 closed

[2021-01-06 18:56] aricart commented on #8994
Creating a new issue, with better information.

[2021-01-06 19:15] aricart opened #9032 "Deno 1.6.2 and 1.6.3 fail to fully handshake even after a `Deno.startTls` upgrade completes"
The issue seems to be that `Deno.startTls()` resolves before the connection is fully setup - any writer created on the resulting tlsConnection will fail - here's a test:

[code]

Running with 1.4.6->1.6.1:
[code]

On 1.6.2+ the result is different - the code will block on the `writer.flush()`:
[code]

Removing the `flush()`, will make the program block as the read loop won't ever see the `PONG\r\n

[2021-01-06 19:39] mreinstein commented on #5090
this is still valid and desirable imo.

[2021-01-06 19:48] aminya commented on #3511
Unstale

[2021-01-06 20:31] #4867 closed

[2021-01-06 20:35] Pierstoval commented on #6794
Does anyone have any view on this?

[2021-01-06 20:38] andykais commented on #3354
any chance we can move this to a github discussion? I think its still an important topic. It is likely going to be a long-lived topic as the upstream typescript team hasnt come up with a final answer on this topic yet either

[2021-01-06 20:45] brianleroux commented on #6794
pretty stoked on it but there's now a few wasm based DOM things that work well with Deno…think its a matter of time =)

[2021-01-06 20:50] dontlaugh commented on #2494
Bumping this because it's linked to by https://github.com/denoland/deno/issues/8416

[2021-01-06 21:05] kitsonk commented on #6794
I suspect it is a matter of time. But something we want to do properly and well.

[2021-01-06 21:10] kitsonk commented on #2588
Import maps has started to ship in Chromium. We will continue to align to the standard. Support for features should be done with the standard.

[2021-01-06 21:10] #2588 closed

[2021-01-06 21:12] nayeemrmn commented on #2705
Is there any precedent for this? It seems like not the kind of thing that the permissions system seeks to limit. If it can have one random port, why not have any number of random ports?

[2021-01-06 21:14] nayeemrmn commented on #3511
Closed in #8640.

[2021-01-06 21:17] kitsonk commented on #3354
GitHub has disabled the transfer of issues to discussions be cause it is buggy. It will be reintroduced soon.

I still doubt this is going to be actionable any time soon, and even if there was pluggable transform support for TypeScript, I doubt we would incorporate it into Deno, as we have moved emitting over mostly to swc and will eventually move all of it, and we want consistency and predictabil

[2021-01-06 21:17] #3354 closed

[2021-01-06 21:19] #3511 closed

[2021-01-06 21:22] kitsonk commented on #4001
With import assets being added to JavaScript, any changes to this space will be aligned to Deno supporting that. Closing in favour of #7623.

[2021-01-06 21:22] #4001 closed

[2021-01-06 22:18] Maxim-Mazurok commented on #1371
Occuring an activity :)

[2021-01-06 23:31] jsejcksn commented on #6553
Not stale

[2021-01-06 23:33] jsejcksn commented on #3437
Not stale

[2021-01-06 23:36] jsejcksn commented on #6868
Not stale

[2021-01-06 23:38] nayeemrmn commented on #6868
@jsejcksn As it says above your comment, the stale label is removed once an appropriate label is added.

[2021-01-06 23:43] jsejcksn opened #9035 "Stale bot text is unclear"
Currently, the Stale bot leaves messages with this text:

Whoever is in charge of determining the bot text: Will you please include an actual definition or a link to an an actual definition of "activity" and the actual time interval (e.g. 7 days) before closure so that conversation participants can be informed?

[2021-01-06 23:44] jsejcksn commented on #3846
Not stale

[2021-01-06 23:45] jsejcksn commented on #5863
Not stale

[2021-01-06 23:47] jsejcksn commented on #5040
Not stale

[2021-01-06 23:47] jsejcksn commented on #3137
Not stale

[2021-01-07 00:29] teleclimber commented on #2705
That part of my proposal (limiting the number of times an open port can be obtained) is not as important as the rest.

I proposed limiting the number of times an open port can be obtained because I figured a script could request ports in a loop until the port they obtained was useful for a malicious use (like if they finally landed on an unused mysql port for example.)

But I realize this is more

[2021-01-07 00:36] lucacasonato commented on #3846
Is anything here actionable for us? If not I would like to close and move the discussion to https://github.com/denoland/deno/discussions or https://discord.gg/deno.

[2021-01-07 00:38] lucacasonato commented on #9035
You can update the text in `.github/stale.yml`.

[2021-01-07 00:48] jsejcksn commented on #9035
@lucacasonato Was that message directed at me? I have no idea what the actual settings for the bot are. I'm looking for clarity myself.

[2021-01-07 00:49] lucacasonato commented on #9035
Oh, the settings are all in that file. 60 days to warning, then 7 days before close.

[2021-01-07 00:51] jsejcksn commented on #3846
I'm ok with that. Please post here the link to the new discussion if you move it.

[2021-01-07 00:57] jsejcksn commented on #9035
@lucacasonato Thanks for the pointer! Now I know about the interval setting, but I still don't know what actions constitute "activity". Examples:

- Does reacting to a comment qualify?
- Does posting a comment qualify?
- Does editing an existing comment qualify?
- Does removing a label qualify?
- etc.

[2021-01-07 01:00] lucacasonato commented on #9035
Adding a label that invalidates staleness (`bug`, `feat`, `suggestion`, `build`, `docs`), and posting comments qualify as activity.

[2021-01-07 02:05] jsejcksn commented on #9035
Thanks @lucacasonato. That was the info I needed in order to create a PR.

[2021-01-07 03:46] #9035 closed

[2021-01-07 03:58] kitsonk commented on #2699
Here is the issue tracking stability on `wrap_comments`: https://github.com/rust-lang/rustfmt/issues/3347  It hasn't changed in over a year.

[2021-01-07 04:28] caspervonb commented on #9029
Out of curiosity, any particular reason we can't migrate over to linting and formatting with stable deno?

[2021-01-07 04:29] Ivan1931 commented on #9023
@kitsonk running `deno run server.tsx` works.

[2021-01-07 04:37] nayeemrmn commented on #9029
I agree with @caspervonb, `deno_std` should be maintained as a model userspace library.