[2021-06-13 20:03] faridvatani commented on #6755
Happened to me which imports from std@0.98.0. A simple deno upgrade to 1.11.0 fixed this for me.

[2021-06-13 21:14] KyleJune opened #10945 "Non-null assertion operator ignored in sub context"
The below code example runs in Deno version 1.10.3 but fails in 1.11.0.

[code]

Here is the output when run with Deno 1.10.3. It gives the expected output and the extension didn't show any errors in the code.

[code]

After upgrading to Deno 1.11.0, the same code will no longer run.

[code]

It shows warnings in vs code saying "Property 'x' does not exist on type 'never'.deno-ts(2339)" and "Prope

[2021-06-13 21:59] MagicDuck opened #10946 "lsp: support for path aliases & auto-import?"
hi, I am just in the process of trying out the snazzy deno LSP in an existing javascript project that builds with webpack and was wondering if deno lsp has support for path aliases in `jsconfig.json` (I tried with a `tsconfig.json` as well just in case). Here's my `jsconfig.json`:

[code]

When I tried it, I got the following (in neovim):
![image](https://user-images.githubusercontent.com/95201/12

[2021-06-13 22:06] kitsonk commented on #10945
This isn't an "issue" with Deno, it is an "issue" with TypeScript 4.3 which comes in Deno 1.11.  The code you cite does not work under TypeScript 4.3. (see: [playground 4.3](https://www.typescriptlang.org/play?#code/JYOwLgpgTgZghgYwgAgAoHtRmQbwFDLIAeAXMiAK4C2ARtANwHICeZltDeAvngDYTYADmQxZkAH3IVevZAF4pMxjAogEYYOhDI4AZ13AA5iFQAKAG5xeFCCMzgAlLiaD5yS9YiMeeg8bM4xGQATAA0LGQAzMhcDoz82ABebNR0UG6CAIQAdETIAF

[2021-06-13 22:11] #10946 closed

[2021-06-13 22:24] KyleJune commented on #10945
Closing this since the issue is upstream. I've created a new issue on the TypeScript repository.

https://github.com/microsoft/TypeScript/issues/44575

[2021-06-13 22:24] #10945 closed

[2021-06-14 00:50] TheAifam5 commented on #1371
So even I went into a rabbit hole and without this feature can't get out.

Basically I've spent days on developing a tool for parsing templates and expression compiler using Deno. Now having everything set up, wanted to write the part for handling those templates and sending data to the server in the VM with self-signed certificate - no there is no way to disable SSL on that service (basically a r

[2021-06-14 04:19] grempe commented on #10799
As mentioned in my linked bug report with the upstream lib, the Deno 3rd party `sleep` lib was also triggering this issue for me.

https://deno.land/x/sleep@v1.2.0

[2021-06-14 05:46] Platzer commented on #1699
Sorry I hadn't time to try it out, found it with `deno info`. This should work fine, thx 💪

[2021-06-14 06:10] kitsonk opened #10948 "run_watch is flakey on windows"
The run_watch appears to be flaky on windows: https://github.com/denoland/deno/runs/2807326966#step:31:2276

[2021-06-14 06:11] #10933 closed

[2021-06-14 07:14] kitsonk opened #10951 "lsp: import quick fixes and import suggestions consider import maps"
We don't properly consider import maps when providing import completion suggestions or quick fixes.

[2021-06-14 08:30] lucacasonato commented on #1371
@TheAifam5 The solution for using self signed certificates is not to disable verification, but instead to pass the aped signed CA certificate to --cert so it can be included in the verification logic.

[2021-06-14 09:56] bxantus opened #10953 "Deno.emit() source maps: sources are wrapped inside `<>`"
I am using Deno for client side web development (with preact) and I've tried to bundle my sources using `Deno.emit()`, so I can  have the source maps too, besides the bundle to ease debugging.
This almost works, but all the entries inside the `"sources"` array are wrapped inside angle brackets, like this:
[code]
I'm using the Debugger for Firefox extension in vscode, and unfortunately it can't res

[2021-06-14 10:24] metanomial opened #10954 "Octal literal larger than `2^58 - 1` causes Deno to hang indefinitely"
Running:
[code]
throws `SyntaxError: Octal literals are not allowed in strict mode.`

Running:
[code]
hangs indefinitely.

[2021-06-14 10:38] caspervonb commented on #10944
Working as intended, you need a clean directroy for a clean profile.
This is done to support multi process collection.

This one is a bug however, probably in the merging algorithm.

[2021-06-14 10:40] lucacasonato commented on #10944
This is done to support multi process collection.

We could clean out the folder in the main "parent" process (the one where you specify `--coverage`).

[2021-06-14 10:56] kitsonk commented on #10953
It is because the transpiler we use (swc) does when "custom" module names are used (which are used when we pass them to swc) and we don't "clean" them up.

[2021-06-14 11:51] #10924 closed

[2021-06-14 11:51] metanomial commented on #10954
This bug also causes Deno lint to hang, and therefore causes the Deno VSCode extension to hang.

I encountered this bug after pasting a series of long binary numbers into a page and formatting (format on save was enabled) the document before adding the `0b` prefixes. The binary numbers starting with `0` bits were valid octal literals well over 2^58. A window reload was required to unblock the form

[2021-06-14 12:52] #10870 closed

[2021-06-14 12:56] mitranim commented on #10870
Appreciate the responsiveness and speedy fixes!

[2021-06-14 13:17] dsherret opened #10955 "Import declarations in the REPL"
This was previously discussed in #1285 and the suggestion was to use dynamic imports. Taking some code that has import declarations and getting it to work in the REPL currently requires a manual transformation to dynamic imports though, which is not so convenient. This could be automatic.

I have a branch with a rough implementation of this that could be cleaned up then merged after #10934.

Relat

[2021-06-14 13:18] magurotuna commented on #10954
This apparently is caused by the same cause as https://github.com/denoland/deno/issues/10893.

Running `dlint run foo.ts`, where `dlint` is brought from [deno_lint repo](https://github.com/denoland/deno_lint/releases/tag/v0.6.0) and `foo.ts` contains `020000000000000000000;`, I got:

[code]

This error is identical to the one reported in #10893.
While we'd need to wait for swc to be fixed, chances

[2021-06-14 13:47] nabezokodaikon opened #10956 "[question] Why do I need to be an arrow function when calling a javascript function asynchronously?"
Why do I need to be an arrow function when calling a javascript function asynchronously?
If you define it in function normally, you will get an error that it is not defined.

Cargo.toml
[code]

lib.rs
[code]

timer.ts
[code]

build.sh
[code]

<img width="866" alt="スクリーンショット 2021-06-14 22 31 30" src="https://user-images.githubusercontent.com/3197942/121900429-603b8500-cd60-11eb-9898-bccfd57cf208.pn

[2021-06-14 14:11] #10956 closed

[2021-06-14 14:30] magurotuna commented on #10954
After some investigation, the hang happens only in release build, not in debug build because in debug build Rust checks for overflow on every arithmetic operation.
Also, in the release build, the hang is caused by an infinite loop that occurs unexpectedly due to overflow, so it seems like there's nothing we can do to address it ourselves. All we can do is wait for the upstream (swc) fix.

[2021-06-14 15:39] kt3k commented on #10847
Sorry for the late comment, but does Node.js implement this API? It has `require("crypto").randomUUID`, but not `require("crypto").webcrypto.randomUUID`.

I'm also a little worried about the status of the spec. The spec, chrome impl, and wpt impl are all done by the single author, and I don't find much discussion between browser vendors. Can we safely assume this is going to be finished as is?

cc

[2021-06-14 15:51] lucacasonato commented on #10847
@kt3k It is implemented in Chromium, and will ship in 92 (6 days from now). WPT pass: https://staging.wpt.fyi/results/WebCryptoAPI?label=master&label=experimental&aligned&q=randomuuid. Chromium stabilization patch here: https://chromium-review.googlesource.com/c/chromium/src/+/2881025

![image](https://user-images.githubusercontent.com/7829205/121921206-13908380-cd39-11eb-96af-e0cf8a1a4cf0.png)

[2021-06-14 16:00] lucacasonato commented on #10312
still not fixed, so reopening

[2021-06-14 18:30] jimmywarting commented on #4394
I have not liked this rule

The problem, take the code below.

`async function test() { throw new Error("test"); }`

There is no await, but what the async does here is guarantee a Promise. So the following code will return got.

`test().catch(function (e) { console.log("got"); })`

Take away the async and the above code is going to fail big time Now if you can guarantee you are always going to cal

[2021-06-14 18:35] dsherret opened #10962 "REPL does not complete declarations"
For example...

[code]

...does nothing.

I'm not sure if this is a bug or a feature that just hasn't been done so please categorize accordingly.

[2021-06-14 19:30] dsherret commented on #9761
I'm able to reproduce.

[2021-06-14 20:10] #10940 closed

[2021-06-14 20:25] #10893 closed

[2021-06-14 20:25] #10954 closed

[2021-06-14 20:33] jdfoster commented on #10916
@dsherret Thanks for the links. The incompatibility between zod and typescript has been patched in the latest zod release (v3.2.0). I shall close this issue. Thanks for the great work.

[2021-06-14 20:33] #10916 closed

[2021-06-14 20:34] #9761 closed

[2021-06-14 21:13] dsherret commented on #9880
This can actually be reproduced by just running the expression `Event.prototype` (issue is that it inspects getters that will throw an error). Will fix it soon.

[2021-06-14 21:54] robb-j opened #10966 "lsp: Internal error trying to integrate with Nova.app"
I've been trying to hook up `deno lsp` with https://nova.app, but I've hit a problem where the request for `textDocument/completion` result in this error:

[code]

This is while typing an "r" inside the for loop of the [example/server.ts](https://github.com/robb-j/nova-deno/blob/main/examples/server.ts) and I would expect it to show a completion for at least `req`. So far I've got Nova and Deno ta

[2021-06-15 00:32] kitsonk commented on #10966
`triggerCharacter` isn't doing what you think it is doing.  The client should not pass an arbitrary character, it should only pass a `triggerCharacter` when it is automatically trigger by language syntax.  For JavaScript/TypeScript/JSX/TSX the valid characters are:

[code]

Which are provided in the server capabilities message at startup under `completionProvider.triggerCharacters`.  If it isn't o

[2021-06-15 01:44] Maxim-Mazurok commented on #1371
@lucacasonato are you describing a potential solution or something that deno already supports? It didn't have `--cert` flag last time I've checked...
[code]

[2021-06-15 01:58] xie-shujian opened #10968 "cannot install file_server"
when run the below cmd
deno install --allow-net --allow-read https://deno.land/std@0.98.0/http/file_server.ts
it raised an error

**error: TS18022 [ERROR]: A method cannot be named with a private identifier.
  #tryGrowByReslice(n: number) {
[code]

[2021-06-15 02:03] xie-shujian commented on #10968
it is in deno 1.10
but it is not raise the error in deno 1.11

[2021-06-15 02:17] mustakimur commented on #10831
@satyarohith please, use the file (that we have provided) itself instead of copy/paste input.

[2021-06-15 02:27] kitsonk commented on #10677
I will be raising a PR soon that delivers this feature using the `compilerOptions.types` across all different forms of type checking we support (`Deno.emit` and the `--config tsconfig.json` forms).

[2021-06-15 03:02] dianestephens commented on #10927
Input file(s) can be found here: https://github.com/mustakimur/crash_report/tree/main/deno/10927

[2021-06-15 08:23] robb-j commented on #10966
Ok that makes sense, I will submit a bug for Nova's LanguageServer client and relay this information. Thanks for your help!

[2021-06-15 08:23] #10966 closed

[2021-06-15 08:30] getspooky commented on #10968
Hi @xie-shujian , This problem is related to typescript , deno `v1.11` use typescript ` v4.3` that support ES Private Methods.
Please see:
-  https://github.com/denoland/deno/issues/5258
- https://github.com/denoland/deno/pull/9960

[2021-06-15 09:11] codehz commented on #9694
@kitsonk
worker.ts: keep empty
main.ts:
[code]

[2021-06-15 09:18] lucacasonato commented on #1371
Deno has had a --cert flag since 1.0. You must specify it after the subcommand.

[2021-06-15 11:33] cryptogohan commented on #1371
For those ending up here trying to connect to databases, I started a discussion [over here](https://github.com/denoland/deno/discussions/10834) and identified some work to be done to make things work. I'll also update as things start working. Slow going for now, but may already contain hints for people with SSL issues.

For theaifam5 passing a cert should already do the trick! Either as a flag or

[2021-06-15 11:37] cryptogohan commented on #10312
Hmm, I think I can step-out here. For my case it seems self-signed certificates are working fine, I've managed to narrow down the issues to different things. There is the [Digital Ocean case](https://github.com/denoland/deno/discussions/10834) I discuss over here that hits a `InvalidData: invalid certificate: BadDER` error but I doubt that is this issue.

[2021-06-15 11:54] lucacasonato commented on #10968
Update to Deno 1.11

[2021-06-15 11:54] #10968 closed

[2021-06-15 13:31] #10962 closed

[2021-06-15 15:57] ry opened #10974 "minimum timer value should depend on nesting level, per spec"
https://html.spec.whatwg.org/multipage/timers-and-user-prompts.html#timers
"If nesting level is greater than 5, and timeout is less than 4, then set timeout to 4."

Currently we use 4ms minimum regardless of nesting level

[2021-06-15 18:30] dsherret opened #10975 "Inspecting a proxy with `showProxy: false` incorrectly inspects the target"
The code in 02_console.js does not seem to properly inspect any object that's a proxy when `showProxy: false` (default) and instead inspects the target of the proxy.

For example:

[code]

Expected output:

[code]

Actual output:

[code]

Affects Deno 1.11.0.

[2021-06-15 18:51] andreubotella opened #10978 "extensions/web: Improving the performance of the text encoding APIs"
After switching the implementation of the text encoding APIs to use `encoding_rs`, there was a user report at https://github.com/denoland/deno/pull/10844#issuecomment-855336951 that the new implementation was significantly slower than the old Javascript-based one. Although the difference was to some extent reduced with #10865, the gap with the previous implementation is still large.

I looked deep

[2021-06-15 19:33] #10975 closed

[2021-06-15 19:54] lucacasonato opened #10980 "WritableStream close WPT result in internal assertions & promise rejections"
See results: https://staging.wpt.fyi/results/streams/writable-streams/close.any.html?label=master&product=deno

It feels to me like all failures are caused by the same underlying issue that results in some promise either not being handled correctly, or being resolved / rejected at the wrong time.

[2021-06-15 22:16] lucacasonato commented on #10244
Tokio supports named pipes now, so this should be unblocked: https://github.com/tokio-rs/tokio/releases/tag/tokio-1.7.0

[2021-06-15 22:29] lucacasonato opened #10984 "Use webidl helpers for Event / EventTarget"
Various minor issues arise from not doing this: https://wpt.fyi/results/dom/events/AddEventListenerOptions-signal.any.html?label=master&product=deno

[2021-06-15 22:33] lucacasonato opened #10985 "Add newer encoding labels to TextEncoder"
Blocked on https://github.com/hsivonen/encoding_rs/pull/68

[2021-06-15 22:38] lucacasonato opened #10986 ""data:text/plain;a=\",\",X" is not parsed correctly by fetch"
See relevant WPT test: https://staging.wpt.fyi/results/fetch/data-urls/processing.any.html?label=master&product=deno

Likely needs to be fixed upstream in [`data-url`](https://github.com/servo/rust-url).

[2021-06-15 22:42] lucacasonato opened #10987 "Default `accept-language` header in `fetch`"
The fetch spec mandates we add a `accept-language` header to all outgoing responses. Should we? If we do, should we choose the platform language (the one also used by default for Intl APIs), or should we hard-code it to english?

[2021-06-15 22:52] lucacasonato opened #10988 "Request body `ReadableStream` chunks are not validated"
When reading the readable stream, we should validate that all chunks are of type `Uint8Array`. See https://fetch.spec.whatwg.org/#incrementally-read-loop and https://streams.spec.whatwg.org/#readablestreamdefaultreader-read-all-bytes.

[2021-06-15 22:54] lucacasonato opened #10989 "Fetch is not retried on a 421 response on a new connection"
See step 15 of https://fetch.spec.whatwg.org/#concept-http-network-or-cache-fetch. Probably requires upstream support in `reqwest`.

[2021-06-15 23:00] lucacasonato opened #10990 "Fetching with method `HEAD` should not have body"
HEAD and OPTIONS requests should not have bodies. You can see this issue by fetching `data:,response%27s%20body`. https://fetch.spec.whatwg.org/#concept-main-fetch step 19 says that body should be set to null for HEAD and OPTIONS.

[2021-06-15 23:05] lucacasonato opened #10991 "Headers should be treated as byte strings"
Currently we cast strings to UTF-8 all over the place. They should instead be transferred as byte strings from Rust into V8 and back. This means we probably need to add a `ByteString` magic type to `serde_v8` that stores the inner string as a byte vector.

[2021-06-15 23:18] lucacasonato opened #10992 "Add `Origin` header to outgoing requests for fetch"
With `--location` set the header should be the location origin (or worker location origin). If it is not set the origin should be `null`.

[2021-06-15 23:21] lucacasonato commented on #9001
`fetch/api/body/formdata.any.js` should be enabled.

[2021-06-15 23:26] lucacasonato opened #10993 "Body disturbed state is not checked when creating Request from existing Request"
See https://staging.wpt.fyi/results/fetch/api/request/request-init-stream.any.html?label=master&product=deno&product=servo&product=chrome

[2021-06-15 23:31] lucacasonato opened #10994 "Use structuredClone for teed ReadableStreams in Response.clone"
See https://staging.wpt.fyi/results/fetch/api/response/response-clone.any.html?label=master&product=deno&product=servo&product=chrome

[2021-06-15 23:41] lucacasonato opened #10995 "Performance global is not an EventTarget"

[2021-06-15 23:43] lucacasonato opened #10996 "URL global should use webidl helpers"
See https://staging.wpt.fyi/results/url/idlharness.any.html?label=master&product=deno

[2021-06-15 23:54] jimmywarting commented on #2456
Hi, I have develop a pluggable [adapter/polyfill](https://github.com/jimmywarting/native-file-system-adapter) that follows the file system access specification. Meaning: you can hookup any storage you want with it. I just uploaded a adapter for Deno

if you would like to try it out then you can import this typescript friendly (jsDoc:ed) ESM module in browser, deno, or node

[code]

[2021-06-15 23:59] zachauten commented on #6237
Looks like clap is adding man page generation in v3, is this something deno would be interested in using? clap-rs/clap#1037.

[2021-06-16 00:46] #10980 closed

[2021-06-16 01:45] bartlomieju opened #10997 "Consider using list completions in REPL"
`rustyline` allows to configure how completions work. Currently Deno uses "circular" method which completes on tab and on subsequent tab propose next completion.

`rustyline` can be configured to use "list completions" which on second tab show list of possible completions:
![Screenshot 2021-06-16 at 03 44 21](https://user-images.githubusercontent.com/13602871/122145253-2dbf8400-ce55-11eb-8095-02c9

[2021-06-16 01:47] bartlomieju opened #10998 "REPL syntax highlighting is quirky"
Example:
![Screenshot 2021-06-16 at 03 44 21](https://user-images.githubusercontent.com/13602871/122145436-8abb3a00-ce55-11eb-851e-de0a208ab5a5.png)

Only `Infinity`, `Nan` and `undefined` are colorized. All the other symbols are displayed in default font.

[2021-06-16 04:28] caspervonb commented on #10998
Intentional, same colorization as console.

[2021-06-16 05:06] caspervonb commented on #10997
Related https://github.com/denoland/deno/pull/7827#issuecomment-712394528

[2021-06-16 05:07] caspervonb commented on #10997
Caveat to be aware of; any kind of async output will completely destroy that printout.

[2021-06-16 05:19] caspervonb opened #11000 "REPL becomes unresponsive to signals with short intervals"
Can't interrupt this:

[code]

[2021-06-16 05:22] Buraburaite commented on #10808
Rust is hard. After about a dozen different tries, this is the only solution that I could get to compile:

[code]

I would prefer to write something like this, but I can't get it compile (error is `no method named "is_empty" found for enum "std::option::Option<std::option::Option<std::string::String>>" in the current scope`:
[code]

How I (kind of) tested It
---
1. Fork deno
2. Run `cargo run ---

[2021-06-16 05:29] bartlomieju commented on #10997
Why is that? We collect the whole list of suggestions before they're returned to `rustyline` for display.

[2021-06-16 05:48] caspervonb commented on #10997
Ah no, I'm wrong.
It acts like bash where it's a printout to stdout, not zsh where it is in the line buffer.
So the printout will just fly by if things are being printed using console, same as Node.

[2021-06-16 10:07] iugo commented on #10987
https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Accept-Language

Maybe should use `Accept-Language: *`.

[2021-06-16 10:49] lucacasonato commented on #10988
Blocked on upstream spec decision because of full duplex streaming: https://github.com/whatwg/fetch/issues/1254

[2021-06-16 10:59] getspooky commented on #10990
Fixed https://github.com/denoland/deno/pull/11003

[2021-06-16 11:42] wperron opened #11004 "Style guide should encourage code example in comments"
With support for running type checking on code block examples in Jsdoc comments, we should upgrade the style guide accordingly.

[2021-06-16 12:09] grian32 commented on #11004
Will fix this in an upcoming PR.

[2021-06-16 16:12] ebebbington opened #11009 "Emit: Producing incorrect declaration files"
**Description**

When using Deno.emit, it seems to have problems when emitting files that use ES private properties.

When this file is being emiited:

[code]

It produces this:

[code]

I use the following to emit:

[code]

**Repro**

[code]

Check `dist/parsing/TemplateResult.d.ts`, there's just a line with `#private`. Compare this with `src/parsing/TemplateResult.ts`

[2021-06-16 16:26] ry commented on #11004
closed in https://github.com/denoland/deno/pull/11006

[2021-06-16 16:26] #11004 closed

[2021-06-16 16:40] #10996 closed

[2021-06-16 17:39] lucacasonato commented on #10987
That sounds like a plan 👍

[2021-06-16 21:33] TheAifam5 commented on #1371
The --cert does not work for whatever reason and I still get the same issue. Similar to the #8939 which got just closed without even waiting if the solution provided actually solves the problem.

[2021-06-17 02:21] lawrence-dol opened #11011 "Lint: Ban Unused Ignore"
I have set up development environment to use a common set of linting rules for all files, that represent the actual requirements we have in place.

The problem is that all files fail to pass linting because in every file some of the ignored linting rules do not apply; thus the `deno lint` command *always* emits "errors" for these, and *always* returns a non-zero error level (causing my wrapper to

[2021-06-17 02:30] lawrence-dol opened #11012 "CLI option for lint ignore directives"
I have hooked up Deno to lint source files on-demand. But there are numerous linting rules which we, as a company, need to ignore. Adding them to *every single source file* would be highly cumbersome, and undesirable. I will absolutely get push back from developers who will simply refuse to lint their code entirely.

Is it possible to provide a global list of ignore rules for `deno lint` in the co

[2021-06-17 02:37] Ronsor opened #11013 "Deno: "failed printing to stdout" panic when piped to `less`"
Example program:
[code]

Save as `stdoutbug.ts` and run as `deno run stdoutbug.ts | less`. Press `q` to exit `less`.

The resulting panic:
[code]

Presumably this happens when deno output is piped to any program that does not continuously call `read()` to keep the pipe buffer from filling.

[2021-06-17 02:54] magurotuna commented on #11011
Currently, `ban-unused-ignore` rule cannot be suppressed by the directive like `// deno-lint-ignore ban-unused-ignore`. This is because this rule is implemented internally in a little different way than other rules, but I think this rule also should be suppressed by the directive. I'll give it a shot.

[2021-06-17 05:47] magurotuna commented on #11012
Duplicate of https://github.com/denoland/deno_lint/issues/166 (except for command line option)
this feature is of relatively low priority as far as I understand though, because the linter is trying to be opinionated as much as possible by providing users with almost no config.

FYI there is a standalone binary including the linter only, which is available on [the release page of denoland/deno_lint

[2021-06-17 07:27] nayeemrmn opened #11014 "Redundant re-checking of dynamic imports"
![image](https://user-images.githubusercontent.com/29990554/122350163-e1537180-cf44-11eb-8c07-8ae6b2957af3.png)

You can cause the module to be type-checked again by changing the file between repeated dynamic imports, but the module is already loaded so this should not happen.

_Fully_ short-circuiting a repeated dynamic import is quite hard, but we can easily skip the `load_prepare()` step under

[2021-06-17 12:05] lucacasonato opened #11016 "Implement new two-tier subprocess API"
[code]

This new API provides a high level, super easy to use API (`Deno.exec`), and a low-level more intricate API (`Deno.spawn`). `Deno.exec` can be used for all cases where the user just wants to spawn a subprocess and wait for it to complete. For this API no resources need to be manually closed. `Deno.spawn` can be used for longer lived subprocess that you communicate with - they can also be d

[2021-06-17 12:16] lucacasonato opened #11017 "Users can set "Host" header for `fetch`"
The `host` header should not be able to be set by the user. It should always be populated by `reqwest` / `hyper`.

[2021-06-17 13:59] ry opened #11018 "New File System API"
This API would live in parallel with the existing low-level file system API provided by `Deno.open`, `Deno.write`, `Deno.read`, `Deno.readDir`, ...

Writing to a file:
[code]

Also directory listing
[code]

https://wicg.github.io/file-system-access/

[2021-06-17 14:10] dsherret opened #11019 "`deno lsp` should exit when the editor process no longer exists"
When launching `deno lsp` it should check for the existence of the editor process every X seconds. If the editor process no longer exists, then it should exit.

This could be achieved reliably via a CLI flag:

[code]

The reason for a flag is because getting the parent pid without the flag is is not always reliable and using a CLI flag requires less platform specific code.

Refs:

https://github.c

[2021-06-17 14:14] lucacasonato commented on #11018
This is blocked on #10969

[2021-06-17 14:50] jimmywarting commented on #11018
dupl of #2456 ?

[2021-06-17 14:53] lucacasonato commented on #2456
Closing in favor of #11018. It has more up to date details and API specification.

[2021-06-17 14:53] #2456 closed

[2021-06-17 14:58] sebastienfilion commented on #11018
The example creates a blob and does nothing with...
[code]

[2021-06-17 15:00] jimmywarting commented on #11018
Maybe this could return the cwd:
[code]

It's your own sandboxed directory that you can read/write to without any permission promps

[2021-06-17 15:03] wperron commented on #11016
In its current form, the current proposal would be a No for me.

I like that we're adding `Deno.file` to the stdin, stdout and stderr options,
though I would prefer having `Reader & Closer` for stdin and `Writer & Closer`
for stdout and stderr as that would be more flexible and also represent the
direction of the stream better. Since `Deno.File` implements all of `Reader`,
`Writer` and `Closer`, f

[2021-06-17 15:41] luvies commented on #10470
Wouldn't it make sense to add a field to the `listenDatagram` options object to enable or disable broadcasting? Something like:

[code]

The Python API seems to only enable broadcasting if explicitly enabled, it feels reasonable to follow the precedent on that.

[2021-06-17 16:11] luvies opened #11022 "Stabilising UDP/Datagram"
I couldn't find any issue tracking the progress on stabilising UDP in Deno, so I wanted to ask the current status of it was. Is it close or is there work to be done?

[2021-06-17 17:51] nayeemrmn commented on #11016
These properties being optional in `Deno.Process` first lead to users always having to use `!` assertions, then a lot of complexity with generic types to alleviate that problem. I think they should be present unconditionally and throw a runtime `TypeError` when you try to read/write them. Not sure what to do with `ExecOutput`.

[2021-06-17 17:58] wperron commented on #11016
could also remove the `?` since there's only 4 possible types with default values

[2021-06-17 18:30] jimmywarting opened #11024 "Normalize FormData line breaks"
I took a look at your FormData encoder to see if i could help in this area (with async blob source) also but notices this:

https://github.com/denoland/deno/blob/5814315b708d154ebb2c29810c16e5af7e726741/extensions/fetch/21_formdata.js#L372-L378

I have also had my fair deal of trying to get this right in my formdata-polyfill

- https://github.com/jimmywarting/FormData/pull/67
- https://github.com/

[2021-06-17 19:17] lawrence-dol commented on #11012
@magurotuna : Thanks, I'll try that out today.

But do note that one of the reasons I've decided to base our dev tools on Deno is the ease with which it's kept up to date. Being able to simply run `deno upgrade` and it's done is exactly what a tool chain environment needs, coupled with Deno being a single executable. Manually updating `dlint` will be doable, but can't be automated and it's not nea

[2021-06-17 19:38] crowlKats opened #11025 "Support BYOB ReadableStream"

[2021-06-17 19:43] lucacasonato commented on #11025
Seems to be stable in Chrome now. @kitsonk If you want to dive into this LMK, otherwise I can try tackle it soonish.

[2021-06-17 19:52] lawrence-dol commented on #11012
@magurotuna : At the risk of being stupid... I don't see how to specify the JSON config file in the command line. Does this depend on the `.dlint.json` file being in a specific place by convention? Maybe in the same folder as `dlint.exe`?

[2021-06-17 21:00] kitsonk commented on #11024
I haven't dug into it, but is there a wpt test that covers this?  If not, it feels like it is something that the wpt should cover.

[2021-06-17 21:26] andreubotella commented on #11024
I put some amount of work into defining how newlines in form submissions and in `FormData` had to be normalized in the specs, making sense of the different browser implementations. The corresponding PRs to the HTML spec are whatwg/html#6287, whatwg/html#6624 and whatwg/html#6697. I also [wrote a blog post about it in the WHATWG blob](https://blog.whatwg.org/newline-normalizations-in-form-submissio

[2021-06-17 22:08] jimmywarting commented on #11024
Read your blog post. Oh, what a rabbit hole.
So chrome is doing things wrong then?

So the correct thing is actually:

[code]

This don't yield any errors in safari...

[2021-06-17 22:08] #11024 closed

[2021-06-17 22:27] andreubotella commented on #11024
[Chrome said they'd implement those changes behind a flag](https://github.com/whatwg/html/issues/6469#issuecomment-825835739), so they can roll them back quickly if they find any webcompat issues. But yeah, they haven't implemented it yet. You can keep track of their implementation in [issue 1167095](https://bugs.chromium.org/p/chromium/issues/detail?id=1167095).

The behavior of `response.formDat

[2021-06-17 23:08] myty opened #11026 "Add Official Docker images repo link to docs"
I can update this and submit a pull request.

[2021-06-17 23:52] dsherret opened #11028 "`deno lsp` should log information to a file on parent process lost"
Just had a meeting with @kitsonk and he suggested it would be useful to track when the parent process is lost by deno lsp. It was suggested to log out to a temporary file whenever this occurs.

Related to #11023 and #11019

[2021-06-17 23:57] #11019 closed

[2021-06-18 01:45] maxxcs opened #11030 "`deno_core` prints cargo related stuff if used as a dependency"
After #10786 I'm getting `cargo:rerun-if-changed=.../core/core.js` and `cargo:rerun-if-changed=.../core/error.js` printed on the console when I have `deno_core` as a dependency, even in release builds.

[2021-06-18 06:37] kitsonk opened #11032 "lsp: replace code lens navigation tree with swc "collector""
Currently, the TypeScript code lenses for implementations and references use the TypeScript "navigation tree", which is a light-weight AST, to identify positions in the code that might be "interesting" to lazily ask the TypeScript language server about at a future point.

Getting a navigation tree is one of the slower processes with the language server, and is several orders of magnitude slower th

[2021-06-18 10:41] lucacasonato commented on #11030
The reason you are seeing this is because you are not snapshotting your code. Snapshotting is required. For an example of how to use runtime snapshotting, see https://github.com/lucacasonato/wgpu_cts_runner/blob/main/build.rs and https://github.com/lucacasonato/wgpu_cts_runner/blob/main/src/main.rs.

[2021-06-18 10:47] kitsonk opened #11033 "Consider making `Deno` namespace configurable"
Currently the `Deno` namespace isn't configurable in the runtime.  This makes it difficult to do mocking and polyfilling of things, like trying to create a realistic Deploy environment, where code could bind to the parts of the `Deno` namespace it needs and then replace the namespace with a different set of APIs for additional code to be loaded.

Other global objects are not set as non-configurabl

[2021-06-18 10:57] satyarohith commented on #11033
I'm +1 for this. It will make tests simple. For example, I can overload built-in `fetch()` to avoid network requests during tests, but I cannot do the same for `Deno.readTextFile()` to avoid fs calls.

[2021-06-18 12:46] CrimsonCodes0 commented on #11033
To even have the Deno namespace as an immutable property of the global object means that the Deno runtime could be considered spec-incompliant at some point.
<https://github.com/Agoric/proposal-preserve-virtualizability#undeletable-extensions>

Surely some scripts might like to just drop the Deno namespace entirely?
Regardless, making the Deno namespace itself configurable couldn't do any harm.

[2021-06-18 12:48] CrimsonCodes0 commented on #8565
Fixed quite some time ago, during the full rewrite.

[2021-06-18 12:48] #8565 closed

[2021-06-18 12:51] JohannesRudolph opened #11034 "deno test: 'Failed to execute bootstrap script: Failed to get current working directory"
I managed to crash deno with the following test

[code]

[code]

Results in the following output

[code]

Interestingly it seems to be caused by some weird interaction with the `Deno.makeTempDir` call, as leaving this out will not crash the deno runtime.

[2021-06-18 12:59] kitsonk commented on #11033
Making it configurable would make it deletable.

[2021-06-18 13:10] #9021 closed

[2021-06-18 13:35] CrimsonCodes0 commented on #11033
My apologies if I appeared to have seen it differently, but yes, that is precisely why I would support this!

[2021-06-18 14:16] wperron commented on #11034
Just tried it locally, with the provided repro I can indeed get it to error out, although I can't get it to panic. Running something simpler however doesn't seem to be causing any issues. I tried with `deno run` and `deno test`:

[code]

[code]

Leads me to believe this is maybe a race in user code though I agree the error message isn't great here.

[2021-06-18 14:18] wperron commented on #11034
So I just tried it with the `Deno.remove()` function at the end, which the only difference between my example and the original example, also isn't encapsulated in a `try/catch` in the original example, that's what's causing the issue. You'll need to move out of the `tmp` directory before calling `Deno.remove(tmp, { recursive: true });`

[2021-06-18 14:33] caspervonb commented on #11034
Known issue.

The problem is that cwd is a process level change that changes it for everything in the entire process.

If you remove the directory bad things happen because we call `.unwrap()` on many calls to `current_dir` internally in the runtime in many places.

[2021-06-18 16:09] surma opened #11035 "`new URL(..., import.meta.url)` is not well supported"
In web development, it is becoming increasingly common to reference assets in a module-relative fashion using the `new URL(..., import.meta.url)` pattern. This way, relative paths work _consistently_ relative to the JavaScript file, while without it some _some_ paths will be relative to the document.

In Deno, however, paths are often expected to be strings not `URL` objects, and even stringified

[2021-06-18 16:19] bartlomieju commented on #11035
Hey @surma!

We actually encourage the pattern you've shown throughout the manual, most often it's like:
`new URL("./worker_file.ts", import.meta.url).href`.

// await Deno.permissions.request({name: "read", path: workerFile});

Correct, currently `Deno.permissions` requires to use string, we've migrated quite a few APIs to accept `URL`s as well as strings, I guess this one hasn't been yet; I'll o

[2021-06-18 16:22] bartlomieju opened #11036 "Deno.permissions APIs should accept URLs where appropriate"
Currently `PermissionDescriptor`s accept only strings as paths.

As suggested in https://github.com/denoland/deno/issues/11035, we should add support for URLs where appropriate, in line with recent changes APIs such as:
- Deno.chdir
- Deno.realPath
- Deno.realPathSync
- Deno.rename
- Deno.renameSync
- Deno.symlink
- Deno.symlinkSync
- Deno.utime
- Deno.utimeSync

So this should work:
[code]

[2021-06-18 16:30] bartlomieju opened #11037 "Worker constructor should accept URL in TypeScript"
Currently our `Worker` constructor accepts only `string` as a specifier type, however typing provided by TypeScript allows for `string | URL`:
[code]

We already support using URLs when type checking is disabled, this is just a problem with declaration files.

Ref https://github.com/denoland/deno/issues/11035

[2021-06-18 16:31] surma commented on #11035
This seems like a great outcome :D Thanks for checking everything so quickly!

[2021-06-18 16:36] bartlomieju commented on #11035
No problem, thanks for reporting!

[2021-06-18 16:46] guybedford commented on #11035
On this topic, it's worth noting that the URL standard itself explicitly recommends **not** having APIs / specs take URL objects - https://url.spec.whatwg.org/#url-apis-elsewhere.

Node.js was able to benefit by enforcing `instanceof URL` checks because it allowed distinguishing paths. The hope for a platform like Deno is that it could be URL first and not need this method of distinction.

Ideally

[2021-06-18 16:53] surma commented on #11035
Wanna close this in favor of the separate bugs @bartlomieju opened?

[2021-06-18 16:55] surma commented on #7957
FWIW, [my PR to the HTML spec](https://github.com/whatwg/html/pull/3414) to expose `structuredClone()` saw some recent activity from browser vendors, so I’m somewhat optimistic that we might have this on the web platform soon as well.

[2021-06-18 16:57] lucacasonato commented on #11037
Does `lib.dom.d.ts` allow this? I am hesitant to allow this as it is implicit conversion that breaks if a user overwrites `URL.toString()`. Also unhappy we did this for `new Request`.

Somewhat unrelated, but we have 0% WPT coverage for workers at the moment. I looked into it a few days ago, and it seems we'll need to do some refactoring. Especially in-light of eventual support for transferable an

[2021-06-18 16:57] surma commented on #6691
With #3557 being closed now, is there anything else blocking `MessageChannel` from being implementable? I’m interested in helping out here (if desired), as I am keen to get [Comlink](https://github.com/GoogleChromeLabs/comlink) working with Deno.

[2021-06-18 17:01] surma commented on #11037
[It does](https://github.com/microsoft/TypeScript/blob/580bb066c1d5abdcafb0f09c1477b914defc0ac8/lib/lib.dom.d.ts#L18412-L18415).

[2021-06-18 17:04] lucacasonato commented on #11035
@guybedford We can't, as `file:///etc/passwd` is a valid relative path in unix (that will resolve to `$CWD/file:/etc/passwd`). There is no way for us to distinguish a URL in string form from a relative path. That would mean we would have to either drop support for relative paths, or try parse all paths as a URL and if that fails treat them as a relative path. Both seem like not great options compa

[2021-06-18 17:07] lucacasonato commented on #11037
Then 👍 from me. Marking as good first issue:

To resolve, change [this line](https://github.com/denoland/deno/blob/main/cli/dts/lib.deno.shared_globals.d.ts#L408) to `specifier: string | URL`, and add a test to https://github.com/denoland/deno/blob/main/cli/tests/unit/worker_types.ts that exercises this (copy the existing test and remove `.href`).

[2021-06-18 17:08] lucacasonato commented on #11037
Oh I see you already fixed it @bartlomieju. I should sign off for the weekend 🤦‍♂️

[2021-06-18 17:12] lucacasonato commented on #6691
@surma I was just looking into it today. The main issue is that we do not support transferable for `Worker#postMessage` yet, so `MessageChannel` will not be super useful as the `MessagePort` can't be transferred between workers. What do you need to transfer between workers? Just the port, or also SAB?

[2021-06-18 17:15] caspervonb commented on #11036
Any changes should also be applied to `Deno.TestDefinition.permissions` (they share the same internal conversion).

[2021-06-18 17:15] caspervonb commented on #11036
Any changes should also be applied to `Deno.TestDefinition.permissions` (they share the same internal conversion).

[2021-06-18 17:17] surma commented on #6691
Oh of course, you are right. Transferables!

For Comlink itself I only need `MessagePort`. In user-space, the user can transfer any transferable using `Comlink.transfer()`. But I reckon the vast majority of Comlink use-cases don’t use transferables. So just having `MessagePort` support would allow me to get Comlink up and running.

[2021-06-18 17:28] bartlomieju commented on #6691
That said I don't think there are any more blockers for that functionality. I remember that @inteon was looking into that at some point.

[2021-06-18 17:29] lucacasonato commented on #6691
I am sitting in a train with nothing better to do, so I'll give it a shot 🙃

[2021-06-18 18:06] wperron commented on #11034
I can't get it to panic though, running on Ubuntu 21.04, on Deno 1.11 or 1.10

[2021-06-18 19:34] #11037 closed

[2021-06-18 19:45] badsyntax commented on #3326
As per https://github.com/denoland/deno/issues/10214#issuecomment-821723392

Does this effectively mean we cannot port [grpc-js](https://github.com/grpc/grpc-node/tree/master/packages/grpc-js) to deno?

[2021-06-18 20:01] lucacasonato commented on #6691
Got distracted and implemented `SharedArrayBuffer` sharing between Workers instead: #11040. Might be useful for WASM threads for someone. Have a pretty clear idea on how to do `MessageChannel` now though, so that will be up next.

[2021-06-18 20:24] cmoog commented on #11013
https://github.com/denoland/deno/pull/11039 should fix the panic behavior here.

[2021-06-19 04:07] lawrence-dol commented on #11012
@magurotuna : How do I use the configuration file with dlint? I've scoured the docs and issues and I'm just not able to find it.

[2021-06-19 05:50] magurotuna commented on #11012
@lawrence-dol
Sorry for the late reply! Partly because GitHub's recent activity has been made worse for me...
Anyway, you can pass `--config=<path to config json>` option to dlint, like `dlint run --config=./.dlint.json`.

Yes, I'm aware of that. I suggested using the dlint binary just for trial to see if it works fine for you. Give us a feedback whether you like it or not - I think it will drive

[2021-06-19 06:19] lucacasonato commented on #11035
@surma I'll close this in favor of the more specific individual issues. Thanks for reporting!

[2021-06-19 06:20] #11035 closed

[2021-06-19 08:58] codehz opened #11046 "prompt function got "\x00" when input is not ascii (windows terminal)"
![image](https://user-images.githubusercontent.com/13158903/122637068-3e0a8400-d11f-11eb-98b9-16eac66f9855.png)
PS: it works for other command line application

[2021-06-19 10:24] josephrocca commented on #11018
The `Deno.rootDirectory` approach seems best. But if the developer didn't give root read/write access, then it'd probably make sense to also give handles for the parameters of `--allow-read=...` and `--allow-write=...` via something like `Deno.readableDirectories` and `Deno.writableDirectories`?

As I mentioned in https://github.com/denoland/deno/issues/2456#issuecomment-850760042, it would be gre

[2021-06-19 13:33] opvasger opened #11048 "Weird string-encoding in Git-Bash for Windows?"
Hello! I'm not sure what's going on, but here's a SSCCE of my problem:

[code]

There's no problem in PowerShell, or even Git-Bash integrated in Visual-Studio Code - The problem only exists for Git-Bash running on it's own.

Let me know if I can contribute any more information or whatever else to resolve the issue :sunny:

Thanks for doing what your doing with Deno :heart:

[2021-06-19 14:14] #9802 closed

[2021-06-19 14:14] #11014 closed

[2021-06-19 16:43] inteon commented on #6691
Transferring `MessageChannel` via `postMessage()` probably can be done by implementing `write_host_object` and `read_host_object`. Although I'm not 100% sure this will just work.
And ofc all other logic (not related to transfer) also still needs to be added.
#10750 is related -> same issue for `BroadcastChannel` instead of `MessageChannel`

[2021-06-19 16:58] grian32 opened #11049 "lsp: give warning/error message if automatic caching 404's"
If you `right-click -> cache "link"` and the link leads to a 404 then it does nothing, had this happen where i accidentally left in a `'` at the end of a link after copy pasting.

[2021-06-19 19:40] cmoog commented on #8936
#11039 should fix the panic behavior here.

[2021-06-19 20:05] lucacasonato commented on #6691
@inteon Transferring `MessageChannel` happens via the `transferable` second argument to `postMessage`, not via the first argument that is structured cloned. `read_host_object` and `write_host_object` will only be needed for handling items that have the `[Serializer]` WebIDL extended attribute. `MessageChannel` doesn't have this, it only has `[Transferable]`.

I will open a WIP PR that adds `Messag

[2021-06-19 20:15] lawrence-dol commented on #11011
@magurotuna : Using `dlint --config=...` does not suffer from this problem, understandably, so if `deno lint` is enhanced with the ability to specify a config file, and the config does not trigger these errors, that meets my need in a better way.

There is a strong argument to be made, if a config can be specified, that file-level or statement-level lint directives _ought_ warn if an inapplicable

[2021-06-19 20:23] lawrence-dol commented on #11012
BTW, allowing the full filename to be specified (as opposed to the folder and requiring the name to be `.dlint.json`) is exactly the right choice; first, I might want to use both `dlint` and `deno lint` with the same config; second, I wouldn't like .deno.json on a *nix system which would make the file hidden to devs on those systems.

It would be useful for tool deployment if the `--config` was ab

[2021-06-19 20:38] benatkin opened #11052 "please provide similar functionality to `scripts` and `unsafe-inline` from Content-Security-Policy"
I'm looking into building a Visual Studio Code extension that will let users run Deno scripts to transform code without having to inspect the source, instead just relying on the permission system. The permissions system is great for that. I also want them to be able to inspect it if they need to, and to require the scripts installed to be easy to inspect. This would mean limiting the size of the f

[2021-06-19 20:42] bartlomieju commented on #11052
Would https://github.com/denoland/deno/issues/8266 help you in any way? (Keep in mind that this flag is meant for `import()` and `Worker()`)

[2021-06-19 20:57] benatkin commented on #11052
@bartlomieju yeah, that is along the same lines. I will close this issue and link to it from there, and also link to it from the allow-csp issue.

[2021-06-19 20:57] #11052 closed

[2021-06-19 21:00] benatkin commented on #8266
I also would like it to be available for non-dynamic imports and for `deno info --json script.ts`

I wrote some of my thoughts here: https://github.com/denoland/deno/issues/11052

[2021-06-19 21:01] benatkin commented on #9021
I'd also like to see this. Here is an issue that discusses it in the context of dynamic imports: https://github.com/denoland/deno/issues/8266 I think it is also needed for static imports but I think this issue is a good place to figure out a simple way that covers most use cases.

[2021-06-19 21:47] johandalabacka commented on #1658
@joshyrobot I know. But I rather have a working version now than a perfect one tomorrow.

[2021-06-19 22:25] inteon commented on #6691
Thank you for explaining.
So structured cloning is only important for encoding the messages over the `MessageChannel` not for transferring the ports of the `MessageChannel`, that is done via the second argument to `postMessage`.

[2021-06-19 22:41] ry opened #11053 "Deno should respect TZ environment variable"
like Node does

[2021-06-20 02:16] Dav3rs opened #11055 "`Deno.shutdown()` listed as stable in types, unstable at runtime"
![image](https://user-images.githubusercontent.com/50024128/122660022-a4a59700-d14b-11eb-865c-972b901f59a2.png)

[2021-06-20 02:58] satyarohith commented on #11055
@Dav3rs, can you provide reproduction steps?

[2021-06-20 03:42] Dav3rs commented on #11055
@satyarohith It's easy, just try to use the `Deno.shutdown` function, and it won't work.
1 - try to use `Deno.shutdown`
2 - it's doesn't work 😶
![image](https://user-images.githubusercontent.com/50024128/122661354-6910ca00-d157-11eb-8342-6d2584cde3a5.png)

[2021-06-20 03:43] wperron commented on #11053
Pretty sure it does, we've had bugs in std because that were only apparent when running the test suite with different `TZ` values

[2021-06-20 03:50] satyarohith commented on #11055
@Dav3rs Thanks! I actually did test it before but didn't go past the type error. So we have the types but not the actual implementation. In the meantime you can use  [`Deno.close(conn.rid)`](http://doc.deno.land/builtin/stable#Deno.close).
[code]

[2021-06-20 06:00] CrimsonCodes0 commented on #6691
Actually, since you'd brought up WebAssembly threading, Wasm doesn't actually use JavaScript (Shared)ArrayBuffer objects, instead the JavaScript `WebAssembly.Memory` objects are supposed to be passed around instead. I can't find any references to how it works for them in particular, but I believe that `Memory { shared: false }` are serializable and transferable, while `Memory { shared: true }` can

[2021-06-20 07:07] alexander-bzikadze opened #11056 "[extention/fetch] Allow reqwest HTTPClient configuration"
Currently configuration for underlying reqwest httpclient is concealed, only  [TLS certificate](https://github.com/denoland/deno/blob/7b559ee89ef2dd4be6a45af6ae1e3e09c76fec01/cli/dts/lib.deno.unstable.d.ts#L1078) being exposed. Creating shared HTTP client uses some options predefined both [by Deno](https://github.com/denoland/deno/blob/main/extensions/fetch/lib.rs#L516) and [reqwest itself](https:

[2021-06-20 07:29] lucacasonato commented on #6691
It should work. WASM.Memory with shared: true are really SABs internally.

[2021-06-20 09:12] crowlKats commented on #11055
`Deno.shutdown` is an unstable API, but the typings are in stable (or impl is stable but marked as unstable)

[2021-06-20 09:34] arisboch commented on #5690
It's a false positive, I got the same after updating the software update manager "RuckZuck".

[2021-06-20 10:51] cvng commented on #11053
I can confirm running `echo "console.log(new Date().toString())" | TZ=UTC+4 deno run -` does respect the `TZ` value.

What is not supported though is dynamically changing `TZ` during runtime, but I'm not sure if this is a case we want to support.

A way to make that work is: https://github.com/nodejs/node/commit/eba348b6aecf5c764f786f6f049431237702c88f

[2021-06-20 13:05] Tak-Iwamoto opened #11057 "failed Intl test on CI"
[code]
Example:
`intl.ts`
[code]

`intl_test.s`
[code]

This test works on my local PC(M1 mac) but failed on GitHub Actions CI.
I know full-icu is required on node.js. Is it also required for deno? 🤔

This is the sample repository.
https://github.com/Tak-Iwamoto/deno_intl_test

[2021-06-20 13:22] bartlomieju commented on #11053
I'm not in favor - we don't change behavior during when any of the other env variables changes (like `DENO_DIR`, or `DENO_HTTP_PROXY`). What's the use case for listening on `TZ` changes? Is there any valid reason outside testing?

[2021-06-20 13:30] cvng commented on #11053
I'm also not in favor of listening on `TZ` changes. If we don't want to support this, `TZ=UTC deno run tz.js` is fine.

[2021-06-20 14:24] zlumyo commented on #10992
I can try this one.

Should an `Origin` header provided manually by user overwrite a value of `--location`?

[2021-06-20 16:34] Dav3rs commented on #11055
That's right, it works with the `--unstable` flag. I thought it was stable already, since v1.7

https://deno.com/blog/v1.7#changes-to-deno-apis
https://github.com/denoland/deno/blob/v1.11.1/Releases.md#170--20210119

[2021-06-20 17:20] evanwashere commented on #4735
I am proposing to add unused fetch bodies limit alongside GC finalizers (based on [cloudflare workers design](https://developers.cloudflare.com/workers/platform/limits#simultaneous-open-connections))

This would allow runtime to cancel old **unread** response bodies if user set (or default) threshold is exceeded

benefits:
- predictable memory usage
- less reliance on garbage collector
- fixed amo

[2021-06-20 19:13] sramam opened #11058 "seeking a better UX for permission management"
I am new to deno, so this is somewhat of a mix between a noob-question and a feature request.
Hopefully an issue is the right way to start.

The security aspects of the deno runtime are particularly attractive to me.
However, so many of the modules I am exploring seem to default to a `deno install -Afq ...`

It's a bit disappointing to see that the first thing one does is to actually _disable_ the

[2021-06-20 19:20] differentsmoke opened #11059 "Deno cli seems unable to handle glob patterns in Windows"
**Version**: `deno 1.11.1 (release, x86_64-pc-windows-msvc)`

**Issue**: When trying to run multiple files such as `deno test *.ts`, it results in the following error:

[code]

I created a directory with files `test_01.ts` and `test_02.ts`, both containing the following code:

[code]

Running `deno test test_01.ts` or `deno test test_02.ts` runs as expected.
Running `deno test *.ts` results in the

[2021-06-20 19:28] Soremwar opened #11060 "Compiled module not found when using workers without module features"
When running a worker for the first time (it apparently works after insisting for some time) Deno will throw an error indicating that the worker is not compiled and hang the process, requiring it to be killed manually. This is a dealbreaker when working with web workers and docker containers

[code]

[code]

[code]

An easy fix for this seems to be adding an `export {};` at the end of the worker f

[2021-06-20 19:46] bartlomieju commented on #11059
Deno CLI doesn't expand globs, it is up to your shell to do that. In other words `deno test` is run with a list of files your shell has created from the glob.

[2021-06-20 19:49] crowlKats commented on #11058
Not possible. Dependencies are checked at runtime; so either you have to run the dependency and see what it asks, or read through the codebase.

What do you mean? Do you mean specific perms for a specific dependency?

again, not possible.

The whole `registerPermission` is not possible as well due to this being at runtime

[2021-06-20 20:02] differentsmoke commented on #11059
Running `dir *.ts` in the same folder works as expected. Wouldn't that mean that the globs are working correctly?

[2021-06-20 21:07] differentsmoke commented on #11059
Ran with git-bash on windows and it does work as expected as well.

[2021-06-20 21:07] #11059 closed

[2021-06-20 21:09] MarkTiedemann commented on #11059
No, that means that `dir` expands globs. `cmd.exe` doesn't expand globs.

[2021-06-20 23:26] kitsonk commented on #11060
tsc us treating it as a script, but I don't know why it is refusing to emit.

[2021-06-20 23:35] sramam commented on #11058
My understading of Deno and it's eco system is very shallow and barely beyond the documentation pages.
Worry that I am on the wrong track here, hence the noob disclaimer. Please pardon my ignorance and indulge me a bit further.

It seems that `pseudo-run` is the term that would best meet my expectations.

Should it not be possible to break up the runtime validation into a 2-step for fine grained c

[2021-06-20 23:58] #11058 closed

[2021-06-21 00:11] kitsonk commented on #11025
Oh, I was just waiting to tackle this... 😏  maybe we can toss a coin for it?

[2021-06-21 00:56] jsejcksn commented on #6197
I encountered this today as well:

[code]

and here's the beginning of the verbose `curl` output (I'm truncating it before the headers):

[code]

This seemed odd to me:
[code]

but I'm guessing it just means the server didn't accept http/2?

[2021-06-21 05:26] erfanium commented on #6197
As I said before, This problem is not about Deno itself.
### Reproduce steps with reqwest + rustls:
Cargo.toml:
[code]

main.rs
[code]
output:
[code]

[2021-06-21 05:58] caspervonb commented on #11034
Huh, yeah I can't get this to panic, just throws an error.

[2021-06-21 06:43] #10122 closed

[2021-06-21 07:15] castarco opened #11063 "(Question) About BinaryAST compatibility"
Back in 2019, Cloudflare announced the BinaryAST proposal ( https://blog.cloudflare.com/binary-ast/ , https://tc39.es/proposal-binary-ast/ ), which in theory could help with cold load times.

Fast-forwarding to now, there haven't been many news on the topic, or at least Google didn't index anything relevant.

Relating to that, I have three questions:
- Would it make sense to "transpile" the typesc

[2021-06-21 07:18] kitsonk commented on #11009
Working as designed.  See: https://github.com/microsoft/TypeScript/issues/38050

[2021-06-21 07:18] #11009 closed

[2021-06-21 07:19] #11063 closed

[2021-06-21 07:27] JohannesRudolph commented on #11034
@caspervonb @wperron Interesting, I was running this on a Fedora 34 and it reliably panics for me every time.

@wperron thanks for your suggestion, I can confirm that with a wrapper in my tests that restores the `cwd` to its previous value deno, as expected, doesn't panic. This is fine as a workaround for me.

I think you guys are way better informed to make a decision about the "correct" behavior

[2021-06-21 08:57] caspervonb commented on #11034
Could you do a run with full track trace @JohannesRudolph?

[code]

[2021-06-21 09:41] kitsonk opened #11066 "`Deno.emit()` with `check: false` does not support `module` compiler option"
The following code does not work as expected:

[code]

It simply outputs and ESM module.  Where as if `check` is `true` it will output an AMD module.

If swc doesn't support AMD, CommonJS, System and UMD we should throw here with invalid options, if it does, we should implement the functionality.

[2021-06-21 09:42] kitsonk commented on #11066
Here is a specific test case that can be added to `cli/tests/compiler_api_test.ts` the demonstrates the issue.  It should pass:

[code]

[2021-06-21 12:56] wperron commented on #11026
Fixed in #11027

[2021-06-21 12:56] #11026 closed

[2021-06-21 13:35] Tak-Iwamoto commented on #11057
Sorry, It is my mistake...
The input value is invalid.

[2021-06-21 13:35] #11057 closed

[2021-06-21 13:38] lucacasonato commented on #11056
I would rather not expose that we use `reqwest`. That is an implementation detail and subject to change. I would be happy with providing options for "http1 only", "always http2", or connection pooling specifics. The exact flags that should be configurable by the user should be mostly 1:1 equivalent to what Go exposes in the `http.Transport`.

[2021-06-21 13:43] lucacasonato commented on #11048
This is likely caused by the terminal emulator that Git-Bash uses not understanding UTF-8. @piscisaureus do you know more? Is it fixable, or is this one of those "just wait a few years until everyone uses new Windows Terminal" bugs?

[2021-06-21 13:44] lucacasonato commented on #11046
@piscisaureus, could you take a look?

[2021-06-21 15:02] ghost opened #11072 "Suggestion: `Deno.compile` function. Compile JavaScript/TypeScript to executable binary"
I would love this method to be added directly to the `Deno` namespace rather than using the CLI.
Example usage:
[code]
[code]

[2021-06-21 15:35] ry opened #11073 "Deprecate "deno bundle""
JS bundlers have a lot of complexity and we do not want to take on all that complexity in Deno. We believe this can be done effectively in "user space" - that is, it doesn't need to be built into the Deno executable. [Packup](https://packup.deno.dev/) is an example of a Deno program which utilizes esbuild-wasm to provide complex bundling abilities.

Ultimately we'd like to remove [swc_bundler depe

[2021-06-21 15:42] bartlomieju commented on #11073
If we were to do that, then `deno compile` couldn't work (or would require significant changes to keep the functionality working).

[2021-06-21 15:43] LionC commented on #11073
I personally will always vote for making `deno` more of a pit of success for things that will predictably be needed by a huge percentage of apps. Keeping out parts of a toolchain that is needed for a lot of projects makes people spend time on choices that will likely not really generate any value, making project setup more complex and the whole space more fragmented.

At least how I see it, `deno`

[2021-06-21 15:44] ry commented on #11073
@bartlomieju To clarify (for other people) "deno bundle" can be deprecated and removed without effecting "deno compile", but in order to remove the swc_bundler dependency, we'd need to do some work to "deno compile" maybe to use something like [the eszip json file format](https://github.com/denoland/eszip) instead.

[2021-06-21 15:45] retog commented on #3695
Very sad, no reason provided by people without disabilities. Indent with tabs, recommend to display them with the width of two spaces and count them as two characters when checking for the 80 characters line limit. What disadvantages would this rule have? It would make the code significantly more accessible to many.

[2021-06-21 16:08] Onyxzen commented on #11072
Also, the `compile` function first argument can also take a URL to the main file e.g. `mod.ts`
Example:
[code]
Updated type declaration:
[code]

[2021-06-21 16:34] caspervonb commented on #11073
While true, that can be said for _nearly_ all of our subcommands.

I'm against just because we're taking away a useful (albeit, needs some tic) feature from our promise of being a one stop toolchain.

[2021-06-21 16:34] sebastienfilion commented on #11073
My first reaction was “no”. Then I thought about it a little bit and still “no”.
From where I stand, one of the big promise of Deno was the out-of-box toolchain. If we start removing every tools because there might be another option in user land, what’s the argument to not remove everything?
I think that we’re better off with a “not as great” bundler than no bundler; at least a “not so great” bund

[2021-06-21 17:23] surma commented on #5701
For completeness sake, I want to point out that there’s [CanvasKit](https://skia.org/docs/user/modules/canvaskit/), which is Skia compiled to WebAssembly (Skia being the 2D graphics library that Blink uses to implement Canvas itself).

[2021-06-21 17:25] dsherret commented on #11073
I think the main difference here is that `deno fmt` & `deno lint` are used to help with the development of JS/TS that gets executed by deno. `deno bundle` however is mostly used for packaging up a single script for using it in the browser, to help target other runtimes, and perhaps as a way to distribute a library for Deno as well (less files, so less requests, though that's more of a nice to have

[2021-06-21 17:28] lucacasonato commented on #5701
@surma https://deno.land/x/canvas@v1.1.4 is built on CanvasKit. For native in the binary, we already include wgpu-core (the WebGPU engine for Gecko). If Skia will ever be able to use WebGPU as a rendering backend, it might make sense to include canvaskit or skia linked to wgpu-core (webgpu.h) right in the binary.

[2021-06-21 17:34] LionC commented on #11073
But Deno explicitly invests work to be as browser compatible as possible, so I do not see how it does not fit - I see more potential to standardize an almost required prt of the toolchain that people spend a ridiculous amount of time on right now (choosing one of 6 tools and 6273 meta frameworks that configure them) without writing actual code to solve their actual problem.

Deno's philosophy is t

[2021-06-21 17:53] #6691 closed

[2021-06-21 17:56] lucacasonato opened #11074 "Transferables should be supported for worker postMessage"
Followup to #6691. The `postMessage` / `onmessage` for workers should use the same internal logic as `MessagePort`.

[2021-06-21 17:57] lucacasonato opened #11075 "Transferables should be supported for BroadcastChannel"
Followup to #6691. The `postMessage` / `onmessage` for `BroadcastChannel` should use the same internal logic as `MessagePort`, at least for the default `InMemoryBroadcastChannel` implementation.

[2021-06-21 17:58] lucacasonato commented on #6691
And we now have `MessageChannel` + `MessagePort`! Transferring them between workers has been broken out into #11074, and transferring them between `BroadcastChannel` into #11075

[2021-06-21 18:05] dsherret commented on #11073
I'm just saying there's a difference between `deno bundle` and the other sub commands.

For example, implementing transforms would expose a huge amount of API that rapidly changes under the hood. People would be relying on what's available in the deno executable rather than a semantically versioned API. Using a versioned imported module would provide more stability and likely work no matter what v

[2021-06-21 18:12] wperron commented on #11073
I'm mixed on this. On the one hand, bundlers are a rabbit hole that doesn't seem to ever end. `deno bundle` sort of opens the door to endless user requests to support this and that feature. On the other hand, I also agree that one of the selling points of Deno is that it is a one-stop-shop toolchain for the whole developer workflow, and it would be a shame to lose that feature.

We're in an intere

[2021-06-21 18:23] surma commented on #5701
Amazing news. Did not know about that. Thank you :)

[2021-06-21 18:25] surma commented on #11075
`BroadcastChannel` on the web [doesn’t support transferables](https://developer.mozilla.org/en-US/docs/Web/API/BroadcastChannel/postMessage) as you have potentially multiple receivers, so the semantics of “transferring ownership” don’t really make sense in this context.

[2021-06-21 18:37] lucacasonato commented on #11075
Oh, well one issue less I guess :-)

[2021-06-21 18:37] #11075 closed

[2021-06-21 20:21] mreinstein commented on #11073
This is really a fascinating discussion! There are a lot of things that come to mind:
* bundlers are a rabbit hole of functionality because they tend to be very general purpose, providing a plugin interface so teams can use whatever tech they want in their build process (pug? sass? babel? 8million other things?)
* I can understand the apprehension around this thing staying in core; it will inevita

[2021-06-21 20:43] kitsonk commented on #11073
I remember standing on a stage with you Ry at TSConf and stating that "Deno CLI will be the only tool you need" and now you are suggesting backing away from that.

I am not supportive, as it fundamently goes against what I thought we were trying to accomplish. Changing the infrastructure so that there are less issues with `deno bundle` is one thing, deprecating it is just cruel. Next thing you kno

[2021-06-21 20:49] ry commented on #11073
@kitsonk Deno CLI is still the only tool you need to do bundling, even if you remove `deno bundle`. Packup is a good proof of concept:
[code]
The alternative is that `deno bundle` starts competing with systems like webpack, esbuild. This is likely a deep rabbit hole of options.

[2021-06-21 21:09] kitsonk commented on #11073
So are we deprecating `deno lint`, `deno doc`, `deno info`, `deno test` as well since all those can be done in user land. What about TypeScript transpiling all together? Again can be done in userland.

As we talked earlier, we should be talking in use cases of problems we are trying to solve. `deno bundle` was always solving one problem in my mind, how do I take an arbitrary set of modules that ru

[2021-06-21 21:17] #11033 closed

[2021-06-21 21:17] lucacasonato commented on #11073
I completely agree with @kitsonk here. `deno bundle` is a tool for bundling program code for use in Deno. I don't think it should be deprecated or removed. It is incredibly useful and explicitly not meant as a general purpose web bundler.

In relation to `Deno.emit`, I could understand the argument that that could be done in userland, and that we should prevent scope creep. But I don't think we sh

[2021-06-21 21:18] #10677 closed

[2021-06-21 21:23] kitsonk commented on #11072
What does it make easier having it as an API? What is a challenge/limiting having it as only a CLI tool?

[2021-06-21 21:26] kitsonk commented on #3695
I think we need to reopen this issue. We have talked amongst ourselves that this is important consideration and have discussed allowing `deno fmt` to potentially support a minimalistic set of options aligned to what prettier supports.

Having this issue closed makes it look like we don't care about these things and aren't talking about them.

[2021-06-21 21:27] #10761 closed

[2021-06-21 21:32] mreinstein commented on #11073
That's definitely true, but I'm thinking about it an inverted way;  If my project can't be bundled with deno, it's on me to drop all the stupid crap that today's bundlers do and pare down to a reasonable bundle capability that deno already provides.

I'm trying to align my project to work with Deno's vision of a minimalistic modern js runtime. I don't know if I _want_ deno to adopt these other unh

[2021-06-21 21:33] Onyxzen commented on #11072
By doing something like this, we can compile source string without using the CLI. Basically, we will be able to make a quick JS compiler with just a few lines of code:
[code]
[code]
Now, `./mod` is a simple JS compiler.
We can also make more advance compilers using this process
[code]

[2021-06-21 21:58] ry commented on #11073
@lucacasonato is it incredibly useful? How are people using it?

It seem odd to me that Deno claims to be web compatible, but "deno bundle" explicitly does not produce bundles for browser.

I agree - I'm conflating the problems here...

[2021-06-21 22:06] mreinstein commented on #11073
that's a really interesting point. Maybe it makes sense to specific (re-?)define the purpose of `deno bundle` to explicitly produce bundles that run in the browser. I'm assuming that is the main use case 99% of the time (avoiding loading dozens or hundreds of modules is still not great, even when assuming http2 or even http3 capabilities.)

If we were to define that as the specific purpose, could

[2021-06-21 22:14] lucacasonato commented on #11073
Bundling Deno programs for deployment to a server. The bundle is then just a single file you can plop onto a VPS or into a Docker image. Startup is greatly improved because no downloads or emits have to happen at startup.

It does not explicitly not create bundles for the browser (quite the opposite, they work fine there), it just is not it's primary focus as far as I can tell. The intension is to

[2021-06-21 22:15] kitsonk commented on #11073
Yes. Creating dependency-less bundles of Deno code qt a specific version, sometimes to have a single distributable with Node.js or a browser as a "library". Effectively a build step. There are other comments in this thread where people have uses which you seem to be ignoring.

Now you are changing your previous statements again. We always said that Deno would adopt web platform APIs where suitable

[2021-06-21 23:06] dsherret commented on #11073
I think this is the most compelling use case though I think `deno compile` also covers this need.

This is where I think there are userland tools that are better or have the potential to better meet this need. For example, something that even transpiles the `Deno` namespace to something Node compatible.

[2021-06-21 23:13] MierenManz commented on #11073
It is alot slower to use compiling in a JavaScript tool chain. Plus you would have to install a 75 MB binary each time your project has an update.
While a bundle would likely be less than 15 mb's in filesize. So for deploying code I feel like the bundle subcommand is a really handy feature that the compile subcommand is not usable for.

[2021-06-21 23:38] dev-nicolaos commented on #11073
From [the stated goals as listed in the Deno manual](https://deno.land/manual@v1.11.1/introduction#goals)...

I'm primarily a front end web developer. I can say from personal experience I hate the high levels of complexity, configuration, language-manipulation magic involved with the node bundling ecosystem. One of the core things that attracted me to Deno was that it was going to be straightforwa

[2021-06-21 23:42] kitsonk commented on #11073
Partially. It doesn't make it easy to combine "lib a" and "lib b" and have something that is deployable.  As other stated, just copying the binary as well is painful/useless in some instances.  One can also do a `deno bundle` as a build step and then host that some place and then everyone with the CLI can just `import myLib from "https://example.com/myLib.js"`.  If we get type emitting working wit

[2021-06-21 23:48] dev-nicolaos commented on #11072
You can workaround this limitation at the moment by running a subprocess, though it does require the `--allow-run` permission...

[code]

[2021-06-21 23:50] alexander-bzikadze commented on #11056
Thank you for your reply!
Ok, I agree we can rely on Golang design and not be afraid it needs to be changed  radically in the future. Let me propose this interface based on my research:

| Golang Analogue           	| Reqwest analogue                                                                                                 	| Proposed Interface                 	|
|---------------------------

[2021-06-22 00:07] #10997 closed

[2021-06-22 00:16] dsherret commented on #11073
I'm not sure we should encourage users to ship libraries with their dependencies bundled (libraries distributing minified bundles would be terrible for debugging #6900). I think that should be up to the user making the final distribution of an application (not a library) to make those decisions rather than midway through the dependency graph. Additionally, it makes it more difficult to understand

[2021-06-22 00:37] Onyxzen commented on #11072
@dev-nicolaos That is a workaround but that won't work if the user don't have `Deno` installed. I'm trying to ship my project as a single executable and it will most likely fail since you'd need to install `Deno` first

[2021-06-22 01:03] #10827 closed

[2021-06-22 01:21] kitsonk commented on #11073
Not if we fully solve #8577 (WIP PR at #10698).  The same thing could be argued for `deno compile` as it stands now.

These are good potentially good practices, given specific contexts.  I don't see them as being material do the `deno bundle`s utility.

They solve different problems differently.  `deno compile` is suitable for some situations, `deno bundle` is suitable for others.  They both have

[2021-06-22 02:39] #10764 closed

[2021-06-22 03:42] #11017 closed

[2021-06-22 04:02] nayeemrmn commented on #11017
Ref #6868.

[2021-06-22 04:15] #10927 closed

[2021-06-22 06:17] #9806 closed

[2021-06-22 07:23] lucacasonato commented on #6868
I think the current solution is good enough. We currently do not ignore any headers other than host.

[2021-06-22 09:13] erfanium commented on #11055
I think #10880 has fixed this issue

[2021-06-22 09:15] #11055 closed

[2021-06-22 09:52] getspooky commented on #10557
I think it would be a good idea to provide the `max Limit` option and let the user specify how much space they want to reserve.

[2021-06-22 11:04] runminlook opened #11077 "Feature request of LSP: features like "source.addMissingImports", "source.organizeImports""
Feature request of LSP: features like "source.addMissingImports", "source.organizeImports"

[2021-06-22 11:44] wperron commented on #11072
Except you'll need to call your script using `deno run`, what's the advantage over using a Makefile for example?

[2021-06-22 11:51] kitsonk commented on #11077
Duplicate of denoland/vscode_deno#433

It is on my roadmap coming up soon.

[2021-06-22 11:51] #11077 closed

[2021-06-22 12:47] AkifumiSato commented on #11073
I feel that too complicated bundle is a big problem not only for Deno but also for Javascript itself.
It is still stage 1, but if this proposal is adopted and the requirements for bundler change, will the implementation of deno bundle be simplified?
https://github.com/littledan/proposal-module-fragments

[2021-06-22 13:04] dsherret opened #11078 "Type checking in the REPL"
Breaking out of #1158.

Personally I'm not sure this would be useful or desired.

[2021-06-22 13:08] dsherret commented on #8652
If this is implemented it can be done without the language server and instead use the language service. The [getCompletionsAtPosition](https://github.com/dsherret/ts-morph/blob/edd0e03fa0b2c8c2c97c725414ae58754e0147ff/packages/common/lib/typescript.d.ts#L5597) would be useful.

[2021-06-22 13:11] dsherret commented on #1158
Closing now that #10934 is merged.

See #11078 and #8652 for further developments or please open a new issue for any other typescript related REPL feature requests.

[2021-06-22 13:11] #1158 closed

[2021-06-22 13:35] #11011 closed

[2021-06-22 13:45] iugo commented on #11073
We need `deno compile`, and have dynamic import support (https://github.com/denoland/deno/issues/8655).

[2021-06-22 14:09] bartlomieju commented on #10557
Let's just increase size limit to 10Mb and call it a day? Why would we want to make this option configurable if it's not configurable in the browser?

[2021-06-22 14:11] caspervonb commented on #9584
**assigns self**

[2021-06-22 14:14] crowlKats commented on #10557
agreed that this should not be configurable by the user whatsoever.
i am just not sure if 10mb or the FF storage criteria would be better (or maybe a different fixed value?); 10mb is more than enough on the browser, but server side i can imagine one using a lot more

[2021-06-22 14:15] caspervonb commented on #10557
Agreed.

With eviction and persistence it gets incredibly convoluted, even understanding it as a user is a fairly major headache.
We can come back to it later maybe but for now I'd be in favour of a simple bump to the size and call it good.

[2021-06-22 14:27] getspooky commented on #10557
Sure , The maximum browser storage space is dynamic — it is based on your hard drive size. The global limit is calculated as 50% of free disk space. But currently the most simpler solution is to make `10MB` instead of `5MB`.
what do you think ?

[2021-06-22 14:29] lucacasonato commented on #10557
Lets bump to 10MB and call it a day.

[2021-06-22 14:30] #11074 closed

[2021-06-22 14:31] lucacasonato commented on #6691
Message port transfer across workers is now implemented too. It will be in the next canary release in about 40 minutes (`deno upgrade --canary`).

[2021-06-22 14:52] surma commented on #6691
Amazing. I’ll have a play! :D Thanks for your work on this, @lucacasonato!

[2021-06-22 16:41] getspooky commented on #10099
I think we should just format the output of the console for example
[code]
instead of
[code]
and it would be a good idea to add `--silent=false` so deno will  suppresse the console log message.

[2021-06-22 20:43] zandaqo commented on #11073
Speaking as an end user, I assumed that `deno bundle` was bundling Deno compatible code for Deno compatible runtimes (as @kitsonk described it). Otherwise, as a general bundler for web, it is indeed a huge undertaking as @ry says. For it to be useful on the front end and replace other bundlers, I'd expect it to support tree shaking, chunking, and minification, not to mention legacy module standard

[2021-06-22 20:50] wperron commented on #11073
Tree shaking is actually already a feature of `deno bundle` -- as for the other features being large undertaking, yeah that's true, but I think it's something we should strive for. We're not gonna be in a position to compete with existing bundlers any time soon, but I think that's an ideal we should slowly work towards. We have the infrastructure in place to do it, it'd be a shame to waste it.

[2021-06-22 21:47] CrimsonCodes0 commented on #11073
If fully removing and refractoring the code for the command, and dropping the dependency will cut down on a sizable portion of the Deno binary, I, as a user, will definitely appreciate the leaner application.

On the other hand, Ry claims that JS bundling is complex. Running JavaScript is already a complex task, but no one has made an issue saying that we should deprecate Deno. Some things are com

[2021-06-22 21:56] eibens commented on #11016
If you care for feedback on this from a user:

I recently built a [wrapper for Deno.run](https://deno.land/x/jog) that does something similar to the proposed `Deno.exec` function. It takes a `Uint8Array | string` for `stdin`, and returns `stdout` as a `Uint8Array`. If the process exits with an error, the contents of `stderr` are thrown. A mapping function can be used to transform `stdiout` into a

[2021-06-22 23:25] andreubotella opened #12678 "Make MagicBuffer and ZeroCopyBuf work with SharedArrayBuffers"
denoland/deno#11040 is currently in the process of implementing the ability to share `SharedArrayBuffer`s across workers, and code implemented in JS and WASM will be able to immediately benefit from it. However, as per https://github.com/denoland/deno/pull/11040#issuecomment-865119521, many of the ops that use `MagicBuffer` are written assuming that the buffer can only be modified from the current

[2021-06-23 03:34] XGHeaven opened #11087 "Deno check would throw 'Property xxx is used before its initialization' for using property are defined in parameter properties"
## Versions
[code]

## Input
[code]

## Expected
No errors.

## Actual
[code]

## More
I found no errors with typescript@4.3.
Demo: https://www.typescriptlang.org/play?strict=true#code/MYGwhgzhAECC0G8BQ1XTALmhALgJwEsA7Ac2gF5ocALAiAOlzxTQCMKraGwXVgB7IkwCuwHPzwAKAA6EAbmBwBTbPixNiJAJSIAvkn1A

[2021-06-23 04:18] drmercer opened #11088 "Bug: typechecker runs every time when stable and unstable scripts share a dependency"
When you have two scripts that depend on a module, and one script is run with `--unstable` but the other script is not, then the cache for one of them gets in a weird state where Deno has to typecheck it every time you run it. This is annoying and seems like a bug.

I built a small repro case here: https://github.com/drmercer/deno-cache-bug-repro

One possible solution: use a separate cache when `

[2021-06-23 05:26] kitsonk commented on #11088
Initially I thought it was working as intended, but in fact what appears to be occurring is a bit different.

A more concise reproduction:

**dependency.ts**

[code]

**stable.ts**

[code]

**unstable.ts**

[code]

[code]

`stable.ts` will always be type checked, which is what is the undesired behaviour.

[2021-06-23 05:32] drmercer commented on #11088
For whatever it's worth, I think whichever one is run first is the one that ends up always type checked. E.g. in your repro, stable and unstable could be swapped and unstable would end up with the undesired behavior. (Although maybe it's not a problem if that behavior happens when `--unstable` is used? I realized that after opening the ticket.)

[2021-06-23 05:32] kitsonk commented on #11088
Looking at the debug logs, it appears that we send the program for type checking, because we think something has changed and `tsc` reads the `deno:///.tsbuildinfo` and notices that nothing has changed and so it doesn't emit anything, which means we don't update the cache to indicate that it shouldn't be further typed checked.

Feels like we have a logic error in determining if we need to type chec

[2021-06-23 05:42] kitsonk commented on #11087
I am afraid you were using the wrong settings in TypeScript playground.  You need to target `esnext` as that is what Deno internally transpiles to [and the error will appear](https://www.typescriptlang.org/play?useDefineForClassFields=true&target=99&strict=true#code/MYGwhgzhAECC0G8BQ1XTALmhALgJwEsA7Ac2gF5ocALAiAOlzxTQCMKraGwXVgB7IkwCuwHPzwAKAA6EAbmBwBTbPixNiJAJSIAvkn1A).  See microsoft/TypeScript#

[2021-06-23 05:42] #11087 closed

[2021-06-23 06:20] retog commented on #3695
Thanks, @kitsonk dor reopening. I'm also "all about consistency and opinionated code style", so I would prefer a non-optional choice for tabs, which would allow everyone to read existing code without having to reformat.

[2021-06-23 06:59] Alhadis commented on #3695
@retog Part of me disagrees about making *anything* non-optional. Even though there isn't a single good reason to use spaces instead of tabs for indentation, some people are rooted in this _"tabs = evil"_ mentality from the dark ages (when people resorted to mixed tabs/spaces because modern text-editors/IDEs weren't around to make tab stops easily configurable). These users—or at least those obliv

[2021-06-23 07:15] nayeemrmn commented on #3695
Actually invisibly multi-column characters aren't a great text editing experience, for some people.

[2021-06-23 07:20] Alhadis commented on #3695
Citation needed.

[2021-06-23 07:32] nayeemrmn commented on #3695
Not sure how "citation" is appropriate in this context but elaboration sure. I was talking about how tab characters are difficult for me when they get displaced with spaces or I need to do multi-cursor edits across multiple lines (that thing when you drag with the middle mouse button in vscode). It's definitely still a preference, but _please_ keep track of the fact that I'm responding to a steer

[2021-06-23 07:36] Alhadis commented on #3695
Apologies for the diatribe. I agree that keeping things configurable, no matter their defaults, is of chief importance. 👍

[2021-06-23 08:34] konsti219 opened #11091 "Rust panic in http.rs"
I'm running a web server using deno and oak.

[code]

I'm getting rust panics, but I haven't figured out what causes them yet.

Error with full backtrace:
[code]

[2021-06-23 08:57] hdodov commented on #3695
Maybe Deno could auto-detect and pick one or the other. In a space-indented file, it's not likely to have a tab character, therefore:

- If there's a tab character present - format with tabs
- Otherwise - format with 2 spaces

It doesn't sound good to search the entire source file and there could be edge cases (using tab characters in a comment), but I'm throwing it out there.

[2021-06-23 09:59] #10557 closed

[2021-06-23 11:00] kt3k commented on #10658
op_signal_poll seems to have started using usual async op since #7118, but JsRuntimeState struct in core/runtime.rs still keeps `pending_unref_ops: FuturesUnordered<PendingOpFuture>` in its field and it seems being polled. So maybe the original behavior can be restored by just dispatching async-unref op for op_signal_poll. I'll try this.

[2021-06-23 11:01] lucacasonato commented on #10658
@kt3k There is currently no way to register or dispatch an unref async op.

[2021-06-23 12:08] huydhoang commented on #9427
@kitsonk Hi, not sure if I'm having the same issue but during a project, I found relative imports working perfectly fine in client-side JavaScript files, but not in HTML files.

### Example:
`File 1: main.js`
[code]
`File 2: custom.js`
[code]
- Result: `running`

`File 3: index.html`
[code]
- Result: 404 `main.js` NotFound

**All 3 files are located inside `./page/home/` relative to `server.ts`**

[2021-06-23 12:12] caspervonb commented on #9427
Depends entirely on what server does and uses as the cwd.

[2021-06-23 12:16] mitranim opened #11092 "Rust crash when proxying multipart request via `fetch`"
## Environment

    deno 1.11.2 (release, x86_64-apple-darwin)
    v8 9.1.269.35
    typescript 4.3.2

OS: MacOS Big Sur 11.4 (20F71).

## Description

(See repro below.)

A Deno process may crash when proxying an incoming multipart POST request via `fetch` to an _inaccessible_ target server.

## Repro

Probably not the most minimal repro, but this is what I have on hand.

* See gist https://gist.

[2021-06-23 12:21] huydhoang commented on #9427
@caspervonb `server.ts` uses its own location on disk as the cwd, technically, because I use `path.fromFileUrl`.
This is what I have inside it:

`server.ts`
[code]

[2021-06-23 12:28] huydhoang commented on #9427
@caspervonb `server.ts` uses its own location on disk as the cwd as I execute `deno run` from project's root directory.
[code]
But technically speaking, it could be run from anywhere else because I use `path.fromFileUrl`.
This is what I have inside it:

`server.ts`
[code]
Could you spot any obvious error I might have missed?

[2021-06-23 14:00] #10993 closed

[2021-06-23 14:13] caspervonb commented on #9427
You didn't include your code for serving your other static files. Anyway this is unrelated to this issue. Please jump on #help on discord and me or one of the others will help you out.

[2021-06-23 22:24] lucacasonato commented on #11091
`fetch` has the same issue, but I already fixed that in #10969.

[2021-06-24 06:45] mhmdmar opened #11099 "Missing: Atomics Object"
[Atomics Object](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Atomics) is part of the ECMAScript Language Specification, it's supported in the browser and NodeJS, it helps with shared-memory in multi-threading/concurrency programming , any plans to support this in the near future?

[2021-06-24 06:48] kitsonk commented on #11049
What would you expect to happen?

[2021-06-24 06:51] kitsonk commented on #11099
What makes you think it isn't supported?

[code]

[2021-06-24 07:07] Dash1269 opened #11100 "lsp: `deno.config` set to empty string causes strange errors"
In VSCode if someone changes the global setting `deno: Config` then deletes the text, VSCode replaces the value in the global `settings.json` with an empty string causing VSCode to see things such as `top-level await` and `console.log` as errors.

![image](https://user-images.githubusercontent.com/29446556/123216913-60c8de00-d50d-11eb-981f-e3807670ea41.png)

To my knowledge the only way to fix thi

[2021-06-24 07:09] kitsonk commented on #10441
We will leave as part of #10051.

[2021-06-24 07:09] #10441 closed

[2021-06-24 07:11] kitsonk commented on #10051
Part of the proposal needs to address preferred modules.

[2021-06-24 09:07] kitsonk commented on #11099
The types are also in the types for this. 😕

[2021-06-24 09:07] #11099 closed

[2021-06-24 09:10] maximousblk commented on #9615
any updates on this?

[2021-06-24 09:25] mhmdmar commented on #11099
Thank you, I think I tried to access the object before on an older version :)

[2021-06-24 09:33] mhmdmar commented on #6691
@lucacasonato I tried a simple script where I pass the port to a worker, the worker thread receives an empty object, I am using the latest version (deno 1.11.2+d54e3ea (canary, x86_64-pc-windows-msvc))

![image](https://user-images.githubusercontent.com/25887184/123239503-184af980-d4e8-11eb-967e-0d54ea811626.png)

[2021-06-24 09:38] mhmdmar commented on #6691
Also I thought that you should know, when I try to pass a shared array buffer to the worker, I get a cloning error

![image](https://user-images.githubusercontent.com/25887184/123240275-d8d0dd00-d4e8-11eb-96a5-798074c5ad8d.png)

[2021-06-24 09:47] surma commented on #6691
@mhmdmar Looking at the code, you need to _transfer_ the message port.

[code]

[2021-06-24 11:31] lucacasonato opened #11102 "MessagePorts transferred via postMessage can not be included in structured cloned message"
Ports are only available on `MessageEvent.ports`, but not inside the structured cloned message body.

[2021-06-24 12:41] #11100 closed

[2021-06-24 12:41] #10808 closed

[2021-06-24 13:00] #10955 closed

[2021-06-24 13:43] #9880 closed

[2021-06-24 14:00] dsherret commented on #7425
I believe both the use cases shown here are now covered by import declarations being supported in the REPL (#10955).

I'm going to close this issue, but please let me know if you don't think this covers it. I believe import declarations in the repl is more preferable and discoverable than adding a CLI flag.

[code]

[2021-06-24 14:00] #7425 closed

[2021-06-24 14:04] solson commented on #7425
As far as I know, it's still not easy to define a shell alias that launches the Deno REPL with predefined imports. I would consider this need still unmet.

[2021-06-24 14:13] getspooky commented on #10099
@Soremwar you use `--quiet` flag to ignore log

[2021-06-24 14:13] gufoe opened #11105 "Get JsRuntime execution output"
Hello, I'd like to use deno to interpret js at runtime and get the result, for instance:
[code]
But execute actually returns nothing useful.

Is there any way to achieve this?

[2021-06-24 14:13] dsherret commented on #7425
@solson would a flag that runs a script or snippet of code immediately when launching the REPL make more sense than providing a list of defined imports? I think it would be more flexible. For example, similar to what you mentioned:

[code]

I think #3173 would cover this?

[2021-06-24 14:17] solson commented on #7425
@dsherret Yeah, that would be ideal. Let's keep this closed in favour of that.

[2021-06-24 14:23] dsherret commented on #3173
I think this should probably be a flag on `deno repl`. It would allow people an easy way to define repls already setup for a certain environment.

Example from #7425:

[code]

[2021-06-24 14:54] bartlomieju commented on #11105
As you've noticed `runtime.execute()` returns `Result<(), AnyError>` and thus doesn't return the evaluation value. This issue has come up a few times already and I think I'll just go ahead and change API.

That said - you won't be able to do this comparison:

The value returned will have `v8::Value` type - so you'll have to convert it to some Rust primitive type yourself.

[2021-06-24 15:10] gufoe commented on #11105
Thank you for the quick reply!
I guess converting the v8::Value to something else will be fine.

Sorry to ask this question, but do you have an idea of when this feature will be available?

[2021-06-24 15:13] bartlomieju commented on #11105
Probably in 1.12 on July, 13th

[2021-06-24 15:14] aricart commented on #11073
the amount of time wasted and the number of tools required to package javascript not only for deno but for other platforms is an incredible pain. For example tools like webpack create a huge number of issues (and dependencies). For example, javascript language features like optional chaining and bullish coalescing will make them insane depending on the version of the stack (let's not even get star

[2021-06-24 15:17] aricart commented on #10820
@bartlomieju @kitsonk current 1.11.2 still seems to hang. Do they incorporate the fix?

[2021-06-24 16:06] huydhoang commented on #9427
@caspervonb thanks, I've updated the above comments to better illustrate what happened.
Please forgive my inexperience in reporting issue. This was the only open issue related to inconsistent url imports, and I just didn't want to spam by opening another one without asking first.

[2021-06-24 16:39] andreubotella opened #11107 "The WPT test runner doesn't delete the temp files it creates"
The WPT test runner creates a temporary file for each WPT test file, containing every script used in the test. And although each of those files is only needed during the run of the test, the test runner doesn't delete them, and so they can add up. In particular, when the full WPT test suite is run, this adds up to over 600 files weighing over 100 MB in total. And since the names are random, runnin

[2021-06-24 16:46] mostafarahimifard commented on #10134
ok ok ok

[2021-06-24 16:48] #10134 closed

[2021-06-24 16:48] felipecrs commented on #10134
https://github.com/denoland/deno/pull/10133#issuecomment-822556856

[2021-06-24 17:38] mhmdmar commented on #6691
@surma This doesn't match the syntax in the browser, but even when I try this I still get the same behaviour, any ideas how to fix this ?

[2021-06-24 17:52] lucacasonato commented on #6691
@mhmdmar It does match browser behaviour (message ports must always be included in the `transfers` array). You are likely running into bug #11102 though. As a workaround, get the port through the `.ports` array on the `MessageEvent` you receive in the worker.

[2021-06-24 18:01] surma commented on #6691
Yeah you definitely need to transfer a `MessagePort` :D

<img width="577" alt="Screen Shot 2021-06-24 at 19 00 33" src="https://user-images.githubusercontent.com/234957/123310911-7c88b000-d51e-11eb-89d5-fd936d2f0348.png">

[2021-06-24 18:08] mhmdmar commented on #6691
@lucacasonato  Cool, I tried the workaround and it works, still even though I can get the port, I don't see the postMessage handler triggered from the parent

![image](https://user-images.githubusercontent.com/25887184/123311809-40f6e180-d530-11eb-9ff4-1bba46657ffe.png)

[2021-06-24 18:11] surma commented on #6691
You need to listen on `port2` if you are sending `port1` to the worker.

[2021-06-24 18:20] mhmdmar commented on #6691
@lucacasonato  @surma  Thank you both so much, it works  :)

[2021-06-24 19:00] mostafarahimifard opened #11110 "issue یعنی چه؟ به چه معنی هس ت"

[2021-06-24 19:01] #11110 closed

[2021-06-24 19:07] #11107 closed

[2021-06-24 19:50] dsherret opened #11111 "Change AST analysis code to use only indexes rather than both indexes and line and columns"
As discussed in #11090, it would be nice if we stuck to using swc's `BytePos` (index) in any AST analysis code rather than both indexes and line & columns. So line and columns would only be used at the language server layer or when displaying a diagnostic or other information to the user.

Basically in the language server case:

1. Receive line and column in language server
2. Convert to `BytePos`

[2021-06-24 22:06] ihack2712 opened #11112 "String literals will be escaped when deno script is ran with shebang"
Example

*example.ts*
[code]

-----

Running the code above with the following command:

[code]

will print

[code]

-----

But running it with the following comand:

[code]

will print

[code]

[2021-06-25 03:00] rracariu commented on #11073
The fact that deno comes with a bundler is awesome. I only used it while it was still working for my project. I don't expect the bundler to do more than packing all deps into a single js file.
I can the use babel to minify that, etc.
But since last year the bundler is not working for me https://github.com/denoland/deno/issues/8224 , if this would get fixed than what the bundler does now is perfect

[2021-06-25 04:15] #10658 closed

[2021-06-25 04:28] jed commented on #7113
Given that Deno Deploy doesn't handle compression for unsupported mime types, it would be nice to have this to allow users to handle compression themselves. For example, I'd like to compress an outgoing `event-stream` content type that has base64-encoded data lines.

[2021-06-25 06:25] gugahoi commented on #3177
Just thought I'd check in as there is not a lot of information regarding using the Firebase admin SDK in Deno. Is it possible today? If so, how can we go about it? Below was a naive attempt:

[code]

Below is the error:

[code]

[2021-06-25 07:33] jthegedus commented on #3177
There is a new version of the Admin SDK in alpha which *should* be more compatible with ESM.

[2021-06-25 08:52] dgpgdev opened #11115 "std/log buffer cut lines"
Hi, I don't know if this is the correct behavior, but the log line is cut because the buffer size exceeds as you can see below.
[code]
And when the buffer is full again here is the result. Previous line not completed and the new lines append.
[code]

[2021-06-25 09:52] einicher commented on #10005
Workers are too slow. And you cannot overwrite the window object, its read only. So there is no way to run imported modules in a sandbox. I need this sandbox on every http request, with workers this is extremly slow. So having something like node vm would be important.

[2021-06-25 11:16] jed opened #11116 "Request::clone() throws `Cannot read property 'aborted' of null `"
confirmed by @lucacasonato [here](https://discord.com/channels/684898665143206084/826085979344470037/857941199478063154).

this server:

[code]

returns this response:

[code]

when run with latest version of `deployctl` on latest version of `deno` (1.11.2).

[2021-06-25 12:52] lucacasonato opened #11118 "Migrate all builtin web globals to host objects"
Currently most of our web builins are ES classes. This means that these are all userland JS objects, not what webidl and V8 call "host objects". Host objects have the special ability to be serialized using a `ValueSerializer`. Regular JS objects can not have custom serializer steps. To properly support `MessagePort`, we need to be able to serialize these using a `ValueSerializer`.

Because of this

[2021-06-25 12:54] 51ngul4r1ty opened #11119 "Unable to filter tests using VS Code launch.json (since v1.10.x)"
**Description of Issue**

When running deno tests in the VS Code debugger it no longer filters properly.  Prior to the v1.9.2 to v1.10.x upgrade (I tried v1.11.x as well) it would run the tests specified by the "--filter" runtimeArg in the launch.json shown below.

If you remove the --filter related runtimeArgs it will run a subset of the tests (at first I thought it was running all the tests but

[2021-06-25 13:50] lucacasonato commented on #11118
So @bnoordhuis, this actually extends past just creating host objects. We actually need to create `Function` / `FunctionTemplate` for each webidl interface, because these interfaces are constructed with the `new` keyword. This is even more complicated than I had initially expected.

[2021-06-25 13:55] justinmchase opened #11121 "sleepSync stops signal processing"
If you're waiting for an interrupt signal but al happen to call sleepSync it will not send the interrupt signal and appears to hang until the sleep is done.

[code]

The signal isn't processed while sleepSync is happening... This is kind of surprising to me I was expecting it to behave more like this:

[code]

Which is a helper function I make in nearly every app and would love it if deno just had

[2021-06-25 13:58] wperron commented on #11121
That helper function already exists in the standard library over here --> https://deno.land/std@0.99.0/async/delay.ts

The `sleepSync` function is different in that it puts the main _Rust_ thread to sleep, meaning literally nothing happens during that time, the event loop is completely stopped.

[2021-06-25 13:59] caspervonb commented on #11121
In terms of syscall mapping, sleepSync is equivalent to `sleep(1)` meaning the entire worker thread is sleeping so working as intended.

[2021-06-25 13:59] #11121 closed

[2021-06-25 14:35] 06kellyjac commented on #9244
Here's a diffoscope output I ran against the nixpkgs 1.11.2 build of deno (see https://r13y.com for details on reviewing reproducibility in nixpkgs)
https://gist.github.com/06kellyjac/43de7f28038a929eecf41dabf568a2d6

Nothing obvious is popping out to me but I also don't have much of a clue what to look for when using diffoscope yet

As a note 1.5.4 also didn't result in a reproducible build for m

[2021-06-25 15:01] CoryGH commented on #10005
I tend to agree with this.  If Deno is supposed to be a superior node.js, at the bare minimum it should be able to do everything node.js does, just with a more verbose featureset.

[2021-06-25 15:09] lucacasonato commented on #10005
@einicher The Node VM module is not a security sandbox. It should in no scenario be used for security! If you need a security sandbox you have to use workers (or `worker_threads` in Node).

[2021-06-25 15:27] einicher commented on #10005
@lucacasonato I am not talking about security. Sandbox in a case where you run code separate from the main stack. It does not have to be secure. Just not interfering with the main application. If i import something that writes to the window object, i need that window object (or self) not to be the main applications window object. I found out that imports inside the worker is what slows it down. No

[2021-06-25 15:38] lucacasonato commented on #11118
Lets see if we can get a solution upstream in V8 before resorting to this: https://crbug.com/v8/11927

[2021-06-25 15:43] lucacasonato commented on #10005
@einicher Pass `--no-check` when starting Deno. This should significantly speed up the time it takes to instantiate workers. If you ware looking for isolation in an isolate, `Realms` are the solution to this.  They are not yet ready however.

[2021-06-25 18:23] #10218 closed

[2021-06-25 22:01] #11116 closed

[2021-06-25 22:39] dsherret opened #11128 "integration::run::single_compile_with_reload is flaky"
I've noticed this fail a couple times on the CI:

[code]

It should output `4`, but instead it outputs `error: Module evaluation is still pending but there are no pending ops or dynamic imports. This situation is often caused by unresolved promise.`

Edit: Another failure https://github.com/denoland/deno/pull/11131/checks?check_run_id=2918999376
And another https://github.com/denoland/deno/runs/29

[2021-06-26 00:48] bartlomieju commented on #11091
@konsti219 could you provide some example reproduction? I'm having trouble triggering this panic.

[2021-06-26 00:59] bartlomieju commented on #11013
#11039 landed so closing as fixed.

[2021-06-26 00:59] #11013 closed

[2021-06-26 01:06] bartlomieju commented on #10523
@dsherret is this feasible?

[2021-06-26 01:07] bartlomieju commented on #10507
What do you mean by no dependency? Using `deno compile` you already get a self-contained executable that has exactly same requirements as running `deno` itself.

[2021-06-26 01:08] bartlomieju commented on #10420
@kt3k is this issue still relevant?

[2021-06-26 01:11] bartlomieju commented on #10222
@josephrocca so you're suggesting to print a warning when a code like this is executed: `foo.__proto__= bar;`? I don't think that's really feasible

[2021-06-26 01:11] bartlomieju commented on #10208
Done in #10215

[2021-06-26 01:11] #10208 closed

[2021-06-26 01:14] bartlomieju commented on #9985
@lucacasonato probably not something we want to add given WPT tests?

[2021-06-26 01:17] bartlomieju commented on #9786
I believe this is outside of scope for Deno and should be solved by a third party module.

[2021-06-26 01:23] bartlomieju commented on #11060
Ref https://github.com/denoland/deno/issues/9593

[2021-06-26 01:26] bartlomieju commented on #9263
I think we should add that hook. It should print a message telling users that this is internal Deno error and ask for a report with link to the issues page. @satyarohith can you look into it?

[2021-06-26 01:30] bartlomieju commented on #8895
@Pronian we've had major rework to inspector infrastructure recently, does it problem still happen for you?

[2021-06-26 01:32] bartlomieju commented on #8869
@caspervonb it seems we're now collecting all received notification, but we actually discard them right away. I think this could now be addressed by checking for received notifications?

[2021-06-26 01:33] bartlomieju commented on #8713
@caspervonb is this still actionable given we now have `exitSanitizer`?

[2021-06-26 01:35] bartlomieju commented on #8579
This issue should be now resolved - most of FS APIs support `URL` overload.

[2021-06-26 01:35] #8579 closed

[2021-06-26 01:43] caspervonb commented on #8713
Oh completely forgot about this.
Yeah it still applies to integration tests that are run with `deno run` via `Deno.run`.

[2021-06-26 01:44] bartlomieju commented on #8713
So we'd have to add some kind of call into `op_exit` to prepare a flush of collected coverage?

[2021-06-26 01:47] bartlomieju commented on #8227
@magurotuna do you have any ideas how we could tackle this issue?

[2021-06-26 01:47] caspervonb commented on #8713
Yes, altho would be preferable to have something like `atexit(1)` in Rust that can take a closure, that way we can keep it out of the ops.

[2021-06-26 01:48] bartlomieju commented on #8118
@dsherret could you please look into this?

[2021-06-26 01:50] bartlomieju commented on #8713
Not sure if that would work - you still need to access `ProgramState` and `Worker` to finish coverage collection?

I think this might be a non-issue and working as intended unless Node can collect coverage if it process exits.

[2021-06-26 01:51] bartlomieju commented on #7674
This is most likely related to `PumpMessageLoop` API in V8, which will be implemented in https://github.com/denoland/rusty_v8/pull/706 and subsequently in Deno.

[2021-06-26 01:53] bartlomieju opened #11132 "deno lint --watch"
Similar to other subcommands linter should support watching for file changes (https://github.com/denoland/deno/issues/7465).

[2021-06-26 01:53] bartlomieju commented on #7465
This is mostly implemented, still missing `deno lint --watch`, but let's continue in https://github.com/denoland/deno/issues/11132

[2021-06-26 01:53] #7465 closed

[2021-06-26 01:58] bartlomieju commented on #7407
Let's continue in https://github.com/denoland/deno/issues/10756

[2021-06-26 01:58] #7407 closed

[2021-06-26 02:00] bartlomieju opened #11133 "Deno.test() should support timeout option"
`Deno.TestDefinition` should allows to specify a timeout for a test case:

[code]

[2021-06-26 02:02] bartlomieju commented on #7208
We've had a major overhaul of `fetch()` implementation and enabled a lot of Web Platform Tests which should cover bugs described in this issue. I want to tentatively close this issue, @lucacasonato is that ok with you?

[2021-06-26 02:03] bartlomieju commented on #7330
This is being actively discussed in https://github.com/denoland/deno/discussions/10771

[2021-06-26 02:03] #7330 closed

[2021-06-26 02:04] bartlomieju commented on #6925
I am not sure if it would be possible to collect coverage report for already snapshotted code. @caspervonb do you have any ideas?

[2021-06-26 02:05] bartlomieju commented on #6783
We've had a major rework to net infrastructure since this issue was opened. Tentatively closed as fixed, please let me know if the problem persists.

[2021-06-26 02:05] #6783 closed

[2021-06-26 02:08] andreubotella commented on #7208
#11070 should fix this.

[2021-06-26 02:11] caspervonb commented on #11133
We had a PR for this quite a while back (https://github.com/denoland/deno/pull/7372).

[2021-06-26 02:12] bartlomieju commented on #6238
This seems to be fixed now.

[2021-06-26 02:12] #6238 closed

[2021-06-26 02:15] bartlomieju commented on #5897
This is now supported using `DENO_AUTH_TOKENS` env variable: https://deno.land/manual@v1.11.2/linking_to_external_code/private#deno_auth_tokens

[2021-06-26 02:15] #5897 closed

[2021-06-26 02:16] bartlomieju commented on #5843
This has been thorn in my side for the longest time, I'll try to look into it soon

[2021-06-26 02:19] bartlomieju commented on #4716
For posterity: we now support type-checking docstrings, running examples is still a TODO that @caspervonb was looking into

[2021-06-26 02:20] bartlomieju commented on #4366
`deno test` now runs *each module* in isolation and we currently don't plan to isolate per-test case as the overhead of creating new isolates was too great.

[2021-06-26 02:20] #4366 closed

[2021-06-26 02:25] bartlomieju commented on #1569
I think we can close this issue now. We can use flamegraps for profiling Rust code and inspector for JS code.

[2021-06-26 02:25] #1569 closed

[2021-06-26 03:16] danopia commented on #9985
Does WPT mandate that fetch requests go directly to the server? Web browsers let fetch() get hooked by registering the fetch event from a ServiceWorker, for example

[2021-06-26 03:27] bartlomieju commented on #5843
I just tried it and everything works fine. I guess this issue is resolved :)

[2021-06-26 03:27] #5843 closed

[2021-06-26 03:35] magurotuna commented on #8227
Lexer-based highlighting would work enough with a little compromise. I'll try to implement a PoC for it.

[2021-06-26 04:20] bartlomieju opened #11135 "Inspector prompt in Devtools could be better"
Deno:
![Screenshot 2021-06-26 at 06 01 19](https://user-images.githubusercontent.com/13602871/123501615-768dee80-d646-11eb-8625-71f749b1ebb6.png)

Node:
![Screenshot 2021-06-26 at 06 01 26](https://user-images.githubusercontent.com/13602871/123501616-7988df00-d646-11eb-8e07-b2f27bad417b.png)

I think leaving pid is fine, but we should show module specifier and fully resolved path as Node does.

[2021-06-26 05:13] KanseiKy opened #11136 "Add `deno uninstall` to install modules"
Similar to how `npm uninstall` works, I would like this feature to be added. You can pass the full URL used during the installation. Examples:
[code]
This way, we can uninstall modules faster rather than browsing the `~/.deno/bin` directory and uninstall the desired module

[2021-06-26 05:27] crowlKats commented on #11136
Duplicate of #3139

[2021-06-26 06:53] Srabutdotcom opened #11137 "deno quit when exporting oak module"
Dear team,

I use deno version 1.11.2
and have been trying to export oak module but the app quit without any error message.

[code]

and then when i call deno run, it is just quit.....

What is wrong?

[2021-06-26 06:57] satyarohith commented on #11137
Can you share the code where you're importing the `app`?

[2021-06-26 07:04] Srabutdotcom commented on #11137
[code]

even before reaching this line, deno quit.

[2021-06-26 07:11] #11137 closed

[2021-06-26 07:26] #11136 closed

[2021-06-26 07:28] Pronian commented on #8895
Hello @bartlomieju !

I just checked and it's no longer reproducible on `v1.11.2` We can close this.

[2021-06-26 07:28] #8895 closed

[2021-06-26 09:08] lucacasonato commented on #9985
@danopia Yeah, but service workers are incredibly complicated, and I don't see us implementing them any time soon.

[2021-06-26 09:17] #11102 closed

[2021-06-26 09:34] danopia commented on #9985
Sure; I don't see how WPT would block a simpler mechanism as was implied, though.

[2021-06-26 09:38] josephrocca commented on #10222
@bartlomieju Yes - just the first time that something like that is attempted (future occurrences would be silent). But if it's not feasible, then I'll close this. I think overwriting `__proto__` isn't common enough that this is a huge problem - so long as libraries/frameworks/tooling/etc. (like [this](https://github.com/browserify/browserify/issues/2010)) can transition to `setPrototypeOf`, then i

[2021-06-26 09:38] #10222 closed

[2021-06-26 09:51] surma opened #11139 "`Transferable` missing from lib.dom.d.ts"
Now with #11076 landed, it makes sense to add the `Transferable` type to `lib.dom.d.ts`.

From [Typescript’s `lib.dom.d.ts`](https://github.com/microsoft/TypeScript/blob/11b38676b0e23ff109ed822942300420a0c7a8fb/lib/lib.dom.d.ts#L19703):
[code]

I’m happy to add it, but wanted to check first if `lib.dom.d.ts` is manually maintained or if there’s some sort of automation.

[2021-06-26 09:55] lucacasonato commented on #11139
`lib.dom.d.ts` is vendored from TS - it isn't manually updated by us. I guess we just haven't updated it in a while. So to update, just copy over the exact file from TS repo :-)

[2021-06-26 09:56] surma commented on #11139
That is within my skillset

[2021-06-26 10:21] codehz opened #11140 "parse error when template literal type starts with `<` or `>`"
poc:
[code]

Error:
[code]

[2021-06-26 11:09] surma commented on #11139
Never mind me. I’m a muppet.

[2021-06-26 11:09] #11139 closed

[2021-06-26 11:39] #10928 closed

[2021-06-26 13:57] grian32 commented on #11049
An error or warning saying the link is invalid, i think in vscode this would equal to one of those popups on the bottom right.

[2021-06-26 14:52] magurotuna commented on #11140
This issue comes from the upstream crate(swc). I've reported it there.

[2021-06-26 15:34] #10991 closed

[2021-06-26 16:06] sramam opened #11146 "lsp: diagnostics not cleared after updates to `import_map.json`"
vs-code needs to be restarted after updates to `import_map.json`

- `.vscode/settings`
[code]
- `import_map.json`
[code]

Before a restart:
![image](https://user-images.githubusercontent.com/518574/123518963-49006f80-d65d-11eb-97ba-73a813a67361.png)

After a restart:
![image](https://user-images.githubusercontent.com/518574/123519002-8664fd00-d65d-11eb-983d-71f83c9c86a0.png)

[2021-06-26 16:50] lowlighter opened #11141 "`Deno.emit` panicks when using `data:application/typescript;base64` as url"
Trying to bundle auto-generated code with `Deno.emit` but data url results in panics, though it should be possible as both `import()` and `Worker` handles data urls
[code]

[code]

[2021-06-26 17:04] satyarohith commented on #11141
I couldn't reproduce the panic on `main` and `1.11.2`, but it throws a `NotFound: Cannot resolve module` error for data URLs.
[code]

[2021-06-26 17:13] lowlighter commented on #11141
Sorry I forgot to put the version:
[code]

Maybe it occurs only on Windows ?

[2021-06-26 18:19] einicher commented on #10005
@caspervonb its not the worker itself that makes this approach slow, its the whole concept about it: in a worker everything needs to be reloaded from scratch. You cannot share active objects between main application and sandbox. In my case: on every http request the whole cheerio tree gets reimported and rerun (takes 500ms). in a node vm i do a global.jQuery = require('cheerio'); at application st

[2021-06-26 18:20] lucacasonato commented on #10005
@einicher What do you actually intend to achieve with this separate vm context?

[2021-06-26 18:29] caspervonb commented on #10005
That in, the middle bit would be probably be realms:
https://github.com/tc39/proposal-realms
https://github.com/tc39/proposal-ses

[2021-06-26 18:39] einicher commented on #10005
Yes Realms seem to be a very advanced way to achieve this. VMs seem simpler to me, they just give you separate context.

[2021-06-26 18:58] Soremwar commented on #10005
@einicher Unless you are doing weird stuff with the global scope, most HTTP libraries don't save state between requests and would "practically" run in a different context from one another. Why don't you just explain what you are trying to achieve in Deno?

[2021-06-26 19:02] lawrence-dol opened #11143 "Import IIFE Scripts"
How can I go about importing an IIFE script for use in a deno program?

We have a library of JS that currently must target ES3 because a production product uses a tool with an older JS engine, and this is non-negotiable. But I need to be able to use this library in deno, and I can't convert it to ES modules. The library is currently using function-closure modules, ala Crockford, where every source

[2021-06-26 19:07] CoryGH commented on #10005
This is nearly identical to my use case.  I was considering porting a node.js app I have to Deno if it could solve this issue, the gist of it is:

1. have a central master thread per machine
2. have a bunch of workers
3. workers pull tasks from master thread, or from eachother via sockets already separated out across those workers
4. workers can be for sockets, for lambdas, etc - they act in a poo

[2021-06-26 19:15] einicher commented on #10005
Aaah, ookay, thats way more sophisticated than what i am talking about :)
I just need separate contexts for incoming http requests like you can do with a node vm.

[2021-06-26 19:24] lucacasonato commented on #10005
But why? What do contexts give you compared to not creating any contexts (staying in the same context).

[2021-06-26 19:38] einicher commented on #10005
http requests come in parallell, if they use the same context they overwrite each other and mix up their global variables.

[2021-06-26 19:46] lucacasonato commented on #10005
@einicher They come in concurrently, not in parallel. A single Javascript isolate only runs on a single thread, so no two pieces of code can ever run at once. Yielding from one piece of code can only happen on call stack returns or async await points. If you only access cheerio synchronously, you can not have multiple requests interfere. In fact, creating contexts does not help you at all in a sce

[2021-06-26 23:21] #11143 closed

[2021-06-26 23:28] kitsonk commented on #11141
Data URLs aren't supportable as root modules for various reasons. We should look at the error messages though and maybe try to detect this earlier. It may be possible to support them, but I think we run into issues with type checking via tsc.

Being able to mix generated and external content is
#9866 which would make this easier to accomplish without needing a data URL.

[2021-06-26 23:31] kitsonk commented on #11146
This is due to diagnostics not being invalidated or cleared in the lsp when the config changes. I suspect editing the document would have the same effect as restarting.

[2021-06-26 23:54] sramam commented on #11146
True dat! I can confirm this happens on editing the document too.

[2021-06-27 00:03] jeffreyjw opened #11147 "Question: state of Extension API in Deno 1.11"
I know the extension API is unstable and that there are currently issues about problems with it

https://github.com/denoland/deno/issues/10671 https://github.com/denoland/deno/issues/10534

This issue is more of a question: is there any way for Deno 1.11.2 to actually create a working native extension? The example code in https://github.com/denoland/deno/tree/main/test_plugin causes a segfault (at

[2021-06-27 00:12] crowlKats commented on #11147
No. plugins will go away in favour of FFI. See #8490/#10908. There is currently no ETA, but ideally 1.12 for FFI, as that's when plugins get removed.

[2021-06-27 00:18] #11147 closed

[2021-06-27 00:27] #4502 closed

[2021-06-27 01:01] metanomial opened #11149 "The TypeScript signature for the URL constructor only accepts strings"
The Typescript signature for the URL constructor should accept anything that can be coerced to a string.

**example.js**
[code]

**example.ts**
[code]

The [definition of the URL constructor](https://url.spec.whatwg.org/#constructors) in the URL Standard doesn't directly give the type of "url", but the [definition of the URL parser](https://url.spec.whatwg.org/#concept-basic-url-parser) accepts a

[2021-06-27 01:08] kitsonk commented on #11049
It seems like a reasonable feature, though we would need to consider how to make it non-spammy, as currently we don't know if a missing dependency is because of a request to cache or because you opened up the file, and if you got a notification every time you opened up a file it would get very annoying.

The other option would be to expose a more informative diagnostic so that an uncached module i

[2021-06-27 01:18] CrimsonCodes0 commented on #11149
You seem to have a misunderstanding of how either, the HTML spec typings work, or TypeScript works. The WebIDL type signature declares the types that the input should be converted to for usage within the spec algorithms. TypeScript tries to prevent passing incorrect types of values they shouldn't be; in this case, that would be the `URL` constructor. If TypeScript allowed one to pass around values

[2021-06-27 01:22] kitsonk commented on #11149
There are a lot of APIs that take advantage of JavaScript implicit coercion. One of the main advantages of TypeScript is that it can avoid errors around implicit coercion and require explicit coercion. Weakening the types to accommodate implicit coercion is a "bad" idea and not one we should consider.

If the `lib.dom.d.ts` typing that ship with TypeScript varied from our definition, we would cons

[2021-06-27 01:22] #11149 closed

[2021-06-27 01:27] kitsonk commented on #11139
We always update it when we update TypeScript versions. It is current of TypeScript 4.3.2.

[2021-06-27 04:47] kt3k commented on #10420
Tried on deno_std again, and it didn't reproduce now. (ref: https://github.com/denoland/deno_std/pull/984/checks?check_run_id=2923771234) (Did anyone do anything about this? 🤔 )

Let's close for now.

[2021-06-27 10:58] caspervonb opened #11151 "Implement direct sockets"
Links:
 - https://github.com/WICG/raw-sockets
 - https://docs.google.com/document/d/1CRERH0H68BsbgKvf9OQAWPb8CjWaKQuip2h5CMu7bk0
 - https://wicg.github.io/raw-sockets/

[2021-06-27 16:24] crowlKats commented on #11151
Not a fan:
- a modern API that uses blobs
- the spec doesn't cover implementation steps, only interfaces (and that not even extensively); same as WebSocketStream and that's just makes it extremely difficult to implement while trying to stay conformant to the spec
- we would have both `Deno.listenDatagram` and `openUDPSocket` because the latter is only a "client". Sure we could ignore that aspect a

[2021-06-27 16:38] caspervonb commented on #11151
Agreed, but this is a young specification that still has interest from at-least one person from Chrome and we are in a position to guide it as one of the two implementors.

[2021-06-27 18:53] NulledJosh opened #11153 "Deno Secure Websocket Client"
For some resson, secure websockets do not work in deno. Insecure websockets like `ws://echo.websocket.org` work. You can open a secure websocket, but the readystate never gets set to 1.
[code]

[2021-06-27 19:06] AlexanderOMara opened #11154 "deno compile binaries cannot be code signed (macOS, Windows)"
It looks like the current deno compile implementation simply appends data to the deno binary (like a self-extracting ZIP). Trouble is, since this data isn't integrated as part of the actual executable data, it isn't possible to sign the resulting binary.

For example, on macOS you can't sign the binary:

[code]

Or on Windows signing appears to work, but the signature is appended to become the las

[2021-06-27 19:35] crowlKats commented on #11153
that website has an old certificate and doesnt meet up to rusttls standards. if you would listen to the error event you would get an event there.

[2021-06-27 21:17] #11153 closed

[2021-06-27 22:19] #11091 closed

[2021-06-27 22:23] kitsonk commented on #11154
Ref #575

[2021-06-27 22:56] caspervonb commented on #6925
Good question! I do filter out urls starting with `deno:` at the moment but a quick grep after running coverage on `test_util/std` does show a lot of `deno:` urls.

[code]

Didn't read through to see what the data is, but we're definitively capturing something and this is probably doable even with snapshots.

[2021-06-28 08:10] crowlKats commented on #7457
I cant reproduce this anymore, so i assume it got fixed sometime

[2021-06-28 10:34] kt3k opened #11158 "Proposal: Event based Signal API"
This proposal suggests removing the existing Signal APIs and instead suggests adding Event based Signal APIs.

Suggested APIs

[code]

Note: [DOM spec](https://dom.spec.whatwg.org/#introduction-to-dom-events) allow us to dispatch an event with an arbitrary name. So I think this doesn't break web compatiblity.

## Motivations

Currently we have AsyncIterable based API in the unstable namespace.

[c

[2021-06-28 11:39] bartlomieju commented on #7457
Then closing as resolved :)

[2021-06-28 11:39] #7457 closed

[2021-06-28 12:51] wperron commented on #10005
This conversation is getting off-topic, and there's nothing more actionable for us, so I'll be converting to a discussion

[2021-06-28 13:11] vovacodes opened #11161 "Deno.emit() allow specifying "externals" that should not be bundled."
I'm trying to create a bundle for my frontend app with `Deno.emit()`. I'm using a bunch of dependencies from jspm which I don't want to include into the bundle and let the browser import them instead. This would allow me to leverage the caching benefits coming from using a CDN.

`swc_bundler` that's used under the hood in `Deno.emit()` already supports it: https://github.com/swc-project/swc/blob/4

[2021-06-28 15:15] littledivy opened #11162 "fmt: issue with double semicolon followed by a comment"
Minimal reproduction:
[code]
is formatted as:
[code]

Expected behavior (like prettier):
[code]

[2021-06-28 15:28] kt3k commented on #11018
Mozilla seems to have marked File System Access API as 'harmful' recently https://github.com/mozilla/standards-positions/pull/545 though they say there's a subset of the API they're quite enthusiastic about.

[2021-06-28 18:52] caspervonb commented on #11158
At the system call level, signals are exposed as interrupts so handling them as events makes so much more sense and would even make it much simpler to add default behaviours because those could just be cancelled with `preventDefault()`.

[2021-06-28 19:02] ry commented on #11158
Rather than using `addEventListener` we could do something like
[code]

[2021-06-28 19:04] piscisaureus commented on #11158
But why do you think that is better than addEventListener?

[2021-06-28 19:11] bartlomieju commented on #11158
I generally like the proposal for `addEventListener` - what worries me though is that we'll have to complicate the logic for event listeners just to start/stop polling for signals (ie. dispatch proper ops) by matching event name prefix to `SIG`. Maybe we could model it after event API but do something like `Deno.addSignalListener()` and `Deno.removeSignalListener()`? Then the two concepts wouldn't

[2021-06-28 19:14] caspervonb commented on #11158
Presumably we would always have our own signal event handlers and dispatch them? We need to do that in order to support things like spin up a inspector from `SIGUSR1`.

[2021-06-28 19:36] j-mendez commented on #3177
WIP for deno firestore, https://github.com/j-mendez/dfirestore / https://deno.land/x/dfirestore@v0.0.9. Need to improve the docs a bit, add pagination for document query, and some other minor task. Hope this helps!

[2021-06-28 19:44] j-mendez commented on #3177
WIP for deno firestore, https://github.com/j-mendez/dfirestore / https://deno.land/x/dfirestore@v0.0.9. Need to improve the docs a bit, add pagination for document query, and some other minor task. Hope this helps!

[2021-06-28 20:27] sramam commented on #11146
Are local imports different than remote imports?

These stale LSP errors seem to only impact changes made to import_map.json or to relative paths from such imports.
Changes to local files imports take effect instantly.

I'm don't yet have a deep understanding of the inner workings of Deno - apologies if this is not useful.

[2021-06-28 22:15] grempe opened #11167 "deno.land/std website is often throwing `500` errors when retrieving dependencies"
I have a Github actions script that runs a Deno command every five minutes. The most frequent cause of failure is a `500` error being generated by the web server serving up `https://deno.land/std...`. It would be great if the source of these errors could be determined and the issue fixed. I've seen this error at least 20 times in the last week in script logging (and I'm sure I'm not alone).

It do

[2021-06-28 22:18] lucacasonato commented on #11167
Thanks for the report @grempe. Going to investigate and will get back to you with a status update soon.

[2021-06-28 23:22] lucacasonato commented on #11018
I think it is just the method of opening files, because they don't consider the permission prompts strict enough. The actual interface seems to be relatively uncontroversial.

[2021-06-28 23:54] bartlomieju opened #11168 "Q3 2021 roadmap"
Here's a list of major features we would like to land in Q3

### CLI/Runtime/Core

- [ ] Introduce new subprocess API
  - #11016
  - #5501
  - #11618
  - Maybe 1.15/1.16
- [ ] Overhaul testing API (https://github.com/denoland/deno/discussions/10771)
- [ ] Overhaul `deno doc` (https://github.com/denoland/deno_doc/issues/111, #8233)
  - Progress there, most user facing delivery in Q4
- [x] More opti

[2021-06-29 00:20] caspervonb opened #11169 "Refactor away the test runner from the snapshot"
Just to set up a motivating example for allowing return values from within execute functions (#11129).

I'd like to end up with an API looking something like this in Rust.

[code]

This would let us remove all the convoluted `runTest` bits that communicate over channels.
To do this we need to:
- Be able to serialise test definitions into Rust via execute (omitting the Function is fine I guess, we

[2021-06-29 00:27] kitsonk commented on #11161
It is strongly related to #9866, but there has been some debate internally with the core team about the roadmap with `Deno.emit()`.  I plan to come up with a stronger proposal in the very near future and will include trying to address this use case as part of that proposal.  We need to get alignment with the general direction with `Deno.emit()` before anyone expends any effort trying to implement

[2021-06-29 01:03] #3736 closed

[2021-06-29 02:03] bartlomieju opened #11170 "deno test --doc should be able to typecheck Markdown files"
`deno test --doc` should typecheck codeblocks in Markdown files by default.

It will make it easier to keep documentation up to date, especially keeping Deno manual examples working on each commit.

Doing so will keep it inline with `deno fmt` and `deno lint` which can already act on Markdown files.

CC @caspervonb

[2021-06-29 04:54] fetchadd opened #11171 "Deno.memoryUsage has a upper limit about 4G"
Run the following code with `deno run --v8-flags=--max-old-space-size=6144 mem_test.js`, the heapTotal of memoryUsage can only reach a upper limit about 4G。But if run the mem_test.js with `node --max-old-space-size=6144 mem_test.js`,  we can see the heapTotal can be 6G before "JavaScript heap out of memory"。And with Deno, the memory error is "Fatal javascript OOM in Scavenger: semi-space". Is ther

[2021-06-29 08:39] kt3k commented on #11158
@ry

My concern about this design is that how to unbind from the signal is not obvious. I can think of 3 different designs for unbinding, for example, and it seems difficult to decide which is better than the other.

[code]

[2021-06-29 08:53] kt3k commented on #11158
@bartlomieju I'm open to `Deno.addSignalListener` design. It solves the problem in a similar way and how to unbind is almost obvious from the similarity of the name to addEventListener.

But personally I don't think mixing events to `addEventListener` adds that much complexity to the implementation. I'm thinking of implementing like the below.

[code]
With the above construction, signal related st

[2021-06-29 09:09] lucacasonato commented on #11158
@kt3k That implementation would likely break some WPT once I fix up `EventTarget`. Is there precedent for "conditional dispatch" on the web platform?

[2021-06-29 10:05] kt3k commented on #11158
@lucacasonato Could you elaborate on that? What do you mean by conditional dispatch?

[2021-06-29 10:16] lucacasonato commented on #11158
I.e. an event is only dispatched if there is a listener. I vaguely remember the DOM spec saying that dispatchers should be unaware of the number of event listeners.

Another issue is modifying the addEventListener method on `Window`. That method is actually inherited from EventTarget, so adding that method to an extended class would break if a user does `EventTarget.prototype.addEventListener.call

[2021-06-29 11:59] ebebbington opened #11173 "`deno fmt` does not wok well with templates"
Deno version: 1.11.2

Reproducable from: https://github.com/ebebbington/chatsterisk/blob/destiny/src/server/public/components/Call.ts (the file here has already been formatted)

![image](https://user-images.githubusercontent.com/47337480/123793439-9852d400-d8d9-11eb-8a18-3a42d8dce23e.png)

[2021-06-29 13:11] dsherret commented on #11173
@ebebbington that link is a 404. Would you be able to update it so it's easier to copy and paste out code?

Also, what does "not work well with templates" mean in this case and what is your expected output?

I believe you are referring to this minimal example:

[code]

Formatting like this:

[code]

Instead of this, correct?

`testing testingt tt t test t t t tt t t t t tt t t t ${
  this.selected

[2021-06-29 13:23] ebebbington commented on #11173
my bad @dsherret! i deleted the branch as I merged it - i've restored it now so that link should work again

"does not work well" as in, the formatting is all over the place

I do understand that there is a column width limit so i'd get at some point the code will be cut off, but if you take a look at the screenshot, it formats so many lines in such an ugly way (which seems like a bug as it doesnt

[2021-06-29 13:32] dsherret commented on #11173
@ebebbington ok, the only thing I see is what I mentioned.

Could you fill in this template?

    **Input Code**

[code]

    **Expected Output**

[code]

    **Actual Output**

[code]

[2021-06-29 13:40] leekeal opened #11174 "Does deno have a functional module like node's http.agent?"
Does deno have a functional module like nodejs http.agent? We want to develop a revers，
Hope to achieve keepAlive and other features。

[2021-06-29 13:43] ebebbington commented on #11173
Like why `${` on a newline, then `computed(() => {` on a completely new line, it's not like the column width is 20

**Input Code**

[code]

**Expected Output**

Really just the same as the input, but respecting Deno's column width

[code]

**Actual Output**

`${`, `computed(() => {`, `return html` all on new lines with different indentation, making it very hard to read

[code]

[2021-06-29 13:51] dsherret commented on #11173
@ebebbington thanks! I'll get this closer to [prettier's output](https://prettier.io/playground/#N4Igxg9gdgLgprEAuEAzArlMMCW0AEqAFAJT7AA6U+hm2e1xZlUABlTTQDwAOAfACU4AWxEAjOACd8MCPklxUCgM4ALGarj44AD3hRlDZTLnCAhgGstZ-GDMAbewEIuAen4dO3ACY4Abrb2ZsrKALwUIJIQAO6E9roRfJ5ePv6BwWERkPYAtABsMrowOQ44AOZQOWCJySlevHwAynDx2Phm1EUIhgSytg72hFHCbh7UdSlcyi1wbTje4SBdBgw5slUDOUoQwhH4PFE8SH4O6HChACTAMKo4ygB0AMTTrfDeAGLD

[2021-06-29 13:53] ebebbington commented on #11173
Thanks! I can see why it would change the indentation, because afaik as fmt is concered, its JS code - whereas in my case, im using markup so i'd want certain lines to be indended (eg `<p></p>` 'within' a `<div>`)

So that's why i'd understand the formatter pushing lines of code left

Maybe this might be out of scope? It seems quite a unique case

[2021-06-29 13:55] dsherret commented on #11173
@ebebbington yeah, it would be nice to format the html within html tagged template literals.

https://github.com/dprint/dprint-plugin-typescript/issues/9

[2021-06-29 14:21] ebebbington commented on #8224
Still encountering this issue, see https://gist.github.com/ebebbington/4c43ef492200677cc0a27339f5ea51dd

[2021-06-29 16:49] #11174 closed

[2021-06-29 17:17] abakfja commented on #10553
@CGQAQ if you are not working on this, can I take this up?

[2021-06-29 19:15] jsejcksn opened #11179 "Linux release binary identifies as "canary" for v1.11.3"
Today when upgrading Deno to `1.11.3` on two devices, I noticed that the result of calling `deno --version` on Linux returns info about a `canary` release channel instead of `release`. See outputs below for comparison:

Linux:
[code]

macOS:
[code]

This discrepancy seems like a bug, but if it's intentional and documented somewhere, please feel free to point me to the documentation and close.

[2021-06-29 19:17] ebebbington commented on #8224
can confirm this is a case of circular dependency though

[2021-06-29 20:09] ry opened #11180 "Could not publish deno 1.11.3 on crates.io"
[code]

[2021-06-29 20:24] piscisaureus commented on #11180
Very strange. Tried `cargo publish --locked` but no luck with that either.

[2021-06-29 20:26] piscisaureus commented on #11179
This is a bug in the github actions workflow file.
(https://github.com/denoland/deno/blob/5db9f627e3b105ffc1ed43bb81732886308ddfdf/.github/workflows/ci.yml#L215)

[2021-06-29 20:37] dsherret commented on #11180
I'm surprised it pulled in dprint-swc-ecma-ast-view v0.21.1 and swc_ecmascript v0.43.0. I thought it would have stuck to 0.21.0 and swc_ecmascript 0.39.0 due to the lock file. I upgraded the swc dependency in there yesterday and didn't notice any api changes so I just bumped the patch of dprint-swc-ecma-ast-view... looks like I should have published a minor release.

[2021-06-29 20:55] dsherret opened #11182 "lsp: index out of bounds panic in adjust_folding_end_line"
Not sure what I did, but this occurred:

[code]

https://github.com/denoland/deno/blob/f4bed1081456089559c82441a13c4fb700840cac/cli/lsp/tsc.rs#L1666

[2021-06-29 20:58] CGQAQ commented on #10553
Sure

获取 Outlook for iOS<https://aka.ms/o0ukef>
________________________________
发件人: Kannav Mehta ***@***.***>
发送时间: Wednesday, June 30, 2021 1:18:07 AM
收件人: denoland/deno ***@***.***>
抄送: CGQAQ ***@***.***>; Mention ***@***.***>
主题: Re: [denoland/deno] Improve the error message from `stat/statSync` (#10553)

@CGQAQ<https://github.com/CGQAQ> if you are not working on this, can I take this up?

―

[2021-06-29 22:23] lowlighter commented on #9786
I guess it isn't as easy as with NodeJS since libraries don't have an "`package.json` equivalent" with a field containing the license used and it would be hard to guess since people are also able to import small code chunks from libraries.

It would have been nice to have it in the toolchain since you can already review dependencies and versions, but I understand that it may be hard to implement a

[2021-06-29 22:49] John-Dean opened #11185 "deno compile; add an option to have no foreground window when .exe is ran"
Hi,

I have a small sample script running on Deno 1.8.3 (webview has problems on the latest Deno version)

[code]

When this is compiled on Windows, for example using: `deno compile --allow-all --unstable sample.js` I get an output .exe, this is expected.

When I run said .exe, I first get a Command Prompt window spawn, which then runs the code and spawns a webview. Unfortunately I'm then left wit

[2021-06-29 23:18] kitsonk commented on #11182
Were you copy pasting something?  I suspect it occurred during an edit where tsc was out of sync with the state of the document in the lsp.

We obviously need to guard against this situation, as it will randomly occur.  Two options I can think of, is that when we get the content to "adjust" we check the version that was sent to tsc and short circuit if the version is now different.  The other opti

[2021-06-29 23:22] kitsonk commented on #9786
"versions" are simply URLs... there is no logic in Deno that holds any opinions to what a "version" is.  It is up to the package registry to put semantic meaning into what a URL represents, and likely the best solution for this feature.

[2021-06-30 00:00] kitsonk opened #11186 "Proposal: [breaking-change] Default to `h` and `Fragment` for JSX"
Currently, Deno CLI defaults to effectively the following compiler options for TypeScript:

[code]

I believe it is far more common though in Deno to not use React specifically for server-side rendering, the most common use case for JSX/TSX in Deno.  Instead I think modular libraries where you import `h` and `Fragment` are far more common (Like [Preact](https://preactjs.com/) or [Nano-JSX](https:/

[2021-06-30 00:07] AlexanderOMara commented on #8912
Reading/writing EXE resources in pure JavaScript is definitely possible, there's an NPM module which can do it (https://www.npmjs.com/package/resedit).

[2021-06-30 00:59] bartlomieju commented on #10622
I agree, I don't like adding a new flag just for clearing screen. Let's default to this behaviour.

[2021-06-30 01:00] bartlomieju commented on #10531
CC @caspervonb

[2021-06-30 01:03] bartlomieju commented on #11078
I agree with David on this one - it might be a "cool" feature but I question its usability. REPL is for rapid feedback loop and type checking will only add latency between evaluation and frustrating diagnostics.

[2021-06-30 01:58] kdy1 commented on #8224
Can you share the import tree? (Only import/export statements are required)

I expect this bug to be related to of detection of import cycle, but it's too hard to reproduce.

[2021-06-30 02:11] bartlomieju commented on #10553
Please do, there's already an open PR https://github.com/denoland/deno/pull/10642, but ideally we'd want to unify error messages for all ops in `ops/fs.rs` and provide the paths in those messages.

[2021-06-30 02:22] bartlomieju commented on #11158
In the light of Luca's argument I'm even more in favor of `Deno.addSignalListener()` and `Deno.removeSignalListener()`

[2021-06-30 02:36] bartlomieju commented on #11053
I'm gonna close this issue as we already support `TZ` env variable.

[2021-06-30 02:36] #11053 closed

[2021-06-30 03:25] bartlomieju commented on #11092
Thanks for the report and reproduction @mitranim, I can trigger the panic consitently. I will look into fixing it.

[2021-06-30 03:36] bartlomieju commented on #11092
This panic originates in `op_fetch_request_write`, concretely here:
https://github.com/denoland/deno/blob/622f9c688902411e347038e82fc5c354c60678cf/extensions/fetch/lib.rs#L359

So it's actually bug in `fetch` implementation. I'm having trouble figuring out why that op is even run if the host that fetch tries to connect to does not have a server running.

CC @lucacasonato

[2021-06-30 04:22] weareoutman commented on #11105
Hi, would it support getting async result from a module includes top-level await? (using `execute_module`)

[2021-06-30 06:22] bartlomieju commented on #11105
Not in the #11129, once that PR lands I will look into supporting that for modules.

[2021-06-30 07:21] bartlomieju commented on #8869
Ref https://github.com/denoland/rusty_v8/pull/717

[2021-06-30 07:47] kt3k commented on #11158
@lucacasonato

I don't know whether dom spec has such rules, but I doubt dom implementations dispatch `mousemove` or `scroll` events all the time when the users interacting with pages. That would be a significant performance penalty.

Do we need to support `EventTarget.prototype.addEventListener.call(window, "SIGINT", (e) => console.log(e))`? If this is absolutely necessary, we can add some intern

[2021-06-30 08:05] andreubotella commented on #11158
I believe the section @lucacasonato is talking about is https://dom.spec.whatwg.org/#observing-event-listeners. It doesn't require that the presence or absence of listeners not be observable, but it does say that adding an empty listener mustn't change the event's behavior, and it should only have an effect on performance if there's no reasonable alternative. And in this case, adding an empty list

[2021-06-30 09:48] oganexon opened #11190 "lsp: include all modules in language server scope for a enabled folder automatically"
### test

**Describe the bug**

When using **Go to references**, the extension doesn't find references in files that are not opened in the editor.

**To Reproduce**

[code]
[code]
[code]

Open `a.ts` and `b.ts`, go to references of `a`. No references in `c.ts`.

**Expected behavior**

`c.ts` should appear in the panel.
This makes this feature useless if you have to open every file in your project

[2021-06-30 09:54] cryptogohan commented on #11091
Nice 🙌 , been seeing this one in the logs.

[2021-06-30 10:20] ruifortes opened #11188 "Important!!! How to system beep? :-P"
It would be nice if it was a real system beep and not a sound file

already tried:  `console.log('\007')` and `Deno.stdout.write('\x07')` and... not even a pip :-(

[2021-06-30 10:20] lucacasonato commented on #11180
@dsherret I guess the easiest fix is to update swc everywhere now? So deno_lint, deno_doc, and cli. Once that is done I can cut a new 1.11.4 release (mainly for #11181 though).

[2021-06-30 10:21] #11188 closed

[2021-06-30 10:28] kt3k commented on #11158
@andreubotella Thank you for the input.

This suggestion makes sense to me, but this sounds difficult to implement to me. We even can't restore the default behavior after unbinding from the signal at the moment (https://github.com/denoland/deno/issues/7164).

Now I'd prefer `Deno.addSignalListener` design as we don't need to care about side effect problem with it.

[2021-06-30 11:56] kitsonk commented on #11190
Current we do not analyse files that aren't dependencies of opened files that are unopened. For `tsc` you can specify "files" or "include" but Deno doesn't work that way, as you supply a "root" module on the command line. Since we don't have that concept in an editor at the moment, we treat every file when opened as a "root" file.

An enhancement which might be worth considering is allowing the ro

[2021-06-30 15:26] Nemo64 opened #11192 "Add or document a way to get an exclusive lock (flock) on files"
I haven't found a way to get an exclusive lock on a file using the Deno api.

I have the following code:
[code]

If you run this script twice in parallel using this command...
[code]

You get a `test.tmp` file with this content
[code]

What I would want is to exclusively lock the file while it is open so noone can open it in while 1 process is working on it.
The expected result then would be:
[cod

[2021-06-30 16:01] #11135 closed

[2021-06-30 16:05] #11092 closed

[2021-06-30 17:51] yerlaser opened #11194 "Pre-parse script arguments by system parser"
Since deno is itself a program that parses it's own arguments to run scripts, I thought that it could also parse the arguments provided to the script.
The arguments need not be deleted, they can stay, but the parsed arguments and options can then be accessed  by scripts via a special built-in constant or function.
This can also be done via a switch to deno, e.g. --parse-args

This will make deno a

[2021-06-30 20:15] lucacasonato opened #11195 "Provide detailed version information in a hosted file"
We should provide a hosted file at dl.deno.land (dl.deno.land/stable/all.json maybe?) with information about all Deno versions. The information for each version should contain:

- the Deno version
- release date
- commit it was built from
- V8 version
- TSC version

Ref https://github.com/mdn/browser-compat-data/pull/10753#discussion_r661733670

We should also provide `dl.deno.land/stable/$version

[2021-06-30 20:27] wperron commented on #11195
How does it differ from the version file we already serve on cdn.deno.land?

[2021-06-30 20:29] dsherret opened #11196 "AssertionError where "data" is unexpectedly null when a file contains only triple slash references"
**A.d.ts**

[code]

**test.ts**

[code]

**Output**

[code]

Deno 1.11.3

I had a more complex scenario and will maybe open a separate issue for that if I can figure out a more minimal example. The above is ok once adding a statement to test.ts.

[2021-06-30 20:36] dsherret commented on #11196
I'll just put my other same error in here with a non-empty file

**types/deploy.d.ts**

[code]

**types/deploy.fetchevent.d.ts**

[code]

**test.tsx**

[code]

**Output**

[code]

[2021-06-30 20:55] lucacasonato commented on #11195
That doesn't include release date, commit, v8 version, or tsc version.

[2021-06-30 21:09] kitsonk commented on #11196
@dsherret what happens when you use triple slash `types`:

[code]

You need to be on canary I believe for it to work.

[2021-06-30 21:20] dsherret commented on #11196
@kitsonk it works with types.

[2021-06-30 21:29] kitsonk commented on #11196
Hmmm... ok... I am not totally sure why `path` doesn't work.  It should.  The module isn't being added to the module graph, though it should via the dependency analysis.

With the `path` what does `deno info` say?

[2021-06-30 23:38] MarkTiedemann commented on #11194
There's [`Deno.args`](https://doc.deno.land/builtin/stable#Deno.args), a simple array containing the arguments.

If you want a higher level API, there's also the [`flags`](https://deno.land/std@0.100.0/flags) module of the std lib.

[2021-07-01 00:10] dsherret commented on #11196
@kitsonk it says the following:

[code]

[2021-07-01 00:22] ebebbington commented on #8224
It's a massive tree.. though we've narrowed it down:

https://github.com/0kku/destiny/blob/master/src/parsing/_xml.ts uses https://github.com/0kku/destiny/blob/master/src/parsing/createTemplate.ts, which needs https://github.com/0kku/destiny/blob/master/src/componentLogic/DestinyFallback.ts, which needs that `_xml.ts` file

[2021-07-01 00:27] ebebbington commented on #8224
@kdy1

[code]

[2021-07-01 00:44] ebebbington opened #11198 "`Deno.emit` hangs when setting `module` to true or false"
Deno version: 1.11.2

[code]

When the `bundle` property is defined in the emit optionsl the process hangs. This might be due to hanging because of a circular dependency (which does exist in the code base im using), so it might be similar to https://github.com/denoland/deno/issues/8224

[2021-07-01 03:10] sam-parsons commented on #10064
I'm using `Deno.listenDatagram()` and getting the same issue.

[2021-07-01 03:16] WardCunningham opened #11199 "thread 'main' panicked after hours of websocket message handling"
As requested, https://discord.com/channels/684898665143206084/684911491035430919/859917195421024277

For seven months I have been writing web applications handling websocket messages from the closed source but free to use amateur radio application sparkSDR. I have been reviving some server-side ambitions for the same data stream and been tweaking a program written to study some ping-pong deficienc

[2021-07-01 03:21] WardCunningham commented on #11199
I should mention that I had several other processes reading the same websocket stream, these were not affected. One was a webapp that I have been using for many months. The other was an improved console.js deno script that was collecting other fields from the same stream.

[2021-07-01 04:44] kitsonk commented on #11198
What does `deno bundle --config tsconfig.json ./components/App.ts` with the settings moved into a `tsconfig.json` do?

[2021-07-01 04:47] kitsonk commented on #11196
Yeah, it looks like either the detection of `.d.ts` files in triple-slash references has regressed or never worked.  We obviously don't have a test for it.  I can take a look and fix it if you want, but it feels like a good one to get more familiar with the hornet's nest that is module graph 😄 .  I can say that because I wrote most of it.

[2021-07-01 04:50] kitsonk commented on #11194
As mentioned, this feature already exists with a more usable API for it as part of the Deno `std` library.

[2021-07-01 04:50] #11194 closed

[2021-07-01 07:11] caspervonb commented on #11078
Not convinced this is particulary useful.

[2021-07-01 07:15] kt3k commented on #11158
I updated the main description of the issue from `globalThis.addEventListener` design to `Deno.addSignalListner` design.

[2021-07-01 09:39] ebebbington commented on #11198
@kitsonk hangs, regardless of the contents of the tsconfig - `App.ts` uses a library that has a circular dependency and due to this, no matter what settings I use when using `Deno bundle`, it will hang (related issue is in this issues description)

[2021-07-01 09:43] lucacasonato opened #11202 "`/webstorage/storage_local_setitem_quotaexceedederr.window.html` WPT runs for half a minute"
I assume there is some optimization potential in our localstorage implementation.

[2021-07-01 11:26] dwalker109 commented on #11180
This is probably related, but a `deno upgrade` I did today (from a 1.4 version) failed with:

[code]

Installing via Github gave me a canary version:

[code]

[2021-07-01 11:44] ry commented on #11180
@dwalker109 That's a separate issue that we've fixed already -> https://github.com/denoland/deno/issues/11179

[2021-07-01 12:25] sramam opened #11205 "deno test should support --ignore"
`deno test` should support `--ignore` just like `deno fmt` and `deno lint`

[2021-07-01 12:41] ebebbington opened #11206 "`Deno.emit`: panics when dependency doesnt exist"
Deno version: 1.11.3

AFAIK we should report panics - found by myself adding a typo

[code]
[code]
[code]

[code]

[2021-07-01 13:05] dsherret commented on #11196
@kitsonk I was thinking the same thing too. I will take a look 😊

[2021-07-01 13:11] garyhai opened #11207 "plugins: argument of ops should support skipped field"
When change the struct TestArgs of test_plugin/src/lib.rs:

[code]

Run the test according to README then get error report:

[code]

It is very useful for optional arguments.

[2021-07-01 13:33] bartlomieju commented on #11205
CC @caspervonb

[2021-07-01 13:38] bartlomieju commented on #11207
We'll be removing native plugins in the near future #10908 so we won't be adding new features for this API. Respectfully closing.

[2021-07-01 13:38] #11207 closed

[2021-07-01 13:45] ry commented on #11186
Ideally we could have a deno_lint rule that would appropriate warn people of this upcoming change.

[2021-07-01 13:49] bartlomieju commented on #11186
It's a low hanging fruit to pass tsconfig options to `deno_lint`

[2021-07-01 14:01] bartlomieju commented on #11186
Opened an issue in `deno_lint` repo. To make it work, `deno lint` subcommand should accept `--config` flag as well.

[2021-07-01 14:17] sramam opened #11208 "Improvements to `Deno.run()` or perhaps add `Deno.exec()`"
IMHO, making `Deno.run()` behave like node's `child_process.exec()` would better meet the cross-platform claims of Deno.

Currently, `Deno.run({cmd: ['npm', 'init','-y']})` works on WSL (and I suspect all *nix) but not on Windows.
The current documentation for `Deno.run()` leads one to believe this should work cross-platform.

The first challenge was that `Deno.RunOptions` is not documented. It's

[2021-07-01 14:25] lucacasonato commented on #11180
1.11.4 was published to crates.io without issue

[2021-07-01 14:25] #11180 closed

[2021-07-01 14:26] lucacasonato commented on #11179
Still an issue on 1.11.4

[2021-07-01 14:30] dsherret commented on #11162
Fixed in #11197

[2021-07-01 14:40] dsherret commented on #10548
This was fixed a while ago. Closing. Should be in Deno 1.11.

[2021-07-01 14:40] #10548 closed

[2021-07-01 15:17] sramam opened #11210 "Deno.stat() returns different Error messages on Windows vs *nix."
Note that both are running Deno 1.11.1.
Unsure if this is a rust thing or a deno thing, but makes writing cross platform code needlessly harder.

### Windows:
[code]

### *nix:
[code]

[2021-07-01 15:21] wperron commented on #11208
The `Deno.run` API is being revisited in https://github.com/denoland/deno/discussions/9435, closing in favor of that discussion.

[2021-07-01 15:21] #11208 closed

[2021-07-01 15:32] sramam commented on #11210
This seems to be an issue with File exists for `Deno.mkdir()` too:

### Windows:
[code]

### *nix
[code]

[2021-07-01 15:56] andreubotella opened #11211 "fetch: Getting a reader from a consumed Response with a non-stream body source should throw"
[code]

[WPT has tests for this](https://github.com/web-platform-tests/wpt/blob/master/fetch/api/response/response-stream-disturbed-5.any.js), but they only test responses returned from `fetch`. Deno passes those tests because the bug only applies responses with non-stream sources.

Added new WPT tests in web-platform-tests/wpt#29552

[2021-07-01 16:33] yerlaser commented on #11194
Sorry, I was not clear enough in the original post.
Yes, I am aware of the existence of Deno.args.
But, those are raw arguments.

I meant that since Deno already parses it's own arguments for flags and options, it could do that also for the arguments supplied to the script and store them in, say, Deno.parsed_args with flags and options as key/value pairs.
This way the scripts will not need to impo

[2021-07-01 18:08] caspervonb commented on #11210
It's just the message that differ, errno 17 on unix and error code 183 on Windows.
Working as intended.

Why would this have any effect on portability?

[2021-07-01 18:10] satyarohith opened #11213 "cli: include path in NotFound os errors"
Consider the following code:

[code]

I get the following error when I run the script.
[code]

It isn't easy to debug when you've hundreds of files with the above information.

One thing I'm not sure about is if we should delegate the responsibility to scripts or if we should include the path in Deno's built-in error itself.

I favor including the path in the default error message as most scripts

[2021-07-01 18:31] caspervonb commented on #11213
Duplicate of https://github.com/denoland/deno/issues/10553
Consensus is that we'll add context to all the path related system calls.

[2021-07-01 18:34] #11213 closed

[2021-07-01 18:49] sramam commented on #11210
In general, it's not unreasonable to have to discriminate between more than one error when making system calls.
Current deno FS errors don't provide a way to discriminate except by error message (lacking uniform error codes)
Having different messages for the same error on different OS' makes that a much larger conditional block than ideal.
This makes both development and the code more messy and ti

[2021-07-01 18:55] recursionbane commented on #1658
I can confirm that @johandalabacka's gist works well, especially when Dockerized to build a CentOS7-compatible Deno binary.

Is there any way to make this part of the regular releases?

[2021-07-01 20:34] dsherret commented on #11196
This is because swc incorrectly puts comments in a file without comments in the _trailing_ comment map at position 0, instead of the _leading_ comment map at position 0. I've noticed this swc behaviour before, but just worked around it in the past because I was lazy. Instead of us also working around it, it would be appropriate to just submit a fix to swc so I've opened https://github.com/swc-proj

[2021-07-01 20:59] kitsonk commented on #11194
Parsing args is "opinionated".  Some things that are opinionated like that are left as part of the `std` library intentionally.

[2021-07-01 21:05] kitsonk commented on #11196
That being said, I suspect trailing comments are valid positions for triple-slash references. Should we may not analyze them too?

[2021-07-01 21:09] kitsonk commented on #11210
It does...

[code]

[2021-07-01 21:11] kitsonk commented on #11210
Or

[code]

[2021-07-01 21:12] #11210 closed

[2021-07-01 21:47] WardCunningham commented on #11199
I've now run for near 24 hours with no failure.
[code]
I'm not running the identical script. The improved version takes arguments.
[code]

[2021-07-01 22:20] yerlaser commented on #11194
I agree with that.
However, even the way Deno parses it's arguments could be sufficient for the majority of script writers.

It can be a deal breaker for case for example corporate servers or workstations that are behind firewalls and cannot download dependencies from Internet.
And parsing arguments is rather important for a certain class of "bootstrap" or setup scripts.

At the same time, from an

[2021-07-01 22:24] sramam commented on #11210
Thank you. Until this message, I didn't discover the Error Types. Sorry for the bother.

[2021-07-01 22:30] kitsonk commented on #11194
This is why things like `deno bundle` and `deno compile` are a thing.

One person's definition of rather important varies.  Depends on what you are going to do.  Basically the only things we try to build into Deno directly are things that are web standards or require privileged access to the host system.  Things that can be run in user land are left to `std`.  We are even moving "opinionated" thin

[2021-07-01 22:53] dsherret commented on #11196
@kitsonk we're good! https://www.typescriptlang.org/docs/handbook/triple-slash-directives.html

[2021-07-02 00:16] andykais opened #11218 "object doc comments"
typescript types can document fields like so:
[code]
and deno will generate the following:
[code]

however, defining a javascript object like so:
[code]
only documents the variable declaration:
[code]

is it possible to support object field doc comments? There are lots of use cases for static objects defined in modules. Ultimately my personal use case is to take advantage of the zod validation lib

[2021-07-02 00:17] andykais commented on #11218
as stated in the zod issue, the current workaround is to declare types with doc comments _first_ and then define zod validators adhering to the type definitions. I wanted to create an issue though since this is a workaround that needs to be done because this is an unsupported feature, not because it is better

[2021-07-02 01:55] kdy1 commented on #8224
Can you try it again after updating `swc_bundler`?
I worked on a similar issue, and I expect this bug to be fixed by it.

[2021-07-02 03:45] zhangyuannie opened #11220 "Default file extension inconsistency in the `deno run` cli"
[code]
Will run stdin as a TypeScript file.

https://github.com/denoland/deno/blob/0385a990529399775b76db4c27704faa4a092efa/cli/main.rs#L796

However,
[code]
execute `extensionless_file` as a JavaScript file.

I believe we should ideally consolidate the default behaviour of `deno run` when the file extension is not specified. Maybe for Deno 2.0?

Also Deno has different default in general regardin

[2021-07-02 05:42] hayd commented on #1658
I am not sure why this issue was renamed (merged?) to "release musl builds" from the original issue RE centos / glibc...
perhaps it was my fault for mentioning  denoland/rusty_v8#49

Releasing a binary for centos 7 is not the same as musl. Specifically centos 7 doesn't require a musl binary, but a musl binary would happen to work on centos 7.  @lucacasonato perhaps it makes sense reopen https://gi

[2021-07-02 07:49] bartlomieju commented on #9929
Fixed by #11089

[2021-07-02 07:49] #9929 closed

[2021-07-02 08:41] lucacasonato commented on #3711
Not the same as #1658

[2021-07-02 08:46] #7674 closed

[2021-07-02 09:01] mitranim opened #11222 "`deno lint` needs detection of undefined identifiers (`no-undef`) to be useful"
Currently, `deno lint` doesn't complain about missing identifiers. The following JS program passes linting but explodes at runtime:

[code]

In my experience, this is an _extremely_ common source of bugs. The TS compiler checks this, but not every project uses TS. For JS, a linter able to detect this is essential; as a result, `deno lint` is not sufficient, forcing the use of `eslint`.

The main d

[2021-07-02 09:21] lucacasonato commented on #11222
We used to have this rule, but disabled this specifically because it requires knowledge of allowed globals. If there is an elegant approach to solve this I would be happy to look into it again, but right now it is a strong no from me.

[2021-07-02 09:27] mitranim commented on #11222
I would probably be satisfied if the linter pre-defined a small set of globals and required the user to supply the rest.

For comparison, `eslint` seems to pre-define an insanely huge list of globals, including "gotcha" globals such as `event`, `close`, `toString`, and others. This has led to actual bugs, and now my eslint configs have a _huge_ list of banned globals, undoing eslint's mistake.

Ev

[2021-07-02 09:32] lucacasonato commented on #11222
@mitranim The problem is the following:
- is this rule enabled by default
- if so, with what globals
- how much work is it to add more globals

Also have you considered using JS + TSDoc comments? That can also take care of this issue.

[2021-07-02 09:34] #11211 closed

[2021-07-02 09:54] mitranim commented on #11222
Wasn't aware of TSDoc. Googling now, but it seems to involve extra comments, which seems like a burden. Looking for ways to validate "just code", just like `eslint` does today.

To avoid continuous maintenance and arguments, we could disable the rule by default and have no predefined globals. Certainly not a "batteries included" / "one size fits all" solution. But could makes the tool actually use

[2021-07-02 10:26] lucacasonato opened #11224 "Use primordials everywhere"
In #10939 we landed primordials into `deno_core`. They are frozen intrinsics that are not vulnerable to prototype pollution. We now need to undergo the tedious task to refactor all of our JS code to use these primordials. Here is the TODO list:

- [x] extensions/webidl/00_webidl.js (@lucacasonato) #11227
- [x] extensions/web/00_infra.js (@lucacasonato) #11228
- [x] extensions/web/01_dom_exception.

[2021-07-02 10:46] magurotuna commented on #11222
A sensible solution would be https://github.com/denoland/deno_lint/issues/622 - making the linter capable of parsing `lib.*.d.ts` to get global symbols. This way we (as Deno's developers) won't have to maintain the set of global variables all the time and perhaps users could specify any type declaration files they want to use.

[2021-07-02 11:42] lucacasonato opened #11226 "WeakRef, FinalizationRegistry, and SharedArrayBuffer are not available during snapshotting"
cc @bnoordhuis @piscisaureus

[2021-07-02 12:18] ebebbington commented on #8224
@kdy1 How do I update the `swc_bundler`? I don't know anything about that

[2021-07-02 12:44] bnoordhuis commented on #11226
Not sure. How can I test?

FinalizationRegistry is not supposed to be used during snapshotting so perhaps that's why it's not visible.

SharedArrayBuffer won't be visible when `--enable_sharedarraybuffer_per_context` is set but I don't think that's the case.

[2021-07-02 12:47] lucacasonato commented on #11226
Add this to the top of `01_core.js`:

[code]

[2021-07-02 14:11] #8490 closed

[2021-07-02 14:16] #8118 closed

[2021-07-02 14:39] lucacasonato commented on #11226
I understand that it shouldn't be used, but I still need access to the prototype to be able to create primordials for it.

[2021-07-02 14:54] bnoordhuis commented on #11226
I just tried it and FinalizationRegistry and WeakRef are there, just not SharedArrayBuffer. I'll investigate that last one.

[2021-07-02 16:51] littledivy commented on #11202
The quota exceed check can be possibly optimized by caching the initial table size in a _counter_ and incrementing bytes to the _counter_ at every _setItem()_ call instead of querying for size.

[2021-07-02 16:58] lucacasonato commented on #11202
@littledivy That doesn't work for multi process.

[2021-07-02 17:35] rwols opened #11232 "lsp: an unexpected specifier (deno:...) was provided"
We're slowly moving towards more general URI handling. One of those steps is to attach language servers to virtual views. The virtual view provided by the `deno/virtualTextDocument` request supposedly has URIs like `deno:/https/deno.land/std/http/server.ts`.

However, the server doesn't understand these URIs:

[code]

If an URI like `deno:/https/deno.land/std/http/server.ts` that is supposed to be

[2021-07-02 17:45] cmorten commented on #10990
@lucacasonato / @getspooky, please point out where I'm being daft, but does step 19 not specify that the `body` should be set to `null` for `HEAD` and `CONNECT`, not `OPTION`?

As far as am aware the [CONNECT](https://developer.mozilla.org/en-US/docs/Web/HTTP/Methods/CONNECT) method isn't the same as the [OPTIONS](https://developer.mozilla.org/en-US/docs/Web/HTTP/Methods/OPTIONS) method?

[2021-07-02 19:06] rwols commented on #11232
Note that this vscode client does register for deno schemes here:

https://github.com/denoland/vscode_deno/blob/6bf04545b39903ab6ed1eab599b10f5f5c56887f/client/src/extension.ts#L151-L154

[2021-07-02 20:13] SimonRask commented on #11224
I'll do:
- `extensions/timers/01_timers.js`
- `extensions/timers/02_performance.js`

[2021-07-02 20:18] NfNitLoop commented on #11140
I'm running into this issue too.  (See: [Discord conversation](https://discord.com/channels/684898665143206084/689420767620104201/860611904292388915))

When I try to `export * as h2md from "https://cdn.skypack.dev/node-html-markdown@v0.1.7?dts"`, Deno gives me the error:

[code]

Which seems to be referring to the `<` in this inside of [comment.d.ts]:

[comment.d.ts]:  https://cdn.skypack.dev/-/no

[2021-07-02 20:23] NfNitLoop commented on #11140
https://github.com/swc-project/swc/issues/1862 is the upstream bug  for others interested in following along. :)

[2021-07-02 21:04] bartlomieju commented on #11224
Claiming:
- runtime/js/01_build.js
- runtime/js/01_errors.js
- runtime/js/01_version.js
- runtime/js/01_web_util.js
- runtime/js/06_util.js
- runtime/js/11_workers.js

[2021-07-02 22:39] lucacasonato commented on #11224
@SimonRask Please wait with `extensions/timers/02_performance.js` until #10887 is landed.

[2021-07-02 23:18] ihack2712 opened #11237 "deno upgrade --version <v>: v isn't escaped"
When running `deno upgrade --version ../../../etc` you can change the download url. *v* should be properly escaped.

<img width="849" alt="image" src="https://user-images.githubusercontent.com/35933830/124335977-8c4a6900-db9c-11eb-89f0-6d67e21f2965.png">

[2021-07-02 23:24] crowlKats commented on #11237
whoops completely forgot to add such logic when rewriting upgrade 😅

[2021-07-03 02:04] grian32 commented on #11073
I'm not sure where the idea that people expect `deno bundle` to bundle deno code for the browser comes from? As a user I expect it to bundle deno code and its dependencies into one file runnable by deno, if the code is already runnable in both the browser **and** Deno, then yes, I'll expect it to bundle code that works for both, but I don't believe thats requires any extra work on the bundler.

[2021-07-03 03:54] littledivy commented on #11224
Claiming:

* extensions/websocket/01_websocket.js
* extensions/webstorage/01_webstorage.js

[2021-07-03 06:18] cup-dev opened #11238 "Can't nest top-level dynamic imports"
## Issue

In a project, I try to dynamically import a module which also dynamically imports modules (at its top level). The execution freezes without throwing an exception.

After generating minimal example to reproduce, I get the following error message:

I'm not sure if this is intended to work or I'm doing it wrong, but this would be generally useful for easy & flexible dynamic importing.

## R

[2021-07-03 08:50] lucacasonato commented on #11224
@littledivy: @crowlKats is already working on web sockets

[2021-07-03 09:26] littledivy commented on #11224
Ah i'll close it then!

[2021-07-03 09:49] iugo commented on #11238
maybe should:

[code]

[2021-07-03 10:05] littledivy commented on #11224
Claiming `runtime/js/*.js` :-)

[2021-07-03 12:40] SimonRask commented on #11224
Claiming:
- runtime/js/13_buffer.js
- runtime/js/30_fs.js
- runtime/js/30_metrics.js

[2021-07-03 12:59] cmorten commented on #10990
For further context:

REF: https://datatracker.ietf.org/doc/html/rfc2616#section-9.2

Which indicates that a response body is valid, with the only condition that it should contain information r.e. the options.

I have also noticed that #11003 has introduced a potential bug whereby origin responses to `OPTIONS` requests which contain bodies that are now thrown away, have a non-zero `Content-Length`

[2021-07-03 13:30] bartlomieju commented on #11238
CC @nayeemrmn could you take a look?

[2021-07-03 13:31] bartlomieju commented on #11224
Claiming:
- runtime/js/30_os.js
- runtime/js/40_compiler_api.js
- runtime/js/40_diagnostics.js
- runtime/js/40_error_stack.js
- runtime/js/40_files.js
- runtime/js/40_fs_events.js

[2021-07-03 13:35] satyarohith commented on #11224
Claiming:

- extensions/fetch/01_fetch_util.js
- extensions/fetch/20_headers.js
- extensions/fetch/21_formdata.js
- extensions/fetch/22_body.js
- extensions/fetch/22_http_client.js
- extensions/fetch/23_request.js
- extensions/fetch/23_response.js
- extensions/fetch/26_fetch.js

[2021-07-03 13:39] crowlKats commented on #11224
I am handing it over to divy

[2021-07-03 13:43] littledivy commented on #11224
Claiming:

* extensions/console/01_colors.js
* extensions/console/02_console.js

[2021-07-03 14:27] SimonRask commented on #11224
There is no need for primordials in `runtime/js/30_metrics.js`

[2021-07-03 14:36] bartlomieju commented on #11224
These only use `window.dispatchEvent(...)` so I don't think we need to change anything.

I presume you skipped `99_compiler_main.js` as it is completely internal and not exposed to user code in any way?

[2021-07-03 14:39] lucacasonato commented on #11224
That should really be using an internal bound dispatch method. I'll circle back to this once everything else is done. I am working on a rewrite of the event target code right now anyway to make it more compliant and clean it up.

Yup.

[2021-07-03 14:46] rwols commented on #11232
It seems to fail at https://github.com/denoland/deno/blob/d4de477ef903e2e47c6427e14f0fe543106b1297/cli/lsp/language_server.rs#L226

That seems to be due to Sublime Text restarting with the virtual view, but then we haven't called `deno/virtualTextDocument` yet.

If you open the virtual view with a fresh session via goto-def, say, then `deno/virtualTextDocument` is called and subsequently things ar

[2021-07-03 18:52] lucacasonato opened #11252 "Sequential cancelation of teed ReadableStreams with delay not working as expected"
See the WPT failure for `streams/readable-streams/tee.any.html`. To prevent the harness from crashing and to instead just view the failure, comment out all tests but `ReadableStream teeing: failing to cancel when canceling both branches in sequence with delay` in `streams/readable-streams/tee.any.js`.

[2021-07-03 19:00] lucacasonato opened #11253 "ReadableStream async iterator behaviour is not spec compliant"
We have many WPT failures for this: https://wpt.fyi/results/streams/readable-streams/async-iterator.any.html?label=master&label=experimental&product=chrome&product=deno&product=firefox&product=safari&aligned&q=streams

[2021-07-03 19:31] lucacasonato opened #11254 "Add `./tools/wpt.ts roll` utility"
This utility would do the following:

- Checkout the latest upstream `epochs/daily` branch in the WPT submodule
- Update the manifest
- Gather the list of all the test files that were added since our last `epochs/daily` checkout that are not yet in our expectations (for the subfolders we already run tests for). This should be printed to the terminal so the user can determine what files to add to t

[2021-07-03 21:02] lucacasonato opened #11257 "Printing `Request.prototype` in REPL results in panic"
On commit 7ef0f43d87e3e45e8084bb7ae0dee2053968c010

[code]

[2021-07-03 21:07] Jess4Tech opened #11258 "Deno "fatal error in , line 0""
I'm writing a project using MySQL and Opine. Recently when I try to run it I get a really weird error, posted below. I'm not sure if code is related to this but if it's needed I can post it. It's a relatively simple backend that manages sessions and gets some data from a database. I'm running the latest build of Windows 10 and the output of `deno --version` is below as well.
[code]
[code]

[2021-07-03 21:18] piscisaureus commented on #11258
@Jess4Tech
This looks like a bug in the deno module loader. Can you share the code that triggers this error?

[2021-07-03 21:21] Jess4Tech commented on #11258
App.js is below. Tell me if you need any others
[code]

[2021-07-03 21:27] SimonRask commented on #11257
`console.log(Request.prototype)` seems weird too

<pre><font color="#C01C28"><b>error</b></font>: Uncaught TypeError: Illegal invocation
console.log(Request.prototype);
<font color="#C01C28">        ^</font>
    at <i><b>Object.assertBranded</b></i> (<font color="#2AA1B3">deno:extensions/webidl/00_webidl.js</font>:<font color="#A2734C">841</font>:<font color="#A2734C">13</font>)
    at <i><b>Objec

[2021-07-03 21:30] piscisaureus commented on #11258
I can't reproduce the issue with just app.js.

I suspect that the crash happens immediately when starting up the program; can you confirm that?
If so, it'd be most helpful if you could share all files that have `import`/`export` statements in your project.

[2021-07-03 21:35] Jess4Tech commented on #11258
Yes, it happens immediately after starting it.
/api/authorize.js
[code]

/api/projects.js
[code]

/a

[2021-07-03 21:53] Jess4Tech commented on #11258
Yes, it happens on startup. (Btw sorry I deleted the previous comment, I clicked comment too early and then went to edit it and accidentally pressed the back button.)

/api/authorize.js
[code]

/api/projects.js
[code]

/api/tension.js
[code]

/services/config.js
[code]

/services/database.js
[code]

/services/session_manager.js
[code]
(I think that's all of them.)

[2021-07-03 22:11] lucacasonato commented on #10992
@zlumyo Yes.

[2021-07-03 22:15] lucacasonato opened #11260 "Implement `PerformanceObserver`"
Spec: https://w3c.github.io/performance-timeline/#the-performanceobserver-interface

Initially only the `mark` and `measure` entry types would be supported.

[2021-07-03 22:29] lucacasonato opened #11261 "Support WebSocket over H2"
Requires upstream support from tungstenite: https://github.com/snapview/tungstenite-rs/issues/206

Spec: https://datatracker.ietf.org/doc/html/rfc8441

[2021-07-03 23:00] jsejcksn commented on #11179
Seems to be fixed in `1.11.5`

[2021-07-03 23:00] #11179 closed

[2021-07-04 00:07] mokeyish opened #11263 "Deno Fatal javascript OOM in CALL_AND_RETRY_LAST"
![image](https://user-images.githubusercontent.com/16131917/124369357-b20b6700-dc9d-11eb-9e44-146c03c9f712.png)

It seems that this `details` has never been recycled.

![image](https://user-images.githubusercontent.com/16131917/124369441-77ee9500-dc9e-11eb-9f7f-020b2ab2db43.png)

[2021-07-04 00:29] bartlomieju commented on #11224
Claiming extensions/web/02_event.js

[2021-07-04 09:30] LionC commented on #11073
Probably because deno goes out of its way to be browser compatible and also offers a bundler. It also fits the idea of a one stop toolchain really well.

[2021-07-04 09:43] skaneprime opened #11267 "Is there Deno VM like NodeJS.vm ?"
Hi! In NodeJS there was module "vm" which allowed you to run untrusted code in new context
The one limit was that you couldn't run TYPESCRIPT code in NodeJS's vm

But I didn't find any of that in Deno. Is there a way to run untrusted TYPESCRIPT code in Deno with a context?

[2021-07-04 09:47] Chooks22 opened #11268 "Allow declaring environment variables for `Deno.env`"
Current declaration of `Deno.env` uses [`export const env`](https://github.com/denoland/deno/blob/5addba2abc2e384e751e8884b4ac3219688c2473/cli/dts/lib.deno.ns.d.ts#L199) with hardcoded types which cannot be overwritten by `.d.ts` files.

Using an interface instead allows custom key/value pairs to be declared using declaration merging, similiar to how [`@types/node`](https://github.com/DefinitelyTy

[2021-07-04 11:25] lucacasonato commented on #11268
Why would you want to do this?

[2021-07-04 12:03] littledivy commented on #11263
Does it still occur when you increase the old space size of heap? (using `--v8-flags=--max-old-space-size=4096`)

[2021-07-04 12:24] Choooks22 commented on #11268
Just started with deno yesterday, thought I'd rewrite a small node server and encountered this while declaring my envs.
Just a little nitpick I had since I've always destructured `process.env` and got auto suggestions for it.

[2021-07-04 12:54] lucacasonato commented on #11268
In Deno env vars are not keys on the Deno.env object. You read env vars with `Deno.env.get("ACCESS_TOKEN")`.

[2021-07-04 13:35] mokeyish commented on #11263
Here is my command:
`deno run --v8-flags="--max-old-space-size=48384,--max-heap-size=16384"  --allow-all ./fund-crawler.ts`

[2021-07-04 13:38] Choooks22 commented on #11268
Yep, and on my testing this seemed to work:

[code]

And with my sample `env.d.ts`:
[code]

I get these:
![image](https://user-images.githubusercontent.com/49726759/124387034-9b055d00-dd0f-11eb-98a9-57ed0160fc3d.png)
![image](https://user-images.githubusercontent.com/49726759/124387077-ba9c8580-dd0f-11eb-8f6f-a13bd9747b52.png)

Couldn't seem to override the default `[index: string]: string` tho so

[2021-07-04 13:41] Choooks22 commented on #11268
Oh and the errors are from my eslint config, it works just fine 😄

[2021-07-04 14:31] lucacasonato commented on #11267
The "vm" module in Node can **not** be used to run untrusted code. **It is not a security mechanism!** Let me repeat,

## The "vm" module in Node is NOT a security mechanism! Do not use it to run untrusted code! If you do this in production, shut down the server right now.

Read the first line in the Node.js docs: https://nodejs.org/api/vm.html#vm_vm_executing_javascript

---

Deno can run untrust

[2021-07-04 14:31] #11267 closed

[2021-07-04 15:14] #11263 closed

[2021-07-04 15:21] nougator opened #11272 "Add support for Canvas windows."
I just had this idea, creating canvas windows but what are canvas windows? It's simple it just normal windows that act like HTML canvas where you can draw using WebGL, Canvas or WebGPU. I thought about an API like that: ```js
import { canvas } from "https://deno.land/std/fmt/canvas.ts";

const canvas = new Canvas([1920, 1080] /* resolution */, false /* full screen */); // Other flags can be added

[2021-07-04 16:46] littledivy commented on #11272
Related discussion: https://github.com/denoland/deno/discussions/3234

[2021-07-04 18:58] piscisaureus commented on #11258
I've pushed a reduced test case to https://github.com/piscisaureus/deno_import_bug/commit/0854bd97c5697c2cd524bd2ae241fb4f998d05e9

[2021-07-04 21:50] Jess4Tech commented on #11258
That's just plain impressive you could do that. Now we just have to fix it! Not sure if I'll be of much use there though

[2021-07-04 22:08] jimmywarting commented on #11272
If we are going to have Canvas then i think it would be better to have the `OffscreenCanvas` and `createImageBitmap(blob)`
we do not have so much DOM thingy in what looks to be more a Web Worker

[2021-07-04 23:30] kitsonk commented on #11268
I suspect we can find a way to add a generic into the type definitions to support "strongly" typing the environment values.

[2021-07-04 23:32] kitsonk commented on #10990
That is correct... `OPTIONS` should be allowed to have a body according to the spec.

[2021-07-04 23:53] kitsonk commented on #11232
Within the server, we deal with unmodified URLs which we convert to and from strings for the LSP.  It seems that vscode only allowed special custom schemes to handle non-`file` schemes, so we used `deno`.  When a virtual text document is request, it "opens" the document and we analyze it and make it available for things like tsc to be able to type check.  When we restart we obviously lose that sta

[2021-07-05 04:50] caspervonb commented on #11257
This is coming from inspect.

[code]

[2021-07-05 06:26] sramam opened #11277 "Permissions - enable glob patterns and relative paths for allow-lists (read/write)"
As I am getting comfortable writing modules and applications for Deno, it seems the permissions ability, despite being a big draw, is falling short of my anticipations.

For example, take [`klick`](https://github.com/sramam/klick) - a snapshot library.

It needs permissions to read/write within a sub-directory. and that of a particular kind of file extension.

Ideally, I'd like to be able to use `

[2021-07-05 09:09] Danue1 commented on #1612
Can we integrate this?

[2021-07-05 09:47] zaoying commented on #10064
I have solved this problem. never mind.

[2021-07-05 11:30] lygstate opened #11280 "Now 32bit deno-i686-pc-windows-msvc.zip"

[2021-07-05 11:38] lucacasonato commented on #11280
We are not going to support i686 because it is a dead end architecture. For more background view https://github.com/denoland/deno/issues/3438 and https://github.com/denoland/rusty_v8/issues/426#issuecomment-678696428.

[2021-07-05 11:38] #11280 closed

[2021-07-05 14:05] piscisaureus commented on #11258
This probably a V8 bug; I can also reproduce it in node.js:

[code]

[2021-07-05 14:26] piscisaureus commented on #11258
Upstream bug report: https://bugs.chromium.org/p/v8/issues/detail?id=11949

[2021-07-05 16:59] #11238 closed

[2021-07-05 19:21] #11196 closed

[2021-07-05 19:46] ebebbington commented on #8224
@kdy1 it did fix my issue, thanks

[2021-07-05 19:55] ebebbington commented on #8224
At this moment in time, Deno is v1.11.5. For anyone encountering this problem, update to canary. Should there be new release(s) out by the time you read this, check the release notes for a release that bumped `swc_bundler` - test bundling with that version

[2021-07-05 20:44] ebebbington opened #11286 "`deno bundle`: Ordering of bundled code is incorrect?"
First off, canary (bumping swc_bundler to 0.45.0) fixed the infinite loop issue for me, which is great! (https://github.com/denoland/deno/issues/8224)

But now, when i bundle my code, the ordering seems off, causing calls to uninitialised variables (eg incorrect hoisting)

An error message I see is: `Uncaught ReferenceError: Cannot access 'idEncoder' before initialization`

Which points to this in

[2021-07-05 20:47] ebebbington opened #11287 "`deno bundle` strips `static` from ES private properties"
[code]

## Repro

[code]

[code]

Now the `someFn` method is broken

[2021-07-05 21:30] ry commented on #11073
I'm retracting this idea after reading through the discussion above.

[2021-07-05 21:30] #11073 closed

[2021-07-05 21:36] ry opened #11288 "Deprecate various Deno stream APIs"
We are moving towards using web streams everywhere (despite the flaws). The current Reader/Writer streams inspired by Go will be moved to deno_std.

The following should be moved to deno_std and deprecated in the Deno runtime
- [ ] Deno.copy
- [x] Deno.iter / Deno.iterSync
- [ ] Deno.Reader
- [ ] Deno.Writer
- [x] Deno.Buffer
- [x] Deno.readAll / Deno.readAllSync
- [x] Deno.writeAll / Deno.writeAl

[2021-07-05 21:42] nayeemrmn commented on #9590
Resolved in #10025.

[2021-07-05 21:43] nayeemrmn commented on #11288
Ref #9795.

[2021-07-05 21:43] #9590 closed

[2021-07-05 21:49] ry commented on #11288
Sorry - I missed #9795. That's a better description of this issue. I'll close this one.

[2021-07-05 21:49] #11288 closed

[2021-07-05 22:07] ry commented on #9795
I'm in agreement. It's very painful to let web streams (ReadableStream/WritableStream) win over go streams (Reader/Writer). Go streams is plainly more general and vastly simpler. But we must have web streams because of fetch. And having two different and incompatible stream abstractions is worse than having one shitty one.

One of the original intentions of Deno was to correct the abysmal streams

[2021-07-05 22:22] MierenManz commented on #9795
We just have to hope that there will be a webstream2 at some point in the future that is based on go streams :/

[2021-07-05 23:21] dsherret opened #11290 "Support running benchmarks on Windows"
[code]

Not possible right now because the benchmark code assumes bash:

https://github.com/denoland/deno/blob/ce3fbb4bd1bcdfbead8fb795d1ff2f71c6051bf4/cli/bench/main.rs#L158

Edit: After running this on WSL I see there are some other issues.

[2021-07-06 01:17] nayeemrmn commented on #9795
Just to clarify, this issue was about a purely symbolic refactor to remove the explicit type definitions of `Reader` and `Writer` in favour of just defining the `read()` and `write()` methods on their implementers. This is logical because there are no stable built-ins that _accept_ these interfaces, only ones that return them. A one sided protocol so to speak. Since they _do_ have consumers in std

[2021-07-06 01:34] caspervonb commented on #10944
Think I'll extend the dumps with checksums and filter on that (gcov does something similar and I like the idea).

[2021-07-06 02:26] crowlKats commented on #11018
so started implementing this, and its not great a great API for the case of proper fs access; especially interaction with directories. removeEntry isnt great: you cant really delete the dir the directoryhandle is in, and traversing directories is horrible + you cant go up a directoryhandle. paths for all the api arent allowed but just filenames and one is supposed to traverse dirs by async iter/th

[2021-07-06 05:17] noxifoxi commented on #1846
For me these builds do not work on debian (armbian) on my rockpi4. The program stopped on the error:
```./deno: /lib/aarch64-linux-gnu/libc.so.6: version `GLIBC_2.32' not found (required by ./deno)```
because [2.31 is the latest version in every debian distribution](https://tracker.debian.org/pkg/glibc) so far.

But the builds from https://github.com/LukeChannings/deno-arm64 just work fine for me.

[2021-07-06 05:24] CrimsonCodes0 commented on #11224
I mentioned that the WebGPU PR left a few dynamic object accesses. Ref https://github.com/denoland/deno/pull/11265#issuecomment-873629656

While looking through it, the changes are hard to do as they primarily accept WebIDL `BufferSource` objects, which themselves are very dynamic objects. Comparing the prototype against via the `instanceof` operator is a very fallible operation in that it doesn't

[2021-07-06 06:05] littledivy opened #11291 "console.log in repl invalid escape sequence hangs forever"
This is only specific to the repl.

Steps to reproduce:
[code]

Expected behaviour:

Node.js: `Uncaught SyntaxError: Invalid Unicode escape sequence`
Firefox 89.0.2: `SyntaxError: malformed Unicode character escape sequence`

[2021-07-06 06:35] caspervonb commented on #11291
Regression from the refactor and moving inspector around? pretty sure we fixed this before...

[2021-07-06 06:43] kitsonk commented on #11287
This impacts `--no-check` as well.

[2021-07-06 06:52] kitsonk commented on #11286
We need to try to get to a minimal reproduction so we can open a concise issue with swc.

[2021-07-06 07:09] littledivy commented on #11291
Looks like it doesn't accept the input in the first place when I press enter.

[2021-07-06 07:31] caspervonb commented on #11291
Smaller reproduction:
[code]

Or even:
[code]

[2021-07-06 07:36] caspervonb commented on #11291
Absolute minimal reproduction:

[code]

[2021-07-06 08:09] josephrocca commented on #11018
@crowlKats This is interesting - do you have an insight into why the API's intention differs from what Deno would want? A lot of smart people worked on the API, and it has gone through several iterations, so presumably a bunch of thought has gone into the API design, and so I'm curious if you have any thoughts on whether this API is badly designed for the browser use-case too? Or do you think ther

[2021-07-06 08:25] ebebbington commented on #11286
sure, i'll try get one sorted

[2021-07-06 09:00] caspervonb commented on #11291
Remove label console/extensions.
Add label repl.

[2021-07-06 09:12] devcui commented on #11291
[code]

unicode was alright

[2021-07-06 09:13] ebebbington commented on #11286
I'm guessing this is why: `Using slow, fallback logic for topological sorting`

[2021-07-06 09:17] ebebbington commented on #11198
Fixed by upgrading `swc_bundler` to `0.45.0`, closing as this is resolved

[2021-07-06 09:17] #11198 closed

[2021-07-06 09:19] ebebbington commented on #11286
same issue with `Deno.emit` and setting `bundle` to `module`

[2021-07-06 09:24] caspervonb opened #11293 "Prototypes are not inspectable for many classes with custom inspect implementations"
Continuing from #11257 which was specifically about the panic in the REPL.
Our WebIDL assertions makes it so that prototypes aren't inspectable, for example both of these throw:

[code]

[2021-07-06 09:36] crowlKats commented on #11018
The API is fine for it's intended use; on a browser you arent going to do what one would do in deno in regards to interacting with the file system. Or rather, for a small set if directories, this API is fine, but then moment you want to do something with multiple nested directories, it gets quite painful.

What i mean is:
We want to open file `foo/bar/hello/world.txt`. To do that you first have to

[2021-07-06 09:53] lucacasonato commented on #11018
For this ry/me suggested `Deno.getFileHandle`. It takes a path and returns a `FileSystemFileHandle`.

[2021-07-06 09:55] jimmywarting commented on #11018
I have also started working on a PR for native file system, i think it's grate in such a way that it's more safer than other.
You could hand over a fileHandle to a 3th party parser with or without write access to either parse/write a file conversion of some tool without knowing it's full path.

As for the removing the directory you are in they have: https://github.com/WICG/file-system-access/pull/

[2021-07-06 09:57] lucacasonato commented on #11018
What concerns me more than directory traversal is that all writes unconditionally happen via a temporary file. The underlying file is updated atomically on close of the `FileSystemWritableFileStream` by means of a file move. I am on the fence about how I feel about this.

[2021-07-06 10:00] jsejcksn opened #11294 "improve console.table alignment"
When using `console.table` to view some output, I noticed that the output is center-aligned, which [impedes scannability](https://www.nngroup.com/articles/right-justified-navigation-menus/) of the content. Is there reasoning for this choice?

Here's an example script to illustrate what I mean:
[code]

This is Deno's output (I'll truncate the module listing):
[code]

<details>
<summary>Full output<

[2021-07-06 10:01] jimmywarting commented on #11018
yea, it's a concern many ppl have over the API and is highly discussed upon in their issues. regarding copying/moving and atomic writes

[2021-07-06 10:01] bartlomieju commented on #11294
I agree with your opinion, we should definitely left-align the tables.

[2021-07-06 10:46] bartlomieju commented on #1371
Hey @TheAifam5, I was supposed to look into implementing this flag for 1.12 but I see you got it more or less working. To answer your question:

You can't access `Flags` in `op_connect_tls`. Instead you want to pass the option from `Flags` when ops are registered (inside `runtime/worker.rs` or `runtime/web_worker.rs`), ie. change `deno_net::init::<Permissions>(options.unstable)` to `deno_net::init

[2021-07-06 11:01] ebebbington commented on #11286
to clarify @kitsonk, whatever (internally) makes the bundle use the "slow, fallback logic", is the culprit, a simple 'example' is below, granted this works, *but* if the slow fallback logic was in place, it would not work:

[code]
[code]
[code]
[code]