[2020-06-23 20:03] MarkTiedemann commented on #6401
On a Windows NT file system, `abc:def` would be read as "the alternate data stream `def` of the file `abc`".

ADS used to work:
[code]

But is now broken:
[code]

[2020-06-23 20:09] kitsonk commented on #6445
Modules are not loaded or resolved in JavaScript and so exposing the resolution logic wouldn't be meaningful.  When a JavaScript module needs to be loaded, Rust instructs v8 to do its two pass dependency analysis and the dependencies are identified before the module is loaded and are requested in parallel via Rust and tokio.  If any of those dependencies are TypeScript, then a full dependency grap

[2020-06-23 21:30] viderme commented on #6444
Thanks!

[2020-06-23 21:32] Bidek56 commented on #5876
I am seeing a slightly different material-ui with deno 1.1.1 error:
`error: 'implements', 'interface', 'let', 'package', 'private', 'protected',  'public', 'static', or 'yield' cannot be used as an identifier in strict mode at https://cdn.pika.dev/-/csstype@v2.6.10-9lGFwmNeuxj9xXremWKA/dist=es2019,mode=exports/index.d.ts:1:7,Expected Comma, got Some(Word(StandardLonghandProperties)) at https://cdn

[2020-06-23 21:40] bartlomieju commented on #5876
@Bidek56 that's a different problem, please open a separate issue

[2020-06-23 21:47] wysisoft opened #6447 "Deno should have a maximum sandbox mode"
There should be a mode of Deno that is maximum sandbox -
-No file system access at all (including modules, etc) except for the initial deno command. Put the onus on the developer to package all js/ts in a single file.
-No network at all, except for the ability to respond to http requests from localhost on a single port. no call-out of any kind.
-No console access at all.
-Any error should just suc

[2020-06-23 21:50] nayeemrmn commented on #6447
Duplicate of #6039?

[2020-06-23 21:54] nayeemrmn commented on #6444
This can be closed, then.

[2020-06-23 21:55] wysisoft commented on #6447
I'm unclear how a public facing process would communicate into the sandbox with #6039?

[2020-06-23 22:01] lucacasonato commented on #6447
What exactly is the use case? From what you said, your use case seems so specific that you are probably better of embedding deno_core into your application. A little bit of info on embedding Deno: https://deno.land/manual/embedding_deno. If you have questions related to deno_core, the best place to ask would be https://discord.gg/deno.

[2020-06-23 22:05] wysisoft commented on #6447
I do not think my use case is specific, I think its what the majority of untrusted-code sandbox tools will want. I think implementing this feature will totally trump so many other efforts in js land (vm2, etc). Confidently provide a process that loads an intial file, can respond to a single http request (with the untrusted code sent as the request), and this tool will immediately compete with Fire

[2020-06-23 22:19] Bidek56 opened #6448 "identifier in strict mode"
When trying to import:
`import {Button, Grid} from 'https://cdn.pika.dev/@material-ui/core@^4.10.2';`

I get:

`error: 'implements', 'interface', 'let', 'package', 'private', 'protected',  'public', 'static', or 'yield' cannot be used as an identifier in strict mode at https://cdn.pika.dev/-/csstype@v2.6.10-9lGFwmNeuxj9xXremWKA/dist=es2019,mode=exports/index.d.ts:1:7,Expected Comma, got Some(Word(

[2020-06-23 22:46] astorm opened #6449 "Question/Feature-Request: Way to Track Async Context and/or Promise Creation"
My apologies if this is the wrong venue. It wasn't clear from the contributors guidelines whether issues are a suitable place for questions/feature-requests, and when I asked via [the community chat room](https://discordapp.com/channels/684898665143206084/689420767620104201/725083870164287540) and the [usual places](https://stackoverflow.com/questions/62544235/does-deno-have-a-way-to-track-async-c

[2020-06-23 22:52] balupton opened #6450 "bug(std/node): readFile needs generics for correct types"
There is an incompatibility on https://deno.land/std/node/_fs/_fs_readFile.ts

## prep

[code]

## deno

[code]

[code]

## node

[code]

## evaluation

Problem seems fixable by [overloading](https://www.typescriptlang.org/docs/handbook/functions.html#overloads) readFile where instead of `err`, and `data` being maybe empty, they are conditionally empty based on the non-presence of the other.

Howe

[2020-06-23 23:33] kitsonk commented on #6449
Duplicate of #5638

Currently, not really.  Yes, my opinion is it is a consideration.  I just don't think it has been a priority yet.  We should consolidate thoughts in #5638 though.

[2020-06-23 23:35] #6444 closed

[2020-06-23 23:37] kitsonk commented on #6448
something strange is happening... it looks like Deno is treating the `.d.ts` file as JavaScript and trying to load it in V8, which it shouldn't be doing.

`deno --version` please...

[2020-06-23 23:57] #6449 closed

[2020-06-23 23:58] astorm commented on #6449
thank you @kitsonk

[2020-06-23 23:59] Bidek56 commented on #6448
I using Deno 1.1.1. thanks

[2020-06-24 01:10] balupton opened #6454 "bug: deno's linter should allow ts-expect-error"
I'm working on a pull request that uses `// @ts-expect-error` to allow tests to be able to say "we know that the following code has a type error, but that is the point, we want to test the code against invalid types"

/ref https://github.com/typescript-eslint/typescript-eslint/issues/2093

[2020-06-24 01:12] #6454 closed

[2020-06-24 02:21] kitsonk commented on #5436
I've started work on this and have it working in a branch, except ran into a major challenge...  With TypeScript constructs like:

[code]

Because the transpiler isn't looking at any sort of type information, it doesn't know that `AnInterface` should be erased.  It seems like other transpilers that just erase types have this problem as well, and one of the main motivations for the introduction of

[2020-06-24 02:52] #6450 closed

[2020-06-24 05:29] caspervonb commented on #6440
This came up in wasi as-well; not all error codes are accurate mapping because of the lack of information available.

[2020-06-24 05:38] ahuigo commented on #4549
https://github.com/pikapkg/snowpack is more modernize than webpack and rollup

[2020-06-24 07:18] danbulant commented on #5700
I was asking since my error (which is similar) with the `Deno.connect` shows regardless if using stable or unstable (which isn't expected)

[2020-06-24 07:25] ccouzens commented on #6415
The fix is merged, so I'll close

[2020-06-24 07:25] #6415 closed

[2020-06-24 09:49] brandonkal commented on #973
As far as I can tell, --cert adds an untrusted RootCA but doesn't help with presenting a client certificate to the private server for mTLS.

[2020-06-24 12:53] Bidek56 commented on #6448
So different CDNs produce different errors.
`import {AppBar} from 'https://unpkg.com/@material-ui/core@4.10.2'` results in:
`error: Uncaught SyntaxError: The requested module 'https://unpkg.com/@material-ui/core@4.10.2' does not provide an export named 'AppBar'`

but the export is clearly there:
`Object.defineProperty(exports, "AppBar", {
  enumerable: true,
  get: function get() {
    return _App

[2020-06-24 13:27] #3005 closed

[2020-06-24 14:44] zinthose commented on #6353
I feel these --unstable dependent modules need a consistent means to determine if it is indeed running with the unstable flag
Maybe add "unstable" to the version object, although this feels like a band-aid solution to a long term problem.

Example:

[code]

Hopefully we can get the Permissions module native to Deno with some way of testing for presence of these flags.

[2020-06-24 14:59] #6194 closed

[2020-06-24 15:03] Bidek56 commented on #6448
So far I have tried all the React UI libraries (Material-UI, Ant, react-select, react-md, react-bootstrap, etc..) and none of them work with deno.

[2020-06-24 16:27] linde12 commented on #6408
OK i think i've located the problem with these two issues.

For the backslash issue i see that `Url::parse` [here](https://github.com/denoland/deno/blob/master/core/module_specifier.rs#L71) is being passed an invalid URL containing a backslash. `Url::parse` is then being lenient it seems because it doesn't Err and instead removes the backslash so that e.g. `file:///some/path/A\\B/test.ts` becomes

[2020-06-24 16:52] linde12 commented on #6408
I have created this issue for now https://github.com/servo/rust-url/issues/612

[2020-06-24 16:52] apiel commented on #6366
On android, if you install with the write permission, it will not allow to do anything else than writting. With Deno if you install with write permission, it give you the possibility to get all permission. So at the end `deno install --allow-write` === `deno install --allow-all`.

A way to avoid this, would be to scope where sandbox is allow to write, e.g.: `--allow-write=./data/*`. And we could a

[2020-06-24 18:40] lucacasonato commented on #6448
This is not an ES Module style export, so it doesn't get picked up by Deno. Deno can only use ES Modules.

[2020-06-24 19:19] wperron opened #6461 "deno upgrade returns non-zero exit code when already at latest release"
This is a really small issue but when running `deno upgrade` with no arguments while already being at the latest release, the command exits with an exit code 1. I think it should return an exit code 0 in this scenario as it better matches the idempotent behavior of the command.

[2020-06-24 19:34] wperron commented on #6461
Did a bit of research and found that the exit code 1 was put it place in commit abbf0339c. We can clearly see the same condition in the before and after, but the after has that `std::process::exit(1)` that wasn't there before and I can't find information in the pull request associated (#5156) as to why that was put in there.

@crowlKats as the author of that commit, do you remember why that was im

[2020-06-24 19:44] rasmuslos commented on #6432
+1

[2020-06-24 19:58] crowlKats commented on #6461
Oh hmm cant remember, must be a mistake i guess. i can have this changed together in #6352 if that's alright

[2020-06-24 20:14] wperron commented on #6461
I was looking at it, doesn't seem really hard to fix, but I don't think I'm confident enough in Rust to add a meaningful test for this case, so sure, by all means go ahead!

[2020-06-24 20:58] ry commented on #6366
That feature is already there. Maybe this is where the confusion is coming from.

[2020-06-24 21:09] apiel commented on #6366
Oh I didn't know that...
![image](https://user-images.githubusercontent.com/5873198/85627493-e140ce80-b66e-11ea-81ad-a6bd01c58acc.png)

The returned error doesn't mention it. Maybe, you should by default make `--allow-write` point by default to the current working directory. And only give access to the whole disk if the user specify it. After it is just a personal opinion, but by this thread you s

[2020-06-24 21:09] MarkoCen commented on #6448
experienced the exactly same issue with Deno 1.1.1, it is working if I directly import `csstype`

[code]

output:
[code]

[2020-06-24 21:47] aricart commented on #5647
Actually it won't because multiple async write operations are not thread safe - the underlying rust can interleave the writes.

[2020-06-24 23:29] sholladay commented on #6448
A Pogo user reported this same problem in https://github.com/sholladay/pogo/issues/35. I haven't been able to reproduce it yet, but they are using Deno 1.1.1 on Windows 10.

[2020-06-24 23:38] kitsonk commented on #6366
Because people don't read documentation doesn't make the solution insecure.

Potentially defaulting `--allow-write` to default to cwd is not the worst idea in the world.  Opening another issue to discuss that would be the best way forward on that.  It would be a breaking change, somewhat significant.

[2020-06-24 23:40] kitsonk commented on #5518
#6453 has been reverted so this should be re-opened.

[2020-06-24 23:56] FredKSchott commented on #6448
See here for some extra relevant debug info: https://github.com/pikapkg/cdn/issues/19#issuecomment-648397001

[2020-06-25 00:13] kitsonk commented on #6448
Yeah, I don't think they are related as well...  The other one has a `.d.ts` that isn't compatible with Deno for various reasons, this other one seems like something is going a bit odd that shouldn't which needs to be investigated.

[2020-06-25 00:14] FredKSchott commented on #6448
import {Button, Grid} from 'https://cdn.pika.dev/@material-ui/core@^4.10.2' works for me in Deno 1.1.0

Update: https://cdn.pika.dev/-/csstype@v2.6.10-9lGFwmNeuxj9xXremWKA/dist=es2019,mode=exports/index.d.ts is a URL that should only ever be used to serve JS. Not sure why Deno would be loading that as a type.

[2020-06-25 00:16] zicklag opened #6465 "Handshake Failure Behind Proxy, Even With --cert"
I'm behind an HTTP proxy with authentication and a custom certificate, but I'm getting an undescribed `HandshakeFailure` when trying to run hello world:

[code]

I have my `HTTP_PROXY` and `HTTPS_PROXY` environment variables set like so:

[code]

Is there any way to get more info on what is actually failing? This happens with any deno command that tries to access the internet.

[2020-06-25 00:21] kitsonk commented on #6448
Ok, I am on master and getting something different, still doesn't work...

**test.ts**

[code]

And then:

[code]

[2020-06-25 03:41] tigercosmos opened #6466 "Is there something like Node Green?"
I am looking for supporting information on Deno
Probably something likes https://node.green/

[2020-06-25 03:54] nayeemrmn commented on #6466
https://node.green/ just filters https://kangax.github.io/compat-table to the Node columns.

There's nothing to track here. If you want to add Deno to the Kangax compatibility table, open an issue with https://github.com/kangax/compat-table.

[2020-06-25 04:11] FredKSchott commented on #6448
Ah you're right, I can reproduce with the `--reload` flag. That's a bug introduced in our latest exports map work, I just pushed out a fix and can no longer reproduce. Thanks for catching!

[2020-06-25 04:11] nayeemrmn commented on #5684
It doesn't, I think you saw the behaviour where all of the built-in modules are automatically exposed as globals in the REPL.

[2020-06-25 04:39] zinthose commented on #6427
I'm having the same issue.  ATM, I'm dead in the water as this is a blocking issue for me to adopt Deno.

I have a POST request to a remote REST API that uses a standard GoDaddy Cert so it's not self signed like I'm seeing in other issues.  From my understanding the issue's root is with the TLS method used but I'm unclear how to change or correct it.

I can successfully make the call using Node or

[2020-06-25 04:56] tigercosmos commented on #6466
kangax/compat-table#1651

[2020-06-25 04:57] kitsonk commented on #5684
Grr... you are right... 😢

(╯°□°)╯︵ ┻━┻

[2020-06-25 05:15] enjikaka commented on #6427
I temporarily solved it on my end by proxying through another cert. https://github.com/Freeboard/thingproxy

[2020-06-25 07:17] cknight opened #6468 "Feature request: Add size and count of unique deps to Deno info"
Currently `deno info mod.ts` will produce a dependency tree of `mod.ts`.  It would be a nice enhancement if next to each module the size in bytes could be shown in addition to the size of the sub-tree.  This would help spot bloated dependencies.

Another nice to have improvement would be a count of unique dependencies.

Possible output:
[code]
(byte numbers above are fictional, don't add up and ar

[2020-06-25 08:37] GuyGolanBB commented on #6465
I get this error too.

[2020-06-25 11:01] bartlomieju commented on #6057
@wongjiahau I checked example you have provided - it fails because you set `checkJs` to false. `https://deno.land/x/brotli@v0.1.3/wasm.js` imports `https://deno.land/x/lz4@v0.1.0/mod.ts` - if `checkJs` is false then imports from JS won't be emitted. @kitsonk could you take a look and give your opinion if that's proper behavior?

[2020-06-25 11:11] ry opened #6471 "_015_duplicate_parallel_import flaky"
example https://github.com/denoland/deno/runs/806953504
[code]

[2020-06-25 11:17] wongjiahau commented on #6057
I see, but based on https://deno.land/manual/getting_started/typescript, “checkJs” is false by default, perhaps the tsconfig in the manual is outdated?

[2020-06-25 11:20] bartlomieju commented on #6057
The default config is the same, however if any of the dependencies is a `.js` file that imports `.ts`/`.jsx`/`.tsx` then `checkJs` is set to true - otherwise those imports wouldn't be transpiled.

[2020-06-25 11:56] bartlomieju opened #6473 "Tests in cli/tsc.rs are not deterministic"
Following tests are non-deterministic:
- `test_compile`
- `test_bundle`

They do not use custom `DENO_DIR` but rather rely on the default value - that means they modify files in default location of `DENO_DIR` on developers machine.

[2020-06-25 11:58] bartlomieju commented on #6471
https://github.com/denoland/deno/runs/807079745

[2020-06-25 12:05] Spoonbender commented on #2318
I think this is much better, but still not bullet-proof, and I fear the rabbit hole is deep.

One thing that comes to mind is relative symlinks that lead to a parent directory.
The ability to move such a link, either directly or indirectly by moving its containing directory, leads to additional holes.

Consider the following exploit:
[code]
Run the script and provide it read and write access to /s

[2020-06-25 12:05] ry commented on #5684
I'm reluctant to add non-standard globals.

[2020-06-25 12:12] kitsonk commented on #6473
Yeah, I was running into the fact that they also can find the cache during multiple runs, so they aren't actually testing what we think they are testing.  I had a situation where there are subtle differences in the emit between a compile and a `.transpileOnly()` and one of them would win (between `test_compile` and `test_transpile`) and the other would fail because the cached version was returned

[2020-06-25 12:14] bartlomieju commented on #6473
@kitsonk yes, I had exactly same problem during work on incremental compile patch. Those tests need to rewritten, removed or made into integration tests.

[2020-06-25 12:17] #6263 closed

[2020-06-25 13:06] zinthose commented on #6427
I did try adding cors and origin to my request headers using soxa but to no effect.
The response headers from the server I'm attempting to connect to is below if some insight can be gleamed from it that I'm not seeing:
[code]

@enjikaka I'll look into thingproxy as a temporary solution.

[2020-06-25 13:12] Bidek56 commented on #6448
I wish I could say that it works but when I try to use it like:

[code]

I get: https://reactjs.org/docs/error-decoder.html/?invariant=321

[2020-06-25 13:24] enjikaka commented on #6427
@zinthose CORS doesn't matter here. It's the HTTPS management in Deno and/or the rust lib it uses that doesn't handle specific certs correctly. With that thingproxy it'll use another cert that Deno doesn't error on, which is a temporary hack around the issue. :)

[2020-06-25 13:30] enjikaka commented on #6427
To compare here's `curl -v` with the plain server vs proxied response:

`curl -v https://copernicus.discomap.eea.europa.eu/arcgis/rest/services/Corine/CLC2018_WM/MapServer/0\?f\=json`
[code]

`curl -v https://thingproxy.freeboard.io/fetch/https://copernicus.discomap.eea.europa.eu/arcgis/rest/services/Corine/CLC2018_WM/MapServer/0/\?f\=json`
[code]

I think `ALPN, server did not agree to a protocol

[2020-06-25 13:41] Spoonbender commented on #4969
I'd like to tackle this issue

[2020-06-25 13:43] zinthose commented on #6427
I did a DIFF compare with the results below.  It dose appear the protocol is the issue.

![image](https://user-images.githubusercontent.com/752909/85730911-0b72aa80-b6c8-11ea-96f6-b1e0e93febe6.png)

[2020-06-25 15:09] littletof opened #6477 "Fmt removes brackets from left side of assignment"
When formatting this sample code:

[code]

`fmt` removes the brackets from the casting, making the code not compile:

![image](https://user-images.githubusercontent.com/32012862/85745982-688d5100-b706-11ea-81f5-d3ca78808e1e.png)
![image](https://user-images.githubusercontent.com/32012862/85746092-7e027b00-b706-11ea-9a48-65f658abbbd4.png)

[2020-06-25 15:21] ry commented on #6468
Sure sounds like a useful nice feature.

[2020-06-25 15:22] JustinR93 opened #6479 "Deno.realPath() does not seem to be working as expected"
I'm trying to use `Deno.realPath()` and I get the following error no matter how I enter the path to the directory
`Error: The filename, directory name, or volume label syntax is incorrect.`

I've tried the following formats to find the directory
`Deno.realPath("./api")`
`Deno.realPath("/api")`
`Deno.realPath("\\api")`
`Deno.realPath(".\\api")`
`Deno.realPath('${Deno.cwd()}/api')`
`Deno.realPath('$

[2020-06-25 15:28] Spoonbender commented on #4969
I'd like to first try and get rid of the panic, regardless of whether we expand the interface.

The complexity originates from the way Rust parses the url "`ocalhost:35242` - it considers it a valid url which has no host, and considers `localhost` to be the scheme (proto), similar to what you'd expect parsing `mailto:someone@something.com`.

At first I though we should just ensure the parsed url h

[2020-06-25 15:28] bartlomieju commented on #6477
CC @dsherret

[2020-06-25 15:32] bartlomieju commented on #4969
@Spoonbender proposed solution sounds good 👍  as long as it doesn't panic and provides a useful error message it's an improvement. Feel free to open a PR!

[2020-06-25 15:40] dsherret commented on #6477
Interesting. I didn't know people could write that code. I opened https://github.com/swc-project/swc/issues/861 and once that's resolved I'll figure out how to solve this in dprint-plugin-typescript.

@littletof for now, you can add a `// deno-fmt-ignore-file` comment to that file or `// deno-fmt-ignore` comment to the statement to ignore formatting

[2020-06-25 16:15] littletof commented on #6477
@dsherret Thanks, `// deno-fmt-ignore` works for now.
Well, didn't plan to use it either, but casting the value itself to the type I need would be more problematic in my original case 😄

[2020-06-25 16:38] #6400 closed

[2020-06-25 16:40] ry opened #6480 "deno_test_fail_fast test is flaky"
https://github.com/denoland/deno/runs/807338742

[code]

[2020-06-25 16:46] SakiiR opened #6481 "Deno.seek does not support 64bits integer"
Why is Deno not supporting `i64` as seek offset ?

It should ! Linux has devices or other big files that can be seek with a big offset.

Here is the stacktrace when trying to seek a 64bits integer:

[code]

Reproduce code:

[code]

[2020-06-25 16:47] sheriffderek commented on #5707
I can see Ryan saying it both ways - and more recently, pronouncing it "Deeeno." So, maybe we should tell him what was decided! hahaha (+1 for pronouncing it how it's spelled)
https://vimeo.com/432564160

[2020-06-25 17:11] nayeemrmn commented on #5707
@sheriffderek As in, decided by the author of this issue who ignored up-to-date video evidence in favour of responses from random people? Yeah someone should tell Ryan already, he clearly hasn't been updated!

[2020-06-25 17:34] ry commented on #6479
I wonder if this is a problem with the path being interpreted as a URL again? https://github.com/denoland/deno/issues/6401

[2020-06-25 17:34] caspervonb commented on #6481
Not sure what happened here, this predates me but its being lowered to i32 before being passed into seek which takes u64.

Yes, it's in my backlog.

Also mentioned in #6169

[2020-06-25 17:41] suchislife801 opened #6482 "Deno as a service in Linux."
Hey guys. Thanks for the awesome.

Bellow is a unit file I've created to run deno as a service in Linux. This way it restarts itself automatically in case of a crash. As you can see, it's pretty simple.

Are there specfic signals that can be sent to deno in order to stop, reload, start at runtime?

Take a look

`/etc/systemd/system/deno.service`

[code]

**Running Deno instance of the app.**

Enab

[2020-06-25 18:21] dyladan commented on #4969
I would also make sure to document the fact that a scheme is required, with a suggestion what to do if (like me) you are using a custom protocol that does not have an obvious or pre-defined scheme.

[2020-06-25 18:29] sheriffderek commented on #5707
I have a feeling - that we could ask Ryan - and just decide. But - he also might just say - "either way."

[2020-06-25 18:35] pedropaulosuzuki commented on #5707
No need to ask Ryan. One of the lead developers already gave us the answer in this own thread: Kitson Kelly himself. Also, the thread is dead by a month, no need to revive it again. What you can do with software is more important than the name you give to it.

[2020-06-25 18:35] Spoonbender commented on #4969
@dyladan I'll make sure to do that!
BTW, can you explain your scenario: what custom protocol are you using?

[2020-06-25 18:59] StanleyMasinde commented on #5707
Relax man, 🤣🤣 You are too serious. loosen up a bit

[2020-06-25 19:10] sheriffderek commented on #5707
I know it's _silly_... but - if someone is going to spend months creating a course - or help the community by creating a tutorial etc. - then it's not really fair to put them in a position where they say "Deeeno" a thousand times - and then later - thousands of people with nothing better to do - make a comments about how they are saying it _wrong_. Based on this thread - I'm am sure that will be t

[2020-06-25 19:33] dyladan commented on #4969
In the case that caused me to open this bug it was actually IRC protocol (a very simple line protocol if you're not familiar), but in general I think it is not safe to assume that users will be using a premade protocol. For instance, in the past I have used a custom binary protocol to gather precise low-latency telemetry data from a drone for remote piloting (I admit I was not using and would like

[2020-06-25 20:19] FredKSchott commented on #6448
Are you also importing React from the Pika CDN? React gets made if you have two copies running on the same site.

[2020-06-25 20:19] nayeemrmn commented on #5707
@sheriffderek The pronunciation is already decided: it used to be pronounced [/dɛno/](http://ipa-reader.xyz/?text=d%C9%9Bno&voice=Joey) but has been revised to [/di no/](http://ipa-reader.xyz/?text=di%20no&voice=Joey) ([ref](https://www.youtube.com/watch?v=1gIiZfSbEAE#t=20)). The references in this thread have already made that clear. You've expressed that you prefer the first way and have continu

[2020-06-25 20:27] ry commented on #5707
As others have said, the pronunciation rhymes with the city Reno, Nevada. Or like the Flintstone's character.

I keep mispronouncing it tho.

[2020-06-25 20:42] Bidek56 opened #6485 "Deno.watchFs recursive"
Should this code generate  events for sub directories? If not what does the **recursive** do? Thx
[code]

[2020-06-25 20:53] ry commented on #6485
Yes that's what the recursive option does.

[2020-06-25 20:53] #6485 closed

[2020-06-25 20:56] Bidek56 commented on #6485
I do not believe it works. Modifying any files in the sub-directory does not generate an event.

[2020-06-25 21:16] Bidek56 commented on #6448
I tried to import React from Pika using: `import React from 'https://cdn.pika.dev/react/^16.13.1' unfortunately it throws all kinds of errors.
Using "https://dev.jspm.io/react@16.13.1" works fine.

[2020-06-25 21:31] Bidek56 commented on #6485
@bartlomieju Do you see the recursive option working correctly? Thx

[2020-06-25 22:52] kitsonk commented on #6057
Hmmm... need to think about it, because it doesn't feel like we should require `checkJs` to be true to get all the TypeScript a program needs to be compiled, though it gets a bit complicated.  The easiest solution is to just invoke the compiler twice in situations like this and don't change implicitly change `checkJs`.  So if `.ts` loads `.js` it just stops the dependency analysis, and when we hav

[2020-06-25 22:53] jsejcksn commented on #2297
I think it's logical for this functionality to be an additional argument to `deno cache`, using something like `--delete` or `--invalidate`, and it would change the behavior of the command to delete the cached module and its dependencies.

An example:

Caching:
[code]

Deleting:
[code]

[2020-06-25 23:08] sheriffderek commented on #5707
Sorry, fellas. It was not clear to me from reading the thread that there was any official conclusion - and I had no intention to push an agenda. I care 0% what way it's pronounced. I just want to pronounce it correctly. If it's not clear - after I spent hours researching it - then I guess I'm just a complete idiot. I'll think on this - and try to figure out how to not be so stupid in the future. T

[2020-06-25 23:20] pedropaulosuzuki commented on #5707
No need to play the victim. Github issues are for reporting bugs, suggesting features, contributing to the project. Off-topic questions should be posted somewhere else, such as in the forum.

[2020-06-25 23:31] kitsonk commented on #5707
For clarity, since people seem to be obsessed by this, originally there was no official pronunciation.  As Ry stated he was pronouncing it one way.  I was pronouncing originally as it is the official pronunciation, but then several of us had a conference call and Ry was saying it the way he originally said it, so I switched.

When Ry and I met up before our talk a TSConf 2019 in Seattle, it ended

[2020-06-26 02:50] kitsonk opened #6488 "Incremental compilation doesn't respect --reload"
If I do a:

[code]

And then follow it up with a:

[code]

All of the files are sent to the compiler, along with the buildinfo.  The compiler realises that none of the source have change, and so no files are updated.  While this might be correct, the flag `--reload` indicates that "no matter what, I am going to not use cached information".

Omitting `buildinfo` when the `--reload` flag is present

[2020-06-26 04:20] zinthose commented on #6427
FYI: I created a thingproxy [docker image](https://hub.docker.com/r/zinthose/thingproxy) for the time being as an alternative workaround for others.

[2020-06-26 05:56] StanleyMasinde commented on #5707
Aaa gentlemen, I believe we have open 615 issues to address

[2020-06-26 06:07] actual-size commented on #6479
@ry Don't think it is, I never touched `realPath` and it doesn't seem to interact with any of the parts that I did.

[2020-06-26 06:36] caspervonb commented on #6479
Seems like we had no unit tests for this on Windows until https://github.com/denoland/deno/pull/6463 landed and even with that the coverage is very weak.

[2020-06-26 10:30] caspervonb commented on #6479
Missing piece of information; what is the working directory?

[2020-06-26 11:18] implicitdef opened #6491 "Lock file not supported by `deno bundle`"
`--lock <FILE>` and `--lock-write` options are supported by `deno run`, `deno cache`, but not `deno bundle`.
I don't see why, I think it should. Probably `deno test` too, maybe `deno doc` as well ?
In short, all methods that may fetch remote modules should offer to check the lock-file or overwrite it.

This is the workflow I had in mind :

[code]

[2020-06-26 12:23] #6488 closed

[2020-06-26 12:29] #6401 closed

[2020-06-26 12:36] #6325 closed

[2020-06-26 12:56] bartlomieju commented on #4411
I think this issue is no longer valid - any runtime API (`import()`, `Deno.compile()`, `Deno.bundle()`, Deno.transpileOnly()`) does permission check before loading files. Additionally neither WASM nor JSON imports are supported anymore (past `v1.0.0`)

[2020-06-26 12:59] cknight commented on #4411
Thanks @bartlomieju, I agree.  Closing.

[2020-06-26 12:59] #4411 closed

[2020-06-26 13:11] Bidek56 commented on #6485
This seems to be Ubuntu 20.04 on WSL2 issue only, it works on Windows and Linux. Thx

[2020-06-26 13:24] mateusfg7 opened #6492 "I need a CORS equivalent method."
is there a method equivalent to the node's CORS that I can use in Deno? to limit who can use the server.

[2020-06-26 13:34] JustinR93 commented on #6479
I'm sorry all I'm an idiot.

Everything is working fine I made some mistakes in my code, main one being I never awaited my build function to finish so I had a full path from `Deno.realPath()` which then made `Deno.chdir()` break which was throwing the error above. I'm sorry for all the inconvenience this was just a simple EBKAC error.

Thank you all

[2020-06-26 13:35] caspervonb commented on #6479
No worries; glad you figured it out!

[2020-06-26 13:45] RobDWaller commented on #5590
This is expected behaviour, not an issue.

[2020-06-26 13:45] #5590 closed

[2020-06-26 14:25] ddaydd commented on #6482
hi, why not use pm2 ?

[2020-06-26 14:28] caspervonb commented on #6326
Resolved in https://github.com/denoland/deno/pull/6425

[2020-06-26 14:28] #6326 closed

[2020-06-26 14:53] kamranjon commented on #6492
https://deno.land/x/cors

[2020-06-26 15:14] ykis-0-0 opened #6497 "Nested imports failing"
When re-exporting modules, `deno` will throw an error.
`deno` binary used: `x86_64-pc-windows-msvc`.

<details>
<summary>Log:</summary>

[code]
</details>

Files used (all are in the same directory):

start.bat (I tried but the `--unstable` seems doesn't matter):
[code]

tsconfig.json:
[code]

mod.mjs:
[code]

std.mjs:
[code]

If it's my fault please also kindly point it out since I am a newcomer

[2020-06-26 15:24] Colin6618 opened #6498 "wanted: Is there a way to get the local ip address ?"
Q: Is there a better way to get the local ip address in a Deno Program ?

Background: I have a simple deno program running on my local environment and I want to get the local IP address for other devices to access. For example, in the common case, `192.168.1.XXX`. (like my phone visits a website running on PC).

I searched the documents, the most relevant item is the interface `Deno.NetAddr` and

[2020-06-26 15:34] bartlomieju commented on #6497
@ykis-0-0 try changing `checkJs` to true - if you switch it off then any `.ts` imports from `.js` imports won't get compiled

[2020-06-26 15:43] ykis-0-0 commented on #6497
@bartlomieju that works, thanks!
and by the way, is there any method to compile a single import as JavaScript but not TypeScript?
importing an `.mjs` file on the internet with `"allowJs": true` in `tsconfig.json` will produce a bunch of errors like this:

<details>
<summary>Log:</summary>

[code]
</details>

Is there any way to deal with it without downloading the source file and adding `// @ts-no

[2020-06-26 16:02] bartlomieju commented on #6497
@ykis-0-0 you might find this chapter useful: https://deno.land/manual/getting_started/typescript#using-external-type-definitions

[2020-06-26 16:43] asontha opened #6501 "Incompatible with Google Cloud Run: Device or Resource busy (os error 16)"
https://stackoverflow.com/questions/62504770/cloud-run-fail-to-connect-to-postgres-cloud-sql-device-or-resource-busy-os-err

Thoughts?

[2020-06-26 16:50] zicklag opened #6502 "Proxy Authentication Not Honored In Fetch API for HTTP ( HTTPS Works Though )"
When following the basic HTTP fetch example behind an HTTP proxy *with authentication* I am getting a permission denied error from my proxy because the username and password for the proxy server are not being read from the `HTTP_PROXY` environment variables:

    deno run -A fetch.ts http://katharostech.com

**fetch.ts:**
[code]

The output is a the HTML for the 403 page of my proxy server.

Inter

[2020-06-26 17:25] #6198 closed

[2020-06-26 17:43] #6479 closed

[2020-06-26 18:40] ykis-0-0 commented on #6497
@bartlomieju Thank you very much! I didn't know it needed a declaration file since I didn't use TypeScript, and now I finally resorted to use DefinitelyTyped.

[2020-06-26 18:40] #6497 closed

[2020-06-26 18:43] caspervonb commented on #6482
hi, why not use systemd?

[2020-06-26 18:44] MarkTiedemann opened #6505 "Provide .exe and .tar releases"
ref: https://github.com/denoland/deno_install/issues/130

ref:  https://github.com/denoland/deno_install/issues/153

`tar` is installed by default on Windows 10 since early 2018. `unzip` is not installed by default. Instead, unzipping requires using PowerShell cmdlets or Windows Script Host shenanigans. Providing a `.tar.gz` release would allow custom installations to just curl and untar a Deno re

[2020-06-26 18:56] caspervonb commented on #6501
Need more information than a single error code without any context.

[2020-06-26 19:05] asontha commented on #6501
I've provided a simplified example in stack overflow to reproduce the error: https://github.com/asontha/busy-app

Essentially, when deploying a deno container to Cloud Run, we run into a device or resource busy error when attempting to connect to Cloud SQL instance. Deploying an app without connecting to a cloud sql instance works fine.

[2020-06-26 19:06] asontha commented on #6501
Trying to understand whether this is a Google Cloud issue, or a deno issue.

[2020-06-26 20:25] vertexinfobase opened #6507 "Deno JWT Token Serialization Method"
I have set up jwt token on my deno app. It works perfectly fine in postman but dont know how to serialize the generated token for subsequent requests. Any help will be highly appreciated.

[2020-06-26 20:35] hchiam commented on #6239
Even with `alias denon=denon.cmd` in .bash_profile, I'm getting `bash: denon.cmd: command not found`

[2020-06-26 20:42] caspervonb commented on #6501
But where is it happening? can you provide a stack trace?

[2020-06-26 20:46] MarkTiedemann commented on #6239
Have you `source`'d your `.bash_profile`?

[2020-06-26 20:54] hchiam commented on #6239
@MarkTiedemann yup, did that too - still no luck.

[2020-06-26 21:21] Bidek56 opened #6508 "React HTMLInputElement"
Basic React example using: `deno run .\react.tsx`
[code]

generates this error: `error: TS2339 [ERROR]: Property 'value' does not exist on type 'HTMLInputElement'.`
This is standard React. Thx

[2020-06-26 21:37] #4969 closed

[2020-06-26 22:05] lucacasonato commented on #6507
Questions like these should be asked on Discord: https://discord.gg/deno. The issue tracker is for bugs and feature requests, directly related to Deno, not questions.

[2020-06-26 22:29] marcosc90 opened #6510 "Incorrect ArrayBuffer size from Buffer.bytes()"
Take the following snippet, trying to base64 encode "hello world" from `buf.bytes()`

[code]

The output is:

[code]

instead of
[code]

It happens because the underlying `ArrayBuffer` size is bigger than the `Uint8Array` size returned by `buf.byes()`. I think the underlying `ArrayBuffer` returned by `buf.bytes()` should be the size of the content, not the capacity of `Deno.Buffer`

[2020-06-27 01:19] MarkTiedemann commented on #6508
You need a `tsconfig.json` with proper compiler settings to get full DOM types, e.g.

[code]

To use the config, run `deno run --config=tsconfig.json react.tsx`. This should make your example compile.

[2020-06-27 03:08] raptazure opened #6513 "Docs: building V8 from source - macOS dependencies"
In the [building from source](https://deno.land/manual/contributing/building_from_source) document, "Mac users must have XCode installed" isn't that accurate. Having the Command Line Tool installed without XCode itself also works for me. Maybe it is ok to add "run `xcode-select --install` to get the CLT" as another option?

[2020-06-27 03:42] uzyn opened #6515 "Suggestion: `deno bundle --declaration` that generates `.d.ts` file"
While the general direction are users moving from NodeJS into Deno, for me, I enjoy Deno modules while working on a bigger NodeJS/TS project that consumes npm packages.

I would like to import my Deno modules back into NodeJS while retaining type declaration. Steps that I have to do now are:

1. Copy a.. *.ts files to a temp dir.
2. Remove all `.ts` from `import`s .
3. Recursively resolve all exte

[2020-06-27 03:58] kitsonk commented on #6515
Duplicate of #3385

[2020-06-27 04:08] kitsonk commented on #6508
If it is server side (SSR) that will run under Deno then you more likely want:

[code]

[2020-06-27 04:11] kitsonk commented on #6492
Questions like these should be asked on Discord: https://discord.gg/deno. The issue tracker is for bugs and feature requests, directly related to Deno, not questions.

[2020-06-27 04:12] kitsonk commented on #6482
This is best suited for #showcase on Discord: https://discord.gg/deno. The issue tracker is for bugs and feature requests, directly related to Deno.

[2020-06-27 04:15] kitsonk commented on #6491
We should support consumption of lock files with `bundle`.

[2020-06-27 04:34] horihiro commented on #6409
Sorry for delay.

I confirmed that following simple console app can reproduce this behavior.

CallerConsoleApp.cs
[code]

file1.ts
[code]

[2020-06-27 06:13] jsejcksn commented on #6505
This is a very reasonable request. The source code is already being released in `zip` and `tar.gz` formats.

I also like that you gave a 👍 to your own post 😄 .

[2020-06-27 06:19] jsejcksn commented on #6492
@kitsonk [Issue templates can be created](https://help.github.com/en/github/building-a-strong-community/configuring-issue-templates-for-your-repository) for this repository to help steer people. See [codesandbox/codesandbox-client/issues/new/choose](https://github.com/codesandbox/codesandbox-client/issues/new/choose) for an example. You might consider using the GitHub discussions feature, too.

[2020-06-27 09:07] zalelion opened #6516 "deno bundle bugs?"
deno version 1.1.0

### index.tsx

[code]

output:
[code]

### browser to index.html
[code]

![image](https://user-images.githubusercontent.com/8503065/85918814-7a9ef900-b898-11ea-82ab-616ba38624f6.png)

[2020-06-27 09:09] zalelion commented on #6516
### bundle index.js
[code]

[2020-06-27 09:25] wongjiahau commented on #6319
I'm also getting this error, but for different reasons

[2020-06-27 11:02] caspervonb commented on #6482
#help not showcase @kitsonk 🤔

[2020-06-27 11:03] bartlomieju commented on #4187
Fixed in #5422

[2020-06-27 11:03] #4187 closed

[2020-06-27 11:06] bartlomieju commented on #6471
Fixed in #6475

[2020-06-27 11:06] #6471 closed

[2020-06-27 11:44] #6270 closed

[2020-06-27 11:52] #6510 closed

[2020-06-27 12:27] Bidek56 commented on #6508
Unfortunately adding those options throws 2 errors that I can not seem to get rid of:

[code]

Full code is at: https://github.com/Bidek56/deno-py-websocket Thx

[2020-06-27 12:34] wongjiahau commented on #6516
Have you tried changing:
[code]
to
[code]
?

[2020-06-27 12:37] wongjiahau opened #6517 "bug(deno/fmt): Multiline destructured objects is formatted wrongly"
## Steps to reproduce
1. Create a file name `test.ts` with the following content:
[code]
2. Run `deno fmt test.ts`

## Expected result
Expect `test.ts` remain unchanged.

## Actual result
At line 2, `options` is dedented.
[code]

## Environment
- deno v1.1.2

[2020-06-27 13:04] Bidek56 commented on #6508
This simple code seem to be failing with this [tsconfig.json](https://github.com/Bidek56/deno-py-websocket/blob/master/client/tsconfig.json)

`deno run -c .\tsconfig.json .\url.ts`

[code]
Would anyone know a tsconfig option to fix it? or is it a [posix.ts](https://github.com/denoland/deno/blob/master/std/path/posix.ts) bug? Thx

[2020-06-27 13:11] mfulton26 commented on #2473
Is there an issue tracking implementation of hot reloading as suggested here?

I found denon which is to deno what nodemon is to node but I'm wondering if deno supports (or will support) hot reloading itself to maintain state that doesn't need invalidating, etc.

[2020-06-27 13:17] zalelion commented on #6516
@waldyrious
same

[2020-06-27 13:20] zalelion commented on #6516
### index.js
[code]

![image](https://user-images.githubusercontent.com/8503065/85923225-ec3c6e80-b8bb-11ea-9e14-9b606ace61b2.png)

[2020-06-27 13:22] lucacasonato commented on #6517
cc @dsherret

[2020-06-27 15:25] Spoonbender commented on #6409
I'd like to tackle this one

[2020-06-27 15:47] nayeemrmn commented on #6517
It has nothing to do with the default value, but the nested multiline destructure pattern. Smaller repro:
[code]
->
[code]

[2020-06-27 15:49] wongjiahau commented on #6517
@dsherret Please kindly refer to @nayeemrmn example for a more minimal reproducible input.

[2020-06-27 15:52] Spoonbender commented on #6409
First, @horihiro 's reproduction works well 👍🏼

Second, while this repro is specific to Windows, **a similar problem can also occur on Linux**.
In Linux, you can also close the `stdin` handle (see: https://superuser.com/questions/813472/how-do-i-close-stdin-in-a-shell-script )
So, the following scenario fails on Linux:
[code]

TypeScript file:
[code]

prints:
[code]

Third, this issue is probably

[2020-06-27 16:11] caspervonb commented on #6409
at unwrapResponse ($deno$/ops/dispatch_minimal.ts:63:11)
    at Object.sendAsyncMinimal ($deno$/ops/dispatch_minimal.ts:106:10)
    at async Object.read ($deno$/ops/io.ts:39:17)
    at async readDelim (https://deno.land/std/io/bufio.ts:649:20)
    at async readStringDelim (https://deno.land/std/io/bufio.ts:699:20)
    at async readLines (https://deno.land/std/io/bufio.ts:709:3)
    at async main (

[2020-06-27 16:15] Spoonbender commented on #6409
@caspervonb yup I'll follow your suggestion from https://github.com/denoland/deno/issues/6409#issuecomment-647881600 - ditch the `unwrap()`, expose a `Result` (or `Option`) and fix the callers.

[2020-06-27 16:39] jakajancar opened #6525 "std/http: Allow using getCookies() without ServerRequest"
`getCookies()` only really needs `req.headers.get("Cookie")`.

It would be handy if it didn't require constructing a fake `ServerRequest` just to use the parsing logic, and in addition to

[code]

... it would also support one (or more) of these:

[code]

[2020-06-27 17:56] satyarohith opened #6529 "Support opening raw file descriptors"

[2020-06-27 19:33] Spoonbender opened #6531 "Network permissions check doesn't account for well-known default ports"
Network permissions check for a URL without an explicit port number doesn't account for default ports of well-known schemes (80 for HTTP, 443 for HTTPS), resulting in a false negative in case permissions were indeed granted for that host:port combo explicitly.

### Steps to reproduce

1. Grant permissions to access www.google.com:443 (to ensure only secure access).
2. Try to access an https url wi

[2020-06-27 19:55] #6517 closed

[2020-06-27 19:58] #6481 closed

[2020-06-27 20:12] Spoonbender commented on #6531
Suggested fix is simple: use `port_or_known_default()` in both calls to `get_state_net()` in permissions.rs

[2020-06-27 21:00] erisanolasheni opened #6532 "Allow wildcards in --allow-net allow lists."
It will be good to allow wildcards in the `--allow-net` allow lists.

For example, this code throws errors:
[code]
`deno run --allow-net=facebook.com server.js`

Because **https://facebook.com** redirects to **https://www.facebook.com**

This should be possible to run it;
`deno run --allow-net=*.facebook.com server.js`

Port based wildcards might also be good. For example
**https only**
`deno run

[2020-06-27 21:43] apiel commented on #5202
I don't know if it is related but since today the fullpath is missing in the stacktrace in my github [CI](https://github.com/apiel/adka/runs/814693690?check_suite_focus=true):

![image](https://user-images.githubusercontent.com/5873198/85932819-dafd5d00-b8cf-11ea-86bf-88614babb38f.png)

[2020-06-28 00:38] marcosc90 opened #6536 "Maximum call stack size exceeded on res.arrayBuffer()"
To replicate:

[code]

**server.js**
[code]

**client.js**
[code]

Throws:

[code]

[2020-06-28 00:38] marcosc90 commented on #6536
I'm working on a fix

[2020-06-28 01:37] zinthose commented on #6427
_I know it seems silly to put so much effort into a workaround, but here you go anyway._ 🤪

I created a module, [zinthose/thingproxy-deno](https://github.com/zinthose/thingproxy-deno) , that can replace the `fetch` api to automatically forward requests through a [thingproxy](https://github.com/zinthose/thingproxy) server.

⚠️ The module is fairly simple but may still have bugs. ⚠️

## Example
[cod

[2020-06-28 02:56] ry commented on #6513
That sounds correct to me. Doc patches are welcome!

[2020-06-28 02:56] #6515 closed

[2020-06-28 02:57] #6492 closed

[2020-06-28 02:58] #6482 closed

[2020-06-28 05:42] PaulThompson commented on #5249
I had an attempt at the aws-sdk
https://github.com/aws/aws-sdk-js-v3/issues/1289

[2020-06-28 05:46] davidmathers commented on #5806
IMO the easy solution is to just append to the cached file the extension that the source provides. If the source doesn't provide then the cached filed doesn't get an extension. It shouldn't be your responsibility to do anything beyond that.

[2020-06-28 08:02] tamasszoke commented on #5888
@bartlomieju The fix for me (dockerfile) was to use the **--unstable** flag at the first position right after the run command.

[2020-06-28 08:30] uki00a commented on #6424
I'll work on this.

[2020-06-28 09:22] velascopja opened #6540 "this undefined in a test"
Hi,

I'm sure I'm doing something wrong, but I can't figure what.

I've defined a class (let's call it A) with a method save() which looks like
[code]
Then I've defined a test like
[code]
The code in the save method runs well when we run the application, however when we run the test we get the error
  "Cannot read property '_someproperty' of undefined".
because  in
[code]
'this' is 'undefined' dur

[2020-06-28 09:40] velascopja commented on #6540
Sorry, my bad defining the test case.

I've changed
[code]
with
[code]
and now everything is working like a charm.

Sorry for bothering with this nonsense...

[2020-06-28 09:40] #6540 closed

[2020-06-28 11:01] bartlomieju opened #6541 "refactor: Rewrite terminal printer for "deno doc""
Currently `deno doc` uses very bare-bones formatting to output documentation to terminal.

Example:
https://github.com/denoland/deno/blob/2da084058397efd6f517ba98c9882760ec0a7bd6/cli/doc/printer.rs#L111-L128

It's a bunch of functions that perform formatting and coloring. They do their job, but code structure and tests for terminal output are very poor.

Most of the functions in `cli/doc/printer.r

[2020-06-28 11:21] bartlomieju opened #6542 "Stack trace contains wrong paths"
I don't know if it is related but since today the fullpath is missing in the stacktrace in my github [CI](https://github.com/apiel/adka/runs/814693690?check_suite_focus=true):

![image](https://user-images.githubusercontent.com/5873198/85932819-dafd5d00-b8cf-11ea-86bf-88614babb38f.png)

_Originally posted by @apiel in https://github.com/denoland/deno/issues/5202#issuecomment-650634379_

Most likel

[2020-06-28 12:39] marcosc90 opened #6543 "Buffer fails to store up to MAX_SIZE bytes"
Take the following snippet, where I'm trying to read `MAX_SIZE` from a `Reader`

https://github.com/denoland/deno/blob/2da084058397efd6f517ba98c9882760ec0a7bd6/cli/js/buffer.ts#L15

[code]

[code]

[2020-06-28 12:42] FractalHQ commented on #6498
Can you use https://deno.land/x/ip ?

[2020-06-28 13:19] jsejcksn commented on #6516
`deno bundle` is for running code in Deno. It also does not bundle remote imports.

In order to run your compiled TypeScript code in the browser, you're going to need a compiler for that purpose (like `tsc` with an appropriate `tsconfig.json` or `webpack`, etc.)

[2020-06-28 14:19] #6513 closed

[2020-06-28 14:31] #6536 closed

[2020-06-28 15:18] TylerBre commented on #47
It's been mentioned a few times, but it seems some of you fail to read the documentation. Deno has support for "importmaps", which serve to alias import URL's to human-readable strings or "package names".

https://deno.land/manual/linking_to_external_code/import_maps

This is almost identical to what goes on in NPM's "dependencies" block in package.json.

By definition, this *is* package managemen

[2020-06-28 16:25] #6407 closed

[2020-06-28 18:25] asontha commented on #6501
![image](https://user-images.githubusercontent.com/67022327/85955210-d36ea000-b931-11ea-9767-9939f8fdb566.png)

Appears to be happening when deno postgres calls on Deno.connect

https://github.com/deno-postgres/deno-postgres/blob/master/connection.ts#L143

[2020-06-28 18:38] zinthose opened #6545 "BUG: Try Finally errors when Finally is empty"
When using a 'try finally` block, if the finally block is empty an error is raised as if the try block was not there.

## Environment
[code]
[code]

## Test Code
The following is a deno test chain to demonstrate and my output from the test.
[code]
## Results
[code]

[2020-06-28 19:30] rodevio opened #6546 "error: Invalid executable name: 018 - Script installer"
Hi guys,

So I am learning deno and doing some testing and this error ocurred.

Basically I created a environment variable on bash shell with:

**$** echo $USER

_main.ts_ file contents: `console.log("Hello", Deno.env.get("USER"));`

Everything works great when I ran: **$** deno run --allow-env main.ts

Prints Hello and my computer username.

Does not work as I would predicted when I ran:
**$** de

[2020-06-28 19:45] hazae41 opened #6548 "Module "./mod" has no exported member "...""
I have a project that uses wasm-bindgen to generate a [`deflate.js`](https://github.com/hazae41/denoflate/blob/d16bb51da4de59d732ee0b6cf82c63d2f007eb2e/pkg/deflate.js) file.

Then, I import it and initialize the wasm module in a [`mod.ts`](https://github.com/hazae41/denoflate/blob/d16bb51da4de59d732ee0b6cf82c63d2f007eb2e/mod.ts) file.

But when running [`test.ts` ](https://github.com/hazae41/denof

[2020-06-28 19:48] nayeemrmn commented on #6546
@bartlomieju What is the executable name validation based on? `018` should be a valid one, right?

@rodevio To be absolutely clear, you expect the executable name to be selected validly as `018`, right?

[2020-06-28 20:31] rodevio commented on #6546
@nayeemrmn yes

So my folder is: /018/main.ts

[2020-06-28 20:33] rodevio commented on #6546
@nayeemrmn
I just discovered the problem. Basically my folder cannot be a number. Needs to be text like:
/testing/main.ts
and not like:
/018/main.ts

Pretty sure this will help someone down the road. Closing this!

[2020-06-28 20:33] #6546 closed

[2020-06-28 21:28] Wallacy commented on #5863
@bardiarastin Well.. Its true, because that i said to be valid only to the Shebang on the entry/main file; Composition with a remote module can be made by a tool that explicitly extract the permission chain if the user want;

Anyway, my post is about the entry/main file;

[2020-06-28 21:42] piscisaureus commented on #5863
Blindly using permissions from the shebang line doesn't seem so great to me either - it'd render the permissions model quite ineffective as now any script can just give itself any permission it wants.

But I agree it would be nice to not have to repeat the permissions I want to grant over and over again. I get lazy and just add `-A` and when enough people do that it will also render the security m

[2020-06-28 22:26] getspooky opened #6549 "Adding Mock Functions that simulates the behavior of a real method/object in controlled ways"
Problem:
You can stub a database by implementing a simple in-memory structure for storing records. The object under test can then read and write records to the database stub to allow it to execute the test. This could test some behavior of the object not related to the database and the database stub would be included just to let the test run.

Solution:
If you instead want to verify that the objec

[2020-06-28 22:38] kitsonk commented on #6549
Why would this not be solved in user land by the community?

[2020-06-28 22:46] kitsonk commented on #5863
I agree with @piscisaureus that permissions should always be external to the code, otherwise it would become trivial to exploit the security model.

To the suggestion maybe a `--grant` flag, which versions the permissions along with other meta data in the cache, and if the cache ever becomes invalidated, the permissions would be too... so effectively it would only last that way if nothing in the w

[2020-06-28 22:55] kitsonk commented on #6548
If you have a `.d.ts` file, try doing:

[code]

I should still have worked in the first place but I suspect TypeScript is struggling with the `export *` from an untyped file, as it isn't sure what symbols are exported, so it drops the export.  Needs some further investigation to confirm.

[2020-06-29 00:11] irustm opened #6550 "Cannot read property 'target' of undefined if clearTargetsTupleIndex not found"
https://github.com/denoland/deno/blob/master/cli/js/web/event_target.ts#L216

[2020-06-29 00:27] tbaumer22 commented on #3616
I might be a little late to this conversation, and I apologize for that. I think that it would be helpful for me to mention a module registry and CDN (of sorts) that my team and I developed: https://nest.land.
Nest.land solves several of the reasons why this issue was brought about. Let me address each one:

**Q:** How do we ensure the immutability of those packages?
**A:** Nest.land's core lies o

[2020-06-29 03:15] kitsonk commented on #6516
Duplicate of #4539 (explained below)

It is its primary purpose.  Some bundles _can_ work under browsers, but it is a happy side effect, not intent.

Incorrect. It does in a lot of cases...

In this case it is a duplicate of #4539 which is not handled properly at the moment. (In this case Pika is providing an `X-TypeScript-Types` headers, but it is functionally equivalent to the triple slash direc

[2020-06-29 03:26] kitsonk commented on #6545
This has nothing to do with Deno, that is the way JavaScript works... if you have an empty finally block, the code throws.

You can easily reproduce this in a browser on Node.js.  The fix is not to have an empty finally block.  For example, Chrome:

<img width="550" alt="New_Tab" src="https://user-images.githubusercontent.com/1282577/85969836-23219a00-ba0c-11ea-9f1f-d329b7b1f75d.png">

[2020-06-29 03:27] jsejcksn commented on #6516
@kitsonk Thanks for correcting me. I never want to spread misinformation.

[2020-06-29 03:33] jsejcksn opened #6553 "How to provide an --allow-* arg containing a comma?"
In an `--allow-*` permission that accepts a comma-separated list, how do I provide a value that contains a comma?

I tried:
[code]
and
[code]

Neither worked.

I tried asking via other help channels, but got no responses, so I'm hoping someone can address this here. Thanks!

[2020-06-29 03:38] kitsonk commented on #6542
I don't think the source map logic pulls the locations out of the code.  It won't remap the code points if the source map is missing, just preserve it.  I had assumed when we moved to inlining the source maps that we also updated the logic that acquires the source maps and makes them available.  I guess not.

[2020-06-29 03:54] kitsonk commented on #6542
Hmmm... the code is there:

https://github.com/denoland/deno/blob/42464e922d0bc435f32cf9d2707537a9558271fb/cli/tsc.rs#L849-L889

But there aren't any tests, so it is a bit hard to tell where in the chain it is failing. 😕

[2020-06-29 03:58] nayeemrmn commented on #6545
It doesn't have anything to do with the `finally` block being empty, `finally` doesn't catch errors. It allows you to run some stuff before the error is propagated / the function returns.

[2020-06-29 05:02] zinthose commented on #6545
@nayeemrmn correct, catching errors is the job for try, but if fetch is empty try fails to catch errors.. Thus the bug.

[2020-06-29 05:08] zinthose commented on #6545
@kitsonk I see, still, the behavior is rather odd, especially looking closer at the results as the failure seems to only next iteration and not the current.

Not a Deno issue then.

[2020-06-29 05:09] #6545 closed

[2020-06-29 06:24] SirJosh3917 opened #6554 "Possible websocket buffer flushing bug"
Unfortunately, I don't know precisely what happened to make this bug occur - I know that someone was sending a lot of packets on a websocket connection, but I'd like to report this stack trace in case anyone may find it useful

[code]

deno --version output:
[code]

Feel free to close as I don't know how to reproduce this error.

[2020-06-29 07:59] #6516 closed

[2020-06-29 11:05] bartlomieju commented on #5518
Closed in https://github.com/denoland/deno/pull/6472

[2020-06-29 11:05] #5518 closed

[2020-06-29 11:07] dptole commented on #6353
@zinthose agree, this is what I'm trying to do now. I'm trying to detect the absence of `Deno.setRaw`. This is my solution at the moment https://github.com/dptole/deno-playground/blob/master/src/std/01-io.ts

[code]

[2020-06-29 12:51] ry commented on #6529
Can you be a bit more descriptive? I'm not sure what you mean.

[2020-06-29 12:58] ry commented on #6541
Unmarking as good first issue because it's quite a bit in the weeds :)

[2020-06-29 13:13] #5252 closed

[2020-06-29 13:28] ry commented on #6553
` --allow-read="./filewithoutcomma","./file\\,withcomma"` ?

[2020-06-29 14:07] lucacasonato commented on #6541
We have 'detailed' and 'simple' views, for the filtered and non filtered view. Do we want to just get rid of those and always display the detailed view? Because the `Display` trait can not distinguish us trying to display a detail view or a simple view we don't really have much choice right?

[2020-06-29 14:15] SyrupThinker commented on #6541
I'm already working on this. It's the reason for my last PR (:

[2020-06-29 14:42] Wallacy commented on #5863
Well... This `--grant` flag does the trick too, i like the ideia!

I think the people will still be lazy and `--grant` `-A` to every script, but still i nice ideia;

I actually prefer any way to self document the permission on the code, instead any place at some README/Similar... Even without any automation on that matter;

On a middle term, we can kill two birds with one stone: Disable `-A, --all

[2020-06-29 15:02] jose1897 opened #6557 "Thread 'main' panicked at 'called after complete'"
I was trying to run deno tests but i continue receiving this error

[code]

deno --version output:

deno 1.1.2
v8 8.5.216
typescript 3.9.2

[2020-06-29 16:55] caspervonb commented on #3508
Is anyone actively working on this?

[2020-06-29 17:08] jakajancar opened #6559 "Request: Add --parallel to `deno test`"
Would be nice if tests could be run in parallel.

Of course, assuming you take care of any shared resources correctly.

I'm fine giving up "leaking async ops" checks, or maybe just have one at the end "One of your tests leaked async ops, run without --parallel to troubleshoot"...

[2020-06-29 17:20] hazae41 commented on #6548
It works when I add denotypes to the "import" instruction

    deno cache -r https://deno.land/x/denoflate/test.ts
    deno run --allow-net https://deno.land/x/denoflate/test.ts

[2020-06-29 18:30] ry opened #6561 "test cli::tsc::tests::test_compile relies on DENO_DIR"
It should use test_util::new_deno_dir() to construct an ephemeral one.

This also applies to test_bundle and maybe other tests in tsc.rs.

[2020-06-29 18:33] ry commented on #6561
duplicate of #6473

[2020-06-29 18:33] #6561 closed

[2020-06-29 18:34] ry commented on #6473
solution ought to use `test_util::new_deno_dir()`

https://github.com/denoland/deno/blob/4cde7fdc9a52088f8dfe3e23569d6be2faa80d0f/test_util/src/lib.rs#L160-L162

[2020-06-29 18:47] caspervonb commented on #6559
Just an aside; you can test files in parallel with something like xargs or par

[code]

[2020-06-29 18:53] caspervonb opened #6563 "Add support for futimes"
Add support for futimes(2) to allow changing the timestamps of opened file

[code]

[2020-06-29 19:23] Bidek56 opened #6564 "TS2339 url on ImportMeta"
Running the folloing code:
`console.log(  (import.meta as ImportMeta).url)`
or
`console.log(  import.meta.url)`

using:

`deno run -c .\tsconfig.json .\meta.ts `

with [tsconfig.json](https://github.com/Bidek56/deno-py-websocket/blob/master/client/tsconfig.json)

results in:
[code]

but in globals.ts **ImportMeta** has url. Any help appreaciated. Thx

[code]

[2020-06-29 19:45] jakajancar commented on #6559
With separate processes, coordinating shared resource (e.g. db) parallelism / locking is non-trivial.

Within the same process you can just have the tests call a function.

[2020-06-29 20:24] MarkTiedemann commented on #6505
Just learned that `tar` on Windows supports extracting `.zip` files out of the box.

[code]

This removes the paint point of `unzip` not being available.

[2020-06-29 20:24] #6505 closed

[2020-06-29 20:25] TooTallNate opened #6566 "Deno v1.1.2 panics when no `HOME` env var is set"
This is new behavior as of v1.1.2:

[code]

I think Deno should fall back to checking the result of `getpwuid()` (Rust-equivalent, Windows-equivalent), which I believe is what Node.js does (node doesn't require `$HOME` to be set and `os.homedir()` still works properly).

I am using a [workaround](https://github.com/TooTallNate/vercel-deno/blob/1252210069563c128fc3a248b56ed3feae9d9255/src/bootstrap

[2020-06-29 20:27] TooTallNate commented on #6080
I'm not sure if I should create a new issue, but basically the same problem is happening now with the `.buildinfo` files as of Deno v1.1.2. The same hot-patching method works for my purpose, though the patching buildinfo files is a bit more complicated now as the JSON structure is more complicated, but you can see what I did to make it working here: https://github.com/TooTallNate/vercel-deno/commi

[2020-06-29 20:29] bartlomieju commented on #6080
@TooTallNate this issue is still on my radar - now that incremental compilation is working I'll see to make `$DENO_DIR` truly portable. I hope to get to it soon.

[2020-06-29 20:34] jsejcksn commented on #6505
Ref: [How are zlib, gzip and zip related? What do they have in common and how are they different?
](https://stackoverflow.com/a/20765054)

[2020-06-29 20:40] kitsonk commented on #6554
It isn't necessarily a "bug" in that such situations can happen when the far end drops unexpectedly, or there is some internal host issue.  You can't expect a flush to succeed and should have some error handling built into the application.

[2020-06-29 20:44] kitsonk commented on #6473
Makes sense... I will add it to the no_check PR.

[2020-06-29 20:55] SirJosh3917 commented on #6554
Ah, that makes more sense - I was using oak to handle requests, and I'll report this to them instead since they're the ones handling the flushing. Thank you and sorry for the misunderstanding!

[2020-06-29 20:55] #6554 closed

[2020-06-29 22:01] jsejcksn commented on #6553
@ry Nope

I prepared a test for anyone who wants to explore this:

`comma.test.ts`:
[code]

Results:
[code]

[2020-06-30 00:43] wongjiahau opened #6572 "Assert error message not very helpful sometimes"
## Steps to reproduce:
1. Create a file named `test.ts`
[code]
2. Run the test:
[code]

## Expected result
Expected the error message to tell me precisely which part is different, in this case `.x.y.z`. For example in Jest:
![image](https://user-images.githubusercontent.com/23183656/86071621-4ef75b00-bab2-11ea-89ab-cca05f3443d9.png)

## Actual result
The error message just tells me the whole value

[2020-06-30 01:21] #6550 closed

[2020-06-30 02:44] nayeemrmn commented on #6572
@wongjiahau This only happens when the object is small enough to fit on one line. It might be inherently fine / natural to do that in this case. But it can be fixed by adding an option to `Deno.inspect()` which always prints objects over multiple lines (if it doesn't already have one).

[2020-06-30 02:49] wongjiahau commented on #6572
@nayeemrmn Printing multiple line might help, but not when the object is large, which is quite common especially when testing responses from 3rd party APIs.

[2020-06-30 02:50] keelii opened #6574 "Deno install broken when no filename"
Does `deno install` command should give a TS filename?

![1](https://user-images.githubusercontent.com/458894/86077538-b7e4d000-babe-11ea-80ed-76a923be8fa3.png)

[2020-06-30 02:51] prettyboyweiwei opened #6575 "Use setTimeout causes an error"
I have a test.ts file:

[code]

Run `deno test.ts` in the terminal, I got these:

[code]

Is this a bug

[2020-06-30 02:53] wongjiahau commented on #6572
@nayeemrmn You're right. Sorry for the misinformation.

[2020-06-30 03:00] wongjiahau commented on #6572
It's actually still a problem for objects with short keys.

[2020-06-30 03:01] timonson commented on #6507
@vertexinfobase maybe this helps: https://github.com/timonson/djwt

[2020-06-30 03:20] wongjiahau commented on #6572
Not just that actually, the error message is kinda messed up when the object keys are in different order.

[2020-06-30 03:20] nayeemrmn commented on #6572
Yes, like I said. Small-stringed objects are printed to one line in `console.log()`/`Deno.inspect()`, and this logic is used by the formatter in `std/testing/asserts`.

Try this:
[code]
[code]

Again, I think this is fine (though perhaps the limit should be smaller). But if you want, you can fix this the way I described above with a `Deno.inspect()` option to always wrap lines and using that optio

[2020-06-30 03:21] wongjiahau commented on #6572
@nayeemrmn Thanks I will look into it.

[2020-06-30 03:28] nayeemrmn commented on #6572
Sorry this comment hadn't loaded for me before I wrote my last response. Yeah, this is an issue that had occurred to me once but I forgot... it's bound to mess up the diff message sometimes. Please edit the issue description.

The fix is similar, though: add an option to `Deno.inspect()` which will make it sort keys alphabetically and use that in `format()`.

[2020-06-30 03:46] sholladay commented on #6525
Yeah, this frustrated me, too. I ended up using `as any` in Pogo to work around it.

https://github.com/sholladay/pogo/blob/2af2f39e0294ff186156a810247b353a10d4962d/lib/request.ts#L32

[2020-06-30 03:52] richidev58 commented on #5846
upgrade to mongo@v0.8.0 to solve your problem.

[2020-06-30 03:55] satyarohith commented on #6529
@ry updated! :)

[2020-06-30 03:58] Desibabe commented on #6575
Try Deno run test.ts

Here is the result using the same code:
c:\deno\deno run test.ts
[Function: setTimeout]
123

[2020-06-30 04:02] richidev58 commented on #5846
upgrade to mongo@v0.8.0 to solve your problem.

[2020-06-30 04:04] kitsonk commented on #6575
What version of Deno are you using?

[2020-06-30 04:15] Desibabe commented on #6575
deno --version
deno 1.1.2
v8 8.5.216
typescript 3.9.2

-----Original Message-----
From: "Kitson Kelly" [notifications@github.com]
Date: 06/29/2020 11:06 PM
To: "denoland/deno" <deno@noreply.github.com>
CC: "Desibabe" <rtauro@excite.com>, "Comment" <comment@noreply.github.com>
Subject: Re: [denoland/deno] Use setTimeout causes an error (#6575)

Note: Original message sent as attachment

[2020-06-30 04:17] Desibabe commented on #6575
deno --version
deno 1.1.2
v8 8.5.216
typescript 3.9.2

[2020-06-30 04:34] kitsonk commented on #6575
No, I meant the person with the problem @prettyboyweiwei

[2020-06-30 04:42] kitsonk opened #6578 "Improve CI Performance around changes to `std`."
Feels like when we are doing changes in `std` that a whole build of Deno plus the full test suite of Deno is unnecessary for validating a change to `std` and we should consider some mechanism to only test `std` potentially against a prebuilt version of Deno.

[2020-06-30 04:46] nayeemrmn commented on #6578
Duplicate of #5186.

[2020-06-30 04:48] kitsonk commented on #6574
You must always be explicit with Deno.  It doesn't "magically" add names to URLs.

[2020-06-30 04:48] #6578 closed

[2020-06-30 05:07] nayeemrmn commented on #6574
@kitsonk It does, see #5004.

@keelii It has nothing to do with `deno install`, the first URL is failing to compile because it is a TS module without a `.ts`  extension (or content type `application/x-typescript`), and Deno assumes it is JS. This is expected behaviour.

[2020-06-30 05:28] prettyboyweiwei commented on #6575
@kitsonk
wei$ deno version
deno: 0.12.0
v8: 7.7.200
typescript: 3.5.1

[2020-06-30 05:29] prettyboyweiwei commented on #6575
I installed it yesterday
`brew install deno`

[2020-06-30 05:30] ahrasel commented on #2072
but it's required always. when I open the terminal need to run this again. is there any permanent solution?

[2020-06-30 05:39] ahrasel commented on #2072
it's working after adding **export PATH="/home/username/.deno/bin:$PATH"** this on .bashrc

[2020-06-30 05:40] zhitomir-oreshenski-mm commented on #2072
@ahrasel you have to only set the path in 'bashrc' file in order the terminal to recognize deno command. From there on deno executable can be run.

[2020-06-30 05:49] jsejcksn commented on #6553
On topic: Has the idea been discussed to allow for pattern matching in the `--allow-*` arg values?

[2020-06-30 05:49] keelii commented on #6574
@nayeemrmn OK，but in this case, The response content of the two different url is exactly the same, Then i thougth: with same input should deno response the same output?

[2020-06-30 05:50] kitsonk commented on #6575
There have been about 40+ releases of Deno since v0.12.0.

Please install the latest release of Deno: https://deno.land/#installation

[2020-06-30 05:53] nayeemrmn commented on #6574
It's not the same input. The URL you give is part of the input.

[2020-06-30 05:54] #6574 closed

[2020-06-30 08:45] prettyboyweiwei commented on #6575
Thank you, I get the correct result after upgrading to 1.1.2.
And the cause of the error is Homebrew installed an earlier version

[2020-06-30 08:45] #6575 closed

[2020-06-30 09:02] jacobgc opened #6579 "`deno upgrade` doesn't support --cert flag"
Being behind a corporate firewall with https snooping, all requests are signed with a cert stored in the OS cert store which from looking at many issues, deno currently doesn't support.

`deno run` supports the `--cert` flag which allows me to load a custom pem file with these certificates.

`deno upgrade` does not support the `--cert` flag which causes the upgrade script to fail with the followin

[2020-06-30 11:02] hazae41 commented on #4071
For people wanting zlib-like functions, I made a WebAssembly module: https://deno.land/x/denoflate

As WebAssembly functions are preferable over native Rust ops, I'm closing this issue

[2020-06-30 11:02] hazae41 commented on #5396
Maybe we could add bindings to https://deno.land/x/denoflate or something similar in WebAssembly

[2020-06-30 11:10] #6473 closed

[2020-06-30 11:24] Bidek56 commented on #6057
When running
`deno test -A -c tsconfig.json --unstable .\std\fs\expand_glob_test.ts` with missing **tsconfig.json** file
`error: The system cannot find the file specified. (os error 2)` appears, it would be nice to know which file is missing.

[2020-06-30 11:26] Bidek56 commented on #6564
@kitsonk Would you know how to fix this error? Thx

[2020-06-30 13:08] #6525 closed

[2020-06-30 13:54] bartlomieju commented on #6564
`ImportMeta` is defined in [`lib.deno.shared_globals.d.ts`](https://github.com/denoland/deno/blob/master/cli/js/lib.deno.shared_globals.d.ts) - if you add `deno.shared_globals` to `lib` in your config it should work as expected.

[2020-06-30 13:58] linde12 commented on #6408
I haven't had the time to look at this yet, but i imagine we want to use the `percent_encoding` crate (used by url and developed by the same people, its in the same source repo) to decode the name (and path on windows? haven't looked at this yet)

[2020-06-30 14:14] Bidek56 commented on #6564
Adding:

[code]
works
but when I add:
[code]

all sorts of conflict errors appear.
[code]

and I believe I need dom in order to get React working.

[2020-06-30 16:43] SRNV commented on #6423
@bartlomieju any news on this one ? thanks

[2020-06-30 17:04] robpalme opened #6584 "Enhancing the Contributor License Agreement (CLA)"
Hello friends,

I, and potentially a few other folk at Bloomberg, would like to contribute to Deno.  The only hold up is the [Deno Individual Contributor License Agreement](https://cla-assistant.io/denoland/deno) (CLA).

There are two issues with the CLA that mean our Open Source Program Office (OSPO) is unwilling to let employees sign it.  Other companies are likely to have similar blockers, so h

[2020-06-30 18:19] harrysolovay opened #6585 "Feature Request: Function Serialization"
This has long been missing from JS/TS environments: the ability to easily serialize and reify a function, along with its contextual dependencies. I see this being useful to enable colocation of code intended for execution in different environments. This will be useful to the creation of experiences that blend build time, server side, and frontend code.

Take the NextJS 9.3 experience, for instance

[2020-06-30 18:28] bit-work opened #6586 "can not visit in china : https://deno.land/std/http/server.ts"
can not run any program, how can i deploy std myself ?
[code]

[2020-06-30 18:42] ry commented on #6584
Hi @robpalme, thanks for relaying the explicit requirements you have. I've been meaning to update the CLA for a while - I'll get on that this week.

[2020-06-30 20:45] kitsonk commented on #6584
🎉 🎉  Really looking forward to having contributions from Bloomberg!  Have lots of respect what you folks have Bloomberg have been doing in the wider community!

[2020-06-30 20:52] kitsonk commented on #6564
Yeah, shared_globals is likely going to be a mess... an easier thing to do is in you main module and don't import `deno.shared_globals` in your lib.

[code]

[2020-06-30 21:27] Bidek56 commented on #6564
[code]
works on my code sample but **import.meta.url** is used everywhere in the code base, so this can not be a global solution.

[2020-06-30 21:29] FredKSchott commented on #6448
If  you can share an example of what errors you were seeing, or code that was broken, I'd love to see it! I can't reproduce when I run that import statement in Deno, both the package code and its types seem to load fine.

[2020-06-30 21:55] Bidek56 commented on #6448
I just posted a sample React [project](https://github.com/Bidek56/deno-material)
I am seeing these errors when I run: `deno run --allow-net --allow-read server.tsx`

error: TS2304 [ERROR]: Cannot find name 'Comment'.
export type InsertionPoint = string | HTMLElement | Comment
[code]
    at https://cdn.pika.dev/-/jss@v10.1.1-H35eD3Fwv3D86TSaz8bf/dist=es2019,mode=types/src/index.d.ts:108:38

TS2304

[2020-06-30 22:35] FredKSchott commented on #6448
Make sure that you've added the "dom" lib to your project tsconfig. I believe everything above is included in that.

See: https://github.com/denoland/deno/issues/3799

[2020-06-30 22:46] kitsonk commented on #6564
It is a global solution, a module that contains it is always part of the program, that is why I suggested your main module, or the module that loads the library, or whatever...  This is core functionality of TypeScript: https://www.typescriptlang.org/docs/handbook/declaration-merging.html#global-augmentation

[2020-06-30 22:48] Bidek56 commented on #6448
I would like to do: `deno run --allow-net --allow-read -c .\tsconfig.json server.tsx`
unfortunately all kinds of other errors appear. :(

[2020-06-30 22:55] Bidek56 commented on #6564
Would you know why [globals.ts](https://github.com/denoland/deno/blob/master/cli/js/globals.ts) is not imported by default since it's part of Deno cli/js?

[2020-06-30 22:56] marcosc90 commented on #6586
You can use import it from github directly: `https://raw.githubusercontent.com/denoland/deno/std/0.59.0/std/http/server.ts`

[2020-06-30 22:59] bit-work commented on #6586
raw subdomain banned maybe 5years ago，can not download

[2020-06-30 23:10] kitsonk commented on #6564
That code is the internals of Deno.  It does get "imported" in the sense that is how all the runtime APIs are exposed within the Deno runtime.  What gets exposed is described in [lib.deno.shared_globals](https://github.com/denoland/deno/blob/master/cli/js/lib.deno.shared_globals.d.ts).  `globals.ts` imports it so we can make sure we align the APIs properly to what our runtime contract is.  The pro

[2020-06-30 23:37] Bidek56 commented on #6564
This make sense, thanks for your help!!

[2020-06-30 23:37] #6564 closed

[2020-06-30 23:38] Bidek56 commented on #6586
Use a VPN like everyone else does in China?

[2020-06-30 23:59] bit-work commented on #6586
not ok，vpn not good at commandline，and that is impossible to deploy deno program to servers

[2020-07-01 00:04] ry commented on #6586
We are working on a fix...

[2020-07-01 00:08] FredKSchott commented on #6448
See my last comment, you need to add "dom" to your `tsconfig.json`

[2020-07-01 00:30] bit-work commented on #6586
@ry

thank you , China has 5 million programmers, nearly 2 million of them use nodejs and are ready to switch to deno, this really a huge problem

[2020-07-01 00:59] howtologinquickwiththirtyninecharacters commented on #5498
I tried this (Windows 8.1 too), it works for PowerShell when ran as a stand alone program. When ran as embedded in VS Code all the escape sequences keep being displayed as text (just like in the original report). I tried configuring VS Code to launch an external terminal instead of an embedded one and also tried changing the render type of the terminal (auto, canvas, dom, experimentalWebgl) but no

[2020-07-01 03:41] sholladay commented on #6508
@Bidek56 The problem you are experiencing in your last example is due to the fact that that TypeScript's `dom` lib only accepts `string` for the first argument:
https://github.com/microsoft/TypeScript/blob/df5981319fc9686dec63305142f7a549e2e6b888/lib/lib.dom.d.ts#L15952

Deno's type definition allows `string | URL` for the first argument (and that's what `fromFileUrl()` passes to it):
https://gith

[2020-07-01 05:19] Shangbaize-Daoye commented on #6586
Well in china it depends.  Diffenrent areas or different ISPs seem to have different implications for the direct accessiblity of deno.land and githubusercontent.com. So some developers around in China don‘t have such a problem. You'd probably use VPN to currently deal with it.

In cmd, it's a good idea to apply the proxy setting to only deno command, **using an alias like denop short for "HTTP_PRO

[2020-07-01 11:03] Jack-Works opened #6593 "Deno executable on Windows should have an icon"
<img src="https://deno.land/logo.svg" width=128 height=128 />

🎉

[2020-07-01 11:26] Bidek56 commented on #6508
I have added a https://github.com/denoland/deno/pull/6582 for it, unfortunately this is a known [issue](https://github.com/denoland/deno/issues/5365) that is being debated ATM.

[2020-07-01 11:28] #6448 closed

[2020-07-01 12:29] adrai opened #6595 "Deno v1.1.x fails with TypeScript error in deno test"
[This project](https://github.com/i18next/i18next-http-backend) is not written in TypeScript and has no tsconfig.json file.

Running tests with deno v1.x.x works: https://github.com/i18next/i18next-http-backend/runs/780086740?check_suite_focus=true
![image](https://user-images.githubusercontent.com/1086194/86243674-12595b80-bba7-11ea-8df9-52490eb87ddb.png)

Running tests with deno v1.1.x fails: ht

[2020-07-01 14:48] Ciantic commented on #4222
I think the best would be to make `Deno.openPlugin` take in URL, and allow Deno to cache the DLL/native library just like other imports.

Current behavior of `Deno.openPlugin` can lead to difficulties in future. Because if the `Deno.openPlugin` takes in relative paths, the plugin authors may start to think that relying on `cwd` is a good idea, which is not with the Deno.

Right now there is some u

[2020-07-01 16:20] avudaiappan-cse opened #6596 "Name conflict in running the file "deno.js" in windows 10"
I just started using deno for the first time. I tried with the name deno.js and then I caught microsoft runtime error. I wrap around my head for solution and I got nothing. Then I renamed my deno.js to some other name with .js . I  got my results. Kindly look at it. If I wrong, close my issue or else explain why it happens and solve it.

[2020-07-01 17:12] hiteshjasani opened #6597 "Need improved TLS error messages"
Versions: deno 1.1.0, 1.1.2

I have a client connecting to a hosted TLS server (it's a hosted postgres instance but that shouldn't matter).  A self signed CA certificate is used to validate the server's cert chain.  I can connect to the public net interface of the server fine.  However, the connection fails talking to the same server over a private network connection.

[code]

* The server cert is

[2020-07-01 18:05] hiteshjasani commented on #6597
Also, openssl verifies the server cert from both the public and private interfaces.

[code]

[2020-07-01 19:45] MarkTiedemann commented on #6593
I've previously used [electron/rcedit](https://github.com/electron/rcedit) to do this. They provide a binary release [here](https://github.com/electron/rcedit/releases/tag/v1.1.1). Setting the icon is quite simple: `rcedit deno.exe --set-icon deno.ico`.

Here's an example of me setting the favicon.ico as the icon of deno.exe:

![Capture](https://user-images.githubusercontent.com/7062160/86284962-1

[2020-07-01 21:12] Zacharys-Hackery opened #6600 "Backside Deno Bundle"
When a user decides to bundle a script written using Deno's modules or runtime APIs, is there anything that remains usable for the front end?

For example, reading a file without an `<input type='file' />` element when someone is using a website. Obviously before compilation, there is `Deno.readFileSync` and such to get the job done; but will it work when embedded in an `.html` file? The answer ma

[2020-07-01 21:34] implicitdef commented on #6596
I can't reproduce it

[code]

[code]

[2020-07-01 21:50] timreichen opened #6601 "Suggestion: std datetime extend and cleanup"
# Extend
Since datetime has a function for ```dayOfYear``` I would suggest to add the following functions:
```weekOfMonth``` (values between 1-5)
```weekOfYear ``` (values between 1-53)

# Cleanup
Is it necessary to have ```currentDayOfYear``` as a sugar function since it just calls ```dayOfYear(new Date())``` or could it be removed?

[2020-07-01 23:01] dsherret commented on #4307
I "finished" writing a markdown formatter. Over the next week I'm going to try it out on deno's codebase and probably spend some time fixing more bugs.

![image](https://user-images.githubusercontent.com/1609021/86298855-cf11e380-bbcc-11ea-9920-3aac51e0c93c.png)

[2020-07-01 23:04] timreichen commented on #6090
You are right, that might be overkill.
I implemented a basic symbols set according to [ICU](http://userguide.icu-project.org/formatparse/datetime) while trying to make it compatible with ```Intl.DateTimeFormat``` and created a
[pull request](https://github.com/denoland/deno/pull/6602). The symbols can be extended if needed. Feel free to review it.

[2020-07-01 23:19] kitsonk commented on #6600
I think what you are looking for is: https://github.com/denoland/deno/pull/5755

[2020-07-01 23:34] #6600 closed

[2020-07-02 01:43] avudaiappan-cse commented on #6596
It runs well in mac os and linux. It shows conflict in windows. When I tried in windows Its showing microsoft runtime error. Console is not defined.

[2020-07-02 03:52] Shangbaize-Daoye commented on #6596
Cannot reproduce it on Windows 10 2004. Please provide more details so that others might reproduce it.

[2020-07-02 04:15] avudaiappan-cse commented on #6596
![denoerror](https://user-images.githubusercontent.com/42179348/86315631-446eca00-bc48-11ea-92c9-88c2f5579350.png)

I also tried with the **command prompt**. I got the same error.

When I renamed It to den.js or some other name It works perfect. I also attach that below.

![image](https://user-images.githubusercontent.com/42179348/86315750-944d9100-bc48-11ea-9d31-5e4aa10a633c.png)

[2020-07-02 05:13] kitsonk commented on #6596
Looks like you Windows configuration is setup to execute JavaScript files from the command line, so when you type a command, Windows looks in your path for any files that end in `.js` (and likely other scripts files) and tries to execute them.  I suspect if, after you renamed it, and then typed `den` on the command line, you would get the same error you are getting now.

If you haven't done this i

[2020-07-02 05:57] avudaiappan-cse commented on #6596
After renaming it to den or something except deno.js. It works well. I simply typed den.js. It showing

**'den.js' is not recognized as an internal or external command, operable program or batch file.**

No program try to execute js file in my system. There may be some conflict in naming.

[2020-07-02 06:01] kitsonk commented on #6596
`den` not `den.js`

[2020-07-02 06:04] avudaiappan-cse commented on #6596
Yes your are correct. When I typing den
I got the same error.
**microsoft runtime error**
Why this happen? How can I get rid of this?

[2020-07-02 06:05] Shangbaize-Daoye commented on #6596
kitsonk's right. It is likely that your problem is specifically about the Windows path and not the deno program.

**Below is the same problem others who used node.js encountered:**
https://osric.com/chris/accidental-developer/2016/06/node-js-error-console-is-undefined/
**In this page I recommend you view Chris Herdt's comments.** to solve your problem.

---part of the comment---
"When you run a co

[2020-07-02 06:11] avudaiappan-cse commented on #6596
I'm closing this issue. Since its an issue in the path of window executing js file.

[2020-07-02 06:11] #6596 closed

[2020-07-02 08:34] Yamboy1 opened #6604 "Issue with Deno.setRaw and subprocesses"
It seems like after using Deno.setRaw, even after setting it to false, and then doing the same thing in a subprocess, deno panics. I created an example script here: https://gist.github.com/Yamboy1/c9cb9e215d3a3433193044d96a62f62a.

[code]

[2020-07-02 08:45] redradist opened #6605 "[Issue] Seems like issue with import-map for https://deno.land/x/*"
I have tested the following code:
[code]
but if I add this to import-map:
[code]
[code]
It shows the error:
[code]

[2020-07-02 08:45] jacobgc commented on #6531
Started working on the fix provided by @Spoonbender

[2020-07-02 08:50] redradist opened #6607 "iOS support"
It would be nice if `Deno` will support `iOS` embedding

[2020-07-02 09:03] timreichen opened #6608 "deno lint succeeds, build still fails"
I successfully executed ```deno lint``` for a fork, then created this [pull request](https://github.com/denoland/deno/pull/6602). The build failed during ```lint.py```.
[code]
I guess both linters have different settings or plugins loaded. Is this intential?

[2020-07-02 09:38] jacobgc commented on #6608
I'm fairly sure `deno lint` is just meant for basic typescript linting of applications you want to run with deno. in your deno source folder run tools/lint.py and you can see the errors before commiting.

[2020-07-02 09:49] jacobgc commented on #6529
@satyarohith is this what you're looking for? https://deno.land/std/fs

[2020-07-02 09:51] jacobgc commented on #6502
Are both `HTTP_PROXY` and `HTTPS_PROXY` set?

[2020-07-02 10:00] bartlomieju commented on #6608
@timreichen `deno lint` is not used to lint `deno` codebase at the moment. As suggested by @jacobgc make sure to run `tools/lint.py` and fix any errors produced.

[2020-07-02 10:31] jacobgc commented on #6427
Looking at the [rustls](https://github.com/ctz/rustls) library page, it looks to only support AESGCM not AES.

The europa.eu site only supports weak ciphers that rustls doesn't support.
![image](https://user-images.githubusercontent.com/2946071/86348261-56a43480-bc57-11ea-9db5-5203671af3c3.png)

Not really sure where to go from here / suggest. @ry got any ideas?

[2020-07-02 10:34] kitsonk commented on #6605
You need to use a trailing slash for a "package" as per the specification: https://github.com/WICG/import-maps#packages-via-trailing-slashes

[2020-07-02 10:37] jacobgc commented on #6579
Think I'm going to have a look at this one. Should be able to use the functionality from the `deno run` command I would hope.

[2020-07-02 10:48] enjikaka commented on #6427
It's quite a showstopper for using Deno if you can't consume third-party APIs... Will be bad for adoption.

Is rustls planning support? Otherwise I guess an alternative needs to be evaluated.

[2020-07-02 11:15] jacobgc commented on #6427
I agree completely. In an ideal world though these sites would upgrade their SSL certs to more modern ciphers. However this isn't going to happen. I dont think rustls has any plans to add in AES without GCM however I'll raise an issue and see what I get back.

[2020-07-02 11:56] redradist commented on #6605
@kitsonk Thanks !!

[2020-07-02 11:56] #6605 closed

[2020-07-02 13:50] ry commented on #6595
Hmm this is unfortunate. Sorry you hit it. Ideally we could get some example of what your code is doing into the test suite - because clearly something wasn't covered.

I'm guessing this is caused by some of the ongoing refactors to the module graph maybe #6000 ... @bartlomieju maybe has a better idea?

[2020-07-02 13:53] adrai commented on #6595
here you see my tests: https://github.com/i18next/i18next-http-backend/tree/master/test/deno
I'm executing them with: `deno test test/deno/*.js --allow-net`

[2020-07-02 14:16] #6531 closed

[2020-07-02 14:44] riccijs opened #6610 "Apache Tinkerpop Support"
Hi - I'm attempting to architect and build a new framework using Deno runtime, but in order to meet all requirements, I'm needing to connect to Cosmos Db using Gremlin. I have two questions related to this:

1. Is anyone currently working on a Gremlin driver for Deno or does one exist that I'm unaware of?
2. If no-one is working on this, how would I go about submitting a driver I developed to be a

[2020-07-02 14:45] zicklag commented on #6502
Yes they are in the format:

**.bashrc:**
[code]

[2020-07-02 15:28] bartlomieju commented on #6595
`deno test` creates temporary file called `.deno.test.ts` - I guess something goes wrong when that file is rendered - `.cjs` files should be treated like `.js` file and so they shouldn't be type checked. I'll have to take a deeper look into it. CC @kitsonk - this issue is related to supporting `.buildinfo` file for tests.

[2020-07-02 15:36] fvkramer commented on #3508
Hey, I'm not. I assumed the person who posted after me was taking it. It doesn't look like anyone is working on it

[2020-07-02 15:54] #4790 closed

[2020-07-02 15:54] #5231 closed

[2020-07-02 15:54] #6108 closed

[2020-07-02 15:54] #6183 closed

[2020-07-02 18:49] lucacasonato commented on #6610
Hi :wave:!

Questions like these should be asked on Discord: https://discord.gg/deno. The issue tracker is for bugs and feature requests directly related to Deno, not questions.

[2020-07-02 18:50] jacobgc commented on #6427
Got a reply at https://github.com/ctz/rustls/issues/381 The host runs an old version of IIS and thus has old certificates that just aren't supported. Not sure what else to suggest. They need to move with the times. For now, I'd suggest keeping with the proxy setup you've got going.

[2020-07-02 18:54] jacobgc commented on #6389
I'll have a look at this

[2020-07-02 18:55] lucacasonato commented on #6607
As far as I am aware Apple does not allow any apps with JavaScript engines other than JavaScriptCore in the App Store if they do JIT - which V8 does. So this could probably be technically done, but you would likely not be able to distribute an app built with Deno through the Apple App Store. That would make this somewhat pointless.

[2020-07-02 19:06] redradist commented on #6607
I forgot about it ... (

[2020-07-02 19:08] qballer opened #6612 "parsed deno info object"
Looking for a way to get a parsed `deno info` object in user.land. Is there a way to avoid implementing it?

[2020-07-02 19:19] yorkie commented on #6607
I remember that the v8 has jitless mode now.

[2020-07-02 19:31] hork71 commented on #6607
https://v8.dev/blog/jitless

[2020-07-02 19:34] qwerasd205 commented on #6607
Actually, the [App Store Review Guidelines](https://developer.apple.com/app-store/review/guidelines/) only specify the following

So as long as it's not a web browser it doesn't matter if it's running a JavaScript engine other than WebKit.

[2020-07-02 20:08] kitsonk commented on #6607
There are embeddable versions of Node.js for both Android and iOS.  That being said, they are probably best handled by a wider community project than Deno itself (just like they are for Node.js).

[2020-07-02 20:09] kitsonk commented on #6612
Duplicate of #2096

[2020-07-02 20:11] redradist commented on #6607
I think `deno` also very good for embedding in app due to `rust` which makes easier to port application to other platforms

[2020-07-02 21:04] bartlomieju commented on #6612
You might want to take a look at https://github.com/denoland/deno/pull/6372 which is slated for `v1.2.0` next week.

[2020-07-02 21:04] #6612 closed

[2020-07-02 22:02] aricart opened #6615 "signals not blocking always"
I would expect the following code to block until a signal happens - possibly there's something I am missing here.

[code]

[code]

While I understand the API is unstable, the curious thing is that if I launch processes and hook up readers, the awaiting is honored. If I launch the process with a null stderr, it doesn't - ie:
[code]

[2020-07-02 23:03] andreespirela opened #6616 "Error: Another accept task is ongoing :: JS Native classes making HTTP dispatcher fail."
**Note**: This is a really strange bug, so I would like to ask you for patience while reading it.

**[Details]**
First, I would like you to see this video because it will be hard to explain with only words:
[Click here to see video](https://drive.google.com/file/d/11Z7_4z1KMzwYc55qCp41zOev8zjx7Ko7/view?usp=sharing)
**I have attached this video in .ZIP format at the end of the issue if you do not f

[2020-07-03 07:26] timreichen commented on #6608
Thanks for your replies and suggestions. That was what I was looking for.

[2020-07-03 07:26] #6608 closed

[2020-07-03 07:58] caspervonb opened #6618 "Resolve dynamic imports of bare module specifiers at runtime"
Seems that bare module specifiers aren't resolved at runtime.

Example

[code]

Results in the following compile time error

[code]

This should be resolved at runtime, that's kind of the point of dynamic imports with top level await.

[2020-07-03 09:33] frank-dspeed commented on #6607
All this infos are correct about the jitless mode and it works also on IOS and Android i also want to add that the new v8 lite project will be merged soon into the --jitless mode flag https://v8.dev/blog/v8-lite so it will not only allow to pre alloc memory it will also save up to 35% memory traded for some performance so it will run even better on devices with small memory footprint.

[2020-07-03 09:38] frank-dspeed opened #6621 "Proposal: support for v8-lite add a v8 jitless build to be used with deno"
the new v8 lite project will be merged soon into the --jitless mode flag https://v8.dev/blog/v8-lite so it will not only allow to pre allocate memory it will also save up to 35% memory traded for some performance so it will run even better on devices with a small memory footprint

# Enables
- Running on IoT Devices more memory efficient
- IOS & Android Support
- Better for big Data and Memory base

[2020-07-03 09:49] kitsonk commented on #6621
This is more of a rusty_v8 thing than a Deno thing.  https://github.com/denoland/rusty_v8. Even if it made it to Deno it would first need to be in rusty_v8.

[2020-07-03 09:54] kitsonk commented on #6618
That isn't a runtime error, that is a TypeScript error.  You can't catch TypeScript errors.

[2020-07-03 10:01] timreichen opened #6622 "Suggestion: Better error log for format.py"
Is occurring in this [pull request](https://github.com/denoland/deno/pull/6619).
```format.py``` fails during check, I cannot figure out why. The error log doesn't really give any useful information.
[code]
Any suggestions?

[2020-07-03 10:09] lucacasonato commented on #6622
Because the files are not formatted. You should run `./tools/format.py`

[2020-07-03 11:00] FalseDev commented on #2295
You can install nvm and have any version of node working , I'm using it and had absolutely no problem

[2020-07-03 11:36] frank-dspeed commented on #6621
Oh you're correct but in general, as deno ships with v8, it can be open here as a reference till something is done in that direction.

[2020-07-03 11:58] bartlomieju commented on #6491
Marking as "good first issue". Here's a gist of what needs to be done to implement this feature:
- in `cli/flags.rs` add `lock_arg()` and `lock_write_arg()` to `bundle` command - see `cache_subcommand` for example
- add test in `cli/flags.rs` exercising these flags
- add integration test in `cli/tests/integration_tests.rs` that exercises failure to bundle when integrity check fails - see `lock_dyn

[2020-07-03 12:21] TETRA2000 commented on #6491
Hi! Can I take this?

[2020-07-03 12:23] bartlomieju commented on #6491
@TETRA2000 sure, go ahead

[2020-07-03 13:55] #6477 closed

[2020-07-03 14:57] MarkTiedemann commented on #6615
Signals currently don't block the event loop from exiting. And I think that's by design, but I don't know.

To work around this, you can, for example, add a `setTimeout(() => {}, 9999999)` to keep the event loop from exiting. In that case, you'll also want to add a call to `Deno.exit` or `clearTimeout` to your handler (if you want to exit based on the signal).

[2020-07-03 15:02] lukepighetti commented on #4207
Apologies if this has been discussed in the past, but Dart doesn't have top level code, instead it uses a `main()` function as an entry point, which can be marked as `async`. Would switching to this method be a viable solution?

[2020-07-03 16:59] adam-cyclones opened #6625 "Question on branding."
I am building a common.js to es_module transpiler. The premise is Deno for the browser because I have been building a lot of ES_module based frontends lately but its hard to find all the packages I need. I also think that Deno community could benefit from such a tool unless I am a bit behind the times on this one.

The project currently know as Unpack (wont post links, this is not a plug) is hopin

[2020-07-03 17:30] ry commented on #6625
Yes of course. Good luck with Didi.

[2020-07-03 17:30] #6625 closed

[2020-07-03 18:36] timreichen commented on #6622
Sorry to bother you again. This is my first bigger commit to Deno, I am not very familiar with the whole procedure and build chain yet and need some help.

So I ran ```./tools/format.py``` and it threw. Don't know exactly what is going on there.

[code]

[2020-07-03 18:38] Soremwar commented on #6622
@timreichen Are you using python 3 or python 2

Those tools require python 2 to work correctly if I'm not wrong

Don't worry, this will get way less of a pain once the official linter and formatter are implemented internally :P

[2020-07-03 18:42] timreichen commented on #6622
Im using the MacOS system default which is ```Python 2.7.16```.

Thats great to hear!:)

[2020-07-03 18:45] frantisekhanzlikbl commented on #6430
The same happens when the file does have an extension, but is invoked through a symlink.

[2020-07-03 18:51] Soremwar commented on #6622
@timonson So you ran `python --version` and that was the output? Weird

Try running `python ./tools/format.py`

[2020-07-03 18:56] aricart commented on #6615
Wouldn't the iterator above block? Also - Deno.signal() on the doc says it is an iterator and promise like...

[2020-07-03 18:58] timreichen commented on #6622
Yes
[code]

getting exactly the same result.
[code]

[2020-07-03 19:01] Soremwar commented on #6622
Your github branch is up to date with your local changes? Imma download it and test it in my pc and see if I can figure it out

[2020-07-03 19:05] timreichen commented on #6622
Should be I created the fork earlier today.

[2020-07-03 19:07] lucacasonato commented on #6622
Did you clone the sub modules?

[2020-07-03 19:12] timreichen commented on #6622
I did clone ```deno_third_party``` since it is is referenced in the main ```deno``` repo. Did I miss any?

[2020-07-03 19:50] ry commented on #6615
Signals don't block by design (actually it took a lot of extra effort to make this happen). We haven't actually put a lot of time into this signals API beyond the initial feature patch (hence unstable). It's interesting to hear that you want the default behavior. I feel like there are arguments to be made in either direction...

cc @kt3k

[2020-07-03 19:56] caspervonb commented on #6618
I know, like I said: "Seems that bare module specifiers **aren't resolved at runtime."** I'm saying that this should  probably be a runtime check, at-least in the case dynamic imports.

[2020-07-03 20:03] jacobgc commented on #6622
`deno_typescript/typescript` is another submodule

As per the deno manual, you should have cloned like this to ensure submodules are downloaded too `git clone --recurse-submodules https://github.com/denoland/deno.git
`

[2020-07-03 20:07] jacobgc commented on #6618
@caspervonb That's not the case, you aren't even getting to the runtime. Typescript cant compile your code...

[2020-07-03 20:14] caspervonb commented on #6618
I know, again, I'm saying we should change this into a runtime check.

[2020-07-03 20:23] timreichen commented on #6622
Tried with ```git clone --recurse-submodules https://github.com/denoland/deno.git```. Same error again.

[2020-07-03 20:31] jacobgc commented on #6622
Interesting, what happens if you call `rustfmt` manually?

[2020-07-03 20:37] kitsonk commented on #6618
I see. The title is confusing, along with the code example.

I suspect we should just swallow compile time dynamic import errors.

[2020-07-03 20:40] kitsonk commented on #6621
Deno ships with rusty_v8, which includes v8.

[2020-07-03 20:42] jacobgc commented on #6601
IMO `currentDayOfYear` shouldn't be a thing, as for `weekOfMonth` and `weekOfYear` they sound like decent ideas

[2020-07-03 20:55] Soremwar commented on #6622
Ok I think I found the problem
You haven't setup Rust in your computer have you?

[2020-07-03 21:07] Soremwar commented on #6622
I submitted a pull request to your repo with the linting and formatting done to save you the hassle. Just merge it and the changes should appear in the PR that is failing

[2020-07-03 21:16] teleclimber commented on #6447
I sympathize with @wysisoft here because I'm in the same boat, but I have come to the conclusion that the best way forward is to embed deno_core. I just hope it becomes easier to do this over time.

I can imagine two types of Deno users: people using it to run cli scripts on their machine while minimizing risk, and people using it as the sandbox component of an application platform, or to run plug

[2020-07-03 21:21] lucacasonato commented on #6621
You can already run Deno in V8 `jitless` mode: `deno run --v8-flags="--jitless"`. It is just painfully slow. V8 lite mode is also supported via `--v8-flags="--lite-mode"`. I am not sure everything works, but it is enough for initial testing.

[2020-07-03 22:03] lucacasonato commented on #6616
I just `git bisect`ed this, and this bug was introduced in the TS compiler refactor (ad6d2a7734aafb4a64837abc6abd1d1d0fb20017). cc @bartlomieju

Also this is a duplicate of #6301, but this the better issue as it has a more easily reproducible example and better environment information.

[2020-07-03 22:10] wysisoft commented on #6447
Oliver - can you explain a bit more how you are going to run untrusted code using deno? Are you going to create a new process and a new deno instance during an end-users web request? I'm thinking that, like a hotel, you'd make the room ready as soon as the last person moves out and let it sit, instead of making a room ready right before someone moves in? let me know if i'm way off.

I'm OK embeddi

[2020-07-04 02:00] andreespirela commented on #6616
I have made some progress investigating how to reproduce/ or what's causing the error. As the exception was showing something related to the HTTP dispatcher & an ongoing  task, I put the HTTP dispatcher inside a setTimeout of 1ms. that solved the problem ** for now **.

In this screenshot: https://prnt.sc/tbhv6k, you can see the changes I have made.
I turned the method `run` (responsible for start

[2020-07-04 06:55] frank-dspeed commented on #6621
@lucacasonato amazing how fast we as a community did ship this features :+1:

[2020-07-04 06:59] #6621 closed

[2020-07-04 06:59] frank-dspeed commented on #6607
You can already run Deno in V8 `jitless` mode: `deno run --v8-flags="--jitless"`. It is just painfully slow. V8 lite mode is also supported via `--v8-flags="--lite-mode"`. I am not sure everything works, but it is enough for initial testing.

_Originally posted by @lucacasonato in https://github.com/denoland/deno/issues/6621#issuecomment-653679807_

So it is time now for testing the New IOS Suppor

[2020-07-04 07:17] gjuoun opened #6628 "Failed to find files when import ts files in js (Ubuntu)"
OS: Ubuntu 20.04 LTS

Related issues:

Denjucks: https://github.com/denjucks/denjucks/issues/9
View-engine: https://github.com/deligenius/view-engine/issues/11

### Code1 **denjucks**:

[code]

### Code2 **view-engine**:

[code]

[code]
### Error

Both Code1 and Code2 have the same error:
[code]

### Observation

denjucks is written in JS, and view-engine includes a port version of ejs, which is a

[2020-07-04 10:16] RobDWaller commented on #6115
@shawnthehumble I added this functionality to my assertion library... https://github.com/RobDWaller/explicitly#assert-not-throws

Might help. 👍

[2020-07-04 13:22] timreichen commented on #6622
Thank you! I did have rust installed, though after reading this I did a clean reinstall and now it also worked! I guess I had some messed up path configuration.

Thank you for that, I merged your pull request, linting tests now succeed as expected. Sadly it fails on ``` Test release```, though on tests I think not connected to the changes. Needs more debugging...

[2020-07-04 15:13] bartlomieju commented on #6616
I added some logging to check where's the problem:
[code]

`call accept poll fn` is printed twice for single call to `Listener.accept()` - it seems it wasn't the case before. Nevertheless logic for `track_task()` seems funky to me - it's perfectly valid and expected that `accept` future can be called multiple times - `track_task()` should account for that.

CC @piscisaureus @ry

[2020-07-04 16:12] marcosc90 commented on #6615
I understand the logic behind not blocking and I agree with it, but I feel like we should provide a way to block that is less hacky than creating a `setInterval`. Maybe add a `.ref` method if signals are `.unref`'d by default, or the other way around if that's what the majority prefers

Similar to https://github.com/denoland/deno/issues/6141

[2020-07-04 17:06] bartlomieju commented on #1453
Done in https://github.com/denoland/deno/pull/6364

[2020-07-04 17:06] #1453 closed

[2020-07-04 17:22] ry commented on #6301
Let's move the discussion to https://github.com/denoland/deno/issues/6616 - there is a better description of what's happening.

[2020-07-04 17:22] #6301 closed

[2020-07-04 17:25] ry commented on #6616
It would be very helpful for debugging if we had a small repeatable snippet of code. For example, if someone made a copy of @andreespirela's code base, and slowly started removing bits of code that have nothing to do with repeating this bug, all the time ensuring that it still fails - this would get us 90% towards a fix to this bug.

[2020-07-04 17:30] andreespirela commented on #6616
@ry I will try to do this on my side, although it has been hard because as I mentioned, I don’t find the right context since everything seems to be aleatory even though it’s not. But I will do my best effort to put some small piece of code together and reproduce this. Hopefully, I will get something.

Cc @lucacasonato @bartlomieju

[2020-07-04 23:50] uki00a commented on #6604
I'll work on a fix.

[2020-07-05 03:00] 3bert opened #6634 "regression: serve listens on port 0 instead of port 80 if argument is string"
Introduced in #5263

If the `addr` argument supplied to `serve()` is a string, it is passed into the `URL` constructor for parsing. If the port parsed from `addr` matches the default port for the protocol passed to the `URL` constructor (or if the port is omitted altogether), the `URL`'s port is the empty string, which isn't properly handled by `_parseAddrFromStr`. i.e:
[code]
all return
[code]

T

[2020-07-05 03:01] 3bert commented on #6634
#6635

[2020-07-05 04:50] buttercubz opened #6637 "thread 'main' panicked at 'called after complete'."
When I try to do a deno test, the tests do not run and this message appears:

thread 'main' panicked at 'called after complete', D:\a\deno\deno/.cargo_home\registry\src\github.com-1ecc6299db9ec823\tokio-0.2.21\src\sync\oneshot.rs:523:13
note: run with `RUST_BACKTRACE=1` environment variable to display a backtrace

[2020-07-05 06:26] caspervonb commented on #6637
Please try provide a minimal example.

Also run with RUST_BACKTRACE=1 environment variable to display a backtrace and provide it here.

[2020-07-05 12:47] Shangbaize-Daoye opened #6641 "CLI: each input leads to a warning msg "WARN RS - rustyline:718 - cannot read initial cursor location""
OS is Ubuntu 20.04
[code]
**Each time when inputing something in CLI, I got a msg "WARN RS - rustyline:718 - cannot read initial cursor location".**
[code]
Source code for that warning:
[code]
Don't know how this comes up but I always get that warning on my own server. OS was upgraded from 18.04 to 20.04 online.
However, on another machine with newly installed Ubuntu 20.04, this problem nerver hap

[2020-07-05 14:56] kt3k commented on #6615
@aricart It blocks the execution of JavaScript below the await expression, but it doesn't block the program from "exiting" (as MarkTiedemann says).

For example, the following doesn't print `123`.

[code]

We chose this design because if it blocks the exiting from the program, we always need to call `.dispose()` method of the signal object and that doesn't seem convenient.

For example, a typical

[2020-07-05 16:27] aricart commented on #6615
The above API then is a bit misleading (something that can be corrected with the doc). If a client wishes to block the exit, it must do that itself, and delegate the signal to resolve the client program exit @kt3k thanks for the clarification.

[2020-07-05 16:27] #6615 closed

[2020-07-05 17:55] uki00a opened #6643 "`assertEquals` ignores the milliseconds part of the Date"
## Steps to reproduce

[code]

**Expected behavior**:

The above code should fail.

**Actual behavior**:

The above code doesn't fail.

## Environment
- deno v1.1.3
- std v0.60.0

[2020-07-05 17:55] uki00a commented on #6643
I'll work on a fix.

[2020-07-05 19:49] cheney-enterprises commented on #5376
@bartlomieju @EvanHahn I am working on child_process, and cleaning up process to be more compatible with child_process and the original node api. It may be awhile yet due to time constraints but hoping to get this up and running.

[2020-07-05 21:13] buttercubz commented on #6637
for example: when i try to run this `deno cache --lock=lock.json --lock-write anyfile.ts` i get the error.

this error only pass when i try run deno test, deno cache and deno install.
I have wsl with ubuntu 20.04 and I don't have that error so I think it only happens in windows, a colleague also has that problem #6557

**info:**
deno: 1.1.3
 v8:  8.5.216
typescript: 3.9.2

os: windows 10
version:

[2020-07-05 23:05] reggi commented on #3196
I've been thinking about this a lot as well.

Similar @brainkim's original post I too would like to have author a library as deno and be able to use it with node.

I've been working on a cli tool for downloading import-urls in node. My implementation isn't lined up with deno's and supports node modules and a whole bunch of other node-specific stuff, like supporting no extensions (a real catch-all)

[2020-07-05 23:28] marcosc90 opened #6649 "thread 'main' panicked on TextDecoder().decode()"
When decoding a big buffer Deno crashes.

[code]

[code]

The snippet returns `""` on Chrome

---
Deno version: `1.1.3`

[2020-07-06 01:10] kt3k commented on #6615
@aricart I sort of agree that current design is a bit misleading or confusing. My above comment explains how the current design "works", but I personally don't think it's the best among possible solutions. I'm going to create a new issue for it. Thank you for your feedbacks.

[2020-07-06 01:19] raptazure commented on #6586
If you are using shadowsocks, adding `export http_proxy=socks5://address:port` and `export https_proxy=socks5://address:port` to your shell config file will fix this.

[2020-07-06 02:21] #6643 closed

[2020-07-06 03:00] frankhale commented on #6277
The lodash-es package from unpkg seems to work as well. As of Deno 1.1.3 the Pika.dev package still has the same behavior as listed above.

working lodash-es CDN:

https://unpkg.com/lodash-es@4.17.15/lodash.js

[2020-07-06 03:09] #4049 closed

[2020-07-06 03:33] Caryyon commented on #3508
@caspervonb @fvkramer i have something started but i'm also having a kid like with in 2 weeks.... so if you get this done just toss it out there.

[2020-07-06 04:12] XGHeaven opened #6654 "How to set proxy for some fetch request not all"
I want to set proxy for some fetch request and others not. How to do that.

I know set `http_proxy`/`https_proxy` env which only proxy all fetch request.

[2020-07-06 05:38] kitsonk commented on #6649
Was there a real situation where you ran into this?

For various reasons, there is a limit to the buffer between Rust and the isolate.  In this case, I suspect it was exceeded.  We could check in advance the byte length before sending it in the op, but it would be difficult to split it across multiple ops, would need a lot of logic to deal with multi byte encoded chars to make sure you didn't cut

[2020-07-06 06:22] obnoxiousnerd commented on #6367
Maybe we should take a look on how NodeJS implement colors. Because NodeJS colors show up on every OS.

[2020-07-06 06:41] Impeekay commented on #5269
update on if this needs to change or not?

[2020-07-06 07:30] MasterJames opened #6656 "REPL: inaccessible variables if not declared properly"
Just playing with the repl I tried to set a variable but glitched it, and found the variable became permanently inaccessible if not initialized when declared properly.

So first we have a variable with a text string in it not really important.
Next I mistakenly noobed as I hoped to call TextEncoder without 'new', being in the REPL and all.

the target variable name becomes inaccessible and undelet

[2020-07-06 07:59] nayeemrmn commented on #6656
Minimal repro:
[code]

Node shares this bug. In the Chrome and Firefox consoles, the second command succeeds. (Note that Chrome devtools allows redeclaration of `let` variables so the third command will also succeed. For us it should just fail like it does.)

[2020-07-06 08:35] redradist opened #6657 "[Feature Request] More fine-grained permissions"
`Deno` is very cool, safe environment for modern applications ... but it has lack of fine-granied loсks

What I mean ? I mean that with `--allow-read` flag `Deno` environment allows to read data from file-systems for all scripts that was used as library ...

For example, if I have allowed `--allow-read` for my script in such case:
[code]
I have verified that this script have to access file-system

[2020-07-06 08:47] kt3k commented on #6657
We discussed this before. See #171 or #410, for example.

[2020-07-06 09:35] jacobgc commented on #6654
As far as I'm aware, the fetch api doesn't support setting a proxy on an individual request basis.

[2020-07-06 10:03] marcosc90 commented on #6649
A friend was trying to parse a large CSV (~600MB) using `Deno.readTextFile('./large.csv')` and got the error. We can all agree that a Reader should be used in this case, but it's not uncommon to see scripts that load everything into memory.

Throwing a better error until a more robust solution is in place I think it's a step in the right direction.

[2020-07-06 10:04] jacobgc commented on #6601
Going to have a look at implementing weekOfMonth and weekOfYear. Shouldn't take too long.

[2020-07-06 10:35] jacobgc opened #6658 "deno test diff confusing"
I'm not sure if its just me not reading the diff correctly, but from the screenshot below, I would quickly assume (by matching colours) that the `Actual` is the `- 2` and the `Expected` is the `+ 5`. However its the oposite way round? The 2 is the expected value. Am I just reading this wrong?

![image](https://user-images.githubusercontent.com/2946071/86584282-8ff0e300-bf7c-11ea-8f17-a16cdd2e22d9.

[2020-07-06 10:37] nayeemrmn commented on #6658
You have it right. How are you using the `assert()` function? It should be `assert(actual, expected)`.

[2020-07-06 10:47] jacobgc commented on #6658
Huh, just noticed that, turns out that some of the tests in std/datetime/test.ts are backwards... Serves me right for copy/pasting to save a bit of time. I'll swap them around while im working in that file.

Cheers

[2020-07-06 10:47] #6658 closed

[2020-07-06 12:16] Spoonbender commented on #2318
The more thought I give this issue, the more complex it seems.

The O/S lets the users create symlinks to wherever they want to, and there is no security risk in that - since the O/S always verifies actions against the ACL of the true target.
OTOH, Deno doesn't verify that ops are allowed on the true target. Instead, it verifies that ops are allowed on the "symbolic" target, and also attempts to e

[2020-07-06 12:44] Spoonbender commented on #5542
I think the first thing to do is fix the panic, so we'll get a graceful error handling behavior.

Next, consider how we'd like to address the issue, assuming Deno is supposed to support non-UTF8 files.
The core difficulty is that there is no guaranteed way of knowing which encoding a file uses.
Some non-mutually-exclusive approaches:
1. Let the caller specify the encoding of the file
2. If the fil

[2020-07-06 13:00] ry commented on #6367
For fun here's the moment @piscisaureus first got cross-platform terminal colors working in 2011
https://youtu.be/Prav2iZZtP4
This was in Node, but I believe we were the first to achieve it any system.

[2020-07-06 13:34] xReveres opened #6661 "I can not use md5 in worker"
Hi. I'm need to use md5 hash inside worker instance, but I'm getting error:
[code]
Steps to reproduce:
File: **test.ts**
[code]
File: **worker.ts**
[code]

[2020-07-06 14:03] timonson opened #6663 "Deno.bundle() should accept the compiler flag `importsNotUsedAsValues`"
This `tsc` compiler flag was implemented in TypeScript [3.8](https://www.typescriptlang.org/docs/handbook/release-notes/typescript-3-8.html). You can find the merged PR here: https://github.com/microsoft/TypeScript/pull/35200

This flag takes 3 different values:

- remove: this is today’s behavior of dropping these imports. It’s going to continue to be the default, and is a non-breaking change.
-

[2020-07-06 14:09] bartlomieju commented on #6663
Ref https://github.com/denoland/deno/pull/6456

CC @kitsonk

[2020-07-06 15:01] aricart commented on #6615
I think the main issue is that when getting rid of callbacks creates a different set of usage patterns that have more friction - From the Deno.signal side, it seems very reasonable to await the signal. From the side of std/signal, the iterator of just getting called and handling seems more in line with what you are explaining.  Perhaps both types of usages have value.

[2020-07-06 15:21] bartlomieju commented on #6616
We've discussed this issue offline and have a candidate for the root cause of the problem. I'll be working on a fix.

[2020-07-06 15:28] #6661 closed

[2020-07-06 15:49] jakajancar opened #6664 "httpServer.close() not working correctly with slow Reader responses"
This is the example from the website, with 2 modifications:

 1. `s.close()` is scheduled after 5 seconds
 2. The response body is a slow `Reader`

[code]

Assuming you make an HTTP request in the first 5s, the connection will be closed immediately after close is called, but the loop will "notice" this a decade later, when the buffer fills and a write fails.

I _think_ `Server` should be tracking

[2020-07-06 16:11] ry commented on #6637
Can't repeat on mac:
[code]

[2020-07-06 16:32] buttercubz commented on #6637
@ry I do not understand what you mean

[2020-07-06 16:38] sleipnir commented on #3326
Hello @tuddman , I understand that Deno is written over Rust but I think the question is about how I use gRPC in Deno, how do I write a gRPC client or server code in Deno? It's possible? Is there a library ready to use? If not, how to use the link you sent to provide a Javascript / Typescript api at the user level?

[2020-07-06 16:55] ry commented on #6657
See linked issues.

[2020-07-06 16:55] #6657 closed

[2020-07-06 17:36] Spoonbender commented on #6427
As long as Deno uses rustls as its TLS library exclusively, it inherits the constraints imposed by rustls. Rustls is quite opinionated about security.

An alternative would be to enable Deno to use another TLS crate, like native-tls (that uses schannel on Windows and OpenSSL on Linux), which supports a very wide range of ciphersuites and certificates and protocols - including those that have known

[2020-07-06 17:42] jacobgc commented on #6427
The connections are still secure, just not as secure as more modern cipher suites. I do like the idea of using a wider supported SSL library like native-tls. Not sure exactly if you could block specific cipher suites though.

[2020-07-06 17:48] Spoonbender commented on #5542
FYI, I tested this again on master and it no longer panics - now we just get a `error: invalid utf-8 sequence of 1 bytes from index 0`.
It does panic on 1.0.0 as @kesupile specified.
So, I guess it only boils down to:
1. adding support for non-utf8 files
2. adding a test to ensure non-regression (that we don't panic in a future version)

[2020-07-06 18:33] Spoonbender commented on #6427
@jacobgc the native-tls crate won't let us control the exact ciphersuites, but it does enable controlling the min and max TLS protocol version, trusted root certificate, and whether to accept or reject invalid certificates.

[2020-07-06 18:44] jacobgc commented on #6427
@Spoonbender Certainly a much better solution than what Deno currently has.

[2020-07-06 19:47] onweru commented on #6057
I was experiencing the same problem i.e `error: No such file or directory (os error 2)` while using `Deno.writeTextFileSync`. It turns out that somewhere in my file I failed to escape `/`.  replacing all instances of `/` solved my problem.

[2020-07-06 20:53] kitsonk commented on #6663
@bartlomieju this is different... It just needs to be added to the compiler APIs Compiler Options and converted to the right internal TypeScript type.

[2020-07-06 21:00] dsherret opened #6667 "Conditional expression not indented in this scenario"
[code]

Incorrectly formats as:

[code]

[2020-07-06 21:00] dsherret commented on #6667
Oops. Wrong repo. Sorry 😅

[2020-07-06 21:00] #6667 closed

[2020-07-06 21:02] Yamboy1 commented on #6667
I know you closed the issue, but can't you literally just do `target === ts.ScriptTarget.ES2016` without needing a conditiational? or is it just an example

[2020-07-06 21:04] dsherret commented on #6667
@Yamboy1 it's just an example. Full code internally in Deno is:

[code]

Moved this to https://github.com/dprint/dprint-plugin-typescript/issues/22

[2020-07-06 22:04] tranzystorek-io opened #6668 "Multiple versions of swc_ecma_ast crate when updating deno to 1.1.3 via cargo"
When updating deno to version 1.1.3 with cargo, the build of deno fails with errors such as:

[code]

[2020-07-06 22:26] #6604 closed

[2020-07-06 23:13] ry commented on #6668
I'm confused by this. I can repeat the error, `cargo install deno` fails. It is because there are two versions of swc_ecma_ast in the dependency tree.

I just don't understand why. When I do `git checkout v1.1.3` and I only see one version of swc_ecma_ast:
[code]

[2020-07-07 01:48] caspervonb opened #6672 "Remove JavaScript versions of std/hash"
Right now we're doubling up on a lot of hashing algorithms.

The WebAssembly implementation is a good first pass but if we're keeping single algorithm imports (e.g std/hash/sha1.ts) then we should probably generate WebAssembly backed classes for these as-well.

[2020-07-07 02:02] PaulThompson commented on #5249
I made a start on FileReader https://github.com/PaulThompson/deno/tree/feat-filereader

[2020-07-07 02:57] Colin6618 commented on #6498
@FractalHQ Thanks for your advice. I will look into the module.

[2020-07-07 05:13] kitsonk commented on #6672
That would be a breaking change, but it feels like one we should take, before it gets too late.

As far as single algorithm imports, it isn't necessary, in my opinion to preserve.  It was the nature of the way they were being built up versus intentional design.  Having a single API is better.

It maybe worth looking at the single API as a whole though...  In particular the `hash/mod.ts` doesn't ha

[2020-07-07 05:39] tranzystorek-io commented on #6668
Looking through `cargo install --verbose deno` logs shows that cargo builds `swc_ecma_ast` versions 0.22.0 and 0.23.0.

Digging deeper, the hash for version 0.23.0 is used in the deps of `dprint-plugin-typescript`. Here something strange happens: the version of dprint-plugin-typescript in cli/Cargo.toml is 0.19.5, while during install cargo picks 0.19.7 😕

[2020-07-07 07:25] Daniduran-dev opened #6674 "the herons review"
No issues found.
Clean code.

[2020-07-07 07:27] #6674 closed

[2020-07-07 07:41] wongjiahau opened #6675 "Import map not working with Worker"
## Steps to reproduce
1. Create the following files under the same directory:

**import_map.json**
[code]
**color.ts**
[code]
**main.ts**
[code]
2. Run this command:
[code]

## Expected output
[code]

## Actual output
[code]

## Environment
[code]

[2020-07-07 10:10] xiaoxiangmoe opened #6678 "Use TypeScript instead of JavaScript for internal Deno Code"
[code]

For detail:
[code]
Another way for write it is using [block](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Statements/block) in js.

See example:

[code]

* We can export URLSearchParams as both value and type.
* We can write type guard functions for internal type check. If the type signature written in impl is unknown, it will remind us that we need to perform type gua

[2020-07-07 11:05] #6491 closed

[2020-07-07 19:56] brandonkal commented on #5334
This doesn't appear to be related to postMessage
This also fails
[code]

[code]

[2020-07-07 20:04] brandonkal commented on #4867
I'd like to see an option to allow static imports inside a worker script without specifying allow-net or at least not giving that worker that permission.

[2020-07-07 20:22] kitsonk commented on #6678
Why is 20+ lines of code better than 1 line of code?

[2020-07-07 22:59] brandonkal opened #6683 "Allow-env whitelist"
Is there a reason why allow-env does not support a whitelist?

I like the idea of knowing explicitly what environment variables the program can access. Often a program should only be able to access a few variables such as `DEBUG`.

Example invocation
[code]

Of course the current alternative is something like this:

[code]

[2020-07-07 23:25] nayeemrmn commented on #6683
Duplicate of #3137.

[2020-07-07 23:33] brandonkal commented on #6683
Man. I searched and didn't see that one. I even commented on it.

[2020-07-07 23:38] #6461 closed

[2020-07-08 02:29] xiaoxiangmoe commented on #6678
@kitsonk I updated the example. It is 28 lines to 32 lines. The purpose of this demo is to remove `Object.defineProperty`.

The previous discussion is in https://docs.google.com/document/d/1_WvwHl7BXUPmoiSeD8G83JmS8ypsTPqed4Btkqkn_-4/edit

[2020-07-08 03:23] ry commented on #6683
I'm in favor of the feature. Closing because duplicate.

[2020-07-08 03:23] #6683 closed

[2020-07-08 05:52] brandonkal opened #6685 "--allow-net=:8080 broken"
If any code uses shorthand notation:
[code]
then any variant of
[code]
fails.

Unfortunately, a lot of libraries in x use this pattern which makes locking down permissions impossible without forking all those libraries.

[2020-07-08 06:53] kitsonk commented on #6678
I am aware of the previous discussion.

The point of the criticism was having to have arbitrary constructs to deal with type shadowing.  The suggestion does not eliminate the arbitrary constructs.  I would argue it makes it even more arbitrary.

[2020-07-08 07:06] kitsonk opened #6686 "Incremental and no check builds for deno bundle"
In order to improve the development experience of Deno itself, we should support both incremental and no check builds for the bundles.  In addition we should support `--no-check` for `deno bundle` as well.  In all of these cases we need to emit each module that makes up the bundles individually and then concatenate them inside Deno instead of relying on the TypeScript compiler to do it.  In additi

[2020-07-08 08:58] GideonMax commented on #3177
the server-side SDK seems to be dependent on Node, but the source code is in typescript and it uses import/export, it shouldn't be that hard to port it over to Deno, though it will probably take some time as it is quite a lot of code.

[2020-07-08 09:26] #5436 closed

[2020-07-08 10:03] obnoxiousnerd commented on #6367
@ry Care to mention how did you achieved colors in Node??

[2020-07-08 10:13] GideonMax commented on #4867
Maybe to set the worker to have no permissions you could set

[code]
or
[code]
it's a little more intuitive then

[code]

[2020-07-08 10:37] brandonkal commented on #4867
Adding an inheritPermissions doesn't seem necessary and adds confusion. Those properties would be exclusionary. I'd rather query permissions and destructure it into the Worker's permissions object.

[2020-07-08 11:17] linde12 commented on #6408
Adding `let stem = percent_encoding::percent_decode(&stem.as_bytes()).decode_utf8().ok()?.to_string();` to the `infer_name_from_url` function removes the percent encoding, but we still get an `error: Invalid executable name: hello world` because of the `EXEC_NAME_RE` regex - maybe its by design that executable names shouldn't be allowed to contain spaces?

[2020-07-08 11:26] jimmywarting commented on #4516
And we should use vanilla js + TSDoc instead everywhere so it can work in browsers also! I have Never been a fan over typescript and compilers but I support the intent with typing

[2020-07-08 11:49] timreichen commented on #3450
I would be in favor of having ```navigator.clipboard``` according to the [clipboard API specs](https://w3c.github.io/clipboard-apis).

[2020-07-08 12:23] denebu opened #6687 "Cannot produce bundled code for browsers using Deno.bundle()"
Thanks to make this awesome program. I like it!
Followed the issue #6516, I tried bundling some Deno scripts (which are importing React and ReactDOM from pikapkg) for browsers.

(Cited from #6516)

However it threw an error. My code is as follows:

[code]

The error is:

[code]

It did not throw any command line errors while I am trying to command `deno bundle --unstable -c ./tsconfig.json ./index

[2020-07-08 13:48] thisrashid opened #6688 "Deno.watchFs("/home/rashid/myproject") throwing error "Permission denied (os error 13)""
My below code is not working. I am just trying what was given in documentation.

[code]

![Screenshot from 2020-07-08 19-10-05](https://user-images.githubusercontent.com/1191631/86925609-b6ff0e80-c14e-11ea-8ed0-bf3b7879afaa.png)

I tried to debug it and found that `core_ts_1.core.dispatchByName(opName, argsUi8, ...zeroCopy);` returns error as shown below:

![Screenshot from 2020-07-08 19-14-48](ht

[2020-07-08 14:10] ebebbington commented on #6688
That's a OS level error and permission denied, so I assume your host isn't allowing that script to do what it needs to do. I've ran your code (on MacOS) and pointed it to a different directory and it works.

Maybe check the permissions of `/home/warlog/projects/tamasha-api`? I know it's your own user but something might be out of whack

Try create a new tmp dir and chmod it to 777 then point your

[2020-07-08 14:14] ry commented on #6685
Maybe this was introduced in 74c260517a40d9644960b01415824e1c6c646fde ?

I think this shouldn't be a terrible difficult or involved fix. I will mark as "Good First Issue".

[2020-07-08 14:23] thisrashid commented on #6688
I am trying to run `/home/warlog/projects/tamasha-api/index.ts`. My folder structure is as shown below:

![Screenshot from 2020-07-08 19-44-51](https://user-images.githubusercontent.com/1191631/86929613-a9985300-c153-11ea-9fef-cc8ed9238be4.png)

If I change the folder to any other folder of my repo, for example `/home/warlog/projects/tamasha-api/models`, it works. I also tried to watch some other

[2020-07-08 14:35] #6424 closed

[2020-07-08 14:40] thisrashid commented on #6688
Since you mentioned about PS I tried to run it root user. Since `deno`  is installed in my home folder I need to provide the complete path as below:

[code]
This is working. I want to understand what exactly changed in terms of permission?

My original issue was to use `denon` in my app. Now `denon` is working if I run it as root user, but it defeats the whole purpose of "secure by default".

[2020-07-08 14:52] GideonMax commented on #4867
to me having to specify "inherit" for every permission except the one I want to change seems harder then just setting inheritPermissions.

[2020-07-08 15:43] ry commented on #4516
Here is a good example of a pure JS module which does not currently work with `deno doc`
https://doc.deno.land/https/deno.land/x/rubico/rubico.js
https://deno.land/x/rubico/rubico.js
I think it makes sense to choose specific examples and work towards making those compatible.

Can anyone narrow the problem with rubico? What features are we missing to support that code?

[2020-07-08 15:45] ry commented on #3450
I'm also in favor of having `navigator.clipboard`. [Tho we need to consider the security carefully.](https://hackaday.com/2020/06/18/copy-and-paste-deemed-insecure/)

[2020-07-08 15:52] lucacasonato commented on #4516
@ry Here the cause is that we don't support the 'export { foo, bar };' syntax. We only support exporting at declaration at the moment (so 'export const foo = "abc";')

[2020-07-08 16:49] derekdreery commented on #3598
I think wasi is the way to go there - they already implement a lot (file descriptors, sockets, signals, args/env, preemptive yield hint - [see docs](https://docs.rs/wasi/0.10.0+wasi-snapshot-preview1/wasi/)) and if there are things missing, they probably should be in in some form so open a ticket.

[2020-07-08 18:54] #6557 closed

[2020-07-09 00:09] caspervonb commented on #6367
Can use the win32 console API; but since Windows is moving towards more unix style terminals I think it's fine to abandon legacy here.

Otherwise all formatting would have to go in cli.. which isn't optimal IMHO.

[2020-07-09 03:01] xiaoxiangmoe commented on #6678
That's the debt you need to pay for having type safety for internal deno code.

[2020-07-09 03:37] KrisChambers commented on #6685
I would like to take a stab at this one.

[2020-07-09 04:00] kitsonk commented on #6678
We already have that with the current implementation. 😕

[2020-07-09 05:34] nvlled commented on #1789
Is there an option to disable caching the imported file? Maybe something like ```import('file.ts', {cache: false})```

[2020-07-09 06:04] kitsonk commented on #1789
That would be a seperate request.

Also, `import()` might look like a function, but it isn't, it is actually low level syntax and cannot be augmented.

[2020-07-09 07:37] #6634 closed

[2020-07-09 07:59] ry commented on #6678
I'm a bit confused by this discussion. I don't know what is being proposed.

The issue with TypeScript for internal code (linked design doc) has a lot more to do with size of source map in the binary, incremental build time when developing deno itself, and the complexity of op crates. There are some minor issues about us having problems with shadowing (I guess this is what is being addressed here)

[2020-07-09 08:04] danbulant commented on #1014
That's only on some platforms, but most linux distros support only single argument (like Debian and probably most Debian based).

[2020-07-09 08:32] jsejcksn commented on #5863
Reference: https://github.com/BentoumiTech/denox

[2020-07-09 09:35] ry commented on #6637
@buttercubz You need to provide more details about how this crash occurred in order for us to investigate.  Most importantly, what was the input program?

[2020-07-09 09:36] ry commented on #6557
@jose1897 Not sure why you closed this. We're happy to look into panics like the one you experienced - that's a bug. Can you provide a small code example that triggers the panic?

[2020-07-09 09:55] caspervonb commented on #3137
Prior art in WebAssembly runtimes like wasmtime is to provide a single env variable with `--env "foo=bar"` which can be repeated.

[2020-07-09 11:21] tinkajts commented on #6628
This issue is sadly present on Windows 10 Pro, Deno 1.1.2 and 1.1.3 as well, not only on Ubuntu.

[2020-07-09 13:24] iugo commented on #6586
一方面, 中国的网络是闭塞的, 如果服务器继续部署在国外, 通过更换服务器网络线路(比如 CN2 GIA)的方法解决这类问题在任何大型项目上都没有先例. 想解决这类问题必须要有国内镜像(比如 cnpm). 受制于政策, 国内镜像的维护是艰难的.

另一方面, 对开发者来说, 这不应该是一个重要的问题.

[2020-07-09 13:30] jacobgc commented on #6685
Just tested this with deno version 1.1.2 which is before my commit (74c2605) and can confirm that this issue is still present.

[2020-07-09 13:32] wongjiahau commented on #6675
@ry If I want to fix this which files should I look at?

[2020-07-09 13:42] timonson commented on #6687
I do produce code for the browser with `Deno.bundle()`. Check this out: https://github.com/timonson/shadowBase/blob/master/bundler.ts. I hope this helps.

[2020-07-09 14:37] bartlomieju commented on #6675
According to import maps spec they are not affecting workers. So rather than a bug this would be a feature and would be Deno specific. It could be added to non-standard `deno` option in `Worker` constructor.

[2020-07-09 14:41] wongjiahau commented on #6675
@bartlomieju I see, so is it something like ‘importMap: URL’ option for Worker?

[2020-07-09 15:42] qballer commented on #6675
Having import map loading different context of modules could introduce interesting use cases for stuff like A/B testing

[2020-07-09 15:48] ry commented on #6664
I'm not sure this is a bug as you have described it. `server.close()` should just stop accepting new connections and handling new requests (on previously opened pipelined connections)...

[2020-07-09 17:10] brandonkal commented on #3137
I would vote for the csv format to be consistent. Parsing = could be a nice convenience. But then the program is not actually reading an environment variable.

[2020-07-09 17:13] rracariu opened #6691 "Worker MessageChannel"
Seems that `MessageChannel` in missing from Deno APIs.

https://developer.mozilla.org/en-US/docs/Web/API/MessageChannel

It should be added as it allows safe communication between `Workers`

[2020-07-09 17:17] lucacasonato commented on #6691
Structured cloning support is a prerequisite for MessageChannel AFAIK. Ref #3557

[2020-07-09 17:51] jakajancar commented on #6664
Either makes sense to me:
 - stop accepting new requests (new connections and requests on existing connections), but finish existing ones (and resolve `req.done` of existing ones when they are done), or
 - kill everything, even if in the middle of e.g. sending a response (and reject `req.done`)

I don't really care about which, my only problem are promises that are left infinitely unresolved. I be

[2020-07-09 18:32] denebu commented on #6687
@timonson Thanks for your response.
Unfortunately, your solution did not work for me.

Both bundling via `deno bundle` command and via `deno run --unstable -A bundler.ts yourFile.ts`, your solution, did not occur any errors in the terminal. However, it occurs error `Uncaught TypeError: deps_ts_1.React is undefined` in the browser whenever importing React and ReactDOM libraries.

I think that Deno'

[2020-07-09 19:02] ry commented on #3137
@caspervonb How do you give env an existing value from the env? Would it just be `--env "foo=$foo"` ?

Seems elegant enough.

[2020-07-09 19:06] #6409 closed

[2020-07-09 19:11] SyrupThinker commented on #3137
How about `--env "foo,bar,baz=1" `? With interpolation I need to ensure its properly escaped

[2020-07-09 19:21] brandonkal commented on #3137
Yes if `--allow-env` were to support manually setting environment variables something like
`--allow-env "foo,bar,baz=1"` would be more consistent.

So I could do something like this:
[code]

Of course the current alternative is something like this:

But when you can already do
[code]

it feels odd to have Deno parsing $ variables when the shell is as well.

[2020-07-09 19:21] jsejcksn commented on #3137
Escaped like this? `--allow-env=“FOO”,”BAR”,”BAZ=$QUX”`

[2020-07-09 19:35] Spoonbender commented on #6532
Just to clarify a nuance here:
IMO `--allow-net=https://* server.js` should not be equivalent to `--allow-net=*/**:443 server.js`:
The first one is scheme based (protocol-based), and should allow me to access everything using HTTPS, even if the server-side port is not 443 (i.e. https://somewhere.com:1234 should work).
The second one is port-based, and should allow me to access everything on port 4

[2020-07-09 20:40] jadhavajay commented on #3326
Looking forward to the possibility of using gRPC with Deno.

[2020-07-09 20:45] satyarohith commented on #6529
No, I'm trying to replicate the above example using Deno.

[2020-07-09 20:46] ry commented on #6664
agree

[2020-07-09 21:48] sleipnir commented on #3326
I believe that due to the popularity of gRPC it would be great to see support in the Deno standard library, like any other form of IO

[2020-07-09 22:19] jacobgc commented on #6529
So you want to read/write to null? or a file?

[2020-07-10 01:55] Spoonbender commented on #6593
I'll try to take this one

[2020-07-10 01:59] caspervonb commented on #3137
Exactly that, existing values would have to be filled in by the caller, e.g shell.

Parsing is dead simple https://github.com/bytecodealliance/wasmtime/blob/main/src/commands/run.rs#L28, it just splits on the first equals sign.

Wasmer also does the same thing https://github.com/wasmerio/wasmer/blob/master/src/commands/run.rs#L291.

[2020-07-10 02:14] jsejcksn commented on #3137
If the format for `--allow-env` is changed to `--env`, it would break consistency with the other `--allow-*` permissions.

But keeping the comma-separated format doesn't preclude optional assignments using `=`.

[2020-07-10 02:19] caspervonb commented on #3137
It would be orthogonal, --allow-env gives blanket access to the host environment, --env fills in a single environment variable.

[2020-07-10 03:09] jsejcksn commented on #3137
Related: https://github.com/denoland/deno/issues/6553

[2020-07-10 03:21] nvlled commented on #1789
Looks like there's already one here https://github.com/denoland/deno/issues/5548
And there's a workaround here https://github.com/denoland/deno/issues/5548#issuecomment-643647953

[2020-07-10 03:44] smcenlly opened #6694 "Runtime features to support Quokka.js"
Hi Deno team – firstly, I wanted to say thanks for all your work creating deno. It’s impressive and I am personally looking forward to seeing more community adoption.

Our company creates a couple of popular JavaScript/TypeScript developer tools ([Wallaby.js](https://wallabyjs.com/) and [Quokka.js](https://quokkajs.com/)).

We’ve had a number of our Quokka users asking us to [add support for deno]

[2020-07-10 04:04] kitsonk commented on #6694
Specifically with #2 it feels like Quokka is doing that because no one else is, and actually in these 3 requirements it feels a bit like these needs are there because of what is built on top of it.  With #2 it is effectively a controlled watch mode.

With number #3, what sort of modifications do you need to need to do to files?  None of the module reading before being inserted into the isolate in

[2020-07-10 06:25] kitsonk commented on #5633
There has been recent progress on this within TC39.  The proposal for syntax to support loading JSON ES Modules has been proposed: https://github.com/tc39/proposal-import-conditions.  It is Stage 2 currently, but we should keep a close eye on it.

[2020-07-10 07:12] SyrupThinker commented on #3137
Exactly this makes string interpolation bad because:
`a="a,b,c=1" deno ... --env "a=$a"` ...` results in
`--env 'a=a,b,c=1'` which is obviously not what meant.

Quoting wouldn't help because `a="Secret'with,weird,chars" deno ... --env "a='$a'" ...` it'd break like `--env "a='Secret'with,weird,chars'".

And doing something like `--env "a=$(deno escape $a)" ` is plain ugly.

[2020-07-10 07:15] caspervonb commented on #3137
Why is it obviously not what was meant? --env only allows a single variable to be set, so the value can be anything.

[2020-07-10 07:18] caspervonb commented on #6553
Should move towards deprecating this behavior IMHO, one directory per --allow-read directive.

[2020-07-10 07:22] SyrupThinker commented on #3137
I misunderstood how you meant "a comma separated list is easy to break". I thought you meant breaking apart (aka splitting), sorry.

The last few comments didn't make that obvious to me.

[2020-07-10 07:25] caspervonb commented on #3137
Ah no i meant break as in it's commonplace to have commas in environment variable values which then any attempts at a parser would be very likely to mangle.

[2020-07-10 08:24] ArtemGovorov commented on #6694
@kitsonk Test runners with (an efficient) watch mode in node land use #2 (mocha, ava, jest - a bit differently but still). Right now implementing something like mocha in watch mode in deno means reloading deno process on every file save. In node land the same process (with loaded testing framework and optionally other loaded third party modules) can be reused, because changed file(s) can be remove

[2020-07-10 08:44] kitsonk commented on #6694
For coverage, it is ultimately inefficient to use code to instrument, when we can get it from v8 directly (see: #106).  Additional observability/instrumentation of the running code in theory should be available via the debugging protocol.

I can understand how things are done in Node.js, that doesn't specifically make following the same pattern good for Deno.
 Primarily, allowing sandboxed code to

[2020-07-10 10:16] ArtemGovorov commented on #6694
Sorry if it sounded like I was suggesting that Deno should follow the same pattern as Node, I didn't mean to. We've only started to look at Deno after spending years developing tools for Node, so our comments/questions may sound a bit like we want this or that Node feature in Deno. However, our goal is to understand how to make things work for our users in Deno using Deno way and make sure that th

[2020-07-10 13:17] danielbeeke opened #6696 "Consequent fetch requests sometime doesn't use DNS cache"
While doing a lot of fetch requests (3500) on 3 API's sometimes the dns can not be fetched.

Shouldn't this be cached and only possible fail in the beginning of the running of the script instead of somewhere in between?

[code]

[2020-07-10 14:07] #3456 closed

[2020-07-10 14:36] ChristianGrete commented on #6030
@acathur I do think that this is an acceptable approach for a third party dependency management tool. And I do like your approach. Also, I don’t think, that this should be part of Deno itself... As you’ve pointed out, the major problem with URL imports is that they would have to be maintained all over the place. With import maps, Deno already has a solution for that. The only difference is, that y

[2020-07-10 15:40] ebebbington commented on #6030
There's also [nest](https://github.com/nestdotland/nest.land) and [dmm](https://github.com/drashland/dmm) that manage dependencies, without any files needed for the user to have

The beauty of Deno, is it takes very, very little to manage dependencies - though it can be problematic when a 3rd party module uses other 3rd party dependencies

[2020-07-10 15:49] #6543 closed

[2020-07-10 18:36] TooTallNate commented on #6305
Here is a comment about making the setup I'm trying to achieve work in Go: https://github.com/golang/go/issues/21085#issuecomment-368653216 (the entire issue seems relevant actually)

[2020-07-10 18:42] hax commented on #6678
@ry So I guess some people (include @xiaoxiangmoe and me) have a misunderstanding that the main reason deno drop TS for internal code is because of shadowing issue 🤔

[2020-07-10 19:23] Spoonbender commented on #6566
I'll try to fix this one

[2020-07-10 19:38] ry commented on #6678
@hax The shadowing problem is just makes a bad situation worse. It's a non-trivial situation that cannot be appreciated without having dealt with the internals of Deno.

Closing this issue.

[2020-07-10 19:38] #6678 closed

[2020-07-10 19:48] ry commented on #6696
I'm pretty sure we're using the system resolver, so the cache is out of our hands. I would guess this is not a Deno bug.

[2020-07-10 19:54] bartlomieju commented on #6696
FTI HTTP client used in `fetch` is one-off - ie. for each call to `fetch` a new instance of client is created

[2020-07-10 22:57] horihiro commented on #6409
I really appreciate your help!
I'm looking forward to the next release.

Thanks

[2020-07-10 23:03] caspervonb commented on #6409
Should be dropping on Monday.

[2020-07-11 01:11] KrisChambers commented on #6468
I wouldn't mind trying to tackle this.

[2020-07-11 01:36] t8 opened #6699 "Supporting Standard Modules in 3rd party registries/CDNs"
Hello Deno maintainers!

To begin, I wanted to thank you all for all the time, energy, and effort spent in building this runtime and community. This has easily been the best developer experience I’ve ever had, from writing code, asking questions, to getting to meet new people.

Before I discuss my request, I should introduce the reason I’m here. After discovering the way Deno’s import system works

[2020-07-11 04:52] #6572 closed

[2020-07-11 05:31] 3dfoster opened #6700 "createSync overwrites file if already exists"
According to [docs](https://doc.deno.land/https/github.com/denoland/deno/releases/latest/download/lib.deno.d.ts#Deno.createSync), createSync

Running a script with createSync however, will overwrite a file if it does exist.

To reproduce:
1. Run a file with the contents `Deno.createSync("db.json");`
2. After `db.json` has been created, enter an arbitrary value within it
3. Run the file from step 1

[2020-07-11 08:38] timreichen opened #6701 "Discussion: remove curly brackets formatter in favor of functions"
I had a look at the ```log module``` and saw that the ```formatter``` is capable of using both ```curly bracket strings``` and ```functions```:

[code]
[code]

Since the template strings are JS native and the curly backets that needs parsing is not, I wonder if Deno should remove the latter. In my opinion it doesn't add any functionality that cannot be achieved with template strings and it is more

[2020-07-11 08:54] bartlomieju commented on #6675
@wongjiahau that would be something like:
[code]

[2020-07-11 08:56] bartlomieju commented on #6618
@kitsonk @caspervonb isn't it one of TS features that it analyses statically resolvable dynamic imports? I think following example would also work:
[code]

If I'm not mistaken we use that feature in bundling (ref https://github.com/denoland/deno/issues/6156)

[2020-07-11 08:57] bartlomieju commented on #6480
Haven't seen another failure of `deno_test_fail_fast` in a week.

[2020-07-11 08:57] #6480 closed

[2020-07-11 09:32] wongjiahau commented on #6675
@bartlomieju Can the import map represents a remote file? for example
[code]

[2020-07-11 09:34] bartlomieju commented on #6675
@wongjiahau not at the moment, there is a PR for it (#5849), but I haven't reviewed it yet

[2020-07-11 09:37] wongjiahau commented on #6675
@bartlomieju Ok, so importMap can only be either relative or absolute file path right?

[2020-07-11 09:38] bartlomieju commented on #6675
@wongjiahau that's correct

[2020-07-11 09:47] #6668 closed

[2020-07-11 10:19] wongjiahau commented on #6675
@bartlomieju Thanks I will create a PR based on the direction you provided

[2020-07-11 11:31] kitsonk commented on #6618
Yeah, after I commented I had that in the back of my mind.  How would this suddenly ever become resolvable at runtime?  It would always be an error, unless there is an import map, but then why wouldn't you use the import map at design time?

[2020-07-11 11:54] yum650350 commented on #6700
I think it does what it says, `truncates an existing file`.

[2020-07-11 13:31] #4056 closed

[2020-07-11 13:33] bartlomieju commented on #3789
Available at https://deno.land/std/path

[2020-07-11 13:35] bartlomieju commented on #3512
No longer relevant

[2020-07-11 13:35] #3512 closed

[2020-07-11 13:37] bartlomieju commented on #3165
With #6591 landed I believe this issue can now be closed.

[2020-07-11 13:37] #3165 closed

[2020-07-11 13:52] bartlomieju commented on #5529
I agree with @kitsonk on this one, Deno has minimalistic output by default and we don't want to add more prompts.

[2020-07-11 13:52] #5529 closed

[2020-07-11 13:53] bartlomieju commented on #5460
`--no-check` option landed in #6456, will be released in `v1.2.0`

[2020-07-11 13:53] #5460 closed

[2020-07-11 13:54] bartlomieju commented on #5410
@nayeemrmn has this issue been fixed in #6689?

[2020-07-11 13:55] bartlomieju commented on #5500
No longer relevant with #5503 landed

[2020-07-11 13:55] #5500 closed

[2020-07-11 13:58] bartlomieju commented on #5606
Ref https://github.com/dprint/jsonc-parser

[2020-07-11 14:01] bartlomieju commented on #5839
Warning are now printed when using non-tagged imports. Closing as resolved.

[2020-07-11 14:01] #5839 closed

[2020-07-11 14:04] bartlomieju commented on #6040
Fixed in #6552

[2020-07-11 14:04] #6040 closed

[2020-07-11 14:40] nayeemrmn commented on #5410
I think the specified behaviour is that it _should_ parse a host for non-special protocols using the [opaque-host parser](https://url.spec.whatwg.org/#concept-opaque-host-parser). Browsers aren't the most compliant or consistent with each other when it comes to `URL`. See https://jsdom.github.io/whatwg-url/#url=bmF0czovL2xvY2FsaG9zdDo0MjAwLw==&base=ZmlsZTovLy8= instead.

This was fixed in #6689...

[2020-07-11 14:45] 3dfoster commented on #6700
Yes, I hadn't caught that initially. It would be nice if there was an option in the scenario I described, similar to the `a+` system flag in Nodejs for writing to files.

[2020-07-11 14:45] #6700 closed

[2020-07-11 14:57] yum650350 commented on #6700
Actually you can use [Deno.openSync](https://doc.deno.land/https/github.com/denoland/deno/releases/latest/download/lib.deno.d.ts#Deno.openSync) or  [Deno.open](https://doc.deno.land/https/github.com/denoland/deno/releases/latest/download/lib.deno.d.ts#Deno.open) and pass the [OpenOptions](https://doc.deno.land/https/github.com/denoland/deno/releases/latest/download/lib.deno.d.ts#Deno.OpenOptions).

[2020-07-11 16:29] #4512 closed

[2020-07-11 16:30] #6419 closed

[2020-07-11 18:09] gbezyuk opened #6705 "std/testing/asserts.ts seems to be broken"
`https://deno.land/std/testing/asserts.ts` seems to be broken.

## Versions I have:
[code]

## Code I run:
[code]

## Expected result:
Empty output. No errors.

## Actual Result:
[code]

[2020-07-11 18:20] FuJuntao commented on #6705
Yeah, I've got the same problem with the same version of yours.

[2020-07-11 18:28] andreespirela commented on #6705
I think this is the result of https://github.com/denoland/deno/commit/5ec41cbcc2778a80b6ee91f0c391fc2edec0a8e0
Not sure though. It also started happening to me this morning.
Cc @nayeemrmn

[2020-07-11 18:36] nayeemrmn commented on #6705
Replace
[code]
with
[code]

[2020-07-11 18:52] nayeemrmn commented on #6705
Also, you should be getting warnings for this on download... didn't expect to see this issue anymore.

[2020-07-11 19:08] dan-online commented on #6705
Yep same thing happened for me, using 0.59.0 fixed it

[2020-07-11 19:52] reselbob commented on #6705
Getting it too. Let me see if the fix works

[2020-07-11 20:02] AZMCode opened #6706 "[Feature Request] Native API for controlling terminal stream"
In some cases, such as a [Git Credential Helper](https://git-scm.com/docs/gitcredentials#_custom_helpers), a script needs to get both program arguments through stdin, and prompt the user for data.

In Linux, this is done by opening [/dev/tty](https://linux.die.net/man/4/tty) which is, according to the manpage, a handle to the process' _controlling terminal_, which is a separate stream from stdin.

[2020-07-11 20:18] just-small-potato opened #6708 "Fetch seems to be fetching wrongly formatted URL when it involves redirect"
When trying to fetch a [Wikipedia REST API](https://en.wikipedia.org/api/rest_v1/#/Page%20content/get_page_summary__title_), Deno will thrown error saying failed to connect, while the url displayed in the error message is not a valid URL. With further testing, it seems that the API will have some redirect behind.

---

Sample failure code:
[code]

Error:
[code]

---

Similar code which the request

[2020-07-12 01:28] Soontao commented on #6705
Same issue, the `deno` binary should match the std libraries.

[2020-07-12 01:30] wenjoy opened #6712 "Any module or api to encrypt with public key?"
# How can I encrypt content with public key in deno?

I was working on a deno  project then I encountered a requirement to encrypt a content with public key.
I can complete such thing with `crypto.publicEncrypt` easily but I cant find out a appropriate way with deno.
I try to google but no luck.

[2020-07-12 06:48] rudoi commented on #3444
:wave: hi @bartlomieju, I'm interested in taking this on as good-first-issue if you're open to providing some guidance! Familiarizing myself with the codebase as best I can in the meantime. :pizza:

[2020-07-12 09:35] #6622 closed

[2020-07-12 09:35] #6384 closed

[2020-07-12 11:31] MarkTiedemann commented on #6708
When setting redirect to manual, Deno does not crash:

[code]
[code]

I noticed that Wikipedia uses relative locations in redirects.
[code]

Perhaps Deno does not follow relative locations properly?

[2020-07-12 11:48] MarkTiedemann commented on #6708
Can confirm that relative locations are the problem:

[code]

[code]

[2020-07-12 12:16] #6541 closed

[2020-07-12 13:04] bartlomieju opened #6713 "Add docs --no-check option"
As per title, these are features added in <s>#6428 and</s> #6456, however there's no mention about them in docs. This issue should be resolved before releasing 1.2.0.

[2020-07-12 13:05] #5977 closed

[2020-07-12 14:58] marcosc90 commented on #6708
Found the issue, working on a fix right now.

[2020-07-12 20:07] danbulant opened #6718 "Listening on unix sockets"
Deno.listen should allow an option to instead of listening on `port` to listen on `socket`, or there should be another function like `Deno.listenSocket` or similar.

[2020-07-12 20:14] SyrupThinker commented on #6718
Like [this](https://doc.deno.land/https/raw.githubusercontent.com/denoland/deno/master/cli/js/lib.deno.unstable.d.ts#Deno.listenDatagram)?

[2020-07-12 21:10] trivikr opened #6719 ""Too many open files" error on macOS when benchmarking deno using autocannon and 1000K connections"
### System Information

<details>
<summary>Click to expand</summary>

[code]

</details>

### Deno v1.1.3

<details>
<summary>Code</summary>

[code]

</details>

#### Output
[code]

### Node.js v14.5.0

<details>
<summary>Code</summary>

[code]

</details>

#### Output
[code]

[2020-07-12 21:11] trivikr commented on #6719
The code works fine for 100 connections

[code]

[2020-07-12 21:18] robeartoe opened #6720 "Node Compatibility Issue"
Hello all,
I'm having issues using the node compatibility modules.
I'm running everything according to the documentation..
[code]

And I am trying to run a server with this command:
[code]

And I get the following errors:
[code]

I've upgraded to the latest versions and I have not had any luck.
[code]

Is there anything I'm doing wrong? I've checked through the issues and thought running the --uns

[2020-07-12 22:08] nayeemrmn commented on #6720
Run `deno cache -r index.ts` to reload those modules.

Better, replace imports from `https://deno.land/std/` with `https://deno.land/std@0.60.0`.

[2020-07-12 22:25] lucacasonato opened #6721 "feat(lint): deno lint --json"
This would output JSON in `deno lint` rather than pretty printed text.

[2020-07-12 22:28] robeartoe commented on #6720
Interesting how that did the trick.
Hmm. Now I know. I'm slowly understanding deno as a whole.

Thank you so much @nayeemrmn for the answer!

I have a quick question, for all of Deno's standard library modules, do we always have to include the version for all of them when we import them? Or will it come to a point, when we'll import the module, and it'll just fetch the latest by default?

Thanks a

[2020-07-12 22:48] mikeal commented on #6719
This looks like a typical error you’d encounter when you go past file descriptor limit. These settings vary by OS and configuration, try increasing the limits set for the system and the user you’re running as.

[2020-07-12 23:20] trivikr commented on #6719
Thanks @mikeal for the response

I increased the settings as suggested on StackOverflow https://superuser.com/a/443168
[code]

And the error is not reproducible.

File descriptor limit was 256 by default when error was reproducible
[code]

[2020-07-12 23:34] kitsonk commented on #6720
It is fetching the latest by default, the problem is latest has breaking changes to make it work with the `master` version of Deno.  That is why we print the warning in the console when you import `std` off master.

[2020-07-12 23:37] trivikr opened #6722 "Deno http server serves around 25-40% less req/sec than that of Node.js"
While doing performance comparison between Node.js and Deno, I noticed that Deno ~~performance gets affected when number of connections are increased~~ http server serves around 25-40% less req/sec than that of Node.js.

GitHub repo: https://github.com/trivikr/node-deno-http-benchmarks
UPDATE: The updated load testing benchmarks are posted in https://github.com/denoland/deno/issues/6722#issuecomme

[2020-07-12 23:40] kitsonk opened #6723 "Consider "release" branch of std"
We currently committed code to `master` for `std` to be compatible with the version of the cli in `master`, and that flushed out a whole set of people complaining about the breaking changes and code not running.  People are either ignoring the warning message, not understanding what it means, or depending on code that depends on `master`.  All which lead to 😠 😭 😖.

Maybe we should introduce a `rel

[2020-07-12 23:50] kitsonk commented on #6722
So does Node.js.  It just appears that performance drops off a bit quicker with Deno.  We had hoped that a JS/TS based HTTP server was going to give us the performance we wanted, but that hasn't been achievable and it is on the roadmap to port it to Rust.  (It is also the easiest way to get HTTP/2 and QUIC as well).

There are some HTTP benchmarks (https://deno.land/benchmarks) that are part of CI

[2020-07-12 23:56] trivikr commented on #6722
Is there a link to this specific request on roadmap?
On quick search, I could find https://github.com/denoland/deno/issues/5625 which is referred from https://github.com/denoland/deno/issues/2473

[2020-07-13 00:01] trivikr opened #6724 "bufio in serve throws "error: trailing characters at line 31 column 2""
Refs: https://github.com/fastrodev/fastro/issues/7

This issue appears to be specific to Ubuntu/Linux

<details>
<summary>System Information</summary>

[code]

</details>

<details>
<summary>Code</summary>

[code]

</details>

<details>
<summary>Output</summary>

[code]

</details>

[2020-07-13 00:08] lucacasonato commented on #6723
Just a heads up: importing mutable refs (like branches) through `/x` will be removed soon as part of the registry refactor. Only released versions will be accessible. That should solve this issue once and for all. Unversioned imports will either be removed, or will redirect to the latest released version. I am personally for removal.

[2020-07-13 00:24] lucacasonato opened #6725 "performanceMeasure in //cli/tests/unit/performance_test.ts is flaky"
Example: https://github.com/denoland/deno/runs/863630775

Test failed on unrelated change in docs.

Ref #6421, cc @kitsonk

[2020-07-13 00:59] kitsonk commented on #6725
Hmmm... a timer is scheduled to fire at 100ms, and the duration is expected to be between 100 and 200ms, and it appears that in this case the duration was in excess of 200ms (the whole test ran in 203ms)... so on contended servers it seems timing are really poor!  Crazy that there was that much delay in the scheduling.

[2020-07-13 03:30] #6718 closed

[2020-07-13 04:50] #6725 closed

[2020-07-13 04:51] #6713 closed

[2020-07-13 04:53] #6708 closed

[2020-07-13 04:56] #5410 closed

[2020-07-13 05:26] ry commented on #6723
latest released version seems more useful

[2020-07-13 06:04] kitsonk commented on #6723
I think there is an expectation of a "bare" URL pointing to something useful, so I would be 👍 for latest released version, but don't forget to use Deno as an example, where there is a pattern to the tags that needs to be considered to figure out the latest "release" of cli versus `std`.

[2020-07-13 09:36] caspervonb commented on #6723
Latest tag seems better than just having it point to nothing.

[2020-07-13 11:00] Spoonbender commented on #5498
Probably the same issue as #6367

[2020-07-13 11:17] neroux commented on #5498
@Spoonbender, exactly the same issue :)

[2020-07-13 11:19] neroux commented on #6367
As @Spoonbender pointed out, this is a duplicate of #5498.

[2020-07-13 11:23] neroux commented on #5498
@caspervonb, as for ["abandoning legacy systems"](https://github.com/denoland/deno/issues/6367#issuecomment-655820647), yes it is accurate that Microsoft is moving towards a more Unices-like formatting here, however Windows 8 doesn't support colour sequences at all and even Windows 10 doesn't fully support them.

Considering that Windows 8 is still a support system, which also seems to be supporte

[2020-07-13 11:43] nayeemrmn commented on #6699
@ry

[2020-07-13 11:58] bartlomieju opened #6731 "Flaky tests for Buffer max size"
https://github.com/denoland/deno/pull/6729/checks?check_run_id=864887110

[code]

I've seen this error pop up several times over past days.

Also @nayeemrmn pointed out that tests using max buffer size are very slow.

CC @marcosc90

[2020-07-13 12:21] marcosc90 commented on #6731
Weird that [`MAX_SIZE` allocation](https://github.com/denoland/deno/pull/6570/commits/7d717db18d33a428c1dcd9d33d410d6911119a8c) isn't failing once the test starts, and fails later.

We can ignore those tests. Unfortunately, the only way to test MAX_SIZE logic is reading MAX_SIZE bytes, and if the environment doesn't have enough memory it will fail.

As an alternative, we can add a `maxSize` argume

[2020-07-13 12:41] caspervonb commented on #5498
You'll run into this with any module that uses escape sequences which is why I think it's not worth trying to support it; console.log can have some support since it's in CLI but other all modules that use escape sequences wether it be in std/ or x/ are going to have this problem and users should just use a better terminal emulator IMHO.

Mostly hang around on Unix but when I do use Windows I use C

[2020-07-13 13:32] SyrupThinker commented on #6723
Making `release` the new default branch just extends the cycle when modules break.
With unversioned std imports every breaking change in std, whether intentional (2.0 etc) or not, will break part of the ecosystem.
With versioned ones it will keep working as long as the runtime supports what is used, for example pure JS modules that have just been (re)moved in later releases.

[2020-07-13 13:40] #6731 closed

[2020-07-13 13:57] neroux commented on #5498
That might be true, but a bug in a module does not mean it should be equally buggy everywhere else. Colour sequences are not supported on all systems and Windows is one of them.

If there is no plan to address that, then the consequence should be to officialy drop support for pre-10 versions respectively for the traditional command prompt.

[2020-07-13 14:02] lucacasonato opened #6733 "upgrade_with_out_in_tmpdir is flaky"
https://github.com/denoland/deno/runs/864795616#step:17:3728

[2020-07-13 14:26] nayeemrmn commented on #6723
At the very least we need to keep the warning for any rangeless implicit version resolution.

Keep in mind that imports like this are NOT simply opt-in. I have no control of the import URLs used for my transitive dependencies other than unstable import maps. My lock file check ~~can~~ _will_ just suddenly break at some point, unless everything in my dependency graph is following this best practice

[2020-07-13 14:26] hork71 commented on #6724
Can't reproduce

![afbeelding](https://user-images.githubusercontent.com/66360109/87315740-10878480-c525-11ea-972d-b62def362dff.png)

![afbeelding](https://user-images.githubusercontent.com/66360109/87315649-f0f05c00-c524-11ea-944a-1090924cb060.png)

![afbeelding](https://user-images.githubusercontent.com/66360109/87315381-bedefa00-c524-11ea-857f-9276c78e85bb.png)

$ deno run --allow-net mod.ts &

[2020-07-13 14:36] MarkTiedemann commented on #5498
As far as I am aware, Node does not ship with a "color this string for terminal output" function. The goto package here is [`chalk`](https://www.npmjs.com/package/chalk). chalk does not call Windows Console API functions, but uses escape sequences, too.

chalk does have detailed checks for whether colors are supported, though:
[code]

https://github.com/chalk/supports-color/blob/master/index.js#L7

[2020-07-13 14:41] neroux commented on #5498
Well, everything before 8.1 is not supported anymore anyhow, so it is not unreasonable to say Deno doesn't support it either. 8.1 however still is supported.

Then mark Deno as incompatible with Windows 8, respectively clearly state only Windows 10 is a supported platform, and you are good to go.

As it is right now the output on Windows 8 is pretty useless.

[2020-07-13 15:15] MarkTiedemann commented on #5498
Windows 8.1 is from 2013. End of _mainstream support_ was 2018. End of _extended support_ is 2023. Again, I don't think it's worth it to invest too much time into supporting those older systems.

Just because colors are incorrectly displayed in some terminals, doesn't mean it's "imcompatible".

[2020-07-13 15:29] neroux commented on #5498
Exactly what I said, it is a supported system and if it is supported by Deno, bug reports should be adequately received and fixed.

It pretty much is. Right now its output is useless. As I said before, it is pretty easy. Either fix the issue or mark everything before 10 as unsupported.

[2020-07-13 16:21] timreichen commented on #6601
Great, thank you! I just noticed the new ```difference``` function in std/datetime. It supports ```quarter```as a unit type. Therefore a ```quarterOfYear``` would maybe make sense too to have as a function?

[2020-07-13 16:24] #6566 closed

[2020-07-13 17:00] MarkTiedemann commented on #5498
Windows extended support != Deno support.

AFAIK,  `deno eval -p "'Hello, world!'"` works fine, even without colors. Even better, both `std/fmt/colors` and `cli/js/colors` respect `NO_COLOR` so `set NO_COLOR=1& deno eval -p "(await import('https://deno.land/std@v0.60.0/fmt/colors.ts')).red('Hello, world!')"` works just fine, too.

I agree that `Deno.noColor` could automatically determine that colo

[2020-07-13 17:03] neroux commented on #5498
So Windows 8.1 is not a supported platform by Deno?

No offence, but that remark is somewhat pointless ;)

I never said Windows colours should be supported. Simply disable the colour sequences on platforms which do not support it and we are good.

[2020-07-13 17:17] MarkTiedemann commented on #5498
I don't know whether it's supported or not. I haven't seen any official statements about Windows support in the docs.

I'm merely pointing out that Windows has a different support lifecycle than Deno. Just because some old Windows version is still supported by Microsoft, doesn't mean Deno has to support it, too.

Also, as I have pointed out, "support" is a spectrum of various degrees. Deno can sup

[2020-07-13 17:22] neroux commented on #5498
That is clear, hence my question if Windows 8 is a supported platform or not.

It is I am afraid. As I addressed earlier, if it is a support platform reported bugs should be acknowledged and fixed. If it is not supported, obviously not but that should be communicated.

Again, no offence but these standard phrases are not very helpful.

[2020-07-13 20:06] apiel commented on #5365
After upgrading to 1.2.0 I am getting this error as well. Is it normal?

[2020-07-13 20:08] lucacasonato commented on #5365
Best to ask on Discord: https://discord.gg/deno

[2020-07-13 20:12] KrisChambers commented on #6468
I noticed a todo left by @bartlomieju. They mention that the print_file_info function is a repeat of the whole compilation stack.

One thing I am a bit confused by was the Deps in deno.core and ModuleGraph in deno.cli. They both seem to be generating a dependency graph, except Deps seems a bit more specialized to generating it for deno info. I was curious if it would be alright to try and turn thi

[2020-07-13 20:22] horihiro commented on #5365
It looks this is caused by the combination Deno@1.2.0 and std@0.60.0 or before.

[2020-07-13 23:35] aricart opened #6737 "deno test on 1.2.0 - broken with TS2345 [ERROR]: Argument of type 'string | URL' is not assignable to parameter of type 'string'."
After upgrading to 1.2.0, running deno, will fail with:
[code]

There's a single reference to URL on a constructor in my project:
[code]

This is on OS X.

[2020-07-13 23:40] lucacasonato commented on #6737
You should use a locked version of `deno.land/std`. The latest version is `0.61.0`. You should be importing from `https://deno.land/std@0.61.0`. This is described at https://deno.land/std:

[2020-07-13 23:51] aricart commented on #6737
expecting to be in sync with master. Yes just figured out that changing 35 imports to be locked, fixed it, but this is really suboptimal - perhaps Deno should offer a flag to clamp all non-versioned packages to something - this would allow a simple flag in a build command to handle it.

[2020-07-13 23:54] lucacasonato commented on #6737
Well you already get a warning in the console when a non fixed std version is downloaded. The first full example on the home page shows a fixed version std.

[2020-07-14 00:14] brandonkal commented on #4549
@ahuigo Snowpack IS rollup under the hood.

[2020-07-14 00:30] kitsonk commented on #6737
It is, but your local cached version isn't.

[2020-07-14 03:32] mathiasrw commented on #6260
Ohhh - just got released as part of 1.2.0 - epic work folks...

[2020-07-14 04:26] #6260 closed

[2020-07-14 05:14] mikeal opened #6738 "feat: stdout.cursorTo()"
I’ve been working on a test system for native ESM tests and just got the runner working on Deno, but I did have to use a version of the runner’s display code that is less than awesome because there’s currently no way in Deno to move the stdout cursor.

I don’t have a strong opinion about where the API lives or how it should work, only that the functionality is there. In node.js it’s at `process.st

[2020-07-14 05:24] utkzas commented on #6685
I also want to contribute to this project. Can someone tell me how should I start?

[2020-07-14 05:55] shivajivarma commented on #3622
Hi @kevinkassimo,

Can i achieve something like below code?

[code]

Basically i want to capture code from end user and evaluate it inside a context. If so, can you please share sample code, it will be very helpful. Thanks.

[2020-07-14 06:06] brandonkal commented on #3622
The VM abstraction doesn't exist yet. The Worker would need to support Blob URLs so we can codegen module code. And workers would need to support limited permissions to run user code.

[2020-07-14 08:04] Sameerkash commented on #5365
I can confirm this, I'm getting seemingly unknown errors today. It was working all fine yesterday. I got a **file not found** error(os error 2) out o nowhere and then upgraded deno and getting this error.

[2020-07-14 08:17] Spoonbender commented on #6699
The ability to fetch std from additional URLs like CDNs can also help resolve #6586

[2020-07-14 08:25] kitsonk commented on #5365
@Sameerkash if you are Deno 1.2.0 you need `std` 0.61.0 or later.  There features added in Deno 1.2.0 that caused breaking changes in `std`.

[2020-07-14 08:28] Sameerkash commented on #5365
@kitsonk how can I upgrade ? Because I don't have any direct imports from std in my project right now.
Maybe it might be in cache which I used before. How can I upgrade everything in my cache ?

[2020-07-14 08:38] Yamboy1 commented on #5365
People seem to be getting slightly confused with all this, so lets try to clarify some stuff.

With the Deno 1.2.0 update, the URL constructor was changed so that you cannot pass a URL as input to the constructor, to realign this up with the web standards: https://developer.mozilla.org/en-US/docs/Web/API/URL/URL. As with every Deno update a new std version was released, v0.61.0.

The previous vers

[2020-07-14 08:39] Yamboy1 commented on #5365
Also if you are using untagged imports (such as `https://deno.land/std/encoding/utf8.ts`), please update those to use the 0.61.0 type import i showed above

[2020-07-14 08:43] Sameerkash commented on #5365
I tried importing upgrading the error links to. 0.61.0 but it just doesn't seem to be working. And something weird is happening I believe. The version is going down every time I run --reload

[2020-07-14 08:49] apiel commented on #5365
@Yamboy1 thx for the clear explanation. There is just a last problem, I don't know from which dependency the problem come cause the stacktrace doesn't give much info it. Any idea to identify which deps cause the problem?

[2020-07-14 08:50] Yamboy1 commented on #5365
Could you send the stack trace here?

[2020-07-14 08:55] apiel commented on #5365
I am only getting this:
![image](https://user-images.githubusercontent.com/5873198/87405797-344bd880-c5c0-11ea-9fa4-6e61698a8410.png)

You can also see it in my CI:
https://github.com/apiel/adka/runs/866373327?check_suite_focus=true

[2020-07-14 08:58] Yamboy1 commented on #5365
Did you do the deno info thing? (Especially the --no-check part)

[2020-07-14 08:59] Sameerkash commented on #5365
I downgraded the version to 1.1.3 and this is the issue I was stuck with since morning, and I had no errors yesterday, djwt is the dependency I added today

[code]

Could you point out where the issue might be? @Yamboy1

[2020-07-14 09:00] Yamboy1 commented on #5365
You can't downgrade AND upgrade to std v0.61.0, if you've downgraded, change your imports to use v0.60.0

[2020-07-14 09:01] SyrupThinker commented on #5365
@Sameerkash You are importing std@0.61.0 which is not compatible with Deno 1.1.3

[2020-07-14 09:03] apiel commented on #5365
@Yamboy1 I don't use yet the `--no-check`, right now I am using `deno run -c tsconfig.json --allow-read --allow-write --allow-env --allow-net --unstable adka.ts`. I will just wait a bit, soon or later issues will get fixed :p

[2020-07-14 09:04] Sameerkash commented on #5365
Actually I did downgrade. Something wrong with my caching. It wasn't upgrading before and now it isn't downgrading.
I have specified 0.6.0 in my deps.ts and I did a --reload. @Yamboy1

[2020-07-14 09:04] Yamboy1 commented on #5365
As i'd said earlier, you can run `deno info --no-check deps.ts` or `deno info --no-check adka.ts` if you don't have a deps.ts file to see where the problem is

[2020-07-14 09:05] Yamboy1 commented on #5365
@Sameerkash Did you run it like `deno run mod.ts --reload` or `deno run --reload mod.ts`. The first one DOESN'T WORK, you need to use the second form

[2020-07-14 09:08] SRNV commented on #5365
Please Try `—unstable` And `—no-check` With `deno info`

[2020-07-14 09:09] Sameerkash commented on #5365
my deps.ts >
[code]
my log

[code]

[2020-07-14 09:18] ebebbington commented on #5365
@Sameerkash That error shows when you (or 3rd party dependencies) have updated your std imports to v0.61.0, but your deno version is v1.1.3, also there's a lot of std dependencies your dependencies have that are running various std versions.

What it looks like is, a 3rd party dependency you are using has upgraded

[2020-07-14 09:21] Yamboy1 commented on #5365
^ Please make sure that you are using oak version v5.3.1, which is the last version that supports Deno 1.1.3. It looks like you are using an untagged import, which will use the latest version. It is highly recommended to have a version on ALL imports. Please only use tagged imports, which specify a direct version

[2020-07-14 09:37] Sameerkash commented on #5365
So, if I'm in version 1.2 the problem might be of other dependencies, right?  and --no-check did not work. I applied tags to all my imports but now getting this error on deno run --reload,

[code]

[2020-07-14 09:52] Yamboy1 commented on #5365
https://deno.land/x/oak@v5.3.1/mod.ts

[2020-07-14 10:00] Yamboy1 commented on #5365
@Sameerkash, oak uses a v at the start of the version tag

[2020-07-14 10:04] gungunfebrianza opened #6739 "False Alarm AVAST - Deno 1.2 Detected as Malware"
Hello guys , i was tried to upgrade my deno into version 1.2 but my avast recognized the binary as virus?
what do you think ?

![image](https://user-images.githubusercontent.com/5908094/87413061-01bbd300-c5f4-11ea-8176-02e02fdf54a7.png)

[2020-07-14 10:04] Sameerkash commented on #5365
That was really silly of me to not observe.
@Yamboy1 Thank you so much for your time. I've downgraded everything to 1.1.3 for now, Maybe it is one of my other dependencies that causing the std error in on version 1.2. My could seems to be working for now. I'll check out the versions and then upgrade later.
Thanks again.

[2020-07-14 10:17] Spoonbender commented on #6739
Same as #5690

[2020-07-14 10:44] daquinoaldo opened #6740 "Date.toLocaleDateString options not working"
Hi,

the `toLocaleDateString` method of the class Date seems ignoring the options.

**Example**
[code]

Output on Node.js and browsers (expected)
[code]

Output on Deno v1.2.0 (not working)
[code]

I tested both on a TS file and through deno command line (`deno eval ...`).

[2020-07-14 10:48] SyrupThinker commented on #6740
Known issue, due to #1968

[2020-07-14 11:10] Spoonbender commented on #3464
I'm taking a look at this one

[2020-07-14 11:16] daquinoaldo commented on #6740
There is an ETA for the fix?

[2020-07-14 11:22] Spoonbender commented on #3464
It seems this issue no longer reproduces on Deno 1.2.0, perhaps due to fix #6728
It does reproduce on 1.1.3
@horihiro please check and confirm if we can close the issue.

Regarding the repro itself and possibility of testing in integration test:
Theoretically, we should be able to reproduce the issue using the Windows `runas` command, which allows us to run a process without loading the user profi

[2020-07-14 11:52] bartlomieju commented on #6468
@KrisChambers thanks for interest on working in this PR. Your diagnosis is right, however I don't have a straight answer for that. If you want to implement this feature, the best approach would be to annotate each entry in the tree with the length of the source code (that is already available on `ModuleGraphFile` struct), and use `human_size()` method available in `main.rs`.

As for refactoring `D

[2020-07-14 12:07] Spoonbender commented on #5542
I'm starting to work on this

[2020-07-14 12:12] MarkTiedemann commented on #6739
Seems to be fixed already: https://www.virustotal.com/gui/file/eeb5fcdeda31929a6e58469e554af0a4dd7067eb7f17af0fe083630d3e5c62f6/detection

[2020-07-14 12:27] bertvanbrakel commented on #5931
I agree. I'm using self signed certs in local/dev/test, on a kubernetes cluster where the certs are generated at runtime, specific to the developers machine. I have my own self signed certs I want to use for that purpose.

My issue is on the consuming client side for now. Surely a callback handler where one can return a true/false whether to accept a cert would do? And maybe log a warning to the l

[2020-07-14 12:44] bartlomieju commented on #6649
Agreed, there shouldn't be `unwrap()` but actual check if allocation succeeded.

[2020-07-14 12:48] bartlomieju commented on #6397
I'm not aware of any. Try asking on https://discord.gg/deno

[2020-07-14 12:48] #6397 closed

[2020-07-14 12:49] danielbeeke commented on #6696
@bartlomieju Does this may it may be a Deno bug?

[2020-07-14 12:49] bartlomieju commented on #6380
Resolved in #6381

[2020-07-14 12:49] #6380 closed

[2020-07-14 12:52] bartlomieju commented on #6363
Thanks for reporting the issue, could you boil down reproduction to some smaller example?

Ref #6057

[2020-07-14 12:52] bartlomieju commented on #6355
Resolved in #6370

[2020-07-14 12:52] #6355 closed

[2020-07-14 12:53] bartlomieju commented on #6344
@jsejcksn does `Deno.mainModule()` solve this issue for you? Can it be closed?

[2020-07-14 12:55] bartlomieju commented on #6319
Please provide more reproduction. `Broken pipe` might happen for number of reasons, eg. the other side of connection closes it abruptly.

[2020-07-14 12:56] bartlomieju commented on #6309
@muuvmuuv these completions are automatically generated by the CLI parser we're using - which is [`clap`](https://github.com/clap-rs/clap). It might be good to ask question there.

[2020-07-14 12:56] bartlomieju commented on #6288
Most likely #1968

[2020-07-14 12:58] bartlomieju commented on #6239
Closing as resolved.

[2020-07-14 12:58] #6239 closed

[2020-07-14 12:59] bartlomieju commented on #6245
@hayd's solution exhausts the described problem. Closing as resolved.

[2020-07-14 12:59] #6245 closed

[2020-07-14 13:02] bartlomieju commented on #6115
I agree with @ry on this one. Closing as won't fix.

[2020-07-14 13:02] #6115 closed

[2020-07-14 13:07] bartlomieju commented on #6688
@thisrashid as described by @ebebbington the issue stems from your OS and fs permissions - it's not caused by Deno.

$ sudo bash
# /home/warlog/.deno/bin/deno run --allow-read index.ts

Root user has access to all directories in your FS. On the screenshot you provided there are `[error opening dir]` tags which suggest that these directories are owned by different user than the one your running cur

[2020-07-14 13:07] #6688 closed

[2020-07-14 13:11] bartlomieju commented on #6696
@danielbeeke we can discuss whether or not Deno should have a "singleton" HTTP client, but that must be dictated by spec for `fetch` API. If it should be shared between all calls then this issue is indeed a bug and should be fixed.

[2020-07-14 13:13] bartlomieju commented on #6705
Not a bug. As described by @nayeemrmn please use tagged version of imports to prevent this issue from happenning again.

[2020-07-14 13:13] #6705 closed

[2020-07-14 13:14] bartlomieju commented on #6712
`crypto` APIs are not yet fully implemented. Please continue in #1891

[2020-07-14 13:14] #6712 closed

[2020-07-14 13:15] ry commented on #6699
Yes - this is all allowed by the MIT license.

[2020-07-14 13:15] #6699 closed

[2020-07-14 13:15] #6720 closed

[2020-07-14 13:16] bartlomieju commented on #6654
@jacobgc is correct. Please describe your use case and continue in #3444.

[2020-07-14 13:16] #6654 closed

[2020-07-14 13:18] bartlomieju commented on #6641
I'm not sure, but it seems that our filter level for log is wrong and allows for `WARN` messages to be shown in addition to `ERROR`. Marking as "help wanted" as it should be straight-forward to repeat and track the problem down for anyone wanting to play with Rust.

[2020-07-14 13:19] #6610 closed

[2020-07-14 13:20] bartlomieju commented on #6607
Closing as resolved.

[2020-07-14 13:20] #6607 closed

[2020-07-14 13:22] bartlomieju commented on #6548
Closing as resolved.

[2020-07-14 13:22] #6548 closed

[2020-07-14 13:22] bartlomieju commented on #6529
CC @caspervonb

[2020-07-14 13:23] bartlomieju commented on #6508
As of `v1.2.0` Deno's `URL` type definition matches definition in TypeScript (which accepts only `string` in `URL` constructor). Closing as resolved.

[2020-07-14 13:23] #6508 closed

[2020-07-14 13:23] #6507 closed

[2020-07-14 13:26] bartlomieju commented on #6501
It's an error coming from the host OS. Does this problem occur using other languages (eg. trying to connect using `Python` and `psycopg2`)? Also it might be better to report this issue in https://github.com/deno-postgres/deno-postgres repo.

[2020-07-14 13:26] #6501 closed

[2020-07-14 13:26] #6466 closed

[2020-07-14 13:37] danielbeeke commented on #6696
See: https://fetch.spec.whatwg.org/#concept-connection-pool

It seems there is a concept 'Connection pool' were connections are reused.
I am not sure if this would mean Deno should reuse the connection.
For me (not too familiar with this spec) it looks like it.

[2020-07-14 13:43] ry commented on #6738
Probably we should start `std/ansi` (`std/term` ? `std/tty` ?) where we can have functions for various things like this.

[2020-07-14 13:51] caspervonb commented on #6529
Related issue https://github.com/denoland/deno/issues/6305

Given that we have an intermediate representation of resources and do not expose file descriptors/handles directly it isn't immediately obvious (to me, at-least) how we should handle this.

First thing that comes to mind is a function to adopt foreign descriptors.

[code]

However, we can't do that as there is no way to enforce the sandbo

[2020-07-14 14:12] frank-dspeed commented on #6607
@bartlomieju it should get documented in the IOS section of deno as current state

[2020-07-14 14:14] lucacasonato commented on #6607
Deno does not provide iOS builds

[2020-07-14 14:17] frank-dspeed commented on #6607
@lucacasonato at present but they are now possible we should keep focus on that there are some ios users around its a big platform and it is target able

[2020-07-14 14:58] gbezyuk commented on #6705
@bartlomieju, with all due respect, I disagree. It's certainly a bug: if not in the product, then at least in documentation.
How could a situation when tutorial's examples refuse to work out of the box not be a bug?

[2020-07-14 15:14] jsejcksn commented on #6344
@bartlomieju No.

1. `Deno.mainModule()` is not a stable API.

2. See [previous comment](https://github.com/denoland/deno/issues/6344#issuecomment-645624617):

[2020-07-14 15:38] nayeemrmn commented on #6344
@jsejcksn I'm a bit confused. `Deno.mainModule` is _not_ replaced by a hardcoded path upon bundling and gives the location of the bundle when called from the bundle. Was that not what you were looking for?

(Also, we don't keep issues open for stabilisation. It's not helpful for tracking.)

[2020-07-14 15:50] jsejcksn commented on #6344
@nayeemrmn

Thanks for informing, and I understand.

Are you saying "there's simply not a stable way to get a relative path to the main module at runtime"?

[2020-07-14 16:16] asontha commented on #6501
No it doesn't, I've recently migrated the backend off of deno into Dropwizard/Java and I'm able to deploy and connect just fine.

Either way, I've also opened an issue with GCP for it: https://issuetracker.google.com/issues/159838780

[2020-07-14 16:30] aricart commented on #6737
Any mechanism for reloading cached versions?

[2020-07-14 16:30] lucacasonato commented on #6737
`--reload`: https://deno.land/manual/linking_to_external_code/reloading_modules

[2020-07-14 16:31] aricart commented on #6737
@lucacasonato thanks - @kitsonk's comment threw me off.

[2020-07-14 17:43] xReveres opened #6744 "Latest update breaks application."
After updating Deno to latest version 1.2.0 I got 2 errors:
[code]
I have global deps.ts file with dependencies but are actual @0.61.0
Also I tried run with argument `-L debug` but no more information.
Any ideas what i can do to locate problem ?

[2020-07-14 17:48] ebebbington commented on #6744
@xReveres see https://dev.to/srnv/deno-1-2-0-url-argument-type-solutions-37m0

The issue most likely resides in any third party dependencies you have, that themselves have outdated dependencies - something is importing from std v0.53.0

[2020-07-14 17:48] nayeemrmn commented on #6744
Duplicate of #6737.

[2020-07-14 18:00] xReveres commented on #6744
@nayeemrmn Thank you, but this issue doesn't help my issue.
@ebebbington Thanks, few minutes ago i tried to do similar steps like in this article:
`deno info --unstable --no-check startup.ts`
Where startup.ts is entry to my application but I got:
`error: Uncaught SyntaxError: The requested module 'https://deno.land/std@0.53.0/async/mod.ts' does not provide an export named 'Deferred'`
Also when I t

[2020-07-14 18:05] ebebbington commented on #6744
In a nutshell, to upgrade to deno v1.2.0, your dependencies must be updated (everything, so dependencies of your dependencies too) though this isn't the case for everything, it's just generally easier to manage - so the `async` module should really be using std v0.61.0. Downgrade to the previous version you were on for the time being

[2020-07-14 18:17] xReveres commented on #6744
@ebebbington Yes as you said, for now I must downgrade deno and restore dependencies.

[2020-07-14 18:17] #6744 closed

[2020-07-14 19:02] aricart opened #6745 "deno bundle"
Deno bundle is awesome, I can drop countless NPM tooling for a non-deno specific project.

One question is how to generate typescript definition files from the bundler, as that would provide the interfaces to code against the es module file generated by the bundle command.

It seems that specifying a config as below has no effect.
[code]

[2020-07-14 19:21] KrisChambers commented on #6468
Thanks for the reply @bartlomieju. I agree, this is probably the most straight forward way to approach it using the `ModuleGraph`.

I will leave `Deps` untouched for now and take a look at it once @piscisaureus has finished the module system refactor.

[2020-07-14 19:22] aricart commented on #6745
This is a duplicate of #3385

[2020-07-14 19:22] #6745 closed

[2020-07-14 19:24] #4307 closed

[2020-07-14 19:28] lucacasonato opened #6746 "bug: type only files are not emitted"
[code]

Try it out locally: `$ deno cache https://git.io/JJsqz`

The quick hacky fix is to forcefully emit an empty file when when tsc skips emitting the file. We know which files we are expecting to be emitted because they should map 1:1 to the input (source) files.

cc @bartlomieju

[2020-07-14 19:51] brandonkal commented on #4867
I'd like to send in a PR for this. Based on the above, I would say the JS API should be:
[code]
To inherit permissions, you would have to declare it:
[code]
Having inherit be the default seems dangerous as you could easily unintentionally give a worker more permissions than desired. An escalation attempt would result in an error as well.

[2020-07-14 20:00] sdhoward opened #6747 "Deno.compile panic easy to reproduce"
Hi,

I'm running this version:

[code]

Example code:
[code]

When I compile, I **expect** to get an exception or an error (yes, the code is obviously incorrect). I expect the Deno program to continue running after evaluating the expression. Instead, the Deno program panics and exits. If this is the same as https://github.com/denoland/deno/issues/6423 then please advise.

`
$ deno run --unstable f