[2020-01-25 17:53] #3786 closed

[2020-01-25 17:59] ry commented on #3789
I do really like the Rust path class...

[2020-01-25 21:50] Dan503 commented on #1826
It would be nice if the watcher could tell the difference between adding/removing a file and simply renaming it.

Chockidar can't tell the difference between renaming and adding/removing so when you rename something it will fire both an "add" event and a "remove" event. This can lead to tasks being run twice when you rename a file.

[2020-01-26 00:40] aadamsx commented on #3625
I'm getting this error while trying to add deno to a docker container like so:

```docker build -t app . and docker run -it --init -p 1993:1993 app  ```

[code]

The code is a simple test:

[code]

[2020-01-26 01:07] aadamsx commented on #3356
Currently trying out https://github.com/hayd/deno-docker

[2020-01-26 02:20] Dan503 opened #3793 "`deno bundle` does not support tsconfig.json"
[code]

[code]

[code]

So I add a `tsconfig.json` to the root of the project:

[code]

I still get the same error:

[code]

I go searching for an answer and based on [this merged pull request](https://github.com/denoland/deno/pull/2089) it looks like I need to add `--config tsconfig.json` to the command.

[code]

[code]

Deno version: `0.31.0`

[2020-01-26 04:06] Fenzland opened #3794 "new panics on 0.31 with workers"
### setTimeout in worker panicks
[code]

[code]
It runs fine on and before 0.30, but panick in 0.31:
[code]

### open worker in worker panicks
[code]

[code]
It runs fine on and before 0.30, but panick in 0.31:
[code]

#### Env
Ubuntu Linux 18.04
deno 0.31.0
v8 8.1.108
typescript 3.7.2

[2020-01-26 04:31] kevinkassimo commented on #3794
cc @bartlomieju since there are major refactoring of worker recently

[2020-01-26 04:44] srackham opened #3795 "Install command wrapper passes spurious "--" option to executable"
Deno 0.31.0, Ubuntu 18.04, bash shell.

Wrapper scripts created by the Deno install command (`deno install [EXE_NAME] [URL] [FLAGS...]`) insert a spurious "--" argument after the `URL` instead of before it so the first command argument passed to the executable is always "--" e.g.

    "deno" "run" "--allow-read" "https://deno.land/std/examples/cat.ts" "--" "$@"

should be:

    "deno" "run" "--all

[2020-01-26 04:51] kevinkassimo commented on #3795
This is due to https://github.com/denoland/deno/pull/3681 , unfortunately we are having some minor issues and debate over how to do user flag processing...

[2020-01-26 06:45] kt3k commented on #2553
What is the expected behavior for this?

Should we replace `import.meta` with something like the below?

[code]

[2020-01-26 09:35] bartlomieju commented on #1826
Ref #3452

[2020-01-26 09:39] dubiousjim commented on #3469
@nayeemrmn Please no, because I want to be able to pass `-- more args` to my `<script>`. On @ry's proposal (also without deno handling `--` in any special way), I can still do that. On Ryan's proposal (merged in #3621 , reverted in #3681) it would look like:

[code]

The first `--` is a signal to deno, but the second one still gets passed to my script. On the strategy @nayeemrmn's proposing, it's

[2020-01-26 10:29] bnoordhuis commented on #3696
I can make it work when I disable `--harmony_top_level_await` because then the result of `module.evaluate()` is the last expression of the module:
[code]
With this change `deno eval 42` prints `[object Promise]` with and `42` without the flag:
[code]
(The result of the promise is `undefined`, as mentioned above.)

[2020-01-26 11:10] bnoordhuis opened #3796 "`deno eval` does not support --v8-flags="
This should work AFAICT but doesn't: `deno eval --v8-flags=--expose-gc,--trace-gc 'gc()'`

[2020-01-26 14:49] #3796 closed

[2020-01-26 17:55] cjbassi commented on #3789
I thought about it some more, and I think there might be some ergonomic issues with functions that take a path class since they would have to specify `Path | string`. I'm not super familiar with typescript, so I'm not sure if that would cause any issues with functional implementations either.

[2020-01-26 18:44] #3772 closed

[2020-01-26 18:59] #2934 closed

[2020-01-26 19:01] aadamsx commented on #1456
I make heavy use of Azure Functions these days but I don't think Deno will work in this enviornment.  I could use Azure Apps and deploy inside a container, but I have yet to get a Docker container working under Deno for some reason.

[2020-01-26 19:22] artisonian commented on #3793
I ran into this issue as well while trying to bundle a file with decorators. The CLI flags got cleaned up in #3365, so I'm not sure if removing `config` for bundling was an oversight.

[2020-01-26 21:15] Dan503 opened #3799 "Should "dom" lib be added to the default tsonfig?"
After watching some conference talks on YouTube I thought I would try giving it a go.

I ran into this issue though when playing around with it:
https://github.com/denoland/deno/issues/3793#issuecomment-578533918

One of the core tenants of Deno is that Deno should be browser compatible:
https://youtu.be/z6JRlx5NC9E (11:55)

Currently by default the tsconfig will cause errors to be thrown if you u

[2020-01-26 21:34] Dan503 opened #3800 "No way to tell what your current installed script commands are or edit them"
One of Denos features is to define script aliases using the `deno install` command.

For example

[code]

And now you can run

[code]

This is great but the problem is that I don't think these aliases are able to be tracked.

You have to remember all the aliases you have set up. If you come back to an old project after 6 months, there is no way you will be able to remember all your old aliases for

[2020-01-26 21:34] ry commented on #3799
Yea makes sense to me.

[2020-01-26 22:15] dyedgreen opened #3801 "std benchmarks should be able to return results to caller"
It would be useful, if the benchmark runner in the standard library could somehow return the benchmark results to the caller. This might e.g. be useful if you want to record previous benchmark results during CI.

[2020-01-26 22:21] nayeemrmn commented on #3800
Hmm, that's not what `deno install` does. Have you checked that those commands work?
`deno install exe path/to/script.ts` in general creates an "executable" `exe` in `~/.deno/bin` (this should be in your path) so you can run the command `exe` and it would do as `deno run path/to/script.ts`. It's mostly meant for installing remote utilities as shown in the examples -- in which case it's more clearl

[2020-01-26 22:31] Dan503 commented on #3800
Sorry, I was confused about what install actually does based on what I saw on YouTube.

It looks like the register functionality in the comment you linked essentially solves the problem of wanting something akin to npm scripts.

[2020-01-26 22:31] #3800 closed

[2020-01-26 22:39] nayeemrmn commented on #3793
`deno bundle` isn't for browser code! It's just for bundling your Deno runtime code into a single JS file.

[2020-01-26 22:43] nayeemrmn commented on #3799
This is the reverse of what we mean by browser compatibility. Deno doesn't have a `document` and it compiles stuff it's supposed to be able to run.

Maybe you just meant the tsconfig used for `deno bundle`? See https://github.com/denoland/deno/issues/3793#issuecomment-578550811.

[2020-01-26 22:54] Dan503 commented on #3793
Why not? It seems pretty reasonable for someone to want to create a bundled version of their browser based JS code by just running `deno bundle`.

[2020-01-26 23:01] Dan503 commented on #3799
That was what essentially inspired this issue. If I run `deno bundle` I believe it should be able bundle browser based code.

[2020-01-26 23:03] nayeemrmn commented on #3793
See #3726. This would allow one to easily create a userland module which acts as a compiler for browser code. This functionality shouldn't be explicitly be built-in. One awkward subcommand which has anything to do with frontend code, while no other does, wouldn't be reasonable.

[2020-01-26 23:04] Dan503 commented on #3799
If I use the `Deno.bundle()` API in a file that is run using `deno run` then that should be able to understand browser based code as well by default.

[2020-01-26 23:18] Dan503 commented on #3793
Maybe think of it this way.

The web dev community have browserify, rollup, and webpack. All of these are essentially JS code bundlers for bundling front end code.

Now Deno comes along and says "hey look everyone! We have code bundling built directly into the system. No plugins required!"

Everyone goes and tries to use Deno to bundle their front end JavaScript just like how they have been using

[2020-01-26 23:26] cknight opened #3802 "Support reporting of CPU information"
I am looking into the Node polyfill for 'os' ( #3403 ).  Node offers the `cpus()` function to get information about the logical CPU cores.  See [cpus() API](https://nodejs.org/api/os.html#os_os_cpus).  Deno does not currently seem to offer any way to get at this information and new functionality will need to be added to Deno to complete this polyfill.

[2020-01-26 23:26] cknight opened #17850 "Support missing node/os functionality"
I am looking into the Node polyfill for 'os' ( denoland/deno#3403 ).  The following Node functionality does not seem to be available in Deno:

- [x] `cpus()` - to get information about the logical CPU cores.  See [node API](https://nodejs.org/api/os.html#os_os_cpus).
- [x] `endianness()` -  the endianness of the CPU for which the Deno binary was compiled.  See [node API](https://nodejs.org/api/os.

[2020-01-26 23:39] FranciscoImanolSuarez opened #3803 "Translate all the documentation into Spanish"
Hello, I would like to be able to translate all the documentation into Spanish, could you take that task?

[2020-01-27 00:39] nayeemrmn commented on #3543
@wjw99830 Can you close this?

[2020-01-27 01:08] nayeemrmn commented on #3793
@Dan503 If I did randomly assume that the bundle command on this runtime meant bundling for some other runtime, I would be annoyed at myself, sure.

But the issue of whether or not to have this feature is discussed starting here https://github.com/denoland/deno/issues/2475#issuecomment-526993668. The gist of it is that a "good" bundler does a _lot_ more than what is already given here. It doesn't

[2020-01-27 02:42] PandawanFr commented on #3799
As a temporary fix, I found that appending this at the top of the file works (though VSCode/non-deno-typescript will throw errors).
[code]

[2020-01-27 04:56] artisonian commented on #3793
Even so, my issue was not being able to enable experimental decorators, which is still valid if you want to distribute a bundle without requiring someone else to add a `tsconfig.json`.

[2020-01-27 06:59] kitsonk commented on #2553
Hmmm... Possibly...  Just checking with recent versions of TypeScript and `import.meta` works under SystemJS modules, and that is the module format we are going to have to move to for bundling in order to support TLA (because AMD is likely to never support it).  It might "just work" but our SystemJS loader will need to supply it base on what the down-emit look like.

[2020-01-27 07:01] kitsonk commented on #2553
So this:

[code]

Emits as this for System, which I already have a branch where I am trying to move bundling to System and supply the context, so just need to supply the right value:

[code]

[2020-01-27 07:05] kitsonk commented on #3799
@ry, no I would rather deliver #3726 and only have these apply to the runtime compiler APIs... Allowing other libs through that Deno doesn't support itself and typechecking against it erodes the value of TypeScript build into Deno IMO.

[2020-01-27 07:07] kitsonk commented on #3793
It should support `tsconfig.json`, but just like `deno run` it will always ignore the `lib` library.

For bundling for a browser, you want to use `Deno.bundle()` with #3726 being delivered.

[2020-01-27 07:43] keyboard-clacker commented on #47
I know this is an old thread but I hadn't seen anyone mention one big plus I see from the package management tooling we have right now, which is I can do `import express from 'express'`. If every time I have to go pull the URL and paste it into my code, realistically this is probably a huge blocker for me and I imagine other programmers to use this runtime/language/tool.

While I love the concept

[2020-01-27 08:07] hayd commented on #47
@keyboard-clacker you can do this as a `deps.ts` file which imports/exports the relevant urls ([for example](https://github.com/chiefbiiko/dynamodb/blob/e95f248c2528ad7fb4e2e4bfcd924b4eb091cc67/deps.ts)). This means you only need to update the `deps.ts` file if it's a non-breaking change.

An alternative is to use importmap.

[2020-01-27 11:48] Soremwar commented on #3803
I would be glad to colaborate into this as well, however I think this is an issue for the Deno webpage rather than Deno crate

[2020-01-27 13:23] mrgrain commented on #1456
Hey @aadamsx Could you follow this tutorial to create a custom runtime for Azure Functions?

https://docs.microsoft.com/en-us/azure/azure-functions/functions-create-function-linux-custom-image?tabs=portal%2Cbash&pivots=programming-language-csharp

[2020-01-27 13:51] ry commented on #3799
@kitsonk You make a good point that Deno shouldn't accept code that it can't run. I retract my "makes sense" comment above. I think we all agree that we need to make a non-buggy workflow for users to have DOM APIs in their isomorphic apps.

@PandawanFr I actually think that solution is pretty cool....

[2020-01-27 13:57] ry commented on #3803
Thank you for the offer, it would certainly be helpful for spanish-language users. That said, we're early in development and maintaining just the english documentation is a struggle. I also don't speak Spanish, so wouldn't be able to properly review changes. That's all to say, please go for it, but it should be done in a separate repository. Let us know if this happens! I'm closing this issue, sin

[2020-01-27 13:57] #3803 closed

[2020-01-27 14:41] keyboard-clacker commented on #47
@hayd oh amazing, I didn’t know about importmap, that’s exactly what I want! Ahah. Thanks for the info! I’ll try out and use that :)

[2020-01-27 15:53] sh4hids opened #3805 "Getting panic error when try to run deno"
I am getting the following errors when I try to run `deno` or `deno repl`:

[code]

If I run `RUST_BACKTRACE=1 deno` I get this:

[code]

My OS is `Deepin Linux 15.11`, `deno` version `0.31.0`

[2020-01-27 17:15] ry commented on #3805
I suppose you’re on a machine with only one core? Can you cat /prof/cpuinfo ?

[2020-01-27 17:20] cknight commented on #3403
I'm working on the 'os' polyfill, though as discussed in #3802 there's a lot of functionality Deno is missing.

[2020-01-27 19:51] Dan503 commented on #3799
Ok so the answer to the question is:

No, Deno doesn't have a DOM so the DOM lib shouldn't be applied by default.

[2020-01-27 19:51] #3799 closed

[2020-01-27 20:33] PandawanFr commented on #3726
As I mentioned in #3799, you can use [the triple slash directive](https://www.typescriptlang.org/docs/handbook/triple-slash-directives.html) to reference libraries in a specific file.
[code]
But perhaps allowing for simply `lib="dom"` like regular typescript would be nice.

In addition, some kind of option in the Deno.compile/bundle functions would be good (so that you don't have to reference the

[2020-01-27 20:52] Dan503 opened #3807 "Should `deno bundle` be renamed?"
While Deno is still in version 0.x, a name change away from `deno bundle` is still an option.

The word "bundle" is extremely loaded with developer expectation. Most developers will expect `deno bundle` to basically be an in-built version of Roll-Up.

You seem to be strongly opposed to the idea of `deno bundle` being used as a general purpose bundling service. Maybe it should not be called "bundle

[2020-01-27 20:54] Dan503 commented on #3807
If the `Deno.bundle()` runtime API isn't intended to be a general purpose bundling service then that should maybe be renamed as well.

[2020-01-27 20:58] ry commented on #3807
General purpose is the intention. We don't have the infrastructure for a lot of it right now, like minification and tree shaking (so they can't easily be done) but maybe some day we will. I think the name is fine.

[2020-01-27 21:46] realharry opened #3809 "`deno repl` does not support typescript"
Deno claims to be a "secure runtime for JavaScript and TYPESCRIPT", and it is one of the main reasons why I started looking into Deno.

And yet, a simple test on `deno repl` shows that the typescript is not really supported. Is this by design? Is this Deno's technical limitations?

For me, personally, being able to transpile Typescript to Javascript has relatively low value. Whether I compile the

[2020-01-27 21:49] realharry commented on #3809
I did a very simple test to check if typescript was supported in REPL:

[code]

[2020-01-27 21:50] kitsonk commented on #3726
Yeah, I think this should be pretty straight forward, and would allow `/// <reference lib="dom" />` to work as well.  I was going to work on something else next, but given there is demand for it from folks, I will start working on this now.

[2020-01-27 21:51] kitsonk commented on #3799
@Dan503, yes, but we should have a way to support including it in some fashion.  As mentioned in #3726, I am starting working on a solution.

[2020-01-27 22:01] ry commented on #3809
It's a technical challenge to overcome. It will feel laggy if we compile TS in the REPL. @bartlomieju actually has a patch for it here https://github.com/denoland/deno/pull/3760, but I'm torn because most of the time in a REPL you don't care about type and rather want one-off calculations.

Deno tries to be "JavaScript first" - meaning that there is much less overhead to running JS and JS users sh

[2020-01-27 22:01] #3809 closed

[2020-01-27 22:02] cretz commented on #3726
@kitsonk - Awesome! Ideally this work could also help #2633 where an embedder can programmatically determine which libs to include also.

[2020-01-27 22:09] Dan503 commented on #3807
Ok, if the intention is to have `bundle` be a general purpose bundling service at some point in the future then it is best to keep the name as is.

[2020-01-27 22:09] #3807 closed

[2020-01-27 22:11] Dan503 commented on #3799
So does that mean this issue should be reopened?

[2020-01-27 22:14] cknight commented on #1158
No idea about the practicality of this suggestion, but could you have the best of both worlds by having the typescript support enabled through a flag?  In other words, one REPL (e.g. loaded via `deno`) for javascript and another for Typescript (e.g. loaded via `deno -ts`).

[2020-01-27 23:12] kitsonk commented on #1158
Yeah, feels like we will need some sort of flag, because it is a bit heavyweight to have TS always on in the REPL.  Technically, it shouldn't be too hard.

[2020-01-27 23:13] kitsonk commented on #3799
No, as we don't want it to be defaulted to be on.  Closing #3726 should meet everyones use case in a way that is supportable the long term.

[2020-01-27 23:15] ry commented on #1158
Striping types should be easy enough - i kinda think v8 should be able to do it... I wonder if they would accept a patch to add an API for that...

[2020-01-27 23:30] kitsonk commented on #1158
So, Babel does that.  The TS team worked with Babel to ensure the lexer could "ignore" TS.  So the logic is there and I suspect documented in some fashion.  It is more than just types though, as there are some TypeScript syntax which has a functional emit and isn't erasable (which they avoid like the plague now), specifically `enum` and `const enum` come to mind.  (There are also some legacy thing

[2020-01-27 23:42] sh4hids commented on #3805
This is what I got after running `cat /proc/cpuinfo`:

[code]

[2020-01-28 01:16] artisonian commented on #3345
Im wondering about this too. Signals in v0.31.0 probably could have leveraged them for disposing the signal stream.

[2020-01-28 04:27] kitsonk commented on #3803
The community does a decent job of making information available in other languages.  A list can be seen here: https://github.com/denolib/awesome-deno#resources-in-other-languages and I am sure contributions in Spanish would be very welcome there.

[2020-01-28 04:30] kitsonk commented on #3794
It would be good to get a full backtrace too, `RUST_BACKTRACE=1 deno run index.js` for example.

The first panic looks like a missing op ID.

[2020-01-28 06:47] isAdrisal commented on #3794
Confirm same panic/regression on v0.31.0 using the first setTimeout example.

RUST_BACKTRACE output below.

Windows 10 1909
deno 0.31.0
v8 8.1.108
typescript 3.7.2

[code]

[2020-01-28 08:58] bartlomieju commented on #3794
Already fixed in #3728, pending release

[2020-01-28 08:58] #3794 closed

[2020-01-28 09:57] bartlomieju opened #3811 "discussion: Bring back permission prompt behind a flag"
Before https://github.com/denoland/deno/pull/3183 Deno was prompting for permission if one was missing. This functionality could have been disabled using `--no-prompt` flag.
After that patch, an error is always thrown if permission is missing, the only way to prompt for permission is to use `permissions.request()` JS API.

IMHO `prompt` mode is very useful and can be used when first time running t

[2020-01-28 10:08] manyuanrong commented on #3448
I am currently trying to write a mongodb driver with `plugin`, and I have some opinions on this.
1. The current use of `openPlugin` makes it very difficult to distribute our plugins. This will be very difficult in practical applications.
2. If our ultimate goal is to make the plugin loading consistent with `js / ts`, using` import` loading, I think it is good. But as discussed earlier, the file na

[2020-01-28 11:23] isAdrisal commented on #3811
The permissions prompts would go some way to alleviating the frustrating UX I described in #3655.

[2020-01-28 12:37] sh4hids commented on #3805
I can confirm that deno works up to `v0.27.0` on my machine:

![deno_in_action](https://user-images.githubusercontent.com/25576246/73264499-29151400-41fd-11ea-900a-9584f2a95088.png)

[2020-01-28 14:39] David-Else commented on #3793
I think @Dan503 is correct, his described case scenario happened to me.

@nayeemrmn

I never assumed that Deno would only bundle for it's own run time, maybe that was naive, but I am sure I will not be the only person to think that. When you say 'some other run time', there really only is deno, node and the browser in the mainstream. Node can be considered legacy, so that leaves only two run times

[2020-01-28 15:14] chris-carrington opened #3813 "Dynamic import error has no stack trace"
Hi deno team! Amazing + inspirational product! Thank you all for creating + maintaining this beauty!

I run my program `deno --allow-net app.js`

And get this error `error: Uncaught TypeError: run again with the --allow-read flag`

Is there anyway to know **who's** reading, aka: what file + line in my code base is attempting to read. And/or **what's** trying to be read, aka: this directory or file

[2020-01-28 15:20] bartlomieju commented on #3813
Hey @chris-carrington, thanks for opening the issue. Just yesterday we landed a patch that improves DX in this situation: https://github.com/denoland/deno/pull/3808

It will be included in the next release. Let me know if this solves your issue

[2020-01-28 15:23] nayeemrmn commented on #3813
@chris-carrington Are you not getting an error stack below that line? What does it say exactly?

[2020-01-28 15:37] kt3k commented on #3811
We have `permissions.query()` API for checking the current API state. If we check and verify all the permissions at the start of the program, we can avoid frustrating situations like the example described in #3655.

I think we can even develop the wrapper for such checking routines.

[code]

[2020-01-28 15:56] chris-carrington commented on #3813
Holy smokes y'all are fast! Much respect thank you @bartlomieju & @nayeemrmn!

Very excited to hear about this patch @bartlomieju!

All I'm seeing today is a one line error @nayeemrmn!

[code]

[2020-01-28 15:59] bartlomieju commented on #3813
@chris-carrington can you share your `app.js`? This seems like a bug

[2020-01-28 16:15] chris-carrington commented on #3813
Thank you @bartlomieju! I've attached my app.js. I'm building an open source project named hera which is all local atm. Without hera this file's kinda wtf lol

This is why I'm super excited about some detailed error messaging so we may identify who's reading files and/or what files are being read!

**app.js**
[code]

[2020-01-28 16:19] bartlomieju commented on #3813
@chris-carrington I have a hunch that this error originates from dynamic import of local file, do you have such in your code?

[2020-01-28 16:30] chris-carrington commented on #3813
I appreciate your assistance @bartlomieju!

I do have a dynamic import in my `hera.configEndpoints()` code, here's a condensed version!

[code]

I just tried to allow-read to the endpointsPath but I'm still getting the error. The endpoints folder just has a bunch of js files in it, no folders
[code]

[2020-01-28 16:33] bartlomieju commented on #3813
Bingo! This is indeed bug, there should be stack trace supplied with error.

@chris-carrington `--allow-read=/endpoints` means that you allow Deno to access `/endpoints` directory - is you `$config.endpointsPath === "/"`? Otherwise you need to adjust paths accordingly

[2020-01-28 16:43] chris-carrington commented on #3813
Thank you so much @bartlomieju, I'm learning a ton from you & you're speed boggles my mind!

`$config.endpointsPath` === `../../hera-olympus/deno/endpoints/`

I am currently running all deno commands @ `../../hera-olympus/deno/`

Which is why I'm thinking `--allow-read=/endpoints` should work

Because when I run `ls`, we're @ the `/endpoints` level

[code]

I put a `console.log` above + below the

[2020-01-28 18:49] nayeemrmn commented on #3378
@ry Now that `--allow-plugin` exists and introduces the same problem, I think trying to achieve what this issue suggests will lead to complication and inconsistencies. As many have pointed out, neither would be redundant with whitelists. Close this?

[2020-01-28 18:51] kevinkassimo commented on #3811
While `assertPermissions` might help, it feels like when people actually write and share small scripts, they sometimes might want to simply let the user accept individual requests (mostly allow once) in an interactive way. Explicitly requesting for permission, while more robust, makes simple scripting a bit harder.

Also some paths cannot be predetermined until runtime during interaction, so `asse

[2020-01-28 18:56] nayeemrmn commented on #3811
Maybe implied but I want to point out that `assertPermissions()` is something we very much want either way. It avoids aborting the program in a dirty state and acts as documentation. It won't always be top-level code, it might be at the top of a function.

[2020-01-28 19:55] afinch7 commented on #3805
For some reason tokio thinks you have more than 512 threads. What is the output of `cat /proc/cpuinfo | grep "physical id"`?

[2020-01-28 20:38] uasan opened #3815 "Deno runtime in headless browser"
Hi.
Perhaps this has already been discussed, but I did not find.

IBM is already successfully experimenting with this.
https://github.com/IBM/browser-functions/blob/master/docs/index.md

There are a lot of advantages in this approach, native `Web API` from the browser manufacturer, `SSR` out of the box, only the I/O (fs, net) in the userland is missing, Deno can provide it.

How's the idea for you

[2020-01-28 22:20] kitsonk commented on #3793
I think there are a few points...

Treating "browser" as a single runtime is folly.  While the evergreen browsers are adopting most features quite quickly, there are still quite a few gaps.  Once you add in needing to target mobile browsers and IE11 (a reality for a lot of corporate environments), you now have a really uneven landscape still.  It is far from a single runtime.  The web platform is

[2020-01-28 23:12] kitsonk commented on #3815
That would be a different project than Deno.

[2020-01-28 23:24] kitsonk commented on #3811
If the friction of sharing small scripts without prompts is not good UX, because "people forget", would `--prompt` make it easier?  Seems like having an opt in is causing the problem.  I like the fact that we can gone to the standard permission API.

I wonder though if we change the behaviour though, and then we prompt instead of throw by default, and only throw if we get a `n` to the prompt.  Con

[2020-01-28 23:31] uasan commented on #3815
But with the same consumer qualities that Deno now declares, but there really is a single environment for the frontend and backend.
You can reuse ready-made solutions from browsers - Web Worker, fetch (HTTP cache), std: modules, ...

[2020-01-29 04:01] axetroy commented on #3378
@rsp

use `--allow-run=/bin/ls --allow-run=/usr/local/bin/htop --allow-run=/usr/bin/gzip` seem good.

But there are libraries that need to be cross-platform, and each platform runs a different script

Once more libraries are referenced by the project

Then the `--allow-run=xxxx` required for running will become very long.

For example a library I wrote [deno_machine_id](https://github.com/axetroy/

[2020-01-29 04:23] brandonkal commented on #3378
It could parse as a CSV list to keep the whitelist args approach shorter. I like the flexibility. If you must maintain a long list you could put the whitelist in code before calling the library.

[2020-01-29 08:52] bartlomieju commented on #3811
So... you want to keep current API, but go back to prompting by default and disabling prompt with `--no-prompt` flag? If so, I'm +1 for that

Got you covered - https://github.com/denoland/deno/issues/3813

[2020-01-29 11:25] kitsonk commented on #3811
That is my opinion, yes. I don't know if we end up getting opinionated about things like Node.js and vary the default behaviour based on `ENV` environment variable, where we don't prompt in Production.

[2020-01-29 13:44] hayd commented on #3811
👍 to --prompt.

[2020-01-29 14:36] Soremwar commented on #1120
Hey guys, something caught up my attention while reading about Node's debugging environment.

From Node's official documentation

![node_debugger_security_issues](https://user-images.githubusercontent.com/42647963/73365633-974bec00-427a-11ea-929a-173eebe438db.png)

How much of Deno's security system is applied in behalf of the debugger? Should we specify access flags for the debugger as well?

[2020-01-29 14:41] Soremwar commented on #2473
Is there an issue for "**The web-server should be faster.**" feature?

Also it seems that #2934 is resolved, so "**referencing d.ts files**" can be ticked.

[2020-01-29 17:47] ry opened #3817 "Remove ansi_term dependency"
Unfortunately we depend on two crates which provide terminal colors: termcolor and ansi_term. They essentially do the same thing. I want to remove ansi_term.

I believe ansi_term is used only the cli/color.rs module: https://github.com/denoland/deno/blob/v0.31.0/cli/colors.rs

This is a good first issue - it's a purely Rust job.

[2020-01-29 17:54] #3282 closed

[2020-01-29 17:54] #3727 closed

[2020-01-29 17:54] ry opened #3818 "replace prettier with dprint for "deno fmt""
https://dprint.dev/
https://github.com/dsherret/dprint/tree/master/packages/rust-dprint-plugin-typescript
dprint is a TS formatter written in Rust by David Sherret @dsherret

[2020-01-29 17:55] brandonkal commented on #3811
If rather not see this. As a user, I'd like the script author to provide reasons for permissions requests "we need write permissions on x to save your settings" etc etc. An implicit prompt in the middle of execution doesn't sound pleasant. I'd rather it all be upfront.

[2020-01-29 18:04] ry commented on #3811
I am also against this. I like the explicitness of the current setup - I like that it corresponds to browser behavior. As @kt3k said, we just need some utility to allow people to ask for permission more easily - it could be a one liner.

[2020-01-29 18:13] nayeemrmn commented on #3818
Based on this, https://github.com/denoland/deno/issues/3427#issuecomment-560124520 and #3806, is the goal to not have any `std` dependent subcommands at all? That would solve a lot of problems. No one's mentioned moving over the test runner which seems like one of the easier ones to move.

[2020-01-29 18:17] bartlomieju commented on #3818
That's correct. Test runner is more tricky though. First it shares some functionality with formatter (walking dir tree and finding matching files), so it should wait until we land it. Second, test runner still needs to run tests - this is done by `runTests` method from `std/testing/mod.ts`. It definitely needs more thought.

[2020-01-29 18:27] brandonkal commented on #3811
I like the idea of a helper utility. It would be especially nice if it accepted or even required a reason:
[code]
Mobile app stores also require explicit permissions but as an explanation is not required. That means no explanation for the permission request is the norm. If a helper made this extremely easy to do, Deno may avoid the same problem.

[2020-01-29 18:40] kumaran-14 commented on #3817
@ry I'd like to take this up. Seems straight forward. Replace these ansi_colors
[code]
with termcolor equivalent

[2020-01-29 19:12] nayeemrmn commented on #3818
Moving `test()` and `runTests()` to ops shouldn't be very difficult -- `testing/mod.ts` is kind of messy (e.g. it shouldn't have any original exports) so it's hard to tell exactly, but they're quite isolated. The only non-trivial dependency is the glob expander which is easy to replace in rustland and an inevitability in the CLI. No reason to be blocked by the formatter.

Rather, a blocking point

[2020-01-29 19:54] bartlomieju commented on #3818
That's correct;

I will open up formatter PR shortly, @nayeemrmn I would very much welcome help on glob expander and include/exclude filter.

[2020-01-29 20:02] artisonian commented on #3768
Not sure if this is a bug:

https://tools.ietf.org/html/rfc7231#section-3.1.1.4

Looks like CRLF is required for multipart messages.

[2020-01-29 20:05] kitsonk commented on #3811
Assert sounds like it would throw if not present, request permission or check permission would make more semantic sense.

[2020-01-29 20:10] hayd commented on #3811
Why shouldn't it throw?

[2020-01-29 20:15] brandonkal commented on #3811
I would expect it to throw. As much as I dislike exceptions in general, if a program doesn't have the permissions it needs to run, there is nothing the author can do.

I suppose you could want net only for telemetry and disable it if not allowed. That would be in a seperate helper i.e. requestPermissions.

[2020-01-29 21:00] crookse commented on #3768
So my text file (the one that fails the test) is invalid because it only contains LF? When I encountered this bug, I passed in a .txt file I created from TextEdit. The parser couldn’t read it. If CRLF is required, how can I get my text files to include CRLF on my Mac? Seems a bit annoying to have to rework the files you pass to the parser just to get it to read your files. In that case, I’m screwe

[2020-01-29 21:09] rafaelvargas commented on #3768
I agree with @artisonian. I don't really think it's a bug. The file named [sample.txt](https://github.com/denoland/deno/blob/9f1e4237a590f79fbb7748d9bfaea4a701f8f4f8/std/mime/testdata/sample.txt), used to test the method ```readForm``` from ```MultipartReader```, seams to follow the syntax rules that are defined by IETF for multipart HTTP bodies.

The common syntax for multipart HTTP bodies can be

[2020-01-29 21:38] Soremwar commented on #3793
I have always tought of `deno bundle` that way.

There is a need for a browser-oriented bundle yeah, but the workload of all that environment should be directed as a side-tool, and not a main goal of the project.

Deno provides a set of tools that Node lacks or treats vaguely that were in many case solved by the community supporting Node, as is the case of Webpack, Prettier, ESLint (well maybe not

[2020-01-30 01:17] sh4hids commented on #3805
@afinch7  This is the output of `cat /proc/cpuinfo | grep "physical id"`:

[code]

[2020-01-30 02:16] #3818 closed

[2020-01-30 02:28] kitsonk commented on #3811
Because...

So `assertPermission` would not fulfill this requirement.

We need a low friction way to prompt the user to grant permissions, with the code expressing the reason why it is requesting the permission... like "In order to serve static assets, we need to allow reading from the file system."

[2020-01-30 02:33] kitsonk commented on #3818
Also, I guess this is a breaking change that removes #3033, where some people will have expectations around those configs.

[2020-01-30 03:00] kitsonk commented on #1120
The debugger would not be able to elevate the Deno permissions, as all access is through the Rust ops.  You can still run arbitrary code over the debug port, but only with the permissions that have been given to that workload.  Leaving a debug port open in production is still a "bad" idea.

[2020-01-30 03:09] nayeemrmn commented on #3818
Are we going to change the default rules to be more like prettier's? The current ones are yucky.

[2020-01-30 03:17] dsherret commented on #3818
@nayeemrmn see #3824. Let me know about any other changes that should be made or configuration added.

[2020-01-30 03:26] crookse commented on #3768
deno authors,

I took another look at the way I was parsing my file. Below are my findings and the steps I took. I am running macOS Catalina Version 10.15.2.

1. I created a file named `test.txt` using VIM - Vi IMproved 8.1 (2018 May 18, compiled Oct 30 2019 23:05:13):

[code]

2. I created a deno file named `app.ts`:

[code]

3. I run the app:

[code]

Now what's strange about this finding is tha

[2020-01-30 03:57] srackham opened #3825 "Deno bundler circular imports error"
[This minimal Gist](https://gist.github.com/srackham/dd1f86ece0c6e2166506de3de05c5607) contains a circular dependency. It is valid TypeScript and it executes fine with the Deno `run` command but the bundled JavaScript code throws an error:

m1.ts
[code]

m2.ts
[code]

Here's what happens when `m1.ts` is run and when `m1.ts` is bundled and run:

[code]

Issue [#653](https://github.com/denoland/deno

[2020-01-30 04:13] hayd commented on #3811
However, if you assert prior to the main execution then it is valuable, the complaint seemed to be people running a slow script only for it to fail near the end. If the assert is immediate then that isn't the issue. (Especially if it says all the flags you need.)

[2020-01-30 04:21] #3729 closed

[2020-01-30 04:42] kitsonk commented on #3825
Thanks for the test case... I will have to take a deeper look, but it is possible that we have a defect in the instantiation.

[2020-01-30 04:46] kitsonk commented on #3811
@hayd asserting early certainly is nice, requesting permissions is nice too...  The issue is titled "Bring back permission prompt" though.  Ry's comment of what is needed refers to prompting, so it feels to me solutions proffered should be focused on making prompting easier. 🤷‍♂

[2020-01-30 05:05] srackham commented on #3825
The error occurs because:

1. `getExports()` is called recursively a second time for module `M1` before the first call has completed.

2. Because the M1 `factory` property has been deleted the second call assumes that a previous call has resolved `M1` exports and returns the as yet unpopulated exports object.

3. So when the M2 factory function executes it fails to find `M1.f1()`.

[2020-01-30 08:24] dubiousjim opened #3826 "want: Deno.seek/seekSync to return position in file"
As far as I can tell, there's no way to query what is the current position that a file descriptor is prepared to read from/write to. Normally that would be the return value of `seek(0, SEEK_CURRENT)`. But Deno's seek methods return void.

The [underlying Rust method](https://doc.rust-lang.org/std/io/trait.Seek.html) does give a return value. But I'm not conversant enough with Rust and the relevant

[2020-01-30 08:48] bartlomieju opened #3827 "fmt: add config flag"
Tracking issue for flags that were removed in #3820, but are useful:

So probably we'd want to bring back 3 flags in total:
- <s>`--stdout` print formatted file to stdout instead of writing to disk (mutually exclusive with `--check`)</s> (#3920)
- <s>`--ignore-path` - do not format/check files specified in this flag, IMHO `--exclude` is better (and shorter)</s>
- `--config` - flag to read config f

[2020-01-30 09:10] bartlomieju commented on #3811
It looks like a controversial topic... I'm gonna double down on my opinion about using `--prompt` flag - that way current behavior is preserved, but it'd be still possible to go through permissions one-by-one during runtime.

Assert/ask/verify permissions when script starts does not really solve the issue at hand;
- firstly, that assert would have to be added by library author and one can't expect

[2020-01-30 11:51] sepiropht commented on #3817
Not so easy to replace `ansi term` as there is a two method `paint ` and `Fixed` which have no equivalent in crate  termcolor.
Or i missed something ?

[2020-01-30 14:06] ry commented on #3826
Should be an easy fix for someone who wants to explore how we execute ops.

[2020-01-30 14:07] ry commented on #3817
Yes might be not so trivial as just replacing the colors. But still I think it's not too difficult - some methods might need to be refactored.

[2020-01-30 18:28] caian-gums commented on #3826
Can I take this issue? I just took a look at the repo and this seems a not so hard task 😄

[2020-01-30 21:00] dubiousjim opened #3832 "Deno.remove() cannot remove dangling symlink"
Suppose `valid_symlink` points to a real target file, and `invalid_symlink` points to a non-existing file. Then:

[code]

works fine --- and deletes the symlink rather than its target. OK, then we would also expect:

[code]

to delete the symlink. But instead this fails with a `NotFound` error. (Same holds for `remove` rather than `removeSync`.)

Not only is this unexpected, it looks like then the

[2020-01-30 21:28] mattlennon3 commented on #3805
Having the same problem, here is the full backtrace:
[code]
My output of cpuinfo is also the same!

[2020-01-30 21:54] nayeemrmn commented on #3827
`--ignore-path` is a path to a file listing a bunch of exclude patterns. It's useful alongside `--exclude`, but maybe not as essential.

[2020-01-30 22:01] IbrahimShamma99 opened #3834 "Hello I am new at deno can anyone give me a resource to learn deno as node developer ?"

[2020-01-30 22:04] nayeemrmn commented on #3543
@bartlomieju Satisfied by `deno bundle`. Can this be closed?

[2020-01-30 22:08] mattlennon3 commented on #3805
I also get this when I run `cargo test`:
[code]
Kernel 4.15.0-20-generic
Linux Mint 19.1 Tessa

[2020-01-30 22:21] artisonian commented on #3768
Sounds like there are two things going on:

1. [I created a Gist](https://gist.github.com/artisonian/8297e5fe95f448ca98045f336bccf976) of your example to demonstrate how to use `MultipartReader`. The uploaded file does not require CRLF line endings.
1. If you find the need to convert to CRLF, most text editors should have a way to do it. For example, the status bar at the bottom of VSCode allows y

[2020-01-30 22:24] artisonian commented on #3763
Here's an example:

https://gist.github.com/artisonian/8297e5fe95f448ca98045f336bccf976

[code]

[2020-01-30 22:33] cknight commented on #3403
@kevinkassimo - That's the 'os' polyfill taken as far as I can, so please mark this as partly completed.  Now moving onto 'events'.

[2020-01-30 22:53] mattlennon3 commented on #3805
I've got a bit closer to where it's failing:
https://github.com/tokio-rs/tokio/blob/f9ddb93604a830d106475bd4c4cae436fafcc0da/tokio/src/runtime/builder.rs#L451

On line 31 there's an example of passing in the number of threads:
`.core_threads(4)`
I tried adding the core threads line to `cli/tokio_util.rs` and it has reduced the number of failing tests down from 32 to 22, with no mention of the core

[2020-01-30 23:05] nayeemrmn opened #3835 "deno fmt glob expander yielding non-existent file"
`RUST_BACKTRACE=1 cargo run -- fmt "std/fs/testdata/*"`:

[code]
having added `dbg!(&file_path);` right above https://github.com/denoland/deno/blob/25b13c8917061c569e8f92da124b1b446dc223f0/cli/fmt.rs#L102 which is the error.

There is a `std/fs/testdata/0.ts`, but no `std/fs/testdata/0-link.ts`.

cc @bartlomieju

[2020-01-30 23:13] nayeemrmn commented on #3835
The exact files being matched by that glob are:
[code]

[2020-01-30 23:23] kevinkassimo commented on #3403
@cknight Thanks so much! Marked

[2020-01-30 23:24] cdbattags commented on #2447
Status for 1.0? I think all that's left for adoption (at least for me) is that final trust marker and a halfway stable abi/stdlib/API.

[2020-01-30 23:25] nayeemrmn commented on #3835
Ugh I had a red file called `0-link.ts` in that directory. Nevermind.

[2020-01-30 23:25] #3835 closed

[2020-01-30 23:33] crookse commented on #3768
@artisonian,

Thanks for the response. I tried your Gist. It works. I took a look at the way I'm parsing the boundary and the way you're parsing the boundary. Here is what I found:

[code]

The issue is in the way I'm parsing the boundary. If it's ok with you, I'd like to take your Gist and create documentation on how to use the `MultipartReader`. That way people like myself don't run into this is

[2020-01-30 23:40] artisonian commented on #3768
Feel free to use the gist. Also, I commented on #3763 which asks for documentation too.

[2020-01-30 23:54] ry commented on #2447
1.0 is still some weeks away. The major feature we’re missing is Chrome DevTools support for debugging. There are also a couple large ongoing refactors that ought to complete. I will post updates at the top of this issue:

https://github.com/denoland/deno/issues/2473

[2020-01-31 00:20] ry commented on #3834
Our docs are here:
https://deno.land/std/manual.md
https://deno.land/typedoc/
See examples https://deno.land/std/examples/ too

[2020-01-31 00:20] #3834 closed

[2020-01-31 00:47] ry opened #3836 "/std/installer is deprecated and should be removed"
However when that is done, you'll find the tests fail:
[code]

[2020-01-31 01:49] rafaelcastrocouto commented on #2632
After installing on PowerShell (and adding the PATH) it works on every terminal (cmd prompt, bash and powershell)

[2020-01-31 02:33] rektide commented on #3815
Maybe some day it might be possible to get Deno & rusty_v8 to compile & run in a WebAssembly atop something like WASI.

But in general, Deno is it's own platform, one that attempts to mirror the web platform. The code you run on Deno should often frequently work in the browser, & vice versa. Trying to make Deno itself work in the browser would result in a colossal massive chunk of code running in

[2020-01-31 02:34] rafaelvargas commented on #3832
@dubiousjim @ry I'll work on this. It seems like the following changes would fix this bug:
[code]
I'll test it later and check if these changes resolve this issue.

[2020-01-31 02:40] rektide opened #3839 "Android support"
Hello. Does Deno support Android? I haven't tried using rust on Android yet, but it'd be lovely to be able to mix in some Deno to an Android app a powerful embedded/scripting runtime. Thought I'd ask. What feats might be required to push this forward, if not?

[2020-01-31 02:49] ry commented on #3839
Hello @rektide - it has been a long time since I've seen your avatar : )

Deno could support Android, but it's going to be some work. First thing would be to get rusty_v8 to build, somehow passing the target through to GN/Ninja probably the first thing to do would be to try:
[code]
Once RustyV8 builds there, it should be pretty easy to port Deno. Does Github Actions support Android arm?

[2020-01-31 02:49] rektide opened #3840 "RFE: Task priority/scheduling support"
WIP but there's some interesting work afoot to add scheduling priority & control to JS tasks in [Main Thread Scheduling](https://github.com/WICG/main-thread-scheduling).

I feel like it'd be super useful & helpful to be able to better control & work with priority on the server too, and it'd be rad if Deno could leverage & perhaps even help shape some of these emerging APIs for orchestrating JavaSc

[2020-01-31 02:57] filipesmedeiros opened #3841 "Is there a way to access past version of updated dependencies?"
So if I want to update my dependency's source, but it breaks my program, is there anyway to retrieve the old code? Because if the dependency is hosted somewhere with no version control, I can't access the file anymore.

Maybe a system for saving X old versions of a dependency would be cool?

[2020-01-31 03:01] ry commented on #3841
I'm open to it, but it's a complex problem. If someone built a tool outside of the deno repo which did this and it proved to be useful to people we could integrate it. It isn't a priority right now.

[2020-01-31 03:05] filipesmedeiros commented on #3841
I might try to make that happen, I'll come back with something soon.

[2020-01-31 03:24] crookse commented on #3768
not an issue. was using the `MultipartReader` incorrectly. documentation would be great though as mentioned above.

[2020-01-31 03:24] #3768 closed

[2020-01-31 04:11] nayeemrmn commented on #3836
I think this is `std/http/server_test.ts`: https://github.com/nayeemrmn/deno/runs/418531255. It has actually always hung for me locally. Maybe the installer tests (which start and interact with a file server) cancelled the effect somehow?

[2020-01-31 06:34] hayd commented on #3711
@jeromegn Do you have any tips/suggestions here, noting your comment:
https://github.com/emk/rust-musl-builder/issues/65#issuecomment-469049466

Did the musl binaries you created for fly work on other linux systems?

[2020-01-31 06:49] IbrahimShamma99 commented on #3834
Thank you ryan

[2020-01-31 08:45] bartlomieju commented on #3836
@nayeemrmn good lead! That was my suspicion as well, but had no luck to pin point it. That should be helpful, thanks!

[2020-01-31 08:47] #3543 closed

[2020-01-31 11:01] abhishekp1996 commented on #2473
Super excited for Deno 1.0 planned release today! @ry is today the day that marks the beginning of a new era for server-side programming? :astonished:

[2020-01-31 13:26] ondras opened #3846 "Sharing code with browsers: .ts extension issue"
Hi,

for my current Deno project, I tried re-using some of the existing code initially written for a browser. This works:

[code]

However, I run into issues when the `browser-module` depends on other files:

[code]

...because Deno requires the use of .ts extension. The whole browser-side setup works either with .js (as my .ts files are compiled down to .js) or without extensions at all, because

[2020-01-31 14:02] jeromegn commented on #3711
I'm not sure I have much to add. I mostly used the linked Dockerfile and it worked. Inspired (read: ripped off) from: https://hub.docker.com/r/alexmasterov/alpine-libv8

That said, there are alpine images with glibc compiled in there, that might help. It's a lot of trial and error to get it to compile. And then the performance can vary a bit between musl and glibc.

[2020-01-31 14:24] uasan commented on #3815
Ok.
I understand, my point - was why you write what is already in the browser and Chrome headless, can be run on the server.

[2020-01-31 14:25] #3815 closed

[2020-01-31 16:19] filipesmedeiros commented on #3841
Hey @ry (or anyone who can help), can you just point me to the relevant code? Like where you guys cache the dependencies, and maybe also when you compile them.

First time contributing to OS and this codebase is completely new to me also! Thanks.

[2020-01-31 16:34] #3836 closed

[2020-01-31 18:29] ry opened #3848 "Remove //tests symlink."
Sounds easy, but it will require some work (est 2 hours) to get the tests to go green. Requires navigating both TS and Rust.

[2020-01-31 19:18] srackham commented on #3795
A workaround is simply to ignore any "--" options in CLI apps.

[2020-01-31 20:16] lukahartwig commented on #3848
I can work on this. To clarify, this means removing the top-level symlink and then fixing all the tests until the build is green?

[2020-01-31 20:23] ry commented on #3848
Yep!

[2020-01-31 22:10] artisonian commented on #3846
Are you compiling with `tsc`? If so, I'd expect it to fail, but Deno's runtime should recognize both `.ts` and `.js` modules in the same file (for example, I can import `mustache.js` from [unpkg](https://www.unpkg.com/mustache@4.0.0/mustache.mjs) without issue).

[2020-01-31 23:25] nayeemrmn commented on #3848
Ref #2988.

[2020-02-01 01:29] kitsonk commented on #3840
It is "In Development" on Chromium, but at the moment they seem to be standing on their own: https://chromestatus.com/feature/6031161734201344

To me, there should be broader consensus before we really consider it (plus it being delivered in Chromium).

[2020-02-01 01:38] kitsonk commented on #1657
From @rektide

[2020-02-01 07:17] alshdavid commented on #3793
I feel it makes sense that compiling requires a target architecture. The arch type corresponding to a different transformer.

That way transformers can be created in user space and added to deno.

Say

[code]

But it takes into consideration the tsconfig.json

As an unrelated side note, please resolve path transformations in both the emitted js and d.ts files. Oh my god writing a TS library with a

[2020-02-01 08:49] kitsonk commented on #3793
@alshdavid this type of flexibility is what `Deno.bundle()` API is for.

[2020-02-01 13:09] ondras commented on #3846
The client side is compiled with `tsc` (set of .ts files =>set of .js files) and -- optionally -- bundled with `rollup` for production.

Do I understand correctly that you suggest compiling/bundling the client side with Deno as well (via `deno bundle`)? I would probably not need any .js files at all in this case. But I would have to rely on Deno's bundling (`rollup` seems to do a better job here)

[2020-02-01 13:20] artisonian commented on #3846
I'm not suggesting using `deno bundle` for client-side code (see #3793 for an extended discussion), but rather trying to understand your build process. If you want to include `.ts` modules compatible with both Deno and browsers, your browser build pipeline would need to transform those import statements for you. Otherwise, you might be able to use import maps on the Deno side to resolve bare impor

[2020-02-01 13:37] ondras commented on #3846
Right! Ideally, I would love `tsc` to accept .ts imports as well (they are TypeScript, right?). But I am not aware of any way to do so.

This sounds like an interesting option. Will give them a try.

[2020-02-01 13:46] nayeemrmn commented on #3846
At least the interop between Deno and `tsc` is discussed in #3196. We basically need https://github.com/microsoft/TypeScript/issues/33437. I'm here https://github.com/denoland/deno/issues/3196#issuecomment-557630923.

[2020-02-01 18:20] aadamsx commented on #1397
Wow so how the heck am I to find drivers to "talk" to Azure Cosmos DB or MongoDB or MySQL or MSSQL?  If there's no database story with Deno, what the heck can we realistically do server side?  I need these drivers for databases and from the looks of it only Node.js has them!

[2020-02-01 19:43] hayd commented on #1397
There are mysql, dynamodb, postgres libraries already (I've tried the last two and they worked for me). It looks like there is a javascript (browser) sdk for azure which has a cosmodb directory... https://github.com/Azure/azure-sdk-for-js it's possible it will "just work" 😬

[2020-02-01 21:53] calavera opened #3851 "[discussion] Move permissions to core"
Deno's permission sub-system is one of the features that make this project stand against other runtimes. The code to control permissions currently lives in the CLI.

I think it'd be very interesting to make them part of the core, or move them to a separated crate. That way, people working on plugins, or using Deno as an embedded runtime could control the permissions too without having to rely on t

[2020-02-01 22:03] aadamsx commented on #1397
@hayd  so you think just copy /src from here https://github.com/Azure/azure-sdk-for-js/tree/master/sdk/cosmosdb/cosmos and follow the examples it it might "just work"?

[2020-02-01 22:39] FedericoMorrone opened #3852 "[bug] Can't import jspm modules"
Trying to import any library trough jspm.io like so:
[code]
Always returns either error code 123 "The filename, directory name, or volume label syntax is incorrect", error code 267 "invalid directory name" or error 5 "Permission Denied"
[code]
<details>
<summary>output</summary>

[code]
</details>
Tried on windows 10 on version 0.31.0

[2020-02-02 03:52] TonyLianLong commented on #3756
@brandonkal While implementing this, I noticed that the standard for `fetch` says the following for `manual`, [source](https://fetch.spec.whatwg.org/):

You probably need to first create a response which is opaque-redirect filtered, and then return.

[2020-02-02 04:08] brandonkal commented on #3756
That makes sense @TonyLianLong

For my particular use case I ended up deploying a serverless proxy worker that wraps text in a JS module default export, thus using Deno's existing caching mechanism for static imports. So I am no longer working on a TS interim solution.

If someone does start working on this, the best route is to use Rust for the default cache (could function without allow-write/re

[2020-02-02 05:59] kevinkassimo commented on #3852
I believe this is basically the same issue as #3776 : There is a collision of directory and file during caching. Believe we definitely need a careful plan about how to handle similar situations (also we haven't been dealing with queries properly during cache yet)

[2020-02-02 06:04] kevinkassimo commented on #3841
@filipesmedeiros Related code should be in `cli/file_fetcher.rs`. You'll notice a bunch of mentioned about cache there.

[2020-02-02 10:09] FedericoMorrone commented on #3852
Is there already some kind of fix planned or do we have to wait for a refactor of the caching system? Also this seems like a very serious problem, since this is one of the only way to use npm module in deno, is it referenced in the 1.0 roadmap?

(please forgive any bad English)

[2020-02-02 10:17] keroxp opened #3853 "[plugin] How to return dynamic size result in op handler"
Currently result of plugin's op handler is defined as:

[code]

Simply, why is `Buf`, a result of op, defined as `Box<[u8]>`? How should it be used?
I tried writing the handler that returns JSON string, but couldn't find way to cast JSON string (dynamic size)  to `[u8]`.

I found that `ZeroCopyBuf`  (a second argument of op handler) can be used for response with dynamic size but still there is no

[2020-02-02 10:34] bartlomieju commented on #3853
Sure!

[code]
When you have a json value you can turn it into a vector using `serde_json::to_vec(&value)`. Once you have a vector of bytes calling `into_boxed_slice()` will turn it into `Box<[u8]>`.

[2020-02-02 10:39] brandonkal opened #3854 "quotes stripped from Deno.args"
[code]
is read in as ["-f", "{one:true}"]. Of course quoting the JSON in single quotes works but Deno should not be stripping things from strings here.

[2020-02-02 10:46] keroxp commented on #3853
`into_boxed_slice()` ! Thank you !

[2020-02-02 10:47] #3853 closed

[2020-02-02 13:06] filipesmedeiros commented on #3852
I actually was gonna start working on something _kinda_ related to this. But it seems that maybe it's better to resolve this first.

I think the obvious solution is to encode (hash?) the file names, like @keroxp mentioned in #2790. However, hash collisions will most likely cause even more trouble down the line.

I was thinking of encoding the filenames according to some pattern defined by deno (or

[2020-02-02 13:46] nayeemrmn commented on #3854
Isn't it your shell stripping away the quotes?

[2020-02-02 14:39] brandonkal commented on #3854
Yes indeed

[2020-02-02 14:39] #3854 closed

[2020-02-02 16:26] aadamsx commented on #1397
@hayd I tried to copy the cosmos directory over and work through the issues.  Deno errors have a lot to be desired.

For example:
[code]

[2020-02-02 21:55] #3848 closed

[2020-02-02 23:59] nayeemrmn opened #3861 "Modelling devDependencies and scripts"
There will never be a need for a project to explicitly tell Deno about its dev dependencies. There is no package manager and this is all handled naturally by imports. However, we should have a convention that documents all of a project's dev dependencies in one place. A `dev_deps.ts` mirroring the `deps.ts`.

There was also discussion about how to model the "scripts" field in package.json. We shou

[2020-02-03 01:01] brandonkal opened #3862 "Seems impossible to extend String"
Please don't comment here saying "don't do that". I want to see if it is possible in Deno for a DSL. So far I've been running into TS compiler issues.

1. If a file containing `interface String { b64enc(): string }` contains imports, the LSP complains and does not merge in the interface. This makes it hard to write the implementation of said interface in a safe manner.
2. Round Two: Move declarati

[2020-02-03 01:27] kitsonk commented on #3862
All TypeScript files in Deno are treated as modular files.  You need to augment the global interface, interfaces are open ended.

[code]

If that doesn't work, please provide the output from Deno.

[2020-02-03 01:29] kitsonk commented on #3851
The "problem" is that `cli` is the only place where the operations exist that need to leverage the permissions...

What could be abstracted to the core is a permission "system" which allows registration, enablement, and assertion of permissions, but not the actual permissions themselves, because they only come into existence in the CLI.  I know there is a plan to break the ops out into crates them

[2020-02-03 02:02] brandonkal commented on #3862
Thank you! That's so simple! That works so long as the file has an `export {}` statement.

When I tried that I had `declare module global`. I did find that works which is interesting:
[code]
[code]
[code]

Otherwise my editor complains "Augmentations for the global scope can only be directly nested in external modules or ambient module declarations." It seems VSCode doesn't consider a file to be a

[2020-02-03 02:02] #3862 closed

[2020-02-03 02:10] kitsonk commented on #3862
Yes, sorry.  I forgot that the compiler determines if it is a module or script.  So even though we load them all as modules, always.  I think there is a TypeScript issue to force to be evaluated as modules always.

[2020-02-03 02:27] luism3861 opened #3864 "Uncaught AddrInUse Address already in use (os error 98)"
i try to simple run server in port 3000, but if i restart the server appears this error,
how to fix that?

[2020-02-03 07:19] ondras commented on #3846
It does, but does not really work with transpiled files; they have type information stripped from them. Here are two possible approaches, both failing at various places.

1) using .ts in import specifiers:

[code]

2) using .js in client-side import specifiers:
[code]

[2020-02-03 07:20] ondras commented on #3846
To sum things up: with Deno, I cannot import a tsc-compiled dependency that has other dependencies.

[2020-02-03 09:24] David-Else commented on #3861
This looks great, having to import anything considered a 'built in' feature seems wrong, importing all the dev dependencies in one file up at the top looks good to me. Easy to read and reason about.

I use the VS Code `NPM Scripts` explorer to run everything. I can see an awesome future where it works with Deno too.

[2020-02-03 09:36] lucacasonato commented on #3864
You seem to have a process already listening on port 3000. Deno can't bind to that port if an other process is already using it.

[2020-02-03 09:46] ondras opened #3866 "possible to change the default log level?"
My component is happy to use the built-in logger:

[code]

...and I would like to be able to centrally configure the log level for all components (preferrably by parsing command line arguments or so). I can asynchronously reconfigure the default logger using `log.setup()`, but this requires me to completely define a new set of loggers/handlers. My only need is to change the default loglevel used b

[2020-02-03 09:49] David-Else opened #3867 "PNPM and createRequire not working"
I tried to resolve this bug on the glitter channel, and was told it worked fine on other systems that are not using PNPM:

So just make a directory with these two files in, have https://github.com/pnpm/pnpm installed and type `pnpm install` then `deno -A rules.ts`

rules.ts
[code]
package.json
[code]
Error:
[code]
my system:
[code]

[2020-02-03 11:02] bartlomieju commented on #3866
@ondras `log` will keep old loggers and handlers when you configure it:
https://github.com/denoland/deno/blob/f168597b7ab81afda3bf4749a81c360d364e7cf1/std/log/mod.ts#L76-L119

You should be able to do:
[code]

[2020-02-03 11:27] ondras commented on #3866
This does not seem to work for me. First, `loggers` and `handlers` shall be two distinct top-level properties. Second, the `setup()` call will re-create all loggers (https://github.com/denoland/deno/blob/master/std/log/mod.ts#L114), populating them with supplied `handlers`.

So in the end, I am unable to reconfigure the default logger without repopulating the whole loggers/handlers namespace.

For

[2020-02-03 13:13] ry commented on #3867
Maybe caused by https://github.com/denoland/deno/issues/3852 ? (If so, we can close this one.)

[2020-02-03 13:20] #3832 closed

[2020-02-03 13:48] ry opened #3869 "adopt env_logger"
It's very difficult to get debugger log output during the rust unit tests with our current setup.

[2020-02-03 13:50] rokoucha opened #3871 "Response body will be empty when tried fetch specific pages"
After update to v0.30.0 from v0.29.0, Body will be empty.
Example code is
[code]

I checked some websites which body will be empty.
The website which the problem occurred is

- https://scrapbox.io
- https://helpfeel.com

The affected website uses "TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256" in the cipher suite and uses "P256" in the key exchange.
Also uses a certificate issued by Let's encrypt.

![affe

[2020-02-03 13:53] rokoucha commented on #3871
Reproduced in the following environment
  - `Arch Linux 5.4.15-arch1-1 #1 SMP PREEMPT Sun, 26 Jan 2020 09:48:50 +0000 x86_64 GNU/Linux`
  - `Windows 10 Pro 1909 (Build 18363.592)`

[2020-02-03 14:44] geoFlux commented on #1371
It looks like deno is now using the reqwest library, which claims:

But I'm still getting certificate errors when behind a corporate proxy. It looks like deno is configured to use rustls-tls instead of default-tls or native-tls. I think that's why it's still not working. Is there a reason to not use default-tls or native-tls?

I'm looking [here](https://github.com/denoland/deno/blob/master/cli/Car

[2020-02-03 14:54] #3660 closed

[2020-02-03 17:06] Soremwar commented on #3852
Related #2763

[2020-02-03 18:11] dev-nicolaos commented on #3818
Just out of curiosity, what was the motivation for this? Is it that dprint is written in rust and that improves performance, or makes maintenance easier?

Also, the dprint website says it currently only supports `ts` and `jsonc`. Does this mean no support for `.js` files? That seems like it'd be a huge step backwards for `deno fmt`.

[2020-02-03 19:06] danilaplee commented on #3648
There is a great library for parsing html(https://docs.rs/select/0.4.3/select/) in rust,
so I'am up for implementing this issue as a native DOMParser as per the W3C/WEB-API standard https://developer.mozilla.org/en-US/docs/Web/API/DOMParser

[2020-02-03 19:13] MarkTiedemann commented on #3648
[utkarshkukreti/select.rs](https://github.com/utkarshkukreti/select.rs) seems to be unstable.

I think what you are looking for is the parser that they are using internally: [servo/html5ever](https://github.com/servo/html5ever). AFAIK, that's the parser used in Firefox so it should be fairly save to use. :)

[2020-02-03 19:27] ry opened #3872 "panic: deno types | head"
[code]

[2020-02-03 19:31] danilaplee commented on #3648
@MarkTiedemann I've used select before, had no major issues, but html5ever seems more stable 👍 I'll get down to implementation

[2020-02-03 19:33] ry opened #3873 "crate deno = "v0.32.0" failed to publish to crates.io"
not sure what happened with the crates.io publish - the error is here https://github.com/denoland/deno/runs/423535827

[code]

cc @dsherret

[2020-02-03 19:39] tdillon commented on #2301
Related/Duplicate of #1371?

[2020-02-03 19:41] dsherret commented on #3873
@ry yeah, that's my fault. I didn't know the way cargo pulls in dependencies marked as alpha and have had breaking changes between my incrementing alpha builds. I'll switch back to properly versioning.

Will fix this soon.

[2020-02-03 20:05] dsherret commented on #3873
@ry upgrade to dprint-plugin-typescript `0.3.0-alpha.6` and this will be fixed (perhaps it will just pull in that version now?)

Again, my bad and sorry for the bother! I will read into how cargo resolves dependencies so it doesn't happen again.

[2020-02-03 20:15] dsherret commented on #3873
Oh actually, now all the configuration has moved to the `configuration` module so that import statement will need to be updated.

[2020-02-03 20:46] dsherret commented on #3818
@dev-nicolaos the one used in deno supports `.js`, `.jsx`, `.ts`, and `.tsx` files and it's much faster than prettier. I would say this is a temporary step backwards, but once we sort out the bugs and implement a few additional features then we will be many steps ahead.

Few points:

* There's no configuration file at the moment, but once it's added there will be a lot more configuration options t

[2020-02-03 21:19] kitsonk commented on #3818
Also, in theory, dprint uses a crate which generates AST for TypeScript. While it is a long long road, we might parse TS/JS in Rust and hand the AST over to the TypeScript compiler for type checking and emitting.

[2020-02-03 21:23] bartlomieju commented on #3818
@kitsonk given we have parsed nad JSON serialized AST, in the present, is there actually a way to load it into compiler just for type check and emit? What changes would our compiler host require?

[2020-02-03 21:39] ry commented on #3873
fixed by #3874

[2020-02-03 21:39] #3873 closed

[2020-02-03 21:40] ry opened #3875 "crate deno = "0.32.0" breaks when docs.rs tries to generate docs"
https://docs.rs/crate/deno/0.32.0/builds/218188

sample from output:
[code]

[2020-02-03 22:14] kitsonk commented on #3818
No.  See microsoft/TypeScript#33502.  I am not sure how much the core team are going to be interested in it, so it might be something that we need to contribute.  I also suspect there is a gap between what [swc](https://github.com/swc-project/swc) currently produces and what we would need to hydrate an AST for the compiler.  It is a long road, but we can chip away at it.

[2020-02-03 23:18] kevinkassimo commented on #3872
Ref: https://github.com/rust-lang/rust/issues/46016

[2020-02-03 23:31] ry opened #3876 "re-enable tests from tokio runtime refactor"
https://github.com/denoland/deno/commit/161cf7cdfd44ace8937fb7940727984990742d18

- [x] installer_test_local_module_run #3882
- [x] installer_test_remote_module_run #3882
- [x] _015_duplicate_parallel_import https://github.com/denoland/deno/pull/3904
- [x] _026_workers

[2020-02-04 04:29] axetroy opened #3877 "`deno fmt` should support read js/ts code from `stdin`"
support read code from `stdin` and output to `stdout`

[code]

Before replace with `dprinf`, `std/prettier` supports reading code from stdin

### Why?

I am developing [axetroy.vscode-deno](https://github.com/axetroy/vscode-deno)

To implement a formatting tool, it needs to be unrelated to the file system.

vscode file content is stored in memory before saving the file (same with others editor)

I

[2020-02-04 04:42] brandonkal commented on #2750
This would be very convenient when a program outputs on stdout when it should be on Deno's stderr. This would be especially nice if it streamed.

`Process::combinedOutput()` may be nice as well but not as useful if the Promise only resolved when the process exits.

[2020-02-04 07:37] Yamboy1 opened #3878 "Date.toLocaleString doesn't respect options"
Date.toLocaleString always returns in the same format, no matter what options are given to it. I'm sure this isn't intentional, but it bugs me a bit, and i couldn't find another issue on the subject

[2020-02-04 09:59] ondras opened #3880 "Duplicate websocket replies?"
If I call the `WebSocketImpl::send` twice, synchronously, four message frames will be delivered:

[code]

Is this intentional? I know that `send` is async, but does this imply I have to await each send operation before sending more?

[2020-02-04 10:53] ondras commented on #3880
The complete code, for reference:

[code]

[2020-02-04 11:36] rokoucha commented on #3871
In v0.32.0, The body still will be empty.
[code]

[2020-02-04 15:04] keroxp opened #3883 "deno fmt ignore top level await"
New version of `deno fmt` can't parse code taht contains top level await.

Case1: eliminated
<img width="396" alt="スクリーンショット 2020-02-04 23 47 36" src="https://user-images.githubusercontent.com/927286/73756484-f940b000-47aa-11ea-8973-a14da304e0e4.png">

Case2: failed to parse

[code]

[code]

[2020-02-04 15:06] nayeemrmn commented on #3883
cc @dsherret

[2020-02-04 15:12] keroxp commented on #3880
@ondras I've seen the case and found the reason. You misses to add `await` before send. Code below works fine:

[code]

However this is undesirable behaviour and must be fixed.

[2020-02-04 15:17] dsherret commented on #3883
Thanks! I opened an issue in swc and it should be easy to get this supported.

Anyway we can transfer these issues to https://github.com/dsherret/dprint/issues?

[2020-02-04 15:20] bartlomieju commented on #3883
Looks like one can only transfer issues between repos you're collaborator in

[2020-02-04 15:22] dsherret commented on #3883
@bartlomieju ok, not a big deal.

Opened https://github.com/dsherret/dprint/issues/88

[2020-02-04 15:42] ondras commented on #3880
Hi @keroxp,

thanks for your reply. Your suggestion is consistent with the last part of my bugreport:

As far as I know, Deno APIs are trying to be parallel with Browser APIs where possible and the client-side WebSocket does not have this limitation, so I agree that calling `send()` multiple times synchronously shall be considered okay.

[2020-02-04 17:27] #3528 closed

[2020-02-04 18:20] seishun commented on #3716
It seems this particular problem was introduced in 5f1df038fb1462607af3555fa7431c05ca484dce. However, the previous commit doesn't build either and fails with other unresolved external symbols, e.g. _deno_delete and _deno_new. @aliabolhassani is it the same for you?

[2020-02-04 18:40] geoFlux commented on #2301
@bartlomieju I would like to try to fix this if you could give me those tips.
Although, for my purposes, I was able to change `create_http_client` in [http_util.rs](https://github.com/denoland/deno/blob/master/cli/http_util.rs) to `.use_native_tls()` instead of `.use_rustls_tls()` and the certificate errors went away for me.

I looked into it, and found that will use the native system on windows a

[2020-02-04 18:47] geoFlux commented on #2301
@bartlomieju I would like to try to fix this if you could give me those tips. Although, for my purposes, I was able to change create_http_client in http_util.rs to .use_native_tls() instead of .use_rustls_tls() and the certificate errors went away for me.
I looked into it, and found that will use the native system on windows and osx, but openssl on linux, and I guess it's been decided to not use o

[2020-02-04 22:14] cknight commented on #3878
In addition to options, the locale is not respected either.  Example (my default locale should be "en-GB"):
[code]
Deno output:
[code]
Curiously, node doesn't recognize locale either (and seems to default to en-US).

Node output:
[code]

Chrome output:
[code]

[2020-02-04 22:26] cknight commented on #3878
Interesting reading about this.  Looks like v8 uses [ICU](http://site.icu-project.org/) to add internationalisation and deno would need additional work to support this.

[2020-02-05 02:36] brandonkal opened #3890 "[bug?] (flags) Arg with `---` parsed as true"
It makes sense why this is happening but I am not sure if this is desired behavior.

For instance: `deno program.ts "$(cat file.yaml)"` will parse as { "-": true }.
It appears to be assuming a flag of "-" and then because nothing is attached to stdin it just returns true. It would be better if text that starts with "---\n" ends in the "_" array. I can't imagine a situation where one would want an

[2020-02-05 03:08] brandonkal opened #3891 "Deno.run rename args to cmd"
From the code:
UNSTABLE: Maybe rename args to argv to differentiate from Deno.args Note the first element needs to be a path to the binary.

I would suggest `cmd` over both options. This makes it more clear that you are specifying both the binary command and its arguments. This should help remove confusion over Deno.args.

[2020-02-05 03:09] brandonkal commented on #2473
I've opened #3891 to rename RunOptions.args to cmd. This would be a good thing to tackle before 1.0.

[2020-02-05 05:12] aliabolhassani commented on #3716
@seishun I created the issue for [`c50cab9`](https://github.com/denoland/deno/commit/c50cab90a05d271013f741768d70c1eda6ef9a10). However, I tried the latest one i.e, [`7d115a2`](https://github.com/denoland/deno/commit/7d115a2a657fcfc54670e56cad3fe44fc7a59a9f) with the same results on virtual/actual Windows machines. But, [`23e67eb`](https://github.com/denoland/deno/commit/23e67eb5153bd26dbae471b27d

[2020-02-05 07:00] PandawanFr commented on #3891
Wouldn’t “cmd” imply a string to represent the entire command rather than an array of strings for each argument?

I’m not saying it’s a bad idea, just that I find it weird for the API to expect an array of strings if you’re essentially just sending one command. (That might need to be a separate Issue/Feature Request, but allowing for multiple commands, or with &&, would be great).

[2020-02-05 08:11] brandonkal commented on #3891
Perhaps. But the way I see it is that the array contains the command + args.
So args alone is a bit odd.
Another option is `exec`.

`&&` is a shell feature. So you can already do `args: ['sh', '-c', 'echo hello && echo goodbye']`

[2020-02-05 08:35] bartlomieju commented on #3619
We just rewritten our runtime model and there should be no more problems described above because only  a single runtime is created per thread. I'm gonna close this issue now, feel free to reopen if problem persists.

[2020-02-05 08:35] #3619 closed

[2020-02-05 08:35] bartlomieju commented on #3639
`std/prettier` has been transferred to https://deno.land/x/prettier so no longer valid. Not sure about renaming `std/fmt/`

[2020-02-05 08:36] #3564 closed

[2020-02-05 08:36] bartlomieju commented on #3520
@ry this should be figured out before 1.0

[2020-02-05 08:38] #3429 closed

[2020-02-05 08:41] bartlomieju commented on #3149
FYI multiple files are already supported in `deno fetch` thanks to @yamalight (#3845). Glob support is still up for grabs, but I suggest to hold off until #3865 lands

[2020-02-05 08:45] bartlomieju commented on #2438
@kitsonk I think that showing output of TS compiler is fine in this case - after all you want to fetch and precompile code - I want to know if code is not compilable. Separate issue is naming `deno fetch` is definitely the most confusing name.

[2020-02-05 08:46] bartlomieju commented on #1930
Stale and severly outdated

[2020-02-05 08:46] #1930 closed

[2020-02-05 08:47] bartlomieju commented on #3731
Done in #3728

[2020-02-05 08:47] #3731 closed

[2020-02-05 08:53] #2935 closed

[2020-02-05 08:55] bartlomieju commented on #2542
#3119 landed, so I consider this issue resolved

[2020-02-05 08:55] #2542 closed

[2020-02-05 08:57] bartlomieju commented on #1866
Done in #3728

[2020-02-05 08:57] #1866 closed

[2020-02-05 09:00] bartlomieju commented on #2301
So `--cert` flag should take a filepath to certificate file. In `cli/file_fetcher.rs` there's a call to `create_http_client()` - you need to pass value of the `cert` flag to that function and load appropriate certificate.

CC @ry

[2020-02-05 09:20] isAdrisal commented on #3878
Duplicate of #1968?

[2020-02-05 10:13] bnoordhuis commented on #1120
Is anyone actively working on this, e.g., @bartlomieju? I have some spare cycles next week (if I my kids don't get sick again ^^) and I have a pretty good idea on how to attack this.

[2020-02-05 10:15] bartlomieju commented on #1120
@bnoordhuis currently @ry is working on devtools

[2020-02-05 10:49] reznord commented on #3817
Hi,

I am willing to work on this bug.

[2020-02-05 10:57] bnoordhuis commented on #3872
It's easy to see what goes wrong with strace, `println!()` doesn't handle the EPIPE error:
[code]
The linked issue suggests un-ignoring SIGPIPE but that's a bad idea with asynchronous I/O, the first TCP RST would bring down the process.

I don't really have a good suggestion on how to fix it except maybe a custom `println!()` macro that either ignores the error or terminates the process gracefully

[2020-02-05 11:10] bnoordhuis commented on #3878
Node only recently turned on support for all locales. With Node < v13.x, you need to install [the full-icu package](https://www.npmjs.com/package/full-icu) if you want more than just en-US.

That could be an option for deno if file size is a concern. I backtracked on that with node though, the smaller binary size doesn't make up for the inconvenience.

[2020-02-05 11:16] kumaran-14 commented on #3817
@reznord Go ahead.

[2020-02-05 12:19] Yu02 opened #3892 "Allow access to win32"
Allow programmers to import Windows core DLLs (win32) like user32 so more features can be used without turning to plugins (like changing the screen brightness for example).

Example:

[code]

[2020-02-05 15:17] ry commented on #3891
I think "cmd" is a good name...
When making this change we ought to provide an error message for people using "args" and the API should remain unstable.

[2020-02-05 15:25] ry commented on #3872
The fix is to not use `println!()` (which apparently panics on SIGPIPE) but instead use     `std::io::stdout().write_all(types)` then ignore the error.

[2020-02-05 15:29] ry commented on #3878
We're going to have to include ICU eventually. But I'd like to punt on that until we have some of our other burning fires put out. Our binary size is severely bloated due to the TypeScript snapshot. If we could replace it with [SWC](https://github.com/swc-project/swc), then I'd be much more comfortable adopting ICU...

[2020-02-05 16:59] maxmellen commented on #2473
Should TypeScript strict mode by default for user code (https://github.com/denoland/deno/issues/3324) also be considered for v1.0?

[2020-02-05 17:01] bnoordhuis commented on #3872
Right, but `deno types` isn't the only thing that's susceptible to hit EPIPE, just the most likely one.

`deno info | head -1` has the same issue. That's why I suggested a custom `println!()` macro.

[2020-02-05 21:00] cknight commented on #3878
@isAdrisal I agree, looks like a duplicate of #1968.

[2020-02-05 21:07] dubiousjim commented on #3826
I was experimenting with this too, I think [this branch](https://github.com/dubiousjim/deno/commits/seek_return) has the core corrections. But we should add tests, make sure the docs are updated, &c.

[2020-02-05 21:18] mattlennon3 commented on #3805
Getting a little bit closer as of this merge: https://github.com/denoland/deno/commit/161cf7cdfd44ace8937fb7940727984990742d18

Now I get these errors:
[code]
@ry I'm struggling to understand what is going on in this part of the stacktrace:

[code]
I'm wondering if this is an issue with tokio itself, or the deno test setup?

[2020-02-05 21:32] Yamboy1 commented on #3878
Maybe as a solution atm it would be nice to have some more date formatting tools in std/datetime, that's all i really need toLocaleDate for.

[2020-02-05 21:49] brandonkal commented on #3324
FWIW I'm not a fan of forcing strict mode. It often means spending more time writing types with little gain. The compiler is rather good at inferring. StrictNullChecks should be on though.

Also if a library author doesn't use strict mode but you do, it won't work out.

[2020-02-05 21:52] cknight commented on #3878
I'd be happy to work on that once my current PR is complete.  I'd intended to expand the functionality in std/datetime next anyway so it's a good fit.

[2020-02-05 23:19] afinch7 opened #3894 "replace/remove `GetErrorKind`"
In order to move `dispatch_json` to core we need either build error kinds into core or remove them completely.

[2020-02-05 23:20] kevinkassimo opened #3895 "Add section about writing plugins to `manual.md`"
I was notified that it seems we have no actual introduction about how to write a Deno plugin in the manual. Also the folder `test_plugin/`, while showing an example, is not mentioned anywhere in the manual, and is not easy to find (since the name does not indicate it also being an example)

IMO This could be a good first issue.

[2020-02-06 00:06] afinch7 commented on #3805
@mattlennon3 Try running clean and running again(`cargo clean`).

[2020-02-06 03:43] kitsonk commented on #3878
@ry even if we could move to SWC, we won't be able to carve down the size of the TypeScript binary until microsoft/TypeScript#35210 lands and we can cherry pick parts of the compiler we wouldn't have in Rust.  Also like need microsoft/TypeScript#33502.

That seems way too counter intuitive to me... the capability is built into the language.  We should find a way to at least include part of the ICU

[2020-02-06 05:29] crookse commented on #3021
would something similar to the following suffice?

https://github.com/drashland/docable-ts-ast

disclaimer: i'm pretty amateur at generating TS ASTs

[2020-02-06 07:03] EmilCataranciuc opened #3896 "Discussion: Package manager inspired by pacman (Arch Linux)"
I know this has been previously discussed already but at least I need some clarifications.
First of all, it is not yet clear to me how would deno manage dependencies in a clear, transparent way? So that a developer could open one file and see the dependency tree.
Second, in it's current form, pulling packages from URLs isn't very redundant. If the server goes down you are dead in the water. Why no

[2020-02-06 07:21] kitsonk commented on #3021
We should consider something derivative of what we use on the [website](https://github.com/denoland/deno_website2/blob/master/src/util/doc_parser.ts), and or something based off of [SWC](https://github.com/swc-project/swc) (more likely the latter to be honest).

[2020-02-06 07:23] kitsonk commented on #3639
I'm also not sure about renaming fmt to tty either... I think fmt is appropriate.

[2020-02-06 07:29] kitsonk commented on #3896
[deps.ts](https://deno.land/std/manual.md#linking-to-third-party-code) is a good convention... but it should be a convention, to allow people to have different conventions.

You don't get a dependency tree with a `package.json`, but still the capability is already built into Deno

`deno info main.ts`

If the registry goes down, you're dead in the water.  What makes a formal priority package regist

[2020-02-06 07:34] EmilCataranciuc commented on #3896
Cool. Thank you. Looks like the documentation actually addresses many things already. Will keep reading it.

[2020-02-06 07:34] #3896 closed

[2020-02-06 07:43] cknight commented on #3878
Looking at this more deeply, I'm now of the belief that adding date formatting tools to Deno isn't the right way to go.  Dates can be so complex with timezones, locales, etc. that at best we could only deliver a small subset of possibilities which javascript already offers by default (however, not currently supported by Deno).  Best to wait for ICU support and get it right from the beginning I thi

[2020-02-06 13:04] nayeemrmn commented on #3639
What do `colors.ts` and `sprintf.ts` have to do with each other? Seems like these are very different types of formatting.

[2020-02-06 13:07] #3639 closed

[2020-02-06 13:42] #3880 closed

[2020-02-06 17:23] keroxp commented on #3327
I'll take the issue.

[2020-02-06 18:08] ry commented on #3895
duplicate of https://github.com/denoland/deno/issues/3449

[2020-02-06 18:08] #3895 closed

[2020-02-06 18:45] mattlennon3 commented on #3805
Hi @afinch7 thanks for the reply! Unfortunately I get the same output :(

I pulled the master branch before cleaning and re-running fwiw.

[2020-02-06 19:37] brainkim commented on #3196
I’ve finally made my first foray with Deno. The unpkg `?module` strategy almost works, except now I have a bunch of TypeScript errors showing up for ES5 transpiled code.

![Screen Shot 2020-02-06 at 2 37 36 PM](https://user-images.githubusercontent.com/2996754/73972139-3feaf300-48ee-11ea-88e7-62d4427558ca.png)

If I transpile to ESNext I worry that I will mess with dependents who don’t transpile t

[2020-02-06 19:40] brainkim commented on #3196
Coming up with a concrete story for dual publishing to npm and deno would get me to switch. unpkg might work for a while but it would suck to have to publish for local development.

[2020-02-06 21:09] dplewis commented on #2301
[code]
@geoFlux You fixed my issue. I received this error on a Mac on a corporate network while running this test suite.

[2020-02-06 23:13] kitsonk commented on #3196
@brainkim take a look at your package on Pika.dev: https://www.pika.dev/npm/@bikeshaving/crank

Try loading it from there... It "should" serve up the `.d.ts` files to Deno using the `X-TypeScript-Types` header which then Deno will use when type checking the code, instead of trying to type check the JavaScript.  If it doesn't work, they would very much like to work with you I suspect to get it to w

[2020-02-06 23:52] ShawnTalbert commented on #2473
This is the first time I've visited this issue, but assume we really meant Jan 27,2020?

[2020-02-07 00:24] ry commented on #3872
I think generally we shouldn't be println-ing a lot of data. I doubt we'd see problems in situations where just a single line is being printed. Or at least I'm willing to take the quick fix and punt on it.

[2020-02-07 00:51] brainkim commented on #3196
@kitsonk Tried out the link and got a 404. The module which pika points to doesn’t seem to exist. If you’re saying pika can allow me to dual publish to npm and deno then I’ll check it out and see if I can get it to work. I was initially turned off by references to some all-in-one editing solution but I’m willing to give it a shot.

Figuring out local development might still be a pain though.

![Sc

[2020-02-07 01:21] kitsonk commented on #3196
Go to that page, there is a different URL listed on the page. Pika CDN is a good CDN for both browsers and Deno for packages that contain ESM modules and types.

Hopefully @axetroy can help with the development environment end for Vscode. The type information merging is a relatively new feature and I don't know if his plugin understands it well. The information is in the Deno cache, so the plugin

[2020-02-07 03:24] srackham opened #3908 "Deno 0.32.0 install command error: "The argument '--allow-env' was provided more than once""
The generated executable wrapper duplicates the `--allow-env` argument and is rejected by the run command e.g.

[code]

[2020-02-07 04:11] Sharpiro commented on #3908
this may have just been fixed in
https://github.com/denoland/deno/pull/3906

[2020-02-07 04:12] ry commented on #3908
Yes - it will be in 0.33.0

[2020-02-07 04:12] #3908 closed

[2020-02-07 06:27] brainkim commented on #3196
https://cdn.pika.dev/@bikeshaving/crank@^0.1.0-beta.4 responds with a file like this:

[code]
https://cdn.pika.dev/-/@bikeshaving/crank@v0.1.0-beta.5/dist=es2019/crank.js responds with a 404 with the following message:

[code]

This probably has something to do with the dash or something.

This is a maze with lots of possible paths, and I’m not sure how pika helps over something like unpkg, but I’

[2020-02-07 06:34] hayd commented on #3196
Try without the caret: https://cdn.pika.dev/@bikeshaving/crank@0.1.0-beta.4

[2020-02-07 06:52] brainkim commented on #3196
Same thing:
![Screen Shot 2020-02-07 at 1 48 20 AM](https://user-images.githubusercontent.com/2996754/74007447-617ac780-494c-11ea-99f1-06831763a1fb.png)
![Screen Shot 2020-02-07 at 1 48 32 AM](https://user-images.githubusercontent.com/2996754/74007456-66d81200-494c-11ea-8d16-8bb551fa597f.png)
https://cdn.pika.dev/-/@bikeshaving/crank@v0.1.0-beta.5/dist=es2019/crank.js

The problem probably is the

[2020-02-07 06:53] #3773 closed

[2020-02-07 07:14] ondras commented on #3880
Awesome, thanks! Seems to work flawlessly now. :+1:

[2020-02-07 07:15] brainkim commented on #3196
For what it’s worth, Deno finding types via an `X-TypeScript-Types` header seems no better to me than package.json `types` fields or `d.ts` sibling files. I want module resolution to be obvious, and having to inspect requests for a headers seems worse (to me).

[2020-02-07 08:30] #3872 closed

[2020-02-07 08:38] axetroy commented on #3196
@brainkim

What strange module is this?

[code]

[2020-02-07 09:11] kitsonk commented on #3196
You don't, Deno does it automatically.  The header is an option for a CDN to be able to provide it to Deno without modifying code.  You can be explicit too... it is [covered in the documentation](https://deno.land/std/manual.md#triple-slash-reference-directive-in-javascript-files).

[2020-02-07 09:48] brainkim commented on #3196
@axetroy it’s code generated by pika.

[2020-02-07 16:44] mhvsa commented on #3165
Sorry for being dead in Deno for quite a time.

Hey @tisd

Node implementation:
https://github.com/nodejs/node/blob/master/lib/internal/console/constructor.js

I would start with formatting and do colors later.

GL

[2020-02-07 16:58] gponsinet commented on #3839
Hello !
I'm a newbie on rust so every things I will say can be obvious for you.

I tried building it for aarch64-linux-android, so I installed the target with rustup:
`rustup target add aarch64-linux-android`

After running:
`GN_ARGS='target_os="android" target_cpu="arm"' cargo build --verbose --target aarch64-linux-android`
I've had the following error:
```error occurred: Failed to find tool. Is

[2020-02-07 17:04] davidroeca commented on #2473
In response to @andyfleming's comment about developer support:

One issue I've come across with TypeScript + deno IDE support is the following issue: https://github.com/microsoft/TypeScript/issues/35749

While deno works fine with these paths, my editor (powered by [coc.nvim](https://github.com/neoclide/coc.nvim) which itself uses the the tsserver in a way similar to VSCode) gives me issues with U

[2020-02-07 20:54] srackham opened #3915 "Deno fmt command does not complain about missing files"
[code]
Is this the expected behaviour?

[2020-02-07 21:24] nayeemrmn commented on #3915
Maybe we should handle this like the test runner; non-zero exit code if there are no matching files.

[2020-02-07 21:24] srackham opened #3916 "Suggestion: Add an `--overwrite` option to Deno install command"
Currently (Deno 0.32.0) manual intervention is required if you run the install command for a previously installed executable. This halts any build tasks that run Deno install until the user presses 'y'.

[2020-02-07 21:54] srackham commented on #3915
@nayeemrmn: That would still allow file name typos to slip through unnoticed e.g.

[code]

[2020-02-07 22:15] ry commented on #3916
Or —force ? I think it might be better if we remove the interactive prompt and have it fail - requiring the user to provide -f instead

[2020-02-07 22:46] kevinkassimo commented on #3916
+1 for `--force/-f`, common enough

[2020-02-07 22:50] srackham commented on #3916
Yeah, `--force/-f` is definitely more Unixy c.f. `mv`, `rm`, `git push` etc.

[2020-02-07 23:15] kevinkassimo commented on #3915
I think a basic solution is simply to warn "No file matching {...}" when we get empty paths after running glob on a pattern

[2020-02-08 00:21] brandonkal opened #3919 "[bug] regression: `deno test` Cannot resolve module "<dir>/test""
I mentioned this on the Gitter earlier and do not see an open issue here to track this.

Deno is trying to find a file named "test" rather than using the test subcommand as specified.

[2020-02-08 00:35] brandonkal commented on #2473
@davidroeca Your editor still needs to understand how to resolve a URL to its cache location which is Deno-specific. So this will generally require a TypeScript plugin. You can fix your IDE with for instance: https://github.com/axetroy/vscode-deno/tree/master/typescript-deno-plugin

[2020-02-08 00:37] brandonkal commented on #2473
@ry #3919 I assume a working `test` subcommand is also a 1.0 blocker.

[2020-02-08 01:37] brandonkal opened #3921 "testing: Don't print failed tests twice."
I love the `deno test` UI. The one thing that is confusing is that fails print twice. I get why it is useful -- if there is a long list of tests, the failed ones should be grouped at the end.

I would like to suggest simply printing:
[code]
and then printing the AssertionError and trace at the end as usual.

[2020-02-08 02:16] brandonkal commented on #3675
Not a fan of having a seperate "manifest" file that sets things like permissions.
Let's just put this in the code.
Either require it in a standard JSDoc file-level comment:
[code]
Or make it an API:
[code]

I prefer the former because it can be statically determined without execution.

It's also quite a nice DX for the user:
1. import third-party module.
2. Click to go to that module's definition.

[2020-02-08 02:29] brandonkal commented on #3179
The issue with this is that directories will end up looking like this:
[code]

As there isn't much info that would be provided in such a file, I'd like to propose that this information is instead embedded in the `.ts` file itself as suggested here: https://github.com/denoland/deno/issues/3675#issuecomment-583691889
My other issue is that it intuitely is odd to execute a json file.

[2020-02-08 02:51] kt3k commented on #3520
@nayeemrmn Can you give us some examples to show how this proposal works better than current implementation?

[2020-02-08 03:08] nayeemrmn commented on #3520
This is about the compatibility problem with the current usage of `globalThis.location`. The URL of the Deno main module isn't analogous with the URL of the web page. The Deno CWD is analogous to the URL of the web page in that they're both where resources are resolved from (e.g. resources as referenced using the `fetch` API).

The current one offers no interoperability, and yet it's disguised as

[2020-02-08 03:37] #1795 closed

[2020-02-08 04:38] axetroy commented on #3196
@brainkim
Yeah. I have solved the problem in [vscode-deno](https://github.com/axetroy/vscode-deno)

![1](https://user-images.githubusercontent.com/9758711/74079269-db57a180-4a6f-11ea-9a23-2794331749ed.gif)

[2020-02-08 06:49] kt3k opened #3923 "[Question] Use typings.d.ts of date-fns"
We can use date-fns with the following import statement.

[code]

date-fns publishes typings.d.ts at the root of their github repo, and we can reference it like the below.

[code]

However the above doesn't work with the following error:

[code]

Does anyone know how to fix the above error?

[2020-02-08 08:33] aliabolhassani commented on #3179
@brandonkal I agree.

For the private artifactories, we definitely need a separate file for authentication and config purposes like `.npmrc` file.

Also, repeating the remote module URI in every single file is against [DRY](https://en.wikipedia.org/wiki/Don%27t_repeat_yourself) principle. So, I propose to have a different file to assign an alias name to each remote module. This way, we can have di

[2020-02-08 08:42] noodlesatgithub opened #3924 "error when running: deno run main.js, etc. (Cannot resolve module "file:///Users/emmettkelleher/main.js")"

[2020-02-08 08:49] #3916 closed

[2020-02-08 08:50] brandonkal commented on #3179
@aliabolhassani You agree but then you suggest using a manifest file. I don't understand. What you describe is already possible with a importmap.

[2020-02-08 08:51] bartlomieju commented on #3924
@noodlesatgithub thanks for opening the issue, but it's really to little info to help you debug.

I'm gonna close this issue now, feel free to provide output from your terminal and reopen the issue.

[2020-02-08 08:51] #3924 closed

[2020-02-08 08:57] keroxp opened #3925 "[plugin] Can't return response bytes that is not aligned to 32bit"
cc: @bartlomieju

[code]

Plugin handler like above will throw error below:

[code]

This is because boxed response is not aligned to 32bit: https://github.com/denoland/deno/blob/master/core/shared_queue.rs#L184

Is there any way to return string with original size? On returning json, this is not hard problem but sometime it can be undesirable. You commented:

Do you mean that we allow js-side han

[2020-02-08 09:01] bartlomieju commented on #3925
That means that "dispatch minimal" gets a `Uint8Array` and then converts it to `Int32Array`:
[code]
`Int32Array` constructor requires that underlying buffer is aligned to 4-bytes. Can you just pad the string with spaces?
[code]

[2020-02-08 09:04] bartlomieju commented on #3919
Just tried with `0.32.0` - it works just fine.

Does this happen on master?

[2020-02-08 09:08] brandonkal commented on #3919
Weird. I'm using the 0.32.0 release on Linux.

[2020-02-08 09:13] bartlomieju commented on #3919
@brandonkal can you share terminal output?

[2020-02-08 09:24] brandonkal commented on #3919
Sure but there is no output beyond what is in the title
In a folder containing only this file:
[code]
[code]

[2020-02-08 09:52] kitsonk commented on #3923
All the:

[code]

that are located in `typings.d.ts` are not compatible with Deno.

[2020-02-08 09:55] keroxp commented on #3925
Make sense.

It can be if response format is json as tail white-spaces can be trimmed.
However if js-side expects response being string or raw bytes, there seems to be no way to check original size by default, doesn't it?
In your example, you can't determine whether original response was "abc" or "abc ".

Is it acceptable design limitation for dynamic operation?

[2020-02-08 11:59] eliassjogreen opened #3929 "`deno install` does not support import maps"
The `deno install` command should support the `--importmap` flag so that you would be able to write:
[code]
without it complaining about `Found argument '--importmap' which wasn't expected, or isn't valid in this context`.

[2020-02-08 13:14] nayeemrmn commented on #3919
You need to specify the perm flags _after_ the subcommand, since not every subcommand has them. The logic behind that should be clear. Thus `deno -A` is assumed to be the `deno -A <script>` usage.

[2020-02-08 16:54] tisd commented on #3165
Thanks @mhvsa.

[2020-02-08 20:08] nayeemrmn opened #3932 "Use null instead of Deno.EOF for read return types"
Throughout `cli/js` and `std`, there are return types that look like `number | Deno.EOF`, `Uint8Array | Deno.EOF`, `ServerRequest | Deno.EOF`. These are a pain to use and force a proprietary type for no reason. With `null` we can use JS's null checking syntaxes to extract the important type.

[2020-02-08 20:16] #3327 closed

[2020-02-08 22:10] piscisaureus opened #3933 "gist bundle size tripled after #3927"
#3927

[2020-02-08 22:16] kevinkassimo commented on #3416
Quite a while since the problem, but I noticed that if we switch `python` with a simple shell script or even Deno itself, the problem becomes not reproducible:

Shell:
[code]
Deno:
[code]
Both outputs
[code]

[2020-02-08 22:19] piscisaureus commented on #3416
I suspect the problem is with python, you need to tell it to flush it's stdout.
How? https://stackoverflow.com/a/230774

[2020-02-08 22:19] kevinkassimo commented on #3416
It turns out simply Python does not flush after the first `print`. Inserting a `sys.stdout.flush()` fixes the problem.

This should not be a bug of Deno itself. I believe we could close this

[2020-02-08 22:19] #3416 closed

[2020-02-08 22:22] brandonkal commented on #3919
Permission flag after subcommand is confusing.
I see `test` as shorthand for `https://deno.land/std@v0.32.0/testing/runner.ts`

It is still broken though
[code]

[2020-02-08 22:22] hayd commented on #3416
Yikes, thanks for investigating! Ok, I will see if I can reproduce this with the actual motivating Deno example:

https://github.com/hayd/deno-lambda/blob/0.9.5/tests/server.ts#L18

[2020-02-08 22:24] piscisaureus commented on #3925
I think this is a real bug. If there are alignment restrictions on op return values, they should either be expressed in the type system or lifted.

Note that @keroxp is not trying to return an unaligned int32, but an actual array of bytes.

[2020-02-08 22:29] nayeemrmn commented on #3919
Subcommand-specific flags go after the subcommand.

Run `deno https://deno.land/std@v0.32.0/testing/runner.ts --help` to see what filename patterns are detected -- that isn't one of them.

[2020-02-08 22:43] brandonkal commented on #3919
It should be one of them

[2020-02-08 23:00] nayeemrmn commented on #3919
Found it: #2947 :) You can close this if the other problems are okay.

[2020-02-08 23:38] kevinkassimo commented on #3932
Past discussions: https://github.com/denoland/deno_std/pull/444
(There was quite a bit discussion on `null`)

[2020-02-08 23:42] kitsonk commented on #3932
Also, I believe we could add `assertNotEOF()` in order to narrow types to remove it I believe.

[2020-02-09 00:11] nayeemrmn commented on #3932
I also want to point out that `null` just became a lot more powerful with nullish coalescing etc.

I think a custom null symbol is only needed for unions with generic types: `T | NULL_SYMBOL` where the lib needs to be able to tell apart `NULL_SYMBOL` from a possibly nullable user-supplied type. `Deno.EOF` just seems redundant, and Deno is supposed to avoid proprietary stuff like this.

https://git

[2020-02-09 01:03] saostad opened #3934 "[Doc] https://deno.land/std/fs/README.md"
in Doc https://deno.land/std/fs/README.md

### globToRegExp

Generate a regex based on glob pattern and options This was meant to be using the the fs.walk function but can be used anywhere else.
[code]
globToRegExp does not exist in actual code.
Compiler Error:
[code]

[2020-02-09 01:17] nayeemrmn commented on #3934
That's in the `path` module now. Sorry, those READMEs are often left outdated.

Honestly they're redundant doc for a random subset of functions that exist in that directory. We should instead use them to briefly summarise what the directory is for and how it might be extended with just one or two stable examples.

[2020-02-09 04:17] dsherret commented on #3883
This is fixed in dprint 0.4.3 along with various other improvements and fixes.

Next improvement will be getting the remainder of TS 3.8 features in: https://github.com/dsherret/dprint/milestone/1

[2020-02-09 10:19] #3877 closed

[2020-02-09 11:17] kitsonk opened #3937 "Support TypeScript 3.8"
The release candidate for TypeScript 3.8 is available.  I have a branch updating to TypeScript 3.8.  The biggest feature we care about is that private fields and TLA are supported.  We were ignoring the TLA errors, and should take advantage of the private fields, as V8 already supports them and they are the best way to ensure private data stays private.

There is one major problem, prettier can't

[2020-02-09 11:32] seishun commented on #3716
The solution is to uninstall Rust and install the 64-bit toolchain (https://github.com/denoland/rusty_v8/issues/269#issuecomment-583791122). I suppose this should be documented.

[2020-02-09 13:39] nayeemrmn commented on #3937
dprint TypeScript 3.8 Support milestone: https://github.com/dsherret/dprint/milestone/1

[2020-02-09 14:14] seishun opened #3939 "Outdated paths in std/manual.md"
For example:

- tests/http_bench.ts (moved to tools/deno_tcp.ts)
- third_party/wrk/linux/wrk (moved to third_party/prebuilt/linux64/wrk)
- tests/002_hello.ts (moved to cli/tests/002_hello.ts)

I'd be happy to update them myself but I don't know what to do with some of them. For example, ./third_party/v8/tools/linux-tick-processor was moved to v8_rusty and is no longer directly accessible.

[2020-02-09 14:31] nayeemrmn commented on #3939
`https://github.com/denoland/deno/blob/master/cli/js/lib.deno_runtime.d.ts` -> `https://github.com/denoland/deno/blob/master/cli/js/lib.deno.ns.d.ts`

[2020-02-09 15:17] seishun commented on #2606
I uninstalled VS2017 and ran `cargo clean`. deno built successfully with only VS2019 installed. I think this can be closed.

[2020-02-09 16:10] gewoonwoutje commented on #2507
FWIW I'm having trouble compiling with VS 2019 as well.
[code]

[2020-02-09 17:00] JimLynchCodes opened #3941 "Make ClojureScript A First Class Language?"
I think deno is an awesome project! I am a huge fan of TypeScript, but to be honest I prefer very functional TypeScript and hardly ever like to use the `class` keyword. ClojureScript is basically just referring to the fact that other people have already done the hard work of making Clojure's extremely beautiful and simple syntax integrate easily with JavaScript. It would be awesome if deno could s

[2020-02-09 18:22] hazae41 opened #3942 "Support UDP sockets"
I'm working on an software that needs to receive UDP packets. And since Deno only supports TCP, I'm using a node-js frontend that transmits UDP packets to my deno backend through websockets.

I was wondering if there are plans to add UDP support to Deno, and if so, what's the roadmap, what prevent us from adding it right now?

I would be very happy to have positive answers, it would allow me to on

[2020-02-09 18:54] #3925 closed

[2020-02-09 19:03] #2606 closed

[2020-02-09 19:17] ry commented on #3942
UDP support would be a welcome addition and not too difficult. You’d basically look up Tokio’s API for it and use the TCP binding as a guide to add support.

[2020-02-09 19:43] axetroy commented on #3923
already support in vscode extension

BTW. `typing.d.ts` 's namespace 'data-fns' is not compatible with Deno

[code]

![1](https://user-images.githubusercontent.com/9758711/74108634-52e41880-4bb7-11ea-952f-f5891c9ffd9c.gif)

[2020-02-09 19:47] kitsonk commented on #3923
Or if you want something that looks more portable:

[code]

We need to add the emitting of declarations to bundles in Deno as well, and then we would only emit module names in declarations that would work with Deno.

[2020-02-09 19:51] kitsonk commented on #3939
@nayeemrmn I've got a better update for that one in #3863 as it is a bit more complex now.

[2020-02-09 19:54] kitsonk commented on #3941
Personal opinion, I don't think we should take that on.  Other scripting languages though could be supported via #1739.

[2020-02-09 21:33] saostad opened #3943 "[Codeing Style] for variable description use /** */ comment style over //"
in [source code](https://github.com/denoland/deno/blob/master/std/io/bufio.ts#L41) I saw variable description in front of each with format `//description` which is not following [JSDocs](https://jsdoc.app/tags-type.html) and also it's not good in VSCode since in mouse pop up over the variable it shows description before variable in format `/**description*/` .
if that makes sense it will be the res

[2020-02-09 22:29] aliabolhassani commented on #3716
Thank you @seishun. It worked.

[2020-02-09 22:29] #3716 closed

[2020-02-09 23:37] aliabolhassani commented on #3179
@brandonkal The top module, exports the manifests to Deno. Since any application only needs one configuration like permission and artifactory, no need to have manifest files for every single `.ts` file. This seems to be a clean way to declare manifests, however, need for the reserved words like `'registry'`, `'alias'`, `'permission'`, ... could be criticized.

Although, your suggestion in [#3675](

[2020-02-10 00:11] pnsvinodkumar commented on #2473
Can anyone please let me know what would be the future of Node ? (any timeline on Deno for 1.0 ?)
What would be the fate of all the mammoth amount of packages (prod-ready) already available for node in the community ? Would there be a clear migration path?

[2020-02-10 00:41] kitsonk commented on #3943
Only thought:

[code]

Should be like this:

[code]

[2020-02-10 01:31] JimLynchCodes commented on #1739
I don't know if I'm in the right place, but I would like to write ClojureScript and directly or indirectly run it through deno! 🙃 🙌

[2020-02-10 01:35] JimLynchCodes commented on #3941
Thanks @kitsonk!

That's understandable. Probably running my ClojureScript through the Google Closure compiler as I do for Node.js will be the best way for me to prepare it to run in deno. 🙂

[2020-02-10 01:35] #3941 closed

[2020-02-10 02:25] josephrocca commented on #2473
Should #3649 (read/write defaults) be resolved before v1.0? It seems pretty important. I'd definitely like `--allow-read` and --allow-write` to not default to being able to read/write anywhere. As pointed out in that issue, it's only two extra characters to type `--allow-read=/` if someone wants to give the script full access. Speaking only for myself, most of my use cases would only need to read/

[2020-02-10 02:27] kitsonk commented on #1739
If there is a JavaScript based Clojure compiler, then that would likely be possible to accomplish with this feature.

[2020-02-10 04:11] dsherret opened #3948 "Parallelize deno fmt?"
I believe the performance of `deno fmt` could be improved by parallelizing across files the read, format, and write.

I'm not sure it will work out of the box with dprint or swc (I think it should), but if not then it's something I could look into.

[2020-02-10 06:28] axetroy opened #3949 "Deprecated `@deno-types="./foo.d.ts"`"
[code]

[code]

After supporting Triple-slash reference directive

It seems there is no reason to use `@deno-types`

We should follow the standard, not create another one

[2020-02-10 07:36] somombo commented on #2473
You can continue using node.js as usual since these are technically independent projects. I think migration guides (if any) will start to emerge once Deno matures and best practices cement (Definitely after v1.0). Finally, current ETA has already been described in the original post (and is actively updated there), so just watch that post in case the expected timeline changes.

[2020-02-10 10:52] David-Else commented on #3943
...and the heading `Format code using prettier.` is now out of date too.

I really hope the new formatter produce identical output to Prettier, as the intent of Prettier was to create a new standard:

1. No more debates about what is best, just accept the new standard and get on with life
2. Diffs will be massively improved as different commits won't change the formatting (providing we all use the

[2020-02-10 12:52] seishun opened #3950 "readDir/readDirSync panics when run on a directory with non-Unicode filenames"
Related to https://github.com/denoland/deno/issues/627.

First, create a directory containing a non-UTF-16 filename. You can use the following code to create such a file:
[code]
Then run this deno code inside that directory:
[code]
Output:
[code]

[2020-02-10 13:29] nayeemrmn commented on #3943
@David-Else There's no `format.ts` anymore, but we still use prettier for Deno's source. That should probably change at some point but `deno` will become a dev dependency of Deno which it isn't already. No problem with that, though.

[2020-02-10 14:43] saostad commented on #3943
so should I consider the discussion as everyone agreed with my proposal?
if yes I will start working on my pull to add it as a rule in style-guide and apply the changes to std modules.

[2020-02-10 14:49] nayeemrmn commented on #3943
Those are private fields... the current style guide is concerned about _exported_ machinery, that's probably intentional. You can change specific comments but the style guide shouldn't enforce anything more IMO.

[2020-02-10 15:33] seishun commented on #627
I think the solution to this problem will depend on the following questions:
- Should deno allow accessing files with non-Unicode names?
- Should deno allow _creating_ such files?

I'd say the most reasonable answers are "yes" and "no", respectively. I propose the following approach:
- Add a "Path" class that opaquely wraps an OsStr. The user can't construct it, but they can attempt to convert it

[2020-02-10 16:41] ry commented on #3948
I'm open to it. I think it would be a good situation to use Tokio's threaded runtime. I think it's not so important tho (dprint is already so fast!) so I hope it would not introduce a lot of complexity.

[2020-02-10 17:06] dplewis opened #3954 "Adopt a code of conduct"
A [code of conduct](https://robots.thoughtbot.com/adding-a-code-of-conduct-to-open-source-projects) is a common practice to foster a kind, inclusive, cooperative, and harassment-free community. Adopting a code of conduct would demonstrate that new contributors will be welcomed and respected.

[2020-02-10 18:08] #3883 closed

[2020-02-10 18:47] ry commented on #3954
https://github.com/denoland/deno/pull/3956#issuecomment-584289644

[2020-02-10 18:47] #3954 closed

[2020-02-10 19:13] frankhale opened #3957 "Lodash - Uncaught Error: Protocol has to be file://"
Full disclosure: I'm a complete Deno newbie. This is probably not a Deno bug but a bug in my understanding of how to import modules.

I'm trying to import Lodash from https://deno.land/x/lodash_require/

[code]

When I run this:

[code]

I get the following error:

[code]

[2020-02-10 19:31] nayeemrmn commented on #3957
cc @kevinkassimo

It seems `createRequire(root)` needs a `file:///` root, that obviously won't work for remote modules.

Also, `https://deno.land/x/lodash_require/mod.ts`'s dependency `https://deno.land/x/lodash_require/lodash-npm` doesn't exist?

[2020-02-10 19:46] kevinkassimo commented on #3957
@nayeemrmn the reason is very simple: it is ported from Node and Node does not support remote URL loading.

I wonder if adding that support is a good idea or not, since it technically is outside of the scope of Node compatibility

[2020-02-10 19:51] nayeemrmn commented on #3957
@kevinkassimo Is the intention that it gets run in your local main module and not by remote libs? That would mean `https://deno.land/x/lodash_require/mod.ts` is authored wrong.

[2020-02-10 20:01] kitsonk commented on #3943
I tend to disagree on that. While consuming private fields elsewhere in the class, a properly formed comment is provided in editors consuming the language services. While it certainly is less critical, we should still be consistent.

[2020-02-10 20:02] bartlomieju commented on #3957
https://dev.jspm.io/lodash should work out-of-the-box:
[code]

[2020-02-10 20:04] ry commented on #3957
I think the biggest question is how to do we enable Node modules to be used as is done in this example.  It's certainly valid to try to
[code]

[2020-02-10 20:08] bartlomieju commented on #3957
@ry the problem is with module itself; as [read in README](https://deno.land/x/lodash_require/) it wants you to clone a submodule - I think that's out of scope for `require`

[2020-02-10 20:12] frankhale commented on #3957
@bartlomieju forgive me as I'm a Deno newbie. You mentioned that https://dev.jspm.io/lodash should work out of the box. I tried to import that but Deno complains. I guess my question is how do I import lodash using that URL?

[2020-02-10 20:18] bartlomieju commented on #3957
@frankhale, right... It turns out I hit problem too:
[code]

[2020-02-10 22:06] frankhale commented on #3957
Cloning the repo https://deno.land/x/lodash_require/ locally and following the installation instructions will work with a bit of manual editing to the `mod.ts` file.

I had to change

`const lodash = require_("./lodash-npm");`

to

`const lodash = require_("./lodash");`

and then fix my import statement like so:

`import Lodash from "./lodash_require/mod.ts";`

results:

`
D:\deno>deno --allow-rea

[2020-02-10 23:21] ry commented on #3957
I consider this a bug of `createRequire`. Not sure how to address it.

https://deno.land/x/lodash_require@5d8ab/mod.ts#L4

[2020-02-11 00:00] hazae41 commented on #3942
How to transfer a Rust "&mut [u8]" buffer to a JS "Uint8Array" buffer and vice-versa? I could not find how

[2020-02-11 00:03] pnsvinodkumar commented on #2473
@somombo thank you for the detail.. Can you please help me with the link you mentioned ?

[2020-02-11 00:54] alterx commented on #2473
@pnsvinodkumar, he's referring to the first comment in this issue: **https://github.com/denoland/deno/issues/2473#issue-453631188**

[2020-02-11 03:55] kevinkassimo commented on #3957
To implement this, I think there are at least some features we need to implement directly to Deno

Either
+ Ability to `fetch` synchronously or `readSync/writeSync` on connections, and API to retrieve Deno caching location (`DENO_DIR` or default)
Or
+ Expose an API to request download and caching of URL, like `deno fetch` but exposed as a function call. Also this call has to have a synchronous ver

[2020-02-11 04:08] kitsonk commented on #3949
I disagree...

Modifying the source is not always an option.  The new triple slash directive only works in JavaScript files, where you can easily modify the source.  `@deno-types` is used in situations where modifying the JavaScript source is not feasible, but the importer of the module knows the location of the types.

The reason and logic for each of the ways is discussed in the manual: https://

[2020-02-11 06:02] maxharris9 commented on #3234
I'm working on http://github.com/maxharris9/layout, and I'd like to port it to Deno.

[2020-02-11 08:18] brandonkal commented on #3919
"test" is never a valid module name because it is extensionless. Therefore,
a more helpful output must be provided ("Did you mean `deno test -A`?")

I have also seen the "Cannot resolve module" error with just `deno test` but I am fine ignoring that because I can't reproduce it reliably.

[2020-02-11 08:28] brandonkal opened #3961 "deno install creates duplicate flags"
There are a couple of bugs here:
1. `deno install -A ...` should not expand in the wrapper. If Deno introduces more permissions, wrappers may end up diverging.
2. `deno install -A ...` creates duplicate `--allow-env` flags. Fixing (1) will make this not an issue.

Also, looking at the shell wrapper it would be preferrable to call `exec` rather than saving the return code and exiting manually.

[2020-02-11 08:34] brandonkal opened #3962 "feat: deno install --no-reload"
Reload makes sense as the default for `deno install`. But it would still be nice to have the option to not download all the files again just to write a wrapper script.

[2020-02-11 10:50] bartlomieju commented on #3876
Finished with #3828

[2020-02-11 10:50] #3876 closed

[2020-02-11 10:57] bartlomieju commented on #3379
Deno switched to worker-per-thread model recently, I guess this issue might be closed now.

[2020-02-11 10:57] #3379 closed

[2020-02-11 11:02] bartlomieju commented on #3201
Done in #3818, #3850 and #3865

[2020-02-11 11:02] #3201 closed

[2020-02-11 11:03] bartlomieju commented on #3427
No longer needed - deno <subcommand> does not download std modules anymore (ref #3818, #3850 and #3865(

[2020-02-11 11:03] #3427 closed

[2020-02-11 11:04] bartlomieju commented on #2745
Fixed in #3828

[2020-02-11 11:04] #2745 closed

[2020-02-11 13:14] nayeemrmn opened #3969 "deno install path/to/target_exe <URL>"
I think the syntax `deno install --dir /path/to target_exe` is annoying if you just want to create a local alias. It can be improved by detecting a path separator in the exe name and treating it as a path in that case, just like when running executables in the shell.

`deno install target_exe <URL>` -> `~/.deno/bin/target_exe`
`deno install ./target_exe <URL>` -> `$(pwd)/target_exe`
`deno install

[2020-02-11 13:54] saostad commented on #3943
also if we don't have it in style-guide, eventually it will same again so what's the point of fixing it in the first place?

[2020-02-11 15:11] nayeemrmn commented on #3943
Sorry, I wasn't sure what change is being proposed. I meant that the style guide shouldn't say that private fields require JSDoc since we're already using TS and most things are self-explanatory.

Of course I agree if there _is_ a comment it should be written correctly... that much should be a given though, If not then maybe with small changes in wording.

[2020-02-11 15:17] nayeemrmn commented on #3919
@brandonkal Yeah, "smart" flag error messages are commonly suggested. Another one is where a perm error occurs and the relevant perm flag is detected in the script args. Could you open a new issue?

[2020-02-11 16:44] ry commented on #3933
my guess is this import: https://github.com/keroxp/deno/blob/346d51748befe6a383db39f79e10be235e6b9d62/std/flags/mod.ts#L1

<img width="970" alt="Screen Shot 2020-02-11 at 11 42 50 AM" src="https://user-images.githubusercontent.com/80/74258151-dc810c80-4cc3-11ea-9f56-218b9a8bc24c.png">

cc @keroxp

[2020-02-11 20:25] hazae41 commented on #3942
I found, [u8] becomes a JSON Array, then a JS Array, just convert the latter with `new Uint8Array(array)`. To convert it back to a JS Array, use `Array.from(buffer)`. Plus, `Vec<u8>` is preferred over `[u8]`

[2020-02-11 20:58] ry commented on #3961
fixed in #3906

Yes definitely.

[2020-02-11 21:08] ry commented on #3969
The difference between path and name is subtle... I wonder if we couldn't come up with a better idea?

What if when you don't specify the "name" but only the URL, you get the shell script printed to stdout. Then users can do `deno install $URL > /usr/local/bin/myprogram.sh` ... I like how this works with bundler.

[2020-02-11 21:43] nayeemrmn commented on #3969
`deno install` takes some args after the URL to pass to the script at runtime. I don't think that exact syntax would always work. Maybe with a `-` in place of the executable name.

But there is an issue with making an "install" command ever do something like that... it seems like it needs to hit the fs.

[2020-02-11 23:54] dstaley opened #3974 "Expose fetch related types in the global scope"
It'd be nice to have the following types from `__domTypes` exposed in the global scope:

- `HeadersInit`
- `RequestMode`
- `RequestInit`

(I'm sure there's more types, but these are the ones that I ran into that weren't exposed like they are in TypeScript.)

[2020-02-12 00:06] dstaley opened #3975 "Let external modules define their own tsconfig options"
I'm one of the contributors to [kinto-http.js](https://github.com/Kinto/kinto-http.js) and would love to provide a version of the library that works with Deno. However, our TypeScript version uses decorators along with TypeScript's `experimentalDecorators` option.

I'd love the ability to somehow let Deno know that this module requires `experimentalDecorators` to be true, without the consuming use

[2020-02-12 02:11] pnsvinodkumar commented on #2473
@alterx Thank you.. :pray:

[2020-02-12 02:25] srackham opened #3976 "testing/mod.ts deletion from master generates testing module download failure"
Recent repo `testing/mod.ts` deletion results in Deno download failure.

[code]

Should Deno download from the repo tag version that matches the version of the Deno executable? e.g. deno 0.32.0 would download from repo tag v0.32.0

[2020-02-12 02:51] srackham commented on #3976
Dropping `testing/mod.ts` from imports and using the `Deno.test` method generates:

    error TS2339: Property 'test' does not exist on type 'typeof Deno'.

[2020-02-12 05:24] hayd commented on #3416
The problem I was having was awaiting stdout for a program which _never_ prints to stdout:

- Process never exits so must be killed
- Process doesn't necessarily print to stdout (so the `await p.stdout.read` may hang forever, and cannot be cancelled)

[workaround](https://github.com/hayd/deno-lambda/commit/651f03d2e1dca3709fb38cb7d46f5d56b9dedc27#diff-05b0276744e64e1d580d2fd17d3af935R87) is to exi

[2020-02-12 07:25] balajahe opened #3977 "File.writeSync(buf) - does not write buffer more than 16384 bytes"
When a buffer is writting to a file synchronously, a buffer larger than 16384 is truncated without warning and is not written to the file!

deno 0.32.0
v8 8.1.108
typescript 3.7.2

Code Example:
`const buf_size = 40960 //4096 - standard value //16384 - max allowed value !!!
const buf = new Uint8Array(buf_size)
buf.fill(0x31)

const fn = './deno_file_write_bug.txt'
const f = Deno.openSync(fn, 'w')

[2020-02-12 07:38] amiteshore commented on #2473
@ry You wrote -

Are you talking about **February 2020** or **February 2021**?

[2020-02-12 09:17] bartlomieju commented on #3976
Latest release of Deno uses `v0.29.0` of testing module if I'm not mistaken. You can always import specified version manually: `import { test } from "https://deno.land/std@v0.32.0/testing/mod.ts`
Generally it's a good practice to use tagged version

[2020-02-12 10:01] ondras opened #3978 "prerequisities for running?"
Hi,

what are the prerequisities/dependencies to run Deno? I am trying a minimal setup with the following in Dockerfile:

[code]

...but I end with

[code]

[2020-02-12 11:06] ondras commented on #3978
Found https://github.com/hayd/deno-docker, closing.

[2020-02-12 11:06] #3978 closed

[2020-02-12 11:49] kitsonk commented on #3975
TypeScript, in their unit test cases, have a lot of comment pragma for impacting the configuration, for example, stuff like this:

[code]

I think a very strict subset of the compiler options would work here, like:

[code]

It feels challenging to require it on a per module basis, so it feels as we analyse the dependencies, we would update the compiler options, and if something asserted a change,

[2020-02-12 15:52] axetroy commented on #3949
@kitsonk

We can customize the function `languageServiceHost.resolveTypeReferenceDirectives` to ignore it in the typescript file

[code]

https://github.com/denoland/deno/blob/e6167c78134182c45689bda7bcb12af05009349c/deno_typescript/compiler_main.js#L123-L133

[code]

I think this should be feasible.

[2020-02-12 16:05] saostad commented on #3943
ok, I will start work on it

[2020-02-12 17:38] afinch7 commented on #3977
If this is considered a bug then should writeSync always write the entire buf no matter how long. This might cause issues if the length of the buf overflows the shared queue. This would also seem to make the return of number of bytes written kinda pointless. If we expect we may have to call write multiple times to write the entire buf implementations might look something like this instead:
[code]

[2020-02-12 17:42] ry commented on #3977
oops I thought this was about writeFileSync... You're right @afinch7.

@balajahe - write is a low-level I/O call and it does not guarantee the whole buffer will be written. Have a look at `Deno.writeAllSync()` https://deno.land/typedoc/index.html#writeallsync

[2020-02-12 18:33] srackham commented on #3976
@bartlomieju: Thanks, and apologies for the noise, I should have used stackoverflow for this question.

[2020-02-12 18:33] #3976 closed

[2020-02-12 18:39] balajahe commented on #3977
@ry - you are completely right, but then this feature should be reflected in the documentation !
https://deno.land/typedoc/index.html#writesync

[2020-02-12 18:43] ry commented on #3977
@balajahe Maybe it could be more explicit but doesn't "Resolves with the number of bytes written" suggest that it might not write the complete buffer? What would you have it say?

[2020-02-12 20:58] hazae41 commented on #3942
PR is ready for review https://github.com/denoland/deno/pull/3946

[2020-02-12 21:41] #2553 closed

[2020-02-12 21:41] #3559 closed

[2020-02-12 21:41] #3751 closed

[2020-02-12 21:41] #3825 closed

[2020-02-12 22:01] kitsonk commented on #3949
@axetroy we don't use the language service host in Deno.

That is by design.  Adding it to TypeScript files does nothing for Deno, but it is important to provide the capability of "pointing" to types in JavaScript files.  Is there something not working?  Because adding what you are suggesting would not impact Deno at all.

[2020-02-12 22:08] kitsonk commented on #3301
The improvements to bundling is part of the solution for top level await.  And #3937 will automatically close this without further work.

[2020-02-12 22:12] kitsonk commented on #3937
I suspect it will take a little while for prettier to support ECMAScript Private Fields in TypeScript, mostly because there are a few upstream dependencies and it isn't just an upgrade for them.  That means we might want to land adoption of that later and not concurrently with TS 3.8.  The main reason to land TS 3.8 as early as feasible is proper support for TLA, including in bundles.

[2020-02-12 22:25] kitsonk opened #3980 "Adopt ECMAScript Private Fields"
We should adopt ECMAScript private fields in the internal code within Deno and in `std`.  We have a couple of different patterns in the code base in regards to this (TypeScript `private` and using WeakMaps in Events) and should adopt a consistent mechanism which provides us with the runtime privacy of data.  We have a 3rd pattern where we have marked some fields as private, but they are defined wi

[2020-02-13 00:41] brandonkal opened #3981 "Deno.run clean environment"
Deno.run inherits environment from the parent process. I'd love to see something like this:
[code]

This would mean only explicit environment variables would exist. Not unlike
[code]
Doing the above is possible but not as elegant.

[2020-02-13 02:28] suguru03 opened #3982 "file_server returns Too many open files error"
I simply run `file_server`, but it will start returning the error with 500 status.

deno 0.32.0
v8 8.1.108
typescript 3.7.2

[code]

This is the my test case.
[code]
If I increase `ulimit`, the error can be delayed, but it won't fix the issue.

I have tested some cases, it seems files are not closed properly.
If I close files after returning responses, it won't cause the error.
[code]

https://git

[2020-02-13 02:42] jsejcksn commented on #3165
Can we presently override the behavior introduced in #1969 so that we can see values in the output, or do we need to use `JSON.stringify` until this issue is resolved?

[2020-02-13 04:47] kitsonk opened #3983 "Use swc to expose an AST to the runtime"
We include the swc crate as part of the dprint crate in order to power `deno fmt`.  We should consider exposing swc to provide a runtime AST for JavaScript and TypeScript files.  While we can't use the AST (yet) to drive the compiler, it would be a useful API to have in runtime to enable innovative solutions, like AST manipulation.

[2020-02-13 06:41] brandonkal commented on #1880
This could be useful without eslint to replace `tsc --noEmit`.

[2020-02-13 07:58] axetroy commented on #3983
This APIs should be helpful for `code Transform`/`style lint and more.

No need to rely on node.js

But I think it might be better to expose the typescript interface

[2020-02-13 09:43] brandonkal commented on #3165
Formatting logic to port starts here:
https://github.com/nodejs/node/blob/a751389a14ddb3571e3ade22ac472b9aeb912bc0/lib/internal/util/inspect.js#L1778

[2020-02-13 11:55] hazae41 opened #3984 "BUG: Outdated types on script runtime"
Hello, I modified Deno for PR https://github.com/denoland/deno/pull/3946 and built it (in debug and release mode). Then I tried it with different runtimes: REPL, JS script, TS script.

The problem occurs on the updated type:

    type Transport = "tcp";

which is now

    type Transport = "tcp" | "udp";

And this is the line I tried to run on each runtime:

    Deno.listen({ port: 80, transport: "

[2020-02-13 12:02] bartlomieju commented on #3984
@hazae41 https://github.com/denoland/deno/pull/3946#discussion_r378537954

[2020-02-13 12:02] #3984 closed

[2020-02-13 14:14] mathiasrw commented on #3696
@bnoordhuis nice work.

This is spot on.

Yes, for sure we must have a way to esecute a string just as if it was in a file and we asked deno to run fhat file (with top-level await and everything the same)

A function for "auto print" is super useful for scripting or piped bash commands and I find it a fair tradeoff to place some well-documented limitations - like no top-level await or no static im

[2020-02-13 16:29] saostad opened #3986 "[Doc] Contributing instruction manual outdated"
I saw some issues in contributing instruction in manual:
[contributing for windows users](https://github.com/denoland/deno/blob/master/std/manual.md#prerequisites) is outdated, we should update Prerequisites for windows users:
- [Visual Studio Community](https://visualstudio.microsoft.com/vs/community/) include (C++ tools needed for build [rusty_v8](https://github.com/denoland/rusty_v8)):
  - Visu

[2020-02-13 17:01] saostad opened #3987 "Property 'test' does not exist on type 'typeof Deno'.ts(2339)"
in test files everywhere `Deno.test()` exist. typescript errors: `Property 'test' does not exist on type 'typeof Deno'.ts(2339)`

Windows 10
VSCode: 1.42.0
Plugin Deno installed!

[code]

I took a look at `lib.deno.runtime.d.ts` file and couldn't find function def for `test()` !

[2020-02-13 20:22] bartlomieju commented on #3987
Hey @saostad, `Deno.test()` will be available in the next release. The error is most likely caused by `std` import that is not pinned to specific version.

Try using latest released `std`:
[code]

[2020-02-13 22:24] nayeemrmn opened #3992 "Server request error handling, is this correct?"
https://github.com/denoland/deno/blob/621aeef8364fcbd2da93b208971c51a4fbf08903/std/http/server.ts#L442-L475

Let's say `readRequest()` fails, then the binding to `req` is not made and `err` is set. The loop breaks and we eventually reach the error handling. So which `req` are we sending `400` to? Isn't that the previous request, which was good and yielded to the user?

cc @bartlomieju

[2020-02-13 22:29] nayeemrmn commented on #3992
If `readRequest()` refuses to return a malformed request, it should be internally responsible for responding.

[2020-02-13 22:29] kitsonk commented on #3983
But the AST is not serializeable (see: microsoft/TypeScript#33502)... it is highly self referential and it is not really that easy to work with compared to things like estree like ASTs.  I don't know what sort of AST swc generates, but it is worth looking at.  If it is easy to serialize to JSON, then it will be better, and longer term Ry and I have talked about taking that AST and feeding it to th

[2020-02-13 23:26] ry commented on #3933
[code]

[2020-02-14 00:46] kitsonk commented on #3932
Ok, I have a slightly stronger opinion on this now... `fetch()` returns a `Response::body` and `Body::read()` returns a `Promise<number | Deno.EOF>`... This leaks the Deno namespace into non "standards" based code which is bad, because workers do not include the Deno namespace, but do include `fetch()` according to our typings, and that means they would have no way in theory of checking for `Deno.

[2020-02-14 00:52] kdy1 commented on #3021
I'm going to write a `.d.ts` generator (with some simple type inference). Does it help?

[2020-02-14 00:59] kitsonk commented on #3933
Hmmm... It feels like we should have a more lightweight `assert()` that is actually part of Deno, that we could build on top of in `std`.  40k seems a bit heavy to just detect a flow (plus we really should try to avoid circular dependencies like that 😢 )

[2020-02-14 00:59] ry commented on #3933
If we had tree shaking on the bundle this wouldn't be a problem. I wonder if SWC could help us there?

[2020-02-14 01:25] nayeemrmn commented on #3932
Wait, why is there a `Body::read()`? That's not standard.

https://github.com/denoland/deno/blob/87c329c45ac0e3382c115793094317df15cbe5bf/cli/js/fetch.ts#L38?

[2020-02-14 01:32] kitsonk commented on #3933
I need to look more at the parsing of SWC, and a bit more research in how something like rollup tree-shakes as the logic gets really complex with things like namespace exports and detecting potential side effects. If swc produces an estree like AST then the logic should be adaptable from other projects. If it isn't then it really be from square one.

[2020-02-14 02:15] srackham opened #3993 "Deno fmt skips mod.ts file"
A minimal example:

[code]

[2020-02-14 05:39] kitsonk opened #3994 "Support a pty interface"
Deno should support forking of pty interfaces (psuedo terminals) which would allow Deno workloads to be able to "pretend" to be a terminal, which can allow Deno workloads to be a terminal emulator or allow certain programs to think a Deno workload is an terminal to send it control sequences.

Node.js Prior art: https://github.com/microsoft/node-pty (which is used to provide the terminal interface

[2020-02-14 05:53] kitsonk opened #3995 "Support HTTP/2, HTTP/3 and QUIC in HTTP server"
This was discussed over in denoland/deno_std#153 but was locked during the move.

While we still have concerns around the HTTP server, we should also consider supporting HTTP/2, HTTP/3 and QUIC.

[2020-02-14 08:17] bartlomieju commented on #3932
@kitsonk @nayeemrmn that's interesting topic, just yesterday I talked with @ry about it.

I'm not sure that `fetch` should return a body that is a resource in the first place. This leads to the fact that you need to consume body or else it will leak (https://github.com/denoland/deno/issues/3982). Does it work like that in the browser?
As for `null` instead of `Deno.EOF` I guess it makes sense give

[2020-02-14 08:19] bartlomieju commented on #3933
That especially makes sense, after addition of `Deno.test()` API - seems silly to have to load assertion functions. I guess stripped down version without coloring and pretty print could do?

[2020-02-14 08:40] bartlomieju commented on #3993
Just checked with v0.33.0 and provided example works fine. Closing for now

[2020-02-14 08:40] #3993 closed

[2020-02-14 10:07] brandonkal opened #3997 "[bug] Deno fails compiling with generic inference"
See https://gist.github.com/brandonkal/853c3d1dc53a79d366b6662eaa84bb5f

Details of the bug are contained in the Gist file.

Pinging @kitsonk as he is the TypeScript expert here.

To reproduce, run the file and notice that Deno throws bad TypeScript errors. `tsc` correctly infers the type of the parameters.

[2020-02-14 10:13] Fenzland opened #3998 "[Feature Request] worker with global `Deno` API"
This API removed since 0.32, now `globalThis.Deno` in worker returns `undefined`.

[2020-02-14 10:21] bnoordhuis commented on #3994
https://github.com/libuv/libuv/issues/2640 might be instructive. Notably, pty emulation on Windows < 10 is highly arcane - it involves setting up a console, positioning it off-screen and scraping it with an agent process. Yes.

The crate you link to offloads that to [winpty](https://github.com/rprichard/winpty) but it requires that winpty.dll be installed separately. Not a great out-of-the-box exp

[2020-02-14 10:47] kitsonk commented on #3994
@bnoordhuis actually it uses [conpty](https://docs.rs/portable-pty/0.2.0/portable_pty/enum.PtySystemSelection.html#variants) which is included in Windows 10+, it is only pre-Windows 10 where winpty is required (just like node-pty).

[2020-02-14 10:55] kitsonk commented on #3997
Top Level Await is not supported in TypeScript 3.7.  We are temporarily getting past this by ignoring the error, but internally TypeScript is not tracking the types right, because it thinks you have invalid syntax.

What version of `tsc` are you using?

[2020-02-14 11:03] bnoordhuis commented on #3994
That's what I said, didn't I? Windows < 10.

As a data point: Windows 7 + 8 still makes up 55% of Node's Windows user base, if I read the download stats right.

[2020-02-14 11:22] David-Else opened #3999 "Subcommand description for `deno test` out of date for 0.33.0 release"
[code]

In the `--help` docs it says:

[code]

but it doesn't work:

[code]
I have one file in my `test` directory called `mod_test.ts`

I can run it like this:
[code]
but total failure trying to run all tests in the directory:
[code]

What does this mean when I leave out the permissions and import map info?
[code]

[2020-02-14 11:57] axetroy commented on #3395
I think this item is outdated

close

[2020-02-14 11:57] #3395 closed

[2020-02-14 12:14] brandonkal commented on #3997
3.7.2

[2020-02-14 12:28] brandonkal commented on #3997
Interesting though this doesn't appear to be related to the `await` thing. Wrapping the whole thing in an async function, Deno still spits out the same TS compile errors.

[2020-02-14 13:01] axetroy opened #4000 "`deno fetch` will not handle `X-Typescript-Type` headers"
[code]

[code]

[2020-02-14 13:38] seishun opened #4001 "Static non-code resources in modules"
Let's say I want to write a module that communicates with some service using Protobuf.

In Node.js, the npm package would contain .proto files which the module would load directly from the file system (using `__dirname`).

What's the deno equivalent? It seems `import` works only for code and `fetch` wouldn't be cached.

[2020-02-14 13:43] bartlomieju commented on #3987
Deno v0.33.0 was released so `Deno.test()` will be available in type declarations.

[2020-02-14 13:43] #3987 closed

[2020-02-14 13:49] bartlomieju commented on #3999
Looks like I forgot to update subcommand description 😠 my bad

`deno test` will now run only specified files, so you should rely on your shell glob expansion.

That's the error returned when "bare" import specifiers are used (in this case `testing` is the "bare" specifier).

The error is self explanatory - by default Deno accepts import specifiers starting `/` (absolute), `./`  or `../` (relative)

[2020-02-14 13:51] bartlomieju commented on #3998
That's right, we're striving to have Web compatible `Worker` API. `Deno` global namespace is a Deno specific feature so it should be available in workers by default.

After structured clone is done and landed we might want to add something like `new Deno.Worker()` which will be a web worker but with Deno namespace, ops, resources, etc.

[2020-02-14 13:57] bartlomieju commented on #3992
@nayeemrmn I have a growing feeling that `std/http/server.ts` needs a rewrite - it doesn't handle server shutdown as well and that problem is also related to `readRequest`.

[2020-02-14 14:06] bartlomieju commented on #3982
@suguru03 your findings that `res.body.close()` fixes the problem is correct. When `fetch` returns a response, the body of response is stored as Deno resource. Therefor body has to be consumed or closed manually.

There was a try to address this problem by @kevinkassimo in #2106, but it did not land.

[2020-02-14 15:07] nayeemrmn commented on #3999
@David-Else FYI, the old test runner is still available in `std` (and should be until people are satisfied with the new one). That means `deno -A https://deno.land/std@v0.33.0/testing/runner.ts src/` will work like you're used to.

[2020-02-14 15:15] nayeemrmn commented on #4001
The import system shouldn't be used for this, but being able to use the cache system for non-code resources is a very good point (may as well change the title). That would be applicable to suggestions in #3448.

[2020-02-14 15:45] David-Else commented on #3999
@bartlomieju Cheers! I am very happy with the new `Deno.test()`, and am trying to make a template to share that works like the old `deno test test/` with an import map.

I would like deno to run every test file in the `test` directory. They are titled `xx1_test.ts, xx2_test.ts...`

 I only have one OS here to test on, please can you confirm this is the best way to write it to work on Linux/Mac/Win

[2020-02-14 15:48] bartlomieju commented on #3999
@David-Else this glob should do the trick:
[code]

[2020-02-14 15:57] David-Else commented on #3999
@bartlomieju I have this directory structure:
[code]
[code]
works, but:
[code]

[2020-02-14 17:02] ry commented on #3999
I'm trying to fix this in https://github.com/denoland/deno/pull/4002

[2020-02-14 17:13] ry commented on #4001
import.meta.url provides more-or-less the same functionality as __dirname.

[2020-02-14 17:18] seishun commented on #4001
For a module imported via a URL, this will be the module's URL, right? It won't be a local directory where you can directly read files from, like in Node.js.

[2020-02-14 20:08] kitsonk commented on #4001
Then you would use `Deno.cwd()`.

[2020-02-14 20:19] seishun commented on #4001
`Deno.cwd()` won't contain the module's resources.

[2020-02-14 20:56] kitsonk commented on #4001
Only the imported resources are ever retrieved, so if you are loading a remote module, why are you trying to read local resources that don't exist?!

[2020-02-14 22:02] seishun commented on #4001
Correct, and since only code files can be imported, there is seemingly no way to retrieve non-code resources required by the module other than to use `fetch`. In Node.js, all resources bundled with the module are local, so it's not an issue there.

[2020-02-15 01:02] kitsonk commented on #4000
That is strange. Hmmmm... I didn't realise `deno fetch` uses a different resolution path.

[2020-02-15 02:35] kitsonk commented on #3997
@brandonkal what does your `tsc` config look like?

[2020-02-15 04:17] AlexLeung commented on #3473
Will Deno have a standard plugin API?

[2020-02-15 04:18] AlexLeung commented on #3473
I'd like to be able to implement hot module swapping.

[2020-02-15 06:40] kitsonk commented on #4001
That is very intentional, as allowing privilaged access to non-code resources would break the security model. Using `import.meta.url` as a relative base with fetch and `--allow-net` is the way to go.

[2020-02-15 08:34] fakoua opened #4003 "Dynamic import requires file access permissions"
Hi,
Consider the following imports,
`import t from "f.ts"`
And
`let t = await import("f.ts")`

Technically, both syntax access the file system, but the dynamic import requires the file access flag to be set.

It confuses the backend user, while the application may not need that permission.

Please advise.
Thanks

[2020-02-15 09:06] seishun commented on #4001
Could you elaborate?

See https://github.com/denoland/deno/issues/4001#issue-565332132:

[2020-02-15 09:21] kitsonk commented on #3473
@AlexLeung it isn't helpful commenting like this on a random issue.

I will admit we don't mention the plugin API in the manual though. 😢 But it was merged in #3372.  We really need docs for it @bartlomieju @afinch7.

[2020-02-15 09:29] kitsonk commented on #4001
Yes. We are fairly strict with remote modules that their media type needs to match the set of known modules that we process, and we process those modules, we then inject those modules into the runtime.  Runtime code has 0 access to this code directly, including JSON, meaning that it can simply request code to be retrieved and added to the runtime, and the runtime code only sees the results of the

[2020-02-15 09:38] kt3k commented on #4001
@seishun
I'm not sure this is an ideal solution but, If your module is in local disk, import.meta.url is like `file:///path/to/module.ts`. So you can get the absolute path (=~ __dirname + filename) of it by stripping the first `file://` part.

[2020-02-15 12:47] nayeemrmn commented on #4003
@fakoua See #2761. It definitely does need read permissions for local modules and especially net permissions for remote modules.

[2020-02-15 12:54] seishun commented on #4001
Would a proxy that wraps arbitrary resources in a JS module default export as described in https://github.com/denoland/deno/issues/3756#issuecomment-581096259 be considered a backdoor?

From deno manual:

It's unclear how the proposed fetch cache will work exactly, but the quoted behavior would be desirable for non-code resources too. Otherwise it's not an ideal solution.

[2020-02-15 13:38] bnoordhuis commented on #3950
It's not just Windows and UTF-16. Deno doesn't like invalid UTF-8 either:
[code]

[2020-02-15 14:00] bnoordhuis commented on #3950
I've opened #4004 with a proposed fix.

[2020-02-15 15:11] bartlomieju commented on #3915
Fixed in #3988 and released in `v0.33.0`

[2020-02-15 15:11] #3915 closed

[2020-02-15 15:15] bnoordhuis commented on #2731
Seems to work okay now. Can this be closed?
[code]

[2020-02-15 15:37] #3950 closed

[2020-02-15 17:20] brandonkal commented on #3997
https://github.com/brandonkal/deno-lib/blob/master/tsconfig.json

Maybe I've got something odd going on in my environment. I'm seeing the effect of "strictNullChecks" but now looking at my tsconfig, it is not specified there.

I have `axetroy.vscode-deno` installed.

[2020-02-15 19:01] seishun commented on #3089
Another test case that doesn't involve string literals:

[code]

[2020-02-15 19:34] kitsonk commented on #3089
@seishun please provide more information, like that actual error output and the version of Deno you are using.

[2020-02-15 19:37] kitsonk commented on #3997
@brandonkal you can't run `tsc` based on the `tsconfig.json` and have your example compile.  Could you please provide an example where `tsc` successfully compiles?

[2020-02-15 19:40] kitsonk commented on #4001
Possibly, great for discussion on that issue, as we wouldn't want to introduce one.

Again, great for discussion on that issue.

[2020-02-15 19:57] saostad opened #4007 "read big file line by line"
I am trying to read a big file (13,147,026 lines of text) line by line with deno but it's giving me error:
[code]

Here is my code:
[code]

versions:
[code]
I am trying to find an equivalent of node streams.
please advise!

[2020-02-15 21:12] seishun commented on #3089
master, same error ouput:
[code]

[2020-02-15 23:01] artisonian commented on #4007
In Deno, the I/O model is different. The `Reader` interface is what you want. The idea of a reader is to give the caller a way to request data while getting back pressure (which you can detect by checking to see if the `Reader` gave you the number of bytes you expected). If you aren't familiar with Go, this might seems a bit odd.

But to give an example of your code above:

[code]

The thing to no

[2020-02-16 00:09] kitsonk commented on #3089
And version of Deno?

Note to self, check if preprocess analyses AMD type of structures and if there is anyway to modify that.

[2020-02-16 02:45] YarivGilad opened #4008 "How should universal modules import dependencies?"
Hi all, quick question - any ideas on how to run universal modules with Deno on the server and typescript on the client?
My use-case involves a universal/SSR react app with typescript.
Some of the modules are being run both on the server and the client so on the server, I'm supposed to reach out to a URL and get them, while the same module when built with tsc or babel, is expected to reach out to

[2020-02-16 09:46] seishun commented on #3089
As I said, master, which is 0.33.0.

[2020-02-16 12:13] seishun commented on #3756
As alluded to above, a fetch cache _could_ be used for static non-code resources, such as .proto files. But it won't be ideal if it would still require `--alow-net`, and especially if the cache would expire. Compare that to npm packages, where any resources required by the module are stored in a local directory and can be read directly from the file system.

[2020-02-16 13:19] seishun commented on #4001
That issue is about fetch, I don't think the usage of `import` I described is relevant there.

Left a comment, but that issue is specifically about fetch cache, which is just one of possible solutions to the problem discussed here.

[2020-02-16 19:53] brandonkal commented on #3756
That's one of the issues with npm packages. They can download anything and put it in the PATH. The cache would expire based on the headers the server specifies. If you don't want expiration you specify that where you serve the file.

Rather than making a fs call in the module, you make a fetch call, and if reaching out to the network can be avoided because of a valid cache, it is.

I suppose it ma

[2020-02-16 20:09] brandonkal commented on #4001
As far as I am aware, browsers do not handle arbitrary resources through import. I would _like_ to see the ability to statically import YAML as a JS object but   that isn't portable to browser runtimes.

Now I use a proxy and parse its default export text as YAML. That works fine for now because I can use Deno's existing import cache.

It would be the same for other resource types. If browsers sup

[2020-02-16 20:23] kitsonk commented on #4001
Correct.  We play loose by converting JSON (we also support JSX, TSX).  I would say we stop there, because everything else could potentially lead to a security issue and code injection.

[2020-02-16 21:30] lucacasonato commented on #4008
Import maps can be a solution to this problem: https://deno.land/std/manual.md#import-maps

[2020-02-16 22:37] lucacasonato opened #4013 "Deno resolves `require` at build time"
[code]

Placing this code in a **typescript** file called `xyz.ts` and running `deno --reload xyz.ts`, makes deno download `https://deno.land/std@v0.33.0/http/server.ts` and all of its dependencies. The code does crash during execution because `require` is not defined.

This seems to be caused by the typescript compiler resolving require() calls at build time. That should not happen.

/cc @kitsonk

[2020-02-16 23:57] kitsonk commented on #4013
@lucascaro are you working off master?  #4009 should have fixed that.

[2020-02-17 01:44] lucascaro commented on #4013
@lucacasonato ^ ;)

[2020-02-17 01:47] kitsonk commented on #4013
Apologies.  Darn auto-complete.

[2020-02-17 01:52] saostad commented on #4007
I tried it with 3 approaches to read 307 MB [test file](http://mattmahoney.net/dc/enwik9.zip) :
- Approach 1: (failed for big file - just worked for medium size file with 128,457 lines )
[code]
- Approach 2:
  - CPU utilization: 18%
  - time to read data: 1':24"
[code]
- Approach 3:
  - CPU: 23%
  - time: 27"
[code]

can anybody explain why it's different?
I guess the best way to read big file is

[2020-02-17 04:12] kitsonk commented on #4007
Side note, feels like something we need to add to the benchmarks.

[2020-02-17 06:01] Fenzland commented on #3998
The deno it self is a environment Web compatible and has more one build-in module named Deno. We can run normal js code without using Deno in deno, a global name will not hinder anything. So I think remove it for Web compatibility is unnecessary.

What's more, two different environments will increase the maintenance cost. And the worst, this make it possible to make `Deno.Worker` not Web compatibl

[2020-02-17 07:07] kevinkassimo commented on #3998
I do personally prefer an option to expose Deno namespace on Worker creation, like `new Worker(..., { type: "module", withDenoNamespace: true })` or similar (extra option is not a violation of Worker spec anyways). Also the ability to share resource table can be an important feature for Deno to have. (I wonder if recent decisions to shift things to use `Rc<...>` is making this harder)

[2020-02-17 07:52] lucacasonato commented on #4013
Ahh no. I was using v0.33.0. Thanks!

[2020-02-17 07:52] #4013 closed

[2020-02-17 13:29] akdnfbf opened #4014 "WU AND MG TRANSFERS FOR 10-15% OF THE AMOUNT!!! 💰💰💰"
WU AND MG TRANSFERS FOR 10-15% OF THE AMOUNT!!!

FOR EXAMPLE:

WORLD WIDE WESTERN UNION & MONEYGRAM PRICES:

You pay: [ 299 $ BitCoin / PerfectMoney ] You receive: [ $2000 WU or MG ]
You pay: [ 390 $ BitCoin / PerfectMoney ] You receive: [ $3000 WU or MG ]
You pay: [ 480 $ BitCoin / PerfectMoney ] You receive: [ $4000 WU or MG ]
You pay: [ 570 $ BitCoin / PerfectMoney ] You receive: [ $5000 WU or

[2020-02-17 14:45] helen119 opened #4015 "Wanna see my hot pics?💋💋💋"
Hi!😻😻😻 Wanna see my hot pics?💋💋💋 Go to this site and find me here. ❤️❤️❤️ My nick is sexygirl662 👇👇👇

https://tinyurl.com/ulpu2gz

[2020-02-17 14:52] FedericoMorrone commented on #4015
@ry pls close this spam, didn't even know this kind of spam existed on GitHub :(

[2020-02-17 15:04] #4015 closed

[2020-02-17 16:05] josermorales commented on #1456
Found this package that lets you deploy with one click https://github.com/hayd/deno-lambda

[2020-02-17 16:21] JerryGreen commented on #1456
@josermorales huh, thx... And this one looks particularly cool (haven't tried it yet though):

https://github.com/lucacasonato/now-deno

[code]

[code]

[2020-02-17 16:26] josermorales commented on #1456
Thanks @JerryGreen was looking for an example with `now`!

[2020-02-17 16:53] dubiousjim opened #4017 "[feat] [discussion] Extending filesystem interface"
I have a queue of refinements/extensions to submit for Deno's interface to the filesystem (especially for Unix).

Except where noted, I have working implementations of all of these and will be submitting PRs over the next few days, as I get them rebased and cleaned up for review.

This issue will summarize what's coming, and house discussion/feedback.

The core changes are:

- [x] exposing umask #

[2020-02-17 17:41] ry commented on #3089
fixed in https://github.com/denoland/deno/pull/4009

[2020-02-17 18:31] hayd commented on #1456
Currently building the binary for amazonlinux is kinda arduous. If anyone can get the musl build working #3711 that would be incredibly helpful for deno-lambda - it feels close.

[2020-02-17 19:06] #3942 closed

[2020-02-17 19:18] heken375 opened #4020 "Wanna see my private photos?💋💋💋"
Hello!😻😻😻 Wanna see my private photos?💋💋💋 Go to this site and find me here. ❤️❤️❤️ My nick is pussycat18 👇👇👇

https://tinyurl.com/rupocj5

[2020-02-17 19:58] cknight commented on #3403
@kevinkassimo - That's the 'events' polyfill complete now (#3944, #3960, #4016).  I'm going to attempt to pick up fs next, though will progress this in small chunks due to its large size.

[2020-02-17 21:11] kitsonk commented on #3089
@ry no this only fixed part of the issue. String literal with export like statements are still awaiting a fix in TypeScript. Please re-open.

[2020-02-17 21:21] dubiousjim commented on #3403
@cknight see #4017, will bring us closer to being able to polyfill Node's fs

[2020-02-17 21:41] dsherret commented on #3937
`dprint-plugin-typescript` 0.6.0 is now released with support for all the new TS 3.8 features... markdown support should come within the next few weeks.

[2020-02-17 22:04] cknight opened #4021 "Inconsistent camel case usage in Deno API"
The Deno API seems to have inconsistent casing where multiple words are involved.

One pattern (majority of the API) uses camel case:

copyFile
copyFileSync
execPath
makeTempDir
etc.

The other pattern does not strictly use camel case:

realpath
realpathSync
readdir (proposed)
readdirSync (proposed)

My preference would be for consistent camel case usage throughout (top pattern above), but very op

[2020-02-17 22:07] cknight commented on #3403
Nice one @dubiousjim.  I've not yet looked at detail into what Deno can offer, but at a glance it looks like your pending PRs will get us a lot closer to a full polyfill.

[2020-02-17 22:17] dubiousjim commented on #4021
readdir is the name of the underlying libc call; and so it's what e.g. Node and Python also use. Same with readlink, realpath. I think the pattern is to use camelCase except when there's an existing well-known api that doesn't. Hence mkdir but makeTempDir.

[2020-02-17 22:58] cknight commented on #4021
Fair points, and as operating system commands `mkdir` and `shutdown` make sense to remain 'as is', but I wonder if Deno should conform to underlying libc naming conventions which most users won't be familiar with (though Node and Python familiarity are reasonable points to consider).

Go uses Pascal case, but interestingly, they are also inconsistent.  For example, their read directory interface i

[2020-02-17 23:19] cknight commented on #4021
Researching this more, realpath and readlink are both common terms in the Unix space (in all lowercase) so this makes sense to keep as originally spec'd I guess.  Read directory is more mixed:

Deno:  readDir (current) and readdir (proposed)
Node:  readdir
Python: readdir
Go:  ReadDir
Rust: read_dir function and ReadDir struct

[2020-02-17 23:56] teleclimber commented on #4001
For the sake of discussion let's consider the original scenario where there is a remote module that depends on non-importable resources like `.proto`. You certainly want the code and the resource files to be "in sync". Meaning that they are the same version.

So would `--reload` delete the `fetch` cache too? Otherwise it's easy to see how the two get out of sync. You'd run deno with `--reload` and

[2020-02-18 01:14] bartlomieju opened #4023 "std: is testing/format.ts needed?"
It seems that `std/testing/format.ts` is only used to provide pretty-printed diffs for assertions.

Does is really need to be a separate module or could it be handled just by "console" stringification?
Granted, current console stringification is half-baked (ref #3277), but once related PR lands we could get away without this module?

[2020-02-18 01:17] bartlomieju commented on #1826
This feature is almost complete (#3452), only common interface must be established. I'm marking this issue as "help wanted" - if anyone wants to pick up my PR feel free.

[2020-02-18 04:05] magichim commented on #3976
@bartlomieju In v0.33, testing/mod.ts is not found.

[2020-02-18 06:55] kevinkassimo commented on #4021
To be fair I kind of think `readdir/readDir` `readlink/readLink` is not that much an issue, but I indeed do not like the fact that `makeTempDir` and `mkdir` differs too much.

[2020-02-18 08:57] zhmushan opened #4025 "[bug]: deno fmt incorrect formatting in @v0.33.0"
on deno@v0.33.0, `deno fmt` will remove the trailing semicolon.
[code]

[2020-02-18 10:36] David-Else commented on #4025
I recommend you make bug reports in the `dprint` repo, that is the program Deno uses internally to format:

https://github.com/dsherret/dprint/issues

[2020-02-18 13:15] stephenwil commented on #2295
@afinch7 Where did you get to with an arm build?

[2020-02-18 15:07] ry commented on #2295
rusty_v8 (deno's major dependency) now has aarch64 builds in CI: https://github.com/denoland/rusty_v8/commit/ffdf69bd0074bb0b03aceeb76b521ab869d13a2f
So we're a bit closer to an arm build here but I think it will still take quite a bit of work to actually get deno's CI working.

[2020-02-18 19:06] dd-pardal opened #4029 "Problems with using async interators for HTTP server in std"
Why is an async iterator used instead of a listener for the API for (https://deno.land/std@v0.30.0/http/server.ts)? It can cause problems, for example:

[code]

This code was adapted from the [README example](https://deno.land/std@v0.30.0/http/README.md). It seems right, however there's one big problem: the fetching of data will block all requests coming in. In other words, the next request will o

[2020-02-18 19:19] fakoua commented on #4003
Many thanks.

[2020-02-18 19:19] #4003 closed

[2020-02-18 19:46] nayeemrmn commented on #4029
I like them because they have very transparent semantics that belong directly to the language and provide much more control. I think this is just the more idiomatic way of doing it now. Why implement our own listener registries and things like that instead of doing async the JS way?

If preferable it's easy to adapt an async iterator to a callback API, but the same can't be said of the reverse. Th

[2020-02-18 21:43] kevinkassimo commented on #4029
@dd-pardal There is another API you could use: [listenAndServe](https://deno.land/std/http/server.ts?doc#listenAndServe)

[2020-02-18 22:22] saostad opened #4031 "[bug] deno bundle generate broken code"
[code]
I tried to bundle a file with content code:
`console.log('Hello from Deno!');`

to bundle: `deno bundle app.ts bundle.js`

it generated :
[code]

after I run it with `deno run bundle.js` here is the error:
[code]
also Docs for bundle is outdated:
[code]

[2020-02-18 23:02] kitsonk commented on #4031
Your input file isn't being detected as a module... it is a "limitation" of TypeScript (or ECMAScript depending on how you see it) (see: microsoft/TypeScript#18232).

Try this as your source file:

[code]

It should resolve the issue.

As far as the documents, I will raise a PR to update them.

[2020-02-19 01:10] kitsonk commented on #4031
Actually, looking, the [documents are accurate](https://deno.land/std/manual.md#bundling) and don't represent the version you pasted in here. 😕

[2020-02-19 05:34] #3726 closed

[2020-02-19 08:23] dd-pardal commented on #4029
Thanks. I haven't notice that API.

[2020-02-19 08:23] #4029 closed

[2020-02-19 13:20] bartlomieju commented on #2763
Fixed in #4030

[2020-02-19 13:20] #2763 closed

[2020-02-19 14:09] FedericoMorrone opened #4033 "[request]Can 0.34.0 be release now?"
I wouldn't want to ask this but can we get 0.34.0 or maybe 0.33.1 right now, because so many bugs have been fixed expecially #3852, without that bug fixed many machines mostly on Windows modules can't be imported there for making it impossible to use deno, I'm really looking forward to this project but I can't contribute if I can't even use it and compiling is not visible nor easy task

<em>pls fo

[2020-02-19 14:42] saostad commented on #4031
I was reading the readme from [here](https://denoland.github.io/deno/manual.html#bundling)
it looks like it's old!
also even with code
[code]
I am getting same error:
[code]
Generated bundle code:
[code]

[2020-02-19 15:06] saostad opened #4034 "[docs] broken link"
in [manual](https://github.com/denoland/deno/blob/master/std/manual.md)  line # 183 `[This is what the output looks like.](https://github.com/denoland/deno/blob/master/cli/js/lib.deno_runtime.d.ts)`,  [Here](https://github.com/denoland/deno/blob/master/std/manual.md#deno-types) link is broken.

[2020-02-19 15:12] IllusionPerdu commented on #4031
It's the line
`const __exp = await __inst("file:///C:/Users/SOstad/Projects/tests/deno01/src/app");`
it's sould be
`const __exp = await __inst("app");`

or

the line
`System.register("app", [], function (exports_1, context_1) {`
should be
`System.register("file:///C:/Users/SOstad/Projects/tests/deno01/src/app", [], function (exports_1, context_1) {`

[2020-02-19 16:08] ak-1 commented on #3447
@MarkTiedemann: I just tried it out. This is very cool!
I had one issue though: `deno example.ts` failed with this message:

 error: Uncaught ImportPrefixMissing: relative import path ",y),_null:E(" not prefixed with / or ./ or ../ Imported from "file:///home/.../jsdom/vendor/jsdom.js"
 ► $deno$/dispatch_json.ts:40:11
     at DenoError ($deno$/errors.ts:20:5)
     at unwrapResponse ($deno$/dispatc

[2020-02-19 16:18] IllusionPerdu commented on #4031
For the case https://github.com/denoland/deno/issues/4031#issue-567194855 the bundler shoud don't add `await __inst("file:///C:/Users/SOstad/Projects/tests/deno01/src/app");`

I think it's two different bug!

[2020-02-19 16:22] Soremwar commented on #4033
I would build it manually, since we can't actually say Deno is production ready.

And this bug was fixed like 2 hours ago, don't expect it to work right away, maybe some other bug that wasn't foreseen will pop up due to the complexity of the Deno ecosystem.

[2020-02-19 16:26] David-Else commented on #3447
@ak-1 Someone was trying to use JSDOM with `import jsdom from 'https://dev.jspm.io/jsdom'` and it did not work:
https://github.com/denoland/deno/issues/3852

and it just got fixed and added:
https://github.com/denoland/deno/pull/4030

maybe the next version of Deno will support JSDOM through `dev.jspm.io`? I just saw the commits. I have not tested anything. Fingers crossed :)

[2020-02-19 16:48] bartlomieju commented on #3447
@David-Else that's correct, with #4030 I'm able to `deno fetch -r https://dev.jspm.io/jsdom`, but there are some more quirks (possible just TS config needs to be adjusted).

[2020-02-19 16:48] keroxp opened #4038 "fetch panicked when accepting file scheme url"
[code]

[code]

[2020-02-19 16:50] bartlomieju commented on #3089
@kitsonk, not sure if that's related, but after #4030 I tried to run `jsdom` and got:
[code]
Can't really pin-point what's the problem here, but it looks a lot like something's treated as import statement while it shouldn't.

[2020-02-19 16:51] keroxp commented on #4038
Should file url be valid for `fetch`? 🤔

[2020-02-19 16:53] bartlomieju commented on #4038
Ref #2150. `fetch` shouldn't accept `file://` URLs - it should error out in TS without calling Rust.

[2020-02-19 16:55] bartlomieju commented on #4033
We'll release `v0.34.0` after `rusty_v8` upgrade. Probably today/tomorrow

[2020-02-19 16:55] #4033 closed

[2020-02-19 16:58] bartlomieju commented on #3776
Fixed in #4030, pending `v0.34.0` release

[2020-02-19 16:58] #3776 closed

[2020-02-19 16:58] bartlomieju commented on #2790
Fixed in #4030, pending `v0.34.0` release

[2020-02-19 16:58] #2790 closed

[2020-02-19 17:05] ry commented on #4038
Is there a reason fetch shouldn't accept file urls?

[2020-02-19 17:23] nayeemrmn commented on #4038
@ry It's not a http server. I thought browsers generated responses around files and it would work but I just tried fetching relatively from a `file:///` URL in chrome and it says it's not supported.

[code]

[2020-02-19 17:47] alexanderGalushka opened #4039 "fail to bundle a single module"
@kitsonk @ry @bartlomieju submitting a separate issue brought up by @base698 in https://github.com/denoland/deno/pull/3828

worker.ts

[code]

01_worker.ts

[code]

**Deno 0.32**

[code]

**Deno 0.33**

[code]

[2020-02-19 18:39] kitsonk commented on #4039
Ok, I think it is related to/duplicate of #4031, does adding `export {}` resolve the issue?

Also, is there a reason why you are bundling a single module?

[2020-02-19 18:45] kitsonk commented on #3089
@bartlomieju what does `-L debug` provide?  But why is the compiler involved in that at all?  It shouldn't be sending JavaScript to the compiler unless you have `checkJs` enabled, which you don't.  Seems like somehow there was a regression there.

[2020-02-19 18:51] kitsonk commented on #4031
@bartlomieju we should remove the GitHub site on the repo (https://denoland.github.io/deno/) as it contains an old version of the website :cry:.

@IllusionPerdu you are right, the analysis we do when there is a single module is an additional problem, we get it wrong, we are "guessing" and we get it wrong.  That needs to be fixed.  Still before the export it was a different problem, but no, the `aw

[2020-02-19 18:52] alexanderGalushka commented on #4039
export{} doesn't solve an issue

[2020-02-19 18:52] lucacasonato commented on #4038
It does work in Firefox though if you are on a file:// origin if I remember right. I'll test that in a second.

[2020-02-19 18:53] kitsonk commented on #4039
Yeah, looking at #4031 it is a duplicate though.  So a) it does need `export {}` but then there is another bug after that which needs to be fixed.

[2020-02-19 18:58] base698 commented on #4039
https://www.urbandictionary.com/define.php?term=You%27re%20Holding%20It%20Wrong

[2020-02-19 19:00] kitsonk commented on #4038
And discussed in #2150, Chrome allows it with a flag.  Yes, it is for security issues in browsers, but I think the expectations in Deno are there as a server workload to just follow the Deno security model and allow it.  It should respect the `allow-read` flag though versus the `allow-net` flag, IMO.

[2020-02-19 19:03] kitsonk commented on #4039
@base698 no, it is an honest query to understand a non-obvious use case.  When people use things in surprising ways it maybe because a) they don't understand or b) I don't understand.

Being glib doesn't really help anyone.

[2020-02-19 19:05] lucacasonato commented on #4021
I think that should be called `createTemp` though as the call to create a non temp file is `Deno.create`

[2020-02-19 19:08] base698 commented on #4039
We are trying to create separate workers.  So currently, unless something changed, you had to load them from disk so we are bundling to create a single file on disk that the worker can load each with it's own dependencies packaged into it separately.

[2020-02-19 19:08] bartlomieju commented on #3089
@kitsonk here's the full output: https://gist.github.com/bartlomieju/10fdab8ee91665b3f802f4b5711dc5b8
It's run through TS compiler cause I created a file called `foo.ts`; here's full contents:
[code]
The first line is added because jsdom complains that `global` is not defined.

If I change the file to `foo.js` then I immediately get error about missing `global`:
[code]

[2020-02-19 19:27] gibsonhan commented on #4038
has anyone claim this issue?

[2020-02-19 19:32] kitsonk commented on #3089
Ok, so what is triggering it is the preprocess file, and imports.  Basically we shouldn't analyse dependencies on JS modules if `checkJS` isn't turned on, but we always do.  I am working on a patch.

[2020-02-19 19:34] kitsonk commented on #3089
(different than this issue though)

[2020-02-19 19:35] kitsonk commented on #4039
So it is currently a single module, but won't be eventually?

[2020-02-19 19:44] nayeemrmn commented on #3919
@bartlomieju Can this be closed?

[2020-02-19 19:49] #3919 closed

[2020-02-19 20:04] ry commented on #4031
@kitsonk Thanks for the notice - I've updated the gh-pages

[2020-02-19 20:39] ry commented on #3324
Thanks to @maxmellen for this work.

Let's see how annoying this is in practice... I am open to making strict mode non-default again if it turns out to be too verbose.

[2020-02-19 21:03] Ciantic commented on #3324
I would expect it to be annoying when migrating, because strict mode will find a lot of subtle bugs (and `any` assumptions that shouldn't be there).

With all new projects it should be easy since that is the default with TypeScript projects anyway.

[2020-02-19 21:50] vp2177 commented on #1158
It would be useful to be able to experiment in the repl and see type errors, supporting that would need more than just stripping types though.

[2020-02-19 22:50] alexanderGalushka commented on #4039
it can either be a singe module or multiple modules, not deterministic

[2020-02-20 00:36] gil0mendes opened #4041 "Test is not a function"
Hey there,

I'm trying to start implementing a small POC using Deno but I'm having a problem when writing testes.

When I try to execute the `Deno.test` the method I get the following error:
[code]

After dumping the whole properties of the Deno object, this is what is on it:

[code]

Anyone knows a possible reason for this to happen? Thanks 😸

[2020-02-20 00:59] bartlomieju commented on #4041
Most likely you're using `v0.32.0` or earlier. `Deno.test()` was added in `v0.33.0`

[2020-02-20 03:23] kitsonk commented on #3447
Also, #4040 helps get a step further, but there is a dependency in there what has some jspm import syntax which we don't support in Deno.

[2020-02-20 03:33] kitsonk commented on #3852
This doesn't really fix it, because even with #4030 and #4040 you will get back the following:

[code]

Deno doesn't resolve module specifiers like that.

[2020-02-20 03:35] #4031 closed

[2020-02-20 03:37] kitsonk commented on #4039
This was fixed in #4042

[2020-02-20 03:55] #4039 closed

[2020-02-20 04:41] Skillz4Killz commented on #3827
Hello 👋

I'd like to try and make the case against supporting any form of configurations. Developers all over the world have flocked over to use Prettier to eliminate the headaches and issues caused from having configurations.
`By far the biggest reason for adopting Prettier is to stop all the on-going debates over styles.`

Far too much time is wasted from having discussions sometimes even heated

[2020-02-20 08:33] gil0mendes commented on #4041
Thanks... I’ll confirm that when get into my Mac and I let you know 🙂

[2020-02-20 10:43] gil0mendes commented on #4041
You were right, tks for the quick answer, and sorry for creating an unecessary issue 😅

[2020-02-20 10:43] #4041 closed

[2020-02-20 11:06] JerryGreen opened #4044 "Deno.sh domain"
Isn't it your guys domain? I'm pretty much sure it was mentioned somewhere, maybe in youtube vids or something, at very starting point, but now it leads to some non-existing repo:

https://github.com/zhmushan/deno.sh

Funny fact: it has higher priority in my browser than deno.land lol (I know I may clear the history regarding deno.sh, so it's not what's the issue about).

Maybe it's good idea to s

[2020-02-20 11:32] hazae41 opened #4045 "Where is zlib?"
It seems it was there:
https://deno.land/std/zlib/
But it is not longer available, and https://deno.land/std/ does not have it

Also, I found a PR that removed it from third parties:
https://github.com/denoland/deno/pull/2958

So, where did it go?

[2020-02-20 13:36] clemens-tolboom commented on #3539
Guess this can be closed as we have https://deno.land/std/ws/

[2020-02-20 14:11] clemens-tolboom opened #4047 "Segmentation fault: 11 on websocket"
Following the client and server examples in https://deno.land/std/ws/README.md (from PR #4046) I created a 10 clients test.

Start server

[code]

Start client

[code]

Test file `client.txt` contains

[code]

then

[code]

When running `10clients.bash`

[code]

everything is fine.

### segfaults

Repeating invocation of `10clients.bash` manually or Increasing the size of `client.txt` then server

[2020-02-20 14:59] clemens-tolboom commented on #4047
Trying to manually flood I failed. But pressing `CTLR-C` in the client made the server say

Not sure whether that indicated another issue with WS module?

[2020-02-20 15:35] ry commented on #4045
zlib is an internal dependency - we don't have user-level bindings - it's located here: https://github.com/denoland/rusty_v8/tree/master/third_party

[2020-02-20 15:35] #4045 closed

[2020-02-20 15:38] ry opened #4049 "019_media_types is flaky again"
Experienced here https://github.com/denoland/deno/pull/4035/checks?check_run_id=457778529 but I've also seen elsewhere.

I think it might be related to the changes to the test server in 2e7d449623b7faee8feb0a2970e0d6bb7c66b409. Or maybe the changes in e6167c78134182c45689bda7bcb12af05009349c.

[2020-02-20 15:39] hazae41 commented on #4045
Why is it no longer in std?

[2020-02-20 15:40] ry commented on #4045
It was never in std

[2020-02-20 15:58] hazae41 commented on #4045
Is there plans to add it to std?

[2020-02-20 16:00] ry commented on #4045
There are not any issues I'm aware of. We do have zlib compiled in, so exposing some ops to use it seems reasonable.

[2020-02-20 17:36] FedericoMorrone commented on #3852
The cannot find module problem is actually caused by deno expecting definition file, the only solution I found so far was using plain javascript instead of typescript

[2020-02-20 17:49] FedericoMorrone opened #4050 "[bug]protocol error when importing module from jspm"
Trying to import jsdom via jspm like following
[code]
results in this strange protocol error
[code]
<details>
<summary>Full output</summary>
Download https://dev.jspm.io/npm:jsdom@16.2.0/lib/api.dew.js
Download https://dev.jspm.io/npm:@jspm/core@1/nodelibs/path.js
Download https://dev.jspm.io/npm:@jspm/core@1/nodelibs/@empty.js
Download https://dev.jspm.io/npm:jsdom@16.2.0/lib/jsdom/vm-shim.dew.js

[2020-02-20 18:01] bartlomieju opened #4051 "test_permission_request_net is flaky on macOS"
example: https://github.com/denoland/deno/runs/460692017

[code]

[2020-02-20 18:44] ry opened #4052 "Add Deno.delay as promise version of setTimeout"
[code]

[2020-02-20 18:47] hazae41 commented on #4045
How can I expose them?

[2020-02-20 19:01] nayeemrmn commented on #4052
Only slightly better than `new Promise(r => setTimeout(r, ms))`.

Is it okay to encourage something non-portable for a trivial high-level convenience? I don't know if this is a good idea, at least with what I understand to be Deno's current set of philosophies.

[2020-02-20 19:14] hayd commented on #4052
This is in std:

https://github.com/denoland/deno/blob/a0d3b4ebc509d9e5dfca555084fd1100e114664a/std/util/async.ts#L110-L117

[2020-02-20 19:15] ry commented on #4052
Yeah @nayeemrmn make a good point...

[2020-02-20 19:15] #4052 closed

[2020-02-20 19:25] aduh95 opened #4053 "Panic when fetching from worker"
Deno panics when trying to call `Body.prototype.arrayBuffer`, `Body.prototype.blob`, `Body.prototype.json`, `Body.prototype.text`  method after calling fetch from a `Worker`. Note that works fine when running the same script from the main thread.

[code]

[code]

Interestingly enough, it doesn't panic with `Body.prototype.formData`:

[code]

[code]

[2020-02-20 19:33] aduh95 commented on #4038
Note: same happen when using `data:` scheme.

[2020-02-20 20:25] kitsonk commented on #4044
I don't believe we ever controlled that domain, nor officially used it in any capacity.

[2020-02-20 20:42] JerryGreen commented on #4044
Well, maybe it's a good idea to ask this guy... @zhmushan, is that your domain? Wanna donate it to Deno?

[2020-02-20 21:20] gewoonwoutje commented on #3324
FWIW I was a bit surprised seeing compiler errors pointing to external URLs after updating from v0.33 to v0.34.
![image](https://user-images.githubusercontent.com/9407072/74978268-8a12bf00-542c-11ea-8f01-9bc0366b5d81.png)

This could have a huge impact on type safety in third party libraries, I definitely see value in that.
I do think that a setting to disable the strict check for (specific?) exte

[2020-02-20 21:42] kevinkassimo commented on #4044
@zhmushan has been a long time contributor to Deno and related projects (e.g. https://github.com/zhmushan/abc). I believe he is recently very busy with his personal stuff. I can contact him and see what he thinks, but I believe we should not force him.

Worth mentioning deno.dev is also owned by another Deno contributor.

[2020-02-20 21:45] brandonkal commented on #3324
That's just asking for trouble. If one of your deps is not strict, your whole project cannot be.

[2020-02-20 22:05] kitsonk commented on #3324
Per-module permissions/config/etc. are a rabbit hole I don't think we really want to go down.  Non-strict code does no one any favours. If people can't get the upstream code to be strict, using `tsconfig.json` and setting `"strict": false` is what people should do in my opinion.

[2020-02-20 22:06] Ciantic commented on #3324
Whole purpose of this issues is to force TypeScript to be strict, it's the default. It will be painful with user code that is non-strict.

Problem is that there is now bunch of shoddily built TS deno code out there, it will be painful at the beginning, but strictness is default for TypeScript.

[2020-02-20 22:07] gewoonwoutje commented on #3324
True, and this should (hopefully) be a temporary problem anyway.

It is still a bit weird to explicitly turn of strictness in my entire project, because a library (I trust) has forgotten a type annotation for a function that may not even be exported to the module.

[2020-02-20 22:14] lucacasonato commented on #3999
Fixed in #4011

[2020-02-20 22:41] alexanderGalushka opened #4055 "[bug] default function in deno bundle is not a function"
**v0.34.0**

ERROR:

► $deno$/workers.ts:169:17
    at poll ($deno$/workers.ts:169:17)

single function in the .js file to bundle:

[code]

works in **v0.32.0** (System vs AMD for bundling)

@kitsonk the function identifier is no longer "file:///...", but doubt that [change](https://github.com/denoland/deno/pull/4042/files#diff-98b870ba24fef23577c1d2ceedaa0473R309) you have introduced yesterday ha

[2020-02-20 23:01] JerryGreen commented on #4044
Yea, I don't mean to force anyone. We are not like some russian police here, to privatise some businesses.

What I'm saying that this domain is IMO cool, and much cooler than deno.land. And yet, it's not used for anything useful (wrongly redirects to non-existing page).

I mean, did you even know "land" domain even existed before Deno? I always forget what's there after the dot and have to google

[2020-02-20 23:04] kitsonk commented on #4055
I can't re-create this...

Given an input of:

[code]

I get an output of:

[code]

Which when I then create another file that imports it:

[code]

I get the following:

[code]

[2020-02-20 23:04] agusbena opened #4056 "file_server.ts is not setting the correct content-type header when serving index.html"
When file_server.ts is serving the index.html, the browser is not rendering the page because it is receiving text/plain header for the content-type.

[2020-02-20 23:11] kitsonk commented on #4044
I personally like `deno.land`, I don't personally thing `.sh` domains are cooler.

[2020-02-20 23:21] #3999 closed

[2020-02-21 00:31] Skillz4Killz commented on #3324
+1 for strictness. If you use a non-strict lib, perhaps consider making a PR to improve that lib to make it strict.

[2020-02-21 00:34] alexanderGalushka commented on #4055
@kitsonk my bad, let me provide step by step guidance to reproduce, missing a second layer bundling

[2020-02-21 00:42] alexanderGalushka commented on #4055
_clientCode.js_

[code]

_worker-fn.ts_

[code]

_bundler.ts_
[code]

_main.ts_
[code]

[2020-02-21 00:44] alexanderGalushka commented on #4055
1. run `deno --allow-write bundler.ts`
2. run `deno --v8-flags=--disallow-code-generation-from-strings --allow-net=:4000 main.ts`
3. curl http://localhost:4000

[2020-02-21 00:48] kitsonk commented on #4055
Hmmmm... bundling bundles.  We certainly didn't design for that.

Is there a specific reason why you are bundling `worker-fn.ts` instead of just passing it on `new Worker()`?

[2020-02-21 00:48] alexanderGalushka commented on #4055
you'd see the following msg:
[code]
it's a known [issue](https://github.com/denoland/deno/issues/3481) and hopefully it will be fixed with TS 3.8

take out await from generated bundled code of customerWorker.js

[2020-02-21 00:49] alexanderGalushka commented on #4055
you get this:

[code]

[2020-02-21 00:50] alexanderGalushka commented on #4055
then rerun 2) and curl again

[code]

[2020-02-21 00:52] alexanderGalushka commented on #4055
@kitsonk and here is the real problem ^^ bundling bundles worked fine in v0.32.0 before the rework from AMD to System

[2020-02-21 01:08] kitsonk commented on #4055
I think bundling bundles is crazy personally... but hey, who am I to say.

The problem is that bundles require TLA, because System is needed to support TLA, the problem is TypeScript 3.7 isn't able to support TLA, so effectively we can't bundle a bundle under TS 3.7, because bundles now need TLA.  TS 3.7 just came out, which I am working on a PR right now, which should restore the functionality.

[2020-02-21 01:22] bartlomieju opened #4059 "move close op to `io` ops"

[2020-02-21 01:26] ry commented on #4059
it should be with the resources ops

[2020-02-21 01:30] bartlomieju commented on #4059
Right, that's `ops/io.rs`.

Also `ops/files.rs` makes no sense - `open` and `seek` are strictly for files - so they should be moved to `ops/fs.rs`

[2020-02-21 01:37] ry commented on #4059
Also cli/ops/resources.rs

[2020-02-21 02:34] alexanderGalushka commented on #4055
@kitsonk thank you so much, you are amazing!

[2020-02-21 03:06] zhmushan commented on #4056
see https://github.com/denoland/deno/pull/3423#discussion_r352273793
In fact, we should set the `content-type` according to extname, but this will cause inconvenience to browse `.ts` files. In previous versions, some files were downloaded directly instead of displaying the content on the browser, so this was temporarily set to `plain`.
IMO, we can browse files in a way similar to [deno_website2](h

[2020-02-21 03:15] kitsonk opened #4062 "[bug] dynamic import not working in bundles"
Dynamic import is not working in bundles.  While the static analysis of the dependencies is occurring, the module specifier is being passed unmodified, which means it is up to the bundle code to resolve the specifier.

~Also, importing of JSON doesn't work in the bundle.  The source JSON is simply inlined into the bundle.~

[2020-02-21 04:08] agusbena commented on #4056
Thanks @zhmushan for the clarification!

So is there a basic webserver for Deno anywhere? like http_server from node? i google but didnt found anything.
If there isnt any yet, whould you agree if I upgrade file_server.ts have a mode like Node's http_server or what you would do?
I do really want so bad to use Deno for the project i am doing, loving it very much so far.
Thank you very much!

[2020-02-21 04:43] zhmushan commented on #4056
Ideally, html files should be rendered instead of displaying the code directly.

But we will face this issue, if we use the http-server model directly:
Most deno developers often need to browse `typescript` files, but `.ts` extname has been defined as a video file.

Because of the name of `file_server`, I prefer to use it as a file explorer on default mode, and the http-server mode can be enabled

[2020-02-21 04:55] agusbena commented on #4056
Fair enough, I agree. So probably we could provide a dedicated web server script like Node's http_server?
Hopefully anybody that thought about it can leave their comments here.
Thank you!

[2020-02-21 05:13] #4025 closed

[2020-02-21 05:28] zhmushan commented on #4044
Hi, i'm here, very sorry for being late. In the beginning, I used deno.sh to serve my personal private projects, without considering its impact. If the community needs this domain name, I am willing to transfer it for free.

[2020-02-21 05:32] dplewis commented on #4044
Speaking of domains, there is `deno.land`, `deno.town`, I have `demo.city`. It not used for anything but I’m planning my first deno project for it. Always open to suggestion

[2020-02-21 09:03] JerryGreen commented on #4044
Hey @ry, what do you think about using deno.sh, isn't it cooler, huh? Here’s person to donate this domain.

Maybe even consider it as main domain? You know, shell, sh, deno.sh.

[2020-02-21 10:16] maxmellen commented on #3324
I think it's worth mentioning that DefinitelyTyped's stance on this issue is that they consider that all the packages hosted in their repo should have `noImplicitAny`, `noImplicitThis`, and `strictNullChecks` enabled. ([source](https://github.com/DefinitelyTyped/DefinitelyTyped#some-packages-have-no-tslintjson-and-some-tsconfigjson-are-missing-noimplicitany-true-noimplicitthis-true-or-strictnullch

[2020-02-21 10:43] kitsonk commented on #4044
Or some place in St. Helena I've never heard of.

[2020-02-21 15:35] #4053 closed

[2020-02-21 16:28] ry opened #4066 "Fix UDP tests on Windows"
This shouldn't be too hard, the backend implementation (tokio) supports Windows. This just requires someone with a Windows machine to try disabling these TODOs and debugging what exactly is happening...

https://github.com/denoland/deno/blob/08686cbc3ae63008837ee45b2c4f41d6674c57dd/cli/js/net_test.ts#L13

https://github.com/denoland/deno/blob/08686cbc3ae63008837ee45b2c4f41d6674c57dd/cli/js/net_tes

[2020-02-21 17:48] ry opened #4067 "discussion: error classes"
We recently changed the mechanism for exception handling (see #3936 )

Deno ops return an error object with a code which can be accessed via "err.kind"
[code]
That is still the case but now we've introduced classes for each of the Deno error types, so that exceptions can be checked using `instanceof`
[code]

My question is if we should use `Deno.err.PermissionDenied`? or `Deno.Err.PermissionDenied

[2020-02-21 18:10] bartlomieju opened #4068 "rewrite compiler_imports.ts::processImports to Rust"
Since we already depend on SWC I think it might be good idea to try and leverage it's speed.

`processImports` from `cli/js/compiler_imports.ts` is used to preprocess TS files and get import specifiers, then specifiers are used to download source files. If I'm not mistaken this step requires to parse AST of each file, which means there could potentially be great speed improvement by using SWC.

I

[2020-02-21 18:25] nayeemrmn commented on #4067
Lowercase like `Deno.symbols`. It's not an enum in a JS sense so no need to use the enum convention.

I prefer `Deno.errors`... it looks a lot better. Having `Deno.symbols` and `Deno.err` is weird, it's easier to be consistent on the non-abbreviating side.

[2020-02-21 18:27] ry opened #4069 "New cache layout broke VS code plugin"
Previously Deno cached HTTP resources in a directory structure that was similar to the URL

It looked like this
[code]
This was a very simple and nice system as it's very obvious how URLs map to the cache. VS code plugin made assumptions about this layout.

However we discovered there are some URLs that don't easily map to this structure - in particular URLs with query strings, or URLs that don't

[2020-02-21 18:29] ry commented on #1826
Fixed in #3452

[2020-02-21 18:29] #1826 closed

[2020-02-21 18:32] kevinkassimo opened #4070 "Use similar caching strategy for compiled files"
We recently updated our caching logic to use hashes for paths under same host in #4030 (to avoid invalid URL character in file path issue)

We have not yet updated the strategy for compiled files yet. This might be a TODO item.

[2020-02-21 18:36] hazae41 opened #4071 "Expose zlib ops"
How can I expose zlib ops from rusty_v8 to deno?

[2020-02-21 19:19] dsherret commented on #3827
@Skillz4Killz I don't have a strong opinion here on what Deno decides, but I figured I'd give my thoughts on code formatting configuration.

I disagree. By far the biggest reason for adopting Prettier is to have auto-formatting. Adopting auto-formatting eliminates manual developer time spent formatting code and time consuming nitpicky formatting comments in code reviews due to someone not followin

[2020-02-21 19:49] bnoordhuis commented on #3403
Is there consensus on if or how much of node's crypto module to reimplement?

It's got a pretty big API surface and openssl-isms leak through in many places but it should be possible to make basic functionality (cipher/decipher/hash/hmac/sign/verify) work for the most common ciphers and hashes using RustCrypto.

[2020-02-21 20:05] kitsonk commented on #4068
It doesn't, it only does effectively a pattern match for import like statements.  Ergo why it is preprocess, and quicker.

In my mind the earlier steps were to produce the AST for `deno ast`/`Deno.ast()` and see how that goes.  Doing the dependency analysis would be the logical next step.

Some thoughts I shared with Ry:

[2020-02-21 20:11] kitsonk commented on #4069
What if there was a manifest in `$DENO_DIR/deps` that contained information like:

[code]

Potentially more data could be cached in the key, like if there were redirects from the requested URL to the final one.

[2020-02-21 22:12] bartlomieju commented on #4069
Using manifest file was my initial thought, but we decided to skip it because URLs are consistently hashed. Adding such file, should not be a big problem though.

Waiting for @axetroy to let us know what are requirements for extension to make it work

[2020-02-21 22:13] bartlomieju commented on #3650
`reqwest` has been released with Brotli support.

https://github.com/seanmonstar/reqwest/releases/tag/v0.10.2

[2020-02-21 23:14] bartlomieju commented on #3852
@kitsonk but that import specifier is valid; example:
[code]
[code]

Now try with `.ts` file:
[code]
[code]
The error originates from `SourceFile.getUrl()`. Seems that it was changed in #4040 - I don't really understand why TS compiler doesn't load imported JavaScript files when `checkJs` is not on - shouldn't it just skip type checking for JavaScript files, but still fully resolve module graph?

[2020-02-21 23:22] bartlomieju commented on #4068
That makes sense, thanks for explanation.

:+1: in the light of above I agree