[2020-02-21 23:37] bartlomieju commented on #3520
It turns out it is even more complicated...
[code]

Chrome, loaded from http URL:
[code]
Chrome, loaded from file URL:
[code]

[2020-02-21 23:44] nayeemrmn commented on #3520
Hmm, we could certainly easily match the worker behaviour in either case but not handling `file` URLs? That's totally not going to work. Removal it is.

[2020-02-21 23:50] bartlomieju commented on #3520
l actually believe that our current value is fine; `URL` Web API resolution yields proper results...

[2020-02-21 23:51] #4068 closed

[2020-02-22 00:01] nayeemrmn commented on #3520
Yes the `file` URL case only breaks my initial proposal, not the current behaviour.

As I've explained, there is no usable relationship between Deno's main module URL and the web's page URL. The assumed meaning of this API on the web is something Deno has no concept of. Can anyone give an isomorphic use case?

[2020-02-22 00:09] bartlomieju commented on #4050
@FedericoMorrone I can't repeat this error; is it persisting or was it just one-off situation?
I looks like it might be originating from `reqwest`/`hyper`

[2020-02-22 00:14] kevinkassimo commented on #4051
Encountered this quite often. Also sometimes `test_permissions_request_read`

[2020-02-22 02:05] brandonkal commented on #3324
That doesn't really translate though as DefinitelyTyped is types for exported public functions.  Any it is for code that is not strict (JavaSceipt). That doesn't mean all normal code should be noImplicitAny especially for internal implementations.

[2020-02-22 05:01] axetroy commented on #4069
a single manifest seem not a good solution

Manifests will become bloated easily and caught performance

My idea is to keep the `url.path` part and only hash filename

[code]

eg.
`https://deno.land/std/examples/curl.ts`
`$DENO_DIR/deps/https/deno.land/std/examples/[hash1]`

`https://deno.land/std/examples/curl.ts?foo=bar`
`$DENO_DIR/deps/https/deno.land/std/examples/[hash2]`

I'm not sure if this

[2020-02-22 05:03] axetroy commented on #4069
BTW.
`deno info` can analyze file dependencies, but it does not help cache module dependencies

eg.

[code]

You can find `https://deno.land/std/path/mod.ts` which modules it depends on, but you don't know the cache file` $DENO_DIR/deps/https/deno.land/72ee5916977ca9d8801c801f642353d811373786e51e3d7574cca966634b4f97`

[2020-02-22 05:15] axetroy commented on #4069
And, using `deno info xxx` to analyze modules is not good.

Because for Typescript Plugin, all operations are synchronous (no asynchronous).

Means that every time the analysis module runs the command `deno info`

It will block the entire `Typescript Service`

Therefore, it is good to maintain a regular directory structure.

We can infer the path of the local cache file through the HTTP module

Re

[2020-02-22 06:50] kt3k commented on #4051
I'll look into this.

[2020-02-22 08:14] lucacasonato commented on #4069
@axetroy I secondary benefit of the hashed files was that it would fix the collision between importing 'example.com/mymodule' and 'example.com/mymodule/mod.ts', because before this would not work because 'directory could not be created because a file with name mymodule already exists'.

I also think creating huge manifest files will create some perf issues, but I think currently they are the best

[2020-02-22 10:16] kitsonk commented on #4069
I'm not sure it would be that horrible versus the current situation.  We already write out headers and other stuff, and we don't expire stuff in the cache, so if we are intelligent about it, we wouldn't even touch the file unless we are actually writing out something to the cache.  Also Deno shouldn't use it internally as an index or anything, it simply should write stuff out.  If someone deletes

[2020-02-22 10:31] kitsonk commented on #3852
Why, it is not doing anything with them.  Why would it need to check and resolve the dependency graph?  It was checking the dependency graph that was causing problems in other places.  The problem though here is that the initial `.ts` file pulls in a `.js` file that we now don't analyse the imports for, and the compiler expects all imports to be there.  I think I know what the problem is.

I guess

[2020-02-22 12:33] FedericoMorrone commented on #4050
Looking further into it I was not able to fully replicate it, it only happens sometimes when the connection isn't above 10mbs but even then it only happened sometimes

[2020-02-22 12:54] evenstensberg commented on #4067
In another context: Trying to import a CJS module using `createRequire` throws

`if (e instanceof Deno.Err.PermissionDenied) `

hard to debug.

Source:

[code]

[2020-02-22 14:49] aduh95 opened #4077 "WebAssembly types not available from WorkerGlobalScope"
[code]

This module throws when compiling on `Worker` scope:

[code]

Note that this works fine:
[code]

[code]

[2020-02-22 15:50] Skillz4Killz commented on #3827
@dsherret Yep, you are 100% right. In theory, this is the ideal scenario. But in reality, this very rarely happens. This is why Prettier blew up and become so widely adopted.

People become so used to and accustomed to something that when someone else suggests a different style, it becomes a massive issue in the team. A new developer comes on and begins the discussion all over again with a slight

[2020-02-22 16:00] aduh95 opened #4078 "TypeScript compilation hangs on large files"
When a TS module has a large JS file as a dependency, the compiler hangs for a long time; below is a shell script that generates a 27MiB JS file and measure the compile time:

[code]

As you can see, it takes less than 3s of real time when using `tsc`+`deno`, but it takes _more than 30s_ when `deno` takes care of the TS compilation. That's a **10x time ratio**, I wonder if there's a missed optimis

[2020-02-22 16:29] bartlomieju commented on #4069
[code]
This will not work, because of the collisions @lucacasonato mentioned.

I'm not sure I understand this argument - contents of the file are not changed; it's just a filename in `DENO_DIR` that is changed compared to original request.
Also `DENO_DIR` is implementation detail of Deno and shouldn't really be played with by users.

Agreed; providing a "manifest" file (which is basically mapping

[2020-02-22 16:31] bartlomieju commented on #4050
Okay so it seems it's related to actual network connection on machine rather than Deno code. I'm gonna close this issue for now; feel free to reopen if problem reappears.

[2020-02-22 16:31] #4050 closed

[2020-02-22 17:01] nayeemrmn commented on #3827
In my opinion, there's no fundamental difference between this and someone making a PR to change formatters to a configurable one and configuring it. Either way you can say "no, that's a waste of time" since everyone seems to agree that it's a waste of time hence why they like Prettier, right?

So long as a configurable formatter exists, making an opinionated formatter is the same as choosing a par

[2020-02-22 17:06] IllusionPerdu commented on #4069
I don't think they are collisions in the @axetroy proposition the hash is calculate with the part of the last path : after the last / => filename.

@lucacasonato exemple :

`https://example.com/mymodule` mymodule is filename and not the directory =>
$DENO_DIR/deps/https/example.com/[hash1]

`https://example.com/mymodule/mod.ts` mod.ts is filename =>
$DENO_DIR/deps/https/example.com/mymodule/[hash2

[2020-02-22 17:41] axetroy commented on #4069
@bardiarastin

Deno users should not care about $ DENO_DIR

However, developers of third-party tools may need, eg, development of an `editor extension` /` cache module update tool` / `dependency analysis`, etc.

This is probably the simplest solution and does not break the current cache layout.

But `manifest` may cause performance issues because it requires frequent file reading and serialization

[2020-02-22 17:53] xpyxel commented on #4069
It would not require frequent file reading, etc as per @kitsonk's comment:

[2020-02-22 18:00] axetroy commented on #4069
@xpyxel
Deno may not need it because `deno run xxx.ts` only reads the file once

But in the Typescript plugin, it does need to be read frequently

Every time the file changes\recompilation in editor, needs to read-> serialize. Unless you don't have real-time requirements(Read file and stored in memory)

[2020-02-22 18:08] xpyxel commented on #4069
Yeah I realized that after I commented, sorry about that lol @axetroy

[2020-02-22 18:35] aduh95 opened #4080 "Worker postMessage and close race condition"
I have stumbled upon a race condition when attempting to close a Worker while a large `Message` is being sent; the following module reproduces the bug 100% of times on my machine:

[code]

[code]

[2020-02-22 18:50] bardiarastin commented on #4069
Hi, this is the third time that I'm being mentioned instead of someone else on this project but for the third time THANK YOU FOR ALL THE HARD WORK ON DENO ❤️

[2020-02-22 18:52] bartlomieju commented on #4069
@IllusionPerdu thanks for the example, but the problem is you used URLs which all could be valid filenames. Take for example [`jsdom`](https://dev.jspm.io/jsdom); the very first import statement reads:
`import { dew } from "/npm:jsdom@16.2.0/lib/api.dew.js";`. AFAIK colon cannot be used in filename on Windows, so this solution will not work.

[2020-02-22 18:58] bartlomieju commented on #4069
@axetroy thanks for explanation, now I see what's the problem clearly. I don't have a good solution off top of my head right now besides the manifest/mapping file. I understand your concerns about serialization performance; however maybe we should start with this solution as it's pretty simple and see if it's really too slow?

[2020-02-22 19:08] jsouto18 commented on #3817
Hey, @ry I would like to take on this issue. I've been reading the documentation of both _ansi_term_ and _termcolor_ and I believe I can remove the ansi_term dependency.

[2020-02-22 19:17] axetroy commented on #4069
@bartlomieju
I'm not sure if it's really slow, but we can try, at least it won't break the current cache layout.

In your opinion, can you print what the manifest/mapping file looks like?

[2020-02-22 19:20] bartlomieju commented on #4069
@axetroy I think we can do it per origin (so per directory in cache)
[code]

Would that work?

[2020-02-22 19:26] axetroy commented on #4069
@bartlomieju it works and look good for me.

[2020-02-22 19:26] bartlomieju commented on #4080
@aduh95 could you check how it behaves in the browsers? It seems your example cannot be directly as is in browser

[2020-02-22 19:27] bartlomieju commented on #4069
Good, I'll get to implementing it shortly

[2020-02-22 19:55] sholladay commented on #4044
Unfortunately, with the web being the way it is, I think if you don't grab as many TLDs as possible, you may regret it later. `deno.sh` is shorter and gives a slight hint that it's a software project.

[2020-02-22 20:12] maxmellen commented on #3324
@brandonkal You have a point there, although my comment was more of a reaction to @gewoonwoutje's [comment](https://github.com/denoland/deno/issues/3324#issuecomment-589366295).

What I wanted to stress is that it seems the TypeScript ecosystem is moving in the direction of users being able to expect that libraries expose strictly typed interfaces which can be used in strict as well as non-strict

[2020-02-22 21:29] ecyrbe commented on #4067
I also like Deno.errors.xxxxx better. I don't mind extra typing for clarity and consistancy.

[2020-02-22 21:37] ecyrbe commented on #4059
In the same kind of questions, as i'm making std/node/fs polyfill i need to add fchmod/fchown...
They all take files descriptors... and rust op/fs.rs as none for the moment. Should i put these anyway in  fs.rs or in ops/io.rs or another one ?

[2020-02-22 22:40] aduh95 commented on #4080
Well I don’t think any browser supports top level await atm… maybe I can try to wrap it in an async function

[2020-02-22 23:06] aduh95 commented on #4080
On Chrome 82.0.4064.0, after wrapping in an async function, I get the following:

[code]

It is similar to Deno output excepts it doesn't crash the process.

[2020-02-23 00:33] jsouto18 commented on #2988
@ry Hey, I would like to help porting TestRepl to Rust. How should I proceed to contribute for that task? Should I create a PR porting TestRepl only?

[2020-02-23 05:20] keroxp commented on #4047
@clemens-tolboom That situation also occurred  in my machine (macOS). But there're no hints about what happened. I added `RUST_BACKTRACE=1` but no trace info shown after segfault. It means deno itself didn't panic. It seems to be thrown by OS?

This is undesirable behaviour of WebSocketImpl. It occurs when socket fails to read frame from client because sock may be closed without close frame.

[2020-02-23 09:38] kevinkassimo commented on #4067
@evenstensberg You should pin your dependency, e.g. `import { createRequire } from "https://deno.land/std@v0.34.0/node/module.ts";`. Without explicit version number, you'll be using the master branch, which is unstable (since it changes along with the lastest Deno source itself, which might use features that have not yet been released).

[2020-02-23 10:55] ecyrbe opened #4086 "Shouldn't std/node be a plugin ?"
As i'm going through std/node polyfill implementation, i'm adding more and more ops to Deno.
This feels kind of bizarre. Not all node exposed API are well suited for Deno/cli/ops.

Sometimes they might profoundly differ from what deno wants to achieve. (ie: modules, policies)

Should't we make most of Node api only available on a plugin ?
Meaning, only implement some desired API on Deno/cli/ops to

[2020-02-23 11:15] ak-1 commented on #4017
I would like to see the `Deno.readDir` (or `readdir`) API improved upon.
In Typescript strict mode (or after upgrading to `deno 0.34`) you have to unnecessarily check for `fileInfo.name != null` after `Deno.readDir`.
If you look at `https://golang.org/pkg/os/#FileInfo` there `FileInfo` is an interface.
You call `fileInfo.Name()`. You don't have to deal with null values.
Since deno tries to emulate

[2020-02-23 11:20] axetroy commented on #4069
![1](https://user-images.githubusercontent.com/9758711/75111121-52488900-5671-11ea-8bc0-51e4292e2205.gif)

work fine with `manifest.json`

[2020-02-23 11:27] ak-1 commented on #3982
I solved this issue in my code (which is based on https://deno.land/std/http/file_server.ts) by defining this type guard:
[code]
And then at the end of the finally block in listenAndServe:
[code]

[2020-02-23 13:18] clemens-tolboom commented on #4047
I'm on MacOS too. I did not manage to dtrace so cannot produce more info either :(

[2020-02-23 13:21] IllusionPerdu commented on #4069
You would have to add a command in Deno to check the consistency between the cache files and the manifest because for some reason someone can manually delete files in the cache or edit the manifest.

[2020-02-23 14:37] #3650 closed

[2020-02-23 14:40] #4077 closed

[2020-02-23 15:00] pauschuu opened #4088 "WebSockets Uncaught TypeError: Cannot read property 'reject' of undefined"
https://github.com/denoland/deno/blob/7e49d96cbcde1e8eb89d0fdd499be473822b725b/std/ws/mod.ts#L283

This line throws a **TypeError** in **deno v0.34.0** under the following circumstances:
1) Client sends a message via a websocket connection to the server.
2) Client immediately exits after it send the first message (no `sock.close()` or anything).
3) Server handles the message and wants to reply to

[2020-02-23 15:07] jyn514 commented on #3875
Maybe this snippet is more helpful:

[code]

I'd like to help (I maintain docs.rs) but I'm not sure what's going wrong or how to fix it. Do you need updated v8 bindings? We have [`3.14.5`](https://github.com/rust-lang/crates-build-env/blob/master/packages.txt#L835) installed in the build environment.

[2020-02-23 15:14] pauschuu commented on #4088
Probably the code just needs to check if e.d is defined? I'm not deep enough within the code or TypeScript at all, sorry.

[2020-02-23 15:14] gil0mendes opened #4089 "bug: Property 'Err' does not exist on type 'typeof Deno'"
Hey 👋

I'm using the latest version of Deno (0.34.0) with the latest Std library and I'm getting the following errors: https://d.pr/i/sAxrRr

I'm using the following import:
[code]

There is something that I'm doing wrong?

[2020-02-23 15:18] Skillz4Killz commented on #3827
You are right in theory. But in reality, most people just don't do this. I don't have an answer for why, they just don't make this type of PR. But people make massive issues from configurations. I have never personally experienced anyone trying to change the formatter issue to make it configurable. This is one of those in theory vs in reality issues as well.

Yes! Please do this! Keep the defaults

[2020-02-23 15:27] bartlomieju commented on #4088
CC @keroxp; wasn't this fixed in #4083 ?

[2020-02-23 15:32] keroxp commented on #4088
@bardiarastin  Ah yes. It was silly indeed.

@pauschuu Thank you for reporting. The reason is too simple. There are two variables named `e` 😫I pointed another one out of scope.

[2020-02-23 15:33] bartlomieju commented on #4089
Hey @gil0mendes, `v0.34.0` does not include `Deno.Err` as it was introduced after the release. The problem is that you use untagged import from `std/` which pulls `master` branch (which does include `Deno.Err`). To fix the issue use tagged URL (`https://deno.land/std@v0.34.0/fs/mod.ts`). `Deno.Err` (or probably `Deno.errors` #4067) will be released in `v0.35.0` in a few days.

[2020-02-23 16:06] ry commented on #3875
Hi jyn514 - I think the issue is that we cannot build our bindings in rusty_v8 on docs.rs and hence we cannot link in the Deno crate. See https://github.com/denoland/rusty_v8/blob/master/build.rs#L14
We are unable to build rusty_v8 because we rely on several binary downloads of tools which are unavailable in a standard environment.

[2020-02-23 16:18] bartlomieju opened #4090 "discussion: move asserts to Deno.assert"
With recent move of testing functions from `std/testing/mod.ts` to `Deno.test()` it seems silly to require importing assertions from standard library to write tests.

My proposition is to move methods available in `std/testing/asserts.ts` under `Deno.assert` namespace; it would make testing experience in Deno completely built-in.

Example test file before:
[code]

Example test file after:
[code]

[2020-02-23 16:26] bartlomieju opened #4092 "discussion: adopt baretest-like testing API"
[`baretest`](https://github.com/volument/baretest) is pretty interesting project that implements very simple testing framework (I wouldn't even call it a framework). It has a few functionalities which seem to be very desirable:
- `beforeAll`/`afterAll` hooks - can be used to setup expensive stuff before testing (DB connections, net connections, etc.)
- `before`/`after` hooks - can be used to imple

[2020-02-23 16:38] bartlomieju commented on #4038
Fixed in #4085, let's keep discussion of fetching `file://` URLs in #2150

[2020-02-23 16:38] #4038 closed

[2020-02-23 16:39] bartlomieju commented on #4078
CC @kitsonk

[2020-02-23 19:28] kitsonk commented on #4078
I haven't tried it yet, but the equivalent of Deno would be though:

[code]

I suspect you would get a different compile time there, as `tsc` would access the JavaScript file.  I think we need to consider the impact of having `allowJs` on by default while not having `checkJs` on by default, as it appears to be causing a few issues.  There are a couple other things we might be able to do too, to tr

[2020-02-23 19:33] lewislbr commented on #4089
Thanks @bartlomieju, I was running into the same issue.

[2020-02-23 19:39] kitsonk commented on #4090
Personal opinion, we should only move `assert` and `AssertionError` class, instead of dragging in a whole load of stuff.  Those can be built upon downstream, but it really should be up to the test harness to format an assertion error when it throws.

I suggested `AssertionError` a way back, but I didn't fully articulate what it should be, and now that I had more experience in this space in a side

[2020-02-23 19:42] ry commented on #4044
deno.land will remain the official domain

[2020-02-23 19:42] #4044 closed

[2020-02-23 19:45] kitsonk commented on #4067
At first I thought `Deno.Errors` because namespace tend to be capitalised, but then I remembered `Symbol.wellKnown` contains a load of symbols, so `Deno.errrors` containing a bunch of error classes seems fine.  I agree `Err` or `err` is way too terse.

[2020-02-23 19:47] ry commented on #2988
@jsouto18 Go for it. Here's the python code https://github.com/denoland/deno/blob/master/tools/repl_test.py The Rust version should end up here https://github.com/denoland/deno/blob/master/cli/tests/integration_tests.rs
It should be a separate PR for TestRepl only.

[2020-02-23 19:51] dsherret commented on #3827
@Skillz4Killz the Prettier website may say all that, but they're conflating the benefits of auto-formatting into their argument for minimal configuration.

**How is *formatting* configuration a huge time waster?**

I'm having trouble understanding how having a `deno fmt --config` could potentially be a time waster on your team. I also don't understand how formatting config file changes have histor

[2020-02-23 19:53] ry commented on #4086
@ecyrbe I don't think we need to achieve 100% API compatibility with Node. I'd rather focus on the 80% case first - like file system stuff, networking stuff. Once all that is working we can carefully discuss each of the remaining and decide if they make sense. I'm going to close this as it's quite general. I'd rather discuss each new op individually.

[2020-02-23 19:53] #4086 closed

[2020-02-23 19:54] bartlomieju commented on #2635
@ry do we consider this issue resolved now that #3662, #3936 and #4058 landed?

[2020-02-23 20:04] nayeemrmn commented on #4067
Actually, would it be so bad to make them all top-level e.g. `Deno.PermissionDeniedError`, `Deno.NotFoundError`? It's closer to the web.

While it looks worse, it feels better to type somehow... you're trying to differentiate between error kinds, having to write `errors.` before you get to the differentiating part of the error you're considering is frustrating.

That's what's nice about the `Deno`

[2020-02-23 20:16] bartlomieju commented on #4090
I completely agree with you that display logic should be handled by test framework itself, but personally I think that methods available in `asserts.ts` are very useful - they cover **a lot** of assertions you might want to use (obviously, we should go through all of them one-by-one and vet which ones should actually make it to `Deno.asserts`). Side effect is that it'd be possible to polyfill Node

[2020-02-23 20:21] bartlomieju commented on #4092
Just to clarify - `Deno.test()` would still exist.

This issue is about addition of `new Deno.TestSuite()` which makes built-in testing useful for both small or larger projects; while still keeping implementation dead simple.

[2020-02-23 20:23] bartlomieju commented on #3740
We got #3662, #3936 and #4058 landed without need of `DOMException` - so I'm closing this issue for now keeping in mind that we might have to revisit this topic.

[2020-02-23 20:23] #3740 closed

[2020-02-23 20:38] nayeemrmn commented on #4092
It would be nice if we could add these hooks while still using `Deno.test()`, closer to the way we do it now.  It would take some strategy to be able to specify the scopes of the `before()`s and `after()`s, though.

Here's an idea:

[code]

[2020-02-23 20:38] ecyrbe commented on #4092
Maybe i'm confused, but what about making Jest deno compliant ? is it too much work ?

[2020-02-23 20:44] bartlomieju commented on #4092
@nayeemrmn `s.start()` and `s.end()` seem very funky are error-prone. I believe `TestSuite` is pretty common term in testing.

@ecyrbe Definitely; Jest has >50k lines of code and has >70 deps which are mostly Node specific. Besides it's full-blown testing framework with snapshots, mocking, etc.

[2020-02-23 20:50] kevinkassimo opened #4097 "file_fetcher::tests::* always failing for local testing"
Unable to run tests locally due to at least one of the `file_fetcher::tests::*` almost always failing.

[2020-02-23 20:55] bartlomieju commented on #4097
@kevinkassimo which tests are failing? I have no problems running them locally

[2020-02-23 21:00] bartlomieju commented on #1810
`DenoError` has been replaced with specified error classes in #3936 so this issue is no longer valid.

[2020-02-23 21:00] #1810 closed

[2020-02-23 21:01] bartlomieju commented on #449
@benjamingr could you describe expected behavior?

[2020-02-23 21:02] kevinkassimo commented on #4092
Bringing these hooks to Deno itself is fine I believe since they are truly minimal.

@nayeemrmn I think your proposal could be confusing, since there is no clear association between `Deno.test()` with the `TestSuite` instance `s`, and using `s.start()/end()` marker does not provide any enforcements pre-runtime. (and it is just so easy to forget to call `s.end()`)

@ecyrbe Jest is just too huge a f

[2020-02-23 21:02] nayeemrmn commented on #4092
@bartlomieju How about giving it as an option to `Deno.test()`:
[code]

Or have `Deno.test()` return some kind of symbol and giving those as a list to `new TestSuite()`:
<details><summary></summary>

[code]
</details>

Too many indents, probably. These are just examples of strategies to make `Deno.test()` the only way of declaring a test. I think that's important.

[2020-02-23 21:06] kevinkassimo commented on #4092
@nayeemrmn IMHO I don't think adding a separate `Deno.TestSuite` can be that much of a cost. If we were to really only forced to maintain a single set of API, I would rather have `Deno.TestSuite.default.test()`, maintaining a static instance of `TestSuite` instead of keeping `Deno.test`.

[2020-02-23 21:12] kevinkassimo commented on #4097
@bartlomieju Different ones fail during different runs (I haven't been able to ).
Failing ones I have seen so far (they sometimes pass, but then other breaks)
[code]

[2020-02-23 21:14] ecyrbe commented on #4092
@bartlomieju  Another silly question : so what about mocha + jspm as mocha does not rely on node and can run in the browser, and deno is almost like a browser : https://mochajs.org/#running-mocha-in-the-browser

[2020-02-23 21:17] bartlomieju commented on #4092
@ecyrbe you can already run mocha with Deno; example in `typeorm` port for Deno: https://github.com/denolib/typeorm/blob/master/test/deps/mocha.ts

[2020-02-23 21:20] ecyrbe commented on #4092
@bartlomieju  So we already have access to mocha hooks ? why not use them ?

[2020-02-23 21:20] nayeemrmn opened #4098 "Add TestDefinition::skip"
Allow the following to disable a test:
[code]

Then uncomment all disabled tests in `cli/js` and `std` and skip them like this. That way the APIs used in disabled tests will forcibly be kept up to date (most of the time). Seen in https://github.com/denoland/deno/issues/4092.

cc @bartlomieju

[2020-02-23 21:24] kevinkassimo commented on #4092
@bartlomieju Actually I just noticed that deno is panicking if you try to import `https://unpkg.com/mocha/mocha.js` due to redirect to an absolute URL: `https://unpkg.com/mocha/mocha.js` redirects to `/mocha@7.0.1/mocha.js`, which cannot be parsed correctly. I'll see if I can do a quick fix for this.

[2020-02-23 21:25] kitsonk commented on #4090
The swmi-concen is top level bloat of `Deno` stuff. At one point we decorated `assert` with properties so you could do `assert()` or `assert.equals()`. Personally I would like us to do that again (along with refactoring the display logic to `Deno.test()`.

I haven't looked in depth of the logic of `diff`. It would be really good if it was really general purpose. I built one (which also provided a

[2020-02-23 21:50] kevinkassimo commented on #4092
@ecyrbe Deno core should offer a set of bare minimal utilities, instead of being too opinionated IMO

[2020-02-23 22:15] ecyrbe commented on #4092
@bartlomieju Thanks, that clarifies everything.

So i guess what deno expose today is sufficiently deadly simple and maybe we should orient users to use more complex libraries when needing advanced testing functionnality.

What i dislike here is adding another way to write deno native tests. If hooks are really necessary, i would then advise going all in and remove Deno.test() api.

[2020-02-23 23:22] lucacasonato commented on #4092
I agree - we should either provide only the dead simple `Deno.test`, **or** `Deno.TestSuite`, but not both as they don't work together - that would create confusion. I would personally vote for some sort of `Deno.TestSuite`, but I don't think a default instance is a good idea, because it might be confusing for new users that all Deno.test (or Deno.TestSuite.default.test() <- very long btw) are sha

[2020-02-24 00:12] ecyrbe commented on #4098
i like this.

[2020-02-24 00:37] kitsonk commented on #3937
I've got a branch working, but there was a change in behaviour in TypeScript 3.8.  Previously, source maps generated by TypeScript utilised the `fileName` from the `SourceFile`.  Now they appear to use the filename provided by `CompilerHost.resolveModules()`.  The problem was that when we created the source file, when building the internal bundles, we would replace the `file://` specifier which sp

[2020-02-24 00:54] ecyrbe commented on #4092
After seing the proposal from @nayeemrmn to keep only one way to do tests with Deno.test() i like it better, but i would do it like this instead (to keep compatibility with current tests, ie the object becomes optional) :
[code]

[2020-02-24 01:41] ry commented on #3937
@kitsonk cool - if I can be of any help just point me at a branch.

[2020-02-24 03:18] kitsonk commented on #4092
Personally, I don't feel we need to introduce a class to make all this happen.

How are capabilities like test setup and teardown work in Rust?  That model seems to be very effective for us.  I believe there is effectively block of code that are only included in the final binary and run when you do a test build, and the implementation of anything fancy is left up to the implementor.

I think we sh

[2020-02-24 03:53] bartlomieju commented on #3894
Removed in #4058

[2020-02-24 03:53] #3894 closed

[2020-02-24 04:21] kitsonk opened #4101 "[bug] importing JSON doesn't work in bundles"
Breaking this out of #4062 as the fix might land differently.

JSON is not importable to bundles currently.  This is because we need to do the transformation into an ESM ourselves, as TypeScript will strongly type it, but expects the host to do the transformation.

[2020-02-24 04:35] kitsonk commented on #4071
The path wouldn't be from rusty_v8.  zlib is available in the Rust side of the `deno` crate.  What needs to occur is an op from the runtime to a Rust function in the Deno crate that will handle the compression and decompression.

I think we need a bit of agreement on what the API should look like.  In Go, compression like zlib uses the `Reader` and `Writer` type of interfaces.  On the other hand,

[2020-02-24 05:15] sholladay commented on #4098
`test.skip(name, fn)` for shorthand style, please! This is how it works in AVA.

[2020-02-24 05:25] kitsonk opened #4102 "Inconsistent UX between `deno run` and `deno test`"
On a mac:

[code]

Versus:

[code]

The `deno run` is far more informative and consistent across OSes.

[2020-02-24 05:25] Acerbic opened #4103 "Deno.makeTempDir permissions check bug with relative paths"
Related to #3810 (see https://github.com/denoland/deno/pull/3810#issuecomment-580076434)

makeTempDir fails if `dir` option is specified with a relative path, and --allow-write permission uses a whitelist.

I put together a [small example](https://github.com/Acerbic/deno_makedirtemp_bug_demo) of the buggy behavior.

[2020-02-24 06:05] agusbena commented on #4031
Hi  80.0.3987.116

I am using the latest Chrome (80.0.3987.116) and the top level await is still not supported in this version, So the bundle fails to load:

Uncaught SyntaxError: Unexpected reserved word
... for the :
const __exp = await __inst("MyModule");

[2020-02-24 06:07] ecyrbe commented on #4098
@sholladay  This is not compatible with current syntax. The proposal don't disrupt current api. See test documentation.

[2020-02-24 09:37] kitsonk commented on #4031
My personal opinion is that we don't hold up support top level await in bundles.  We have been supporting it in Deno ever since it was implemented in V8 (and wanted to support it earlier).

The only solution is that if the main module has no exports, we could drop the await, but it if does, we need to have the await there.

@ry thoughts?

[2020-02-24 10:24] gil0mendes commented on #4089
Thanks for the explanation, I think that maybe I'll try to compile Deno, I would love to try to contribute a bit, I hope 🙏 ... closing issue 😄

[2020-02-24 10:24] #4089 closed

[2020-02-24 12:18] hazae41 commented on #4071
For the API, I propose to use ZlibEncoder/ZlibDecoder that takes an Uint8Array and some params, and ZlibWriter/ZlibReader classes that encapsulates a Writer/Reader and exposes read/write functions

    class ZlibEncoder(options)
        encode(Uint8Array): a new Uint8Array

    class ZlibDecoder(options)
        decode(Uint8Array): a new Uint8Array

    class ZlibReader(Reader, options)
        re

[2020-02-24 13:03] ry commented on #4069
I'm worried about the speed of manifest.json when it's filled with many entries. Reading and writing to the cache becomes O(N) where it was previously O(1).

[2020-02-24 13:12] ry commented on #4067
Or we could use `Deno.PermissionDenied`. That's the shortest yet...

[code]

I really hate such long APIs... but make it's okay.

[2020-02-24 13:26] ry commented on #4097
@kevinkassimo You know you can selectively run tests? EG "cargo test overflow"

But also I can't repeat your errors. (Is the python server running erroneously in the background?)

[2020-02-24 13:44] ry commented on #4092
I agree with @kitsonk that we don't need setup/teardown. Rust's unit tests are a great example of this - they provide no such facility - and yet we're able to build very complex software on top of it.

We will not be introducing a more complex test facility for Deno. It should be simply registering functions to be run and checking if they get exceptions.

[2020-02-24 13:44] #4092 closed

[2020-02-24 14:01] ry commented on #4102
I think `No such file or directory (os error 2)` is actually the better error message here. The `deno run` error message suggests we're doing a lot of unnecessary processing. The process should try to open the file, and simply error out if it's not there.

[2020-02-24 14:03] ry commented on #4103
@Acerbic Thank you for the detailed report.

cc @manyuanrong

[2020-02-24 14:13] #4051 closed

[2020-02-24 14:21] ry commented on #4031
@kitsonk I agree. I think if people are deploying the bundle to web they ought to just not use TLA...

[2020-02-24 14:36] jyn514 commented on #3875
@ry would it be possible to have `rusty_v8` and your other tools in a submodule so they will be downloaded by docs.rs when it pulls your crate initially?

[2020-02-24 14:47] #4088 closed

[2020-02-24 15:29] #3817 closed

[2020-02-24 15:39] ry commented on #3875
@jyn514 The binary downloads are changing quite often and quite large. Each platform is probably around 86M:
[code]
Basically we're bridging two build systems: chromium and cargo. It's very involved and complex - about 800k lines of C++ - which results in 1 hour build.

That said, the homebrew people have been able to build it independent of the binary downloads... Maybe @chrmoritz has some advise

[2020-02-24 16:05] uki00a opened #4108 "CI fails on Windows"
[code]

[/std/examples/chat/server_test.ts](https://github.com/denoland/deno/blob/master/std/examples/chat/server_test.ts) fails on Windows.

I don't have Windows PC, so it is difficult for me to test at hand...

Does anyone know the cause or solution for this?

Thanks.

[2020-02-24 16:45] chrmoritz commented on #3875
The main requirement for building `rusty_v8` (and hence `deno`) without using the Google binaries is having a recent version of `clang` / `llvm` installed. It looks like Ubuntu 18.04 (what doc.rs is using) still ships with clang 6, which is too old. The last time I've checked llvm 8.0 was the minimum requirement, but using the latest version 9.0 might be even better, because I'm not sure how long

[2020-02-24 17:33] ry commented on #3875
Yikes, that that definitely will not do. @jyn514 we need at least 1 hour build limit to make this work - probably better to have a bit more tho.

[2020-02-24 18:12] jyn514 commented on #3875
Ouch, an hour is a lot, especially since I presume this will be using a ton of CPU/IO/memory in the meantime. Our current memory limit is 3 GB, I assume you'll need that raised too? We only have 15 GB total on the build server ...

[2020-02-24 18:23] ry opened #4110 "Odd behavior when using a function called "define" and checkJs together"
@seishun [reports](https://github.com/denoland/deno/pull/4010#issuecomment-590471108):

tsconfig.json
[code]
foo.ts
[code]
test.js
[code]
..\deno\target\debug\deno.exe --config tsconfig.json foo.ts
[code]

Ref https://github.com/denoland/deno/pull/4040 https://github.com/denoland/deno/pull/4010
cc @kitsonk

[2020-02-24 18:29] kevinkassimo commented on #4097
@ry I tried it and it does not really make any difference. Also I have checked there are no other python servers running. I'll investigate a bit more

[2020-02-24 18:31] ry commented on #4049
The same cause but different failure https://github.com/denoland/deno/runs/465322195

[code]

[2020-02-24 18:42] ry commented on #449
@benjamingr This issue is really old and there's no explicit examples. Please open a new one if you've got some example code - cheers!

[2020-02-24 18:42] #449 closed

[2020-02-24 18:43] ry commented on #484
Feb 24, 2020: Still an issue

[2020-02-24 18:49] ry commented on #627
I'm not convinced it's useful to support non-unicode filenames. It's a huge complexity for what is a legacy problem at this point. It's very nice to assume paths are strings.

Related: in https://github.com/denoland/deno/pull/4004 we skip non-unicode filenames. I think this is reasonable.

[2020-02-24 18:52] ry commented on #720
We have whitelists for permissions now, so I think that solves this issue.

[2020-02-24 18:52] #720 closed

[2020-02-24 18:55] ry commented on #781
In #3644 @kitsonk introduced oldProgram  which is built at compile time. This effectively warms up the compiler.

[2020-02-24 18:55] #781 closed

[2020-02-24 18:57] ry commented on #815
Feb 24 2020: Still an issue

https://github.com/denoland/deno/blob/5da7c7df1d8649ddb5628b4dc830aa8c23ccb488/cli/ops/fs.rs#L460-L463

[2020-02-24 18:58] kitsonk commented on #4110
Yeah, there are a few things that I need to work through to get everything right.

[2020-02-24 19:00] ry commented on #899
Update Feb 24, 2020: This is still something I'd like to have, but not a high priority. In terms of benchmarks we're still trying to get deno_tcp to be on par with node_tcp.

[2020-02-24 19:04] kitsonk commented on #4031
@ry, well the problem is they don't have a choice now, because the bundle loader works in an async way in order to accomodate bundling modules that require TLA, which means that we have to instantiate the loader using TLA.  So until browsers support TLA, it means Deno bundles would not work in browsers.

[2020-02-24 19:06] kitsonk commented on #4102
My only argument is that it should be normalized across OSes and should include the full path that was attempted to be resolved.  Sometimes with complex relative URLs, it might hard to determine what is what.

[2020-02-24 19:13] Skillz4Killz commented on #3827
@dsherret I don't think it is fair to make this claim. They provide evidence that can be checked at any time by anyone to show that their statements are accurate. Any claim to the contrary should be backed with evidence. To say that they are wrong without any evidence is not a good logical argument. Auto-formatting can be done with ESLint. People remove a lot of the ESLint rules by integrating Pre

[2020-02-24 19:21] ry commented on #944
Feb 24, 2020 - still an issue. Shouldn't too hard to fix. We should rename `closeWrite` to `shutdown` probably.

[2020-02-24 19:25] ry commented on #973
Auth can be done using the `--cert` flag now which was added in 2e7d449623b7faee8feb0a2970e0d6bb7c66b409. Although that doesn't add auth headers, I think in principle it solves this issue. Please open a new issue if the actual `AUTH` header (or others) is needed.

[2020-02-24 19:25] #973 closed

[2020-02-24 19:29] hayd commented on #3827
Yup.

This seems indicative of systemic issues in the team/company. Those issues won't be solved with/without --config.

[2020-02-24 19:36] ry commented on #1063
We're going to follow what the browser does, which is allow http imports. If that changes in the future, we will also change that.

[2020-02-24 19:36] #1063 closed

[2020-02-24 19:39] ry commented on #1064
Are there any specs that say exactly how HTTP and HTTPS imports should interact?

[2020-02-24 19:41] kitsonk commented on #4067
Only problem is the name of the class would be `PermissionDenied` and lose the error.  I don't know if that is a problem, but default logging would be:

[code]

Instead of:

[code]

Which is more aligned to other JavaScript errors.

[2020-02-24 19:42] ry commented on #1158
I just left this comment https://github.com/denoland/deno/pull/3760#issuecomment-590472390

[2020-02-24 19:43] kitsonk commented on #1064
Browsers don't support FQDN imports within modules, I believe.  If they did, then CORS rules would likely apply.

[2020-02-24 19:44] ry commented on #1195
Feb 24, 2020: Still an issue that we want to solve.

[2020-02-24 19:45] ry commented on #1228
Feb 24, 2020: Still an issue.

[2020-02-24 19:47] kitsonk commented on #4069
Would a distributed manifest be a problem.  We already write out the headers, so write out in some sort of meta data file the original URL?  That would put the work on the plugin to go and collect all the meta-data files to create a map, and what the FS events on the DENO_DIR for any new files and add them to the cache.  For Deno it would be still be O(1).

[2020-02-24 19:49] agusbena commented on #4031
there could be a parametter for:
    deno bundle --no-tla
...or something, how hard it might be to implement?

When i showed deno at my office one of the features we understood will be really useful for us was reuse of server module in the browser by just deno bundle them.
Thanks you for listen

[2020-02-24 19:51] kitsonk commented on #4031
While it might be complicated, I think I can detect when a bundle contains modules that are using TLA, and pass in something that will change the instantiation from async to sync.  Let me see if I can do that.

[2020-02-24 19:54] bartlomieju commented on #1882
Update Feb 24, 2020; closing as it will come up when vetting `std`

[2020-02-24 19:54] #1882 closed

[2020-02-24 20:02] #4034 closed

[2020-02-24 20:08] ry opened #4112 "Windows terminal colors broken after removal of ansi_term"
We need to call `set_virtual_terminal_processing`

see https://github.com/denoland/deno/pull/4106#pullrequestreview-363475270

[2020-02-24 20:10] jsouto18 commented on #4112
@ry I’m on it!

[2020-02-24 20:11] ry commented on #4069
@kitsonk By distributed manifest you mean having a manifest per directory? I guess that would work... but I'm still wondering if we can't avoid the manifest entirely.

@axetroy I'm a unclear why the VS Code plugin cannot call "deno info" ? We can modify "deno info" to fit your needs.

[2020-02-24 20:15] ry commented on #1064
@kitsonk Chrome did last time I checked.

[2020-02-24 20:20] axetroy commented on #4069
@ry Yes, I agree to privatize `$DENO_DIR`

This way, even if the cache layout changes again, third-party tools will not need to change

If we no longer depend on $DENO_DIR

Then `deno info` needs to provide the mapping function of `url <---> filepath`

[2020-02-24 20:21] axetroy commented on #4069
@ry

Commands can be called, but synchronously

[2020-02-24 20:23] dsherret commented on #3827
@Skillz4Killz from my past experience, ESLint formatting quick fixes have not been as good as Prettier. Plus, in the past some formatting rules had to be manually fixed. I wouldn't consider those tools to be in the same class because Prettier is a complete rewrite of the source file and does a better job. It's also focused specifically on formatting rather than broadly linting.

Not the best examp

[2020-02-24 20:25] bodinsamuel commented on #1639
Hi team,

I was looking to create an issue about this, but this issue seems the right spot to put more use case.
Right now in NodeJS we have no way to execute untrusted source code. Fortunately someone built a package that is covering all the requirements but it's super hacky and could be really a game changer with deno.

**isolated-vm**
https://github.com/laverdet/isolated-vm

You probably alread

[2020-02-24 20:38] ry commented on #4069
@axetroy how about we add an option to “deno info” so it will not download nor compile but only look in the cache. We can also add an option for JSON output.

[2020-02-24 20:45] axetroy commented on #4069
@ry

SGTM

In fact, I have already implemented the solution of `mianfest.json`

here is how extension found Deno module.

https://github.com/axetroy/vscode-deno/blob/894e9785d3ac9504bc62d8193983938365f5df7d/typescript-deno-plugin/src/plugin.ts#L259-L309

But I rethought the a while

I think `deno info xx` is feasible

[2020-02-24 20:48] #4067 closed

[2020-02-24 20:58] kevinkassimo commented on #4112
On macOS, color also broken:
<img width="1100" alt="Screen Shot 2020-02-24 at 12 58 14 PM" src="https://user-images.githubusercontent.com/15007517/75190546-62aa4380-5705-11ea-9787-5f4a747288d0.png">

[2020-02-24 21:15] dubiousjim commented on #4059
@ecyrbe, I've implemented fchmod/fchown already, will be posting PR probably tomorrow. See #4017

[2020-02-24 21:28] jsouto18 commented on #4112
@kevinkassimo Found the reason that was happening! Thanks for the print!

[2020-02-24 21:37] dubiousjim commented on #4059
Sorry, just did fchmod. fchown is not available in the nix Rust crate. You'd have to do `unsafe` calls into the libc crate.

[2020-02-24 21:40] cknight commented on #4059
@ecyrbe which bit of the std/node/fs polyfill are you working on?  Sounds like we might both be working on it.  My progress to date can be seen in #4087

[2020-02-24 21:54] ecyrbe commented on #4059
oh! a chance i only made chown/fchown/fchmod. i'll let you advance before adding anything more for fs node module. i'll finish node/os module instead.

[2020-02-24 21:57] cknight commented on #4059
No worries.  I have no rust experience so am limited to implementing what is available already in Deno.  Any help is most welcome, just wanted to make sure we didn't both complete the same thing!

[2020-02-24 22:56] jsouto18 commented on #2988
@ry I'll try to close this issue by porting the remaining tests. Just one question, will it also resolve #3129?

[2020-02-24 23:23] sholladay commented on #4098
I could open a separate issue, I suppose. It's directly related, though.

People who don't use the object-based syntax (like me) don't want to have to start using it just to skip a test. It needs to support the shorthand form.

[2020-02-24 23:48] teleclimber opened #4115 "Support unix domain sockets"
Now that UDP support has been added in #3946 I'm wondering if Unix Domain sockets could be added in the same way.

Unix sockets are very handy when you need to communicate with another process without dealing with ports and whatnot.

I suppose the only question is whether connecting to a UDS from Deno requires a net permission or a file permission. My hunch is that it is a file permission, simply

[2020-02-25 00:09] kitsonk commented on #1064
@ry you are right...

While I can't find anything official in any standards, it looks like all implementations follow CORS rules.  The most concise source is here: https://jakearchibald.com/2017/es-modules-in-browsers/#always-cors. Browsers also prevent/block downgrades, so an `http://` import from a `https://` imported module should be disallowed, while a `https://` import from an `http://` modul

[2020-02-25 00:24] nayeemrmn commented on #4098
If we want to apply this to the shorthand (which we currently have three of unfortunately), we can give it an options object containing the missing fields from `TestDefinition`:

[code]

[2020-02-25 00:30] #4112 closed

[2020-02-25 00:35] sholladay commented on #4098
Why not use the API of an existing popular testing library like AVA? Not only does that make things more familiar to users, but AVA already has high quality TypeScript type definitions, which makes Deno development and maintenance easier. It's also a superior API in my opinion.

[code]

[2020-02-25 01:23] FredKSchott opened #4117 "remote CDN imports not being properly resolved"
Originally reported here: https://github.com/gcanti/fp-ts/issues/1130
Confirmed regression locally, working on v0.33.0 but broken on v0.34.0
Can't seem to import anything from the Pika CDN due to this.

For context, every package (ex: https://cdn.pika.dev/fp-ts@^2.4.4) will always import from another file by `/*` path.

[code]

[2020-02-25 01:51] kitsonk commented on #4117
Hrmmmm... yeah, it was all in the same domain space of trying to "improve" import detection problems on some modules (ref: #4040 #4010 #4110 #4078)

The use cases help, just need to figure out how to make everyone happy.

[2020-02-25 01:56] FredKSchott commented on #4117
👍 sounds like you're on top of it. Let me know if I can help in any way!

[2020-02-25 04:59] joeltimothyoh opened #4121 "Expiring logs for GitHub Actions"
Older Github Actions build logs are beginning to expire. I discovered the same happening on several of my own projects that started using the service since launch last November.

Case in point: Looking through logs under [Checks](https://github.com/denoland/deno/pull/3352/checks) for #3352 of [v0.25.0](https://github.com/denoland/deno/releases/tag/v0.25.0) presents the message “*The logs for this

[2020-02-25 07:33] bartlomieju opened #4122 "Handle missing opId gracefully"
This has been coming up several times already; I need to finally fix it. The problem is that we use `unwrap` when trying to cast `opId` to `Uint32` - this panics if `opId` is undefined. Such situation should be handled gracefully by returning error to JS or adding assert on `opId` in `Deno.core.dispatch` - whichever will have smaller impact on performace.

https://github.com/denoland/deno/pull/411

[2020-02-25 08:05] #3977 closed

[2020-02-25 08:07] balajahe commented on #3977
I hope in the future the documentation will be written in more detail !

[2020-02-25 08:32] #3852 closed

[2020-02-25 08:32] #4117 closed

[2020-02-25 08:35] ry commented on #4098
I'm ok with `test.skip(name, fn)`

[2020-02-25 09:07] kitsonk opened #4123 "feat: bundles always use TLA, though browsers don't support TLA"
As point out in https://github.com/denoland/deno/issues/4031#issuecomment-590178526 the changes to the bundles to support TLA in TypeScript 3.8 also forced all bundles to require support of TLA, even if none of the modules in the bundle required TLA.  We should fix this since browser support for TLA seems a way off.

[2020-02-25 13:33] cknight opened #4125 "Permission denied on Deno.open() on Windows directories"
The command `Deno.open()` and `Deno.openSync()` do not work on Windows directories.  Should they?  The node equivalent seems to work, but I'm not familiar with Deno's approach to the file system.

Example `test.ts` file:
[code]

[code]

See also PR #4087 where the CI is failing due to the above.  I've also added a number of test cases to try different options of open() vs openSync() with and witho

[2020-02-25 14:12] hazae41 commented on #4125
Try running it with an admin terminal

[2020-02-25 14:14] #4122 closed

[2020-02-25 14:21] cknight commented on #4125
Fails with same error in admin console.

[2020-02-25 14:23] #4103 closed

[2020-02-25 14:27] Skillz4Killz commented on #3827
Your 100% right but this isn't an issue of a team or a company but of the industry. The reason that Prettier grew so much is that this issue is widespread. As shown above, any scenario put as a solution is not a solution at all. The only solution is to prevent configuration.

I agree that ESLint formatting is not perfect but it is pretty darn good. A vast amount of projects still use ESLint alone

[2020-02-25 14:43] ry commented on #4049
and another one https://github.com/denoland/deno/runs/467360561

[2020-02-25 15:26] hazae41 commented on #4115
Here is the API I propose

    Deno.listen({ transport: "unix", socket: "/var/run/mysocket" }): UnixConn

    Deno.connect({ transport: "unix", socket: "/var/run/mysocket" }): UnixConn

class UnixConn would be similar to UDPConn and Go's definition https://golang.org/pkg/net/#UnixConn

[2020-02-25 15:32] hazae41 commented on #3995
https://github.com/denoland/deno/issues/1558

[2020-02-25 15:37] ry commented on #3995
So it's quite likely that we will expose native HTTP server.

Getting these protocols correct is very difficult - it's better to collaborate with other Rust users. We will probably use `warp`.

The reason why we have `std/http` and not a native HTTP server is because we're still working out the kinks in the "op model". In our benchmarks deno_tcp is still slower than node_tcp

![3c49cb](https://use

[2020-02-25 16:49] dsherret commented on #3827
The bottom line is that nothing prevents a dev from changing to a formatter with configuration other than the team enforcing that. You will have the argument for using a formatter with config or no config on a team regardless of what Deno decides.

Again, I think the best experience would be for Deno to recognize this choice exists and bring it into the Deno CLI (default and recommend the opiniona

[2020-02-25 18:08] hazae41 commented on #4125
It work well for me

    cd /test
    deno --allow-read --allow-write ./test.ts

Content of "test.ts":

    await Deno.open("test", "x+")

Maybe the fold you work with has OS restriction or is open by another process

[2020-02-25 18:23] hazae41 commented on #4108
This works well for me on virtualized Windows 10

	// Copyright 2018-2020 the Deno authors. All rights reserved. MIT license.
	import { assert, assertEquals } from "../../testing/asserts.ts";
	import { TextProtoReader } from "../../textproto/mod.ts";
	import { BufReader } from "../../io/bufio.ts";
	import { connectWebSocket, WebSocket } from "../../ws/mod.ts";

	let server: Deno.Process | undefine

[2020-02-25 18:29] hazae41 commented on #4066
Everything works well on my virtualized Windows 10

Maybe it's a problem with the machine used in Github Actions?

[2020-02-25 18:36] hazae41 commented on #4066
First bug

    FAIL netUdpListenClose
    PermissionDenied: Une tentative d’accès à un socket de manière interdite par ses autorisations d’accès a été tentée. (os error 10013)
    at Object.constructError ($deno$/errors.ts:39:13)
    at unwrapResponse ($deno$/dispatch_json.ts:41:12)
    at Object.sendSync ($deno$/dispatch_json.ts:70:10)
    at Object.listen ($deno$/net.ts:255:15)
    at Object.net

[2020-02-25 18:37] hazae41 commented on #4066
netUdpListenCloseWhileIterating works well

[2020-02-25 18:52] hazae41 commented on #4066
I managed to not have errors by changing ports used.

	testPerm({ net: true }, function netUdpListenClose(): void {
	  //if (Deno.build.os === "win") return; // TODO

	  const socket = Deno.listen({
		hostname: "127.0.0.1",
		port: 4600,
		transport: "udp"
	  });
	  assertEquals(socket.addr.transport, "udp");
	  assertEquals(socket.addr.hostname, "127.0.0.1");
	  assertEquals(socket.addr.port, 460

[2020-02-25 19:12] kitsonk commented on #4098
The only problem with that, is that it makes it harder to do a conditional skip.  For example, you might want to skip on a particular OS for a time period:

[code]

It is also easier to comment out or remove...

[2020-02-25 19:14] ry commented on #4071
zlib could come from rusty_v8. It's (perhaps surprisingly) a dependency of V8 https://github.com/denoland/rusty_v8/tree/master/third_party

https://github.com/v8/v8/blob/fc55d73343611998e5d816168f363bb18e365a1b/BUILD.gn#L3455-L3458

However it doesn't seem like we're getting any of the symbols exposed in the executable:
[code]

I see that we already have `brotli` as a dep crate in `deno` (`reqwest

[2020-02-25 19:43] cknight commented on #4125
Interesting.  What does 'test' in your `test.ts` refer to, seeing as you are already in the test directory and the file you are executing is `test.ts`?  I think this is a reference to a brand new file.  Exploring this further
[code]
works, so opening an existing file in the current directory works.  However, reading a directory itself does not:
[code]
or (after creating a subdirectory testDir in m

[2020-02-25 20:10] jsouto18 commented on #1150
I'll work on this, it should be quite simple.

[2020-02-25 20:11] hazae41 commented on #4066
It seems that, on Windows, sending to a local port freezes when the port is not yet open.

Therefore, the following code:

    await send()
    await receive()

is blocking at `await send()`

Alternatively, the following code

    await receive()
    await send()

is blocking at receive() since the data is sent after

Thus, I think the only solutions would be:
- to disable netUdpSendReceive()
- to

[2020-02-25 20:33] #3301 closed

[2020-02-25 20:33] #3391 closed

[2020-02-25 20:33] #3937 closed

[2020-02-25 21:17] bartlomieju opened #4133 "replace PathBuf.canonicalize() with removal of "./" and "../" parts"
[`PathBuf.canonicalize()`](https://doc.rust-lang.org/std/path/struct.PathBuf.html#method.canonicalize) resolves symlinks which in almost all our current use cases is not desired. It should be replaced with this bit as a separate utility:
https://github.com/denoland/deno/blob/e53064c4f22efeb8a4eda2712e15c77d2699a686/cli/fs.rs#L154-L168

[2020-02-25 22:49] cknight commented on #4125
@bartlomieju - reading the code base, it looks like you were possibly involved (amongst others) in writing the OP_OPEN, which is at the root of this question.  Are you able to confirm if `Deno.open()` or `Deno.openSync()` makes sense for directories in Deno?

[2020-02-25 23:57] codeflo commented on #3162
IMO, this makes most sense as a global flag, i.e. not scoped to the `run` command. `deno test` already has an (unused) `-q`/`--quiet` flag that can be repurposed for this. The PR I added shows this approach.

[2020-02-26 02:40] trusktr opened #4137 "local modules?"
What's the best way to consume local modules in Deno, with no network access?

[2020-02-26 02:45] trusktr commented on #4137
I think it is great to have spec'd ES Modules, and be able to access modules just like in a browser, because it makes some things very easy without any tooling.

But I think for on-device non-browser code there should definitely be an obvious file-system only way to consume files or "packages".

It would be great to have the best of both worlds!

[2020-02-26 02:53] trusktr commented on #4137
After stumbling around, I realize this is a continuation of https://github.com/denoland/deno/issues/4137.

Maybe Deno simply needs a simple way to install anything from https://deno.land/x to a local `deps` folder, along with a way to configure imports like `import {foo} from 'deps/foo/index.ts'`, similar to the `deptool` idea in https://github.com/denoland/deno/issues/195#issuecomment-395524973 b

[2020-02-26 02:55] trusktr opened #4138 "dw.js, like nw.js"
Is there anything like this for Deno yet, that gives us a graphical window?

[2020-02-26 03:01] nayeemrmn commented on #4137
`deno run --no-remote`?

[2020-02-26 03:03] nayeemrmn commented on #4138
Duplicate of #3234.

[2020-02-26 03:03] axetroy commented on #4138
duplicated #3234

[2020-02-26 03:11] kitsonk commented on #4137
It certainly would help if you do a bit of searching before opening issues and keep the issue tracker to issue.

General use questions should be done in other channels, like Gitter.

[2020-02-26 03:18] Brooooooklyn commented on #1629
I will have a try to implement a minimal demo with https://github.com/rust-skia/rust-skia and https://github.com/pcwalton/surfman when I had time.

[2020-02-26 03:20] trusktr commented on #4137
Thanks for pointing that out! I'll post ideas/questions there first from now on.

That wasn't obvious. The Manual has no search results for `no-remote`, and other searches for things like "package" lead to

[2020-02-26 03:36] nayeemrmn commented on #4137
@trusktr Well, it has nothing to do with packages. It just disables modules specified via remote URLs.

I think you want a workflow that works strictly with local modules via a traditional package manager? The `--no-remote` flag is all there is to be done on Deno's end. The rest as you said is third party tooling. In fact, you could even use existing tools like npm to distribute modules consumable

[2020-02-26 03:41] hayd commented on #1629
aside: rust-skia looks like a good candidate to use https://github.com/denoland/cargo_gn

[2020-02-26 04:05] trusktr commented on #4137
Aha! I just found the `Import maps` section too.

Deno has everything we need then! Someone can build a CLI tool on top of this to generate import maps to achieve NodeJS-like import statements.

[2020-02-26 04:05] #4137 closed

[2020-02-26 06:14] balajahe opened #4139 "Recommended in documentation "file_server" compiles with error"
https://deno.land/std/manual.md#file-server

I updated Deno, but server installation still fails :(

`user@pc:~$ deno install --allow-net --allow-read file_server https://deno.land/std/http/file_server.ts
Download https://deno.land/std/http/file_server.ts
Compile https://deno.land/std/http/file_server.ts
Download https://deno.land/std/path/mod.ts
Download https://deno.land/std/http/server.ts
Downl

[2020-02-26 07:02] axetroy commented on #4139
Please use a locked version of std module

[code]

[2020-02-26 07:25] kitsonk commented on #4139
Yes, we deploy breaking changes to master at the moment, which can mean that unless you are using a version of Deno off of master, other things on master won't work.

We should either update the manual automatically with the current latest tag as the part of the build process, or put an example/caveat there of how to use the pinned version.  We can't just expect people to "know" that.

[2020-02-26 07:43] hazae41 commented on #4125
I don't think open() can work with a folder since it opens the resource for read/write.

If you want to work with folders you can use mkdir() (IIRC) to create one and list its files with other functions

[2020-02-26 08:27] benjamingr commented on #449
Sure. whatever helps.

[2020-02-26 09:33] cknight commented on #4125
Yes, I'm increasingly thinking `open()` isn't meant for directories.  I'm implementing some of the fs API into a node polyfill and Node uses the equivalent of `open()` to get a handle to the directory before reading from it.  It seems more and more likely to me that Deno handles this differently, and there isn't a need for a resource id for directories in Deno.

[2020-02-26 10:31] sholladay commented on #4098
I mean, you could use a simple ternary to do the same thing with function shorthand. I already destructure `const { test } = Deno` anyway, so it doesn't even add any lines for me, unlike the object form.

[code]

There are other possibilities here, too. With AVA, one can write a [test macro](https://github.com/avajs/ava/blob/master/docs/01-writing-tests.md#reusing-test-logic-through-macros) to con

[2020-02-26 10:49] #650 closed

[2020-02-26 11:02] bartlomieju commented on #4125
@cknight `Deno.open` was meant for files and as described by @hazae41 to be used with `Deno.read()`/`Deno.write()`. Take a look at [`OpenOptions::open`](https://doc.rust-lang.org/std/fs/struct.OpenOptions.html#method.open) for it depth look what errors can be returned (besides Deno-specific ones).

I am not sure how can you "open a directory", can you elaborate on that?

[2020-02-26 11:19] axetroy commented on #4069
@bartlomieju

It seems that @ry is disagree with the `mianfest.json` solution, and wanna privatizes `$DENO_DIR`

So, Whether to use the `deno info` solution and make APIs similar to the following

[code]

Stdout output:

[code]

[2020-02-26 11:24] morille opened #4142 "Reading Blobs"
It would be great to have either the (old) FileReader API or the new Promise based Blob methods "text", "arrayBuffer" and "stream".

[2020-02-26 11:28] cknight commented on #4125
So, I'm trying to port the Node fs API to the Deno polyfill. Reading this API, Node uses, for directories, file id's which are opened and closed.  The file id's (resource ids in Deno speak I think) are handled under the covers by the looks of it.  Node exposes a [Dir.close()](https://nodejs.org/api/fs.html#fs_dir_close) method for example which will close the relevant file id.

It looks like Deno

[2020-02-26 11:28] #4125 closed

[2020-02-26 11:31] kitsonk commented on #4098
I said harder, not impossible.

[2020-02-26 11:34] bartlomieju commented on #4069
@axetroy yes, I discussed this issue with @ry

There's one thing I am not sure about:
[code]

Above example is self-explanatory and easy to implement; what about the one below:
[code]
Since we want to privatize `DENO_DIR` then why do you need "reverse lookup"? Was that mistakenly put there, or you actually need the same functionality for "hashed" filenames?

That's also ref for #4140

[2020-02-26 11:45] axetroy commented on #4069
`https://deno.land/std/path/mod.ts` to `$DENO_DIR/deps/https/deno.land/[hash]` just need to calculate `SHA256` of `/std/path/mod.ts` and it's easy.

But what I really need is map `$DENO_DIR/deps/https/deno.land/[hash]` to `https://deno.land/std/path/mod.ts`

Because in actual use case, I open the `$DENO_DIR/deps/https/deno.land/[hash]` file in the editor. I have to figure out what its URL is in or

[2020-02-26 12:01] frank-dspeed commented on #3003
@ry but when you do that please don't do that for workers as i can then not expect anymore what is going on when my workers start to create addition th's

[2020-02-26 12:45] hazae41 commented on #4071
How about https://github.com/image-rs/inflate or https://github.com/sile/libflate ?

[2020-02-26 12:59] lucacasonato commented on #4069
This might be stupid, but why do we actually hash the file names in the first place? To make sure we have a valid set of characters for the filesystem right? Not for security. Couldn't we just use base64 encoding or a fast terrible encryption algorithm? The name doesn't need to be one way hashed because it needs to be secure - it just needs to be rewritten to valid filesystem chars.

[2020-02-26 13:04] bartlomieju commented on #4069
That's right

Now that I think about it, it might actually work, but it would rather be Base32 - that way we'd handle both case-sensitive and case-insensitive file systems.

[2020-02-26 13:21] lucacasonato commented on #4069
You're right - filename length could be an issue (base32 will increase file length by an average of 60%). A solution could be to split the base32 encoded strings into 255 char segments ([this would fit 99% of filesystems](https://en.wikipedia.org/wiki/Comparison_of_file_systems#Limits)), and then have a folder structure like this: `$DENO_DIR/deps/https/segment1/segment2/segment3`. Short file names

[2020-02-26 15:19] keroxp commented on #4092
I agree that keeping it minimal, but as `beforeAll` and `afterAll`, we actually need them for std tests. Some integration tests certainly needs them for managing external processes / server. Currently there are no way to cleanup tests after test run. IMO Rust's test system is designed only for functional unit test.

I think Go is resolving the problem well by providing run hook.

[code]

[2020-02-26 16:01] ry commented on #4049
Just saw another failure after #4134 was landed https://github.com/denoland/deno/runs/470147220

I think we should try reverting e6167c78134182c45689bda7bcb12af05009349c

[2020-02-26 16:13] bartlomieju commented on #4049
Sure, I'll be rewriting `tools/http_server.py` using `warp` tomorrow

[2020-02-26 16:21] bartlomieju opened #4149 "segfault running tools/deno_tcp.ts"
[code]
[code]
Output from `rust-lldb`
[code]

This segfault happens only when running using `wrk` - I cannot trigger it using `nc`/`curl`

I managed to get same segfault running `tools/deno_tcp.ts` using `deno v0.33.0`

[2020-02-26 16:56] bartlomieju commented on #4149
Possibly related: #4047

[2020-02-26 16:59] #4055 closed

[2020-02-26 16:59] #4123 closed

[2020-02-26 19:16] kevinkassimo commented on #4139
I feel it would be nice to have `https://deno.land/std/` pointing to the last tagged version, and make master located at `https://deno.land/std@dev` or similar.

[2020-02-26 19:24] ry commented on #4139
Someday we will stop making API changes... I apologize for the instability but we figure we should get it done quickly now rather than keeping warts forever.

[2020-02-26 21:09] bartlomieju commented on #4149
Can still reproduce even with #4119 and #4151

[2020-02-26 21:11] #4133 closed

[2020-02-26 21:18] bartlomieju commented on #4149
Debug backtrace:
[code]

[2020-02-26 22:01] nayeemrmn opened #4153 "Don't destructure errors using v8::Exception::create_message(), just read error.stack"
To fix #2703 and #2710.

We get structured error data using `v8::Exception::create_message()` and then format them into the colourful strings that get printed on exit. However the stack trace returned by that function is missing async frames among other issues: https://github.com/denoland/deno/issues/2703#issuecomment-517882829. The stack trace we want is not stored structured-ly by V8, but is ava

[2020-02-26 22:02] nayeemrmn commented on #4153
Would fix #2703 and #2710.

[2020-02-26 22:58] kitsonk commented on #4069
Just to point out, base32 or base64 do seem a bit of overkill... they are designed to encode arbitrary data.  URLs can only contain a certain set of characters.  Though I am not aware of an encoding that is file safe that only deals with encoding valid URL characters.

The following text:

[code]

Encodes in base-32 as:

[code]

Also, from an encoding perspective, domains are case-insensitive, whi

[2020-02-27 01:39] hayd commented on #4142
Note: Fixing this is required for JsZip to work in deno.
(Potentially it will work OOTB with this.)

API: https://developer.mozilla.org/en-US/docs/Web/API/Blob

[2020-02-27 08:14] alexanderGalushka opened #4156 "[example] Untarring a file (containing multiple files) which submitted via http"
http request:

`curl -F "bundle=mybundle.tar" localhost:8080/untarme`

mybundle.tar contains example1.txt and example2.txt

followed this gist, got the FormFile

between this https://deno.land/std/archive/tar.ts and https://deno.land/std/archive/tar_test.ts

still can't wrap my head around how to convert FormFile into the Tar or Deno.Reader to eventually Untart.extract and save example1.txt and ex

[2020-02-27 09:06] axetroy opened #4157 "deno fmt: exit with a zero code even it throw error"
I found that even format code error. It still exit with zero code.

`0` exit code in Unix process means `Success`

Is this intentional?

[code]

[code]

https://github.com/denoland/deno/blob/3eebef39c55ead92d17bdf8016c3c58118b49936/cli/fmt.rs#L178-L202

[2020-02-27 10:11] jamesseanwright commented on #1389
Was there ever any movement on this? Code signing would be a hugely reassuring feature to have.

[2020-02-27 14:05] bartlomieju commented on #4153
CC @piscisaureus I believe that's one of the issues we discussed yesterday

[2020-02-27 15:30] jsouto18 commented on #4115
@hazae41 are you working on this? I would like to give this a try if you're not :)

[2020-02-27 15:37] hazae41 commented on #4115
Not yet

[2020-02-27 16:40] alexanderGalushka commented on #4156
I've following this gist https://gist.github.com/artisonian/8297e5fe95f448ca98045f336bccf976 to get the file out of http request

@artisonian @kitsonk @bartlomieju any clues?

[2020-02-27 17:15] afinch7 commented on #4149
I have this one mostly figured out. Here is a patch for rusty v8 that resolves it:
[code]

[2020-02-27 17:47] ry commented on #4149
@afinch7 nice! Have you been able to find a repeatable test?

[2020-02-27 18:08] afinch7 commented on #4149
I think this happens when the connection is closed, but we still have future with a `SharedRef` in the form of `ZeroCopyBuf`. When we drop the `deno_core::Isolate`, the field `shared_ab` is dropped first followed by `pending_ops`(which contains our future that contains a `ZeroCopyBuf`). `SharedRef` isn't safe by rust's standards. Ideally `SharedRef` should be re-implemented as a reference counting

[2020-02-27 18:18] piscisaureus commented on #4149
Given that there is a crash, it looks like it might not be safe in practice.

However it is designed to be safe. The recount is there, although the counter is maintained in C++ by the std::shared_ptr implementation.

Maybe there's a bug in the rust binding that calls the relevant C++ methods.

[2020-02-27 18:26] piscisaureus commented on #4149
I think this is helpful in tracking down the bug, but it does not fix the root cause. On the Rust side, SharedRef is not allowed to be empty (null) so in theory `std__shared_ptr__v8__BackingStore__reset()` should never be called with a nullptr argument.

[2020-02-27 18:29] piscisaureus commented on #4149
My suspicion would be that there's a bug in SharedRef::clone() or SharedRef::drop().

[2020-02-27 19:30] #1150 closed

[2020-02-27 19:39] afinch7 commented on #4149
I ran it again with added debug code, and I got a segfault.

[2020-02-27 20:39] #4157 closed

[2020-02-27 21:13] afinch7 commented on #4149
This change the drop implementation for `Isolate` seems to fix the issue, but still not sure why:
[code]
I tried to drop `shared_ab`(and `shared`) before `pending_ops`, but I couldn't get it to segfault anymore.

[2020-02-27 21:48] xpyxel commented on #4069
Why not try [Punycode](https://en.wikipedia.org/wiki/Punycode)?

The example string you used above:
`raw.githubusercontent.com/microsoft/TypeScript/v3.7.2/lib/lib.dom.d.ts`

would result in the following in punycode:
`a8d609a3d662b370256d531e451b7d1781d78e7a`

compared to the Base32 example you provided it is 73 characters less.

[2020-02-27 22:15] kitsonk commented on #4069
@xpyxel how were you encoding it via punycode?

Punycode usually is for taking non-ASCII UNICODE chars and encoding them in a URL.  When I do a punycode encoding of example `https://😱.com/` would become `https://xn--s38h.com/`.  For the example string, I get exactly what is in the example string, because they are valid encodings.

[2020-02-27 22:23] xpyxel commented on #4069
@kitsonk seems it was just a bug in the website i was using to test different encodings.

[2020-02-27 22:45] kitsonk opened #4166 "Suggested improvements to Deno.test APIs"
I was just looking at all the APIs in `Deno` and noticed the `Deno.test` and `Deno.runTests`.  I think there are a couple improvements we could make:

- `RunTestOptions.disableLog` could be renamed `RunTestOptions.silent`, it would be more consistent with other parts of Deno.
- `runTests()` could return some sort of test results, where each test name and a `fail` flag could be provided, as well as

[2020-02-27 22:51] piscisaureus commented on #4149
I suspect that it may not be so much that there is a bug in reference-counting code, but rather that the V8 Isolate creates an ArrayBuffer in its own heap, which gets deallocated even when the shared_ptr<BackingStore> still has a reference count greater than 0.

I'm not entirely sure this is the case. If it turns out to be true then it is a V8 bug.

[2020-02-27 23:29] artisonian commented on #4156
The `extract` method of the Untar class can be used multiple times to unpack the entire archive, but it seems like this might be a good use case for it being an async iterator.

[2020-02-28 01:51] afinch7 commented on #4149
That should be easy to test. Just drop isolate before pending ops. It should fault almost every time.

[2020-02-28 02:41] brandonkal commented on #4069
Why not use something like https://github.com/mit-pdos/noria (Rust)
or even SQLite instead of a JSON table to perform the reverse lookup?

That should be more performant than constantly parsing, stringifying, and writing JSON to disk.

[2020-02-28 02:53] brandonkal commented on #4069
Still, a descriptive filename should be considered a priority. Even with a language server, opening files which don't have the expected filename is not ideal, especially in other editors. At the very least, it should be:

instead of

There are only a few characters which are invalid in filenames:
[code]

I would think a better approach would be to replace those characters and then always add a fil

[2020-02-28 03:22] kitsonk commented on #4069
@brandonkal I think it is unavoidable once you consider query strings would also make unique resources in the cache.

I also think you are missing `&` in your list of characters too.

[2020-02-28 04:08] piscisaureus commented on #4069
You also have to consider:

* URLs are case sensitive whereas some filesystems are not.
* On Windows, file names can not end with a dot or a space.
* Certain characters may be legal in file names, but are nonetheless undesirable because they can produce weird effects when used with xargs or similar tools. I don't know exactly which ones matter on unix, but I think `~` and `'` are among them. On wi

[2020-02-28 04:09] brandonkal commented on #4069
I'm not sure why query strings changes things unless the old behaviour was to strip them off before creating a file path. If you replace `?` with `-1-` for instance (numbering each invalid character) it doesn't seem to be an issue.

As far as I am aware, '&' is legal on unix and Windows but it does create issues with shell interpretation so it would be good to add that to the list.

[2020-02-28 04:16] brandonkal commented on #4069
Good points. Something like

"$DENO_DIR/[id-in-DB or hash]/[stripped-file-basename].[appended-extension-from-content-type]"

would be a nice compromise for readable filenames in editors and search.

[2020-02-28 09:57] piscisaureus opened #4169 "Test failures on WSL Linux"
These failures seem to have popped up all of a sudden.
These results are from running `cargo test` on from-scratch debug build of current master (9b6a9b769ed6df9d24dc0c5173cf2590a4bdcb47).

[code]

[2020-02-28 11:05] kitsonk commented on #4169
I get those on occasion on Mac and have to reboot.  Never really chased it down.

[2020-02-28 14:01] ry commented on #4169
Check if the python http server was left running in the background?

[2020-02-28 14:31] afinch7 commented on #4149
I gave that a try and got a segfault on the first try:
[code]
The v8 docs don't mention this one directly, but it kinda makes sense now that I think about it.
[code]

[2020-02-28 15:12] piscisaureus commented on #4169
I did reboot actually, it didn't help.

[2020-02-28 15:43] bartlomieju commented on #4149
I found yet another way to trigger the segfault - when doing `deno_tcp.ts` benchmark it's enough to call `conn.close()` to trigger the segfault.
[code]

[code]

[2020-02-28 16:43] piscisaureus commented on #4066
What about simply:

await Promise.all([await receive(), await send()]);

[2020-02-28 16:50] hazae41 commented on #4066
This didn't work

[2020-02-28 19:33] ry commented on #4149
I have a test in rusty_v8 which causes a segfault - I think this is the issue we're experiencing here https://github.com/denoland/rusty_v8/pull/294

[2020-02-28 20:20] dubiousjim commented on #4017
Ugh. Days of rebasing to clean up history, and catch up with denoland/master, and then just as I'm about to post, find more changes to lib.deno.ns.d.ts to synch up with... :-( I'll get there soon.

[2020-02-28 21:03] cknight commented on #4021
As this has had no traction in the last week I'm happy to close.  Feel free to reopen if this debate is useful.

[2020-02-28 21:03] #4021 closed

[2020-02-28 23:35] cknight commented on #4153
I was about to raise a similar issue.  Just to add context:

`await Deno.open("nonexistent")` gives:
[code]
Neither the function `open()` nor where it was called from appear in the stacktrace.

[2020-02-28 23:48] cknight opened #4177 "Deno.write() API example fails"
The following partially modified example, taken from the [Deno.write() API](https://deno.land/typedoc/index.html#write), fails.

Example `writeTest.ts`:
[code]

[code]

[2020-02-29 00:22] ry commented on #4069
@axetroy In https://github.com/denoland/deno/commit/0099c28db35a63678e04b31434d38db52a11c3a5 I changed the cache so that in the download cache you have `$HASH.metadata.json`. In there you will find the original URL. This is a stop gap solution - ultimately I want to improve `deno info` - but maybe this will unblock you in `0.35.0`.

[2020-02-29 00:51] piscisaureus commented on #4169
Apparently this is due to the UDP tests failing on windows, and the other tests fail because something in the test harness goes awry when that happens.

Since this has already been reported in other issues, I'm closing this one.

[2020-02-29 00:51] #4169 closed

[2020-02-29 02:16] ry commented on #4149
Fixed in https://github.com/denoland/rusty_v8/pull/294

[2020-02-29 02:16] #4149 closed

[2020-02-29 04:30] kevinkassimo commented on #4177
The reason of the failure is due to missing of the `create` or `write` flag as OpenOptions. I think in this part, besides problems with the documentation, the error message seems very confusing. I wonder if there is a way to improve that in general...

[2020-02-29 10:43] dinfer opened #4183 "deno does not download ts source files on windows."
According the document, all the ts source file is downloaded by deno

create a file named `a.ts`

[code]

run in powershell

[code]

in the dep folder, no ts file is downloaded

[code]

![image](https://user-images.githubusercontent.com/11496403/75605937-c035fa00-5b22-11ea-96f1-b75dae282477.png)

deno info

[code]

[2020-02-29 11:49] bartlomieju commented on #4183
Everything's fine. Deno turns URL into a hash to store downloaded files. There is no extension, but Deno knows it's a TS file

[2020-02-29 11:58] dinfer commented on #4183
@bartlomieju Yes, it works fine. But this behavior makes VS Code code completion very hard to work. I cannot map import paths to its source file.

I found the issue #4069 just now, This issue may closed, I will follow that issue.

Thanks

[2020-02-29 11:58] #4183 closed

[2020-02-29 12:50] axetroy opened #4184 "didn't respect `x-typescript-types` response header"
The submodule of `https://cdn.pika.dev/fp-ts` contains header information, but the declaration file is not downloaded

[code]

### Source Code

[code]

[code]

[2020-02-29 12:58] axetroy commented on #4069
@ry I have built Deno v0.35.0 locally and it works find.

waiting v0.35.0 release, then extensions will be released soon

[2020-02-29 13:34] ecyrbe opened #4186 "Discussion: should ResourceTable use contiguous or random numbers and use 32 bits rid's?"
In resource table, there is this one comment :
[code]

Should we implement this or remove the comment and let resources contiguous allocation?
To add to the discussion, on linux kernel side, they are contiguous :
[code]

Do we want to give the deno users more security/allocation garanties than linux system ?

Subsidiary question, linux file handles are 64 bits on 64 bits system. Shouldn't we allow

[2020-02-29 13:41] ecyrbe commented on #4186
To add to this, there is a current bug with deno impl :
If the deno process run long enought time, there will be more than 2 billions fd allocations, then these fd will be passed as i32 over typescript and then unusable (it will trigger a panic due to unsigned number convertion to signed number overflow).

[2020-02-29 13:47] ecyrbe commented on #3403
currently working on os stuff impl.

[2020-02-29 13:48] ecyrbe commented on #3802
i'm currently working on this

[2020-02-29 13:55] awkj commented on #2473
API is stabe? 1.0 is hava new release date? I want use it in production.

[2020-02-29 14:00] bartlomieju opened #4187 "Error in benchmarked code should fail benchmark CI"
Example:
https://github.com/denoland/deno/pull/4173

`http_bench.ts` errors out but benchmark CI step does not fail.

https://github.com/denoland/deno/issues/4149

`deno_tcp.ts` segfaults and yet the benchmark CI step does not fail.

If that was the case it could help us catch bugs described above faster.

This requires to change `run` function in `tools/http_benchmark.py` such that it check error

[2020-02-29 14:04] lucacasonato commented on #2473
No the API is not yet stable, still are constantly changing and we still have many issues open that would break API stability. We should not rush a 1.0 release, because that will undoubtedly introduce design decisions we will regret in the future.

[2020-02-29 14:05] bartlomieju commented on #4047
In #4149 we fixed a segfault that was most likely the same root cause in this issue. @clemens-tolboom could you verify if you still get the segfault with `v0.35.0`?

[2020-02-29 14:21] bartlomieju commented on #4187
It looks like `worker_round_robic_bench.ts` suffers the same problem:
[code]
https://github.com/denoland/deno/pull/4180/checks?check_run_id=476742985

[2020-02-29 14:36] bartlomieju commented on #3813
Update: @piscisaureus suggested we could construct `v8::TryCatch` manually when `host_import_module_dynamically_callback` is called and store full stack trace.

Then in `dyn_import_error` it should be possible to construct new exception and attach stack trace from stored exception.

[2020-02-29 14:39] bartlomieju commented on #2635
Number of `ErrorKind`s had been reduced significantly (https://github.com/denoland/deno/blob/a29343c7d6b5dad26c5d501eb6d21e9caf382a58/cli/op_error.rs#L33-L60)

[2020-02-29 14:39] #2635 closed

[2020-02-29 14:43] bartlomieju commented on #1805
It's now possible to do that using [`readLines`](https://github.com/denoland/deno/blob/a29343c7d6b5dad26c5d501eb6d21e9caf382a58/std/io/bufio.ts#L604-L609) from `std/io/bufio.ts`

[code]
[code]

[2020-02-29 15:00] awkj commented on #2473
thanks reply,  I think it's good decision, good lucky!

[2020-02-29 15:21] axetroy commented on #4069
vscode-deno@3.0.0 have been release and it works again with Deno v0.35.0, it is up to @ry to decide whether to close the issue

If implement the `deno info` API in the future or refactor a new cache layout, @ me again

![1](https://user-images.githubusercontent.com/9758711/75610204-06eb1a80-5b4a-11ea-9e11-9058860c2428.gif)

[2020-02-29 15:22] ry commented on #4069
@axetroy Awesome - glad to here it's unbroken. I will close this issue but keep working on the "deno info" improvements.

[2020-02-29 15:22] #4069 closed

[2020-02-29 16:45] bartlomieju opened #4188 "refactor: ops/fs.rs should use tokio::fs where applicable"
There are [many](https://docs.rs/tokio/0.2.13/tokio/fs/index.html#functions) functions available in `tokio::fs` that can be used to replace current blocking fs function used in `cli/ops/fs.rs`.

Example:
https://github.com/denoland/deno/blob/a29343c7d6b5dad26c5d501eb6d21e9caf382a58/cli/ops/fs.rs#L189-L214

It can be rewritten as follows:
[code]

Last bit could be factored out as `maybe_sync_op` si

[2020-02-29 17:24] ry opened #4191 "deno upgrade"
This is a new subcommand (which should be written entirely in Rust) that can download the newest deno executable.

Something like this:
1. Check github for latest version
2. Compare against current version
3. If newer version exists, download newest into temp dir
4. replace `std::env::current_exe()` with new.

Should not use github API.  Use https://github.com/denoland/deno_install/blob/master/ins

[2020-02-29 17:34] axetroy commented on #4191
Talk about the problems encountered before

In Windows, after downloading a new Deno executable, the file cannot be replaced directly because `the file is using by process`

Solution:

rename `executable` to another name `executable_old`
and move `executable_new` to `executable`

There are already some Deno version management tools
https://github.com/axetroy/dvm
https://github.com/justjavac/dvm
ht

[2020-02-29 17:37] ry commented on #4187
correction: no longer segfaults

[2020-02-29 17:50] bartlomieju opened #4194 "reenable fetch tests"
In #4161 some `fetch` tests were disabled due to leaking resources.

They are most likely related to redirection handling and suggest that some of `httpBody` are never closed.
https://github.com/denoland/deno/blob/master/cli/js/fetch_test.ts

- `fetchWithRedirection`
- `fetchWithRelativeRedirection`
- `fetchWithManualRedirection`
- `fetchWithErrorRedirection`

CC @serverhiccups

[2020-02-29 17:53] dubiousjim commented on #4017
Posted implementations as PRs #4192, #4193, #4195, #4196.

[2020-02-29 17:58] keroxp opened #4197 "v0.35.0 TSX file can't be compiled"
**index.tsx**
[code]

[code]

I know recently `strict` option enabled by default for deno compiler but I couldn't right way to define correct `JSX` namespace for external resources.

[2020-02-29 19:37] #4177 closed

[2020-02-29 22:05] ecyrbe commented on #4186
To see a example of what doing it randomly implies, see this PR #4079

[2020-03-01 00:48] srackham opened #4199 "Incorrectly named Windows executable batch file"
On Windows 10 the Deno install command adds a `..cmd` extension instead of `.cmd` to the executable batch file name e.g.

[code]
See https://github.com/denoland/deno/blob/master/cli/installer.rs#L146

    file_path = file_path.with_extension(".cmd");

should be:

    file_path = file_path.with_extension("cmd");

See also:

- https://github.com/denoland/deno/blob/master/cli/tests/integration_tests.

[2020-03-01 06:06] tamoore commented on #4197
I was experiencing the same issue. I was able to get around it by setting "jsx" in my "tsconfig" "compilerOptions" to "react".

[2020-03-01 06:08] tamoore commented on #4197
If you change the file ext to `jsx` it works. Seems to only be an issue with `tsx` files. Haven't had time to look deeper.

[2020-03-01 11:20] keroxp commented on #3149
@bartlomieju I think it's been achieved now. I don't think it is essential to accept glob string as prettier does.
@yamalight Thank you for your contribution!

[2020-03-01 11:30] keroxp commented on #4197
@tamoore Thank you. But I found the way.

By [official guide](https://www.typescriptlang.org/docs/handbook/jsx.html), triple-slash reference to type definition is needed for `React` or other type-aware frameworks. Indeed adding it on top of `.tsx` file resolved the compile error.
[code]

I'm using patched react `d.ts` (to ESM) for my project with `@deno-types` but this doesn't work by alone. I'm c

[2020-03-01 11:49] keroxp commented on #3324
Recently I found many third-party library massively broken by that changes. I think `--strict` is too opinionated. It may be acceptable for stand-alone project but not for runtime, certainly.

The best advantage of TypeScript is that users can select suitable typing power for their project. Indeed we provide custom `tsconfig.json` for modules. But there are no way that "strict" module and "non-str

[2020-03-01 11:55] timreichen opened #4203 "Discussion: encoders/decoders and protocols"
I wonder what your stand is on implementing encoders and decoders for standard formats like

- [ics](https://en.wikipedia.org/wiki/ICalendar)
- [vcf](https://de.wikipedia.org/wiki/VCard)
- [xml](https://en.wikipedia.org/wiki/XML)
- etc.

I would be in support to have an official deno approved module for each of these since npm has lots of different ones with

1. weird names
2. intransparent code
3

[2020-03-01 11:56] ecyrbe opened #4204 "unit test flaky due to fs event -"
I get these on my PR, that do not seem to be related to code i pushed #4202  :
[code]

[2020-03-01 12:09] keroxp commented on #4197
This also works and seems to be the correct way.
[code]

[2020-03-01 12:12] bartlomieju commented on #3149
Right, you can always expand globs in your shell as pass them as list to `deno fetch`

[2020-03-01 12:12] #3149 closed

[2020-03-01 12:29] davidbailey00 opened #4206 "`deno bundle` not working with imports"
## Steps to reproduce

Create `server.js` with the following content:

[code]

Run `deno bundle server.js out.js`

Run `deno out.js`

## Expected result

The code is bundled correctly and runs

## Actual result

[code]

The bundle doesn't seem to be complete - it's missing the HTTP library.

## Notes

This seems related to #4031 but adding `export {};` to the file doesn't fix the issue.

[code]

[2020-03-01 12:33] davidbailey00 opened #4207 "Top-level for-await not working in bundles"
## Steps to reproduce

Create `server.js` with the following content:

[code]

Run `deno bundle server.js out.js`

Run `deno out.js`

## Expected result

The code runs

## Actual result

[code]

## Notes

Adding `await console.log("test");` or any other `await` statement is detected by the bundler and allows the `for-await` block to work properly. (See #4206)

[code]

[2020-03-01 12:38] bartlomieju opened #4208 "sanitize resources in std/ code"
Similar to https://github.com/denoland/deno/pull/4161 resource sanitization should be done in `std/` code. The `assertResources` sanitizer has proven quite useful in `cli/` allowing to find bugs in `fetch` implementation (#4194).

https://github.com/denoland/deno/blob/ba0991ad2ba89b7a788a866419759d858b125663/cli/js/test_util.ts#L109-L123

I ran `std/` tests with `assertResources` helper and there'

[2020-03-01 12:46] ecyrbe commented on #4207
Please read the typescript release notes : https://www.typescriptlang.org/docs/handbook/release-notes/typescript-3-8.html#top-level-await

Top level avait only work for modules

[2020-03-01 12:53] davidbailey00 commented on #4207
@ecyrbe Thanks, however this is a module, and as described in the issue, it works correctly with a regular `await`. The issue is when using a `for await (...)` block which isn't detected by Deno in the same way other `await` statements are.

[2020-03-01 13:21] ecyrbe commented on #4204
@bartlomieju any idea why this fs event test panics ?

[2020-03-01 13:48] clemens-tolboom commented on #4047
Hmmm ... I'm using HomeBrew ... when reporting I learned I was using `0.33.0`. Now `brew upgrade deno` gave me `0.34.0` which is not latest :-( ... I've to wait for homebrew to give me latest.

[2020-03-01 13:51] bartlomieju commented on #4204
Most likely because `FsWatcher` doesn't stop watching after it's closed an tries to push new notification on a channel that has been closed.

CC @ry you might want to call ['unwatch'](https://docs.rs/notify/5.0.0-pre.2/notify/trait.Watcher.html#tymethod.unwatch) when closing watcher resource

[2020-03-01 13:53] bartlomieju commented on #4047
@clemens-tolboom that might not be possible: https://github.com/denoland/deno_install/issues/93#issuecomment-592960983

Can you try with manual installation? https://github.com/denoland/deno_install

[2020-03-01 13:59] clemens-tolboom commented on #4047
I can confirm `v0.34.0` is working properly. Which is weird but I **failed to crash** the server.

The server logs loosing a client but that is another issue and still a `FIXME` in https://deno.land/std/ws/README.md

Guess we can close this now unless the relation with https://github.com/denoland/deno/issues/4047#issuecomment-592948874 still stands

[2020-03-01 15:06] ry commented on #4206
cc @kitsonk

[2020-03-01 15:31] nayeemrmn commented on #4206
Better repro:
`a.js`:
[code]
`b.js`:
[code]

`deno bundle b.js b.bundle.js && deno b.bundle.js`:
[code]
[code]

[2020-03-01 15:36] nayeemrmn commented on #4207
@davidbailey00 Can you append "in bundles" to the title?

Better repro:
`a.js`:
[code]
`deno bundle a.js a.bundle.js && deno a.bundle.js`:
[code]
[code]

[2020-03-01 16:49] davidbailey00 commented on #4207
This may be an upstream bug with TypeScript - adding `console.log(data);` before [line 49 in ` cli/js/compiler_api_test.ts`](https://github.com/denoland/deno/pull/4124/files#diff-6533bacca4309f4c64b99552c6c7e419R49) shows that the `execute` function is missing `async`:

[code]

[2020-03-01 17:15] ecyrbe commented on #4203
I'm no deno maintainer, but in my point of view, there is a big downside having a lot of those implemented in deno (especially databases).
The more you add to deno, the more it becomes a nightmare to maintain. Node grew big, because it was minimal and let everybody build upon it.

my stance is this one :
- if there is a w3c specification for it, deno should ask itself if it should implement it. so

[2020-03-01 17:20] hazae41 opened #4212 "Add documentation for plugins"
I could not find any official documentation for plugins.

By the way, it should be clear that plugins have a different purpose than just performance, that WebAssembly is preferred over plugins.

[2020-03-01 17:49] Ciantic commented on #3324
This *is exactly* what this change is supposed to prevent, proliferation of non-strict TypeScript. It was expected that this change breaks everything, because that had already happened.

Non-strict typescript is an anomaly, not many people write it, but deno used to force it down as a default. Whereas the strict TypeScript is default with all new projects created with tsc.

[2020-03-01 18:08] nayeemrmn commented on #4212
Duplicate of #3449.

[2020-03-01 19:17] bartOssh commented on #3826
If above PR of mine is satisfying, I can then link the issue according to recommend approach. I have limited and formatted the code according to contribution guide.

[2020-03-01 19:26] bartlomieju commented on #4166
I've been working with `cli/js/` tests for past few days; here are some of my thoughts on this subject:

RunTestOptions.only and RunTestOptions.skip could take a string | RegExp and if a string we would do testName.includes() check. This makes it a bit more approachable filtering for simply containing checks, versus having to do a RegExp all the time.

:+1: no comment, I agree on both points

Impl

[2020-03-01 19:59] kitsonk commented on #4166
Where do you return the test results?

The display logic of tests should be seperate from the acquisition.  In my opinion it should be refactored so that the results displayed by `runTests()` are based on the same structures that are returned.  Then it simply becomes a one liner that optionally displays those results or not.

By `runTests()` returning results, it means we have less pressure to bak

[2020-03-01 19:59] nayeemrmn commented on #4166
Ref https://github.com/denoland/deno/pull/3865#issuecomment-582464690. I suggested that `Deno.runTests()` should return results and NOT report them itself via logging. That should be factored out to some other function:
[code]
Nice and modular. For the example use case of replacing `Deno.reportTestResults()` with a custom reporter, this is a lot more logical than adding a `silent` flag.

--

On th

[2020-03-01 20:01] kitsonk commented on #3324
It always has, and always will.  You can use a `tsconfig.json` if you don't agree with those, up to the point where the options impact Deno's ability to consume the emitted JavaScript.

[2020-03-01 20:04] kitsonk commented on #4206
Taking a look... 😕

[2020-03-01 20:04] vijiboy commented on #2473
Thanks, Can we update the estimated release date for 1.0.

[2020-03-01 20:24] hayd commented on #4092
You can write your own. I have used something like:

[code]
Perhaps something to aid that could be in std, but it's not necessary in Deno namespace.

[2020-03-01 20:25] kitsonk commented on #4207
Top level `for ... await` is seperate in the standards process from Top level await.  TypeScript has not implemented it, because it isn't progressed far enough in the standards.  We are actually ignoring an error in the compiler that complains about it, because we can support it.  So it is an upstream bug/limitation.

A work around for now would be to use a top level await in the module somewhere

[2020-03-01 20:50] bartlomieju commented on #4166
My bad, forgot to change return type; that should obviously be:
[code]
Fixed in original comment.

I agree with that. I see another problem though: when you call `await Deno.runTests()` it will return results after all tests have finished. So if reporting is lifted to the caller then `implements AsyncIterableIterator<TestResult>, PromiseLike<RunTestsResult>` return type would be better so caller i

[2020-03-01 21:35] cknight commented on #4017
@dubiousjim Will your change introduce permission setting for the scenario where `Deno.open()` creates a new file (via `create` or `createNew` options)?  E.g.

[code]
will create a file with 0o644 permissions, but I don't see any way to influence the permissions used on creation.  I was about to raise an issue when I remembered you were doing a lot of work here.

[2020-03-01 21:38] ecyrbe commented on #3802
CC @ry can i use the crate [systemstat](https://docs.rs/systemstat/0.1.5/systemstat/index.html) to implement :
- freemem()
- totalmem()
- cpus()
- uptime()

and more...

it is under more activity than `sys_info` and made entirely in **rust**. unlike what the documentation suggests, the author added windows support for all of these.

I really don't wan't to make my own `/proc/stat` `/proc/cpuinfo`

[2020-03-01 21:52] dubiousjim commented on #4017
Yes, that's one of the things I implemented. Default is to use 0o666, subject to the process's umask, so you get 0o644. But you can supply anything you like. Currently the supplied perm is masked to 0o777, but we could do 0o7777 instead. The kernel always applies the umask, so you can't get around that except with an explicit chmod call.

[2020-03-01 22:20] ecyrbe commented on #3802
Or if we are not confident enought, use a libuv binding : https://docs.rs/libuv-sys2/1.34.4/libuv_sys2/
but this would be a huge depedency that i'm not sure we want to pay such a price.

[2020-03-01 22:21] kitsonk commented on #4166
Sounds like something that should be added into rusty_v8... that one has been in the back of my mind for a long time (that and caching bytecode).

[2020-03-01 22:34] kitsonk commented on #106
Thinking about this after a while.  We need a few things:

- [ ] Access to the inspector: denoland/rusty_v8#205
- [ ] Use/port: [v8-to-istanbul](https://github.com/istanbuljs/v8-to-istanbul)
- [ ] Integration into the testing framework
- [ ] Ensure that reporters and the like for [Istanbul.js](https://istanbul.js.org/) work under Deno.

[2020-03-02 00:22] brandonkal commented on #3324
I agree that noImpicitAny should be disabled by default. It breaks things without any real gain. People start typing any to shut up the compiler so it doesn't help make libraries better or more type safe. The other strict options are fine.

[2020-03-02 00:34] kitsonk commented on #3324
Except making someone be explicit that they are writing un-types safe code.  It is like `unsafe` in Rust.  Implied unsafe-ness is a lot worse than explicit unsafeness.  I would like people to make the conscious decision to type `any` to shut the compiler up instead of just implying it.

Also, we shouldn't get into cherry-picking things like this.  `strict` is the TypeScript's version of "if we wou

[2020-03-02 00:49] brandonkal commented on #3324
- Autocomplete
- Rename symbol
- Find References
- Documentation

Those are the reasons I use TypeScript. Outside of that there is no bug that TypeScript would catch that could not be found faster with a linter + unit tests.

I like when I can rename a JavaScript file to `.tsx` and have it just work. I believe the original idea was that any valid JavaScript is valid TypeScript. `noImplicitAny` bre

[2020-03-02 00:51] #3129 closed

[2020-03-02 01:45] kitsonk commented on #4206
This is related analysis of dependencies in JavaScript (related to #4040 and #4120)... Fix incoming.

[2020-03-02 02:22] kt3k commented on #106
FYI Rome seems doing something similar on their own. https://github.com/facebookexperimental/rome/blob/master/packages/%40romejs/v8/CoverageCollector.ts

[2020-03-02 02:38] kitsonk commented on #3324
You can get all of that in your editor (VSCode) without using TypeScript, just in JavaScript and actually have nothing to do with running TypeScript, they all have to do with the development workflow.  You can run JavaScript under Deno.  You can turn strict mode off in Deno.

Because not using strict is potentially a common use case.  Providing a top level flag, instead of having to learn how to l

[2020-03-02 03:46] brandonkal commented on #3324
VSCode provides IDE features using the the TypeScript server. So the assertion that you can get all these features without TypeScript is a false one. I'm well aware you can use it indirectly via checkJS (via a less-integrated syntax) and DT.

Of course there are other cases where good JavaScript breaks as TypeScript. But noImplicitAny  is the main one that makes TypeScript conversion non-trivial.

[2020-03-02 10:16] ArturFormella opened #4216 "True parallelism?"
Do you plan to provide any kind of true parallelism or shared memory? It would be a game changer :)

[2020-03-02 11:46] lorenzofox3 commented on #4208
I have some time ahead of me and will be happy to help. I am just getting started with deno and will probably need some guidance though

[2020-03-02 12:46] clemens-tolboom commented on #4047
I'm on Mac ... guess https://github.com/denoland/deno_install/issues/93 is not applicable to Mac right?

[2020-03-02 14:45] Ciantic commented on #3324
It was already pointed out that biggest collection of library definitions (DefinitelyTyped) has `noImplicitAny`, so from library authors point of view that is already a requirement.

[2020-03-02 14:53] base698 commented on #3282
Is terminate() on the roadmap?

[2020-03-02 15:18] bartlomieju commented on #3282
@base698 yes, it will be implemented; I'm held up by internal refactors ATM

[2020-03-02 15:29] ry opened #4218 "provide streaming opendir/readdir support"
probably with async iterator

[2020-03-02 15:39] #4212 closed

[2020-03-02 16:06] ry commented on #4049
Still seeing flakiness https://github.com/denoland/deno/runs/478771584

[2020-03-02 16:10] krnik commented on #4216
[Wasm threads](https://github.com/WebAssembly/threads/blob/master/proposals/threads/Overview.md) is the only way I think will be possible anywhere in the future.

[2020-03-02 16:19] hermesespinola commented on #1453
Hi! I see it's been over a year since the last comment, I would like to take this as my first issue if no one else is working on this :)

[2020-03-02 16:20] ry commented on #3802
We certainly are not adding libuv (despite it being our product) it overlaps too much with Tokio.

I will look into sys_info vs systemstat.

[2020-03-02 16:23] dev-nicolaos opened #4220 "Async Event Handlers are broken in TS files"
### Environment
- Windows 10 Home version 1909
- Deno version 0.35.0

### Steps to Reproduce
1. Create a file `test.ts`
[code]
2. Run the file: `deno test.ts`

### Expected Behavior
The program prints `hello`, then exits with no errors.

### Actual Behavior
The following error is printed to the console and the program exits without printing `hello`:
[code]

### Notes
- I believe having an async fu

[2020-03-02 16:59] ry commented on #3324
Being overly strict is painful for a scripting language. I would be using a scripting language to get things done quickly. If I wanted to be super-specific about what I was doing, I could just write it in Rust.

This is unrelated to strict mode - but just a general comment about overly pedantic rules: in the Deno code base we have a lint rule which requires writing the return types. So for many as

[2020-03-02 17:28] manyuanrong opened #4222 "Discussion: how to distribute native plugins gracefully"
I think the native plugin is very important and urgent for deno, but it doesn't seem to pay much attention.

I'm using rust to develop a mongodb driver for deno, but I have a headache about how to distribute my binaries. Because native plugins cannot run well across platforms, they need to be compiled into binary targets for different platforms. These files are very large. We need to come up with

[2020-03-02 17:59] lucacasonato commented on #4222
I do like the idea of the manifest, because it is very clear what is happening - there is very little magical resolution going on there. I think though that just being able to (dynamically) import `.so`, `.dylib` and `.dll` would also solve the issue. The main issue right now is that plugins need to manually fetched and cached, which is not great because deno already has the infrastructure to fetc

[2020-03-02 18:06] ry commented on #4216
web workers provide parallelism

[2020-03-02 18:06] #4216 closed

[2020-03-02 18:17] ry commented on #4222
It's not that it's not getting enough attention - @afinch7 has been working quite hard on it. It's more that I am purposely slowing down plugin API until we have some refactoring complete in core. The form for the plugin system as it is now is incomplete. Before addressing (valid) ergonomic issues as you outline above, we need to first address the issues of resource table in plugins and figuring o

[2020-03-02 19:13] andrewrjohn opened #4229 "listenAndServe should return a resolved promise"
When using `listenAndServe`, it looks to me that it should return a resolved Promise once it is serving, am I misreading this?
[code]

Then we should be able to do something along the lines of:
[code]
However that is not working for me, is this a bug or am I misunderstanding `listenAndServe`?

[2020-03-02 19:32] kitsonk commented on #3324
@ry if we reverse this, and I can understand the motivation, using strict should be fictionless as well... an easy step to upgrade your experience... If we introduced a `--strict` top level flag, so people can use it without having to load a config file, that would be a win.

Also, I would recommend we would continue to run `--strict` within the Deno code, including `std`.

[2020-03-02 20:18] nayeemrmn commented on #4229
That promise resolves after the loop breaks, as you can see. That means after the server closes, not after the server starts.

[2020-03-02 20:30] nayeemrmn commented on #4153
@ry What do you think of this solution? There doesn't seem to be any other without changes to V8. Shouldn't it be a goal to fix #2703 before 1.0?

[2020-03-02 20:57] Skillz4Killz commented on #3324
@ry Why not disable that lint rule and allow TS to infer those? TS inference is really good, I have never ever needed to provide the return type of a function like that and I use TS strict mode always. It seems like that lint rule is causing more harm than helping.

100% agree. But every toy has certain standards, for example choking hazards for kids.

If I go to a toy store, I expect the toys the

[2020-03-02 21:00] ry commented on #4153
@nayeemrmn It's quite beneficial to have structured exception in Rust, so I would like to find a way to preserve that. Have you tried `--v8-flags=--async-stack-traces`? Do we have a simple test case that demonstrates exceptions with async ops?

[2020-03-02 21:00] bartlomieju commented on #4208
Hey @lorenzofox3

Glad to hear that, you should be good :+1: can you please wait a few days though? We might be adding this sanitizer to `Deno.test()` anyway so there will be no need to carry code to `std/`.

[2020-03-02 21:07] bartlomieju commented on #1453
Hey @hermesespinola I was supposed to work on that, but if you want to give it a try then go ahead!

This issue is quite complex and I'd suggest tackling it in a few steps:
a) get simple server from `tools/http_server.py` ported as `warp` server (eg. `redirect_server`)
b) hook it up into `test_util::http_server()` so it's created along with servers from `tools/http_server.py`
c) port more servers

[2020-03-02 21:09] ry commented on #3324
The fact that TypeScript is defaulting to strict mode, is a strong suggestion that we should as well. The incompatibilities that @keroxp is experiencing will go away as people update code to work with latest versions of deno - it can be chalked up to unfortunate growing pains.

We'll leave strict mode on by default for now - in particular @piscisaureus and @bartlomieju both are in favor of it. (An

[2020-03-02 21:13] brandonkal commented on #3324
As I mentioned above, `strict - noImplicitAny` would be the best default especially for prototyping (you can let TypeScript infer types in most cases.
The latter can be found via an eslint rule or a flag to disallow implicit any.

[2020-03-02 21:14] nayeemrmn commented on #4153
@ry We've gone through that. A test case is given in #2703 and you tried that flag in #2709. There is no way. As explained in https://github.com/denoland/deno/issues/2703#issuecomment-517882829: there are two stack traces, the one we currently get is unconditionally bad and the other is only stored as a string in `error.stack`. Maybe this should be brought up with V8 people?

[2020-03-02 21:20] ArturFormella commented on #4216
ok, my question was vague.
I was thinking about features known from Java

[code]

[2020-03-02 21:23] nayeemrmn commented on #3324
No need to worry, they have config. The temporary transition phase should of course be the one that requires config. That way the config is temporary.

[2020-03-02 21:32] brandonkal commented on #3324
Do you honestly expect someone to write a config file to prototype something? That's an unfair justification @nayeemrmn and just a bad user experience. Config is rarely ever temporary.

[2020-03-02 21:43] nayeemrmn commented on #3324
@brandonkal Umm, no... the prototyper is using JS. We're talking about the person progressing from that, aren't we? :) Also I'm in favour of a flag.

What does that mean here? I'm saying that strict is the one you're hardly going to go back from, non-strict might be temporary so it should be the specified one.

[2020-03-02 21:49] hayd commented on #3324
This was @kitsonk 's suggestion of  `--allow-sloppy` (alternative to a config), and I suspect calling it that will mean people will want its use to be temporary!

Potentially there could be a message on strictness errors suggesting this flag.

[2020-03-02 21:50] Ciantic commented on #3324
I agree with @nayeemrmn logic here.

When you are gradually adding types (converting between JS and TS) you can just add `tsconfig.json` with non-strict flags, that is already what TypeScript suggest you to do.

When you are done you can just remote tsconfig.json because conversion is done!

[2020-03-02 22:58] ry commented on #4153
@nayeemrmn Hah sorry. There's too much stuff going on - I forget the details : )

I will discuss it with @piscisaureus and see if we can find a solution.

[2020-03-02 23:02] piscisaureus commented on #4153
@nayeemrmn Is the information you need provided to the Error.prepareStackTrace callback?

[2020-03-02 23:19] kevinkassimo commented on #4216
@ArturFormella I would assume what you want is hard to achieve, since it might imply you want to have closures that is able to capture environment variables and share memory. I believe this is hard to achieve since v8 does not really offer too many options here, and the mechanism of sharing memory is mostly through `SharedArrayBuffer` with `Atomics` but not for other types. (the closest thing migh

[2020-03-03 00:04] nayeemrmn commented on #4153
@piscisaureus Ah, it is! That's the structured version of the correct stack trace that is discarded from `error.stack`.

I guess in our `Error.prepareStackTrace()` definition, we should save it somewhere it can be accessed from `JSError::from_v8_exception()` and used in place of `v8::Exception::create_message()`. Would that be right?

[2020-03-03 00:09] kevinkassimo commented on #4153
@nayeemrmn or in a raw form, I can save this error in some place that is globally accessible (e.g. `window`) during `check_promise_exceptions` and fire a `console.log` with `formatError` on it when exiting (just did a hack on it and the async stack traces are all kept)

[2020-03-03 00:17] piscisaureus commented on #4153
Sounds good to me.

Sounds good to me too.

`check_promise_exceptions()` would not be the right place for this; it deals only with *unhandled* promise exceptions. The right place to pick up any stashed-away async stack frames would be in `JSError::from_v8_exception()`.

[2020-03-03 00:30] kevinkassimo commented on #4153
@piscisaureus But isn't the intention of this to deal with unhandled promise exceptions (which is )? Any caught TLA errors would be handled by users anyways.

But yeah it is definitely better if we are able do it just in `from_v8_exception` since it might cover some other  scenarios if they exist. `check_promise_exception` is still a valid fallback though.

[2020-03-03 00:36] piscisaureus commented on #4153
Sure enough, but *only* unhandled exceptions, or any exception (including the ones caught and logged or rethrown)? Maybe I don't understand the problem well enough; if you have a (partial) solution, let's open a PR and discuss that.

[2020-03-03 00:58] nayeemrmn commented on #4153
@kevinkassimo The point is that our system in Rust for formatting uncaught errors reads some weird forgotten debug stack trace which is populated differently than the one in `error.stack`. Nothing specifically to do with promises, not capturing async frames is just one issue. We just need to read the correct stack trace.

[2020-03-03 01:15] brandonkal commented on #3137
Agree on this one. It feels odd requiring `--allow-env` just to do:
[code]

For a lot of applications I find Deno.dir() is the only method that requires `--allow-env`.

[2020-03-03 03:10] kitsonk commented on #4216
And we wouldn't support any model that isn't part of v8 or a browser standard.

[2020-03-03 03:56] kevinkassimo commented on #4153
I hacked up a demo at #4232 (maybe we could move actual prop retrieval to JS side)

[2020-03-03 04:59] kitsonk commented on #4197
It is a combination of things, #4040 which stopped analysing JavaScript imports as well as forcing strict mode.

This should work:

[code]

The path references should also work, though we don't have tests for their resolution, so they might not work the way the work on `tsc`, and ideally you wouldn't use them under Deno.

I will look into why we broke that, as that certainly wasn't intended.

What

[2020-03-03 05:31] Fenzland commented on #3998
Besides `Deno` global namespace, import `.ts`, `.json`, using `.ts` files for workers are Deno specific features too. If we need a strictly Web compatible Worker API. We should disable all of them. Why disable one but enable others?

[2020-03-03 05:41] KSXGitHub commented on #4184
Weird, `curl -I` command does not return `x-typescript-types`.

[code]

[code]

[2020-03-03 07:48] lorenzofox3 commented on #4208
ok keep me posted !

[2020-03-03 09:21] kitsonk commented on #4184
@KSXGitHub I believe Pika requires a Deno user agent.

@axetroy I believe it is related to the JS dependency analysis, related to #4197

[2020-03-03 09:45] KSXGitHub commented on #4184
@kitsonk What is deno user agent? How do I find it?

[2020-03-03 10:38] clemens-tolboom commented on #4047
Hmmm ... I guess I didn't understand `LinuxBrew` equals `MacOs` as I never save the (new?) tagline of https://brew.sh

Long story short .... v0.35.0 has no problems either.

Closing

[2020-03-03 10:38] #4047 closed

[2020-03-03 10:59] kitsonk commented on #4184
@KSXGitHub it is set here:

https://github.com/denoland/deno/blob/eafd40feabaf14f9f88748c66fa319519fd69072/cli/http_util.rs#L32-L35

But you are right, even with that, the header is missing:

[code]

I thought I had fixed it last week @axetroy in #4120 and I think I did, but whatever is in the cache doesn't seem to be coming from Pika anymore.

Paging @FredKSchott

[2020-03-03 13:11] crabmusket commented on #4222
I'm keen to see where this goes. I'm currently developing a wrapper to allow Deno programs to use [rusqlite](https://github.com/jgallagher/rusqlite).

I don't like the idea of making `import` behave in ways that it wouldn't in the browser. Does the Deno team have an opinion on doing static analysis of Deno namespace calls? If there were a `Deno.resolvePlugin` function that worked the same way as @

[2020-03-03 13:17] ondras opened #4234 "What "lib" values are compatible with Deno?"
Hi,

in my tsconfig.json:

[code]

...and with Deno 0.35.0:

[code]

[2020-03-03 16:07] FredKSchott commented on #4184
Hey, y'all! https://cdn.pika.dev/fp-ts@^2.4.3 is the semver lookup URL, which then immediately loads/wraps the `/-/` resource URL. The actual package resource URL (in this case: https://cdn.pika.dev/-/fp-ts@v2.5.3/dist=es2019/fp-ts.js) appears to be correctly exporting the header (see example in OP).

[code]

- Confirmed this works as expected in v0.33.0
- Confirmed this suffers from that URL reso

[2020-03-03 16:58] ry commented on #4222
We haven't discussed it - but in general I would shy away from such magic...

I'd rather make this explicit by requiring `--allow-all` to use a plugin...

[2020-03-03 17:03] nayeemrmn commented on #4222
Ref #3378, the argument against is the implications of being able to whitelist plugins.

[2020-03-03 17:57] andrewrjohn commented on #4229
That makes sense. I'll close this issue.

[2020-03-03 17:57] #4229 closed

[2020-03-03 19:17] kitsonk commented on #4184
Hmmm... ah, ok...  I don't think the change in behaviour was intentional.  We should support it, that flow (but we currently don't test it).  Ok, investigating.

[2020-03-03 19:52] kevinkassimo commented on #4220
I think marking the return types of callbacks to be `any` might be reasonable here.

I also noticed that `addEventListener` should also be able to take objects implementing [`EventListener`](https://developer.mozilla.org/en-US/docs/Web/API/EventListener) interface, not just plain functions.

[2020-03-03 19:53] kitsonk commented on #4234
What does the following do?

[code]

[2020-03-03 20:05] kitsonk commented on #4220
We really should follow the [TypeScript typings](https://github.com/microsoft/TypeScript/blob/0326534a2a6c361f5334a66197a3cdd84cb45b6f/lib/lib.webworker.d.ts#L615-L616) for stuff like this as they get a lot of more real world use.  TypeScript has:

[code]

[2020-03-03 20:35] ondras commented on #4234
46 errors in total. The `Headers missing a [Symbol.iterator]` is still present, plus a lot of duplicate definition errors. I can post/link a full report, but I do not think it brings a lot to the discussion.

[2020-03-03 20:46] kevinkassimo commented on #4220
@kitsonk I think that is only for `AbortSignal`.

The actual lines we should follow are:
https://github.com/microsoft/TypeScript/blob/0326534a2a6c361f5334a66197a3cdd84cb45b6f/lib/lib.webworker.d.ts#L5667
https://github.com/microsoft/TypeScript/blob/0326534a2a6c361f5334a66197a3cdd84cb45b6f/lib/lib.webworker.d.ts#L1504

[2020-03-03 21:09] hermesespinola commented on #1453
@bartlomieju I would like to give it a try, thanks for the advice, I'll reach to you if I have any questions.

[2020-03-03 22:24] kitsonk commented on #4234
Ok, we need to clean up `deno.ns` then, so it is compatible with `dom` and `dom.iterable`, but it also looks like there are potentially non-spec features that some of the `std` modules are using around our `window` globals, which isn't good.

😖

@ondras do you have a main module you could share?  If not, I can try to create something.

[2020-03-04 05:27] kitsonk commented on #4234
Actually, @ondras I _was_ right.  `dom.iterable` does fix the issue, but only if Deno actually included it properly in the binary.  It was a copy of `dom` which then only created a whole slew of conflicts instead of actually adding the iterable interfaces to the DOM.

I tried an example server that included `std/http` and was getting the same errors you got before #4242, so I am pretty sure it sho

[2020-03-04 05:39] kitsonk commented on #4206
I think this was closed by 83d902a7803adb0c69fe2c98e692a50dae446db9.  While it contains a top level `for...await`, there is #4207 for tracking that.  There _was_ an issue with bundling JavaScript files even without a top level `for...await`.

[2020-03-04 06:02] kitsonk commented on #4184
Ok, did some thinking about this, and not totally sure what the right answer is.

We had reports of issues with Deno being slow when loading large JavaScript dependencies, and challenges with mis-identifying imports.  So we made a change where `allowJs` is off by default.  It means that when Deno tries to load a JavaScript file and the JavaScript file doesn't have a valid `.d.ts` to substitute (vi

[2020-03-04 06:21] ondras commented on #4234
I only imported the `std/http` module, the file is empty otherwise.

[2020-03-04 06:49] timonson commented on #4234
@kitsonk I am getting about 50 of these signature errors using your compileroptions:

[2020-03-04 09:38] kitsonk commented on #4234
@timonson I assume you are using the patch in #4242, it fixes the issue.  It isn't merged yet.

[2020-03-04 10:37] dyedgreen commented on #4222
With regards to security, it might also make sense to consider using something like [WASI](https://wasi.dev/) as the primary way to distribute 'native'-like modules.

This has benefits with regards to security and portability. Although it might come with a performance penalty in some cases. (Although one might argue that in these cases using a JS run-time is not necessarily the best choice for the

[2020-03-04 11:14] #4234 closed

[2020-03-04 11:16] bartlomieju commented on #4199
Fixed in #4243

[2020-03-04 11:16] #4199 closed

[2020-03-04 11:27] bartlomieju commented on #4184
@kitsonk there is #4140 that I was supposed to carry on; and my eyes are still set on the thing we discussed in #4068. Would keeping `allowJs` whilst speeding up whole load/parsing by relying on SWC rather than TS compiler for that speed things up? (To speak more generally I'd like to do as much as TS compiler does currently using SWC, only leave actual type checking to TS compiler)

[2020-03-04 11:58] bartlomieju commented on #3670
@David-Else we had quite a lot of changes to testing in the past two months; can you check if this issue still persist with Deno `v0.35.0`?

[2020-03-04 12:01] bartlomieju commented on #3520
Update: we've discussed this issue with @piscisaureus and @ry and came to conclusion that even though Deno's `window.location` is not 100% aligned to what you get in Web browser it's actually ok to leave as is. In web browser `window.location` gives you location of document for the web page; in Deno there is no document but only an entry script. The behavior is the same for web workers.

That said

[2020-03-04 12:06] ondras commented on #4234
@kitsonk thanks! Is there a straightforward way I can test this?

[2020-03-04 12:16] KSXGitHub opened #4244 "Request: A web server command that serves code and documentation"
## Rationale

At first glance, serving deno libraries appear simple: Just put the whole thing on GitHub or GitHub Pages. But when other factors come around (such as semantic versioning, fallback for browser compatibility, caching, CDN, etc.), things appear to be much more complicated.

## Suggestion

I wish deno provides a cli command (such as `deno serve`) and an API (such as `Deno.serveCode()`)

[2020-03-04 13:03] bartlomieju opened #4247 "revert added --cert flag for http client or fix HTTPS server"
After #3972 landed I'm getting `cafile_info` failures 5/10 CI runs which make it unusable.

https://github.com/denoland/deno/pull/4246/checks?check_run_id=484893859

We should either revert the PR or fix underlying server issue

[2020-03-04 13:04] bartlomieju commented on #4247
CC @geoFlux

[2020-03-04 13:07] bartlomieju commented on #3826
Done in #4211

[2020-03-04 13:07] #3826 closed

[2020-03-04 13:51] bartlomieju opened #4248 "cli/js/ directory restructure"
It's high time to take another look at directory structure of `cli/js/`. For now we've strived to keep it as flat as possible, but in the long run there are a few problems with that approach.

`cli/js/` contains both runtime code as well as tests for that code. Runtime code is bundled and snapshotted during build step using `deno_typescript`. Runtime code is written as ESModules but as @kitsonk an

[2020-03-04 14:43] geoFlux commented on #4247
I'm trying to look into this, but I'm getting a compile error now.

[2020-03-04 14:50] ry commented on #4247
I was looking into this a few days ago - I believe it’s something related to the cwd in the tests... I don’t think it’s some fundamental problem with —cert.

[2020-03-04 15:16] nayeemrmn commented on #4248
It's true it was confusing at first that `cli/js/*_test.ts` were userland modules unlike their subjects, but it's still practically convenient to have them nearby.

[2020-03-04 16:57] #4206 closed

[2020-03-04 17:54] Sharpiro commented on #4247
I was able to confirm that by using `--cert` I was able to use Deno with remote modules while behind a corporate proxy for the first time.

[2020-03-04 18:27] ry commented on #4248
I agree, the cli/ops/ structure makes a lot more sense than the one in cli/js/.
I think the question is just which of the following do we use (using fs ops as an example) :
- cli/js/ops/fs.ts
- cli/ops/fs.ts
- cli/js/fs.ts

Agree. So `cli/js/web/` ?

Agree.

Agree - with its own readme explaining that the tests run under the Deno runtime as opposed to being bundled & snapshotted via deno_typescrip

[2020-03-04 18:40] bartlomieju commented on #4248
I'd opt for first option; doesn't move TS files outside `cli/js/` directory and should be fairly easy to break out ops into separate directories.

Yes.

:+1: will do

[2020-03-04 18:45] kitsonk commented on #4234
@ondras you would have to build off master, but your code before with the `dom.iterable` lib should _just work_.

[2020-03-04 18:51] kitsonk commented on #4184
@bartlomieju I don't think you are going to get and AST out of swc that TS can use any time soon, and in this case TS needs to fully parse the JavaScript source in order to figure out what the exports and import type shape is to solve this gap.  The first step is to do the dependency analysis in swc and eliminate the preprocess in the compiler, but that wouldn't solve this problem.

[2020-03-04 18:51] bartlomieju commented on #4248
@nayeemrmn I agree with your point. Ultimately we want to arrive at a situation where each op is self-contained with it's tests; something along the lines of:
[code]

[2020-03-04 18:55] kitsonk commented on #4248
Just because I was asked, I am for anything that is somewhat sane!  It tends to be a situation where the less cooks in the kitchen it is easier, so my opinion is do something logical and sane and I will be happy with it!

[2020-03-04 18:58] kevinkassimo commented on #4248
+1 for this structure. There could also be a `mod.rs` on the level of `ops/fs` to do the actual op registering.

[2020-03-04 20:13] FredKSchott commented on #4184
@kitsonk if you all need it, we can export the types from the lookup URL as well. I'll need a few days to implement, though.

[2020-03-04 21:42] ondras commented on #4234
I will wait for 0.36 then ;-)

[2020-03-04 22:21] kitsonk commented on #4184
@FredKSchott I don't know if it is easier, or more "future proof" but all that needs to be done is serving up of the semver wrapper module as a TypeScript and passing it in the `X-TypeScript-Types` header.  I believe even if the wrapper type took a query parameter to modify the served media type, it would work, like something like if `https://cdn.pika.dev/fp-ts@^2.4.3` simply returned: `x-typescri

[2020-03-05 00:12] Sharpiro opened #4255 "Deno creating huge error messages from auto-generated JS"
deno 0.35.0
v8 8.1.310
typescript 3.8.2

I was working with [wabt.js](https://github.com/AssemblyScript/wabt.js) today and trying to get it working with deno as well as the browser.  When testing, I noticed deno was creating huge errors, so big in fact, I had to save them to a file to read them.  It almost seems like the error contains the entire program, or one of the huge lines.  wabt.js is buil

[2020-03-05 00:17] kevinkassimo commented on #4255
Ahh yikes, the reason for this is due to us using a JS wrapper around the WASM file that got base64 encoded.

We should restrict the error line to be shorter than e.g. 150 characters IMO

[2020-03-05 03:03] ry commented on #4244
So basically something like https://github.com/denoland/deno_website2 but written in Deno?

I agree this would great to have. I don't know about all of these features (GraphQL sounds like a bit much) but certainly we should have a program in std that can serve up a directory of code that deno can link to.

[2020-03-05 03:08] crabmusket commented on #4244
I wouldn't imagine Deno should have a built-in production-ready server (e.g. with HTTP2 push). But it should absolutely have something like `go docs` which serves cached dependencies. Super useful for devving on a train with a spotty connection.

That said, I'd love the Deno module server (which currently runs https://deno.land/x) to be written in Deno and have more awesome features.

[2020-03-05 04:15] KSXGitHub commented on #4244
I listed all these features because I think Deno was to be a swiss army knife for JavaScript developers (since it has so many features already).

Another reason is that it is better that Deno sets up a standard (with clear specs) about how Deno libraries should be served for everything else.

It may be a bit more complex than simple REST API, but I think it fits a module registry. For example: I s

[2020-03-05 04:19] KSXGitHub commented on #4244
@crabmusket

I came from my desire to rewrite the Internet in Rust /jk

But actually, I think it would be nice if library server can provide compatible fallbacks for older browsers, that of course must include WASM too.

[2020-03-05 05:07] KSXGitHub commented on #4222
@ry

I would consider plugin as an extension of Deno itself (rather than another module to be import), and as such, should have the same privilege as Deno. Decision the use plugin should be end-users' responsibility, not library makers'. Plugins should have their own `--allow-*` flags as well.

I have no idea what plugin should do in the mind of everyone here. But I can imagine a database plugin t

[2020-03-05 07:31] KSXGitHub opened #4256 "Request: Separate console functions from Standard Output"
## Rationale

In the web browser, [console](https://developer.mozilla.org/en-US/docs/Web/API/Console) was always meant to be a developer's debugging tool, not a way to show output to the end user. [(more on this)](https://github.com/denoland/deno/issues/4256#issuecomment-596092949)

## Benefits

* Allow developer to separate debugging logs from stdout.
* Allow console functions to emit additional

[2020-03-05 08:16] bartOssh commented on #4191
Is it possible that I can work on it ?

[2020-03-05 09:17] KSXGitHub opened #4257 "Request: alert, confirm, prompt, and their async counterpart"
## Rationale

The browser already provides `window.alert`, `window.confirm`, `window.prompt`. I think it would be nice if Deno supports them too.

## Implementation

* `window.alert` simply prints text to stdout and wait for user to press any key.
* `window.confirm` asks a yes/no question, waits to for user to respond either "y", "yes", "n", or "no".
* `window.prompt` asks user to enter a string.

[2020-03-05 12:17] Nautigsam opened #4260 "Integration test _055_import_wasm_via_network fails"
On master, this test fails with the following output:

[code]

[2020-03-05 12:24] timonson opened #4261 "NO_COLOR=true is working only partially"
Since the last changes, the effects of setting `NO_COLOR` to `true` have stopped working in `vim`. I don't know if this is exclusively happening in vim, but I know that setting the variable to `true`  *oppressed* the colors until a couple of days ago.

Redirecting the `deno` output to a vim *buffer* now includes the *escape* sequences like the following example shows:

![deno_NO_COLOR-2020-03-05](

[2020-03-05 12:29] keroxp opened #4262 "test_raw_tty hangs"
<img width="701" alt="スクリーンショット 2020-03-05 21 21 49" src="https://user-images.githubusercontent.com/927286/75981218-6456e100-5f27-11ea-8605-aeb5acda4e38.png">

**Env:**
- macOS 10.15
- iTerm2, Terminal
- zsh

[2020-03-05 12:42] Nautigsam opened #4263 "JS tests fail on master"
When I run `cargo test js_unit_tests` on master, some tests are failing:
[code]
I still don't get how we declare which tests will run for each permissions combination.

[2020-03-05 12:44] bartlomieju commented on #4263
@Nautigsam are you running on Windows? If so there's #4060.

Checkout `cli/js/tests/README.md` in https://github.com/denoland/deno/pull/4250

[2020-03-05 12:48] Nautigsam commented on #4263
@bartlomieju No I run on Linux. Thanks for the documentation.

[2020-03-05 13:20] keroxp commented on #3137
I researched which op needs allow-env privilege and found that some ops actually don't touch any environment variables:

|  op  |  touch envars?  | method |
| ---- | ---- |  ---- |
|  op_get_dir  |  o  | dirs::xxx_dir()  |
|  op_exec_path  |  x | current_exe |
| op_set_env | o | env::set_var |
| op_env | o | env::vars() |
| op_get_env | o|  env::var(args.key) |
| op_loadavg | x | sys_info::loadavg

[2020-03-05 13:36] #4220 closed

[2020-03-05 13:40] keroxp commented on #3137
RFC is here:

### Permission separation
| ops | privilege |
| ---- | ---- |
| `op_get_dir`, `op_exec_path`, `op_loadavg`, `op_hostname`, `op_os_release` |  `--allow-sys` |
| `op_env` , `op_get_env` , `op_set_env` |  `--allow-env` |

### syntax for `--allow-env`

| syntax | desc|
| ---- | ---- |
| `--allow-env=DENO_DIR` | Single |
|`--allow-env=DENO_DIR,DENO_INSTALL` | Multiple |
|`--allow-env=DENO

[2020-03-05 14:48] keroxp commented on #3324
I agree with @ry and @brandonkal.  And the real problem is that there are no way to apply configuration  for each remote  modules that depend on.  There are incompatibility between strict code and "sloppy" code (for each other. Some valid code in strict may be invalid in non-strict mode). Custom `tsconfig.json` doesn't provide custom strictness to users. This means there are no choice to write "sl

[2020-03-05 14:49] geoFlux commented on #4247
This is a hard error to look into. I've tried to reproduce it on my local machine, but I can't get it to error out no matter how many times I run it. I'm even running it on a mac, which is what is showing as failing here.

[2020-03-05 15:03] ry commented on #4247
@geoFlux I will look into it today. I can reproduce it reliably.

[2020-03-05 15:32] nayeemrmn commented on #4260
Which platform? WSL by any chance?

[2020-03-05 16:53] keroxp opened #4267 "when importing d.ts file, it should have a better error message"
- Deno: v0.35.0

`.d.ts` file can't be compiled when it is  executed from CLI.

[code]

Import without declaration cause same error.

**some.ts**

[code]
[code]

With declaration, no error.

[code]

[2020-03-05 16:55] ry commented on #4257
Sounds reasonable...

[2020-03-05 17:03] jsouto18 commented on #4261
[0m seem to be the ANSI reset sequence. I believe I've found the cause for this issue and will create a PR so solve this. @timonson thanks for the detail in the report 😄!

[2020-03-05 17:17] Ciantic commented on #3324
Really? What is that code you write in strict mode which is not usable in non-strict mode?

However the reverse is true: non-strict code is not usable in strict mode. This is the reason DT defaults to having more flags turned on.

If the deno defaults to non-strict mode the libraries start to gather non-strict code and you can never use those libarries with strict mode.

[2020-03-05 17:57] keroxp commented on #3324
@Ciantic

https://github.com/keroxp/deno-redis/issues/50

Summary is here:
[code]

With `strict:false` tsconfig.json
[code]

I don't what happened clearly. It seems that `if` statement was wrong but no error shown in strict mode.

[2020-03-05 18:03] Ciantic commented on #3324
@keroxp that has nothing to do with noImplicitAny, I pasted your code here:

https://www.typescriptlang.org/play/#code/KYDwDg9gTgLgBDAnmYcBCBXANgawErADO28AvHITFAJYB2A5nAD5wa0AmwAZncOwNwAoUJFgJkqAu2qE8AQwDuBMFkRxSguMzgBtAESU5MDIT0AaClTr0Aupu366MYPWBRzcWhgC2AIzd2Wiz6vtg4Hpi4BMRYMIEOenJQUHKIHnK0iDo28cF6blDQHgCiydA2QoJcbADGMNQQtHApSsAqiAAUAJQAXHBSMvKt7XAA3vZQwMZQTSFhHnqTMTB6dgC+glW19Y1wrjCR+EQkHQBuclh

[2020-03-05 18:21] Nautigsam commented on #4260
@nayeemrmn Plain old Linux (Ubuntu 19.10)

[2020-03-05 21:16] somombo commented on #2473
Ah someone checkoff "#2934 referencing d.ts files" in OP as that issue has already bean resolved

[2020-03-05 22:08] kitsonk commented on #3324
It is, according to the TypeScript core team, it is the correct way of programming.  I've talked to them personally.  Just like `"use strict";` pragma in ECMAScript doesn't mean that strict mode isn't the ideal way of programming JavaScript, it was implemented to keep backwards compatibility and correct things that were actually regrets.

It is true that some strict code will break in sloppy mode.

[2020-03-05 22:25] kitsonk commented on #4267
This is expected behaviour.  There is no code to run in a `.d.ts` file, so telling Deno to run a `.d.ts` file makes no sense.  A `.d.ts` file describes what is in a JS file, and you would need to reference the `.d.ts` file in an appropriate fashion: https://deno.land/std/manual.md#using-external-type-definitions

Doing a namespace import, you are referencing types in that file, bringing them into

[2020-03-05 23:24] Nautigsam commented on #4263
Okay that's my bad. The test was trying to bind `udp/4500` and I did not notice strongswan was already bound to this port. That's default port for NAT-traversal IPSec.

[2020-03-05 23:31] brandonkal commented on #3137
I like the proposed `--allow-env` syntax but I am not sure about separating `op_hostname`. In many environments it is also available on the `HOSTNAME` environment variable.

[2020-03-05 23:34] #4263 closed

[2020-03-06 00:36] dubiousjim commented on #4017
The complete sequence can be found at [this branch](https://github.com/dubiousjim/deno/commits/filesystem7); but I can only push the PRs into this repository gradually, as some of them need to wait upon others being merged into master first.

[2020-03-06 01:01] #4204 closed

[2020-03-06 05:40] FredKSchott commented on #4184
okay, the CDN now returns types on lookup URLs as well as resource URLs! I'm seeing expected behavior again using Pika CDN with v0.35.0.

@kitsonk can we add tests for this sort of setup to keep things working in future releases? How do you feel about remote integration tests that test against our CDN directly?

[2020-03-06 05:58] kitsonk commented on #4184
I'm fine with that, though I would want @ry's opinion.  The only thought is that we might want a set of "3rd party integration" tests that won't break the build and are only advisory in the build, versus breaking the build.

I can certainly model what we are talking about here in the integration tests though to catch any regressions.  There were whole classes of stuff I broke with trying to get us

[2020-03-06 06:12] FredKSchott commented on #4184
np! If modeling locally is possible, then that sounds just as good to me

[2020-03-06 10:23] clemens-tolboom commented on #4047
FWIW in did install 0.35 manually first which in a way was nice to know and helped versions test.

- grab the release from https://github.com/denoland/deno/releases
- Download the .gz or .zip
- Unpack and rename (I made it `deno`)
- Move it into your shell bin path (I have `~/lib/deno-0.35/deno` which was linked from `~/bin/deno`)

[2020-03-06 11:46] Nautigsam commented on #4260
Apparently there is an error fetching the file `055_import_wasm_via_network.wasm`. Here is the full output:
[code]

[2020-03-06 13:48] #4261 closed

[2020-03-06 15:45] ry commented on #4260
I can't repeat this failure. What OS are you on?

Is it possible your local repo has an old checkout? Have you looked at #3856 ?

[2020-03-06 16:25] Nautigsam commented on #4260
@ry This is specifically the wasm file introduced in #3856 that causes troubles:
[code]

[2020-03-06 16:31] #4260 closed

[2020-03-06 16:31] ry commented on #4260
@Nautigsam Thanks - I've merged your PR.

[2020-03-06 16:44] ry commented on #4267
`No such file or directory (os error 2)` is maybe not the right error message, but I agree with @kitsonk... what would you expect this to do?

[2020-03-06 16:48] ry commented on #4191
@bartOssh go for it

[2020-03-06 16:49] ry commented on #4222
@KSXGitHub We can't enforce permissions for native code. Once you load a .so file, all security promises are gone.

[2020-03-06 16:51] keroxp commented on #4267
I know there are few use cases for that situation. I just feel it's strange that valid typescript file can't be imported. I think running `.d.ts` file should show error message before compiling or emit empty js file.

I met this situation on #4197 . I tried to apply `JSX` namespace in jsx file by just importing `.d.ts` file. Eventually namespace import resolved the problem but `tsc` in Node.js acc

[2020-03-06 16:58] ry commented on #4267
I agree that it needs a better error message.

Maybe you can provide some fake sample output of what you'd expect to happen and then it will be easier for us to implement it.

[2020-03-06 17:06] KSXGitHub commented on #4222
@ry Indeed, that's why I said

What I meant is that plugins should have their own security flags the same way Deno have.

[2020-03-06 18:31] ry commented on #4222
@KSXGitHub but what use are security flags if the code is untrusted?

[2020-03-06 21:46] KSXGitHub commented on #4222
@ry Security flags not because I don't trust the plugin, but because I don't trust third party code using said plugin. Just like I trust Deno, but not the random code I wish Deno to execute.

[2020-03-06 22:04] kitsonk commented on #4267
I had an additional thought about the:

[code]

This is the signal to the TS compiler to not drop the module from the emit because it has runtime side effects. This is theb not removing it from the emit, which is what occurs when it is a named import (because TypeScript realises it is types only and can be dropped). Deno then comes along, being told to load a file that didn't get emitted from the

[2020-03-07 02:24] KSXGitHub opened #4275 "Idea: Deno Workspace"
## Rationale

* We want a way to easily manage dependencies:
  * We want `import` lines to be shorter, so we need import-map, but we don't want to write them by hand.
  * We want to easily update our dependency versions without manually search-and-replace.
* We want to easily grant permissions to scripts:
  * `--allow-all` is convenient, but risky.
  * `--allow-foo --allow-bar --allow-baz ...` is

[2020-03-07 02:47] hayd commented on #4275
For updating dependencies in a deps.ts or importmap.json see a script I put together:
https://github.com/hayd/deno-udd
(it's working but a little noisy/not interactive atm)

The good thing about deno-workspace idea is you can write it as a third party lib... so I think the first thing to do is to do just that: write a proof of concept... if it works well it's _possible_ it could be brought into de

[2020-03-07 03:09] KSXGitHub commented on #4275
@hayd There are several limitations with your script:
* It replies on parsing of TypeScript.
* It must extract version range from a URL, which might be error-prone.
* It can only support a limited types of URL.
* And of course, it's magical.

[2020-03-07 04:17] hayd commented on #4275
It's actually even worse, it doesn't parse it just uses regex.
Similar to your outline it explicitly defines registries and their versioning scheme... so it could do something like that with custom registries.

The main difference is it's active update, without interfering with deno resolution i.e. rather than relying on npm install (or bundle or whatever) to resolve what to download.

It's way to

[2020-03-07 04:47] KSXGitHub commented on #4275
What do you mean by this? That you don't need to re-run `npm install`? Well, you may perceive generating import-map as `npm install`, but the different is generation of import-map is enough for script to run (Deno would automatically fetch missing dependencies)

[2020-03-07 05:13] hayd commented on #4275
This is aside from your proposal / this issue...

It's best practice to use deps.ts for that very reason. If deps.ts includes all the dependencies your project needs i.e. all external imports are defined there,  then (after `fetch deps.ts`) there are no missing dependencies to fetch.
However udd supports updating multiple files and running tests to ensure it can/does download and run the updated d

[2020-03-07 05:24] KSXGitHub commented on #4275
@hayd I see. So `deps.ts` is just import-map with extra steps? Anyway, I think the choice of whether to use exact version rather than a range should be up to the user (if the registry allows it).

Regarding `deps.ts`, I would prefer import-map more: To use `deps.ts` is to execute every single dependencies listed even ones you don't use.

[2020-03-07 10:44] IllusionPerdu commented on #4275
@KSXGitHub  I have a question : Why add dependencies if you don't use it ?

[2020-03-07 10:49] KSXGitHub commented on #4275
I do not always make one file. If different files rely on different set of dependencies, then some are ought to be unused.

[2020-03-07 11:04] bartlomieju commented on #4262
I'm experiencing the same issue

CC @kevinkassimo

[2020-03-07 11:07] aduh95 commented on #4078
I am not able to reproduce on v0.35.0, it looks like #4040 fixed it. Closing for now, feel free to reopen if I am missing something.

[2020-03-07 11:07] #4078 closed

[2020-03-07 12:20] #4059 closed

[2020-03-07 13:20] hazae41 commented on #4256
### console.log === printf

In a GUI app, you can see debugs in the terminal.
In a CLI app, stdout/stderr are used to display all information.

Browsers are like GUI apps, the main infos are on the web page, but if you want additional debug, you open the logs.

Thus, console.log is the equivalent of printf for JS.

As Deno should not make assumptions on the way it's used (as a GUI app or as a CLI

[2020-03-07 14:16] KSXGitHub commented on #4256
@hazae41 `console.log` and `printf` are not equivalent concept.

For browsers, main information is not DevTools console, but the webpage. Its equivalent to `printf` is `document.write`, not `console.log`.

For GUI apps, main information is not in stdout/stderr, but in the GUI itself, `console.log` in such environment does not change GUI output.

Indeed. For CLI commands, stdio can be used as pipel

[2020-03-07 14:30] hazae41 commented on #4256
That's exactly what I said

[2020-03-07 14:33] KSXGitHub commented on #4256
Nope. Your conclusion is "Thus, console.log is the equivalent of printf for JS". My conclusion is that `console.log` is NOT `printf`.

[2020-03-07 15:09] keroxp commented on #3137
I've understood that`sys_info::hostname()` is just wrapper of `gethostname` systemcall. No value was assigned to `$HOSTNAME` in my machine (macOS). Does it get value from envar?

[2020-03-07 16:11] hazae41 commented on #4256
It is, because console.log behaviour in browser is the same as printf behaviour in GUI apps.

[2020-03-07 19:09] sunsetkookaburra commented on #4203
I don't see implementing the file formats such as XML as being an issue, there are already parsers for TOML and YAML so adding XML to std would be reasonable.
Things such as FTP and SMTP are a possibility, but extra work to maintain. SMTP does however appear in go's standard library, which would seem to make it more of a candidate.

As for databases, these are quite specialised and officially incl

[2020-03-07 19:45] nayeemrmn commented on #4256
We _are_ using it as a developer's debugging tool. The person using Deno and seeing its output is not the end user but a developer. The end user is the person, say, consuming a web service running on Deno. Your comparison between denoland and the web is very flawed. Like @hazae41 has been trying to say:

| | Web | Deno
-|-|-
**Debug output** | `console.log` | `console.log`
**End user output** | DO

[2020-03-07 19:59] hazae41 commented on #4256
We should make another issue for redirecting stdout/stderr

[2020-03-07 21:59] cknight opened #4277 "[Discussion] Decide on reading directory API for 1.0 release"
**Background**

#4225 renamed `readDir()` to `readdir()` to fit more with the familiar Unix naming convention which has also been widely adopted by other runtimes and libraries.  `readdir`, as implemented by most other runtimes/libraries, will read directory entries one at a time.  Each call to `readdir` returns a new entry until null is returned when the list is exhausted.

`Deno.readdir()` on th

[2020-03-07 22:10] dubiousjim commented on #4277
I'm pro us introducing an iterable implementation, and also pro it's taking over the ’readdir’ name. Don't have a view about whether the current implementation should also be retained, and if so how it should be named.

[2020-03-07 22:16] nayeemrmn commented on #4277
I would hate having both, if we have the generator implementation we shouldn't need the other... the problem is that JS doesn't have an easy way of "collecting" an async iterable (i.e. an async spread operator). However, it most likely will in the future so we should be careful nevertheless.

[2020-03-07 22:21] brandonkal commented on #3137
@keroxp Interesting.
I've always had a $HOSTNAME on my macOS machines (now 10.13.6).
[code]
And on Ubuntu
[code]
Same for Ubuntu boxes.
I just checked and it is not in any of my personal bash profile files.

[2020-03-07 22:50] cknight commented on #4277
Another possible option to consider is to move the current implementation to `std`.  Then, the Deno API would have the iterable option (as it's only option) and the `std` library would have the "give me everything at once" option.

[2020-03-07 22:52] cknight commented on #4277
Oh, just remembered yet another option to highlight.  Go's [readdir](https://golang.org/pkg/os/#File.Readdir) implementation takes an integer argument which defines how many entries to return at once.  Give it `-1` and it returns everything in one go, hence combining the two into one.

[2020-03-07 22:55] dubiousjim commented on #4277
Current implementation is in Rust. std/ looks to be TypeScript-only.

[2020-03-07 23:07] cknight commented on #4277
Yes.  The idea for a `std` implementation would be to simply have a function to iterate the Deno API `readdir` and build an array to return which would replicate what we currently have in the Deno API.

[2020-03-08 00:28] KSXGitHub commented on #4256
@nayeemrmn

What about the person using Deno CLI/TUI apps? Web/GUI apps can have logging, but not CLI/TUI?

So you consider stdout not being valid choice of output? Your double standard is against countless CLI/TUI apps out there.

1. One of [Deno's goal](https://deno.land/std/manual.md#goals) is to be as "Browser compatible" as possible.

2. The more similarity between production and development

[2020-03-08 00:29] KSXGitHub commented on #4256
It is not necessary for now.

[2020-03-08 01:47] nayeemrmn commented on #4256
In general, but we're talking about an API for writing to stdout which also exists on the web (even if its purpose there isn't the same in your opinion). There isn't a good enough reason to stray in this case. The use of `console.log` won't break any web code.

They can, they just can no longer use `console.log` for it because the console is their primary interface -- at least if they want to keep

[2020-03-08 02:10] KSXGitHub commented on #4256
The web doesn't have stdout. DevTools console is not stdout (server might have, but its stdout is invisible to the end user, so it's not either). Thus, `console.log` is not stdout.

Your reason is sound. Perhaps instead of ignoring `console.log` by default, we can still print `console.log` to stdout but with additional information such as line of code from whence it came. For example, `console.log

[2020-03-08 02:31] nayeemrmn commented on #4256
Yes, the point is that in browsers uncaught errors and `console.log` output are written to the same place.

It doesn't, but for _practical_ reasons (like no silent failure) the console output is a better equivalent than the DOM.

That's a huge step back and a lot more reasonable. But we still lose the simple and predictable println behaviour and have to re-add it as a non-portable API, for what pr

[2020-03-08 04:42] KSXGitHub opened #4280 "Request: Change how module URLs from deno.land/std/ encode versions to reduce complexity in module provider server"
When I was thinking about https://github.com/denoland/deno/issues/4244, I also think about how such a server should extract module version from a URL.

## Flaws in the current approach

The current approach is to use `deno.land/std@version/...` syntax. A code sample that extracts version would look something like this:

[code]

## New, simpler syntax

I suggest we should split module name and vers

[2020-03-08 04:46] KSXGitHub commented on #4280
@ry Please respond as soon as possible. I am intending on creating a tool that generate JavaScript code and documentation (to be used in https://github.com/denoland/deno/issues/4244), I want to know whether should I keep this issue in mind.

[2020-03-08 04:50] sunsetkookaburra commented on #4280
here's my two cents:
`name@version/`: presents a view of the library at a point in time
`name/version/`: presents the idea of multiple versions being maintained at once
I think keeping with the @ is fine (and preferable) and probably is less of a hassle to parse, especially in the case where just the name on its own translates to name/latest.

[2020-03-08 05:01] KSXGitHub commented on #4280
@sunsetkookaburra

Everyone understands the meaning of software versioning, this should not be an issue.

On the other hand, not only does the parsing of `name@version` more complicated, but its directory structure is less organized:

**`name@version`:**

[code]

**`name/version`:**

[code]

[2020-03-08 05:36] kevinkassimo commented on #4262
I suspect there is some race condition with that test. I'll see if I can get a fix of it by next week. Is this a zsh only problem, or also occurs under bash?

[2020-03-08 06:20] sunsetkookaburra commented on #4280
@KSXGitHub

It definitely is that way from a conventional end-user-based file-system point of view; the tricky part here is in the way web servers work.

Logically, a website is organised into folders, just like your documents folder for example. Much the same as how it is in your documents folder, it is much neater to keep all versions of a project inside a single folder. A program such as a file

[2020-03-08 06:51] KSXGitHub commented on #4280
@sunsetkookaburra

Thanks for your long lesson but I think you mistake my intention: I did not intend to rule how a module provider should organize their files. As mention in https://github.com/denoland/deno/issues/4280#issuecomment-596166409, I am intending on creating a generator/server with `/std` in mind, so I want to ask Ryan whether he is OK with changing the way files are organized.

[2020-03-08 10:03] GerbenRampaart opened #4281 "opinionated web framework"
I feel deno must not only have a web server but also a web framework.

The reason for this is that I think the main purpose of deno apps will disproportionately be apis. I feel it’s detrimental to the user experience of a new deno user when they must immediately search the internet for a web framework import for the main purpose of deno. Being a nodejs developer I always felt this was an omission

[2020-03-08 10:23] panov-andy commented on #4281
This is the best candidate: https://mol.js.org/. Please look at it seriously.

[2020-03-08 10:33] keroxp commented on #4262
@kevinkassimo  Yes, always. `cargo test test_raw_tty` works for both.

[2020-03-08 10:48] nin-jin commented on #4281
I think Deno API should be isomorphic as more as possible. NodeJS API is very different with Web API and it's annoying.

[2020-03-08 11:10] GerbenRampaart commented on #4281
I disagree. ‘As isomorphic as possible’ really means ’as isomorphic as practical’. Not including a base library at all and let users do everything themselves with the runtime is super-isomorphic and incredible unpractical. There is always some degree of opinionation but a framework just needs to decide on the abstraction.

And that’s my point: a simple web framework is an opinion deno is allowed t

[2020-03-08 13:16] bartlomieju commented on #4262
Happened in CI as well:
https://github.com/denoland/deno/runs/493335175

[2020-03-08 15:41] ry commented on #4281
Your concerns are valid and if we had some opinions on web frameworks we might adopt them, but to a large extent Deno is focused on much lower level problems.

I’m not against adding high level functionality to std but someone would need to argue and implement them.

Closing since this isn’t actionable for us.

[2020-03-08 15:41] #4281 closed

[2020-03-08 15:48] ry commented on #4277
moving to an iteratator API is ideal. The only reason it isn’t that way currently was to add some functionality quickly early on in Deno’s development.

[2020-03-08 16:09] keroxp opened #4284 "Process hangs after Listener closed"
At first, this is very complicated situation.

### Problem occurred

- Server process (with Deno.listen()) won't exit even after `listener.close()` called.
- There are no active resources except rid=0-2

### Code

These are very simple request-response type TCP server and client.

**server.ts**
[code]

**client.ts**
[code]

### Logs

**server.ts**
[code]

**client.ts**
[code]

### Guess

Some asyn

[2020-03-08 16:14] bartlomieju commented on #4284
Most likely the same cause as in #3390

[2020-03-08 18:26] ahuigo opened #4291 "[Discussion]What's the best version manager for deno package?"
It seems that deno has no version manager by far.
We could inject the version into our project code:

        import mod from 'mod/v0.1.1/main.ts';

It's painful as we have to write version everywhere. if we want to upgrade our package, replace the  version is painful too.

So, what's the best version manager  for deno package?

1. **yarn's PnP solution**: bind version with module, and use a resol

[2020-03-08 18:33] nayeemrmn commented on #4291
Read the bottom section in https://deno.land/std/manual.md#linking-to-third-party-code.

[2020-03-08 18:48] eliassjogreen commented on #4275
I made [dimp](https://github.com/eliassjogreen/dimp) a month ago for easier management of imports in import map but the problem is that import maps don't work for installing etc.

[2020-03-08 19:50] hayd commented on #4291
A tool for updating versioned urls: https://github.com/hayd/deno-udd
But agree that using deps.ts makes things easier.

[2020-03-08 19:58] jakajancar opened #4292 "media_types API is not good"
The media_types API employs too much magic leading to unexpected behavior:

[code]

Also, the naming, while understandable for someone who knows the implementation (e.g. how the database is keyed), is a bit confusing for a newcomer:
  - `lookup()`? Aren't they all lookups of some type or another?
  - `lookup()` returns a (non-full?) "content type", which you pass to `contentType()` and it returns

[2020-03-08 20:14] jsouto18 commented on #4284
This happens because the poll_read is stuck on Poll::Pending. This task needs to be woken on StreamResource drop else it will hang forever.

[2020-03-08 21:04] kitsonk commented on #4292
It was a port of https://github.com/jshttp/mime-types which is the defacto standard.  The interfaces as they stand align well to sort of functions needed when creating a web server, as things like charset, translating both directions, etc.  The API serve the minimal purpose of performing those functions, returning what is just needed and aligning to the behaviour a server would need.

While your s

[2020-03-08 22:07] jakajancar commented on #4292
If the API is locked down and README is all that can be fixed, then the most important thing to clarify in the docs is that while `lookup()` accepts extensions, filenames and paths, `contentType()` (and probably others) only accept extensions and filenames, but not paths, and passing in a path will return it.

[2020-03-08 22:38] ecyrbe commented on #3802
@ry did you have time to investigate ?

[2020-03-08 23:20] ry commented on #3802
@ecyrbe I haven't really, but systemstat seems quite reasonable. It has CI for windows unlike sys_info ([which has been broken on windows for the last two releases](https://github.com/FillZpp/sys-info-rs/issues/50)). If anyone felt inclined to switch us from sys-info to systemstat, that would be welcome.

I haven't checked if systemstat actually does all the things that sys-info does tho.

[2020-03-08 23:33] ry commented on #4292
Can we add another module which implements this better API as @jakajancar suggests and leave a legacy module?
[code]
^-- I didn't realize.. That is terrible.

[2020-03-09 00:04] crabmusket commented on #4222
@KSXGitHub you're saying untrusted code could use a trusted plugin if the plugin promised to obey certain security features? That does make a lot of sense. For my use-case, I am trusting my sqlite plugin to only be able to perform operations on Sqlite databases - and I could even lock that down to only in-memory databases. So I'd be fine passing that plugin to any random piece of code from the net

[2020-03-09 01:52] Mayowa-Ojo opened #4295 "issue with camelcase use in fs api"
I get the following error when trying to use the exists and existsSync methods:

`error TS2551: Property 'readdirSync' does not exist on type 'typeof Deno'. Did you mean 'readDirSync'?`

Error points to the following file and other instances:
[code]
is this supposed to be camel-cased?

[2020-03-09 07:27] cknight commented on #4295
There was a recent API change in Deno which renamed `readDir` to `readdir`.  While the lack of camelcase can be confusing this was an intentional change to match most other platform/runtimes API of reading a directory.  This change is on the master branch of code but not yet released. At a guess, you may want to link to this instead:
[code]
Assuming, of course, that you are using the latest releas

[2020-03-09 07:58] #4291 closed

[2020-03-09 08:44] zhmushan opened #4297 ""import type" raises "error: TS7006""
deno version: v0.35.0

Minimal recurrence:
[code]
If we use tsc(v3.8.2), no error will be raised.

[2020-03-09 08:46] zhmushan commented on #4297
err msg:
[code]

[2020-03-09 13:26] Soremwar opened #4298 "[Discussion] Best way to provide JavaScript builds with Deno"
**Deno version:** 0.35.0

**Trying to compile a `.js` file results in `Uncaught Error: Unexpected skip of the emit.`**

Attempting the following
`./app.js`
[code]

`./compile_app.js`
[code]

Results in:

![imagen](https://user-images.githubusercontent.com/42647963/76215285-70b79400-61dc-11ea-9951-59f2a7017a13.png)

Quite probably because the resulting filename matches the original filename, howeve

[2020-03-09 13:29] timreichen opened #4299 "Discussion: Sync methods obsolete?"
I wonder if Deno needs the ...Sync methods since

[code]
is the same use as
[code]

[2020-03-09 13:29] KSXGitHub commented on #4275
By "installing", you mean `deno install` does not have an `--importmap` flag like `fetch` and `run`? That won't be a problem with Deno Workspace because it compiles to JavaScript whose URLs is resolved according to importmap.

[2020-03-09 13:33] eliassjogreen commented on #4275
Yeah

[2020-03-09 13:35] KSXGitHub commented on #4275
Now I see one advantage `deps.ts` has over import maps: Import maps can only be used in development environment.

[2020-03-09 14:12] bartlomieju commented on #4298
CC @kitsonk

[2020-03-09 14:12] KSXGitHub opened #4300 "JavaScript equivalent of `deno info`?"
`deno info` command can be used to print all dependencies of a module to terminal, but I want to use it in JavaScript/TypeScript code. It would be nice to have a function (let's say `Deno.info()`) that returns an object with these information.

[2020-03-09 14:15] bartlomieju commented on #4300
Duplicate of #2096

[2020-03-09 14:20] ry commented on #4297
Same error with TS 3.8.3 ... what is the expected output?

[2020-03-09 14:22] #4300 closed

[2020-03-09 14:24] KSXGitHub commented on #2096
Why must it be nested? I think a shallow array/table would be simpler to analyze in most use cases.

[2020-03-09 14:36] ry commented on #4299
Yes it still needs it. This has to do with how syscalls are issued - synchronous FS syscalls should be issued from the main thread - if you do `await readFile` they will be dispatched to another thread, which is suboptimal for some programs.

[2020-03-09 14:36] #4299 closed

[2020-03-09 14:43] zhmushan commented on #4297
TS 3.8.3 threw this error? I only got this error when executing `deno main.ts`, and no error was raised when using `tsc` in strict mode.

[2020-03-09 14:49] ry commented on #4297
Yes, I've done the upgrade in https://github.com/denoland/deno/pull/4301 (should be merged shortly)

[2020-03-09 15:01] zhmushan commented on #4297
I don't seem to express myself clearly. What I want to say is that if I execute the file using `deno`, I will receive an error message, but I will not get an error when compiling with `tsc` (Whether its version is 3.8.2 or 3.8.3)

WITH TSC:
[code]
[code]
output:
[code]

WITH DENO:
[code]
[code]
output:
[code]

[2020-03-09 15:05] KSXGitHub commented on #2096
@hayd So you reacted with a "confused" emoji, I will assume that you actually meant it (BTW, you should just ask, since GitHub does not notify me of emoji).

A nested array is hard to traverse, a nested object is even more so (for object lacks array methods). Using nested object/array would force every code that uses `Deno.deps` to use a complex recursive algorithm.

A shallow array/object is like

[2020-03-09 15:22] KSXGitHub commented on #2096
Out of curiosity, how many places [this struct](https://github.com/denoland/deno/blob/960ee5257a7b38c6b3b59a3dca670c7c1771996f/cli/modules.rs#L188-L193) had been used?

[2020-03-09 16:12] jakajancar opened #4303 "Is untrusted code execution a goal of the project?"
The manual reads like it is, and there is `--allow-read` and such, but then there's https://github.com/denoland/deno/issues/3401, which makes me think.

Also, the entire process uses a single v8 isolate, so I guess a separate `deno` process would have to be launched? And then stdout/stderr parsed to get errors etc.?

## Context

I'm [currently](https://github.com/jakajancar/eval-the-evil) executin

[2020-03-09 16:14] Mayowa-Ojo commented on #4295
resolved. Thanks for your time

[2020-03-09 16:14] #4295 closed

[2020-03-09 16:52] hayd commented on #2096
For my usecase it'll be useful to have access to just the top level deps i.e. not the nested stuff.

It seems reasonable to configure the output with options e.g. flatten (so users don't need to reproduce the flattening code)... Or perhaps Deps helper functions could be added to std...

An alternative is Deps be a class and define an iteration method over all deps. That has the benefit of being mo

[2020-03-09 17:31] ry commented on #4284
Assigning to @piscisaureus just to keep track of this. We've discussed this in some detail and came to the conclusion that this will require some work to fix.
First thing is we need a smaller test that involves just listen, accept, read.

[2020-03-09 18:09] jakajancar opened #4304 "http server sample has no concurrency"
The [example](https://deno.land/std/http/):

[code]

... means that when inserting some non-trivial code, e.g.:

[code]

... the server will handle just 1 request concurrently.

Being unfamiliar with "for await" and going with the example as a starting point, this just bit me.

Wouldn't it make sense to have as an example something that scales reasonably?

[2020-03-09 18:19] ry commented on #4304
I also tripped up on this initially - but the semantics of `for await` are clear once you learn them. Don't call `await` in a server loop.

[2020-03-09 18:19] #4304 closed

[2020-03-09 18:25] jakajancar commented on #4304
What is a proper, elegant way, to achieve something like this:

[code]

There is `listenAndServe()`, but that doesn't return a handle to `Server` to be able to close it (e.g. on SIGINT).

[2020-03-09 18:30] jakajancar commented on #4304
Short of:

[code]

🤮

[2020-03-09 18:41] ry commented on #4304
Hmm it shouldn't be necessary to explicitly handle SIGINT. Could you open an issue for that?

[2020-03-09 18:46] jakajancar commented on #4304
I'll double-check and if it's not a problem with something on my side, open it.

But either way, I'd just like to be able to start the server, get a handle that allows me to close it, and have some concurrency. E.g. for use in end-to-end tests.

[2020-03-09 19:27] kigiri commented on #4304
[code]
If you don't want to `await` you can use `.then` directly as it's non blocking no ?

[2020-03-09 20:07] kitsonk commented on #4298
We are ignoring an error in the TypeScript compiler which is protecting possibly overwriting the source, which we do all the time in the internal of Deno.  I am not totally sure it is an error, though we need to surface up what is there, because even if `Deno.compile()` doesn't physically write out files, the logic I think is sound.

What happens when you set `out` to some other path?

[2020-03-09 20:11] kitsonk commented on #4292
One could argue that `contentType` is really internal and should be exported, since it is `lookup()` that orchestrates the more granular APIs (and uses `contentType` internally), but it was exported in the original module.

[2020-03-09 20:15] kitsonk commented on #4299
And all await resolve at the end of turn, at best.  Not only is it suboptimal, but it can cause some unwanted side effects.

[2020-03-09 20:20] kitsonk commented on #4297
We may not be handling `import type` correct... I need to check.  @zhmushan what do you get with `deno -L debug main.ts`?

[2020-03-09 21:07] jakajancar commented on #4304
Ah, doh, that's obvious.

[2020-03-09 21:35] dubiousjim opened #4306 "Functionality missing on Windows: should it throw or noop?"
The codebase isn't consistent about what happens when requesting functionality on Windows that isn't yet (or can't be) implemented there.

- chown -- currently throws
- chmod -- currently noop
- symlink -- currently throws
- kill(pid, signal) -- currently noop
- mkdir with non-default mode -- currently noop

Some functionality that I've pushed or have queued to push is also undecided:

- umask(mas

[2020-03-09 21:46] Soremwar commented on #4298
`out` makes the program implode. Setting `outDir` however solves the problem at certaing extent.

`.js` files won't fail. But naming two files the same with JS and TS extension keeps being a problem. However I don't see a solution that doesn't involve changing `Deno.compile` behavior.

[2020-03-09 21:51] kitsonk commented on #4280
`deno.land/std` is a redirect server. We don't structure versions. The server simply resolves to the `@something` to a gittable reference. If someone wanted to create a server that resolved a path to a version, it would require no changes to Deno or the `deno.land` website to do so.

What `deno.land/std` supports is working fine and doesn't require any changes in my opinion.

[2020-03-09 21:58] brandonkal commented on #3137
On my other point about, `Deno.dir('home')`. It is very easy to determine HOME just by looking at:
- import.meta.url
- Deno.build.os
So it is odd having this one behind a permission flag at all.

[2020-03-09 22:03] kitsonk commented on #4298
`something.js` and `something.ts` in the same path is always a bad idea. The Deno runtime sort of allows it, but the is no way of disambiguating the output of a compile.

So I don't think this is a bug in functionality, but needs better error messages instead of the obscure emit skipped.

[2020-03-09 22:17] kitsonk commented on #4306
For anything in the `Deno` namespace, I think it should throw.  Ideally it would be a consistent error type, if we don't have it already like `Deno.errors.OsUnsupported` or something like that.

For things in `std`... I think it "depends"... Obviously for things in `std/node` it should behave like Node.js does.  For other things, I think it really depends upon the API and the use case.  Failing so

[2020-03-09 22:35] kitsonk opened #4307 "Migrate from prettier to dprint for internal formatting"
Currently we use the Rust parts of [dprint](https://docs.rs/dprint/0.1.0-alpha/dprint/) to power `deno fmt`, but we utilise [prettier](https://prettier.io/) for formatting as part of our toolchain.

Is suspect this means we would need to create a standalone minimalistic binary that wraps dprint to do the file system bindings.

cc/ @dsherret

[2020-03-09 22:43] kitsonk commented on #4298
Writing it down while it is on my mind.  Currently we squash a whole set of errors from the TypeScript compiler that cover over things that aren't relevant in the Deno runtime, but `Deno.compile()` and `Deno.bundle()` is really targeted at generating code that would work in _other_ runtimes, so we shouldn't just hide those issues away.  So we need two different sets of errors that we squash and al

[2020-03-09 22:47] dsherret commented on #4307
Yes, creating a small binary would be your best option for now.

By the way, I tried using dprint on the internal deno code last night then opened up around 20 minor issues on the dprint issue tracker. There are also a few parsing issues I also need to still open in swc. Overall works well, but I will be working on fixing those.

[2020-03-09 23:09] rektide commented on #2987
How much of this discussion is still relevant & interesting now that https://github.com/denoland/deno/pull/3372 has landed? How much of native plugins was implemented alike or as per these ideas? Which parts of this issue are n/a with the native plugins we have?

[2020-03-09 23:22] Soremwar commented on #4298
Not sure about a different set of errors, but definitely more clearer ones.

It might be the moment to discuss something that's been bugging me for a while. Renaming `Deno.compile` to fit something more closer to it's real behavior.

[2020-03-09 23:27] kevinkassimo commented on #2987
@rektide I think that implementation mostly follows what was discussed here. Built-in ops are now registered in similar ways (with 0 reserved to retrieve other op name to id mapping), and external ops still cannot access CLI state directly yet.

[2020-03-09 23:43] Soremwar commented on #4275
@KSXGitHub It should work only on development

If you want to distribute your code you must transpile and bundle (eventually compile) it first

[2020-03-09 23:46] ry commented on #4307
Yes I'm for it - I think dprint is almost working - I think we should hold off for another release or so. (At least we should be able to format cli/js without getting a panic.)

Maybe this could be done in a special dprint crate in tools/dprint/ ? Ideally the config would be done in that crate and then imported in the CLI so we don't have duplicate configuration or deps that get out of sync.

[2020-03-09 23:55] bartlomieju commented on #4307
`deno fmt` can be factored out to a separate crate; we could just move definition of Clap app and `cli/fmt.rs`. Similarly to `cli` it could have both `lib.rs` and `main.rs` so it can be consumed as Deno subcommand as well as standalone shell to format internal code.

[2020-03-10 00:00] zhmushan commented on #4297
@kitsonk
[code]

[2020-03-10 00:06] Skillz4Killz commented on #4277
Just want to add a note here that the `std/fs/walk.ts` is broken because of the different naming formats.

[2020-03-10 00:08] nayeemrmn commented on #4277
@Skillz4Killz You're linking to std @ master, are you using `deno` at master?

[2020-03-10 00:35] KSXGitHub commented on #2096
I think just having access to top level deps is good enough. User can always call `Deno.deps` again to get more.

It might be tempting to expose functionality that Rust code already have, but that would add another burden of backward compatibility on Deno core, making it hard to change in the future. Top level deps only is enough.

[2020-03-10 00:45] KSXGitHub commented on #4275
That was what Deno Workspace intended for.

Compile, yes, but bundle, not necessary. Deno Workspace can be used to generate a module repository, which can be used by other Deno developers.

[2020-03-10 01:27] nayeemrmn commented on #4275
See https://github.com/denoland/deno/issues/2584#issuecomment-550394902, "boilerplate" referring to config/workspace files. In general the goal is to achieve things like this as userland conventions represented in code.

That said, it seems like the suggested workflow here is to write a library accompanied with a workspace file allowing you to use abbreviated import specifiers for dependencies  --

[2020-03-10 01:38] ccheng commented on #1805
I'd really appreciate having a synchronous version like johnsonjo4531 suggested.  I'll just put that out there. :)

Curious if there's any interest in having a synchronous version of BufReader?  To enable a synchronous implementation of readLine?

[2020-03-10 02:12] kitsonk commented on #4297
Hmmm... Ok, nothing obvious. Thanks. Investigating.

[2020-03-10 02:14] kitsonk commented on #4298
Like what?

[2020-03-10 02:22] Soremwar commented on #4298
Deno.transpile

If compilation through Deno becomes a feature inside the program a rename would be necessary, to not mention the fact that this is not compiling at all

Also, `Deno.transpileOnly` seems to me like an over simplified version of `Deno.compile` which could be achieved through TS config. Am I wrong?

[2020-03-10 02:34] ry commented on #1805
Yes having a synchronous version would be useful. It seems to me like it would unfortunately require a lot of duplicated code...

[2020-03-10 02:52] kitsonk commented on #4298
Transpile, to me, means to convert from one syntax to another. `Deno.compile()` and `Deno.bundle()` do type checking and resolution, before it does a transpile. So to me it is less representative to name it `.transpile()`.

`Deno.transpileOnly()` only erases the types and transform syntax, similar to how Babel handles TypeScript. You can't use compiler options to mimic it. In fact there is a reque

[2020-03-10 03:05] Soremwar commented on #4298
In the most traditional meaning of the word, a compile process realizes both transpiling and bundling to deliver one single target(binary or not)

Deno compile doesn't really works by itself currently since it can't erase references to other modules in the spirit of not breaking anything. And Deno bundle doesn't make any real sintax transpilation other than converting module references to embedded

[2020-03-10 03:07] nayeemrmn commented on #4298
Is there a sensible way to merge them both into `Deno.transpile()` and opt in to type checking and resolving as options? (Or are they too fundamentally different?)

[2020-03-10 03:11] Soremwar commented on #4298
I see no use case on Bundling without specyfing a target runtime.

Thumbs up for unification.

[2020-03-10 03:18] kitsonk commented on #4298
So is `tsc` a compiler, or not?  In its normal configuration it takes input files, type checks them and outputs them.  It does can be configured to output to a single file, but it does not create something that stands alone.

`Deno.transpileOnly()` uses a totally different TypeScript compiler API than `Deno.compile()`/`Deno.bundle()` does.  `Deno.bundle()` is not only a default configuration of `D

[2020-03-10 03:21] kitsonk commented on #4298
My biggest concern about combining `Deno.compile()` and `Deno.bundle()` would be that the return types are dramatically different.  The output filename of `Deno.bundle()` makes 0 sense in that context, while as with `Deno.compile()` the output file name(s) are meaningful.  Also, it is more consistent with `deno run` and `deno bundle`.  Alignment to the concept in the command line is important.

[2020-03-10 03:46] Soremwar commented on #4298
I do consider that Deno.compile provides more value than just resources to work on top of Deno.bundle, however Deno.bundle seems to have no place when we are talking about compilation, since it should be achieved in the same step or simply skipped if the target is not a single file.

Consistency is important, but oversimplify the operations behind this commands only diminishes the worth they might

[2020-03-10 03:58] Soremwar commented on #4298
You gotta forgive my ignorance in this matter. I don't know if TypeScript compiler is the one producing the final standalone build or which parts is Deno playing with to allow us to do so.

[2020-03-10 07:08] kitsonk commented on #4298
So a bit of clarity what happens...  First some terminology:

- Deno compiler, a specific "private" worker which contains the TypeScript compiler, implements a "compiler host" which gives the TypeScript compiler access to the "outside world" as well as some other things that we do to make things work that aren't implemented in Rust.
- TypeScript compiler, in particular an implementation of the com

[2020-03-10 16:44] bartlomieju commented on #3162
`-q/--quiet` flag was added in 62f4a2a788a46af88e47472738d1a98fa247b9b0

[2020-03-10 16:44] #3162 closed

[2020-03-10 17:16] trevordmiller commented on #1880
I would suggest having the linting setup include preventing errors out of the box; perhaps extending `eslint:recommended`, something like:

[code]

[2020-03-10 17:53] Soremwar commented on #4298
If merging the API's is such a hassle then probably we shouldn't do that, but rather provide a simplified version (maybe named differently and treat `compile`, `bundle` and `transpileOnly` as low level APIs) that uses them to accomplish this same goal.

[2020-03-10 17:57] Soremwar commented on #4298
In the meanwhile, some problems regarding the `compiler` should be addressed. Like not being able to use import-maps to make remote code work. That renders compilation only being able to reach the application and not the modules it depends on.

[2020-03-10 21:56] JoulesZapata opened #4313 "Possible .d.ts compiler hint issue"
==========  index.ts ==========

@deno-types="./types.d.ts"

import { getName } from './human.ts';

const name = getName({
    name: 'Ryan Dahl',
    age: 39
})

console.log(name)

========== human.ts ==========

//@deno-types="./types.d.ts"

export const getName = (human: Human) : string => {
    return human.name
}

========== types.d.ts ==========

type Human = {
    name: string,
    age: numb

[2020-03-10 22:05] nayeemrmn commented on #4313
Not sure how `tsc` works, but the way `.d.ts` files are used here is you put the `// @deno-types="abc.d.ts"` above an import for the module `abc.js`.

https://deno.land/std/manual.md#compiler-hint

cc @kitsonk

[2020-03-10 22:08] JoulesZapata commented on #4313
@nayeemrmn Wouldn't that be what I have in index.ts? And also, how it would use the types inside the file that abc.ts file, does it automatically take care of that? because that's not working either

[2020-03-10 22:14] kitsonk commented on #4313
The compiler hint of `// @deno-types` is only intended for informing the compiler that there is a `.d.ts` file to use for type checking _instead_ of a JavaScript file for the next import statement.  It isn't designed to be used to just reference `.d.ts` files.

Everything in Deno is modular, with dependencies very clear.  There are obtuse ways to utilise ambient declarations in Deno (non-modular `

[2020-03-10 23:30] JoulesZapata commented on #4313
@kitsonk that's what I have been doing, and I guess there is nothing wrong with that, but is it not still a bug?

[2020-03-11 01:23] dsherret commented on #4307
I've created a milestone so progress can be tracked on this:

https://github.com/dsherret/dprint/milestone/2

I went through and checked for anymore debug panics and erroneous syntax errors, but I didn't find any.

As I fix these and reduce the noise from number of changes I'll keep opening issues, but let me know if you see anything else that should be fixed. I'll report back once it's done.

[2020-03-11 01:27] dsherret commented on #4307
By the way, here's a list of configuration you might want to change to more align with prettier:

[code]

I'll update that list as I remember more.

[2020-03-11 02:25] kitsonk commented on #4313
No, you are mis-using the syntax.

[code]

Says to the compiler, instead of using the next import of a module (which should be a JavaScript file) in type checking, use `./types.d.ts` instead.  That is not what you wanted at all.  Like I said, there are obscure ways to do what you were trying to do, but I am not going to tell you how to do them, because it is a bad idea, and not something we want t

[2020-03-11 03:28] ry commented on #4307
@dsherret Thanks (updated in https://github.com/denoland/deno/pull/4314). It would be cool to have a configuration method like `.prettier(true)` to default as closely as possible to prettier.

[2020-03-11 03:39] dsherret commented on #4307
@ry I was thinking about that earlier today too. Opened https://github.com/dsherret/dprint/issues/147 just now (I was also thinking perhaps `.deno(true)` could be another possibility)

[2020-03-11 06:59] #4313 closed

[2020-03-11 06:59] JoulesZapata commented on #4313
Not a bug

[2020-03-11 10:02] kitsonk commented on #4297
I think we needed to change some code, but those changes seem not to work because of microsoft/TypeScript#37338.  So we need to see what is going on there, but for now, sadly, `import type` doesn't work in Deno.

[2020-03-11 20:59] bartlomieju commented on #4248
With all of above PRs landed I deem this issue can be closed. Next step would be to actually factor out ops into separate crates/modules.

[2020-03-11 20:59] #4248 closed

[2020-03-11 23:07] sobrinho opened #4321 "Server example of deno.land is not working"
Installed via homebrew and tried the complex example:

[code]

[2020-03-11 23:12] IllusionPerdu commented on #4321
i think you can update you import "https://deno.land/std@v0.30.0/*.*" with "https://deno.land/std@v0.35.0/*.*"

[2020-03-11 23:55] kitsonk commented on #4297
Confirmed as a bug in TypeScript.  Likely won't be fixed until TypeScript 3.9 though.

Workaround for now it to not use `import type` and instead just use `import`.  There are very few cases where this should cause problems.

[2020-03-12 00:23] ry commented on #4321
Thanks for the notice - fixed in https://github.com/denoland/deno_website2/pull/267

[2020-03-12 00:23] #4321 closed

[2020-03-12 03:55] brandonkal commented on #2584
Regarding the syntax proposed by @ry in https://github.com/denoland/deno/issues/2584#issuecomment-550473018

That looks a lot like [Jake](https://jakejs.com/docs-page.html#item-overview-jakefiles). Would a Deno port of that make sense in std?

[2020-03-12 04:06] brandonkal opened #4323 "Slow TypeScript compile time"
Is work being done to improve the compile time? It takes several seconds on every minor change to recompile one file. This slows down the inner loop. Ideally I'd like to see single-file compile time closer to <=200ms.

[2020-03-12 04:34] iAmNathanJ commented on #3861
FWIW I have a (rough) task runner I've been working on that somewhat resembles the patterns being suggested here. Might be of interest. https://github.com/iAmNathanJ/devo

[2020-03-12 07:05] kitsonk commented on #4323
I thought we had an issue, but I can't find it.  This is tracked though as one of the [key benchmarks](https://deno.land/benchmarks.html) of Deno.  We have done several changes to improve it, including semi-recently warming the compiler with an old program and including it as part of the snapshot.  That increased performance about 30%.  Prior to that, we made dependency resolution async, and we di

[2020-03-12 08:15] brandonkal commented on #4323
It is good to hear this is being worked on.

According to the graphs, cold relative import is sitting at around 500ms. That's not representative of the slow compile times I am seeing.

I'm currently developing on a 16 cpu 8 GB VM. VSCode eats about 70% of the RAM and the processor is nearly always idle so I don't believe it is for lack of compute power.

By single file I mean I am only making chan

[2020-03-12 08:46] kitsonk commented on #4323
Whenever you change one file, TypeScript fetches and loads all the dependencies, so it can type check it.  The AST is not serializable (see microsoft/TypeScript#33502), so it is difficult to "cache" the parsing of non changed files.  There is buildinfo, but I don't know if it would really buy us anything more than the old program does.  `tsc` has a watch mode, and there are incremental builds, but

[2020-03-12 09:08] kitsonk opened #4324 "security: disallow __proto__ / freeze builtins"
A recent [blog post](https://hueniverse.com/square-brackets-are-the-enemy-ff5b9fd8a3e8?gi=ea61e882387c) discusses the evils of property access using `foo[bar]` notation, where `bar` comes from somewhere else opens up an attack vector to compromise code.

The root of the "evil" though is access `__proto__`.  A co-worker (@camjackson) pointed out to me that Node.js issue discussing it (nodejs/node#3

[2020-03-12 09:34] dubiousjim commented on #4306
@ry preferred for open with non-default mode and mkdir with non-default mode to just silently ignore the mode; but made umask(mask) throw. I guess the underlying pattern is: there's something for `open` and `mkdir` still to do, they just ignore the keyword argument. Whereas `umask` has nothing to do on Windows in the current implementation, and would have to ignore a positional argument: `umask()`

[2020-03-12 10:52] phil294 commented on #2339
@hazae41 It seems however, that your pull request only implements the async iteratior solution. What is the motivation behind not adding the event listeners?

If I need to listen for two different signals repeatedly, the code might look something like this:

[code]
Specially in single file scripts, I think classical event handlers would make more sense:
[code]
I understand that Deno tries to avoid

[2020-03-12 10:59] bartlomieju commented on #4284
Fixed in #4293

[2020-03-12 10:59] #4284 closed

[2020-03-12 11:14] bartlomieju commented on #3557
@ry, @piscisaureus and I discussed this issue at length and decided that structured clone is not gonna make it to 1.0.

We need to update docs accordingly as well as `postMessage()` method to try and discover if passed value can be JSON-stringified (eg. posting `Map` will give garbage in parent worker). Also `postMessage()` should throw is second argument is passed (`transfer` used to transfer typ

[2020-03-12 11:17] bartlomieju opened #4325 "docs: write docs for Web APIs"
Deno strives to be browser compatible where possible; that means we use quite a few Web APIs.

There is not much docs for supported Web APIs at the moment and before 1.0 is released that situation must change. Some of APIs and not fully aligned to spec, while others are not fully implemented (#3557). All that knowledge should be written down and presented to end users to avoid multiple questions/b

[2020-03-12 11:23] bartlomieju opened #4326 "cleanup: remove docstrings from cli/js/ directory"
`cli/js/` directory holds all of internal runtime code. Due to the way we ship the code, we ended up with situation where some of the docstrings are duplicated in declaration files (`lib.deno.ns.d.ts`, et al) as well as implementation files. It's mundane and error-prone to synchronise them manually so until we bring back auto-generation of declaration files docstrings should be removed from implem

[2020-03-12 11:24] kitsonk commented on #4325
The manual is getting a bit heavy/complex.  Should we identify first a structure of documents/pages that we would want to cover. [lib.deno.shared_globals.d.ts](https://github.com/denoland/deno/blob/master/cli/js/lib.deno.shared_globals.d.ts) and [lib.deno.window.d.ts](https://github.com/denoland/deno/blob/master/cli/js/lib.deno.window.d.ts) provide available Web APIs that are not part of ECMAScrip

[2020-03-12 11:26] bartlomieju commented on #4325
I strongly agree on manual, but I'd prefer to get ball rolling on this subject. We're definitely gonna put more effort into restructuring docs after API freeze in the end of April. For now I think it's fine to extend manual.

[2020-03-12 11:27] kitsonk commented on #4326
Our future selves are going to hate us, but it is a valid point.  I guess when we restore it, we should find a way to move the comments back.

[2020-03-12 11:30] bartlomieju commented on #4187
I'm marking as a "good first issue" because it can be solved without building Deno from sources.
One can substitute this line to use downloaded deno binary:
https://github.com/denoland/deno/blob/3ed6ccc905394ed9c5d9cbcb8fa2426151780788/tools/benchmark.py#L238-L240

[2020-03-12 11:31] crowlKats opened #4327 "Using FormData in body of Fetch API is not implemented"
Using a `FormData` object in the `body` parameter of the Fetch API will fail with:
[code]
code to reproduce:
[code]

[2020-03-12 11:33] bartlomieju commented on #3974
Makes sense, this will require changes to `cli/js/lib.deno.shared_global.d.ts`. A test case presenting those types are exposed is highly desired

[2020-03-12 12:52] kt3k commented on #2339
@phil294
I didn't add event handler interface because we prefer to keep the core as simple as possible.
You can convert async iterator to event handler like the below:
[code]

We also have std/signal standard module ( https://github.com/denoland/deno/blob/master/std/signal/mod.ts ). It might be a good idea to suggest the addition of the above to std.

[2020-03-12 13:56] aduh95 commented on #4080
FYI the issue still reproduces on Deno 0.36.0.

@bartlomieju can you elaborate on that? The code snippet doesn't use any non-standard API, it's just plain JS... Am I missing something?

[2020-03-12 14:15] bartlomieju commented on #4080
@aduh95 I can't run code without a changes in Chrome, because it doesn't support top-level-await
[code]

[2020-03-12 14:21] ry commented on #3861
I think this is something that is better developed outside of std for now (like @iAmNathanJ has done) - since it's experimenting with new patterns. I can imagine this developing into a pattern that many people use and it then making sense to merge into std, but we have finite bandwidth to maintain std and I'd rather focus that on stuff we know we need.

So maybe a good idea - but not something I w

[2020-03-12 14:21] #3861 closed

[2020-03-12 14:30] ry commented on #4323
Ultimately I hope we can use SWC instead of the official TS compiler - this will offer massive exe size and perf improvements. @kdy1 has a very interesting WIP branch here https://github.com/kdy1/swc/tree/ts-checker but it's obvious we won't be able to replace TSC with SWC any time soon.

For the foreseeable future, there may be some yet undiscovered bugs in our interface to TSC that could help th

[2020-03-12 14:37] aduh95 commented on #4080
@bartlomieju  oh right, like I said in https://github.com/denoland/deno/issues/4080#issuecomment-590005297, wrapping in an async function is necessary:

[code]

[2020-03-12 14:37] ry commented on #4324
Thanks for bringing this up - I didn't know about any of this.

How would we disable __proto__ ?

Frozen intrinsics by default sounds good to me as long as it doesn't effect our benchmarks.

[2020-03-12 14:49] LinusU commented on #4324
From what I understand we just need to add the following line to run as soon as v8 starts:

[code]