[2021-12-09 13:40] kt3k commented on #12999
Yeah, exactly. Let's track on that issue

I feel IPC features are widely used in npm ecosystem. So I think we need somehow to support it until v0

[2021-12-09 13:46] kt3k commented on #13026
I didn't know this syntax is possible until I saw the above error..

BTW std now dropped the usage of this syntax. So this issue isn't urgent from std's perspective now. https://github.com/denoland/deno_std/pull/1694

[2021-12-09 14:02] jsejcksn commented on #12763
@crowlKats When you said

by "unrealistic" did you mean "inconvenient"? My impression is that most software which executes with more than a few flags either builds them using a script or hardcodes them into a script.

Adding additional CLI flags from options actually sounds useful (as no extra filesystem i/o in the form of reading/writing a config would need to happen in dynamic execution).

[2021-12-09 14:17] jrylan commented on #12763
I like the proposal a lot as well, I do think however that there should be at least the option of strict security of the configuration file. It opens up a security risk to read permissions from a configuration file that could be modified by a third-party source.

Say you rely on a third-party module from `deno.land`, the module gets hacked, a new release is published and you update to it without c

[2021-12-09 14:23] dsherret commented on #13026
Given:

[code]

Swc:

[code]

TypeScript:

[code]

I'll fix this.

[2021-12-09 15:19] panva commented on #11690
@SeanWykes nice. In case you want to run the full suite of jose tests under Deno using the latest release, this is how you might do that.

[code]

At the moment, with deno 1.16.4, the results look like this: `test result: FAILED. 73 passed; 73 failed`

[2021-12-09 15:40] VishnuJin commented on #12224
I'd like to work on this issue, could you please assign it to me !!

[2021-12-09 15:42] bartlomieju commented on #12224
@VishnuJin great, let me know if you have any questions.

[2021-12-09 15:47] WenheLI commented on #13019
Mine OS is MacOS. And the error is there for most of the time.

[2021-12-09 16:13] kt3k commented on #13019
hmm we don't observe flakiness on those test cases in CI. So I think it's specific to your environment though I don't see the reason at the moment..

[2021-12-09 16:34] dsherret commented on #13026
Opened https://github.com/swc-project/swc/pull/3000

[2021-12-09 18:38] lucacasonato opened #13032 "Web Crypto: missing check in `importKey`"
There is a missing check in `crypto.subtle.importKey` when using the `spki` or `pkcs8` format for the `RSA-PSS` and `RSA-OAEP` algorithms. The missing check is this one:

See https://w3c.github.io/webcrypto/#rsa-pss-operations and https://w3c.github.io/webcrypto/#rsa-oaep-operations.

[2021-12-09 18:52] oles commented on #11690
@panva success over at https://github.com/denoland/deno/pull/13013 with both key import and signing!

Thank you for the pointers and the library, and thank you @SeanWykes for your work on this - let me know if there's something more you'd like for me to test or help out with :+1:

[2021-12-09 19:15] teleclimber opened #13033 "HTTP server on unix socket errors on close, unlike tcp equivalent"
This is a followup of #8272. The server on unix socket no longer hangs, but it does throw an error. The "tcp" version does not behave like this.

Ideally unix domain socket servers would not throw an error on close.

Here is a complete sample that illustrates the difference: comment/uncomment the different listeners to observe the difference. Note you need to pass a socket file location as an argu

[2021-12-09 19:44] VishnuJin commented on #12542
hey guys,
 I'd like to work on this, would be great if you could  provide some hints for implementation !!

[2021-12-09 19:57] bartlomieju commented on #12542
@VishnuJin cool, here's a rough plan of what needs to be done:

Changes to `cli/flags.rs`:
- extract definition of `unsafely-ignore-certificate-errors` into a helper function `unsafely_ignore_ceritifcate_errors_arg`
- use this function in `permission_args()` and `repl_subcommand()`
- extract parsing of `unsafely-ignore-certificate-errors` in `permissions_args_parse()` to `unsafely_ignore_certifica

[2021-12-09 22:03] kitsonk commented on #13019
I'm on MacOS and run the CI locally quite often and haven't noticed those failures.

[2021-12-09 22:20] #12565 closed

[2021-12-09 22:32] dsherret opened #13035 "File watcher race condition where `Modify` event occurs and file contents are empty when being read"
I was looking into the watch tests and a source of their flakiness is actually a race condition in the file watcher itself.

Basically the following events occur:

1. The deno process is listening for file watching events in `/tmp/.tmpb7vuus`
1. Another process writes to `/tmp/.tmpb7vuus/badly_formatted.js`
1. A `Modify(Data(Any))` event occurs in the file watcher for `/tmp/.tmpb7vuus/badly_format

[2021-12-09 22:50] WenheLI commented on #13019
Hummm. I think it is related with #13035 .
I will run into error when trigger `integration::watcher::lint_watch_without_args_test`.
And this will be resolved when I run cargo clean.

[2021-12-09 22:59] dsherret commented on #13019
@WenheLI yeah, it happens to me almost every time when I run the test on its own in WSL. I think it's because our debouncer doesn't actually debounce (or I'm misunderstanding it... code seems overly complex), which would mitigate the issue if it did. I will open a PR soon.

[2021-12-10 00:03] dsherret opened #13039 "testDecryptWithInvalidIntializationVector is flaky"
[code]

https://github.com/denoland/deno/runs/4477695251?check_suite_focus=true
https://github.com/denoland/deno/runs/4477823370?check_suite_focus=true

[2021-12-10 01:24] #13035 closed, assigned to dsherret

[2021-12-10 01:27] dsherret commented on #13019
Let's close this now that #13038 is merged and #13040 is about to be. It should be better now.

[2021-12-10 01:27] #13019 closed

[2021-12-10 01:30] dsherret commented on #10948
I think we can close this. It should be much better now that #13038 is merged.

[2021-12-10 03:22] crowlKats opened #13041 "Proposal: `Deno.spawnDeno`"
Relies on #11618.

This proposal proposes a function that would allow to spawn a "sandboxed" deno subprocess. This function would not require the `allow-run` function. Permissions would work the same way as they do for WebWorkers.

[code]

Currently, with this set of options, the permissions can be escalated beyond what the parent process has access to with `Deno.permissions.request`, so i propose

[2021-12-10 05:20] caspervonb commented on #13041
SGTM!

Had plenty of cases in the wild where this would be useful.
For example: std/wasi's integration can make use of this.

[2021-12-10 09:31] rabbitkiller-dev commented on #12086
deno run -A mod.js
[code]

![image](https://user-images.githubusercontent.com/28952169/145551046-0bfec7b3-ee4d-42d5-b82d-47e9c51c34df.png)

[code]

[2021-12-10 10:37] kitsonk commented on #12086
@rabbitkiller-dev the fix is not in 1.16.4.  You need to either use the canary release or wait until 1.17.0 next week.  We close issues when the fix is merged into main, not when it becomes part of a release.

[2021-12-10 10:47] #13039 closed

[2021-12-10 11:35] phifa opened #13042 "Linting in VS Code not working - still using default TypeScript language server?"
I set up a simple deno project with only this file. But the linting is messed up. It looks like the default TypeScript language server is still parsing this file, even though I have installed the extension.

[code]

My workspace settings:

[code]

<img width="759" alt="Bildschirmfoto 2021-12-10 um 11 33 20" src="https://user-images.githubusercontent.com/3061129/145567980-1a5095fb-2ad2-4b51-905d-1e

[2021-12-10 12:19] kt3k commented on #10825
closed by #12548

Now you can access `localStorage` without specifying `--location`. ref: https://deno.land/manual@v1.16.4/runtime/web_storage_api

[2021-12-10 12:19] #10825 closed

[2021-12-10 12:21] jsejcksn commented on #5242
@bxff @mathiasrw @skariel There are other mechanisms for network access besides [`fetch`](https://doc.deno.land/deno/stable/~/fetch) (e.g. [`Deno.connect`](https://doc.deno.land/deno/stable/~/Deno.connect)). If you would just like to restrict `fetch`, you can [proxy](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Proxy) it.

[2021-12-10 12:28] VishnuJin commented on #12542
@kghenderson could you give this PR #13045  a try to see if the issue is resolved

[2021-12-10 14:47] #12542 closed

[2021-12-10 15:21] audrow commented on #11286
@dsherret, I believe that I'm having the same problem, I get ordering errors when bundling a small project. Here is the project: https://github.com/audrow/update-ros-pkg-versions.

I use Github Actions to bundle my project and put it in a build folder. You can see the bundled file here: https://raw.githubusercontent.com/audrow/update-ros-pkg-versions/deploy/build/update-ros-pkg-versions.js.

You c

[2021-12-10 16:22] tdillon opened #13048 "`deno bundle` misbehaving output"
I'm using Deno's bundle command to create a simple [Lit](https://github.com/lit/lit/) web app.  What I'm finding is the output of `deno bundle` for newer versions of Deno (anything after `1.4.6`) actually changes the behavior of Lit.  No errors are shown in the browser console, but the functionality appears to be broken.  I assume Deno's newer bundling is different somehow and generates different

[2021-12-10 20:08] VishnuJin opened #13050 "add output colors back to the CI workflow"
Is this a correct solution to #12224?

This also disabled the colors of various things in CI environment (e.g. test reporter, compiling messages don't have color in CI logs. In my view, those colors were valid thing..

_Originally posted by @kt3k in https://github.com/denoland/deno/issues/13031#issuecomment-991172663_

[2021-12-10 20:19] kitsonk commented on #13048
There was a significant update landed yesterday in main. Can you please try again with Deno canary? `deno upgrade --canary` or wait until next week for 1.17?

[2021-12-10 20:27] kitsonk commented on #13042
What is the output of _View | Output_ and then _Deno Language Server_ and the top section from _Deno: Language Server Status_ from the command palette.

[2021-12-10 21:24] bartlomieju commented on #12989
It's a bug in SWC, I'm working on a fix.

[2021-12-10 22:01] bartlomieju commented on #12989
Opened https://github.com/swc-project/swc/pull/3005

[2021-12-10 23:30] #12945 closed

[2021-12-10 23:35] #13026 closed

[2021-12-11 00:12] #10622 closed

[2021-12-11 15:15] bartlomieju commented on #12995
Actually I think this is not something that should happen automatically - if your application uses raw mode, then it should disable it on `unload` event. That event is already dispatched when the watcher restarts the process.

[code]

[2021-12-11 15:28] bartlomieju opened #13055 "Stabilize test steps API"
Nested testing steps API was added in v1.15: https://deno.com/blog/v1.15#nested-testing-api

We should consider stabilizing it for v1.18.

[2021-12-11 15:30] ebebbington commented on #13055
This would be great, i'm looking forward to using the new API

[2021-12-11 16:09] bartlomieju commented on #12197
For anyone interested in tackling this issue, here are some some pointers how to do it:

In `cli/flags.rs`:
- change `watch_arg()` function to accept values, and update the description that passing values has only effect on the `deno run` subcommand
- change `watch` field in `Flags` struct to accept `Option<Vec<PathBuf>>` instead of a `bool`
- in `run_parse` change parsing logic to create a vector

[2021-12-11 16:10] bartlomieju commented on #12224
This was reverted in https://github.com/denoland/deno/pull/13054.

[2021-12-11 16:19] dsherret commented on #12756
Perhaps #13041 would solve this use case?

[2021-12-11 16:20] bartlomieju commented on #12827
We've been using this approach for the past 2 weeks. I'm going to close this issue now.

[2021-12-11 16:20] #12827 closed

[2021-12-11 16:55] apowers313 opened #13057 "TCP setNoDelay not implemented"
[Redis uses `setNoDelay`](https://gist.github.com/apowers313/fb4723691e825e734261b7c14cd58081) which is currently [not implemented in Deno](https://deno.land/std@0.115.0/node/internal_binding/tcp_wrap.ts#L282). Any objections to fixing this? Looks like a simple matter of plumbing the call [from v8](https://github.com/nodejs/node/blob/1c4df352b77514e93a46fb27e996755d45a0b530/src/tcp_wrap.cc#L98) th

[2021-12-11 17:39] #12989 closed

[2021-12-11 18:03] andreubotella opened #13058 "Fetching certain HTTPS requests fails with "unexpected end of file""
[code]

[code]

This doesn't fail with every HTTPS request – https://wpt.live/resources/ works, for example – but it seems to be consistent when it does. It doesn't happen with HTTP at all.

This seems to have been introduced in the upgrade to rustls 0.20 in #12488.

[2021-12-11 18:15] eostermueller opened #13059 "Unexpected ts compiler error -- Expected ';', '}' or <eof>"
After executing this command:
`deno run main5.ts`

I get this compiler error:

[code]

....which comes from the code below, where I've appended comments for lines 16, 17, and 18.
I've got two questions here:
one:  I'm not intimately familiar with ts syntax, but still don't understand what's wrong with this.
two:  If this is a valid syntax error, could you improve the error message some how?  I fix

[2021-12-11 19:09] Im-Beast commented on #12995
I think it'd be better just like you say, especially when It'd be noted in docs

[2021-12-11 19:13] Im-Beast commented on #12995
Problem doing it like that is that doing actions on readers/writers are asynchronous and when they're already used somewhere else they throw error and don't disable raw mode.

[2021-12-11 20:19] jjallaire commented on #12885
Just wanted to note that we see this crash not just with a large YAML document but also with a process that reads a large number of smaller YAML documents. It looks like the bug has been triaged and assigned (@ Priority 2) upstream so hopefully this will be resolved reasonably soon.

[2021-12-11 20:48] kitsonk commented on #13059
You are running into an issue with ASI as well as invalid JS syntax and part of Deno isn't being helpful. I don't think the code as written though is what you want.

Consider this:

[code]

This is actually treated as two statement in the function block. Because of ASI the return value is undefined and the object literal is unreachable.

You also seem to have an extra `};` in there for some reason

[2021-12-11 21:27] phifa commented on #13042
[code]
@kitsonk

[2021-12-11 22:15] bartlomieju commented on #12995
I'm not sure what you mean here, can you provide a reproduction?

This is interesting, I'll try to replicate it; that said it's perfectly fine for `Deno.setRaw` to throw so you should call it in `try/catch` anyway.

[2021-12-11 22:50] Im-Beast commented on #12995
Reproduction:
[code]

I can't reproduce panicing with a simple example, however it happens on my larger project.

[2021-12-11 23:02] kitsonk commented on #13042
As well please.

[2021-12-11 23:12] bartlomieju commented on #12995
@Im-Beast thank you I will check it. If you could trigger the panic with `env RUST_BACKTRACE=full` and paste the output that would still be very useful.

[2021-12-11 23:17] Im-Beast commented on #12995
[code]
I hope It'll help, thank you for spending time on this wonderful project!

[2021-12-12 00:26] SeparateRecords commented on #12756
Once the proposal has been expanded a little to also allow running things like the formatter and linter, it will indeed solve my particular example! 😀

Just for clarity though, it doesn't resolve the core issue. Allowing `npx` and `npx run eslint` are very different in terms of their scope.

[2021-12-12 03:27] andreubotella commented on #13058
This is an upstream bug: rustls/hyper-rustls#162

[2021-12-12 09:53] shanmukhateja commented on #12998
Hi @Sembiance @lucacasonato I would like to take a shot at this.

Do we have a public list of replacement chars to use? I'd like to try the "replace invalid chars" approach.

[2021-12-12 10:21] skimhugo opened #13061 "deno bundle Uncaught ReferenceError in 1.16.4 and canary"
import { cac } from 'https://unpkg.com/cac/mod.ts';

const cli = cac();
cli.option('--type <type>', 'Choose a project type', {
  default: 'node',
});

const parsed = cli.parse();

console.log(parsed.options.type);
console.log(parsed.args);

cmd:

$ deno bundle main.ts bundle.ts
Check file:///main.ts
Bundle file:///main.ts
Emit "bundle.ts" (157.57KB)
$ deno run --no-check bundle.ts --type foo wow
e

[2021-12-12 11:59] lucacasonato commented on #13058
We may need to revert the rustls 0.20 update until we figure this out. The nature of the issue could result in problems outside of WPT.

[2021-12-12 14:42] andreubotella commented on #12998
Hi @shanmukhateja, and thank you for your interest, but unfortunately this isn't a simple issue of replacing characters from the JS side. The code that deals with interacting with the filesystem is Rust code, including the code that skips files with invalid filenames here. And changing it to not skip them would already be enough to replace those invalid bytes or code units with the replacement cha

[2021-12-12 16:04] bnoordhuis commented on #13057
I was under the impression we already had it so +1 from me. The corresponding call in Rust land is `tokio::net::TcpStream::set_nodelay()`.

[2021-12-12 16:07] bnoordhuis commented on #13024
Sounds like CF is sanitizing the HTTP request. I'm afraid that's not something we can help you with, try getting in touch with your CF account manager.

[2021-12-12 16:07] #13024 closed

[2021-12-12 16:11] bnoordhuis commented on #13061
Can you elaborate why you think that's a Deno bug? Was it working pre-1.16.4?

[2021-12-12 16:11] #12919 closed

[2021-12-12 16:25] nayeemrmn commented on #13061
@bnoordhuis It works without bundling, it's an swc bug cc @kdy1

[2021-12-12 18:04] JumpLink commented on #11595
If I reload the browser before the response from the server arrives I get the error too, how can I avoid it?

Example:
[code]

If I remove `await sleep(200);` it also happens when I hold down the F5 key of the browser so that many requests are generated in a short time.

[2021-12-12 19:53] CrimsonCodes0 opened #13063 "(likely upstream) Deno accepts syntatically erroneous code and gives a warning upon source mapping"
I'm not certain if this is an upstream bug with SWC or not, but it may very well be.

This syntactically invalid code,
[code]
is accepted by Deno 1.16.4
The error causes the message,
[code]
to also appear.

[2021-12-12 19:54] CrimsonCodes0 commented on #13063
Update: just checked, maybe this is https://github.com/swc-project/swc/issues/3013?

[2021-12-12 23:43] jespertheend commented on #12584
This seems to have regressed in e1144fd63569a79afc211d1f981029d67bf8f5ed

[2021-12-13 01:36] skimmilk6877 commented on #13061
@bnoordhuis It works without bundling, and it failed when bundle it. I tryed 1.16.4 and canary version.

[2021-12-13 09:44] askonomm commented on #12874
Yup, I've gone with a debounce method as a way for now.

[2021-12-13 09:58] ry commented on #12874
This is not a bug in Deno - we are just forwarding the events the operating system is issuing. It's up to the caller to debounce.

[2021-12-13 09:58] #12874 closed

[2021-12-13 10:23] phifa commented on #13042
Hey @kitsonk, sorry totally overread this.

Here it is:

[code]

## Workspace Details

  - <details><summary>Documents in memory: 1</summary>

    - file:///Users/phil/deno/index.ts

  </details>

  - <details><summary>Sources in memory: 3</summary>

    - https://deno.land/x/deno_cron@v1.0.0/cron.ts
    - https://deno.land/x/dotenv@v2.0.0/mod.ts
    - https://deno.land/x/dotenv@v2.0.0/util.ts

[2021-12-13 10:26] kitsonk commented on #13042
Ok, the only thing I can see here is that it is an insiders build, and that they _may_ have made a change in 1.64 that breaks vscode_deno's ability to suppress the messages from the built in language server.

[2021-12-13 10:47] ImranQ8546 opened #13067 "Deno Installation Error (v1.16.4) using Cargo on Ubuntu 21.10 (x86_64)"
As a root user in the ZSH shell, I attempt to install DENO using the following command at the prompt:

cargo install deno

Towards the end of the installation, the install crashes with the following output:

**error: failed to run custom build command for `deno_runtime v0.36.0`

Caused by:
  process didn't exit successfully: `/tmp/cargo-install9AwAn6/release/build/deno_runtime-9e0f6933c22daa4f/bui

[2021-12-13 10:54] lucacasonato commented on #13067
Use `cargo install deno --locked` as the instructions say: https://deno.land#installation.

[2021-12-13 10:54] #13067 closed

[2021-12-13 11:00] ImranQ8546 commented on #13067
Unfortunately, that results in the exact same error.

I have also tried the command:

cargo install-update -a

But both commands fail to install or upgrade deno.

The only thing that seems to work is:

deno upgrade

[2021-12-13 13:52] jrylan commented on #12874
@ry `Deno.watchFs` is already nearly perfect, would you consider just adding an a `debounceTimeout` type of option to that method call?

[2021-12-13 15:00] ihm-tswow commented on #13063
@CrimsonCodes0
It might not be, at least in my previous tests that issue did not affect multiline comments on a single line. See https://github.com/swc-project/swc/issues/2185#issuecomment-978209846

But you can try the newest version that should fix that issue

[2021-12-13 15:20] ry commented on #12874
@jrylan not to `watchFs` itself, but it would be nice to have something like chokidar in deno_std

[2021-12-13 15:35] #12969 closed

[2021-12-13 16:41] garypen commented on #13067
I've got a strange problem with 00_primordials.js as well. I don't think it's quite the same problem as yours, but if I try to create and run a `JsRuntime()` in my server process, then it works fine on my build machine. However, if I copy the binary elsewhere (say into a container), then it crashes with errors similar to (sanitized):
[code]
It looks like the runtime (runtime.rs:402) is trying to l

[2021-12-13 16:46] garypen commented on #13067
Ok. Thanks for the info. It looks like this used to work in older versions of deno-core (e.g.: 0.86) because we didn't trip over that problem before we upgraded our dependency to 0.110. Does that make sense?

[2021-12-13 16:53] lucacasonato commented on #13067
Yes, this was introduced recently.

[2021-12-13 17:16] JumpLink commented on #11595
Seems to be fixed in the new HTTP server API: https://github.com/denoland/deno_std/pull/1128

Example
[code]

[2021-12-13 18:04] teleclimber commented on #13033
I apologize for not providing the basics.

Deno 1.16.4. The error occurs on Linux and Mac. I haven't tested windows.

The error:

[code]

[2021-12-13 19:24] #10051 closed

[2021-12-13 20:08] bnoordhuis commented on #13033
Thanks, I was able to reproduce. Fix in #13075.

[2021-12-13 20:15] dsherret opened #13076 "`deno info` outputs path with escaped backslashes on Windows"
[code]

This is not so nice because if you copy and paste this, then you have to unescape it.

deno 1.16.4

For some reason we are using the debug format string:

https://github.com/denoland/deno/blob/a54fc7a1292b7da3ba1ccc1e6d6ab7ab5c750a36/cli/main.rs#L354

[2021-12-13 21:21] kitsonk opened #13077 "lsp: quick fix for JSON module imports"
Hopefully we will be landing JSON module imports soon.  It would be good to add some intelligence to the lsp around them.

If something like the following is in the code:

[code]

There should be a diagnostic about an unsupported media type, that should have a quick fix to convert them to:

[code]

[2021-12-13 23:47] phifa commented on #13042
let me know if I can test anything or help further.

[2021-12-14 00:01] dsherret commented on #13059
Yeah, this is how JavaScript behaves. To add to what Kitson said, it adds an implicit semi-colon after the `return`. So it treats that like:

[code]

You can see how the compiler parses that here: https://ts-ast-viewer.com/#code/GYVwdgxgLglg9mABFApgZygCgJSIN4BQixiATilCKUoSXYgIYBciATESQL4HcGiSwEydFly0S5StQ7Fx9Ri3Z1unIA

Perhaps https://github.com/denoland/deno_ast/issues/36 might help improving the

[2021-12-14 00:04] eostermueller commented on #13059
Great thanks for the education, you can close this.

On Mon, Dec 13, 2021 at 6:02 PM David Sherret ***@***.***>
wrote:

[2021-12-14 00:07] #13059 closed

[2021-12-14 00:18] kitsonk commented on #13042
Try using a non-insiders version (1.63) on your machine and see if it works?

[2021-12-14 11:53] jackfiszr commented on #13061
Exactly the same happens when running https://deno.land/x/denodb@v1.0.40/mod.ts bundled using deno 1.16.4+canary or 1.13.2 (which is pre-[12086](https://github.com/denoland/deno/issues/12086)).

[2021-12-14 16:44] AbmSourav opened #13082 "Deno Blog is not white listed in Facebook"
I'm not sure about, should I create this issue here...

I founded a Deno developers community in Facebook, [Deno Developers Bangladesh](https://www.facebook.com/groups/deno.devs.bd).
When I try to share Deno blog posts on our Facebook group, they give me the warning below.
Do you have any plan to fix this, or what is the way to fix this issue?

![Facebook's warning](https://user-images.githubuserc

[2021-12-14 16:49] lucacasonato commented on #13082
We are aware of this, and have reported it to Facebook on multiple occasions, but unfortunately have never gotten a response from them.

[2021-12-14 17:40] lucacasonato commented on #13082
I am going to close this, as there is unfortunately nothing actionable for us to do, other than to report it again.

[2021-12-14 17:40] #13082 closed

[2021-12-14 18:45] teleclimber opened #13084 "deno info --location=... returns wrong dirs for origin and local storage"
Deno 1.16.4 on Mac

Here is the output of deno info with --location on my machine:

[code]

However the directory `/Users/ollie/Library/Caches/deno/location_data/660f0e15ee76e6d1a40a30b56abccb8918f320572bc20bed7b403e0c4bc5e314/` does not exist.

I do have a few directories there:

[code]

The data appears to actually be stored under a different directory. If I write something specific to `localSto

[2021-12-14 20:27] jespertheend commented on #12197
I'd like to have a go at this if that's ok!

[2021-12-14 20:34] lucacasonato commented on #12197
@jespertheend Please do! If you need some more guidance, please hop into the #dev channel on Discord: https://discord.gg/deno

[2021-12-14 22:14] bartlomieju opened #13085 "Improve error message for wrong JSON imports"
[code]

The error message should suggest to add `assert {type: "json}` to the import statement.

For reference Chrome gives following message:
[code]

CC @kitsonk

[2021-12-14 22:16] bartlomieju commented on #13085
Similarly when trying to load a module with `assert {type: "json"}` and the MIME doesn't match Chrome errors with:
[code]

[2021-12-14 22:26] bnoordhuis opened #13086 "v2: change tcp/unix listener error types"
Context: https://github.com/denoland/deno/pull/13075

Summary: change "Listener has been closed" `Deno.errors.BadResource` error to `Deno.errors.Interrupted`.

[2021-12-14 22:27] #13033 closed

[2021-12-15 05:59] DjDeveloperr opened #13089 "ext/ffi: support alias names for symbol definitions"
**Suggestion**

An optional field `name` (symbol's name) to Foreign Function interface, which would default to the name of key in the function definitions in second parameter.

**Why**

- Allows making a blocking variant and a non-blocking variant of same symbol. Such as a `readFileSync` and `readFile`.
- Allows adding multiple overloads for same symbol. C functions can use varargs to do that. [ob

[2021-12-15 11:41] phifa commented on #13042
Same thing:

[code]

<img width="1380" alt="" src="https://user-images.githubusercontent.com/3061129/146180155-0d78f7b2-bed2-4ec9-ab3e-ccbc33a473c9.png">

[code]

## Workspace Details

  - <details><summary>Documents in memory: 0</summary>

    -

  </details>

  - <details><summary>Sources in memory: 3</summary>

    - https://deno.land/x/deno_cron@v1.0.0/cron.ts
    - https://deno.land/x/dotenv@

[2021-12-15 14:41] #12809 closed

[2021-12-15 14:45] DjDeveloperr commented on #12824
Implemented by https://github.com/denoland/deno/pull/12828

[2021-12-15 14:45] #12824 closed

[2021-12-15 14:46] DjDeveloperr commented on #12456
I think this can be closed now that https://github.com/denoland/deno/pull/12828 has landed

[2021-12-15 14:46] DjDeveloperr commented on #12752
Implemented by https://github.com/denoland/deno/pull/12828

[2021-12-15 14:46] #12752 closed

[2021-12-15 14:51] #12456 closed

[2021-12-15 16:06] lucacasonato commented on #11690
@panva JOSE test suite on current `main` branch: `test result: FAILED. 100 passed; 46 failed`.

ECDSA & ECDH imports / exports are coming very soon.

[2021-12-15 16:09] panva commented on #11690
@lucacasonato I was checking that yesterday, great progress! much props to yourself, @SeanWykes, @littledivy and anyone else participating in the effort.

I'd like to think the jose test suite is a good interoperability resource in addition to the web platform tests.

[2021-12-15 16:21] spaghetus commented on #13067
I'm trying to use the deno_runtime crate and my crate is failing to compile with the same error as @ImranQ8546. I'm using Fedora Silverblue 35 and the latest nightly rustc.

[2021-12-15 16:44] bartlomieju opened #13093 "Add "at exit" infrastructure to the CLI"
I think we should add "at exit" infrastructure to our Rust code; we got a bunch of issues that would greatly benefit from it. Otherwise we'd need to add hacks for each of the issues.
Two examples on the top of my head:
- https://github.com/denoland/deno/issues/13007
- https://github.com/denoland/deno/issues/8713

[2021-12-15 18:22] #7623 closed

[2021-12-15 18:23] #12408 closed

[2021-12-15 18:24] bartlomieju opened #13095 "Cleanup core/modules.rs"
After landing https://github.com/denoland/deno/pull/12866 there's some cruft in `core/modules.rs` that should be cleaned up. Opening for tracking purposes.

[2021-12-15 20:05] bnoordhuis commented on #9816
#11509 unfortunately stalled but that means this feature is up for grabs again.

[2021-12-15 20:55] andreubotella opened #13097 "Per the spec, ES modules should always be decoded lossily as UTF-8"
In the spec, the ["fetch a single module script"](https://html.spec.whatwg.org/multipage/webappapis.html#fetch-a-single-module-script) algorithm handles fetching and parsing a specific ES module, and in step 13 it uses the encoding spec's ["UTF-8 decode"](https://encoding.spec.whatwg.org/#utf-8-decode) to decode the response body into a string, which it then passes to the relevant parser. This alg

[2021-12-15 21:04] #12197 closed

[2021-12-15 23:10] kitsonk opened #13098 "Type checking JSON modules when dynamic improting incorrect"
Given the following JSON:

**a.json**

[code]

Being imported in the following fashion:

[code]

The following should type error, but doesn't:

[code]

When in fact, only this should pass type checking:

[code]

This is likely related to `"allowSyntheticDefaultImports"` being enabled, which is required in certain scenarios, but causes TypeScript to not properly type JSON module being dynamically i

[2021-12-15 23:21] kitsonk opened #13099 "lsp: no diagnostics for invalid imports of JSON modules"
The following code does not provide any diagnostics:

[code]

When in fact if running it will result in the following error:

[code]

We should instead issue diagnostics that indicate that a JSON module cannot be imported this way and provide a quick fix which will append `assert { type: "json" }` to the import statement.

[2021-12-15 23:32] kitsonk opened #13100 "lsp: JSON modules not being listed in local file completions"
Currently, when auto completing suggestions for a module specifier, files with `.json` are not listed as valid imports.

They should be, and complete with `assert { type: "json" }`.

[2021-12-15 23:38] #12584 closed

[2021-12-16 01:00] orvitpng opened #13101 "Error while running custom build commands for 'deno_runtime'"
I am attempting to compile `deno_runtime` for a project, and I keep getting this:
[code]

[2021-12-16 02:14] ebebbington opened #13102 "Stabilise Deno.Signal"
Am really looking forward to using this in a module as it will be super beneficial, so hoping this API could be stabilised.

[2021-12-16 03:53] #13099 closed

[2021-12-16 04:40] dcj9 commented on #3139
sill nothin eh?

[2021-12-16 04:42] dsherret commented on #3139
@dcj9 it was released in 1.15.

[2021-12-16 10:26] bartlomieju commented on #13101
What OS are you compiling on?

[2021-12-16 10:43] JasperVanEsveld opened #13107 "Compile without console"
This was mentioned in a [comment](https://github.com/denoland/deno/issues/9395#issuecomment-782088853) before
It would be nice to have given that [webview_deno](https://github.com/webview/webview_deno) will (hopefully) be updated soon after [deno#12828](https://github.com/denoland/deno/pull/12828) was merged
Which would allow for electron like applications

One way to do this could be with a comma

[2021-12-16 10:45] #12803 closed

[2021-12-16 10:47] crowlKats commented on #13107
Ref https://github.com/denoland/deno/discussions/12941

[2021-12-16 11:16] Shougo commented on #12805
Thank you!

[2021-12-16 12:15] kt3k commented on #12940
Reported https://bugs.chromium.org/p/v8/issues/detail?id=12500

[2021-12-16 12:50] kt3k opened #13109 "compat: preload Node.js native modules in global vars in node compat REPL"
In Node.js, all native modules are available as global variables in REPL:

[code]

How about doing the same thing with `deno repl --compat --unstable`?

[2021-12-16 12:55] Namekkural commented on #13042
Hi,

I've got exactly the same issue. Is this going to be fixed?

[2021-12-16 12:56] lucacasonato commented on #13042
We have not figured out what the root cause is, and can not reproduce the issue without more information.

Could you both provide a list of all VS Code extensions you have installed?

[2021-12-16 13:29] orvitpng commented on #13101
Arch Linux, x86_64 with Rust 1.57.0

[2021-12-16 15:19] ry opened #13110 "print chrome://inspect/ when --inspect/--inspect-brk flag is present"

[2021-12-16 15:30] bartlomieju commented on #13110
Aditionally for `--inspect-brk` there should be a prompt saying that `Deno is waiting for debugger to connect`

[2021-12-16 16:05] jespertheend commented on #7590
I'd like to work on this but I could use some pointers :)

[2021-12-16 16:07] bartlomieju opened #13111 "Coverage is broken in deno_std"
[code]

https://github.com/denoland/deno_std/runs/4549822141?check_suite_focus=true

[2021-12-16 16:39] bartlomieju commented on #13111
Most likely caused by https://github.com/denoland/deno/pull/12960

[2021-12-16 23:28] dsherret opened #13115 "Support import assertions in the REPL"
Just need to transform it correctly:

[code]

[2021-12-17 01:15] Shougo commented on #12805
Sorry, after I upgrade deno to 1.17.  The performance is really worse unfortunately.
Please see my tests.

[code]

[code]

My dynamic loading performance is almost `100` to almost `150`.  It is really worse for me.

[2021-12-17 05:16] nayeemrmn commented on #12805
Looks like there was a prepare-module-load perf regression since 1.16.4. 1.17.0 is still faster for this case than 1.16.4+e28fb70 (the commit before #12960), so it occurred somewhere before that. That regression affects static module loading in general e.g. `deno cache --no-check https://deno.land/x/denops_core@v2.0.3/mod.ts`. cc @bartlomieju

[2021-12-17 10:34] #12323 closed

[2021-12-17 13:04] tdillon commented on #13048
I tried with both canary and 1.17.0.  Neither version fixed the issue.

[2021-12-17 13:47] nayeemrmn commented on #12805
It occurred at the `deno_graph` 0.14.0 update #13080.

[2021-12-17 14:03] calebeaires commented on #3622
Following this discussion thought all others I have noticed that none of then states when Deno VM module will be delivered or event placed at roadmap. Is there some workaround to achieve it?

[2021-12-17 14:08] andreubotella commented on #3622
There is currently a JS proposal called [`ShadowRealm`](https://github.com/tc39/proposal-shadowrealm) that will offer some of the capabilities that Node.js's `vm` module currently does, except with much better isolation guarantees. It's not clear when it will ship in Deno, since it's only just starting to be implemented in V8, but we hope to support it as soon as it ships upstream (although that w

[2021-12-17 14:50] bartlomieju commented on #7590
@jespertheend I'm going to work on https://github.com/denoland/deno/pull/12938 this week, which will require similar effort to this issue. I'll add pointers on how to tackle this issue after finishing my PR.

[2021-12-17 15:41] bartlomieju commented on #13109
For anyone interested in tackling this issue, here are some pointers:

- In `compat/mod.rs` add function `setup_builtin_modules()` that takes `&mut JsRuntime` argument
- For each module listed in `SUPPORTED_MODULES` a variable should be added that requires this module:
[code]
- Added `setup_built_modules` function should be called at the end of this block:
https://github.com/denoland/deno/blob/e5a

[2021-12-17 16:17] #13111 closed

[2021-12-17 16:19] bartlomieju commented on #13093
Another issue: https://github.com/denoland/deno/issues/12653

[2021-12-17 16:21] VishnuJin commented on #13109
I'll would like to work on this !!

[2021-12-17 17:16] bartlomieju opened #13124 "Debugger shows error after disconnecting"
[code]

Users don't care why debugger disconnect, and it might be confusing that error is printed. It should only say `Debugger session ended`.

[2021-12-17 17:43] #13110 closed

[2021-12-17 17:43] #13124 closed

[2021-12-17 17:45] bartlomieju commented on #13109
One note: modules that contain `/` are not available by default in Node's REPL and they should be skipped for Deno as well.

[2021-12-17 19:19] bartlomieju opened #13125 "Consider switch to reedline crate"
Currently we use `rustyline` crate for the REPL. However there are shortcomings in that crate, mainly it gives us no control over "external prints".

If you have code like:
[code]
Its output gonna be interleaved with prompt:
[code]

Ideally the output would go into line above the prompt line.

https://docs.rs/reedline has all the necessary APIs to fit our purposes and seems to be more battle teste

[2021-12-17 19:23] bartlomieju opened #13126 "Better control over stdio output from APIs"
In some situations we need better control over output coming from different APIs (`console.log()`, `Deno.core.print()`). Currently output always goes to stdout or stderr. However, in some contexts we would prefer to output to go somewhere else, eg:
- in REPL we'd like to pipe the output to the editor (#13125)
- in upcoming Jupyter integration we'd like to pipe output through kernel to the remote n

[2021-12-17 19:33] VishnuJin commented on #13109
@bartlomieju getting `error: Uncaught ReferenceError: require is not defined` :(

[2021-12-17 19:37] bartlomieju commented on #13109
@VishnuJin please open a PR, it's hard to suggest anything if I don't see the code.

[2021-12-17 19:51] bartlomieju commented on #13126
Actually this might already possible by overwriting `op_print` when required. I will keep this issue open for now.

[2021-12-17 20:41] hschimke opened #13128 "Build issue on aarch64"
When building on aarch64, the following error occurs.

[code]

[2021-12-17 20:50] crowlKats commented on #13128
Fixed by https://github.com/denoland/deno/pull/13118

[2021-12-17 20:50] #13128 closed

[2021-12-17 21:40] andreubotella opened #13129 "It's no longer necessary to strip shebangs from modules"
Deno's module fetcher will [strip a shebang](https://github.com/denoland/deno/blob/main/cli/file_fetcher.rs#L233-L244) if a module file starts with one. However, [there is a stage-3 TC39 proposal to support shebangs (or "hashbangs") as part of JS syntax](https://github.com/tc39/proposal-hashbang). In fact, this [was implemented in V8 in 2018](https://chromium-review.googlesource.com/c/v8/v8/+/1409

[2021-12-17 23:50] jespertheend opened #13130 "lsp: add code lens for debugging tests"
I'd like to debug specific tests when writing them. But currently this requires you to type the full command.

I think it would be nice if a second code lens is added that functions identically to the current 'Run Test' lens except for an added `--inspect-brk` flag.
Ideally lsp clients would automatically attach to the inspector port and the debugger would resume once an inspector is attached, so

[2021-12-18 05:55] shivam-tripathi opened #13132 "Are worker threads green?"
From what I understood reading some really [helpful articles by Mayank](https://choubey.gitbook.io/internals-of-deno/threading-model/tokio-threads), Deno internally uses green threads to carry out async tasks (which I assume are I/O tasks).

But it's not immediately clear if worker threads are internally green threads or internally backed by native threads. From my very limited understanding after

[2021-12-18 06:14] bartlomieju commented on #13132
There's a chapter in the manual that explains this topic: https://deno.land/manual@v1.17.0/runtime/workers

The gist is that each worker gets a dedicated OS thread, they do not use green threads.

[2021-12-18 09:25] watiko commented on #12731
I am also affected by this issue.

environment
[code]

bug.ts
[code]

bundled-bug.js
[code]

steps to reproduce
[code]

[2021-12-18 17:40] jespertheend commented on #13130
I prototyped a bit and if the team is happy with this feature I can do a PR.

[2021-12-18 17:55] bartlomieju commented on #13130
@jespertheend sure, please open a PR so we can try it out!

[2021-12-18 18:03] Dygear opened #13136 "Backup for `Python downloader` option of `curl` and/or `wget`."
Running the `cargo install deno --locked` on a new (x86) server first the first time.

[code]

The reason the backup downloader, in this case curl, failed was because it's not installed on my server. Perhaps it would be possible to also add wget as a backup downloader?

[2021-12-18 18:08] Dygear commented on #13136
Oh, even the install script requires curl because Deno requires curl.

[2021-12-18 18:08] #13136 closed

[2021-12-18 18:41] jjallaire opened #13137 "significant increase in startup time"
After this commit (updates to support deno_graph API changes: https://github.com/denoland/deno/commit/e8d7b430cecf4357bd9b2ea717266e339516aa19) we are seeing a substantial increase in startup time for a "do nothing" operation (printing help).

This is for a moderate sized CLI application (~25k lines of typescript code): https://quarto/quarto-dev/quarto-cli

Note that this delay is for running Deno

[2021-12-18 18:51] bartlomieju commented on #13137
This problem will be fixed in 1.17.1 by https://github.com/denoland/deno_graph/pull/89

[2021-12-18 18:55] jjallaire commented on #13137
Great, thanks!!!!

[2021-12-18 22:21] Belgabor opened #13139 "[1.17.0] Linter: False positive 'require-await' issue triggered"
The following function gets incorrectly tagged with a 'require-await' issue:

[code]
Full code: https://github.com/Belgabor/aoc2021/blob/main/day18/task02.ts

[2021-12-19 04:48] exe-dealer commented on #12824
why not just implement get* methods directly on UnsafePointer?

[2021-12-19 12:11] mrxiaozhuox opened #13141 "[WSL2] `Deno` Permission denied (os error 13)"
I have try to use `deno` start a `http-web-server` on WSL:
[code]

if I use `sudo` to run the `deno`, its ok. But I think it is not a normal state:

[code]

(Because I don't need use `sudo` start a server on my macbook, but I need it on `WSL`, so I think this is a bug.

[2021-12-19 12:12] mrxiaozhuox commented on #13141
I have try to change deno file owner to `root`, but it is not work:
[code]

[2021-12-19 14:10] bartlomieju commented on #13141
This is not a problem with a file/exe not being owned by root, but by the fact that you are trying to connect to the port that requires root access (most likely port `80`). Does the problem still happen if you change the port?

[2021-12-19 14:39] mrxiaozhuox commented on #13141
oh, thanks.

[2021-12-19 14:40] #13141 closed

[2021-12-19 15:28] h4l opened #13142 "TextDecoderStream leaks a native decoder resource if its stream errors"
I've come across what seems to be a bug in `TextDecoderStream` which allows it to leak the native decoder used by its `TextDecoder`.

I've made a test module to demonstrate the issue (repro code is at the bottom of that page, under the output): https://gist.github.com/h4l/0199ab7cc24dd13536e01c5ea98b3ae7
The 3 tests trigger the test runner's resource leak detection (a really nice feature!).

What

[2021-12-19 16:25] ebebbington opened #13143 "WS Server Shows Client as NOT OPEN, Even When It Is"
[code]
[code]

Server shouldn't really matter here right? the client is open by the time the server tries to do `client.send(...)`, so no clue why it'd say the client isnt open in the server?

[2021-12-19 17:05] ebebbington commented on #13143
not an issue with deno

[2021-12-19 17:05] #13143 closed

[2021-12-20 01:20] papiro commented on #12912
@kitsonk Thank you very much for this thorough explanation. I don't mind using esm.sh rather than skypack.dev. My morale for a newer technology just gets tired when the docs lead me to errors. I am committed to using Deno so I made the effort to call it out rather than abandon the technology altogether.

[2021-12-20 05:00] #13130 closed

[2021-12-20 09:36] canonic-epicure commented on #3565
I've just stumbled upon this issue. My program is using only `Deno.stdout.writeSync()` calls. At the end of it, I'm calling `Deno.exit()` to provide an exit code. And.. some of the output is not printed on the screen! If I remove the `Deno.exit()` call, the output is printed (but then, how do I provide an exit code?)

Can the "flush" call on the `stdout` object be exposed to the user?
Or, can Deno

[2021-12-20 10:53] h4l opened #13146 "`deno test` exits prematurely if a test empties the event loop"
If a test run via `Deno.test()` allows the event loop to empty, the test suite immediately fails without reporting the result of the test or any subsequent tests.

The failure message is also somewhat confusing. It seems to be technically accurate, and makes sense if you understand what's happened. But confusing when you don't realise you've accidentally emptied the event loop, allowing it to halt

[2021-12-20 13:49] #9263 closed

[2021-12-20 13:58] bartlomieju commented on #8936
We are now mapping all possible errors to a runtime exceptions so this issue should no longer be relevant. I'm going to tentatively close it.

[2021-12-20 13:58] #8936 closed

[2021-12-20 15:21] bartlomieju commented on #3565
@canonic-epicure it seems like a separate issue. I never had problem with synchronous writing. Could you open a new issue and provide reproduction code?

[2021-12-20 17:58] galiazzi commented on #12909
I make a test with deno 1.17.0

[code]

Example:

[code]

Close event is fired two times:

[code]

---

Event close is also fired two times on server, if called from server.

Example:

[code]

Log:

[code]

[2021-12-20 18:02] tdillon opened #13150 "`deno bundle` not working with JSON module"
I'm testing out the new JSON modules functionality introduced with `1.17.0`.  I'm expecting the `deno bundle` command to be able to handle the JSON module import, but I'm getting an error.  Is this a bug, or is bundling JSON modules not supported?

**./test.ts**
[code]

**./test.json**

[code]

Console session:

[code]

[2021-12-20 19:44] kitsonk commented on #13150
It currently isn't supported, but we don't error with it. We should either figure out how to support it, or error effectively.

[2021-12-20 20:27] jaredkrinke commented on #11119
I think I might be hitting this. In my case, if I explicitly specify my test file via an argument in launch.json, then I'm able to debug my test.

I wonder if Deno tries to isolate test files by running them in different contexts, but you're only able to debug one of those contexts in VS Code.

[2021-12-20 20:55] jaredkrinke opened #13152 "Can't debug across multiple test files in VS Code using `deno test`"
On 1.17, when I debug `deno test --inspect-brk` in VS Code, I'm only able to hit breakpoints in the first test file it runs. E.g. if I have two test files and set breakpoints in both, I only hit breakpoints in the first file.

If I always explicitly specify the test file as an argument, then I'm able to debug my test successfully.

Here's a repository with a minimal setup to reproduce (including `

[2021-12-20 21:46] kitsonk opened #13153 "Fetching a registry config should use an accept header"
@lucacasonato and I chatted and realised that when fetching the registry config, especially with the introduction of v2, we should have an accepts header with a media type that indicates that it is a "v2" capable client, so a registry can server a v1 or v2 config based on the client support.

I propose we use `application/vnd.deno.reg.v2+json` when fetching the config.

[2021-12-20 22:45] JakeStanger opened #13155 "Typescript global types not maintained for dynamic imports with dynamic path"
When using `import()` and passing a variable instead of a string literal, global types are not preserved and the program exits with a TypeScript error. This occurs for both on-disk paths and URLs.

Passing a string literal (`await import('./print.ts')`) does not error and works as expected.

[code]

Minimal reproduction:

[code]

[code]

Running using:
[code]

Deno version:
[code]

[2021-12-20 23:01] syg commented on #12940
Hi, V8 dev here. It is indeed a V8 bug, thank you for reporting. I'm happy deno is exercising the private field code paths and exposing these issues.

[2021-12-20 23:11] nayeemrmn commented on #13155
This is an interesting case. The only way we can support this is to include all of the existing graph data in the type check when prepare-loading a true dynamic import. For me it's a wontfix...

@JakeStanger You can create a type-only dependency which points back to the global types being depended on:
[code]
Rather than a workaround I think this is a sound permanent solution because it only forces

[2021-12-20 23:16] kitsonk commented on #13156
We need to enhance `deno_graph` with https://github.com/denoland/deno_graph/issues/91 and when it gets folded back into the CLI, it should "work like magic".

[2021-12-20 23:21] JakeStanger commented on #13155
Thanks for the alternative, that's something I can make work.

It's worth pointing out (and sorry for not including this in my first post) that this was actually working for me all of last week on Deno 1.16 and 1.17 & stopped today with no code changes. That makes no sense from my own understanding but is it possible there's something environmental that could have changed and caused this?

---

If

[2021-12-20 23:31] nayeemrmn commented on #13155
Yeah that's easy to reproduce. If you run with `await import('./print.ts')`, have it pass the type check, change it back to `const path = './print.ts'; await import(path)` and run it again, it won't bother type checking it again because it already passed and neither `print.ts` nor any of its _expressed_ dependencies have changed. Upgrading Deno triggers a cache bust which makes you see the error a

[2021-12-20 23:43] JakeStanger commented on #13155
Is this true even with the `--reload` flag? I've been purposely using that to force reload my deps as I was playing with dynamic url imports.

[2021-12-20 23:50] nayeemrmn commented on #13155
No, the calls with `--reload` should indeed resurface the type error which is the behaviour I'm seeing. Though calls after that without `--reload` would still be missing the error since the emit and their validity status didn't change.

[2021-12-20 23:54] rivy commented on #12739
Thanks, @dsherret!
Your PR #13025 fixed all the bundling (and compiled) faults that I had been seeing.

[2021-12-20 23:56] jespertheend commented on #13156
I think I have a fix that might be easier. All tests seem to pass but I'm not sure if this causes any imports to resolve even though they shouldn't.

[2021-12-21 00:14] jespertheend opened #13158 "pty_complete_imports test is failing on mac."
Specifically the last one "ensure nothing too bad happens when deleting the cwd" causes a panic on my local machine at the `import '../001_hello\t'` part.
On Windows it also seems to fail but rather at the `Deno.removeSync` part.

[2021-12-21 00:18] kitsonk commented on #13156
@jespertheend as I stated in the PR, it won't work for remote modules.  We need to information in module graph.

[2021-12-21 00:51] piscisaureus commented on #3565
self ping @piscisaureus

[2021-12-21 02:40] #13153 closed

[2021-12-21 06:00] canonic-epicure commented on #3565
@bartlomieju I tried to create a minimized reproduction code, but all seems to work in it. Putting my ego aside, its probably something in my app (async gap somewhere). And I guess it works in Node, because Node is doing soft-exit. I'll be checking this.

Sorry for the hassle.

[2021-12-21 09:02] sisou commented on #13150
I just ran into this same issue. Is there a workaround you would recommend? My usecase is loading the package version from a package.json to output from the API (served by Deno).

[2021-12-21 10:17] jespertheend commented on #13156
I just found out this duplicates #1136

[2021-12-21 10:35] kitsonk commented on #11362
Even though #13156 came long after, @jespertheend was able to isolate it in that issue, and changes are being made to fix the issue, so we will use #13156 for tracking purposes.

Closing this as a duplicate.

[2021-12-21 10:35] #11362 closed

[2021-12-21 10:37] jespertheend opened #13161 "`deno coverage` shouldn't run type checks"
Consider the following test files
[code]
[code]
This fails with `deno test` because jsdom has a `.d.ts` file that imports from `'vm'`.
But this can be fixed with `deno test --no-check`.

If you try to generate a coverage report however:
[code]
It fails with the same error because the coverage command doesn't have support for the `--no-check` flag.

[2021-12-21 10:38] kitsonk commented on #12325
Duplicate of #13156, it is the same root issue as #11362.  Basically JSDoc imports were not being added to the dependency graph, and therefore wouldn't be made available at type checking, instead a "blank" module being substituted.

[2021-12-21 10:38] #12325 closed

[2021-12-21 12:31] jespertheend commented on #13161
Ah never mind, using `https://esm.sh/jsdom@19.0.0?no-check` fixes my issue.

[2021-12-21 12:41] lucacasonato commented on #13161
That doesn't solve the root issue though. `deno coverage` should not be doing a type check. If it does, that is a bug.

[2021-12-21 12:55] jespertheend commented on #13161
Ah interesting, I'll look into it.

[2021-12-21 14:01] jespertheend commented on #13161
Hmm I'm wondering if maybe type checks do need to run after all?
Not sure why the test is failing because I can't replicate it locally. But the failing test seems to import a `.ts` file so I'm sure it's related.

[2021-12-21 14:53] #13095 closed

[2021-12-21 15:15] arnonrdp commented on #5435
Hey guys, let's make it happen.

You can count on me. What do you guys need right now?

[2021-12-21 15:18] johnspurlock opened #13165 "console.log css styling: colors not working in default apple terminal"
Colors are not rendered properly using console.log styling on the default terminal on MacOS.  Lighter colors are rendered as gray, and darker colors are rendered as white.

What's strange is that it only affects console log statements with css styling, so I was hoping it is something that can be fixed in Deno itself, logging objects are colored properly in the same process output.

Also, tmux work

[2021-12-21 15:43] lucacasonato commented on #13165
Apple's Terminal.app unfortunately does not support arbitrary rgb, hex, and hsl colors.

[2021-12-21 15:50] nayeemrmn commented on #13161
I think there's a discrepancy when you run `deno test --coverage=...` with type check (tsc emit) and then run `deno coverage` without it (swc emit).

`deno coverage` calls `prepare_module_load()` to make the original sources and the emits available. Maybe instead it should interact with the cache directly, assume `deno test --coverage=...` was just called and attempt to piggyback on that cache sta

[2021-12-21 15:50] johnspurlock commented on #13165
I see, then how does the other coloring work? like the green "Check" during type checking, and the object output as shown?  Are you able to choose specific colors from a palette or something for those?

 It would be nice to have whatever color facility is possible for that, open to console.log.  i.e. if green is possible, then `color: green` would also work

[2021-12-21 15:52] bartlomieju commented on #13161
Yes, this is a red flag which I just noticed yesterday when cleaning up some code in `cli/main.rs`. `deno coverage` shouldn't perform any action like loading modules, it should use what's already stored in cache.

[2021-12-21 15:54] bartlomieju commented on #13161
Related issue in `deno_std`: https://github.com/denoland/deno_std/issues/1581

[2021-12-21 16:16] lucacasonato commented on #13165
The reason those work, is that they don't use RGB colors, but use the 16 predefined colors that Terminal.app does support.

I guess we may be able to map the [16 "basic color keywords"](https://drafts.csswg.org/css-color-3/#html4) to these predefined colors. That would go against the spec though, as these colors have specific RGB values specified.

I am impartial here. @nayeemrmn thoughts?

[2021-12-21 16:16] nayeemrmn commented on #13165
Currently for `%c` colours, any CSS colour keyword is mapped to an rgb value and ansi-fied as `\x1b[38;2;<r>;<g>;<b>m]`. What we should do is for the 8 colour keywords `black`, `blue`, `green`, `red`, `cyan`, `magenta`, `yellow` and `white`, use the matching specific signal `\x1b[<30-37>m`. They would mostly not align with their respective CSS hex values but who cares. More compat and plays better

[2021-12-21 16:16] lucacasonato commented on #13165
Let's do that then :+1:

[2021-12-21 16:20] johnspurlock commented on #13165
Nice!  That would work great for my use case, I could figure out how to detect Terminal.app and then fallback to those predefined colors

[2021-12-21 16:37] galiazzi commented on #12909
I see that last close event it was called on error event.

[code]

Result:

[code]

[2021-12-21 17:21] #13158 closed

[2021-12-21 18:34] msarahan opened #13166 "Adding conda package recipe for deno"
Greetings, and thank you for your work on this very useful software. I've been working on adding a recipe for deno to conda-forge, which is a community effort to create conda packages.

https://github.com/conda-forge/staged-recipes/pull/17315

It is customary there to invite the maintainers of the upstream code to be "maintainers" of the recipe on conda-forge. There is no obligation to do any work

[2021-12-21 19:05] bradenmacdonald commented on #13058
What I assume is the same issue is also causing Deno to fail to cache deps or run type checks on GitHub Actions CI, which has broken my app's builds. For some reason it doesn't seem to happen on my local MacOS Deno, even though it's the same version.

[code]

and

[code]

I have re-run the tests several times and fail similarly each time, though often on a different file.

This is Deno 1.17.0 runn

[2021-12-21 21:20] bartlomieju commented on #12490
The support was added in #12410

[2021-12-21 21:20] #12490 closed

[2021-12-21 21:22] bartlomieju commented on #12162
Is there anything actionable in this issue?

[2021-12-21 22:46] lucacasonato opened #13169 "Add support for automatically handling ping/pong for incoming WebSocket"
We should add the ability to automatically ping / pong with the client to discover broken connections in the absence of other messages on the socket. I propose the following: we add an options bag to `Deno.upgradeWebSocket` that looks as follows:

[code]

The implementation should follow the flow described in doc comment above.

Originally discussed in #13168. cc @milaz @crowlKats

[2021-12-21 22:51] piscisaureus commented on #3565
Agree, if @canonic-epicure's issue is reproducible, it'd warrant a separate issue.

[2021-12-21 23:03] emrul commented on #12086
I have tried the latest Deno release (1.17.0) and also tried canary and I am facing what appears to be the same issue on my [script](https://github.com/Twingate/labs/blob/master/scripts/js/tg.js) - both with Deno bundle and Deno compile. The script works fine when executed via `deno run`.  I am not sure if the fact that I need `--unstable` is causing this?

Trying to the output of `deno bundle` gi

[2021-12-21 23:07] bartlomieju commented on #12086
@emrul please open a new issue and provide some reproduction code. This might actually be a problem in `deno_std/node`

[2021-12-21 23:16] emrul opened #13170 "bundled/compiled code throws exception"
I have tried the latest Deno release (1.17.0) and also tried canary and I am facing an error `error: Uncaught (in promise) ReferenceError: Cannot access 'NodeTypeError' before initialization` when running my [script](https://github.com/Twingate/labs/blob/master/scripts/js/tg.js) - via `deno bundle` and `deno compile`. The script works fine when executed via `deno run`.  I am not sure if the fact t

[2021-12-21 23:18] matthewleon opened #13171 "streams.readableStreamFromReader should create a byte stream"
The code below fails with `Cannot use a BYOB reader with a non-byte stream`.  This feels like a bug. A `ReadableStream` created from an arbitrary `Reader` seems, if anything, like a canonical example of a "byte stream," no?

[code]

[2021-12-21 23:19] bartlomieju commented on #13171
CC @crowlKats

[2021-12-21 23:47] crowlKats commented on #13171
Yes, it should indeed. Didnt think about this after adding byob streams

[2021-12-21 23:55] piscisaureus commented on #3565
On the original issue:

The need to call `flush()` arises naturally from the fact that `async fn write()` is really just a convenience wrapper around [`poll_write()`](https://docs.rs/futures/0.3.19/futures/io/trait.AsyncWrite.html#tymethod.poll_write). `poll_write()` can only return `Poll::Pending` (aka "I did nothing, try again later maybe?") or `Poll::Ready(..)` (aka "I did what you asked me to

[2021-12-21 23:55] #3565 closed

[2021-12-22 01:49] felipecrs commented on #11547
Please don't let this die!

[2021-12-22 05:14] zachauten commented on #13165
Aside from the 8 color keywords shared between css and ansi, should css using hex or other methods be mapped to specific ansi signals? Currently #0000aa will not map to ansi blue, even though it is the same RGB value.

[2021-12-22 05:22] bjholifield commented on #13109
[https://www.dropbox.com/s/bytcm93wsi2qupy/seekhd%20report%20-%20rivasgenem%40yahoo.com.pdf?dl=0](https://www.dropbox.com/s/bytcm93wsi2qupy/seekhd%20report%20-%20rivasgenem%40yahoo.com.pdf?dl=0)

[2021-12-22 11:52] yskszk63 opened #13176 "ReadableStreamBYOBReader.read<Float64Array>(view: Float64Array) returns DataView"
When I ran the following code, it resulted in unexpected behavior.

[code]

## Expect

ReadableStreamBYOBReader.read<Float64Array>(view: Float64Array) returns
`{ value: Float64Array, done: false }`

## Actual

ReadableStreamBYOBReader.read<Float64Array>(view: Float64Array) returns
`{ value: DataView, done: false }`

## Version

[code]

[2021-12-22 11:59] yskszk63 commented on #13176
Is it because there is no `Float64Array` here?
<https://github.com/denoland/deno/blob/0f0dd5b7ec2a7ac95e1b36c866f73b85e4fb4879/ext/web/06_streams.js#L1269-L1282>

https://streams.spec.whatwg.org/#readable-byte-stream-controller-pull-into

[2021-12-22 12:00] lucacasonato commented on #13176
Correct.

In addition to adding to that list there, we also need to add a WPT to test to prevent this from regressing in the future.

[2021-12-22 12:22] fabiancook commented on #9073
I receive this while running:

[code]

Running the built esm version (git clone && yarn test:deno) works instead: https://github.com/virtualstate/app-history/runs/4606670052?check_suite_focus=true#step:8:11

This means that I cannot use the direct typescript version of this module.

I'm not sure how to debug this here.

[2021-12-22 13:25] #13156 closed

[2021-12-22 13:27] jespertheend commented on #13156
Thanks so much for this @kitsonk! I'm pretty much only using js files with jsdoc imports all over the place. So without this the Deno extension was basically unusable for me.

[2021-12-22 15:42] matthewleon opened #13180 "streams: array buffer transfer unnecessarily (?) copies buffer"
I encountered this issue while attempting to resolve https://github.com/denoland/deno_std/issues/1739

For BYOB reading of readable byte streams, it is important that the user-provided buffer be filled. However, the current implementation of the `TransferArrayBuffer` algorithm (https://streams.spec.whatwg.org/#transfer-array-buffer) creates a `transferedIshVersion` of the provided buffer, copying

[2021-12-22 19:07] nayeemrmn commented on #12805
Fixed by #13173.

@Shougo On my machine, your example gives:
- (1.16.4) ~160ms
- (1.17.0) ~180ms
- (1.17.1) ~100ms

We've removed all redundant loading in dynamic imports and there are no more similar problems I can see. So that's as good as it's going to get for the foreseeable future.

[2021-12-22 19:10] #12805 closed

[2021-12-22 19:27] nayeemrmn opened #13183 "Side-effect import assertion parse failure"
[code]
[code]

[2021-12-22 19:57] kitsonk commented on #13183
I get it us a bug, but "side effect JSON"... how can JSON modules have side effects?

[2021-12-22 20:12] kitsonk commented on #13183
It is part of the spec though: https://tc39.es/proposal-import-assertions/

[2021-12-22 20:18] nayeemrmn commented on #13183
Yes the assertion syntax is agnostic of JSON modules and isn't tied to module types that don't have side effects.

[2021-12-22 20:37] kitsonk commented on #13183
swc bug opened: https://github.com/swc-project/swc/issues/3103

[2021-12-22 20:53] kitsonk commented on #13180
There weren't really userland APIs at the time that allowed following the spec precisely, so the "transferred ish" is as close as we could get.  I don't know if we can do something better now or not to more closely align to the spec.

[2021-12-22 20:54] lucacasonato commented on #13180
Yup, we can. `core.serialize` and `core.deserialize` can now properly "transfer" array buffers, so we should use that.

[2021-12-22 21:24] matthewleon commented on #13180
@lucacasonato is the idea here that you do a `serialize` with only the `transferredArrayBuffers` option in order to mark the buffer as transferred, followed by a `deserialize` to create the arraybuffer that references the same memory? It's not obvious to me from the Rust source and its usage (only in `13_message_port.js`) how this would be done. The corresponding functionality in Node, for example

[2021-12-23 00:04] ebebbington commented on #7087
Any hope on getting this addressed?

[2021-12-23 01:20] Shougo commented on #12805
Thanks.  It fixes the problem!

[2021-12-23 01:21] Shougo commented on #12805
[code]

It is faster than previous version!

[2021-12-23 01:50] guybedford opened #13185 "serde_v8 serde default support"
I've got a type defined with a field using `#[serde(default)]` which is a `BTreeMap`, something like:

[code]

When I try to deserialize with `from_v8` into this type with that field missing, I get the error `ExpectedObject`. If, on the other hand, I make the object type optional via:

[code]

it then works fine - this makes me think serde_v8 isn't fully implementing the default semantics perhaps?

[2021-12-23 04:47] kitsonk commented on #12864
Currently, skypack pinned URLs don't support the `?dts` query parameter, which means that if we converted to the pinned URL, the type definitions would go away, which would make people 😢 .  I opened https://github.com/skypackjs/skypack-cdn/issues/251 to see if it can be supported.  Really need that before we progress this feature.

[2021-12-23 08:24] 274820472 opened #13186 "Does deno need a similar API to support and FFI callbacks"
deno 是否需要 类似api , 以支持 和 ffi 回调
Does deno need a similar API to support and FFI callbacks

原谅我使用了翻译软件
Forgive me for using the translation software

案例如下
Case as follows

//---------------------------------
其他语言的 dll
DLL for other languages

fn time_out_log(cb , time_out ){
    while ( 1 ) {
      sleep(time_out)
      stdcall(cb , 10086)
    }
}

//---------------------------------

//------------

[2021-12-23 08:39] CGQAQ commented on #13186
Here is the translation:

Do we need a mechanism to support situations like Calling some foreign function and giving out the `callback pointer` to let it callback later?

For example:
The foreign language that I made up:
[code]

In js side:
[code]

[2021-12-23 08:59] kt3k opened #13187 "compat: tracking issue for running npm"
`npm` (show help message) ✅

- [x] Cannot read properties of undefined at `process.execPath.toUpperCase()` `npm/lib/npm.js:213` https://github.com/denoland/deno_std/pull/1748
- [x] `npm ERR! Exit handler never called!` at the end of the execution https://github.com/denoland/deno_std/issues/1752

`npm init`

- [x] Not Implemented at `vm.runInThisContext` call `promzard/promzard.js:86` in [promzard]

[2021-12-23 10:50] Pjort commented on #13170
I can confirm I have the same issue, and I am not using `--unstable`.

 I used to get: `Uncaught ReferenceError: Cannot access 'Response'` see: https://github.com/denoland/deno/issues/12086 but that seems solved now.

Instead the error has now changed to: `ReferenceError: Cannot access 'NodeTypeError' before initialization`

[2021-12-23 12:06] #13165 closed

[2021-12-23 13:53] jespertheend opened #13189 "Support for using a specific TypeScript version"
In VSCode you can configure a specific TypeScript version using the `typescript.tsdk` setting. This can be useful if you want to ensure everyone on the team is using the same tsc version for error reporting, or if you want to use an insiders version of TypeScript for instance.
Similarly, if you wish to bundle your project using tsc directly, you could `npm install typescript@someversion` and run t

[2021-12-23 16:17] bartlomieju commented on #12502
@kitsonk did #13173 somehow helped with this issue?

[2021-12-23 16:54] bartlomieju commented on #13137
v1.17.1 is now released. I'm going to close this issue now. Please let us know if the problem persists.

[2021-12-23 16:54] #13137 closed

[2021-12-23 16:56] bartlomieju commented on #13189
Deno ships with an embedded TypeScript compiler which deeply integrates with the rest of CLI infrastructure. It's not really possible to make it configurable, nor is it feasible to ship Deno with multiple versions of the compiler. I'm afraid this is a design limitation that we won't be able to overcome.

[2021-12-23 16:56] bartlomieju commented on #13186
@littledivy is working on this in https://github.com/denoland/deno/pull/13162

[2021-12-23 16:57] dsherret commented on #13189
This would be incredibly hard to support. On top of the challenge of making the compiler code swappable, we use the TS compiler API which is an unstable API with no semver guarantees. There can be breaking changes even in patch versions of TypeScript. VSCode can do this version swapping reliably because it communicates to TypeScript via the LSP protocol, which is stable.

[2021-12-23 17:42] jjallaire commented on #13137
Thanks! That does indeed fully resolve the issue :-)

[2021-12-23 17:47] jespertheend commented on #13189
Ah that's too bad, but understandable. To be honest I haven't run into any major issues as a result of the locked TypeScript version yet. Just some features that have recently released that aren't available in Deno yet.
If the TS compiler API gets more stable in the future, would that make this more feasible?

[2021-12-23 18:01] bartlomieju commented on #11916
@jjallaire is this problem still ocurring with latest v1.17.1?

[2021-12-23 18:09] jjallaire commented on #11916
Yes, we do still see the same overhead for loading the JS in v1.17.1. We have a ~ 3mb JS bundle and it takes about 420ms to execute a "do nothing" command where the time that our typescript has control is < 10ms.

[2021-12-23 18:15] bartlomieju commented on #13187
When trying to run `npm init` I get:
[code]

[2021-12-23 18:27] bartlomieju commented on #12417
I did some digging into this issue an here's what I found:

1. I created 3 files (`node.js`, `deno.js`, `deno.ts`), each of the files just prints a console statement:
[code]
2. For each of the files I opened debugger pane and clicked "Run and Debug", selecting default debugger options (either `Node` or `Deno`)
![Screenshot 2021-12-23 at 19 24 09](https://user-images.githubusercontent.com/13602871/

[2021-12-23 19:30] bartlomieju commented on #12417
So I fixed the (IMO) underlying issue in https://github.com/denoland/deno/pull/13191 but when I try to run the same code in VSCode there's still no output. It does seem like the process is starting, but nothing shows up in the `Debug console`... @kitsonk do you have any idea if there's some special handling required for messages to show in that console? Maybe we need to redirect stdio of the spawn

[2021-12-23 22:38] #13150 closed

[2021-12-24 01:02] #11327 closed

[2021-12-24 01:28] kitsonk commented on #12417
I haven't tried the branch, but a recent build off master demonstrates that with `--inspect-brk` the console output gets sent to the console, just like with Node, so if it isn't behaving exactly like Node.js, something else is amiss.

![ins_js_—_scratch](https://user-images.githubusercontent.com/1282577/147304726-7bf31650-9d4e-4d7f-8621-005c26924556.png)

[2021-12-24 06:28] kt3k commented on #13187
@bartlomieju I can't reproduce the above error on my machine. How do you execute npm?

[2021-12-24 06:46] kt3k commented on #13187
BTW I use `npm@7.21.1`. What version do you use?

[2021-12-24 07:45] 274820472 opened #13192 "Pointer added support for converting u16 strings directly"
- Added support for converting u16_string directly to deno ffi data Pointers.
I'm not sure it's worth it,
But Windows' heavily w-suffix apis, such as MessageBoxW, require a lot of conversion,
As an infrastructure, rust packaging API is used to encode and decode, with better performance than JS.

    function cstr2ptrW(cstr) {
         const buffer = new ArrayBuffer((cstr.length + 1) * 2);

[2021-12-24 08:28] bartlomieju commented on #13187
I got it cloned locally, and I execute it like: `deno run --unstable -A --compat --no-check index.js init` (I set up `DENO_NODE_COMPAT_URL` prior to execution). The version is 8.1.4

[2021-12-24 09:20] bartlomieju commented on #12417
It does work for me with `--inspect-brk` too (ie. breakpoint is set and execution pauses); what concerns me is that it doesn't work with just `--inspect`.

I will add debug logging to Deno's inspector and see what messages are being exchanged between the binary and VSCode.

[2021-12-24 09:48] kitsonk commented on #12417
I am sure it is the same if you use `about:inspect` in Chrome.  With `--inspect-brk` I see Deno in `about:inspect` and can connect to it.  I am going to try with `--inspect`.

[2021-12-24 09:57] andreubotella commented on #13129
Given #13021 and https://github.com/denoland/deno/pull/13188#issuecomment-1000545603, the sourcemap issues are probably not a blocker for this change.

Also, I noticed that, because the shebang is being stripped before the BOM, a file with both a BOM and a shebang will not have its shebang stripped, so shebangs can show up in the outputs to `Deno.emit()`. This is almost certainly unintentional, th

[2021-12-24 10:04] bartlomieju commented on #12417
For both Node and Deno I don't see any targets in `chrome://inspect` - but that's expected IMO, since the code finishes immediately.

[2021-12-24 10:05] kitsonk commented on #12417
Ok, I checked out the branch... if I do this:

[code]

I don't get anything in the output, just like expected, but if I do:

[code]

Then there is enough time to connect to the inspector port and get the information and I see both lines logged to the console.  So I am not sure the waiting is actually working properly in #13191 or at least it isn't working in a way that exhibits the same behaviour

[2021-12-24 10:08] bartlomieju commented on #12417
My other suspicion is that VSCode debugger integration requires some special handling, however I haven't found anything yet in the docs about it. Anyway, something to look into after Christmas.

[2021-12-24 10:22] kitsonk commented on #12417
Well it doesn't... because if the program takes a bit longer, then everything works fine.  For example, on my local machine, using a build of #13191 this works:

[code]

But this behaves with the "blank" behaviour... the "red bar" never appears:

[code]

This is my `launch.json`:

[code]

[2021-12-24 10:30] bartlomieju commented on #12417
So, should we just agree that "we're too fast" in the simplest cases and this works as expected?

[2021-12-24 10:50] kitsonk commented on #12417
Yeah, because I just tried with Node 15 using:

[code]

An got the same behaviour... a "blank" debug until I increased the timeout.

[2021-12-24 10:51] andreubotella opened #13193 "JSON imports don't work in `--no-check` mode"
[code]

[code]

[2021-12-24 11:37] andreubotella commented on #13193
It seems the transpiled source that gets passed to `ModuleMap::new_es_module` strips the import assertions. Looks like an swc bug.

[2021-12-24 12:06] andreubotella commented on #13193
https://github.com/swc-project/swc/issues/3110

[2021-12-24 12:47] rabbitkiller-dev opened #13194 "How to run Windows cmd ' start "" "c:\\Users" '"
### one
[code]

### two
[code]

### two
[code]

nodejs can execute
[code]

[2021-12-24 15:40] jespertheend opened #13195 "`TestDefinition.name` should be optional."
If it's possible to do
[code]
wouldn't it make sense to also be able to omit the `name` property like so?
[code]

For reference:
- https://doc.deno.land/deno/stable/~/Deno.test
- https://doc.deno.land/deno/stable/~/Deno.TestDefinition

[2021-12-24 16:04] kt3k opened #13196 "The program crashes when infinite recursion happens on windows"
The following script exits without error on macOS, but it crashes with error message `thread 'main' has overflowed its stack` on Windows.
[code]

(`f()` throws `RangeError: Maximum call stack size exceeded` and it can be caught on macOS, but it crashes without throwing js error on windows.)

[2021-12-24 16:06] Serendipithub commented on #13192
pointer is too complicated for a script language

[2021-12-24 16:16] kt3k opened #18320 "node: enable `test-fs-readdir-stack-overflow.js` compatibility test on windows"

[2021-12-24 16:52] jespertheend opened #13198 "lsp: support `@link` to symbol in JSDoc markdown"
**To Reproduce**

1. Create a .js file:
[code]
2. Hover over `bar`

**Expected behavior**

The description contains a clickable link that goes to `foo`

**Screenshots**

https://user-images.githubusercontent.com/2737650/147365557-93498aec-9cb2-4e22-a3df-8f39c87dbfc5.mp4

**Versions**

vscode: `1.63.2` deno: `1.17.1` extension: `v3.9.2`

[2021-12-24 19:49] kitsonk commented on #13195
Why would this be desirable?

[2021-12-24 20:38] kitsonk commented on #13198
The built-in TypeScript plugin in vscode special cases the `{@link}` JSDoc tag, it is logic that we would need to integrate into the Deno language server.

[2021-12-24 22:32] bartlomieju commented on #13195
@nayeemrmn suggested it in https://github.com/denoland/deno/pull/12749#issuecomment-968052317 and I kinda forgot about it. I think it might be useful, though it's definitely on the "nice-to-have" spectrum, not "required-to-be-productive".

[2021-12-25 00:06] kitsonk commented on #13195
@nayeemrmn suggested anonymous functions, not making the name optional and had a good justification for them. Why would omitting the name be a nice to have?

[2021-12-25 00:17] bartlomieju commented on #13195
@kitsonk just to be clear - I believe that "definition" overload should still require either an explicit name or named function, but I think it's fine for "shorthand" form not to require it (as Nayeem suggested). But I'm not in favor of having "anonymous" as a name and would prefer to have a name derived from location of the test definition.

[2021-12-25 04:22] jespertheend commented on #13195
Ah sorry, I wasn't aware the "shorthand" signature actually doesn't work right now.

After looking at the documentation I noticed the shorthand signature, so I used that since my file only had a single test. At some point I needed extra permissions, so I decided to use to use the "definition" overload. To my surprise I was getting type errors for omitting the `name` field now.

That's what prompte

[2021-12-25 06:35] chasm opened #13199 "Missing ListFormat types?"
I can do this in the REPL and it works:

[code]

But if I put the same code in my Deno application, I get:

[code]

when I try to bundle it.

[2021-12-25 09:18] SinaMobasheri opened #13200 "compat: failed to import "react" from ESM module"
I try to use [ink](https://github.com/vadimdemedes/ink) library from [npm](https://www.npmjs.com/package/ink) so i run `npm install ink react` and `deno run --compat --unstable --allow-net --allow-read script.jsx`

*script.jsx*
[code]
base on what i can understand from [compatibility mode](https://deno.land/manual@v1.17.1/npm_nodejs/compatibility_mode) it must have no issues..., maybe i miss somet

[2021-12-25 09:38] kitsonk commented on #13199
Can you provide a full reproduction and include the output of `deno --version`.

[2021-12-25 13:35] imcotton commented on #11744
Still needed.

[2021-12-25 22:00] chasm commented on #13199
This is literally my entire code in a file called `mod.ts`:

[code]

Here's what happens when I run it:

[code]

Here is the output of `deno --version`:

[code]

Here is what happens when I do the same thing in the REPL:

[code]

As the output is correct, clearly `Intl.ListFormat` _does_ exist in Deno. The problem appears only when it is type checked.

Ideas? Is there a workaround?

[2021-12-25 22:13] crowlKats commented on #13199
This is an issue with typescript itself: https://github.com/microsoft/TypeScript/issues/46907

[2021-12-25 22:35] chasm commented on #13199
Thanks. I'll check on it there.

[2021-12-25 22:53] bartlomieju commented on #12417
Thanks for checking it. I will update the manual page accordingly and close this issue then.

[2021-12-25 22:57] andreubotella commented on #13199
We have added built-in APIs to the Typescript definition files when a version of Deno would ship with those APIs but Typescript didn't support them yet (see #11443, for example). The differences here is that `Intl.ListFormat` shipped a while ago (browser-compat-data lists it as shipping in Chrome 72) and apparently no one noticed until now, and that there isn't yet even a PR for adding the definit

[2021-12-26 00:25] chasm commented on #13199
That would be awesome...

[2021-12-26 03:22] SeanWykes opened #13201 "Discussion issue for crypto: AES-CTR implementation"
The W3C web-crypto specification for `AES-CTR` (counter-mode) includes a counter `length` parameter that allows splitting the 128-bit counter block in two, a fixed nonce on the LHS and an incrementing+wrapping counter on the RHS.

`ctr` crate currently does not support run-time selection of arbitrary (0..128) values of `length` as per W3C requirements, but *three* length options are supported as c

[2021-12-26 16:07] kidonng commented on #12080
Just realized this is handled by reqwest, not Deno. Upstream: seanmonstar/reqwest#1414

[2021-12-26 16:08] irustm commented on #11595
@JumpLink I think a new issue should be created

[2021-12-26 16:09] jrylan opened #13202 "Install a module that expects relative local import_map.json"
Right now if you want to install a module, you can specify that `--allow-read` and `--allow-write` resolve to values relative to the directory the command was called from, but there is no way to do this for import maps. I'd like to be able to somehow specify that my command expects you to have an "import_map.json" file in the directory you call it from and to load that file when the command is cal

[2021-12-26 16:27] irustm opened #13203 "error: Uncaught (in promise) Http: connection closed before message completed at async respondWith (deno:ext/http/01_http.js:202:11)"
[code]

If I reload the browser before the response from the server arrives I get the error too, how can I catch this error so that the application does not crash?

Example:
[code]

Start this with `deno run --allow-net app.ts`

If I remove `await sleep(200);` it also happens when I hold down the F5 key of the browser so that many requests are generated in a short time.

_Originally posted by @Jum

[2021-12-26 17:13] jrylan commented on #6675
Is there any possibility to get this implemented at least behind the unstable flag for now?

[2021-12-26 22:17] nikita-skobov commented on #11030
@lucacasonato  I was getting the following output when running the hello world deno_core example:

[code]

I think the cargo:rerun stuff should not be there, right?

I think it is because of the following two places:

https://github.com/denoland/deno/blob/7ebbda7fd71495b6f4e9bf87d385d19c44102c62/core/ops_builtin.rs#L20-L25

and:

https://github.com/denoland/deno/blob/7ebbda7fd71495b6f4e9bf87d385d1

[2021-12-26 22:23] bartlomieju commented on #11030
This print should only happen during "build" step (`cargo build`, `cargo check`, etc) and not during actual execution. We need to find a way to tell if the related macro is invoked during build step or during bootstrapping of runtime when executing built target.

[2021-12-26 22:32] nikita-skobov commented on #11030
I could be wrong but I think the issue is as follows:

The include_js_files macro is used by other parts of deno, and indeed is required for the build step.

However, within deno core, the only time that the include_js_files macro is called is from the `init_builtins()` function, which is only ever called from `JsRuntime::new()` which can only happen at runtime, if im not mistaken.

I think a pote

[2021-12-26 22:42] andreubotella commented on #11030
I was looking into this the other day: there are a number of environment variables that are defined for build scripts (and presumably, their dependencies), but not elsewhere (https://doc.rust-lang.org/cargo/reference/environment-variables.html#environment-variables-cargo-sets-for-build-scripts). So you could switch based on those envvars with `option_env!`.

The problem is that the non-build case

[2021-12-26 23:48] kitsonk commented on #13203
This is a normal behaviour and the error message is self explanatory. It is useful to some servers to know that a full message was not sent to a client and may choose to react or handle such a situation.

[2021-12-26 23:48] #13203 closed

[2021-12-26 23:50] kitsonk commented on #6675
No, because we want to continue to align to the web standard. If the web standard is strongly considering establishing a proposal, then we might consider it. Best thing to do is continue to champion something with WHATWG.

[2021-12-27 02:40] nayeemrmn commented on #13203
@irustm You need a separate `try`/`catch` around the inner async function, and to `await` the `respondWith()`.
[code]
You should switch to `serve()` at https://deno.land/std@0.119.0/http/server.ts. It will handle errors for you and have proper concurrency for http2.

[2021-12-27 03:30] papiro opened #13204 "Import map not resolving import"
Given this `importmap.json`:
[code]

`deno run mod.ts --import-map importmap.json` is failing on line 1:
[code]
with the following error:
[code]

Running deno@1.17.1

I would expect this to succeed, as it does when I import the file into a test and run the tests.

[2021-12-27 04:01] nayeemrmn commented on #13204
Change
[code]
to
[code]
The runtime flags must come before the script name.

[2021-12-27 04:02] papiro commented on #13204
🤦

[2021-12-27 04:02] #13204 closed

[2021-12-27 14:13] canonic-epicure opened #13206 "Code coverage is not collected from `Worker` context(s)"
[code]

It seems code coverage is not collected for scripts from the worker contexts (neither from the worker script itself, nor from the imported scripts).

Steps to reproduce:
1) Clone the `git@github.com:canonic-epicure/deno-reproduce.git`
2) Inside the repo folder, run `DENO_UNSTABLE_COVERAGE_DIR=cov deno run -A --unstable reproduce.js`
3) Search inside the `cov` folder, it contains a single f

[2021-12-27 15:46] apeltsi opened #13210 "Building deno_core to a single executable"
I am using deno_core version 0.112.0 in my project. But when I make a release build and run it on another computer without cargo installed I get the following error:

    thread 'main' panicked at 'called `Result::unwrap()` on an `Err` value: The system cannot find the path specified. (os error 3)', C:\Users\user\.cargo\registry\src\github.com-1ecc6299db9ec823\deno_core-0.112.0\runtime.rs:390:38

[2021-12-27 16:01] jeiea opened #13211 "lsp: incorrectly supports type checking of named imports of JSON modules"
Deno language server (as vscode intellisense) prints no error, but `deno run` reject the following.

## Reproducible steps
[code]
test.json
[code]
test.ts
[code]

[code]

## What I expected
Print 3

## What I got
[code]

[2021-12-27 16:16] bartlomieju commented on #13211
Per spec this is not supported.

The json file that you are importing doesn't have to be an object.
[code]
[code]
[code]

All of the above examples are valid JSON and there's no way to make them work with destructuring syntax and thus it's not supported. (Also named imports are live bindings, whereas default import is not)

[2021-12-27 16:19] bartlomieju commented on #13200
This is most likely related to https://github.com/denoland/deno/issues/12648; `react` is distributed as a CJS module and interoperability between ESM and CJS is still a bit lacking in Deno.

[2021-12-27 16:33] bartlomieju commented on #13187
This seems like an issue with `ClientRequest` being a class in `std/node`, while in Node it's written in ES5 function class syntax. I'm not 100% sure, but it seems similar to other issues we had when using class based approach.

[2021-12-27 16:42] andreubotella commented on #13210
This is the same bug as #11030.

[2021-12-27 20:12] andreubotella commented on #11030
Or, come to think of it, we could have a `build-time-snapshot` feature (name to be bikeshedded) that `deno_runtime` and the CLI crate would enable. We could then throw a compile-time error if you try to use that feature outside of a build script.

[2021-12-27 20:33] crowlKats opened #13212 "Remove `"uncaught"` when creating JsError in core"
in https://github.com/denoland/deno/blob/07618c861e27e284cae3a309783ef78dcef611dd/core/error.rs#L192-L200 we add `"uncaught"` to the error message. this feels quite out of place for core, but rather something for CLI to do. also a blocker for #13209

[2021-12-27 21:06] crowlKats opened #13213 "`console.log` doesnt print error cause if it isnt an `Error`"
In case of `new Error("foo", { cause: "bar" })`, the cause will not be printed, even though it is valid. Also FF does prints it.

[2021-12-28 00:58] petamoriken commented on #13213
I didn't know.

[2021-12-28 01:01] petamoriken commented on #13213
new Error("foo", { cause: 1 }

<img width="243" alt="スクリーンショット 2021-12-28 9 59 35" src="https://user-images.githubusercontent.com/2622837/147516607-7ff84675-b737-4152-bcdb-b76da632b7d1.png">

Looks like it should be recursive.

[2021-12-28 01:02] petamoriken commented on #13213
It may be better to set a limit on the number of `Caused by`

[2021-12-28 01:15] crowlKats commented on #13213
Ref https://github.com/denoland/deno/pull/13209, there we will not limit by a number, but check if there isnt the same Error recursing

[2021-12-28 01:53] jsejcksn opened #13214 "Uncaught ReferenceError: BroadcastChannel is not defined"
`BroadcastChannel`:

- is listed in the [stable](https://doc.deno.land/deno/stable@v1.17.1/~/BroadcastChannel) docs
- is not listed in the [unstable](https://doc.deno.land/deno/unstable@v1.17.1) docs
- throws a `ReferenceError` without using `--unstable`:

[code]

Is this a bug or just a docs problem? I searched through several pages of release notes and found only this mention in [`v1.11.0`](http

[2021-12-28 03:58] petamoriken commented on #13213
We may need to change the display result of normal objects as well.

Deno
<img width="335" alt="スクリーンショット 2021-12-28 10 28 07" src="https://user-images.githubusercontent.com/2622837/147526393-7a32b7f8-7fa3-4b02-a835-61233b8319cb.png">

FF
<img width="320" alt="スクリーンショット 2021-12-28 10 28 28" src="https://user-images.githubusercontent.com/2622837/147526397-53a2df64-9229-4b43-98c1-3568d86fbdbc.png">

[2021-12-28 08:57] kitsonk commented on #13210
Duplicate of #11030

[2021-12-28 08:57] #13210 closed

[2021-12-28 09:01] kitsonk commented on #13211
It is also a design limitation about it being "acceptable" in Deno Language Server, though we should try harder to fix it if we can.

[2021-12-28 10:09] basicfunc opened #13215 "Installation Failure"
Hey, there!
I'm trying to install `deno` on my environment, today and copied command `curl -fsSL https://deno.land/install.sh | sh
` from [deno](deno.land).
But, nothing goes as expected

[code]

Then, I also tried opening URL form web browser and it landed me on website and curling this website results in HTML of web page. Running on `GNU bash, version 5.1.8(1)-release (x86_64-unknown-linux-gnu)`

[2021-12-28 10:13] basicfunc commented on #13215
Following, [latest commit](https://github.com/denoland/dotland/commit/af471e20d15666d7b96833d6c43c4b71b472a2fa0), it seems like `curl -fsSL https://deno.land/x/install/install.sh | sh` is appropriate command rather than newly `curl -fsSL https://deno.land/install.sh | sh`

[2021-12-28 11:39] kitsonk opened #13216 "lsp: add support for fn not just obj"
we should support the test code lens for:

[code]

[2021-12-28 12:10] Korin92 commented on #8690
I have the same problem and de updated >= 2.0 not found

[2021-12-28 15:01] bartlomieju commented on #11570
I did attach WireShark and bumped messages exchanged with CDP in both Node and Deno; the only thing I found is that in case of Deno after receiving `Debugger.paused` notification, another `Debugger.resumed` notification is received immediately after. It is still unclear why this is happening and it's unclear why after that all inputs are "delayed by one". I will keep debugging it, but to be honest

[2021-12-28 18:12] jespertheend commented on #13195
I think this can be closed. Feel free to reopen if needed.

[2021-12-28 18:12] #13195 closed

[2021-12-28 19:13] bartlomieju commented on #11570
I made some progress debugging the problem. In essence the problem is that `run_message_loop_on_pause` immediately finishes (before `quit_message_loop_on_pause` is called) leaving inspector in a "broken" state.

The problem arises from:
https://github.com/denoland/deno/blob/ee7ab81768c593e99774b629c82c1784204a1cb0/core/inspector.rs#L212
which returns `BorrowMutError`
on line 121:
https://github.co

[2021-12-28 23:41] dsherret commented on #13215
Thanks for reporting this. It was reverted in https://github.com/denoland/dotland/pull/1978

[2021-12-28 23:41] #13215 closed

[2021-12-29 03:00] #13216 closed

[2021-12-29 06:49] ralyodio opened #13222 "crypto api stopped working in v1.17.x"
[code]

[2021-12-29 07:24] mindplay-dk commented on #4257
As you may have heard, there is widespread debate about the deprecation of these methods, which have clear deficiencies - their deprecation was proposed in 2017 and hasn't happened, but there's been pressure from the Chrome team and others to get it moving, and it's sparking a lot of debate online.

As many have pointed out, despite their problems, these methods actually fill a need - I've seen ma

[2021-12-29 07:44] KSXGitHub commented on #4257
@mindplay-dk Async or not, using these methods to interact with users is bad UX. A professional web developer should at least make a `<form>`. The only values that these methods offer for the web is ease to learn for beginners: It makes interacting with I/O in the web browser similar to what they learned in C++.

[2021-12-29 08:56] kdy1 commented on #12395
Seems like already fixed on upstream.

[2021-12-29 09:00] #12395 closed

[2021-12-29 09:49] kdy1 commented on #13061
I tried reproducing it with the latest version of `swc_bundler` and got

[code]

It's

[code]

and I'm not sure if it's a correct syntax.

[2021-12-29 10:58] petamoriken commented on #13213
Related: https://github.com/tc39/proposal-error-stacks/issues/41

[2021-12-29 10:58] petamoriken commented on #13213
Related: https://github.com/tc39/proposal-error-stacks/issues/41

[2021-12-29 11:21] bnoordhuis commented on #13222
Can you post a minimal test case?

[2021-12-29 11:34] bnoordhuis commented on #13214
It's a documentation issue, BroadcastChannel is still an unstable feature.

I suspect it's caused by the inclusion of `ext/broadcast_channel/lib.deno_broadcast_channel.d.ts` in `cli/dts/lib.deno.shared_globals.d.ts` (BroadcastChannel is a browser global.)

[2021-12-29 11:43] bnoordhuis commented on #13196
Probably caused by V8 guessing the stack size wrong. Does it work with `--v8-flags=--stack_size=512`? Try different values.

[2021-12-29 13:29] KyleJune commented on #12799
The issue in swc has just been resolved. This issue should be resolved in deno once swc is updated to the release that has the fix.

[2021-12-29 15:46] #10420 closed

[2021-12-29 16:41] Soremwar opened #13227 "Support compat mode in deno test"
As indicated by the title

This would be useful to run other test runners assertions under `deno test` and easing the migration of node codebases into Deno

Would be specially useful for deno_std, where the Node native tests are run as a subprocess instead of being run directly under compat mode (this is really annoying for local debugging, specially with average CPUs)

[2021-12-29 16:41] Soremwar commented on #12577
#13227 should probably be included here

[2021-12-29 17:36] bartlomieju commented on #13227
The first step is to update set up code for worker in `cli/tools/test.rs`:
https://github.com/denoland/deno/blob/42777f25416ca292c56587e6cc4dfe9f50bebd81/cli/tools/test.rs#L455-L460

The setup will be mostly the same like in `cli/main.rs`:
https://github.com/denoland/deno/blob/42777f25416ca292c56587e6cc4dfe9f50bebd81/cli/main.rs#L1154-L1182

Specifically this bit needs to be updated:
https://githu

[2021-12-29 18:34] #12308 closed

[2021-12-29 19:26] apowers313 commented on #13016
I'd like some feedback on where / how to implement the user-facing Jupyter API for the Deno Jupyter kernel. This would be the API for users to [display charts / images](https://ipython.readthedocs.io/en/stable/api/generated/IPython.display.html?highlight=display#IPython.display.Image), displaying [object specific documentation](https://docs.jupyter.org/en/latest/contributing/ipython-dev-guide/docu

[2021-12-29 20:10] giluis opened #13228 "lsp: Neovim client not responding properly to configuration requests"
Hello,
I love Deno. While setting up denols for Neovim, the language server behaves in a strange way. It runs only once. And then it stops. Meaning it shows diagnostics to the initial state of the file, but does not react to further changes, until I close the file and reopen.

Error converting specifier settings (file:///<path_to_file>): invalid type: null, expected struct SpecifierSettings
![imag

[2021-12-29 20:10] jntrnr commented on #13125
Hi all - JT from the Nushell project.

Thanks for looking into reedline. I wanted to share a bit of "full disclosure" for reedline, as you're making your decision. Nushell currently, like deno, uses rustyline. We started up reedline, hopeful that it'd be a good replacement for rustyline for us. Currently, reedline is getting close (we're using it in our upcoming nushell engine rewrite to test it o

[2021-12-29 20:29] bartlomieju commented on #13125
Hi @jntrnr, thanks for reaching out!

We did some preliminary tests with `reedline` (CC @crowlKats) and found a major blocker at the moment, is that `Reedline` struct is neither [`Sync` nor `Send`](https://docs.rs/reedline/0.2.0/reedline/struct.Reedline.html#impl-Sync). In the REPL we're running the editor on a separate thread (becuase the editor interface is sync) and we use channels for completi

[2021-12-29 22:09] kitsonk commented on #13228
The client is returning an unexpected response to a configuration request.

Specifically the Deno language server is sending a [workspace/configuration](https://microsoft.github.io/language-server-protocol/specifications/specification-current/#workspace_configuration) request to the client with a scope of the file that appears to be open to determine the configuration, and instead of providing the

[2021-12-29 22:30] lucacasonato opened #13229 "Support passing `ReadableStream` to `Deno.writeFile`"
This would make streaming data to disk really easy. `writeFile` cancellations should be propagated into the readable stream reading. Only `ReadableStream<Uint8Array>` would be allowed. `writeTextFile` would allow `ReadableStream<string>`.

This would be in addition to allowing `Uint8Array` / `string` as we do now.

[2021-12-29 23:24] x80486 opened #13231 "Deno fmt does not always take into account `--config` when using an equals sign in the CLI arguments"
I have a small Deno project that uses a `deno.json` config file:

[code]

I do run `deno fmt --config=deno.json` and everything is fine, but then on the pipeline I use `deno fmt --check --config=deno.json` instead, and that fails because I set `120` for line width, whereas the default is `80`.

I'm currently using Deno `1.17.1`.

[2021-12-30 01:09] x80486 opened #13233 "Deno --output should create the directory structure if provided instead of failing with "No such file or directory""
While doing `deno bundle` or `deno compile`, when `--output` is provided, and the same contains a directory structure, the command fails stating `No such file or directory`.

I believe this should be changed and Deno should create the provided directory structure automatically (a la `mkdir --parents`), in the same way `--coverage` does for `deno test`.

[2021-12-30 01:18] bartlomieju commented on #13126
Not needed, managed to handle that using op middleware.

[2021-12-30 01:18] #13126 closed

[2021-12-30 03:04] x80486 opened #13236 "Add output argument to `deno coverage` when used with `--lcov`"
I think it's better to provide an option to pipe the output to a file of `deno converage cov_profile/ --lcov` instead of using `>`, which is not supported in every operating system, AFAIK.

Something like `deno converage cov_profile/ --lcov --output=path/to/lcov.info` — possibly suppressing any output from `lvoc`, if any.

[2021-12-30 03:17] ralyodio commented on #13222
[code]

here is the key file:

[code]

[2021-12-30 08:16] mindplay-dk commented on #4257
Well, of course. I don't think anyone claims it's good UX to use these methods. The web had form elements long before it even had JavaScript, so I don't think this was never intended for primary UI.

But these are useful features for beginners, for quick prototyping, and sometimes for personal/one-off scripts.

[2021-12-30 09:50] hodev-dev opened #13237 "Native Deno typescript parser api"
any plan to expose typescript parser under Deno namespace?
it would be primitive requirement for making code generator or transformations
if Deno uses swc under the hood it would be great if we get parser under Deno namespace for development tools;
like
[code]

[2021-12-30 10:00] kitsonk commented on #13237
Duplicate of #2355 #3983 and #9851

[2021-12-30 10:00] #13237 closed

[2021-12-30 11:51] giluis commented on #13228
Thanks. I will open an isuse in Neovim Lsp client.

[2021-12-30 14:52] andreubotella opened #13239 "Support for realms/contexts in `deno_core` (in preparation for `ShadowRealm`)"
In JS, code execution is always tied to some realm (or "context" in V8 terminology), which provides a global object and a set of built-ins (`Object`, `Array`, `Error`, etc.) which is different from those of other realms. Multiple realms can share an event loop (= a thread), and those that do share one may be able to access objects from a different realm. In the web, a same-origin `<iframe>` is a d

[2021-12-30 15:06] andreubotella commented on #13239
For the general case with arbitrary realms, not just those with the security properties of `ShadowRealm`, there are more requirements and questions:

- Comb through the JS runtime code to make sure `instanceof` checks are sound in the presence of objects from a different realm.
- HTML and WebIDL have convoluted requirements regarding in which realm JS code gets executed, and in which realm the ret

[2021-12-30 15:47] #13006 closed

[2021-12-30 16:12] firstdorsal opened #13241 "Why is deno eval allowed all permissions by default?"
Why is `deno eval` allowed all permissions by default? How can I restrain it?
I would like to eval ts code without any permissions.

[2021-12-30 16:18] #13227 closed

[2021-12-30 17:42] bartlomieju opened #13242 "Update CODEOWNERS file"
Add @littledivy to relevant directories

[2021-12-30 20:37] bartlomieju commented on #13239
Inspector support for multiple contexts should also be considered when working on this feature. What you already proposed is gonna be rather large undertaking, I expect even more non-trivial engineering effort for inspector integration.

[2021-12-30 21:02] bartlomieju opened #13244 "Verify that "Memory" and "Profiler" tabs work properly in inspector"

[2021-12-30 22:30] MierenManz opened #13245 "`Deno.memoryUsage()` is not a function in Worker context"
[code]
It seems like workers don't have this api.
Other api's and the deno namespace are available though
I'm not sure if this is intentional or not but I would really like to have this function exposed to workers aswell.

[2021-12-31 04:33] littledivy commented on #13222
@ralyodio Just to make sure `xxx` is the actual key material and not a placeholder value?

[2021-12-31 07:30] csunday95 commented on #13231
while investigating this issue, I found a possible related problem. For lines that are too long, the dprint typescript plugin can make format suggestions that do not resolve the line length problem. For example,

**test.ts**
[code]

if we run `deno fmt` with this file, it will reformat the file to

[code]

which still has the second line longer than the 80 line length limit. Running ```deno fmt --

[2021-12-31 08:03] csunday95 commented on #13231
I've now noticed that the doc comment in the dprint plugin for line_width() notes that `the printer may exceed this width in certain cases`, so this is perhaps a known issue / works as intended on that front. I can't, however, seem to reproduce the issue with --check, as running `deno fmt --config=deno.json` with the following file contents
main.ts
[code]
deno.json
[code]

does not result in any f

[2021-12-31 08:40] #13242 closed

[2021-12-31 12:54] elycheikhsmail opened #13251 "add --allow-write-max-size permission"
is technicaly possible to create permission for max size for  file to write ?

[2021-12-31 14:13] Fidelion opened #13252 "Flags sanitizeOps and sanitizeLeaks don't work"
When passing these object properties within test method as false test still fail and terminal displays error of ops and resource leak. Is this an internal error you guys are working to fix? Deno std version is 0.19.0

[2021-12-31 14:31] lucacasonato commented on #13252
Could you provide a reproduction? This is not a known error.

[2021-12-31 14:59] bartlomieju commented on #13231
CC @dsherret please take a look

[2021-12-31 15:12] dsherret commented on #13231
@x80486 what does "pipeline" mean? Is that your CI? How does it fail? Is the CI on Deno 1.17.1? Are there more files on the CI than your local machine that `deno fmt` is finding? Is it perhaps a double format issue where running `deno fmt --config=deno.json` needs to be run a second time for it to format correctly (this would be a bug in the formatting)? I just tried it out and it works fine for m

[2021-12-31 18:22] apowers313 commented on #13016
I just checked in a proposed API for [Jupyter display](https://apowers313@github.com/bartlomieju/deno/blob/jupyter_apowers313/runtime/js/40_jupyter.js):
* `display(mimeType, uint8Buf, opts)`
* `displayPngFile(path, opts)`
* `displayPng(buf, opts)`
* `displayFile(path)` -- guesses file type based on file extension

I'm trying to decide if it would be more convenient to overload `displayPng` with al

[2021-12-31 19:03] x80486 commented on #13231
Yes, it's the CI pipeline, but I also get the same result(s) when executing the commands everywhere else. I'm using Deno `1.17.1` — across the board. This is the error message I'm getting:

[code]

I use a GitLab CI pipeline, but it's _roughly_ the same as running everything using this `Dockerfile` manifest:

[code]

[2021-12-31 19:28] dsherret commented on #13231
@x80486 thanks for the details and that's strange! This works fine for me. Would you be able to provide the file or a file that reproduces the problem?

[2021-12-31 19:49] kitsonk commented on #13251
Nothing is impossible, but it is impractical to implement. What is the use case?

[2021-12-31 19:58] andykais opened #13253 "deno --compat mode cannot find bindings file"
I am trying to get the `better-sqlite3` module running in compat mode. Here is the script I am attempting to run:
[code]

Deno errors out saying it is not able to find the bindings file:
[code]
the bindings files were actually in these locations:
[code]
and here when node_modules was installed with pnpm (which I use over npm when I can):
[code]

[2021-12-31 20:02] andykais commented on #13253
related to this parent issue I suppose https://github.com/denoland/deno/issues/12577

[2021-12-31 20:27] x80486 commented on #13231
`./src/main.ts` only have this 😅

[code]

This is just a template project I use to bootstrap any other Deno project(s), so it only has that one file and `./src/main_test.ts`

[code]

[2021-12-31 21:16] dsherret commented on #13231
@x80486 I'm still not able to reproduce it unfortunately and I don't see anything wrong in the code. Maybe it's a shell specific thing... so try without the equals sign: `deno fmt --config deno.json --check`

[2021-12-31 23:31] x80486 commented on #13231
OK...what is this? 🤯 😑

If I don't use the `=` sign, it's working. I don't really understand that, it must work the same with or without the sign. But, you know...now I'm all set! 😃

But on the other hand, within the Docker container behaves the same, so it's weird.

[2022-01-01 00:17] dsherret commented on #13231
@x80486 thanks for trying it! There must be some way for us to surface this and error.

[2022-01-01 00:41] csunday95 commented on #13206
investigating this issue, and it seems web workers don't currently receive or create an inspector session for coverage collecting. Only the main worker creates one in the case where `coverage_dir` is supplied in the ProcessState.  I'm not sure if the inspector session is meant to be shared between workers, or if one is required per worker. The comment on `JsRuntimeInspector::create_local_session()

[2022-01-01 08:33] Fidelion commented on #13252
Sure,

Here's the sample code

import { assertEquals, assertNotEquals } from "https://deno.land/std@0.119.0/testing/asserts.ts";

Deno.test({
    name: "ops leak",
    sanitizeOps: false,
    fn() {
        setTimeout(console.log, 10000);
    }
});

Deno.test({
    name: "resource leak",
    sanitizeResources: false,
    async fn() {
        await Deno.open("./somefile.ts");
    }
});

[2022-01-01 17:04] lucasfcosta commented on #8012
In case anyone else is facing problems with _linking_ `libffi-sys`, I had to make sure `ld` was using the system version of it.

For that, I updated `Cargo.toml` within `ext/ffi`. It went from this:

[code]

To this:

[code]

Also, make sure you've code XCode and its toolchain properly installed.

I did make sure `gmake` was installed, as @bukhalo suggested, but still no luck.

[2022-01-01 18:23] lucasfcosta commented on #12743
Hi @bartlomieju, I'd be interested in contributing with a `tap` reporter for `deno test` (if @brianleroux isn't working on it already).

However, as I was reading the code, I couldn't find the `json` reporter you mention is already available. My plan was to have a look at how the `json` reporter is implemented so that I could propose a plan to implement the `tap` reporter.

I did try to look aroun

[2022-01-01 18:34] elycheikhsmail commented on #13251
thank you
use cases in the future :
- possibility to implement desktop stor with security in mind like appStore but for desktop
- if deno deploy implement or mock Deno.write with limited storage it give possibility of test
- if some create new mobile system based on deno ( vs android java, ios c#..)  it will be usefull for control storage size

[2022-01-01 18:46] jimmywarting opened #13254 "no comma space in headers"
I expected this to include a space `', '`

[code]
All browser yields true, deno yields false

What's weird is that
`new Headers([['foo', 'bar'], ['foo', 'bar']]).get('foo')` includes a `', '` but the request didn't

this works doe:
[code]

----

deno 1.16.4 (release, x86_64-apple-darwin)
v8 9.7.106.15
typescript 4.4.2

[2022-01-01 19:00] lucacasonato commented on #13254
The headers are sent over the wire as two individual kv pairs as is specified in the header list.

[2022-01-01 19:08] lucacasonato commented on #13254
I don't think the fetch spec prescribes if headers need to be concatenated on the wire. We don't concatenate headers on the wire. Semantically these raw headers are equivalent in HTTP:

[code]

[code]

---

The reason the second example does what you expect, is because you are really doing `headers: [... new Headers([['Foo', 'bar'], ['Foo', 'baz']])]`. If you look at the output of that, you will s

[2022-01-01 19:46] lucacasonato opened #13255 "Replace uses of `instanceof` in runtime code with `ObjectPrototypeIsPrototypeOf`"
The former can be tricked using `Symbol.hasInstance` while the latter can not.

[2022-01-01 20:28] somebody1234 commented on #11078
re: latency - for me there's no noticeable latency with vscode's typescript lsp so i'd imagine it's possible to make typecheck fast enough to make this a non-issue. what that will involve though... i'm not quite sure

[2022-01-01 20:49] somebody1234 opened #13256 "`deno repl --eval-file`"
an `--eval-file` commandline option may be useful? since `--eval <pasted code>` is little different from `deno repl` then pasting the code in.
plus with longer code and/or code with multiple lines, i think it would quickly become quite unwieldy

[2022-01-01 21:11] kitsonk commented on #13256
How would `--eval-file` differ from `deno run`?

[2022-01-01 21:16] anarchodin opened #13257 "Locale support?"
In looking at Deno, I discovered that its `Intl` seems to share Chrome's non-support for Icelandic.

Since both Node and Edge _do_ support Icelandic, it's clearly not a limitation of V8 as such. In Chrome's case, Google appear to specifically disable support for locales that don't have a full interface translation, which seems like a silly thing to do for a browser. Does Deno inherit that butchere

[2022-01-01 21:30] lucacasonato commented on #13257
Edge also uses V8, so it should not be a V8 problem. Maybe @bnoordhuis knows more?

[2022-01-01 22:14] lucasfcosta commented on #13055
Hi @bartlomieju, I really liked the detailed proposal that @lucacasonato has put together, and there are many awesome things about it.

As I have been working on quite a few big testing projects in the JS ecosystem (and have written quite a lot about the subject), I do have some thoughts and suggestions for this API, which I've posted [here](https://github.com/denoland/deno/discussions/10771#discu

[2022-01-01 22:16] somebody1234 commented on #13256
because it's for `deno repl`?
i.e. it'd function exactly the same as current `deno repl --eval` - as a prelude to set up the repl environment

[2022-01-01 22:25] somebody1234 opened #13259 "weird caching issue with `deno repl`?"
i was getting this weird error previously:
[code]
note the missing `./` in the error message
same happened with this:
[code]
oddly enough, i created a dummy file `cli.js` (empty), tried to import that, and it worked. then i tried to import `cli.ts` without exiting repl, and it worked

unfortunately, i don't think i can repro so feel free to close it i guess?

chances are it was from me ctrl+c-ing

[2022-01-01 22:26] bnoordhuis commented on #13257
Deno uses the same ICU data file as Chromium, yes.

[2022-01-01 23:51] bartlomieju commented on #13256
I think this is actually very reasonable request. @dsherret what do you think?

[2022-01-02 00:01] bartlomieju commented on #12743
Hi @lucasfcosta, thanks for picking interest in this topic!

Yeah, my mistake, we don't have JSON reporter for `deno test`, but rather for `deno lint`. Indeed the logic right now is pretty much hardwired and would require some refactors to allow different reporter kinds. AFAIK no one is working on this feature right now, let me discuss this with the rest of the team and get back to you in a couple

[2022-01-02 00:37] dsherret commented on #13256
This was discussed a bit in #11317.

How this should work is a bit ambiguous—should local variables from the provided module become available in the repl or should only exports?

There's already a non-abiguous way to do this so I'm not sure how much value having an `--eval-file` flag would add:

[code]

[2022-01-02 01:33] bartlomieju commented on #13016
Sounds good to me, but it should be `Deno.jupyter` namespace instead of `Deno.core.jupyter`.

Foo[Symbol(Deno.toPng)] -- Deno-wide specific decoding of Objects, similar to Deno.customInspect. This allows the entire Deno ecosystem to benefit from this feature, not just Jupyter and eventually enables whatever comes after Jupyter or other new innovations.
Foo[Symbol(Deno.core.jupyter.toPng)] -- Jupyt

[2022-01-02 03:46] somebody1234 commented on #13256
as you said, there's already a non-ambiguous way to do the latter, so it's the former I'm interested in. especially being able to add global variables without the nasty `Object.defineProperty` hacks the node compatibility scripts use.

[2022-01-02 03:50] somebody1234 commented on #13256
basically the idea is, I'm assuming people would seldom use `--eval` since you could just, well `deno repl` as usual and manyally `import` (as usual)

of course, there are added benefits like being IDE support for checking the code now that it's in its own file and not, say, in a string literal in a shell script

[2022-01-02 03:57] somebody1234 commented on #13256
importing members manually could work, but assuming the repl is intended for rapid prototyping generally you'll probably want to, say, import *every* exported member from several modules, which could quickly become tedious to type every time.

... well tbh it'd be tedious to type even with the above, relatively short, examples imo. i guess thats partly because I'm not a very fast typer

but anyway

[2022-01-02 10:38] anarchodin commented on #13257
Is that done with awareness that Chrome deliberately cuts out locales, or does that come as a surprise? I certainly wasn't expecting that when I first noticed that Chrome was messing up collation.

[2022-01-02 10:52] lucacasonato commented on #13257
@bnoordhuis Could we use the same ICU data file as Node? It seems to have more information for some languages. I thought Node was using the same ICU data file as Chromium (and thus we were using the same file as Node).

[2022-01-02 11:43] bnoordhuis commented on #13257
Node uses a custom ICU build maintained by IBM. We can't use that (well... we could but not really) because the data format isn't stable across ICU releases. Sooner or later we'd be barred from upgrading V8 until Node's ICU catches up.

[2022-01-02 11:50] lucacasonato commented on #13257
Ok, that's unfortunate. I'll put this on the backlog for some rainy day (rainy week?) then.

[2022-01-02 13:16] MarkTiedemann commented on #12243
I believe this bug is still present.

[2022-01-02 14:21] SeanWykes opened #13263 "bug(ext/crypto) - exportKey JWK in js not base64url"
`exportKey(JWK)` still uses JS function `unpaddedBase64` for symmetric keys (`AES-???`, `HMAC`) which is not `base64url` as per [RFC7515](https://datatracker.ietf.org/doc/html/rfc7515#page-54).

Failure detected during WPT tests with `wrapKey_unwrapKey`. Strangely, WPT `import_export` cases do not detect this.

[2022-01-02 21:25] Im-Beast opened #13265 "Deno.addSignalListener is leaking async ops"
`Deno.addSignalListener` is leaking async ops

### Reproduction:
[code]

### Error output:
[code]

[2022-01-03 00:28] windows-h8r commented on #2613
That link is broken.

[2022-01-03 05:08] crowlKats commented on #12909
From looking into this a bit, this might very well be related to https://github.com/denoland/deno/pull/11452. Basically whats happening is an event is fired once the `close()` method resolves the sending of the closeframe, but then we also get an event aftwards about `close`, which also dispatches a close event

[2022-01-03 06:28] petamoriken commented on #13255
related: https://github.com/denoland/deno_lint/issues/986

[2022-01-03 07:04] jaydenseric opened #13268 "`deno test` command fails to detect `.mts` test files"
The `deno test` command fails to detect test files that have the `.mts` file extension.

For example, with the `foo_test.mts` file present, running:

[code]

Results in:

[code]

The `.mts` file extension needs to be supported for tests so they can properly import `.mjs` ESM containing JSDoc TypeScript types.

[2022-01-03 09:24] lucacasonato commented on #13254
Checked in with @annevk, and this is behavior is spec compliant.

[2022-01-03 09:24] #13254 closed

[2022-01-03 10:39] piscisaureus commented on #12243
I think this should have been fixed by https://github.com/denoland/deno/pull/12438.

[2022-01-03 11:23] bnoordhuis commented on #12885
FWIW, still happens with V8 9.8.177.2.

[2022-01-03 11:27] #13201 closed

[2022-01-03 12:18] bnoordhuis commented on #13251
The limit can't really be enforced when there are concurrent writers because of TOCTOU issues.

I'm going to close this but thanks for the suggestion.

[2022-01-03 12:18] #13251 closed

[2022-01-03 12:29] littledivy commented on #13222
Fixed in https://github.com/denoland/deno/pull/13240

[2022-01-03 13:52] lucasfcosta commented on #11133
Hi everyone, I've started working on this to learn more about the testing part of the codebase and would like to discuss my current approach and how to implement the timeout handling in Rust.

[2022-01-03 15:40] bxantus commented on #10953
It is fixed with Deno 1.7.1 (probably in the newer swc)

[2022-01-03 15:40] #10953 closed

[2022-01-03 18:52] AnInternetTroll opened #13271 "`Deno.addSignalListener("SIGKILL")` panicks"
Running on Void Linux
[code]
[code]
[code]

[2022-01-03 19:10] #13109 closed

[2022-01-03 20:51] staticlibs commented on #9463
@zhangyuannie , please correct me, if I am missing something, but I think this part is misleading and "latin1" is not equivalent to "binary". For example:

[code]

[2022-01-03 21:32] UltiRequiem commented on #3385
Bump

[2022-01-03 22:05] MierenManz commented on #13271
Same as https://github.com/denoland/deno/issues/12515

[2022-01-03 22:20] #13271 closed

[2022-01-03 22:53] zhangyuannie commented on #9463
Yeah it is indeed misleading, however not exactly for the reason you mentioned. Let me explain.

First, "latin1" is indeed equivalent to "binary". You can see that in [Node](https://nodejs.org/docs/latest-v16.x/api/buffer.html#buffers-and-character-encodings), "binary" is an alias for "latin1"

The issue is that I made the mistake to assume that "latin1" of Web API is the real "latin1" codec (i.e.

[2022-01-03 23:03] kitsonk opened #13272 "lsp: hover info for a registry URL should include documentation if present"
The registry v2 allows for providing a documentation endpoint for URL when providing suggestions. If a URL matches one of the enabled registries, the documentation response should be included in the quick info when hovering over the URL.

[2022-01-04 01:05] gliheng commented on #12949
Hi @bartlomieju . I'd like to work on this as my first contribution to this project.

[2022-01-04 03:55] jaydenseric commented on #13198
Also support needs to be added for `@linkcode` and `@linkplain`; they are ["standard" JSDoc](https://jsdoc.app/tags-inline-link.html) and are supported by TypeScript in VSCode. `@linkcode` is particularly handy.

[2022-01-04 05:57] bartlomieju commented on #12949
@gliheng thanks for interest in this issue, please not that this is rather a hard issue and might not be best suited for first contribution. I don't have anymore pointers to provide at the moment on how it could be implemented.

[2022-01-04 08:28] tachibana51 opened #13276 "docs: Security reporters need a clear reporting policies document such as SECURITY.md"
Deno is becoming popular as a secure runtime in the world. However, the procedure for reporting issues leading to vulnerabilities remains unclear.
Security engineers who discover a vulnerability will first check `SECURITY.md`,  so just having this will help.
In addition, the limitations on Security Guarantee should be written as clear as possible in security policies.
There are many discussions wh

[2022-01-04 08:42] MarkTiedemann commented on #12243
Oh, you're right. I was still running v1.15. It is fixed in v1.16.

Thanks!

[2022-01-04 10:22] bicarlsen opened #13277 "Firebase example not working"
I am attempting to get Firebase, specifically Firestore, working with Deno but am running into issues. I've raised this as a [question on StackOverflow](https://stackoverflow.com/questions/70564143/using-firsebase-firestore-with-deno).

These issues seem to be with the compatiblity between the `firebase` module and Deno, as the error even occurs in the [Deno Firebase tutorial](https://deno.com/dep

[2022-01-04 10:47] jsejcksn commented on #13277
Looks like this is a potential duplicate of https://github.com/denoland/deploy_feedback/issues/131

[2022-01-04 10:49] bicarlsen commented on #13277
Ah, you're correct, I missed that one. I close this one, and leave the other as the main thread.

[2022-01-04 10:49] #13277 closed

[2022-01-04 10:52] frou opened #13278 "`deno test --watch` should have a CLI flag for clearing the terminal when testing is restarted"
At the moment, if you have a tall terminal window, you can still be peripherally "seeing red" even when your test is passing, because old failures are still visible higher up.

I'm proposing adding a new flag, e.g. `--clear`, making it so that `deno test --watch --clear` will clear the terminal right before the:

...message is printed.

There's precedent for providing this feature. I've enjoyed it

[2022-01-04 10:55] lucacasonato commented on #13278
`deno test --watch` already clears the screen since Deno version 1.17.0. See #12613

[2022-01-04 10:55] #13278 closed

[2022-01-04 10:57] frou commented on #13278
Oops. Sorry about that. I'm still on 1.16 evidently!

[2022-01-04 11:06] yourfriendoss opened #13280 "ffi: Panic on incorrect FFI parameters"
# Code
[code]

# Panic
[code]

# Mitigation
In this case, you can replace the `null` in `user32.symbols.Syst...` to 0, to match the symbol's parameters and the panic no longer occurs.

[2022-01-04 11:36] #12243 closed

[2022-01-04 13:49] kt3k opened #13281 "Property decorators work differently with `run` and `run --no-check`"
The following script prints `42` with `deno run --no-check`, but prints `undefined` with `deno run`

[code]

---

- deno 1.17.1 (release, x86_64-apple-darwin)
- v8 9.7.106.15
- typescript 4.5.2

[2022-01-04 16:26] bartlomieju commented on #13253
This is a design limitation that most likely we won't be able to overcome. Native modules are totally incompatible between Node and Deno. The error message should be better, stating that this won't work instead of `Could not locate the bindings file. Tried:`

[2022-01-04 16:28] #13276 closed

[2022-01-04 16:28] bartlomieju commented on #13245
This is indeed a bug, `memoryUsage` is never assigned to global scope in worker context. I don't see a reason why it shouldn't work in workers.

[2022-01-04 17:09] bartlomieju commented on #13236
I think this is reasonable request. We might skip `--output` and do what `deno bundle` does already:
[code]

[2022-01-04 17:16] bartlomieju commented on #13233
I think this is reasonable to lower DX friction. @kitsonk is this okay to you?

[2022-01-04 17:17] bartlomieju commented on #13231
@crowlKats PTAL, it seems like something that could be solved by clap v3

[2022-01-04 17:28] kt3k commented on #13281
From my experience with decorators, the behavior looks correct with swc, and not correct with tsc in this case.

I think this is related to `useDefineForClassFields` config property and the upstream issue https://github.com/microsoft/TypeScript/issues/44449

[2022-01-04 17:38] kt3k commented on #13281
It seems that #13060 solves this issue

[2022-01-04 20:16] lucasfcosta commented on #11133
Hi everyone, I've started working on this to learn more about the testing part of the codebase and would like to discuss my current approach (which _can't_ detect timeouts due to blocking operations) and how to implement the timeout handling in Rust.

# The current problem

**Currently, if a test's promise never resolves, Deno will _not_ execute any of the other tests within that file.**

Imagine,

[2022-01-04 20:24] kitsonk commented on #13281
I don't know how it would, it only impacts `Deno.emit()` and only allows `useDefineForClassFields` to be unset.

`useDefineForClassFields` needs to be turned on, as class fields in esnext are emitted functionally that way, even though they just appear in the class definition, and `useDefineForClassFields` causes tsc to report some errors.

[`tsc`/check emits](https://www.typescriptlang.org/play?us

[2022-01-04 20:55] #12515 closed

[2022-01-04 21:08] kitsonk commented on #13233
Seems logical.

[2022-01-04 21:09] crowlKats commented on #13231
Yes this potentially could be fixed by clap v3 if i understand the issue, but i think its not just a matter of upgrade here, but also behavioural change we need to address (which most definitively would have to wait for 2.0). I do have a complete refactor of flags.rs planned

[2022-01-04 22:02] #12799 closed

[2022-01-04 22:02] #13183 closed

[2022-01-04 22:02] #13193 closed

[2022-01-04 22:02] #12570 closed

[2022-01-04 22:53] staticlibs commented on #9463
Thanks for the explanation, I've stumbled upon this recently and was surprised by the behaviour.

Something like this should be more robust:

[code]

It may be a good idea to add something like this to `std/encoding/binary` for interaction with legacy API that expects [binary strings](https://developer.mozilla.org/en-US/docs/Web/API/DOMString/Binary).

[2022-01-04 23:46] #13268 closed

[2022-01-05 00:59] bartlomieju commented on #12977
@andreespirela any news on this topic? If not I'm leaning towards closing this issue.

[2022-01-05 02:16] bartlomieju commented on #9175
My personal opinion is that we should add this subcommand. That said, it's gonna be a big endeavour for anyone interested in working on this. We have [`std/testing/bench.ts`](https://deno.land/std@0.119.0/testing/bench.ts) module but there's not much feedback about it and most of the logic would have to be reimplemented in Rust in order to support it as a subcommand.

If anyone is interested in sp

[2022-01-05 02:31] ekanna commented on #9017
Info: Webtransport landed in chrome 97

[2022-01-05 03:14] kitsonk opened #13287 "cli: when fetching code, use a better accept header"
Currently when the CLI attempts to fetch a module it sends an `Accept` header of `*/*`, which isn't actually very accurate, or makes content negotiation for a server very difficult.

The following would be better:

[code]

This roughly follows how we handle it in `MediaType` as well as indicates that we don't just accept anything.  This would allow servers to better negotiate the content being sen

[2022-01-05 03:26] somebody1234 commented on #13259
oh, it was using powershell on windows - however i'm 100% sure it's *not* from escape sequences, since:
- i tried various escapes, which worked as expected
- as mentioned, i tried *exactly the same thing* after doing that other thing (both in shell and repl) and it worked
- i tried importing in repl before doing the other thing and got the exact same error.

(but of course, feel free to just close

[2022-01-05 03:32] andreespirela commented on #12977
Closing as I can't reproduce

[2022-01-05 03:32] #12977 closed

[2022-01-05 03:40] bartlomieju commented on #13259
@somebody1234 I'm going to close it for now then, please let us know if the problem happens again.

[2022-01-05 03:40] #13259 closed

[2022-01-05 04:50] caspervonb commented on #11133
We can time out individual tests easily, added APIs in core to make this cleaner to do but the addition of the immediate mode steps API kind of borked all my plans to make the test runner any good and can't really progress forward with it at this point.

[2022-01-05 05:33] lucasfcosta commented on #11133
@caspervonb aha, thank you so much for the clarification, that makes a lot of sense 💖

Is there any way I could help or could you point me to any relevant examples on how you envision this being done or to the APIs you’ve added to core which you were planning on using?

[2022-01-05 05:59] ralyodio commented on #13222
i tried this on canary and it still is broken:

deno 1.17.1+19c8cd3

[2022-01-05 06:04] littledivy commented on #13222
@ralyodio I can't reproduce the issue on the same canary version.

![Screenshot from 2022-01-05 11-32-34](https://user-images.githubusercontent.com/34997667/148168235-284053db-3fc3-4201-bacb-2720d6f33d90.png)

Please verify the key material `k` is exacly what you are using

[2022-01-05 06:36] ralyodio commented on #13222
This is not the full key, but I've removefd some characters. It has +'s in it, is that the issue?

It worked fine in 1.16

[code]

[2022-01-05 06:44] littledivy commented on #13222
@ralyodio That is not a valid base64 URL encoded key. ImportKey operation fails on Firefox and Chrome as well. It is a bug in the software that generated that key.

[2022-01-05 07:25] #13280 closed

[2022-01-05 09:49] ije opened #13288 "The new JSX transform doesn't work with preact from config(deno.json)"
The new JSX transform don't support preact from `deno.json`:

[code]

but with `@jsxImportSource` comment works:

[code]

__

deno 1.17.1 (release, aarch64-apple-darwin)
v8 9.7.106.15
typescript 4.5.2

[2022-01-05 09:52] kitsonk commented on #13288
@ije what does your command line look like and when you say "don't support" can you provide what you are actually experiencing

[2022-01-05 10:04] ije commented on #13288
[code]
[code]
<img width="876" alt="Screen Shot 2022-01-05 at 18 04 30" src="https://user-images.githubusercontent.com/2883484/148199340-235ee862-169c-4409-8cbd-e4c5bbdc30f4.png">

[2022-01-05 10:08] ije commented on #13288
[code]

[code]
this works as expected.

[2022-01-05 10:10] ije commented on #13288
[code]
[code]
react works as well.

[2022-01-05 13:32] VishnuJin commented on #13236
@bartlomieju I would like to work on this issue !!

[2022-01-05 15:01] kt3k commented on #13281
Sorry, there was probably a mistake in checking the result. I checked it again and now #13060 doesn't seem solving this issue 🤦‍♂️ (probably there was swc transpiled cached remained in DENO_DIR)

[2022-01-05 16:41] #11847 closed

[2022-01-05 18:56] SeanWykes commented on #13263
Solved by #13264. Closing

[2022-01-05 18:56] #13263 closed

[2022-01-05 19:23] SeanWykes commented on #13222
@ralyodio base64url for JWK must use `-` and `_` characters, see [here](https://base64.guru/standards/base64url), and no padding. Even so, your key is invalid as @littledivy stated. You can use something like [cryptii](https://cryptii.com/pipes/base64-to-hex) to check your data, just select `base64url` in the middle block.

[2022-01-06 09:19] janus-reith commented on #1699
Hey @crowlKats, I think support for IndexedDB in Deno would be awesome, have you been able to make progress on this, or did you face any major roadblocks?

Btw hope I won't get too far off topic with this, but with new architecture options like [Cloudflare Workers](https://developers.cloudflare.com/workers/learning/using-durable-objects) emerging, and hoping Deno Deploy would eventually add such a

[2022-01-06 09:26] crowlKats commented on #1699
I havent. A bit after i wrote that comment, i stopped, as:
A) i didnt have the time for such a complex api
B) the api sucks to either make or use
C) I am not all too familiar with database related things
Maybe at some point i will pick it up again

Regarding storage on Deploy:
Having a KV storage is something that we are considering

[2022-01-06 10:56] janus-reith commented on #1699
Thanks for the quick response!

[2022-01-06 13:59] rabingaire commented on #13233
Hey guys can I work on this?

[2022-01-06 14:04] bartlomieju commented on #13233
@rabingaire please do

[2022-01-06 15:51] gliheng commented on #12949
After some digging, I found that we can just use JsWriter to write ignore directives in bundled file as in this commit https://github.com/gliheng/deno/commit/aeb4c63d926b6969529540b7ccdae02d619b7c38

However, sourceMap generation has to be enabled. Looks like it's currently disabled in bundled mode.
https://github.com/denoland/deno/blob/46f2ff120587cd1cb7b11e66d41ad6ad46fb09a8/cli/config_file.rs#L

[2022-01-06 16:41] #13169 closed

[2022-01-06 18:22] lucasfcosta commented on #11133
Hi @caspervonb, thank you for taking the time to clarify 💖

I totally see how we could enumerate the deferred tests on the Rust side, but those would only be non-blocking tests, correct? I totally agree we should time out async tests in Rust rather than in JS as I've done in my example, but I still can't see how we would time-out individual blocking tests within a specifier.

Consider, for example

[2022-01-06 19:47] caspervonb commented on #11133
The test handler runs on its own thread by design so timeouts, amongst other things can still be handled.

Even with a single isolate one could call terminate execution in v8, and then continue with the next test. Bad state can of course have a cascading effect if you write your tests in a leaky manner but not really a concern of the runner.

Another path is to simply do nothing and print warnings

[2022-01-07 00:27] #13272 closed

[2022-01-07 03:35] KotlinIsland commented on #12681
@stale Guess, what it's not stale 😳

[2022-01-07 09:19] hb20007 commented on #5301
In my case, it was the antivirus. I temporarily closed it and it worked.

[2022-01-07 12:07] #13185 closed

[2022-01-07 14:03] bartlomieju commented on #13187
`this.cb` being null is actually valid in Node code, however we're handling it not properly. I have no idea why the URL for fetch is mangled so badly, I've been debugging this issue for the past 3 hours and haven't made any progress.

[2022-01-07 16:04] marcelthomas5 commented on #2705
Is there an update on this issue?
I agree that --allow-net is way too broad. A fundamental principle of Deno is security first, and I believe that this should paired with giving developers more control over what can be enabled. I.e. flags such as --allow-net-listen and --allow-net-dial would give you more granular control over what should enabled, since network access is disabled by default.

[2022-01-07 18:44] dsherret opened #13302 "Emit, source map, and declaration cache in deno dir is racy across multiple processes"
I've run into two caching issues while using deno the past two days where I was sure my code was ok, but I was getting type checking errors.

Upon closer inspection, our cache code is racy across multiple processes since the hash is stored in a separate file.

Also, looks like if you kill the process between these two statements then the emit won't be saved correctly and won't ever be reloaded unt

[2022-01-07 18:56] imskr commented on #13255
Can I work on this @lucacasonato ?

[2022-01-07 18:56] lucacasonato commented on #13255
@imskr Sure!

[2022-01-07 23:01] webdev3301 opened #13304 "Deno.serveHttp() & Accept-Encoding: gzip, deflate, br - Feature Request"
Most user agents like FireFox, Chrome, etc. send the header `Accept-Encoding: gzip, deflate, br` and `Deno.serveHttp()` does not support any of these compressions, then `Deno.serveHttp()` is only really able to process `Accept-Encoding: identity` which means "without modification or compression".

Since the new server is based on Hyper, could Hyper's ability to `gzip` be implemented in `Deno.serve

[2022-01-08 00:43] bartlomieju opened #13305 "Add inspector test with TS files"
Need to add a test for inspector that uses TS files (and thus source maps). The test should have at least two imports: one TS file, one JS file.

[2022-01-08 09:51] jeiea opened #13307 "Can't find path.parse from deno doc"
[path.parse](https://deno.land/std@0.120.0/path#parse) is listed in readme, but I can't find it from [doc.deno.land](https://doc.deno.land/https://deno.land/std@0.120.0/path/mod.ts).

Is it expected behavior?

[2022-01-08 10:03] max-pub opened #13308 "deno deploy: navigator is not defined"
hi,
i'm getting an error on deno-deploy, saying "navigator is not defined"
there are no issues on localhost with "deno run".
i'm using deno 1.17.2 on macos 12.1

the problem stems from the external library "https://jspm.dev/xlsx"
but as i said, no problems with that on localhost.

i don't know which behaviour is intended.
but there seems to be a discrepancy between the deno-versions.
how can this

[2022-01-08 15:33] AnInternetTroll opened #13310 "deno coverage outputs incorrect output from typescript files"
[This is my project](https://git.aninternettroll.xyz/aninternettroll/arsoppgave.backend/src/commit/966ca23b08a44726044c48f18f7c63dfc5e67444)

Running `make test && make coverage` will make a folder `cov/html` with the output in html form. Specifically the output for `src/routes/mod.ts` appears to be wrong, as shown here
![image](https://user-images.githubusercontent.com/40470127/148650079-e7a78051

[2022-01-08 16:11] ry opened #13311 "`deno::Flags` should be reference counted"
The [`Flags` struct](https://github.com/denoland/deno/blob/1fb5858009f598ce3f917f9f49c466db81f4d9b0/cli/flags.rs#L211-L256) has a lot of data in it and it is cloned multiple times. It makes sense to wrap it in an `Rc`.

For example:

https://github.com/denoland/deno/blob/1fb5858009f598ce3f917f9f49c466db81f4d9b0/cli/main.rs#L378

https://github.com/denoland/deno/blob/1fb5858009f598ce3f917f9f49c466d

[2022-01-08 16:25] bartlomieju commented on #13311
I'm afraid this change might not work, because in some places `Flags` are modified in-place to override certain options.

[2022-01-08 23:00] zifeo opened #13315 "cli: console clearing when watching should be an option"
https://github.com/denoland/deno/pull/12613 introduced a neat console clear on reload. However this behaviour may be undesirable on multi environments where files are linked (dylib) and watch/reload chained.

Workaround:
[code]

[2022-01-08 23:18] bartlomieju commented on #13315
@zifeo Can you explain what this bit means? Are you compiling Deno yourself?

[2022-01-08 23:26] zifeo commented on #13315
@bartlomieju

1. Process A : watch for changes in folder `./native` and generates `./generated/rpc.ts`
2. Process B : `deno run --watch=./generated/rpc.ts src/main.ts`

Any log (& error) generated by A will be instantly cleared by process B when run on the same terminal.

[2022-01-09 01:32] bartlomieju commented on #10936
I got a panic as well:
[code]

[2022-01-09 06:19] FSou1 opened #13316 "'headers' of 'RequestInit' (Argument 2) is not a valid ByteString"
If headers contain a non-ascii symbol (e.g. `…`), the error is thrown:

[code]

I need to use this symbol in a cookie value.

[2022-01-09 06:38] crowlKats commented on #13316
This behaviour is correct, and same as browsers, as per specification

[2022-01-09 06:53] FSou1 commented on #13316
I see.

Node.js also throws the error: `TypeError [ERR_INVALID_CHAR]: Invalid character in header content ["Cookie"]`.

I'm wondering what to do in this case. Is it a web server problem that issues cookies with invalid values or the value should be encoded somehow?

[2022-01-09 07:23] andreubotella commented on #13316
To clarify: headers have traditionally been encoded in Latin-1, not ASCII, and both Deno and browsers support Latin-1 characters in headers, both for sending and receiving. Headers are byte sequences on the wire, and Latin-1 is a common enough assumption by HTTP clients that if you were to use a different encoding, the server will likely misunderstand it. There exists a protocol to encode arbitrar

[2022-01-09 13:35] sylc opened #13317 "Generated emit cache issue"
Hi,

I'm having a deno cache update issue when `no-check` is NOT specified.
I'm trying to update a module reference but then I get `error: Loading unprepared module: <stale_module_address>`. The module address listed in the error is not present in deno info output

To reproduce:
- Clone https://github.com/sylc/issue_pin_fresh  (which is copy of https://github.com/lucacasonato/fresh/tree/main/www)

[2022-01-09 14:06] ratika-12 commented on #13311
@ry I want to work on this

[2022-01-09 14:24] bartlomieju commented on #13311
@ratika-12 please do

[2022-01-09 15:52] mxcl commented on #5088
Only workaround that I could figure out is:

[code]

Where `./foo` contains:

[code]

Then you can put `foo.ts` wherever you want.

---

## Discussion

1. This is a bug AFAICT, deno should execute `.ts` by default.
2. We need someone from the core team to chime in and confirm if it is a bug or not.
3. I will happily write the PR if I know it is going to be applied

Personally I *absolutely* need t

[2022-01-09 16:03] naolarega opened #13318 "Deno panic on multiple default export"
When i try to bundle a module which imports a module with two default exports this happens. i have included the stack backtrace as instructed.

Platform: windows x86_64
Version: 1.17.1
Args: ["deno", "bundle", "CallChain.mjs"]

thread 'main' panicked at 'internal error: entered unreachable code: Multiple identifiers equivalent up to span hygiene found: default#9
First = Helper#8
Second = SecondHel

[2022-01-09 16:12] lucasfcosta commented on #11133
As discussed on Discord, I started implementing a simple timeout handled in the JS runtime as described in my previous comment.

For future reference, here's what we discussed:

**After implementing the async timeout, I'll start working on a separate PR for reporting a timeout warning for synchronous tests using Rust, as @caspervonb suggested.**

[2022-01-09 16:44] #13305 closed

[2022-01-09 19:27] bartlomieju opened #13321 "compat: chalk doesn't work because of missing __proto__"
index.js
[code]
package.json
[code]

[code]
[code]

[2022-01-09 19:33] kitsonk commented on #5088
I have chimed in several times, it is not a bug. I have also chimed in

It is not a bug. I have stated this several times. JavaScript is the default. `--ext` is an acceptable solution as it aligns to `deno fmt` and `deno eval`.

[2022-01-09 19:37] bartlomieju commented on #13321
Caused by this:
https://github.com/denoland/deno/blob/bd53567acf7d7bb28e51c0137054c5a9d9e19bf1/runtime/js/99_main.js#L2-L6

This is a blocker for running `tap` in Deno's compat mode.

[2022-01-09 20:04] bartlomieju opened #13322 "compat: libraries can't spawn Deno subprocess properly"
Hit this problem when trying to get `tap` to work in "--compat" mode.

This snippet shows how `tap` runs a single file with tests:
[code]

`node` is defined as:
[code]

Later it constructs a command to be run using something like this:
[code]

`tap` is not aware that it must run the process by using `deno run --compat --unstable` args and only uses `deno`.

[2022-01-09 20:24] KyleJune opened #13323 "Test coverage report incorrectly shows error thrown as not covered"
This is with Deno v1.17.2. I tried making a minimal reproduction path but it appears the issue doesn't always occur for thrown errors. Another error thrown in the function shows as having test coverage. The basic_auth.ts file and test coverage is pretty short.

If you look at codecov, it shows the last error thrown as not having coverage.

https://app.codecov.io/gh/udibo/oauth2_server/blob/8936c23

[2022-01-09 22:11] kitsonk commented on #13321
The usage boils down to this: https://github.com/chalk/chalk/issues/32#issuecomment-48426969

Of course this was last looked at seriously back in 2014.  sindresorhus says in https://github.com/chalk/chalk/issues/124 that they are willing to accept a PR as long as it doesn't impact performance.  And that was in 2016.  Runtimes have moved on quite a bit, and even back in 2014, the comment of `Object

[2022-01-09 22:18] lucacasonato commented on #13321
Both version 4.0 and 5.0 of chalk do not use `__proto__`. The usage was removed in https://github.com/chalk/chalk/commit/63469d30e4514136651ae0bbe08e2d3046b02024.

[2022-01-09 22:20] lucacasonato commented on #13321
See https://github.com/chalk/chalk/pull/387. It actually mentions Deno disabling `__proto__` :-)

[2022-01-09 22:25] kitsonk commented on #13321
🤦  so we just need to upgrade dependencies then‽

[2022-01-09 22:27] andreubotella commented on #13321
Other than [some odd behavior in object literals](https://tc39.es/ecma262/multipage/ecmascript-language-expressions.html#_ref_15704), it seems like [`__proto__` _actually is_ a getter/setter](https://tc39.es/ecma262/#sec-object.prototype.__proto__) that calls the internal equivalents of `Object.getProperty` and `Object.setProperty`. So you'd win nothing by defining it explicitly.

[2022-01-09 22:29] bartlomieju commented on #13321
Okay, it seems I made a lot of buzz for no good reason. [`treport`](https://github.com/tapjs/treport/blob/10eb5d90ca3ca24442d2684b1385c0c754c35d49/package.json#L9) is using an outdated version of `chalk` (^3.0.0)

[2022-01-09 22:29] #13321 closed

[2022-01-09 22:31] kitsonk commented on #13321
Other than only doing it in certain situations, instead of re-introducing it for everything, but it seems like it is an irrelevant issue.

[2022-01-09 22:42] #13245 closed

[2022-01-10 01:48] bartlomieju commented on #13318
Reported in https://github.com/swc-project/swc/issues/3221

[2022-01-10 01:49] bartlomieju commented on #13315
I guess we should add `--no-clear-screen` flag to all commands that have `--watch` flag available.

[2022-01-10 02:12] bartlomieju commented on #12417
I'm going to close this issue now that denoland/manual#201 is open.

[2022-01-10 02:12] #12417 closed

[2022-01-10 03:12] rivy commented on #11819
Not stale; not addressed as of yet.

[2022-01-10 03:16] bartlomieju commented on #11819
@rivy what is the expected solution for this issue?

[2022-01-10 03:18] dsherret commented on #11819
Opened #13325

[2022-01-10 03:22] rivy commented on #11819
@bartlomieju , the problem is that automatically adding unstable flags when installing potentially breaks future executions with a newer `deno` which doesn't have that flag. My initial suggestion was...

[2022-01-10 03:24] bartlomieju commented on #11819
I believe requirement for `--unstable` is already in place. I think @dsherret's PR should address the problem of forward compatibility.

[2022-01-10 05:33] kt3k opened #13326 "`deno coverage` errors with type error if the source code uses custom "lib" configuration"
My library uses [custom lib config](https://github.com/capsidjs/capsid/blob/main/deno.json) (because it's a frontend library and needs `dom` types), and it can pass the tests and can generate the coverage data using this config. However when I run `deno coverage` it errors with type error at DOM types and I don't find a way to pass config file to `deno coverage` sub command. So I can't create cove

[2022-01-10 05:38] bartlomieju commented on #13326
@kt3k please check if https://github.com/denoland/deno/pull/13324 helps

[2022-01-10 05:56] kt3k commented on #13281
I've read the above comment carefully again, and there seems nothing actionable here (ECMAScript class fields and typescript fields decorators are just incompatible). So I'm closing the issue.

[2022-01-10 05:56] #13281 closed

[2022-01-10 06:19] kt3k commented on #13326
It seems #13324 fixes this issue. What a timely fix!

[2022-01-10 07:59] zhangyuannie commented on #9463
I would suggest you to discuss more at [deno_std](https://github.com/denoland/deno_std) if you want this to be included in std.

A note that `buffer.toString("binary")` has already been ported to [std/node](https://github.com/denoland/deno_std/blob/d7bdbfa3ef606c21882d8489ca149f6a312c338c/node/_buffer.js#L968), a workaround would be to use that instead.

[2022-01-10 09:36] lucacasonato commented on #11964
I agree this is an issue. The allow run allowlist gives a false sense of security. I will advocate for it to be removed in Deno 2.0, returning back to allow-run only supporting a wildcard permission, like it did originally.

To be completely fair, the binary being executed is correctly locked down. The LDPRELOAD env var just causes that binary to load some arbitrary libraries at runtime.

Nonethel

[2022-01-10 10:59] porsager commented on #9360
Hi @fannst . Did you find a solution for this issue? I'm experiencing the same with 1.17.2

[2022-01-10 11:49] erfanium commented on #13315
@bartlomieju
maybe `--watch="no-clear-screen"` is a better design. because `--no-clear-screen` flag is not usable by it's own.

[2022-01-10 11:58] lucacasonato commented on #13315
--watch already takes a string argument (additional directories and files to watch)

[2022-01-10 14:14] SeanWykes opened #13327 "improve(ext/ffi) - allow alias for symbol renames to solve Windows DLL import issues."
A number of Microsoft windows DLL's contain two entry points for effectively the same function, with "A" and "W" prefixes to indicate normal (ANSI) or wide strings, for example: [`winscard.h`](https://docs.microsoft.com/en-us/windows/win32/api/winscard/nf-winscard-scardconnecta)

The windows import headers `.h` automatically select between the two variants.

Problem: linux/os-x versions of this li

[2022-01-10 14:22] #11819 closed

[2022-01-10 14:27] DjDeveloperr commented on #13327
#13090 implements this (with the only difference being new property is `name` instead of `alias`)

[2022-01-10 14:37] SeanWykes commented on #13327
Ops. Sorry. Did an issue search beforehand but didn't catch it. Thanks!

[2022-01-10 14:37] #13327 closed

[2022-01-10 14:47] mxcl commented on #5088
My bad, I didn’t realize. I intended no malice. My reading of this thread left me thinking there was no consensus or direction. I scanned it so: my bad.

I am still left unsure if any PR I submitted would be merged, so am going to stick with my workaround.

[2022-01-10 15:15] charrondev commented on #5432
Looks like the SWC doesn't have any intention of releasing their type-checker under an OSS license (and development has stalled on it), instead intending to monetize the software under a proprietary license to fund it's development. https://github.com/swc-project/swc/issues/571#issuecomment-998390982

So far SWC -> TSC AST conversion seems to be the avenue that would be fastest to gets some speedu

[2022-01-10 15:25] bartlomieju commented on #5088
Yes, the PR adding support for `--ext` would be merged.

[2022-01-10 16:36] #13161 closed

[2022-01-10 16:36] #13326 closed

[2022-01-10 16:49] bartlomieju commented on #10936
Reported an upstream issue, waiting for response.

[2022-01-10 18:07] FSou1 commented on #13316
If it's not the issue, shall I close it then?

[2022-01-10 18:20] ry opened #13329 "deno fmt should optionally support tab indention"

[2022-01-10 18:21] ry commented on #3695
Happy to support tabs as an option (https://github.com/denoland/deno/pull/13266),  but we're not doing it by default.

[2022-01-10 18:21] #3695 closed

[2022-01-10 18:33] bartlomieju commented on #13329
This is already supported with `--options-use-tabs` flag, or `fmt.options.useTabs` in config file.

[2022-01-10 18:38] #13329 closed

[2022-01-10 21:07] jahtalab opened #13330 "Provide a way to limit imports to certain domains/directories"
It would be useful to have a permission option to limit the imports to a certain domain or directory.

[2022-01-10 21:25] kitsonk commented on #13330
What is the use case, what would be an example of something this would fix/improve?

[2022-01-10 21:28] bartlomieju commented on #13330
Seems related to #8266

[2022-01-10 21:33] kitsonk commented on #13330
Actually, feels like a duplicate.  @jahtalab I would suggest you add feedback there around what you had in mind.

Duplicate of #8266

[2022-01-10 21:33] #13330 closed

[2022-01-10 22:55] #13316 closed

[2022-01-10 23:26] duncanmak opened #13331 "Support Windows ARM64"
I've been using a Surface Pro X as a main machine and I'm interested in using Deno on it.

So far, I've been using the Linux/ARM64 builds made by @LukeChannings, https://github.com/LukeChannings/deno-arm64, they work well in WSL2.

It would be even nicer to use if I can run it natively in Windows instead.

I found this blog post about supporting Windows ARM64: https://patriksvensson.se/2020/05/tar

[2022-01-11 03:57] bartlomieju commented on #9747
I just tried the provided reproduction and it appears to be fixed in https://github.com/denoland/deno/pull/13324

[2022-01-11 03:57] #9747 closed

[2022-01-11 04:00] bartlomieju commented on #10395
I tried provided reproduction and it appears it was fixed by https://github.com/denoland/deno/pull/13324

[2022-01-11 04:00] #10395 closed

[2022-01-11 04:11] bartlomieju commented on #9865
Hey @rivy I just tried to reproduce the problem and the `cover-esm` repo doesn't work, I get errors returned:
[code]
That said, I also ran `cover-deno` and got somewhat similar results to yours:
[code]
When I viewed results using https://lcov-viewer.netlify.app/ I get 100% coverage (which matches what `deno coverage coverage/` shows too):
![Screenshot 2022-01-11 at 05 09 45](https://user-images.gi

[2022-01-11 04:13] bartlomieju commented on #10531
I just checked this reproduction, and I'm getting similar results:
[code]

It seems to still be a problem, however, only a single line appears to be uncovered.

[2022-01-11 04:17] bartlomieju commented on #12112
@kitsonk @c4spar could you confirm that your code had emojis in generated source maps when these panics were raised?

[2022-01-11 04:22] bartlomieju commented on #11875
I'm able to reproduce the problem with `Symbol` methods not being covered. I'll try to boil down the example to two-file reproductions and need to verify if it's problem with applying source maps or coverage data is actually not collected by V8.

[2022-01-11 04:30] bartlomieju commented on #10944
I'm able to reproduce the issue.

Running only `a_test.js`:
[code]

[code]

Running only `b_test.js`
[code]

[code]

Running both `a_test.js` and `b_test.js`:
[code]

This is definitely wrong. It seems like uncovered lines from one test file are added to uncovered lines from the other one, instead of being diffed.

[2022-01-11 05:14] bartlomieju commented on #11875
I'm 95% confident this is directly related to https://github.com/denoland/deno/issues/10944 and should be fixed in #13334

[2022-01-11 05:14] bartlomieju commented on #12751
I confirmed this is the problem and most likely the same cause as #10944, should be fixed by #13334

[2022-01-11 05:16] bartlomieju commented on #13323
Most likely related to #10944, I will check once https://github.com/denoland/deno/pull/13334 lands

[2022-01-11 05:18] bartlomieju commented on #9754
@aricart when you got some uncovered lines, were you testing that API in multiple test files?

[2022-01-11 05:55] bartlomieju commented on #13310
@AnInternetTroll can you check if you have multiple `.json` files in `cov/` directory that point to `src/routes/mod.ts`?

[2022-01-11 05:56] rivy commented on #9865
@bartlomieju , thanks for circling back around to this issue.

The master branch code had the wrong file extensions. It's now corrected.

[code]

The corresponding `deno` coverage was wildly different (in March 2021).

Since @caspervonb said everything was still pending, I hadn't looked back into this until your message just now.

The newest coverage info (`deno` v1.17.2) seems improved, but still

[2022-01-11 06:00] bartlomieju commented on #9865
Thanks for checking, I believe this is stemming from the same issue as https://github.com/denoland/deno/issues/10944, ie. covered ranges are not properly merged. I got a PR going at https://github.com/denoland/deno/pull/13334

[2022-01-11 06:21] #13089 closed

[2022-01-11 06:27] rivy commented on #9865
Will that fix the branch info as well?

I see this code as having two covered branches, eg:

[code]

instead of the one noted by the `deno` coverage.

[2022-01-11 06:29] bartlomieju commented on #9865
I'm not sure about that, will get back to you once the PR lands.

[2022-01-11 07:11] bartlomieju commented on #13233
Closed in #13299

[2022-01-11 07:11] #13233 closed

[2022-01-11 07:48] jahtalab commented on #8266
I'm also interested in applying `allow-import` to "static" imports. I can think of a few scenarios in which this can useful.
1. Prevent leaking the IP address of the client/server that is running an untrusted code
2. Enforcing imports only from company domain/internal network to avoid running code that hasn't been reviewed by that company.
3. In a multi-tenant situation, allowing an instance to on

[2022-01-11 07:57] jahtalab commented on #8266
To make the UX a bit better, we could also have reasonable defaults for `allow-import`, e.g. only allow import from `deno.land` and also only the subdirectory of the main module (instead of all or nothing defaults).

[2022-01-11 10:30] bartlomieju commented on #13200
Okay, we got a way forward to providing this integration. Currently blocked by https://github.com/denoland/deno_graph/issues/97

[2022-01-11 11:02] DjDeveloperr opened #13336 "Support calling Function Pointers in FFI"
### Why

Some native libraries return function pointers to expose further API. Such as GLFW exposes a `glfwGetProcAddress` function which is used to get pointer to the OpenGL API function. I'm currently using a helper library written in C to call function pointers in [my project that uses GLFW](https://github.com/DjDeveloperr/deno_gl). I'm sure there are much more use-cases than just this, like ca

[2022-01-11 12:26] bartlomieju commented on #13336
Sounds good, PR are welcome!

Maybe model it after `Deno.UnsafePointer` API? Eg. `new Deno.UnsafeFnPointer(ptr, { ... })

[2022-01-11 12:43] x80486 opened #13338 "`bundle` and `compile` should use options for final output"
As of Deno `1.17.x`, `compile` uses `--output` option to _say_ where to place the result from the operation. On the other hand `bundle` makes use of an optional argument.

I know the two _directives_ work different, but since the argument is optional, wouldn't be more aligned with the current behavior of the other commands if `bundle` would just use an option (`--output`) as well, in the same way

[2022-01-11 13:31] Bzvwf16WSDKoSZd8 opened #13339 "Deno has different permission requirements when using sync import and async import."
For example.ts:

Don't need --allow-read when...
[code]

Don't need --allow-net when...
[code]

Need --allow-read when...
[code]

Need --allow-net when...
[code]

If someone want to wirte a deno program which need to importing both of above libraries using async import, but don't want to have any other prermission.

They need to run deno with this complicated commend.
[code]

When using sync impor

[2022-01-11 16:13] JumpLink opened #18319 "node polyfill for vm.runInContext using web workers"
**Is your feature request related to a problem? Please describe.**

I would like to use JSDom for SSR on Deno. I can't use JSDom directly without its own global context, because I want to run a browser script on it. For that it needs to have an environment for the script where all global browser methods are available, for example window, dom, etc and for security.

**Describe the solution you'd li

[2022-01-11 16:21] c4spar commented on #12112
yes, i can confirm the issue was an emoji in one of my files and the emoji is also in the generated source maps. It works after removing the emoji.

[2022-01-11 16:23] benjamingr opened #13343 "`atob` throws incorrect error when no argument is passed."
Deno throws a `DOMException` when `atob()` is run (no argument) but it should throw a `TypeError` like webidl says. The DOMException is from trying to convert it to a string.

Deno's current behavior is the same as `atob(undefined)`.

A fix should be pretty simple.

Saw this here https://github.com/nodejs/node/issues/41450 and namely https://github.com/nodejs/node/issues/41450#issuecomment-1008447

[2022-01-11 16:25] bartlomieju commented on #12112
Thanks, then this is the same issue as https://github.com/denoland/deno/issues/10936, I'm gonna close this issue.

[2022-01-11 16:25] lucacasonato commented on #13343
@DerekNonGeneric already reported it to me directly. Fix in https://github.com/denoland/deno/pull/13341 :-)

[2022-01-11 16:26] benjamingr commented on #13343
Ah cool, closing this one then :)

[2022-01-11 16:26] #13343 closed

[2022-01-11 16:37] tdillon commented on #13048
Deno `1.17.2` has resolved my issue.  Besides some very minor formatting differences, the output of `deno bundle` in version `1.17.2` includes the following code which does not exist in the output from `1.17.1`.

[code]

[2022-01-11 17:11] AnInternetTroll commented on #13310
Nope, I can't find any other file besides this one in case it helps

[code]

[2022-01-11 17:12] bartlomieju commented on #13310
Thanks, that helps.

[2022-01-11 18:18] aricart commented on #9754
@bartlomieju yes it is possible that tests in different files were doing the exercise.

[2022-01-11 18:42] bartlomieju commented on #9754
Thanks, this is most likely related to https://github.com/denoland/deno/issues/10944

[2022-01-11 20:17] #9754 closed

[2022-01-11 20:17] #11875 closed

[2022-01-11 20:17] #13323 closed

[2022-01-11 20:17] #10944 closed

[2022-01-11 20:17] #12751 closed

[2022-01-11 20:22] bartlomieju commented on #13310
@AnInternetTroll could you try again with https://github.com/denoland/deno/commit/13751d9de6bb77daf38ac921e35015c238d06c35

[2022-01-11 22:14] porsager opened #13345 "Upgrading connection to TLS panicks"
I don't know if closed issues are followed, so I'm creating this issue which relates to #9360

I'm experiencing the same as that issue with 1.17.2.

It's happening on my Macbook M1. Here's the complete log:
[code]

[2022-01-11 22:15] lucacasonato commented on #13345
Do you have a reproduction?

[2022-01-11 22:16] porsager commented on #13345
Not yet, I'll try to look at it in 5.

[2022-01-11 23:03] porsager commented on #13345
Ok so the sample below works in 1.16.4 but not 1.17.x when trying to connect to my local Postgres server. It's not giving me the panic as above though, but rather the error below. I'll try my project that gave the panic with 1.16 now.

[code]

Code:
[code]

[2022-01-11 23:06] porsager commented on #13345
Hmm.. also getting the panic on 1.16.4 in my project. I'll look closer tomorrow..

[2022-01-11 23:08] piscisaureus commented on #13345
What if you add 'await' before the 'conn.write' call?

[2022-01-11 23:26] porsager commented on #13345
No difference

[2022-01-11 23:54] gliheng commented on #13315
I found clear screen can be stopped just by redirect stderr to a file by appending `2>err` to your command.

[2022-01-12 00:43] kitsonk opened #13346 "Proposal: `deno vendor`"
## Context

Deno aspires to provide a full featured set of development tools baked into the single `deno` CLI. At the same time, Deno provides an open platform where code can be imported just as easily as a browser can fetch a web page.  Deno stores remote dependencies in a cache commonly referred to as the `DENO_DIR`.  While Deno allows you "relocate" this directory at runtime, and the files in t

[2022-01-12 02:21] ah-yu opened #13347 "Throw an error when accessing the value of symbol property on localStorage object"
Code snippet:
[code]
chrome returns `undefined` but deno throws an error.

[code]

[2022-01-12 04:05] #13339 closed

[2022-01-12 07:22] AnInternetTroll commented on #13310
It now covers that one line, and as a bonus, it shows red for the untested part that I missed below!

![image](https://user-images.githubusercontent.com/40470127/149081965-78ed32ae-442c-4d22-85da-a7c9a5a310fa.png)

[2022-01-12 07:22] #13310 closed

[2022-01-12 08:21] porsager commented on #13345
I think the error I'm getting with 1.17.x in the code above is related to https://github.com/denoland/deno/issues/10312 so I won't open a new issue for that.

With regards to the panic I'm still no wiser why I can make a simple repro of it, and why it fails like that in my project.

[2022-01-12 09:42] porsager commented on #13345
finally 😅 Here is a reproducible code sample
[code]

[2022-01-12 10:22] LukeChannings commented on #13331
This would suffer from the same cross-compilation issues that Linux does[1](https://github.com/LukeChannings/deno-arm64#why-cant-you-just-cross-compile). Since Microsoft don't license ARM64 Windows I doubt that there'll be support for compiling in CI via a VM.

[2022-01-12 11:38] #13336 closed

[2022-01-12 11:44] bartlomieju commented on #13310
That's great to hear, thanks for checking @AnInternetTroll!

[2022-01-12 11:45] bartlomieju commented on #12126
@ebebbington any chance you could try again with latest canary? I landed https://github.com/denoland/deno/pull/13334 which should resolve most of the issues with wrong output.

[2022-01-12 11:47] bartlomieju commented on #13187
`npm install` should now work with latest `deno_std`. Thanks @AaronO for help.

[2022-01-12 11:48] #13187 closed

[2022-01-12 12:05] #12949 closed

[2022-01-12 12:48] #12469 closed

[2022-01-12 14:02] porsager opened #13350 "Upgrading connection to tls in 1.17.x errors with UnsupportedCertVersion"
The following happens when trying to do startTls to a postgres server with a self signed certificate. It works in 1.16.4

[code]

Small repro case here:
[code]

[2022-01-12 14:22] ebebbington commented on #12126
@bartlomieju Thanks, will try as soon as i have the spare time

[2022-01-12 18:03] piscisaureus commented on #13345
Deno should not crash (that's a bug, it should always fail with BadResource), but I'd like to point out that this causes startTls() to run concurrently with read(). It makes no sense to do that.

[2022-01-12 18:16] porsager commented on #13345
Yeah, that also makes sense, but I expected read to end once startTls was called which was why I didn't think I'd need to handle that explicitly.

[2022-01-12 18:25] bartlomieju opened #13355 "Add type-checking for lib.deno_core.d.ts"

[2022-01-12 21:11] lucacasonato opened #13357 "ext/console crashes when deleting `globalThis`"
`console.log(delete globalThis.globalThis);` crashes Deno.

[2022-01-12 21:12] lucacasonato opened #13358 "Deno crashes when deleting `globalThis.window`"
[code]

[code]

[2022-01-13 01:54] xryshirfxn opened #13359 "config file"
I'm not sure if this is an open issue (since I can't find anything similar) but make Deno automatically search for the config file (`$PROJECT_ROOT/deno.json` or `$PROJECT_ROOT/deno.jsonc`).

This can be overridden if you pass the `--config` flag.

[2022-01-13 02:14] Soremwar commented on #13359
#13313

There has been a lot of discussion about this in other issues as well

[2022-01-13 02:26] #13359 closed

[2022-01-13 02:57] Soremwar opened #13360 "Stabilize unix sockets"
Needed for https://github.com/denodrivers/postgres/pull/370

Context: I don't want to go back to unstable :upside_down_face:

Are there any planned refactors or is it just a matter of discussion? I am willing to tackle this

[2022-01-13 03:38] kt3k commented on #13187
Wow. Great! Thanks! @AaronO

[2022-01-13 04:19] ry commented on #13022
Analyzing this benchmark.

It was difficult to run. Here are the steps:
[code]

I had to hack the code in order to get it to build
[code]

By setting the `QLJS_BENCHMARK_LSP_DEBUG=1` env var, you can see what messages the benchmark is sending back and forth.

The file `file:///home/ryan/src/quick-lint-js/benchmark/benchmark-lsp/test.js` is actually [express-router.js](https://github.com/quick-lint

[2022-01-13 12:53] Bzvwf16WSDKoSZd8 opened #13361 "Unable to running Deno v1.17.3 on Windows 10"
Version:
Windows 10 Home edition 21H2 19044.1466
Windows Feature Experience Pack 120.2212.3920.0

Deno zip:
deno-x86_64-pc-windows-msvc.zip

Displaying error dialog with the following error code when I trying to execute Deno v1.17.3
0xc0000022

Folder "%USERPROFILE%\AppData\Local\deno" is removed before I running Deno v1.17.3, but the problem is still existing.

"Deno v1.17.2 is OK!"

[2022-01-13 12:56] lucacasonato commented on #13361
@piscisaureus or @dsherret Do you have any ideas of what the problem could be?

[2022-01-13 13:12] jeremythille commented on #13361
I just updated Deno from 1.17 to 1.17.3 in Windows 10 and I have no compatibility problem at all. Running `deno` outputs `Deno 1.17.3`

[2022-01-13 13:25] Bzvwf16WSDKoSZd8 commented on #13361
Deno v1.17.2 is OK (The all previous version was perfectly fine).
Just Deno 1.17.3 had this problem for me.

[2022-01-13 13:29] jeremythille opened #13362 "Some (but not all) files fail to be served after page refresh"
Deno v1.17.3 (same problem with v1.17.0 before)
Windows 10 Version 10.0.19043 Build 19043

I'm encountering a very strange issue.
When I load my front-end app (static HTML and JS files) for the first time, it works perfectly, the files are served, and the app displays immediately in the browser.

If I reload the page, the same files get requested to the Deno server (index.html, Javascript files) b

[2022-01-13 14:07] lucacasonato commented on #13362
Yes, you are doing something wrong. By putting an `await` inside the outer for await loop, only one connection can be handled at once.

You should use `std/http`:
- https://deno.land/manual@v1.17.3/runtime/http_server_apis
- https://examples.deno.land/http-server

Where did you find this example in the documentation?

[2022-01-13 14:11] lucacasonato commented on #13350
The exact code works with 1.16.4? Can you please include the self signed certificate, or at least instructions for how to generate a failing certificate / private key?

[2022-01-13 14:22] dsherret commented on #13361
Works for me on Windows 10 Pro.

@Bzvwf16WSDKoSZd8 maybe try checking the "Security" tab of Deno v1.17.2 vs v1.17.3 on your system. Are they the same?

If that's not the case, maybe try restarting your computer and reinstalling deno.

[2022-01-13 14:26] porsager commented on #13350
Ah sorry, forgot to mention I'm running with `--unsafely-ignore-certificate-errors` for the test, so should that even matter?

[2022-01-13 14:28] porsager commented on #13350
Even so, it is generated using `sudo openssl req -x509 -nodes -days 365 -newkey rsa:2048 -keyout server.key -out server.crt`

[2022-01-13 15:16] jeremythille commented on #13362
Oooooh my mistake then. I read [the documentation](https://deno.land/manual@v1.17.3/runtime/http_server_apis_low_level#serving-http) again, and the inner `await` should be enclosed inside an anonymous function :

[code]

Thank you very much, my bad. It works perfectly, now. I am an early Node.js adopter, and now I'm trying to think "in Deno".

However, why is it working the first time, and also fo

[2022-01-13 15:17] #13362 closed

[2022-01-13 15:18] lucacasonato commented on #13350
@piscisaureus can you investigate?

[2022-01-13 15:20] lucacasonato commented on #13362
The additional requests were likely made on a second or third connection which was just hanging there because of the await. At some point the browser closed the first connection, which let the server handle the second connection.

[2022-01-13 15:22] lucacasonato commented on #13362
Also, you really don't want to be using the low level APIs. They are [not faster than using std/http](https://deno.land/benchmarks#http-server-throughput), but are a lot easier to use wrong. std/http handles all kinds of edge cases for you, while the low level API does not.

There is pretty much no reason to use the low level API.

[2022-01-13 15:22] jeremythille commented on #13362
Hmmm, I get it. Making progress in learning Deno. Thanks again!

[2022-01-13 15:45] nhrones commented on #13362
@lucacasonato The WebSocket example in 3.5 has a confusing unused `const upgrade`
[code]

[2022-01-13 16:21] danopia commented on #12715
Another usecase, MD5 is used in HTTP digest auth. I ran into this when accessing an API that expects public/private key auth. WebAssembly feels a bit heavy for the amount of data that gets digested here, so I'm using `std/hash` just to have something appropriate for now

[2022-01-13 17:17] lucacasonato commented on #12940
Merged into 9.8 in https://chromium-review.googlesource.com/c/v8/v8/+/3386595. The fix will be present in Deno 1.18.

[2022-01-13 17:20] lucacasonato commented on #12885
Fixed by https://chromium-review.googlesource.com/c/v8/v8/+/3386595. Fix should be available in Deno 1.18.

[2022-01-13 18:17] Bzvwf16WSDKoSZd8 commented on #13361
I found the problem from my Windows Terminal.

[2022-01-13 18:51] #13361 closed

[2022-01-13 20:47] natebowang opened #13366 "Access token environment variable for remote files authorisation doesn't work"
I'm stuck to importing private TS files without exposing the access key described in this [doc](https://deno.land/manual@v1.8.3/linking_to_external_code/private). In the screenshot, there is a token in the environment variables, the token works with `curl`, but loading with Deno failed.
$ deno --version
deno 1.17.2 (release, x86_64-unknown-linux-gnu)
v8 9.7.106.15
typescript 4.5.2

![image](https:

[2022-01-13 20:58] Soremwar commented on #13360
Related https://github.com/rust-lang/rust/issues/56533

[2022-01-13 21:19] ry opened #13367 "remove window variable"
The background for this is that many existing web frameworks incorrectly use `window` as a feature detect for web browsers. This breaks them when server side rendering in Deno, as they think they are running in a browser.

The web frameworks should be feature detecting `document` if they want to know if they have access to the DOM, not `window`.

Nonetheless this practice is so prevalent in the ec

[2022-01-13 22:02] MattiasBuelens opened #13369 "Streams: reject pending reads when releasing reader"
Previously, calling `ReadableStreamDefaultReader.releaseLock()` or `ReadableStreamBYOBReader.releaseLock()` while there are pending `read()` requests would throw a `TypeError`.

The specification has been changed to allow this case, and to reject such pending `read()` requests instead.

Standard change: https://github.com/whatwg/streams/pull/1168
Tests: https://github.com/web-platform-tests/wpt/pu

[2022-01-13 23:31] piscisaureus commented on #13350
I tested it with this code, and it works for me.

[code]

[2022-01-13 23:35] porsager commented on #13350
Just tried your code, and I still get the error. Is there anything I can provide you with from my run to help?

[2022-01-13 23:58] piscisaureus commented on #13350
Can you re-test your test case and confirm that it definitely, without any doubt, works in Deno 1.16.4.

I think that you'll find that 1.16.4 also rejects your certificate (although with a different error "InvalidData: invalid certificate: BadDER", due to [this recent webpki change](https://github.com/briansmith/webpki/pull/184)).

[2022-01-14 01:38] piscisaureus commented on #13350
It seems that rustls (or webpki) refuses to parse self signed X509 version 1 certificates and rejects them as invalid.
I'm not sure that this is really a bug as this is really nonstandard (although still pretty common).

When I use a X509v3 certificate it works (provided `--unsafely-ignore-certificate-errors` is used). On mac you can generate one as follows:

[code]

I think that is not advisable

[2022-01-14 01:46] piscisaureus commented on #13350
More context:

https://github.com/rustls/rustls/issues/127
https://github.com/briansmith/webpki/issues/90

[2022-01-14 07:58] MierenManz opened #13370 "Feature Request: `Deno.isUnstable`"
`Deno.isUnstable` will be set to true or false depending on if `--unstable` is provided or not
The reason why I would like this api in deno is because some modules need `--unstable` for additional functionality which could be enabled or disabled by this flag and not just throw when trying to use a unstable feature when in stable mode

[2022-01-14 08:00] porsager commented on #13350
Ah, well the error was correct then :)

I just couldn't find anywhere in the changelog that this should have changed from 16 -> 17, but I suppose it was a dependency change/update that broke/disabled it?

If my understanding is correct, this PR https://github.com/briansmith/webpki/issues/219 should fix it?

[2022-01-14 08:43] kitsonk commented on #12680
I don't know why you are doing this stalebot... you should be ashamed... 😖

[2022-01-14 08:46] kitsonk commented on #13370
I would disagree with this, because the unstable APIs can and do change from version to version.  That is why they are unstable.  If there was detection of it, people would make wrong assumptions about what is available, basically this would amount to UA sniffing which has not gone well.

If people need to determine if a feature is present, they should feature detect individual features.  If a fea

[2022-01-14 10:08] thephox1982 commented on #5269
I have found on Windows 10 that it is actually only possible to listen on either IPv6 or IPv4, not sure why that is, so I can not have Deno listen to both IPv4 and IPv6 at the same time, I wanted to switch from Node.js which is HORRIBLY insecure to Deno but when the most basic of things doesn't work properly or as expected, it kind of put a damper on putting in the work to move over.

Here's to ho

[2022-01-14 14:35] piscisaureus commented on #13350
I suspect it might have been the rustls 0.19.1 -> 0.20.0 upgrade (which also upgraded webpki 0.21.4 -> 0.22.0): https://github.com/denoland/deno/commit/a2f1357fe81fe212451567cc433c0e6b4a85edc5.

[2022-01-14 15:08] andreubotella commented on #13367
The WPT tests require `window` to be in the global, so if it's removed from Deno, it would have to be re-added, either in the WPT bundle, or in `bootstrapMainRuntime` if the `--enable-testing-features-do-not-use` flag is passed.

[2022-01-14 16:34] #13369 closed

[2022-01-14 16:38] #8475 closed

[2022-01-14 16:38] #12118 closed

[2022-01-14 18:43] ry commented on #13367
@andreubotella can you give an example? I was trying to grep through wpt to see how difficult this would be but couldn’t find any usages that would block our tests.

[2022-01-14 21:04] 06kellyjac opened #13378 "`cancel_try_future` cancels a network I/O future right after polling it vs cancels a spawned task before it actually runs."
https://github.com/denoland/deno/blob/main/core/async_cancel.rs#L649-L677

Shouldn't it cancel a network I/O future *before* polling it like it cancels the task before it runs?

If the test is ran in a hermetic environment it fails with `NetworkUnreachable` I'm guessing since it can't get the initial polling done?

[code]

If it must be canceled after the polling then can the test be modified to u

[2022-01-14 22:50] piscisaureus commented on #13378
That would defeat the purpose of the test.

It is possible, feel free to submit a PR.

[2022-01-14 23:48] akalsi87 opened #13379 "Unable to open file even with `--allow-all`"
I'm trying out `deno`, and trying to serve a static file:

import_map.json
[code]
code:
[code]

shell:
[code]

This may be a noob mistake.

[2022-01-15 00:36] akalsi87 commented on #13379
Figured it out: cannot pass URLs to `Deno.open`

[2022-01-15 00:36] #13379 closed

[2022-01-15 01:00] lucacasonato commented on #13379
@akalsi87 You can pass URLs, but only as URL objects, not as strings.

[2022-01-15 01:17] waynebloss commented on #11657
Will the move into `deno_std` let me use native SQLite bindings instead of the WASM compiled version?

[2022-01-15 02:27] FractalHQ commented on #5301
None of the solutions here have worked for me with the latest Deno version on Windows 10.  I've disabled all the windows defender firewall / windows security bloatware, closed all programs, ran powershell/windows terminal/cmder/cmd as administrator, tried using `runas`, etc, to no avail.

[2022-01-15 06:40] devaaquib opened #13380 "Error : while installing deno"
hii, i was trying to install this but i faced error, i tried but i can't get of it. can you please help so i can install it and use it.

code i ran:

```curl -fsSL https://deno.land/install.sh | sh```

Error it give:
[code]

please solve this as soon as possible.

[2022-01-15 08:22] elchinzadeh commented on #4468
This .dll file should help

https://www.dll-files.com/vcruntime140_1.dll.html

Destination folder: C:\Windows\System32

[2022-01-15 09:07] kitsonk commented on #13380
It appears the user you are using to install with does not have write permision to `/home/aaquib/.deno/bin/`.  This is not an issue with Deno.

[2022-01-15 10:40] MJGaming1532 opened #13381 "Stuck On 0%"
![image](https://user-images.githubusercontent.com/73678945/149618784-6c03969c-75eb-4114-b9da-6750307c3a17.png)
![image](https://user-images.githubusercontent.com/73678945/149618799-05b4f40c-072d-44d2-86ba-b13338c68efd.png)

HELP ME PLS, ITS STUCKING FOR A LONG

[2022-01-15 10:46] MJGaming1532 commented on #13381
![image](https://user-images.githubusercontent.com/73678945/149618961-808e09a5-621f-4723-8dd8-e527bee1dca0.png)
![image](https://user-images.githubusercontent.com/73678945/149618965-86de49cc-d722-4a02-ae4e-191bb0b5fde7.png)

and then its fuckin failed

[2022-01-15 10:47] MJGaming1532 commented on #13381
help me pls

[2022-01-15 10:48] satyarohith commented on #13381
Thanks for opening the issue. We're looking into it.

[2022-01-15 13:12] #12705 closed

[2022-01-15 14:14] pinghe opened #13382 "The deno does not support the socks5h protocol."
[code]
Upgrade failure

[code]
Upgrade success

Differentiate socks5h from socks5. In a proxy string, socks5h:// means that the hostname is resolved by the SOCKS server. socks5:// means that the hostname is resolved locally.

[2022-01-15 14:45] Bzvwf16WSDKoSZd8 commented on #13380
Is it possible to add chmod comand to install.sh?

[2022-01-15 18:52] bnoordhuis commented on #13382
Pull request welcome. This feature request has come up before, see discussion in #11609 for technical details.

[2022-01-15 18:57] bnoordhuis commented on #13366
By the looks of it, you need to drop `@raw.githubusercontent.com` from your `DENO_AUTH_TOKENS`.

If `curl -H "Authorization: bearer $DENO_AUTH_TOKENS" <url>` works, then so should deno.

[2022-01-15 19:05] bnoordhuis commented on #5269
That's not universally true, notably on openbsd.

[2022-01-15 20:18] kitsonk commented on #13366
@bnoordhuis `DENO_AUTH_TOKENS` is _token_@_origin_ format, so that the CLI knows what origins to set for what token.

I am not sure why it isn't working in this specific environment, as we have tests for it and this is the first report of it not working in well over a year. I haven't specifically tried to recreate it with the specific version noted yet, but I really suspect it is something environ

[2022-01-15 20:24] kitsonk commented on #13380
No. Magically changing local file permissions is not something a script should do. The install script works in the bulk of environments, noted by this being the first report of an issue in several years the script has existed.

[2022-01-15 21:24] kitsonk opened #13383 "lsp: better error handling with bad or unavailable registry configs"
As seen in denoland/vscode_deno#609, if a registry configuration is unavailable or corrupt, it sends a client notification instead of just logging the issue to the debug output.  For these type of failures it should just be logged out.  It is also "terminating" the list of origins, instead of just skipping over the "bad" one.

[2022-01-15 22:06] almereyda commented on #2295
While this issue covers `armhf` builds of Deno, to mirror the architecture naming from Ubuntu ¹, the previous error might not be related to that platform. A Raspberry Pi 4 is known to run `arm64`, next to other platforms(32-bit ARM can be emulated, Java bytecode runs natively, as in Android). While it is certainly possible to install and run a 32-bit system on the devices, it would rather not be s

[2022-01-15 23:09] jespertheend commented on #9377
Does `declaration: true` still work? It doesn't seem to do anything, and it appears in a list of ignored options:
https://github.com/denoland/deno/blob/1fb5858009f598ce3f917f9f49c466db81f4d9b0/cli/config_file.rs#L86-L90

[2022-01-15 23:13] Bzvwf16WSDKoSZd8 commented on #13380
@aaquibdev You may try to check the permission setting of "curl" and "unzip" on your system. "install.sh" using those to write the downloaded file and unziped file to disk.

[2022-01-15 23:23] jespertheend commented on #9377
Oh never mind, it seems `declaration: true` does in fact do something. But if you try to emit the same file a second time, it keeps emitting `d.ts` files regardless of your `declaration` setting. Only after you clear the Deno cache will it stop emitting them.

[2022-01-15 23:45] #12716 closed

[2022-01-16 02:31] andreubotella opened #13384 "SIGSEGV when running multiple `MainWorker`s in a single thread"
I was trying to reproduce a case of async APIs hanging when an embedder run multiple `JsRuntime`s in a single thread, and I found that I got a segmentation fault, even though the embedding code had no `unsafe`. This doesn't happen every time, but on my machine it happens most times (whether using the `tla` feature or not), although I haven't been able to reproduce it when running under valgrind.

[2022-01-16 02:31] andreubotella commented on #13384
cc @piscisaureus

[2022-01-16 02:38] piscisaureus commented on #13384
I suspect the culprit is https://github.com/denoland/rusty_v8/commit/83052c45351768c2e8923d1bf557728e03fecbf.

[2022-01-16 15:48] #13129 closed

[2022-01-16 16:10] bartlomieju commented on #13355
Done in https://github.com/denoland/deno/pull/13356

[2022-01-16 16:10] #13355 closed

[2022-01-16 18:23] dsherret commented on #12781
I don't think we want to enoucrage many projects to be created with all the possible compiler options because generally people should not be changing any of the compiler options.

If we do have this command, perhaps just have all the settings mostly empty, which should be a sufficient starting point. The LSP provides autocomplete to explore other options.

[2022-01-16 20:46] pheuter opened #13389 "`deno bundle` fails to resolve react/jsx-runtime"
I'm seeing an issue with this when trying to do `deno bundle` with `react/jsx-runtime`, created repro here with description of error: https://github.com/pheuter/hello-deno#blocking-issue.

Currently unable to bundle client-side code using `react/jsx-runtime` despite `deno run` working just fine using the same code and config:

[code]

[code]

Oddly enough, the issue appears to go away when I expli

[2022-01-17 00:02] ayame113 commented on #10701
I think this issue is happening again after #10702.

[2022-01-17 01:31] ayame113 opened #13390 "Some global variables are not available on globalThis"
For example, `globalThis.close()` raises a type error. (`window.close()` does not raise a type error, but it does raise a lint error.)

[code]

I looked this up in the script below and it seems that I found some similar issues.

<details>
<summary>check.ts</summary>
<div>

[code]

</div>
</details>

[code]

<details>
<summary>output (tmp.ts)</summary>
<div>

[code]

</div>
</details>

<details>
<s

[2022-01-17 01:31] ayame113 opened #13391 "Some global variables are not available on globalThis"
For example, `globalThis.close()` raises a type error. (`window.close()` does not raise a type error, but it does raise a lint error.)

[code]

I looked this up in the script below and it seems that I found some similar issues.

<details>
<summary>check.ts</summary>
<div>

[code]

</div>
</details>

[code]

<details>
<summary>output (tmp.ts)</summary>
<div>

[code]

</div>
</details>

<details>
<s

[2022-01-17 01:33] #13391 closed

[2022-01-17 01:34] ayame113 commented on #13391
It seems that a double submit has occurred (#13390). I'm sorry.

[2022-01-17 04:09] natebowang commented on #13366
Sorry. I forget to export the `DENO_AUTH_TOKENS` to the child process. It works very well.
[code]

[2022-01-17 04:09] #13366 closed

[2022-01-17 05:18] andreubotella commented on #13097
I've been looking at this again, and this seems like an unlikely change to be accepted, since despite the arguments I made, there's no knowing what would break. Depending on how we feel about it, we might enable warnings for non-UTF-8 JS/TS modules and see the user response. But UTF-8 should be required for JSON modules, right?

[2022-01-17 05:19] bartlomieju commented on #9886
@elemental-mind sorry for replying so late. I did triage this issue and here are my findings:
1. what you described in the first comment is related to https://github.com/denoland/deno/issues/12417#issuecomment-1000773654 - ie. the code is so short that it finishes execution before VSCode has a chance to discover and connect to the inspector. The same would be true if you used Chrome DevTools. The

[2022-01-17 05:19] #9886 closed

[2022-01-17 05:26] bartlomieju commented on #9640
I just triaged this issue and I can't reproduce the problem anymore. Here's my setup:
[code]
[code]

Running in VSCode with `F5` to start a debugger:
[code]

Here's the output of `deno info`:
[code]

I believe this is no longer an issue, as source map is embedded as a base64 encoded string and doesn't have any angle brackets. I'm tentatively going to close this issue as fixed.

[2022-01-17 05:26] #9640 closed

[2022-01-17 05:27] bartlomieju commented on #9787
I believe this is now working as expected, see https://github.com/denoland/deno/issues/9640#issuecomment-1014155593. I'm going to tentatively close this issue as fixed, let me know if the problem still persists in the latest version of Deno.

[2022-01-17 05:27] #9787 closed

[2022-01-17 05:50] #13199 closed

[2022-01-17 06:18] andreubotella commented on #13367
It's true that most WPT tests that we run, even the `*.window.js` ones, don't depend on the presence of `window`, but there are some that do. For example, the webstorage tests use the `window[name]` pattern all the time, where `name` can be either `"localStorage"` or `"sessionStorage"` (https://github.com/web-platform-tests/wpt/blob/master/webstorage/defineProperty.window.js). But it seems like th

[2022-01-17 09:10] dadooda opened #13393 "Introduce a way to tell `deno run` to parse the script as TypeScript"
Hey community,

I presume it would be nice to have an option flag to `deno run` to tell that one wants to parse the file as TypeScript even though it doesn't have a `.ts` extension.

Consider this CLI shebang executable script, named `hello.ts` and `hello`:

[code]

Trying to run it produces the following:

[code]

As there could be multiple reasons to have a CLI executable named without the `.ts`

[2022-01-17 09:11] crowlKats commented on #13393
Duplicate of #5088

[2022-01-17 09:11] #13393 closed

[2022-01-17 11:58] AaronO opened #13394 "URLPattern panic"
## Minimal reproduction

[code]

## Expected behaviour

Running the reproduction case in Chrome yields:
[code]

## Cause

This happens because of an `.unwrap()` in our `rust-urlpattern` crate: https://github.com/denoland/rust-urlpattern/blob/fdb0bbb45613b346cb1bfef57c16fc8af97fa1ff/src/component.rs#L195

[2022-01-17 12:47] AaronO commented on #13394
Possibly an issue in the spec: https://github.com/WICG/urlpattern/issues/156

[2022-01-17 13:34] AaronO commented on #13394
Quickfixed by https://github.com/denoland/rust-urlpattern/pull/26, available in https://crates.io/crates/urlpattern/0.1.4

[2022-01-17 13:44] DetachHead commented on #12759
new activity just dropped 😳😳😳😳

[2022-01-17 13:48] GerbenRampaart opened #13396 "Proposal: dotenv + computed env types in std"
Part of almost every node project I've done is validating the env variables, both their existence and content (type, formatting, defaults and such). Joi is a great way to do that, I've also created my own module as a simpler version of what Joi does (https://www.npmjs.com/package/dotenv-typed) and for Deno there is the computed_types third party (https://deno.land/x/computed_types@v1.1.0).

My pro

[2022-01-17 13:52] GerbenRampaart commented on #13396
To slightly elaborate in case anyone wonders why the strict checking on env variables; I work in a corporate environment where key/value stores are managed by technical application managers who monitor and supports apps in production (like values.yml for kubernetes). They frequently enter wrong values, or make typos. I imagine this happens for many other developers as well. Clean errors in the log

[2022-01-17 13:55] bartlomieju commented on #13396
I'm not familiar with either `joi` or `dotenb-typed`; but having `dotenv` as a `deno_std` module makes sense to me. If the author of that package would be willing to have it merged in `deno_std` we can discuss this topic.

[2022-01-17 13:59] bartlomieju commented on #12092
Pointed by @evanwashere on Discord, we could probably use `object_id` from CDP messages to store references to `globalThis` and `Deno`, and then use [`callFunctionOn`](https://chromedevtools.github.io/devtools-protocol/tot/Runtime/#method-callFunctionOn)

[2022-01-17 14:03] gufoe commented on #13067
I am having the same issue, I will add some logs hoping they can help somebody.
The problem only appears when I try to run the executable inside a docker container on `debian:bullseye-slim`. I tried installing `libv8-dev` and `nodejs` on the container, hoping they could provide some dependencies, but nothing changed.

The lines causing the issue:
[code]

Full backtrace (problem is point 4-5):
[cod

[2022-01-17 14:11] gufoe opened #13397 "JsRuntime::new in docker container panics on "No such file or directory""
I am having the same issue described [here](https://github.com/denoland/deno/issues/13067), I will add some logs hoping they can help somebody.

The issue is that running this code will panic with the error
[code]

[code]

The problem only appears when I try to run the executable inside a docker container on `debian:bullseye-slim`. I tried installing `libv8-dev` and `nodejs` on the container, hopi

[2022-01-17 14:13] lucacasonato commented on #13397
Are you using a runtime snapshot?

[2022-01-17 17:54] dsherret opened #13399 "Implement test step metadata"
We are stabilizing test steps in #13055 without the metadata described in #10771.

We still need to implement metadata sometime and it probably should be done under unstable for now.