[2020-05-26 19:33] teknsl commented on #5857
still happens in 1.0.2

[2020-05-26 19:46] piscisaureus commented on #5848
@kdy1 stack frame size report: https://gist.github.com/f4acf72698d355f916f5997ecd1469ea

[2020-05-26 19:53] dsherret commented on #5850
I'll fix this one.

[2020-05-26 20:01] kitsonk commented on #5781
I don't think anyone said TypeScript is the source of truth. It is a first class language. Outputting to a TypeScript bundle is inefficient, as it would require reparsing again. Outputting the `.d.ts` file is just as truthful as outputting TypeScript and more efficient and subsequent consumption.

Source maps is #4499.

[2020-05-26 20:05] kitsonk commented on #5653
That is why the issue is open @amarkantku.

[2020-05-26 21:45] LayZeeDK commented on #5722
That's right, it's PowerShell Core. Sorry if that wasn't clear. Unfortunately, I already tried that command and it didn't help.

[2020-05-26 21:58] marcosc90 opened #5884 "fetch request.formData does not work for binary files"
Similar to https://github.com/denoland/deno/issues/4877 but for `Request`.

Right now binary files posted using `fetch` are corrupted.

[2020-05-26 22:08] marcosc90 commented on #5884
I already have a working implementation, will write some tests and do some cleanup before I submit a PR.

[2020-05-26 23:08] MarkTiedemann commented on #5722
Just installed Powershell Core 7.0.1 using scoop. `Expand-Archive` works for me.

Maybe you are affected by this issue? https://github.com/PowerShell/Microsoft.PowerShell.Archive/issues/59

In any case, I think this not a Deno issue, but an upstream Powershell Core issue.

[2020-05-26 23:45] Almoullim commented on #5829
possible related to https://github.com/denoland/deno/issues/5884 and  https://github.com/denoland/deno/issues/4877

[2020-05-27 00:03] lemaguilera commented on #5816
In my case, compile deno in the root user, and I run the script without problems, I have already tested in production and everything is fine, although it is not good practice to use root, for now I am moving forward with other problems while a final solution comes out to use with another user with sudo

[2020-05-27 00:08] dhanushkac opened #5887 "How to access port and hostname with serve"
I tried writing something like this.

`console.log(`Sever is runninng at ${hostname}:${port}`)`

`
const s = serve({ port: 3001 });
const addr = s.listener.addr;
`

The result object is like this `{ hostname: "0.0.0.0", port: 3001, transport: "tcp" }` but when accessing port gets following error.

`
error: TS2339 [ERROR]: Property 'port' does not exist on type 'Addr'.
  Property 'port' does not ex

[2020-05-27 00:28] ghost opened #5888 "Property 'openPlugin' does not exist on type 'typeof Deno' despite --unstable flag being present in Procfile"
`deno 1.0.2
v8 8.4.300
typescript 3.9.2`

When deploying locally using the following command:

`deno run --allow-net --allow-write --allow-read --unstable --allow-plugin server.ts`

There are no errors. Works.

When deploying to Heroku with the following inside of the Procfile:

`web: deno run --allow-net=:${PORT} --allow-write --allow-read --unstable --allow-plugin --cached-only server.ts --port=

[2020-05-27 00:52] hermesespinola commented on #1453
Hi @humancalico, sorry I've been working on other stuff since then, please, take it!
I have code for setting up the test_server with hyper, I can share it with you and explain my approach if you'd like.

[2020-05-27 00:52] zhmushan commented on #5839
I can't reproduce this.

[2020-05-27 02:32] Wallacy commented on #5791
I’m was thinking about this yesterday! Luckily someone already did a great job in this document that you linked!

My 2c:

[code]

If this can be used per module basis will be very handy to public libraries.

[2020-05-27 02:47] Yamboy1 commented on #5727
@MarkTiedemann I think this misunderstanding, which is a perfect description, is due to how installation is depicted by a majority of a windows users. This comes back to what "install" actually means. If we go to the man page for the install command on linux, it says this "install - copy files and set attributes". The reality is that installation it not just the matter of downloading an executable

[2020-05-27 03:10] kitsonk commented on #5839
Same here... what version of Deno?

[2020-05-27 03:32] wsporto opened #5889 "Redirected to CLI_SNAPSHOT.js when debugging"
When I try to debug a simple script I get redirected to CLI_SNAPSHOT.js.

![image](https://user-images.githubusercontent.com/26843533/82974546-9c167780-9fb0-11ea-8615-4b21f48108af.png)

![image](https://user-images.githubusercontent.com/26843533/82974674-e4ce3080-9fb0-11ea-94d3-40dcf9bc537b.png)

Here is my launch.json

[code]
When I put the breakpoint at line 3, I am not redirected at first, but

[2020-05-27 04:10] satishbabariya commented on #5839
[code]

[2020-05-27 04:17] satishbabariya commented on #5839
oh, it's working with `1.0.2` after upgrading. the only issue was in `1.0.0`

[2020-05-27 05:20] kitsonk commented on #5839
You are using the master branch of standard, it is only compatible with the master branch of Deno.  It is by luck that it works with 1.0.2.  The version compatible with 1.0.0 is `v0.51.0` (`https://deno.land/std@v0.51.0/uuid/mod.ts`).  The version with 1.0.2 is `v0.53.0` (https://deno.land/std@v0.53.0/uuid/mod.ts`).

[2020-05-27 05:35] satishbabariya commented on #5839
@kitsonk thanks for clarifying.
so the std@1.0.0, std@1.0.1, and std@1.0.2 are missing?
also, is there any warning message shown when running incompatible std lib with deno?

[2020-05-27 06:28] glaucia86 commented on #5435
Waiting for the next steps with @ry folks.

cc: @khaosdoctor

[2020-05-27 06:58] kitsonk commented on #5839
There is mention of it in the manual which was added here https://deno.land/manual/standard_library#versioning-and-stability but it looks like the README was not updated: https://github.com/denoland/deno/tree/master/std#how-to-use.

cc/ @bartlomieju @lucacasonato

[2020-05-27 07:00] kitsonk commented on #5839
@satishbabariya you were also likely ignoring the warning that was being logged to the console...

[code]

[2020-05-27 07:12] LayZeeDK commented on #5722
Works with native PowerShell on Windows 10.

Output of `$PSVersionTable`
[code]

@MarkTiedemann you're probably right. I'll close this issue for now and do some research on this PowerShell error.

Thank you for your help!

[2020-05-27 07:12] #5722 closed

[2020-05-27 09:04] dgpgdev commented on #5871
sure --watch mode is so usefull when you code an api. Maybe --watch [path to folder or file watching]

[2020-05-27 09:08] marcosc90 commented on #5862
it's currently possible to implement a cookie jar on userland.

[code]

[2020-05-27 09:50] Swap76 opened #5892 "Documentation Generator part in Docs empty"
<img width="782" alt="Screenshot 2020-05-27 at 3 07 23 PM" src="https://user-images.githubusercontent.com/37082605/83003351-d1ac7680-a02b-11ea-8b30-2631dbd758d0.png">

 We can do the document generator also coming soon like a linter
<img width="451" alt="Screenshot 2020-05-27 at 3 08 10 PM" src="https://user-images.githubusercontent.com/37082605/83003461-f99bda00-a02b-11ea-940e-0701ac702c88.png">

[2020-05-27 10:00] rwieruch opened #5894 "Environment Variable in Deno undefined"
I tried the following to get an environment variable in Deno with Deno's std library.

*.env* file:

[code]

*index.ts* file:

[code]

Now if I fallback to dotenv as third party library, it works as expected:

[code]

I run this script with `deno run --allow-env --allow-read index.ts` whereas `--allow-read` is needed for dotenv and `--allow-env` for the std. Am I doing anything wrong here? I know

[2020-05-27 10:11] #5892 closed

[2020-05-27 10:30] kdy1 commented on #5848
@piscisaureus I fixed it and published a new version.

[2020-05-27 10:59] armujahid commented on #5878
Can I claim this issue? I will ask if I need any help.

[2020-05-27 11:04] rozaydin commented on #5816
I do have the exact same problem, i am running with sudo to overcome the issue (I also chmod 777 the cert and key with no luck)

[ec2-user@ip-172-31-9-36 linkedin]$ deno run -Ldebug --allow-net --allow-read ./src/main.ts
Deno isolate init with snapshots.
rust:shared_queue:reset
DEBUG JS - cwd /home/ec2-user/projects/linkedin
DEBUG JS - args []
main_module file:///home/ec2-user/projects/linkedin/sr

[2020-05-27 11:15] litao9238 opened #5895 "求不要更新了，老子学不动了 Please don't update, Lao tze can't move"
求不要更新了，老子学不动了 Please don't update, Lao tze can't move

[2020-05-27 11:43] MarkTiedemann commented on #5894
This works on my machine:

[code]

Do you expect Deno to read `.env` files by default?

`--allow-env` allows accessing environment variables via `Deno.env`.

[2020-05-27 12:16] max-pub opened #5897 "deno run with basic authentication"
Please support basic authentication for "deno run" like
[code]

[2020-05-27 12:28] bartlomieju commented on #5889
What version of Deno do you use? This problem was fixed in 1.0.0-rc3 and I can't repeat it locally

[2020-05-27 12:29] bartlomieju commented on #5878
@armujahid thanks, but this issue is currently blocked by another ongoing refactor in: https://github.com/denoland/deno/pull/5817

[2020-05-27 12:31] xXACCEXx commented on #5894
`.env` files are not native to anything.

In order to use them, there has to be a framework for it; that's what the `https://deno.land/x/dotenv/mod.ts` lib does.

[2020-05-27 12:31] xXACCEXx commented on #5894
Actually, some native support for `.env` files would be handy for devOps... just sayin'.

[2020-05-27 12:53] Xernisfy commented on #5887
Hi, @dhanushkac,

I found this in the Typescript docs:
https://www.typescriptlang.org/docs/handbook/advanced-types.html#discriminated-unions

So this is working for me:
[code]

[2020-05-27 13:34] #5895 closed

[2020-05-27 13:37] ry commented on #5897
Yes we should support this. Not a high priority for me, but I'd be happy to lend some guidance to anyone who wanted to add this.

[2020-05-27 13:53] rwieruch commented on #5894
Ah okay. Somehow I assumed naively that the *.env* would be picked up from Deno the same way as it is picked up for dotenv. So if I am using a *.env* file, then I would always opt-in dotenv? Thanks for the clarification here!

I understand! Thanks for clarifying this! 👍

[2020-05-27 13:53] #5894 closed

[2020-05-27 14:34] neves commented on #5871
Probably denon will be the way to go, since it can evolve outside the core

[2020-05-27 14:53] adoi commented on #5887
Typescript only allows accessing common members to all types in the union, in this case we can access only `transport`. Letting developers use type guards or even type casting to UnixAddr or NetAddr shouldn't be the preferred solution imo. It could be either provided as `Deno.port()` like it is (currently unstable) for `Deno.hostname()`, or it could be handled easily by adding an optional interfac

[2020-05-27 15:11] bartlomieju commented on #5040
Thanks to @orta Deno config is now available here: https://github.com/tsconfig/bases/pull/12

[2020-05-27 15:12] MarkTiedemann commented on #5894
Note that in my example, I did not need to specify `--allow-env`, because I was using `deno eval`. Usually, you are gonna run a script using `deno run`, in which case you do need to specify `--allow-env` to access environment variables. Here's an example:

[code]

[2020-05-27 15:19] #5848 closed

[2020-05-27 15:20] orta commented on #5040
Yeah, the tricky thing for deno users here is that it comes vendored from npm (TypeScript / vscode will use the node path resolution to find it in the `"extends"` field) - though grabbing the tsconfig file directly from unpkg could be feasible too.

[2020-05-27 15:50] dgpgdev commented on #5871
sorry for my english but bundle, lint, test are in deno core why watch must be outside the core ? watch is usefull in many dev process, in my opinion it's a great idea to do out of the box watch system in deno.

[2020-05-27 15:51] danbulant commented on #3234
@jardicc you can already do alerts with [https://github.com/divy-work/autopilot-deno](autopilot), but there's no way to determine which button (close or confirm) was used, yet. Author is still working on it, and it will probably have more info soon (hopefully)

[2020-05-27 16:12] legowerewolf commented on #5862
If Deno's `fetch` and `headers` APIs match specs, the Cookie header is one of the [forbidden header names](https://developer.mozilla.org/en-US/docs/Glossary/Forbidden_header_name), and that won't work. I'm surprised that that library works after inspecting it.

[2020-05-27 16:15] actual-size opened #5900 "Unable to import Javascript files from TSX"
Minimal reproducible example is:
[code]
Regardless of whether or not foo.js exists, this yields `error: TS2307 [ERROR]: Cannot find module './foo.js' or its corresponding type declarations.`

Behaviour exists when trying to import either `.js` or `.jsx` from `.tsx` and not from any other permutation.

Is this simply a bad error message covering up a case where it expects me to specify a type file?

[2020-05-27 16:19] marcosc90 commented on #5862
It's forbidden on the client, it wouldn't make sense to make that limitation on a server side HTTP client to be honest.

Deno should match the spec where it makes sense to match it. The same way we had to go around the spec for `Set-Cookie` header.

[2020-05-27 16:22] alirealasad opened #5901 "deno run with flags"
I have a feature request.

`deno run --flags=myflags.json main.js`

where myflags.json will contains all the arguments like
[code]
because typing those argument again and again feels tedious.

[2020-05-27 16:36] fisforfaheem commented on #5727
Thanks everyone for support, and Love, Hope to learn deno on *windows 10( simple and productive .period). *linux is love too but without that bash thingy...

[2020-05-27 17:05] anirudhgiri opened #5902 "console.table() adds an extra empty column titled with the heading "Values" when tabulating 2D arrays"
## Issue

Passing a 2D array into console.table() appends an empty column titled "Values".

### Code
[code]

### Expected Behavior

| (index) | 0 | 1 |
| ------------- | ------------- | ------------- |
| 0  | Apples  | Oranges |
| 1  | Bananas | Cherries |

### Actual Behavior
| (index) | 0 | 1 | Values |
| ------------- | ------------- | ------------- | ------------- |
| 0  | Apples  | Oranges |

[2020-05-27 17:07] nayeemrmn commented on #5901
This problem affects all CLI programs... it doesn't make sense for Deno to implement such a general problem and there is already a general solution:
`deno run $(cat myflags) main.js`
[code]

[2020-05-27 17:10] Speykious commented on #5653
Oh... I didn't know, I thought I fixed it somehow.
I'll try to see how I can fix it

[2020-05-27 17:45] legowerewolf commented on #5862
I fiddled around a bit with Deno and Postman-Echo. Deno sends cookie headers. I must be missing something. (I'm trying to rewrite https://github.com/legowerewolf/ao3-fetch-js for Deno and running into snags in the login process.)

[2020-05-27 19:02] bartlomieju commented on #5900
@actual-size thanks for opening the issue; definitely a bug introduced in #5029

[2020-05-27 19:03] khaosdoctor commented on #5435
Let's just wait for the final guidance here so we can make it happen :)

[2020-05-27 19:18] ry commented on #5435
We don’t have the capacity to maintain translations in the main repo. Once there is something up, send a PR adding a link to the manual.

[2020-05-27 19:37] wsporto commented on #5889
deno 1.0.2, vscode 1.45.1 with all extensions disabled, Windows 10.

![image](https://user-images.githubusercontent.com/26843533/83064015-7a140800-a037-11ea-9c3e-22053a9e2433.png)

[2020-05-27 20:03] boskiv commented on #3616
Please don't forget about private registries. Many Companies want to user their own private modules in projects.
There is important part of development process.

[2020-05-27 20:24] kitsonk commented on #5040
@orta well this wouldn't be used by the Deno runtime at all, it would be used by those who are trying to mimic enough of Deno somewhere else, so it being in a npm package is not a limiter there.

[2020-05-27 20:53] tumile commented on #5897
Hi @ry I can work on this, please let me know where to start.

[2020-05-27 21:11] pedropaulosuzuki commented on #5902
Happens on 1.02 as well.

Deno: 1.0.2
v8: 8.4.300
Typescript: 3.9.2

![image](https://user-images.githubusercontent.com/32345702/83072568-61aaea00-a045-11ea-8315-47a62efb2ec2.png)

[2020-05-27 21:15] jakajancar commented on #5897
Would you then expect that imports also contain username/pass?

Or would the username/pass from the root script magically apply to all imports with the same host (quasi "logged in")?

Or would it work only for single-file scripts?

#1 and #2 seem pretty weird to me. #3 seems clean, though not sure if still useful to people.

[2020-05-27 21:15] pedropaulosuzuki commented on #5902
And not only with arrays of arrays, but also on arrays of objects. And there might be other cases as well.

![image](https://user-images.githubusercontent.com/32345702/83073009-16450b80-a046-11ea-97ff-c2a6457db9a2.png)

[2020-05-27 21:17] Wallacy commented on #5863
FWIW: As i said before, people will try to shortcut anything repetitive over time: #5901

I'm always prefer something more explicit than less, that's why i love typescript, but instead a "non official" hack, i think read the flags from shebang notation is still very explicit and type safe.

[2020-05-27 21:22] Wallacy commented on #5791
Also, I'm in favor to drop de support of the json import_map from cli;

After change the module definition, you will need to keep import_map as part of the live cycle anyway and always use it. Using a ts/js as regular part of the module can be more useful;

[2020-05-27 22:51] rotemdan commented on #5290
After thinking about this further I've found a simple alternative solution that guarantees 100% content addressed safety and reproducibility for the entire dependency tree:

It would look like this:
[code]

Where `lock_cid` is a content identifier (basically a hash in a flexible format) for a lock file that would include the hash of the target file (here `module.ts`) as well as the hashes of **all

[2020-05-27 23:04] srdjan commented on #5290
ha! I had similar thoughts here: https://github.com/denoland/deno_website2/issues/406#issuecomment-633298685

[2020-05-27 23:50] Angelfire opened #5911 "Translation to Spanish"
Hi Denors!

I'm from Colombia (spanish speaker), I just want to know, is there any plan to translate Deno manual into spanish? I am really interested in helping in this project.

Kind regards

[2020-05-28 00:28] rotemdan commented on #5290
@srdjan
Interesting you were going the same way.

I've modified this approach through several iterations and eventually came to a solution that doesn't actually require the library authors to know anything about the existance of a lock file or even the hashing scheme. I'll try to clarify some aspect for the design :

The hash part (`#`) is never actually sent to the server, it is only for local us

[2020-05-28 01:58] Yamboy1 commented on #5897
For imports, especially as basic authentication isn't available all the time, think local urls, it seems like a decent idea to add a cli option for this, or preferably a path to a file with credentials similar to `ssh  -i ~/.ssh/identity_file`. Either this or environment variables seems plausable as well. These credentials would also work for accessing the original file if you're trying to run a f

[2020-05-28 02:29] dhanushkac commented on #5887
I tried this. it also gives me the same result as posted.

[2020-05-28 02:40] wongjiahau opened #5912 "`deno bundle` not showing exact type error [Fixed]"
In `v1.0.0`, the `bundle` command does not show exact information of type errors.
This problem is fixed after I upgraded Deno to `v1.0.2`.

[2020-05-28 02:40] #5912 closed

[2020-05-28 03:05] hugoruscitti commented on #5911
I can help too !

[2020-05-28 03:27] tumile commented on #5786
Also `connectTls`
[code]
[code]
It's because `certFile` path is not canonicalized before checking for permission. Kinda similar to #5742. I'm gonna make a PR for these two functions.

[2020-05-28 04:53] slaveofcode commented on #5512
I was expecting that deno would be possible to compile to binary, I'm a big fan of a single binary format (inspired by Go) which offers simplicity on fast scaling experience and small size (k8s)

[2020-05-28 05:08] wongjiahau opened #5913 "Allow `deno bundle` to target `ES3`"
Currently, the code emitted by `deno bundle` is targeting ESNext, which render the code un-executable for environments that does not support ESNext yet.

Therefore, I wish to run `deno bundle` like this:
[code]

[2020-05-28 06:57] j127 commented on #3827
Now that Prettier exists, there is finally a reasonable way to format the code while still allowing enough freedom to adjust the most important preferences. If Deno follows Prettier's configuration model and even were compatible with `.prettierrc` syntax, I think most people would be happy.

Indentation is probably the most important thing, but there are other things that should be configurable.

[2020-05-28 07:05] caspervonb commented on #5791
Any kind of module import would be at odds with the import-map specification because all import-maps have to be fully resolved before any imports take place.

So, your example:

[code]

Uses an default module export, which has to be imported, but imports can't be resolved before all import-maps have been resolved... basically it's a chicken and egg problem and it's explicitly disallowed.

The next

[2020-05-28 08:22] hayd commented on #3827
Since dprint now supports config, deno should allow it..

[2020-05-28 08:32] davidcallanan commented on #3827
@j127 Interesting opinion.

I think the most important configuration option is to be able to use tabs, as that allows each user to configure the tab width for themselves in their editor.

However, the option to choose between single quotes and double quotes doesn't support your argument when working in a team, since you still need each team member to agree - which is unlikely. I think something li

[2020-05-28 09:22] aduh95 opened #5916 "URL support for Deno FS methods"
I would like to be able to do something like that:

[code]

Currently this fails the TypeScript type checking, and even when bypassing it, it throws a `NotFound: No such file or directory (os error 2)` error.

FWIW Node.js `fs` module methods support it, and IMO it would be a neat addition to Deno.

[2020-05-28 09:39] rotemdan commented on #5290
Alright, after considering it even more, I've realized that the lock file isn't even strictly necessary to be stored anywhere. Instead, it can be regenerated purely based the content and structure of the dependency tree for verification purposes.

It's actually pretty simple:

Say I want to import this URI, but I also want a strong proof that ensures that what I get is always the same:
[code]

I u

[2020-05-28 10:26] rluvaton opened #5917 "Does Deno support private registry?"
Does Deno support private registry for development in the company private network (without internet access to the outside world)?

[2020-05-28 10:27] marekkaczkowski commented on #5326
1. I have completions at `/usr/local/share/zsh/site-functions/_deno`,
2. when starting terminal `deno` completions does not work,
3. BUT after running `autoload -U compinit && compinit` it works as expected :|,
4. SO `zsh` runs `autoload -Uz compinit && compinit` from `settings.zsh` (to early, especialy if you're using `oh-my-zsh`) moving to `plugins_after.zsh` fixed my issue.

[2020-05-28 10:35] teknsl opened #5918 "await (async () => {})() :: Cannot find name 'await'.ts(2304)"
[code]
syntactically it is correct, but still it returns error ``Cannot find name 'await'.ts(2304)``

[2020-05-28 10:36] j127 commented on #3827
That seems like an organizational problem though. Someone has to be the manager or team leader and/or just vote on it or flip a coin. Like dsherret mentioned above, the simplest solution is to say "just use the defaults." Locking the options for everyone because a few people have trouble saying "just use the defaults" doesn't make sense, especially in a language that already has a long history and

[2020-05-28 10:38] #5901 closed

[2020-05-28 10:38] rluvaton commented on #5917
It is

[2020-05-28 10:46] #5917 closed

[2020-05-28 10:49] marcosc90 commented on #5918
Note: It works perfectly fine with `.js` files, it's the TS compiler throwing that error.

[2020-05-28 10:53] rluvaton commented on #3158
There is a GitHub repo that kind of do that https://github.com/garronej/denoify

[2020-05-28 11:10] disizali commented on #5916
in case of support for accepting URL type argument in fs methods, it should be an easy fix if Deno decides to have.
I think @marcosc90 is working on it as stated in [this comment](https://github.com/denoland/deno/pull/5652#issuecomment-633009323).

_However, it is now available with `fromFileUrl` function from path module._
[code]

[2020-05-28 11:18] kitsonk commented on #5918
I thought we had an issue for it open here, but it is an upstream TypeScript bug.  Ref: https://github.com/microsoft/TypeScript/issues/38483

[2020-05-28 11:22] kitsonk commented on #5913
`deno bundle` is not intended to target other runtimes than Deno, while the unstable `Deno.bundle()` can support your requested feature (https://deno.land/manual/runtime/compiler_apis#denobundle).

[2020-05-28 12:11] David-Else commented on #5871
Denon does a lot of cool things, I am sure it could switch to using a core version of '--watch' and benefit from it. It used another file watcher until that was built into Deno core, it quickly switched to use the Deno version.

[2020-05-28 12:26] viandwi24 opened #5919 "await import() - Dynamic Import Does Not Work in Repo deno.land Online"
when I do a dynamic import on local it runs, but when the module is already online I add deno to database.json. why does import () always automatically give "https://deno.land"?

Code:
let my_lib = "/home/viandwi24/tes.ts";
let file = await import (my_lib);

[In Local]
Output: "/home/viandwi24/tes.ts";

[In Online]
Output: "https://deno.land/home/viandwi24/tes.ts";

this causes an "not found" erro

[2020-05-28 12:29] getspooky opened #5920 "feat(std): Add Package template implements data-driven templates for generating HTML"
Hi,
I think that it's good idea to add package template (html/template) that implements data-driven templates for generating HTML output safe against code injection.
what do you think ??

[2020-05-28 12:30] #5902 closed

[2020-05-28 12:49] viandwi24 commented on #5919
Solved, a added "file:///" in path before import.

let my_lib = "file:///home/viandwi24/tes.ts";
let file = await import (my_lib);

[2020-05-28 12:50] #5919 closed

[2020-05-28 13:38] dorshinar opened #5921 "Deno.run throws file not found on windows"
Hi 👋

I'm having some issues using `Deno.run` on windows 10. No matter what command I'm trying to run, it throws an error: `Uncaught NotFound: The system cannot find the file specified. (os error 2)`.
The file contains the following code:
[code]
And when I run it in a PowerShell environment:
![83147012-c3c82580-a0ff-11ea-9077-f7a65d5c7b6c](https://user-images.githubusercontent.com/17943918/8314758

[2020-05-28 14:39] marcosc90 commented on #5921
That's because `echo` is not a program in windows, it's a command from `cmd.exe`.

The following should work:

[code]

See: https://superuser.com/questions/1084349/where-is-the-echo-command-file-found/1084354#1084354

[2020-05-28 14:39] andykais commented on #1739
Just a thought, nodejs has an [experimental loaders](https://nodejs.org/docs/latest/api/esm.html#esm_experimental_loaders) feature. Why not model the public compiler api after this? Deno shouldnt care about supporting any other languages, instead it should expect the output of a loader to be consumable javascript (or typescript)

[2020-05-28 14:55] IbrahimFadel opened #5922 "Script runnnig"
Hi, I'm not sure the exact state of deno right now. I was just introduced to it. One of the things I was wondering, was how we can handle running commands similarly to nodejs in the package.json.

So previously we could define, for example:

[code]

Is there a way to do this in deno, otherwise, how should a development environment be done?

[2020-05-28 14:59] nayeemrmn commented on #5922
Duplicate of #5255.

[2020-05-28 15:02] #5922 closed

[2020-05-28 15:07] dorshinar commented on #5921
Thanks!

[2020-05-28 15:07] #5921 closed

[2020-05-28 15:17] Wallacy commented on #5791
This docs already cover those concerns: https://github.com/WICG/import-maps#dynamic-import-map-example

Let's remember that is a in browser proposal first, not Deno specific, of course any way that Deno choose to implement may influence on browsers in the future. (the doc cites Deno too)

Also  i don't see chicken and egg problem. For me is very clear: Load the import map will change the subsequen

[2020-05-28 15:32] juanpenarandaosf commented on #47
Another comment here from someone who sees benefit in the package.json listing all the different packages that a project has.

One thing that I wonder is, what happens if we need to upgrade a package to a new version? In node we could update the package.json and keep the "require('express')" for example. But in deno I understand we should go through every file and update it there. To me there shou

[2020-05-28 15:41] crowlKats commented on #47
@juanpenarandaosf you are asking for import maps basically, which are already a thing

[2020-05-28 15:44] juanpenarandaosf commented on #47
Beautiful! thank you

[2020-05-28 16:10] marcosc90 commented on #5916
I'm currently working on https://github.com/denoland/deno/issues/4877 so I don't mind if someone else picks it up.

[2020-05-28 16:18] ry commented on #5913
Should be relatively easy to support in the case there are no exports?

[2020-05-28 16:21] MarkTiedemann commented on #5918
@kitsonk You mentioned this issue before in https://github.com/denoland/deno/issues/471, which is a general issue about top-level await. Might be good to keep this one open just for this specific issue.

[2020-05-28 16:40] alexandregv commented on #5640
This will need to have a downloadable .exe or .msi installer, available from a single link.

https://github.com/microsoft/winget-pkgs#authoring-a-manifest

Related issue #5727

[2020-05-28 17:03] ry commented on #5255
This is out of scope. I appreciate that this is useful functionality but I don't think it belongs in deno itself.

[2020-05-28 17:03] #5255 closed

[2020-05-28 17:16] alexanderGalushka opened #5924 "feat (std): implement HmacSha512"
[HmacSha256](https://github.com/denoland/deno/blob/ebae1a20d59a50a53c99a14019c841a10839f95f/std/hash/sha256.ts) is implemented.

HmacSha512 is missing atm.

512 is faster than 256 on 64-bit machines, it would be a nice tool for deno to have under its belt.

[2020-05-28 17:23] alexanderGalushka commented on #5924
consider porting https://github.com/chiefbiiko/hmac into std for 512 implementation

[2020-05-28 17:35] #5850 closed

[2020-05-28 17:54] tumile commented on #5786
Resolved by #5642.

[2020-05-28 18:46] tumile commented on #5816
Non-root process can't bind to 443. It's not deno's problem. Try
[code]

It should probably be something like this
[code]

[2020-05-28 18:55] armujahid commented on #5825
I think we can utilize [shellexpand](https://crates.io/crates/shellexpand) crate here. What do you think?

[2020-05-28 19:12] Macil commented on #5920
This seems like the sort of thing that could be done in user-space. I have an npm package [auto-html](https://www.npmjs.com/package/auto-html) which can be used with Deno through Pika CDN (`import autoHtml from "https://cdn.pika.dev/auto-html@^1.2.0";`).

[2020-05-28 19:24] #5421 closed

[2020-05-28 20:03] mattd3v commented on #5798
I'm getting much more comfortable with the `cli/doc` code, and will implement named exports.

However, I've found a second bug, which occurs when given a comment like the following:

[code]

Running the `doc` command yields:

[code]

I'm currently improving some of the tests to make them fail where they should.

[2020-05-28 20:31] kitsonk commented on #5913
@ry not really, especially targetting ES3.  The bundle loader is written in ESNext and isn't transpiled (see #4559).  Also, we would want to use `--config tsconfig.json` than supporting individual flags.  We don't allow different targets at the moment (we ignore them) for bundling, and I think we should continue to do so, and focus on the compiler APIs for other targets, because it starts to get r

[2020-05-28 20:44] MarkTiedemann commented on #3447
I'm not sure this is needed anymore. The basic `jsdom` functionality of DOM parsing works for me out of the box now:

[code]

[2020-05-28 20:56] ry commented on #5916
I'm all for it. We should be using URLs as much as possible.

[2020-05-28 21:08] #5756 closed

[2020-05-28 21:40] getspooky commented on #5920
Hi @Macil,
I think deno should provide this in its core?

[2020-05-28 21:44] Pierstoval commented on #3447
Is it okay for the Deno ecosystem to rely that much on the JS one? I would rather implement a stand-alone version of it, could it be internal to Deno, or a specific Deno-compatible version of the original package, WDYT?

[2020-05-28 21:49] MarkTiedemann commented on #3447
Yes. Deno is a JS runtime. It would be sad if it was not compatible with the existing JS ecosystem.

[2020-05-28 21:53] Pierstoval commented on #3447
I was meaning the Node.js one, specifically, but I get your point :)

[2020-05-28 22:33] Lonniebiz commented on #5816
@tumile The documentation should warn about what you've mentioned. I changed the port from 443 to 4433 and avoided the permission error: [testDeno.zip](https://github.com/denoland/deno/files/4698600/testDeno.zip)
![badCertificate](https://user-images.githubusercontent.com/151919/83200013-f7a74900-a107-11ea-8cd6-a407ca566d11.png)

However, It looks like I'm going to have to submit another bug about

[2020-05-28 22:34] hayd commented on #3447
Perhaps this should be an example in the docs/manual ?

I think the part that will be strange/legitimate grievance here: is where will documentation live for `https://dev.jspm.io/jsdom`, presumably the README will not say anything about deno! 😕

(But this is _very_ cool!)

[2020-05-28 22:41] MarkTiedemann commented on #3447
Maybe https://deno.land/x/jsdom?

Don't think this needs to be in std.

[2020-05-28 23:52] Lonniebiz opened #5931 "Override "Bad" SSL Certificate Rejections"
deno 1.0.0
v8 8.4.300
typescript 3.9.2

In Deno, is there already a way to override the pedantic scrutiny that often causes self-signed SSL certificates to be deemed "Bad Certificates"?

It seems that Deno security is so high that it blocks self-signed SSL certificates for vague reasons.

Not all SSL certificates should be subjected to international banking standards. There are valid reasons for c

[2020-05-29 00:32] Caesar2011 commented on #5931
Continue to talk in issue #5260 . Consider to close this issue because of being a duplicate. :)

[2020-05-29 00:34] kitsonk commented on #5931
Yeah it is duplicate of #5260.

[2020-05-29 03:41] fjc0k opened #5935 "can't reexport modules typed by X-TypeScript-Types custom header"
[code]

[code]

`deno run -A -r a.ts`:

![image](https://user-images.githubusercontent.com/13151189/83218638-e6f6e180-a1a0-11ea-942a-fa1f01f1f0f2.png)

[code]

`deno run -A -r b.ts`:

![image](https://user-images.githubusercontent.com/13151189/83218678-fe35cf00-a1a0-11ea-95bb-72f343ba9020.png)

[code]

`deno run -A -r c.ts`:

![image](https://user-images.githubusercontent.com/13151189/83218935-a18

[2020-05-29 03:45] futurist commented on #5871
Also in production stage maybe, for **serverless** scene, the file changed and want have a **faster reload time**, the `--watch` from the core plus some time optimization from core could be far more better than a cold restart from outside tools.

Besides, it would be a killing feature vs Nodejs.

[2020-05-29 05:12] tumile commented on #5897
Looks like Deno's underlying HTTP client reqwest already allows basic authentication. In the method to fetch remote source
[code]
Username and password are automatically extracted from URL and set to header. I put up a simple basic auth example, try this:
[code]
[code]

[2020-05-29 06:27] #5851 closed

[2020-05-29 06:29] #5841 closed

[2020-05-29 08:12] SafaElmali opened #5936 "Can't import JSON files"
I have a JSON file that contains some data to use.

_todo.json_

``JSON
{
    "data":
    [
        {
            "id": 1,
            "detail": "Write a post about Deno with REST API",
            "doneStatus": false
        },
        {
            "id": 2,
            "detail": "Write a post about React connection With Deno REST API",
            "doneStatus": false
        },
        {

[2020-05-29 08:27] xReveres opened #5937 "There is way to reimport changed source file ?"
Hi, I need to reimport script after changes (by others) at runtime, but deno doesn't want to recompile sources.
Simple test:
File test.ts
[code]
File abc.ts
[code]
Execute:
[code]
Console output:
[code]
File abc.ts after run:
[code]

Deno version
[code]
OS Linux

[2020-05-29 08:32] alexandrestein commented on #3310
FYI
On my installation (Debian 10) I solved the problem by running:
[code]

This solved the issue immediately. :partying_face:

[2020-05-29 08:51] littletof commented on #5841
One last thing this API needs, and I was planning to implement, is a way to give the user updates during running. This way the user could implement benching GUI for example.

The user would get a progress like this `BenchmarkRunProgress` at the start and every time a measurement was done. (`BenchmarkRunResult` is what the promise returns when it finishes benching)

[code]

The thing that I wasnt s

[2020-05-29 09:33] lucacasonato commented on #5936
JSON file imports are not supported in Deno. They used to be, but were removed before 1.0 because of security concerns.

[2020-05-29 10:18] SafaElmali commented on #5936
Thanks!

[2020-05-29 10:18] #5936 closed

[2020-05-29 10:23] flip111 opened #5939 "What are the enabled features for the V8 deno ships with?"
Would be great to have a list of supported V8 features. I wanted to try [schism](https://github.com/google/schism) which needs `--experimental-wasm-return-call` and `--experimental-wasm-anyref`. I don't know how i can find out if that is enabled.

I guess there is a difference between compile time enabled features and runtime enabled features ... both are interesting to get some information about.

[2020-05-29 10:24] #5504 closed

[2020-05-29 10:28] kitsonk commented on #5937
Duplicate of #5548

[2020-05-29 10:55] kitsonk opened #5940 "std/http/file_server: does not close file resources it opens"
It appears that the file_server does not close file resources it opens:

https://github.com/denoland/deno/blob/02a67205276e122da07e51810df9d031ded80ce1/std/http/file_server.ts#L119-L135

The file server should track resources it opens and then close them after the `request.respond()` completes.

[2020-05-29 11:03] littletof opened #5942 "Add benching progress"
Continues: #5841

One last thing this API needs, and I was planning to implement, is a way to give the user updates during running. This way the user could implement benching GUI for example.

The user would get a progress like this BenchmarkRunProgress at the start and every time a measurement was done. (BenchmarkRunResult is what the promise returns when it finishes benching)

[code]

The thing

[2020-05-29 11:12] littletof commented on #5942
A very user progress crude handler would look something like this:

[code]

Maybe somehow the user could be helped, so its easier to know in which state the progress currenty is.

[2020-05-29 11:39] #5727 closed

[2020-05-29 11:41] dd-pardal opened #5943 "Deno.setRaw() throws OS error 6 on Windows"
This error occurs when launching Deno from Git Bash.

[code]

"O identificador é inválido." is Portuguese for "The identifier is invalid.". This works fine in Node.js. Also, it's possible to move the cursor to anywhere on the Git Bash terminal using the arrow keys, something usually only possible if raw mode is enabled and `stdin` is being piped into `stdout`.

[2020-05-29 11:54] MarkTiedemann commented on #5640
For reference, there's a list of supported package managers here: https://github.com/denoland/deno_install#install-via-package-manager

@alexandregv is right. Currently WinGet does not support simply downloading an exe in a zip, but requires an installer. There is a related issue regarding installing `curl`, which is also distributed as just an exe in a zip (see https://curl.haxx.se/windows/), her

[2020-05-29 12:02] #5127 closed

[2020-05-29 12:02] #5251 closed

[2020-05-29 12:02] kt-12 commented on #5626
@fakoua I am not sure if your question is answered.
Just adding the solution, so if someone comes across this will be useful.
[code]

[2020-05-29 12:14] bartlomieju commented on #5798
@mattd3v I'm not sure, I think that was added by @lucacasonato to save some space in terminal (to replicate how `go doc` works), but there's already been a report that it's surprising behavior (https://github.com/denoland/deno/issues/4755). I guess we could remove it altogether and always show full contents.

[2020-05-29 12:31] disizali opened #5944 "[tracker] std/node/errors"
_if we want to be compatible with node's API, we must be kind to its errors too._

we should support node's API errors listed [here](https://nodejs.org/dist/latest-v14.x/docs/api/errors.html) to be more consistent about errors.

todo list :
- [ ] create error module in std/node
- [ ] support node error codes ( like [ERR_INVALID_CALLBACK](https://nodejs.org/dist/latest-v12.x/docs/api/errors.html#er

[2020-05-29 12:34] dd-pardal opened #5945 "Presses of special keys are not detectable by Deno on Windows"
It is currently impossible to know when the user presses a special key in Console Window Host (the default terminal, `conhost.exe`) or [Windows Terminal](https://github.com/microsoft/terminal).

Here's a test script (needs `--unstable` because of `Deno.setRaw()`):

[code]

This could log an escape sequence when the user presses, for example, the arrow keys (I think it does on Linux), but it logs n

[2020-05-29 12:45] lemarier opened #5946 "Best way to make callback/signal between rust plugin and module"
Hi guys,

Actually I'm working on a mDNS implementation with a rust crate.

### lib.rs
[code]

I would love to know how you guys suggest implementing this?
Can we pass a function callback from Deno TS binding?
Otherwise, did we have access to a Signal or something like this?

### plugin.ts
[code]

I hope it's clear? If you guys need more details let me know!

Thanks again and good work!!!

[2020-05-29 12:47] bartlomieju commented on #5878
@kitsonk do you think we could just map `.cjs` extension to `JavaScript` media type?

[2020-05-29 12:48] bartlomieju commented on #5900
@actual-size I just tried testing this problem but I'm unable to repeat the problem. Can you provide reproduction that causes this error?

[2020-05-29 12:49] adrai commented on #5878
sounds good

[2020-05-29 13:08] actual-size commented on #5900
@bartlomieju Just tried the following steps:
[code]

[2020-05-29 13:09] actual-size commented on #5900
`deno --version` gives me:
[code]

[2020-05-29 13:13] actual-size commented on #5916
I'm pretty green but I'd like to give this a shot

[2020-05-29 13:15] bartlomieju commented on #5900
@actual-size can you try with Deno v1.0.2? I fixed some problems related to TSX between 1.0.1 and 1.0.2

[2020-05-29 13:25] actual-size commented on #5900
Sorry, still happening with v1.0.2

[2020-05-29 13:26] apiel commented on #5900
I have similar issue: `error: TS2307 [ERROR]: Cannot find module '../jsx' or its corresponding type declarations.
import { node } from '../jsx';`

[2020-05-29 13:29] bartlomieju commented on #5900
@actual-size thanks, now I can confirm that it's broken. However I tried it with changes from https://github.com/denoland/deno/pull/5817 and it works fine.

[2020-05-29 13:38] actual-size commented on #5900
Great to hear, thanks for your help!

[2020-05-29 13:52] danvega opened #5947 "Standard Library UUID Readme Usage"
In the standard library UUID Readme the following usage is incorrect

## Usage

[code]

Should be

[code]

[2020-05-29 13:56] ry commented on #5939
Use this rather inelegant command to see a list of V8 flags: `deno run --v8-flags=--help _`

[2020-05-29 13:57] ry opened #5949 ""deno run --v8-flags=--help" is broken"
[code]

This works.
[code]

It's because it's missing the script. We need a better way of doing this.

[2020-05-29 13:58] Soremwar commented on #5911
You probably wanna close this and reopen it in the issue tracker for the  [Deno website](https://github.com/denoland/deno_website2). This repo only holds the code for the Deno runtime.

[2020-05-29 14:05] nayeemrmn commented on #5911
See https://github.com/denoland/deno/issues/5435#issuecomment-629255809 / https://github.com/denoland/deno/issues/5435#issuecomment-634883708. No translations can be maintained in this repo unfortunately, but we can link to them in the manual if you put them up elsewhere.

@Soremwar The manual is indeed maintained in this repo.

[2020-05-29 14:32] #1692 closed

[2020-05-29 14:32] #5080 closed

[2020-05-29 14:32] #5419 closed

[2020-05-29 14:32] #5815 closed

[2020-05-29 14:32] #5900 closed

[2020-05-29 15:01] #5937 closed

[2020-05-29 15:05] dkuroi commented on #4728
[code]

[2020-05-29 15:17] sergiga opened #5951 "Request.clone() not duplicating body stream"
I'm trying to make a proxy server that analyzes the response body for each request.

The problem comes when using `res.clone()` after the request has been proxied, I try to save the body data after the server responds, and then return the response to the client like this

[code]

And the server throws `error: Uncaught TypeError: Failed to execute 'clone' on 'Response': Response body is already use

[2020-05-29 15:27] #5627 closed

[2020-05-29 15:27] #5742 closed

[2020-05-29 15:27] #5786 closed

[2020-05-29 15:33] MarkTiedemann commented on #5640
Just had a look and found a bunch of related upstream issues:
- https://github.com/microsoft/winget-cli/issues/140
- https://github.com/microsoft/winget-cli/issues/182
- https://github.com/microsoft/winget-cli/issues/194

So time to get a coffee and wait for Microsoft to fix this. :)

[2020-05-29 15:35] MarkTiedemann commented on #5640
On a related note, I think this issue could be moved to https://github.com/denoland/deno_install.

cc @bartlomieju

[2020-05-29 17:28] littletof commented on #5942
Created this lib to showcase the possibilities:
https://github.com/littletof/prettyBenching

(well the implementation is quite ugly atm)

[2020-05-29 17:29] KwanJunWen opened #5953 "Idiomatic way of managing project's version ?"
Say that I am the author of an open source project and I want to keep track of the release version for my project. For node, we have a `package.json` which keeps track the current version of the project. What is the idiomatic way of managing project version in a Deno project ?

I've seen some third party project version managing tool like
- https://github.com/iAmNathanJ/bump
- https://github.com/l

[2020-05-29 17:30] vixalien commented on #3438
Whoa! the actual releases I thought are i686 are actually 64bit. Since this is still an issue, re-opening it.

[2020-05-29 18:10] dimitriskoslek commented on #5888
I am having the same issue with plugin_prepared, yet it is happening locally and seeing your post makes me wonder...

deno 1.0.2 | v8 8.4.300 | typescript 3.9.2

[2020-05-29 18:23] hashemisa commented on #5788
Node.js supports this possibility

[2020-05-29 18:28] marcosc90 commented on #5951
This is fixed by https://github.com/denoland/deno/pull/5787, will be included in `1.0.3`

[code]

And if https://github.com/denoland/deno/pull/5789 gets merged you'll be able to do the following:

[code]
Later we may improve `Response.respond`'s `body` to take a `ReadableStream`

[2020-05-29 18:45] hashemisa opened #5954 "Use existing standards for integration"
Instead of implementing the new standard, Chrome standards can be implemented!

Like:

**- Serial API:**

`navigator.serial.requestPort( ...`

https://chromestatus.com/features#serial%20port

https://github.com/WICG/serial/blob/gh-pages/EXPLAINER.md

**- The Native File System API:**

`window.chooseFileSystemEntries( ...`

https://web.dev/native-file-system/

**- HTML Modules:**

`import {blogPost

[2020-05-29 19:00] HP4k1h5 commented on #5450
apologies if this is noted elsewhere, but i'm looking for a way to pass flags as a config of some kind. i.e.
[code]

[2020-05-29 19:53] Vanuan commented on #3356
Just wanted to try this out, found out that there's no official image yet. What's the workaround?
This one? https://hub.docker.com/r/hayd/alpine-deno/

[2020-05-29 20:25] kitsonk commented on #5878
@bartlomieju it appears in [IANA as](https://github.com/oakserver/media_types/blob/3d6e8bd35f79566d96166b17db2741d06e75154f/db.ts#L984-L987):

[code]

So it seems like we could treat it as JavaScript its own thing.  Also feels like we should handle the media type `"application/node"` as well.

[Also this](https://github.com/oakserver/media_types/blob/3d6e8bd35f79566d96166b17db2741d06e75154f/db.ts#

[2020-05-29 20:46] devanandp commented on #2301
Iam trying to Connect Heroku Postgres but getting the same issue in title. Can anyone help?

ARN RS - rustls::session:718 - Sending fatal alert BadCertificate
error: Uncaught InvalidData: invalid certificate: UnknownIssuer
    at unwrapResponse ($deno$/ops/dispatch_json.ts:43:11)
    at Object.sendAsync ($deno$/ops/dispatch_json.ts:98:10)
    at async Object.startTls ($deno$/tls.ts:70:15)
    at a

[2020-05-29 21:34] Eth3rnit3 commented on #5888
Hello, same here, it work fine locally with command `deno run --allow-net --allow-env --allow-write --allow-read --allow-plugin --unstable server.ts` but when deploy on heroku it throw this error

[code]

deno 1.0.2
v8 8.4.300
typescript 3.9.2

[2020-05-29 21:54] Eth3rnit3 commented on #5888
I think it's not a deno problem but rather a bad config on the heroku side because with the heroku-cli, I can execute that.

`heroku run deno -L=debug run --allow-net --cached-only --allow-env --allow-write --allow-read --allow-plugin --unstable server.ts --port=${PORT} --app eth3rnit3-deno-chat`

And the server then launches without error

[2020-05-29 22:12] muhammedMoussa commented on #5888
I tried your solution and doesn't work for me

[2020-05-29 22:39] jakajancar commented on #1371
I'm not sure about a flag, but at least `ConnectOptions` should support ignoring SSL problems. Unless I'm missing something, there is currently no way to connect to a server with a self-signed certificate.

[2020-05-29 23:02] zjopy commented on #5953
AFAIK there is no equivalent. Instead you use Git tags for version and then put the tag / branch in the URL. IMO keeping versioning to Git is much more natural than having to increment a number in an arbitrary file.

Btw. The URLs provided by deno.land/x/ already offer this, e.g.

[code]

[2020-05-29 23:30] kitsonk commented on #5953
The idiomatic way is a git tag. While deno.land/x/ supports only commitish references, supporting something like semver resolution to a git tag.

[2020-05-29 23:56] lucidNTR opened #5957 "Implement the Service Worker API"
To build a production ready cloudflare worker/ faas alternative with deno it would be very hard to use the current deno web worker implementation. (basically starting one webworker per handler and then dispatching messages from the main script)
i see some pain points implementing the registration / update workflows that browsers have in the main script, but i think finding a good solution there wo

[2020-05-30 00:53] junwen-k commented on #5953
Interesting. I am already using git tag for semver but the problem comes in when I need to reference the version in my source code. For instance prepending the module's version in the `User-Agent` string.

[code]
For node we can do something like
[code]
Hard coding the version in the string doesn't feel right. Or is creating a variable `VERSION` and update it everytime the project version is updat

[2020-05-30 02:42] flip111 commented on #5939
Thanks @ry that command indeed shows the available flags. How can i see which one is enabled though?

[2020-05-30 04:58] #5947 closed

[2020-05-30 05:13] horihiro opened #5960 "Private field `#` cannot be recognized in bundled JS file on v1.0.3"
After upgrading deno to v1.0.3, private field in a class cannot be recognized in bundled file.

Following is reproducable typescript file as `test.ts`.

[code]

On deno 1.0.3, `#` is recognized as `Unexpected token`.

[code]

But it works well on v1.0.2.

[code]

Could you please look into it?

Regards,

[2020-05-30 05:21] jayarjo opened #5961 "Compile-to-javaScript (still) is turn-away"
This might not be the best place to ask this, but I'm not sure where if not here. I've starred `deno` a while ago - year maybe more, but compilation-to-JavaScript step is basically a turnaway point. I know there are lots of benefits in using `deno` over `node`, but the only one that matters I think is just that - bypassing JavaScript altogether. How feasible is that? Is there anyone working on tha

[2020-05-30 05:28] jayarjo commented on #1980
@ry why even bother writing whole new engine then?

[2020-05-30 07:02] actual-size commented on #5961
Google [experimented with this idea](https://web.archive.org/web/20160630234447/https://developers.google.com/v8/experiments#frequently-asked-questions) with v8, but my guess is that it's a lot of work with basically no benefit. Nowadays JS is performant enough for most work and when it's not WASM can be used.

[2020-05-30 08:11] jayarjo commented on #5961
I mean then `deno` has no real benefit over `node`.

[2020-05-30 08:53] kitsonk commented on #5961
Depends on what you consider a benefit. Raw performance is not the only factor. Lots of people assume you can take JavaScript and wave a magic wand and run it faster in Web Assembly. That is simply not true. JavaScript is a loosely typed, garbage collected language, it needs a whole bunch of infrastructure to work at all. That has been honed for years by v8. You would effectively have to reimpleme

[2020-05-30 08:56] kitsonk commented on #5960
@bartlomieju another parsing error...

[2020-05-30 09:12] jayarjo commented on #5961
I searched and then created this issue, I didn't find any open or active threads. There was just one that mentioned Liftoff (what a name!) and it was closed years ago. I consider this topic an issue. A huge issue to be specific. A whole elephant stomping on top of this project.

I'm not talking about making JavaScript faster or making it to compile into WebAssembly. I'm talking about dropping it a

[2020-05-30 09:27] aduh95 commented on #5961
I think you want to check out [AssemblyScript](https://github.com/AssemblyScript/assemblyscript).

Deno is a JavaScript runtime, I don't know if it's "oriented on future", but this is the way it is. If you don't like it, then don't use it; I personally love it.

[2020-05-30 10:09] jayarjo commented on #5961
@aduh95  It's not about me. It's about why not AssemblyScript for this project?

[2020-05-30 10:16] rotemdan commented on #4795
In a [different issue](https://github.com/denoland/deno/issues/5290#issuecomment-634984877) I've suggested a simpler approach for verifying the integrity of imports, which I feel is more in-line with Deno's philosophy of minimizing auxiliary metadata files and abandoning the npm-style concept of "module directory structures". It is pretty simple, in essence:

* There is no concept of "bundled modu

[2020-05-30 10:17] devalexqt opened #5965 "Is it any alternative to run deno http server in cluster mode?"
Is it possible to run deno http server on all available cpu?

[2020-05-30 10:28] dd-pardal commented on #3570
I don't think it would be a good idea. I don't think it makes sense to call the server a readable stream. From the [spec](https://streams.spec.whatwg.org/#readable-stream):

Does it make sense to say data comes out of a web server/TCP listener? Maybe, but I don't think it's the best fit.

[2020-05-30 10:43] dd-pardal commented on #3555
Might be an unpopular opinion, but I think this is not a good use for `for await ... of`.  was made for iterating over things that can be iterated over (normally lists). And a server is not really something that can be iterated over. I think a callback (like `listenAndServe()`) is a better fit for this use case .

*`for await ... of` wasn't made for replacing callbacks completely.*

[2020-05-30 11:01] aduh95 commented on #5961
Nothing's stopping you from using AssemblyScript with deno, as it supports WebAssembly already.
Now if you are asking for built-in support for AssemblyScript, that's something else. If you feel strongly about this, I encourage you to work on an implement and open a PR, but I have to warn you it may not be a popular-enough feature to have it land in Deno core.

The [AssemblyScript FAQ](https://docs

[2020-05-30 11:39] caspervonb commented on #5961
Short answer.

It's not, TypeScript is not sound.

There's a few dead projects around, like StaticScript, llvm-ts, mints, etc.

TypeScript isn't sound.

---

Anyway, I'm just chiming in because [I've played around with this idea before](https://medium.com/commitlog/a-step-towards-compiling-typescript-caefa4944994); it was around the time Deno was first announced so I had Deno in the back of my min

[2020-05-30 11:41] MarkTiedemann commented on #5953
From a technical perspective, I don't see a difference between hard-coding the version number in a file called `package.json` compared to hard-coding it in a file called `mod.ts` (or whatever name you choose). At the end of the day, it's a version number in a file.

If you already tag your version using `git` and you don't want to sync it, you could run `git describe` (or similar `git` commands, o

[2020-05-30 11:44] sanny-15 opened #5968 "error"
Compile file:///G:/node.js/FINAL/data/deno-mongo-rest/DB/mongo.ts
error: TS2339 [ERROR]: Property 'openPlugin' does not exist on type 'typeof Deno'.
  return Deno.openPlugin(localPath);
[code]

[2020-05-30 11:58] kitsonk commented on #5968
`deno run --unstable`

[2020-05-30 13:05] nihaals commented on #3356
We can make a proposal to Docker to have an official image and then both deno and Docker will help work on the image to make it as efficient and stable as possible. Updates are also managed by Docker. It's probably better to do it from the start so people don't have to move from a deno image to an official image and there will almost definitely be confusion with the differences.

[2020-05-30 13:16] mar-kub opened #5969 "Upgrade relies on `/proc` (Linux)"
`deno upgrade` relies on `/proc` for Linux systems. This leads to an error if `/proc` is not available (e.g. in a chroot environment).

### Problematic code
https://github.com/denoland/deno/blob/dad551a3a77346d190663003e366dd94ce46626d/cli/upgrade.rs#L101

### Error
[code]

See also: https://github.com/rust-lang/cargo/issues/4450 and https://github.com/rust-lang/cargo/pull/4634

[2020-05-30 13:18] jayarjo commented on #5961
@caspervonb thanks for the insight. Appreciate it. Lots of informational bits that I can follow. But having that, I don't understand why even bother with `deno` in first place. There's that nice, fast, well established, reliable and mature `node`. And it can be used with JavaScript, or TypeScript, or WebAssembly... you name it, basically same arguments you've just used.

[2020-05-30 13:21] GitHubJasper commented on #4817
For whoever is struggling with this, wrote a few function that should make it easier
[code]

These can then be used to send SSE just like this:
[code]

This should keep the connection open after writing the headers
Just as you were trying to do @joakimunge

[2020-05-30 13:56] umutozdemir97 commented on #5949
How about we create a new subcommand:

[code]

[2020-05-30 14:38] pacoita opened #5970 "Cors does not set Access-Control-Allow-Methods properly"
I am developing a simple web server with DENO and Oak, providing some REST APIs. I need to enable CORS, and I use the default configuration for it.
According to the [docs](https://deno.land/x/cors), this should be equivalent to:

[code]

However the only allowed methods in my  response header are: `HEAD, GET` only.

**server.ts**
[code]

**routes.ts**
[code]

**employeeCtrl.ts**

[code]

My respon

[2020-05-30 14:55] #5970 closed

[2020-05-30 14:59] mtwzim opened #5971 "How to open a file with right path"
Hey guys, i tried open a file in a path with: Deno.open. But the terminal returns: "The system cannot find the file".
![image](https://user-images.githubusercontent.com/42474938/83331473-11ae6c00-a26d-11ea-8e6a-81a381e548d3.png)

I can't specify the entire path, is there any way to do this?

[2020-05-30 15:00] lucacasonato commented on #5968
Try with Deno v1.0.3 - you should get a more helpful error message.

[2020-05-30 15:04] lucacasonato commented on #5971
The Deno filesystem APIs are relative to the working directory, not to the file it is being called from. The path relative from your working directory should would be `./src/core/next/next.html`.

[2020-05-30 15:05] mtwzim commented on #5971
Is there no other way to do this? I cannot use the entire path.

[2020-05-30 15:08] nayeemrmn commented on #5971
[code]
Note the modules are for organising code, not resources. Hence the hoops you have to jump through to do this.

[2020-05-30 15:10] mtwzim commented on #5971
Thank you. yes...

[2020-05-30 15:10] #5971 closed

[2020-05-30 15:27] ry commented on #5965
No, we don't have that functionality, yet, unfortunately.

[2020-05-30 15:29] ry commented on #5968
As @kitsonk noted, use --unstable

[2020-05-30 15:29] #5968 closed

[2020-05-30 15:32] #5960 closed

[2020-05-30 15:34] lucacasonato commented on #5961
A reason to use Deno would be the new take on module handling, use of modern features like Promises, the security by default, ect. If you don't see an immediate benefit in using Deno that is fine. Nobody is forcing you to use Deno. If you want to stick with Node, no one is stopping you. Node will not go anywhere, it will be used by many people for many years to come.

[2020-05-30 15:49] alxtsg commented on #5965
Does using Worker count? Here is a prototype:

`app.ts`:

[code]

`server_worker.ts`:

[code]

Start the server:

[code]

In the example above, 4 HTTP servers will be started.

[code]

You can put a load balancer in front of the application and distribute the requests to each of the HTTP servers.

This is not the same as using [cluster](https://nodejs.org/dist/latest-v12.x/docs/api/cluster.html) i

[2020-05-30 15:50] devalexqt commented on #5965
Thanks for reply, but do You guys planing add this features or its out of focus for now?

[2020-05-30 15:52] devalexqt commented on #5965
"same port" is a key

[2020-05-30 16:03] alxtsg commented on #5965
See #3403 and #5377, looks like not much progress on that area yet.

[2020-05-30 16:23] marcosc90 opened #5972 "std/node: support Node errors."
Currently, we're not consistent with errors thrown in `std/node` and we should implement Node.js errors instead of throwing Deno errors.

For example a common check for Node.js `fs` is:

[code]

The above is not currently supported.

[2020-05-30 16:27] ry commented on #5965
@devalexqt We don’t have plans to add that feature - but I’d be open to discussing how it could be done with web workers. Basically we need the ability to send resources to other workers - then you would share the server resource...

[2020-05-30 16:27] ejones opened #5973 "std/http/file_server exits process and prints own usage when imported and -h/--help in program args"
**To reproduce:**

[code]
[code]

**Actual:** prints out "Deno File Server" usage, does not print out script's own usage
[code]

**Expected:** when imported as a module, `file_server` should not make use of the program args, exit the process, or print anything to the console.

[2020-05-30 17:07] ejones opened #5974 "TypeError in fetch with HTTP 204 response"
**To reproduce:**
[code]

**Actual output:**
[code]
version string:
[code]

**Expected output**:
[code]
For example, this is the current behavior when 200 is used in place of 204:
[code]

[2020-05-30 17:19] nayeemrmn commented on #5972
Duplicate of #5944?

[2020-05-30 17:31] nayeemrmn commented on #5699
Deno doesn't have an understanding of the structure used to represent versions in URLs. Third party tools can like https://github.com/hayd/deno-udd are welcome to acknowledge a certain structure and only support those, but Deno will intentionally stay agnostic of that. It only understands URLs and has no native concept of versioning.

[2020-05-30 17:32] nayeemrmn commented on #5705
@bartlomieju Can this be closed?

[2020-05-30 17:41] marcosc90 commented on #5972
@nayeemrmn By bad again, Disizali did not reported here: https://github.com/denoland/deno/pull/5540#discussion_r432439095 and thought no one opened it.

[2020-05-30 17:41] #5972 closed

[2020-05-30 17:58] marcosc90 commented on #5974
This is indeed a bug. I'll work on this and submit a fix today.

[2020-05-30 18:00] marchiore commented on #5974
@marcosc90 can i work on this? i'm looking for a first contribution in deno project.

I took a look and the reason is the validation below, that throw an exception on null body.

https://github.com/denoland/deno/blob/550556e948e750dc64039dcffd311752cf8312fd/cli/js/web/fetch.ts#L48

I think to remove the `[/* 101, */ 204, 205, 304].includes(status)` validation and only let the null body check. what

[2020-05-30 18:27] Pandawan opened #5975 "Deno.close() does not work with plugins"
I know plugins are currently unstable so this might be something that is in the works, but I thought I'd report it anyways.

It seems calling `Deno.close()` on a previously opened Deno plugin (with `Deno.openPlugin()`) does not actually do anything. The ops registered by the plugin are still available in `Deno.core.ops()` and they are still callable.

I've written a quick test script to reproduce

[2020-05-30 18:32] marcosc90 commented on #5974
Unfortunately, it's a bit more complicated than that. Since while that will fix the `TypeError` it will not make it spec-compliant. It was an oversight on my end when I refactored Response object to be spec-compliant.

We need to add several tests too, to prevent this from happening again and some of them will require changing `http_server.py` to test null-body status code.

I can't prevent you fr

[2020-05-30 18:38] marchiore commented on #5974
Ok, no problem I will look for a less complex one to start and familiarize myself with the project architecture.

[2020-05-30 18:43] apiel commented on #2768
I am right now writting a static site generator and I am importing local files from a remote module.

To install my generator, I do `deno install`, this create a script calling the generator from my repo. But the source code of the site is locally, so to generate the site, I run the command `generator ./site` where the folder site contain a list pages e.g.: ./site/index.ts ./site/hello.ts ...

Ple

[2020-05-30 18:46] ry commented on #5973
Yeah - ideally file_server can be imported and used in other servers

[2020-05-30 18:48] #4850 closed

[2020-05-30 19:07] apiel opened #5977 "deno install with tsconfig"
Right now it's not possible to specify a tsconfig with `deno install -c /path/tsconfig.json https://example.com/path/example.ts`

[code]

Or in somecase it might be necessary to give the possibility to set custom config, for example for the jsxFactory:
[code]

would it be possible to include tsconfig in installer?

[2020-05-30 19:07] nitsky opened #5978 "TS1031 Unexpected token Some(LParen) when importing rollup browser build"
Hi, the following script:

[code]

fails in deno v1.0.3, but not in any prior version, with the following error:

[code]

Is this a bug that should be filed with swc?

[2020-05-30 19:17] marchiore commented on #5973
I'm looking at the code trying to understand the problem and find a solution to it and i notice that `file_server` uses Deno args thats the same of script `const args = parse(Deno.args);`

https://github.com/denoland/deno/blob/64bd2768f7794408a9e8b7ba14edc990f3e2d0de/std/http/file_server.ts#L9

Is there a way to check if file_server is imported inside a script? if we can have a flag for this we ca

[2020-05-30 19:36] zalelion opened #5979 "How to handle with version and dedupe?"
#### http://server01/a.jsx
[code]

#### http://server02/b.jsx
[code]

#### main.jsx
[code]

[2020-05-30 19:49] nayeemrmn commented on #5979
What duplication is there, first of all?

[2020-05-30 20:08] ejones commented on #5973
@marchiore `import.meta.main` indicates if a script was invoked directly rather than being imported. `file_server` is already using this to decide whether to actually serve files. I imagine the fix will involve moving the arg parsing in some way inside the `import.meta.main` check or the `main()` function.

[2020-05-30 20:13] zalelion commented on #5979
@nayeemrmn

implements a.jsx and b.jsx  import same React library

[2020-05-30 20:47] iMarv opened #5981 "Iterating frozen arrays is about 8x slower than normal arrays"
I do not know if this is a v8 or deno issue, there have been issues with perfomance of frozen _objects_ with v8 in the past, but I can't find any issue with arrays. Feel free to close this if it is not deno related.

Currently trying to restrict mutability in a project of mine by using `Object.freeze()`.
I came across some performance issues after refactoring to the freezing, which surprised me be

[2020-05-30 21:06] nayeemrmn commented on #5979
@zalelion Alright I understand. You have indirect dependencies on React from two different hosts. You can use an import map to redirect one to the other.
`import_map.json`:
[code]
`deno run --importmap import_map.json main.jsx`

(I recommend doing this selectively for any large duplicated dependency you identify, and just not worrying most of the time.)

[2020-05-30 21:13] sefel opened #5982 "Deno error pure js file"
When I try to run deno.land server example code:

`import { serve } from "https://deno.land/std@0.54.0/http/server.ts";
const s = serve({ port: 8000 });
console.log("http://localhost:8000/");
for await (const req of s) {
  req.respond({ body: "Hello World\n" });
}`

but as JavaScript file (deno run --allow-net server.js) I get error:

[Error 3] The system cannot find the path specified

Only when

[2020-05-30 21:19] SyrupThinker commented on #5982
Reproducible on Linux with Deno v1.0.3. The same example works with Deno v1.0.2.

This regressed with ad6d2a7734aafb4a64837abc6abd1d1d0fb20017 (determined with `git bisect`).

[2020-05-30 21:21] sefel commented on #5982
I forget to mention I am on windows 10, deno v1.0.3

[2020-05-30 21:31] paavalan opened #5983 "Add support for rethinkdb"
please add module for rethinkdb

[2020-05-30 21:33] crowlKats commented on #5983
this is something that a module should resolve, not something that should be built-in into deno. This is the wrong place to ask for such a request.

[2020-05-30 21:38] Driky opened #5984 "Wrong behavior when parsing csv"
Just tried the csv parsing that comes with the STD. And I get an error when  passing headers:

The first two line of my csv

[code]

[code]

The error:
[code]

and if I add `fieldsPerRecord: 9,` to my options, I get an error but this time not from the `parse` function but the `readMatrix` function:
[code]

My csv properly opens in excel and other spreadsheet software.

[2020-05-30 22:06] partyka1 commented on #4207
would be good to change server example in the docs, because right now first code you run and do `deno bundle` yields you an error, code taken literally from section `First steps`

[2020-05-30 22:14] partyka1 commented on #5505
Ideal scenario is compiler shouldn't succeed with TypeErrors or at least should issue a warning. Having compiler and type checking in place renders useless if it lets type bugs pass through even in simple examples. If it's a known limit of Typescript it shouldn't compile at all

[2020-05-30 22:22] marchiore commented on #5973
thank you @ejones  it made things clearer for me.

I will work on it and send a PR

[2020-05-30 23:01] jakajancar opened #5986 "Erroneous `CertNotValidForName` with `startTls`"
`ec2-52-54-1-79.compute-1.amazonaws.com:5432` is a PostgreSQL server with a self-signed SSL certificate (Heroku Postgres):

[code]

I have saved the server cert reported above into `/tmp/cert`.

The following code fails:

[code]

result:

[code]

I believe this should work. As you can see, the `openssl s_client` says:
[code]

[2020-05-30 23:03] srdjan commented on #4795
maybe I'm missing something, but I'm not sure that there is a need to go through the dependency three per file, though... If you are importing deno bundle it should already include everything :
[code]
so only hash at the bundle level would be enough to verify bundle content?

[2020-05-31 00:23] zalelion commented on #5979
@nayeemrmn  yes.  but if more deep dep , i don't know everything.

[2020-05-31 00:38] zalelion commented on #5979
I think need a module.json for depends.
[code]

### deno will see http://x/react/module.json   only example:
[code]

if  have module.json and meet some conditions, deno can use single react.js. if no have, only to down and use it.

Of course, many conditions can be added.

[2020-05-31 00:59] Caesar2011 commented on #5986
Duplicate of #5260

[2020-05-31 01:02] Caesar2011 commented on #5984
Did you tried to specify the separator `;` manually?

[2020-05-31 01:10] Driky commented on #5984
Ah.... Shame on me. Thank you @Caesar2011

[2020-05-31 01:11] #5984 closed

[2020-05-31 01:15] nayeemrmn commented on #5979
That's why I said you should generally just not worry about duplication. If the size of downloads is bothering you, and you can identify a big duplicated dependency, you can act on that one selectively. If the version ranges don't align then you have duplication anyway.

There are some problems with your proposal.
- Our module resolution wants to stay simple and match browsers.
- Deno has no conce

[2020-05-31 01:30] zalelion commented on #5979
@nayeemrmn  ok , thanks.
closed

[2020-05-31 01:46] zalelion commented on #5979
@nayeemrmn

Can I use it like this?  if others agreed.

#### import_map.json:

[code]

#### Other people's code
http://otherlib/Comp.tsx
[code]

#### Me code:
[code]

[2020-05-31 01:49] rotemdan commented on #4795
The dependency tree of some arbitrary file, may contain references to modules from various third-party publishers, which in turn may refer to modules other third-party publishers, etc. The system of annotations I proposed allows those publishers to "engrave" their expectations from the dependencies they import, right into the code. For example:

Say somewhere in your dependency tree, third-party p

[2020-05-31 01:53] nayeemrmn commented on #5979
@zalelion Yes, that would work. Though it's not recommended for people's code to depend on import maps.

I think the best solution against duplication is for library authors to state, on their website or project README, which host/URL they wish for people to canonically use when importing it.

[2020-05-31 01:58] zalelion commented on #5979
@nayeemrmn  yes. txs. closed

[2020-05-31 01:58] #5979 closed

[2020-05-31 01:59] KSXGitHub opened #5987 "Caching and loading non-JavaScript non-TypeScript assets"
## Problem

I often find myself needing to load non-JavaScript non-TypeScript assets, and various problems arise:
* Local module (in git repo) has to use `fs` but remote module has to use `fetch`.
* The assets cannot be cached.
* The assets cannot be bundled.

## Suggestion

Add some way to annotate assets using comments, and `fetch` should support those assets. For example:

[code]

## Alternativ

[2020-05-31 02:02] mtwzim opened #5988 "How to compile typescript into deno code, and get HTMLElement"
Hello guys, I'm developing a framework for deno and I need some things that I don't know if are available for deno. These things are:
https://developer.mozilla.org/pt-BR/docs/Web/HTML/Element
 and compile the typescript into the code itself. If this is not possible, can I reproduce it in some way?

See your later.

[2020-05-31 03:28] nayeemrmn commented on #5987
I don't think `fetch()` has room for these special identifiers since those are valid URLs, and it wouldn't be browser compatible. Also those URLs are relative to the current module, right? Regular runtime functions can't determine or change behaviour based on the current module URL, so you need to resolve it explicitly:
[code]

<hr>

Ref #4001. Nevertheless, the problem of "modules needing to stat

[2020-05-31 03:57] jakajancar commented on #5986
No, I don't think it is.

[2020-05-31 04:50] Lonniebiz commented on #5931
Thanks, I respectfully agree.

[2020-05-31 05:04] Lonniebiz commented on #5260
I submitted a passionate duplicate of this issue, that I just closed here: https://github.com/denoland/deno/issues/5931

I feel so strongly about this particular issue, that I've copied the full text of it below:

deno 1.0.0
v8 8.4.300
typescript 3.9.2

In Deno, is there already a way to override the pedantic scrutiny that often causes self-signed SSL certificates to be deemed "Bad Certificates"?

[2020-05-31 06:16] smamit27 commented on #5888
I am also getting the same error when i am trying to deploy on Heroku. Any suggestion

[2020-05-31 06:31] zalelion opened #5991 "It's perfect to support assemblyscript by default!"
It's perfect to support assemblyscript by default!

Do have this plan?  ^o^

[2020-05-31 09:02] frdrwrt commented on #5326
For all `oh-my-zsh` users:
I assume $ZSH points to your `...../.oh-my-zsh/` installation.
The completion script needs to live in the $FPATH.
Ensure that `$ZSH/completions` is in $FPATH with `echo $FPATH`. This should be the case by default.

1. create completions directory if not exists.
[code]
2. download deno code completion.
[code]
3. force rebuild.
[code]
4. restart terminal.

@zemse This shou

[2020-05-31 09:14] divy-work commented on #5348
@bensleveritt You could use https://github.com/divy-work/deno-notify

[2020-05-31 10:07] HappyStriker opened #5993 "macOS: Deno.connect({ port: 80 }) fails"
Hey there,

first of all Deno is a great piece of software and I am very curious how it develops in the future.

Right now I am testing the method `Deno.connect` and for some time it drove me crazy until I realized, that I might have found a bug in it.

Using the following code works fine for me:
[code]

On the other side of the connection I was simply using `nc -kl 2000` to show the incoming requ

[2020-05-31 10:27] marcosc90 commented on #5993
It currently works perfectly for me on:

[code]

[2020-05-31 10:29] chenguzhen87 opened #5995 "jsdoc examples for lstatSync and lstat do not have copy&paste-able code"
![image](https://user-images.githubusercontent.com/28331609/83350132-874d3180-a36c-11ea-9726-19aea226453c.png)

[2020-05-31 10:33] actual-size commented on #5993
Can reproduce on:
[code]

[2020-05-31 10:40] actual-size commented on #5993
Appears to be a bug in macOS's shipped netcat. I can fix the issue by `brew install netcat` and using `nc -l -p 80`.

[2020-05-31 10:55] HappyStriker commented on #5993
Well, I would not correlate the issue with `nc` as the connection to a Apache httpd server as well as a node.js based server both serving on port 80 did not work either.

[2020-05-31 10:57] HappyStriker commented on #5993
I have also tried to connect to a server on the the internet like `Deno.connect({ hostname: "www.google.com", port: 80 })`
and it did not work either.

[2020-05-31 11:00] devalexqt commented on #5965
Yea, resource sharing with workers will be elegant solution!

[2020-05-31 11:04] actual-size commented on #5993
Would you run `echo "const conn2 = await Deno.connect({ hostname: \"google.com\", port: 80 })" > test_google_connection.ts && deno run --allow-net test_google_connection.ts`?

[2020-05-31 11:08] HappyStriker commented on #5993
This results in an empty line without any issues:
[code]

[2020-05-31 11:09] devalexqt opened #5996 "Is it possible to stream http request to file (handle big file uploading)?"
How to handle big (~1GB) file uploading? In node.js/express we do it like this:
[code]
But how do this in Deno?

[2020-05-31 11:17] actual-size commented on #5993
Weird that the connection isn't being immediately refused then

[2020-05-31 11:20] Caesar2011 commented on #3082
What do you mean by that?

[2020-05-31 11:26] HappyStriker commented on #5993
This is the result:

[code]

[2020-05-31 11:29] HappyStriker commented on #5993
When running the request like in the following code block, then after a while (I guess after timeout occurs), `null` gets returned:

[code]

[2020-05-31 11:32] kitsonk commented on #3082
We have logic for printing diagnostics that assumes all diagnostics have a code point. That logic is flawed.

[2020-05-31 11:34] kitsonk commented on #5995
`std/testing/asserts.ts` at the moment

[2020-05-31 12:23] chrisands opened #5998 "addEventListener with CustomEvent"
Hi,

I tried to write an app with Deno and noticed that `addEventListener` doesn't return `detail` property on a `CustomEvent`.
It should return `detail` property.

UPD: my bad, it actually returns `detail` property, but it doesn't exist on type `EventListener`.

[2020-05-31 12:24] chrisands commented on #5998
Also there probably should be generic `CustomEventListener` or type `EventListener` should be generic with detail property.

[2020-05-31 12:25] sandeepgokhale commented on #5982
I had the same problem a few minutes again, .ts would work, but not .js.

However, looks like even the .js works now.. Someone fixed already ?

deno run --allow-net helloWorld.ts
or
deno run --allow-net helloWorld.js

both works.

Thanks much & stay safe !

[2020-05-31 12:30] crowlKats commented on #5998
this might be related to microsoft/TypeScript#28357

[2020-05-31 12:36] bartlomieju commented on #5982
This error is caused by the fact that pre 1.0.3 TS compiler was created on demand for each encountered `.ts` import - even when such import occurred in `.js` file. In 1.0.3 compilation is can only be performed upfront and this case wasn't covered.

Question is: is importing `.ts` file from `.js` file a valid import? If so, fixing this problem should be rather easy by spinning TS compiler if any of

[2020-05-31 12:41] nayeemrmn commented on #5982
Incrementally converting a project from JS to TS would be tough if not. I think unsafe code should be able to call safe code.

[2020-05-31 12:43] bartlomieju commented on #5982
Yeah, good argument.

[2020-05-31 13:08] devanandp commented on #5986
@jakajancar How do you say ec2-52-54-1-79.compute-1.amazonaws.com:5432 is a PostgreSQL server with a self-signed SSL certificate (Heroku Postgres)? Did you manually create any self-signed SSL certificate or Heroku Postgres automatically adds the configuration?

[2020-05-31 13:26] sefel commented on #5982
@sandeepgokhale If you add new import (that you never have before) to your helloWorld.js and try to run it then you should get error.

When you compile .ts and then .js everything is working. Problem is when you do some new stuff on .js  without .ts compilation. (At least that's my guessing)

[2020-05-31 13:44] Caesar2011 commented on #3082
Oh, I understand. That is another issue...

[2020-05-31 13:47] lucacasonato commented on #5996
The `req.body` property is a reader that can be used with `Deno.copy` to copy into a file:

[code]

[2020-05-31 13:49] nyctef opened #6001 "windows doesn't print emojis correctly"
Hi! This is my first time looking at Deno, and it seems to be very exciting :)

I was playing around with the examples from the tutorial and noticed this inconsistency: (using powershell and windows terminal):

[code]

I found that editing `curl.ts` to add the line
[code]
and replacing the `Deno.stdout.write` line with
[code]
seems to make the downloaded file print out correctly.

[2020-05-31 13:58] ngot commented on #5965
I had done a similar cluster module using the worker feature in another JS runtime called [fibjs](https://github.com/fibjs/fibjs). Transferring an object's ownership to another isolation(or call it worker) is the key point. (fibjs only supports transfer network socket and Buffer, tbh, socket is enough)

This is the module I wrote https://github.com/fibjs-modules/cluster-server#usage, the key imple

[2020-05-31 14:02] lucacasonato commented on #5983
As crowlKats said this is not the place to ask. Anyway, I have a WIP driver for rethinkdb in the works, but I got fed up with some typescript issues so I never released it. Might release it soon.

[2020-05-31 14:02] jakajancar commented on #5986
It's set up for SSL with a self-signed cert by default, automatically. Anyways, irrelevant for *this* issue.

[2020-05-31 14:04] devanandp commented on #5986
@jakajancar Fine I get it. Thanks for the info

[2020-05-31 14:07] ngot opened #6002 "std/http multitable req.respond throw error: BrokenPipe: Broken pipe (os error 32)"
## Reproduce code

[code]

## Error

[code]

## Analysis

The underneath HTTP connection has been closed when trying to write data into it.

## Suggestion

Node.js uses a `finished` tag to indicates whether the response has responded or not. https://github.com/nodejs/node/blob/master/lib/_http_outgoing.js#L817

Maybe Deno can do those similar things.

[2020-05-31 14:16] ngot commented on #5887
A quick workaround:

[code]

[2020-05-31 15:19] uki00a commented on #6002
Related to #5321.

[2020-05-31 15:36] #5988 closed

[2020-05-31 16:21] reselbob opened #6007 "Deno.land third party links are broken"
Get the following error: `Querying the GitHub API failed. This is usually caused by a network outage or because you have reached your hourly API rate limit of 60 requests.`

Here is a screenshot:

![Screen Shot 2020-05-31 at 9 20 02 AM](https://user-images.githubusercontent.com/1110569/83357238-0c5e2980-a320-11ea-8b2c-c534afd8697a.png)

[2020-05-31 16:42] nayeemrmn commented on #6007
Duplicate of https://github.com/denoland/deno_website2/issues/433.

[2020-05-31 16:53] RedactedProfile commented on #986
The problem I'm facing with Warp, is that it's not packing in the bundled js file. It's packing in deno, which is great, but without including the one other file needed, then I may as well just be distributing the deno binary 🙄

This directory, with this cmd file
![image](https://user-images.githubusercontent.com/1039911/83357846-d0c55e80-a323-11ea-9e25-9e1f795b9c2d.png)

Packed with this command

[2020-05-31 18:00] devYusuf opened #6010 "TS2531 [ERROR]: Object is possibly 'null' when matching boundary"
Hello, I ran into Errors after running the code below, I got it from a github gist.

[code]

after running the code I got the error:

[code]

[2020-05-31 18:02] pevers opened #6011 "Implement std/node/util isDeepStrictEqual"
`isDeepStrictEqual` is not yet supported from Node's util library: https://nodejs.org/dist/latest-v14.x/docs/api/util.html#util_util_isdeepstrictequal_val1_val2

Implementation can be found here and should be added to the Deno std library + tests: https://github.com/nodejs/node/blob/master/lib/internal/util/comparisons.js

I would like to take this task upon me if adding this is fine.

[2020-05-31 18:11] devYusuf opened #6012 "standard module for Session management"
I'm tired up searching for modules for handling session in Deno. but I haven't find one. is there any?

[2020-05-31 19:08] #5878 closed

[2020-05-31 20:01] ry commented on #6012
This is a better question for the discord forum. Here we're trying to address bugs in the deno software.

[2020-05-31 20:01] #6012 closed

[2020-05-31 20:05] ry commented on #6011
@pevers Please do!

[2020-05-31 20:51] hastri opened #6013 "std/http/server throws TypeError / ConnectionAborted"
[code]

I start the server
[code]

and shortly after running autocannon (npm benchmark client)

[code]

I get the exception below

[code]

Strangely, I only get the exception if i use a body of size 15, 23, 26, 29, 36, ...
I tried all the sizes up til then, with bodies of another size I don't get an error and I don't see a pattern

An other error I get is when I ctrl+c autocannon during testing

[

[2020-05-31 22:25] kitsonk commented on #5505
I do believe we are squashing the diagnostic message, and might not need to.  This was because TypeScript didn't support top level await at all, although we supported it at runtime.  The benefit of having it usable outweighed the particular issue.

Either way, this is a duplicate of #4207 and conversation should continue over there.  @bartlomieju can we please close as duplicate?

[2020-05-31 22:49] kitsonk commented on #6010
The errors are correct, this is not an issue with Deno.  Please read the errors and correct your code.

[2020-05-31 23:21] #5974 closed

[2020-06-01 00:15] deebloo commented on #6010
@devYusuf Deno uses strict ts compiler options by default. You CAN provide your own tsconfig and disable them but I would NOT recommend it. Do as @kitsonk said and just fix the errors the compiler is giving you.

[2020-06-01 00:22] mathiasrw commented on #5791
This is spot on!

[2020-06-01 00:26] mathiasrw commented on #5863
I think it makes sense.

I suggest outputting each flag on a new line as the first thing so its clear what you are allowing.

[2020-06-01 00:57] v-andrew opened #6016 "Python ctypes(foreign function interface) -like library to call C function from Deno"
It very simple to use `C` libraries from Python. So you see every tool has Python wrapper and can be used in the Python app.

It would be nice to have similar functionality in Deno.

I believe it would a feature which will Deno popular in ML and as _wrapper_ for `C` libraries.

[2020-06-01 02:51] gautam1168 commented on #5949
Another suggestion
[code]

If either of the above is desirable Ill like to make a PR

[2020-06-01 04:06] ry commented on #6016
This is probably not something we will be undertaking. We are working on a way to load Rust DLLs to extend functionality. The feature is currently unstable. Have a look at

https://github.com/denoland/deno/tree/master/test_plugin

[2020-06-01 04:06] #6016 closed

[2020-06-01 04:10] ry commented on #5981
This is a V8 issue. I don’t have any idea what causes this - but I guess you’re getting kicked out of some optimization.

I don’t think there’s anything actionable for us on this.

[2020-06-01 04:10] #5981 closed

[2020-06-01 04:11] #5983 closed

[2020-06-01 05:31] wongjiahau commented on #2357
By the way, I am using it to bundle a website, if not why alternatives should I use that would not use any Node or npm related modules?

[2020-06-01 05:57] gautam1168 commented on #5843
I would like to work on this

[2020-06-01 06:26] caspervonb commented on #5791
Right now Deno is the only implementation apart from a seemingly dead origin trian in Chrome, so fair enough.

These issues have been discussed on the import-maps repository plenty of times; the application is supposed to have authority over the import-map and the resulting module graph; if a module in the graph was allowed to change the graph then that would no longer be the case and fundamentall

[2020-06-01 06:49] actual-size commented on #6001
Cannot reproduce on macOS 10.15.4:
[code]

[2020-06-01 08:29] mhf-ir opened #6017 "Better implementation for Intl/ICU - JavaScript Fails Story"
I18n is essetial i think so:
ICU/Intl is require but there is a problem in JS word to using i18n:

* There is no valid implementation ISO for Intl. It's wired implementation for JS.
* It's not the entire ICU library it's just simple the implementation that not cover all use cases.
* There is no parser for Convert none Georgian calendar to Standard Unix time or Standard Date Object. and etc.
* Acce

[2020-06-01 09:13] kitsonk commented on #2357
@wongjiahau that is the intention of the compiler APIs: https://deno.land/manual/runtime/compiler_apis#denobundle

[2020-06-01 10:06] lengfangbing commented on #3478
great~

[2020-06-01 10:07] lengfangbing commented on #3478
great~
so now we have a better streaming response?

[2020-06-01 10:30] xcatliu commented on #4197
Fix in Deno v1.0.3

[2020-06-01 10:40] bartlomieju commented on #5505
Closing as duplicate, continue in #4207

[2020-06-01 10:40] #5505 closed

[2020-06-01 10:41] #6010 closed

[2020-06-01 11:15] edenprojectde opened #6018 "Many external Database API's broken on MacOS?"
So i started having a really weird behaviour given this simple Setup:

./source/lib/net/cacheable.test.ts
[code]

./source/lib/net/cacheable.ts
[code]

The only output it get is:
```error: No such file or directory (os error 2)```

I tried jumping from one Database API to another (denodb, cotton, dex, ...) and always get this error. I tried to pin it down, clearing caches etc. nothing seems to fix

[2020-06-01 11:46] edenprojectde commented on #6018
Seems to be a problem related to a change in /x/deno-sqlite which seems to make every libary using it trying to load it as a dependency having the exact same error. Should've thinked myself about this...

[2020-06-01 11:46] #6018 closed

[2020-06-01 11:46] jamesseanwright commented on #5876
Seeing the same thing in Deno 1.0.3:

`error: Import 'https://cdn.pika.dev/-/@sinonjs/fake-timers@v6.0.1-JhTh9R3cBdH83IL6Lnpd/dist=es2019,mode=types/index.d.ts' failed: 404 Not Found`

[2020-06-01 11:52] jamesseanwright commented on #5876
@njbraun You could potentially migrate to jspm, which works for me:

[code]

[2020-06-01 11:57] bartlomieju commented on #5876
I just triaged this issue - I can repeat the problem. Going to problematic url in the browser yield an HTTP 500 error:
[code]

CC @FredKSchott can you check if that's a problem on your side?

[2020-06-01 11:59] bartlomieju commented on #5876
@jamesseanwright what was your entry point for this case? I get HTTP 404 in the browser for this type declaration as well - this might be a bug in parsing after all...

[2020-06-01 12:32] #4877 closed

[2020-06-01 12:41] hastri opened #6019 "feat(std/io): Add LimitedReader"
It would be nice to be able to limit the size of the returned Uint8Array, so you can use it without having to worry about running out of memory, e.g.

[code]

[2020-06-01 13:02] ry commented on #6019
The way Go does this is by wrapping a Reader with a LimitedReader
https://golang.org/pkg/io/#LimitedReader
I would welcome this to be added to std/io

[2020-06-01 13:07] zored commented on #3614
For now you may rely on unstable `Deno.setRaw`:
[code]

[2020-06-01 13:13] deebloo commented on #5998
@chrisands if you manually add the "DOM" lib to a custom tsconfig does that cause the issue to go away? I haven't seen this issue with ts in some time

[2020-06-01 13:17] hastri commented on #6019
Interesting, the only problem I see is that limit reached and EOF behave the same, so you would have to extend the interface or make a read(new Uint8Array(0)) to check if there is any data left

[2020-06-01 13:21] jamesseanwright commented on #5876
I'm now using `import sinon from "https://dev.jspm.io/sinon@7.5.0";` (Sinon is the overall dependency that then depends upon`fake-timers`).

[2020-06-01 13:26] ry commented on #6019
I'm not sure I follow you. The code can be ported directly from Go: https://golang.org/src/io/io.go?s=14905:14998#L429

[2020-06-01 13:30] JAicewizard opened #6020 "Allow for narrowing down permissions for eval."
There is currently no way to limit permissions while using `deno eval`.
Using deno eval makes it easy for programs to run generated scripts/wrappers without some of the limitations of the REPL, or having to write to disk.

There are ways to fix this:
- Either there are limiting flags, so --disallow-XX. The negatives of this would be 1) added flags 2) any new flag would be on by default, which is b

[2020-06-01 13:34] KSXGitHub commented on #5987
This is simpler, let's use it.

I suppose bundlers have that problem too? Maybe we could use some references.

We can hide it behind `--unstable` flag.

[2020-06-01 13:34] hastri commented on #6019
Yes, but we would need some way to differentiate limit reached and EOF, since read(...) can only return number | null

[2020-06-01 13:42] ry commented on #5996
As Luca wrote. Please reopen if that doesn't work for you.

[2020-06-01 13:42] #5996 closed

[2020-06-01 13:51] ry commented on #5993
@HappyStriker I'm 99% sure this is a bug on your end and not in Deno... I'm preemptively closing this issue, but feel free to continue to debug here and reopen if this turns out to actually be a bug on our end.

In your last example, where you connect to google, HTTP servers need to be sent a request before they respond.

[2020-06-01 13:51] #5993 closed

[2020-06-01 13:53] ry commented on #5995
fixed in https://github.com/denoland/deno/pull/5992

[2020-06-01 13:53] #5995 closed

[2020-06-01 13:54] ry commented on #5991
We do not have plans for this.

[2020-06-01 13:54] #5991 closed

[2020-06-01 14:05] shotikot opened #6022 "Cannot load modules"
Every time i try to load modules like bcrypt, mongo and etc. code crashes and shows me this error.

`error: The system cannot find the path specified. (os error 3)`.

[code]
here first line is executed correctly, but the second line throws an error.

[2020-06-01 14:09] ry commented on #5987
I think we'll add `import foo from "foo.wasm"` soon.

We had this feature before, but removed it before 1.0 because we felt it had not seen enough usage to commit it to it.

[2020-06-01 14:09] Wallacy commented on #5791
I think the proposal talk about that on "Multiple import map support". If this cannot be made "per module" library owners can supply they  import-map via some kind of lazy load call/object... Ignoring any implementation details. My point is much more in relation to the dynamism for the app owner. Its okay be a one time thing or "per app"...

My point is just that the current "Ahead-of-time" static

[2020-06-01 14:13] Pangoraw commented on #6022
Maybe related to https://github.com/denoland/deno/issues/5982 if you are importing `ts` from a `js` file. Try downgrading to 1.0.2 if you are on 1.0.3

[2020-06-01 14:19] jingkaimori opened #6023 "Error occurs on Ubuntu when I imoprt a locale module which imported an online module"
* deno 1.0.3
  * commit 40419c664d402d4c3c5783d0ae337d23c106f619
* v8 8.4.300
* typescript 3.9.2
When I run the script below, the process failed only with an error.
[code]
file `./mian.js`:
[code]
file `./cirno.js`:
[code]
when I reproduce issue #5982 ,I got similar error message:
[code]
I think that past issue #6018 , #4267 and this issue may be the same issue.

[2020-06-01 14:21] shotikot commented on #6022
So i can't use typescript modules with javascript?

[2020-06-01 14:22] KSXGitHub commented on #5987
This is good to hear. What about other kinds of resources (such as images)?

[2020-06-01 14:22] bfaulk96 opened #6024 "Feature Request: Hidden Input"
It seems pretty common practice to allow reading hidden input (i.e. passwords) from the CLI. It appears there are Rust crates that support this as well; can we expose this ability to Deno? As a current workaround, one could probably just clear input on each raw byte that is read, but that seems pretty hacky for a simple task such as password input.

[2020-06-01 14:30] njbraun commented on #5876
While that does work:

[code]

There's no fetch any of the type definitions like what was happening w/ Pika. (Request Header: X-TypeScript-Types).  A reasonable stop gap until Deno can provide better error handling when a dependency graph results in 404/500 dead ends.

[2020-06-01 14:47] hastri commented on #6019
Either way, this behavior certainly has it's uses, and a port should be simple enough for a first issue, so I'll get started on it

[2020-06-01 14:51] validate472 opened #6025 "??? Failed to get directory listing ???"
![Image of Yaktocat](https://i.ibb.co/TgDJxDc/deno.png)

pls fix, I want to learn more

[2020-06-01 14:53] Pangoraw commented on #6025
Probably linked to https://github.com/denoland/deno_website2/issues/433

[2020-06-01 14:53] validate472 commented on #6025
oops sry i should go to deno_website2

[2020-06-01 14:53] #6025 closed

[2020-06-01 14:54] ry commented on #5987
@KSXGitHub I'm quite open to adding support for JSON - we also removed that before 1.0 due to some security concerns. I don't know about images - we need to investigate what's happening in the web standards space.

[2020-06-01 14:54] nayeemrmn commented on #6025
Duplicate of https://github.com/denoland/deno_website2/issues/433.

[2020-06-01 14:59] bartlomieju commented on #6023
This problem will be fixed by #6000

[2020-06-01 15:00] bartlomieju commented on #6022
@shotikot this is a regression in `1.0.3` which will be fixed by #6000

[2020-06-01 16:05] nayeemrmn commented on #5987
Plugins, too. I think the point is being able to **statically depend on arbitrary non-`import`able resources**, not discussing what resources can be `import`ed.

I've thought more about the Web vs Deno on this issue...
- The Web provides no way for scripts to do this -- _statically_. They have to `fetch()` them at runtime. The same is currently true for Deno.
- On the web you can [pre-fetch resour

[2020-06-01 16:37] davidcallanan opened #6028 "Deno fmt feature request"
Not essential but I think it would be cool and catch bugs.

I propose that the `deno fmt` command would do the following to each `case` block in a `switch` statement:

 - Add a `// fallthrough` comment to the end of the case if there is no unconditional `break` statement.
 - Remove any `// fallthrough` comment otherwise.

# Examples

[code]

would be formatted to:

[code]

# Why?

 - Makes it clea

[2020-06-01 16:52] ry commented on #6019
Not sure I understand. `readAll(new LimitedReader(reader, N))` if you get N bytes back then it was limited. If you get less than N, you got an early EOF...

[2020-06-01 16:53] hastri commented on #6019
With N bytes, it could be either complete or limited

[2020-06-01 16:56] ry commented on #6028
I don't think this is a `deno fmt` feature, but rather a `deno lint` feature... I'm not necessarily opposed to it, I agree with the problem and the goals. I do think it needs to be discussed a bit more and researched to see if there are existing conventions.

`deno lint` is not released yet, but we hope to expose it in 1.2.0. I will transfer this issue to the deno_list repo.

[2020-06-01 17:20] teleclimber commented on #2768
@apiel  Your use case is exactly what I was talking about in my original reply. My view is you should be able to add `--allow-read=./site` to your command and it should work. Local imports follow file read permissions IMO.

[2020-06-01 17:59] isuckatprogram commented on #5862
I have the same issue. I am using Deno to send cookie headers and when I test it on postman I can see the cookie header but for some reason, the cookie doesn't work.

[2020-06-01 18:01] deebloo commented on #6024
Is this something that should be built into a std lib or is it best to live in a 3rd party module?

[2020-06-01 18:18] acathur opened #6030 "Discussion: About dependency management"
There're some discussions about dependency management. I think when we people started to use deno to build complex programs, a dependency manager is desired. Removing node_modules from the project folder is a brilliant revolutionary design, but I'm not sure whether the package.json file also should be deprecated. Currently, people use a `deps.ts` file or `import_map.json` to manage the external mo

[2020-06-01 18:25] nayeemrmn commented on #6030
Any discussion about first party package management should be taken to #47. But if you'd just like to showcase and gather opinions on your project, a better place to do so would be the Discord https://discord.gg/deno.

[2020-06-01 18:50] mattd3v commented on #5798
@bartlomieju can this be closed, or are there any other changes you know need to be made?

[2020-06-01 20:24] assafg commented on #5888
Getting the same when trying to build a docker image (using mongodb client from https://deno.land/x/mongo@v0.7.0/mod.ts)

[code]

[2020-06-01 20:43] SyrupThinker commented on #4786
Resolved with becbb56b19e96e4dd72b861217a855fba953d290

[2020-06-01 20:43] #4786 closed

[2020-06-01 20:57] nayeemrmn commented on #4895
I think a lot of the purpose expressed here was addressed by `check_read_blind()` in #5642... or at least it's made this more complicated. Closing.

[2020-06-01 20:57] #4895 closed

[2020-06-01 20:58] andreespirela opened #6033 "@ts-expect-error directive breaks under non-strict tsconfig"
Today at morning time (New York). My application started throwing the following error in multiple tests:
[code]
All test cases were tested and they were all throwing the same error.

tsconfig.json

[code]

After investigation, // @ts-ignore worked properly in all test cases, but // @ts-expect-error broke the code.

[2020-06-01 22:25] andreespirela commented on #6033
Setting `strict` to **true** keeps the error and creates a new one.
[code]
As you can see, yes, my app uses Oak, setting strict to true "breaks" the oak system and also **keeps** the first error

[2020-06-01 23:08] deebloo opened #6036 "Clarification regarding distributing TS source code instead of JS"
If this isn't the best place to post this please let me know and I will close and will ask elsewhere.

In the current day typescript world it is best practice to distribute compiled javascript alongside .d.ts files. This means that the end user doesn't need to worry about compiling the source code.

[I know that Deno supports .d.ts files](https://deno.land/manual/getting_started/typescript) but it

[2020-06-01 23:38] lucemans commented on #3356
Working on this repository atm: https://github.com/lucemans/docker-deno
Currently have smaller images, and different way of installing to avoid having to download extra software etc. Also should auto update to the latest deno version

[2020-06-02 01:15] #5924 closed

[2020-06-02 01:19] jingkaimori commented on #6023
#6000 is merged but the newer version of deno will throw the same error.I changed the file name to avoid the situation in #4298 :
* `main.js` -> `mian.js`
* `mod.js` -> `cirno.js`
but the same error message still occurs.

[2020-06-02 01:51] jingkaimori opened #6037 "Display commit in deno version."
It's necessary to set the output of `deno --version` like the text below: 40419c664d402d4c3c5783d0ae337d23c106f619
[code]
so we can easily refer to a specific version of source repository and target OS in an issue.

[2020-06-02 02:42] ry opened #6039 "add flag to enable deterministic execution"
This consists of
1. Setting the random number generator seed. We have this already.
2. Disabling all I/O - so turn off allow-read, allow-write, allow-net, allow-run, allow-plugin - etc.
3. Controlling the Date object
4. need a custom v8::Platform which will allow us to control the date precisely. Then we can add some APIs to allow people to change it. (Probably from the command line would be ideal

[2020-06-02 02:54] kitsonk commented on #6037
The [git tag](https://github.com/denoland/deno/tags) of the version already points at the specific commit, so the version number is sufficient for triaging defects.

If we start publishing "daily" builds, then some sort of information could be added then.  Building building from source should understand what they are doing to be able to open issues.

[2020-06-02 03:04] KSXGitHub commented on #5987
I think we can use this (in triple-slash comment) instead of `// @deno-asset`. Example:

[code]

Does this still count as "Deno inventing its own solution"?

[2020-06-02 03:06] llluuulll commented on #3139
hi,
so what command i can use to uninstall Deno  ? i am on wondows 10 and i am not at all confortable with complet unknow commands, i dont understand.

run$(witch foo), what is it wich foo ?
can some one point me the correct typo command to use ?

thx.

[2020-06-02 03:06] kitsonk commented on #6036
Common practice or best practice.  Most runtimes don't support TypeScript as a first class language, ergo, there is little choice.  That doesn't make it best practice.

JavaScript + `.d.ts` files would effectively be the same problem if Deno were to type check the `.d.ts` files.  We are working on a `--no-type-check` option which would simply not enforce the type checking (#5436).

Again, distribu

[2020-06-02 03:10] ry commented on #3139
Thanks - good argument.

I'm ok with something like this:
[code]

[2020-06-02 03:46] kitsonk commented on #5987
My opinion.  We should only allow importing resources that logically represent code which Deno can execute and have a statically determinable binding surface.  Deno can execute Web Assembly and there are browser standards in flight to talk about how it exposes itself in JavaScript.   It can execute plugins and Deno's own APIs determine the bindings.

Images are not code that Deno can execute.  CSS

[2020-06-02 03:52] KSXGitHub commented on #5987
This is what this issue is based on. The difference is that Deno should preload resources even before executing code.

[2020-06-02 04:00] ry commented on #4898
Yes I'm in favor of this.

https://googlechrome.github.io/samples/service-worker/basic/

[2020-06-02 04:24] #6033 closed

[2020-06-02 04:57] kwonoj commented on #5685
Peeking this bit looks like issues stemmed from https://github.com/rust-lang/rust/issues/42869. canonicalize on windows returns UNC path, stripping unc host (https://github.com/denoland/deno/blob/master/cli/ops/fs.rs#L584) will leave rest of path do not honor win32 path separator. Given std canonicalize does not provide workaround yet, it looks like stripping via drop-in replacement (https://gitla

[2020-06-02 05:16] KyleJune opened #6040 "Update timers to not depend on globals"
Currently [timers.ts](https://github.com/denoland/deno/blob/master/cli/js/web/timers.ts#L74) uses `Date.now()` to determine if timer callbacks should be called.
Sometimes people need to fake time in their tests to verify it behaves correctly. [SinonJS](https://sinonjs.org/releases/v9.0.2/fake-timers/) fakes time by temporarily replacing `globalThis.Date`, and the timer functions on `globalThis`. C

[2020-06-02 06:24] kevinkassimo commented on #6040
This is actually not just limited to timer, but all builtins. Deno currently just uses the globals from the environment, yet they subject to overwrites and can cause unexpected behaviors. For example, the simplest way to crash REPL is `window.Object = 1`.

[2020-06-02 06:32] #5705 closed

[2020-06-02 08:21] caspervonb commented on #6024
`Deno.setRaw` is currently behind the --unstable flag which is what we'll need to get raw input without echoing (whipped up https://github.com/caspervonb/deno-prompts as a quick and dirty example).

[2020-06-02 08:28] nathanawmk opened #6041 "docker image for deno"
Hello! any plans to make dockerize deno? If this is not done, I like to help.

Nathan Aw (Singapore)

[2020-06-02 08:33] KwanJunWen commented on #5953
I see, thanks for the advises. Will create a `mod.json` file to store the version number there and will update it every time new version is released.

Closing this issue.

[2020-06-02 08:33] #5953 closed

[2020-06-02 08:36] jamesseanwright commented on #5876
@njbraun There's a potential fix for that:

[code]

Specifically to your example, is there a reason you're pulling in `node-fetch`? Appreciate it might just be an example, but note that Deno provides `fetch` via the global `window` object.

[2020-06-02 09:24] edenprojectde commented on #6023
I think this is a debug related problem, at least in my case it seems that the parent /x/ libary got changed and errors have shown up on parent libaries; and the resulting missing libary file is the error 'error: No such file or directory (os error 2)'.

[2020-06-02 09:32] David-Else commented on #5777
I can confirm that the example in `--help` and the manual does NOT work on Centos/RHEL (and therefore I am 99% sure Fedora too). What DOES work is:

[code]
@opensas does `source /etc/bash_completion.d/deno.bash` work OK on your computer? If it does then I think we can call the above confirmed working on Ubuntu and Redhat.

Which distro does the original `--help` version work for? Maybe the above s

[2020-06-02 09:58] lucacasonato commented on #6041
The best docker images for Deno are maintained by @hayd: https://github.com/hayd/deno-docker

Duplicate of #3356

[2020-06-02 10:17] narwy commented on #5871
What? If you're going to deploy anything to serverless you're going to re-upload the function, not swap out file reads from fs. This would be no benefit for serverless at all.

[2020-06-02 10:22] max-pub commented on #5897
I have to apologize. I was using  ```git clone https://user:pass@local.gitlab.com``` which was working fine, so I expected basic auth behind the scenes.
Trying to run the project directly from the repository didnt work with deno.
Your example runs just fine.
git seems to to use another authentication method here.

[2020-06-02 10:35] chrisands commented on #5998
@deebloo it throws error that I should also add es* lib
[code]
When I add esnext to tsconfig I get Deno errors
[code]

[2020-06-02 11:24] jingkaimori commented on #6023
after 3fe6bc1b82a10bed1d907b749b1cc200659df612 ,the error disappear.

[2020-06-02 11:24] #6023 closed

[2020-06-02 11:26] bartlomieju commented on #5876
@jamesseanwright I just tried running this example on latest master and it compiles without a problem - I think the problem was fixed #6000, but I'm gonna keep this issue open until 1.0.4 is released.

[2020-06-02 12:47] deebloo commented on #6036
I would argue its best practice because there ARE folks that prefer to distribute shared code as raw TS. (usually seen in internal teams from my experience)

I am not sure that is true... but could be missing something.
I created a small reproduction that demonstrates the issue I am talking about using tsc directly.
https://github.com/deebloo/ts-dist-options

[2020-06-02 13:18] opensas commented on #5777
I think the help message could tell you how to achieve it on debian based distros, and tell you to check how to do it on your own distro. Moreover on the wiki we could add instructions for debia + fedora + arch based distros, which I guess will cover more than 95% of cases.

[2020-06-02 13:21] deebloo commented on #5998
Ah that makes sense. I think if you do it this way you need to run 'deno types' and generate the type definitions manually.

[2020-06-02 13:45] David-Else opened #6043 "[Docs Request] How do we lint our code up until the time `deno_lint` is ready?"
I have spent a while trying to configure `@typescript-eslint/eslint-plugin` to work with Deno and having no luck. It won't pick up the types on the `Deno` namespace.

For example, the VSCode extension works and sees the types, but ESLint does not (here is the hover over):
[code]
All over my code when there is a reference to `Deno` there are red squiggles and complaints about 'unsafe' references to

[2020-06-02 13:50] bfaulk96 commented on #6024
Ah, thank you very much! I suppose this can be closed, maybe it would be a good 3rd party lib as deebloo suggested.

[2020-06-02 13:54] #6024 closed

[2020-06-02 14:09] OverGlass opened #6044 "@deno-types don't work when I export directly a JS file from url"
Hello 👋

file `./deps.ts`
[code]
[code]
file `./app.ts`
[code]
[output] [1] ❌
[code]
[output] [2] 🦕
[code]
I have the same issue with pika.dev CDN

Thanks you for your work :)

[2020-06-02 14:35] FelipeAlvesSilva commented on #5435
Count with me 🎉

[2020-06-02 14:57] #5798 closed

[2020-06-02 15:28] Soremwar commented on #6044
Might be unrelated, but Deno only accepts JSX syntax inside `.jsx` or `.tsx` so you might try to rename that first.

[2020-06-02 15:35] OverGlass commented on #6044
Oh I made a mistake when I wrote this issue, I'm using app.tsx, not app.ts.

[2020-06-02 15:42] kdy1 opened #6047 "Update swc_ecma_parser to 0.24"
I fixed lots of bugs related to typescript parsing.
I'm leaving an issue here because the bugs contain some serious bugs.

See: https://github.com/swc-project/swc/pull/811

[2020-06-02 16:18] Pangoraw commented on #6047
It should fix https://github.com/denoland/deno/issues/5978 as well :+1:

[2020-06-02 16:33] bartlomieju commented on #6047
Thanks for opening the issue @kdy1. CC @dsherret

[2020-06-02 16:37] nihaals commented on #3356
That's not how Docker images are meant to be designed... Everything should be installed beforehand not while creating the container

[2020-06-02 16:48] dsherret commented on #6047
Ran my test suite and ran into this bug https://github.com/swc-project/swc/issues/814 so I don't want to upgrade until that's fixed.

It's a common use case for union types in arrow function expressions: https://prettier.io/playground/#N4Igxg9gdgLgprEAuc0DOMAE8MEsoDmmAvJgBQA6UmNmADgIYBODAtkphk-gQDRW1MEGAAs4TDlACurAEbj+UAJRIBtAD6cY3Qmpqbpc8XswGZ8pibNHL1DVp0ErWmK7fuPnr25IA+KsAmTHAwUkzUAKwA3FQAvlEgvC

[2020-06-02 17:23] FelipeAlvesSilva commented on #5435
Count with me :)

[2020-06-02 17:26] gungunfebrianza opened #6049 "Uncaught SyntaxError: Unexpected token I in JSON at position 0"
Hello guys try to execute fetch method on deno, but seems the problem is in the core :

[code]

here is the error message :

[code]

[2020-06-02 17:34] yordis commented on #5858
I hope you find a way to keep TypeScript.

It is really welcoming experience to open any file and figure out what the objects are without having to debug and relying on a strong understanding of all these objects in order to contribute (maybe add JSDoc everywhere?).

It is always a given and takes with typed languages but even languages like Erlang/Elixir require you to add types everywhere if you

[2020-06-02 17:51] acathur commented on #6030
Thank you @nayeemrmn, I got it, but I really want to know what the attitude of the core members is, @ry was against to the centralized repositories and even a package.json file, but now there is a third party modules page on the deno official site, I think it's good for building the ecosystem around deno. Module contributors need a file to describe the info of their projects, and package.json is o

[2020-06-02 17:58] acathur commented on #5832
@mohsin51 I have the same idea as you, so I built this thing - [dep](https://github.com/denodep/dep), maybe you can try it out.

[2020-06-02 18:10] Tnifey opened #6050 "Trailing comma not allowed. after deno fmt"
i've got this before `deno fmt`
[code]
and after
[code]
which prints on run
[code]

[2020-06-02 18:19] millette commented on #3614
See <https://github.com/caspervonb/deno-prompts> and #6024

[2020-06-02 18:23] JonShort opened #6051 "std/testing/asserts - assertThrowsAsync - allow return types other than Promise<void>"
This issue relates to [std/testing/asserts.ts](https://github.com/denoland/deno/blob/master/std/testing/asserts.ts)

Using `assertThrowsAsync` when a function has a return type other than `Promise<void>` causes an error

![image](https://user-images.githubusercontent.com/21317379/83547779-a11c7f00-a4fa-11ea-8bb1-0600642c5be1.png)

I'm happy to submit a PR to address this

[2020-06-02 18:32] nayeemrmn commented on #6030
@acathur What are you proposing, then? If it's just for people to describe their projects and Deno won't need to look it up, how is this an actionable issue? Your title is as vague as it could possibly be and the description is, in clear terms, simply asking for feedback on your third party project. Please edit them.

[2020-06-02 18:51] hastri opened #6053 "thread 'main' panicked at 'already borrowed: BorrowMutError' when in REPL"
[code]

[code]

[code]

[2020-06-02 18:57] JAicewizard commented on #6020
@ry after looking at the code I am willing to implement any of the above.

[2020-06-02 19:10] bartlomieju commented on #6050
CC @dsherret

[2020-06-02 19:16] bartlomieju commented on #6053
Most likely caused by #5929

[2020-06-02 19:22] afinch7 commented on #6053
It's worth noting you can produce the same error with any op not just `crypto.getRandomValues`.

[2020-06-02 19:24] acathur commented on #6030
@nayeemrmn Sorry for my English, I'm not a native speaker, maybe made some mistakes in my sentences. I am not trying to introduce my project or asking feedback here, I mean I'm worrying about this solution is disapproved by the deno team, or do you have some guidelines or plans or suggestions on dependency management tool?

[2020-06-02 19:25] denjucks opened #6054 "thread 'main' panicked at 'already borrowed: BorrowMutError'"
Received this error. For some additional info, I am only using the `std/path` module and some function from the `Deno` global.

[code]

[2020-06-02 19:26] tdillon commented on #5701
I've been eagerly awaiting canvas since I heard about Deno.

[2020-06-02 19:27] hastri commented on #6019
Maybe we could add a helper function like

[code]

I'd add it if that's okay

[2020-06-02 19:34] chrisands commented on #5998
@deebloo thank you for explaining. Well, adding "dom" lib doesn't help the issue go away.
[code]

[2020-06-02 19:39] lucacasonato commented on #6054
Duplicate of #6053

[2020-06-02 19:49] deebloo commented on #5998
@chrisands you will need to manually specify that your event is a "CustomEvent<any>"

[2020-06-02 20:01] lucacasonato commented on #6020
I think the most straight forward solution to the problem would just be letting `deno run` read from stdin if no file is specified. So `cat test.js | deno run` would be equal to `deno run test.js`. This has precedent in other runtimes, like `node` and `python`. The benefits over the proposed solution by @JAicewizard are that we do not introduce new blacklist flags and that we don't have a inconsis

[2020-06-02 20:08] JAicewizard commented on #6020
note that this is one of my proposed ways to fix this specific problem, just not for how to potentially handle the permission flags.

[2020-06-02 20:19] chrisands commented on #5998
I did this to make it work:
[code]
[code]

[2020-06-02 20:28] ry commented on #6054
@denjucks Can you please provide an example code ?

[2020-06-02 20:30] deebloo commented on #5998
for simple examples this also works

[code]

[2020-06-02 20:37] #6053 closed

[2020-06-02 20:43] hastri commented on #6054
Same command as #6053 with bash/lss

[code]

seems to be the same error

[2020-06-02 20:50] ry commented on #6054
@hastri That was fixed in #6053

I'm interested in @denjucks's example code - which sounds unrelated to the REPL?

[2020-06-02 20:51] hastri commented on #6054
But with the same exact stack trace?

[2020-06-02 21:06] #5942 closed

[2020-06-02 21:15] nayeemrmn commented on #6020
Node's explicit way of reading the script from stdin is `cat test.js | node -`, but I see `cat test.js | node` also works.

I would suggest supporting the former (`cat test.js | deno run -`) but not the latter (`cat test.js | deno run`). I hate going against that much precedent but I never liked programs which change CLI syntax depending on tty state... seems like it would be a pain for us anyway.

[2020-06-02 21:19] Bidek56 opened #6057 "error: No such file or directory (os error 2)"
Running a simple oak server to illustrate [deno-react-example](https://github.com/o2sevruk/deno-react-example) using deno 1.0.3 on Ubuntu results in: "error: No such file or directory (os error 2)"

Would anyone know how to debug this?
Thanks

[2020-06-02 21:27] hazza203 commented on #6057
I've just spent the last couple of hours debugging this myself and was about to raise an issue! I'm also on Ubuntu (20.04).

In my case it seems to be an issue with dynamic importing (deno module [nessie](https://deno.land/x/nessie) is causing this for me). I debugged it using the `--inspect-brk` command and found the source [`await import("file:///home/.../file.ts")`](https://deno.land/x/nessie/c

[2020-06-02 21:30] bartlomieju commented on #6057
This problem was a regression in v1.0.3 and was fixed in v1.0.4 can you try upgrading and checking the result?

[2020-06-02 21:41] dhanushkac commented on #5887
Yeah.. this is good! :)

[2020-06-02 21:48] Bidek56 commented on #6057
Still the same issue using Deno 1.0.4
Like hazza203 has pointed out it has to do with a dynamic importing like:
`import ListUsers from './ListUsers.jsx';`

[2020-06-02 22:07] hazza203 commented on #6057
I upgraded but the issue persisted.

However, I've managed to isolate the issue some more. My initial assumption on dynamic import's was a bit off. I've isolated it down to this package [Dex](https://deno.land/x/dex).
I've stripped the code completely down to import dex as in the manual:
`import Dex from "https://deno.land/x/dex/mod.ts";`
Any single reference of `Dex` after the import causes the e

[2020-06-02 22:30] kitsonk commented on #6057
It would be helpful to post a `-L debug` to help diagnose the problem.

[2020-06-02 22:37] MarkTiedemann commented on #6001
`Deno.stdout.write` writes UTF-8 data but the console code page may be different.

If you run `chcp 65001` (65001 = UTF-8) first, the output is as expected.

[2020-06-02 22:40] Vehmloewff opened #6058 "`assertArrayContains` does not print errors in a helpful manner"
**Expected**

I expect `assertArrayContains` to output an error similar to the way `assertEquals` does it.

**Actual**

[code]

As you can probably imagine, this makes it a bit more challenging to fix the broken test.

[2020-06-02 22:42] vladimyr commented on #3802
Unfortunately, you won't get really far with it. It doesn't support memory info on macOS: https://github.com/myfreeweb/systemstat/blob/a7c54aa/src/platform/macos.rs#L58-L60

[2020-06-02 22:52] Bidek56 commented on #6057
-L debug produces a giant log, I am including the last few rows, please let me know if you need more.
`
fetch_source_file specifier: https://deno.land/std@0.53.0/path/_globrex.ts
[0m[1m⚠️️  Granted network access to "https://deno.land/std@0.53.0/path/_globrex.ts"[0m
fetch_source_file specifier: https://deno.land/std@0.53.0/fmt/colors.ts
[0m[1m⚠️️  Granted network access to "https://deno.land/

[2020-06-02 23:27] brianleroux commented on #6054
Seeing a similar issue on AWS Lambda. Can provide the runtime code if you need.

[code]

[2020-06-02 23:35] hazza203 commented on #6057
Apologies, wasn't aware of the command. Dumped it to a txt file.

[debug.txt](https://github.com/denoland/deno/files/4720191/debug.txt)

[2020-06-02 23:49] ry commented on #6054
@brianleroux Yes please provide some sample code so I can debug

[2020-06-03 00:14] brianleroux commented on #6054
Custom runtime here: https://begin-deno-runtime.s3-us-west-1.amazonaws.com/deno-1.0.4.zip

Effectively AWS Lambda calls bootstrap which is just `DENO_DIR=/tmp/deno_dir deno run -A --unstable /opt/runtime.ts`

The handler code imported by `runtime.ts` to get this behavior was:

[code]
[code]

[2020-06-03 00:34] ry commented on #6054
Thanks @brianleroux but I'm still unable to repeat the failure.

If anyone can provide some small sample code that demonstrates this failure, that would be very helpful.

Once this issue is fixed I'll be cutting v1.0.5

[2020-06-03 00:40] brianleroux commented on #6054
I'm def reproducing (tho perhaps I compiled the binary wrong?) Reran with `RUST_BACKTRACE=1` and got the following output:

[code]

[2020-06-03 00:56] marchiore commented on #6058
@Vehmloewff How can i simulate it?

i've run:

[code]

the result was:
[code]

[2020-06-03 01:30] edenprojectde commented on #6057
I second this:

The same is valid for other sqlite3 handler libs not just dex! (Like cotton, denodb, [..])
And the error didn't start right after using the libaries the first time, i think it started after a while of running denon. At least that's how i remember it.

Log looks a lot like @hazza203 's at least the last lines.

[log.txt](https://github.com/denoland/deno/files/4720506/log.txt)

[2020-06-03 01:41] edenprojectde commented on #6057
Ah guys, at least for cotton it works after clearing the cache;
Do the following:

1. `deno info`
2. Copy the path from "Remote modules cache"
3. `rm -rf ${path}`

This got me running again with 1.0.4 though you should take a look at the Repo of the SQL Lib u are using if it has been updated to SQLite3 2.0.0.

[2020-06-03 03:38] #6058 closed

[2020-06-03 07:23] niyarlatotep opened #6061 "error: error sending request for url (https://deno.land/std/path/mod.ts)"
I'm behind a corporate proxy and on tring to install script deno I get this error:
[code]
I'm on windows, HTTP_PROXY and HTTPS_PROXY env variables are set.

[2020-06-03 09:13] cawa-93 commented on #3437
I see an easy way to delete an outdated cache. This can be useful until a better solution will found.

First of all, I assume that the entire cache of your project is located in a subfolder and not globally.
[code]

Then, you need:
  - Generate a list of fresh dependencies.
  - Delete all cache
  - Restore only those dependencies that were on the list.

Make it easy with the commands:
[code]

[2020-06-03 09:26] JAicewizard commented on #6020
What exactly do you mean by tty state? would `cat test.js | deno run` depend on the terminal? We could just read until EOF (both cat and echo close their stdout), I am not sure how that would change from tty to tty.

[2020-06-03 09:59] wongjiahau opened #6062 "`deno bundle` command will always format output by default"
The command `deno bundle` always format the output by default (even though it's unnecessary in some scenarios), which increase the overall bundling time.

To improve this situation, we should add a `--no-format` option for the sub command `bundle`.

[2020-06-03 10:52] SyrupThinker commented on #6054
@ry
[code]
[code]

[2020-06-03 11:50] nyctef commented on #6001
Yep, that works for me too 👍

Seems strange that `console.log` just works here though - is it doing something different that `Deno.stdout.write` could use? I tried browsing through the source to figure out how `console.log` was implemented, but got lost pretty quickly.

[2020-06-03 11:54] MarkTiedemann commented on #6001
I'd assume that it's calling `SetConsoleOutputCP(CP_UTF8)` before logging but I don't know the internals either.

[2020-06-03 12:06] Bidek56 commented on #6057
This did not work for me, still the same: **error: No such file or directory (os error 2)**
I am using deno 1.0.4, thanks

[2020-06-03 13:03] wschenk commented on #5410
I'm not sure I understand which standard you are following -- I guess its more of a "deno is a command line browser" thing -- but I found this behavior unexpected.  I'm working around it with regex, which is always a bit weird...

[code]

[2020-06-03 13:15] xcatliu commented on #6054
[code]

[2020-06-03 13:17] marchiore commented on #6049
@gungunfebrianza what's the return of `http://127.0.0.1:8000/api/v1/signup`?

[2020-06-03 13:25] ry commented on #6061
Hmm.. It's possible our HTTPS_PROXY isn't used for module resolution?

[2020-06-03 13:27] ry commented on #6062
Can you provide a benchmark of how much time it adds?

I don't like adding extra options. Either we remove formatting entirely - if you can show that it's significantly slower - or it always formats.

[2020-06-03 13:40] wongjiahau commented on #6062
@ry I will provide a benchmark, but the difference will definitely be significant when the output get very larges, imagine bundling the `index.ts` of a React App.

[2020-06-03 13:48] ry commented on #6062
@wongjiahau A concrete benchmark would really be illuminating for me - thanks. I will definitely remove formatting then.

[2020-06-03 13:55] bartlomieju commented on #6062
I'm pretty confident that formatting doesn't have big performance impact on `deno bundle`. Most of the time is spent on collecting modules and in TS compiler. It will be interesting to see the benchmark.

[2020-06-03 14:19] littletof opened #6067 "bug(std/testing/bench): Bench doesn't throw on 'stop before start' without --allow-hrtime"
It's a minor issue, but changing flags can cause unexpected behaviour.

Creating a dummy bench like:

[code]

and asserting that `runBenchmarks` will throw on this, will have different outcomes depending on the usage of `--allow-hrtime`.

Without the flag it usually wont throw, because it measures in millisec and tests for `start > stop` but usually they equal with this dummy bench.

[2020-06-03 14:20] littletof commented on #6067
I'm working on this, will open a PR with the fix.

[2020-06-03 14:28] gbrlsnchs commented on #3539
The defacto client should be the one from [the WebSocket API](https://developer.mozilla.org/en-US/docs/Web/API/WebSockets_API), if browser compatibility is the goal.

https://deno.land/std/ws/ should still exist for WebSocket servers and non-compatible clients, if desired. It could even use the native WebSocket client implementation later somehow (be a wrapper around it, maybe?).

[2020-06-03 14:28] wongjiahau commented on #6062
@ry @bartlomieju I found an example, try downloading this file [Terser.js minified bundle](https://gist.githubusercontent.com/wongjiahau/20366c87f922eee462a8ecd172d155cb/raw/ae63b54e386759880590771a3806f1c83231d1a2/terser.min.js).

[code]
Then run:
[code]
It took about 4.31 seconds on my machine.

Output of `deno --version`:
[code]

My machine specification:
[code]

[2020-06-03 14:30] dsherret commented on #6062
I was about to say I wouldn't be surprised if it formatted slow on a minified or extremely large file. I haven't optimized it for minified files, but I bet it's spending a decent amount of time trying to figure out where newlines are. Perhaps it could do a quick heuristic to check if the file is minified before formatting.

[2020-06-03 14:33] wongjiahau commented on #6062
@dsherret Anyway, why do we need to add this unnecessary overhead when the output produce immediately by Typescript compiler is already formatted?

[2020-06-03 14:36] wongjiahau commented on #6062
Also I would like to add on that, bundled files are usually meant to be consumed by machine rather than human, thus formatting them is like adding ice on top of ice-cream.

[2020-06-03 15:01] dsherret commented on #6047
I opened a PR for this. I did a test and looks like #5978 is still occurring though.

[2020-06-03 15:21] littletof commented on #5017
@seishun I tried using this command again on my non-english win10 today and it worked for me, maybe this is not an issue anymore?

[2020-06-03 15:24] #6047 closed

[2020-06-03 15:24] #6050 closed

[2020-06-03 15:34] kitchanismo commented on #5982
can i go back to previous version to fix this issue?

[2020-06-03 15:35] lucacasonato commented on #5982
This error should be fixed in the latest release (1.0.4)

[2020-06-03 15:36] lucacasonato commented on #6022
This should be fixed in 1.0.4

[2020-06-03 15:44] apiel opened #6071 "Update to deno 1.0.4 result to failed to initiate panic"
Hello,

After updating from 1.0.3 to 1.0.4, my code is not anymore working. I getting the follwing error:
[code]
To reproduce, you can clone https://github.com/apiel/adka and run `RUST_BACKTRACE=1 deno run -c tsconfig.json --allow-read --allow-write --allow-env --allow-net --unstable adka.ts`. I suspect the dynamic import to be the cause of the problem in the main file: https://github.com/apiel/ad

[2020-06-03 15:52] jhonatantft commented on #6061
The format of your environment variables looks like this `http://proxy-domain.com:PORT/`?

[2020-06-03 15:53] kitchanismo commented on #5982
when i use denodb package, i still encounter this error,
The system cannot find the path specified. (os error 3)

[2020-06-03 15:54] apiel commented on #6071
I wonder if it is not related to https://github.com/denoland/deno/issues/6054

[2020-06-03 16:08] kdy1 commented on #6047
Note for #5978: While the bug is fixed, you can use `TsCondig.no_early_errors` to avoid error messages

[2020-06-03 16:10] apiel commented on #6071
Ok the problem is when there is an `await` in a dynamic import, see https://github.com/apiel/deno-issue-6071

[2020-06-03 16:13] apiel commented on #6054
The problem is due to `await` in dynamic import, see https://github.com/denoland/deno/issues/6071#issuecomment-638298318

[2020-06-03 16:18] ry commented on #6071
duplicate of #6054

[2020-06-03 16:46] sefel commented on #5982
@lucacasonato Unfortunately it is not.
I check it on two PC with windows 10.
Now when I run helloWorld.js I have this error:
`error: Uncaught AssertionError: Unexpected skip of the emit.
    at Object.assert ($deno$/util.ts:33:11)
    at compile ($deno$/compiler.ts:1170:7)
    at tsCompilerOnMessage ($deno$/compiler.ts:1338:22)
    at workerMessageRecvCallback ($deno$/runtime_worker.ts:72:33)`

[2020-06-03 16:53] ry commented on #6054
v1.0.5 will be released later today with a fix for this

[2020-06-03 17:19] seishun commented on #5017
@littletof still fails. What's your Python version? Are you running in cmd?

[2020-06-03 17:42] littletof commented on #5017
@seishun My bad its still an issue. Sorry.

I missed that I should try without `--staged`. Without it, it still fails.

On my non-english system (`Python 2.7.10`) I get an `[Error 87]` just like you.
On my english system (`Python 2.7.16`) I get an `[Error 206] The filename or extension is too long`

With that, until its fixed maybe you can use the tool with `--staged` if its sufficient for you

[2020-06-03 17:45] #6067 closed

[2020-06-03 17:50] HappyStriker commented on #5993
Thank you for that feedback. Finally I have got sorted it out, at least for manually doing a http request:

[code]

The order of operations in the `connection.read` part where kind of hard to understand, as I am not used to the `Uint8Array` object and I had expected the answer to be returned by the `connection.read` method instead of the value being written into the `Uint8Array`.

One final questi

[2020-06-03 18:23] AliBasicCoder opened #6076 "TextDecoder doesn't support any encoding but ascii, latin1, utf8 and windows-1252"
so i went to https://developer.mozilla.org/en-US/docs/Web/API/TextDecoder/encoding and made this
script

[code]

and the result is this

[code]

[2020-06-03 18:29] AliBasicCoder commented on #6076
while running it on chrome gave me this:

[code]

[2020-06-03 18:32] brianleroux commented on #6054
confirmed fixed! thank u 🍻

[2020-06-03 18:33] runny-yolk commented on #5961
TS compiles to JS, as we all know, and the way v8 works is by compiling JS to machine code - or at least, it used to, but these days uses a mixture of bytecode and machine code. [Some further reading](https://blog.logrocket.com/how-javascript-works-optimizing-the-v8-compiler-for-efficiency/)

So it seems to me, that Deno already does what you want, just the compiler is part of the runtime, instead

[2020-06-03 19:36] TooTallNate opened #6080 "Getting "error: Read-only file system" for `.graph` cache file"
Starting with `deno` v1.0.3, a new `.graph` file seems to be output into the `gen` files in the deno cache alongside the other compiled files. For example:

[code]

I am deploying to a Lambda function which has a read-only filesystem where the deno cache resides (same setup as in #5688). For some reason, when executing `deno run hello.ts` from within the Lambda, `deno` decides to compile the `hell

[2020-06-03 19:36] #5978 closed

[2020-06-03 19:45] bartlomieju commented on #6080
Thanks for the report @TooTallNate

This is most likely the cause, changing the paths should hot-fix this problem, but ultimately we need to fix it in Deno. I just realized that the same is valid for source map files.

Unfortunately not

This file was introduced in #5029 to keep track of dependencies of compiled file - it's used to invalidate the cache if content of any of dependencies is changed.

[2020-06-03 20:05] aricart opened #6081 "`deno test` only seems to run one file"
`deno test` will craftily find a test file, but only one.  To run multiple tests an argument indicating the files to run is necessary. If it can find one file indeed it could find more?

[2020-06-03 20:06] denjucks opened #6082 "error: Uncaught AssertionError: Unexpected skip of the emit."
Receiving this error when importing a file. It looks like the issue is isolated to Linux

[code]

Code to reproduce this error on Linux:

[code]

Will look into it further and see if I can isolate the bug a bit.

[2020-06-03 20:07] aricart opened #6083 "deno test simply prefixes everything with `test <testname>`"
With multiple files, it would be more useful if the test runner simply listed `<test_file> <testname>`. To provide a hint of the location of the test.

[2020-06-03 20:08] kitsonk commented on #6081
It finds all the files for me.  You really need to provide more information.  This is not a vert useful issue.

[2020-06-03 20:16] nayeemrmn commented on #6083
Duplicate of #4644.

Not possible, a function can't know "what module it's being run from" without doing something really hacky which probably won't work for wrappers around `Deno.test()`. The error stack from a failing test should be enough, right?

[2020-06-03 20:20] kitsonk commented on #5410
@wschenk https://url.spec.whatwg.org/#url-miscellaneous lists special schemes.  Then https://url.spec.whatwg.org/#url-representation specifies what schemes get parsed in what way.  Only special schemes (excluding `file`) get parsed out that way.

[2020-06-03 20:25] kitsonk commented on #6076
Contributions are welcome.

[2020-06-03 20:27] kitsonk commented on #6062
I tend to agree... I am surprised we are formatting bundles by default.  Feels totally unnecessary.

[2020-06-03 20:31] denjucks commented on #6082
Here's a more isolated example. I took a module I wrote about a month ago that performs base64 encoding, removed any external modules from it (was only using the path module prior), and then tried to import it and run it, and it throw the above error:

`mod.ts`
[code]

`test.js`
[code]

[2020-06-03 20:34] nayeemrmn commented on #5982
Yes, still an issue on 1.0.5. Repro:
`temp.js`:
[code]
[code]

<hr>

And any module that depends on `temp.js` will instead throw the original error:
`temp2.js`:
[code]
[code]
Same result if I used TS here.

[2020-06-03 20:38] nayeemrmn commented on #6082
I reproduced this here: https://github.com/denoland/deno/issues/5982#issuecomment-638446932. I put it in that issue because it seems connected.

[2020-06-03 20:38] aricart commented on #6081
I have a tests directory where all my tests live. If I do a fmt:
[code]
All files found everything is right as rain.

Now if I run the tests:
[code]
Note that the summary for the test run never happens above.

Now I am running the tests explicitly giving some file argument:

[code]

[2020-06-03 20:40] aricart commented on #6081
Yes in an experiment with do nothing type test, deno finds all my tests stored using a similar strategy. The interesting part is for my regular tests it doesn't.

[2020-06-03 20:41] imaginamundo commented on #5982
I am running into this issue today, some details bellow:

On **MacOS** 10.5.4, here are my files:

**deps.js**
[code]

**mod.js**
[code]

Running with the command:
[code]

Console error:

[code]

My current Deno setup:

**deno:** 1.0.5
**v8:** 8.4.300
**typescript:** 3.9.2

Happening since I've start testing a deps file on Deno 1.0.4

[2020-06-03 20:43] aricart commented on #6081
NVM - the issue was a pesky '_tests.ts'. Error between keyboard and the chair.

[2020-06-03 20:43] #6081 closed

[2020-06-03 20:53] timreichen opened #6086 "naming consistency of std"
Correct me if I am wrong or if this is intensional but I encountered a rather unexpected naming inconsistency in std/http/cookie.ts in contrast to native JS.
The naming convention in JS is

[code]

for example for [Maps](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Map).

At the moment cookies.ts defines

[code]

Would it make sense to rename ```delCookie(…)```t

[2020-06-03 20:55] ry commented on #6086
Yes please!

[2020-06-03 21:00] littletof opened #6087 "Refactor benchmarking differentiating on runcount"
There is no need to differentiate based on whether the bench will be run once or many times.
This simplifies the maintenace and the usage of the api.

(sorry for the many small PR-s)

[2020-06-03 21:06] timreichen commented on #6086
https://github.com/denoland/deno/pull/6088#issuecomment-638460916

[2020-06-03 21:14] viandwi24 opened #6089 "error "thread 'main' panicked" after I upgraded to deno v1.0.4"
i try run my project , and i getting this error after i upgrade to deno v.1.0.4
in deno version 1.0.2 this works.
I'm really stuck.

**Error :**
[code]

**i run :**
[code]
**in this my configuration file :**
[code]

[2020-06-03 21:17] lucacasonato commented on #6089
Upgrade to 1.0.5. It was fixed in that release :-)

[2020-06-03 21:25] gungunfebrianza commented on #6049
hi math thank you fo response, i will take a look now,

[2020-06-03 21:37] viandwi24 commented on #6089
thank you :) for the notice, even though only a few moments ago I upgraded to 1.0.4. so I didn't know that.
thanks.

[2020-06-03 21:37] #6089 closed

[2020-06-03 21:52] timreichen opened #6090 "datetime – more general aproach?"
I wonder if it would make sense for the std/datetime module to be more generalised so it could parse any kind of format with any kind of separator.

For example:

[code]

I created a minimal datetime module not too long ago with that exact functionality. I would happily contribute that code to this great project.

I would propose to have the following format fragments parsable ([ISO 8601](https://

[2020-06-03 22:19] lemaguilera commented on #5982
I have exactly the same error from today that I went from version 1.0.3 to 1.0.5

[2020-06-03 22:21] TooTallNate commented on #6080
Thanks for the quick reply!

Great! Will this happen via relative file URIs (again, just curious)?

Also the `.meta` file! Though this isn't a problem for the read-only FS (as of v1.0.2 at least).

[2020-06-03 22:38] kitsonk commented on #6049
How would you improve an error that indicates that the input is invalid JSON when the input is invalid JSON?

[2020-06-03 22:59] marchiore commented on #6049
@kitsonk the only way i can see to solve it is checking before parse if the `raw` variable is a valid JSON something like this:

[code]
and instead of show:
[code]

we show something like:

[code]

what do you think? if this is a good solution I can work on a PR for this.

[2020-06-03 23:00] zzhenryquezz commented on #5871
I don't think it is good to put this option in the core of Deno because in my option the runtime machine should only run the application, and watch files and reload the app seems like go away of this responsibility.

Also, this type of feature is only useful in the development mode, but if it exists in the core of Deno will also exists in the production app with all unnecessary code to run that fe

[2020-06-03 23:23] filburt-turle opened #6091 "Feature: Deno compile binary of js backend application?"
Hi,

I've been watching Deno for a while and I think what you guys have done is amazing. I started learning rust 6 months ago and the fact that you have Rust on the backend of this has me as a fan. I did wonder if there was any thought around potentially being able to compile an executable for javascript applications?

Essentially wrapping your entire JS project into a binary instead of having all

[2020-06-03 23:24] crowlKats commented on #6091
you might want to look at #986

[2020-06-03 23:27] nayeemrmn commented on #6091
Duplicate of #986.

[2020-06-03 23:32] narwy commented on #5871
I agree with you there @zzhenryquezz

I understand adding it by default will make it easy to developer things. However in production mode where things like serverless layers are restricted to file sizes etc, I'd rather have a smaller runtime than a clunky one that's got functionality in there for more of a dev mode.

Maybe if you had a development mode which installed this kind of functionality vs

[2020-06-03 23:52] #6091 closed

[2020-06-04 00:13] kitsonk commented on #6049
That would require parsing the JSON twice then, not very good from a performance perspective.

If the normal error that indicates that the JSON is not valid is not sufficient, a `try ... catch` around the actual `JSON.parse()` that throw a different error would be more logical, then you would only be parsing the JSON once.  Where ever the `.json()` is being called should implement a `try ... catch

[2020-06-04 01:24] wongjiahau commented on #4549
I'm doing this now exactly, and I have to tell you it's very painful to get this working.

[2020-06-04 02:33] #6087 closed

[2020-06-04 04:19] withered-flowers commented on #6057
I have the same problem here:

Case:
Linux x86_64

How to reproduce:
1. Using deno 1.0,5
2. make some code with some 3rd party module with folders (test code: https://github.com/withered-flowers/learn-deno)
3. run the file `deno run --allow-net --allow-read --reload index.ts`
4. error: No such file or directory (os error 2)

Temporary solution:
1. Downgrade to 1.0.0 (deno upgrade --version 1.0.0)

[2020-06-04 04:40] timonson opened #6094 "btoa and base64 module"
The correct **base64** encoding of `ß` is `w58=`.

[code]

The German letter `ß` is one of the ASCII characters below 255 and inside the *latin1 range*, but it has two bytes. Therefore `btoa` doesn't throw an error and converts it to incorrect **base64**. I know that browsers do the same, because the btoa specification  is based on **latin1** (all one byte) instead of **ascii** (128-255 have two b

[2020-06-04 05:11] filburt-turle opened #6095 "How to read messages off unix connection?"
I've gone through the documentation as well as the code and I'm drawing blanks as to how to read messages from a Unix domain socket. I'm able to listen on a socket:

[code]

I know how to connect to that very socket with:

[code]

but I'm drawing blanks as to how am I supposed to read the message stream from a unix socket. I know the unix socket stuff is flagged w/`--unstable`, but looking to make

[2020-06-04 05:43] Niyarlatotep commented on #6061
@jhonatantft yes, exactly
[code]

[2020-06-04 06:27] rjoydip opened #6096 "incorrect code reference link in failures message"
While getting failures message the line reference showing incorrect. It should use `#` instead of `:`

e.g: [https://deno.land/std/testing/asserts.ts#138:11](https://deno.land/std/testing/asserts.ts#138:11)

![image](https://user-images.githubusercontent.com/15318294/83721977-c542a200-a659-11ea-9e86-926df9e75947.png)

[2020-06-04 06:31] caspervonb opened #6097 "Naming consistency in std/testing"
The assertions in _std/testing/asserts.ts_ are somewhat arbitrarily abbreviated.

* assertArrayContains
* assertStrContains
* assertNotEquals
* assertStrictEq

Proposing we use the long form consistently

* assertArrayContains
* assertStrContains **-> assertStringContains**
* assertNotEquals
* assertStrictEq -> **assertStrictEqual(s)**

This would be a breaking change so I'm soliciting feedback be

[2020-06-04 06:40] caspervonb opened #6098 "Return a tuple from std/flags parse"
We have destructuring these days so returning a tuple is (IMHO) cleaner than using the `_` property.

Example:

[code]

This would be a breaking change so I'm soliciting feedback before doing a pull request.

[2020-06-04 06:43] kitsonk commented on #6096
I don't know if it is _incorrect_ in that that is the standard way of writing out code points, but you point out an interesting thing that we _could_/_should_ rewrite the URLs for remote modules into a fully "clickable" link, because as you point out, using the anchor does actually bring you directly to the line if you can click on the link in your terminal.

[2020-06-04 06:59] kitsonk commented on #6094
UTF16 strings (which is what JavaScript uses internally) need to be escaped properly encoded when they contain multibyte characters like `ß`.  There is `unescape` but that is Annex B and while it exists in Deno, not something we should really depend on (we already dropped some Annex B stuff).  The encode in Base64 should look something like this:

[code]

The above returns the following for ß:

[c

[2020-06-04 08:13] yodfz opened #6099 "deno how to load ts file?"
In this?
[code]
I want to know when TS compiles。

[2020-06-04 09:59] jamesseanwright commented on #5876
I'll give it a whirl at some point in the next few days. Thanks for the update @bartlomieju! :)

[2020-06-04 11:15] dkuroi opened #6100 "thread '<unnamed>' panicked at 'called `Option::unwrap()` on a `None` value'"
[code]

[code]

[2020-06-04 11:24] SquareMesh commented on #5876
Not sure if I'm encountering same issue with the following import.

import {Button} from 'https://cdn.pika.dev/@material-ui/core@^4.10.1';

A slew of items are downloaded but fails with the following..

error: Import 'https://cdn.pika.dev/dist=es2019,mode=types/index.d.ts' failed: 404 Not Found

Tried on Deno 1.0.5, 1.0.4, 1.0.3.

[2020-06-04 11:50] kitsonk commented on #6098
I am 👎 for this, as mentioned, it would be a breaking change.  It aligns to other parsing APIs (e.g. https://github.com/substack/minimist) and is sort of what is expected in this space.  People are welcome to use other APIs.  They are not required to use `std`.

[2020-06-04 12:41] ry commented on #6100
Is this maybe an issue in the deno_mongo plugin? cc @manyuanrong

[2020-06-04 13:32] nayeemrmn commented on #6096
Maybe `https://deno.land/std/testing/asserts.ts:138:11` can redirect to `https://deno.land/std/testing/asserts.ts#138`?

[2020-06-04 13:35] ChristopherMeek commented on #6082
I can reproduce on windows

```import { sprintf } from "https://deno.land/std/fmt/printf.ts";```

[code]

[2020-06-04 13:47] jayarjo commented on #5961
At the end of the day I think I simply need something with TypeScript syntax to survive the day when JavaScript will end.

[2020-06-04 13:49] timonson commented on #6094
Exactly @kitsonk. For an alternative (maybe more performant?) look here: https://gist.github.com/enepomnyaschih/72c423f727d395eeaa09697058238727

[2020-06-04 14:32] nayeemrmn opened #6104 "Move std/testing/asserts.ts to std/assert/mod.ts"
The `testing` prefix is more noisy than helpful. `std/testing/bench.ts` should be moved out as well.

- `std/testing/asserts.ts` -> `std/assert/mod.ts`
- `std/testing/diff.ts` -> `std/assert/_diff.ts`
- `std/testing/bench.ts` -> `std/bench/mod.ts`

[2020-06-04 14:40] cknight commented on #6104
I'm happy to adjust #5838 to accommodate the above once consensus is reached.

[2020-06-04 14:43] #6051 closed

[2020-06-04 14:46] nayeemrmn commented on #6104
@cknight It would be better to open a new PR at that point.

[2020-06-04 14:53] ry commented on #6096
I think it would be better if we used URLs that deno.land could actually serve, it wouldn't be much different. I like @rjoydip's suggestion... Tho I'm not sure what to do about the column

[2020-06-04 15:18] ry commented on #6096
https://github.com/denoland/deno/blob/4b1638dccc601ff0282172c7e3ef0f1126a603ed/cli/js/error_stack.ts#L122
Basically just this line needs to be changed, but the tests need to be updated as well.

[2020-06-04 18:09] giavy0209 opened #6107 "will Deno backward compatible with current NodeJS module?"
Like my title, in the future could Deno use NodeJS module or developer have to rewrite NodeJS module for Deno?

[2020-06-04 18:10] nayeemrmn commented on #6107
Duplicate of #2644.

[2020-06-04 18:25] ry commented on #6107
see https://deno.land/std/node

[2020-06-04 18:25] #6107 closed

[2020-06-04 18:27] ry opened #6108 "lock_check_ok is flaky"
ex: https://github.com/denoland/deno/runs/738886402
ex2: https://github.com/denoland/deno/runs/742816063
ex3: https://github.com/denoland/deno/pull/6112/checks?check_run_id=745606058
[code]

[2020-06-04 18:44] marchiore commented on #6049
The `.json` is called in the `fetch` response:

[code]

This error can really be dealt with outside deno (in the script running it) and i think there is no need to handle it in the framework. So I believe that this issue can be closed.

[2020-06-04 18:47] niyarlatotep opened #6109 "Deno upgrade doesn't work on Windows 8.1 with powershell 4.0"
By default Windows 8.1 has powershell  4.0 that doesn't have "Expand-Archive" powershell commandlet. Expand-Archive is used in Deno's upgrade method so it fails with error:
[code]
It's already fixed in powershell installer, see:
https://github.com/denoland/deno_install/issues/146

[code]
As workarround powershell installer could be used for upgrade too.
It can also be solved by updating powershell

[2020-06-04 18:54] stefnotch commented on #3139
I'd absolutely prefer `deno uninstall` over adding a delete flag to an install command. The latter seems like a odd hack and is going to cause a lot of googling and confusion for newcomers.

[2020-06-04 18:59] ry commented on #6097
Ok - thanks

[2020-06-04 19:13] #5322 closed

[2020-06-04 19:45] TooTallNate opened #6110 "Is DNS querying/resolution exposed?"
Sorry, this isn't an _issue_ per-say, but I'm looking to do DNS queries in deno, and not finding anything about it in the Runtime API docs nor the std. Google isn't helping either.

Am I overlooking somewhere? Or is DNS not yet exposed in deno? Thanks!

[2020-06-04 19:50] lucacasonato commented on #6110
It is not exposed at the moment. Probably something that should be in the future.

[2020-06-04 20:05] ry commented on #5381
closed in favor of #3403

[2020-06-04 20:05] #5381 closed

[2020-06-04 20:50] brandonkal commented on #4323
@calvintwr This issue isn't about discussing the validity of using TypeScript. It's about making compile time faster or skipping it (in favor of the faster in-IDE type checking). This is particularly important for deno because all users (including end-users and serverless containers) need to wait for that slow type-checking. This is why I agree with @ry that making no checking be the default is wo

[2020-06-04 21:03] getspooky commented on #6104
This change will cause some breaking changes???

[2020-06-04 22:25] neroux commented on #5498
I'd like to second @fzs111's concern.

The issue is not limited to Windows 10's legacy mode but also appears on earlier Windows versions with, both, the standard command prompt and PowerShell.

[2020-06-04 22:26] gewoonwoutje commented on #6109
https://hackernoon.com/polyfill-with-powershell-ad70c6cd7703
Could this be something of interest?

[2020-06-04 23:02] marcosc90 commented on #3603
This causes `FileHandler` from `std/log` to _miss_ logs if you send a `SIGINT`.

[2020-06-05 00:08] mattd3v commented on #5741
@dannypaz I’m on Catalina as well, but unable to replicate this. Is it still occurring, and how was Deno installed? If it is still an issue I will look into it!

[2020-06-05 01:35] manyuanrong commented on #6100
Seems to be caused by changes to plugin api in deno v1.0.4. deno_mongo has not been built on the new version

[2020-06-05 02:15] Remote-version-git commented on #6109
why don't you upgrade yourself system?

[2020-06-05 03:44] shawnthehumble opened #6115 "add assertNotThrows/Async to asserts.ts"
I'd like to add a function to asserts.ts that asserts that an Error wasn't thrown.

Many of the testing libs include some way to express that a function doesn't throw an Error.  While it is preferred to write positive tests for all the expected cases, there are times where testing that an Error isn't thrown is a good idea:

- When porting 1000's of lines of test code from other libs in the NPM lan

[2020-06-05 05:01] wongjiahau opened #6116 "bug(Worker): Not loading latest version of specified script"
## Steps to reproduce
1. Create a file `script.ts` with the content `console.log('hello')`.
2. Create another file `entry.ts` with the following content:
[code]
3. Run this command: `deno run --allow-read main.ts`.
4. Modify the content of `script.ts` to `console.log('bye')` and save it.

## Expected result
The subsequent log of `deno run --allow-read main.ts` should be `bye`.

## Actual result
Af

[2020-06-05 05:28] mitch292 commented on #6096
Submitted a PR!

[2020-06-05 05:38] sholladay commented on #6062
Shouldn't `deno bundle | deno fmt` work, for people who need it?

[2020-06-05 05:53] wongjiahau commented on #6062
@sholladay True, this is actually resolved in https://github.com/denoland/deno/pull/6085

[2020-06-05 05:53] #6062 closed

[2020-06-05 06:44] cknight opened #6117 "(Deno doc) jsDoc is not being included for declared functions"
`Deno doc` is not including jsDoc in it's output for declared functions.  This is most obvious with the lack of any jsdoc showing for the functions at the top of https://doc.deno.land/https/github.com/denoland/deno/releases/latest/download/lib.deno.d.ts.

To take one specific example, in `lib.deno.shared_global.ts`, `setTimeout` is declared as:

[code]
but the output of `deno doc --json cli/js/lib

[2020-06-05 06:48] cknight commented on #6104
@getspooky Yes, there would be breaking changes, but the `std` library is [not yet stable](https://deno.land/manual/runtime/stability).

[2020-06-05 08:18] kitsonk commented on #6104
I think we should really consider #5684 in conjunction with this, as it is really silly to have to pull in a `std` dependency to just write some functional code that uses `assert()` (with loads of colours and other dependencies)

[2020-06-05 08:37] thjxs commented on #6057
Hi, Same issues

## os
[code]

## deno version
[code]

## example
[code]

## run  `deno test index.js -L debug`
[code]

[2020-06-05 09:26] shotikot commented on #6022
I updated to 1.0.5 but still get the same error.

[2020-06-05 09:31] calvintwr commented on #4323
@brandonkal I see. Yup I missed out the point on IDE type checking, that makes sense. Thanks for highlighting.

To further this quasi-conclusion on `--no-type-check`, which kind of is a devil-or-the-deep-blue-sea option, is it possible to consider something like `--type-check-only [dirs/files]`? Intent is to turn off type-checking for all files and dirs except those that are specified -- which dep

[2020-06-05 10:11] hoibuikms commented on #5846
Hi everybody, I get issue after upgrade to deno 1.0.5
thread '<unnamed>' panicked at 'called `Option::unwrap()` on a `None` value', src\command\connect.rs:63:24
note: run with `RUST_BACKTRACE=1` environment variable to display a backtrace
Can anyone help me explain why?
thanks

[2020-06-05 10:18] vicary commented on #5846
How about an unofficial open source forum that also act as a live promotion of the usage of deno itself?

[2020-06-05 10:36] bartlomieju commented on #6117
@cknight that's correct, currently only exported members are serialized. Implementing this functionality might require refactoring doc parser.

[2020-06-05 10:39] bartlomieju commented on #6096
Is there a prior art for using `#` to denote line number?

AFAICR I've always seen `:` - can't deno_website be updated to handle colons?

[2020-06-05 10:51] Starcounter-Jack commented on #5871
According to that reasoning the debugger should be removed from Deno as well as it would be and order of magnitude larger than file watching and only intended for developers.

[2020-06-05 10:55] narwy commented on #5871
Makes sense. Having a development option to install development options on the runtime would be a good idea

[2020-06-05 11:14] caspervonb commented on #6098
Well, it aligns with minimist because **it is** minimist.

But I don't feel strongly about it so, I'll leave it.

[2020-06-05 11:14] #6098 closed

[2020-06-05 11:14] Starcounter-Jack commented on #5871
So. Lets turn the debugger into a different tool. Make console output installable via a package manager. Is it really needed at runtime? For sure, we should strip out Typescript as it can be done by developer tooling as well.

Enough of this simplicity already. This Deno single executable thing makes development look way to easy. We can't have that. And while the price paid by fighting with a buil

[2020-06-05 11:39] dkuroi commented on #6100
uhm i understand, i'll wait for a new library to come out or deno_mongo being updated

[2020-06-05 12:20] narwy commented on #5871
100kb to you might be nothing but to someone else 100kb could be an IoC device with Deno as a runtime embedded.

[2020-06-05 12:26] ry commented on #6115
I don't understand this request. When a test throws its considered broken. There's nothing more to do. For the second two cases, these seem very niche and something you can check yourself with a try-catch.

[2020-06-05 12:49] caspervonb opened #6120 "WebAssembly runtime errors don't propagate"
WebAssembly errors are getting caught up in the source-map/caching mechanism.

For example

[code]

Actual output:

[code]

Expected output:

[code]

Traceback:

[code]

[2020-06-05 12:56] ry commented on #6116
Thanks for the report. I guess it's related to our module cache - it should be bypassed for dynamic loads (Worker constructors and dynamic imports).

@bartlomieju what do you think?

[2020-06-05 13:00] bartlomieju commented on #6116
Yes, this is the same problem as in #5631 and #4743

[2020-06-05 13:14] caspervonb opened #6121 "Sync read is not allowed on stdin"
This minimal example
[code]

Results in the following error consistently across Ubuntu, MacOS and Windows:

[code]

[2020-06-05 13:20] #4702 closed

[2020-06-05 13:23] nayeemrmn commented on #4702
Oh, fixed in #5254.

[2020-06-05 14:09] caspervonb commented on #6121
Skimming through ops/io.rs it's apparent why this is failing; I'll take this one on.

[2020-06-05 15:08] bartlomieju opened #6123 "refactor: cli/doc/ should be a separate crate"
Code that facilitates `deno doc` subcommand should be moved into a separate crate, ie. code living in `cli/doc` should be made into a separate crate (and most likely moved into its own repo).

Keep in mind that `deno doc` depends on `cli/swc_util.rs` and this functionality is needed for `deno_lint` as well, so preferably `swc_util` should be made into its own crate as well.

CC @mattd3v

[2020-06-05 15:45] phil294 commented on #3230
I disagree that this is niche. It would be great to have a standard way to pipe something into Deno. Definitely an improvement compared to `awk`.

Before having seen the documentation, I assumed I could do something along the lines of

    cat /etc/passwd | deno eval "console.log(Deno.stdin.split(':')[0])"

But it seems the only way is to use a non-standard [script](https://deno.land/std@0.55.0/ex

[2020-06-05 16:25] apiel commented on #442
To skip the cache, you can do:
[code]
And here a full example:
[code]
But this hack doesn't always work. Also if you have some import in file.ts, then those import will use the cache. I have lot of issues with my tool to implement Hot Module Reloading https://github.com/apiel/adka/blob/master/generatePages/generatePages.ts#L32

I will try another approach, that will be to copy all the source code

[2020-06-05 16:38] ford04 commented on #5270
@samuelgozi The solution you already proposed here with `declare global` and side-effect imports worked for me in [this answer](https://stackoverflow.com/questions/62152444/how-do-typescript-interface-scope-is-working-how-to-make-interfaces-global/62157767#62157767).

I am not sure, if there is another ("better") way to do it - as pointed out, a modular structure not polluting global scope certain

[2020-06-05 17:20] benjamingr commented on #442
@apiel can't you implement a loader? That is the standards compliant way afaik

[2020-06-05 17:26] apiel commented on #442
@benjamingr what do you mean by a loader?

[2020-06-05 17:28] piscisaureus commented on #5017
I haven't encountered this issue but it seems quite possible that we're exceeding the 32768 character limit. My working directory is in `d:\deno` and with that prettier command is already about ~23500 characters.

That would be a great solution.

[2020-06-05 17:36] aricart opened #6128 "Conn.write() order guaranteed?"
Trying to debug a problem in my application where I am queueing a number of writes to a connection. The writes in a benchmark type situation initiate writes of 8K or a few bytes more. In some cases to allow more liveliness, a smaller write (6 bytes) is inserted which will trigger data coming back on the read channel of the socket.

The module is not waiting for a pending write to complete before a

[2020-06-05 17:36] aricart commented on #6128
I should add, that if I write the same input to a file, the file doesn't exhibit the interleaving.

[2020-06-05 18:17] la-colinares commented on #6057
I have this error with latest version of Deno and it already cost me 2 hours to fix but no luck. Your answer solved my problem :) Its working! Thank you!

[2020-06-05 18:42] brandonkal commented on #4323
That increases the complexity a lot with little real benefit.

[2020-06-05 18:56] Starcounter-Jack commented on #5871
If think a bare bone runtime would be a great addition. I just don't agree it is advisable to remove debugging and typescript from the regular Deno executable. And those are the biggies in terms of things that could be moved to the developer toolchain.

[2020-06-05 19:44] piscisaureus commented on #6109
@gewoonwoutje Thank you that is helpful

[2020-06-05 19:50] JAicewizard commented on #6020
creates A PR implementing reading from stdin here: #6130

[2020-06-05 19:52] oganexon opened #6131 "Stdout doesn't handle accents with TextEncoder"
When running:
[code]

I get:
![image](https://user-images.githubusercontent.com/52361520/83917135-b0a7fc00-a776-11ea-922f-9f8a7f2d80dc.png)

Seems like the TextEncoder doesn't handle non ASCII characters, how can I change the encoding?

[2020-06-05 19:55] nayeemrmn commented on #6020
We'd want `deno run` to throw an error because it's likely not intentional. Supporting `cat test.js | deno run` from there would mean checking if on a terminal.

[2020-06-05 20:10] oganexon commented on #6131
I use Windows.
The screenshot was on Git bash and here on cmd:
![image](https://user-images.githubusercontent.com/52361520/83918559-4f355c80-a779-11ea-8193-93365f823df8.png)

[2020-06-05 20:23] caspervonb commented on #6120
This is a major problem for me right now in iterating on [deno-wasi](https://github.com/caspervonb/deno-wasi); so I'll be taking a look at this myself over the weekend.

[2020-06-05 20:43] mk0y opened #6133 "Importing from Pika after upgrade to 1.0.5 doesn't work (for Ramda library)"
Let's see if this is just me or it's some bug.

I'm using Ramda and trying to play around with Deno with it.

So far I was importing it using [pika.dev](https://www.pika.dev/npm/ramda) like:
[code]
Make sure you're using version 1.0.0:
[code]
Then run it:
[code]
Works fine and all modules are logged to console.

Then:
[code]
Now there's error message:
[code]

Can someone confirm? Maybe it's also r

[2020-06-05 20:46] caspervonb commented on #6131
Your example works for me also; is this old school _cmd.exe_ or the new fancy one?

[2020-06-05 20:54] #6109 closed

[2020-06-05 21:03] oganexon commented on #6131
It's the same on every terminal:

Classic cmd:
![image](https://user-images.githubusercontent.com/52361520/83922397-8a875980-a780-11ea-8b61-7787376d5fd1.png)

cmd on Windows Terminal:
![image](https://user-images.githubusercontent.com/52361520/83922456-9b37cf80-a780-11ea-8483-4e2a1d54fb18.png)

Powershell on Windows Terminal:
![image](https://user-images.githubusercontent.com/52361520/83922504-b1d

[2020-06-05 22:23] JAicewizard commented on #6020
Ah yes, that makes sense to why you wouldnt do that, I agree that an explicit `-` should be required.

[2020-06-05 22:26] ry commented on #6128
The order of write is not guaranteed. This is a low-level call directly mapping to the [write(2)](https://www.man7.org/linux/man-pages/man2/write.2.html) syscall. This is a desirable behavior in datagram applications where one wants to "fire and forget".

[2020-06-05 22:26] #6128 closed

[2020-06-05 23:34] aricart commented on #6128
Please document that. That also may indicate that Conn needs a `writeSync` since there's no buffering.

[2020-06-05 23:37] lucacasonato commented on #6108
Another example: https://github.com/denoland/deno/runs/743564013

[2020-06-05 23:46] zzhenryquezz commented on #5871
We already have a module that brings this feature the "Denon" (the name is a play with nodemon and them logo is interesting kkkk).

So it still make sense put this in the core? it is not like it won't have a way of making a development workflow with auto-reload in Deno, the community already make some solutions.

I just don't think it is good to put this in the core because it will be one more thi

[2020-06-05 23:55] darthcoder opened #6135 "Math Module missing in deno"
Hi,

I am a python developer who is highly interested in deno ever since Ryan's first talk on deno. I looked at go's std and deno's std and there is no math module in deno.

Would it be okay if I were to try and port go's math library to deno? I mean I am not very knowledgeable in either go or ts, but I am willing to learn plus most of go looks like c anyways.

Can someone give me a brief overview

[2020-06-06 00:06] lucacasonato commented on #6131
This is probably not a very satisfying answer, but this does make sense, and Deno is doing the right thing here although it might be kind of annoying. Let me explain:

`TextEncoder().encode()` encodes to UTF-8 because that is the web standard encoding for text. Windows uses Windows-1252 encoding for many parts of the OS* (although they are working on better UTF-8) support. The reason this works wi

[2020-06-06 00:26] lucacasonato commented on #6135
Hi,

JavaScript has a built-in called `Math`: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Math. It contains most of the math functions in the Go standard library math module. I think the best plan of action is to check what functions are missing from the `Math` global, and then decide depending on that if it warrants a `std/math` module. :smiley:

[2020-06-06 01:02] RedactedProfile commented on #986
@Wallacy I was wondering if I might request a look at my comment here ( https://github.com/denoland/deno/issues/986#issuecomment-636497406 ) and maybe you can tell me what i'm doing wrong? Or is that the expected result?  I find it weird that Warp will only pack in the deno binary but nothing else and im kind of at my wits end with this one :|

[2020-06-06 01:31] darthcoder commented on #6135
Supposing I find missing functions, how do I add them to deno? What is the process flow in that case?
Do I just fork deno and submit PR's? or is it more involved than that?

[2020-06-06 01:58] lucacasonato commented on #6135
The flow is usually:

1. Open an issue and discuss
2. Fork & implement
3. PR

There might be some more info in the contributing section of the docs.

[2020-06-06 02:08] bagwanpankaj commented on #6057
I had the same problem, but upgrading Deno to 1.0.5 helped.

Environment
Ubuntu: 18.04
deno 1.0.5
v8 8.4.300
typescript 3.9.2

[2020-06-06 02:17] darthcoder commented on #6135
thanks a lot for the quick help. I'll see what I can do :)

[2020-06-06 03:43] #6097 closed

[2020-06-06 03:52] ry commented on #6135
@darthcoder I’m very interested in improving the state of math in JavaScript. We haven’t done much work in this area yet but let’s discuss!

[2020-06-06 04:02] zhmushan commented on #6135
I want `matrix` and `complex number`.

[2020-06-06 06:24] iliran11 opened #6138 "Test case is leaking async ops"
Hey,
I want to understand this behavior.

I have this sample test.

[code]
 I comment out the clock statement:

[code]

Then I run again `deno test` and I get this error:

[code]

[2020-06-06 08:35] BunnyTheLifeguard commented on #6057
Not for me.
Using [Oak](https://deno.land/x/oak/) and [dotenv](https://deno.land/x/dotenv/) with 1.0.5 on Manjaro Linux.

[2020-06-06 08:55] cknight opened #6141 "Feature request: Support async unref for timers"
**Use case**:  As a a module developer, I want to run periodic tasks during the execution of my module.  This can be accomplished via `setTimeout` or `setInterval` for example.  However, I do not want these timers to block the exiting of my module.  `setInterval` in particular will cause the module to run forever until the `id` associated with it is cleared.

**Specific use case**:  `std/log` file

[2020-06-06 09:12] cismous commented on #5829
I also encountered this issue

[2020-06-06 09:21] hastri opened #6142 "StringReader incorrectly reports EOF"
StringReader incorrectly reports EOF if p.length === 0

// test.ts
[code]

[2020-06-06 09:22] hastri commented on #6142
I'll get started on a PR

[2020-06-06 10:26] oganexon commented on #6131
Found a solution on [StackOverflow](https://stackoverflow.com/a/57134096/11964383).
Run `intl.cpl`
![image](https://user-images.githubusercontent.com/52361520/83942063-bb06dc00-a7f0-11ea-99d4-b80259e67394.png)

Everything worked then for me.
I wish it was activated by default.

[2020-06-06 10:26] #6131 closed

[2020-06-06 10:44] uki00a opened #6144 "Compilation of a dynamically imported module runs many times when the `--reload` flag is enabled"
## Summary

The behavior of dynamic imports with the `--reload` flag seems to have changed between v1.0.2 and later.

## Steps to reproduce

I have a file called `sample.ts`:

[code]

When running it with `-r` flag, deno compiles the `https://deno.land/x/sqlite@v2.1.0/mod.ts` multiple times:

[code]

When running it on deno@v1.0.2, the compilation happens only once:

[code]

[2020-06-06 11:20] #5017 closed

[2020-06-06 11:24] nusendra commented on #3590
@pinghe use this instead

https://deno.land/x/oak

[2020-06-06 11:44] piscisaureus commented on #6001
I think it uses WriteConsoleW.

Supposedly `SetConsoleOutputCP(CP_UTF8)` should work, but only on the most recent versions of windows.

[2020-06-06 12:11] littletof commented on #6001
I just run into the same issue trying to use characters like `∎ (U+220E)` `▒ (U+2592)` with `stdout` (win10 powershell).

Worked for me too, as a temp solution.

[2020-06-06 12:23] chenguzhen87 opened #6146 "typedoc 404"
![image](https://user-images.githubusercontent.com/28331609/83944084-6f295680-a833-11ea-84d7-da7369f33411.png)

[2020-06-06 12:29] parliament718 opened #6147 "Deno webworker - Cannot find name "window""
I'm trying to run a Deno app with a deno_webview and an http server but for some reason I cannot run both at the same time, calling webview.run() seems to block something and I can no longer reach my http server.

In order to prevent the blocking, I'm trying running either the server or the webview in a webworker, but in both scenarios I get the same error "Cannot find name 'window'"

What is the

[2020-06-06 12:40] MarkTiedemann commented on #6001
I think `WriteConsoleW` doesn't set the console code page.

In fact, since other programs may run in the same console afterwards, I think it's best practice to reset the code page before exit:

[code]

[2020-06-06 12:46] nayeemrmn commented on #6138
The behaviour of your first code snippet is this, right?
[code]
You didn't write it anywhere. Seems buggy.

[2020-06-06 12:55] nayeemrmn commented on #6146
Please move to https://github.com/denoland/deno_website2 with a better title.

[2020-06-06 13:28] Wallacy commented on #986
@RedactedProfile it’s not s Deno or Warp problem. It’s just your launch script.

Warp decompress your input_dir and run from there.

Check the examples on: https://github.com/dgiagio/warp/blob/master/README.md#windows

[2020-06-06 13:54] #6142 closed

[2020-06-06 14:16] deepakshrma commented on #6133
I also did not like it. Module resolver treat, a path without `.ts` as a directory I think resolver should be smart as TypeScript. Since most of the library has written in that way.

[2020-06-06 14:18] parliament718 commented on #6147
Closing at this probably belongs in the individual libraries. deno_webview author has already fixed the issue, so I will run the webview in a webworker and oak on the main thread.

[2020-06-06 14:18] #6147 closed

[2020-06-06 14:21] patrickkunka opened #6149 "How to handle aborted requests with `std/http/server`"
It is possible for the std http server to handle an incoming request being aborted?

In Node, we have the `aborted` event:
[code]

I see that deno has an `AbortSignal` implementation, but I can't see it exposed anywhere on the `ServerRequest` object.

Thanks!

[2020-06-06 14:23] bartlomieju commented on #6133
Quick look into the types shows:
[code]

The situation where one TS module imports something from other module in the same file is not handled in `ModuleGraphLoader` currently.

CC @kitsonk could you take a look at this issue? Should imports inside `declare module` always resolve to modules in the same file?

[2020-06-06 14:27] ry commented on #6149
Yes. The incoming request body should get an EOF if the upload was canceled. I guess response raises a ConnReset if the connection was terminated - but I'm not sure. AbortSignal is unrelated.

[2020-06-06 14:27] #6149 closed

[2020-06-06 14:41] AliBasicCoder commented on #6076
so, where to start?

[2020-06-06 15:05] chenguzhen87 opened #6150 "'this' value is wrong"
execute typescript file in deno
deno: 1.0.1
[code]
![image](https://user-images.githubusercontent.com/28331609/83947517-14e7c000-a84a-11ea-9109-3c6414c8e354.png)

[2020-06-06 15:10] nayeemrmn commented on #6150
`this` is supposed to be undefined in ES modules. Try in browsers or `node index.mjs`.

[2020-06-06 15:12] ry commented on #6150
use globalThis

[2020-06-06 15:12] #6150 closed

[2020-06-06 15:16] chenguzhen87 commented on #6150
but in here
![image](https://user-images.githubusercontent.com/28331609/83947778-bcb1bd80-a84b-11ea-9601-6f9a2cce077d.png)

[2020-06-06 15:21] nayeemrmn commented on #6150
@chenguzhen87 The REPL is in a traditional script context, not an ES module. We'd love the semantics to be more similar but ES modules are "closed" and therefore don't accommodate REPLs at the moment.

[2020-06-06 15:23] chenguzhen87 commented on #6150
thanks your reply

[2020-06-06 15:30] deepakshrma opened #6151 "[Suggestions] Should not the module resolve GitHub As primary repository"
This issue is to just look for suggestions. Most of the time, I (as a developer), will you git hub as a module. And getting a file from git hub, it looks very bad. Something like below:

`import safeEval from "https://raw.githubusercontent.com/deepakshrma/deno-by-example/master/examples/safe_eval.ts";`

Should be module try to resolve first from GitHub by default, and throw an exception if could n

[2020-06-06 17:07] ry commented on #6076
start here https://github.com/denoland/deno/blob/master/cli/js/web/text_encoding.ts

[2020-06-06 18:03] axetroy commented on #6151
Relying on someone to host service is bad, even Github

You can’t predict what it will look like in 10 or even 20 years (eg, if Github exists)

You should not bind a service provider to the standard (Golang does not do this, but is based on HTML meta tag `<meta name="go-import" content="gitea.mydomain.com/owner/repo git https://gitea.mydomain.com/owner/repo.git">
`)

We should stick to distributed

[2020-06-06 18:10] RedactedProfile commented on #986
@Wallacy hi thanks for responding!

Thats kind of what I mean though, I figured warp just took an input folder and packed whatever was in there into the final executable and ran your script

However the content of the folder beyond just the deno binary isn't getting packed in there

I have to place the bundled js file alongside the final binary warp creates.

So I figure I'm doing something wrong

[2020-06-06 18:17] ry commented on #6151
@axetroy this feature was added recently: https://deno.land/x/gh:ry:v8worker2

[2020-06-06 19:19] Wallacy commented on #986
@RedactedProfile those questions should be made on Warp github issues, not here.

Anyway, as i said before, warp is packing everything, your script is just wrong...

You can look the files on: %LOCALAPPDATA%\warp\

You script is:
`
CALL deno.exe run --alow-net --allow-env .\echo.bundle.js
`

The problem is `.\`: You are telling the the script to run a script on the calling path. Thats wrong, and t

[2020-06-06 21:36] RedactedProfile commented on #986
@Wallacy

Trust me, I understand what you mean, but Warp has open issues submitted to it before with similar concerns that it's not including everything from the input folder with no resolution years later https://github.com/dgiagio/warp/issues/19 I'm posting here only because you got it working for something it's not originally designed for, in a thread about this very subject, so I don't think i

[2020-06-06 22:34] fr3fou commented on #1805
what was done regarding this?

[2020-06-06 23:00] ccheng commented on #1805
Well I actually needed this feature for work, so I've done it and am using it.  Went the path of having duplicated code.  Don't know what deno maintainer's thoughts are on having duplicated code, but perhaps I should get motivated on making a PR so it can be discussed?

Looked at gensync possibility but don't think it'll work for a/sync functions.

[2020-06-06 23:08] ccheng commented on #6121
Is this related to #4789 ?  Would be great if it gets fixed!  Thanks

[2020-06-06 23:25] dsherret opened #6154 "WebAssembly.instantiateStreaming is undefined"
[code]

https://github.com/denoland/deno/blob/8b037364ac269b7887f3420fefb38be8d0693e9e/cli/js/lib.deno.shared_globals.d.ts#L48

[2020-06-07 02:09] manyuanrong commented on #6100
@dkuroi https://github.com/manyuanrong/deno_mongo/releases/tag/v0.8.0

[2020-06-07 04:26] Caryyon commented on #6096
@ry can this be closed as the corresponding issue is closed? New comer here looking for some good starter issues. Just want to make sure I’m following along.

[2020-06-07 05:03] SquareMesh commented on #6057
I encountered the same issue when attempt to build docker.  Docker build was fine until Dex import was added.

Docker using deno version 1.0.5

[code]
Interestingly when downgrading to 1.0.0 the error disappeared. Docker image was able to complete its build.

Re-upgade to 1.0.5 and error re-occurs.

[2020-06-07 06:11] deepakshrma commented on #6151
@axetroy Anything, but not external `cdns`. Since all the cdn using github. Unnecessary to maintain so many confusing URLs. Frontend, Sill OK. But backend. I prefer basic support from `denoland` module resolver.

It will suck. Bypassing proxies and port etc. Hope, I will see new syntax soon!

Thanks! @ry. I would like to see some samples 👯‍♂️ Haha!

[2020-06-07 06:18] horihiro opened #6156 "support bundling dynamic import with variable pointing to string"
I'm trying to bundle all files including imported dynamically

file structure and each files are following.

structure:
[code]

`src/parent_dynamic.ts`:
[code]

`src/children/child.ts`:
[code]

`src/import-map.json`:
[code]

In this situation with following command, it seems that `src/children/child.ts` is not bundled.

[code]

By the way, after editing `src/parent_dynamic.ts` as following, `src/c

[2020-06-07 07:07] caspervonb commented on #6121
This is the same issue; looking at the implementation of readFromSync it silently swallows errors and returns N which is set to 0 at the start.

[2020-06-07 07:09] caspervonb commented on #5591
Anyone working on this? I'll take it on.

[2020-06-07 07:13] olanod opened #6157 "WASM instead of Typescript"
I guess it's a bit late now, but couldn't have not only the runtime be written in Rust but also every other API and be compiled to WASM? in the longer term it would translate in faster start-up times better more predictable performance. I imagine the community could later create a WASM version of the std and any other API right? or are there major blockers that make it hard to do?

[2020-06-07 07:23] bishalstha commented on #1312
Use "deno types > deno.d.ts"

[2020-06-07 07:25] ameerthehacker commented on #1312
@bishalstha this is already fixed in latest version

[2020-06-07 07:39] oganexon commented on #6131
#6001

[2020-06-07 07:42] oganexon commented on #6001
#6131
This problem is the same, I couldn't display characters with accents.

The details of the problem are explained, and how to solve it under Windows.

[2020-06-07 09:23] Alhadis commented on #5450
Traditionally, options have always preceded positional parameters, because it makes variable-size argument lists much simpler to deal with. Consider:

[code]

… now, imagine if `*.js` expanded to literally thousands of files, and the 453th filename happened to match an option that changes the program's behaviour. It would then need to either reprocess the argument list a *second* time with the new

[2020-06-07 09:46] Alhadis commented on #106
Partly unrelated, but people in this thread might be interested to know [`d8`](https://v8.dev/docs/d8) has an undocumented `--lcov=` switch for generating coverage data in [LCOV](https://github.com/linux-test-project/lcov) tracefile format:

[code]

This is a feature of V8's debugging shell (and not the engine itself), though it probably wouldn't be difficult to integrate into the runtime ([`v8/sr

[2020-06-07 10:06] caspervonb commented on #6154
Same goes for `WebAssembly.compileStreaming`.

[2020-06-07 11:07] oganexon commented on #6117
I have a somewhat similar problem:
Comments from class methods and comments in objects are removed
[code]
![image](https://user-images.githubusercontent.com/52361520/83967212-c37a1800-a8bf-11ea-888a-1fa2e457a653.png)
Is it intended?

[2020-06-07 11:25] dkuroi commented on #6100
Great! Now works! Thanks 😄

[2020-06-07 11:27] bartlomieju commented on #5591
@caspervonb go ahead, no one's claimed this issue yet

[2020-06-07 11:33] bartlomieju commented on #6156
@horihiro bundling dynamic import with variable (`await import(path)`) is not supported, but bundling dynamic import with static specifier (`await import("./children/child.ts")`) is supported.

If `tsc` can bundle dynamic imports with variable then we should add it as well.

[2020-06-07 11:36] bartlomieju commented on #6096
The PR was reverted in #6119. This issue still needs to be resolved, but it's not a "good first issue".

[2020-06-07 11:40] bartlomieju commented on #1805
@ccheng feel free to open a PR - it's fine to duplicate code for sync version.

[2020-06-07 11:47] fr3fou commented on #1805
Seeing that the stdlib is heavily inspired by go, I'd recommend a similar approach to go's:
[code]

[2020-06-07 12:15] bartlomieju commented on #6057
Most likely introduced in #5817, I will look into this issue

[2020-06-07 12:16] #6100 closed

[2020-06-07 12:20] bartlomieju commented on #6043
Ref #6125

[2020-06-07 12:20] wongjiahau commented on #6057
I think this only happens on Ubuntu, not on macOS. For example I have this issue importing the brotli module when using Deno 1.03 and above, but no problem on macOS.

[2020-06-07 12:20] bartlomieju commented on #6041
Please continue in #3356

[2020-06-07 12:20] #6041 closed

[2020-06-07 12:22] horihiro commented on #6156
Thanks @bardiarastin ,
I understand that this depends on `tsc`, not `deno`

I appreciate your explanation.

[2020-06-07 12:24] bartlomieju commented on #6007
Please continue in denoland/deno_website2#433

[2020-06-07 12:24] #6007 closed

[2020-06-07 12:25] David-Else commented on #6043
@bartlomieju Thanks, but the question was '_up until the time_ `deno_lint` is ready'. Are you saying it is possible to use `deno lint` now somehow?

Is it possible to run eslint on a deno project and solve the problem I outlined above? Cheers.

[2020-06-07 12:25] bartlomieju commented on #6156
It does depend on Deno, files are analyzed using custom parser instead of `tsc`. What I meant is that if `tsc` can bundle such dynamic imports we should strive to have the same functionality.

CC @kitsonk

[2020-06-07 12:27] bartlomieju commented on #6043
Not yet, but `deno lint` will be shipped in `1.1` in a week.

Unfortunately, I don't know

[2020-06-07 12:29] bartlomieju commented on #5975
CC @afinch7

[2020-06-07 12:33] bartlomieju commented on #5951
Fixed in #5787

[2020-06-07 12:33] #5951 closed

[2020-06-07 12:35] bartlomieju commented on #5939
@flip111 Deno doesn't pass any flags to v8 by default.

[2020-06-07 12:37] bartlomieju commented on #5888
Does this issue still persist in `1.0.5`?

[2020-06-07 13:27] edenprojectde commented on #6057
@wongjiahau I can not really confirm this claim, i am on MacOS had the same problem. Though i can not reproduce it after a cache clear and an updated libary. (i'm assuming this has something to do with nestet libary errors; kinda sounds like #5817)

[2020-06-07 15:27] afinch7 commented on #5975
This is less of a big and more of a oversight. I'm working on a fix.

[2020-06-07 16:33] edgarascom commented on #6082
Getting the same on mac:

[code]

[2020-06-07 17:29] jsejcksn commented on #5633
@frunkad See `readJson` and `readJsonSync` at https://doc.deno.land/https/deno.land/std/fs/mod.ts#readJson

[code]

@kitsonk It seems odd that there is a discrepancy between the type that is returned form these functions (`unknown`) and `JSON.parse` (`any`). Can you point me to a discussion about the reasoning for this?

[2020-06-07 17:58] pedropaulosuzuki commented on #6135
Most problems in JS math could be solved by the usage of operator overloading, which is unfortunately currently unavailable.

Example for sum of complex numbers:

[code]

Of course it is just a flawed made-up example, but operator overloading in JS/TS would work really well through the usage of Symbols to override class behavior on operations such as sum, multiplication, subtraction, unary operati

[2020-06-07 18:09] crowlKats commented on #6135
@pedropaulosuzuki https://github.com/tc39/proposal-operator-overloading#why-not-use-symbols-instead-of-a-whole-new-dispatch-mechanism

[2020-06-07 18:29] pedropaulosuzuki commented on #6135
I don't like the "+"() syntax because we already have [Symbol.iterator], for example. And how can you tell if you are implementing a - b or if you are using -a just by the "-" sign. On Symbol, you could have Symbol.subtract and Symbol.negation, Symbol.add and Symbol.toNumber, which makes more sense to me.

[2020-06-07 18:32] gmahota opened #6165 "How can connect witch Microsoft Sql Server Database?"

[2020-06-07 18:48] dosisod opened #6166 "Disallow reading from psuedo devices"
[code]

Running:

[code]

On Unix systems, files like `/dev/urandom` and `/dev/zero` are pseudo devices, which behave differently then normal files. Is this intended behaviour? Should the user be expected to check for these kinds of files beforehand?

[2020-06-07 19:11] keshav-bohr commented on #4325
Would like to help. Let us know

[2020-06-07 19:27] hayd commented on #3356
@nihaals what is the route for such a proposal?

[2020-06-07 19:50] nihaals commented on #3356
The first step is to create our final images. I've created a [repo](https://github.com/nihaals/docker-deno) which can house the images while they are being developed and reviewed. What will happen is first we will need to create the images (I think @hayd will probably be able to kickstart this). Once we have a set of images that work, I can create a PR to the official images repo. This kickstarts

[2020-06-07 20:36] fabrizzioalco commented on #3165
Hey, i would like to check on this.

[2020-06-07 20:51] nihaals commented on #3356
We also need a member to confirm whether they are or aren't interested in maintaining the image (either a member needs to be related to the repo or we need to have "contacted" them (assuming this means we need permission)).

[2020-06-07 21:02] lucacasonato commented on #6157
This is not what WASM is for.

[2020-06-07 21:31] reggi opened #6167 "deno install to support file:///"
When I try to install a path that is prefixed by `file:///` (the output from `import.meta.url` when the file is a local file) it will have an unexpected result in the install file generated.

Here's an example of what I ran:

[code]

Here's what it saved:

[code]

I ran into a similar issue when using the path module and `resolving` the output from `import.meta.url`.

[code]

[code]

deno 1.0.5
v8

[2020-06-07 21:44] bigidea-kz commented on #6057
Hello!
I have the same problem
OS: macos Mojave
Deno: 1.0.5
Use: https://deno.land/x/oak

[2020-06-07 22:03] fabrizzioalco commented on #4779
Hey, is this done? I want to contribute to this project

[2020-06-07 22:09] bartlomieju commented on #4779
Hi @fabrizzioalco, yes this issue was resolved in #5693. Try looking for issues tagged with "good first issue".

[2020-06-07 22:09] #4779 closed

[2020-06-07 22:14] piscisaureus commented on #6001
That's true, but here's the secret: WriteConsoleW doesn't depend on the code page, it always uses UTF16 (technically UCS2).

[2020-06-07 23:48] caspervonb opened #6169 "Support bigint seek offsets"
The following example

[code]

Results in the following error
[code]

TypeScript does technically disallow it but the offset is u64 in the underlying implementation so we shouldn't toss away 32 bits of indexing space.

[2020-06-07 23:59] #6022 closed

[2020-06-08 00:16] jdiamond opened #6170 "Mutual TLS authentication"
`ConnectTlsOptions` (passed in to `connectTls`) does not allow a client certificate and key options.

`ListenTlsOptions` (passed in to `listenTls`) does not allow a flag to request certificates from clients or a certificate authority option to validate those certificates.

`ConnectTlsOptions` does have a `certFile` option. IMO, this is poorly named as it doesn't distinguish between the CA certific

[2020-06-08 00:56] lucacasonato commented on #4898
So I did some more testing with this and it looks pretty doable actually. Have a POC based on the current std/http here: https://github.com/lucacasonato/deno-fetchevent. I can implement it in std without too much trouble I think.

The only somewhat annoying thing is that this requires that we add a `FetchEvent` in cli (that throws on construction because we can't implement it in cli). This is fine

[2020-06-08 01:56] ljosberinn commented on #6057
Seeing the same issue when trying to run `npm install` or `yarn` in a cloned repo.

OS: Win10
Deno: 1.0.0 - 1.0.5
Scenario: https://github.com/Chevron-9/create-nwb-app/blob/master/postclone.ts#L79

[2020-06-08 02:02] darthcoder commented on #6135
basically I am use python for scientific computations. so i was thinking that a good linear algebra package would be a nice start, later we can probably incorporate stuff modeled after numpy and scipy libraries. I have never really designed a library for use by other people so I am in the dark honestly and I don't really know js, ts, rust or go as I have been solely focused on scientific computing

[2020-06-08 02:20] pedropaulosuzuki commented on #6135
I don't think that should be part of Deno's standard library. I'm actually writing a statistics module for Deno right now, but it is going through a small refactor, so the repo is still private for now, but things like Hypotenuse (a ** 2 + b ** 2) ** 0.5 are too easy to put into Deno std lib in my opinion. The Error and Gamma functions, however, could be of interest.

[2020-06-08 03:13] caspervonb commented on #6169
Somewhat of a dupe https://github.com/denoland/deno/issues/2079

[2020-06-08 03:16] Jonathannsegal commented on #5888
@bartlomieju I am still getting the error on `1.0.5` I am trying to build a docker container.

[2020-06-08 05:41] kt3k commented on #106
A recent attempt by Bartek https://github.com/denoland/deno/pull/4802/files

[2020-06-08 05:55] vishal-vvr opened #6172 "Build from source guidelines required"
Hi,
I am planning to package denojs for Fedora, could please include steps/instructions to build from the source in the documentation.

Thanks :)